Repository tenstorrent/tt-metal: changes, and which pre-commit hooks are due for each by the changed paths.
All: block-ttnn-pybind-changes, detect-legacy-device-op, validate-golden-csv-columns

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v3.2.0
  hooks:
    - id: trailing-whitespace
      exclude: \.patch$
    - id: end-of-file-fixer
      exclude: \.patch$
    - id: check-yaml
      args: ["--unsafe"]
    - id: check-added-large-files
# Using this mirror lets us use mypyc-compiled black, which is about 2x faster
- repo: https://github.com/psf/black-pre-commit-mirror
  rev: 23.10.1
  hooks:
    - id: black
      language_version: python3
- repo: https://github.com/PyCQA/autoflake
  rev: v2.3.1
  hooks:
    - id: autoflake
      args: [--remove-all-unused-imports, --in-place, --recursive, --exclude=__init__.py]
      files: ^models/  # Run only on files in the models directory
- repo: https://github.com/pycqa/isort
  rev: 5.13.2
  hooks:
    - id: isort
      files: ^models/
      exclude: ^models/(demos/llama3_70b_galaxy|experimental)/
- repo: https://github.com/BlankSpruce/gersemi
  rev: 0.16.2
  hooks:
    - id: gersemi
- repo: https://github.com/adrienverge/yamllint.git
  rev: v1.35.1
  hooks:
    - id: yamllint
- repo: https://github.com/pre-commit/mirrors-clang-format
  rev: v19.1.4
  hooks:
    - id: clang-format
      entry: git-clang-format
      require_serial: true
      types_or: [c++, c]
      args: ["--style=file"]
- repo: local
  hooks:
    - id: validate-metalium-includes
      name: validate-metalium-includes
      entry: python3 scripts/validate_api/validate_includes.py tt_metal/api --check-ttnn-forwards
      language: system
      pass_filenames: false
    - id: validate-metalium-deprecation
      name: validate-metalium-deprecation
      entry: python3 scripts/validate_api/validate_deprecation.py tt_metal/api origin/main
      language: system
      pass_filenames: false
- repo: local
  hooks:
    - id: check-torch-imports-in-ttnn
      name: Verify that there is no global torch import in ttnn
      entry: python3 scripts/validate_no_global_torch_imports.py
      language: system
      pass_filenames: false
- repo: local
  hooks:
    - id: block-ttnn-pybind-changes
      name: Prevent edits to frozen pybind11 sources under ttnn
      entry: python3 scripts/block_ttnn_pybind_changes.py
      language: system
      pass_filenames: true
      files: ^ttnn/
- repo: local
  hooks:
    - id: convert-notebooks-to-py
      name: Convert .ipynb to .py for ttnn basic examples
      entry: python3 scripts/convert_notebooks_to_python.py
      language: system
- repo: local
  hooks:
    - id: detect-legacy-device-op
      name: Detect legacy device operation classes in newly added files
      entry: python3 scripts/detect_legacy_device_op.py --check-new-only
      language: system
      types: [file]
      files: ^ttnn/.*\.hpp$
      pass_filenames: true
      require_serial: true
- repo: local
  hooks:
    - id: validate-golden-csv-columns
      name: Validate golden bandwidth CSV column headers
      entry: bash .github/scripts/utils/validate_golden_csv_columns.sh
      language: system
      pass_filenames: false
      files: ^tests/tt_metal/tt_metal/perf_microbenchmark/routing/golden/.*bandwidth.*\.csv$

[Models CI][Tier 3] Falcon-40B tests: fix transformers 5.x silent weight-load failure (PCC/NaN) — #47924 (#47929)
  models/demos/t3000/falcon40b/reference/hf_modeling_falcon.py
  models/demos/t3000/falcon40b/tests/test_falcon_attention.py
  models/demos/t3000/falcon40b/tests/test_falcon_causallm.py
  models/demos/t3000/falcon40b/tests/test_falcon_decoder.py
  models/demos/t3000/falcon40b/tests/test_falcon_end_to_end.py
  models/demos/t3000/falcon40b/tests/test_falcon_mlp.py
  models/demos/t3000/falcon40b/tests/test_falcon_model.py
  models/demos/t3000/falcon40b/tests/test_falcon_prefill_determinism.py
  models/demos/t3000/falcon40b/tests/test_perf_falcon.py
  models/demos/t3000/falcon40b/tests/test_utils.py
  models/demos/t3000/falcon40b/tests/unit_tests/layernorm/test_falcon_layernorm.py
  models/demos/t3000/falcon40b/tests/unit_tests/layernorm/test_fused_falcon_layernorm.py
Due: none

Alexey zaytsev epam/fix hash collision 45821 reduce scatter minimal async device operation (#47531)
  ttnn/cpp/ttnn/operations/experimental/ccl/reduce_scatter_minimal_async/device/reduce_scatter_minimal_async_op_device_operation.cpp
  ttnn/cpp/ttnn/operations/experimental/ccl/reduce_scatter_minimal_async/device/reduce_scatter_minimal_async_op_device_operation.hpp
  ttnn/cpp/ttnn/operations/experimental/ccl/reduce_scatter_minimal_async/device/reduce_scatter_minimal_async_op_device_operation_types.hpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

Refactor TTNN comparison mode feature to work with ttnn.graph_report (#45448)
  conftest.py
  tests/ttnn/conftest.py
  tests/ttnn/unit_tests/base_functionality/test_database.py
  tests/ttnn/unit_tests/base_functionality/test_graph_report.py
  ttnn/ttnn/__init__.py
  ttnn/ttnn/database.py
  ttnn/ttnn/decorators.py
  ttnn/ttnn/graph.py
  ttnn/ttnn/graph_report.py
  ttnn/ttnn/stack_trace_source.py
Due: block-ttnn-pybind-changes

[Cleanup] Clarify Metal 2.0 header comments on kernel threading (#48319)
  tt_metal/api/tt-metalium/experimental/metal2_host_api/advanced_options.hpp
  tt_metal/api/tt-metalium/experimental/metal2_host_api/compute_hardware_config.hpp
  tt_metal/api/tt-metalium/experimental/metal2_host_api/dataflow_buffer_spec.hpp
  tt_metal/api/tt-metalium/experimental/metal2_host_api/kernel_spec.hpp
Due: none

[ttnn] Fix SmallVector deprecation in generic_reductions (#48410)
  ttnn/cpp/ttnn/operations/reduction/generic/generic_reductions.cpp
  ttnn/cpp/ttnn/operations/reduction/generic/generic_reductions.hpp
  ttnn/cpp/ttnn/operations/reduction/generic/generic_reductions_nanobind.hpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

More descriptive error on cache miss in trace capture (#46535)
  tests/tt_metal/distributed/test_mesh_trace.cpp
  tt_metal/distributed/mesh_workload.cpp
Due: none

Fix two BH SDPA nightly regressions: MSA kernel compile + ring-joint program cache (#48383)
  tests/nightly/blackhole/sdpa/test_ring_joint_attention.py
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/kernels/compute/sparse_sdpa_msa_compute.cpp
Due: block-ttnn-pybind-changes

[Feature] Manifest-Driven Prefill Migration Tests (#48004)
  models/demos/deepseek_v3_d_p/tt/runners/prefill_runner.py
Due: none

[QSR] Add support for Quasar device read/write to host over PCIe (#47888)
  tests/tt_metal/tt_metal/data_movement/device_pcie_loopback/kernels/device_pcie_loopback.cpp
  tests/tt_metal/tt_metal/data_movement/device_pcie_loopback/test_device_pcie_loopback.cpp
  tests/tt_metal/tt_metal/data_movement/sources.cmake
  tt_metal/impl/debug/debug_helpers.hpp
  tt_metal/impl/debug/dprint_server.cpp
  tt_metal/llrt/hal/tt-2xx/quasar/qa_hal.cpp
Due: none

[Performance] H2D stream service perf optimizations (#47857)
  models/demos/deepseek_v3_b1/micro_ops/host_io/kernels/persistent_h2d_reader.cpp
  models/demos/deepseek_v3_b1/micro_ops/host_io/kernels/persistent_h2d_receiver.cpp
  models/demos/deepseek_v3_b1/micro_ops/host_io/kernels/persistent_h2d_writer.cpp
  models/demos/deepseek_v3_d_p/tests/test_embedding_socket.py
  models/demos/deepseek_v3_d_p/tests/test_h2d_socket_sync.py
  models/demos/deepseek_v3_d_p/tt/runners/runner_utils.py
  tests/ttnn/benchmark/cpp/benchmark_h2d_stream_service.cpp
  tests/ttnn/benchmark/cpp/kernels/persistent_h2d_drain_benchmark.cpp
  tests/ttnn/benchmark/cpp/sources.cmake
  tests/ttnn/benchmark/python/analyze_h2d_stream_service.py
  tests/ttnn/nightly/unit_tests/operations/experimental/deepseek_prefill/test_deepseek_prefill_h2d_socket_sync.py
  tests/ttnn/unit_tests/base_functionality/test_h2d_stream_service.py
  tests/ttnn/unit_tests/gtests/multiprocess/test_cross_process_d2d_stream_service.cpp
  tests/ttnn/unit_tests/gtests/multiprocess/test_cross_process_h2d_stream_service.cpp
  tests/ttnn/unit_tests/gtests/tensor/test_d2d_stream_service.cpp
  tests/ttnn/unit_tests/gtests/tensor/test_h2d_stream_service.cpp
  tests/ttnn/unit_tests/gtests/tensor/test_stream_pipeline.cpp
  tt_metal/distributed/flatbuffer/h2d_stream_service_descriptor.fbs
  tt_metal/distributed/h2d_stream_service_descriptor.cpp
  tt_metal/distributed/h2d_stream_service_descriptor.hpp
  ttnn/api/ttnn/services/h2d_socket_service.hpp
  ttnn/core/services/h2d_socket_service.cpp
  ttnn/cpp/ttnn-nanobind/h2d_stream_service.cpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

Add GeLU kernel that uses tanh approximation (#47399)
  models/tt_dit/encoders/clip/model_clip.py
  models/tt_dit/encoders/t5/model_t5.py
  models/tt_dit/layers/embeddings.py
  models/tt_dit/layers/linear.py
  models/tt_dit/models/transformers/transformer_sd35.py
  models/tt_dit/models/transformers/wan2_2/transformer_wan.py
  tests/ttnn/unit_tests/operations/eltwise/test_gelu_fw_variants.py
  tests/ttnn/unit_tests/operations/matmul/test_linear.py
  tests/ttnn/utils_for_testing.py
  tt_metal/hw/ckernels/blackhole/metal/llk_api/llk_sfpu/ckernel_sfpu_gelu.h
  tt_metal/hw/ckernels/blackhole/metal/llk_api/llk_sfpu_types.h
  tt_metal/hw/ckernels/wormhole_b0/metal/llk_api/llk_sfpu/ckernel_sfpu_gelu.h
  tt_metal/hw/ckernels/wormhole_b0/metal/llk_api/llk_sfpu_types.h
  tt_metal/hw/inc/api/compute/eltwise_unary/gelu.h
  tt_metal/tt-llk/tests/helpers/include/sfpu_operations.h
  tt_metal/tt-llk/tests/python_tests/helpers/golden_generators.py
  tt_metal/tt-llk/tests/python_tests/helpers/llk_params.py
  tt_metal/tt-llk/tests/python_tests/helpers/sfpu_domains.py
  tt_metal/tt-llk/tests/python_tests/perf_eltwise_unary_sfpu.py
  tt_metal/tt-llk/tests/python_tests/test_eltwise_unary_sfpu.py
  ttnn/cpp/ttnn/operations/eltwise/unary/common/unary_op_types.hpp
  ttnn/cpp/ttnn/operations/eltwise/unary/common/unary_op_utils.cpp
  ttnn/cpp/ttnn/operations/eltwise/unary/unary.cpp
  ttnn/cpp/ttnn/operations/eltwise/unary/unary.hpp
  ttnn/cpp/ttnn/operations/eltwise/unary/unary_nanobind.cpp
  ttnn/cpp/ttnn/operations/matmul/device/kernels/compute/bmm_fused_activation.hpp
  ttnn/cpp/ttnn/operations/matmul/device/utilities/matmul_utilities.hpp
  ttnn/cpp/ttnn/operations/matmul/shared_with_host/activation_type.hpp
  ttnn/ttnn/__init__.py
  ttnn/ttnn/operations/activations.py
  ttnn/ttnn/operations/binary.py
  ttnn/ttnn/operations/unary.py
Due: block-ttnn-pybind-changes, detect-legacy-device-op

fix hash collision 45821 neighbor pad async device operation (#47530)
  ttnn/cpp/ttnn/operations/experimental/ccl/neighbor_pad_async/device/neighbor_pad_async_device_operation.cpp
  ttnn/cpp/ttnn/operations/experimental/ccl/neighbor_pad_async/device/neighbor_pad_async_device_operation.hpp
  ttnn/cpp/ttnn/operations/experimental/ccl/neighbor_pad_async/device/neighbor_pad_async_device_operation_types.hpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

Alexey zaytsev epam/fix hash collision 45821 slice reshard async device operation (#47534)
  ttnn/cpp/ttnn/operations/experimental/ccl/slice_reshard_async/device/slice_reshard_async_device_operation.cpp
  ttnn/cpp/ttnn/operations/experimental/ccl/slice_reshard_async/device/slice_reshard_async_device_operation.hpp
  ttnn/cpp/ttnn/operations/experimental/ccl/slice_reshard_async/device/slice_reshard_async_device_operation_types.hpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

[Feature] LocalTensorAccessor: node-local tensor access (legacy + Metal 2.0) (#48190)
  tests/tt_metal/tt_metal/api/metal2_host_api/test_program_run_args.cpp
  tests/tt_metal/tt_metal/api/metal2_host_api/test_program_spec.cpp
  tests/tt_metal/tt_metal/api/metal2_host_api/test_program_spec_hw.cpp
  tests/tt_metal/tt_metal/test_kernels/compute/local_tensor_accessor_compute.cpp
  tt_metal/hw/inc/api/tensor/local_tensor_accessor.h
  tt_metal/hw/inc/api/tensor/tensor_accessor.h
  tt_metal/hw/inc/api/tensor/tensor_binding_token.h
  tt_metal/hw/sources.cmake
  tt_metal/impl/emulation/emulated_program_runner.cpp
  tt_metal/impl/metal2_host_api/program_spec.cpp
  tt_metal/jit_build/genfiles.cpp
Due: none

Ign/reduce sum int32 (#44061)
  tests/ttnn/nightly/unit_tests/operations/reduction/test_sum_int.py
  ttnn/cpp/ttnn/kernel_lib/reduce_helpers_common.hpp
  ttnn/cpp/ttnn/kernel_lib/reduce_helpers_compute.hpp
  ttnn/cpp/ttnn/kernel_lib/reduce_helpers_compute.inl
  ttnn/cpp/ttnn/operations/reduction/generic/device/common.hpp
  ttnn/cpp/ttnn/operations/reduction/generic/device/kernels/compute/reduce.cpp
  ttnn/cpp/ttnn/operations/reduction/generic/device/reduce_op.cpp
  ttnn/cpp/ttnn/operations/reduction/generic/device/reduce_op_device_operation.cpp
  ttnn/cpp/ttnn/operations/reduction/generic/device/reduce_op_multi_core_h_program_factory.cpp
  ttnn/cpp/ttnn/operations/reduction/generic/device/reduce_op_multi_core_w_program_factory.cpp
  ttnn/cpp/ttnn/operations/reduction/generic/generic_reductions.cpp
  ttnn/cpp/ttnn/operations/reduction/generic/generic_reductions_nanobind.hpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

[LLK][BH] fast-untilize BFP: write SCRATCH_SEC0_val via ordered WRCFG (#48161)
  tt_metal/tt-llk/tt_llk_blackhole/llk_lib/experimental/llk_unpack_fast_untilize.h
Due: none

Bump ttsim version to v1.9.2 (#48310)
  .github/workflows/ttsim.yaml
Due: none

sparse_sdpa_msa: add native GQA support for MSA prefill (#48045)
  docs/source/ttnn/ttnn/api.rst
  tests/pipeline_reorg/ttsim-skip-list.yaml
  tests/ttnn/nightly/unit_tests/operations/sdpa/test_sparse_sdpa_msa.py
  tests/ttnn/nightly/unit_tests/operations/sdpa/test_sparse_sdpa_msa_perf.py
  tests/ttnn/unit_tests/operations/sdpa/sparse_sdpa_msa_test_utils.py
  tests/ttnn/unit_tests/operations/sdpa/test_sparse_sdpa_msa.py
  ttnn/cpp/ttnn/operations/transformer/CMakeLists.txt
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/kernels/compute/sparse_sdpa_compute.cpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/kernels/compute/sparse_sdpa_msa_compute.cpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/kernels/dataflow/sparse_sdpa_msa_gather.hpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/kernels/dataflow/sparse_sdpa_msa_reader.cpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/kernels/dataflow/sparse_sdpa_msa_writer.cpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/sparse_sdpa_msa_device_operation.cpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/sparse_sdpa_msa_device_operation.hpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/sparse_sdpa_msa_device_operation_types.hpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/sparse_sdpa_msa_program_factory.cpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/sdpa_nanobind.cpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/sparse_sdpa_msa.cpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/sparse_sdpa_msa.hpp
  ttnn/cpp/ttnn/operations/transformer/sources.cmake
Due: block-ttnn-pybind-changes, detect-legacy-device-op

[Fix] sparse_sdpa: restore mm_init to fix fp8 determinism regression (#48401)
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/kernels/compute/sparse_sdpa_compute.cpp
Due: block-ttnn-pybind-changes

fix hash collision 45821 minimal matmul strided reduce scatter async (#47529)
  ttnn/cpp/ttnn/operations/experimental/ccl/minimal_matmul_strided_reduce_scatter_async/device/minimal_matmul_strided_reduce_scatter_async_device_operation_types.hpp
  ttnn/cpp/ttnn/operations/experimental/ccl/minimal_matmul_strided_reduce_scatter_async/device/minimal_matmul_strided_reduce_scatter_async_op.cpp
  ttnn/cpp/ttnn/operations/experimental/ccl/minimal_matmul_strided_reduce_scatter_async/device/minimal_matmul_strided_reduce_scatter_async_op.hpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

[LLK][tooling] Add race-audit skill suite: 9 hazard audits + cross-class orchestrator (#48163)
  tt_metal/tt-llk/.claude/skills/cfg-word-overlap-audit/SKILL.md
  tt_metal/tt-llk/.claude/skills/dataflow-cb-sync-audit/SKILL.md
  tt_metal/tt-llk/.claude/skills/instruction-latency-audit/SKILL.md
  tt_metal/tt-llk/.claude/skills/mailbox-sync-audit/SKILL.md
  tt_metal/tt-llk/.claude/skills/mmio-race-audit/SKILL.md
  tt_metal/tt-llk/.claude/skills/noc-sync-audit/SKILL.md
  tt_metal/tt-llk/.claude/skills/race-audit-all/SKILL.md
  tt_metal/tt-llk/.claude/skills/reconfig-stall-audit/SKILL.md
  tt_metal/tt-llk/.claude/skills/semaphore-handshake-audit/SKILL.md
  tt_metal/tt-llk/.claude/skills/srcreg-bank-sync-audit/SKILL.md
Due: none

[tt-train] Bug fix: Remove int conversion for head_dim (#48272)
  tt-train/sources/ttml/ttml/common/config.py
Due: none

fix hash collision 45821 all reduce async device operation (#47526)
  ttnn/cpp/ttnn/operations/experimental/ccl/all_reduce_async/device/all_reduce_async_device_operation.cpp
  ttnn/cpp/ttnn/operations/experimental/ccl/all_reduce_async/device/all_reduce_async_device_operation.hpp
  ttnn/cpp/ttnn/operations/experimental/ccl/all_reduce_async/device/all_reduce_async_device_operation_types.hpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

Alexey zaytsev epam/fix hash collision 45821 strided all gather minimal matmul async (#47535)
  ttnn/cpp/ttnn/operations/experimental/ccl/strided_all_gather_minimal_matmul_async/device/strided_all_gather_minimal_matmul_async_device_operation_types.hpp
  ttnn/cpp/ttnn/operations/experimental/ccl/strided_all_gather_minimal_matmul_async/device/strided_all_gather_minimal_matmul_async_op.cpp
  ttnn/cpp/ttnn/operations/experimental/ccl/strided_all_gather_minimal_matmul_async/device/strided_all_gather_minimal_matmul_async_op.hpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

Qwen2.5-7B model bringup to TTTv2 (#43814)
  models/common/models/__init__.py
  models/common/models/qwen25_7b/__init__.py
  models/common/models/qwen25_7b/demo.py
  models/common/models/qwen25_7b/executor.py
  models/common/models/qwen25_7b/generator.py
  models/common/models/qwen25_7b/model.py
  models/common/models/qwen25_7b/weight_utils.py
  models/common/tests/demos/qwen25_7b/demo.py
Due: none

remove flux1 performance tests from the t3k tests workflow (#48284)
  tests/pipeline_reorg/release_tests.yaml
  tests/pipeline_reorg/t3k_demo_tests.yaml
  tests/pipeline_reorg/t3k_perf_tests.yaml
  tests/scripts/t3000/run_t3000_demo_tests.sh
  tests/scripts/t3000/run_t3000_integration_tests.sh
  tests/scripts/t3000/run_t3000_perf_tests.sh
Due: none

Fixing DEVICE_PRINT dispatch and some speedups (#47967)
  tests/tt_metal/tt_metal/debug_tools/device_print/test_print_output.cpp
  tt_metal/impl/debug/dprint_parser.cpp
  tt_metal/impl/debug/dprint_server.cpp
  tt_metal/impl/dispatch/kernel_config/dispatch_s.cpp
  tt_metal/impl/dispatch/kernels/cq_dispatch_subordinate.cpp
  tt_metal/impl/dispatch/kernels/device_print_dispatch.h
Due: none

[LLK] [SAN] Remove redundant settings (#47695)
  tt_metal/jit_build/build.cpp
  tt_metal/llrt/rtoptions.cpp
  tt_metal/llrt/rtoptions.hpp
  tt_metal/tt-llk/common/sanitizer/output.h
  tt_metal/tt-llk/common/sanitizer/settings.h
Due: none

Release notes: rework unclear PR titles at release time (MINFRA-978) (#47989)
  .github/actions/scripts/release_notes_rewrite_titles.py
  .github/workflows/package-and-release.yaml
Due: none

[skip ci] Add time budget enforcement for sweep workflows (#46861)
  .github/time_budget.yaml
  .github/workflows/ttnn-model-trace-sweep-validation.yaml
  .github/workflows/ttnn-run-sweeps.yaml
  tests/pipeline_reorg/ttnn_sweep_tests.yaml
  tests/pipeline_reorg/ttnn_sweep_validation_tests.yaml
Due: none

[Feature] indexer_score: block-split scheduler to fill idle grid rows on short sequences (#48424)
  tests/ttnn/nightly/unit_tests/operations/experimental/test_indexer_score.py
  ttnn/cpp/ttnn/operations/experimental/indexer_score/device/indexer_score_device_operation.cpp
  ttnn/cpp/ttnn/operations/experimental/indexer_score/device/indexer_score_program_factory.cpp
  ttnn/cpp/ttnn/operations/experimental/indexer_score/device/kernels/indexer_score_work_split.hpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

Fix timeout on BH LB Deepseek Prefill tests - remove 2k iter tests (#48450)
  tests/pipeline_reorg/blackhole_e2e_tests.yaml
Due: none

#48372: Fix t3k ring-joint SDPA program-cache test (assert 3 == 1) (#48425)
  tests/nightly/t3000/ccl/test_ring_attention_all_gather.py
  tests/nightly/t3000/ccl/test_ring_joint_attention.py
Due: none

Bug fix: skip the watcher server for emulated (emule) devices (#48288)
  tt_metal/impl/context/metal_context.cpp
  tt_metal/impl/device/device.cpp
  tt_metal/impl/kernels/kernel.cpp
  tt_metal/llrt/llrt.cpp
Due: none

[skip ci] Distinguish Blackhole board variants in sweep results labels (#48445)
  .github/actions/sweep-run-analysis/scripts/push_sweep_results.py
Due: none
