Repository tenstorrent/tt-metal: changes, and which pre-commit hooks are due for each by the changed paths.
All: block-ttnn-pybind-changes, detect-legacy-device-op, validate-golden-csv-columns

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v3.2.0
  hooks:
    - id: trailing-whitespace
      exclude: \.patch$
    - id: end-of-file-fixer
      exclude: \.patch$
    - id: check-yaml
      args: ["--unsafe"]
    - id: check-added-large-files
# Using this mirror lets us use mypyc-compiled black, which is about 2x faster
- repo: https://github.com/psf/black-pre-commit-mirror
  rev: 23.10.1
  hooks:
    - id: black
      language_version: python3
- repo: https://github.com/PyCQA/autoflake
  rev: v2.3.1
  hooks:
    - id: autoflake
      args: [--remove-all-unused-imports, --in-place, --recursive, --exclude=__init__.py]
      files: ^models/  # Run only on files in the models directory
- repo: https://github.com/pycqa/isort
  rev: 5.13.2
  hooks:
    - id: isort
      files: ^models/
      exclude: ^models/(demos/llama3_70b_galaxy|experimental)/
- repo: https://github.com/BlankSpruce/gersemi
  rev: 0.16.2
  hooks:
    - id: gersemi
- repo: https://github.com/adrienverge/yamllint.git
  rev: v1.35.1
  hooks:
    - id: yamllint
- repo: https://github.com/pre-commit/mirrors-clang-format
  rev: v19.1.4
  hooks:
    - id: clang-format
      entry: git-clang-format
      require_serial: true
      types_or: [c++, c]
      args: ["--style=file"]
- repo: local
  hooks:
    - id: validate-metalium-includes
      name: validate-metalium-includes
      entry: python3 scripts/validate_api/validate_includes.py tt_metal/api --check-ttnn-forwards
      language: system
      pass_filenames: false
    - id: validate-metalium-deprecation
      name: validate-metalium-deprecation
      entry: python3 scripts/validate_api/validate_deprecation.py tt_metal/api origin/main
      language: system
      pass_filenames: false
- repo: local
  hooks:
    - id: check-torch-imports-in-ttnn
      name: Verify that there is no global torch import in ttnn
      entry: python3 scripts/validate_no_global_torch_imports.py
      language: system
      pass_filenames: false
- repo: local
  hooks:
    - id: block-ttnn-pybind-changes
      name: Prevent edits to frozen pybind11 sources under ttnn
      entry: python3 scripts/block_ttnn_pybind_changes.py
      language: system
      pass_filenames: true
      files: ^ttnn/
- repo: local
  hooks:
    - id: convert-notebooks-to-py
      name: Convert .ipynb to .py for ttnn basic examples
      entry: python3 scripts/convert_notebooks_to_python.py
      language: system
- repo: local
  hooks:
    - id: detect-legacy-device-op
      name: Detect legacy device operation classes in newly added files
      entry: python3 scripts/detect_legacy_device_op.py --check-new-only
      language: system
      types: [file]
      files: ^ttnn/.*\.hpp$
      pass_filenames: true
      require_serial: true
- repo: local
  hooks:
    - id: validate-golden-csv-columns
      name: Validate golden bandwidth CSV column headers
      entry: bash .github/scripts/utils/validate_golden_csv_columns.sh
      language: system
      pass_filenames: false
      files: ^tests/tt_metal/tt_metal/perf_microbenchmark/routing/golden/.*bandwidth.*\.csv$

Frame the remaining launcher replies as answers too
  .github/scripts/port/dispatch.py
  .github/scripts/port/selftest.py
Due: none

Tell the agent that a green build says nothing about kernel includes
  .github/workflows/port-op.lock.yml
  .github/workflows/port-op.md
Due: none

Grade the port against what tt-dm-codegen itself passes
  .github/scripts/port/gate.py
  .github/scripts/port/measure.py
  .github/scripts/port/selftest.py
  .github/workflows/port-measure.yaml
  .github/workflows/port-op.lock.yml
  .github/workflows/port-op.md
Due: none

Handoff: run 3 produced the first agent-written port that compiles
  .github/scripts/port/HANDOFF.md
Due: none

Handoff: the harness now fails the port for the port's own reasons
  .github/scripts/port/HANDOFF.md
Due: none

Derive the category from the manifest's native_entry, not a name glob
  .github/scripts/port/selftest.py
  .github/workflows/port-op.lock.yml
  .github/workflows/port-op.md
Due: none

Let a line-cabled mesh run the H3 FFN
  models/tt_dit/models/transformers/minimax_h3/transformer_block_minimax_h3.py
Due: none

mcast_pipe: ack loopback before sender publication
  tests/ttnn/unit_tests/kernel_lib/kernels/pipe_f3_compute.cpp
  tests/ttnn/unit_tests/kernel_lib/kernels/pipe_f3_sender.cpp
  tests/ttnn/unit_tests/kernel_lib/test_mcast_pipe.py
  ttnn/cpp/ttnn/operations/normalization/layernorm/device/kernels/dataflow/reader_mcast_receiver_unary_sharded_ln_post_allgather.cpp
  ttnn/cpp/ttnn/operations/normalization/layernorm/device/kernels/dataflow/reader_mcast_sender_unary_sharded_ln_post_allgather.cpp
Due: block-ttnn-pybind-changes

docs: map mcast host helper rollout
  helper_design/mcast_pipe/migration/ledger.json
  helper_design/mcast_pipe/migration/ledger.md
  helper_design/mcast_pipe/migration/test_map.json
  helper_design/mcast_pipe/migration/tiers.md
Due: none

Migrate conv2d block weights to multicast host helper
  helper_design/mcast_pipe/migration/ledger.json
  helper_design/mcast_pipe/migration/ledger.md
  helper_design/mcast_pipe/migration/log/conv2d-weights-fixed-line.md
  ttnn/cpp/ttnn/operations/conv/conv2d/device/conv2d_op_sharded_program_factory.cpp
  ttnn/cpp/ttnn/operations/conv/conv2d/device/kernels/writer_tiled_out_2d_mcast_receiver_conv_weights_tiled_col_to_rm_blocks.cpp
  ttnn/cpp/ttnn/operations/conv/conv2d/device/kernels/writer_tiled_out_2d_mcast_sender_conv_weights_tiled_col_to_rm_blocks.cpp
Due: block-ttnn-pybind-changes

apply mcast host helper to conv2d height-sharded weights
  helper_design/mcast_pipe/migration/ledger.json
  helper_design/mcast_pipe/migration/ledger.md
  helper_design/mcast_pipe/migration/log/conv2d-weights-single-sender-rect.md
  helper_design/mcast_pipe/migration/report.md
  ttnn/cpp/ttnn/operations/conv/conv2d/device/conv2d_op_sharded_program_factory.cpp
  ttnn/cpp/ttnn/operations/conv/conv2d/device/kernels/reader_writer_tiled_out_1d_mcast_receiver_conv_weights_tiled_col_to_rm_blocks.cpp
  ttnn/cpp/ttnn/operations/conv/conv2d/device/kernels/reader_writer_tiled_out_1d_mcast_sender_conv_weights_tiled_col_to_rm_blocks.cpp
Due: block-ttnn-pybind-changes

Migrate matmul in1 to multicast host helper
  ttnn/cpp/ttnn/operations/matmul/device/factory/matmul_multicore_reuse_mcast_1d_program_factory.cpp
  ttnn/cpp/ttnn/operations/matmul/device/factory/matmul_multicore_reuse_mcast_2d_program_factory.cpp
  ttnn/cpp/ttnn/operations/matmul/device/kernels/dataflow/reader_bmm_tile_layout_in1_receiver_writer_padding.cpp
  ttnn/cpp/ttnn/operations/matmul/device/kernels/dataflow/reader_bmm_tile_layout_in1_sender_writer_padding.cpp
Due: block-ttnn-pybind-changes

Record matmul in1 host migration
  helper_design/mcast_pipe/migration/ledger.json
  helper_design/mcast_pipe/migration/ledger.md
  helper_design/mcast_pipe/migration/log/matmul-in1-mcast-padding-host.md
Due: none

Promote the SFPU RoPE LLK to experimental (#53119)
  tt_metal/hw/inc/api/compute/experimental/rope_sfpu.h
  tt_metal/hw/sources.cmake
  tt_metal/tt-llk/tt_llk_blackhole/common/inc/sfpu/experimental/ckernel_sfpu_rope.h
Due: none

Apply mcast host helpers to sharded groupnorm v2
  ttnn/cpp/ttnn/operations/normalization/groupnorm/device/groupnorm_sharded_program_factory.cpp
  ttnn/cpp/ttnn/operations/normalization/groupnorm/device/kernels/dataflow/reader_mcast_receiver_unary_sharded_gn_v2.cpp
  ttnn/cpp/ttnn/operations/normalization/groupnorm/device/kernels/dataflow/reader_mcast_sender_unary_sharded_gn_v2.cpp
  ttnn/cpp/ttnn/operations/normalization/groupnorm/device/kernels/dataflow/welford_reader_mcast_receiver_unary_sharded_gn_v2.cpp
  ttnn/cpp/ttnn/operations/normalization/groupnorm/device/kernels/dataflow/welford_reader_mcast_sender_unary_sharded_gn_v2.cpp
Due: block-ttnn-pybind-changes

docs: finalize mcast host rollout report
  helper_design/mcast_pipe/migration/ledger.json
  helper_design/mcast_pipe/migration/ledger.md
  helper_design/mcast_pipe/migration/log/groupnorm-sharded-v2-mcast-host.md
  helper_design/mcast_pipe/migration/report.md
  helper_design/mcast_pipe/migration/test_map.json
Due: none

Add mcast counter signal coverage for sort
  helper_design/mcast_pipe/api_feasibility.md
  helper_design/mcast_pipe/census.txt
  helper_design/mcast_pipe/kernel_annotations/coordinator_single_row_multi_core.md
  helper_design/mcast_pipe/kernel_annotations/reader_single_row_multi_core.md
  helper_design/mcast_pipe/kernel_annotations/writer_single_row_multi_core.md
  helper_design/mcast_pipe/migration_audit/_SUMMARY.md
  helper_design/mcast_pipe/migration_audit/data_movement_reduction.md
  helper_design/mcast_pipe/proposed_helpers.md
  helper_design/mcast_pipe/style_bakeoff.md
  tests/ttnn/unit_tests/kernel_lib/kernels/pipe_signal_receiver.cpp
  tests/ttnn/unit_tests/kernel_lib/kernels/pipe_signal_sender.cpp
  tests/ttnn/unit_tests/kernel_lib/test_mcast_pipe.py
Due: none

docs: record sharded groupnorm host migration
  helper_design/mcast_pipe/migration/ledger.json
  helper_design/mcast_pipe/migration/ledger.md
  helper_design/mcast_pipe/migration/log/groupnorm-sharded-v2-mcast-host.md
Due: none

docs: reconcile mcast_pipe rollout after rebase + re-verify matmul in1
  helper_design/mcast_pipe/census.txt
  helper_design/mcast_pipe/kernel_annotations/deepseek_prefill_readers.md
  helper_design/mcast_pipe/migration/ledger.json
  helper_design/mcast_pipe/migration/ledger.md
  helper_design/mcast_pipe/migration/log/matmul-in1-mcast-padding-host.md
  helper_design/mcast_pipe/migration/reconcile_2026-08-03.md
  helper_design/mcast_pipe/migration/report.md
  helper_design/mcast_pipe/migration/test_map.json
Due: none

fix comments
  .github/actions/fetch-ttsim/action.yml
Due: none

Pin the generator to one commit for the life of a port
  .github/scripts/port/dispatch.py
  .github/scripts/port/selftest.py
  .github/workflows/port-op.lock.yml
  .github/workflows/port-op.md
Due: none

initial commit
  tt_metal/distributed/distributed.cpp
  tt_metal/distributed/fd_mesh_command_queue.cpp
  tt_metal/distributed/sd_mesh_command_queue.cpp
  tt_metal/llrt/rtoptions.cpp
  tt_metal/llrt/rtoptions.hpp
Due: none

[Cleanup] Drop unused MeshBuffer friend for create_on_single_device
  tt_metal/api/tt-metalium/mesh_buffer.hpp
Due: none

Read the merged ports for shape, not for kernel arguments
  .github/workflows/port-op.lock.yml
  .github/workflows/port-op.md
Due: none

Migrate sort control channel to mcast pipe
  helper_design/mcast_pipe/api_feasibility.md
  helper_design/mcast_pipe/census.txt
  helper_design/mcast_pipe/changelog.md
  helper_design/mcast_pipe/kernel_annotations/coordinator_single_row_multi_core.md
  helper_design/mcast_pipe/kernel_annotations/reader_single_row_multi_core.md
  helper_design/mcast_pipe/kernel_annotations/writer_single_row_multi_core.md
  helper_design/mcast_pipe/migration/ledger.json
  helper_design/mcast_pipe/migration/ledger.md
  helper_design/mcast_pipe/migration/log/coordinator_single_row_multi_core.md
  helper_design/mcast_pipe/migration/log/reader_single_row_multi_core.md
  helper_design/mcast_pipe/migration/log/writer_single_row_multi_core.md
  helper_design/mcast_pipe/migration/reconcile_2026-08-03-sort.md
  helper_design/mcast_pipe/migration/report.md
  helper_design/mcast_pipe/migration/test_map.json
  helper_design/mcast_pipe/migration/tiers.md
  helper_design/mcast_pipe/migration_audit/_SUMMARY.md
  helper_design/mcast_pipe/migration_audit/data_movement_reduction.md
  helper_design/mcast_pipe/proposed_helpers.md
  helper_design/mcast_pipe/style_bakeoff.md
  ttnn/cpp/ttnn/operations/data_movement/sort/device/kernels/dataflow/coordinator_single_row_multi_core.cpp
  ttnn/cpp/ttnn/operations/data_movement/sort/device/kernels/dataflow/reader_single_row_multi_core.cpp
  ttnn/cpp/ttnn/operations/data_movement/sort/device/kernels/dataflow/writer_single_row_multi_core.cpp
  ttnn/cpp/ttnn/operations/data_movement/sort/device/sort_program_factory.cpp
Due: block-ttnn-pybind-changes

docs: consolidate mcast API and migration feedback
  helper_design/mcast_pipe/README.md
  helper_design/mcast_pipe/api_feedback.md
  helper_design/mcast_pipe/changelog.md
  helper_design/mcast_pipe/migration_feedback.md
  helper_design/mcast_pipe/perf_feedback.md
Due: none

Migrate width sharded conv activation to mcast pipe
  helper_design/mcast_pipe/api_feasibility.md
  helper_design/mcast_pipe/census.txt
  helper_design/mcast_pipe/changelog.md
  helper_design/mcast_pipe/kernel_annotations/activation_reader_width_sharded.cpp.md
  helper_design/mcast_pipe/migration/ledger.json
  helper_design/mcast_pipe/migration/ledger.md
  helper_design/mcast_pipe/migration/log/activation_reader_width_sharded.md
  helper_design/mcast_pipe/migration/reconcile_2026-08-03-conv-width.md
  helper_design/mcast_pipe/migration/report.md
  helper_design/mcast_pipe/migration/test_map.json
  helper_design/mcast_pipe/migration/tiers.md
  helper_design/mcast_pipe/migration_audit/_SUMMARY.md
  helper_design/mcast_pipe/migration_audit/conv.md
  helper_design/mcast_pipe/proposed_helpers.md
  helper_design/mcast_pipe/style_bakeoff.md
  ttnn/cpp/ttnn/operations/conv/conv2d/device/conv2d_op_width_sharded_program_factory.cpp
  ttnn/cpp/ttnn/operations/conv/conv2d/device/kernels/activation_reader_width_sharded.cpp
Due: block-ttnn-pybind-changes

Document multicast migration performance findings
  helper_design/mcast_pipe/README.md
  helper_design/mcast_pipe/migration_dashboard.html
  helper_design/mcast_pipe/perf_feedback.md
  tests/ttnn/perf_tests/operations/mcast/test_mcast_migration_realtime_perf.py
Due: none

docs: add mcast migration review feedback
  helper_design/mcast_pipe/README.md
  helper_design/mcast_pipe/api_feedback.md
  helper_design/mcast_pipe/migration_feedback.md
  helper_design/mcast_pipe/perf_feedback.md
Due: none

Restore mcast source lifetime optimizations
  helper_design/mcast_pipe/mcast_feedback_plan_2026-08-04.md
  tests/ttnn/unit_tests/kernel_lib/kernels/pipe_raw_receiver.cpp
  tests/ttnn/unit_tests/kernel_lib/kernels/pipe_sender.cpp
  tests/ttnn/unit_tests/kernel_lib/test_mcast_pipe.py
  ttnn/cpp/ttnn/kernel_lib/mcast_pipe.hpp
  ttnn/cpp/ttnn/kernel_lib/mcast_pipe.inl
  ttnn/cpp/ttnn/operations/conv/conv2d/device/kernels/reader_writer_tiled_out_1d_mcast_sender_conv_weights_tiled_col_to_rm_blocks.cpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

Make mcast helper ABI boundaries opaque
  helper_design/mcast_pipe/mcast_feedback_plan_2026-08-04.md
  tests/ttnn/unit_tests/kernel_lib/test_mcast_pipe_source_audit.py
  ttnn/cpp/ttnn/operations/conv/conv2d/device/kernels/activation_reader_width_sharded.cpp
  ttnn/cpp/ttnn/operations/matmul/device/factory/matmul_multicore_reuse_mcast_1d_program_factory.cpp
  ttnn/cpp/ttnn/operations/matmul/device/factory/matmul_multicore_reuse_mcast_1d_program_factory.hpp
  ttnn/cpp/ttnn/operations/matmul/device/factory/matmul_multicore_reuse_mcast_2d_program_factory.cpp
  ttnn/cpp/ttnn/operations/matmul/device/factory/matmul_multicore_reuse_mcast_2d_program_factory.hpp
  ttnn/cpp/ttnn/operations/matmul/device/kernels/dataflow/reader_bmm_tile_layout_in1_receiver_writer_padding.cpp
  ttnn/cpp/ttnn/operations/matmul/device/kernels/dataflow/reader_bmm_tile_layout_in1_sender_writer_padding.cpp
  ttnn/cpp/ttnn/operations/normalization/groupnorm/device/kernels/dataflow/reader_mcast_receiver_unary_sharded_gn_v2.cpp
  ttnn/cpp/ttnn/operations/normalization/groupnorm/device/kernels/dataflow/reader_mcast_sender_unary_sharded_gn_v2.cpp
  ttnn/cpp/ttnn/operations/normalization/groupnorm/device/kernels/dataflow/welford_reader_mcast_receiver_unary_sharded_gn_v2.cpp
  ttnn/cpp/ttnn/operations/normalization/groupnorm/device/kernels/dataflow/welford_reader_mcast_sender_unary_sharded_gn_v2.cpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

Make mcast rotating wire self-describing
  helper_design/mcast_pipe/README.md
  helper_design/mcast_pipe/api_feedback.md
  helper_design/mcast_pipe/changelog.md
  helper_design/mcast_pipe/kernel_annotations/activation_reader_width_sharded.cpp.md
  helper_design/mcast_pipe/migration/ledger.json
  helper_design/mcast_pipe/migration/ledger.md
  helper_design/mcast_pipe/migration/log/activation_reader_width_sharded.md
  helper_design/mcast_pipe/migration/report.md
  helper_design/mcast_pipe/migration/test_map.json
  helper_design/mcast_pipe/migration_feedback.md
  tests/ttnn/unit_tests/gtests/test_mcast_host.cpp
  tests/ttnn/unit_tests/kernel_lib/kernels/pipe_rotating_line.cpp
  tests/ttnn/unit_tests/kernel_lib/test_mcast_pipe.py
  tests/ttnn/unit_tests/kernel_lib/test_mcast_pipe_source_audit.py
  ttnn/cpp/ttnn/kernel_lib/host/mcast_host.hpp
  ttnn/cpp/ttnn/kernel_lib/mcast_pipe.hpp
  ttnn/cpp/ttnn/operations/conv/conv2d/device/kernels/activation_reader_width_sharded.cpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

Make Matmul mcast semaphore ownership explicit
  helper_design/mcast_pipe/mcast_feedback_plan_2026-08-04.md
  tests/ttnn/unit_tests/gtests/test_mcast_host.cpp
  ttnn/cpp/ttnn/kernel_lib/host/mcast_host.hpp
  ttnn/cpp/ttnn/operations/matmul/device/factory/matmul_multicore_reuse_mcast_1d_program_factory.cpp
  ttnn/cpp/ttnn/operations/matmul/device/factory/matmul_multicore_reuse_mcast_2d_program_factory.cpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

Record mcast Gate 4 validation
  helper_design/mcast_pipe/mcast_feedback_plan_2026-08-04.md
Due: none

Make mcast signal handshakes explicit
  helper_design/mcast_pipe/api_feedback.md
  helper_design/mcast_pipe/changelog.md
  helper_design/mcast_pipe/migration/ledger.json
  helper_design/mcast_pipe/migration/ledger.md
  helper_design/mcast_pipe/migration/log/coordinator_single_row_multi_core.md
  helper_design/mcast_pipe/migration/log/reader_single_row_multi_core.md
  helper_design/mcast_pipe/migration/report.md
  helper_design/mcast_pipe/migration_feedback.md
  tests/ttnn/unit_tests/kernel_lib/test_mcast_pipe.py
  tests/ttnn/unit_tests/kernel_lib/test_mcast_pipe_source_audit.py
  ttnn/cpp/ttnn/kernel_lib/mcast_pipe.hpp
  ttnn/cpp/ttnn/kernel_lib/mcast_pipe.inl
  ttnn/cpp/ttnn/operations/data_movement/sort/device/kernels/dataflow/coordinator_single_row_multi_core.cpp
  ttnn/cpp/ttnn/operations/data_movement/sort/device/kernels/dataflow/reader_single_row_multi_core.cpp
  ttnn/cpp/ttnn/operations/data_movement/sort/device/kernels/dataflow/writer_single_row_multi_core.cpp
  ttnn/cpp/ttnn/operations/data_movement/sort/device/sort_program_factory.cpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

Prepare next mcast migration units
  helper_design/mcast_pipe/api_feedback.md
  helper_design/mcast_pipe/census.txt
  helper_design/mcast_pipe/migration/ledger.json
  helper_design/mcast_pipe/migration/ledger.md
  helper_design/mcast_pipe/migration/test_map.json
  helper_design/mcast_pipe/migration/tiers.md
Due: none

Narrow mcast API-002 feedback scope
  helper_design/mcast_pipe/README.md
  helper_design/mcast_pipe/api_feedback.md
  helper_design/mcast_pipe/changelog.md
  helper_design/mcast_pipe/mcast_feedback_plan_2026-08-04.md
  helper_design/mcast_pipe/migration/report.md
Due: none

Record mcast Gate 7 performance blocker
  helper_design/mcast_pipe/mcast_feedback_plan_2026-08-04.md
Due: none

Record mcast Gate 6 validation
  helper_design/mcast_pipe/mcast_feedback_plan_2026-08-04.md
Due: none
