Repository tenstorrent/tt-metal: changes, and which pre-commit hooks are due for each by the changed paths.
All: block-ttnn-pybind-changes, detect-legacy-device-op, validate-golden-csv-columns

block-ttnn-pybind-changes:
  name: Prevent edits to frozen pybind11 sources under ttnn
  entry: python3 scripts/block_ttnn_pybind_changes.py
  language: system
  pass_filenames: true

detect-legacy-device-op:
  name: Detect legacy device operation classes in newly added files
  entry: python3 scripts/detect_legacy_device_op.py --check-new-only
  language: system
  pass_filenames: true
  require_serial: true

validate-golden-csv-columns:
  name: Validate golden bandwidth CSV column headers
  entry: bash .github/scripts/utils/validate_golden_csv_columns.sh
  language: system
  pass_filenames: false

dispatch_fabric2d: take a padding_config and a ragged sequence
  models/demos/deepseek_v3_d_p/tests/op_unit_tests/test_prefill_dispatch_fabric2d.py
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/dispatch_fabric2d/device/dispatch_fabric2d_device_operation.cpp
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/dispatch_fabric2d/device/dispatch_fabric2d_device_operation.hpp
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/dispatch_fabric2d/device/dispatch_fabric2d_placement.cpp
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/dispatch_fabric2d/device/dispatch_fabric2d_program_factory.cpp
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/dispatch_fabric2d/device/dispatch_fabric2d_types.hpp
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/dispatch_fabric2d/device/dispatch_fabric2d_untilize.cpp
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/dispatch_fabric2d/device/kernels/dataflow/dispatch_fabric2d_kernel_interface.hpp
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/dispatch_fabric2d/device/kernels/dataflow/dispatch_fabric2d_reader_ct_args.hpp
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/dispatch_fabric2d/device/kernels/dataflow/reader_dispatch_fabric2d.cpp
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/dispatch_fabric2d/dispatch_fabric2d.cpp
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/dispatch_fabric2d/dispatch_fabric2d.hpp
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/dispatch_fabric2d/dispatch_fabric2d_nanobind.cpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

dispatch_fabric2d: land the local phase, clamp dropped tokens out of chunk sizes
  models/demos/deepseek_v3_d_p/tests/op_unit_tests/test_prefill_dispatch_fabric2d.py
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/dispatch_fabric2d/device/dispatch_fabric2d_device_operation.cpp
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/dispatch_fabric2d/device/dispatch_fabric2d_program_factory.cpp
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/dispatch_fabric2d/device/kernels/dataflow/reader_dispatch_fabric2d.cpp
Due: block-ttnn-pybind-changes

dispatch_fabric2d: draw hot cross-group routing in the perf worker
  models/demos/deepseek_v3_d_p/tests/perf/test_prefill_dispatch_fabric2d.py
Due: none

dispatch_fabric2d: name the multicast region hop rule in the oracle
  models/demos/deepseek_v3_d_p/tests/op_unit_tests/test_prefill_dispatch_fabric2d.py
Due: none

dispatch_fabric2d: build the routing index in one pass
  models/demos/deepseek_v3_d_p/tests/perf/test_prefill_dispatch_fabric2d.py
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/dispatch_fabric2d/device/dispatch_fabric2d_device_operation.cpp
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/dispatch_fabric2d/device/dispatch_fabric2d_program_factory.cpp
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/dispatch_fabric2d/device/kernels/dataflow/dispatch_fabric2d_kernel_interface.hpp
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/dispatch_fabric2d/device/kernels/dataflow/reader_dispatch_fabric2d.cpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

dispatch_fabric2d: add the fan-out wire tail, immutable in flight
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/dispatch_fabric2d/device/dispatch_fabric2d_program_factory.cpp
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/dispatch_fabric2d/device/kernels/dataflow/dispatch_fabric2d_kernel_interface.hpp
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/dispatch_fabric2d/device/kernels/dataflow/reader_dispatch_fabric2d.cpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

dispatch_fabric2d: measure perf without production dispatch
  models/demos/deepseek_v3_d_p/tests/pcc/mesh_configs.py
  models/demos/deepseek_v3_d_p/tests/perf/test_dispatch_fabric2d_perf.py
  models/demos/deepseek_v3_d_p/tests/perf/test_prefill_dispatch_fabric2d.py
Due: none

dispatch_fabric2d: deliver the terminal hop directly, pipeline both relays
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/dispatch_fabric2d/device/kernels/dataflow/dispatch_fabric2d_kernel_interface.hpp
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/dispatch_fabric2d/device/kernels/dataflow/reader_dispatch_fabric2d.cpp
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/dispatch_fabric2d/device/kernels/dataflow/sender_dispatch_fabric2d.cpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

dispatch_fabric2d: bound the routing index against a malformed table
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/dispatch_fabric2d/device/kernels/dataflow/reader_dispatch_fabric2d.cpp
Due: block-ttnn-pybind-changes

dispatch_fabric2d: rename prologue and other jargon identifiers
  models/demos/deepseek_v3_d_p/tests/op_unit_tests/test_dispatch_fabric2d.py
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/dispatch_fabric2d/device/dispatch_fabric2d_assignments.cpp
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/dispatch_fabric2d/device/dispatch_fabric2d_assignments.hpp
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/dispatch_fabric2d/device/dispatch_fabric2d_device_operation.cpp
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/dispatch_fabric2d/device/dispatch_fabric2d_placement.cpp
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/dispatch_fabric2d/device/dispatch_fabric2d_placement.hpp
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/dispatch_fabric2d/device/dispatch_fabric2d_program_factory.cpp
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/dispatch_fabric2d/device/dispatch_fabric2d_types.hpp
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/dispatch_fabric2d/device/dispatch_fabric2d_untilize.cpp
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/dispatch_fabric2d/device/dispatch_fabric2d_untilize.hpp
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/dispatch_fabric2d/device/kernels/compute/prologue_lane_dispatch_fabric2d.cpp
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/dispatch_fabric2d/device/kernels/compute/routing_index_dispatch_fabric2d.cpp
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/dispatch_fabric2d/device/kernels/compute/untilize_dispatch_fabric2d.cpp
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/dispatch_fabric2d/device/kernels/dataflow/dispatch_fabric2d_kernel_interface.hpp
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/dispatch_fabric2d/device/kernels/dataflow/dispatch_fabric2d_reader_ct_args.hpp
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/dispatch_fabric2d/device/kernels/dataflow/dispatch_fabric2d_sender_ct_args.hpp
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/dispatch_fabric2d/device/kernels/dataflow/dispatch_fabric2d_untilize_args.hpp
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/dispatch_fabric2d/device/kernels/dataflow/reader_dispatch_fabric2d.cpp
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/dispatch_fabric2d/device/kernels/dataflow/sender_dispatch_fabric2d.cpp
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/dispatch_fabric2d/device/kernels/dataflow/untilize_reader_dispatch_fabric2d.cpp
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/dispatch_fabric2d/device/kernels/dataflow/untilize_writer_dispatch_fabric2d.cpp
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/dispatch_fabric2d/device/kernels/dispatch_fabric2d_routing_index.hpp
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/dispatch_fabric2d/dispatch_fabric2d.cpp
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/dispatch_fabric2d/dispatch_fabric2d_nanobind.cpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

dispatch_fabric2d: collapse each token to one multicast entry per direction
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/dispatch_fabric2d/device/dispatch_fabric2d_program_factory.cpp
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/dispatch_fabric2d/device/kernels/dataflow/dispatch_fabric2d_kernel_interface.hpp
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/dispatch_fabric2d/device/kernels/dataflow/reader_dispatch_fabric2d.cpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

dispatch_fabric2d: test on the 8x1 TorusY proxy, drop the blaze CI entry
  models/demos/deepseek_v3_d_p/tests/op_unit_tests/test_dispatch_fabric2d.py
  tests/pipeline_reorg/blaze_models_prefill_tests.yaml
Due: none

dispatch_fabric2d: replay captured DSv3 routing in the perf worker
  models/demos/deepseek_v3_d_p/tests/perf/test_prefill_dispatch_fabric2d.py
Due: none

dispatch_fabric2d: cover the sliced prologue, fused deliveries and pool
  models/demos/deepseek_v3_d_p/tests/op_unit_tests/test_prefill_dispatch_fabric2d.py
Due: none

dispatch_fabric2d: lean and correct comments across the op
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/dispatch_fabric2d/device/dispatch_fabric2d_assignments.cpp
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/dispatch_fabric2d/device/dispatch_fabric2d_assignments.hpp
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/dispatch_fabric2d/device/dispatch_fabric2d_device_operation.cpp
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/dispatch_fabric2d/device/dispatch_fabric2d_placement.cpp
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/dispatch_fabric2d/device/dispatch_fabric2d_placement.hpp
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/dispatch_fabric2d/device/dispatch_fabric2d_program_factory.cpp
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/dispatch_fabric2d/device/dispatch_fabric2d_types.hpp
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/dispatch_fabric2d/device/dispatch_fabric2d_untilize.cpp
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/dispatch_fabric2d/device/dispatch_fabric2d_untilize.hpp
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/dispatch_fabric2d/device/kernels/compute/routing_index_dispatch_fabric2d.cpp
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/dispatch_fabric2d/device/kernels/compute/untilize_dispatch_fabric2d.cpp
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/dispatch_fabric2d/device/kernels/dataflow/dispatch_fabric2d_kernel_interface.hpp
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/dispatch_fabric2d/device/kernels/dataflow/dispatch_fabric2d_reader_ct_args.hpp
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/dispatch_fabric2d/device/kernels/dataflow/dispatch_fabric2d_sender_ct_args.hpp
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/dispatch_fabric2d/device/kernels/dataflow/dispatch_fabric2d_untilize_args.hpp
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/dispatch_fabric2d/device/kernels/dataflow/reader_dispatch_fabric2d.cpp
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/dispatch_fabric2d/device/kernels/dataflow/sender_dispatch_fabric2d.cpp
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/dispatch_fabric2d/device/kernels/dataflow/untilize_reader_dispatch_fabric2d.cpp
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/dispatch_fabric2d/device/kernels/dataflow/untilize_writer_dispatch_fabric2d.cpp
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/dispatch_fabric2d/device/kernels/dispatch_fabric2d_routing_index.hpp
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/dispatch_fabric2d/dispatch_fabric2d.cpp
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/dispatch_fabric2d/dispatch_fabric2d.hpp
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/dispatch_fabric2d/dispatch_fabric2d_nanobind.cpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

dispatch_fabric2d: move untilizer core selection into placement
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/dispatch_fabric2d/device/dispatch_fabric2d_placement.cpp
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/dispatch_fabric2d/device/dispatch_fabric2d_placement.hpp
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/dispatch_fabric2d/device/dispatch_fabric2d_untilize.cpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

dispatch_fabric2d: encapsulate the untilizer compile-time args
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/dispatch_fabric2d/device/dispatch_fabric2d_untilize.cpp
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/dispatch_fabric2d/device/kernels/compute/untilize_dispatch_fabric2d.cpp
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/dispatch_fabric2d/device/kernels/dataflow/dispatch_fabric2d_untilize_args.hpp
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/dispatch_fabric2d/device/kernels/dataflow/untilize_reader_dispatch_fabric2d.cpp
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/dispatch_fabric2d/device/kernels/dataflow/untilize_writer_dispatch_fabric2d.cpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

dispatch_fabric2d: drop dead checks, fix the torus hint for axis 1
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/dispatch_fabric2d/device/dispatch_fabric2d_device_operation.cpp
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/dispatch_fabric2d/device/dispatch_fabric2d_untilize.cpp
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/dispatch_fabric2d/device/kernels/dataflow/dispatch_fabric2d_kernel_interface.hpp
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/dispatch_fabric2d/device/kernels/dataflow/sender_dispatch_fabric2d.cpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

dispatch_fabric2d: require DRAM, bound expert ids, address PR bot comments
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/dispatch_fabric2d/device/dispatch_fabric2d_device_operation.cpp
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/dispatch_fabric2d/device/dispatch_fabric2d_program_factory.cpp
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/dispatch_fabric2d/device/dispatch_fabric2d_program_factory.hpp
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/dispatch_fabric2d/device/kernels/dataflow/dispatch_fabric2d_kernel_interface.hpp
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/dispatch_fabric2d/device/kernels/dispatch_fabric2d_routing_index.hpp
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/dispatch_fabric2d/dispatch_fabric2d_nanobind.cpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

dispatch_fabric2d: plain-English pass on the op test comments
  models/demos/deepseek_v3_d_p/tests/op_unit_tests/test_dispatch_fabric2d.py
Due: none

dispatch_fabric2d: refuse seq_len_per_chip == 0, check the batch the sender uses
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/dispatch_fabric2d/device/dispatch_fabric2d_device_operation.cpp
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/dispatch_fabric2d/device/dispatch_fabric2d_placement.cpp
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/dispatch_fabric2d/device/dispatch_fabric2d_placement.hpp
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/dispatch_fabric2d/device/kernels/dataflow/dispatch_fabric2d_kernel_interface.hpp
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/dispatch_fabric2d/device/kernels/dataflow/sender_dispatch_fabric2d.cpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

dispatch_fabric2d: rename axis rows to pos and forwarding chunks to descriptors
  models/demos/deepseek_v3_d_p/tests/op_unit_tests/test_dispatch_fabric2d.py
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/dispatch_fabric2d/device/dispatch_fabric2d_assignments.cpp
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/dispatch_fabric2d/device/dispatch_fabric2d_assignments.hpp
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/dispatch_fabric2d/device/dispatch_fabric2d_placement.cpp
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/dispatch_fabric2d/device/dispatch_fabric2d_placement.hpp
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/dispatch_fabric2d/device/dispatch_fabric2d_program_factory.cpp
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/dispatch_fabric2d/device/dispatch_fabric2d_untilize.cpp
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/dispatch_fabric2d/device/dispatch_fabric2d_untilize.hpp
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/dispatch_fabric2d/device/kernels/dataflow/dispatch_fabric2d_kernel_interface.hpp
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/dispatch_fabric2d/device/kernels/dataflow/dispatch_fabric2d_reader_ct_args.hpp
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/dispatch_fabric2d/device/kernels/dataflow/reader_dispatch_fabric2d.cpp
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/dispatch_fabric2d/device/kernels/dataflow/sender_dispatch_fabric2d.cpp
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/dispatch_fabric2d/device/kernels/dispatch_fabric2d_routing_index.hpp
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/dispatch_fabric2d/dispatch_fabric2d_nanobind.cpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

dispatch_fabric2d: define fwd_section, document the scalar arguments
  models/demos/deepseek_v3_d_p/tests/op_unit_tests/test_dispatch_fabric2d.py
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/dispatch_fabric2d/device/dispatch_fabric2d_assignments.cpp
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/dispatch_fabric2d/device/dispatch_fabric2d_assignments.hpp
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/dispatch_fabric2d/device/dispatch_fabric2d_placement.cpp
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/dispatch_fabric2d/device/dispatch_fabric2d_program_factory.cpp
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/dispatch_fabric2d/device/dispatch_fabric2d_types.hpp
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/dispatch_fabric2d/device/dispatch_fabric2d_untilize.cpp
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/dispatch_fabric2d/device/dispatch_fabric2d_untilize.hpp
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/dispatch_fabric2d/device/kernels/dataflow/dispatch_fabric2d_kernel_interface.hpp
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/dispatch_fabric2d/device/kernels/dataflow/dispatch_fabric2d_sender_ct_args.hpp
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/dispatch_fabric2d/device/kernels/dataflow/reader_dispatch_fabric2d.cpp
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/dispatch_fabric2d/device/kernels/dataflow/sender_dispatch_fabric2d.cpp
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/dispatch_fabric2d/device/kernels/dispatch_fabric2d_routing_index.hpp
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/dispatch_fabric2d/dispatch_fabric2d_nanobind.cpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

dispatch_fabric2d: default-initialize ring_chip_ids_base
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/dispatch_fabric2d/device/kernels/dataflow/dispatch_fabric2d_reader_ct_args.hpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

dispatch_fabric2d: keep a displaced stream in its row
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/dispatch_fabric2d/device/dispatch_fabric2d_placement.cpp
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/dispatch_fabric2d/device/dispatch_fabric2d_placement.hpp
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/dispatch_fabric2d/device/dispatch_fabric2d_untilize.cpp
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/dispatch_fabric2d/dispatch_fabric2d_nanobind.cpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

dispatch_fabric2d: finish the rename of scratch, records and signal names
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/dispatch_fabric2d/device/dispatch_fabric2d_program_factory.cpp
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/dispatch_fabric2d/device/kernels/compute/routing_index_dispatch_fabric2d.cpp
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/dispatch_fabric2d/device/kernels/dataflow/dispatch_fabric2d_kernel_interface.hpp
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/dispatch_fabric2d/device/kernels/dataflow/dispatch_fabric2d_reader_ct_args.hpp
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/dispatch_fabric2d/device/kernels/dataflow/dispatch_fabric2d_sender_ct_args.hpp
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/dispatch_fabric2d/device/kernels/dataflow/reader_dispatch_fabric2d.cpp
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/dispatch_fabric2d/device/kernels/dataflow/sender_dispatch_fabric2d.cpp
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/dispatch_fabric2d/device/kernels/dispatch_fabric2d_routing_index.hpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

blackhole llk eltwise binary: hand each operand tile to the math thread as one source bank
  tt_metal/tt-llk/tt_llk_blackhole/common/inc/ckernel_gpr_map.h
  tt_metal/tt-llk/tt_llk_blackhole/llk_lib/llk_defs.h
  tt_metal/tt-llk/tt_llk_blackhole/llk_lib/llk_math_eltwise_binary.h
  tt_metal/tt-llk/tt_llk_blackhole/llk_lib/llk_unpack_A.h
  tt_metal/tt-llk/tt_llk_blackhole/llk_lib/llk_unpack_AB.h
Due: none

blackhole metal eltwise binary: pass the per-tile hand-off through the wrappers and the compute API
  tt_metal/hw/ckernels/blackhole/metal/llk_api/llk_math_binary_api.h
  tt_metal/hw/ckernels/blackhole/metal/llk_api/llk_unpack_AB_api.h
  tt_metal/hw/ckernels/blackhole/metal/llk_api/llk_unpack_A_api.h
  tt_metal/hw/inc/api/compute/eltwise_binary.h
Due: none

tt-llk tests: eltwise binary kernels use the per-tile hand-off on Blackhole
  tt_metal/tt-llk/tests/sources/eltwise_binary_fpu_perf.cpp
  tt_metal/tt-llk/tests/sources/eltwise_binary_test.cpp
Due: none

Log Gemma4 prefill wall times by context length
  models/demos/gemma4_d_p/demo/text_demo_prefill.py
Due: none

combine: correct the overlap test's stale docstring
  tests/ttnn/nightly/unit_tests/operations/experimental/deepseek_prefill/test_hybrid_routed_expert_combine.py
Due: none

SFPI build 995
  tt_metal/sfpi-version
Due: none

[perf] Format the grammar mask with numpy:
  models/common/sampling/tt_sampling.py
Due: none

repeat: route on measured losses only and trim per-call host cost
  ttnn/cpp/ttnn/operations/data_movement/repeat/codegen/repeat_codegen_device_operation.cpp
  ttnn/cpp/ttnn/operations/data_movement/repeat/codegen/repeat_codegen_device_operation.hpp
  ttnn/cpp/ttnn/operations/data_movement/repeat/codegen/repeat_codegen_program_factory.cpp
  ttnn/cpp/ttnn/operations/data_movement/repeat/codegen/repeat_codegen_program_factory.hpp
  ttnn/cpp/ttnn/operations/data_movement/repeat/codegen/repeat_codegen_supported.cpp
  ttnn/cpp/ttnn/operations/data_movement/repeat/repeat.cpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

tests/repeat: restore the hand-written routing tests
  tests/ttnn/nightly/unit_tests/operations/data_movement/test_repeat_codegen_routing.py
Due: none

minimax-h3 local assembly: select rows by a gather over the stacked candidates; MINIMAX_H3_LOCAL_ASSEMBLY_CHECK
  models/tt_dit/models/MiniMaxH3.md
  models/tt_dit/models/transformers/minimax_h3/transformer_minimax_h3.py
  models/tt_dit/pipelines/minimax_h3/pipeline_minimax_h3.py
Due: none

blackhole llk eltwise binary: an unlearned unpack stride is 0, which no step can match
  tt_metal/tt-llk/tt_llk_blackhole/llk_lib/llk_unpack_AB.h
Due: none

perf counters: keep clang-tidy clean on the counter record view
  tt_metal/tools/profiler/perf_counters.hpp
Due: none

tt-llk tests: unwrap the single parametrize axis in the ten experimental perf modules
  tt_metal/tt-llk/tests/python_tests/perf_csa_index_remap.py
  tt_metal/tt-llk/tests/python_tests/perf_eltwise_mul_scalar_block.py
  tt_metal/tt-llk/tests/python_tests/perf_generalized_moe_gate.py
  tt_metal/tt-llk/tests/python_tests/perf_hadamard.py
  tt_metal/tt-llk/tests/python_tests/perf_mul_reduce_scalar.py
  tt_metal/tt-llk/tests/python_tests/perf_pack_block_contiguous.py
  tt_metal/tt-llk/tests/python_tests/perf_rmsnorm_bcast_scalar_dest_reuse.py
  tt_metal/tt-llk/tests/python_tests/perf_rope.py
  tt_metal/tt-llk/tests/python_tests/perf_sfpu_add_rsqrt.py
  tt_metal/tt-llk/tests/python_tests/perf_sfpu_generic_moe_gate_topk.py
Due: none

Path conditions:
  block-ttnn-pybind-changes: any of: ^ttnn/
  detect-legacy-device-op: any of: ^ttnn/.*\.hpp$
  validate-golden-csv-columns: any of: ^tests/tt_metal/tt_metal/perf_microbenchmark/routing/golden/.*bandwidth.*\.csv$
