Repository tenstorrent/tt-metal: changes, and which pre-commit hooks are due for each by the changed paths.
All: block-ttnn-pybind-changes, detect-legacy-device-op, validate-golden-csv-columns

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v3.2.0
  hooks:
    - id: trailing-whitespace
      exclude: \.patch$
    - id: end-of-file-fixer
      exclude: \.patch$
    - id: check-yaml
      args: ["--unsafe"]
    - id: check-added-large-files
# Using this mirror lets us use mypyc-compiled black, which is about 2x faster
- repo: https://github.com/psf/black-pre-commit-mirror
  rev: 23.10.1
  hooks:
    - id: black
      language_version: python3
- repo: https://github.com/PyCQA/autoflake
  rev: v2.3.1
  hooks:
    - id: autoflake
      args: [--remove-all-unused-imports, --in-place, --recursive, --exclude=__init__.py]
      files: ^models/  # Run only on files in the models directory
- repo: https://github.com/pycqa/isort
  rev: 5.13.2
  hooks:
    - id: isort
      files: ^models/
      exclude: ^models/(demos/llama3_70b_galaxy|experimental)/
- repo: https://github.com/BlankSpruce/gersemi
  rev: 0.16.2
  hooks:
    - id: gersemi
- repo: https://github.com/adrienverge/yamllint.git
  rev: v1.35.1
  hooks:
    - id: yamllint
- repo: https://github.com/pre-commit/mirrors-clang-format
  rev: v19.1.4
  hooks:
    - id: clang-format
      entry: git-clang-format
      require_serial: true
      types_or: [c++, c]
      args: ["--style=file"]
- repo: local
  hooks:
    - id: validate-metalium-includes
      name: validate-metalium-includes
      entry: python3 scripts/validate_api/validate_includes.py tt_metal/api --check-ttnn-forwards
      language: system
      pass_filenames: false
    - id: validate-metalium-deprecation
      name: validate-metalium-deprecation
      entry: python3 scripts/validate_api/validate_deprecation.py tt_metal/api origin/main
      language: system
      pass_filenames: false
- repo: local
  hooks:
    - id: check-torch-imports-in-ttnn
      name: Verify that there is no global torch import in ttnn
      entry: python3 scripts/validate_no_global_torch_imports.py
      language: system
      pass_filenames: false
- repo: local
  hooks:
    - id: block-ttnn-pybind-changes
      name: Prevent edits to frozen pybind11 sources under ttnn
      entry: python3 scripts/block_ttnn_pybind_changes.py
      language: system
      pass_filenames: true
      files: ^ttnn/
- repo: local
  hooks:
    - id: convert-notebooks-to-py
      name: Convert .ipynb to .py for ttnn basic examples
      entry: python3 scripts/convert_notebooks_to_python.py
      language: system
- repo: local
  hooks:
    - id: detect-legacy-device-op
      name: Detect legacy device operation classes in newly added files
      entry: python3 scripts/detect_legacy_device_op.py --check-new-only
      language: system
      types: [file]
      files: ^ttnn/.*\.hpp$
      pass_filenames: true
      require_serial: true
- repo: local
  hooks:
    - id: validate-golden-csv-columns
      name: Validate golden bandwidth CSV column headers
      entry: bash .github/scripts/utils/validate_golden_csv_columns.sh
      language: system
      pass_filenames: false
      files: ^tests/tt_metal/tt_metal/perf_microbenchmark/routing/golden/.*bandwidth.*\.csv$

[tt-train] Switch training to fused SDPA kernel by default (#38664)
  tt-train/sources/examples/nano_gpt/main.cpp
  tt-train/sources/ttml/nanobind/nb_ops.cpp
  tt-train/sources/ttml/ops/scaled_dot_product_attention.cpp
  tt-train/sources/ttml/ops/scaled_dot_product_attention.hpp
  tt-train/tests/utils/memory_utils_test.cpp
Due: none

Add DS quad demo test to nightly CI (#39028)
  .github/workflows/multi-host-deepseekv3.yaml
Due: none

Galaxy demo tests reorg (#39072)
  .github/workflows/galaxy-demo-tests.yaml
  .github/workflows/galaxy-unit-tests-impl.yaml
  tests/pipeline_reorg/galaxy_demo_tests.yaml
  tests/pipeline_reorg/release_tests.yaml
Due: none

enable channel trim override config support (#38928)
  tests/tt_metal/tt_fabric/fabric_router/test_channel_trimming_capture.cpp
  tt_metal/fabric/channel_trimming_import.cpp
  tt_metal/fabric/channel_trimming_import.hpp
  tt_metal/fabric/compute_mesh_router_builder.cpp
  tt_metal/fabric/config/channel_trimming_overrides/enable_vc0_s0r0_vc1_all.yaml
  tt_metal/fabric/config/channel_trimming_overrides/enable_vc1_all_channels.yaml
  tt_metal/fabric/fabric_builder_context.cpp
  tt_metal/fabric/fabric_builder_context.hpp
  tt_metal/llrt/rtoptions.cpp
  tt_metal/llrt/rtoptions.hpp
Due: none

[CONV3D] Watcher detected an issue of fetching runtime argument that is not passed (#39004)
  tests/ttnn/unit_tests/operations/conv/test_conv3d.py
  ttnn/cpp/ttnn/operations/experimental/conv3d/device/conv3d_program_factory.cpp
  ttnn/cpp/ttnn/operations/experimental/conv3d/device/kernels/writer.cpp
Due: block-ttnn-pybind-changes

[GPT-OSS] Extend GPT-OSS unit test timeouts (#38884)
  .github/time_budget.yaml
  .github/workflows/galaxy-unit-tests-impl.yaml
  models/demos/gpt_oss/tests/unit/test_modules.py
  tests/pipeline_reorg/t3k_unit_tests.yaml
Due: none

Fix spelling/typos in tt-train and tools code (#39111)
  tools/scaleout/cabling_generator/cabling_generator.cpp
  tools/triage/run_checks.py
  tt-train/README.md
  tt-train/docs/MEMORY_TRACKING.md
  tt-train/sources/ttml/metal/ops/cross_entropy_bw/device/cross_entropy_bw_program_factory.cpp
  tt-train/sources/ttml/metal/ops/cross_entropy_fw/device/cross_entropy_fw_program_factory.cpp
  tt-train/sources/ttml/metal/ops/softmax/device/softmax_program_factory.cpp
  tt-train/tests/model/nano_gpt_test.cpp
  tt-train/tests/python/test_autograd.py
Due: none

Fix spelling/typos in ttnn API and other code (#39110)
  ttnn/api/ttnn/distributed/distributed_tensor.hpp
  ttnn/api/ttnn/graph/graph_query_op_runtime.hpp
  ttnn/api/ttnn/tensor/tensor.hpp
  ttnn/cpp/ttnn-nanobind/events.cpp
  ttnn/cpp/ttnn-nanobind/operations/creation.cpp
  ttnn/cpp/ttnn-nanobind/pytensor.cpp
  ttnn/cpp/ttnn/kernel/dataflow/generate_reduce_scaler.hpp
  ttnn/tt_lib/fallback_ops/fallback_ops.py
  ttnn/ttnn/operations/normalization.py
  ttnn/ttnn/torch_tracer.py
  ttnn/tutorials/ttnn_basic_matrix_multiplication.ipynb
  ttnn/tutorials/ttnn_basic_operations.ipynb
Due: block-ttnn-pybind-changes, detect-legacy-device-op

Update post-sdpa to use TP2 weights (#39056)
  models/demos/deepseek_v3_b1/fused_ops/post_sdpa/op.py
  models/demos/deepseek_v3_b1/tests/unit_tests/test_post_sdpa.py
Due: none

Remove unnecessary assert in update kv cache (#38239)
  tests/tt_eager/python_api_testing/unit_testing/misc/test_update_cache.py
  ttnn/cpp/ttnn/operations/kv_cache/device/update_cache_device_operation.cpp
Due: block-ttnn-pybind-changes

Make large-tensor softmax use CB sizes that are multiples of block size (#39051)
  tests/ttnn/unit_tests/operations/fused/test_softmax.py
  ttnn/cpp/ttnn/operations/normalization/softmax/device/softmax_program_factory_attention_optimized.cpp
Due: block-ttnn-pybind-changes

Overlap the mcast core CBs with KV cache buffer (#39118)
  models/demos/deepseek_v3_b1/fused_ops/pre_sdpa/op.py
  models/demos/deepseek_v3_b1/tests/unit_tests/test_pre_sdpa.py
Due: none

[Tier 1/2] Create Model Param Sweep Tests Pipeline (#38438)
  .github/time_budget.yaml
  .github/workflows/models-sweep-tests-impl.yaml
  .github/workflows/models-t1-sweep-tests.yaml
  .github/workflows/models-t2-sweep-tests.yaml
  tests/pipeline_reorg/models_sweep_tests.yaml
Due: none

Distributed RMSNorm: Allow fp32_dst_acc_en to be set in pre and post (#39044)
  tests/ttnn/nightly/unit_tests/operations/fused/test_distributed_layernorm_post_allgather.py
  ttnn/cpp/ttnn/operations/normalization/layernorm/device/kernels/compute/layernorm_sharded_pre_allgather.cpp
  ttnn/cpp/ttnn/operations/normalization/layernorm/device/layernorm_op_multi_core_sharded.cpp
  ttnn/cpp/ttnn/operations/normalization/layernorm/device/sharded_layernorm_factory_helpers.cpp
  ttnn/cpp/ttnn/operations/normalization/layernorm/device/sharded_layernorm_factory_helpers.hpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

Creating a version of all gather using the all broadcast algorithm good for small shapes (#37936)
  tests/nightly/t3000/ccl/test_minimal_all_gather_async.py
  ttnn/cpp/ttnn/operations/experimental/ccl/CMakeLists.txt
  ttnn/cpp/ttnn/operations/experimental/ccl/all_gather_async/all_gather_async.cpp
  ttnn/cpp/ttnn/operations/experimental/ccl/all_gather_async/all_gather_async.hpp
  ttnn/cpp/ttnn/operations/experimental/ccl/all_gather_async/all_gather_async_nanobind.cpp
  ttnn/cpp/ttnn/operations/experimental/ccl/all_gather_async/device/all_gather_async_device_operation.cpp
  ttnn/cpp/ttnn/operations/experimental/ccl/all_gather_async/device/all_gather_async_device_operation.hpp
  ttnn/cpp/ttnn/operations/experimental/ccl/all_gather_async/device/all_gather_async_device_operation_types.hpp
  ttnn/cpp/ttnn/operations/experimental/ccl/all_gather_async/device/all_gather_via_broadcast_factory.cpp
  ttnn/cpp/ttnn/operations/experimental/ccl/all_gather_async/device/all_gather_via_broadcast_factory.hpp
  ttnn/cpp/ttnn/operations/experimental/ccl/all_gather_async/device/kernels/broadcast_rm_reader.cpp
  ttnn/cpp/ttnn/operations/experimental/ccl/all_gather_async/device/kernels/broadcast_rm_writer.cpp
  ttnn/cpp/ttnn/operations/experimental/ccl/all_gather_matmul_async/device/all_gather_matmul_async_device_operation.cpp
  ttnn/cpp/ttnn/operations/experimental/ccl/all_reduce_async/all_reduce_async.cpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

#0: reduce pcc in softmax program cache tests (#39121)
  tests/ttnn/unit_tests/operations/fused/test_softmax_program_cache.py
Due: none

Implement streaming SDPA compute for standard and ring joint SDPA (#38838)
  tt_metal/hw/inc/api/compute/eltwise_unary/exp.h
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/kernels/compute/compute_common.hpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/kernels/compute/compute_streaming.hpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/kernels/compute/ring_joint_sdpa.cpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/kernels/compute/sdpa.cpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/kernels/dataflow/dataflow_common.hpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/kernels/dataflow/ring_joint_writer.cpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/kernels/dataflow/writer_interleaved.cpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/ring_distributed_sdpa_program_factory.cpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/ring_joint_sdpa_program_factory.cpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/sdpa_program_factory.cpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

fix(ttnn): rename experimental::distributed namespace to avoid unity build collision (#38969)
  tt_metal/api/tt-metalium/experimental/blitz_decode_pipeline.hpp
  tt_metal/distributed/experimental/blitz_decode_pipeline.cpp
  ttnn/cpp/ttnn-nanobind/pipeline_module_nanobind.cpp
Due: block-ttnn-pybind-changes

Add cache tests for reduction/generic and softmax and improve softmax caching (#38983)
  tests/pipeline_reorg/ttsim-skip-list.yaml
  tests/ttnn/unit_tests/operations/fused/test_softmax_program_cache.py
  tests/ttnn/unit_tests/operations/reduce/test_reduction_program_cache.py
  ttnn/cpp/ttnn/operations/normalization/softmax/device/softmax_device_operation.cpp
Due: block-ttnn-pybind-changes

Cleanup NOC Debugging (#39022)
  tests/tt_metal/tools/profiler/test_device_profiler.py
  tt_metal/impl/profiler/profiler.cpp
Due: none

Point kv cache cb and intermediate output cbs to the pre-allocated buffers (#39092)
  models/demos/deepseek_v3_b1/fused_ops/pre_sdpa/op.py
Due: none

Enable FSDP for Wan 2x2 Mesh test configs (#39015)
  models/tt_dit/tests/models/wan2_2/test_pipeline_wan.py
  models/tt_dit/tests/models/wan2_2/test_pipeline_wan_i2v.py
Due: none

Fix spelling/typos in models code (#39106)
  models/common/utility_functions.py
  models/demos/llama3_70b_galaxy/demo/text_demo.py
  models/demos/multimodal/gemma3/demo/text_demo.py
  models/demos/t3000/falcon40b/tt/falcon_decoder.py
  models/demos/t3000/llama2_70b/tt/llama_decoder_optimized.py
  models/docs/MODEL_UPDATES.md
  models/docs/model_bring_up.md
  models/experimental/uniad/reference/encoder.py
  models/experimental/uniad/reference/pan_segformer_head.py
  models/experimental/uniad/tt/ttnn_encoder.py
  models/experimental/uniad/tt/ttnn_pan_segformer_head.py
  models/experimental/vadv2/tt/tt_encoder.py
  models/tt_dit/encoders/qwen25vl/model_qwen25vl.py
  models/tt_dit/layers/conv2d.py
  models/tt_dit/layers/normalization.py
  models/tt_dit/models/vae/vae_sd35.py
  models/tt_dit/pipelines/qwenimage/pipeline_qwenimage.py
  models/tt_dit/pipelines/stable_diffusion_35_large/pipeline_stable_diffusion_35_large.py
  models/tt_dit/tests/dataset_eval/inception.py
  models/tt_dit/utils/conv3d.py
  models/tt_dit/utils/tensor.py
  models/tt_transformers/demo/multimodal_demo_text.py
  models/tt_transformers/demo/simple_text_demo.py
  models/tt_transformers/tests/multimodal/test_llama_class_embedding.py
  models/tt_transformers/tests/multimodal/test_llama_cross_attention.py
  models/tt_transformers/tests/multimodal/test_llama_cross_attention_transformer_text.py
  models/tt_transformers/tests/multimodal/test_llama_cross_attention_transformer_vision.py
  models/tt_transformers/tests/multimodal/test_llama_image_attention.py
  models/tt_transformers/tests/multimodal/test_llama_image_block.py
  models/tt_transformers/tests/multimodal/test_llama_image_transformer.py
  models/tt_transformers/tests/multimodal/test_llama_positional_embedding.py
  models/tt_transformers/tests/multimodal/test_llama_vision_encoder.py
  models/tt_transformers/tt/generator.py
  models/tt_transformers/tt/mlp.py
  models/tt_transformers/tt/model_config.py
  models/tt_transformers/tt/multimodal/llama_image_mlp.py
  models/tt_transformers/tt/multimodal/llama_vision_model.py
Due: none

A balanced traffic pattern for AG minimal (#38256)
  tests/nightly/tg/ccl/test_minimal_all_gather_async.py
  ttnn/cpp/ttnn/operations/experimental/ccl/all_gather_async/device/all_gather_async_default_program_factory.cpp
  ttnn/cpp/ttnn/operations/experimental/ccl/all_gather_async/device/kernels/minimal_default_reader.cpp
  ttnn/cpp/ttnn/operations/experimental/ccl/all_gather_async/device/kernels/minimal_default_writer.cpp
Due: block-ttnn-pybind-changes

[RESHAPE] Watcher detected invalid runtime arg index in reshape kernel (#39005)
  models/demos/deepseek_v3/tests/unit/test_reshape.py
  tests/ttnn/unit_tests/base_functionality/test_graph_capture.py
  tests/ttnn/unit_tests/base_functionality/test_reshape.py
  tests/ttnn/unit_tests/base_functionality/test_reshape_transpose.py
  tests/ttnn/unit_tests/base_functionality/test_roll.py
  tests/ttnn/unit_tests/base_functionality/test_unsqueeze.py
  tests/ttnn/unit_tests/operations/conv/data_movement/test_fold_op.py
  ttnn/cpp/ttnn/operations/data_movement/reshape_view/device/device/rm_reshape_interleaved.cpp
Due: block-ttnn-pybind-changes

Adding support for RoPE mixing pattern of cos/sin in tt_transformers (#37380)
  models/tt_transformers/demo/conftest.py
  models/tt_transformers/demo/simple_text_demo.py
  models/tt_transformers/tests/conftest.py
  models/tt_transformers/tests/test_attention.py
  models/tt_transformers/tests/test_attention_prefill.py
  models/tt_transformers/tests/test_decoder.py
  models/tt_transformers/tests/test_decoder_prefill.py
  models/tt_transformers/tests/test_model.py
  models/tt_transformers/tests/test_model_prefill.py
  models/tt_transformers/tt/attention.py
  models/tt_transformers/tt/common.py
  models/tt_transformers/tt/load_checkpoints.py
  models/tt_transformers/tt/model.py
  models/tt_transformers/tt/model_config.py
  models/tt_transformers/tt/rope.py
Due: none

Implement DISABLE_SFPLOADMACRO paths for unary and binary min/max (#39046)
  tt_metal/hw/ckernels/blackhole/metal/llk_api/llk_sfpu/ckernel_sfpu_binary_max_min.h
  tt_metal/hw/ckernels/blackhole/metal/llk_api/llk_sfpu/ckernel_sfpu_unary_max_min.h
  tt_metal/hw/ckernels/wormhole_b0/metal/llk_api/llk_sfpu/ckernel_sfpu_binary_max_min.h
  tt_metal/hw/ckernels/wormhole_b0/metal/llk_api/llk_sfpu/ckernel_sfpu_unary_max_min.h
Due: none

Disable t3k ttnn multiprocess tests (#39088)
  .github/workflows/t3000-fast-tests-impl.yaml
Due: none

Add FP32 Support for Unary pow (#37873)
  tests/ttnn/unit_tests/operations/eltwise/test_pow.py
  tt_metal/hw/ckernels/blackhole/metal/llk_api/llk_sfpu/ckernel_sfpu_unary_power.h
  tt_metal/hw/ckernels/blackhole/metal/llk_api/llk_sfpu/llk_math_eltwise_unary_sfpu_power.h
  tt_metal/hw/ckernels/wormhole_b0/metal/llk_api/llk_sfpu/ckernel_sfpu_unary_power.h
  tt_metal/hw/ckernels/wormhole_b0/metal/llk_api/llk_sfpu/llk_math_eltwise_unary_sfpu_power.h
  tt_metal/hw/inc/api/compute/compute_kernel_api.h
Due: none

[skip ci] Fix spelling/typos in documentation files (#39105)
  .cursor/commands/ttnn/verify-device-operation-hash.md
  INSTALLING.md
  build_metal.sh
  docs/source/tech_reports/WH_Galaxy/Galaxy_WH_6U_SW_Guide.md
  docs/source/tt-metalium/get_started/get_started.rst
  docs/source/tt-metalium/tools/tracy_profiler.rst
  docs/source/tt-metalium/tt_metal/advanced_topics/fp32_accuracy.rst
  docs/source/tt-metalium/tt_metal/apis/kernel_apis/data_movement/ordering.rst
  docs/source/tt-metalium/tt_metal/apis/kernel_apis/sfpu/llk.rst
  docs/source/tt-metalium/tt_metal/examples/custom_sfpi_smoothstep.rst
  docs/source/tt-metalium/tt_metal/examples/matmul_multi_core_optimizations/data_mcast.rst
  releases/changelog/changelog_release_v0.63.0.md
  releases/changelog/changelog_release_v0.64.0.md
  releases/changelog/changelog_release_v0.64.4.md
  releases/changelog/changelog_release_v0.65.0-dev20251129.md
  releases/changelog/changelog_release_v0.65.0-dev20251205.md
  tech_reports/CNNs/cnn_optimizations.md
  tech_reports/CNNs/ttcnn.md
  tech_reports/EthernetMultichip/BasicEthernetGuide.md
  tech_reports/Handling_Special_Value/special_values.md
  tech_reports/LLMs/llms.md
  tech_reports/Programming_Mesh_of_Devices/Programming_Mesh_of_Devices_with_TT-NN.md
  tech_reports/Saturating_DRAM_bandwidth/Saturating_DRAM_bandwidth.md
  tech_reports/SubDevices/SubDevices.md
  tech_reports/TT-Distributed/TT-Distributed-Architecture-1219.md
  tech_reports/TT-Distributed/TTMeshMigrationGuide.md
  tech_reports/TT-Fabric/TT-Fabric-Architecture.md
  tech_reports/YoloV4-TTNN/yolov4.md
  tech_reports/code-indexing/kernel-code-indexing.md
  tech_reports/memory/allocator.md
  tech_reports/prog_examples/matmul_multi_core_optimized/data_mcast.md
  tech_reports/prog_examples/multicast/multicast.md
  tech_reports/prog_examples/pad_multi_core/pad_multi_core.md
  tech_reports/tensor_accessor/tensor_accessor.md
  tech_reports/ttnn/TTNN-model-bringup.md
  tech_reports/ttnn/ttnn.md
  tt_metal/tools/profiler/README.md
Due: none

[tt-train] SDPA Forward balanced parallelism (#37457)
  tt-train/sources/ttml/metal/ops/sdpa_fw/device/kernels/compute/sdpa_fw_compute_kernel.cpp
  tt-train/sources/ttml/metal/ops/sdpa_fw/device/kernels/dataflow/sdpa_fw_reader_kernel.cpp
  tt-train/sources/ttml/metal/ops/sdpa_fw/device/kernels/dataflow/sdpa_fw_writer_kernel.cpp
  tt-train/sources/ttml/metal/ops/sdpa_fw/device/sdpa_fw_program_factory.cpp
Due: none

Assign a team responsible for optimizers in tt-train (#39112)
  .github/CODEOWNERS
Due: none

#37586: Blackhole demos pipeline re-org (#39045)
  .github/time_budget.yaml
  .github/workflows/blackhole-demo-tests-impl.yaml
  .github/workflows/blackhole-demo-tests.yaml
  tests/pipeline_reorg/blackhole_demo_tests.yaml
Due: none

[release-tests] Update SKU name for llama3.1-8b P150 stress test (#39220)
  tests/pipeline_reorg/release_tests.yaml
Due: none

Allow Quasar `CreateKernel` APIs to create kernels on multiple clusters (#38927)
  tests/tt_metal/tt_metal/test_multi_dm_add_two_ints.cpp
  tt_metal/tt_metal.cpp
Due: none

add user specifiable fabric kernel compiler opt-level (#38933)
  tests/tt_metal/tt_fabric/fabric_router/test_fabric_opt_level.cpp
  tests/tt_metal/tt_fabric/sources.cmake
  tt_metal/fabric/compute_mesh_router_builder.cpp
  tt_metal/fabric/erisc_datamover_builder.cpp
  tt_metal/fabric/erisc_datamover_builder.hpp
  tt_metal/llrt/rtoptions.cpp
  tt_metal/llrt/rtoptions.hpp
Due: none

Add DeepSeekV3 pipeline configurations for pod and SP4 (#39076)
  models/demos/deepseek_v3_b1/demo/cli.py
  models/demos/deepseek_v3_b1/demo/pipeline.py
  models/demos/deepseek_v3_b1/demo/stage.py
  models/demos/deepseek_v3_b1/demo/weight_provider.py
  models/demos/deepseek_v3_b1/model.py
  models/demos/deepseek_v3_b1/prepare_weights.py
  models/demos/deepseek_v3_b1/scripts/generate_cache.py
  models/demos/deepseek_v3_b1/tests/unit_tests/test_moe_mlp.py
Due: none

Fix spelling/typos in test code (#39107)
  tests/tt_metal/tt_metal/eth/eth_test_common.hpp
  tests/tt_metal/tt_metal/eth/test_erisc_app_direct_send.cpp
  tests/tt_metal/tt_metal/perf_microbenchmark/3_pcie_transfer/test_pull_from_pcie.cpp
  tests/tt_metal/tt_metal/perf_microbenchmark/3_pcie_transfer/test_rw_buffer.cpp
  tests/tt_metal/tt_metal/perf_microbenchmark/routing/test_tt_fabric_mux_bandwidth.cpp
  tests/tt_metal/tt_metal/test_kernels/compute/softmax.cpp
  tests/tt_metal/tt_metal/test_kernels/dataflow/sender_intermediate_stage.cpp
  tests/ttnn/integration_tests/falcon7b/test_falcon_rotary_embeddings.py
  tests/ttnn/unit_tests/operations/data_movement/test_core.py
  tests/ttnn/unit_tests/operations/eltwise/test_eltwise_selu.py
  tests/ttnn/unit_tests/operations/eltwise/test_exp2.py
  tests/ttnn/unit_tests/operations/eltwise/test_exp_21f.py
  tests/ttnn/unit_tests/operations/eltwise/test_unary.py
Due: none

[skip ci] Remove BH loudbox llama8b DP=4 (already running DP=8) (#39212)
  tests/pipeline_reorg/blackhole_demo_tests.yaml
Due: none
