Repository tenstorrent/tt-metal: changes, and which pre-commit hooks are due for each by the changed paths.
All: block-ttnn-pybind-changes, detect-legacy-device-op, validate-golden-csv-columns

block-ttnn-pybind-changes:
  name: Prevent edits to frozen pybind11 sources under ttnn
  entry: python3 scripts/block_ttnn_pybind_changes.py
  language: system
  pass_filenames: true

detect-legacy-device-op:
  name: Detect legacy device operation classes in newly added files
  entry: python3 scripts/detect_legacy_device_op.py --check-new-only
  language: system
  pass_filenames: true
  require_serial: true

validate-golden-csv-columns:
  name: Validate golden bandwidth CSV column headers
  entry: bash .github/scripts/utils/validate_golden_csv_columns.sh
  language: system
  pass_filenames: false

deepseek_v3_d_p: add Kimi K2.6 variant with parametrized tests
  .github/workflows/galaxy-deepseek-prefill-tests.yaml
  models/demos/deepseek_v3_d_p/demo/test_prompt_5k.json
  models/demos/deepseek_v3_d_p/reference/kimi_k2_6/config.json
  models/demos/deepseek_v3_d_p/reference/kimi_k2_6/configuration_deepseek.py
  models/demos/deepseek_v3_d_p/reference/kimi_k2_6/kimi_k2_6_config.py
  models/demos/deepseek_v3_d_p/reference/kimi_k2_6/modeling_deepseek.py
  models/demos/deepseek_v3_d_p/reference/tt/moe/moe.py
  models/demos/deepseek_v3_d_p/tests/cache/test_moe_cache.py
  models/demos/deepseek_v3_d_p/tests/conftest.py
  models/demos/deepseek_v3_d_p/tests/model_variants.py
  models/demos/deepseek_v3_d_p/tests/pcc/test_ttnn_moe.py
  models/demos/deepseek_v3_d_p/tests/perf/test_moe_perf.py
  models/demos/deepseek_v3_d_p/tests/reference_runners.py
  models/demos/deepseek_v3_d_p/tests/test_kv_cache_table.py
  models/demos/deepseek_v3_d_p/tests/test_mla.py
  models/demos/deepseek_v3_d_p/tests/test_prefill_block.py
  models/demos/deepseek_v3_d_p/tests/test_prefill_block_loop.py
  models/demos/deepseek_v3_d_p/tests/test_prefill_transformer.py
  models/demos/deepseek_v3_d_p/tt/moe/tt_moe.py
  models/demos/deepseek_v3_d_p/tt/moe/tt_moe_gate_prefill.py
  models/demos/deepseek_v3_d_p/tt/tt_prefill_block.py
  models/demos/deepseek_v3_d_p/tt/tt_prefill_transformer.py
  models/demos/deepseek_v3_d_p/utils/transformer_helpers.py
  tests/pipeline_reorg/blackhole_e2e_tests.yaml
  tests/pipeline_reorg/demo_sp_release_tests.yaml
  tests/pipeline_reorg/galaxy_deepseek_prefill_tests.yaml
  tests/pipeline_reorg/t3k_e2e_tests.yaml
Due: none

Tighten Blackhole Post-Commit and T3K E2E job filters
  .sdpa-watch/config.sh
Due: none

ci: Disable 10 DescriptorMergerTest GTest cases in runtime_debug_tools
  tools/tests/scaleout/test_descriptor_merger.cpp
Due: none

ci: [verify only] Prune test matrix to runtime_debug_tools only
  tests/pipeline_reorg/runtime_unit_tests.yaml
Due: none

Prune passing tests from ttsim skip list (#45996)
  tests/pipeline_reorg/ttsim-skip-list.yaml
Due: none

ci-disable: Add session log for 2026-06-03T20:02 UTC session
  ci-disable-session-log.md
Due: none

Extend chunked-prefill perf sweeps: d_v=512 latent, q/k scan, dashboards
  chunked_prefill_C1_dv512_findings.md
  chunked_prefill_dm_latent_sweep_findings.md
  chunked_prefill_dv512_sweep_findings.md
  chunked_prefill_full_sweep_findings.md
  sweep_driver.sh
  sweep_driver_C1_dv512.sh
  sweep_driver_C1_nonlatent_dv128.sh
  sweep_driver_dv512.sh
  sweep_driver_full.sh
  sweep_runs/results.html
  sweep_runs/results.tsv
  sweep_runs/results2.html
  sweep_runs/results3.html
  sweep_runs/results_C1_dv512.tsv
  sweep_runs/results_dv512.tsv
  sweep_runs/results_full.tsv
  tests/nightly/blackhole/sdpa/test_ring_joint_sdpa.py
Due: none

Potential fix for pull request finding
  tools/scaleout/cabling_generator/cabling_generator.cpp
Due: none

Fix in conftest.py
  .github/workflows/galaxy-deepseek-prefill-tests.yaml
  models/demos/deepseek_v3_d_p/tests/conftest.py
Due: none

chore: apply gersemi formatting to tt_metal/impl/CMakeLists.txt
  tt_metal/impl/CMakeLists.txt
Due: none

ttnn.embedding: fix partial trailing chunk in chunked tilize path
  tests/ttnn/unit_tests/operations/data_movement/test_embedding.py
  ttnn/cpp/ttnn/operations/embedding/device/embeddings_fused_program_factory.cpp
  ttnn/cpp/ttnn/operations/embedding/device/kernels/compute/tilize_chunked.cpp
  ttnn/cpp/ttnn/operations/embedding/device/kernels/dataflow/embeddings_tilize.cpp
Due: block-ttnn-pybind-changes

Bug fix: precompile-fw ships a stale weakened firmware ELF in pre-compiled bundles (#45928)
  tt_metal/tools/precompile_fw/precompile_fw.cpp
Due: none

Initial commit, updates sequential_all_to_all and adds new inter/intra mesh specifity options for high level patterns
  tests/tt_metal/tt_metal/perf_microbenchmark/routing/test_fabric_multi_mesh_sanity_common.yaml
  tests/tt_metal/tt_metal/perf_microbenchmark/routing/tt_fabric_test_common_types.hpp
  tests/tt_metal/tt_metal/perf_microbenchmark/routing/tt_fabric_test_config.cpp
  tests/tt_metal/tt_metal/perf_microbenchmark/routing/tt_fabric_test_config.hpp
Due: none

Regolden TestQuadGalaxy and TestBHBlitzPipeline after eth-coord standardization
  tests/tt_metal/tt_fabric/golden_mapping_files/TestBHBlitzPipelineControlPlaneInit.yaml
  tests/tt_metal/tt_fabric/golden_mapping_files/TestQuadGalaxyControlPlaneInit.yaml
Due: none

BH tweaks
  models/common/tests/modules/moe/test_tt_moe_decode.py
  ttnn/cpp/ttnn/operations/experimental/ccl/moe_compute/device/moe_compute_device_operation.cpp
Due: block-ttnn-pybind-changes

skip sems on persistent output
  ttnn/cpp/ttnn/operations/experimental/ccl/all_gather/device/all_gather_factory.cpp
  ttnn/cpp/ttnn/operations/experimental/ccl/all_gather/device/all_gather_factory.hpp
  ttnn/cpp/ttnn/operations/experimental/ccl/all_gather/device/kernels/reader.cpp
  ttnn/cpp/ttnn/operations/experimental/ccl/all_gather/device/kernels/writer.cpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

update mds
  tt_metal/impl/emulation/SANITIZERS.md
  tt_metal/impl/emulation/SANITIZER_CHECKS.md
Due: none

fix stale function
  tests/tt_metal/tt_metal/data_movement/one_to_all/kernels/sender_multicast_sem_2_0.cpp
  tests/tt_metal/tt_metal/test_kernels/dataflow/dram_copy_to_noc_coord_2_0.cpp
Due: none

[CI Disable] blackhole-post-commit: skip test_sdpa_tail[*] (AttributeError ttnn.FaceGeometry, see #46009)
  models/demos/deepseek_v3_b1/tests/unit_tests/test_sdpa_tail.py
Due: none

updates for copilot feedback
  tests/tt_metal/tt_metal/perf_microbenchmark/routing/tt_fabric_test_common_types.hpp
  tests/tt_metal/tt_metal/perf_microbenchmark/routing/tt_fabric_test_config.cpp
Due: none

fix quasar tests
  tt_metal/tt-llk/tests/python_tests/test_zzz_pack.py
  tt_metal/tt-llk/tests/python_tests/test_zzz_pack_untilize.py
Due: none

downgrade tools builder to large runner
  .github/workflows/build-docker-tools.yaml
Due: none

Make Metal 2.0 ProgramSpec identifiers strongly typed (explicit, via ttsl::StrongType)
  tt_metal/api/tt-metalium/experimental/metal2_host_api/advanced_options.hpp
  tt_metal/api/tt-metalium/experimental/metal2_host_api/dataflow_buffer_spec.hpp
  tt_metal/api/tt-metalium/experimental/metal2_host_api/kernel_spec.hpp
  tt_metal/api/tt-metalium/experimental/metal2_host_api/program_run_args.hpp
  tt_metal/api/tt-metalium/experimental/metal2_host_api/program_spec.hpp
  tt_metal/api/tt-metalium/experimental/metal2_host_api/semaphore_spec.hpp
  tt_metal/api/tt-metalium/experimental/metal2_host_api/tensor_parameter.hpp
  tt_metal/impl/metal2_host_api/program_run_args.cpp
  tt_metal/impl/metal2_host_api/program_spec.cpp
  ttnn/api/ttnn/mesh_device_operation_adapter.hpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

clang formatting
  models/tt_dit/tests/models/wan2_2/test_all_gather_minimal_matmul_async_loudbox.py
  ttnn/cpp/ttnn/operations/experimental/ccl/all_gather_minimal_matmul_async/device/all_gather_minimal_matmul_async_program_factory.cpp
Due: block-ttnn-pybind-changes

Qwen3.6-27B: design spec for text-only tt-inference-server BH-galaxy integration
  docs/superpowers/specs/2026-06-03-qwen36-27b-tt-inference-server-design.md
Due: none

Standardizing Eth Coords for Blitz Pipeline (#43384)
  tests/tt_metal/tt_fabric/fabric_router/test_routing_tables.cpp
  tests/tt_metal/tt_fabric/golden_mapping_files/TestBHBlitzPipelineControlPlaneInit.yaml
  tests/tt_metal/tt_fabric/golden_mapping_files/TestQuadGalaxyControlPlaneInit.yaml
  tt_metal/distributed/experimental/blitz_decode_pipeline.cpp
  tt_metal/fabric/control_plane.cpp
  tt_metal/fabric/topology_mapper_utils.cpp
Due: none

Dispatch merge-gate sweeps to medium runner
  .github/workflows/build-artifact.yaml
  .github/workflows/build-wrapper.yaml
  .github/workflows/merge-gate.yaml
Due: none

0~3 groups almost correct
  models/demos/deepseek_v3/tests/test_generalized_moe_gate.py
  models/demos/deepseek_v3/tt/generalized_moe_gate/op.py
  ttnn/cpp/ttnn/operations/experimental/deepseek/moe/generalized_moe_gate/device/kernel_includes/tt_llk/tt_llk_wormhole_b0/common/inc/sfpu/ckernel_sfpu_generalized_moe_gate_topk_single_face.h
  ttnn/cpp/ttnn/operations/experimental/deepseek/moe/generalized_moe_gate/device/kernel_includes/tt_llk/tt_llk_wormhole_b0/llk_lib/llk_math_generalized_moe_gate_transpose_dest_single_face.h
  ttnn/cpp/ttnn/operations/experimental/deepseek/moe/generalized_moe_gate/device/kernel_includes/tt_metal/hw/ckernels/wormhole_b0/metal/llk_api/llk_math_generalized_moe_gate_transpose_dest_single_face_api.h
  ttnn/cpp/ttnn/operations/experimental/deepseek/moe/generalized_moe_gate/device/kernel_includes/tt_metal/hw/ckernels/wormhole_b0/metal/llk_api/llk_sfpu/ckernel_sfpu_generalized_moe_gate_topk_single_face.h
  ttnn/cpp/ttnn/operations/experimental/deepseek/moe/generalized_moe_gate/device/kernel_includes/tt_metal/hw/ckernels/wormhole_b0/metal/llk_api/llk_sfpu/llk_math_generalized_moe_gate_topk_single_face.h
  ttnn/cpp/ttnn/operations/experimental/deepseek/moe/generalized_moe_gate/device/kernel_includes/tt_metal/include/compute_kernel_api/generalized_moe_gate.h
  ttnn/cpp/ttnn/operations/experimental/deepseek/moe/generalized_moe_gate/device/kernels/generalized_moe_gate_kernel.cpp
  ttnn/cpp/ttnn/operations/experimental/deepseek/moe/generalized_moe_gate/device/unified_kernels/generalized_moe_gate.hpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

Feature: MoE: (towards) a configurable e2e decode module (#45041)
  models/common/modules/moe/configs/deepseek_ocr.yaml
  models/common/modules/moe/configs/deepseek_v3.yaml
  models/common/modules/moe/configs/deepseek_v4_flash.yaml
  models/common/modules/moe/configs/deepseek_v4_pro.yaml
  models/common/modules/moe/configs/gemma_4_26b.yaml
  models/common/modules/moe/configs/glm5.yaml
  models/common/modules/moe/configs/glm_47.yaml
  models/common/modules/moe/configs/gpt_oss.yaml
  models/common/modules/moe/configs/kimi_k25.yaml
  models/common/modules/moe/configs/ling_1t.yaml
  models/common/modules/moe/configs/mistral_large_3.yaml
  models/common/modules/moe/configs/models_table.md
  models/common/modules/moe/configs/qwen35_35b.yaml
  models/common/modules/moe/configs/qwen35_397b.yaml
  models/common/modules/moe/configs/qwen3_235b.yaml
  models/common/modules/moe/configs/qwen3_omni_talker.yaml
  models/common/modules/moe/configs/qwen3_omni_thinker.yaml
  models/common/modules/moe/tt_moe_decode.py
  models/common/modules/moe/tt_moe_decode_config.py
  models/common/modules/moe/tt_moe_decode_config_schemas.py
  models/common/tests/modules/moe/test_tt_moe_decode.py
  models/demos/deepseek_v3/tests/fused_op_unit_tests/moe/test_optimized_moe_decode_block.py
  tests/nightly/tg/ccl/moe/test_moe_compute_6U.py
  tests/ttnn/nightly/unit_tests/operations/experimental/test_moe_compute_single_card.py
  ttnn/cpp/ttnn/operations/experimental/ccl/deepseek_moe_reduce_scatter/deepseek_moe_reduce_scatter.cpp
  ttnn/cpp/ttnn/operations/experimental/ccl/deepseek_moe_reduce_scatter/deepseek_moe_reduce_scatter.hpp
  ttnn/cpp/ttnn/operations/experimental/ccl/deepseek_moe_reduce_scatter/deepseek_moe_reduce_scatter_nanobind.cpp
  ttnn/cpp/ttnn/operations/experimental/ccl/moe_compute/device/moe_compute_device_operation.cpp
  ttnn/cpp/ttnn/operations/experimental/ccl/reduce_scatter_common/reduce_scatter_validate_utils.cpp
  ttnn/ttnn/_experimental/moe_compute_utils.py
Due: block-ttnn-pybind-changes, detect-legacy-device-op

fix more 1d fabric with 1x1 mesh bugs
  models/tt_dit/tests/unit/test_normalization.py
Due: none

craq-sim multichip: port Attempt 19 hash_cb of sdpa_output_cb
  models/demos/deepseek_v3_b1/docs/debug-ideas.md
  models/demos/deepseek_v3_b1/docs/debug_log.md
  models/demos/deepseek_v3_b1/docs/half-dest-conversation-summary.md
  models/demos/deepseek_v3_b1/docs/half-dest-workload.md
  models/demos/deepseek_v3_b1/docs/workload_flow_overview.md
  models/demos/deepseek_v3_b1/fused_ops/decoder_block/op.py
  models/demos/deepseek_v3_b1/tests/unit_tests/test_decoder_block.py
  models/demos/deepseek_v3_b1/unified_kernels/flash_mla.hpp
  tests/tt_metal/tt_fabric/custom_mock_cluster_descriptors/bh_lb_2x4_cluster_desc.yaml
  tt_metal/hw/ckernels/blackhole/metal/llk_api/debug/llk_hash_cb_api.h
  tt_metal/hw/ckernels/wormhole_b0/metal/llk_api/debug/llk_hash_cb_api.h
  tt_metal/hw/inc/api/compute/debug/cb_hash.h
Due: none

craq-sim: hash sdpa_output_cb in flash_mla op + relax PCC for hash-only run
  models/demos/deepseek_v3_b1/micro_ops/flash_mla/op.py
  models/demos/deepseek_v3_b1/tests/unit_tests/test_flash_mla.py
Due: none

deepseek_v3_b1: add repro_command.md — hardware-free half-DEST repro on craq-sim
  models/demos/deepseek_v3_b1/docs/repro_command.md
Due: none

craq-sim multichip: skip golden ref/PCC checks in test_decoder_mlp hash-only path
  models/demos/deepseek_v3_b1/tests/unit_tests/test_decoder_block.py
Due: none

craq-sim: pre-emptive DEBUG_CB_HASH + test_attention_block edits (unused; kept for reference)
  models/demos/deepseek_v3_b1/fused_ops/attention_block/op.py
  models/demos/deepseek_v3_b1/tests/unit_tests/test_attention_block.py
Due: none

Path conditions:
  block-ttnn-pybind-changes: any of: ^ttnn/
  detect-legacy-device-op: any of: ^ttnn/.*\.hpp$
  validate-golden-csv-columns: any of: ^tests/tt_metal/tt_metal/perf_microbenchmark/routing/golden/.*bandwidth.*\.csv$
