Repository tenstorrent/tt-metal: changes, and which pre-commit hooks are due for each by the changed paths.
All: block-ttnn-pybind-changes, detect-legacy-device-op, validate-golden-csv-columns

block-ttnn-pybind-changes:
  name: Prevent edits to frozen pybind11 sources under ttnn
  entry: python3 scripts/block_ttnn_pybind_changes.py
  language: system
  pass_filenames: true

detect-legacy-device-op:
  name: Detect legacy device operation classes in newly added files
  entry: python3 scripts/detect_legacy_device_op.py --check-new-only
  language: system
  pass_filenames: true
  require_serial: true

validate-golden-csv-columns:
  name: Validate golden bandwidth CSV column headers
  entry: bash .github/scripts/utils/validate_golden_csv_columns.sh
  language: system
  pass_filenames: false

Guard optional RoPE startup in fused RMSNorm
  ttnn/cpp/ttnn/operations/experimental/ccl/rms_allgather/device/kernels/compute/rms_compute.cpp
  ttnn/cpp/ttnn/operations/experimental/dropout/device/kernels/compute/dropout_kernel.cpp
  ttnn/cpp/ttnn/operations/experimental/transformer/fused_distributed_rmsnorm/device/kernels/compute/rmsnorm_post_allgather.cpp
Due: block-ttnn-pybind-changes

Cover partial blocks with fused RMSNorm RoPE enabled
  tests/ttnn/nightly/unit_tests/operations/transformers/test_distributed_fused_rmsnorm.py
Due: none

Restore HF rotary formats between mixed-dtype stages
  tests/tt_eager/python_api_testing/unit_testing/misc/test_rotary_embedding_hf.py
  ttnn/cpp/ttnn/operations/experimental/transformer/rotary_embedding_hf/device/kernels/compute/rotary_embedding_hf_sharded.cpp
Due: block-ttnn-pybind-changes

[eltwise-chain][experimental] Migrate experimental consumers
  ttnn/cpp/ttnn/operations/experimental/bcast_to/device/kernels/compute/compute_interleaved_col_bcast_to.cpp
  ttnn/cpp/ttnn/operations/experimental/bcast_to/device/kernels/compute/compute_interleaved_row_bcast_to.cpp
  ttnn/cpp/ttnn/operations/experimental/bcast_to/device/kernels/compute/compute_interleaved_scalar_bcast_to.cpp
  ttnn/cpp/ttnn/operations/experimental/ccl/rms_allgather/device/kernels/compute/rms_compute.cpp
  ttnn/cpp/ttnn/operations/experimental/dropout/device/kernels/compute/dropout_kernel.cpp
  ttnn/cpp/ttnn/operations/experimental/transformer/dit_layernorm_post_all_gather/device/kernels/compute/layernorm_post_allgather_welford.cpp
  ttnn/cpp/ttnn/operations/experimental/transformer/fused_distributed_rmsnorm/device/kernels/compute/rmsnorm_post_allgather.cpp
  ttnn/cpp/ttnn/operations/experimental/transformer/rotary_embedding/device/kernels/compute/rotary_embedding.cpp
  ttnn/cpp/ttnn/operations/experimental/transformer/rotary_embedding/device/kernels/compute/rotary_embedding_single_tile.cpp
  ttnn/cpp/ttnn/operations/experimental/transformer/rotary_embedding/device/rotary_embedding_program_factory.cpp
  ttnn/cpp/ttnn/operations/experimental/transformer/rotary_embedding_hf/device/kernels/compute/rotary_embedding_hf.cpp
  ttnn/cpp/ttnn/operations/experimental/transformer/rotary_embedding_hf/device/kernels/compute/rotary_embedding_hf_sharded.cpp
  ttnn/cpp/ttnn/operations/experimental/transformer/rotary_embedding_hf/device/kernels/compute/rotary_embedding_hf_single_tile_sharded.cpp
  ttnn/cpp/ttnn/operations/experimental/transformer/rotary_embedding_llama/device/kernels/compute/rotary_embedding_llama.cpp
  ttnn/cpp/ttnn/operations/experimental/transformer/rotary_embedding_llama/device/kernels/compute/rotary_embedding_llama_sharded.cpp
  ttnn/cpp/ttnn/operations/experimental/transformer/rotary_embedding_llama_fused_qk/device/kernels/compute/rotary_embedding_llama_sharded.cpp
Due: block-ttnn-pybind-changes

Exempt LLK relevance TypeError tests from prefer-expect-error.
  tt_metal/tt-llk/tests/python_tests/test_perf_relevance.py
Due: none

#53533: test GLM 5.2 MTP prefill through the device window path, at MTP4 and MTP7
  models/demos/common/prefill/runners/topology_configuration/pipeline_prefill_request_1rank_mtp7.yaml
  models/demos/common/prefill/runners/topology_configuration/pipeline_prefill_request_2rank_mtp7.yaml
  models/demos/common/prefill/tests/test_producer_runner_e2e.py
  models/demos/deepseek_v3_d_p/tests/mtp_prefill/test_mtp.py
  models/demos/deepseek_v3_d_p/tests/mtp_prefill/test_mtp_transformer_chunks.py
  models/demos/deepseek_v3_d_p/tt/runners/manifests/glm52_mtp7.json
  models/demos/deepseek_v3_d_p/tt/tt_prefill_transformer.py
Due: none

#53533: derive MTP lookahead availability from the ids, retiring is_last_chunk
  models/demos/common/prefill/runners/migration_driver.py
  models/demos/common/prefill/runners/prefill_producer.py
  models/demos/common/prefill/runners/prefill_runner.py
  models/demos/common/prefill/runners/runner_utils.py
  models/demos/deepseek_v3_d_p/tests/mtp_prefill/test_mtp_transformer_chunks.py
  models/demos/deepseek_v3_d_p/tt/mtp_prefill/device_windows.py
  models/demos/deepseek_v3_d_p/tt/runners/input_prep.py
  models/demos/deepseek_v3_d_p/tt/tt_prefill_runtime.py
  models/demos/deepseek_v3_d_p/tt/tt_prefill_transformer.py
Due: none

#1161: prune issue references and over-long comments
  tt_metal/hw/ckernels/blackhole/metal/llk_api/llk_unpack_tilize_api.h
  tt_metal/hw/ckernels/wormhole_b0/metal/llk_api/llk_unpack_tilize_api.h
  tt_metal/hw/inc/api/compute/tilize.h
  tt_metal/tt-llk/tests/sources/unpack_tilizeA_B_uninit_restore_test.cpp
  tt_metal/tt-llk/tests/sources/unpack_tilize_uninit_descriptor_test.cpp
  tt_metal/tt-llk/tt_llk_blackhole/llk_lib/llk_unpack_tilize.h
  tt_metal/tt-llk/tt_llk_wormhole_b0/common/inc/ckernel_gpr_map.h
  ttnn/cpp/ttnn/operations/transformer/sdpa_decode/device/kernels/compute/sdpa_flash_decode.cpp
Due: block-ttnn-pybind-changes

fix(llk): use cancellation-free logistic form for gelu_tanh negative tail
  tests/ttnn/unit_tests/operations/eltwise/test_gelu_fw_variants.py
  tt_metal/hw/ckernels/blackhole/metal/llk_api/llk_sfpu/ckernel_sfpu_gelu.h
  tt_metal/hw/ckernels/wormhole_b0/metal/llk_api/llk_sfpu/ckernel_sfpu_gelu.h
Due: none

mhc: run the kernel test from the deepseek_prefill nightly suite
  tests/pipeline_reorg/ops_unit_tests.yaml
  tests/ttnn/nightly/unit_tests/operations/experimental/deepseek_prefill/test_mhc_split_sinkhorn.py
Due: none

Fix csa state preparation, remove double reads, distribute state tiles across the grid
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/csa_compressor/device/csa_compressor_program_factory.cpp
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/csa_compressor/device/kernels/csa_state_update.cpp
Due: block-ttnn-pybind-changes

Implement CSA Indexer
  models/demos/deepseek_v3_d_p/tests/pcc/test_ttnn_csa_indexer.py
  models/demos/deepseek_v3_d_p/tt/mla/compressor.py
  models/demos/deepseek_v3_d_p/tt/mla/indexer.py
  tests/ttnn/nightly/unit_tests/operations/experimental/indexer_score/test_indexer_score.py
  ttnn/cpp/ttnn/operations/experimental/indexer_score/device/indexer_score_device_operation.cpp
  ttnn/cpp/ttnn/operations/experimental/indexer_score/device/indexer_score_device_operation.hpp
  ttnn/cpp/ttnn/operations/experimental/indexer_score/device/indexer_score_device_operation_types.hpp
  ttnn/cpp/ttnn/operations/experimental/indexer_score/device/indexer_score_host_common.hpp
  ttnn/cpp/ttnn/operations/experimental/indexer_score/device/indexer_score_program_factory.cpp
  ttnn/cpp/ttnn/operations/experimental/indexer_score/device/kernels/compute_indexer_score.cpp
  ttnn/cpp/ttnn/operations/experimental/indexer_score/device/kernels/indexer_score_cb.hpp
  ttnn/cpp/ttnn/operations/experimental/indexer_score/device/kernels/indexer_score_common.hpp
  ttnn/cpp/ttnn/operations/experimental/indexer_score/device/kernels/indexer_score_work_split.hpp
  ttnn/cpp/ttnn/operations/experimental/indexer_score/device/kernels/reader_indexer_score.cpp
  ttnn/cpp/ttnn/operations/experimental/indexer_score/device/ring_indexer_score_dsa_program_factory.cpp
  ttnn/cpp/ttnn/operations/experimental/indexer_score/indexer_score_nanobind.cpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

Implement sparse csa, replicated for now
  models/demos/deepseek_v3_d_p/tests/op_unit_tests/test_csa_block_mask.py
  models/demos/deepseek_v3_d_p/tests/op_unit_tests/test_csa_sparse_attention.py
  models/demos/deepseek_v3_d_p/tests/pcc/test_ttnn_csa.py
  models/demos/deepseek_v3_d_p/tests/pcc/test_ttnn_csa_compressor.py
  models/demos/deepseek_v3_d_p/tt/mla/compressed_sparse_attention.py
  models/demos/deepseek_v3_d_p/tt/mla/compressor.py
  models/demos/deepseek_v3_d_p/tt/mla/indexer.py
  models/demos/deepseek_v3_d_p/tt/mla/v4_attention_base.py
Due: none

Added TtCSACompressor skeleton pooling only the Cb half
  models/demos/deepseek_v3_d_p/tests/pcc/test_ttnn_csa_compressor.py
  models/demos/deepseek_v3_d_p/tt/mla/compressor.py
Due: none

fixed the cmake bundle bug and remove 1x1 mesh tests for the state exchange op
  models/demos/deepseek_v3_d_p/tests/op_unit_tests/test_compressor_state_exchange.py
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/csa_compressor/device/csa_compressor_program_factory.cpp
Due: block-ttnn-pybind-changes

Adjusting tests to local seq len 640
  models/demos/deepseek_v3_d_p/tests/op_unit_tests/test_csa_compressor.py
  models/demos/deepseek_v3_d_p/tests/pcc/test_ttnn_csa.py
  models/demos/deepseek_v3_d_p/tests/pcc/test_ttnn_csa_compressor.py
Due: none

Remove bloatware, unneccessary tests and python binding for compressor state exchange
  models/demos/deepseek_v3_d_p/tests/fabric_profiles.py
  models/demos/deepseek_v3_d_p/tests/op_unit_tests/test_compressor_state_exchange.py
  models/demos/deepseek_v3_d_p/tests/op_unit_tests/test_csa_block_mask.py
  models/demos/deepseek_v3_d_p/tests/op_unit_tests/test_csa_compressor.py
  models/demos/deepseek_v3_d_p/tests/pcc/mesh_configs.py
  models/demos/deepseek_v3_d_p/tests/pcc/test_ttnn_csa.py
  models/demos/deepseek_v3_d_p/tests/pcc/test_ttnn_csa_compressor.py
  models/demos/deepseek_v3_d_p/tests/pcc/test_ttnn_csa_indexer.py
  models/demos/deepseek_v3_d_p/tests/pcc/test_ttnn_hca.py
  models/demos/deepseek_v3_d_p/tt/mla/compressor.py
  models/demos/deepseek_v3_d_p/tt/mla/mla.py
  models/demos/deepseek_v3_d_p/tt/mla/v4_attention_base.py
  models/demos/deepseek_v3_d_p/tt/tt_ccl.py
  tests/pipeline_reorg/blaze_models_prefill_tests.yaml
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/compressor_state_exchange/CMakeLists.txt
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/compressor_state_exchange/compressor_state_exchange_nanobind.cpp
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/compressor_state_exchange/compressor_state_exchange_nanobind.hpp
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/compressor_state_exchange/sources.cmake
  ttnn/cpp/ttnn/operations/experimental/experimental_nanobind.cpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

Add a CSA-specific neighbor shift that exchanges Blaze-compatible [64, 512] KV and score states along the SP axis
  models/demos/deepseek_v3_d_p/tests/op_unit_tests/test_compressor_state_exchange.py
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/CMakeLists.txt
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/compressor_state_exchange/CMakeLists.txt
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/compressor_state_exchange/compressor_state_exchange.cpp
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/compressor_state_exchange/compressor_state_exchange.hpp
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/compressor_state_exchange/compressor_state_exchange_nanobind.cpp
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/compressor_state_exchange/compressor_state_exchange_nanobind.hpp
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/compressor_state_exchange/sources.cmake
  ttnn/cpp/ttnn/operations/experimental/experimental_nanobind.cpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

generalize the compressor op hidden dim
  models/demos/deepseek_v3_d_p/tests/op_unit_tests/test_compressor_state_exchange.py
  models/demos/deepseek_v3_d_p/tests/op_unit_tests/test_csa_compressor.py
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/compressor_state_exchange/compressor_state_exchange.cpp
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/compressor_state_exchange/compressor_state_exchange_nanobind.cpp
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/csa_compressor/csa_compressor_nanobind.cpp
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/csa_compressor/device/csa_compressor_device_operation.cpp
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/csa_compressor/device/csa_compressor_program_factory.cpp
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/csa_compressor/device/kernels/csa_state_update.cpp
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/csa_compressor/device/kernels/reader_csa_compressor.cpp
Due: block-ttnn-pybind-changes

Added a placeholder unit test for the csa compression op
  models/demos/deepseek_v3_d_p/tests/op_unit_tests/test_csa_compression.py
Due: none

Adding sliding window attention and combining the csa module
  models/demos/deepseek_v3_d_p/tests/op_unit_tests/test_csa_block_mask.py
  models/demos/deepseek_v3_d_p/tests/op_unit_tests/test_csa_compressor.py
  models/demos/deepseek_v3_d_p/tests/pcc/test_ttnn_csa.py
  models/demos/deepseek_v3_d_p/tt/mla/compressed_sparse_attention.py
  models/demos/deepseek_v3_d_p/tt/mla/compressor.py
  models/demos/deepseek_v3_d_p/tt/mla/heavily_compressed_attention.py
  models/demos/deepseek_v3_d_p/tt/mla/indexer.py
  models/demos/deepseek_v3_d_p/tt/mla/v4_attention_base.py
Due: none

Bug fixes
  models/demos/deepseek_v3_d_p/tests/op_unit_tests/test_compressor_state_exchange.py
  models/demos/deepseek_v3_d_p/tests/op_unit_tests/test_csa_block_mask.py
  models/demos/deepseek_v3_d_p/tests/op_unit_tests/test_csa_compressor.py
  models/demos/deepseek_v3_d_p/tests/pcc/test_ttnn_csa_indexer.py
  models/demos/deepseek_v3_d_p/tt/mla/compressed_sparse_attention.py
  models/demos/deepseek_v3_d_p/tt/mla/compressor.py
  models/demos/deepseek_v3_d_p/tt/mla/indexer.py
  models/demos/deepseek_v3_d_p/tt/mla/v4_attention_base.py
Due: none

Expand compression to use the full grid; Invert the reader loop; some other perf optimizations;
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/csa_compressor/device/csa_compressor_program_factory.cpp
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/csa_compressor/device/kernels/compute_csa_compressor.cpp
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/csa_compressor/device/kernels/reader_csa_compressor.cpp
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/csa_compressor/device/kernels/writer_csa_compressor.cpp
Due: block-ttnn-pybind-changes

Implement ttnn.experimental.deepseek_prefill.csa_compressor
  models/demos/deepseek_v3_d_p/tests/op_unit_tests/test_compressor_state_exchange.py
  models/demos/deepseek_v3_d_p/tests/op_unit_tests/test_csa_compression.py
  models/demos/deepseek_v3_d_p/tests/op_unit_tests/test_csa_compressor.py
  models/demos/deepseek_v3_d_p/tests/pcc/test_ttnn_csa_compressor.py
  models/demos/deepseek_v3_d_p/tt/mla/compressor.py
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/CMakeLists.txt
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/compressor_state_exchange/CMakeLists.txt
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/compressor_state_exchange/compressor_state_exchange.cpp
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/compressor_state_exchange/device/compressor_state_select.cpp
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/compressor_state_exchange/device/compressor_state_select.hpp
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/compressor_state_exchange/device/compressor_state_select_program_factory.cpp
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/compressor_state_exchange/device/kernels/select_predecessor_state.cpp
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/csa_compressor/CMakeLists.txt
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/csa_compressor/csa_compressor.cpp
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/csa_compressor/csa_compressor.hpp
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/csa_compressor/csa_compressor_nanobind.cpp
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/csa_compressor/csa_compressor_nanobind.hpp
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/csa_compressor/device/csa_compressor_device_operation.cpp
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/csa_compressor/device/csa_compressor_device_operation.hpp
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/csa_compressor/device/csa_compressor_program_factory.cpp
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/csa_compressor/device/kernels/compute_csa_compressor.cpp
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/csa_compressor/device/kernels/csa_state_update.cpp
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/csa_compressor/device/kernels/reader_csa_compressor.cpp
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/csa_compressor/device/kernels/writer_csa_compressor.cpp
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/csa_compressor/sources.cmake
  ttnn/cpp/ttnn/operations/experimental/experimental_nanobind.cpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

SP sharded sparse sdpa instead of replicated
  models/demos/deepseek_v3_d_p/tests/pcc/test_ttnn_csa.py
  models/demos/deepseek_v3_d_p/tt/mla/compressed_sparse_attention.py
Due: none

high_bw_all_gather: gather a block-cyclic shard as stripes, and use it for dense KV dedup
  models/demos/deepseek_v3_d_p/tt/mla/mla.py
  tests/ttnn/unit_tests/operations/experimental/test_high_bw_all_gather.py
  ttnn/cpp/ttnn/operations/experimental/high_bw_all_gather/device/high_bw_all_gather_device_operation.cpp
  ttnn/cpp/ttnn/operations/experimental/high_bw_all_gather/device/high_bw_all_gather_device_operation.hpp
  ttnn/cpp/ttnn/operations/experimental/high_bw_all_gather/device/high_bw_all_gather_device_operation_types.hpp
  ttnn/cpp/ttnn/operations/experimental/high_bw_all_gather/device/high_bw_all_gather_unicast_factory.cpp
  ttnn/cpp/ttnn/operations/experimental/high_bw_all_gather/high_bw_all_gather.cpp
  ttnn/cpp/ttnn/operations/experimental/high_bw_all_gather/high_bw_all_gather.hpp
  ttnn/cpp/ttnn/operations/experimental/high_bw_all_gather/high_bw_all_gather_nanobind.cpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

[Kimi-K2.7] TP-shard the dense KVPE cache, gathering TP before ring_mla
  models/demos/deepseek_v3_d_p/tests/test_mla.py
  models/demos/deepseek_v3_d_p/tt/mla/mla.py
  models/demos/deepseek_v3_d_p/tt/runners/adapters/mla.py
  models/demos/deepseek_v3_d_p/utils/kv_cache_utils.py
  models/demos/deepseek_v3_d_p/utils/test_utils.py
  tests/ttnn/unit_tests/operations/experimental/test_high_bw_all_gather.py
Due: none

Correct the tp_shard_kv perf test's note: the slot slice is gone
  models/demos/deepseek_v3_d_p/tests/test_mla.py
Due: none

explicit ELTWISE_MATH_ROWS branches
  tt_metal/tt-llk/tt_llk_quasar/llk_lib/experimental/llk_math_eltwise_binary_custom.h
  tt_metal/tt-llk/tt_llk_quasar/llk_lib/llk_math_eltwise_unary_datacopy.h
  tt_metal/tt-llk/tt_llk_quasar/llk_lib/llk_math_matmul.h
  tt_metal/tt-llk/tt_llk_quasar/llk_lib/llk_math_reduce.h
  tt_metal/tt-llk/tt_llk_quasar/llk_lib/llk_math_unary_broadcast.h
Due: none

4row_arch build
  tt_metal/impl/emulation/emulated_program_runner.cpp
  tt_metal/llrt/hal/tt-2xx/quasar/qa_hal.cpp
  tt_metal/tt-llk/tests/python_tests/helpers/chip_architecture.py
  tt_metal/tt-llk/tests/python_tests/helpers/test_config.py
  tt_metal/tt-llk/tests/python_tests/quasar/perf_reduce_quasar.py
  tt_metal/tt-llk/tests/python_tests/quasar/test_eltwise_binary_broadcast_quasar.py
  tt_metal/tt-llk/tests/python_tests/quasar/test_eltwise_binary_quasar.py
  tt_metal/tt-llk/tests/python_tests/quasar/test_eltwise_binary_reuse_dest_quasar.py
  tt_metal/tt-llk/tests/python_tests/quasar/test_eltwise_unary_datacopy_quasar.py
  tt_metal/tt-llk/tests/python_tests/quasar/test_isolate_sfpu_add_quasar.py
  tt_metal/tt-llk/tests/python_tests/quasar/test_isolate_sfpu_square_quasar.py
  tt_metal/tt-llk/tests/python_tests/quasar/test_matmul_custom_no_mop_quasar.py
  tt_metal/tt-llk/tests/python_tests/quasar/test_matmul_quasar.py
  tt_metal/tt-llk/tests/python_tests/quasar/test_pack_l1_acc_quasar.py
  tt_metal/tt-llk/tests/python_tests/quasar/test_pack_quasar.py
  tt_metal/tt-llk/tests/python_tests/quasar/test_pack_untilize_quasar.py
  tt_metal/tt-llk/tests/python_tests/quasar/test_reduce_quasar.py
  tt_metal/tt-llk/tests/python_tests/quasar/test_semaphore_sync_quasar.py
  tt_metal/tt-llk/tests/python_tests/quasar/test_sfpu_add_parallel_matmul_quasar.py
  tt_metal/tt-llk/tests/python_tests/quasar/test_transpose_dest_quasar.py
  tt_metal/tt-llk/tests/python_tests/quasar/test_unary_broadcast_quasar.py
  tt_metal/tt-llk/tests/python_tests/quasar/test_unpack_tilize_quasar.py
  tt_metal/tt-llk/tests/python_tests/quasar/test_unpack_unary_operand_quasar.py
  tt_metal/tt-llk/tests/sources/quasar/isolate_sfpu_add_quasar_test.cpp
  tt_metal/tt-llk/tests/sources/quasar/isolate_sfpu_square_quasar_test.cpp
  tt_metal/tt-llk/tests/sources/quasar/matmul_4row_arch_test.cpp
  tt_metal/tt-llk/tt_llk_quasar/common/inc/ckernel_proj_params.h
  tt_metal/tt-llk/tt_llk_quasar/llk_lib/experimental/llk_math_eltwise_binary_custom.h
  tt_metal/tt-llk/tt_llk_quasar/llk_lib/llk_math_matmul.h
  tt_metal/tt-llk/tt_llk_quasar/llk_lib/llk_math_matmul_4row_arch.h
  tt_metal/tt-llk/tt_llk_quasar/llk_lib/llk_math_reduce.h
  tt_metal/tt-llk/tt_llk_quasar/llk_lib/llk_math_unary_broadcast.h
Due: none

[LLK][Quasar] 4-row-arch (MATH_ROWS=4) support + Int8_2x matmul
  tt_metal/tt-llk/tests/python_tests/helpers/data_format_inference.py
  tt_metal/tt-llk/tests/python_tests/helpers/format_config.py
  tt_metal/tt-llk/tests/python_tests/helpers/golden_generators.py
  tt_metal/tt-llk/tests/python_tests/quasar/test_eltwise_binary_broadcast_quasar.py
  tt_metal/tt-llk/tests/python_tests/quasar/test_eltwise_binary_reuse_dest_quasar.py
  tt_metal/tt-llk/tests/python_tests/quasar/test_eltwise_binary_sfpu_quasar.py
  tt_metal/tt-llk/tests/python_tests/quasar/test_isolate_sfpu_square_quasar.py
  tt_metal/tt-llk/tests/python_tests/quasar/test_matmul_4row_arch.py
  tt_metal/tt-llk/tests/python_tests/quasar/test_reduce_quasar.py
  tt_metal/tt-llk/tests/python_tests/quasar/test_transpose_dest_quasar.py
  tt_metal/tt-llk/tests/python_tests/quasar/test_unary_broadcast_quasar.py
  tt_metal/tt-llk/tests/sources/quasar/isolate_sfpu_add_quasar_test.cpp
  tt_metal/tt-llk/tests/sources/quasar/isolate_sfpu_square_quasar_test.cpp
  tt_metal/tt-llk/tests/sources/quasar/matmul_4row_arch_test.cpp
  tt_metal/tt-llk/tt_llk_quasar/common/inc/ckernel_proj_params.h
  tt_metal/tt-llk/tt_llk_quasar/common/inc/ckernel_trisc_common.h
  tt_metal/tt-llk/tt_llk_quasar/common/inc/cmath_common.h
  tt_metal/tt-llk/tt_llk_quasar/common/inc/cunpack_common.h
  tt_metal/tt-llk/tt_llk_quasar/llk_lib/llk_math_eltwise_unary_datacopy.h
  tt_metal/tt-llk/tt_llk_quasar/llk_lib/llk_math_matmul.h
  tt_metal/tt-llk/tt_llk_quasar/llk_lib/llk_math_matmul_4row_arch.h
  tt_metal/tt-llk/tt_llk_quasar/llk_lib/llk_math_reduce.h
  tt_metal/tt-llk/tt_llk_quasar/llk_lib/llk_math_transpose_dest.h
  tt_metal/tt-llk/tt_llk_quasar/llk_lib/llk_math_unary_broadcast.h
Due: none

remove old mamul 4row test
  tt_metal/tt-llk/tests/python_tests/quasar/test_matmul_4row_arch.py
  tt_metal/tt-llk/tests/sources/quasar/matmul_4row_arch_test.cpp
Due: none

Preserve NOC cache dependencies and install Quasar cache headers
  tt_metal/hw/inc/internal/tt-1xx/blackhole/noc_nonblocking_api.h
  tt_metal/hw/inc/internal/tt-1xx/cache.h
  tt_metal/hw/inc/internal/tt-1xx/risc_common.h
  tt_metal/hw/inc/internal/tt-1xx/wormhole/noc_nonblocking_api.h
  tt_metal/hw/sources.cmake
Due: none

mhc: skip the kernel test off P150
  tests/ttnn/nightly/unit_tests/operations/experimental/deepseek_prefill/test_mhc_split_sinkhorn.py
Due: none

Fix the KV-dedup reader arm, and make tp_shard_kv trace-safe
  KV_DEDUP_UNSTRIPE_FINDINGS.md
  models/demos/deepseek_v3_d_p/tests/test_mla.py
  models/demos/deepseek_v3_d_p/tests/test_prefill_transformer_chunked.py
  models/demos/deepseek_v3_d_p/tt/mla/mla.py
  tests/ttnn/unit_tests/operations/experimental/test_high_bw_all_gather.py
  ttnn/cpp/ttnn/operations/experimental/ccl/ring_attention_all_gather_async/device/kernels/ring_attention_all_gather_metadata.hpp
  ttnn/cpp/ttnn/operations/experimental/ccl/ring_attention_all_gather_async/device/kernels/ring_attention_all_gather_reader.cpp
  ttnn/cpp/ttnn/operations/experimental/ccl/ring_attention_all_gather_async/device/kernels/ring_attention_all_gather_writer.cpp
  ttnn/cpp/ttnn/operations/experimental/ccl/ring_attention_all_gather_async/device/kernels/ring_attention_rank_mapping.hpp
  ttnn/cpp/ttnn/operations/experimental/ccl/ring_attention_all_gather_async/device/ring_attention_all_gather_async_multi_core_with_workers_program_factory.cpp
  ttnn/cpp/ttnn/operations/experimental/ccl/ring_attention_all_gather_async/device/ring_attention_all_gather_async_multi_core_with_workers_program_factory.hpp
  ttnn/cpp/ttnn/operations/experimental/high_bw_all_gather/device/high_bw_all_gather_device_operation.cpp
  ttnn/cpp/ttnn/operations/experimental/high_bw_all_gather/device/high_bw_all_gather_device_operation.hpp
  ttnn/cpp/ttnn/operations/experimental/high_bw_all_gather/device/high_bw_all_gather_device_operation_types.hpp
  ttnn/cpp/ttnn/operations/experimental/high_bw_all_gather/device/high_bw_all_gather_unicast_factory.cpp
  ttnn/cpp/ttnn/operations/experimental/high_bw_all_gather/device/kernels/unicast_reader.cpp
  ttnn/cpp/ttnn/operations/experimental/high_bw_all_gather/high_bw_all_gather.cpp
  ttnn/cpp/ttnn/operations/experimental/high_bw_all_gather/high_bw_all_gather.hpp
  ttnn/cpp/ttnn/operations/experimental/high_bw_all_gather/high_bw_all_gather_nanobind.cpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/kernels/dataflow/dataflow_common.hpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/kernels/dataflow/ring_joint_reader.cpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/ring_joint_sdpa_device_operation.cpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/ring_joint_sdpa_device_operation_types.hpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/ring_joint_sdpa_program_factory.cpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

Findings doc: trace safety, the traced perf result, and why the notrace number is wrong
  KV_DEDUP_UNSTRIPE_FINDINGS.md
Due: none

WIP: un-stripe the TP-deduped KVPE slab in ring_mla's reader instead of the gather
  KV_DEDUP_UNSTRIPE_FINDINGS.md
  models/demos/deepseek_v3_d_p/tt/mla/mla.py
  tests/ttnn/unit_tests/operations/experimental/test_tmp_layout_probe.py
  tests/ttnn/unit_tests/operations/experimental/test_tmp_stripe_util.py
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/kernels/dataflow/dataflow_common.hpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/kernels/dataflow/ring_joint_reader.cpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/ring_joint_sdpa_device_operation.cpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/ring_joint_sdpa_device_operation.hpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/ring_joint_sdpa_device_operation_types.hpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/ring_joint_sdpa_program_factory.cpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/sdpa.cpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/sdpa.hpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/sdpa_nanobind.cpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

Enable the ATT address backend for Quasar
  tt_metal/hw/inc/internal/dataflow/dataflow_api_addrgen.h
  tt_metal/hw/inc/internal/tt-2xx/quasar/noc/att/att_config.h
  tt_metal/hw/inc/internal/tt-2xx/quasar/noc/att/noc_address_backend_att.h
  tt_metal/hw/inc/internal/tt-2xx/quasar/noc_address_backend.h
  tt_metal/hw/inc/internal/tt-2xx/quasar/noc_nonblocking_api_v3.h
  tt_metal/hw/sources.cmake
  tt_metal/llrt/hal/tt-2xx/quasar/qa_hal.cpp
  ttnn/cpp/ttnn/operations/ccl/kernel_common/sharding_addrgen.hpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

Add a device test for the stateful NoC APIs
  tests/tt_metal/tt_metal/sources.cmake
  tests/tt_metal/tt_metal/test_dm_stateful_loopback.cpp
  tests/tt_metal/tt_metal/test_kernels/dataflow/stateful_dram_loopback.cpp
Due: none

mhc: gate the kernel test on Blackhole rather than P150
  tests/ttnn/nightly/unit_tests/operations/experimental/deepseek_prefill/test_mhc_split_sinkhorn.py
Due: none

Path conditions:
  block-ttnn-pybind-changes: any of: ^ttnn/
  detect-legacy-device-op: any of: ^ttnn/.*\.hpp$
  validate-golden-csv-columns: any of: ^tests/tt_metal/tt_metal/perf_microbenchmark/routing/golden/.*bandwidth.*\.csv$
