Repository tenstorrent/tt-metal: changes, and which pre-commit hooks are due for each by the changed paths.
All: block-ttnn-pybind-changes, detect-legacy-device-op, validate-golden-csv-columns

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v3.2.0
  hooks:
    - id: trailing-whitespace
      exclude: \.patch$
    - id: end-of-file-fixer
      exclude: \.patch$
    - id: check-yaml
      args: ["--unsafe"]
    - id: check-added-large-files
# Using this mirror lets us use mypyc-compiled black, which is about 2x faster
- repo: https://github.com/psf/black-pre-commit-mirror
  rev: 23.10.1
  hooks:
    - id: black
      language_version: python3
- repo: https://github.com/PyCQA/autoflake
  rev: v2.3.1
  hooks:
    - id: autoflake
      args: [--remove-all-unused-imports, --in-place, --recursive, --exclude=__init__.py]
      files: ^models/  # Run only on files in the models directory
- repo: https://github.com/pycqa/isort
  rev: 5.13.2
  hooks:
    - id: isort
      files: ^models/
      exclude: ^models/(demos/llama3_70b_galaxy|experimental)/
- repo: https://github.com/BlankSpruce/gersemi
  rev: 0.16.2
  hooks:
    - id: gersemi
- repo: https://github.com/adrienverge/yamllint.git
  rev: v1.35.1
  hooks:
    - id: yamllint
- repo: https://github.com/pre-commit/mirrors-clang-format
  rev: v19.1.4
  hooks:
    - id: clang-format
      entry: git-clang-format
      require_serial: true
      types_or: [c++, c]
      args: ["--style=file"]
- repo: local
  hooks:
    - id: validate-metalium-includes
      name: validate-metalium-includes
      entry: python3 scripts/validate_api/validate_includes.py tt_metal/api --check-ttnn-forwards
      language: system
      pass_filenames: false
    - id: validate-metalium-deprecation
      name: validate-metalium-deprecation
      entry: python3 scripts/validate_api/validate_deprecation.py tt_metal/api origin/main
      language: system
      pass_filenames: false
- repo: local
  hooks:
    - id: check-torch-imports-in-ttnn
      name: Verify that there is no global torch import in ttnn
      entry: python3 scripts/validate_no_global_torch_imports.py
      language: system
      pass_filenames: false
- repo: local
  hooks:
    - id: block-ttnn-pybind-changes
      name: Prevent edits to frozen pybind11 sources under ttnn
      entry: python3 scripts/block_ttnn_pybind_changes.py
      language: system
      pass_filenames: true
      files: ^ttnn/
- repo: local
  hooks:
    - id: convert-notebooks-to-py
      name: Convert .ipynb to .py for ttnn basic examples
      entry: python3 scripts/convert_notebooks_to_python.py
      language: system
- repo: local
  hooks:
    - id: detect-legacy-device-op
      name: Detect legacy device operation classes in newly added files
      entry: python3 scripts/detect_legacy_device_op.py --check-new-only
      language: system
      types: [file]
      files: ^ttnn/.*\.hpp$
      pass_filenames: true
      require_serial: true
- repo: local
  hooks:
    - id: validate-golden-csv-columns
      name: Validate golden bandwidth CSV column headers
      entry: bash .github/scripts/utils/validate_golden_csv_columns.sh
      language: system
      pass_filenames: false
      files: ^tests/tt_metal/tt_metal/perf_microbenchmark/routing/golden/.*bandwidth.*\.csv$

[bringup] rms_norm_ttnn: C++ host side for ttnn.bringup.rms_norm (same kernels, same program)
  models/demos/common/bringup/selftest/test_fork_cases.py
  ttnn/ttnn/bringup/INDEX.md
  ttnn/ttnn/bringup/__init__.py
  ttnn/ttnn/bringup/bringup_nanobind.cpp
  ttnn/ttnn/bringup/rms_norm_ttnn/CMakeLists.txt
  ttnn/ttnn/bringup/rms_norm_ttnn/device/rms_norm_ttnn_device_operation.cpp
  ttnn/ttnn/bringup/rms_norm_ttnn/device/rms_norm_ttnn_device_operation.hpp
  ttnn/ttnn/bringup/rms_norm_ttnn/device/rms_norm_ttnn_device_operation_types.hpp
  ttnn/ttnn/bringup/rms_norm_ttnn/device/rms_norm_ttnn_program_factory.cpp
  ttnn/ttnn/bringup/rms_norm_ttnn/device/rms_norm_ttnn_program_factory.hpp
  ttnn/ttnn/bringup/rms_norm_ttnn/rms_norm_ttnn.cpp
  ttnn/ttnn/bringup/rms_norm_ttnn/rms_norm_ttnn.hpp
  ttnn/ttnn/bringup/rms_norm_ttnn/rms_norm_ttnn.py
  ttnn/ttnn/bringup/rms_norm_ttnn/rms_norm_ttnn_nanobind.cpp
  ttnn/ttnn/bringup/rms_norm_ttnn/rms_norm_ttnn_nanobind.hpp
  ttnn/ttnn/bringup/rms_norm_ttnn/rms_norm_ttnn_program_descriptor.py
  ttnn/ttnn/bringup/rms_norm_ttnn/sources.cmake
Due: block-ttnn-pybind-changes, detect-legacy-device-op

[bringup] Pause precision optimizations: drop the fidelity / weight-precision steps from the perf role and picks
  models/demos/common/bringup/briefs/roles.yaml
  models/demos/common/bringup/skill/bringup/SKILL.md
Due: none

[rms_norm_ttnn] Port the compute kernel to main's eltwise-chain API
  ttnn/ttnn/operations/rms_norm_ttnn/kernels/rms_norm_ttnn_compute.cpp
Due: block-ttnn-pybind-changes

[bringup] Gate profile JSONs and published dashboards for Gemma-4 and MiMo-V2.6
  models/demos/gemma4_a4b_d_p/bringup/dashboard/index.html
  models/demos/gemma4_a4b_d_p/bringup/dashboard/teletext.html
  models/demos/gemma4_a4b_d_p/bringup/results/P.3_profile.json
  models/demos/gemma4_a4b_d_p/bringup/results/X.3_profile.json
  models/demos/mimo_v2_6_d_p/bringup/dashboard/index.html
  models/demos/mimo_v2_6_d_p/bringup/dashboard/teletext.html
  models/demos/mimo_v2_6_d_p/bringup/results/P.1_profile.json
  models/demos/mimo_v2_6_d_p/bringup/results/P.2_profile.json
  models/demos/mimo_v2_6_d_p/bringup/results/X.1_profile.json
  models/demos/mimo_v2_6_d_p/bringup/results/X.3_profile.json
Due: none

[bringup] Owner precision rule: HiFi4 in functional steps; perf lowers fidelity per matmul group, then weights
  models/demos/common/bringup/agents/bringup-engineer.md
  models/demos/common/bringup/briefs/roles.yaml
  models/demos/common/bringup/skill/bringup/SKILL.md
Due: none

scripts: per-card device pool for run_safe_pytest.sh / tt-probe.sh, shared runner lib, inline precompile fixes
  scripts/lib/tt_device_pool.sh
  scripts/lib/tt_safe_run.sh
  scripts/run_safe_pytest.sh
  scripts/tt-probe.sh
  tests/plugins/up_front_collect.py
  tests/ttnn/unit_tests/test_device_pool_smoke.py
Due: none

[mimo_v2_6_d_p] Attention V at its real head dim 128 (ttnn.bringup SDPA); MIMO_V_PAD=1 keeps the padded path
  models/demos/mimo_v2_6_d_p/bringup/hooks.py
  models/demos/mimo_v2_6_d_p/tt/attention.py
  models/demos/mimo_v2_6_d_p/tt/model.py
  models/demos/mimo_v2_6_d_p/tt/runners/kv_contract.py
Due: none

[mimo_v2_6_d_p_2x2][G.s56320] Golden s56320: 56320 tokens in 5120-token chunks
  models/demos/mimo_v2_6_d_p_2x2/bringup/results/G.s56320.json
  models/demos/mimo_v2_6_d_p_2x2/bringup/state.json
Due: none

[mimo_v2_6_d_p][S.sliding_moe.02] Gate re-run after the re-freeze (owner-approved attention limits)
  models/demos/mimo_v2_6_d_p/bringup/results/S.sliding_moe.02.json
Due: none

[bringup] dispatch fork: source-op tests (best-effort) and baseline
  models/demos/common/bringup/skill/bringup-fork-op/SKILL.md
  models/demos/common/bringup/testing/fork_source.py
  ttnn/ttnn/bringup/dispatch/tests/source.yaml
  ttnn/ttnn/bringup/dispatch/tests/source_baseline.json
Due: block-ttnn-pybind-changes

[bringup] rms_norm_ttnn CHANGELOG: change 2 (return_residual_sum); known issue: single-card reset breaks mesh links
  models/demos/common/bringup/knowledge/known_issues.md
  ttnn/ttnn/bringup/rms_norm_ttnn/CHANGELOG.md
Due: block-ttnn-pybind-changes

[mimo_v2_6_d_p_2x2][R.2] HF sanity on the model's loader (revision, smoke, accuracy floor); reference matches HF per layer and on logits (fp32)
  models/demos/mimo_v2_6_d_p_2x2/bringup/results/R.2.json
  models/demos/mimo_v2_6_d_p_2x2/bringup/state.json
Due: none

[bringup] offset_cumsum fork: source-op tests (best-effort) and baseline
  ttnn/ttnn/bringup/offset_cumsum/tests/source.yaml
  ttnn/ttnn/bringup/offset_cumsum/tests/source_baseline.json
Due: block-ttnn-pybind-changes

[mimo_v2_6_d_p][O.1] Derived-op tests: a random-input case for every ttnn.bringup call this model makes
  models/demos/mimo_v2_6_d_p/bringup/results/O.1.json
  models/demos/mimo_v2_6_d_p/bringup/state.json
Due: none

[mimo_v2_6_d_p][O.1] Derived-op tests: a random-input case for every ttnn.bringup call this model makes
  models/demos/mimo_v2_6_d_p/bringup/results/O.1.json
  models/demos/mimo_v2_6_d_p/bringup/results/fork_calls.json
  models/demos/mimo_v2_6_d_p/bringup/state.json
  ttnn/ttnn/bringup/rms_norm_ttnn/tests/cases.py
  ttnn/ttnn/bringup/rms_norm_ttnn/tests/test_rms_norm_ttnn.py
Due: block-ttnn-pybind-changes

[mimo_v2_6_d_p][S.sliding_moe.02][freeze] sliding_moe block with steps 1-2 on device (last: attention)
  models/demos/mimo_v2_6_d_p/bringup/tasks.yaml
  models/demos/mimo_v2_6_d_p/tests/bringup/test_swap_sliding_moe_02_attention.py
Due: none

[mimo_v2_6_d_p] Breadcrumbs for attention V 128; sdpa fork now used by MiMo
  models/demos/mimo_v2_6_d_p/bringup/BREADCRUMBS.md
  ttnn/ttnn/bringup/INDEX.md
  ttnn/ttnn/bringup/sdpa/CHANGELOG.md
Due: block-ttnn-pybind-changes

[mimo_v2_6_d_p_2x2][G.s4096] Golden s4096: 4096 tokens in 2048-token chunks, full dumps
  models/demos/mimo_v2_6_d_p_2x2/bringup/results/G.s4096.json
  models/demos/mimo_v2_6_d_p_2x2/bringup/state.json
Due: none

[mimo_v2_6_d_p_2x2][G.s16384] Golden s16384: 16384 tokens in 8192-token chunks
  models/demos/mimo_v2_6_d_p_2x2/bringup/results/G.s16384.json
  models/demos/mimo_v2_6_d_p_2x2/bringup/state.json
Due: none

[mimo_v2_6_d_p] Breadcrumbs and known issues from the stopped O.1 attempts; rms_norm fix and swap 02 limits
  models/demos/common/bringup/knowledge/known_issues.md
  models/demos/mimo_v2_6_d_p/bringup/BREADCRUMBS.md
Due: none

[bringup] combine fork: source-op tests (best-effort) and baseline
  ttnn/ttnn/bringup/combine/tests/source.yaml
  ttnn/ttnn/bringup/combine/tests/source_baseline.json
Due: block-ttnn-pybind-changes

[mimo_v2_6_d_p][O.1] Derived-op tests: a random-input case for every ttnn.bringup call this model makes
  models/demos/mimo_v2_6_d_p/bringup/BREADCRUMBS.md
  models/demos/mimo_v2_6_d_p/bringup/results/O.1.json
  models/demos/mimo_v2_6_d_p/bringup/results/fork_calls.json
  models/demos/mimo_v2_6_d_p/bringup/state.json
  ttnn/ttnn/bringup/sdpa/CHANGELOG.md
  ttnn/ttnn/bringup/sdpa/tests/cases.py
  ttnn/ttnn/bringup/sdpa/tests/reference.py
  ttnn/ttnn/bringup/sdpa/tests/test_sdpa.py
Due: block-ttnn-pybind-changes

[bringup] Fork recipe: iterate on targeted tests and the model's gate; full regression once at the end
  models/demos/common/bringup/agents/bringup-engineer.md
  models/demos/common/bringup/skill/bringup-fork-op/SKILL.md
Due: none

[bringup] Recipe for extending a bring-up op: baseline, option default off, old tests again, new tests
  models/demos/common/bringup/agents/bringup-engineer.md
  models/demos/common/bringup/skill/bringup-fork-op/SKILL.md
Due: none

[bringup] unified_routed_expert_ffn fork: source-op tests (best-effort) and baseline
  models/demos/common/bringup/selftest/test_fork_cases.py
  models/demos/common/bringup/skill/bringup-fork-op/SKILL.md
  models/demos/common/bringup/testing/fork_source.py
  ttnn/ttnn/bringup/unified_routed_expert_ffn/tests/source.yaml
  ttnn/ttnn/bringup/unified_routed_expert_ffn/tests/source_baseline.json
Due: block-ttnn-pybind-changes

[bringup] rms_norm fork: keep the cross-chunk sum of squares in fp32 (bug fix)
  ttnn/ttnn/bringup/INDEX.md
  ttnn/ttnn/bringup/rms_norm_ttnn/CHANGELOG.md
  ttnn/ttnn/bringup/rms_norm_ttnn/device/rms_norm_ttnn_program_factory.cpp
  ttnn/ttnn/bringup/rms_norm_ttnn/kernels/rms_norm_ttnn_compute.cpp
  ttnn/ttnn/bringup/rms_norm_ttnn/rms_norm_ttnn_program_descriptor.py
  ttnn/ttnn/bringup/rms_norm_ttnn/tests/unit/test_rms_norm_ttnn_fp32_stats.py
Due: block-ttnn-pybind-changes

[mimo_v2_6_d_p_2x2][R.3] Reference chunked == one-shot (4096 in 2048) and block graphs replay exactly
  models/demos/mimo_v2_6_d_p_2x2/bringup/results/R.3.json
  models/demos/mimo_v2_6_d_p_2x2/bringup/results/block_graphs.json
  models/demos/mimo_v2_6_d_p_2x2/bringup/state.json
Due: none

[bringup] sdpa fork: non-MLA V head dim narrower than K's (MiMo: K 192, V 128)
  ttnn/ttnn/bringup/INDEX.md
  ttnn/ttnn/bringup/sdpa/CHANGELOG.md
  ttnn/ttnn/bringup/sdpa/device/sdpa_device_operation.cpp
  ttnn/ttnn/bringup/sdpa/device/sdpa_program_factory.cpp
  ttnn/ttnn/bringup/sdpa/tests/__init__.py
  ttnn/ttnn/bringup/sdpa/tests/source.yaml
  ttnn/ttnn/bringup/sdpa/tests/unit/__init__.py
  ttnn/ttnn/bringup/sdpa/tests/unit/conftest.py
  ttnn/ttnn/bringup/sdpa/tests/unit/test_sdpa_narrow_v.py
Due: block-ttnn-pybind-changes

[mimo_v2_6_d_p_2x2][B.1] Box: mesh opens with the spec's device params, collectives are exact
  models/demos/mimo_v2_6_d_p_2x2/bringup/results/B.1.json
  models/demos/mimo_v2_6_d_p_2x2/bringup/state.json
Due: none

[bringup] Forks carry their source op's tests: best-effort manifest, in-place swap, per-case baseline
  models/demos/common/bringup/agents/bringup-engineer.md
  models/demos/common/bringup/selftest/test_fork_cases.py
  models/demos/common/bringup/skill/bringup-fork-op/SKILL.md
  models/demos/common/bringup/testing/fork_source.py
  ttnn/ttnn/bringup/INDEX.md
  ttnn/ttnn/bringup/fork_op.py
  ttnn/ttnn/bringup/rms_norm_ttnn/tests/source.yaml
  ttnn/ttnn/bringup/rms_norm_ttnn/tests/source_baseline.json
Due: block-ttnn-pybind-changes

[bringup] sdpa fork: source-op tests (best-effort) and baseline
  ttnn/ttnn/bringup/sdpa/tests/source.yaml
  ttnn/ttnn/bringup/sdpa/tests/source_baseline.json
Due: block-ttnn-pybind-changes

[mimo_v2_6_d_p_2x2][PL.0] Ledger: add the component, swap, ladder, contract and perf tasks from the block graphs
  models/demos/mimo_v2_6_d_p_2x2/bringup/results/PL.0.json
  models/demos/mimo_v2_6_d_p_2x2/bringup/state.json
  models/demos/mimo_v2_6_d_p_2x2/bringup/tasks.yaml
Due: none

[mimo_v2_6_d_p_2x2][R.1] Checkpoint, intake approval, canonical prompt
  models/demos/mimo_v2_6_d_p_2x2/bringup/results/R.1.json
  models/demos/mimo_v2_6_d_p_2x2/bringup/state.json
Due: none

[bringup] rms_norm_ttnn: opt-in return_residual_sum returns (y, t = x + r) from one call
  ttnn/ttnn/bringup/INDEX.md
  ttnn/ttnn/bringup/rms_norm_ttnn/device/rms_norm_ttnn_device_operation.cpp
  ttnn/ttnn/bringup/rms_norm_ttnn/device/rms_norm_ttnn_device_operation.hpp
  ttnn/ttnn/bringup/rms_norm_ttnn/device/rms_norm_ttnn_device_operation_types.hpp
  ttnn/ttnn/bringup/rms_norm_ttnn/device/rms_norm_ttnn_program_factory.cpp
  ttnn/ttnn/bringup/rms_norm_ttnn/device/rms_norm_ttnn_program_factory.hpp
  ttnn/ttnn/bringup/rms_norm_ttnn/kernels/rms_norm_ttnn_compute.cpp
  ttnn/ttnn/bringup/rms_norm_ttnn/kernels/rms_norm_ttnn_writer.cpp
  ttnn/ttnn/bringup/rms_norm_ttnn/rms_norm_ttnn.cpp
  ttnn/ttnn/bringup/rms_norm_ttnn/rms_norm_ttnn.hpp
  ttnn/ttnn/bringup/rms_norm_ttnn/rms_norm_ttnn.py
  ttnn/ttnn/bringup/rms_norm_ttnn/rms_norm_ttnn_nanobind.cpp
  ttnn/ttnn/bringup/rms_norm_ttnn/tests/unit/test_rms_norm_ttnn_residual_output.py
Due: block-ttnn-pybind-changes, detect-legacy-device-op

[mimo_v2_6_d_p_2x2] Intake: spec from the 1x4 prior (mesh 2x2), hooks, early ledger, run1
  models/demos/mimo_v2_6_d_p_2x2/__init__.py
  models/demos/mimo_v2_6_d_p_2x2/bringup/.gitignore
  models/demos/mimo_v2_6_d_p_2x2/bringup/BREADCRUMBS.md
  models/demos/mimo_v2_6_d_p_2x2/bringup/__init__.py
  models/demos/mimo_v2_6_d_p_2x2/bringup/approvals.yaml
  models/demos/mimo_v2_6_d_p_2x2/bringup/hooks.py
  models/demos/mimo_v2_6_d_p_2x2/bringup/spec.yaml
  models/demos/mimo_v2_6_d_p_2x2/bringup/state.json
  models/demos/mimo_v2_6_d_p_2x2/bringup/tasks.yaml
Due: none

[mimo_v2_6_d_p] Fuse each residual add with the RMSNorm after it (ttnn.bringup.rms_norm return_residual_sum)
  models/demos/mimo_v2_6_d_p/tt/model.py
  models/demos/mimo_v2_6_d_p/tt/rms_norm.py
Due: none

[mimo_v2_6_d_p_2x2] Plan approved by the owner; supervision log
  models/demos/mimo_v2_6_d_p_2x2/bringup/approvals.yaml
  models/demos/mimo_v2_6_d_p_2x2/bringup/supervision.md
Due: none

[bringup] dashboard: vs-prior view (accuracy, perf, task summary) when the spec sets prior
  models/demos/common/bringup/dashboard/export.py
  models/demos/common/bringup/dashboard/teletext_template.html
  models/demos/common/bringup/dashboard/template.html
  models/demos/common/bringup/selftest/test_dashboard_prior.py
Due: none

[mimo_v2_6_d_p_2x2][C.sliding_moe.attention][freeze] sliding_moe attention (attention) on device, layer 1
  models/demos/mimo_v2_6_d_p_2x2/bringup/tasks.yaml
  models/demos/mimo_v2_6_d_p_2x2/tests/bringup/test_c_sliding_moe_attention.py
Due: none
