Repository tenstorrent/tt-metal: changes, and which pre-commit hooks are due for each by the changed paths.
All: block-ttnn-pybind-changes, detect-legacy-device-op, validate-golden-csv-columns

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v3.2.0
  hooks:
    - id: trailing-whitespace
      exclude: \.patch$
    - id: end-of-file-fixer
      exclude: \.patch$
    - id: check-yaml
      args: ["--unsafe"]
    - id: check-added-large-files
# Using this mirror lets us use mypyc-compiled black, which is about 2x faster
- repo: https://github.com/psf/black-pre-commit-mirror
  rev: 23.10.1
  hooks:
    - id: black
      language_version: python3
- repo: https://github.com/PyCQA/autoflake
  rev: v2.3.1
  hooks:
    - id: autoflake
      args: [--remove-all-unused-imports, --in-place, --recursive, --exclude=__init__.py]
      files: ^models/  # Run only on files in the models directory
- repo: https://github.com/pycqa/isort
  rev: 5.13.2
  hooks:
    - id: isort
      files: ^models/
      exclude: ^models/(demos/llama3_70b_galaxy|experimental)/
- repo: https://github.com/BlankSpruce/gersemi
  rev: 0.16.2
  hooks:
    - id: gersemi
- repo: https://github.com/adrienverge/yamllint.git
  rev: v1.35.1
  hooks:
    - id: yamllint
- repo: https://github.com/pre-commit/mirrors-clang-format
  rev: v19.1.4
  hooks:
    - id: clang-format
      entry: git-clang-format
      require_serial: true
      types_or: [c++, c]
      args: ["--style=file"]
- repo: local
  hooks:
    - id: validate-metalium-includes
      name: validate-metalium-includes
      entry: python3 scripts/validate_api/validate_includes.py tt_metal/api --check-ttnn-forwards
      language: system
      pass_filenames: false
    - id: validate-metalium-deprecation
      name: validate-metalium-deprecation
      entry: python3 scripts/validate_api/validate_deprecation.py tt_metal/api origin/main
      language: system
      pass_filenames: false
- repo: local
  hooks:
    - id: check-torch-imports-in-ttnn
      name: Verify that there is no global torch import in ttnn
      entry: python3 scripts/validate_no_global_torch_imports.py
      language: system
      pass_filenames: false
- repo: local
  hooks:
    - id: block-ttnn-pybind-changes
      name: Prevent edits to frozen pybind11 sources under ttnn
      entry: python3 scripts/block_ttnn_pybind_changes.py
      language: system
      pass_filenames: true
      files: ^ttnn/
- repo: local
  hooks:
    - id: convert-notebooks-to-py
      name: Convert .ipynb to .py for ttnn basic examples
      entry: python3 scripts/convert_notebooks_to_python.py
      language: system
- repo: local
  hooks:
    - id: detect-legacy-device-op
      name: Detect legacy device operation classes in newly added files
      entry: python3 scripts/detect_legacy_device_op.py --check-new-only
      language: system
      types: [file]
      files: ^ttnn/.*\.hpp$
      pass_filenames: true
      require_serial: true
- repo: local
  hooks:
    - id: validate-golden-csv-columns
      name: Validate golden bandwidth CSV column headers
      entry: bash .github/scripts/utils/validate_golden_csv_columns.sh
      language: system
      pass_filenames: false
      files: ^tests/tt_metal/tt_metal/perf_microbenchmark/routing/golden/.*bandwidth.*\.csv$

[Quasar] matmul unified: MN chunk vocabulary, batch as the outermost loop
  tests/ttnn/nightly/unit_tests/operations/experimental/quasar/test_matmul_unified.py
  ttnn/cpp/ttnn/operations/experimental/quasar/matmul/device/config/matmul_program_config_types.hpp
  ttnn/cpp/ttnn/operations/experimental/quasar/matmul/device/factory/matmul_unified_program_factory.cpp
  ttnn/cpp/ttnn/operations/experimental/quasar/matmul/device/factory/matmul_unified_program_factory.hpp
  ttnn/cpp/ttnn/operations/experimental/quasar/matmul/device/kernels/compute/unified_matmul_compute.cpp
  ttnn/cpp/ttnn/operations/experimental/quasar/matmul/device/kernels/dataflow/unified_matmul_reader.cpp
  ttnn/cpp/ttnn/operations/experimental/quasar/matmul/device/kernels/dataflow/unified_matmul_writer.cpp
  ttnn/cpp/ttnn/operations/experimental/quasar/matmul/device/matmul_device_operation.cpp
  ttnn/cpp/ttnn/operations/experimental/quasar/matmul/matmul_nanobind.cpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

[Quasar] matmul unified: block / subblock / tile, loops over m, n, k
  tests/ttnn/nightly/unit_tests/operations/experimental/quasar/test_matmul_unified.py
  ttnn/cpp/ttnn/operations/experimental/quasar/matmul/device/config/matmul_program_config_types.hpp
  ttnn/cpp/ttnn/operations/experimental/quasar/matmul/device/factory/matmul_unified_program_factory.cpp
  ttnn/cpp/ttnn/operations/experimental/quasar/matmul/device/factory/matmul_unified_program_factory.hpp
  ttnn/cpp/ttnn/operations/experimental/quasar/matmul/device/kernels/compute/unified_matmul_compute.cpp
  ttnn/cpp/ttnn/operations/experimental/quasar/matmul/device/kernels/dataflow/unified_matmul_reader.cpp
  ttnn/cpp/ttnn/operations/experimental/quasar/matmul/device/kernels/dataflow/unified_matmul_writer.cpp
  ttnn/cpp/ttnn/operations/experimental/quasar/matmul/device/matmul_device_operation.cpp
  ttnn/cpp/ttnn/operations/experimental/quasar/matmul/matmul_nanobind.cpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

[Quasar] matmul unified: rename the last C_block identifier (alias flag) to C_chunk
  ttnn/cpp/ttnn/operations/experimental/quasar/matmul/device/factory/matmul_unified_program_factory.cpp
  ttnn/cpp/ttnn/operations/experimental/quasar/matmul/device/factory/matmul_unified_program_factory.hpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

[Quasar] matmul unified: back to one run of (batch, C block) per core
  ttnn/cpp/ttnn/operations/experimental/quasar/matmul/device/config/matmul_program_config_types.hpp
  ttnn/cpp/ttnn/operations/experimental/quasar/matmul/device/factory/matmul_unified_program_factory.cpp
  ttnn/cpp/ttnn/operations/experimental/quasar/matmul/device/factory/matmul_unified_program_factory.hpp
  ttnn/cpp/ttnn/operations/experimental/quasar/matmul/device/kernels/compute/unified_matmul_compute.cpp
  ttnn/cpp/ttnn/operations/experimental/quasar/matmul/device/kernels/dataflow/unified_matmul_reader.cpp
  ttnn/cpp/ttnn/operations/experimental/quasar/matmul/device/kernels/dataflow/unified_matmul_writer.cpp
  ttnn/cpp/ttnn/operations/experimental/quasar/matmul/device/matmul_device_operation.cpp
  ttnn/cpp/ttnn/operations/experimental/quasar/matmul/matmul_nanobind.cpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

[Quasar] matmul unified: C_block / subblock / batch only, C_block outermost, compile-time counts
  tests/ttnn/nightly/unit_tests/operations/experimental/quasar/test_matmul_unified.py
  ttnn/cpp/ttnn/operations/experimental/quasar/matmul/device/config/matmul_program_config_types.hpp
  ttnn/cpp/ttnn/operations/experimental/quasar/matmul/device/factory/matmul_unified_program_factory.cpp
  ttnn/cpp/ttnn/operations/experimental/quasar/matmul/device/factory/matmul_unified_program_factory.hpp
  ttnn/cpp/ttnn/operations/experimental/quasar/matmul/device/kernels/compute/unified_matmul_compute.cpp
  ttnn/cpp/ttnn/operations/experimental/quasar/matmul/device/kernels/dataflow/unified_matmul_reader.cpp
  ttnn/cpp/ttnn/operations/experimental/quasar/matmul/device/kernels/dataflow/unified_matmul_writer.cpp
  ttnn/cpp/ttnn/operations/experimental/quasar/matmul/device/matmul_device_operation.cpp
  ttnn/cpp/ttnn/operations/experimental/quasar/matmul/matmul_nanobind.cpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

[Quasar] matmul unified: last line-wrapped 'iteration' in the compute header
  ttnn/cpp/ttnn/operations/experimental/quasar/matmul/device/kernels/compute/unified_matmul_compute.cpp
Due: block-ttnn-pybind-changes

[Quasar] matmul unified: drop accumulate_across_K_chunks; reload_partials reads K_chunk > 0 in both protocols
  ttnn/cpp/ttnn/operations/experimental/quasar/matmul/device/kernels/compute/unified_matmul_compute.cpp
Due: block-ttnn-pybind-changes

[Quasar] matmul unified: no preprocessor in the compute kernel
  ttnn/cpp/ttnn/operations/experimental/quasar/matmul/device/factory/matmul_unified_program_factory.cpp
  ttnn/cpp/ttnn/operations/experimental/quasar/matmul/device/kernels/compute/unified_matmul_compute.cpp
Due: block-ttnn-pybind-changes

[Quasar] matmul unified: one name for the C slice origin
  ttnn/cpp/ttnn/operations/experimental/quasar/matmul/device/factory/matmul_unified_program_factory.cpp
  ttnn/cpp/ttnn/operations/experimental/quasar/matmul/device/factory/matmul_unified_program_factory.hpp
  ttnn/cpp/ttnn/operations/experimental/quasar/matmul/device/kernels/dataflow/unified_matmul_reader.cpp
  ttnn/cpp/ttnn/operations/experimental/quasar/matmul/device/kernels/dataflow/unified_matmul_writer.cpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

[Quasar] matmul unified: pass the device to plan_unified_matmul explicitly
  ttnn/cpp/ttnn/operations/experimental/quasar/matmul/device/factory/matmul_unified_program_factory.cpp
  ttnn/cpp/ttnn/operations/experimental/quasar/matmul/device/factory/matmul_unified_program_factory.hpp
  ttnn/cpp/ttnn/operations/experimental/quasar/matmul/device/matmul_device_operation.cpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

[Quasar] matmul unified: one slot per tile; clip with loop bounds, not branches
  ttnn/cpp/ttnn/operations/experimental/quasar/matmul/device/factory/matmul_unified_program_factory.cpp
  ttnn/cpp/ttnn/operations/experimental/quasar/matmul/device/kernels/dataflow/unified_matmul_reader.cpp
  ttnn/cpp/ttnn/operations/experimental/quasar/matmul/device/kernels/dataflow/unified_matmul_writer.cpp
Due: block-ttnn-pybind-changes

[Quasar] matmul unified: size_dfbs keeps only candidate-dependent logic
  ttnn/cpp/ttnn/operations/experimental/quasar/matmul/device/factory/matmul_unified_program_factory.cpp
Due: block-ttnn-pybind-changes

[Quasar] matmul unified: edge clipping in the loop conditions
  ttnn/cpp/ttnn/operations/experimental/quasar/matmul/device/kernels/dataflow/unified_matmul_reader.cpp
  ttnn/cpp/ttnn/operations/experimental/quasar/matmul/device/kernels/dataflow/unified_matmul_writer.cpp
Due: block-ttnn-pybind-changes

[Quasar] matmul unified: maximize subblock size regardless of divisibility
  tests/ttnn/nightly/unit_tests/operations/experimental/quasar/test_matmul_unified.py
  ttnn/cpp/ttnn/operations/experimental/quasar/matmul/device/config/matmul_program_config_types.hpp
  ttnn/cpp/ttnn/operations/experimental/quasar/matmul/device/factory/matmul_unified_program_factory.cpp
  ttnn/cpp/ttnn/operations/experimental/quasar/matmul/device/factory/matmul_unified_program_factory.hpp
  ttnn/cpp/ttnn/operations/experimental/quasar/matmul/device/kernels/compute/unified_matmul_compute.cpp
  ttnn/cpp/ttnn/operations/experimental/quasar/matmul/device/kernels/dataflow/unified_matmul_reader.cpp
  ttnn/cpp/ttnn/operations/experimental/quasar/matmul/device/kernels/dataflow/unified_matmul_writer.cpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

[Quasar] matmul unified: inline single-use helpers in the factory
  ttnn/cpp/ttnn/operations/experimental/quasar/matmul/device/factory/matmul_unified_program_factory.cpp
  ttnn/cpp/ttnn/operations/experimental/quasar/matmul/device/factory/matmul_unified_program_factory.hpp
  ttnn/cpp/ttnn/operations/experimental/quasar/matmul/device/matmul_device_operation.cpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

[Quasar] matmul unified: keep the plan scalar — derive per-core RTAs in the factory
  ttnn/cpp/ttnn/operations/experimental/quasar/matmul/device/factory/matmul_unified_program_factory.cpp
  ttnn/cpp/ttnn/operations/experimental/quasar/matmul/device/factory/matmul_unified_program_factory.hpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

[Quasar] matmul unified reader: one A block per K chunk
  ttnn/cpp/ttnn/operations/experimental/quasar/matmul/device/kernels/dataflow/unified_matmul_reader.cpp
Due: block-ttnn-pybind-changes

[Quasar] matmul unified: inline the partials reload and the credit-only pop at their call sites
  ttnn/cpp/ttnn/operations/experimental/quasar/matmul/device/kernels/compute/unified_matmul_compute.cpp
Due: block-ttnn-pybind-changes

[Quasar] matmul unified: subblock chooser picks the largest subblock that fits L1
  tests/ttnn/nightly/unit_tests/operations/experimental/quasar/test_matmul_unified.py
  ttnn/cpp/ttnn/operations/experimental/quasar/matmul/device/factory/matmul_unified_program_factory.cpp
Due: block-ttnn-pybind-changes

[Quasar] matmul unified: finish the DFB naming sweep — no ring vocabulary left
  ttnn/cpp/ttnn/operations/experimental/quasar/matmul/device/config/matmul_program_config_types.hpp
  ttnn/cpp/ttnn/operations/experimental/quasar/matmul/device/factory/matmul_unified_program_factory.cpp
  ttnn/cpp/ttnn/operations/experimental/quasar/matmul/device/factory/matmul_unified_program_factory.hpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

[Quasar] matmul unified: consistent kernel naming
  ttnn/cpp/ttnn/operations/experimental/quasar/matmul/device/kernels/compute/unified_matmul_compute.cpp
  ttnn/cpp/ttnn/operations/experimental/quasar/matmul/device/kernels/dataflow/unified_matmul_reader.cpp
  ttnn/cpp/ttnn/operations/experimental/quasar/matmul/device/kernels/dataflow/unified_matmul_writer.cpp
Due: block-ttnn-pybind-changes

[Quasar] matmul unified: C_slice ring, one pack target per K chunk
  ttnn/cpp/ttnn/operations/experimental/quasar/matmul/device/factory/matmul_unified_program_factory.cpp
  ttnn/cpp/ttnn/operations/experimental/quasar/matmul/device/factory/matmul_unified_program_factory.hpp
  ttnn/cpp/ttnn/operations/experimental/quasar/matmul/device/kernels/compute/unified_matmul_compute.cpp
  ttnn/cpp/ttnn/operations/experimental/quasar/matmul/device/kernels/dataflow/unified_matmul_writer.cpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

[Quasar] matmul unified: use the DFB API nouns — entry, not ring slot
  ttnn/cpp/ttnn/operations/experimental/quasar/matmul/device/factory/matmul_unified_program_factory.cpp
  ttnn/cpp/ttnn/operations/experimental/quasar/matmul/device/factory/matmul_unified_program_factory.hpp
  ttnn/cpp/ttnn/operations/experimental/quasar/matmul/device/kernels/compute/unified_matmul_compute.cpp
  ttnn/cpp/ttnn/operations/experimental/quasar/matmul/device/kernels/dataflow/unified_matmul_reader.cpp
  ttnn/cpp/ttnn/operations/experimental/quasar/matmul/device/kernels/dataflow/unified_matmul_writer.cpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

[Quasar] matmul unified: trim header comments to the contracts
  ttnn/cpp/ttnn/operations/experimental/quasar/matmul/device/config/matmul_program_config_types.hpp
  ttnn/cpp/ttnn/operations/experimental/quasar/matmul/device/factory/matmul_unified_program_factory.cpp
  ttnn/cpp/ttnn/operations/experimental/quasar/matmul/device/factory/matmul_unified_program_factory.hpp
  ttnn/cpp/ttnn/operations/experimental/quasar/matmul/device/kernels/compute/unified_matmul_compute.cpp
  ttnn/cpp/ttnn/operations/experimental/quasar/matmul/device/kernels/dataflow/unified_matmul_reader.cpp
  ttnn/cpp/ttnn/operations/experimental/quasar/matmul/device/kernels/dataflow/unified_matmul_writer.cpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

[Quasar] matmul unified: the plan is final; borrow flags as compile-time args
  ttnn/cpp/ttnn/operations/experimental/quasar/matmul/device/factory/matmul_unified_program_factory.cpp
  ttnn/cpp/ttnn/operations/experimental/quasar/matmul/device/factory/matmul_unified_program_factory.hpp
  ttnn/cpp/ttnn/operations/experimental/quasar/matmul/device/kernels/dataflow/unified_matmul_reader.cpp
  ttnn/cpp/ttnn/operations/experimental/quasar/matmul/device/kernels/dataflow/unified_matmul_writer.cpp
  ttnn/cpp/ttnn/operations/experimental/quasar/matmul/device/matmul_device_operation.cpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

[Quasar] matmul unified: shrink comments to the essentials
  ttnn/cpp/ttnn/operations/experimental/quasar/matmul/device/config/matmul_program_config_types.hpp
  ttnn/cpp/ttnn/operations/experimental/quasar/matmul/device/factory/matmul_unified_program_factory.cpp
  ttnn/cpp/ttnn/operations/experimental/quasar/matmul/device/factory/matmul_unified_program_factory.hpp
  ttnn/cpp/ttnn/operations/experimental/quasar/matmul/device/kernels/compute/unified_matmul_compute.cpp
  ttnn/cpp/ttnn/operations/experimental/quasar/matmul/device/kernels/dataflow/unified_matmul_reader.cpp
  ttnn/cpp/ttnn/operations/experimental/quasar/matmul/device/kernels/dataflow/unified_matmul_writer.cpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

[Quasar] matmul unified: B batch stride instead of a broadcast flag
  ttnn/cpp/ttnn/operations/experimental/quasar/matmul/device/factory/matmul_unified_program_factory.cpp
  ttnn/cpp/ttnn/operations/experimental/quasar/matmul/device/factory/matmul_unified_program_factory.hpp
  ttnn/cpp/ttnn/operations/experimental/quasar/matmul/device/kernels/dataflow/unified_matmul_reader.cpp
  ttnn/cpp/ttnn/operations/experimental/quasar/matmul/device/kernels/dataflow/unified_matmul_writer.cpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

[Quasar] matmul unified reader: pad A's last K tile inside the row loop
  ttnn/cpp/ttnn/operations/experimental/quasar/matmul/device/kernels/dataflow/unified_matmul_reader.cpp
Due: block-ttnn-pybind-changes

[Quasar] matmul unified: describe maximize_subblock_size by behavior only
  ttnn/cpp/ttnn/operations/experimental/quasar/matmul/device/factory/matmul_unified_program_factory.cpp
Due: block-ttnn-pybind-changes

[Quasar] matmul unified: MN chunk -> C slice; MN_chunk is only the loop index
  tests/ttnn/nightly/unit_tests/operations/experimental/quasar/test_matmul_unified.py
  ttnn/cpp/ttnn/operations/experimental/quasar/matmul/device/config/matmul_program_config_types.hpp
  ttnn/cpp/ttnn/operations/experimental/quasar/matmul/device/factory/matmul_unified_program_factory.cpp
  ttnn/cpp/ttnn/operations/experimental/quasar/matmul/device/factory/matmul_unified_program_factory.hpp
  ttnn/cpp/ttnn/operations/experimental/quasar/matmul/device/kernels/compute/unified_matmul_compute.cpp
  ttnn/cpp/ttnn/operations/experimental/quasar/matmul/device/kernels/dataflow/unified_matmul_reader.cpp
  ttnn/cpp/ttnn/operations/experimental/quasar/matmul/device/kernels/dataflow/unified_matmul_writer.cpp
  ttnn/cpp/ttnn/operations/experimental/quasar/matmul/device/matmul_device_operation.cpp
  ttnn/cpp/ttnn/operations/experimental/quasar/matmul/matmul_nanobind.cpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

[Quasar] matmul unified: pick the auto C slice and K chunk per #57884
  tests/ttnn/nightly/unit_tests/operations/experimental/quasar/test_matmul_unified.py
  ttnn/cpp/ttnn/operations/experimental/quasar/matmul/device/config/matmul_program_config_types.hpp
  ttnn/cpp/ttnn/operations/experimental/quasar/matmul/device/factory/matmul_unified_program_factory.cpp
  ttnn/cpp/ttnn/operations/experimental/quasar/matmul/matmul_nanobind.cpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

[Quasar] matmul unified: no ring vocabulary in the test docstrings either
  tests/ttnn/nightly/unit_tests/operations/experimental/quasar/test_matmul_unified.py
Due: none

[Quasar] matmul unified: note why the final borrow conditions must stay
  ttnn/cpp/ttnn/operations/experimental/quasar/matmul/device/factory/matmul_unified_program_factory.cpp
Due: block-ttnn-pybind-changes

[Quasar] matmul unified: address review
  tests/ttnn/nightly/unit_tests/operations/experimental/quasar/test_matmul_unified.py
  ttnn/cpp/ttnn/operations/experimental/quasar/matmul/device/config/matmul_program_config_types.hpp
  ttnn/cpp/ttnn/operations/experimental/quasar/matmul/device/factory/matmul_unified_program_factory.cpp
  ttnn/cpp/ttnn/operations/experimental/quasar/matmul/device/factory/matmul_unified_program_factory.hpp
  ttnn/cpp/ttnn/operations/experimental/quasar/matmul/device/kernels/compute/unified_matmul_compute.cpp
  ttnn/cpp/ttnn/operations/experimental/quasar/matmul/device/kernels/dataflow/unified_matmul_reader.cpp
  ttnn/cpp/ttnn/operations/experimental/quasar/matmul/device/kernels/dataflow/unified_matmul_writer.cpp
  ttnn/cpp/ttnn/operations/experimental/quasar/matmul/device/matmul_device_operation.cpp
  ttnn/cpp/ttnn/operations/experimental/quasar/matmul/matmul_nanobind.cpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

[Quasar] matmul unified: broaden the test suite's corner and interaction coverage
  tests/ttnn/nightly/unit_tests/operations/experimental/quasar/test_matmul_unified.py
Due: none

[Quasar] matmul unified: never trade a borrow for subblock volume
  tests/ttnn/nightly/unit_tests/operations/experimental/quasar/test_matmul_unified.py
  ttnn/cpp/ttnn/operations/experimental/quasar/matmul/device/factory/matmul_unified_program_factory.cpp
Due: block-ttnn-pybind-changes

[Quasar] matmul unified: name the borrow-voiding rejection explicitly
  ttnn/cpp/ttnn/operations/experimental/quasar/matmul/device/factory/matmul_unified_program_factory.cpp
Due: block-ttnn-pybind-changes

[Quasar] matmul unified: one borrow-preservation rule for all three operands
  ttnn/cpp/ttnn/operations/experimental/quasar/matmul/device/factory/matmul_unified_program_factory.cpp
Due: block-ttnn-pybind-changes

[Quasar] matmul unified: size_dfbs completes a candidate plan
  ttnn/cpp/ttnn/operations/experimental/quasar/matmul/device/factory/matmul_unified_program_factory.cpp
Due: block-ttnn-pybind-changes

[Quasar] matmul unified: the factory consumes the plan, it never re-derives it
  ttnn/cpp/ttnn/operations/experimental/quasar/matmul/device/factory/matmul_unified_program_factory.cpp
  ttnn/cpp/ttnn/operations/experimental/quasar/matmul/device/factory/matmul_unified_program_factory.hpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op
