Repository tenstorrent/tt-metal: changes, and which pre-commit hooks are due for each by the changed paths.
All: block-ttnn-pybind-changes, detect-legacy-device-op, validate-golden-csv-columns

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v3.2.0
  hooks:
    - id: trailing-whitespace
      exclude: \.patch$
    - id: end-of-file-fixer
      exclude: \.patch$
    - id: check-yaml
      args: ["--unsafe"]
    - id: check-added-large-files
# Using this mirror lets us use mypyc-compiled black, which is about 2x faster
- repo: https://github.com/psf/black-pre-commit-mirror
  rev: 23.10.1
  hooks:
    - id: black
      language_version: python3
- repo: https://github.com/PyCQA/autoflake
  rev: v2.3.1
  hooks:
    - id: autoflake
      args: [--remove-all-unused-imports, --in-place, --recursive, --exclude=__init__.py]
      files: ^models/  # Run only on files in the models directory
- repo: https://github.com/pycqa/isort
  rev: 5.13.2
  hooks:
    - id: isort
      files: ^models/
      exclude: ^models/(demos/llama3_70b_galaxy|experimental)/
- repo: https://github.com/BlankSpruce/gersemi
  rev: 0.16.2
  hooks:
    - id: gersemi
- repo: https://github.com/adrienverge/yamllint.git
  rev: v1.35.1
  hooks:
    - id: yamllint
- repo: https://github.com/pre-commit/mirrors-clang-format
  rev: v19.1.4
  hooks:
    - id: clang-format
      entry: git-clang-format
      require_serial: true
      types_or: [c++, c]
      args: ["--style=file"]
- repo: local
  hooks:
    - id: validate-metalium-includes
      name: validate-metalium-includes
      entry: python3 scripts/validate_api/validate_includes.py tt_metal/api --check-ttnn-forwards
      language: system
      pass_filenames: false
    - id: validate-metalium-deprecation
      name: validate-metalium-deprecation
      entry: python3 scripts/validate_api/validate_deprecation.py tt_metal/api origin/main
      language: system
      pass_filenames: false
- repo: local
  hooks:
    - id: check-torch-imports-in-ttnn
      name: Verify that there is no global torch import in ttnn
      entry: python3 scripts/validate_no_global_torch_imports.py
      language: system
      pass_filenames: false
- repo: local
  hooks:
    - id: block-ttnn-pybind-changes
      name: Prevent edits to frozen pybind11 sources under ttnn
      entry: python3 scripts/block_ttnn_pybind_changes.py
      language: system
      pass_filenames: true
      files: ^ttnn/
- repo: local
  hooks:
    - id: convert-notebooks-to-py
      name: Convert .ipynb to .py for ttnn basic examples
      entry: python3 scripts/convert_notebooks_to_python.py
      language: system
- repo: local
  hooks:
    - id: detect-legacy-device-op
      name: Detect legacy device operation classes in newly added files
      entry: python3 scripts/detect_legacy_device_op.py --check-new-only
      language: system
      types: [file]
      files: ^ttnn/.*\.hpp$
      pass_filenames: true
      require_serial: true
- repo: local
  hooks:
    - id: validate-golden-csv-columns
      name: Validate golden bandwidth CSV column headers
      entry: bash .github/scripts/utils/validate_golden_csv_columns.sh
      language: system
      pass_filenames: false
      files: ^tests/tt_metal/tt_metal/perf_microbenchmark/routing/golden/.*bandwidth.*\.csv$

Fix batched prefill OOM: size padded_batch to actual users, not max_batch_size (#40108)
  models/tt_transformers/tt/generator.py
Due: none

ci: gate sanity test groups on build-artifact success (#41841)
  .github/workflows/sanity-tests.yaml
Due: none

[DCAMP-205] Gracefully abort and report hung devices in fabric tests instead of hanging forever (#41572)
  tests/tt_metal/tt_metal/perf_microbenchmark/routing/test_tt_fabric.cpp
  tests/tt_metal/tt_metal/perf_microbenchmark/routing/tt_fabric_test_context.cpp
  tests/tt_metal/tt_metal/perf_microbenchmark/routing/tt_fabric_test_context.hpp
  tests/tt_metal/tt_metal/perf_microbenchmark/routing/tt_fabric_test_progress_monitor.cpp
  tests/tt_metal/tt_metal/perf_microbenchmark/routing/tt_fabric_test_progress_monitor.hpp
Due: none

Migrate hardshrink from composite to single-pass SFPU kernel (#41175)
  tt_metal/hw/ckernels/blackhole/metal/llk_api/llk_sfpu/ckernel_sfpu_hardshrink.h
  tt_metal/hw/ckernels/blackhole/metal/llk_api/llk_sfpu/llk_math_eltwise_unary_sfpu_activations.h
  tt_metal/hw/ckernels/blackhole/metal/llk_api/llk_sfpu_types.h
  tt_metal/hw/ckernels/wormhole_b0/metal/llk_api/llk_sfpu/ckernel_sfpu_hardshrink.h
  tt_metal/hw/ckernels/wormhole_b0/metal/llk_api/llk_sfpu/llk_math_eltwise_unary_sfpu_activations.h
  tt_metal/hw/ckernels/wormhole_b0/metal/llk_api/llk_sfpu_types.h
  tt_metal/hw/inc/api/compute/eltwise_unary/activations.h
  ttnn/cpp/ttnn/operations/eltwise/unary/common/unary_op_utils.cpp
  ttnn/cpp/ttnn/operations/eltwise/unary/device/kernels/compute/hardshrink_kernel.cpp
  ttnn/cpp/ttnn/operations/eltwise/unary/device/kernels/compute/hardshrink_kernel_sfpu.cpp
  ttnn/cpp/ttnn/operations/eltwise/unary/device/unary_program_factory.cpp
  ttnn/cpp/ttnn/operations/eltwise/unary_ng/common/unary_ng_op_utils.cpp
  ttnn/cpp/ttnn/operations/eltwise/unary_ng/device/kernels/compute/hardshrink_kernel.cpp
  ttnn/cpp/ttnn/operations/eltwise/unary_ng/device/unary_ng_program_factory.cpp
Due: block-ttnn-pybind-changes

Support async scheduling in VLLM (#40032)
  .github/workflows/vllm-nightly-tests-impl.yaml
  models/demos/llama3_70b_galaxy/tt/generator_vllm.py
  models/demos/qwen25_vl/tt/generator_vllm.py
  models/demos/qwen3_vl/tt/generator_vllm.py
  models/tt_transformers/tt/generator_vllm.py
  ttnn/cpp/ttnn-nanobind/events.cpp
Due: block-ttnn-pybind-changes

Added numeric checks for matmul nightly (#41187)
  tests/ttnn/nightly/unit_tests/operations/matmul/test_attn_matmul.py
  tests/ttnn/nightly/unit_tests/operations/matmul/test_bert_matmuls.py
  tests/ttnn/nightly/unit_tests/operations/matmul/test_matmul.py
  tests/ttnn/nightly/unit_tests/operations/matmul/test_matmul2.py
  tests/ttnn/nightly/unit_tests/operations/matmul/test_matmul_1d_2d.py
  tests/ttnn/nightly/unit_tests/operations/matmul/test_matmul_1d_gather_in0.py
  tests/ttnn/nightly/unit_tests/operations/matmul/test_matmul_dram_sharded.py
  tests/ttnn/nightly/unit_tests/operations/matmul/test_tilize_hpadding_matmul.py
  tests/ttnn/nightly/unit_tests/operations/matmul/test_tilize_matmul.py
  tests/ttnn/unit_tests/operations/matmul/test_matmul_deepseek.py
Due: none

update on reduction tests implicit check
  tests/ttnn/nightly/unit_tests/operations/reduction/test_reduction_ops.py
  tests/ttnn/unit_tests/operations/reduce/test_cumprod.py
  tests/ttnn/unit_tests/operations/reduce/test_cumsum.py
  tests/ttnn/unit_tests/operations/reduce/test_ema.py
  tests/ttnn/unit_tests/operations/reduce/test_reduction.py
  tests/ttnn/unit_tests/operations/reduce/test_topk.py
Due: none

docs: add erfc accuracy and performance comparison charts
  plots/erfc/chart_erfc_perf.png
  plots/erfc/chart_erfc_ulp_all.png
  plots/erfc/chart_ulp_range_erfc_bf16.png
  plots/erfc/chart_ulp_range_erfc_fp32.png
Due: none

Migrate tanhshrink from composite to single-pass SFPU kernel
  tt_metal/hw/ckernels/blackhole/metal/llk_api/llk_sfpu/ckernel_sfpu_tanhshrink.h
  tt_metal/hw/ckernels/blackhole/metal/llk_api/llk_sfpu/llk_math_eltwise_unary_sfpu_activations.h
  tt_metal/hw/ckernels/blackhole/metal/llk_api/llk_sfpu_types.h
  tt_metal/hw/ckernels/wormhole_b0/metal/llk_api/llk_sfpu/ckernel_sfpu_tanhshrink.h
  tt_metal/hw/ckernels/wormhole_b0/metal/llk_api/llk_sfpu/llk_math_eltwise_unary_sfpu_activations.h
  tt_metal/hw/ckernels/wormhole_b0/metal/llk_api/llk_sfpu_types.h
  tt_metal/hw/inc/api/compute/eltwise_unary/activations.h
  ttnn/cpp/ttnn/operations/eltwise/unary/common/unary_op_utils.cpp
Due: block-ttnn-pybind-changes

Use bfloat8_b default for layer weights, bfloat16 for LM head
  models/demos/gemma4/demo/text_demo.py
  models/demos/gemma4/tt/common.py
  models/demos/gemma4/tt/model.py
Due: none

Fix graph connectivity: restore track_function_start in FastOperation and fix python_io consumption
  tests/ttnn/unit_tests/base_functionality/test_graph_report.py
  ttnn/ttnn/decorators.py
  ttnn/ttnn/graph_report.py
Due: block-ttnn-pybind-changes

cherrypick tt-metal patch
  models/common/warmup/warmup_utils.py
Due: none

run lm_head only for sinlge token
  models/demos/deepseek_v3/tt/generator.py
  models/demos/deepseek_v3/tt/lm_head1d.py
  models/demos/deepseek_v3/tt/model/row_batched_model.py
Due: none

revert tracker prototype surface before replaying isolated branch
  tt_metal/api/tt-metalium/mesh_device.hpp
  tt_metal/distributed/mesh_device.cpp
  tt_metal/distributed/mesh_device_impl.hpp
  tt_metal/impl/allocator/allocator.cpp
  tt_metal/impl/allocator/allocator.hpp
  ttnn/cpp/ttnn-nanobind/operations/trace.cpp
  ttnn/cpp/ttnn/operations/trace.cpp
  ttnn/cpp/ttnn/operations/trace.hpp
  ttnn/ttnn/__init__.py
  ttnn/ttnn/unsafe_allocation_tracker.py
Due: block-ttnn-pybind-changes, detect-legacy-device-op

Trace allocation safety tracker with program cache tracking
  tt_metal/api/tt-metalium/allocation_context.hpp
  tt_metal/api/tt-metalium/mesh_device.hpp
  tt_metal/distributed/mesh_device.cpp
  tt_metal/distributed/mesh_device_impl.hpp
  tt_metal/impl/allocator/allocator.cpp
  tt_metal/impl/allocator/allocator.hpp
  ttnn/api/ttnn/device_operation.hpp
  ttnn/cpp/ttnn-nanobind/operations/trace.cpp
  ttnn/cpp/ttnn-nanobind/pytensor.cpp
  ttnn/cpp/ttnn/operations/trace.cpp
  ttnn/cpp/ttnn/operations/trace.hpp
  ttnn/ttnn/__init__.py
  ttnn/ttnn/decorators.py
  ttnn/ttnn/unsafe_allocation_tracker.py
Due: block-ttnn-pybind-changes, detect-legacy-device-op

RVC Demo: put synthesizer modules into a single one
  models/demos/rvc/tests/pcc/test_ffn.py
  models/demos/rvc/tests/pcc/test_generator_nsf.py
  models/demos/rvc/tests/pcc/test_hubert_multihead_attention.py
  models/demos/rvc/tests/pcc/test_models.py
  models/demos/rvc/tests/pcc/test_modules.py
  models/demos/rvc/tests/pcc/test_multiheadattention.py
  models/demos/rvc/tests/pcc/test_synthesizer_trn_ms_nsf.py
  models/demos/rvc/tests/pcc/test_wn.py
  models/demos/rvc/tt_impl/synthesizer/attentions.py
  models/demos/rvc/tt_impl/synthesizer/modules.py
  models/demos/rvc/tt_impl/vc/hubert.py
  models/demos/rvc/tt_impl/vc/pipeline.py
  models/demos/rvc/tt_impl/vc/synthesizer.py
  models/demos/rvc/tt_impl/vc/utils.py
Due: none

Improve cumsum accuracy (#41371)
  tests/pipeline_reorg/ttsim-skip-list.yaml
  tests/ttnn/unit_tests/operations/reduce/test_cumsum.py
  ttnn/cpp/ttnn/operations/reduction/accumulation/device/accumulation_program_factory.cpp
  ttnn/cpp/ttnn/operations/reduction/accumulation/device/accumulation_program_factory.hpp
  ttnn/cpp/ttnn/operations/reduction/accumulation/device/kernels/accumulation_common.hpp
  ttnn/cpp/ttnn/operations/reduction/accumulation/device/kernels/compute/accumulation_compute.cpp
  ttnn/cpp/ttnn/operations/reduction/accumulation/device/kernels/dataflow/accumulation_reader.cpp
  ttnn/cpp/ttnn/operations/reduction/accumulation/device/kernels/dataflow/accumulation_writer.cpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

Fix race in sync riscs. Seems unlikely we were hitting this
  models/demos/deepseek_v3_b1/unified_kernels/kernel_utils.hpp
Due: none

Decouple creation of DecoderBlock weights/state from golden tensors
  models/demos/deepseek_v3_b1/demo/decoder_stage.py
  models/demos/deepseek_v3_b1/tests/unit_tests/test_decoder_block.py
Due: none

vision demo fix after rebase
  models/demos/multimodal/gemma3/demo/text_demo.py
  models/demos/multimodal/gemma3/tt/model_config.py
  models/tt_transformers/tt/model_config.py
Due: none

support multi-device mesh tensor per core allocation (#41514)
  .github/time_budget.yaml
  tests/pipeline_reorg/ttnn-tests.yaml
  tests/ttnn/unit_tests/per_core_allocation/conftest.py
  tests/ttnn/unit_tests/per_core_allocation/test_per_core_allocation.py
  tests/ttnn/unit_tests/per_core_allocation/test_per_core_allocation_multi_device.py
  tt_metal/api/tt-metalium/experimental/per_core_allocation/mesh_buffer.hpp
  tt_metal/api/tt-metalium/mesh_buffer.hpp
  tt_metal/distributed/mesh_buffer.cpp
  tt_metal/impl/allocator/allocator.cpp
  tt_metal/impl/allocator/allocator.hpp
  tt_metal/impl/allocator/bank_manager.cpp
  tt_metal/impl/allocator/bank_manager.hpp
  tt_metal/impl/allocator/l1_banking_allocator.cpp
  tt_metal/impl/device/device.cpp
  tt_metal/impl/per_core_allocation/mesh_buffer.cpp
  tt_metal/llrt/rtoptions.cpp
  tt_metal/llrt/rtoptions.hpp
  ttnn/core/distributed/distributed_nanobind.cpp
  ttnn/cpp/ttnn-nanobind/pytensor.cpp
Due: block-ttnn-pybind-changes

experiment(dpt-bf16): run DPT head in bfloat16 — e2e 892→683ms
  models/demos/mast3r/tt/ttnn_dust3r.py
Due: none

experiment(end_to_end): full DUSt3R forward — PCC 0.9982 / 3154ms
  models/demos/mast3r/reference/torch_dust3r.py
  models/demos/mast3r/tt/ttnn_dust3r.py
Due: none

experiment(rope-cache): memoize RoPE cos/sin — e2e 917→892ms
  models/demos/mast3r/tt/ttnn_dust3r.py
Due: none

experiment(full_decoder): dual-branch 12x2 blocks + dec_norm — PCC 0.9998
  models/demos/mast3r/reference/torch_dust3r.py
  models/demos/mast3r/tt/ttnn_dust3r.py
Due: none

experiment(dpt_head): full DPT head via host torch fallback — PCC 0.9999
  models/demos/mast3r/reference/torch_dust3r.py
  models/demos/mast3r/tt/ttnn_dust3r.py
Due: none

experiment(dpt-cache): memoize host DPT head modules — e2e 1027→965ms
  models/demos/mast3r/tt/ttnn_dust3r.py
Due: none

experiment(encoder-opt): preupload weights + linear fuse + program cache — 1016→125ms
  models/demos/mast3r/tt/ttnn_dust3r.py
Due: none

experiment(decoder-opt): preupload decoder weights — full_decoder 927→182ms, e2e 3154→1027ms
  models/demos/mast3r/tt/ttnn_dust3r.py
Due: none

scaffold(mast3r): torch reference + TT patch_embed + test harness
  models/demos/mast3r/__init__.py
  models/demos/mast3r/reference/__init__.py
  models/demos/mast3r/reference/torch_dust3r.py
  models/demos/mast3r/tt/__init__.py
  models/demos/mast3r/tt/ttnn_dust3r.py
Due: none

experiment(full_encoder): 24 blocks + enc_norm — PCC 0.9995 / 1029ms
  models/demos/mast3r/tt/ttnn_dust3r.py
Due: none

experiment(patch_embed): im2col + matmul impl — PCC 1.0000
  models/demos/mast3r/tt/ttnn_dust3r.py
Due: none

experiment(dec-reshape): on-device head merge in decoder — e2e 675→636ms
  models/demos/mast3r/tt/ttnn_dust3r.py
Due: none

experiment(kv-pack): concat cross-attn k/v for single download — 636→630ms
  models/demos/mast3r/tt/ttnn_dust3r.py
Due: none
