Repository tenstorrent/tt-metal: changes, and which pre-commit hooks are due for each by the changed paths.
All: block-ttnn-pybind-changes, detect-legacy-device-op, validate-golden-csv-columns

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v3.2.0
  hooks:
    - id: trailing-whitespace
      exclude: \.patch$
    - id: end-of-file-fixer
      exclude: \.patch$
    - id: check-yaml
      args: ["--unsafe"]
    - id: check-added-large-files
# Using this mirror lets us use mypyc-compiled black, which is about 2x faster
- repo: https://github.com/psf/black-pre-commit-mirror
  rev: 23.10.1
  hooks:
    - id: black
      language_version: python3
- repo: https://github.com/PyCQA/autoflake
  rev: v2.3.1
  hooks:
    - id: autoflake
      args: [--remove-all-unused-imports, --in-place, --recursive, --exclude=__init__.py]
      files: ^models/  # Run only on files in the models directory
- repo: https://github.com/pycqa/isort
  rev: 5.13.2
  hooks:
    - id: isort
      files: ^models/
      exclude: ^models/(demos/llama3_70b_galaxy|experimental)/
- repo: https://github.com/BlankSpruce/gersemi
  rev: 0.16.2
  hooks:
    - id: gersemi
- repo: https://github.com/adrienverge/yamllint.git
  rev: v1.35.1
  hooks:
    - id: yamllint
- repo: https://github.com/pre-commit/mirrors-clang-format
  rev: v19.1.4
  hooks:
    - id: clang-format
      entry: git-clang-format
      require_serial: true
      types_or: [c++, c]
      args: ["--style=file"]
- repo: local
  hooks:
    - id: validate-metalium-includes
      name: validate-metalium-includes
      entry: python3 scripts/validate_api/validate_includes.py tt_metal/api --check-ttnn-forwards
      language: system
      pass_filenames: false
    - id: validate-metalium-deprecation
      name: validate-metalium-deprecation
      entry: python3 scripts/validate_api/validate_deprecation.py tt_metal/api origin/main
      language: system
      pass_filenames: false
- repo: local
  hooks:
    - id: check-torch-imports-in-ttnn
      name: Verify that there is no global torch import in ttnn
      entry: python3 scripts/validate_no_global_torch_imports.py
      language: system
      pass_filenames: false
- repo: local
  hooks:
    - id: block-ttnn-pybind-changes
      name: Prevent edits to frozen pybind11 sources under ttnn
      entry: python3 scripts/block_ttnn_pybind_changes.py
      language: system
      pass_filenames: true
      files: ^ttnn/
- repo: local
  hooks:
    - id: convert-notebooks-to-py
      name: Convert .ipynb to .py for ttnn basic examples
      entry: python3 scripts/convert_notebooks_to_python.py
      language: system
- repo: local
  hooks:
    - id: detect-legacy-device-op
      name: Detect legacy device operation classes in newly added files
      entry: python3 scripts/detect_legacy_device_op.py --check-new-only
      language: system
      types: [file]
      files: ^ttnn/.*\.hpp$
      pass_filenames: true
      require_serial: true
- repo: local
  hooks:
    - id: validate-golden-csv-columns
      name: Validate golden bandwidth CSV column headers
      entry: bash .github/scripts/utils/validate_golden_csv_columns.sh
      language: system
      pass_filenames: false
      files: ^tests/tt_metal/tt_metal/perf_microbenchmark/routing/golden/.*bandwidth.*\.csv$

Restore deleted comment in topk_single_core_program_factory (review)
  ttnn/cpp/ttnn/operations/reduction/topk/device/topk_single_core_program_factory.cpp
Due: block-ttnn-pybind-changes

Adopt BufferBinding API in reduction factories for fast cache-hit path
  ttnn/cpp/ttnn/operations/reduction/accumulation/device/accumulation_program_factory.cpp
  ttnn/cpp/ttnn/operations/reduction/accumulation/ema/device/ema_program_factory.cpp
  ttnn/cpp/ttnn/operations/reduction/argmax/device/argmax_multi_core_program_factory.cpp
  ttnn/cpp/ttnn/operations/reduction/argmax/device/argmax_single_core_program_factory.cpp
  ttnn/cpp/ttnn/operations/reduction/generic/device/reduce_op_multi_core_h_program_factory.cpp
  ttnn/cpp/ttnn/operations/reduction/generic/device/reduce_op_multi_core_w_program_factory.cpp
  ttnn/cpp/ttnn/operations/reduction/generic/device/reduce_op_single_core_hw_program_factory.cpp
  ttnn/cpp/ttnn/operations/reduction/generic/device/welford_reduce_program_factory.cpp
  ttnn/cpp/ttnn/operations/reduction/manual_seed/device/manual_seed_program_factory.cpp
  ttnn/cpp/ttnn/operations/reduction/moe/device/moe_program_factory.cpp
  ttnn/cpp/ttnn/operations/reduction/prod/device/prod_all_program_factory.cpp
  ttnn/cpp/ttnn/operations/reduction/prod/device/prod_nc_program_factory.cpp
  ttnn/cpp/ttnn/operations/reduction/sampling/device/sampling_program_factory.cpp
  ttnn/cpp/ttnn/operations/reduction/topk/device/topk_multi_core_program_factory.cpp
  ttnn/cpp/ttnn/operations/reduction/topk/device/topk_single_core_program_factory.cpp
Due: block-ttnn-pybind-changes

Address clang-tidy on reduction migration
  ttnn/cpp/ttnn/operations/reduction/argmax/device/argmax_multi_core_program_factory.cpp
  ttnn/cpp/ttnn/operations/reduction/generic/device/reduce_op_device_operation.hpp
  ttnn/cpp/ttnn/operations/reduction/generic/device/welford_reduce_device_operation.hpp
  ttnn/cpp/ttnn/operations/reduction/topk/device/topk_multi_core_program_factory.cpp
  ttnn/cpp/ttnn/operations/reduction/topk/device/topk_single_core_program_factory.cpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

Revert kernel_source to std::string to fix Python binding dangling views
  .cursor/commands/ttnn/descriptor-migration-recipe.md
  tt_metal/api/tt-metalium/program_descriptors.hpp
  tt_metal/impl/program/program.cpp
  ttnn/cpp/ttnn/operations/eltwise/binary/device/broadcast_height_and_width_multi_core_program_factory.cpp
  ttnn/cpp/ttnn/operations/eltwise/binary_ng/device/binary_ng_utils.cpp
  ttnn/cpp/ttnn/operations/eltwise/binary_ng/device/binary_ng_utils.hpp
  ttnn/cpp/ttnn/operations/eltwise/ternary/device/ternary_op_utils.cpp
  ttnn/cpp/ttnn/operations/eltwise/ternary/device/ternary_op_utils.hpp
  ttnn/cpp/ttnn/operations/eltwise/ternary/device/ternary_program_factory.cpp
  ttnn/cpp/ttnn/operations/normalization/layernorm/device/sharded_layernorm_factory_helpers.hpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

Address PR review comments
  tt_metal/api/tt-metalium/program_descriptors.hpp
  tt_metal/api/tt-metalium/tensor_accessor_args.hpp
  ttnn/cpp/ttnn-nanobind/program_descriptors.cpp
  ttnn/cpp/ttnn/operations/eltwise/binary/device/broadcast_height_and_width_multi_core_program_factory.cpp
Due: block-ttnn-pybind-changes

Address PR review feedback (Phil, Mateusz)
  .cursor/commands/ttnn/descriptor-migration-recipe.md
  tt_metal/api/tt-metalium/work_split.hpp
  tt_metal/impl/dispatch/work_split_cache.cpp
  ttnn/cpp/ttnn/operations/bernoulli/device/bernoulli_program_factory.cpp
  ttnn/cpp/ttnn/operations/eltwise/binary/device/broadcast_height_and_width_multi_core_program_factory.cpp
  ttnn/cpp/ttnn/operations/eltwise/binary_ng/device/binary_ng_utils.cpp
  ttnn/cpp/ttnn/operations/eltwise/binary_ng/device/binary_ng_utils.hpp
  ttnn/cpp/ttnn/operations/eltwise/ternary/device/ternary_op_utils.cpp
  ttnn/cpp/ttnn/operations/eltwise/ternary/device/ternary_op_utils.hpp
  ttnn/cpp/ttnn/operations/eltwise/unary/common/unary_op_utils.cpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

Add cached_split_work_to_cores framework utility
  .cursor/commands/ttnn/descriptor-migration-recipe.md
  tt_metal/api/tt-metalium/work_split.hpp
  tt_metal/impl/dispatch/work_split_cache.cpp
  tt_metal/impl/sources.cmake
Due: none

Reduce ProgramDescriptor dispatch overhead with SmallVector, string_view, and Buffer::create_device_view
  .cursor/commands/ttnn/descriptor-migration-recipe.md
  tests/ttnn/unit_tests/gtests/test_generic_op.cpp
  tt_metal/api/tt-metalium/buffer.hpp
  tt_metal/api/tt-metalium/program_descriptors.hpp
  tt_metal/api/tt-metalium/tensor_accessor_args.hpp
  tt_metal/distributed/mesh_buffer.cpp
  tt_metal/impl/buffers/buffer.cpp
  tt_metal/impl/buffers/tensor_accessor_args.cpp
  tt_metal/impl/program/program.cpp
  ttnn/cpp/ttnn-nanobind/program_descriptors.cpp
  ttnn/cpp/ttnn/operations/bernoulli/device/bernoulli_program_factory.cpp
  ttnn/cpp/ttnn/operations/data_movement/slice/device/slice_program_factory_tile.cpp
  ttnn/cpp/ttnn/operations/eltwise/binary/device/broadcast_height_and_width_multi_core_program_factory.cpp
  ttnn/cpp/ttnn/operations/eltwise/binary/device/broadcast_height_multi_core_program_factory.cpp
  ttnn/cpp/ttnn/operations/eltwise/binary/device/broadcast_height_multi_core_sharded_optimized_program_factory.cpp
  ttnn/cpp/ttnn/operations/eltwise/binary/device/broadcast_height_multi_core_sharded_program_factory.cpp
  ttnn/cpp/ttnn/operations/eltwise/binary/device/broadcast_width_multi_core_program_factory.cpp
  ttnn/cpp/ttnn/operations/eltwise/binary/device/element_wise_multi_core_program_factory.cpp
  ttnn/cpp/ttnn/operations/eltwise/binary/device/element_wise_multi_core_sfpu_pgm_factory.cpp
  ttnn/cpp/ttnn/operations/eltwise/binary_ng/device/binary_ng_program_factory.cpp
  ttnn/cpp/ttnn/operations/eltwise/binary_ng/device/binary_ng_utils.cpp
  ttnn/cpp/ttnn/operations/eltwise/binary_ng/device/binary_ng_utils.hpp
  ttnn/cpp/ttnn/operations/eltwise/ternary/device/ternary_op_utils.cpp
  ttnn/cpp/ttnn/operations/eltwise/ternary/device/ternary_op_utils.hpp
  ttnn/cpp/ttnn/operations/eltwise/ternary/device/ternary_program_factory.cpp
  ttnn/cpp/ttnn/operations/eltwise/unary/device/unary_program_factory.cpp
  ttnn/cpp/ttnn/operations/eltwise/unary_backward/tanh_bw/device/tanh_bw_program_factory.cpp
  ttnn/cpp/ttnn/operations/examples/example/device/multi_core_program_factory.cpp
  ttnn/cpp/ttnn/operations/examples/example/device/single_core_program_factory.cpp
  ttnn/cpp/ttnn/operations/matmul/device/factory/matmul_multicore_reuse_optimized_program_factory.cpp
  ttnn/cpp/ttnn/operations/normalization/layernorm/device/layernorm_op_multi_core.cpp
  ttnn/cpp/ttnn/operations/normalization/layernorm/device/sharded_layernorm_factory_helpers.cpp
  ttnn/cpp/ttnn/operations/normalization/layernorm/device/sharded_layernorm_factory_helpers.hpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

adding distributed norm qwen25vl
  models/demos/qwen25_vl/tt/distributed_norm.py
Due: none

remove transiet constructor
  tests/tt_metal/tt_metal/api/tensor/test_host_tensor.cpp
  tests/ttnn/unit_tests/gtests/tensor/test_vector_conversion.cpp
  tt_metal/api/tt-metalium/experimental/tensor/host_tensor.hpp
  tt_metal/impl/tensor/host_tensor.cpp
  tt_metal/impl/tensor/tensor_apis.cpp
  ttnn/api/ttnn/tensor/storage.hpp
  ttnn/api/ttnn/tensor/tensor.hpp
  ttnn/api/ttnn/tensor/tensor_attributes.hpp
  ttnn/core/tensor/storage.cpp
  ttnn/core/tensor/tensor.cpp
  ttnn/core/tensor/tensor_attributes.cpp
  ttnn/cpp/ttnn/operations/conv/conv2d/prepare_conv2d_weights.cpp
  ttnn/cpp/ttnn/operations/conv/conv_transpose2d/prepare_conv_transpose2d_weights.cpp
  ttnn/cpp/ttnn/operations/data_movement/reshape_on_device/reshape.cpp
  ttnn/cpp/ttnn/operations/experimental/conv3d/prepare_conv3d_weights.cpp
  ttnn/cpp/ttnn/operations/pool/grid_sample/grid_sample_prepare_grid.cpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

Add MeshDevice& to MakeProgramFromSpec
  tests/tt_metal/tt_metal/api/metal2_host_api/test_program_run_params.cpp
  tests/tt_metal/tt_metal/api/metal2_host_api/test_program_spec.cpp
  tests/tt_metal/tt_metal/api/metal2_host_api/test_program_spec_hw.cpp
  tests/tt_metal/tt_metal/api/test_kernel_thread_sync.cpp
  tt_metal/api/tt-metalium/experimental/metal2_host_api/program.hpp
  tt_metal/impl/metal2_host_api/program_spec.cpp
Due: none

qwen3_tts: add matmul-accuracy unit tests + tt_transformers single-layer profiler
  models/demos/qwen3_tts/tests/test_cp_prefill_matmul_accuracy.py
  models/tt_transformers/tests/profile_single_layer_tt.py
Due: none

add MeshTensor overloads
  tests/ttnn/unit_tests/gtests/accessor/test_tensor_accessor_on_device.cpp
  tt_metal/api/tt-metalium/tensor_accessor_args.hpp
  tt_metal/impl/buffers/tensor_accessor_args.cpp
Due: none

[Cleanup] unpad_from_tile: promote TT_ASSERT to TT_FATAL
  tt_metal/impl/tensor/tensor_apis.cpp
Due: none

Share DeepSeek profiler signpost names
  models/demos/deepseek_v3/tests/test_device_perf_utils.py
  models/demos/deepseek_v3/tt/generator.py
  models/demos/deepseek_v3/tt/model/row_batched_model.py
  models/demos/deepseek_v3/utils/device_perf_utils.py
  models/demos/deepseek_v3/utils/signpost_names.py
Due: none

qwen3_tts attention: GQA expand bf16 then typecast (saves 4 typecasts/decode)
  models/demos/qwen3_tts/tt/attention.py
Due: none

simplify transformation
  tt_metal/impl/tensor/tensor_apis.cpp
  ttnn/cpp/ttnn/operations/conv/conv2d/prepare_conv2d_weights.cpp
  ttnn/cpp/ttnn/operations/conv/conv_transpose2d/prepare_conv_transpose2d_weights.cpp
  ttnn/cpp/ttnn/operations/experimental/conv3d/prepare_conv3d_weights.cpp
  ttnn/cpp/ttnn/operations/pool/grid_sample/grid_sample_prepare_grid.cpp
Due: block-ttnn-pybind-changes

update ccl perf script with trimming support
  models/demos/deepseek_v3_b1/scripts/ccl_trace_perf_matrix.py
Due: none

Address comments.
  .github/workflows/cpp-post-commit.yaml
  .github/workflows/merge-gate.yaml
  tests/tt_metal/tt_metal/llk/llk_device_fixture.hpp
  tests/tt_metal/tt_metal/llk/unit_tests_llk.md
Due: none

blackhole demos: bump bh_quietbox_2 budget to 280min
  .github/time_budget.yaml
Due: none

Minor updates.
  .github/workflows/build-and-unit-tests.yaml
  .github/workflows/cpp-post-commit.yaml
  tests/tt_metal/tt_metal/llk/unit_tests_llk.md
Due: none

MPWI: cap inc CB fill loop at TILE_HEIGHT (#27845 item 11)
  ttnn/cpp/ttnn/operations/pool/generic/device/kernels/dataflow/reader_mpwi.cpp
Due: block-ttnn-pybind-changes

MPWI: route small-stick large kernels through 9-row LLK + accumulate (#27845 item 2)
  tt_metal/tt-llk/tt_llk_blackhole/common/inc/sfpu/ckernel_sfpu_max_pool_indices.h
  tt_metal/tt-llk/tt_llk_wormhole_b0/common/inc/sfpu/ckernel_sfpu_max_pool_indices.h
  ttnn/cpp/ttnn/operations/pool/generic/device/kernels/compute/compute_mpwi.cpp
Due: block-ttnn-pybind-changes

[skip ci] blackhole demos: bump bh_quietbox_2 budget to 280min (#43591)
  .github/time_budget.yaml
Due: none

Restore envvar to its original state
  tests/tt_metal/tt_metal/api/metal2_host_api/test_helpers.hpp
  tests/tt_metal/tt_metal/api/metal2_host_api/test_program_run_params.cpp
  tests/tt_metal/tt_metal/api/metal2_host_api/test_program_spec.cpp
Due: none

Bump ttsim version to v1.5.5 (#43585)
  .github/workflows/ttsim.yaml
Due: none

revert noc_async_writes_flushed
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/combine/device/kernels/dataflow/zero_init_writer.cpp
Due: block-ttnn-pybind-changes

minimal fix
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/dispatch/device/kernels/dataflow/writer_untilize_dispatch.cpp
Due: block-ttnn-pybind-changes

aggressive fix
  models/demos/deepseek_v3_d_p/tests/test_prefill_transformer.py
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/combine/device/kernels/dataflow/writer_combine.cpp
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/combine/device/kernels/dataflow/zero_init_writer.cpp
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/dispatch/device/kernels/dataflow/writer_untilize_dispatch.cpp
Due: block-ttnn-pybind-changes

Add probabilistic sampling to blaze (#43389)
  models/demos/deepseek_v3_b1/demo/cli.py
  models/demos/deepseek_v3_b1/demo/mesh_device_context.py
  models/demos/deepseek_v3_b1/demo/model_pipeline.py
  models/demos/deepseek_v3_b1/demo/pipeline.py
  models/demos/deepseek_v3_b1/demo/stage.py
  models/demos/deepseek_v3_b1/demo/weight_provider.py
  models/demos/deepseek_v3_b1/fused_ops/attention_block/op.py
  models/demos/deepseek_v3_b1/fused_ops/decoder_block/kernels/decoder_block_kernel.cpp
  models/demos/deepseek_v3_b1/fused_ops/lm_head_sampling/kernels/lm_head_sampling_kernel.cpp
  models/demos/deepseek_v3_b1/fused_ops/lm_head_sampling/op.py
  models/demos/deepseek_v3_b1/kernel_includes/tt_llk/tt_llk_blackhole/common/inc/sfpu/ckernel_sfpu_deepseek_top32_rm.h
  models/demos/deepseek_v3_b1/kernel_includes/tt_llk/tt_llk_blackhole/llk_lib/llk_math_top32_rm.h
  models/demos/deepseek_v3_b1/kernel_includes/tt_llk/tt_llk_blackhole/llk_lib/llk_unpack_A_top32_rm.h
  models/demos/deepseek_v3_b1/kernel_includes/tt_metal/hw/ckernels/blackhole/metal/llk_api/llk_math_top32_rm_api.h
  models/demos/deepseek_v3_b1/kernel_includes/tt_metal/hw/ckernels/blackhole/metal/llk_api/llk_sfpu/llk_math_deepseek_top32_rm.h
  models/demos/deepseek_v3_b1/kernel_includes/tt_metal/hw/ckernels/blackhole/metal/llk_api/llk_unpack_A_top32_rm_api.h
  models/demos/deepseek_v3_b1/kernel_includes/tt_metal/include/compute_kernel_api/deepseek_compute_kernel_hw_startup.h
  models/demos/deepseek_v3_b1/metadata/metadata.hpp
  models/demos/deepseek_v3_b1/metadata/metadata.py
  models/demos/deepseek_v3_b1/micro_ops/host_io/kernels/fused_h2d_receiver_embedding.cpp
  models/demos/deepseek_v3_b1/micro_ops/host_io/op.py
  models/demos/deepseek_v3_b1/micro_ops/pipeline_block/op.py
  models/demos/deepseek_v3_b1/micro_ops/sampling/kernels/sampling_kernel.cpp
  models/demos/deepseek_v3_b1/micro_ops/sampling/op.py
  models/demos/deepseek_v3_b1/model.py
  models/demos/deepseek_v3_b1/scaleout_configs/blitz_pipeline_config_single_pod_aisle_b.yaml
  models/demos/deepseek_v3_b1/scripts/generate_cache.py
  models/demos/deepseek_v3_b1/tests/unit_tests/test_lm_head_sampling.py
  models/demos/deepseek_v3_b1/tests/unit_tests/test_multi_host_pipeline.py
  models/demos/deepseek_v3_b1/tests/unit_tests/test_prepare_weights.py
  models/demos/deepseek_v3_b1/tests/unit_tests/test_sampling.py
  models/demos/deepseek_v3_b1/unified_kernels/reduce_to_one_b1.hpp
  models/demos/deepseek_v3_b1/unified_kernels/rmsnorm.hpp
  models/demos/deepseek_v3_b1/unified_kernels/sampling.hpp
  models/demos/deepseek_v3_b1/weights/prepare.py
  tests/tt_metal/tt_metal/llk/sources.cmake
  tests/tt_metal/tt_metal/llk/test_top32_rm_dev.cpp
  tests/tt_metal/tt_metal/test_kernels/compute/top32_rm_dev_compute.cpp
  tests/tt_metal/tt_metal/test_kernels/compute/top32_rm_dev_compute_v2.cpp
Due: none

fabric: refactor topology_solver_sat_detail.hpp for readability
  tt_metal/fabric/topology_solver_sat_detail.hpp
Due: none

Add PR categories to pull request template
  .github/pull_request_template.md
Due: none

Single PR Single category
  .github/pull_request_template.md
Due: none

ds_prefill(dispatch hang fix) (#43507)
  models/demos/deepseek_v3_d_p/tests/test_prefill_transformer.py
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/combine/device/kernels/dataflow/writer_combine.cpp
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/combine/device/kernels/dataflow/zero_init_writer.cpp
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/dispatch/device/kernels/dataflow/writer_untilize_dispatch.cpp
Due: block-ttnn-pybind-changes

fabric: fix unused parameter warnings in SAT solver sub-functions
  tt_metal/fabric/topology_solver_sat_detail.hpp
Due: none

Reword
  .github/pull_request_template.md
Due: none
