Repository tenstorrent/tt-metal: changes, and which pre-commit hooks are due for each by the changed paths.
All: block-ttnn-pybind-changes, detect-legacy-device-op, validate-golden-csv-columns

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v3.2.0
  hooks:
    - id: trailing-whitespace
      exclude: \.patch$
    - id: end-of-file-fixer
      exclude: \.patch$
    - id: check-yaml
      args: ["--unsafe"]
    - id: check-added-large-files
# Using this mirror lets us use mypyc-compiled black, which is about 2x faster
- repo: https://github.com/psf/black-pre-commit-mirror
  rev: 23.10.1
  hooks:
    - id: black
      language_version: python3
- repo: https://github.com/PyCQA/autoflake
  rev: v2.3.1
  hooks:
    - id: autoflake
      args: [--remove-all-unused-imports, --in-place, --recursive, --exclude=__init__.py]
      files: ^models/  # Run only on files in the models directory
- repo: https://github.com/pycqa/isort
  rev: 5.13.2
  hooks:
    - id: isort
      files: ^models/
      exclude: ^models/(demos/llama3_70b_galaxy|experimental)/
- repo: https://github.com/BlankSpruce/gersemi
  rev: 0.16.2
  hooks:
    - id: gersemi
- repo: https://github.com/adrienverge/yamllint.git
  rev: v1.35.1
  hooks:
    - id: yamllint
- repo: https://github.com/pre-commit/mirrors-clang-format
  rev: v19.1.4
  hooks:
    - id: clang-format
      entry: git-clang-format
      require_serial: true
      types_or: [c++, c]
      args: ["--style=file"]
- repo: local
  hooks:
    - id: validate-metalium-includes
      name: validate-metalium-includes
      entry: python3 scripts/validate_api/validate_includes.py tt_metal/api --check-ttnn-forwards
      language: system
      pass_filenames: false
    - id: validate-metalium-deprecation
      name: validate-metalium-deprecation
      entry: python3 scripts/validate_api/validate_deprecation.py tt_metal/api origin/main
      language: system
      pass_filenames: false
- repo: local
  hooks:
    - id: check-torch-imports-in-ttnn
      name: Verify that there is no global torch import in ttnn
      entry: python3 scripts/validate_no_global_torch_imports.py
      language: system
      pass_filenames: false
- repo: local
  hooks:
    - id: block-ttnn-pybind-changes
      name: Prevent edits to frozen pybind11 sources under ttnn
      entry: python3 scripts/block_ttnn_pybind_changes.py
      language: system
      pass_filenames: true
      files: ^ttnn/
- repo: local
  hooks:
    - id: convert-notebooks-to-py
      name: Convert .ipynb to .py for ttnn basic examples
      entry: python3 scripts/convert_notebooks_to_python.py
      language: system
- repo: local
  hooks:
    - id: detect-legacy-device-op
      name: Detect legacy device operation classes in newly added files
      entry: python3 scripts/detect_legacy_device_op.py --check-new-only
      language: system
      types: [file]
      files: ^ttnn/.*\.hpp$
      pass_filenames: true
      require_serial: true
- repo: local
  hooks:
    - id: validate-golden-csv-columns
      name: Validate golden bandwidth CSV column headers
      entry: bash .github/scripts/utils/validate_golden_csv_columns.sh
      language: system
      pass_filenames: false
      files: ^tests/tt_metal/tt_metal/perf_microbenchmark/routing/golden/.*bandwidth.*\.csv$

Qwen3-VL vision: one windowed SDPA call instead of one per attention block
  models/tt_dit/encoders/qwen3vl/vision_qwen3vl.py
Due: none

resolve PR comments- cleanup truncation, fix chunking
  models/tt_dit/experimental/tests/test_pipeline_lora.py
  models/tt_dit/pipelines/wan/pipeline_wan_i2v.py
Due: none

audio decode: exact fp32 depthwise conv1d, retiring the MAC fallback
  AUDIO_KERNELS_BENCH.md
  bitexact.py
  decode_accuracy.py
  fir_bench.py
  models/tt_dit/layers/audio_ops.py
  models/tt_dit/tests/models/minimax_h3/test_performance_vae_minimax_h3.py
  op_census.py
  snake_bench.py
  ttnn/cpp/ttnn/operations/conv/conv2d/device/conv2d_op_sharded_program_factory.cpp
  ttnn/cpp/ttnn/operations/conv/conv2d/device/kernels/compute_depthwise_conv1d.cpp
Due: block-ttnn-pybind-changes

ttnn: add high-bandwidth all-gather for sparse MLA KV cache
  .github/CODEOWNERS
  .github/time_budget.yaml
  .github/workflows/blaze-models-prefill-tests.yaml
  tests/pipeline_reorg/blackhole_multi_card_sanity_tests.yaml
  tests/pipeline_reorg/blaze_models_prefill_tests.yaml
  tests/ttnn/unit_tests/operations/experimental/test_high_bw_all_gather.py
  ttnn/cpp/ttnn/operations/experimental/CMakeLists.txt
  ttnn/cpp/ttnn/operations/experimental/experimental_nanobind.cpp
  ttnn/cpp/ttnn/operations/experimental/high_bw_all_gather/CMakeLists.txt
  ttnn/cpp/ttnn/operations/experimental/high_bw_all_gather/README.md
  ttnn/cpp/ttnn/operations/experimental/high_bw_all_gather/device/high_bw_all_gather_device_operation.cpp
  ttnn/cpp/ttnn/operations/experimental/high_bw_all_gather/device/high_bw_all_gather_device_operation.hpp
  ttnn/cpp/ttnn/operations/experimental/high_bw_all_gather/device/high_bw_all_gather_device_operation_types.hpp
  ttnn/cpp/ttnn/operations/experimental/high_bw_all_gather/device/high_bw_all_gather_scheduler.hpp
  ttnn/cpp/ttnn/operations/experimental/high_bw_all_gather/device/high_bw_all_gather_unicast_factory.cpp
  ttnn/cpp/ttnn/operations/experimental/high_bw_all_gather/device/high_bw_all_gather_unicast_factory.hpp
  ttnn/cpp/ttnn/operations/experimental/high_bw_all_gather/device/kernels/unicast_common.hpp
  ttnn/cpp/ttnn/operations/experimental/high_bw_all_gather/device/kernels/unicast_reader.cpp
  ttnn/cpp/ttnn/operations/experimental/high_bw_all_gather/device/kernels/unicast_writer.cpp
  ttnn/cpp/ttnn/operations/experimental/high_bw_all_gather/high_bw_all_gather.cpp
  ttnn/cpp/ttnn/operations/experimental/high_bw_all_gather/high_bw_all_gather.hpp
  ttnn/cpp/ttnn/operations/experimental/high_bw_all_gather/high_bw_all_gather_nanobind.cpp
  ttnn/cpp/ttnn/operations/experimental/high_bw_all_gather/high_bw_all_gather_nanobind.hpp
  ttnn/cpp/ttnn/operations/experimental/high_bw_all_gather/sources.cmake
Due: block-ttnn-pybind-changes, detect-legacy-device-op

Test Only: A/B bench for broadcast prefetcher vs plain mcast-in1
  tests/ttnn/unit_tests/operations/transformers/test_prefetcher_BH_broadcast_bench.py
Due: none

Fix LLK xdist artifact cleanup race (#52223)
  tt_metal/tt-llk/tests/python_tests/helpers/test_config.py
Due: none

Remove fixed sleeps from LLK stream polling (#52221)
  tt_metal/tt-llk/tests/python_tests/helpers/stream.py
Due: none

Test Only: fix the broadcast bench charging first-replay cost to the baseline
  tests/ttnn/unit_tests/operations/transformers/test_prefetcher_BH_broadcast_bench.py
Due: none

Non-rectangular sharded rms_norm
  tests/ttnn/unit_tests/operations/fused/test_rms_norm_sharded.py
  ttnn/cpp/ttnn/operations/normalization/layernorm/device/kernels/compute/layernorm_sharded.cpp
  ttnn/cpp/ttnn/operations/normalization/layernorm/device/kernels/compute/layernorm_sharded_welford.cpp
  ttnn/cpp/ttnn/operations/normalization/layernorm/device/kernels/dataflow/reader_mcast_receiver_unary_sharded_ln.cpp
  ttnn/cpp/ttnn/operations/normalization/layernorm/device/kernels/dataflow/reader_mcast_sender_unary_sharded_ln.cpp
  ttnn/cpp/ttnn/operations/normalization/layernorm/device/kernels/dataflow/writer_unary_sharded_ln.cpp
  ttnn/cpp/ttnn/operations/normalization/layernorm/device/kernels/dataflow/writer_unary_sharded_ln_rm_gb.cpp
  ttnn/cpp/ttnn/operations/normalization/layernorm/device/layernorm_device_operation.cpp
  ttnn/cpp/ttnn/operations/normalization/layernorm/device/layernorm_op_multi_core_sharded.cpp
  ttnn/cpp/ttnn/operations/normalization/layernorm/device/sharded_layernorm_factory_helpers.cpp
  ttnn/cpp/ttnn/operations/normalization/layernorm/device/sharded_layernorm_factory_helpers.hpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

group_norm: correct the non-tile-aligned accuracy note with measured data
  ttnn/cpp/ttnn/operations/normalization/groupnorm/groupnorm_nanobind.cpp
Due: block-ttnn-pybind-changes

group_norm: bump the sharded writer RT-arg reserve to 10
  ttnn/cpp/ttnn/operations/normalization/groupnorm/device/groupnorm_sharded_program_factory.cpp
Due: block-ttnn-pybind-changes

Use fused ring indexer in sparse MLA
  models/demos/deepseek_v3_d_p/tests/sparse_mla/test_sparse_mla.py
  models/demos/deepseek_v3_d_p/tests/sparse_mla/test_sparse_mla_perf.py
  models/demos/deepseek_v3_d_p/tt/mla/indexer.py
  models/demos/deepseek_v3_d_p/tt/tt_ccl.py
Due: none

Support ND-sharded multi-user fused ring indexer
  models/demos/deepseek_v3_d_p/tests/sparse_mla/test_sparse_mla.py
  models/demos/deepseek_v3_d_p/tt/mla/indexer.py
  models/demos/deepseek_v3_d_p/tt/mla/mla.py
  models/demos/deepseek_v3_d_p/tt/tt_ccl.py
  tests/ttnn/nightly/unit_tests/operations/experimental/ring4_ccl_helpers.py
  tests/ttnn/nightly/unit_tests/operations/experimental/test_ring_indexer_score_dsa.py
  ttnn/cpp/ttnn/operations/experimental/ccl/ring_attention_all_gather_async/device/ring_attention_all_gather_async_multi_core_with_workers_program_factory.cpp
  ttnn/cpp/ttnn/operations/experimental/indexer_score/device/indexer_score_device_operation.cpp
  ttnn/cpp/ttnn/operations/experimental/indexer_score/device/indexer_score_device_operation.hpp
  ttnn/cpp/ttnn/operations/experimental/indexer_score/device/indexer_score_device_operation_types.hpp
  ttnn/cpp/ttnn/operations/experimental/indexer_score/device/kernels/reader_indexer_score.cpp
  ttnn/cpp/ttnn/operations/experimental/indexer_score/device/ring_indexer_score_dsa_program_factory.cpp
  ttnn/cpp/ttnn/operations/experimental/indexer_score/indexer_score_nanobind.cpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

SDPA windowed mode: accept a Q that is a slice of a longer sequence
  tests/ttnn/unit_tests/operations/sdpa/test_windowed_sdpa.py
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/kernels/dataflow/windowed_mask_gen.hpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/kernels/dataflow/writer_interleaved.cpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/sdpa_device_operation.cpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/sdpa_device_operation.hpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/sdpa_device_operation_types.hpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/sdpa_program_factory.cpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/sdpa.cpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/sdpa.hpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/sdpa_nanobind.cpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

Clean up comments
  tests/ttnn/unit_tests/operations/fused/test_rms_norm_sharded.py
  ttnn/cpp/ttnn/operations/normalization/layernorm/device/kernels/compute/layernorm_sharded.cpp
  ttnn/cpp/ttnn/operations/normalization/layernorm/device/kernels/compute/layernorm_sharded_welford.cpp
  ttnn/cpp/ttnn/operations/normalization/layernorm/device/kernels/dataflow/reader_mcast_receiver_unary_sharded_ln.cpp
  ttnn/cpp/ttnn/operations/normalization/layernorm/device/kernels/dataflow/reader_mcast_sender_unary_sharded_ln.cpp
  ttnn/cpp/ttnn/operations/normalization/layernorm/device/kernels/dataflow/writer_unary_sharded_ln.cpp
  ttnn/cpp/ttnn/operations/normalization/layernorm/device/kernels/dataflow/writer_unary_sharded_ln_rm_gb.cpp
  ttnn/cpp/ttnn/operations/normalization/layernorm/device/layernorm_device_operation.cpp
  ttnn/cpp/ttnn/operations/normalization/layernorm/device/layernorm_op_multi_core_sharded.cpp
  ttnn/cpp/ttnn/operations/normalization/layernorm/device/sharded_layernorm_factory_helpers.cpp
  ttnn/cpp/ttnn/operations/normalization/layernorm/device/sharded_layernorm_factory_helpers.hpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

[Performance] Add high-bandwidth all-gather for sparse MLA prefill (#51134)
  .github/CODEOWNERS
  .github/time_budget.yaml
  .github/workflows/blaze-models-prefill-tests.yaml
  tests/pipeline_reorg/blackhole_multi_card_sanity_tests.yaml
  tests/pipeline_reorg/blaze_models_prefill_tests.yaml
  tests/ttnn/unit_tests/operations/experimental/test_high_bw_all_gather.py
  ttnn/cpp/ttnn/operations/experimental/CMakeLists.txt
  ttnn/cpp/ttnn/operations/experimental/experimental_nanobind.cpp
  ttnn/cpp/ttnn/operations/experimental/high_bw_all_gather/CMakeLists.txt
  ttnn/cpp/ttnn/operations/experimental/high_bw_all_gather/README.md
  ttnn/cpp/ttnn/operations/experimental/high_bw_all_gather/device/high_bw_all_gather_device_operation.cpp
  ttnn/cpp/ttnn/operations/experimental/high_bw_all_gather/device/high_bw_all_gather_device_operation.hpp
  ttnn/cpp/ttnn/operations/experimental/high_bw_all_gather/device/high_bw_all_gather_device_operation_types.hpp
  ttnn/cpp/ttnn/operations/experimental/high_bw_all_gather/device/high_bw_all_gather_scheduler.hpp
  ttnn/cpp/ttnn/operations/experimental/high_bw_all_gather/device/high_bw_all_gather_unicast_factory.cpp
  ttnn/cpp/ttnn/operations/experimental/high_bw_all_gather/device/high_bw_all_gather_unicast_factory.hpp
  ttnn/cpp/ttnn/operations/experimental/high_bw_all_gather/device/kernels/unicast_common.hpp
  ttnn/cpp/ttnn/operations/experimental/high_bw_all_gather/device/kernels/unicast_reader.cpp
  ttnn/cpp/ttnn/operations/experimental/high_bw_all_gather/device/kernels/unicast_writer.cpp
  ttnn/cpp/ttnn/operations/experimental/high_bw_all_gather/high_bw_all_gather.cpp
  ttnn/cpp/ttnn/operations/experimental/high_bw_all_gather/high_bw_all_gather.hpp
  ttnn/cpp/ttnn/operations/experimental/high_bw_all_gather/high_bw_all_gather_nanobind.cpp
  ttnn/cpp/ttnn/operations/experimental/high_bw_all_gather/high_bw_all_gather_nanobind.hpp
  ttnn/cpp/ttnn/operations/experimental/high_bw_all_gather/sources.cmake
Due: block-ttnn-pybind-changes, detect-legacy-device-op

Test Only: bench a properly sized GCB window; document the multicast linking
  tests/ttnn/unit_tests/operations/transformers/test_prefetcher_BH_broadcast_bench.py
  tt_metal/impl/buffers/kernels/tensor_prefetcher.cpp
Due: none

[Cleanup] Migrate precomposed NoC addresses to UnicastEndpoints (CCL) (#49577)
  ttnn/cpp/ttnn/operations/ccl/reduce_to_root/device/kernels/root2_receive_reader_kernel.cpp
  ttnn/cpp/ttnn/operations/ccl/reduce_to_root/device/kernels/root_receive_reader_kernel.cpp
  ttnn/cpp/ttnn/operations/ccl/reduce_to_root/device/kernels/sender_reader_kernel.cpp
  ttnn/cpp/ttnn/operations/experimental/ccl/all_gather_minimal_matmul_async/device/kernels/dm_in0_sender.cpp
  ttnn/cpp/ttnn/operations/experimental/ccl/llama_reduce_scatter_create_heads/device/kernels/dataflow/reader_llama_reduce_scatter.cpp
  ttnn/cpp/ttnn/operations/experimental/ccl/moe_compute/device/kernels/tilize_reader.cpp
  ttnn/cpp/ttnn/operations/experimental/ccl/moe_compute/device/kernels/tilize_writer.cpp
  ttnn/cpp/ttnn/operations/experimental/ccl/moe_gpt/device/kernels/tilize_reader.cpp
  ttnn/cpp/ttnn/operations/experimental/ccl/moe_gpt/device/kernels/tilize_writer.cpp
Due: block-ttnn-pybind-changes

update paths
  tests/pipeline_reorg/blaze_models_prefill_tests.yaml
Due: none

[skip ci] MiniMax-H3 ref2va: quality bars from measurement, warm latency, and one honest negative
  campaigns/minimax-h3-ref2va/ledgers/amendments.md
  campaigns/minimax-h3-ref2va/ledgers/attempts.md
  campaigns/minimax-h3-ref2va/ledgers/optimizations.md
  campaigns/minimax-h3-ref2va/lineage.jsonl
  models/tt_dit/pipelines/minimax_h3/pipeline_minimax_h3.py
  models/tt_dit/tests/models/minimax_h3/test_pipeline_ref2va_minimax_h3.py
Due: none

Kimi prefill runner CI: opt out of the dispatch-hang watchdog
  tests/pipeline_reorg/blaze_models_prefill_tests.yaml
Due: none

Remove comment
  tests/pipeline_reorg/blaze_models_prefill_tests.yaml
Due: none

Raise this leg's dispatch-hang watchdog from 0 to 300s
  tests/pipeline_reorg/blaze_models_prefill_tests.yaml
Due: none

[skip ci] MiniMax-H3 ref2va: campaign checkpoint — correctness met, perf not exhausted
  campaigns/minimax-h3-ref2va/CAMPAIGN.md
  campaigns/minimax-h3-ref2va/ledgers/attempts.md
  campaigns/minimax-h3-ref2va/lineage.jsonl
Due: none

[Test Escalation] Reassign test owner_id per 2026-08-06 escalation
  tests/pipeline_reorg/blackhole_e2e_tests.yaml
  tests/pipeline_reorg/demo_sp_release_tests.yaml
  tests/pipeline_reorg/galaxy_unit_tests.yaml
  tests/pipeline_reorg/llk_bit_exact_tests.yaml
  tests/pipeline_reorg/llk_e2e_tests.yaml
  tests/pipeline_reorg/llk_merge_gate_tests.yaml
  tests/pipeline_reorg/llk_perf_tests.yaml
  tests/pipeline_reorg/llk_pr_gate_tests.yaml
  tests/pipeline_reorg/llk_unit_tests.yaml
  tests/pipeline_reorg/models_e2e_tests.yaml
  tests/pipeline_reorg/ops_sanity_tests.yaml
  tests/pipeline_reorg/release_tests.yaml
  tests/pipeline_reorg/t3k_demo_tests.yaml
  tests/pipeline_reorg/t3k_e2e_tests.yaml
  tests/pipeline_reorg/t3k_perf_tests.yaml
  tests/pipeline_reorg/umd_sanity_tests.yaml
  tests/pipeline_reorg/vllm_model_tests.yaml
Due: none

#50684: regression tests for specless sharded-output CoreRangeSet shrink
  tests/ttnn/nightly/unit_tests/operations/data_movement/test_universal_input_tm_permute.py
  tests/ttnn/nightly/unit_tests/operations/data_movement/test_universal_input_tm_slice.py
  tests/ttnn/nightly/unit_tests/operations/data_movement/test_universal_input_tm_tranpose.py
Due: none

#50684: guard quasar BLOCK+COL_MAJOR branch with mirrored 6-core shrink test
  tests/ttnn/nightly/unit_tests/operations/experimental/quasar/test_quasar_transpose_shrink.py
Due: none

#50684: shrink CoreRangeSet in generate_transpose_shard_spec to populated shards
  ttnn/cpp/ttnn/operations/data_movement/transpose/device/transpose_utils.cpp
Due: block-ttnn-pybind-changes

#50684: extend shrink regression to gather + split callers of generate_transpose_shard_spec
  tests/ttnn/nightly/unit_tests/operations/data_movement/test_universal_input_tm_gather.py
  tests/ttnn/nightly/unit_tests/operations/data_movement/test_universal_input_tm_split.py
Due: none

#50684: cross-port shrink + orientation_hint into experimental/quasar generate_transpose_shard_spec
  tests/ttnn/nightly/unit_tests/operations/experimental/quasar/test_quasar_transpose_shrink.py
  ttnn/cpp/ttnn/operations/experimental/quasar/transpose/device/transpose_utils.cpp
  ttnn/cpp/ttnn/operations/experimental/quasar/transpose/device/transpose_utils.hpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

46331: wrong indices fix
  ttnn/cpp/ttnn/operations/data_movement/sort/device/kernels/dataflow/reader_single_row_single_core.cpp
  ttnn/cpp/ttnn/operations/data_movement/sort/device/kernels/dataflow/writer_single_row_multi_core.cpp
  ttnn/cpp/ttnn/operations/data_movement/sort/device/kernels/dataflow/writer_single_row_single_core.cpp
  ttnn/cpp/ttnn/operations/data_movement/sort/device/sort_device_operation.cpp
  ttnn/cpp/ttnn/operations/data_movement/sort/device/sort_program_factory.cpp
  ttnn/cpp/ttnn/operations/data_movement/sort/sort.cpp
Due: block-ttnn-pybind-changes

#46331: update comments
  tests/ttnn/unit_tests/operations/data_movement/test_sort.py
  ttnn/cpp/ttnn/operations/data_movement/sort/device/kernels/compute/sort_single_row_multi_core.cpp
  ttnn/cpp/ttnn/operations/data_movement/sort/device/kernels/dataflow/coordinator_single_row_multi_core.cpp
  ttnn/cpp/ttnn/operations/data_movement/sort/device/kernels/dataflow/reader_single_row_multi_core.cpp
  ttnn/cpp/ttnn/operations/data_movement/sort/device/kernels/dataflow/writer_single_row_multi_core.cpp
  ttnn/cpp/ttnn/operations/data_movement/sort/device/sort_device_operation.cpp
  ttnn/cpp/ttnn/operations/data_movement/sort/device/sort_program_factory.cpp
  ttnn/cpp/ttnn/operations/data_movement/sort/sort.cpp
Due: block-ttnn-pybind-changes

#46331: add test
  tests/ttnn/unit_tests/operations/data_movement/test_sort.py
Due: none

#46331: modify test
  tests/ttnn/unit_tests/operations/data_movement/test_sort.py
Due: none

Update ttsim version to 1.9.9
  tt_metal/tt-llk/tests/ttsim-version
Due: none

[TTTv2] phi4: migrate to model-owned llm_runtime executor
  models/common/models/phi4/__init__.py
  models/common/models/phi4/demo.py
  models/common/models/phi4/executor.py
  models/common/models/phi4/generator.py
  models/common/models/phi4/hf_adaptor.py
  models/common/models/phi4/model.py
  models/common/tests/demos/phi4/demo.py
  models/common/tests/llm_runtime/test_executor_integration.py
  models/common/tests/llm_runtime/test_model_contract.py
  models/common/tests/models/phi4/test_demo_contract.py
  models/common/tests/models/phi4/test_hf_adaptor.py
Due: none

Fix rank binding pinning group construction
  tools/scaleout/src/generate_rank_bindings.cpp
Due: none

[Cleanup] Phase C: migrate all_gather_minimal_matmul_async set_remote to Semaphore<>::relay_unicast
  ttnn/cpp/ttnn/operations/experimental/ccl/all_gather_minimal_matmul_async/device/kernels/dm_in0_sender.cpp
  ttnn/cpp/ttnn/operations/experimental/ccl/all_gather_minimal_matmul_async/device/kernels/dm_in1_sender_out.cpp
Due: block-ttnn-pybind-changes

[skip ci] Fix Silencer docs: JIT/device-kernel warning evidence lives in test-execution logs, not the host build (#52216)
  .github/workflows/silencer.lock.yml
  .github/workflows/silencer.md
Due: none

Gate top-level GTest dependency on test build flags
  third_party/CMakeLists.txt
Due: none
