Repository tenstorrent/tt-metal: changes, and which pre-commit hooks are due for each by the changed paths.
All: block-ttnn-pybind-changes, detect-legacy-device-op, validate-golden-csv-columns

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v3.2.0
  hooks:
    - id: trailing-whitespace
      exclude: \.patch$
    - id: end-of-file-fixer
      exclude: \.patch$
    - id: check-yaml
      args: ["--unsafe"]
    - id: check-added-large-files
# Using this mirror lets us use mypyc-compiled black, which is about 2x faster
- repo: https://github.com/psf/black-pre-commit-mirror
  rev: 23.10.1
  hooks:
    - id: black
      language_version: python3
- repo: https://github.com/PyCQA/autoflake
  rev: v2.3.1
  hooks:
    - id: autoflake
      args: [--remove-all-unused-imports, --in-place, --recursive, --exclude=__init__.py]
      files: ^models/  # Run only on files in the models directory
- repo: https://github.com/pycqa/isort
  rev: 5.13.2
  hooks:
    - id: isort
      files: ^models/
      exclude: ^models/(demos/llama3_70b_galaxy|experimental)/
- repo: https://github.com/BlankSpruce/gersemi
  rev: 0.16.2
  hooks:
    - id: gersemi
- repo: https://github.com/adrienverge/yamllint.git
  rev: v1.35.1
  hooks:
    - id: yamllint
- repo: https://github.com/pre-commit/mirrors-clang-format
  rev: v19.1.4
  hooks:
    - id: clang-format
      entry: git-clang-format
      require_serial: true
      types_or: [c++, c]
      args: ["--style=file"]
- repo: local
  hooks:
    - id: validate-metalium-includes
      name: validate-metalium-includes
      entry: python3 scripts/validate_api/validate_includes.py tt_metal/api --check-ttnn-forwards
      language: system
      pass_filenames: false
    - id: validate-metalium-deprecation
      name: validate-metalium-deprecation
      entry: python3 scripts/validate_api/validate_deprecation.py tt_metal/api origin/main
      language: system
      pass_filenames: false
- repo: local
  hooks:
    - id: check-torch-imports-in-ttnn
      name: Verify that there is no global torch import in ttnn
      entry: python3 scripts/validate_no_global_torch_imports.py
      language: system
      pass_filenames: false
- repo: local
  hooks:
    - id: block-ttnn-pybind-changes
      name: Prevent edits to frozen pybind11 sources under ttnn
      entry: python3 scripts/block_ttnn_pybind_changes.py
      language: system
      pass_filenames: true
      files: ^ttnn/
- repo: local
  hooks:
    - id: convert-notebooks-to-py
      name: Convert .ipynb to .py for ttnn basic examples
      entry: python3 scripts/convert_notebooks_to_python.py
      language: system
- repo: local
  hooks:
    - id: detect-legacy-device-op
      name: Detect legacy device operation classes in newly added files
      entry: python3 scripts/detect_legacy_device_op.py --check-new-only
      language: system
      types: [file]
      files: ^ttnn/.*\.hpp$
      pass_filenames: true
      require_serial: true
- repo: local
  hooks:
    - id: validate-golden-csv-columns
      name: Validate golden bandwidth CSV column headers
      entry: bash .github/scripts/utils/validate_golden_csv_columns.sh
      language: system
      pass_filenames: false
      files: ^tests/tt_metal/tt_metal/perf_microbenchmark/routing/golden/.*bandwidth.*\.csv$

Remove md files from branch
  ttnn/cpp/ttnn/operations/data_movement/fold/METAL2_PORT_BRIEF.md
  ttnn/cpp/ttnn/operations/data_movement/fold/METAL2_PORT_PLAN.md
  ttnn/cpp/ttnn/operations/data_movement/fold/METAL2_PORT_REPORT.md
  ttnn/cpp/ttnn/operations/data_movement/fold/METAL2_PREPORT_AUDIT.md
Due: block-ttnn-pybind-changes

fold Metal 2.0: relocate untilize compute fork beside the original
  ttnn/cpp/ttnn/operations/data_movement/fold/METAL2_PORT_PLAN.md
  ttnn/cpp/ttnn/operations/data_movement/fold/METAL2_PORT_REPORT.md
  ttnn/cpp/ttnn/operations/data_movement/fold/device/fold_multi_core_dram_program_factory.cpp
  ttnn/cpp/ttnn/operations/data_movement/untilize/device/kernels/compute/untilize.cpp
  ttnn/cpp/ttnn/operations/data_movement/untilize/device/kernels/compute/untilize_metal2.cpp
Due: block-ttnn-pybind-changes

fold Metal 2.0: address review — factory-local spec names, inline single-use compute-config lambda
  ttnn/cpp/ttnn/operations/data_movement/fold/device/fold_multi_core_dram_program_factory.cpp
  ttnn/cpp/ttnn/operations/data_movement/fold/device/fold_multi_core_program_factory.cpp
Due: block-ttnn-pybind-changes

[Tools] ditcheck: withhold findings built on assumed metadata, attribute them to model code
  models/tt_dit/tools/dit_analyzer/builder.py
  models/tt_dit/tools/dit_analyzer/ir.py
  models/tt_dit/tools/dit_analyzer/report.py
  models/tt_dit/tools/dit_analyzer/rules.py
  models/tt_dit/tools/dit_analyzer/semantics.py
  models/tt_dit/tools/dit_analyzer/state.py
Due: none

Enhance NOC debugging: replace event recording macros with debug-only variants for better traceability
  tt_metal/hw/inc/api/dataflow/dataflow_api.h
  tt_metal/hw/inc/api/dataflow/noc.h
  tt_metal/tools/profiler/event_metadata.hpp
  tt_metal/tools/profiler/kernel_profiler.hpp
  tt_metal/tools/profiler/noc_event_profiler.hpp
Due: none

more dprints
  ttnn/cpp/ttnn/operations/experimental/quasar/sharded_to_interleaved/device/kernels/dataflow/reader_unary_sharded.cpp
Due: block-ttnn-pybind-changes

[Tools] ditcheck: the dry run graduates from spike to front end
  models/tt_dit/tools/dit_analyzer/cli.py
  models/tt_dit/tools/dit_analyzer/dryrun/__init__.py
  models/tt_dit/tools/dit_analyzer/dryrun/context.py
  models/tt_dit/tools/dit_analyzer/dryrun/hostenv.py
  models/tt_dit/tools/dit_analyzer/dryrun/hostfakes.py
  models/tt_dit/tools/dit_analyzer/dryrun/install.py
  models/tt_dit/tools/dit_analyzer/dryrun/ops.py
  models/tt_dit/tools/dit_analyzer/dryrun/recorder.py
  models/tt_dit/tools/dit_analyzer/dryrun/stubs.py
  models/tt_dit/tools/dit_analyzer/dryrun/targets.py
  models/tt_dit/tools/dit_analyzer/dryrun/tensor.py
  models/tt_dit/tools/dit_analyzer/dryrun/verify.py
  models/tt_dit/tools/dit_analyzer/dryrun/weights.py
  models/tt_dit/tools/dit_analyzer/spike/.gitignore
  models/tt_dit/tools/dit_analyzer/spike/fake_ttnn.py
  models/tt_dit/tools/dit_analyzer/spike/run_ltx_block.py
  models/tt_dit/tools/dit_analyzer/spike/test_dryrun_matches_oracle.py
  models/tt_dit/tools/dit_analyzer/tests/test_dryrun.py
Due: none

[Tools] ditcheck: docs record phase 6 as done, phase 7 as next
  models/tt_dit/tools/dit_analyzer/DitStaticAnalyzerRoadmap.md
  models/tt_dit/tools/dit_analyzer/README.md
  models/tt_dit/tools/dit_analyzer/spike/FINDINGS.md
Due: none

cb_ -> dfb_
  ttnn/cpp/ttnn/operations/data_movement/fold/device/fold_multi_core_dram_program_factory.cpp
  ttnn/cpp/ttnn/operations/data_movement/fold/device/fold_multi_core_program_factory.cpp
  ttnn/cpp/ttnn/operations/data_movement/fold/device/kernels/dataflow/reader_dram2dfb_for_rm_input.cpp
  ttnn/cpp/ttnn/operations/data_movement/fold/device/kernels/dataflow/reader_dram2dfb_tiled.cpp
  ttnn/cpp/ttnn/operations/data_movement/fold/device/kernels/dataflow/writer_dfb2dram_for_rm_input.cpp
  ttnn/cpp/ttnn/operations/data_movement/fold/device/kernels/dataflow/writer_dfb2dram_for_tiled_input.cpp
  ttnn/cpp/ttnn/operations/data_movement/fold/device/kernels/dataflow/writer_dfb2s_row_major.cpp
Due: block-ttnn-pybind-changes

add optimized image encoder. Update pipeline test
  models/tt_dit/experimental/pipelines/pipeline_wan_lora.py
  models/tt_dit/experimental/pipelines/pipeline_wan_svi.py
  models/tt_dit/experimental/tests/test_pipeline_lora.py
  models/tt_dit/models/vae/vae_wan2_1.py
  models/tt_dit/pipelines/wan/pipeline_wan.py
  models/tt_dit/pipelines/wan/pipeline_wan_i2v.py
Due: none

perf_automation: the prefill ceiling is the fidelity MIX, summed per op
  models/experimental/perf_automation/agent/roofline.py
  models/experimental/perf_automation/cc_optimize/summary.py
  models/experimental/perf_automation/tests/test_gate_reads_the_pinned_ceiling.py
Due: none

[Tools] ditcheck: one status of record, and make the tool discoverable
  models/tt_dit/README.md
  models/tt_dit/tools/dit_analyzer/DitStaticAnalyzerPlan.md
  models/tt_dit/tools/dit_analyzer/DitStaticAnalyzerRoadmap.md
  models/tt_dit/tools/dit_analyzer/README.md
Due: none

perf_automation: list every fidelity mode in the prefill breakdown, not only the ones in use
  models/experimental/perf_automation/cc_optimize/summary.py
Due: none

Refinement 3: Speed up the wide/decode profiles (post-combine) — GRID_W auto width split, (1,1,32,7168) 3.28x (8.17x the reference, goal 7x)
  tests/ttnn/unit_tests/operations/rms_norm/probes/probe_043.py
  tests/ttnn/unit_tests/operations/rms_norm/probes/probe_044.py
  tests/ttnn/unit_tests/operations/rms_norm/test_rms_norm_perf.py
  tests/ttnn/unit_tests/operations/rms_norm/test_rms_norm_sharded.py
  ttnn/ttnn/operations/rms_norm/agent_logs/blocking-implementer_breadcrumbs.jsonl
  ttnn/ttnn/operations/rms_norm/changelog.md
  ttnn/ttnn/operations/rms_norm/op_requirements.md
  ttnn/ttnn/operations/rms_norm/rms_norm_program_descriptor.py
Due: block-ttnn-pybind-changes

revert all_broadcast fix
  tests/nightly/t3000/ccl/test_new_all_broadcast.py
  ttnn/cpp/ttnn/operations/ccl/all_broadcast/device/all_broadcast_device_operation.cpp
  ttnn/cpp/ttnn/operations/ccl/all_broadcast/device/all_broadcast_program_factory.cpp
Due: block-ttnn-pybind-changes

fix sharded_to_interleaved
  tests/ttnn/unit_tests/operations/data_movement/test_sharded_to_interleaved_rm_padded_width.py
  ttnn/cpp/ttnn/operations/data_movement/sharded/sharded_to_interleaved/device/sharded_to_interleaved_device_operation.cpp
  ttnn/cpp/ttnn/operations/data_movement/sharded/sharded_to_interleaved/device/sharded_to_interleaved_program_factory.cpp
Due: block-ttnn-pybind-changes

Add more experimental move outs
  tt_metal/api/tt-metalium/experimental/distributed_tensor/distributed_tensor_apis.hpp
  tt_metal/api/tt-metalium/experimental/tensor/tensor_apis.hpp
  tt_metal/impl/tensor/distributed_tensor_apis.cpp
  tt_metal/impl/tensor/host_tensor_factory.cpp
  tt_metal/impl/tensor/tensor_apis.cpp
  ttnn/api/ttnn/tensor/host_buffer/functions.hpp
  ttnn/api/ttnn/tensor/tensor_utils.hpp
  ttnn/cpp/ttnn-nanobind/pytensor.cpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

perf_automation: align the roofline table -- fidelity rows inside the box, ops label within its column
  models/experimental/perf_automation/cc_optimize/summary.py
Due: none

[Cleanup] Break DispatchCoreManager/ServiceCoreManager MetalContext::instance() cycle (#52023)
  tt_metal/api/internal/service/service_core_manager.hpp
  tt_metal/impl/context/metal_context.cpp
  tt_metal/impl/dispatch/dispatch_core_manager.cpp
  tt_metal/impl/dispatch/dispatch_core_manager.hpp
  tt_metal/impl/internal/service/service_core_manager.cpp
  tt_metal/impl/internal/service/service_core_manager_impl.hpp
Due: none

[ttnn] logaddexp: overflow-safe fused SFPU implementation
  tests/ttnn/unit_tests/operations/eltwise/test_binary_fp32.py
  tt_metal/hw/ckernels/blackhole/metal/llk_api/llk_sfpu/ckernel_sfpu_logaddexp.h
  tt_metal/hw/ckernels/wormhole_b0/metal/llk_api/llk_sfpu/ckernel_sfpu_logaddexp.h
  tt_metal/hw/inc/api/compute/logaddexp.h
  tt_metal/tt-llk/tt_llk_blackhole/common/inc/ckernel_defs.h
  tt_metal/tt-llk/tt_llk_wormhole_b0/common/inc/ckernel_defs.h
  ttnn/cpp/ttnn/operations/eltwise/binary_ng/device/binary_ng_utils.cpp
  ttnn/cpp/ttnn/operations/eltwise/binary_ng/device/binary_ng_utils.hpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

Fix ttnn::experimental name clash and restore alignment ctor
  tests/tt_metal/tt_metal/api/tensor/test_create_tensor.cpp
  tests/tt_metal/tt_metal/api/tensor/test_host_tensor_spec_preservation.cpp
  tests/tt_metal/tt_metal/api/tensor/test_host_tensor_to_dtype.cpp
  tests/tt_metal/tt_metal/api/tensor/test_host_tensor_to_tensor_spec.cpp
  tests/tt_metal/tt_metal/api/tensor/test_tensor_layout.cpp
  tests/tt_metal/tt_metal/api/tensor/test_vector_conversion.cpp
  tt_metal/api/tt-metalium/experimental/tensor/spec/layout/tensor_layout.hpp
  tt_metal/impl/tensor/spec/layout/tensor_layout.cpp
  tt_metal/impl/tensor/spec/layout/tensor_layout_apis_with_custom_alignment.cpp
  tt_metal/impl/tensor/spec/layout/tensor_layout_impl.hpp
  ttnn/core/tensor/tensor_ops.cpp
  ttnn/cpp/ttnn-nanobind/pytensor.cpp
  ttnn/cpp/ttnn/operations/data_movement/bcast/device/bcast_device_operation.cpp
  ttnn/cpp/ttnn/operations/data_movement/moe_routing_remap/device/moe_routing_remap_device_operation.cpp
  ttnn/cpp/ttnn/operations/data_movement/move/move.cpp
  ttnn/cpp/ttnn/operations/data_movement/pad/device/pad_device_operation.cpp
  ttnn/cpp/ttnn/operations/data_movement/reshape_on_device/device/reshape_op.cpp
  ttnn/cpp/ttnn/operations/data_movement/tilize/device/tilize_device_operation.cpp
  ttnn/cpp/ttnn/operations/data_movement/tilize_with_val_padding/device/tilize_with_val_padding_device_operation.cpp
  ttnn/cpp/ttnn/operations/data_movement/transpose/device/transpose_device_operation.cpp
  ttnn/cpp/ttnn/operations/data_movement/untilize/device/untilize_device_operation.cpp
  ttnn/cpp/ttnn/operations/eltwise/unary/device/unary_device_operation.cpp
  ttnn/cpp/ttnn/operations/experimental/ccl/rms_allgather/device/rms_allgather_device_operation.cpp
  ttnn/cpp/ttnn/operations/experimental/quasar/halo/device/halo_device_operation.cpp
  ttnn/cpp/ttnn/operations/experimental/quasar/move/move.cpp
  ttnn/cpp/ttnn/operations/experimental/quasar/pad/device/pad_device_operation.cpp
  ttnn/cpp/ttnn/operations/experimental/quasar/tilize/device/tilize_device_operation.cpp
  ttnn/cpp/ttnn/operations/experimental/quasar/tilize_with_val_padding/device/tilize_with_val_padding_device_operation.cpp
  ttnn/cpp/ttnn/operations/experimental/quasar/transpose/device/transpose_device_operation.cpp
  ttnn/cpp/ttnn/operations/experimental/quasar/untilize/device/untilize_device_operation.cpp
  ttnn/cpp/ttnn/operations/experimental/ssm/prefix_scan/device/prefix_scan_device_operation.cpp
  ttnn/cpp/ttnn/operations/experimental/transformer/rotate_half/device/rotate_half_device_operation.cpp
  ttnn/cpp/ttnn/operations/normalization/groupnorm/device/groupnorm_device_operation.cpp
  ttnn/cpp/ttnn/operations/normalization/layernorm/device/layernorm_device_operation.cpp
  ttnn/cpp/ttnn/operations/pool/grid_sample/device/grid_sample_device_operation.cpp
  ttnn/cpp/ttnn/operations/reduction/accumulation/ema/device/ema_device_operation.cpp
  ttnn/cpp/ttnn/operations/sliding_window/halo/device/halo_device_operation.cpp
Due: block-ttnn-pybind-changes

ttop: call the await loop via $GITHUB_ACTION_PATH, not a nested uses (#52028)
  .github/actions/ttop-await-resource/action.yaml
  .github/actions/ttop-await-resource/await.sh
  .github/actions/ttop-create-allocation/action.yaml
  .github/actions/ttop-create-environment/action.yaml
  .github/actions/ttop-delete-allocation/action.yaml
  .github/actions/ttop-delete-environment/action.yaml
Due: none

Move Llama-3.3-70B to HF weights and decouple from the llama2_70b reference submodule
  models/demos/llama3_70b_galaxy/demo/demo_decode.py
  models/demos/llama3_70b_galaxy/demo/demo_performance.py
  models/demos/llama3_70b_galaxy/demo/prefix_caching_benchmark.py
  models/demos/llama3_70b_galaxy/demo/text_demo.py
  models/demos/llama3_70b_galaxy/reference/llama.py
  models/demos/llama3_70b_galaxy/tests/test_llama_accuracy.py
  models/demos/llama3_70b_galaxy/tests/test_llama_decoder.py
  models/demos/llama3_70b_galaxy/tests/test_llama_embedding.py
  models/demos/llama3_70b_galaxy/tests/test_llama_model.py
  models/demos/llama3_70b_galaxy/tests/test_llama_model_nd.py
  models/demos/llama3_70b_galaxy/tests/test_llama_torch.py
  models/demos/llama3_70b_galaxy/tests/unit_tests/test_llama_attention.py
  models/demos/llama3_70b_galaxy/tests/unit_tests/test_llama_attention_prefill.py
  models/demos/llama3_70b_galaxy/tests/unit_tests/test_llama_decoder_prefill.py
  models/demos/llama3_70b_galaxy/tests/unit_tests/test_llama_mlp.py
  models/demos/llama3_70b_galaxy/tests/unit_tests/test_llama_mlp_prefill.py
  models/demos/llama3_70b_galaxy/tests/unit_tests/test_llama_model_prefill.py
  models/demos/llama3_70b_galaxy/tests/unit_tests/test_llama_rms_norm.py
  models/demos/llama3_70b_galaxy/tt/model_config.py
  tests/pipeline_reorg/models_unit_tests.yaml
Due: none

move Llama-3.3-70B to HF weights and decouple from the llama2_70b reference submodule
  .github/workflows/models-t1-unit-tests.yaml
  models/demos/llama3_70b_galaxy/tests/test_llama_decoder.py
  models/demos/llama3_70b_galaxy/tests/test_llama_model.py
  models/demos/llama3_70b_galaxy/tests/test_llama_torch.py
  models/demos/llama3_70b_galaxy/tests/unit_tests/test_llama_attention.py
  models/demos/llama3_70b_galaxy/tests/unit_tests/test_llama_attention_prefill.py
  models/demos/llama3_70b_galaxy/tests/unit_tests/test_llama_decoder_prefill.py
  models/demos/llama3_70b_galaxy/tests/unit_tests/test_llama_mlp.py
  models/demos/llama3_70b_galaxy/tests/unit_tests/test_llama_mlp_prefill.py
  models/demos/llama3_70b_galaxy/tests/unit_tests/test_llama_model_prefill.py
  models/demos/llama3_70b_galaxy/tests/unit_tests/test_llama_rms_norm.py
  models/demos/llama3_70b_galaxy/tt/model_config.py
Due: none

fix copyright message
  models/demos/llama3_70b_galaxy/reference/llama.py
Due: none

[Tools] ditcheck: phase 7 shape/layout fidelity, corroborated on 2x4
  models/tt_dit/tools/dit_analyzer/DitStaticAnalyzerRoadmap.md
  models/tt_dit/tools/dit_analyzer/README.md
  models/tt_dit/tools/dit_analyzer/cli.py
  models/tt_dit/tools/dit_analyzer/conform.py
  models/tt_dit/tools/dit_analyzer/dryrun/checkpoint.py
  models/tt_dit/tools/dit_analyzer/dryrun/ops.py
  models/tt_dit/tools/dit_analyzer/dryrun/targets.py
  models/tt_dit/tools/dit_analyzer/dryrun/tensor.py
  models/tt_dit/tools/dit_analyzer/dryrun/weights.py
  models/tt_dit/tools/dit_analyzer/ir.py
  models/tt_dit/tools/dit_analyzer/region.py
  models/tt_dit/tools/dit_analyzer/rules.py
  models/tt_dit/tools/dit_analyzer/tests/test_dit_analyzer.py
  models/tt_dit/tools/dit_analyzer/tests/test_dryrun.py
Due: none

fix errorfor Device 0 worker core(x= 2,y= 5) virtual(x=20,y=23): TRISC1 accessed unique runtime arg index out of bounds
  ttnn/cpp/ttnn/operations/experimental/transformer/rotary_embedding_llama_fused_qk/device/rotary_embedding_llama_fused_qk_program_factory.cpp
Due: block-ttnn-pybind-changes

Apply suggestions from code review
  models/demos/llama3_70b_galaxy/tests/test_llama_model.py
  models/demos/llama3_70b_galaxy/tests/test_llama_torch.py
Due: none

fix notes
  models/demos/llama3_70b_galaxy/tests/test_llama_decoder.py
Due: none

fix skip checking
  conftest.py
Due: none

update output batch for 6U
  models/demos/llama3_70b_galaxy/demo/outputs_batch_1.json
  models/demos/llama3_70b_galaxy/tests/unit_tests/test_llama_attention.py
  models/demos/llama3_70b_galaxy/tests/unit_tests/test_llama_attention_prefill.py
  models/demos/llama3_70b_galaxy/tests/unit_tests/test_llama_decoder_prefill.py
  models/demos/llama3_70b_galaxy/tests/unit_tests/test_llama_mlp.py
  models/demos/llama3_70b_galaxy/tests/unit_tests/test_llama_mlp_prefill.py
  models/demos/llama3_70b_galaxy/tests/unit_tests/test_llama_model_prefill.py
  models/demos/llama3_70b_galaxy/tests/unit_tests/test_llama_rms_norm.py
Due: none

concat: honour the unaligned-last-dim fallbacks when sub_core_grids is set
  tests/ttnn/unit_tests/operations/data_movement/test_concat.py
  ttnn/cpp/ttnn/operations/data_movement/concat/concat.cpp
Due: block-ttnn-pybind-changes

test_pad: use the expect_error fixture instead of pytest.raises
  tests/ttnn/unit_tests/operations/data_movement/test_pad.py
Due: none

untilize: don't leak tile padding into an interleaved row-major output
  tests/ttnn/unit_tests/base_functionality/test_reshape.py
  tests/ttnn/unit_tests/operations/data_movement/test_concat.py
  tests/ttnn/unit_tests/operations/data_movement/test_pad.py
  tests/ttnn/unit_tests/operations/data_movement/test_untilize.py
  ttnn/cpp/ttnn/operations/data_movement/untilize/untilize.cpp
Due: block-ttnn-pybind-changes

Wire Gemma-2 (2B/9B) into 3-tier Models CI + fix decoder unit-test local rope
  .github/time_budget.yaml
  .github/workflows/models-t3-e2e-tests.yaml
  .github/workflows/models-t3-unit-tests.yaml
  models/model_ci_tiers.md
  models/model_targets.yaml
  models/tt_transformers/tests/reference_outputs/gemma-2-2b-it.refpt
  models/tt_transformers/tests/reference_outputs/gemma-2-9b-it.refpt
  models/tt_transformers/tests/test_decoder.py
  tests/pipeline_reorg/models_e2e_tests.yaml
  tests/pipeline_reorg/models_unit_tests.yaml
Due: none

Refinement 4 (WIP): DEST-fold the square (L6d) + compact combine gather
  tests/ttnn/unit_tests/operations/rms_norm/probes/probe_045.py
  tests/ttnn/unit_tests/operations/rms_norm/probes/read_perf_csv.py
  tests/ttnn/unit_tests/operations/rms_norm/test_rms_norm_perf.py
  ttnn/ttnn/operations/rms_norm/kernels/rms_norm_compute.cpp
  ttnn/ttnn/operations/rms_norm/kernels/rms_norm_writer.cpp
  ttnn/ttnn/operations/rms_norm/rms_norm_program_descriptor.py
Due: block-ttnn-pybind-changes

streamline vc slot access and queries, injection policies and builder threading
  tests/tt_metal/tt_fabric/fabric_router/test_direction_slot_bijection.cpp
  tests/tt_metal/tt_fabric/fabric_router/test_express_connection_wiring.cpp
  tests/tt_metal/tt_fabric/fabric_router/test_fabric_edge_capability.cpp
  tests/tt_metal/tt_fabric/fabric_router/test_injection_policies.cpp
  tests/tt_metal/tt_fabric/fabric_router/test_protected_domain_effects.cpp
  tests/tt_metal/tt_fabric/sources.cmake
  tt_metal/fabric/builder/fabric_builder_helpers.cpp
  tt_metal/fabric/builder/fabric_builder_helpers.hpp
  tt_metal/fabric/builder/fabric_edge_capability.cpp
  tt_metal/fabric/builder/fabric_edge_capability.hpp
  tt_metal/fabric/builder/injection_policy.cpp
  tt_metal/fabric/builder/injection_policy.hpp
  tt_metal/fabric/builder/protected_domain_effect.cpp
  tt_metal/fabric/builder/protected_domain_effect.hpp
  tt_metal/fabric/builder/router_wiring_rules.cpp
  tt_metal/fabric/compute_mesh_router_builder.cpp
  tt_metal/fabric/compute_mesh_router_builder.hpp
  tt_metal/fabric/fabric_builder.cpp
  tt_metal/fabric/fabric_builder.hpp
  tt_metal/fabric/fabric_router_builder.cpp
  tt_metal/fabric/fabric_router_builder.hpp
  tt_metal/fabric/sources.cmake
Due: none
