Repository tenstorrent/tt-metal: changes, and which pre-commit hooks are due for each by the changed paths.
All: block-ttnn-pybind-changes, detect-legacy-device-op, validate-golden-csv-columns

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v3.2.0
  hooks:
    - id: trailing-whitespace
      exclude: \.patch$
    - id: end-of-file-fixer
      exclude: \.patch$
    - id: check-yaml
      args: ["--unsafe"]
    - id: check-added-large-files
# Using this mirror lets us use mypyc-compiled black, which is about 2x faster
- repo: https://github.com/psf/black-pre-commit-mirror
  rev: 23.10.1
  hooks:
    - id: black
      language_version: python3
- repo: https://github.com/PyCQA/autoflake
  rev: v2.3.1
  hooks:
    - id: autoflake
      args: [--remove-all-unused-imports, --in-place, --recursive, --exclude=__init__.py]
      files: ^models/  # Run only on files in the models directory
- repo: https://github.com/pycqa/isort
  rev: 5.13.2
  hooks:
    - id: isort
      files: ^models/
      exclude: ^models/(demos/llama3_70b_galaxy|experimental)/
- repo: https://github.com/BlankSpruce/gersemi
  rev: 0.16.2
  hooks:
    - id: gersemi
- repo: https://github.com/adrienverge/yamllint.git
  rev: v1.35.1
  hooks:
    - id: yamllint
- repo: https://github.com/pre-commit/mirrors-clang-format
  rev: v19.1.4
  hooks:
    - id: clang-format
      entry: git-clang-format
      require_serial: true
      types_or: [c++, c]
      args: ["--style=file"]
- repo: local
  hooks:
    - id: validate-metalium-includes
      name: validate-metalium-includes
      entry: python3 scripts/validate_api/validate_includes.py tt_metal/api --check-ttnn-forwards
      language: system
      pass_filenames: false
    - id: validate-metalium-deprecation
      name: validate-metalium-deprecation
      entry: python3 scripts/validate_api/validate_deprecation.py tt_metal/api origin/main
      language: system
      pass_filenames: false
- repo: local
  hooks:
    - id: check-torch-imports-in-ttnn
      name: Verify that there is no global torch import in ttnn
      entry: python3 scripts/validate_no_global_torch_imports.py
      language: system
      pass_filenames: false
- repo: local
  hooks:
    - id: block-ttnn-pybind-changes
      name: Prevent edits to frozen pybind11 sources under ttnn
      entry: python3 scripts/block_ttnn_pybind_changes.py
      language: system
      pass_filenames: true
      files: ^ttnn/
- repo: local
  hooks:
    - id: convert-notebooks-to-py
      name: Convert .ipynb to .py for ttnn basic examples
      entry: python3 scripts/convert_notebooks_to_python.py
      language: system
- repo: local
  hooks:
    - id: detect-legacy-device-op
      name: Detect legacy device operation classes in newly added files
      entry: python3 scripts/detect_legacy_device_op.py --check-new-only
      language: system
      types: [file]
      files: ^ttnn/.*\.hpp$
      pass_filenames: true
      require_serial: true
- repo: local
  hooks:
    - id: validate-golden-csv-columns
      name: Validate golden bandwidth CSV column headers
      entry: bash .github/scripts/utils/validate_golden_csv_columns.sh
      language: system
      pass_filenames: false
      files: ^tests/tt_metal/tt_metal/perf_microbenchmark/routing/golden/.*bandwidth.*\.csv$

Fix rebase: reapply dropped CI infra changes to perf/fast-dispatch workflows
  .github/workflows/fast-dispatch-full-regressions-and-models-impl.yaml
  .github/workflows/perf-device-models-impl.yaml
  .github/workflows/perf-models-impl.yaml
Due: none

kernel_lib/tilize_helpers: add fp32 mode compile-time guards
  ttnn/cpp/ttnn/kernel_lib/tilize_helpers.inl
Due: block-ttnn-pybind-changes

Revert "Remove 'none' update from tt_ops_code_gen branch"
  .gitmodules
Due: none

Profile device-lock contention in test runners + bump tt_ops_code_gen
  scripts/run_safe_pytest.sh
  scripts/tt-probe.sh
Due: none

kernel_lib/docs: add tilize_untilize_reference.md
  ttnn/cpp/ttnn/kernel_lib/docs/tilize_untilize_reference.md
Due: block-ttnn-pybind-changes

Fix Exp<> init: drop fast arg from exp_tile_init after fast_and_approx removal
  ttnn/cpp/ttnn/kernel_lib/sfpu_helpers.inl
Due: block-ttnn-pybind-changes

kernel_lib: add streaming_reduce_helpers + toy_variance demo
  tests/ttnn/unit_tests/operations/toy_variance/test_toy_variance.py
  ttnn/cpp/ttnn/kernel_lib/reduce_helpers_compute.hpp
  ttnn/cpp/ttnn/kernel_lib/streaming_reduce_helpers.hpp
  ttnn/cpp/ttnn/kernel_lib/streaming_reduce_helpers.inl
  ttnn/ttnn/operations/toy_variance/__init__.py
  ttnn/ttnn/operations/toy_variance/kernels/compute.cpp
  ttnn/ttnn/operations/toy_variance/kernels/reader.cpp
  ttnn/ttnn/operations/toy_variance/kernels/writer.cpp
  ttnn/ttnn/operations/toy_variance/toy_variance.py
  ttnn/ttnn/operations/toy_variance/toy_variance_program_descriptor.py
Due: block-ttnn-pybind-changes, detect-legacy-device-op

eltwise helpers
  ttnn/cpp/ttnn/kernel_lib/eltwise_activations.hpp
  ttnn/cpp/ttnn/kernel_lib/eltwise_binary_sfpu.hpp
  ttnn/cpp/ttnn/kernel_lib/eltwise_chain.hpp
  ttnn/cpp/ttnn/kernel_lib/eltwise_chain.inl
  ttnn/cpp/ttnn/kernel_lib/eltwise_convenience.hpp
  ttnn/cpp/ttnn/kernel_lib/eltwise_fill.hpp
  ttnn/cpp/ttnn/kernel_lib/eltwise_helpers.hpp
  ttnn/cpp/ttnn/kernel_lib/eltwise_math.hpp
  ttnn/cpp/ttnn/kernel_lib/eltwise_misc.hpp
  ttnn/cpp/ttnn/kernel_lib/eltwise_optional.hpp
  ttnn/cpp/ttnn/kernel_lib/eltwise_predicates.hpp
  ttnn/cpp/ttnn/kernel_lib/eltwise_rand.hpp
  ttnn/cpp/ttnn/kernel_lib/eltwise_rounding.hpp
  ttnn/cpp/ttnn/kernel_lib/eltwise_scalar.hpp
  ttnn/cpp/ttnn/kernel_lib/eltwise_special.hpp
  ttnn/cpp/ttnn/kernel_lib/eltwise_trig.hpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

scripts: route run_safe_pytest / tt-probe markers to stdout
  scripts/run_safe_pytest.sh
  scripts/tt-probe.sh
Due: none

Fix sfpu_helpers.inl rebase: drop approx template arg from erfc
  ttnn/cpp/ttnn/kernel_lib/sfpu_helpers.inl
Due: block-ttnn-pybind-changes

kernel_lib/reduce_helpers: add partial-tile two-scaler-tile API
  ttnn/cpp/ttnn/kernel_lib/reduce_helpers_compute.hpp
  ttnn/cpp/ttnn/kernel_lib/reduce_helpers_compute.inl
  ttnn/cpp/ttnn/kernel_lib/reduce_helpers_dataflow.hpp
  ttnn/cpp/ttnn/kernel_lib/reduce_helpers_dataflow.inl
Due: block-ttnn-pybind-changes, detect-legacy-device-op

added binary min max
  ttnn/cpp/ttnn/kernel_lib/sfpu_helpers.hpp
  ttnn/cpp/ttnn/kernel_lib/sfpu_helpers.inl
Due: block-ttnn-pybind-changes, detect-legacy-device-op

kernel_lib/agents/llk_review_fix_agent: align hang-triage hint with run_safe_pytest.sh
  ttnn/cpp/ttnn/kernel_lib/agents/llk_review_fix_agent.md
Due: block-ttnn-pybind-changes

ttnn: add toy_reduce_partial op + tests
  tests/ttnn/unit_tests/operations/toy_reduce_partial/test_toy_reduce_partial.py
  ttnn/ttnn/operations/toy_reduce_partial/__init__.py
  ttnn/ttnn/operations/toy_reduce_partial/kernels/compute.cpp
  ttnn/ttnn/operations/toy_reduce_partial/kernels/reader.cpp
  ttnn/ttnn/operations/toy_reduce_partial/kernels/writer.cpp
  ttnn/ttnn/operations/toy_reduce_partial/toy_reduce_partial.py
  ttnn/ttnn/operations/toy_reduce_partial/toy_reduce_partial_program_descriptor.py
Due: block-ttnn-pybind-changes

kernel_lib/binary_op_helpers: port in-place ops, broadcast guards, assertion suite
  ttnn/cpp/ttnn/kernel_lib/binary_op_helpers.hpp
  ttnn/cpp/ttnn/kernel_lib/binary_op_helpers.inl
Due: block-ttnn-pybind-changes, detect-legacy-device-op

scripts: heartbeat every 20s while waiting on device lock
  scripts/run_safe_pytest.sh
Due: none

docs: make NOC alignment guide op-agnostic
  docs/NOC_ALIGNMENT_IN_TT_METAL.md
Due: none

Remove 'none' update from tt_ops_code_gen branch
  .gitmodules
Due: none

ttnn: add toy_binary_in_place op + tests
  tests/ttnn/unit_tests/operations/toy_binary_in_place/test_toy_binary_in_place.py
  ttnn/ttnn/operations/toy_binary_in_place/__init__.py
  ttnn/ttnn/operations/toy_binary_in_place/kernels/compute.cpp
  ttnn/ttnn/operations/toy_binary_in_place/kernels/reader.cpp
  ttnn/ttnn/operations/toy_binary_in_place/kernels/writer.cpp
  ttnn/ttnn/operations/toy_binary_in_place/toy_binary_in_place.py
  ttnn/ttnn/operations/toy_binary_in_place/toy_binary_in_place_program_descriptor.py
Due: block-ttnn-pybind-changes

tt-probe: align with run_safe_pytest --dev / JSON triage / hang detection
  scripts/tt-probe.sh
Due: none

kernel_lib: standardize all helpers on compute_kernel_hw_startup as the single boot init
  ttnn/cpp/ttnn/kernel_lib/binary_op_helpers.hpp
  ttnn/cpp/ttnn/kernel_lib/copy_tile_helpers.hpp
  ttnn/cpp/ttnn/kernel_lib/reduce_helpers_compute.hpp
  ttnn/cpp/ttnn/kernel_lib/sfpu_helpers.hpp
  ttnn/cpp/ttnn/kernel_lib/tilize_helpers.hpp
  ttnn/cpp/ttnn/kernel_lib/untilize_helpers.hpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

run_safe_pytest: surface JSON triage, defer ttexalens warning, skip version check
  scripts/run_safe_pytest.sh
Due: none

Move the nuke script to submodule
  scripts/nuke_op.sh
Due: none

hooks/wrappers: normalize exit codes and clear stale triage state
  scripts/run_safe_pytest.sh
  scripts/tt-probe.sh
Due: none

eltwise convenience
  ttnn/cpp/ttnn/kernel_lib/eltwise_convenience.hpp
  ttnn/examples/lab_eltwise_binary/kernels/compute/tiles_add.cpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

eltwise_chain: reconfig on by default; drop CbOut + Output from BinaryFpu
  ttnn/cpp/ttnn/kernel_lib/eltwise_chain.hpp
  ttnn/cpp/ttnn/kernel_lib/eltwise_chain.inl
  ttnn/cpp/ttnn/kernel_lib/eltwise_convenience.hpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

docs(llk_helpers/agents): pull pipeline updates from eltwise_run7_refined_rebase_v2
  ttnn/cpp/ttnn/kernel_lib/agents/llk_catalog_agent.md
  ttnn/cpp/ttnn/kernel_lib/agents/llk_helpers_hq.md
  ttnn/cpp/ttnn/kernel_lib/agents/llk_helpers_pipeline.md
  ttnn/cpp/ttnn/kernel_lib/agents/llk_investigation_agent.md
Due: block-ttnn-pybind-changes

ccl: add ProgramDescriptor overloads to fused-op signalers
  ttnn/cpp/ttnn/operations/ccl/ccl_op_fusion.cpp
  ttnn/cpp/ttnn/operations/ccl/ccl_op_fusion.hpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

move to device 1.1 api and use implicit sync on quasar
  tests/tt_metal/tt_metal/test_bmm.cpp
  tests/tt_metal/tt_metal/test_kernels/compute/bmm.cpp
  tests/tt_metal/tt_metal/test_kernels/dataflow/reader_bmm_8bank.cpp
  tests/tt_metal/tt_metal/test_kernels/dataflow/writer_bmm_8bank.cpp
Due: none

matmul: add ProgramDescriptor variant of matmul_multi_core_reuse_mcast_2d_optimized_helper
  ttnn/cpp/ttnn/operations/matmul/device/factory/matmul_multicore_reuse_mcast_2d_program_factory.cpp
  ttnn/cpp/ttnn/operations/matmul/device/factory/matmul_multicore_reuse_mcast_2d_program_factory.hpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op
