Repository tenstorrent/tt-metal: changes, and which pre-commit hooks are due for each by the changed paths.
All: block-ttnn-pybind-changes, detect-legacy-device-op, validate-golden-csv-columns

block-ttnn-pybind-changes:
  name: Prevent edits to frozen pybind11 sources under ttnn
  entry: python3 scripts/block_ttnn_pybind_changes.py
  language: system
  pass_filenames: true

detect-legacy-device-op:
  name: Detect legacy device operation classes in newly added files
  entry: python3 scripts/detect_legacy_device_op.py --check-new-only
  language: system
  pass_filenames: true
  require_serial: true

validate-golden-csv-columns:
  name: Validate golden bandwidth CSV column headers
  entry: bash .github/scripts/utils/validate_golden_csv_columns.sh
  language: system
  pass_filenames: false

#0: Resolove comments
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/sdpa_program_factory.cpp
Due: block-ttnn-pybind-changes

#37414: Prefill optimised MLA op.
  tests/tt_eager/python_api_testing/unit_testing/misc/test_flash_multi_latent_attention_prefill_v_embedding_space.py
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/kernels/dataflow/reader_interleaved.cpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/sdpa_device_operation.cpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/sdpa_program_factory.cpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/sdpa.cpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/sdpa.hpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/sdpa_nanobind.cpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

#0: Resolve comments
  ttnn/cpp/ttnn/operations/transformer/sdpa/sdpa_nanobind.cpp
Due: block-ttnn-pybind-changes

#0: PR feedback, add 128k test
  tests/tt_eager/python_api_testing/unit_testing/misc/test_flash_multi_latent_attention_prefill_v_embedding_space.py
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/sdpa_device_operation.cpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/sdpa_program_factory.cpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/sdpa.cpp
Due: block-ttnn-pybind-changes

#0: Update ring distributed sdpa
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/ring_distributed_sdpa_program_factory.cpp
Due: block-ttnn-pybind-changes

#0: Move test to sdpa folder
  tests/ttnn/unit_tests/operations/sdpa/test_mla_prefill_v_embedding_space.py
Due: none

#0: PR feedback
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/kernels/dataflow/reader_interleaved.cpp
Due: block-ttnn-pybind-changes

fix
  tests/sweep_framework/master_config_loader.py
  tests/sweep_framework/master_config_loader_v2.py
Due: none

#37414: Prefill optimised MLA op. (#37721)
  tests/ttnn/unit_tests/operations/sdpa/test_mla_prefill_v_embedding_space.py
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/kernels/dataflow/reader_interleaved.cpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/ring_distributed_sdpa_program_factory.cpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/sdpa_device_operation.cpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/sdpa_program_factory.cpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/sdpa.cpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/sdpa.hpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/sdpa_nanobind.cpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

Fix matmul call for Quasar
  tt_metal/include/compute_kernel_api/matmul.h
Due: none

Revert "Remove flux1 tests till issue is resolved"
  .github/workflows/galaxy-demo-tests-impl.yaml
  tests/pipeline_reorg/t3k_demo_tests.yaml
Due: none

Revert "Fix which tests are disabled"
  .github/workflows/galaxy-demo-tests-impl.yaml
Due: none

Revert "Temporarly disable demo tests that are failing"
  .github/workflows/galaxy-demo-tests-impl.yaml
  tests/pipeline_reorg/t3k_demo_tests.yaml
Due: none

Revert "Temporarily disable bh tests"
  .github/workflows/release-build-test-publish.yaml
Due: none

Revert "Add missing configs for gamma3 (#37775)"
  models/demos/gemma3/tt/model_config.py
Due: none

Refactor per_core_N_compute and per_core_N_in1_sender
  ttnn/cpp/ttnn/operations/matmul/device/factory/matmul_multicore_reuse_mcast_dram_sharded_program_factory.cpp
Due: block-ttnn-pybind-changes

remove duplicate files
  models/demos/deepseek_v3/micro_ops/tilize_16x32/kernels/tilize_16x32_kernel.cpp
  models/demos/deepseek_v3/micro_ops/tilize_16x32/op.py
  models/demos/deepseek_v3/tests/fused_op_unit_tests/moe/tilize_16x32/kernels/tilize_16x32_kernel.cpp
Due: none

clean up asserts and checking for odd-size expected failure cases
  models/demos/deepseek_v3/tests/fused_op_unit_tests/moe/test_tilize_16x32.py
  models/demos/deepseek_v3/tests/fused_op_unit_tests/moe/tilize_16x32/op.py
Due: none

Add MOE test for new 16xN fast tilize (N must be divisible by 64)
  models/demos/deepseek_v3/micro_ops/tilize_16x32/kernels/tilize_16x32_kernel.cpp
  models/demos/deepseek_v3/micro_ops/tilize_16x32/op.py
  models/demos/deepseek_v3/tests/fused_op_unit_tests/moe/test_tilize_16x32.py
  models/demos/deepseek_v3/tests/fused_op_unit_tests/moe/tilize_16x32/kernels/tilize_16x32_kernel.cpp
  models/demos/deepseek_v3/tests/fused_op_unit_tests/moe/tilize_16x32/op.py
Due: none

disable padding[0] check for conv3d, add test config (#31720)
  tests/ttnn/nightly/unit_tests/operations/conv/test_conv3d.py
  ttnn/cpp/ttnn/operations/experimental/conv3d/device/conv3d_device_operation.cpp
Due: block-ttnn-pybind-changes

[=FEATURE=] Tensix Performance Counters Implementation (#1135)
  docs/performance_counters/performance_counters.md
  tests/helpers/include/counters.h
  tests/python_tests/helpers/counters.py
  tests/python_tests/helpers/metrics.py
  tests/python_tests/helpers/test_config.py
Due: none

Add python version to docker build args
  .github/workflows/build-all-docker-images.yaml
Due: none

Temporary eval debug branch
  models/demos/deepseek_v3/demo/demo.py
  models/demos/deepseek_v3/demo/generate_teacher_forced_file.py
  models/demos/deepseek_v3/demo/test_demo_teacher_forced.py
  models/demos/deepseek_v3/demo/token_accuracy.py
  models/demos/deepseek_v3/tests/test_lm_head1d_stress.py
  models/demos/deepseek_v3/tt/generator.py
Due: none

Higher quality prompts
  models/demos/deepseek_v3/demo/demo_aime24_gpqa_short.json
Due: none

Double buffering for short rows
  tt-train/sources/ttml/metal/ops/softmax_backward/device/softmax_backward_program_factory.cpp
Due: none

Softmax_backward in tt-train
  tt-train/sources/ttml/CMakeLists.txt
  tt-train/sources/ttml/metal/operations.hpp
  tt-train/sources/ttml/metal/ops/softmax_backward/device/kernels/compute/softmax_backward_kernel.cpp
  tt-train/sources/ttml/metal/ops/softmax_backward/device/kernels/dataflow/reader_softmax_backward.cpp
  tt-train/sources/ttml/metal/ops/softmax_backward/device/kernels/dataflow/writer_softmax_backward.cpp
  tt-train/sources/ttml/metal/ops/softmax_backward/device/softmax_backward_device_operation.cpp
  tt-train/sources/ttml/metal/ops/softmax_backward/device/softmax_backward_device_operation.hpp
  tt-train/sources/ttml/metal/ops/softmax_backward/device/softmax_backward_device_operation_types.hpp
  tt-train/sources/ttml/metal/ops/softmax_backward/device/softmax_backward_program_factory.cpp
  tt-train/sources/ttml/metal/ops/softmax_backward/device/softmax_backward_program_factory.hpp
  tt-train/sources/ttml/metal/ops/softmax_backward/softmax_backward.cpp
  tt-train/sources/ttml/metal/ops/softmax_backward/softmax_backward.hpp
  tt-train/tests/CMakeLists.txt
  tt-train/tests/ops/softmax_backward_op_test.cpp
Due: none

Add arbitrary sub_core_grid support
  tt-train/sources/ttml/metal/ops/softmax_backward/device/kernels/dataflow/reader_softmax_backward.cpp
  tt-train/sources/ttml/metal/ops/softmax_backward/device/kernels/dataflow/writer_softmax_backward.cpp
  tt-train/sources/ttml/metal/ops/softmax_backward/device/softmax_backward_program_factory.cpp
  tt-train/tests/ops/softmax_backward_op_test.cpp
Due: none

Address comments - part 1
  tt-train/sources/ttml/CMakeLists.txt
  tt-train/sources/ttml/metal/common/compute_utils.hpp
  tt-train/sources/ttml/metal/ops/softmax_backward/device/kernels/compute/softmax_backward_kernel.cpp
  tt-train/sources/ttml/metal/ops/softmax_backward/device/kernels/dataflow/writer_softmax_backward.cpp
  tt-train/sources/ttml/metal/ops/softmax_backward/device/softmax_backward_device_operation.cpp
  tt-train/sources/ttml/metal/ops/softmax_backward/device/softmax_backward_device_operation.hpp
  tt-train/sources/ttml/metal/ops/softmax_backward/device/softmax_backward_program_factory.cpp
  tt-train/sources/ttml/metal/ops/softmax_backward/device/softmax_backward_program_factory.hpp
  tt-train/sources/ttml/ops/softmax_backward_op.cpp
  tt-train/sources/ttml/ops/softmax_backward_op.hpp
Due: none

Remove expensive debug log
  tt-train/sources/ttml/metal/ops/softmax_backward/device/softmax_backward_program_factory.cpp
Due: none

Add sub_core_grid
  tt-train/sources/ttml/metal/ops/softmax_backward/device/softmax_backward_device_operation.cpp
  tt-train/sources/ttml/metal/ops/softmax_backward/device/softmax_backward_device_operation.hpp
  tt-train/sources/ttml/metal/ops/softmax_backward/device/softmax_backward_device_operation_types.hpp
  tt-train/sources/ttml/metal/ops/softmax_backward/device/softmax_backward_program_factory.cpp
  tt-train/sources/ttml/metal/ops/softmax_backward/softmax_backward.cpp
  tt-train/sources/ttml/metal/ops/softmax_backward/softmax_backward.hpp
  tt-train/tests/ops/softmax_backward_op_test.cpp
Due: none

Address comments - part 2
  tt-train/sources/ttml/metal/ops/softmax_backward/device/softmax_backward_device_operation.cpp
  tt-train/sources/ttml/metal/ops/softmax_backward/device/softmax_backward_device_operation.hpp
  tt-train/sources/ttml/metal/ops/softmax_backward/softmax_backward.cpp
Due: none

rebase fix
  tests/tt_metal/tt_metal/test_kernels/compute/reduce_h.cpp
  tests/tt_metal/tt_metal/test_kernels/compute/reduce_hw.cpp
  tests/tt_metal/tt_metal/test_kernels/compute/reduce_w.cpp
  tt_metal/hw/ckernels/blackhole/metal/llk_api/llk_unpack_AB_reduce_api.h
  tt_metal/hw/ckernels/wormhole_b0/metal/llk_api/llk_unpack_AB_reduce_api.h
Due: none

#37716: Fix block-sharded conv2d producing wrong results with dilation > 1 (#38002)
  tests/ttnn/unit_tests/operations/conv/test_conv1d.py
  ttnn/cpp/ttnn/operations/conv/conv2d/device/kernels/conv_reader_common.hpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

Testing bh ci
  .github/workflows/merge-gate.yaml
Due: none

Path conditions:
  block-ttnn-pybind-changes: any of: ^ttnn/
  detect-legacy-device-op: any of: ^ttnn/.*\.hpp$
  validate-golden-csv-columns: any of: ^tests/tt_metal/tt_metal/perf_microbenchmark/routing/golden/.*bandwidth.*\.csv$
