Repository tenstorrent/tt-metal: changes, and which pre-commit hooks are due for each by the changed paths.
All: block-ttnn-pybind-changes, detect-legacy-device-op, validate-golden-csv-columns

block-ttnn-pybind-changes:
  name: Prevent edits to frozen pybind11 sources under ttnn
  entry: python3 scripts/block_ttnn_pybind_changes.py
  language: system
  pass_filenames: true

detect-legacy-device-op:
  name: Detect legacy device operation classes in newly added files
  entry: python3 scripts/detect_legacy_device_op.py --check-new-only
  language: system
  pass_filenames: true
  require_serial: true

validate-golden-csv-columns:
  name: Validate golden bandwidth CSV column headers
  entry: bash .github/scripts/utils/validate_golden_csv_columns.sh
  language: system
  pass_filenames: false

Fix unit_tests_llk to synchronize between Enqueue and Read
  tests/tt_metal/tt_metal/llk/test_broadcast.cpp
  tests/tt_metal/tt_metal/llk/test_copy_block_matmul_partials.cpp
  tests/tt_metal/tt_metal/llk/test_cumsum.cpp
  tests/tt_metal/tt_metal/llk/test_dropout_sfpu_compute.cpp
  tests/tt_metal/tt_metal/llk/test_pack_rows.cpp
  tests/tt_metal/tt_metal/llk/test_reconfig.cpp
  tests/tt_metal/tt_metal/llk/test_reduce.cpp
  tests/tt_metal/tt_metal/llk/test_sfpu_compute.cpp
  tests/tt_metal/tt_metal/llk/test_single_core_binary_compute.cpp
  tests/tt_metal/tt_metal/llk/test_single_core_matmul_compute.cpp
  tests/tt_metal/tt_metal/llk/test_single_core_matmul_int8.cpp
  tests/tt_metal/tt_metal/llk/test_stochastic_rounding.cpp
  tests/tt_metal/tt_metal/llk/test_transpose.cpp
  tests/tt_metal/tt_metal/llk/test_unary_broadcast.cpp
  tests/tt_metal/tt_metal/llk/test_untilize_tilize.cpp
Due: none

Use compiled spdlog via tt-logger v1.1.8 for 35% faster builds
  third_party/CMakeLists.txt
  tt-train/cmake/dependencies.cmake
Due: none

fix alignment issue
  ttnn/cpp/ttnn/operations/experimental/ccl/neighbor_pad_async/device/neighbor_pad_async_program_factory.cpp
Due: block-ttnn-pybind-changes

overlap the semaphore wait and push CB to speed up.
  ttnn/cpp/ttnn/operations/experimental/ccl/all_gather_async/device/kernels/minimal_default_reader.cpp
Due: block-ttnn-pybind-changes

Add pytest fixture to enable graph report
  tests/ttnn/conftest.py
Due: none

Add TRID-pipelined DRAM reads for unary ops (#14421)
  ttnn/cpp/ttnn/operations/eltwise/unary/device/kernels/dataflow/reader_unary_interleaved_start_id.cpp
  ttnn/cpp/ttnn/operations/eltwise/unary/device/unary_program_factory.cpp
Due: block-ttnn-pybind-changes

Add TT_METAL_PROFILER_PROGRAM_SUPPORT_COUNT
  tests/pipeline_reorg/release_tests.yaml
Due: none

Add nightly tests for BLOCK_SHARDED on 1D grid fix (#32306)
  tests/ttnn/nightly/unit_tests/operations/matmul/test_matmul_block_sharded_1d_grid.py
Due: none

remove dprints
  ttnn/cpp/ttnn/operations/experimental/ccl/neighbor_pad_async/device/kernels/local_copy_reader.cpp
  ttnn/cpp/ttnn/operations/experimental/ccl/neighbor_pad_async/device/kernels/local_copy_writer.cpp
  ttnn/cpp/ttnn/operations/experimental/ccl/neighbor_pad_async/device/kernels/minimal_default_reader.cpp
  ttnn/cpp/ttnn/operations/experimental/ccl/neighbor_pad_async/device/kernels/minimal_default_writer.cpp
  ttnn/cpp/ttnn/operations/experimental/ccl/neighbor_pad_async/device/kernels/phase2_w_reader.cpp
  ttnn/cpp/ttnn/operations/experimental/ccl/neighbor_pad_async/device/neighbor_pad_async_device_operation.cpp
  ttnn/cpp/ttnn/operations/experimental/ccl/neighbor_pad_async/device/neighbor_pad_async_program_factory.cpp
Due: block-ttnn-pybind-changes

Add best MM block configs for 11x10 coregrid
  models/tt_dit/utils/matmul.py
Due: none

Undo the hacks to get weights in CI
  .github/workflows/galaxy-deepseek-tests-impl.yaml
  .github/workflows/galaxy-quick-impl.yaml
  .github/workflows/multi-host-deepseekv3.yaml
  models/demos/deepseek_v3/demo/test_demo.py
  tests/pipeline_reorg/galaxy_demo_tests.yaml
  tests/scripts/multihost/run_quad_galaxy_tests.sh
  tests/scripts/t3000/run_t3000_unit_tests.sh
Due: none

adding test cases for output different ND shard spec
  tests/ttnn/unit_tests/operations/data_movement/test_tilize.py
Due: none

Cursor created changes to test all ops
  tests/sweep_framework/sweeps/reduction/generality/reduction_all_ranks.py
  tests/ttnn/unit_tests/operations/reduce/test_reduction.py
Due: none

Fix bug with misnamed var in sampling module
  models/common/sampling/tt_sampling.py
Due: none

SFPI build 269
  tt_metal/sfpi-version
Due: none

Assert teardown order (#38388)
  tt_metal/impl/device/device_manager.cpp
  tt_metal/impl/device/firmware/command_queue_initializer.cpp
  tt_metal/impl/device/firmware/command_queue_initializer.hpp
  tt_metal/impl/device/firmware/dispatch_kernel_initializer.cpp
  tt_metal/impl/device/firmware/dispatch_kernel_initializer.hpp
  tt_metal/impl/device/firmware/fabric_firmware_initializer.cpp
  tt_metal/impl/device/firmware/fabric_firmware_initializer.hpp
  tt_metal/impl/device/firmware/firmware_initializer.hpp
  tt_metal/impl/device/firmware/profiler_initializer.cpp
  tt_metal/impl/device/firmware/profiler_initializer.hpp
Due: none

temp debugging
  models/demos/deepseek_v3/tests/fused_op_unit_tests/test_optimized_moe_decode_block.py
Due: none

Revert strided L1 path to single-tile loop (#14421)
  ttnn/cpp/ttnn/operations/eltwise/unary/device/kernels/dataflow/reader_unary_interleaved_start_id.cpp
  ttnn/cpp/ttnn/operations/eltwise/unary/device/kernels/dataflow/writer_unary_interleaved_start_id.cpp
Due: block-ttnn-pybind-changes

Adding ND Sharding Support for Moreh_Full and Moreh_Full_Like Ops (#38180)
  tests/ttnn/nightly/unit_tests/operations/moreh/test_moreh_full.py
  tests/ttnn/unit_tests/base_functionality/test_graph_capture.py
  tests/ttnn/unit_tests/operations/data_movement/test_full.py
  tests/ttnn/unit_tests/operations/data_movement/test_full_like.py
  ttnn/cpp/ttnn/operations/full/CMakeLists.txt
  ttnn/cpp/ttnn/operations/full/device/full_device_operation.cpp
  ttnn/cpp/ttnn/operations/full/device/full_device_operation.hpp
  ttnn/cpp/ttnn/operations/full/device/full_device_operation_types.hpp
  ttnn/cpp/ttnn/operations/full/device/full_program_factory_common.hpp
  ttnn/cpp/ttnn/operations/full/device/full_program_factory_interleaved.cpp
  ttnn/cpp/ttnn/operations/full/device/full_program_factory_interleaved.hpp
  ttnn/cpp/ttnn/operations/full/device/full_program_factory_nd_sharded.cpp
  ttnn/cpp/ttnn/operations/full/device/full_program_factory_nd_sharded.hpp
  ttnn/cpp/ttnn/operations/full/device/full_program_factory_sharded.cpp
  ttnn/cpp/ttnn/operations/full/device/full_program_factory_sharded.hpp
  ttnn/cpp/ttnn/operations/full/device/kernels/full_kernel_common.hpp
  ttnn/cpp/ttnn/operations/full/device/kernels/writer_full_nd_sharded.cpp
  ttnn/cpp/ttnn/operations/full/device/kernels/writer_full_sharded.cpp
  ttnn/cpp/ttnn/operations/full_like/CMakeLists.txt
  ttnn/cpp/ttnn/operations/full_like/device/full_like_device_operation.cpp
  ttnn/cpp/ttnn/operations/full_like/device/full_like_device_operation.hpp
  ttnn/cpp/ttnn/operations/full_like/device/full_like_factory.cpp
  ttnn/cpp/ttnn/operations/full_like/full_like.cpp
  ttnn/cpp/ttnn/operations/full_like/full_like_nanobind.cpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

combine 1D and 2D neighbor pad tests
  tests/nightly/t3000/ccl/test_neighbor_pad_2d.py
  tests/nightly/t3000/ccl/test_neighbor_pad_async.py
  tests/nightly/tg/ccl/test_neighbor_pad_async.py
Due: none

add mochi config for BH
  models/tt_dit/layers/embeddings.py
  models/tt_dit/pipelines/mochi/pipeline_mochi.py
  models/tt_dit/tests/models/mochi/test_performance_mochi.py
Due: none

Revert experts weight dtype tweak
  models/demos/deepseek_v3/tt/experts.py
Due: none

Fix #35375 to avoid contested cache writes leading to stale NFS cache files
  models/demos/deepseek_v3/demo/demo.py
  models/demos/deepseek_v3/tt/experts.py
  models/demos/deepseek_v3/utils/weight_config.py
Due: none

add skip for non quad
  models/demos/deepseek_v3/tests/fused_op_unit_tests/test_optimized_moe_decode_block.py
Due: none

reduce output dim0 to K
  tests/nightly/tg/ccl/moe/test_selective_combine_6U.py
  ttnn/cpp/ttnn/operations/data_movement/reshape_view/device/device/rm_reshape_interleaved.cpp
  ttnn/cpp/ttnn/operations/experimental/ccl/moe/selective_reduce_combine/device/kernels/dataflow/reader.cpp
  ttnn/cpp/ttnn/operations/experimental/ccl/moe/selective_reduce_combine/device/kernels/dataflow/writer.cpp
  ttnn/cpp/ttnn/operations/experimental/ccl/moe/selective_reduce_combine/device/selective_reduce_combine_device_operation.cpp
  ttnn/cpp/ttnn/operations/experimental/ccl/moe/selective_reduce_combine/device/selective_reduce_combine_device_operation.hpp
  ttnn/cpp/ttnn/operations/experimental/ccl/moe/selective_reduce_combine/device/selective_reduce_combine_device_operation_types.hpp
  ttnn/cpp/ttnn/operations/experimental/ccl/moe/selective_reduce_combine/device/selective_reduce_combine_program_factory.cpp
  ttnn/cpp/ttnn/operations/experimental/ccl/moe/selective_reduce_combine/selective_reduce_combine_nanobind.cpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

use dense token map shape from MoE compute
  tests/nightly/tg/ccl/moe/test_selective_combine_6U.py
  ttnn/cpp/ttnn/operations/experimental/ccl/moe/selective_reduce_combine/device/kernels/dataflow/reader.cpp
  ttnn/cpp/ttnn/operations/experimental/ccl/moe/selective_reduce_combine/device/kernels/dataflow/writer.cpp
  ttnn/cpp/ttnn/operations/experimental/ccl/moe/selective_reduce_combine/device/selective_reduce_combine_program_factory.cpp
Due: block-ttnn-pybind-changes

copilot fixes
  tests/nightly/tg/ccl/moe/test_selective_combine_6U.py
  ttnn/cpp/ttnn/operations/experimental/ccl/moe/selective_reduce_combine/device/kernels/dataflow/reader.cpp
  ttnn/cpp/ttnn/operations/experimental/ccl/moe/selective_reduce_combine/device/kernels/dataflow/writer.cpp
  ttnn/cpp/ttnn/operations/experimental/ccl/moe/selective_reduce_combine/device/selective_reduce_combine_device_operation.cpp
  ttnn/cpp/ttnn/operations/experimental/ccl/moe/selective_reduce_combine/device/selective_reduce_combine_program_factory.cpp
Due: block-ttnn-pybind-changes

Reorder models in vllm nightly (#38553)
  .github/workflows/vllm-nightly-tests-impl.yaml
Due: none

Use CB depth 2 for non-TRID paths in unary ops (#14421)
  ttnn/cpp/ttnn/operations/eltwise/unary/device/unary_program_factory.cpp
Due: block-ttnn-pybind-changes

add torus support for reduce to one op
  models/demos/deepseek_v3_b1/micro_ops/reduce_to_one_b1/op.py
  models/demos/deepseek_v3_b1/tests/unit_tests/test_reduce_to_one_b1.py
  models/demos/deepseek_v3_b1/tests/unit_tests/test_reduce_to_one_b1_with_d2d1_d2h.py
  tt_metal/distributed/mesh_socket_utils.cpp
Due: none

pull changes from other branch
  ttnn/cpp/ttnn/operations/experimental/conv3d/device/conv3d_device_operation.cpp
  ttnn/cpp/ttnn/operations/experimental/conv3d/device/conv3d_program_factory.cpp
  ttnn/cpp/ttnn/operations/experimental/conv3d/device/kernels/compute.cpp
  ttnn/cpp/ttnn/operations/experimental/conv3d/device/kernels/reader_vol2col.cpp
  ttnn/cpp/ttnn/operations/experimental/conv3d/device/kernels/writer.cpp
Due: block-ttnn-pybind-changes

add test
  models/demos/deepseek_v3/tests/fused_op_unit_tests/test_optimized_moe_decode_block.py
Due: none

moved changes to other branch
  ttnn/cpp/ttnn/operations/experimental/conv3d/device/conv3d_device_operation.cpp
  ttnn/cpp/ttnn/operations/experimental/conv3d/device/conv3d_program_factory.cpp
  ttnn/cpp/ttnn/operations/experimental/conv3d/device/kernels/compute.cpp
  ttnn/cpp/ttnn/operations/experimental/conv3d/device/kernels/reader_vol2col.cpp
  ttnn/cpp/ttnn/operations/experimental/conv3d/device/kernels/writer.cpp
Due: block-ttnn-pybind-changes

pull changes from other branch
  tests/nightly/t3000/ccl/test_neighbor_pad_async.py
  tests/nightly/tg/ccl/test_neighbor_pad_async.py
  ttnn/cpp/ttnn/operations/experimental/ccl/neighbor_pad_async/device/kernels/local_copy_reader.cpp
  ttnn/cpp/ttnn/operations/experimental/ccl/neighbor_pad_async/device/kernels/local_copy_writer.cpp
  ttnn/cpp/ttnn/operations/experimental/ccl/neighbor_pad_async/device/kernels/minimal_default_reader.cpp
  ttnn/cpp/ttnn/operations/experimental/ccl/neighbor_pad_async/device/kernels/minimal_default_writer.cpp
  ttnn/cpp/ttnn/operations/experimental/ccl/neighbor_pad_async/device/kernels/phase2_w_reader.cpp
  ttnn/cpp/ttnn/operations/experimental/ccl/neighbor_pad_async/device/neighbor_pad_async_device_operation.cpp
  ttnn/cpp/ttnn/operations/experimental/ccl/neighbor_pad_async/device/neighbor_pad_async_device_operation.hpp
  ttnn/cpp/ttnn/operations/experimental/ccl/neighbor_pad_async/device/neighbor_pad_async_device_operation_types.hpp
  ttnn/cpp/ttnn/operations/experimental/ccl/neighbor_pad_async/device/neighbor_pad_async_program_factory.cpp
  ttnn/cpp/ttnn/operations/experimental/ccl/neighbor_pad_async/device/neighbor_pad_async_program_factory.hpp
  ttnn/cpp/ttnn/operations/experimental/ccl/neighbor_pad_async/neighbor_pad_async.cpp
  ttnn/cpp/ttnn/operations/experimental/ccl/neighbor_pad_async/neighbor_pad_async.hpp
  ttnn/cpp/ttnn/operations/experimental/ccl/neighbor_pad_async/neighbor_pad_async_nanobind.cpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

Path conditions:
  block-ttnn-pybind-changes: any of: ^ttnn/
  detect-legacy-device-op: any of: ^ttnn/.*\.hpp$
  validate-golden-csv-columns: any of: ^tests/tt_metal/tt_metal/perf_microbenchmark/routing/golden/.*bandwidth.*\.csv$
