Repository tenstorrent/tt-metal: changes, and which pre-commit hooks are due for each by the changed paths.
All: block-ttnn-pybind-changes, detect-legacy-device-op, validate-golden-csv-columns

block-ttnn-pybind-changes:
  name: Prevent edits to frozen pybind11 sources under ttnn
  entry: python3 scripts/block_ttnn_pybind_changes.py
  language: system
  pass_filenames: true

detect-legacy-device-op:
  name: Detect legacy device operation classes in newly added files
  entry: python3 scripts/detect_legacy_device_op.py --check-new-only
  language: system
  pass_filenames: true
  require_serial: true

validate-golden-csv-columns:
  name: Validate golden bandwidth CSV column headers
  entry: bash .github/scripts/utils/validate_golden_csv_columns.sh
  language: system
  pass_filenames: false

Cover the tensor-scalar path in the eltwise smoke suite
  tests/ttnn/unit_tests/gtests/test_eltwise.cpp
Due: none

Correct the eltwise merge-gate entry cost and raise its timeout
  tests/pipeline_reorg/ttnn_merge_gate_tests.yaml
Due: none

Add coverage for named CT argument separation
  tests/tt_metal/tt_metal/jit_build/sources.cmake
  tests/tt_metal/tt_metal/jit_build/test_named_ct_arg_channels.cpp
Due: none

[Bug fix] Honour the requested memory_config in eltwise ops that create their output
  tests/ttnn/nightly/unit_tests/operations/eltwise/backward/test_backward_fill.py
  tests/ttnn/unit_tests/operations/eltwise/test_div_ops.py
  tests/ttnn/unit_tests/operations/eltwise/test_polyval.py
  ttnn/cpp/ttnn/operations/eltwise/binary/device/binary_composite_op.cpp
  ttnn/cpp/ttnn/operations/eltwise/unary_backward/unary_backward.cpp
  ttnn/cpp/ttnn/operations/experimental/quasar/binary/device/binary_composite_op.cpp
Due: block-ttnn-pybind-changes

Add expected/actual context to the sharded concat shape assertion
  tests/ttnn/unit_tests/operations/data_movement/test_concat.py
Due: none

Fix sharded concat treating rank-3 width as height
  tests/ttnn/unit_tests/operations/data_movement/test_concat.py
  ttnn/cpp/ttnn/operations/data_movement/concat/device/concat_device_operation.cpp
  ttnn/cpp/ttnn/operations/data_movement/concat/device/concat_s2s_multi_program_factory.cpp
  ttnn/cpp/ttnn/operations/data_movement/concat/device/concat_s2s_rm_program_factory.cpp
Due: block-ttnn-pybind-changes

Review: assert the output memory config, single-source the H/W dim predicate
  tests/ttnn/unit_tests/operations/data_movement/test_concat.py
  ttnn/cpp/ttnn/operations/data_movement/concat/device/concat_block_sharded_program_factory.cpp
  ttnn/cpp/ttnn/operations/data_movement/concat/device/concat_device_operation.cpp
  ttnn/cpp/ttnn/operations/data_movement/concat/device/concat_device_operation_types.hpp
  ttnn/cpp/ttnn/operations/data_movement/concat/device/concat_s2s_multi_program_factory.cpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

Refine docstring for select_descending function
  models/demos/deepseek_v3_d_p/tt/moe/validation_helpers.py
Due: none

Record both the warm- and cold-kernel-cache cost of the eltwise entry
  tests/pipeline_reorg/ttnn_merge_gate_tests.yaml
Due: none

Clarify comments in validation_helpers.py
  models/demos/deepseek_v3_d_p/tt/moe/validation_helpers.py
Due: none

Test erfinv BF16 exhaustively on Wormhole
  tests/ttnn/unit_tests/operations/eltwise/test_erfinv_bf16_exhaustive.py
  tt_metal/hw/ckernels/wormhole_b0/metal/llk_api/llk_sfpu/ckernel_sfpu_erfinv_bf16.h
Due: none

Clarify comment on tie-free inputs in test
  tests/ttnn/nightly/unit_tests/operations/experimental/deepseek_prefill/test_moe_grouped_topk.py
Due: none

P15.3: route the own tokens through the untilizer cores
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/combine_fabric2d/device/combine_fabric2d_placement.cpp
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/combine_fabric2d/device/combine_fabric2d_placement.hpp
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/combine_fabric2d/device/combine_fabric2d_program_factory.cpp
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/combine_fabric2d/device/kernels/dataflow/combine_fabric2d_group_walk.hpp
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/combine_fabric2d/device/kernels/dataflow/combine_fabric2d_kernel_interface.hpp
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/combine_fabric2d/device/kernels/dataflow/combine_fabric2d_reader_ct_args.hpp
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/combine_fabric2d/device/kernels/dataflow/combine_fabric2d_untilizer_ct_args.hpp
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/combine_fabric2d/device/kernels/dataflow/reader_combine_fabric2d.cpp
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/combine_fabric2d/device/kernels/dataflow/untilizer_combine_fabric2d.cpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

P15.3: walk a run's pages the way the stream walks its runs
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/combine_fabric2d/device/combine_fabric2d_assignments.cpp
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/combine_fabric2d/device/combine_fabric2d_placement.hpp
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/combine_fabric2d/device/kernels/dataflow/combine_fabric2d_reader_ct_args.hpp
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/combine_fabric2d/device/kernels/dataflow/reader_combine_fabric2d.cpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

P15.2: place and launch the untilizer cores
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/combine_fabric2d/device/combine_fabric2d_placement.cpp
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/combine_fabric2d/device/combine_fabric2d_placement.hpp
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/combine_fabric2d/device/combine_fabric2d_program_factory.cpp
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/combine_fabric2d/device/kernels/dataflow/untilizer_combine_fabric2d.cpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

P15.4: untilize on the untilizer cores, so the op takes a tiled input
  models/demos/deepseek_v3_d_p/tt/moe/tt_combine.py
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/combine_fabric2d/combine_fabric2d_nanobind.cpp
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/combine_fabric2d/device/combine_fabric2d_device_operation.cpp
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/combine_fabric2d/device/combine_fabric2d_program_factory.cpp
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/combine_fabric2d/device/kernels/compute/untilize_combine_fabric2d.cpp
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/combine_fabric2d/device/kernels/dataflow/combine_fabric2d_kernel_interface.hpp
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/combine_fabric2d/device/kernels/dataflow/combine_fabric2d_untilizer_ct_args.hpp
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/combine_fabric2d/device/kernels/dataflow/untilizer_combine_fabric2d.cpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

P15.3: make the untilizer group size a knob, and open it to five
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/combine_fabric2d/device/combine_fabric2d_placement.cpp
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/combine_fabric2d/device/combine_fabric2d_placement.hpp
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/combine_fabric2d/device/combine_fabric2d_program_factory.cpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

P15.6: let a group's untilizers use the sender row's free columns
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/combine_fabric2d/device/combine_fabric2d_placement.cpp
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/combine_fabric2d/device/combine_fabric2d_placement.hpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

P15.5: put every untilizer in the row next to the senders
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/combine_fabric2d/device/combine_fabric2d_placement.cpp
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/combine_fabric2d/device/combine_fabric2d_placement.hpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

P15.4: say why the untilize block is eight tiles
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/combine_fabric2d/device/kernels/dataflow/combine_fabric2d_kernel_interface.hpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

P15.7: build the untilizer path only for a tiled input
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/combine_fabric2d/device/combine_fabric2d_placement.cpp
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/combine_fabric2d/device/combine_fabric2d_placement.hpp
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/combine_fabric2d/device/combine_fabric2d_program_factory.cpp
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/combine_fabric2d/device/kernels/dataflow/combine_fabric2d_group_walk.hpp
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/combine_fabric2d/device/kernels/dataflow/combine_fabric2d_kernel_interface.hpp
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/combine_fabric2d/device/kernels/dataflow/combine_fabric2d_reader_ct_args.hpp
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/combine_fabric2d/device/kernels/dataflow/combine_fabric2d_untilizer_ct_args.hpp
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/combine_fabric2d/device/kernels/dataflow/reader_combine_fabric2d.cpp
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/combine_fabric2d/device/kernels/dataflow/untilizer_combine_fabric2d.cpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

Keep the tiled-input note on the op that gained it
  models/demos/deepseek_v3_d_p/tt/moe/tt_combine.py
Due: none

tt_transformers: declare scheduler-driven chunked prefill for llama, qwen and mistral (#54302)
  .github/time_budget.yaml
  .github/workflows/vllm-model-tests-impl.yaml
  models/common/model_capabilities.py
  models/demos/gemma4/tt/generator_vllm.py
  models/tt_transformers/tt/generator_vllm.py
  tests/pipeline_reorg/vllm_model_tests.yaml
Due: none

Refactor comments in test_moe_grouped_topk_state.py
  tests/ttnn/nightly/unit_tests/operations/experimental/deepseek_prefill/test_moe_grouped_topk_state.py
Due: none

Add support for allocator and sockets across multiple ranks (#55104)
  tt_metal/api/tt-metalium/experimental/device.hpp
  tt_metal/api/tt-metalium/experimental/sockets/mesh_socket.hpp
  tt_metal/distributed/flatbuffer/socket_peer_descriptor.fbs
  tt_metal/distributed/mesh_buffer.cpp
  tt_metal/distributed/mesh_device.cpp
  tt_metal/distributed/mesh_device_impl.hpp
  tt_metal/distributed/mesh_socket.cpp
  tt_metal/distributed/mesh_socket_serialization.cpp
  tt_metal/distributed/mesh_socket_utils.cpp
  tt_metal/distributed/mesh_socket_utils.hpp
  tt_metal/impl/allocator/allocator.cpp
  tt_metal/impl/allocator/allocator.hpp
  tt_metal/impl/device/experimental/device.cpp
  ttnn/cpp/ttnn-nanobind/mesh_socket.cpp
Due: block-ttnn-pybind-changes

Refactor test_moe_grouped_topk_ties.py docstring and markers
  tests/ttnn/nightly/unit_tests/operations/experimental/deepseek_prefill/test_moe_grouped_topk_ties.py
Due: none

extend support for min/max
  tests/ttnn/unit_tests/operations/reduce/test_row_major_reduce.py
  ttnn/cpp/ttnn/operations/reduction/generic/device/common.cpp
  ttnn/cpp/ttnn/operations/reduction/generic/device/kernels/dataflow/reader_unary_transpose_wh_universal_input_cols_partitioned.cpp
  ttnn/cpp/ttnn/operations/reduction/generic/device/reduce_op.cpp
  ttnn/cpp/ttnn/operations/reduction/generic/device/reduce_op_device_operation.cpp
  ttnn/cpp/ttnn/operations/reduction/generic/device/reduce_op_multi_core_h_program_factory.cpp
Due: block-ttnn-pybind-changes

tt_dit: re-key Aang 1080p matmul configs to the run-confirmed Ms (1760 / 7040)
  models/tt_dit/tests/unit/test_agmm_layout_override.py
  models/tt_dit/utils/matmul.py
  models/tt_dit/utils/sweep_mm_block_sizes.py
Due: none

tests: cite the CI-measured cost in the eltwise merge-gate comment
  tests/pipeline_reorg/ttnn_merge_gate_tests.yaml
Due: none

ttnn/ccl: run AGMM cache regression on supported meshes
  models/tt_dit/tests/models/wan2_2/test_all_gather_minimal_matmul_async.py
Due: none

[modernbert] Add ModernBERT-base for Wormhole N300
  models/experimental/modernbert/README.md
  models/experimental/modernbert/common.py
  models/experimental/modernbert/demo/__init__.py
  models/experimental/modernbert/demo/demo.py
  models/experimental/modernbert/reference/__init__.py
  models/experimental/modernbert/reference/modernbert.py
  models/experimental/modernbert/runner/__init__.py
  models/experimental/modernbert/runner/performant_runner.py
  models/experimental/modernbert/runner/performant_runner_infra.py
  models/experimental/modernbert/tests/__init__.py
  models/experimental/modernbert/tests/pcc_utils.py
  models/experimental/modernbert/tests/test_model_config.py
  models/experimental/modernbert/tests/test_modernbert_device_perf.py
  models/experimental/modernbert/tests/test_modernbert_perf.py
  models/experimental/modernbert/tests/test_modernbert_performant.py
  models/experimental/modernbert/tests/test_modernbert_profile.py
  models/experimental/modernbert/tests/test_reference_coverage.py
  models/experimental/modernbert/tests/test_reference_parity.py
  models/experimental/modernbert/tests/test_ttnn_attention.py
  models/experimental/modernbert/tests/test_ttnn_embeddings.py
  models/experimental/modernbert/tests/test_ttnn_layer.py
  models/experimental/modernbert/tests/test_ttnn_mlm.py
  models/experimental/modernbert/tests/test_ttnn_mlp.py
  models/experimental/modernbert/tests/test_ttnn_model.py
  models/experimental/modernbert/tests/test_ttnn_rope.py
  models/experimental/modernbert/tt/__init__.py
  models/experimental/modernbert/tt/model_config.py
  models/experimental/modernbert/tt/modernbert_attention.py
  models/experimental/modernbert/tt/modernbert_embeddings.py
  models/experimental/modernbert/tt/modernbert_head.py
  models/experimental/modernbert/tt/modernbert_layer.py
  models/experimental/modernbert/tt/modernbert_masks.py
  models/experimental/modernbert/tt/modernbert_mlp.py
  models/experimental/modernbert/tt/modernbert_model.py
  models/experimental/modernbert/tt/modernbert_rope.py
  models/experimental/modernbert/tt/weights.py
Due: none

[modernbert] Register in the tier-3 model CI
  models/README.md
  models/model_ci_tiers.md
  tests/pipeline_reorg/models_e2e_tests.yaml
  tests/pipeline_reorg/models_unit_tests.yaml
Due: none

[Refactor]: Commonize what the two DRAM-sender transports share
  tests/tt_metal/tt_metal/api/dram_sender_fixture.hpp
  tests/tt_metal/tt_metal/api/test_dram_sender_global_cb.cpp
  tests/tt_metal/tt_metal/api/test_prefetcher_pipe_dram_sender.cpp
  tests/tt_metal/tt_metal/test_kernels/misc/gcb_validator_receiver.cpp
  tests/tt_metal/tt_metal/test_kernels/misc/prefetcher_pipe_validator_receiver.cpp
  tests/tt_metal/tt_metal/test_kernels/misc/prefetcher_validator_common.h
  tests/ttnn/unit_tests/operations/transformers/test_prefetcher_BH_validator.py
  tt_metal/api/tt-metalium/experimental/prefetcher_pipe.hpp
  tt_metal/hw/inc/api/dataflow/prefetcher_pipe.h
  tt_metal/hw/inc/internal/prefetcher_pipe_dram_sender.h
  tt_metal/impl/buffers/dram_sender_topology.cpp
  tt_metal/impl/buffers/dram_sender_topology.hpp
  tt_metal/impl/buffers/global_circular_buffer.cpp
  tt_metal/impl/buffers/global_circular_buffer_dram_sender_internal.hpp
  tt_metal/impl/buffers/kernels/tensor_prefetcher.cpp
  tt_metal/impl/buffers/prefetcher_pipe.cpp
  tt_metal/impl/buffers/prefetcher_pipe_dram_sender.cpp
  tt_metal/impl/buffers/tensor_prefetcher_manager.cpp
  tt_metal/impl/buffers/tensor_prefetcher_manager.hpp
  tt_metal/impl/dataflow_buffer/prefetcher_pipe.hpp
  tt_metal/impl/sources.cmake
  ttnn/cpp/ttnn/operations/experimental/tensor_prefetcher/tensor_prefetcher.cpp
  ttnn/cpp/ttnn/operations/experimental/tensor_prefetcher/tensor_prefetcher.hpp
  ttnn/cpp/ttnn/operations/experimental/test/prefetcher_consumer/dram_prefetcher_validator.cpp
  ttnn/cpp/ttnn/operations/experimental/test/prefetcher_consumer/dram_prefetcher_validator.hpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

[LLK][Performance] Wait on the unpacker's own Src bank, not the Matrix Unit's
  tt_metal/tt-llk/tt_llk_blackhole/llk_lib/experimental/llk_unpack_A_topk_xl_copy.h
  tt_metal/tt-llk/tt_llk_blackhole/llk_lib/llk_unpack_A.h
  tt_metal/tt-llk/tt_llk_blackhole/llk_lib/llk_unpack_AB_matmul.h
  tt_metal/tt-llk/tt_llk_blackhole/llk_lib/llk_unpack_tilize.h
  tt_metal/tt-llk/tt_llk_wormhole_b0/common/inc/ckernel_instr_params.h
  tt_metal/tt-llk/tt_llk_wormhole_b0/llk_lib/llk_unpack_A.h
  tt_metal/tt-llk/tt_llk_wormhole_b0/llk_lib/llk_unpack_AB_matmul.h
  tt_metal/tt-llk/tt_llk_wormhole_b0/llk_lib/llk_unpack_tilize.h
Due: none

[LLK][Performance] Convert the MOP-word clears the first pass wrongly dismissed
  tt_metal/tt-llk/tt_llk_blackhole/llk_lib/experimental/llk_unpack_A_topk_xl_copy.h
  tt_metal/tt-llk/tt_llk_blackhole/llk_lib/experimental/llk_unpack_fast_untilize.h
  tt_metal/tt-llk/tt_llk_blackhole/llk_lib/llk_unpack_A.h
  tt_metal/tt-llk/tt_llk_blackhole/llk_lib/llk_unpack_AB_reduce.h
  tt_metal/tt-llk/tt_llk_blackhole/llk_lib/llk_unpack_reduce.h
  tt_metal/tt-llk/tt_llk_blackhole/llk_lib/llk_unpack_tilize.h
  tt_metal/tt-llk/tt_llk_wormhole_b0/llk_lib/llk_unpack_A.h
  tt_metal/tt-llk/tt_llk_wormhole_b0/llk_lib/llk_unpack_reduce.h
  tt_metal/tt-llk/tt_llk_wormhole_b0/llk_lib/llk_unpack_tilize.h
Due: none

Using RM & new LLKs
  models/experimental/ops/descriptors/matmul_decode.py
  tests/ttnn/nightly/unit_tests/operations/matmul/test_matmul_decode.py
  tests/ttnn/nightly/unit_tests/operations/matmul/test_matmul_decode_prefetcher.py
  tests/ttnn/unit_tests/operations/fused/parallel_sequential/test_matmul_decode_fusion.py
  ttnn/cpp/ttnn/operations/experimental/experimental_nanobind.cpp
  ttnn/cpp/ttnn/operations/experimental/matmul_decode/CMakeLists.txt
  ttnn/cpp/ttnn/operations/experimental/matmul_decode/device/all_gather_writer.hpp
  ttnn/cpp/ttnn/operations/experimental/matmul_decode/device/batched_width_sharded_program_factory.cpp
  ttnn/cpp/ttnn/operations/experimental/matmul_decode/device/full_width_sharded_program_factory.cpp
  ttnn/cpp/ttnn/operations/experimental/matmul_decode/device/kernels/compute/compute_batched_width_sharded.cpp
  ttnn/cpp/ttnn/operations/experimental/matmul_decode/device/kernels/compute/compute_full_width_ring_gather.cpp
  ttnn/cpp/ttnn/operations/experimental/matmul_decode/device/kernels/compute/compute_full_width_sharded.cpp
  ttnn/cpp/ttnn/operations/experimental/matmul_decode/device/kernels/compute/compute_partial_width_sharded.cpp
  ttnn/cpp/ttnn/operations/experimental/matmul_decode/device/kernels/dataflow/all_gather_local_output.hpp
  ttnn/cpp/ttnn/operations/experimental/matmul_decode/device/kernels/dataflow/reader_batched_width_sharded.cpp
  ttnn/cpp/ttnn/operations/experimental/matmul_decode/device/kernels/dataflow/reader_full_width_ring_gather.cpp
  ttnn/cpp/ttnn/operations/experimental/matmul_decode/device/kernels/dataflow/reader_full_width_sharded.cpp
  ttnn/cpp/ttnn/operations/experimental/matmul_decode/device/kernels/dataflow/reader_partial_width_ring_gather.cpp
  ttnn/cpp/ttnn/operations/experimental/matmul_decode/device/kernels/dataflow/reader_partial_width_sharded.cpp
  ttnn/cpp/ttnn/operations/experimental/matmul_decode/device/kernels/dataflow/writer_batched_width_sharded.cpp
  ttnn/cpp/ttnn/operations/experimental/matmul_decode/device/kernels/dataflow/writer_full_width_all_gather.cpp
  ttnn/cpp/ttnn/operations/experimental/matmul_decode/device/kernels/dataflow/writer_partial_width_sharded.cpp
  ttnn/cpp/ttnn/operations/experimental/matmul_decode/device/matmul_decode_descriptor.cpp
  ttnn/cpp/ttnn/operations/experimental/matmul_decode/device/matmul_decode_descriptor.hpp
  ttnn/cpp/ttnn/operations/experimental/matmul_decode/device/matmul_decode_device_operation.cpp
  ttnn/cpp/ttnn/operations/experimental/matmul_decode/device/matmul_decode_device_operation.hpp
  ttnn/cpp/ttnn/operations/experimental/matmul_decode/device/partial_width_sharded_program_factory.cpp
  ttnn/cpp/ttnn/operations/experimental/matmul_decode/device/ring_walk.hpp
  ttnn/cpp/ttnn/operations/experimental/matmul_decode/matmul_decode.cpp
  ttnn/cpp/ttnn/operations/experimental/matmul_decode/matmul_decode.hpp
  ttnn/cpp/ttnn/operations/experimental/matmul_decode/matmul_decode_nanobind.cpp
  ttnn/cpp/ttnn/operations/experimental/matmul_decode/matmul_decode_nanobind.hpp
  ttnn/cpp/ttnn/operations/experimental/matmul_decode/packed_weight_spec.hpp
  ttnn/cpp/ttnn/operations/experimental/matmul_decode/sources.cmake
  ttnn/ttnn/_experimental/tensor_prefetcher_matmul_decode.py
Due: block-ttnn-pybind-changes, detect-legacy-device-op

Drop PCH reuse for scaleout_tools so local non-ccache builds link
  tools/scaleout/CMakeLists.txt
Due: none

ltx: resolve final historical-fix review findings
  docs/superpowers/plans/2026-09-03-ltx-rt-historical-fixes.md
  docs/superpowers/specs/2026-09-03-ltx-rt-historical-fixes.md
  models/tt_dit/tests/models/ltx/test_transformer_ltx.py
  models/tt_dit/tests/models/wan2_2/test_all_gather_minimal_matmul_async.py
  tests/tt_metal/tt_metal/api/test_offline_kernel_compile.cpp
  tt_metal/impl/program/kernel_prewarm.cpp
  tt_metal/jit_build/depend.cpp
  tt_metal/jit_build/depend.hpp
Due: none

Added signposts
  models/experimental/deepseek_v4_flash/tt/decoder_layer.py
Due: none

Order Wormhole compensated format overrides
  tt_metal/tt-llk/tt_llk_wormhole_b0/llk_lib/experimental/llk_math_eltwise_binary_custom.h
Due: none

Path conditions:
  block-ttnn-pybind-changes: any of: ^ttnn/
  detect-legacy-device-op: any of: ^ttnn/.*\.hpp$
  validate-golden-csv-columns: any of: ^tests/tt_metal/tt_metal/perf_microbenchmark/routing/golden/.*bandwidth.*\.csv$
