Repository tenstorrent/tt-metal: changes, and which pre-commit hooks are due for each by the changed paths.
All: block-ttnn-pybind-changes, detect-legacy-device-op, validate-golden-csv-columns

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v3.2.0
  hooks:
    - id: trailing-whitespace
      exclude: \.patch$
    - id: end-of-file-fixer
      exclude: \.patch$
    - id: check-yaml
      args: ["--unsafe"]
    - id: check-added-large-files
# Using this mirror lets us use mypyc-compiled black, which is about 2x faster
- repo: https://github.com/psf/black-pre-commit-mirror
  rev: 23.10.1
  hooks:
    - id: black
      language_version: python3
- repo: https://github.com/PyCQA/autoflake
  rev: v2.3.1
  hooks:
    - id: autoflake
      args: [--remove-all-unused-imports, --in-place, --recursive, --exclude=__init__.py]
      files: ^models/  # Run only on files in the models directory
- repo: https://github.com/pycqa/isort
  rev: 5.13.2
  hooks:
    - id: isort
      files: ^models/
      exclude: ^models/(demos/llama3_70b_galaxy|experimental)/
- repo: https://github.com/BlankSpruce/gersemi
  rev: 0.16.2
  hooks:
    - id: gersemi
- repo: https://github.com/adrienverge/yamllint.git
  rev: v1.35.1
  hooks:
    - id: yamllint
- repo: https://github.com/pre-commit/mirrors-clang-format
  rev: v19.1.4
  hooks:
    - id: clang-format
      entry: git-clang-format
      require_serial: true
      types_or: [c++, c]
      args: ["--style=file"]
- repo: local
  hooks:
    - id: validate-metalium-includes
      name: validate-metalium-includes
      entry: python3 scripts/validate_api/validate_includes.py tt_metal/api --check-ttnn-forwards
      language: system
      pass_filenames: false
    - id: validate-metalium-deprecation
      name: validate-metalium-deprecation
      entry: python3 scripts/validate_api/validate_deprecation.py tt_metal/api origin/main
      language: system
      pass_filenames: false
- repo: local
  hooks:
    - id: check-torch-imports-in-ttnn
      name: Verify that there is no global torch import in ttnn
      entry: python3 scripts/validate_no_global_torch_imports.py
      language: system
      pass_filenames: false
- repo: local
  hooks:
    - id: block-ttnn-pybind-changes
      name: Prevent edits to frozen pybind11 sources under ttnn
      entry: python3 scripts/block_ttnn_pybind_changes.py
      language: system
      pass_filenames: true
      files: ^ttnn/
- repo: local
  hooks:
    - id: convert-notebooks-to-py
      name: Convert .ipynb to .py for ttnn basic examples
      entry: python3 scripts/convert_notebooks_to_python.py
      language: system
- repo: local
  hooks:
    - id: detect-legacy-device-op
      name: Detect legacy device operation classes in newly added files
      entry: python3 scripts/detect_legacy_device_op.py --check-new-only
      language: system
      types: [file]
      files: ^ttnn/.*\.hpp$
      pass_filenames: true
      require_serial: true
- repo: local
  hooks:
    - id: validate-golden-csv-columns
      name: Validate golden bandwidth CSV column headers
      entry: bash .github/scripts/utils/validate_golden_csv_columns.sh
      language: system
      pass_filenames: false
      files: ^tests/tt_metal/tt_metal/perf_microbenchmark/routing/golden/.*bandwidth.*\.csv$

fix test after rebase
  models/demos/deepseek_v3_b1/fused_ops/moe/moe_kernel.cpp
  models/demos/deepseek_v3_b1/fused_ops/moe/op.py
  models/demos/deepseek_v3_b1/tests/unit_tests/test_bcast_moe_two_stage_pipeline.py
Due: none

clean and rename test
  models/demos/deepseek_v3_b1/fused_ops/moe/op.py
  models/demos/deepseek_v3_b1/micro_ops/d2d_exchange/kernels/d2d_exchange.cpp
  models/demos/deepseek_v3_b1/micro_ops/host_io/kernels/fused_h2d_receiver_embedding.cpp
  models/demos/deepseek_v3_b1/tests/unit_tests/test_bcast_moe_reduce_pipeline.py
  models/demos/deepseek_v3_b1/unified_kernels/broadcast.hpp
Due: none

fix tests
  models/demos/deepseek_v3_b1/micro_ops/d2d_exchange/kernels/d2d_exchange_multiple_senders.cpp
  models/demos/deepseek_v3_b1/micro_ops/reduce_to_one_b1/kernels/reduce_to_one_kernel.cpp
  models/demos/deepseek_v3_b1/micro_ops/reduce_to_one_b1/op.py
  models/demos/deepseek_v3_b1/tests/unit_tests/test_bcast_moe_two_stage_pipeline.py
  models/demos/deepseek_v3_b1/tests/unit_tests/test_reduce_to_one_multihost.py
  models/demos/deepseek_v3_b1/unified_kernels/d2d0_aggregator.hpp
  models/demos/deepseek_v3_b1/unified_kernels/reduce_to_one_b1.hpp
Due: none

restructure code
  models/demos/deepseek_v3_b1/fused_ops/moe/moe_kernel.cpp
  models/demos/deepseek_v3_b1/fused_ops/moe/op.py
  models/demos/deepseek_v3_b1/micro_ops/host_io/kernels/fused_h2d_receiver_embedding.cpp
  models/demos/deepseek_v3_b1/tests/unit_tests/test_bcast_moe_two_stage_pipeline.py
  models/demos/deepseek_v3_b1/unified_kernels/d2d0_aggregator.hpp
  models/demos/deepseek_v3_b1/unified_kernels/reduce_to_one_b1.hpp
Due: none

add 15 stages moe test
  models/demos/deepseek_v3_b1/fused_ops/moe/op.py
  models/demos/deepseek_v3_b1/tests/unit_tests/test_moe_15_stages.py
Due: none

fix tests after rebase
  models/demos/deepseek_v3_b1/tests/unit_tests/test_bcast_moe_reduce_pipeline.py
  models/demos/deepseek_v3_b1/tests/unit_tests/test_moe_15_stages.py
Due: none

fix second rebase
  models/demos/deepseek_v3_b1/fused_ops/moe/op.py
Due: none

clean PR
  models/demos/deepseek_v3_b1/fused_ops/moe/op.py
  models/demos/deepseek_v3_b1/micro_ops/d2d_exchange/kernels/d2d_exchange.cpp
  models/demos/deepseek_v3_b1/micro_ops/host_io/kernels/fused_h2d_receiver_embedding.cpp
  models/demos/deepseek_v3_b1/scaleout_configs/blitz_pipeline_config_single_pod.yaml
  models/demos/deepseek_v3_b1/tests/unit_tests/test_moe.py
Due: none

bug fix
  models/demos/deepseek_v3_b1/unified_kernels/reduce_to_one_b1.hpp
Due: none

Pipeline Config changes
  models/demos/deepseek_v3_b1/scaleout_configs/blitz_pipeline_config_single_pod.yaml
  tt_metal/distributed/experimental/blitz_decode_pipeline.cpp
Due: none

more debug
  models/demos/deepseek_v3_b1/fused_ops/moe/moe_kernel.cpp
  models/demos/deepseek_v3_b1/fused_ops/moe/op.py
  models/demos/deepseek_v3_b1/micro_ops/reduce_to_one_b1/kernels/reduce_to_one_kernel.cpp
  models/demos/deepseek_v3_b1/tests/unit_tests/test_bcast_moe_reduce_pipeline.py
  models/demos/deepseek_v3_b1/unified_kernels/broadcast.hpp
  models/demos/deepseek_v3_b1/unified_kernels/reduce_to_one_b1.hpp
Due: none

add persistent mode support
  models/demos/deepseek_v3_b1/fused_ops/moe/moe_kernel.cpp
  models/demos/deepseek_v3_b1/tests/unit_tests/test_moe_15_stages.py
  models/demos/deepseek_v3_b1/unified_kernels/broadcast.hpp
  models/demos/deepseek_v3_b1/unified_kernels/reduce_to_one_b1.hpp
Due: none

persistent_no_loopback test
  models/demos/deepseek_v3_b1/tests/unit_tests/test_moe_15_stages.py
Due: none

Functional on 32 and 64 stages
  models/demos/deepseek_v3_b1/micro_ops/d2d_exchange/kernels/d2d_exchange.cpp
  models/demos/deepseek_v3_b1/micro_ops/d2d_exchange/op.py
  models/demos/deepseek_v3_b1/micro_ops/host_io/kernels/fused_h2d_receiver_embedding.cpp
  models/demos/deepseek_v3_b1/micro_ops/pipeline_block/op.py
  models/demos/deepseek_v3_b1/scaleout_configs/blitz_decode_mesh_graph_descriptor_superpod.textproto
  models/demos/deepseek_v3_b1/tests/unit_tests/test_moe_15_stages.py
  tt_metal/distributed/experimental/blitz_decode_pipeline.cpp
  tt_metal/hw/inc/api/socket_api.h
Due: none

Add config files
  models/demos/deepseek_v3_b1/scaleout_configs/blitz_decode_mesh_graph_descriptor_dual_pod.textproto
  models/demos/deepseek_v3_b1/scaleout_configs/blitz_pipeline_config_dual_pod.yaml
Due: none

Linear pipeline without loopback
  models/demos/deepseek_v3_b1/micro_ops/d2d_exchange/kernels/d2d_exchange.cpp
  models/demos/deepseek_v3_b1/micro_ops/host_io/kernels/d2h_sender.cpp
  models/demos/deepseek_v3_b1/micro_ops/host_io/kernels/fused_h2d_receiver_embedding.cpp
  models/demos/deepseek_v3_b1/micro_ops/host_io/op.py
  models/demos/deepseek_v3_b1/micro_ops/pipeline_block/op.py
  models/demos/deepseek_v3_b1/scaleout_configs/blitz_pipeline_config_single_pod.yaml
  models/demos/deepseek_v3_b1/tests/unit_tests/test_moe_15_stages.py
  models/demos/deepseek_v3_b1/tests/unit_tests/test_multi_host_pipeline.py
  tt_metal/distributed/experimental/blitz_decode_pipeline.cpp
Due: none

clean code
  models/demos/deepseek_v3_b1/fused_ops/moe/op.py
  models/demos/deepseek_v3_b1/micro_ops/d2d_exchange/kernels/d2d_exchange.cpp
  models/demos/deepseek_v3_b1/micro_ops/host_io/kernels/d2h_sender.cpp
  models/demos/deepseek_v3_b1/micro_ops/host_io/kernels/fused_h2d_receiver_embedding.cpp
  models/demos/deepseek_v3_b1/unified_kernels/broadcast.hpp
  tt_metal/hw/inc/api/socket_api.h
Due: none

Add looped 64 stage test with barriers + debug changes
  models/demos/deepseek_v3_b1/fused_ops/moe/moe_kernel.cpp
  models/demos/deepseek_v3_b1/micro_ops/d2d_exchange/kernels/d2d_exchange.cpp
  models/demos/deepseek_v3_b1/micro_ops/host_io/kernels/d2h_sender.cpp
  models/demos/deepseek_v3_b1/micro_ops/host_io/kernels/fused_h2d_receiver_embedding.cpp
  models/demos/deepseek_v3_b1/tests/unit_tests/test_moe_15_stages.py
  models/demos/deepseek_v3_b1/unified_kernels/broadcast.hpp
  models/demos/deepseek_v3_b1/unified_kernels/mcast.hpp
  models/demos/deepseek_v3_b1/unified_kernels/reduce_to_one_b1.hpp
Due: none

remove dprints
  models/demos/deepseek_v3_b1/fused_ops/moe/moe_kernel.cpp
  models/demos/deepseek_v3_b1/fused_ops/moe/op.py
  models/demos/deepseek_v3_b1/micro_ops/d2d_exchange/kernels/d2d_exchange.cpp
  models/demos/deepseek_v3_b1/micro_ops/d2d_exchange/op.py
  models/demos/deepseek_v3_b1/micro_ops/host_io/kernels/d2h_sender.cpp
  models/demos/deepseek_v3_b1/micro_ops/host_io/kernels/fused_h2d_receiver_embedding.cpp
  models/demos/deepseek_v3_b1/scaleout_configs/blitz_pipeline_config_single_pod.yaml
  models/demos/deepseek_v3_b1/unified_kernels/broadcast.hpp
  models/demos/deepseek_v3_b1/unified_kernels/mcast.hpp
  models/demos/deepseek_v3_b1/unified_kernels/reduce_to_one_b1.hpp
  tt_metal/hw/inc/api/socket_api.h
Due: none

revert single pod config
  models/demos/deepseek_v3_b1/scaleout_configs/blitz_pipeline_config_single_pod.yaml
Due: none

[BGE-M3] Added initial pcc tests for embedding layer. Tests were conducted with mock weights and input-rank coverage
  models/demos/wormhole/bge_m3/tests/pcc/test_embeddings.py
Due: none

[BGE-M3] Added TTT v1/v2 LayerNorm layers with config resolver and single-device path
  models/demos/wormhole/bge_m3/tt/norm.py
Due: none

[BGE-M3] added initial PCC test for layer norm layer using torch layer norm as reference.
  models/demos/wormhole/bge_m3/tests/pcc/test_layernorm.py
Due: none

[Quasar] Implement sigmoid and SiLU (#1413)
  tests/python_tests/helpers/golden_generators.py
  tests/python_tests/helpers/llk_params.py
  tests/python_tests/quasar/test_sfpu_nonlinear_quasar.py
  tests/sources/quasar/sfpu_nonlinear_quasar_test.cpp
  tt_llk_quasar/common/inc/sfpu/ckernel_sfpu_sigmoid.h
  tt_llk_quasar/common/inc/sfpu/ckernel_sfpu_silu.h
  tt_llk_quasar/llk_lib/llk_defs.h
Due: none

add duty cycle option
  tests/didt/max_util_workload/kernels/slow_cos_compute.cpp
  tests/didt/max_util_workload/test_max_util_workload.cpp
Due: none

Remove logging
  ttnn/api/ttnn/device_operation.hpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

Fix cmake
  tt_metal/tools/precompile_fw/CMakeLists.txt
Due: none

Cleanup weight preparation
  models/demos/deepseek_v3_b1/fused_ops/moe/op.py
  models/demos/deepseek_v3_b1/prepare_weights.py
  models/demos/deepseek_v3_b1/scripts/generate_cache.py
  models/demos/deepseek_v3_b1/tests/unit_tests/conftest.py
  models/demos/deepseek_v3_b1/tests/unit_tests/test_moe_mlp.py
  models/demos/deepseek_v3_b1/tests/unit_tests/test_prepare_weights.py
Due: none

bring back useful comments
  tests/ttnn/unit_tests/operations/sdpa/mla_test_utils.py
  tests/ttnn/unit_tests/operations/sdpa/test_mla_decode.py
Due: none

ds optimizations
  tests/ttnn/nightly/unit_tests/operations/sdpa/test_mla_decode_stress.py
  tests/ttnn/unit_tests/operations/sdpa/mla_test_utils.py
  tests/ttnn/unit_tests/operations/sdpa/test_mla_decode.py
  ttnn/cpp/ttnn/operations/transformer/sdpa_config.hpp
  ttnn/cpp/ttnn/operations/transformer/sdpa_decode/device/kernels/compute/sdpa_flash_decode.cpp
  ttnn/cpp/ttnn/operations/transformer/sdpa_decode/device/kernels/dataflow/dataflow_common.hpp
  ttnn/cpp/ttnn/operations/transformer/sdpa_decode/device/kernels/dataflow/reader_decode_all.cpp
  ttnn/cpp/ttnn/operations/transformer/sdpa_decode/device/kernels/dataflow/writer_decode_all.cpp
  ttnn/cpp/ttnn/operations/transformer/sdpa_decode/device/sdpa_decode_device_operation.cpp
  ttnn/cpp/ttnn/operations/transformer/sdpa_decode/device/sdpa_decode_program_factory.cpp
  ttnn/cpp/ttnn/operations/transformer/sdpa_decode/device/sdpa_decode_program_factory.hpp
  ttnn/cpp/ttnn/operations/transformer/transformer_nanobind.cpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

fix dynamic chunk sizes
  ttnn/cpp/ttnn/operations/transformer/sdpa_decode/device/kernels/dataflow/dataflow_common.hpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

clean up
  tests/ttnn/nightly/unit_tests/operations/sdpa/test_mla_decode_stress.py
  tests/ttnn/unit_tests/operations/sdpa/mla_test_utils.py
  ttnn/cpp/ttnn/operations/transformer/sdpa_decode/device/kernels/compute/sdpa_flash_decode.cpp
  ttnn/cpp/ttnn/operations/transformer/sdpa_decode/device/kernels/dataflow/dataflow_common.hpp
  ttnn/cpp/ttnn/operations/transformer/sdpa_decode/device/sdpa_decode_program_factory.cpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

address more copilot comments
  tests/ttnn/unit_tests/operations/sdpa/mla_test_utils.py
  ttnn/cpp/ttnn/operations/transformer/sdpa_decode/device/sdpa_decode_program_factory.cpp
Due: block-ttnn-pybind-changes

minor fixes
  tests/ttnn/unit_tests/operations/sdpa/test_mla_decode.py
  ttnn/cpp/ttnn/operations/transformer/sdpa_decode/device/sdpa_decode_device_operation.cpp
  ttnn/cpp/ttnn/operations/transformer/sdpa_decode/device/sdpa_decode_program_factory.cpp
Due: block-ttnn-pybind-changes

disable q custom shard on bh
  tests/ttnn/nightly/unit_tests/operations/sdpa/test_mla_decode_stress.py
Due: none

more clean up
  tests/ttnn/unit_tests/operations/sdpa/mla_test_utils.py
  ttnn/cpp/ttnn/operations/transformer/sdpa_decode/device/sdpa_decode_device_operation.cpp
Due: block-ttnn-pybind-changes

more clean up
  tests/ttnn/unit_tests/operations/sdpa/mla_test_utils.py
  ttnn/cpp/ttnn/operations/transformer/sdpa_decode/device/kernels/dataflow/dataflow_common.hpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

fix validation
  ttnn/cpp/ttnn/operations/transformer/sdpa_decode/device/sdpa_decode_device_operation.cpp
Due: block-ttnn-pybind-changes

missing block mask cb
  ttnn/cpp/ttnn/operations/transformer/sdpa_decode/device/sdpa_decode_program_factory.cpp
Due: block-ttnn-pybind-changes
