Repository tenstorrent/tt-metal: changes, and which pre-commit hooks are due for each by the changed paths.
All: block-ttnn-pybind-changes, detect-legacy-device-op, validate-golden-csv-columns

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v3.2.0
  hooks:
    - id: trailing-whitespace
      exclude: \.patch$
    - id: end-of-file-fixer
      exclude: \.patch$
    - id: check-yaml
      args: ["--unsafe"]
    - id: check-added-large-files
# Using this mirror lets us use mypyc-compiled black, which is about 2x faster
- repo: https://github.com/psf/black-pre-commit-mirror
  rev: 23.10.1
  hooks:
    - id: black
      language_version: python3
- repo: https://github.com/PyCQA/autoflake
  rev: v2.3.1
  hooks:
    - id: autoflake
      args: [--remove-all-unused-imports, --in-place, --recursive, --exclude=__init__.py]
      files: ^models/  # Run only on files in the models directory
- repo: https://github.com/pycqa/isort
  rev: 5.13.2
  hooks:
    - id: isort
      files: ^models/
      exclude: ^models/(demos/llama3_70b_galaxy|experimental)/
- repo: https://github.com/BlankSpruce/gersemi
  rev: 0.16.2
  hooks:
    - id: gersemi
- repo: https://github.com/adrienverge/yamllint.git
  rev: v1.35.1
  hooks:
    - id: yamllint
- repo: https://github.com/pre-commit/mirrors-clang-format
  rev: v19.1.4
  hooks:
    - id: clang-format
      entry: git-clang-format
      require_serial: true
      types_or: [c++, c]
      args: ["--style=file"]
- repo: local
  hooks:
    - id: validate-metalium-includes
      name: validate-metalium-includes
      entry: python3 scripts/validate_api/validate_includes.py tt_metal/api --check-ttnn-forwards
      language: system
      pass_filenames: false
    - id: validate-metalium-deprecation
      name: validate-metalium-deprecation
      entry: python3 scripts/validate_api/validate_deprecation.py tt_metal/api origin/main
      language: system
      pass_filenames: false
- repo: local
  hooks:
    - id: check-torch-imports-in-ttnn
      name: Verify that there is no global torch import in ttnn
      entry: python3 scripts/validate_no_global_torch_imports.py
      language: system
      pass_filenames: false
- repo: local
  hooks:
    - id: block-ttnn-pybind-changes
      name: Prevent edits to frozen pybind11 sources under ttnn
      entry: python3 scripts/block_ttnn_pybind_changes.py
      language: system
      pass_filenames: true
      files: ^ttnn/
- repo: local
  hooks:
    - id: convert-notebooks-to-py
      name: Convert .ipynb to .py for ttnn basic examples
      entry: python3 scripts/convert_notebooks_to_python.py
      language: system
- repo: local
  hooks:
    - id: detect-legacy-device-op
      name: Detect legacy device operation classes in newly added files
      entry: python3 scripts/detect_legacy_device_op.py --check-new-only
      language: system
      types: [file]
      files: ^ttnn/.*\.hpp$
      pass_filenames: true
      require_serial: true
- repo: local
  hooks:
    - id: validate-golden-csv-columns
      name: Validate golden bandwidth CSV column headers
      entry: bash .github/scripts/utils/validate_golden_csv_columns.sh
      language: system
      pass_filenames: false
      files: ^tests/tt_metal/tt_metal/perf_microbenchmark/routing/golden/.*bandwidth.*\.csv$

fixed CMakeLists.txt
  tools/scaleout/CMakeLists.txt
Due: none

Add SDPA pipeline watcher tooling
  .sdpa-watch/README.md
  .sdpa-watch/SETUP.md
  .sdpa-watch/agent_prompt.txt
  .sdpa-watch/config.sh
  .sdpa-watch/watch.sh
Due: none

added optimizations
  models/demos/wormhole/qwen3_embedding_0_6b/README.md
  models/demos/wormhole/qwen3_embedding_0_6b/demo/_common.py
  models/demos/wormhole/qwen3_embedding_0_6b/demo/demo_bs1_isl512.py
  models/demos/wormhole/qwen3_embedding_0_6b/tests/perf/new_perf_bs1_isl512.py
  models/demos/wormhole/qwen3_embedding_0_6b/tt/__init__.py
  models/demos/wormhole/qwen3_embedding_0_6b/tt/attention.py
  models/tt_transformers/tt/attention.py
Due: none

pcc update wip
  models/experimental/seamless_m4t_v2_large/demo/demo.py
  models/experimental/seamless_m4t_v2_large/tests/pcc/test_code_hifigan.py
  models/experimental/seamless_m4t_v2_large/tests/pcc/test_text_decoder.py
  models/experimental/seamless_m4t_v2_large/tests/pcc/test_text_to_unit.py
  models/experimental/seamless_m4t_v2_large/tt/model_preprocessing.py
  models/experimental/seamless_m4t_v2_large/tt/tt_code_hifigan.py
  models/experimental/seamless_m4t_v2_large/tt/tt_text_to_unit.py
Due: none

scripts/tt_hw_planner: add git-worktree isolation for bring-up runs
  scripts/tt_hw_planner/_cli_helpers/agent.py
  scripts/tt_hw_planner/_cli_helpers/auto_iterate.py
  scripts/tt_hw_planner/_cli_helpers/pcc_repair.py
  scripts/tt_hw_planner/_cli_helpers/runtime_repair.py
  scripts/tt_hw_planner/cli.py
  scripts/tt_hw_planner/commands/prepare.py
  scripts/tt_hw_planner/commands/worktree_cleanup.py
  scripts/tt_hw_planner/commands/worktree_list.py
  scripts/tt_hw_planner/overlay_manager.py
  scripts/tt_hw_planner/worktree.py
Due: none

Document runtime vs snapshot split and porting procedure
  .sdpa-watch/README.md
  .sdpa-watch/SETUP.md
Due: none

mlp down matmul sharded
  models/experimental/tt_symbiote/modules/dots_ocr_mlp.py
Due: none

scripts/tt_hw_planner: fix worktree-isolation success-path double-capture
  scripts/tt_hw_planner/cli.py
Due: none

emule: Metal 2.0 JIT support (named bindings + binding-aware cache key) (#45221)
  tt_metal/impl/emulation/emulated_program_runner.cpp
Due: none

scripts/tt_hw_planner: per-file delta capture for incremental LLM edits
  scripts/tt_hw_planner/cli.py
  scripts/tt_hw_planner/overlay_manager.py
Due: none

Migrate point_to_point to ProgramDescriptor on mesh workload hook (#44411)
  ttnn/cpp/ttnn/operations/point_to_point/device/host/point_to_point_device_op.cpp
  ttnn/cpp/ttnn/operations/point_to_point/device/host/point_to_point_device_op.hpp
  ttnn/cpp/ttnn/operations/point_to_point/device/host/receive_program_factory.cpp
  ttnn/cpp/ttnn/operations/point_to_point/device/host/send_program_factory.cpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

Migrate ccl/all_to_all_{combine,dispatch} to ProgramDescriptor (#44408)
  ttnn/cpp/ttnn/operations/ccl/all_to_all_combine/device/all_to_all_combine_device_operation.hpp
  ttnn/cpp/ttnn/operations/ccl/all_to_all_combine/device/all_to_all_combine_program_factory.cpp
  ttnn/cpp/ttnn/operations/ccl/all_to_all_dispatch/device/all_to_all_dispatch_device_operation.hpp
  ttnn/cpp/ttnn/operations/ccl/all_to_all_dispatch/device/all_to_all_dispatch_program_factory.cpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

Migrate moreh_dot op to ProgramDescriptor framework (#42467)
  ttnn/cpp/ttnn/operations/moreh/moreh_dot/device/moreh_dot_device_operation.hpp
  ttnn/cpp/ttnn/operations/moreh/moreh_dot/device/moreh_dot_program_factory.cpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

#41827 MoE compute: Blackhole single-card bring-up (#44195)
  tests/nightly/tg/ccl/moe/test_moe_compute_6U.py
  tests/ttnn/nightly/unit_tests/operations/experimental/test_moe_compute_single_card.py
  ttnn/cpp/ttnn/operations/experimental/ccl/moe_compute/device/kernels/compute.cpp
  ttnn/cpp/ttnn/operations/experimental/ccl/moe_compute/device/kernels/dm0.cpp
  ttnn/cpp/ttnn/operations/experimental/ccl/moe_compute/device/kernels/dm1.cpp
  ttnn/cpp/ttnn/operations/experimental/ccl/moe_compute/device/kernels/tilize_reader.cpp
  ttnn/cpp/ttnn/operations/experimental/ccl/moe_compute/device/moe_compute_device_operation.cpp
  ttnn/cpp/ttnn/operations/experimental/ccl/moe_compute/device/moe_compute_device_operation.hpp
  ttnn/cpp/ttnn/operations/experimental/ccl/moe_compute/device/moe_compute_device_operation_types.hpp
  ttnn/cpp/ttnn/operations/experimental/ccl/moe_compute/device/moe_compute_program_factory.cpp
  ttnn/cpp/ttnn/operations/experimental/ccl/moe_compute/device/moe_compute_program_factory.hpp
  ttnn/cpp/ttnn/operations/experimental/ccl/moe_compute/moe_compute.cpp
  ttnn/cpp/ttnn/operations/experimental/ccl/moe_compute/moe_compute.hpp
  ttnn/cpp/ttnn/operations/experimental/ccl/moe_compute/moe_compute_nanobind.cpp
  ttnn/ttnn/_experimental/moe_compute_utils.py
Due: block-ttnn-pybind-changes, detect-legacy-device-op

Fix LLK perf tests (#44907)
  tt_metal/tt-llk/tests/python_tests/perf_eltwise_binary_sfpu.py
Due: none

#36217: uint8 support for relational ops. (#44824)
  tests/ttnn/unit_tests/operations/eltwise/test_binary_uint8.py
  ttnn/cpp/ttnn/operations/eltwise/binary/binary.cpp
  ttnn/cpp/ttnn/operations/eltwise/binary/binary_nanobind.cpp
  ttnn/cpp/ttnn/operations/eltwise/binary_ng/device/binary_ng_program_factory.cpp
Due: block-ttnn-pybind-changes

Re-land #43973 accurate exp on bfloat16 (#44965)
  models/demos/deepseek_v3_b1/micro_ops/sdpa/kernels/sdpa_compute.cpp
  models/demos/deepseek_v3_b1/unified_kernels/flash_mla.hpp
  tt_metal/hw/ckernels/blackhole/metal/llk_api/llk_sfpu/ckernel_sfpu_exp.h
  tt_metal/hw/ckernels/blackhole/metal/llk_api/llk_sfpu/llk_math_eltwise_unary_sfpu_macros.h
  tt_metal/hw/ckernels/quasar/metal/llk_api/llk_sfpu/llk_math_eltwise_unary_sfpu_macros.h
  tt_metal/hw/ckernels/wormhole_b0/metal/llk_api/llk_sfpu/ckernel_sfpu_exp.h
  tt_metal/hw/ckernels/wormhole_b0/metal/llk_api/llk_sfpu/llk_math_eltwise_unary_sfpu_macros.h
  tt_metal/hw/inc/api/compute/eltwise_unary/exp.h
  tt_metal/tt-llk/tests/helpers/include/sfpu_operations.h
  tt_metal/tt-llk/tt_llk_blackhole/common/inc/sfpu/ckernel_sfpu_exp.h
  tt_metal/tt-llk/tt_llk_wormhole_b0/common/inc/sfpu/ckernel_sfpu_exp.h
Due: none

tt-llk: read fast tilize guard from worker core (#44994)
  tt_metal/tt-llk/tests/python_tests/test_fast_tilize_full.py
Due: none

ring_joint_sdpa: chunked prefill (#44929)
  tests/nightly/blackhole/sdpa/test_ring_joint_sdpa.py
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/kernels/compute/compute_common.hpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/kernels/compute/compute_streaming.hpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/kernels/compute/exp_ring_joint_sdpa.cpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/kernels/compute/ring_joint_sdpa.cpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/kernels/dataflow/chunked_prefill_utils.hpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/kernels/dataflow/ring_joint_reader.cpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/kernels/dataflow/ring_joint_writer.cpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/kernels/dataflow/ring_utils.hpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/ring_joint_sdpa_device_operation.cpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/ring_joint_sdpa_device_operation_types.hpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/ring_joint_sdpa_program_factory.cpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/sdpa_nanobind.cpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

[Bug fix]composite_reduce_scatter: typecast BFLOAT8_B → BFLOAT16 around split/pad/concat (#44920)
  tests/ttnn/unit_tests/operations/ccl/blackhole_CI/box/nightly/test_minimal_reduce_scatter_async_bh.py
  ttnn/cpp/ttnn/operations/experimental/ccl/composite_common.cpp
Due: block-ttnn-pybind-changes

#44837: Use sfpi::vBool (#45014)
  tt_metal/hw/ckernels/blackhole/metal/llk_api/llk_sfpu/ckernel_sfpu_mask.h
  tt_metal/hw/ckernels/wormhole_b0/metal/llk_api/llk_sfpu/ckernel_sfpu_mask.h
  tt_metal/tt-llk/tt_llk_blackhole/common/inc/sfpu/ckernel_sfpu_comp.h
  tt_metal/tt-llk/tt_llk_blackhole/common/inc/sfpu/ckernel_sfpu_is_fp16_zero.h
  tt_metal/tt-llk/tt_llk_blackhole/common/inc/sfpu/ckernel_sfpu_sign.h
  tt_metal/tt-llk/tt_llk_wormhole_b0/common/inc/sfpu/ckernel_sfpu_comp.h
  tt_metal/tt-llk/tt_llk_wormhole_b0/common/inc/sfpu/ckernel_sfpu_is_fp16_zero.h
  tt_metal/tt-llk/tt_llk_wormhole_b0/common/inc/sfpu/ckernel_sfpu_sign.h
Due: none

Cleanup: LLK several enum to enum class conversion and enum deletions (BH/WH) (#44622)
  models/demos/deepseek_v3_b1/kernel_includes/tt_llk/tt_llk_blackhole/common/inc/sfpu/ckernel_sfpu_sdpa_reduce_row.h
  tests/tt_metal/tt_metal/test_kernels/compute/unpack_tilizeA_B.cpp
  tt_metal/tt-llk/tests/sources/sfpu_reduce_sdpa_perf.cpp
  tt_metal/tt-llk/tests/sources/sfpu_reduce_sdpa_test.cpp
  tt_metal/tt-llk/tt_llk_blackhole/common/inc/sfpu/ckernel_sfpu_reduce.h
  tt_metal/tt-llk/tt_llk_blackhole/common/inc/sfpu/ckernel_sfpu_reduce_custom.h
  tt_metal/tt-llk/tt_llk_blackhole/llk_lib/llk_defs.h
  tt_metal/tt-llk/tt_llk_wormhole_b0/common/inc/sfpu/ckernel_sfpu_reduce.h
  tt_metal/tt-llk/tt_llk_wormhole_b0/common/inc/sfpu/ckernel_sfpu_reduce_custom.h
  tt_metal/tt-llk/tt_llk_wormhole_b0/llk_lib/llk_defs.h
Due: none

Migrate debug/apply_device_delay to ProgramDescriptor (#44401)
  ttnn/cpp/ttnn/operations/debug/device/apply_device_delay_device_operation.cpp
  ttnn/cpp/ttnn/operations/debug/device/apply_device_delay_device_operation.hpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

Cleanup: LLK enum class for EltwiseBinaryType (#44619)
  models/demos/deepseek_v3_b1/kernel_includes/tt_llk/tt_llk_blackhole/llk_lib/llk_math_deepseek_moe_gate_eltwise_binary.h
  models/demos/deepseek_v3_b1/kernel_includes/tt_llk/tt_llk_blackhole/llk_lib/llk_math_rmsnorm_bcast_scalar_dest_reuse.h
  models/demos/deepseek_v3_b1/kernel_includes/tt_llk/tt_llk_blackhole/llk_lib/llk_math_sdpa_bcast_col_srca_srcb_reuse.h
  models/demos/deepseek_v3_b1/kernel_includes/tt_llk/tt_llk_blackhole/llk_lib/llk_math_sdpa_bcast_col_srcb_reuse.h
  models/demos/deepseek_v3_b1/kernel_includes/tt_llk/tt_llk_wormhole_b0/llk_lib/llk_math_deepseek_moe_gate_eltwise_binary.h
  models/demos/deepseek_v3_b1/kernel_includes/tt_metal/include/compute_kernel_api/deepseek_moe_gate.h
  models/demos/deepseek_v3_b1/kernel_includes/tt_metal/include/compute_kernel_api/eltwise_mul_scalar.h
  models/demos/deepseek_v3_b1/kernel_includes/tt_metal/include/compute_kernel_api/rmsnorm.h
  models/demos/deepseek_v3_b1/kernel_includes/tt_metal/include/compute_kernel_api/sdpa.h
  models/demos/deepseek_v3_b1/unified_kernels/reduce_to_one_b1.hpp
  models/demos/deepseek_v3_b1/unified_kernels/rmsnorm.hpp
  models/demos/deepseek_v3_b1/unified_kernels/sampling.hpp
  tests/tt_metal/tt_metal/test_kernels/compute/compute_kernel_sentinel.cpp
  tests/tt_metal/tt_metal/test_kernels/compute/matmul_with_bias.cpp
  tests/tt_metal/tt_metal/test_kernels/compute/reconfig.cpp
  tests/tt_metal/tt_metal/test_kernels/compute/unpack_tilizeA_B.cpp
  tests/tt_metal/tt_metal/test_kernels/compute/untilA_elwbin_3m.cpp
  tt-train/sources/ttml/metal/ops/sdpa_bw/device/kernels/compute/sdpa_bw_compute_utils.hpp
  tt-train/sources/ttml/metal/ops/softmax_backward/device/kernels/compute/softmax_backward_kernel.cpp
  tt_metal/tt-llk/tests/python_tests/fuser/blackhole/fpu/eltwise.py
  tt_metal/tt-llk/tests/python_tests/fuser/wormhole/fpu/eltwise.py
  tt_metal/tt-llk/tests/python_tests/fuser/wormhole/fpu/sub_bcast_col_custom.py
  tt_metal/tt-llk/tests/sources/sdpa_reinits_test.cpp
  tt_metal/tt-llk/tt_llk_blackhole/llk_lib/experimental/llk_math_eltwise_binary_custom.h
  tt_metal/tt-llk/tt_llk_blackhole/llk_lib/llk_defs.h
  tt_metal/tt-llk/tt_llk_blackhole/llk_lib/llk_math_eltwise_binary.h
  tt_metal/tt-llk/tt_llk_wormhole_b0/llk_lib/experimental/llk_math_eltwise_binary_custom.h
  tt_metal/tt-llk/tt_llk_wormhole_b0/llk_lib/llk_defs.h
  tt_metal/tt-llk/tt_llk_wormhole_b0/llk_lib/llk_math_eltwise_binary.h
  ttnn/cpp/ttnn/kernel/compute/moreh_common.hpp
  ttnn/cpp/ttnn/operations/data_movement/bcast/bcast_types.cpp
  ttnn/cpp/ttnn/operations/experimental/deepseek/mla/matmul_wo/device/kernels/compute_collector.cpp
  ttnn/cpp/ttnn/operations/experimental/deepseek/moe/moe_gate_mm/device/kernels/compute.cpp
  ttnn/cpp/ttnn/operations/experimental/transformer/rotate_half/device/rotate_half_program_factory.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_dot_backward/device/kernels/moreh_dot_backward.cpp
  ttnn/cpp/ttnn/operations/normalization/layernorm/device/kernels/compute/layernorm_large_tensor.cpp
  ttnn/cpp/ttnn/operations/normalization/layernorm/device/kernels/compute/layernorm_large_tensor_welford.cpp
  ttnn/cpp/ttnn/operations/normalization/softmax/device/kernels/attention/compute/softmax_large_tensor.cpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

Hoist BH DEST remap setup for conv3d hot loops (#44986)
  tt_metal/hw/ckernels/blackhole/metal/llk_api/experimental/llk_math_fast_tilize_api.h
  tt_metal/hw/ckernels/quasar/metal/llk_api/llk_math_common_api.h
  tt_metal/hw/ckernels/wormhole_b0/metal/llk_api/llk_math_common_api.h
  tt_metal/hw/inc/api/compute/pack_untilize.h
  tt_metal/hw/inc/api/compute/tilize.h
  tt_metal/tt-llk/tt_llk_blackhole/llk_lib/experimental/llk_math_fast_tilize.h
  ttnn/cpp/ttnn/kernel_lib/tilize_helpers.hpp
  ttnn/cpp/ttnn/kernel_lib/tilize_helpers.inl
  ttnn/cpp/ttnn/kernel_lib/untilize_helpers.hpp
  ttnn/cpp/ttnn/kernel_lib/untilize_helpers.inl
  ttnn/cpp/ttnn/operations/experimental/conv3d/device/kernels/compute.cpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

[Feature] Base pointer retrieval API for TensorAccessor (#45091)
  tests/ttnn/unit_tests/gtests/accessor/kernels/copy_local_via_bank_base.cpp
  tests/ttnn/unit_tests/gtests/accessor/test_tensor_accessor_on_device.cpp
  tt_metal/hw/inc/api/tensor/tensor_accessor.h
Due: none

Migrate transformer/sdpa family (7 variants) + ring_attention_all_gather to ProgramDescriptor (#44755)
  ttnn/cpp/ttnn/operations/experimental/ccl/ring_attention_all_gather_async/device/ring_attention_all_gather_async_multi_core_with_workers_program_factory.cpp
  ttnn/cpp/ttnn/operations/experimental/ccl/ring_attention_all_gather_async/device/ring_attention_all_gather_async_multi_core_with_workers_program_factory.hpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/exp_ring_joint_sdpa_program_factory.cpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/exp_ring_joint_sdpa_program_factory.hpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/joint_sdpa_device_operation.cpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/joint_sdpa_device_operation.hpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/joint_sdpa_program_factory.cpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/joint_sdpa_program_factory.hpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/ring_distributed_sdpa_device_operation.cpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/ring_distributed_sdpa_device_operation.hpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/ring_distributed_sdpa_program_factory.cpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/ring_distributed_sdpa_program_factory.hpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/ring_joint_sdpa_device_operation.hpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/ring_joint_sdpa_program_factory.cpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/ring_joint_sdpa_program_factory.hpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/sdpa_device_operation.cpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/sdpa_device_operation.hpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/sdpa_program_factory.cpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/sdpa_program_factory.hpp
  ttnn/cpp/ttnn/operations/transformer/sdpa_decode/device/sdpa_decode_device_operation.cpp
  ttnn/cpp/ttnn/operations/transformer/sdpa_decode/device/sdpa_decode_device_operation.hpp
  ttnn/cpp/ttnn/operations/transformer/sdpa_decode/device/sdpa_decode_program_factory.cpp
  ttnn/cpp/ttnn/operations/transformer/sdpa_decode/device/sdpa_decode_program_factory.hpp
  ttnn/cpp/ttnn/operations/transformer/sdpa_windowed/device/sdpa_windowed_device_operation.cpp
  ttnn/cpp/ttnn/operations/transformer/sdpa_windowed/device/sdpa_windowed_device_operation.hpp
  ttnn/cpp/ttnn/operations/transformer/sdpa_windowed/device/sdpa_windowed_program_factory.cpp
  ttnn/cpp/ttnn/operations/transformer/sdpa_windowed/device/sdpa_windowed_program_factory.hpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

[skip ci] Add Blackhole e2e SDPA test selection (#45008)
  .github/workflows/blackhole-e2e-tests-impl.yaml
  .github/workflows/blackhole-e2e-tests.yaml
  tests/pipeline_reorg/blackhole_e2e_tests.yaml
Due: none

Migrate experimental/ssm leftovers to ProgramDescriptor (#44403)
  ttnn/cpp/ttnn/operations/experimental/ssm/prefix_scan/device/prefix_scan_device_operation.cpp
  ttnn/cpp/ttnn/operations/experimental/ssm/prefix_scan/device/prefix_scan_device_operation.hpp
  ttnn/cpp/ttnn/operations/experimental/ssm/prefix_scan/device/prefix_scan_program_factory.cpp
  ttnn/cpp/ttnn/operations/experimental/ssm/prefix_scan/device/prefix_scan_program_factory.hpp
  ttnn/cpp/ttnn/operations/experimental/ssm/repeat_and_interleave_eltwise_mul/device/repeat_and_interleave_eltwise_mul_device_operation.cpp
  ttnn/cpp/ttnn/operations/experimental/ssm/repeat_and_interleave_eltwise_mul/device/repeat_and_interleave_eltwise_mul_device_operation.hpp
  ttnn/cpp/ttnn/operations/experimental/ssm/repeat_and_interleave_eltwise_mul/device/repeat_and_interleave_eltwise_mul_program_factory.cpp
  ttnn/cpp/ttnn/operations/experimental/ssm/repeat_and_interleave_eltwise_mul/device/repeat_and_interleave_eltwise_mul_program_factory.hpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

Data format reconfigure Quasar (#44221)
  tests/tt_metal/tt_metal/llk/test_reconfig.cpp
  tests/tt_metal/tt_metal/test_kernels/compute/reconfig_quasar.cpp
  tests/tt_metal/tt_metal/test_kernels/dataflow/reader_six_input.cpp
  tt_metal/hw/ckernels/quasar/metal/llk_api/llk_math_common_api.h
  tt_metal/hw/ckernels/quasar/metal/llk_api/llk_unpack_common_api.h
  tt_metal/hw/inc/api/compute/reconfig_data_format.h
  tt_metal/hw/inc/api/compute/sentinel/sentinel_core.h
  tt_metal/tt-llk/tt_llk_quasar/common/inc/cunpack_common.h
  tt_metal/tt-llk/tt_llk_quasar/llk_lib/llk_unpack_common.h
Due: none

[Performance] Update Swin-S device perf target (#45001)
  models/experimental/swin_s/tests/perf/test_perf.py
Due: none

Migrate experimental/transformer leftover ops (6) to ProgramDescriptor (#44400)
  ttnn/cpp/ttnn/operations/experimental/transformer/all_reduce_create_qkv_heads/device/all_reduce_create_qkv_heads_program_factory.cpp
  ttnn/cpp/ttnn/operations/experimental/transformer/all_reduce_create_qkv_heads/device/all_reduce_create_qkv_heads_program_factory.hpp
  ttnn/cpp/ttnn/operations/experimental/transformer/create_qkv_heads/device/create_qkv_heads_program_factory.cpp
  ttnn/cpp/ttnn/operations/experimental/transformer/create_qkv_heads/device/create_qkv_heads_program_factory.hpp
  ttnn/cpp/ttnn/operations/experimental/transformer/dit_layernorm_post_all_gather/device/dit_layernorm_post_all_gather_welford_program_factory.cpp
  ttnn/cpp/ttnn/operations/experimental/transformer/dit_layernorm_post_all_gather/device/dit_layernorm_post_all_gather_welford_program_factory.hpp
  ttnn/cpp/ttnn/operations/experimental/transformer/fused_distributed_rmsnorm/device/fused_rmsnorm_post_all_gather_program_factory.cpp
  ttnn/cpp/ttnn/operations/experimental/transformer/nlp_create_qkv_heads/device/nlp_create_qkv_heads_device_operation.hpp
  ttnn/cpp/ttnn/operations/experimental/transformer/nlp_create_qkv_heads/device/nlp_create_qkv_heads_program_factory.cpp
  ttnn/cpp/ttnn/operations/experimental/transformer/nlp_create_qkv_heads_boltz/device/nlp_create_qkv_heads_boltz_device_operation.hpp
  ttnn/cpp/ttnn/operations/experimental/transformer/nlp_create_qkv_heads_boltz/device/nlp_create_qkv_heads_boltz_program_factory.cpp
  ttnn/cpp/ttnn/operations/experimental/transformer/nlp_create_qkv_heads_decode/device/nlp_create_qkv_heads_decode_interleaved_program_factory.cpp
  ttnn/cpp/ttnn/operations/experimental/transformer/nlp_create_qkv_heads_decode/device/nlp_create_qkv_heads_decode_interleaved_program_factory.hpp
  ttnn/cpp/ttnn/operations/experimental/transformer/nlp_create_qkv_heads_decode/device/nlp_create_qkv_heads_decode_sharded_program_factory.cpp
  ttnn/cpp/ttnn/operations/experimental/transformer/nlp_create_qkv_heads_decode/device/nlp_create_qkv_heads_decode_sharded_program_factory.hpp
  ttnn/cpp/ttnn/operations/experimental/transformer/nlp_create_qkv_heads_decode/device/nlp_create_qkv_heads_decode_sharded_subcoregrid_program_factory.cpp
  ttnn/cpp/ttnn/operations/experimental/transformer/nlp_create_qkv_heads_decode/device/nlp_create_qkv_heads_decode_sharded_subcoregrid_program_factory.hpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

sdpa: migrate kernels off deprecated dst and noc-tile APIs (#45033)
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/kernels/compute/compute_common.hpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/kernels/dataflow/dataflow_common.hpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/kernels/dataflow/reader_interleaved.cpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/kernels/dataflow/ring_joint_writer.cpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

moreh_mean_backward: register output_grad as BufferBinding to fix stale-address cache hits (#45137)
  ttnn/cpp/ttnn/operations/moreh/moreh_mean_backward/device/moreh_mean_backward_program_factory.cpp
Due: block-ttnn-pybind-changes

Fix DeepSeek MoE trace config and TG decode handling (#45081)
  models/demos/deepseek_v3/tests/fused_op_unit_tests/moe/test_ds_moe.py
  models/demos/deepseek_v3/tests/test_model.py
  models/demos/deepseek_v3/tt/mla/mla1d.py
Due: none

Migrate experimental/fusion/fusion_dispatch_op to ProgramDescriptor (#44405)
  ttnn/cpp/ttnn/operations/experimental/fusion/device/fusion_dispatch_op_device_operation.cpp
  ttnn/cpp/ttnn/operations/experimental/fusion/device/fusion_dispatch_op_device_operation.hpp
  ttnn/cpp/ttnn/operations/experimental/fusion/device/fusion_dispatch_op_program_factory.cpp
  ttnn/cpp/ttnn/operations/experimental/fusion/device/fusion_dispatch_op_program_factory.hpp
  ttnn/sources.cmake
Due: block-ttnn-pybind-changes, detect-legacy-device-op
