Repository tenstorrent/tt-metal: changes, and which pre-commit hooks are due for each by the changed paths.
All: block-ttnn-pybind-changes, detect-legacy-device-op, validate-golden-csv-columns

block-ttnn-pybind-changes:
  name: Prevent edits to frozen pybind11 sources under ttnn
  entry: python3 scripts/block_ttnn_pybind_changes.py
  language: system
  pass_filenames: true

detect-legacy-device-op:
  name: Detect legacy device operation classes in newly added files
  entry: python3 scripts/detect_legacy_device_op.py --check-new-only
  language: system
  pass_filenames: true
  require_serial: true

validate-golden-csv-columns:
  name: Validate golden bandwidth CSV column headers
  entry: bash .github/scripts/utils/validate_golden_csv_columns.sh
  language: system
  pass_filenames: false

ring causal attn (wip)
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/kernels/compute/compute_common.hpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/kernels/compute/ring_joint_sdpa.cpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/kernels/dataflow/ring_joint_reader.cpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

Add TT_METAL_WATCHER_NO_POLL mode for device-side watcher without host polling
  .github/actions/setup-job/action.yml
  models/common/utility_functions.py
  tests/ttnn/nightly/unit_tests/operations/sdpa/test_sdpa_chunked.py
  tests/ttnn/nightly/unit_tests/operations/sdpa/test_sdpa_joint.py
  tests/ttnn/nightly/unit_tests/operations/sdpa/test_sdpa_prefill.py
  tests/ttnn/nightly/unit_tests/operations/sdpa/test_sdpa_ring_distributed.py
  tests/ttnn/unit_tests/operations/sdpa/sdpa_test_utils.py
  tt_metal/impl/debug/watcher_server.cpp
  tt_metal/llrt/rtoptions.cpp
  tt_metal/llrt/rtoptions.hpp
Due: none

Fixed the index ids and added the stack trace
  tech_reports/ttnn/graph-tracing.md
  tests/ttnn/unit_tests/base_functionality/test_graph_report.py
  ttnn/core/graph/graph_processor.cpp
  ttnn/ttnn/graph_report.py
Due: block-ttnn-pybind-changes

Fix deadcode.DeadStores in op_slicing.cpp line 108 (#38423)
  ttnn/cpp/ttnn/operations/sliding_window/op_slicing/op_slicing.cpp
Due: block-ttnn-pybind-changes

Remove inode cache creation
  .github/actions/setup-job/action.yml
Due: none

#0: MLA work
  models/tt_dit/tests/unit/test_ring_joint_attention.py
  models/tt_dit/tests/unit/test_ring_joint_mla.py
  ttnn/cpp/ttnn/operations/experimental/ccl/ring_attention_all_gather_async/device/kernels/ring_attention_all_gather_reader.cpp
  ttnn/cpp/ttnn/operations/experimental/ccl/ring_attention_all_gather_async/device/kernels/ring_attention_all_gather_writer.cpp
  ttnn/cpp/ttnn/operations/experimental/ccl/ring_attention_all_gather_async/device/ring_attention_all_gather_async_device_operation.cpp
  ttnn/cpp/ttnn/operations/experimental/ccl/ring_attention_all_gather_async/device/ring_attention_all_gather_async_multi_core_with_workers_program_factory.cpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/kernels/compute/compute_common.hpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/kernels/compute/ring_joint_sdpa.cpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/kernels/dataflow/dataflow_common.hpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/kernels/dataflow/ring_joint_reader.cpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/kernels/dataflow/ring_joint_writer.cpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/ring_joint_sdpa_device_operation.cpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/ring_joint_sdpa_program_factory.cpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

REVERTME swap all the caches
  .github/workflows/galaxy-deepseek-tests-impl.yaml
  .github/workflows/galaxy-quick-impl.yaml
  .github/workflows/multi-host-deepseekv3.yaml
  models/demos/deepseek_v3/demo/test_demo.py
  tests/pipeline_reorg/galaxy_demo_tests.yaml
  tests/scripts/multihost/run_quad_galaxy_tests.sh
  tests/scripts/t3000/run_t3000_unit_tests.sh
Due: none

Enhance device print functionality: add memory file descriptor handling, implement print buffer management, and update DevicePrintHeader structure for improved data handling
  tests/tt_metal/tt_metal/debug_tools/debug_tools_fixture.hpp
  tests/tt_metal/tt_metal/debug_tools/sources.cmake
  tt_metal/hostdevcommon/api/hostdevcommon/device_print_common.h
  tt_metal/hw/inc/api/debug/device_print.h
  tt_metal/hw/inc/api/debug/device_print_structures.h
  tt_metal/impl/debug/debug_helpers.hpp
  tt_metal/impl/debug/dprint_server.cpp
Due: none

Add nightly unit conv tests for PDL 110 cores
  tests/ttnn/nightly/unit_tests/operations/conv/test_conv2d.py
Due: none

added even more debug information
  ttnn/cpp/ttnn/operations/data_movement/concat/device/concat_device_operation.cpp
  ttnn/cpp/ttnn/operations/data_movement/concat/device/concat_nd_sharded_program_factory.cpp
Due: block-ttnn-pybind-changes

#0: Kinda blocked pack for sub+Q@KT, 32.65us
  tt_metal/programming_examples/sdpa_single_core/kernels/compute/sdpa.cpp
Due: none

clang tiday
  tests/tt_metal/tt_fabric/fabric_router/test_physical_grouping_descriptor.cpp
Due: none

Fix for the failing Single Device Perf
  models/demos/vision/classification/resnet50/blackhole/tests/test_perf_device_resnet50.py
  models/demos/vision/classification/vit/blackhole/tests/test_vit_device_perf.py
  models/demos/vision/generative/stable_diffusion/wormhole/tests/test_perf.py
  models/demos/vision/segmentation/vgg_unet/blackhole/tests/perf/test_perf_vgg_unet.py
  models/experimental/functional_unet/tests/test_unet_perf.py
  tests/ttnn/perf_tests/operations/conv/test_conv2d_device_perf.py
Due: none

remove pythonpath
  .github/workflows/publish-release-image.yaml
Due: none

build: bump tt-exalens version to 0.3.6 (#1347)
  tests/requirements.txt
Due: none

#0: Partial re-inits: 32.08us
  tt_metal/programming_examples/sdpa_single_core/kernels/compute/sdpa.cpp
Due: none

move logits to dram
  models/tt_transformers/tt/model.py
Due: none

Remove dead code. (#38182)
  tt_metal/hw/ckernels/blackhole/metal/llk_api/llk_sfpu/ckernel_sfpu_trigonometry.h
  tt_metal/hw/ckernels/wormhole_b0/metal/llk_api/llk_sfpu/ckernel_sfpu_trigonometry.h
Due: none

Fix double nanobind registration of flash_mla_prefill_t
  ttnn/cpp/ttnn/operations/transformer/sdpa/sdpa_nanobind.cpp
Due: block-ttnn-pybind-changes

[skip ci] Remove @athompsonTT from CODEOWNERS (#38450)
  .github/CODEOWNERS
Due: none

Fix namespace references for Quasar kernel creation in stack usage tests
  tests/tt_metal/tt_metal/debug_tools/watcher/test_stack_usage.cpp
Due: none

Added comments and description
  .github/actions/setup-job/action.yml
  .github/workflows/ttnn-post-commit.yaml
Due: none

Remove tt_metal/experimental directory, move UDM to proper API/impl locations (#38381)
  .github/CODEOWNERS
  tests/ttnn/unit_tests/gtests/udm/copy/test_udm_copy.cpp
  tests/ttnn/unit_tests/gtests/udm/eltwise/test_udm_add.cpp
  tests/ttnn/unit_tests/gtests/udm/reduction/interleaved/test_udm_reduction_interleaved.cpp
  tests/ttnn/unit_tests/gtests/udm/reduction/sharded/test_udm_reduction.cpp
  tests/ttnn/unit_tests/gtests/udm/test_udm_utils.hpp
  tt_metal/CMakeLists.txt
  tt_metal/api/tt-metalium/experimental/udm/mesh_builder.hpp
  tt_metal/api/tt-metalium/experimental/udm/mesh_circular_buffer.hpp
  tt_metal/api/tt-metalium/experimental/udm/mesh_kernel.hpp
  tt_metal/api/tt-metalium/experimental/udm/mesh_program.hpp
  tt_metal/api/tt-metalium/experimental/udm/mesh_semaphore.hpp
  tt_metal/api/tt-metalium/experimental/udm/mesh_tensor_builder.hpp
  tt_metal/api/tt-metalium/experimental/udm/mesh_utils.hpp
  tt_metal/api/tt-metalium/experimental/udm/types.hpp
  tt_metal/impl/experimental/udm/CMakeLists.txt
  tt_metal/impl/experimental/udm/mesh_builder.cpp
  tt_metal/impl/experimental/udm/mesh_circular_buffer.cpp
  tt_metal/impl/experimental/udm/mesh_kernel.cpp
  tt_metal/impl/experimental/udm/mesh_program.cpp
  tt_metal/impl/experimental/udm/mesh_semaphore.cpp
  tt_metal/impl/experimental/udm/mesh_tensor_builder.cpp
  tt_metal/impl/experimental/udm/mesh_utils.cpp
Due: none

tilize/untilize helper cpp tests
  tests/tt_metal/tt_metal/llk/sources.cmake
  tests/tt_metal/tt_metal/llk/test_tilize_untilize_helpers.cpp
  tests/tt_metal/tt_metal/test_kernels/compute/tilize_helper.cpp
  tests/tt_metal/tt_metal/test_kernels/compute/untilize_helper.cpp
  tests/tt_metal/tt_metal/test_kernels/dataflow/reader_push_pages.cpp
Due: none

Fix conversion between num_groups and num_key_value_heads parameters
  tt-train/sources/examples/nano_gpt/train_nanogpt.py
  tt-train/sources/ttml/ttml/models/llama/transformer.py
Due: none

Simplify python llama block execution loop
  tt-train/sources/ttml/ttml/models/llama/__init__.py
Due: none

future parameters have been introduced
  ttnn/cpp/ttnn/operations/data_movement/concat/device/concat_nd_sharded_program_factory.cpp
  ttnn/cpp/ttnn/operations/data_movement/concat/device/kernels/dataflow/reader_concat_nd_sharded.cpp
Due: block-ttnn-pybind-changes

move to dram
  models/tt_transformers/tt/model.py
Due: none

Update link to TT-NN Basic Examples Page
  INSTALLING.md
Due: none

set matter for runtime variables
  ttnn/cpp/ttnn/operations/data_movement/concat/device/concat_nd_sharded_program_factory.cpp
  ttnn/cpp/ttnn/operations/data_movement/concat/device/kernels/dataflow/reader_concat_nd_sharded.cpp
Due: block-ttnn-pybind-changes

Small fixes for `didt/test_sdpa_op.py`
  tests/didt/test_sdpa_op.py
Due: none

Migrate `didt/test_lm_head_matmul.py` to the new test superclass
  tests/didt/test_lm_head_matmul.py
Due: none

Migrate `didt/test_binary_mul.py` to the new test superclass
  tests/didt/test_binary_mul.py
Due: none

Migrate `didt/test_minimal_matmul.py` to the new test superclass
  tests/didt/test_minimal_matmul.py
Due: none

Rename `get_blackhole_grid_size` to `get_mesh_grid_size`
  tests/didt/op_test_base_multi.py
  tests/didt/test_binary_mul.py
  tests/didt/test_duty_cycle.py
  tests/didt/test_ff1_matmul.py
  tests/didt/test_lm_head_matmul.py
  tests/didt/test_minimal_matmul.py
  tests/didt/test_mla_sdpa.py
  tests/didt/test_mm_after_non_mm.py
  tests/didt/test_resnet_conv.py
  tests/didt/test_sdpa_op.py
  tests/didt/test_sdxl_conv.py
  tests/didt/test_sdxl_conv_1280x1280_upsample.py
  tests/didt/test_sdxl_matmul.py
Due: none

Add missing function to the new didt superclass
  tests/didt/op_test_base_multi.py
Due: none

Path conditions:
  block-ttnn-pybind-changes: any of: ^ttnn/
  detect-legacy-device-op: any of: ^ttnn/.*\.hpp$
  validate-golden-csv-columns: any of: ^tests/tt_metal/tt_metal/perf_microbenchmark/routing/golden/.*bandwidth.*\.csv$
