Repository tenstorrent/tt-metal: changes, and which pre-commit hooks are due for each by the changed paths.
All: block-ttnn-pybind-changes, detect-legacy-device-op, validate-golden-csv-columns

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v3.2.0
  hooks:
    - id: trailing-whitespace
      exclude: \.patch$
    - id: end-of-file-fixer
      exclude: \.patch$
    - id: check-yaml
      args: ["--unsafe"]
    - id: check-added-large-files
# Using this mirror lets us use mypyc-compiled black, which is about 2x faster
- repo: https://github.com/psf/black-pre-commit-mirror
  rev: 23.10.1
  hooks:
    - id: black
      language_version: python3
- repo: https://github.com/PyCQA/autoflake
  rev: v2.3.1
  hooks:
    - id: autoflake
      args: [--remove-all-unused-imports, --in-place, --recursive, --exclude=__init__.py]
      files: ^models/  # Run only on files in the models directory
- repo: https://github.com/pycqa/isort
  rev: 5.13.2
  hooks:
    - id: isort
      files: ^models/
      exclude: ^models/(demos/llama3_70b_galaxy|experimental)/
- repo: https://github.com/BlankSpruce/gersemi
  rev: 0.16.2
  hooks:
    - id: gersemi
- repo: https://github.com/adrienverge/yamllint.git
  rev: v1.35.1
  hooks:
    - id: yamllint
- repo: https://github.com/pre-commit/mirrors-clang-format
  rev: v19.1.4
  hooks:
    - id: clang-format
      entry: git-clang-format
      require_serial: true
      types_or: [c++, c]
      args: ["--style=file"]
- repo: local
  hooks:
    - id: validate-metalium-includes
      name: validate-metalium-includes
      entry: python3 scripts/validate_api/validate_includes.py tt_metal/api --check-ttnn-forwards
      language: system
      pass_filenames: false
    - id: validate-metalium-deprecation
      name: validate-metalium-deprecation
      entry: python3 scripts/validate_api/validate_deprecation.py tt_metal/api origin/main
      language: system
      pass_filenames: false
- repo: local
  hooks:
    - id: check-torch-imports-in-ttnn
      name: Verify that there is no global torch import in ttnn
      entry: python3 scripts/validate_no_global_torch_imports.py
      language: system
      pass_filenames: false
- repo: local
  hooks:
    - id: block-ttnn-pybind-changes
      name: Prevent edits to frozen pybind11 sources under ttnn
      entry: python3 scripts/block_ttnn_pybind_changes.py
      language: system
      pass_filenames: true
      files: ^ttnn/
- repo: local
  hooks:
    - id: convert-notebooks-to-py
      name: Convert .ipynb to .py for ttnn basic examples
      entry: python3 scripts/convert_notebooks_to_python.py
      language: system
- repo: local
  hooks:
    - id: detect-legacy-device-op
      name: Detect legacy device operation classes in newly added files
      entry: python3 scripts/detect_legacy_device_op.py --check-new-only
      language: system
      types: [file]
      files: ^ttnn/.*\.hpp$
      pass_filenames: true
      require_serial: true
- repo: local
  hooks:
    - id: validate-golden-csv-columns
      name: Validate golden bandwidth CSV column headers
      entry: bash .github/scripts/utils/validate_golden_csv_columns.sh
      language: system
      pass_filenames: false
      files: ^tests/tt_metal/tt_metal/perf_microbenchmark/routing/golden/.*bandwidth.*\.csv$

bge-m3 PCC: use bf16 for S>4096, bf8_b for S<=4096
  models/demos/wormhole/bge_m3/tests/pcc/test_model.py
  models/demos/wormhole/bge_m3/tests/pcc/test_model_multibatch.py
Due: none

gpt-oss: fix Blackhole decode hang by inferring nnz at runtime in MoE decode sparse_matmuls (#45969)
  models/demos/gpt_oss/tt/experts/decode.py
Due: none

ci: align merge-gate ASan build to Ubuntu 24.04
  .github/workflows/merge-gate.yaml
Due: none

ltx: fix stage-1 sigma shift to match reference (fixed anchor, not token count)
  models/tt_dit/pipelines/ltx/pipeline_ltx.py
Due: none

update doc
  how_to_test.md
Due: none

Revert "bge-m3 PCC: use bf16 for S>4096, bf8_b for S<=4096"
  models/demos/wormhole/bge_m3/tests/pcc/test_model.py
  models/demos/wormhole/bge_m3/tests/pcc/test_model_multibatch.py
Due: none

ci: restore harbor-prefix to build-artifact and resolve-docker-pull-refs
  .github/workflows/tt-metal-l2-nightly.yaml
Due: none

pi0.5: perf playbooks + automated analyzer tool
  models/experimental/pi0_5/PERF_PLAYBOOKS/00_README.md
  models/experimental/pi0_5/PERF_PLAYBOOKS/01_FOUNDATIONS.md
  models/experimental/pi0_5/PERF_PLAYBOOKS/02_NORMALIZATION.md
  models/experimental/pi0_5/PERF_PLAYBOOKS/03_QKV_PROJECTION.md
  models/experimental/pi0_5/PERF_PLAYBOOKS/04_ATTENTION_SDPA.md
  models/experimental/pi0_5/PERF_PLAYBOOKS/05_MLP.md
  models/experimental/pi0_5/PERF_PLAYBOOKS/06_FUSION_AND_RESIDUALS.md
  models/experimental/pi0_5/PERF_PLAYBOOKS/07_METHODOLOGY.md
  models/experimental/pi0_5/PERF_PLAYBOOKS/08_DECODE_PREFILL_AND_MULTIDEVICE.md
  models/experimental/pi0_5/PERF_PLAYBOOKS/09_PROFILING_AND_OP_ANALYSIS.md
  models/experimental/pi0_5/PERF_PLAYBOOKS/AGENT_INDEX.md
  models/experimental/pi0_5/tools/perf_analyze.py
Due: none

pi0.5: PI0_EXPERT_MM_LOFI env knob + per-shape SDPA exp_approx_mode (both opt-in)
  models/experimental/pi0_5/tt/ttnn_common.py
  models/experimental/pi0_5/tt/ttnn_gemma.py
  models/experimental/pi0_5/tt/ttnn_siglip.py
Due: none

ci: restore harbor-prefix to tt-train-models with: block
  .github/workflows/tt-metal-l2-nightly.yaml
Due: none

fix fabric latency numbers
  ttnn/cpp/ttnn/operations/ccl/all_gather/device/all_gather_device_operation.cpp
  ttnn/cpp/ttnn/operations/ccl/ccl_common.cpp
  ttnn/cpp/ttnn/operations/ccl/ccl_common.hpp
  ttnn/cpp/ttnn/operations/ccl/reduce_scatter/device/reduce_scatter_device_operation.cpp
  ttnn/cpp/ttnn/operations/experimental/ccl/all_gather_async/device/all_gather_async_device_operation.cpp
  ttnn/cpp/ttnn/operations/experimental/ccl/all_reduce_async/device/all_reduce_async_device_operation.cpp
  ttnn/cpp/ttnn/operations/experimental/ccl/reduce_scatter_minimal_async/device/reduce_scatter_minimal_async_op_device_operation.cpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

bge-m3 PCC: arch-aware dtype - bf8_b on Blackhole at all lengths, bf16 on Wormhole for S>4096
  models/demos/wormhole/bge_m3/tests/pcc/test_model.py
  models/demos/wormhole/bge_m3/tests/pcc/test_model_multibatch.py
Due: none

cmake: default to zstd level-3 ccache compression
  cmake/ccache.cmake
Due: none

ci: llk-sd-unit-tests and tt-train-models resolve image via resolve-docker-pull-refs
  .github/workflows/tt-metal-l2-nightly.yaml
Due: none

fix output->c rebase gap in tilize PFs
  ttnn/cpp/ttnn/operations/data_movement/tilize/device/tilize_multi_core_default_program_factory.cpp
  ttnn/cpp/ttnn/operations/data_movement/tilize/device/tilize_single_core_program_factory.cpp
Due: block-ttnn-pybind-changes

docs: clarify moreh deprecation guidance
  docs/source/ttnn/index.rst
  docs/source/ttnn/ttnn/api.rst
  docs/source/ttnn/ttnn/moreh.rst
  ttnn/ttnn/operations/moreh.py
  ttnn/tutorials/basic_python/ttnn_clip_zero_shot_classification.py
  ttnn/tutorials/ttnn_clip_zero_shot_classification.ipynb
Due: block-ttnn-pybind-changes

conv_bench: wire main mode — main's verbatim no-helper conv kernel
  ttnn/cpp/ttnn/operations/conv/conv2d/conv2d_op_program_factory_common.cpp
  ttnn/cpp/ttnn/operations/conv/conv2d/conv2d_op_program_factory_common.hpp
  ttnn/cpp/ttnn/operations/conv/conv2d/device/conv2d_op_sharded_program_factory.cpp
  ttnn/cpp/ttnn/operations/conv/conv2d/device/kernels/conv_bmm_tilize_main.cpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

Implemented reader
  scripts/print_kernel_durations.py
  tests/ttnn/unit_tests/operations/matmul/test_matmul_decode.py
  ttnn/cpp/ttnn/operations/matmul_decode/device/full_width_sharded_program_factory.cpp
  ttnn/cpp/ttnn/operations/matmul_decode/device/kernels/dataflow/reader_full_width_sharded.cpp
  ttnn/cpp/ttnn/operations/matmul_decode/device/matmul_decode_device_operation.cpp
  ttnn/cpp/ttnn/operations/matmul_decode/device/matmul_decode_device_operation.hpp
  ttnn/cpp/ttnn/operations/matmul_decode/matmul_decode.cpp
  ttnn/cpp/ttnn/operations/matmul_decode/matmul_decode.hpp
  ttnn/cpp/ttnn/operations/matmul_decode/matmul_decode_nanobind.cpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

Fast reader on 2 cores.
  ttnn/cpp/ttnn/operations/matmul_decode/device/full_width_sharded_program_factory.cpp
  ttnn/cpp/ttnn/operations/matmul_decode/device/kernels/dataflow/reader_full_width_sharded.cpp
Due: block-ttnn-pybind-changes

Qwen3.6-27B: wire trace decode into the generator (qwen36 hooks)
  models/demos/qwen3_6_galaxy_v2/tt/generator.py
  models/demos/qwen3_6_galaxy_v2/tt/generator_vllm.py
Due: none

Working. 3520ns for 2 cores
  ttnn/cpp/ttnn/operations/matmul_decode/device/full_width_sharded_program_factory.cpp
  ttnn/cpp/ttnn/operations/matmul_decode/device/kernels/compute/compute_full_width_sharded.cpp
  ttnn/cpp/ttnn/operations/matmul_decode/device/kernels/dataflow/reader_full_width_sharded.cpp
Due: block-ttnn-pybind-changes

Relocate named_args_generated.h codegen to the genfiles layer (#46143)
  tests/tt_metal/tt_metal/api/test_named_runtime_args.cpp
  tests/tt_metal/tt_metal/test_kernels/compute/named_compile_time_args_compute_kernel.cpp
  tt_metal/jit_build/build.cpp
  tt_metal/jit_build/genfiles.cpp
Due: none

Qwen3.6-27B: allocate vLLM KV cache row-sharded to match init_kv_cache
  models/demos/qwen3_6_galaxy_v2/tt/generator_vllm.py
Due: none

Qwen3.6-27B: replicate prefill page_table (write KV to all mesh columns)
  models/demos/qwen3_6_galaxy_v2/tt/llama_model.py
Due: none

ci: add comment to CMakeLists.txt to trigger merge-gate validation
  CMakeLists.txt
Due: none

Qwen3.6-27B: log cont.3 — server decode runs e2e, garbage; bug=paged-KV path; device flaky
  models/demos/qwen3_6_galaxy_v2/BRINGUP_LOG.md
Due: none

tensor/accessor: fix inconsistent auto return type in noc_traits.h
  tt_metal/hw/inc/api/tensor/noc_traits.h
Due: none

pi0.5: PI0_ROPE_TABLES_L1 env knob + perf_analyze neighbor-printing
  models/experimental/pi0_5/tools/perf_analyze.py
  models/experimental/pi0_5/tt/ttnn_gemma.py
  models/experimental/pi0_5/tt/ttnn_pi0_5_model.py
Due: none

Working with block size 1x1x1
  ttnn/cpp/ttnn/operations/matmul_decode/device/full_width_sharded_program_factory.cpp
  ttnn/cpp/ttnn/operations/matmul_decode/device/kernels/compute/compute_full_width_sharded.cpp
Due: block-ttnn-pybind-changes

ci: skip asan-build and clang-tidy-light for Python-only PRs
  .github/actions/find-changed-files/action.yml
  .github/scripts/utils/find-changed-files.sh
  .github/workflows/pr-gate.yaml
Due: none

Revert golden CSV and deadlock stability YAML to main content, misc cleanups
  .github/CODEOWNERS
  .github/workflows/blackhole-multi-card-unit-tests-impl.yaml
  dockerfile/upstream_test_images/run_upstream_tests_vanilla.sh
  tests/tt_metal/tt_fabric/CMakeLists.txt
  tests/tt_metal/tt_fabric/test_infra/golden/golden_bandwidth_summary_wormhole_b0_t3k.csv
  tests/tt_metal/tt_fabric/test_infra/test_yamls/test_fabric_deadlock_stability_bh_6U_galaxy.yaml
Due: none

[Bug fix] validate moreh_layer_norm forward stats tensors (#46068)
  tests/ttnn/nightly/unit_tests/operations/moreh/test_moreh_layer_norm.py
  ttnn/cpp/ttnn/operations/moreh/moreh_layer_norm/device/moreh_layer_norm_device_operation.cpp
Due: block-ttnn-pybind-changes

#46110: prevent going to row major reduction path (#46122)
  tests/ttnn/nightly/unit_tests/operations/reduction/test_reduction_ops.py
  tests/ttnn/unit_tests/operations/reduce/test_row_major_reduce.py
  ttnn/cpp/ttnn/operations/reduction/generic/device/reduce_op.cpp
  ttnn/cpp/ttnn/operations/reduction/generic/device/reduce_op.hpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

increase precision
  models/tt_dit/layers/embeddings.py
  models/tt_dit/layers/linear.py
  models/tt_dit/models/transformers/wan2_2/attention_wan.py
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/kernels/compute/compute_common.hpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

up the budget for n300, give us some more wiggle room for the other ones
  .github/time_budget.yaml
  tests/pipeline_reorg/models_unit_tests.yaml
Due: none

move to metalcontext, add pimpl, rm serviceprogs
  tests/tt_metal/tt_metal/dispatch/test_service_core_manager.cpp
  tt_metal/api/internal/service/service_core_manager.hpp
  tt_metal/distributed/distributed.cpp
  tt_metal/distributed/mesh_workload_impl.hpp
  tt_metal/impl/context/metal_context.cpp
  tt_metal/impl/context/metal_context.hpp
  tt_metal/impl/device/device.cpp
  tt_metal/impl/dispatch/dispatch_core_manager.cpp
  tt_metal/impl/host_api/tt_metal.cpp
  tt_metal/impl/internal/service/service_core_manager.cpp
  tt_metal/impl/internal/service/service_core_manager_impl.hpp
  tt_metal/impl/program/program.cpp
  tt_metal/tools/watcher_dump/watcher_dump.cpp
Due: none

Fix SFPU integration test hang on mesh fast dispatch
  tests/tt_metal/tt_metal/integration/test_sfpu_compute.cpp
Due: none

code cleaning
  docs/superpowers/plans/2026-04-29-qwen35-9b-prefill-phase1.md
  docs/superpowers/plans/2026-06-01-qwen9b-generator-interface.md
  docs/superpowers/plans/2026-06-01-qwen9b-multidevice-blocks.md
  docs/superpowers/specs/2026-04-29-qwen35-9b-prefill-optimization-design.md
  docs/superpowers/specs/2026-06-01-qwen9b-generator-conformance-design.md
Due: none
