Repository tenstorrent/tt-metal: changes, and which pre-commit hooks are due for each by the changed paths.
All: block-ttnn-pybind-changes, detect-legacy-device-op, validate-golden-csv-columns

block-ttnn-pybind-changes:
  name: Prevent edits to frozen pybind11 sources under ttnn
  entry: python3 scripts/block_ttnn_pybind_changes.py
  language: system
  pass_filenames: true

detect-legacy-device-op:
  name: Detect legacy device operation classes in newly added files
  entry: python3 scripts/detect_legacy_device_op.py --check-new-only
  language: system
  pass_filenames: true
  require_serial: true

validate-golden-csv-columns:
  name: Validate golden bandwidth CSV column headers
  entry: bash .github/scripts/utils/validate_golden_csv_columns.sh
  language: system
  pass_filenames: false

Adding Distribution Spec for Legacy 2D Shard Specs (#39582)
  tests/ttnn/unit_tests/gtests/tensor/test_tensor_nd_sharding.cpp
  tests/ttnn/unit_tests/tensor/test_tensor_creation.py
  tests/ttnn/unit_tests/tensor/test_tensor_nd_sharding.py
  tt_metal/impl/tensor/spec/layout/tensor_layout.cpp
  ttnn/cpp/ttnn/operations/data_movement/untilize/device/factories/untilize_multi_core_input_and_output_nd_shard_type_and_shard_spec_identical_program_factory.cpp
  ttnn/cpp/ttnn/operations/data_movement/untilize/device/factories/untilize_multi_core_program_factory.cpp
  ttnn/cpp/ttnn/operations/full/device/full_program_factory_nd_sharded.cpp
  ttnn/cpp/ttnn/operations/full/device/full_program_factory_sharded.cpp
Due: block-ttnn-pybind-changes

Deduplicate replicated tensor shards during flatbuffer serialization (#38644)
  models/tt_dit/layers/module.py
  models/tt_dit/tests/models/mochi/test_transformer_mochi.py
  models/tt_dit/tests/models/sd35/test_transformer_sd35.py
  models/tt_dit/tests/models/wan2_2/test_transformer_wan.py
  models/tt_dit/utils/cache.py
  ttnn/core/tensor/flatbuffer/tensor_flatbuffer.cpp
Due: block-ttnn-pybind-changes

Migrate CCL operations to free function style (#37811)
  ttnn/cpp/ttnn/operations/ccl/all_broadcast/all_broadcast.cpp
  ttnn/cpp/ttnn/operations/ccl/all_broadcast/all_broadcast.hpp
  ttnn/cpp/ttnn/operations/ccl/all_broadcast/all_broadcast_nanobind.cpp
  ttnn/cpp/ttnn/operations/ccl/all_gather/all_gather.cpp
  ttnn/cpp/ttnn/operations/ccl/all_gather/all_gather.hpp
  ttnn/cpp/ttnn/operations/ccl/all_gather/all_gather_nanobind.cpp
  ttnn/cpp/ttnn/operations/ccl/all_reduce/all_reduce.cpp
  ttnn/cpp/ttnn/operations/ccl/all_reduce/all_reduce.hpp
  ttnn/cpp/ttnn/operations/ccl/all_reduce/all_reduce_nanobind.cpp
  ttnn/cpp/ttnn/operations/ccl/all_to_all_combine/all_to_all_combine.cpp
  ttnn/cpp/ttnn/operations/ccl/all_to_all_combine/all_to_all_combine.hpp
  ttnn/cpp/ttnn/operations/ccl/all_to_all_combine/all_to_all_combine_nanobind.cpp
  ttnn/cpp/ttnn/operations/ccl/all_to_all_dispatch/all_to_all_dispatch.cpp
  ttnn/cpp/ttnn/operations/ccl/all_to_all_dispatch/all_to_all_dispatch.hpp
  ttnn/cpp/ttnn/operations/ccl/all_to_all_dispatch/all_to_all_dispatch_nanobind.cpp
  ttnn/cpp/ttnn/operations/ccl/broadcast/broadcast.cpp
  ttnn/cpp/ttnn/operations/ccl/broadcast/broadcast.hpp
  ttnn/cpp/ttnn/operations/ccl/broadcast/broadcast_nanobind.cpp
  ttnn/cpp/ttnn/operations/ccl/mesh_partition/mesh_partition.cpp
  ttnn/cpp/ttnn/operations/ccl/mesh_partition/mesh_partition.hpp
  ttnn/cpp/ttnn/operations/ccl/mesh_partition/mesh_partition_nanobind.cpp
  ttnn/cpp/ttnn/operations/ccl/reduce_scatter/reduce_scatter.cpp
  ttnn/cpp/ttnn/operations/ccl/reduce_scatter/reduce_scatter.hpp
  ttnn/cpp/ttnn/operations/ccl/reduce_scatter/reduce_scatter_nanobind.cpp
  ttnn/cpp/ttnn/operations/ccl/reduce_to_root/reduce_to_root.cpp
  ttnn/cpp/ttnn/operations/ccl/reduce_to_root/reduce_to_root.hpp
  ttnn/cpp/ttnn/operations/ccl/reduce_to_root/reduce_to_root_nanobind.cpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

Lower Fabric/ControlPlane/SystemMesh to MetalEnv (#39563)
  tests/tt_metal/tt_fabric/fabric_router/test_channel_trimming_capture.cpp
  tests/tt_metal/tt_metal/context/test_metal_env_api.cpp
  tools/scaleout/validation/utils/ethernet_link_api.cpp
  tools/scaleout/validation/utils/ethernet_link_api.hpp
  tt_metal/api/tt-metalium/experimental/context/metal_env.hpp
  tt_metal/api/tt-metalium/system_mesh.hpp
  tt_metal/fabric/channel_trimming_export.cpp
  tt_metal/fabric/channel_trimming_export.hpp
  tt_metal/impl/context/metal_context.cpp
  tt_metal/impl/context/metal_context.hpp
  tt_metal/impl/context/metal_env.cpp
  tt_metal/impl/context/metal_env_accessor.hpp
  tt_metal/impl/context/metal_env_impl.hpp
Due: none

Enable more tt-train tests to run on Blackhole (#36870)
  .github/workflows/tt-metal-l2-nightly.yaml
  .github/workflows/tt-train-post-commit.yaml
  tt-train/tests/model/nano_gpt_test.cpp
  tt-train/tests/ops/cross_entropy_bw_op_test.cpp
  tt-train/tests/ops/cross_entropy_fw_op_test.cpp
  tt-train/tests/ops/rmsnorm_op_test.cpp
  tt-train/tests/ops/sdpa_fw_op_test.cpp
  tt-train/tests/ops/softmax_backward_op_test.cpp
  tt-train/tests/ops/softmax_test.cpp
  tt-train/tests/serialization/flatbuffer_serializer_test.cpp
  tt-train/tests/ttnn_fixed/dropout_op_test.cpp
  tt-train/tests/ttnn_fixed/trivial_ttnn_ops_test.cpp
Due: none

[skip ci] #0: Make mmfusedreduce codeowners of models/experimental/ops (#39743)
  .github/CODEOWNERS
Due: none

[skip ci] gitignore: exclude tt_metal/pre-compiled/ build artifact directory (#39679)
  .gitignore
Due: none

#39553: fix cb size calculation for group_norm (#39652)
  tests/ttnn/nightly/unit_tests/operations/fused/test_group_norm.py
  ttnn/cpp/ttnn/operations/normalization/groupnorm/device/groupnorm_mcast_program_factory.cpp
Due: block-ttnn-pybind-changes

Output program hash (#39320)
  tools/tracy/process_ops_logs.py
  ttnn/api/tools/profiler/op_profiler.hpp
  ttnn/api/ttnn/device_operation.hpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

Adding Revision Detection For Blackhole (#39677)
  tools/scaleout/node/node.cpp
  tools/scaleout/node/node.hpp
Due: none

remove-experimental-where-op (#39685)
  tests/ttnn/benchmark/cpp/operations/ternary/benchmark_where.cpp
  tests/ttnn/benchmark/python/operations/ternary/benchmark_where.py
  tests/ttnn/unit_tests/operations/eltwise/test_experimental_where.py
  ttnn/CMakeLists.txt
  ttnn/cpp/ttnn/operations/experimental/experimental_nanobind.cpp
  ttnn/cpp/ttnn/operations/experimental/where/CMakeLists.txt
  ttnn/cpp/ttnn/operations/experimental/where/device/kernels/compute/elemwise_where_kernel.cpp
  ttnn/cpp/ttnn/operations/experimental/where/device/kernels/compute/elemwise_where_kernel_args.hpp
  ttnn/cpp/ttnn/operations/experimental/where/device/kernels/dataflow/elemwise_reader_kernel.cpp
  ttnn/cpp/ttnn/operations/experimental/where/device/kernels/dataflow/elemwise_reader_kernel_args.hpp
  ttnn/cpp/ttnn/operations/experimental/where/device/kernels/dataflow/elemwise_writer_kernel.cpp
  ttnn/cpp/ttnn/operations/experimental/where/device/kernels/dataflow/elemwise_writer_kernel_args.hpp
  ttnn/cpp/ttnn/operations/experimental/where/device/program_factory/element_wise_multi_core_where_program.cpp
  ttnn/cpp/ttnn/operations/experimental/where/device/program_factory/element_wise_multi_core_where_program.hpp
  ttnn/cpp/ttnn/operations/experimental/where/device/program_factory/elemwise_factory_common.hpp
  ttnn/cpp/ttnn/operations/experimental/where/device/where_device_operation.cpp
  ttnn/cpp/ttnn/operations/experimental/where/device/where_device_operation.hpp
  ttnn/cpp/ttnn/operations/experimental/where/device/where_device_operation_types.hpp
  ttnn/cpp/ttnn/operations/experimental/where/where.cpp
  ttnn/cpp/ttnn/operations/experimental/where/where.hpp
  ttnn/cpp/ttnn/operations/experimental/where/where_nanobind.cpp
  ttnn/cpp/ttnn/operations/experimental/where/where_nanobind.hpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

Fix test_run_padding_and_add_test to pass pipelines (#39387)
  tests/tt_eager/python_api_testing/unit_testing/misc/test_padding_test.py
Due: none

[Security] Fix CRITICAL: Pin ai-tools workflow to commit SHA (#39577)
  .github/workflows/ai-tools.yaml
Due: none

SDXL lora accuracy 1024x1024 (#39632)
  models/demos/stable_diffusion_xl_base/targets/targets.json
  models/demos/stable_diffusion_xl_base/tests/test_sdxl_img2img_accuracy.py
  models/demos/stable_diffusion_xl_base/tests/test_sdxl_inpaint_accuracy.py
  models/demos/stable_diffusion_xl_base/tests/test_sdxl_lora_accuracy.py
  models/demos/stable_diffusion_xl_base/utils/accuracy_utils.py
  models/demos/stable_diffusion_xl_base/utils/clip_fid_ranges.py
Due: none

[skip ci] Update README.md (#39778)
  README.md
Due: none

Fix output head dim rounding for non tile aligned heads + batch assignment issue in SDPA decode (#39539)
  tests/ttnn/unit_tests/operations/sdpa/sdpa_test_utils.py
  tests/ttnn/unit_tests/operations/sdpa/test_sdpa_decode.py
  ttnn/cpp/ttnn/operations/transformer/sdpa_decode/device/sdpa_decode_device_operation.cpp
  ttnn/cpp/ttnn/operations/transformer/sdpa_decode/device/sdpa_decode_program_factory.cpp
Due: block-ttnn-pybind-changes

Fix lm head sampling RMS norm and bcast race (#39683)
  models/demos/deepseek_v3_b1/fused_ops/lm_head_sampling/kernels/lm_head_sampling_kernel.cpp
  models/demos/deepseek_v3_b1/tests/unit_tests/test_lm_head_sampling.py
Due: none

#33587: Add row_column mixed bcast support for ternary (#39527)
  tests/ttnn/nightly/unit_tests/operations/eltwise/test_ternary_bcast.py
  tests/ttnn/unit_tests/operations/eltwise/test_where.py
  ttnn/cpp/ttnn/operations/eltwise/ternary/common/ternary_op_types.hpp
  ttnn/cpp/ttnn/operations/eltwise/ternary/device/kernels/dataflow/ternary_reader_row_col_bcast_ttt.cpp
  ttnn/cpp/ttnn/operations/eltwise/ternary/device/kernels/dataflow/tts_tst_reader_row_col_bcast.cpp
  ttnn/cpp/ttnn/operations/eltwise/ternary/device/ternary_op_utils.cpp
  ttnn/cpp/ttnn/operations/eltwise/ternary/device/ternary_op_utils.hpp
  ttnn/cpp/ttnn/operations/eltwise/ternary/device/ternary_program_factory.cpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

[skip ci] Clarify GHA run names in multi host pipeline (#39762)
  .github/workflows/multi-host-physical.yaml
Due: none

[skip ci] Disable test_all_to_all_dispatch_no_trace_batch1 (UInt16/Short mismatch) (#39713)
  tests/nightly/t3000/ccl/test_all_to_all_dispatch.py
Due: none

#0: update layernorm kernel comments (#39847)
  ttnn/cpp/ttnn/operations/normalization/layernorm/device/kernels/compute/layernorm_large_tensor_welford.cpp
  ttnn/cpp/ttnn/operations/normalization/layernorm/device/kernels/compute/layernorm_welford.cpp
  ttnn/cpp/ttnn/operations/normalization/layernorm_distributed/device/kernels/compute/layernorm_pre_allgather_welford.cpp
Due: block-ttnn-pybind-changes

[QSR]: Fix RTA offsets for shared DM binaries (#39766)
  tt_metal/impl/program/dispatch.cpp
Due: none

[skip ci] Add BrAIn to merge-gate failure notifications (#39770)
  .github/workflows/merge-gate.yaml
Due: none

[infra] Fix CODEOWNERS: ensure metalium-developers-infra owns all CMakeLists.txt (#39856)
  .github/CODEOWNERS
Due: none

Adding real weight + real io test to Deepseek MoE module test (#39686)
  models/demos/deepseek_v3/tests/test_moe.py
Due: none

Updating llama embedding forward to use ttnn.to_layout rather than ttnn.tilize (#39695)
  models/tt_transformers/tt/multimodal/llama_class_embedding.py
Due: none

Fix PCC test Llama 70b galaxy (#39714)
  models/demos/llama3_70b_galaxy/demo/text_demo.py
Due: none

Resolving `ValueError: could not determine the shape of object type 'torch.storage.UntypedStorage'` for Deepseek 671B (#39717)
  models/demos/deepseek_v3/demo/generate_teacher_forced_file.py
  models/demos/deepseek_v3/reference/test_run_model.py
  models/demos/deepseek_v3/scripts/generate_test_inputs_outputs.py
  models/demos/deepseek_v3/scripts/test_run_model.py
  models/demos/deepseek_v3/tests/test_hf_model_utils.py
  models/demos/deepseek_v3/utils/hf_model_utils.py
  models/demos/deepseek_v3/utils/lazy_state_dict.py
Due: none

GroupNorm unit tests for 1024x1024 image resolution on Blackhole (#39782)
  tests/ttnn/unit_tests/operations/fused/test_group_norm.py
Due: none

Ported LLK reduce to use TensorShape (#38949)
  tt_metal/hw/ckernels/blackhole/metal/llk_api/llk_math_reduce_api.h
  tt_metal/hw/ckernels/blackhole/metal/llk_api/llk_unpack_AB_reduce_api.h
  tt_metal/hw/ckernels/wormhole_b0/metal/llk_api/llk_math_reduce_api.h
  tt_metal/hw/ckernels/wormhole_b0/metal/llk_api/llk_unpack_AB_reduce_api.h
  tt_metal/hw/inc/api/compute/reduce.h
Due: none

[skip ci] Enable tt-train in build-wrapper.yaml build sweeps (#39689)
  .github/workflows/build-wrapper.yaml
  CMakeLists.txt
Due: none

Add support of tracing while sampling on device (#39691)
  models/demos/deepseek_v3/tests/test_sampling.py
  models/demos/deepseek_v3/tt/generator.py
Due: none

#36408: adjust gn cbs for repack (#39747)
  tests/ttnn/unit_tests/operations/fused/test_group_norm.py
  ttnn/cpp/ttnn/operations/normalization/groupnorm/device/groupnorm_sharded_program_factory.cpp
Due: block-ttnn-pybind-changes

Add sidnadTT to owners of several metal directories (#39816)
  .github/CODEOWNERS
Due: none

#DCAMP-133: Unify `recover.sh` script (#39425)
  models/demos/deepseek_v3_b1/demo/README.md
  tools/scaleout/exabox/README.md
  tools/scaleout/exabox/TROUBLESHOOTING.md
  tools/scaleout/exabox/recover.sh
  tools/scaleout/exabox/recover_4x32.sh
  tools/scaleout/exabox/recover_8x16.sh
Due: none

Path conditions:
  block-ttnn-pybind-changes: any of: ^ttnn/
  detect-legacy-device-op: any of: ^ttnn/.*\.hpp$
  validate-golden-csv-columns: any of: ^tests/tt_metal/tt_metal/perf_microbenchmark/routing/golden/.*bandwidth.*\.csv$
