Repository tenstorrent/tt-metal: changes, and which pre-commit hooks are due for each by the changed paths.
All: block-ttnn-pybind-changes, detect-legacy-device-op, validate-golden-csv-columns

block-ttnn-pybind-changes:
  name: Prevent edits to frozen pybind11 sources under ttnn
  entry: python3 scripts/block_ttnn_pybind_changes.py
  language: system
  pass_filenames: true

detect-legacy-device-op:
  name: Detect legacy device operation classes in newly added files
  entry: python3 scripts/detect_legacy_device_op.py --check-new-only
  language: system
  pass_filenames: true
  require_serial: true

validate-golden-csv-columns:
  name: Validate golden bandwidth CSV column headers
  entry: bash .github/scripts/utils/validate_golden_csv_columns.sh
  language: system
  pass_filenames: false

mmrs: only check credit-array address stability on the windowed path
  ttnn/cpp/ttnn/operations/experimental/ccl/minimal_matmul_strided_reduce_scatter_async/device/minimal_matmul_strided_reduce_scatter_async_program.cpp
Due: block-ttnn-pybind-changes

Store ContextId on DataflowBufferImpl so DFB HAL access uses the owning Program context.
  tt_metal/impl/dataflow_buffer/dataflow_buffer.cpp
  tt_metal/impl/dataflow_buffer/dataflow_buffer_impl.hpp
Due: none

Add Metal 2.0 mock ProgramSpec context integration tests.
  tests/tt_metal/tt_metal/context/test_integration.cpp
  tt_metal/impl/kernels/kernel.cpp
Due: none

Allow Metal 1.0 DEFAULT_CONTEXT_ID programs to compile on non-default devices.
  tt_metal/impl/program/program.cpp
Due: none

Reject Program compile when its ContextId does not match the device's context.
  tt_metal/impl/program/program.cpp
Due: none

Construct KernelSource via from_path/from_source factories.
  tt_metal/impl/dispatch/dispatch_engine_kernel.cpp
  tt_metal/impl/experimental/offline_compile/offline_kernel_compile.cpp
  tt_metal/impl/host_api/temp_quasar_api.cpp
  tt_metal/impl/host_api/tt_metal.cpp
  tt_metal/impl/kernels/kernel.cpp
  tt_metal/impl/kernels/kernel_source.hpp
  tt_metal/impl/metal2_host_api/program_spec.cpp
Due: none

Keep caller-supplied path in KernelSource::from_path source_.
  tt_metal/impl/kernels/kernel.cpp
Due: none

addressed clang complaints
  tests/tt_metal/distributed/test_hd_sockets.cpp
  ttnn/cpp/ttnn-nanobind/cluster.cpp
Due: block-ttnn-pybind-changes

Checking NoC stream register
  tests/tt_metal/tt_fabric/test_infra/kernels/tt_fabric_test_kernels_utils.hpp
  tests/tt_metal/tt_fabric/test_infra/test_tt_fabric.cpp
  tests/tt_metal/tt_fabric/test_infra/tt_fabric_test_memory_map.hpp
  tt_metal/fabric/hw/inc/edm_fabric/fabric_erisc_router_speedy_path.hpp
  tt_metal/hw/inc/internal/tt-1xx/blackhole/dev_mem_map.h
  tt_metal/hw/inc/internal/tt-1xx/blackhole/eth_fw_api.h
Due: none

Wan2.2 2x2: raise encoder perf target to 0.12s
  models/tt_dit/tests/models/wan2_2/test_performance_wan.py
  tests/pipeline_reorg/models_e2e_tests.yaml
Due: none

Make loopback http work, since that is how gh-aw checks its servers
  .github/workflows/port-op.lock.yml
  .github/workflows/port-op.md
Due: none

Cut MiniMax-H3 VAE decode host time and keep the text encoder resident
  models/tt_dit/models/vae/minimax_h3/vae_minimax_h3.py
  models/tt_dit/pipelines/minimax_h3/pipeline_minimax_h3.py
Due: none

[tt-train] Adding Vocab Parallel Embedding for Qwen3 TP Tied Weights (#51428)
  tt-train/sources/examples/qwen3/README.md
  tt-train/sources/examples/qwen3/generate.py
  tt-train/sources/examples/qwen3/gradients.py
  tt-train/sources/examples/qwen3/model_qwen3_distributed.py
  tt-train/sources/examples/qwen3/train.py
  tt-train/sources/examples/qwen3/utils/device_setup.py
  tt-train/sources/examples/qwen3/utils/distributed_ops.py
  tt-train/sources/examples/qwen3/utils/param_utils.py
  tt-train/sources/examples/qwen3/utils/tensor_utils.py
  tt-train/sources/ttml/ttml/models/llama/__init__.py
  tt-train/sources/ttml/ttml/modules/embedding.py
  tt-train/tests/python/conftest.py
  tt-train/tests/python/test_feature_parallel_embedding.py
  tt-train/tests/python/test_qwen3_sample_logits_mask.py
  tt-train/tests/python/test_qwen3_tied_tp_integration.py
  tt-train/tests/python/test_tp_vocab_padding.py
  tt-train/tests/python/test_vocab_parallel_embedding.py
Due: none

Remove Wan2.2-T2V QB2 perf test from the blackhole demo pipeline
  .github/time_budget.yaml
  .github/workflows/blackhole-demo-tests.yaml
  tests/pipeline_reorg/blackhole_demo_tests.yaml
Due: none

[LLK] Quasar: migrate remaining unpack/pack inits to BFD allocator
  tt_metal/hw/ckernels/quasar/metal/llk_api/llk_pack_common_api.h
  tt_metal/hw/ckernels/quasar/metal/llk_api/llk_pack_tile_api.h
  tt_metal/hw/ckernels/quasar/metal/llk_api/llk_pack_untilize_api.h
  tt_metal/hw/ckernels/quasar/metal/llk_api/llk_unpack_AB_reduce_api.h
  tt_metal/hw/ckernels/quasar/metal/llk_api/llk_unpack_common_api.h
  tt_metal/hw/ckernels/quasar/metal/llk_api/llk_unpack_tilize_api.h
Due: none

Price the model, so the firewall stops rejecting every request
  .github/workflows/port-op.lock.yml
  .github/workflows/port-op.md
Due: none

Fix ViT parameter layout detection
  models/demos/vision/classification/vit/wormhole/tt/ttnn_optimized_sharded_vit_wh.py
Due: none

Adding support for relay cross node dfbs
  .cursor/docs/dataflow-buffers/CrossNode_Global_DFB.md
  .cursor/plans/crossnode_global_dfb_a3b81733.plan.md
  tests/tt_metal/tt_metal/api/kernels/cross_node_dfb_relay_receiver.cpp
  tests/tt_metal/tt_metal/api/kernels/cross_node_dfb_relay_sender.cpp
  tests/tt_metal/tt_metal/api/kernels/cross_node_dfb_relay_trisc.cpp
  tests/tt_metal/tt_metal/api/kernels/cross_node_dfb_sender.cpp
  tests/tt_metal/tt_metal/api/test_cross_node_dfb.cpp
  tt_metal/hw/inc/api/dataflow/cross_node_dfb.h
  tt_metal/hw/inc/hostdev/cross_node_dfb_constants.h
  tt_metal/hw/inc/hostdev/dev_msgs.h
  tt_metal/hw/inc/internal/cross_node_dfb_init.h
  tt_metal/hw/inc/internal/cross_node_dfb_interface.h
  tt_metal/impl/buffers/cross_node_dfb.cpp
  tt_metal/impl/dataflow_buffer/cross_node_dfb.hpp
  tt_metal/impl/host_api/tt_metal.cpp
  tt_metal/impl/program/dispatch.cpp
  tt_metal/impl/program/program.cpp
  tt_metal/impl/program/program_impl.hpp
Due: none

Qwen3-32B Blackhole Galaxy: add nightly vLLM CI lane + serving docs
  .github/time_budget.yaml
  .github/workflows/vllm-model-tests.yaml
  models/demos/llama3_70b_galaxy/README.md
  tests/pipeline_reorg/vllm_model_tests.yaml
Due: none

Reset the shared GO mailboxes from the last CQ, once the others have drained
  tests/tt_metal/distributed/test_mesh_sub_device.cpp
  tests/tt_metal/tt_metal/test_kernels/misc/sub_device/delay.cpp
  tt_metal/distributed/fd_mesh_command_queue.cpp
  tt_metal/distributed/mesh_command_queue_base.hpp
  tt_metal/distributed/mesh_device.cpp
  tt_metal/impl/sub_device/sub_device_manager_tracker.cpp
Due: none

Record what CIv2 cannot do yet, and whose decision it is
  .github/scripts/port/HANDOFF.md
Due: none

hunyuanimage_3_0 HANDOFF: rewrite OPTIMIZATIONS_BY_DATE as a lever log for the optimization tool
  models/demos/vision/generative/hunyuanimage_3_0/HANDOFF/OPTIMIZATIONS_BY_DATE.md
Due: none

diag: report only a credit that stays late, and gate the per-invocation print
  ttnn/cpp/ttnn/operations/experimental/ccl/reduce_scatter_minimal_async/device/kernels/ring_reduce_scatter_minimal_async_reader.cpp
Due: block-ttnn-pybind-changes

audio decode: SNAKE_PARAMS CB built and verified -- 17/17, default path bit-identical
  models/tt_dit/tests/models/minimax_h3/audio_perf/FUSED_BAND_DESIGN.md
Due: none

Wan2.2 pipeline test: skip 720p on 2x2 meshes
  models/tt_dit/tests/models/wan2_2/test_pipeline_wan.py
Due: none

[DiffusionGemma] Add per-request reveal-span buckets for the denoise trace
  models/experimental/diffusion_gemma/tests/test_trace.py
  models/experimental/diffusion_gemma/tt/generator_vllm.py
  models/experimental/diffusion_gemma/tt/traced_denoise.py
Due: none

[DiffusionGemma] Device-validate reveal buckets and enable them by default
  models/experimental/diffusion_gemma/tests/test_trace.py
  models/experimental/diffusion_gemma/tt/generator_vllm.py
Due: none

models: add pure KDA reference semantics
  models/demos/deepseek_v3_d_p/reference/kda/README.md
  models/demos/deepseek_v3_d_p/reference/kda/__init__.py
  models/demos/deepseek_v3_d_p/reference/kda/config.py
  models/demos/deepseek_v3_d_p/reference/kda/layer.py
  models/demos/deepseek_v3_d_p/reference/kda/ops.py
  models/demos/deepseek_v3_d_p/reference/kda/tests/helpers.py
  models/demos/deepseek_v3_d_p/reference/kda/tests/test_config.py
  models/demos/deepseek_v3_d_p/reference/kda/tests/test_layer.py
  models/demos/deepseek_v3_d_p/reference/kda/tests/test_ops.py
  models/demos/deepseek_v3_d_p/reference/kda/weights.py
  tests/ttnn/unit_tests/operations/experimental/kda/kda_test_utils.py
  tests/ttnn/unit_tests/operations/experimental/kda/test_kda_test_utils.py
Due: none

Updates global env to get gates passing Adds handler to use PREFILL_TTNN_CACHE to speed up iterations
  models/demos/common/prefill/runners/topology_configuration/pipeline_prefill_request_1rank_gpt_oss_migration.yaml
  models/demos/gpt_oss_d_p/tt/runners/adapters/gpt_oss.py
Due: none

Add experimental KDA sigmoid-gated RMSNorm
  .github/CODEOWNERS
  tests/ttnn/nightly/unit_tests/operations/experimental/kda/test_sigmoid_gated_rms_norm.py
  ttnn/cpp/ttnn/operations/experimental/CMakeLists.txt
  ttnn/cpp/ttnn/operations/experimental/experimental_nanobind.cpp
  ttnn/cpp/ttnn/operations/experimental/kda/device/kda_factory_utils.cpp
  ttnn/cpp/ttnn/operations/experimental/kda/device/kda_factory_utils.hpp
  ttnn/cpp/ttnn/operations/experimental/kda/kda_nanobind.cpp
  ttnn/cpp/ttnn/operations/experimental/kda/kda_nanobind.hpp
  ttnn/cpp/ttnn/operations/experimental/kda/sigmoid_gated_rms_norm/CMakeLists.txt
  ttnn/cpp/ttnn/operations/experimental/kda/sigmoid_gated_rms_norm/device/kernels/compute/sigmoid_gated_rms_norm.cpp
  ttnn/cpp/ttnn/operations/experimental/kda/sigmoid_gated_rms_norm/device/kernels/dataflow/reader_sigmoid_gated_rms_norm.cpp
  ttnn/cpp/ttnn/operations/experimental/kda/sigmoid_gated_rms_norm/device/kernels/dataflow/writer_sigmoid_gated_rms_norm.cpp
  ttnn/cpp/ttnn/operations/experimental/kda/sigmoid_gated_rms_norm/device/sigmoid_gated_rms_norm_device_operation.cpp
  ttnn/cpp/ttnn/operations/experimental/kda/sigmoid_gated_rms_norm/device/sigmoid_gated_rms_norm_device_operation.hpp
  ttnn/cpp/ttnn/operations/experimental/kda/sigmoid_gated_rms_norm/device/sigmoid_gated_rms_norm_device_operation_types.hpp
  ttnn/cpp/ttnn/operations/experimental/kda/sigmoid_gated_rms_norm/device/sigmoid_gated_rms_norm_program_factory.cpp
  ttnn/cpp/ttnn/operations/experimental/kda/sigmoid_gated_rms_norm/device/sigmoid_gated_rms_norm_program_factory.hpp
  ttnn/cpp/ttnn/operations/experimental/kda/sigmoid_gated_rms_norm/sigmoid_gated_rms_norm.cpp
  ttnn/cpp/ttnn/operations/experimental/kda/sigmoid_gated_rms_norm/sigmoid_gated_rms_norm.hpp
  ttnn/cpp/ttnn/operations/experimental/kda/sigmoid_gated_rms_norm/sigmoid_gated_rms_norm_nanobind.cpp
  ttnn/cpp/ttnn/operations/experimental/kda/sigmoid_gated_rms_norm/sigmoid_gated_rms_norm_nanobind.hpp
  ttnn/cpp/ttnn/operations/experimental/kda/sigmoid_gated_rms_norm/sources.cmake
Due: block-ttnn-pybind-changes, detect-legacy-device-op

optimize rdiv rounded correction path
  tt_metal/hw/ckernels/wormhole_b0/metal/llk_api/llk_sfpu/ckernel_sfpu_rdiv.h
Due: none

optimize rdiv rounded correction path
  tt_metal/hw/ckernels/blackhole/metal/llk_api/llk_sfpu/ckernel_sfpu_rdiv.h
Due: none

Add experimental KDA QKV causal Conv1D
  .github/CODEOWNERS
  tests/ttnn/nightly/unit_tests/operations/experimental/kda/test_qkv_causal_conv1d_silu.py
  ttnn/cpp/ttnn/operations/experimental/CMakeLists.txt
  ttnn/cpp/ttnn/operations/experimental/experimental_nanobind.cpp
  ttnn/cpp/ttnn/operations/experimental/kda/device/kda_factory_utils.cpp
  ttnn/cpp/ttnn/operations/experimental/kda/device/kda_factory_utils.hpp
  ttnn/cpp/ttnn/operations/experimental/kda/kda_nanobind.cpp
  ttnn/cpp/ttnn/operations/experimental/kda/kda_nanobind.hpp
  ttnn/cpp/ttnn/operations/experimental/kda/qkv_causal_conv1d_silu/CMakeLists.txt
  ttnn/cpp/ttnn/operations/experimental/kda/qkv_causal_conv1d_silu/device/kernels/compute/qkv_causal_conv1d_silu.cpp
  ttnn/cpp/ttnn/operations/experimental/kda/qkv_causal_conv1d_silu/device/kernels/dataflow/reader_qkv_causal_conv1d_silu.cpp
  ttnn/cpp/ttnn/operations/experimental/kda/qkv_causal_conv1d_silu/device/kernels/dataflow/writer_qkv_causal_conv1d_silu.cpp
  ttnn/cpp/ttnn/operations/experimental/kda/qkv_causal_conv1d_silu/device/qkv_causal_conv1d_silu_device_operation.cpp
  ttnn/cpp/ttnn/operations/experimental/kda/qkv_causal_conv1d_silu/device/qkv_causal_conv1d_silu_device_operation.hpp
  ttnn/cpp/ttnn/operations/experimental/kda/qkv_causal_conv1d_silu/device/qkv_causal_conv1d_silu_device_operation_types.hpp
  ttnn/cpp/ttnn/operations/experimental/kda/qkv_causal_conv1d_silu/device/qkv_causal_conv1d_silu_program_factory.cpp
  ttnn/cpp/ttnn/operations/experimental/kda/qkv_causal_conv1d_silu/device/qkv_causal_conv1d_silu_program_factory.hpp
  ttnn/cpp/ttnn/operations/experimental/kda/qkv_causal_conv1d_silu/qkv_causal_conv1d_silu.cpp
  ttnn/cpp/ttnn/operations/experimental/kda/qkv_causal_conv1d_silu/qkv_causal_conv1d_silu.hpp
  ttnn/cpp/ttnn/operations/experimental/kda/qkv_causal_conv1d_silu/qkv_causal_conv1d_silu_nanobind.cpp
  ttnn/cpp/ttnn/operations/experimental/kda/qkv_causal_conv1d_silu/qkv_causal_conv1d_silu_nanobind.hpp
  ttnn/cpp/ttnn/operations/experimental/kda/qkv_causal_conv1d_silu/sources.cmake
Due: block-ttnn-pybind-changes, detect-legacy-device-op

Deploying to gh-pages from @ tenstorrent/tt-metal@06aaedf1f295471d8f947fa04579518bb29233cc 🚀
  latest/tt-metalium/_sources/tt_metal/apis/kernel_apis/compute/add_tiles.rst.txt
  latest/tt-metalium/_sources/tt_metal/apis/kernel_apis/compute/add_tiles_bcast.rst.txt
  latest/tt-metalium/_sources/tt_metal/apis/kernel_apis/compute/binary_op_init_funcs.rst.txt
  latest/tt-metalium/_sources/tt_metal/apis/kernel_apis/compute/mul_tiles.rst.txt
  latest/tt-metalium/_sources/tt_metal/apis/kernel_apis/compute/mul_tiles_bcast.rst.txt
  latest/tt-metalium/_sources/tt_metal/apis/kernel_apis/compute/rand_tile.rst.txt
  latest/tt-metalium/_sources/tt_metal/apis/kernel_apis/compute/sub_tiles.rst.txt
  latest/tt-metalium/_sources/tt_metal/apis/kernel_apis/compute/sub_tiles_bcast.rst.txt
  latest/tt-metalium/_sources/tt_metal/examples/eltwise_binary.rst.txt
  latest/tt-metalium/_sources/tt_metal/examples/matmul_multi_core_optimizations/data_mcast.rst.txt
  latest/tt-metalium/_sources/tt_metal/labs/matmul/lab1/lab1.rst.txt
  latest/tt-metalium/genindex.html
  latest/tt-metalium/objects.inv
  latest/tt-metalium/searchindex.js
  latest/tt-metalium/tt_metal/apis/kernel_apis/compute/add_tiles.html
  latest/tt-metalium/tt_metal/apis/kernel_apis/compute/add_tiles_bcast.html
  latest/tt-metalium/tt_metal/apis/kernel_apis/compute/binary_op_init_funcs.html
  latest/tt-metalium/tt_metal/apis/kernel_apis/compute/mul_tiles.html
  latest/tt-metalium/tt_metal/apis/kernel_apis/compute/mul_tiles_bcast.html
  latest/tt-metalium/tt_metal/apis/kernel_apis/compute/rand_tile.html
  latest/tt-metalium/tt_metal/apis/kernel_apis/compute/sub_tiles.html
  latest/tt-metalium/tt_metal/apis/kernel_apis/compute/sub_tiles_bcast.html
  latest/tt-metalium/tt_metal/examples/eltwise_binary.html
  latest/tt-metalium/tt_metal/examples/matmul_multi_core_optimizations/data_mcast.html
  latest/tt-metalium/tt_metal/labs/matmul/lab1/lab1.html
  latest/ttnn/searchindex.js
  latest/ttnn/ttnn/api/ttnn.gather.html
  latest/ttnn/ttnn/api/ttnn.group_norm.html
  latest/ttnn/ttnn/api/ttnn.moe_routing_remap.html
  latest/ttnn/ttnn/api/ttnn.rand.html
  latest/ttnn/ttnn/api/ttnn.repeat.html
  latest/ttnn/ttnn/api/ttnn.to_dtype.html
  latest/ttnn/ttnn/api/ttnn.topk.html
  latest/ttnn/ttnn/api/ttnn.transformer.ring_joint_scaled_dot_product_attention.html
Due: none

[regime_a_mm] Measure the on-chip ring; it is 10.3 us, not <=3.2
  tools/mm_sweep/AGMM_DIRECT_L1_DESIGN.md
  tools/mm_sweep/picker_gen/agmm_bench_worker.py
  tools/mm_sweep/picker_gen/agmm_core_durations.py
  tools/mm_sweep/picker_gen/agmm_stall_report.py
  ttnn/cpp/ttnn/operations/experimental/all_gather_regime_a_matmul_async/device/all_gather_regime_a_matmul_async_program_factory.cpp
  ttnn/cpp/ttnn/operations/experimental/all_gather_regime_a_matmul_async/device/kernels/compute.cpp
  ttnn/cpp/ttnn/operations/experimental/all_gather_regime_a_matmul_async/device/kernels/in0_ring_reduce_writer.cpp
  ttnn/cpp/ttnn/operations/experimental/all_gather_regime_a_matmul_async/device/kernels/in1_reader.cpp
Due: block-ttnn-pybind-changes

Classify discovered simulator topology like silicon
  tt_metal/llrt/tt_cluster.cpp
Due: none

Add experimental KDA affine transform reduction
  .github/CODEOWNERS
  tests/ttnn/nightly/unit_tests/operations/experimental/kda/test_reduce_affine_transforms.py
  ttnn/cpp/ttnn/operations/experimental/CMakeLists.txt
  ttnn/cpp/ttnn/operations/experimental/experimental_nanobind.cpp
  ttnn/cpp/ttnn/operations/experimental/kda/device/kda_factory_utils.cpp
  ttnn/cpp/ttnn/operations/experimental/kda/device/kda_factory_utils.hpp
  ttnn/cpp/ttnn/operations/experimental/kda/kda_nanobind.cpp
  ttnn/cpp/ttnn/operations/experimental/kda/kda_nanobind.hpp
  ttnn/cpp/ttnn/operations/experimental/kda/reduce_affine_transforms/CMakeLists.txt
  ttnn/cpp/ttnn/operations/experimental/kda/reduce_affine_transforms/device/kernels/compute/reduce_affine_transforms.cpp
  ttnn/cpp/ttnn/operations/experimental/kda/reduce_affine_transforms/device/kernels/dataflow/reader_writer_reduce_affine_transforms.cpp
  ttnn/cpp/ttnn/operations/experimental/kda/reduce_affine_transforms/device/reduce_affine_transforms_device_operation.cpp
  ttnn/cpp/ttnn/operations/experimental/kda/reduce_affine_transforms/device/reduce_affine_transforms_device_operation.hpp
  ttnn/cpp/ttnn/operations/experimental/kda/reduce_affine_transforms/device/reduce_affine_transforms_device_operation_types.hpp
  ttnn/cpp/ttnn/operations/experimental/kda/reduce_affine_transforms/device/reduce_affine_transforms_program_factory.cpp
  ttnn/cpp/ttnn/operations/experimental/kda/reduce_affine_transforms/device/reduce_affine_transforms_program_factory.hpp
  ttnn/cpp/ttnn/operations/experimental/kda/reduce_affine_transforms/reduce_affine_transforms.cpp
  ttnn/cpp/ttnn/operations/experimental/kda/reduce_affine_transforms/reduce_affine_transforms.hpp
  ttnn/cpp/ttnn/operations/experimental/kda/reduce_affine_transforms/reduce_affine_transforms_nanobind.cpp
  ttnn/cpp/ttnn/operations/experimental/kda/reduce_affine_transforms/reduce_affine_transforms_nanobind.hpp
  ttnn/cpp/ttnn/operations/experimental/kda/reduce_affine_transforms/sources.cmake
Due: block-ttnn-pybind-changes, detect-legacy-device-op

[fabric] Expose forwarding link indices to Python (#52642)
  tests/ttnn/unit_tests/base_functionality/test_fabric_type_binding.py
  ttnn/cpp/ttnn-nanobind/fabric.cpp
  ttnn/ttnn/__init__.py
Due: block-ttnn-pybind-changes

[LLK] Quasar: drop DFB references from tt-llk doc comments
  tt_metal/tt-llk/tt_llk_quasar/common/inc/llk_bfd_alloc.h
  tt_metal/tt-llk/tt_llk_quasar/llk_lib/llk_pack.h
  tt_metal/tt-llk/tt_llk_quasar/llk_lib/llk_unpack_unary_operand.h
Due: none

Path conditions:
  block-ttnn-pybind-changes: any of: ^ttnn/
  detect-legacy-device-op: any of: ^ttnn/.*\.hpp$
  validate-golden-csv-columns: any of: ^tests/tt_metal/tt_metal/perf_microbenchmark/routing/golden/.*bandwidth.*\.csv$
