Repository tenstorrent/tt-metal: changes, and which pre-commit hooks are due for each by the changed paths.
All: block-ttnn-pybind-changes, detect-legacy-device-op, validate-golden-csv-columns

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v3.2.0
  hooks:
    - id: trailing-whitespace
      exclude: \.patch$
    - id: end-of-file-fixer
      exclude: \.patch$
    - id: check-yaml
      args: ["--unsafe"]
    - id: check-added-large-files
# Using this mirror lets us use mypyc-compiled black, which is about 2x faster
- repo: https://github.com/psf/black-pre-commit-mirror
  rev: 23.10.1
  hooks:
    - id: black
      language_version: python3
- repo: https://github.com/PyCQA/autoflake
  rev: v2.3.1
  hooks:
    - id: autoflake
      args: [--remove-all-unused-imports, --in-place, --recursive, --exclude=__init__.py]
      files: ^models/  # Run only on files in the models directory
- repo: https://github.com/pycqa/isort
  rev: 5.13.2
  hooks:
    - id: isort
      files: ^models/
      exclude: ^models/(demos/llama3_70b_galaxy|experimental)/
- repo: https://github.com/BlankSpruce/gersemi
  rev: 0.16.2
  hooks:
    - id: gersemi
- repo: https://github.com/adrienverge/yamllint.git
  rev: v1.35.1
  hooks:
    - id: yamllint
- repo: https://github.com/pre-commit/mirrors-clang-format
  rev: v19.1.4
  hooks:
    - id: clang-format
      entry: git-clang-format
      require_serial: true
      types_or: [c++, c]
      args: ["--style=file"]
- repo: local
  hooks:
    - id: validate-metalium-includes
      name: validate-metalium-includes
      entry: python3 scripts/validate_api/validate_includes.py tt_metal/api --check-ttnn-forwards
      language: system
      pass_filenames: false
    - id: validate-metalium-deprecation
      name: validate-metalium-deprecation
      entry: python3 scripts/validate_api/validate_deprecation.py tt_metal/api origin/main
      language: system
      pass_filenames: false
- repo: local
  hooks:
    - id: check-torch-imports-in-ttnn
      name: Verify that there is no global torch import in ttnn
      entry: python3 scripts/validate_no_global_torch_imports.py
      language: system
      pass_filenames: false
- repo: local
  hooks:
    - id: block-ttnn-pybind-changes
      name: Prevent edits to frozen pybind11 sources under ttnn
      entry: python3 scripts/block_ttnn_pybind_changes.py
      language: system
      pass_filenames: true
      files: ^ttnn/
- repo: local
  hooks:
    - id: convert-notebooks-to-py
      name: Convert .ipynb to .py for ttnn basic examples
      entry: python3 scripts/convert_notebooks_to_python.py
      language: system
- repo: local
  hooks:
    - id: detect-legacy-device-op
      name: Detect legacy device operation classes in newly added files
      entry: python3 scripts/detect_legacy_device_op.py --check-new-only
      language: system
      types: [file]
      files: ^ttnn/.*\.hpp$
      pass_filenames: true
      require_serial: true
- repo: local
  hooks:
    - id: validate-golden-csv-columns
      name: Validate golden bandwidth CSV column headers
      entry: bash .github/scripts/utils/validate_golden_csv_columns.sh
      language: system
      pass_filenames: false
      files: ^tests/tt_metal/tt_metal/perf_microbenchmark/routing/golden/.*bandwidth.*\.csv$

[Qwen3.6] weight load: run the host transposes only on a tensor-cache miss (QB2 e2e / unit timeouts) (#56471)
  models/demos/blackhole/qwen36/tt/attention/weights.py
  models/demos/blackhole/qwen36/tt/gdn/weights.py
  models/demos/blackhole/qwen36/tt/mlp.py
  models/demos/blackhole/qwen36/tt/model.py
  models/demos/blackhole/qwen36/tt/moe/router.py
  models/demos/blackhole/qwen36/tt/moe/shared.py
  models/demos/blackhole/qwen36/tt/moe/weights.py
  models/demos/blackhole/qwen36/tt/tp_common.py
Due: none

[Test Only] Give Gemma4-12B the same Wormhole full_model gate as 31B
  models/demos/gemma4/tests/pcc_thresholds.json
  models/demos/gemma4/tests/unit/test_pcc_threshold_coverage.py
Due: none

[Test Only] Give Gemma4-12B the same Wormhole vLLM coverage as 31B
  .github/time_budget.yaml
  tests/pipeline_reorg/vllm_model_tests.yaml
Due: none

[tt-train] PolyNorm: name the right reciprocal path in the 2x-vs-4x TODO
  tt-train/sources/ttml/metal/ops/polynorm_bw/device/kernels/compute/polynorm_bw_kernel.cpp
Due: none

Added metal plumbing
  tt_metal/hw/ckernels/quasar/metal/llk_api/llk_unpack_AB_matmul_api.h
  tt_metal/hw/inc/api/compute/matmul.h
Due: none

BMM metal tests w/ transpose
  tests/tt_metal/tt_metal/test_bmm.cpp
  tests/tt_metal/tt_metal/test_kernels/compute/bmm.cpp
  tt_metal/hw/inc/api/compute/matmul.h
Due: none

Added LLK tests
  tt_metal/tt-llk/tests/python_tests/quasar/test_matmul_quasar.py
  tt_metal/tt-llk/tests/sources/quasar/matmul_quasar_test.cpp
Due: none

Updated docs to match std::uint32t
  docs/source/tt-metalium/tt_metal/apis/kernel_apis/compute/matmul_block.rst
  docs/source/tt-metalium/tt_metal/apis/kernel_apis/compute/matmul_tiles.rst
Due: none

Fixed arch checks
  tests/tt_metal/tt_metal/test_bmm.cpp
Due: none

Initial SrcA Transpose Support
  tt_metal/tt-llk/tt_llk_quasar/llk_lib/llk_unpack_matmul.h
Due: none

Addressed LLK PR reviewer
  tests/tt_metal/tt_metal/test_bmm.cpp
  tests/tt_metal/tt_metal/test_kernels/compute/bmm.cpp
  tt_metal/hw/ckernels/quasar/metal/llk_api/experimental/llk_math_matmul_custom_api.h
  tt_metal/hw/ckernels/quasar/metal/llk_api/llk_unpack_AB_matmul_api.h
  tt_metal/tt-llk/tests/python_tests/quasar/test_matmul_quasar.py
  tt_metal/tt-llk/tt_llk_quasar/llk_lib/llk_math_matmul.h
  tt_metal/tt-llk/tt_llk_quasar/llk_lib/llk_unpack_matmul.h
Due: none

dispatch_fabric2d: untilize tiled input in-op, confined to a sub-device
  models/demos/deepseek_v3_d_p/tests/op_unit_tests/test_prefill_dispatch_fabric2d.py
  models/demos/deepseek_v3_d_p/tests/perf/test_prefill_dispatch_fabric2d.py
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/dispatch_fabric2d/device/dispatch_fabric2d_device_operation.cpp
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/dispatch_fabric2d/device/dispatch_fabric2d_device_operation.hpp
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/dispatch_fabric2d/device/dispatch_fabric2d_placement.cpp
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/dispatch_fabric2d/device/dispatch_fabric2d_placement.hpp
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/dispatch_fabric2d/device/dispatch_fabric2d_program_factory.cpp
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/dispatch_fabric2d/device/dispatch_fabric2d_types.hpp
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/dispatch_fabric2d/device/dispatch_fabric2d_untilize.cpp
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/dispatch_fabric2d/device/dispatch_fabric2d_untilize.hpp
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/dispatch_fabric2d/device/kernels/compute/untilize_dispatch_fabric2d.cpp
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/dispatch_fabric2d/device/kernels/dataflow/dispatch_fabric2d_kernel_interface.hpp
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/dispatch_fabric2d/device/kernels/dataflow/dispatch_fabric2d_reader_ct_args.hpp
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/dispatch_fabric2d/device/kernels/dataflow/dispatch_fabric2d_untilize_args.hpp
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/dispatch_fabric2d/device/kernels/dataflow/reader_dispatch_fabric2d.cpp
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/dispatch_fabric2d/device/kernels/dataflow/untilize_reader_dispatch_fabric2d.cpp
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/dispatch_fabric2d/device/kernels/dataflow/untilize_writer_dispatch_fabric2d.cpp
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/dispatch_fabric2d/dispatch_fabric2d.cpp
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/dispatch_fabric2d/dispatch_fabric2d.hpp
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/dispatch_fabric2d/dispatch_fabric2d_nanobind.cpp
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/dispatch_fabric2d/sources.cmake
Due: block-ttnn-pybind-changes, detect-legacy-device-op

switch to unicast init semaphore
  tests/nightly/t3000/ccl/test_reduce_scatter_minimal_direct.py
  tests/nightly/tg/ccl/test_reduce_scatter_minimal_direct.py
  ttnn/cpp/ttnn/operations/experimental/ccl/reduce_scatter_minimal_direct/device/kernels/reduce_scatter_minimal_direct_writer.cpp
  ttnn/cpp/ttnn/operations/experimental/ccl/reduce_scatter_minimal_direct/device/reduce_scatter_minimal_direct_factory.cpp
Due: block-ttnn-pybind-changes

[Wan2.2] DBCache: document 720p threshold sweep
  models/tt_dit/models/Wan2_2.md
Due: none

re-enable watcher for Stable Diffusion XL
  .github/time_budget.yaml
  tests/pipeline_reorg/models_unit_tests.yaml
Due: none

trim test cases
  tests/nightly/tg/ccl/test_reduce_scatter_minimal_direct.py
Due: none

[Wan2.2] DBCache: document F8 / 0.12 recipe comparison
  models/tt_dit/models/Wan2_2.md
Due: none

LTX-2.3: emit pipeline progress events from the distilled pipeline
  models/tt_dit/pipelines/ltx/pipeline_ltx_distilled.py
Due: none

[Gemma4] E4B: gate the Blackhole via_harness full-attention paged-decode PCC at 0.984 (1x2, 1x4) (#56739)
  models/demos/gemma4/tests/pcc_thresholds.json
Due: none

introduce shared helper torch_pad
  models/tt_dit/encoders/qwen3vl/model_qwen3vl.py
  models/tt_dit/encoders/transformer.py
  models/tt_dit/utils/padding.py
Due: none

gemma4 contract rail: serve a batched step as one row per request
  models/demos/gemma4/tests/unit/test_dflash_contract_adapter.py
  models/demos/gemma4/tt/generator_vllm.py
Due: none

ttnn: route exact model AGMM calls through registry
  tests/ttnn/unit_tests/gtests/test_agmm_registry.cpp
  ttnn/cpp/ttnn/operations/experimental/ccl/all_gather_minimal_matmul_async/device/all_gather_minimal_matmul_async_device_operation.cpp
  ttnn/cpp/ttnn/operations/experimental/ccl/all_gather_minimal_matmul_async/registry/agmm_config_registry.cpp
  ttnn/cpp/ttnn/operations/experimental/ccl/all_gather_minimal_matmul_async/registry/agmm_config_registry.hpp
  ttnn/cpp/ttnn/operations/experimental/ccl/all_gather_minimal_matmul_async/registry/agmm_registry_data.hpp
  ttnn/cpp/ttnn/operations/experimental/ccl/all_gather_minimal_matmul_async/registry/agmm_registry_descriptor.hpp
  ttnn/cpp/ttnn/operations/matmul/device/config/registry/README.md
Due: block-ttnn-pybind-changes, detect-legacy-device-op

[Wan2.2] DBCache: document vLLM recipe at 720p
  models/tt_dit/models/Wan2_2.md
Due: none

bisect: measure with speed of light off
  tt_metal/tt-llk/tests/run_llk_perf_blackhole.sh
  tt_metal/tt-llk/tests/run_llk_perf_wormhole.sh
Due: none

more succinct comment
  tt_metal/impl/metal2_host_api/program_spec.cpp
Due: none

[LLK] Address review on the unary SFPU coverage skip
  tt_metal/tt-llk/tests/python_tests/test_eltwise_unary_sfpu.py
  tt_metal/tt-llk/tests/python_tests/test_matmul_and_unary_sfpu.py
  tt_metal/tt-llk/tests/python_tests/test_sfpu_plot.py
Due: none

gemma4 contract rail: read the plain decode through the runner's own path
  models/demos/gemma4/tests/unit/test_dflash_contract_adapter.py
  models/demos/gemma4/tt/generator_vllm.py
Due: none

Removing porting report files
  ttnn/cpp/ttnn/operations/experimental/minimal_matmul/METAL2_PORT_BRIEF.md
  ttnn/cpp/ttnn/operations/experimental/minimal_matmul/METAL2_PORT_PLAN.md
  ttnn/cpp/ttnn/operations/experimental/minimal_matmul/METAL2_PORT_REPORT.md
  ttnn/cpp/ttnn/operations/experimental/minimal_matmul/METAL2_PREPORT_AUDIT.md
Due: block-ttnn-pybind-changes

Address PR review: arch-agnostic compute config, bit_cast, pack API
  ttnn/cpp/ttnn/operations/experimental/minimal_matmul/device/kernels/compute_metal2.cpp
  ttnn/cpp/ttnn/operations/experimental/minimal_matmul/device/minimal_matmul_program_descriptor.cpp
Due: block-ttnn-pybind-changes

Metal 2.0 re-audit for minimal_matmul after the descriptor migration
  ttnn/cpp/ttnn/operations/experimental/minimal_matmul/METAL2_PREPORT_AUDIT.md
Due: block-ttnn-pybind-changes

Metal 2.0 audit for MinimalMatmulProgramFactory
  ttnn/cpp/ttnn/operations/experimental/minimal_matmul/METAL2_PREPORT_AUDIT.md
Due: block-ttnn-pybind-changes

Metal 2.0 port: minimal_matmul to ProgramSpecFactoryConcept
  ttnn/cpp/ttnn/operations/experimental/minimal_matmul/METAL2_PORT_BRIEF.md
  ttnn/cpp/ttnn/operations/experimental/minimal_matmul/METAL2_PORT_PLAN.md
  ttnn/cpp/ttnn/operations/experimental/minimal_matmul/METAL2_PORT_REPORT.md
  ttnn/cpp/ttnn/operations/experimental/minimal_matmul/METAL2_PREPORT_AUDIT.md
  ttnn/cpp/ttnn/operations/experimental/minimal_matmul/device/kernels/compute_metal2.cpp
  ttnn/cpp/ttnn/operations/experimental/minimal_matmul/device/kernels/dm_in0_sender.cpp
  ttnn/cpp/ttnn/operations/experimental/minimal_matmul/device/kernels/dm_in0_sender_metal2.cpp
  ttnn/cpp/ttnn/operations/experimental/minimal_matmul/device/kernels/dm_in1_sender_out.cpp
  ttnn/cpp/ttnn/operations/experimental/minimal_matmul/device/kernels/dm_in1_sender_out_metal2.cpp
  ttnn/cpp/ttnn/operations/experimental/minimal_matmul/device/kernels/matmul_dataflow_common_metal2.hpp
  ttnn/cpp/ttnn/operations/experimental/minimal_matmul/device/minimal_matmul_device_operation.hpp
  ttnn/cpp/ttnn/operations/experimental/minimal_matmul/device/minimal_matmul_program_descriptor.cpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

ci(mistral4): transfer Mistral-Small-4 prefill leg ownership
  tests/pipeline_reorg/blaze_models_prefill_tests.yaml
Due: none

Document that default remote compile always RPCs.
  tt_metal/tools/jit_compile_server/README.md
Due: none

[LLK] Restore the unary SFPU coverage lane (#56744)
  tt_metal/tt-llk/tests/python_tests/helpers/test_config.py
  tt_metal/tt-llk/tests/python_tests/test_eltwise_unary_sfpu.py
  tt_metal/tt-llk/tests/python_tests/test_matmul_and_unary_sfpu.py
  tt_metal/tt-llk/tests/python_tests/test_sfpu_plot.py
Due: none

gemma4 contract rail: decline the rows the fused verify cannot speak for
  models/demos/gemma4/tests/unit/test_dflash_contract_adapter.py
  models/demos/gemma4/tt/generator_vllm.py
Due: none

Note that preprocess does not replace metal link inputs.
  tt_metal/tools/jit_compile_server/README.md
Due: none

ci: expose matmul registry mode to model e2e tests
  .github/workflows/all-model-tests.yaml
  .github/workflows/models-e2e-tests-impl.yaml
Due: none

topk zones and the mla decode cores-per-group knob for the R1i and L7 blocks
  analysis/campaigns/campaign_l7.sh
  analysis/campaigns/campaign_r1i.sh
  analysis/campaigns/set_topk_zone_config.sh
  analysis/r1_mla_decode.py
  analysis/topk_zone_probe.py
  ttnn/cpp/ttnn/operations/reduction/topk/device/kernels/compute/topk.cpp
  ttnn/cpp/ttnn/operations/reduction/topk/device/kernels/dataflow/reader_create_index_tensor.cpp
  ttnn/cpp/ttnn/operations/reduction/topk/device/kernels/dataflow/writer_binary_interleaved.cpp
  ttnn/cpp/ttnn/operations/reduction/topk/device/kernels/topk_zone_config.hpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op
