Repository tenstorrent/tt-metal: changes, and which pre-commit hooks are due for each by the changed paths.
All: block-ttnn-pybind-changes, detect-legacy-device-op, validate-golden-csv-columns

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v3.2.0
  hooks:
    - id: trailing-whitespace
      exclude: \.patch$
    - id: end-of-file-fixer
      exclude: \.patch$
    - id: check-yaml
      args: ["--unsafe"]
    - id: check-added-large-files
# Using this mirror lets us use mypyc-compiled black, which is about 2x faster
- repo: https://github.com/psf/black-pre-commit-mirror
  rev: 23.10.1
  hooks:
    - id: black
      language_version: python3
- repo: https://github.com/PyCQA/autoflake
  rev: v2.3.1
  hooks:
    - id: autoflake
      args: [--remove-all-unused-imports, --in-place, --recursive, --exclude=__init__.py]
      files: ^models/  # Run only on files in the models directory
- repo: https://github.com/pycqa/isort
  rev: 5.13.2
  hooks:
    - id: isort
      files: ^models/
      exclude: ^models/(demos/llama3_70b_galaxy|experimental)/
- repo: https://github.com/BlankSpruce/gersemi
  rev: 0.16.2
  hooks:
    - id: gersemi
- repo: https://github.com/adrienverge/yamllint.git
  rev: v1.35.1
  hooks:
    - id: yamllint
- repo: https://github.com/pre-commit/mirrors-clang-format
  rev: v19.1.4
  hooks:
    - id: clang-format
      entry: git-clang-format
      require_serial: true
      types_or: [c++, c]
      args: ["--style=file"]
- repo: local
  hooks:
    - id: validate-metalium-includes
      name: validate-metalium-includes
      entry: python3 scripts/validate_api/validate_includes.py tt_metal/api --check-ttnn-forwards
      language: system
      pass_filenames: false
    - id: validate-metalium-deprecation
      name: validate-metalium-deprecation
      entry: python3 scripts/validate_api/validate_deprecation.py tt_metal/api origin/main
      language: system
      pass_filenames: false
- repo: local
  hooks:
    - id: check-torch-imports-in-ttnn
      name: Verify that there is no global torch import in ttnn
      entry: python3 scripts/validate_no_global_torch_imports.py
      language: system
      pass_filenames: false
- repo: local
  hooks:
    - id: block-ttnn-pybind-changes
      name: Prevent edits to frozen pybind11 sources under ttnn
      entry: python3 scripts/block_ttnn_pybind_changes.py
      language: system
      pass_filenames: true
      files: ^ttnn/
- repo: local
  hooks:
    - id: convert-notebooks-to-py
      name: Convert .ipynb to .py for ttnn basic examples
      entry: python3 scripts/convert_notebooks_to_python.py
      language: system
- repo: local
  hooks:
    - id: detect-legacy-device-op
      name: Detect legacy device operation classes in newly added files
      entry: python3 scripts/detect_legacy_device_op.py --check-new-only
      language: system
      types: [file]
      files: ^ttnn/.*\.hpp$
      pass_filenames: true
      require_serial: true
- repo: local
  hooks:
    - id: validate-golden-csv-columns
      name: Validate golden bandwidth CSV column headers
      entry: bash .github/scripts/utils/validate_golden_csv_columns.sh
      language: system
      pass_filenames: false
      files: ^tests/tt_metal/tt_metal/perf_microbenchmark/routing/golden/.*bandwidth.*\.csv$

pi0.5 tt_bh_glx: prefill PCC test runs at production VLM chunk size 1024
  models/experimental/pi0_5/tests/pcc/test_pcc_tt_bh_glx_stages.py
Due: none

precompile: drop redundant knobs (UP_FRONT_COLLECT gate, FAST_COLLECT_SHALLOW)
  scripts/run_safe_pytest.sh
  tests/plugins/up_front_collect.py
Due: none

eltwise: add transform_in_place convenience helper; drop streaming_reduce lambda version
  tests/ttnn/unit_tests/kernel_lib/test_chain_transform_in_place.py
  ttnn/cpp/ttnn/kernel_lib/eltwise_convenience.hpp
  ttnn/cpp/ttnn/kernel_lib/streaming_reduce_helpers.hpp
  ttnn/cpp/ttnn/kernel_lib/streaming_reduce_helpers.inl
  ttnn/cpp/ttnn/kernel_lib/tests/axes/transform_in_place.cpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

pi0.5 tt_bh_glx: denoise PCC test runs at production prefix_len 1024
  models/experimental/pi0_5/tests/pcc/test_pcc_tt_bh_glx_stages.py
Due: none

take rm tensor into account
  ttnn/cpp/ttnn/operations/conv/conv2d/conv2d_utils.cpp
Due: block-ttnn-pybind-changes

Remove variables from prefill runner
  models/demos/deepseek_v3_d_p/tt/runners/prefill_runner.py
Due: none

Revert "take rm tensor into account"
  ttnn/cpp/ttnn/operations/conv/conv2d/conv2d_utils.cpp
Due: block-ttnn-pybind-changes

precompile: tighten plugin comments
  tests/plugins/up_front_collect.py
Due: none

skip 2x4 mesh for 25k ISL
  models/demos/deepseek_v3_d_p/tests/test_prefill_block.py
Due: none

prefill time reduced to 2.7ms
  models/experimental/glm4_moe_lite/tt/moe_tt.py
Due: none

deepseek_v32: indexer_score op (DSA lightning indexer scoring)
  models/demos/deepseek_v32/INDEXER_OP.md
  models/demos/deepseek_v32/indexer_core0_viz.html
  models/demos/deepseek_v32/indexer_kernels_viz.html
  models/demos/deepseek_v32/indexer_score_viz.html
  tests/nightly/blackhole/sdpa/test_indexer_score.py
  ttnn/CMakeLists.txt
  ttnn/cpp/ttnn/operations/experimental/deepseek/indexer_score/CMakeLists.txt
  ttnn/cpp/ttnn/operations/experimental/deepseek/indexer_score/device/indexer_score_device_operation.cpp
  ttnn/cpp/ttnn/operations/experimental/deepseek/indexer_score/device/indexer_score_device_operation.hpp
  ttnn/cpp/ttnn/operations/experimental/deepseek/indexer_score/device/indexer_score_device_operation_types.hpp
  ttnn/cpp/ttnn/operations/experimental/deepseek/indexer_score/device/indexer_score_program_factory.cpp
  ttnn/cpp/ttnn/operations/experimental/deepseek/indexer_score/device/indexer_score_program_factory.hpp
  ttnn/cpp/ttnn/operations/experimental/deepseek/indexer_score/device/kernels/compute_indexer_score.cpp
  ttnn/cpp/ttnn/operations/experimental/deepseek/indexer_score/device/kernels/indexer_score_common.hpp
  ttnn/cpp/ttnn/operations/experimental/deepseek/indexer_score/device/kernels/indexer_score_work_split.hpp
  ttnn/cpp/ttnn/operations/experimental/deepseek/indexer_score/device/kernels/reader_indexer_score.cpp
  ttnn/cpp/ttnn/operations/experimental/deepseek/indexer_score/device/kernels/writer_indexer_score.cpp
  ttnn/cpp/ttnn/operations/experimental/deepseek/indexer_score/indexer_score.cpp
  ttnn/cpp/ttnn/operations/experimental/deepseek/indexer_score/indexer_score.hpp
  ttnn/cpp/ttnn/operations/experimental/deepseek/indexer_score/indexer_score_nanobind.cpp
  ttnn/cpp/ttnn/operations/experimental/deepseek/indexer_score/indexer_score_nanobind.hpp
  ttnn/cpp/ttnn/operations/experimental/deepseek/indexer_score/sources.cmake
  ttnn/cpp/ttnn/operations/experimental/experimental_nanobind.cpp
  ttnn/sources.cmake
  ttnn/ttnn/__init__.py
Due: block-ttnn-pybind-changes, detect-legacy-device-op

Revert "build: update tt-llk test harness requirements (#46540)" (#46728)
  tt_metal/tt-llk/tests/python_tests/helpers/device.py
  tt_metal/tt-llk/tests/python_tests/helpers/device_print.py
  tt_metal/tt-llk/tests/requirements.txt
Due: none

Revert native SDPA audio tokenizer optimizations (d92d1be). Restore dense ALiBi sliding-window decode and pre-SDPA attention/MLP paths.
  models/experimental/voxtraltts/README.md
  models/experimental/voxtraltts/reference/audio_tokenizer_ops.py
  models/experimental/voxtraltts/tests/audio_tokenizer_workload.py
  models/experimental/voxtraltts/tests/test_audio_tokenizer_decoder_transformer_block.py
  models/experimental/voxtraltts/tests/test_audio_tokenizer_full_decode.py
  models/experimental/voxtraltts/tests/test_audio_tokenizer_native_sdpa_pcc.py
  models/experimental/voxtraltts/tests/test_audio_tokenizer_opt.py
  models/experimental/voxtraltts/tt/attention.py
  models/experimental/voxtraltts/tt/audio_tokenizer/model.py
  models/experimental/voxtraltts/tt/audio_tokenizer/transformer.py
  models/experimental/voxtraltts/tt/mlp.py
  models/experimental/voxtraltts/utils/audio_tokenizer_optimizations.py
  models/experimental/voxtraltts/utils/config_helpers.py
Due: none

block_ct_dim not hardcoded to 8
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/dispatch/device/dispatch_program_factory.cpp
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/dispatch/device/kernels/compute/untilize_dispatch.cpp
Due: block-ttnn-pybind-changes

VibeVoice perf notes: record diffusion-trace finding (compute-bound, rejected)
  models/experimental/vibevoice/PERF_OPTIMIZATION_NOTES.md
Due: none

Move all kernel side bfloat16 collaterals to bfloat16.h (#46298)
  tt_metal/hw/inc/api/numeric/bfloat16.h
  tt_metal/programming_examples/sfpu_eltwise_chain/kernels/dataflow/reader.cpp
  tt_metal/tt-llk/tt_llk_blackhole/common/inc/sfpu/ckernel_sfpu_welfords.h
  tt_metal/tt-llk/tt_llk_wormhole_b0/common/inc/sfpu/ckernel_sfpu_welfords.h
  ttnn/cpp/ttnn/kernel/dataflow/moreh_common.hpp
  ttnn/cpp/ttnn/operations/data_movement/common/kernels/common.hpp
  ttnn/cpp/ttnn/operations/data_movement/scatter/device/kernels/dataflow/reader_bf16_reduction_scatter.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_nll_loss_unreduced_backward/device/kernels/reader_moreh_nll_loss_unreduced_backward_2d.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_nll_loss_unreduced_backward/device/kernels/reader_moreh_nll_loss_unreduced_backward_3d.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_nll_loss_unreduced_backward/device/kernels/reader_moreh_nll_loss_unreduced_backward_4d.cpp
  ttnn/cpp/ttnn/operations/normalization/groupnorm/device/kernels/dataflow/welford_combine.h
  ttnn/cpp/ttnn/operations/pool/grid_sample/device/kernels/dataflow/writer_grid_sample_nearest_sharded.cpp
  ttnn/cpp/ttnn/operations/pool/grid_sample/device/kernels/grid_sample_reader_common.hpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

Cover HW 8D sum reduction cases
  tests/ttnn/unit_tests/operations/reduce/test_reduction.py
Due: none

Tighten HW 8D sum test tolerances
  tests/ttnn/unit_tests/operations/reduce/test_reduction.py
Due: none

precompile: add conv3d / group_norm / SDPA fast-collect stand-ins
  tests/plugins/up_front_collect.py
Due: none

eltwise: add transform_in_place convenience helper; drop streaming_reduce lambda version
  ttnn/cpp/ttnn/kernel_lib/eltwise_convenience.hpp
  ttnn/cpp/ttnn/kernel_lib/streaming_reduce_helpers.hpp
  ttnn/cpp/ttnn/kernel_lib/streaming_reduce_helpers.inl
Due: block-ttnn-pybind-changes, detect-legacy-device-op

pi0.5 tt_bh_glx: per-stage perf tests + host-bounce microbench
  models/experimental/pi0_5/tests/perf/test_perf_tt_bh_glx_stages.py
Due: none

[sweep-validation] group_norm: invalidate oversized block-sharded configs
  tests/sweep_framework/sweeps/model_traced/group_norm_model_traced.py
Due: none

deepseek_v32: indexer_score use compute_kernel_lib::untilize helper
  ttnn/cpp/ttnn/operations/experimental/deepseek/indexer_score/device/kernels/compute_indexer_score.cpp
Due: block-ttnn-pybind-changes

[Bugfix] Fixing pcc regression in test_ttnn_moe (#46206)
  models/demos/deepseek_v3_d_p/tests/pcc/test_ttnn_moe.py
  models/demos/deepseek_v3_d_p/tt/moe/init_helpers.py
Due: none

Revert async all_gather experiment — works + profiles clean, but NO-OP on device-busy
  deepseek_codegen/graph_0/main.py
Due: none

scripts/tt_hw_planner: add Graduated (ON_DEVICE) metric to compute-split summary
  scripts/tt_hw_planner/cli.py
Due: none

MOE_COMPUTE_JOURNAL: CCL round closed — async profiles clean but no-op on device-busy (overlap is wall-clock only)
  deepseek_codegen/graph_0/MOE_COMPUTE_JOURNAL.md
Due: none

Tighten narrow orientation regression
  tests/ttnn/unit_tests/gtests/test_narrow.cpp
Due: none

Preserve narrow shard orientation
  tests/ttnn/unit_tests/gtests/sources.cmake
  tests/ttnn/unit_tests/gtests/test_narrow.cpp
  ttnn/cpp/ttnn/operations/data_movement/narrow/narrow.cpp
Due: block-ttnn-pybind-changes

deepseek_v32: record pretrained seq4k DSA PCC (0.9996, sparse rows 0.9994)
  models/demos/deepseek_v32/status.md
Due: none

removed unnecessary pcc tests
  models/demos/deepseek_v3_d_p/tests/op_unit_tests/test_prefill_combine.py
  models/demos/deepseek_v3_d_p/tests/op_unit_tests/test_prefill_dispatch.py
Due: none

ttnn metal2: migrate data_movement/untilize_with_unpadding (single-core + multi-core interleaved) to Metal 2.0
  ttnn/cpp/ttnn/operations/data_movement/untilize_with_unpadding/device/factories/untilize_with_unpadding_multi_core_interleaved_program_factory.cpp
  ttnn/cpp/ttnn/operations/data_movement/untilize_with_unpadding/device/factories/untilize_with_unpadding_multi_core_interleaved_program_factory.hpp
  ttnn/cpp/ttnn/operations/data_movement/untilize_with_unpadding/device/factories/untilize_with_unpadding_single_core_program_factory.cpp
  ttnn/cpp/ttnn/operations/data_movement/untilize_with_unpadding/device/factories/untilize_with_unpadding_single_core_program_factory.hpp
  ttnn/cpp/ttnn/operations/data_movement/untilize_with_unpadding/device/kernels/compute/untilize_m2.cpp
  ttnn/cpp/ttnn/operations/data_movement/untilize_with_unpadding/device/kernels/dataflow/reader_unary_interleaved_start_id_m2.cpp
  ttnn/cpp/ttnn/operations/data_movement/untilize_with_unpadding/device/kernels/dataflow/writer_unary_stick_layout_split_rows_multicore_m2.cpp
  ttnn/cpp/ttnn/operations/data_movement/untilize_with_unpadding/device/kernels/dataflow/writer_unary_unpad_dims_split_rows_m2.cpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

ttnn metal2: migrate reduction/topk (TopKSingleCore) to Metal 2.0
  ttnn/cpp/ttnn/operations/reduction/topk/device/kernels/compute/topk.cpp
  ttnn/cpp/ttnn/operations/reduction/topk/device/kernels/dataflow/reader_create_index_tensor.cpp
  ttnn/cpp/ttnn/operations/reduction/topk/device/kernels/dataflow/writer_binary_interleaved.cpp
  ttnn/cpp/ttnn/operations/reduction/topk/device/topk_device_operation.hpp
  ttnn/cpp/ttnn/operations/reduction/topk/device/topk_single_core_program_factory.cpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

moe-opt: MoE tail — drop redundant FP32 upcasts of combine-out + scores
  deepseek_codegen/graph_0/moe_compute_block.py
Due: none

[Tests] Use non-zero WH pack_config word-2 values in dprint test, drop PR-introduced Grayskull block, document REG8 layout difference
  tests/tt_metal/tt_metal/debug_tools/device_print/test_print_config_register.cpp
  tests/tt_metal/tt_metal/test_kernels/dataflow/writer_config_reg.cpp
  tt_metal/hw/inc/api/debug/dprint_tensix_pack.h
  tt_metal/tt-llk/tt_llk_wormhole_b0/common/inc/cpack_common.h
Due: none

Metal 2.0 bulk-migration working report (triage + per-op status + metal-gap analysis)
  tech_reports/Metal2OpMigration/BULK_MIGRATION_REPORT.md
Due: none
