Repository tenstorrent/tt-metal: changes, and which pre-commit hooks are due for each by the changed paths.
All: block-ttnn-pybind-changes, detect-legacy-device-op, validate-golden-csv-columns

block-ttnn-pybind-changes:
  name: Prevent edits to frozen pybind11 sources under ttnn
  entry: python3 scripts/block_ttnn_pybind_changes.py
  language: system
  pass_filenames: true

detect-legacy-device-op:
  name: Detect legacy device operation classes in newly added files
  entry: python3 scripts/detect_legacy_device_op.py --check-new-only
  language: system
  pass_filenames: true
  require_serial: true

validate-golden-csv-columns:
  name: Validate golden bandwidth CSV column headers
  entry: bash .github/scripts/utils/validate_golden_csv_columns.sh
  language: system
  pass_filenames: false

[tt-triage] Update tt-exalens version to 0.3.12 (#40903)
  tools/triage/requirements.txt
Due: none

pass optimization flag to kernel
  ttnn/cpp/ttnn/operations/matmul/device/factory/matmul_multicore_reuse_mcast_1d_program_factory.cpp
  ttnn/cpp/ttnn/operations/matmul/device/factory/matmul_multicore_reuse_mcast_2d_program_factory.cpp
  ttnn/cpp/ttnn/operations/matmul/device/kernels/dataflow/reader_bmm_tile_layout_in0_sender_padding.cpp
  ttnn/cpp/ttnn/operations/matmul/device/sparse/factory/sparse_matmul_multicore_reuse_mcast_1d_optimized.cpp
Due: block-ttnn-pybind-changes

Refactor matmul_block helper to use descriptive argument structs
  docs/matmul_1d_helper_task.md
  tt_metal/programming_examples/matmul/matmul_common/kernels/compute/bmm_large_block_zm.cpp
  ttnn/cpp/ttnn/kernel_lib/docs/matmul_tile_reference.md
  ttnn/cpp/ttnn/kernel_lib/matmul_block_helpers.hpp
  ttnn/cpp/ttnn/kernel_lib/matmul_block_helpers.inl
Due: block-ttnn-pybind-changes, detect-legacy-device-op

Matmul compute helpers, matmul_sc op pipeline, and task plan
  .gitignore
  docs/matmul_1d_helper_task.md
  tests/tt_metal/tt_metal/integration/matmul/test_matmul_tile_helper.cpp
  tests/tt_metal/tt_metal/integration/sources.cmake
  tt_metal/programming_examples/matmul/matmul_common/kernels/compute/bmm.cpp
  tt_metal/programming_examples/matmul/matmul_common/kernels/compute/bmm_large_block_zm.cpp
  tt_metal/programming_examples/matmul/matmul_multi_core/kernels/compute/mm.cpp
  tt_metal/programming_examples/matmul/matmul_single_core/kernels/compute/mm.cpp
  ttnn/cpp/ttnn/kernel_lib/docs/matmul_tile_reference.md
  ttnn/cpp/ttnn/kernel_lib/matmul_block_helpers.hpp
  ttnn/cpp/ttnn/kernel_lib/matmul_block_helpers.inl
  ttnn/cpp/ttnn/kernel_lib/matmul_tile_helpers.hpp
  ttnn/cpp/ttnn/kernel_lib/matmul_tile_helpers.inl
  ttnn/cpp/ttnn/operations/matmul/device/kernels/compute/bmm.cpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

Fix unpack hw reconfigure in test_matmul with tiny tiles (#40674)
  tests/ttnn/unit_tests/operations/matmul/test_matmul.py
  tt_metal/hw/ckernels/blackhole/metal/llk_api/llk_unpack_common_api.h
  tt_metal/hw/ckernels/wormhole_b0/metal/llk_api/llk_unpack_common_api.h
Due: none

Add matmul helper call site audit and BH test results
  docs/matmul_helper_call_site_audit.md
  docs/matmul_helper_test_results.md
Due: none

Fix matmul helpers and migrate bmm_large_block_zm.cpp to matmul_block
  ttnn/cpp/ttnn/kernel_lib/matmul_block_helpers.hpp
  ttnn/cpp/ttnn/kernel_lib/matmul_block_helpers.inl
  ttnn/cpp/ttnn/kernel_lib/matmul_tile_helpers.hpp
  ttnn/cpp/ttnn/kernel_lib/matmul_tile_helpers.inl
  ttnn/cpp/ttnn/operations/matmul/device/kernels/compute/bmm_large_block_zm.cpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

Switch matmul_block helper to mm_block_init + matmul_block LLK
  ttnn/cpp/ttnn/kernel_lib/matmul_block_helpers.hpp
  ttnn/cpp/ttnn/kernel_lib/matmul_block_helpers.inl
Due: block-ttnn-pybind-changes, detect-legacy-device-op

[Test Infra] [QSR] Reset Qsr mailboxes early (#1547)
  tests/python_tests/helpers/device.py
  tests/python_tests/helpers/test_config.py
Due: none

[QSR] Datacopy block and pack block compute api and tests (#40727)
  tests/tt_metal/tt_metal/llk/test_copy_block_matmul_partials.cpp
  tests/tt_metal/tt_metal/test_kernels/compute/eltwise_copy_block_matmul_partials.cpp
  tests/tt_metal/tt_metal/test_kernels/dataflow/reader_unary_push_n.cpp
  tests/tt_metal/tt_metal/test_kernels/dataflow/writer_unary_pop_n.cpp
  tt_metal/hw/ckernels/quasar/metal/llk_api/llk_math_unary_datacopy_api.h
  tt_metal/hw/ckernels/quasar/metal/llk_api/llk_pack_api.h
  tt_metal/hw/ckernels/quasar/metal/llk_api/llk_unpack_A_api.h
  tt_metal/hw/inc/api/compute/pack.h
  tt_metal/hw/inc/api/compute/tile_move_copy.h
Due: none

Update error message
  ttnn/cpp/ttnn/operations/eltwise/unary/device/unary_program_factory.cpp
  ttnn/cpp/ttnn/operations/eltwise/unary/device/unary_sharded_program_factory.cpp
  ttnn/cpp/ttnn/operations/experimental/minimal_matmul/device/minimal_matmul_device_operation.cpp
  ttnn/cpp/ttnn/operations/experimental/transformer/dit_rms_norm_unary_fused/dit_rms_norm_unary_fused.cpp
  ttnn/cpp/ttnn/operations/matmul/device/matmul_device_operation.cpp
  ttnn/cpp/ttnn/operations/normalization/softmax/device/softmax_device_operation.cpp
  ttnn/cpp/ttnn/operations/reduction/generic/device/reduce_op.cpp
  ttnn/cpp/ttnn/operations/reduction/generic/generic_reductions.cpp
Due: block-ttnn-pybind-changes

Address copilot comments
  ttnn/cpp/ttnn/operations/experimental/minimal_matmul/device/minimal_matmul_device_operation.cpp
  ttnn/cpp/ttnn/operations/experimental/transformer/dit_rms_norm_unary_fused/dit_rms_norm_unary_fused.cpp
  ttnn/cpp/ttnn/operations/matmul/device/matmul_device_operation.cpp
  ttnn/cpp/ttnn/operations/reduction/generic/generic_reductions.cpp
Due: block-ttnn-pybind-changes

Set default accuracy to HiFi3 instead of HiFi4 on WH when using fp32_acc_to_dest=True
  ttnn/cpp/ttnn/operations/eltwise/unary/device/unary_program_factory.cpp
  ttnn/cpp/ttnn/operations/eltwise/unary/device/unary_sharded_program_factory.cpp
  ttnn/cpp/ttnn/operations/experimental/minimal_matmul/device/minimal_matmul_device_operation.cpp
  ttnn/cpp/ttnn/operations/experimental/transformer/dit_rms_norm_unary_fused/dit_rms_norm_unary_fused.cpp
  ttnn/cpp/ttnn/operations/matmul/device/matmul_device_operation.cpp
  ttnn/cpp/ttnn/operations/normalization/softmax/device/softmax_device_operation.cpp
  ttnn/cpp/ttnn/operations/reduction/accumulation/device/accumulation_program_factory.cpp
  ttnn/cpp/ttnn/operations/reduction/generic/device/reduce_op.cpp
  ttnn/cpp/ttnn/operations/reduction/generic/generic_reductions.cpp
Due: block-ttnn-pybind-changes

Move warnings to function and only print once per process
  ttnn/cpp/ttnn/operations/core/compute_kernel/compute_kernel_config.cpp
  ttnn/cpp/ttnn/operations/core/compute_kernel/compute_kernel_config.hpp
  ttnn/cpp/ttnn/operations/eltwise/unary/device/unary_program_factory.cpp
  ttnn/cpp/ttnn/operations/eltwise/unary/device/unary_sharded_program_factory.cpp
  ttnn/cpp/ttnn/operations/experimental/minimal_matmul/device/minimal_matmul_device_operation.cpp
  ttnn/cpp/ttnn/operations/experimental/transformer/dit_rms_norm_unary_fused/dit_rms_norm_unary_fused.cpp
  ttnn/cpp/ttnn/operations/matmul/device/matmul_device_operation.cpp
  ttnn/cpp/ttnn/operations/normalization/batch_norm/device/batch_norm_utils.cpp
  ttnn/cpp/ttnn/operations/normalization/softmax/device/softmax_device_operation.cpp
  ttnn/cpp/ttnn/operations/reduction/accumulation/device/accumulation_program_factory.cpp
  ttnn/cpp/ttnn/operations/reduction/generic/device/reduce_op.cpp
  ttnn/cpp/ttnn/operations/reduction/generic/generic_reductions.cpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

Clean up comments
  ttnn/cpp/ttnn/operations/core/compute_kernel/compute_kernel_config.cpp
  ttnn/cpp/ttnn/operations/core/compute_kernel/compute_kernel_config.hpp
  ttnn/cpp/ttnn/operations/eltwise/unary/device/unary_program_factory.cpp
  ttnn/cpp/ttnn/operations/eltwise/unary/device/unary_sharded_program_factory.cpp
  ttnn/cpp/ttnn/operations/normalization/batch_norm/device/batch_norm_utils.cpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

Clean-up
  ttnn/cpp/ttnn/operations/eltwise/unary/device/unary_program_factory.cpp
  ttnn/cpp/ttnn/operations/eltwise/unary/device/unary_sharded_program_factory.cpp
  ttnn/cpp/ttnn/operations/normalization/batch_norm/device/batch_norm_utils.cpp
Due: block-ttnn-pybind-changes

Update erorr message and refactorize default fidelity handling in softmax
  ttnn/cpp/ttnn/operations/eltwise/unary/device/unary_program_factory.cpp
  ttnn/cpp/ttnn/operations/eltwise/unary/device/unary_sharded_program_factory.cpp
  ttnn/cpp/ttnn/operations/experimental/minimal_matmul/device/minimal_matmul_device_operation.cpp
  ttnn/cpp/ttnn/operations/experimental/transformer/dit_rms_norm_unary_fused/dit_rms_norm_unary_fused.cpp
  ttnn/cpp/ttnn/operations/matmul/device/matmul_device_operation.cpp
  ttnn/cpp/ttnn/operations/normalization/batch_norm/device/batch_norm_utils.cpp
  ttnn/cpp/ttnn/operations/normalization/softmax/device/softmax_device_operation.cpp
  ttnn/cpp/ttnn/operations/reduction/generic/device/reduce_op.cpp
  ttnn/cpp/ttnn/operations/reduction/generic/generic_reductions.cpp
Due: block-ttnn-pybind-changes

Use compare and swap
  ttnn/cpp/ttnn/operations/core/compute_kernel/compute_kernel_config.cpp
Due: block-ttnn-pybind-changes

Rebase tt_transformers to main, add batched prefill for T3K and Galaxy
  models/demos/qwen25_vl/tt/generator.py
  models/demos/qwen25_vl/tt/model.py
  models/tt_transformers/demo/trace_region_config.py
  models/tt_transformers/tt/attention.py
  models/tt_transformers/tt/decoder.py
  models/tt_transformers/tt/generator.py
  models/tt_transformers/tt/model.py
  models/tt_transformers/tt/model_config.py
Due: none

fix for failing bevformer test (#40921)
  tests/ttnn/unit_tests/operations/matmul/test_matmul_batch_mismatch.py
  ttnn/cpp/ttnn/operations/matmul/device/factory/matmul_multicore_reuse_mcast_1d_program_factory.cpp
  ttnn/cpp/ttnn/operations/matmul/device/factory/matmul_multicore_reuse_mcast_2d_program_factory.cpp
  ttnn/cpp/ttnn/operations/matmul/device/kernels/dataflow/reader_bmm_tile_layout_in0_sender_padding.cpp
  ttnn/cpp/ttnn/operations/matmul/device/matmul_device_operation.cpp
  ttnn/cpp/ttnn/operations/matmul/device/sparse/factory/sparse_matmul_multicore_reuse_mcast_1d_optimized.cpp
Due: block-ttnn-pybind-changes

update timeout for llama3.1-8b
  tests/pipeline_reorg/models_unit_tests.yaml
Due: none

add pyskip
  models/demos/deepseek_v3_b1/tests/unit_tests/test_pipeline_stage_sync.py
Due: none

Second batch of comments addressed
  tt_metal/hw/ckernels/blackhole/metal/llk_api/llk_sfpu/ckernel_sfpu_trigonometry.h
  tt_metal/hw/ckernels/wormhole_b0/metal/llk_api/llk_sfpu/ckernel_sfpu_trigonometry.h
Due: none

cleanup
  .gitignore
  docs/matmul_1d_helper_task.md
  docs/matmul_helper_call_site_audit.md
  docs/matmul_helper_test_results.md
  ttnn/cpp/ttnn/kernel_lib/docs/matmul_helpers_reference.md
Due: block-ttnn-pybind-changes

#40877: add missing barrier to matmul ring kernel (#40939)
  ttnn/cpp/ttnn/operations/matmul/device/kernels/dataflow/reader_bmm_tile_layout_in1_ring_all_gather.cpp
Due: block-ttnn-pybind-changes

[Blaze DS] Optimize prefill-by-decode to fully utilize pipeline stages
  models/demos/deepseek_v3_b1/demo/model_pipeline.py
  models/demos/deepseek_v3_b1/demo/stage.py
  models/demos/deepseek_v3_b1/model.py
  models/demos/deepseek_v3_b1/tests/unit_tests/test_model.py
Due: none

WH fix 2
  tt_metal/impl/dispatch/kernels/cq_realtime_profiler_push.cpp
Due: none

Use ReluConfig in pack_relu_config for Quasar type safety
  tests/tt_metal/tt_metal/test_kernels/compute/eltwise_copy.cpp
  tt_metal/hw/inc/api/compute/pack.h
Due: none

[Fix] BH E2E pipeline fix (#40822)
  tests/ttnn/unit_tests/operations/ccl/blackhole_CI/box/all_post_commit/test_deepseek_ccl_ops.py
Due: none

Path conditions:
  block-ttnn-pybind-changes: any of: ^ttnn/
  detect-legacy-device-op: any of: ^ttnn/.*\.hpp$
  validate-golden-csv-columns: any of: ^tests/tt_metal/tt_metal/perf_microbenchmark/routing/golden/.*bandwidth.*\.csv$
