Repository tenstorrent/tt-metal: changes, and which pre-commit hooks are due for each by the changed paths.
All: block-ttnn-pybind-changes, detect-legacy-device-op, validate-golden-csv-columns

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v3.2.0
  hooks:
    - id: trailing-whitespace
      exclude: \.patch$
    - id: end-of-file-fixer
      exclude: \.patch$
    - id: check-yaml
      args: ["--unsafe"]
    - id: check-added-large-files
# Using this mirror lets us use mypyc-compiled black, which is about 2x faster
- repo: https://github.com/psf/black-pre-commit-mirror
  rev: 23.10.1
  hooks:
    - id: black
      language_version: python3
- repo: https://github.com/PyCQA/autoflake
  rev: v2.3.1
  hooks:
    - id: autoflake
      args: [--remove-all-unused-imports, --in-place, --recursive, --exclude=__init__.py]
      files: ^models/  # Run only on files in the models directory
- repo: https://github.com/pycqa/isort
  rev: 5.13.2
  hooks:
    - id: isort
      files: ^models/
      exclude: ^models/(demos/llama3_70b_galaxy|experimental)/
- repo: https://github.com/BlankSpruce/gersemi
  rev: 0.16.2
  hooks:
    - id: gersemi
- repo: https://github.com/adrienverge/yamllint.git
  rev: v1.35.1
  hooks:
    - id: yamllint
- repo: https://github.com/pre-commit/mirrors-clang-format
  rev: v19.1.4
  hooks:
    - id: clang-format
      entry: git-clang-format
      require_serial: true
      types_or: [c++, c]
      args: ["--style=file"]
- repo: local
  hooks:
    - id: validate-metalium-includes
      name: validate-metalium-includes
      entry: python3 scripts/validate_api/validate_includes.py tt_metal/api --check-ttnn-forwards
      language: system
      pass_filenames: false
    - id: validate-metalium-deprecation
      name: validate-metalium-deprecation
      entry: python3 scripts/validate_api/validate_deprecation.py tt_metal/api origin/main
      language: system
      pass_filenames: false
- repo: local
  hooks:
    - id: check-torch-imports-in-ttnn
      name: Verify that there is no global torch import in ttnn
      entry: python3 scripts/validate_no_global_torch_imports.py
      language: system
      pass_filenames: false
- repo: local
  hooks:
    - id: block-ttnn-pybind-changes
      name: Prevent edits to frozen pybind11 sources under ttnn
      entry: python3 scripts/block_ttnn_pybind_changes.py
      language: system
      pass_filenames: true
      files: ^ttnn/
- repo: local
  hooks:
    - id: convert-notebooks-to-py
      name: Convert .ipynb to .py for ttnn basic examples
      entry: python3 scripts/convert_notebooks_to_python.py
      language: system
- repo: local
  hooks:
    - id: detect-legacy-device-op
      name: Detect legacy device operation classes in newly added files
      entry: python3 scripts/detect_legacy_device_op.py --check-new-only
      language: system
      types: [file]
      files: ^ttnn/.*\.hpp$
      pass_filenames: true
      require_serial: true
- repo: local
  hooks:
    - id: validate-golden-csv-columns
      name: Validate golden bandwidth CSV column headers
      entry: bash .github/scripts/utils/validate_golden_csv_columns.sh
      language: system
      pass_filenames: false
      files: ^tests/tt_metal/tt_metal/perf_microbenchmark/routing/golden/.*bandwidth.*\.csv$

32k isl support
  models/demos/molmo2/demo/demo.py
  models/demos/molmo2/demo/eval_video.py
  models/demos/molmo2/tt/hf_processor.py
  models/demos/molmo2/tt/text_model.py
  models/demos/molmo2/tt/utils.py
Due: none

WIP trace fi
  models/demos/molmo2/demo/demo.py
  models/demos/molmo2/tt/text_model.py
  models/demos/molmo2/tt/vision_backbone.py
Due: none

384 frames
  models/demos/molmo2/tt/utils.py
Due: none

over all improvement in matmul with multi device implementation of [200~MatmulDeviceOperation 32 x 4096 x 151936
  models/demos/molmo2/tests/test_e2e_pcc.py
  models/demos/molmo2/tt/molmo2_lm_head.py
  models/demos/molmo2/tt/molmo2_model.py
  models/demos/molmo2/tt/text_model.py
Due: none

trace working but output error
  models/demos/molmo2/demo/demo.py
  models/demos/molmo2/tt/text_model.py
  models/demos/molmo2/tt/utils.py
Due: none

Fused QKV in text prefill
  models/demos/molmo2/tt/text_attention.py
Due: none

WIP
  models/demos/molmo2/demo/eval_video.py
  models/demos/molmo2/tt/utils.py
Due: none

WIP
  models/demos/molmo2/demo/eval_video.py
Due: none

add prediction logits to json file
  models/demos/molmo2/demo/demo.py
  models/demos/molmo2/demo/eval_video.py
Due: none

WIP-eval.py now works with max frames 384 frames without use-decode trace
  models/demos/molmo2/demo/demo.py
  models/demos/molmo2/demo/eval_video.py
Due: none

K-pool
  models/demos/molmo2/demo/demo.py
  models/demos/molmo2/tt/hf_processor.py
  models/demos/molmo2/tt/vision_backbone.py
Due: none

tring to us bfloat8_b weight maintaining the pcc
  models/demos/molmo2/tests/test_pcc_all_layers.py
  models/demos/molmo2/tt/text_attention.py
  models/demos/molmo2/tt/text_block.py
  models/demos/molmo2/tt/text_model.py
Due: none

Apply 16K ISL support to inference server (bfloat4_b mask + last-token LM head)
  models/demos/molmo2/tt/generator_vllm.py
Due: none

added verification_jsonl file for evval_video.py
  models/demos/molmo2/tests/verification_jsonl.py
Due: none

Fix vLLM chat template stripping for video/image prefill
  models/demos/molmo2/tt/generator_vllm.py
Due: none

inf server
  models/demos/molmo2/tt/generator_vllm.py
Due: none

Enable paged attention and decode trace by default for all demo modes
  BRINGUP_LOG.md
  models/demos/molmo2/demo/demo.py
  models/demos/molmo2/tt/generator_vllm.py
  models/demos/molmo2/tt/molmo2_model.py
  models/tt_transformers/tt/ccl.py
Due: none

layernorm optimization
  models/demos/molmo2/tt/vision_layernorm.py
Due: none

async ccl
  models/demos/molmo2/demo/demo.py
  models/demos/molmo2/tt/generator_vllm.py
  models/demos/molmo2/tt/model_loader.py
  models/demos/molmo2/tt/molmo2_model.py
  models/demos/molmo2/tt/text_attention.py
  models/demos/molmo2/tt/text_block.py
  models/demos/molmo2/tt/text_model.py
  models/tt_transformers/tt/ccl.py
Due: none

Molmo2: fix premature dealloc of q/k after tile-aligned RoPE slice
  models/demos/molmo2/tt/attention.py
Due: none

error summary logic
  infra/data_collection/github/workflows.py
Due: none

hifi2 na based on device
  models/demos/multimodal/gemma3/demo/text_demo.py
  models/demos/multimodal/gemma3/tt/model_config.py
Due: none

Ring joint SDPA: mid-barrier on Q DRAM reads
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/kernels/dataflow/dataflow_common.hpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/kernels/dataflow/ring_joint_reader.cpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/ring_joint_sdpa_program_factory.cpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

Ring joint SDPA: throttle Q reads by active cores, rename num_q_readers
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/kernels/dataflow/ring_joint_reader.cpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/ring_joint_sdpa_program_factory.cpp
Due: block-ttnn-pybind-changes

eltwise lessons 1
  ttnn/cpp/ttnn/kernel_lib/agents/eltwise_helper_lessons.md
Due: block-ttnn-pybind-changes

eltwise learnings 2
  ttnn/cpp/ttnn/kernel_lib/agents/eltwise_helper_lessons.md
  ttnn/cpp/ttnn/kernel_lib/agents/llk_helpers_hq.md
Due: block-ttnn-pybind-changes

wip refactor vae
  models/forge/z_image_turbo/vae/model_ttnn.py
Due: none

sdxl: bump L1_SMALL size to 32000 after halo program cache split
  models/demos/stable_diffusion_xl_base/tests/test_common.py
Due: none

Fix quad nightly DeepSeek multihost CI (#43379)
  .github/workflows/multi-host-deepseekv3.yaml
  models/demos/deepseek_v3/demo/test_demo.py
  models/demos/deepseek_v3/demo/test_demo_teacher_forced.py
  models/demos/deepseek_v3/demo/test_mtp_demo.py
  tests/scripts/multihost/run_quad_galaxy_tests.sh
Due: none

Update DeepSeek decode perf target (#43339)
  models/demos/deepseek_v3/demo/test_decode_demo_perf.py
Due: none

migration zero_init + chunk alignment
  models/demos/deepseek_v3_d_p/tt/mla/mla.py
  models/demos/deepseek_v3_d_p/tt/tt_deepseek_prefill_pipeline.py
Due: none

Molmo2: hybrid SDPA padding — power-of-2 for S≤8192, chunk-multiple for S>8192
  models/demos/molmo2/tt/model.py
Due: none

Adds new HF-style rotary embedding implementation and tests, with a similar interface to rotary_embedding_llama
  tests/sweep_framework/sweeps/transformer/rotary_embedding_hf/rotary_embedding_hf.py
  ttnn/CMakeLists.txt
  ttnn/cpp/ttnn/operations/experimental/experimental_nanobind.cpp
  ttnn/cpp/ttnn/operations/experimental/transformer/CMakeLists.txt
  ttnn/cpp/ttnn/operations/experimental/transformer/rotary_embedding_hf/device/kernels/compute/rotary_embedding_hf.cpp
  ttnn/cpp/ttnn/operations/experimental/transformer/rotary_embedding_hf/device/kernels/compute/rotary_embedding_hf_sharded.cpp
  ttnn/cpp/ttnn/operations/experimental/transformer/rotary_embedding_hf/device/kernels/dataflow/reader_rotary_embedding_hf_interleaved.cpp
  ttnn/cpp/ttnn/operations/experimental/transformer/rotary_embedding_hf/device/kernels/dataflow/writer_rotary_embedding_hf_interleaved.cpp
  ttnn/cpp/ttnn/operations/experimental/transformer/rotary_embedding_hf/device/rotary_embedding_hf_device_operation.cpp
  ttnn/cpp/ttnn/operations/experimental/transformer/rotary_embedding_hf/device/rotary_embedding_hf_device_operation.hpp
  ttnn/cpp/ttnn/operations/experimental/transformer/rotary_embedding_hf/device/rotary_embedding_hf_device_operation_types.hpp
  ttnn/cpp/ttnn/operations/experimental/transformer/rotary_embedding_hf/device/rotary_embedding_hf_multi_core_program_factory.cpp
  ttnn/cpp/ttnn/operations/experimental/transformer/rotary_embedding_hf/device/rotary_embedding_hf_multi_core_program_factory.hpp
  ttnn/cpp/ttnn/operations/experimental/transformer/rotary_embedding_hf/device/rotary_embedding_hf_sharded_program_factory.cpp
  ttnn/cpp/ttnn/operations/experimental/transformer/rotary_embedding_hf/device/rotary_embedding_hf_sharded_program_factory.hpp
  ttnn/cpp/ttnn/operations/experimental/transformer/rotary_embedding_hf/rotary_embedding_hf.cpp
  ttnn/cpp/ttnn/operations/experimental/transformer/rotary_embedding_hf/rotary_embedding_hf.hpp
  ttnn/cpp/ttnn/operations/experimental/transformer/rotary_embedding_hf/rotary_embedding_hf_nanobind.cpp
  ttnn/cpp/ttnn/operations/experimental/transformer/rotary_embedding_hf/rotary_embedding_hf_nanobind.hpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

Solves compilation errors
  ttnn/cpp/ttnn/operations/experimental/transformer/rotary_embedding_hf/device/rotary_embedding_hf_multi_core_program_factory.cpp
  ttnn/cpp/ttnn/operations/experimental/transformer/rotary_embedding_hf/rotary_embedding_hf.cpp
Due: block-ttnn-pybind-changes

Refactor rotary embedding memory configuration in HF implementation
  tests/sweep_framework/sweeps/transformer/rotary_embedding_hf/rotary_embedding_hf.py
Due: none

Compilation errors fix
  ttnn/cpp/ttnn/operations/experimental/transformer/rotary_embedding_hf/device/rotary_embedding_hf_device_operation.cpp
  ttnn/cpp/ttnn/operations/experimental/transformer/rotary_embedding_hf/rotary_embedding_hf.cpp
Due: block-ttnn-pybind-changes

Includes headers with helper macros
  ttnn/cpp/ttnn/operations/experimental/transformer/rotary_embedding_hf/device/kernels/compute/rotary_embedding_hf_sharded.cpp
Due: block-ttnn-pybind-changes

Migrates rotary_embedding_hf to new pattern
  tests/sweep_framework/sweeps/transformer/rotary_embedding_hf/rotary_embedding_hf.py
  ttnn/cpp/ttnn/operations/experimental/transformer/rotary_embedding_hf/device/rotary_embedding_hf_device_operation_types.hpp
  ttnn/cpp/ttnn/operations/experimental/transformer/rotary_embedding_hf/rotary_embedding_hf.cpp
  ttnn/cpp/ttnn/operations/experimental/transformer/rotary_embedding_hf/rotary_embedding_hf.hpp
  ttnn/cpp/ttnn/operations/experimental/transformer/rotary_embedding_hf/rotary_embedding_hf_nanobind.cpp
  ttnn/cpp/ttnn/operations/experimental/transformer/rotary_embedding_hf/rotary_embedding_hf_nanobind.hpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

Makes sweep test for rotary_embedding_hf closer to real world conditions
  tests/sweep_framework/sweeps/transformer/rotary_embedding_hf/rotary_embedding_hf.py
Due: none

Modifies replay tests so it shows detailed logs of tensors configs and shapes (as well as PCC summary)
  models/tt_transformers/tests/test_hf_rope_attention_capture_replay.py
  models/tt_transformers/tt/hf_rope_decode_capture.py
Due: none
