Repository tenstorrent/tt-metal: changes, and which pre-commit hooks are due for each by the changed paths.
All: block-ttnn-pybind-changes, detect-legacy-device-op, validate-golden-csv-columns

block-ttnn-pybind-changes:
  name: Prevent edits to frozen pybind11 sources under ttnn
  entry: python3 scripts/block_ttnn_pybind_changes.py
  language: system
  pass_filenames: true

detect-legacy-device-op:
  name: Detect legacy device operation classes in newly added files
  entry: python3 scripts/detect_legacy_device_op.py --check-new-only
  language: system
  pass_filenames: true
  require_serial: true

validate-golden-csv-columns:
  name: Validate golden bandwidth CSV column headers
  entry: bash .github/scripts/utils/validate_golden_csv_columns.sh
  language: system
  pass_filenames: false

Cleaning-up code
  ttnn/cpp/ttnn/operations/experimental/minimal_matmul/device/kernels/compute.cpp
  ttnn/cpp/ttnn/operations/experimental/minimal_matmul/device/kernels/dm_in0_sender.cpp
  ttnn/cpp/ttnn/operations/experimental/minimal_matmul/device/kernels/dm_in1_sender_out.cpp
Due: block-ttnn-pybind-changes

Fused addcmul work (if not using bias)
  ttnn/cpp/ttnn/operations/experimental/minimal_matmul/device/kernels/compute.cpp
  ttnn/cpp/ttnn/operations/experimental/minimal_matmul/device/kernels/dm_in0_sender.cpp
  ttnn/cpp/ttnn/operations/experimental/minimal_matmul/device/kernels/dm_in1_sender_out.cpp
  ttnn/cpp/ttnn/operations/experimental/minimal_matmul/device/kernels/matmul_dataflow_common.hpp
  ttnn/cpp/ttnn/operations/experimental/transformer/dit_minimal_matmul_addcmul_fused/dit_minimal_matmul_addcmul_fused.cpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

Optimization round #1
  ttnn/cpp/ttnn/operations/experimental/minimal_matmul/device/kernels/compute.cpp
  ttnn/cpp/ttnn/operations/experimental/minimal_matmul/device/kernels/dm_in0_sender.cpp
  ttnn/cpp/ttnn/operations/experimental/minimal_matmul/device/kernels/dm_in1_sender_out.cpp
  ttnn/cpp/ttnn/operations/experimental/minimal_matmul/device/kernels/matmul_dataflow_common.hpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

Update minimal_matmul with optional ternary fused arugments
  ttnn/cpp/ttnn/operations/experimental/minimal_matmul/device/minimal_matmul_device_operation.cpp
  ttnn/cpp/ttnn/operations/experimental/minimal_matmul/device/minimal_matmul_device_operation.hpp
  ttnn/cpp/ttnn/operations/experimental/minimal_matmul/device/minimal_matmul_device_operation_types.hpp
  ttnn/cpp/ttnn/operations/experimental/minimal_matmul/device/minimal_matmul_program_factory.cpp
  ttnn/cpp/ttnn/operations/experimental/minimal_matmul/device/minimal_matmul_program_factory.hpp
  ttnn/cpp/ttnn/operations/experimental/transformer/dit_minimal_matmul_addcmul_fused/dit_minimal_matmul_addcmul_fused.cpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

Address github comments
  tests/ttnn/nightly/unit_tests/operations/experimental/test_dit_minimal_matmul_addcmul_fused.py
  ttnn/cpp/ttnn/operations/experimental/minimal_matmul/device/kernels/matmul_dataflow_common.hpp
  ttnn/cpp/ttnn/operations/experimental/transformer/dit_minimal_matmul_addcmul_fused/dit_minimal_matmul_addcmul_fused_nanobind.cpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

Debugging
  tests/ttnn/nightly/unit_tests/operations/experimental/test_dit_minimal_matmul_addcmul_fused.py
  ttnn/cpp/ttnn/operations/experimental/minimal_matmul/device/kernels/matmul_dataflow_common.hpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

Code cleanup
  tests/ttnn/nightly/unit_tests/operations/experimental/test_dit_minimal_matmul_addcmul_fused.py
  ttnn/cpp/ttnn/operations/experimental/minimal_matmul/device/kernels/compute.cpp
  ttnn/cpp/ttnn/operations/experimental/minimal_matmul/device/kernels/matmul_dataflow_common.hpp
  ttnn/cpp/ttnn/operations/experimental/minimal_matmul/device/minimal_matmul_device_operation.cpp
  ttnn/cpp/ttnn/operations/experimental/minimal_matmul/device/minimal_matmul_device_operation.hpp
  ttnn/cpp/ttnn/operations/experimental/minimal_matmul/device/minimal_matmul_device_operation_types.hpp
  ttnn/cpp/ttnn/operations/experimental/minimal_matmul/device/minimal_matmul_program_factory.cpp
  ttnn/cpp/ttnn/operations/experimental/minimal_matmul/device/minimal_matmul_program_factory.hpp
  ttnn/cpp/ttnn/operations/experimental/transformer/dit_minimal_matmul_addcmul_fused/dit_minimal_matmul_addcmul_fused.cpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

More code cleanup
  tests/ttnn/nightly/unit_tests/operations/experimental/test_dit_minimal_matmul_addcmul_fused.py
  ttnn/cpp/ttnn/operations/experimental/minimal_matmul/device/kernels/compute.cpp
  ttnn/cpp/ttnn/operations/experimental/minimal_matmul/device/kernels/dm_in0_sender.cpp
  ttnn/cpp/ttnn/operations/experimental/minimal_matmul/device/kernels/dm_in1_sender_out.cpp
  ttnn/cpp/ttnn/operations/experimental/minimal_matmul/device/kernels/matmul_dataflow_common.hpp
  ttnn/cpp/ttnn/operations/experimental/minimal_matmul/device/minimal_matmul_device_operation_types.hpp
  ttnn/cpp/ttnn/operations/experimental/minimal_matmul/device/minimal_matmul_program_factory.cpp
  ttnn/cpp/ttnn/operations/experimental/transformer/dit_minimal_matmul_addcmul_fused/dit_minimal_matmul_addcmul_fused.cpp
  ttnn/cpp/ttnn/operations/experimental/transformer/dit_minimal_matmul_addcmul_fused/dit_minimal_matmul_addcmul_fused.hpp
  ttnn/cpp/ttnn/operations/experimental/transformer/dit_minimal_matmul_addcmul_fused/dit_minimal_matmul_addcmul_fused_nanobind.cpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

Add comments to read_ternary_blocks_sync
  ttnn/cpp/ttnn/operations/experimental/minimal_matmul/device/kernels/matmul_dataflow_common.hpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

Swap ternary_a and ternary_b loading
  ttnn/cpp/ttnn/operations/experimental/minimal_matmul/device/kernels/matmul_dataflow_common.hpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

Address copilot comments + add doc example
  tests/ttnn/docs_examples/test_matrix_multiplication_examples.py
  ttnn/cpp/ttnn/operations/experimental/minimal_matmul/device/kernels/compute.cpp
  ttnn/cpp/ttnn/operations/experimental/minimal_matmul/device/kernels/matmul_dataflow_common.hpp
  ttnn/cpp/ttnn/operations/experimental/transformer/dit_minimal_matmul_addcmul_fused/dit_minimal_matmul_addcmul_fused_nanobind.cpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

Broadcast ternary_b instead of ternary_a
  tests/ttnn/docs_examples/test_matrix_multiplication_examples.py
  tests/ttnn/nightly/unit_tests/operations/experimental/test_dit_minimal_matmul_addcmul_fused.py
  ttnn/cpp/ttnn/operations/experimental/minimal_matmul/device/kernels/compute.cpp
  ttnn/cpp/ttnn/operations/experimental/minimal_matmul/device/kernels/matmul_dataflow_common.hpp
  ttnn/cpp/ttnn/operations/experimental/minimal_matmul/device/minimal_matmul_device_operation.cpp
  ttnn/cpp/ttnn/operations/experimental/minimal_matmul/device/minimal_matmul_program_factory.cpp
  ttnn/cpp/ttnn/operations/experimental/transformer/dit_minimal_matmul_addcmul_fused/dit_minimal_matmul_addcmul_fused.cpp
  ttnn/cpp/ttnn/operations/experimental/transformer/dit_minimal_matmul_addcmul_fused/dit_minimal_matmul_addcmul_fused_nanobind.cpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

Testing other version of addcmul with broadcast & fixing tests not checking output
  tests/ttnn/nightly/unit_tests/operations/experimental/test_dit_minimal_matmul_addcmul_fused.py
  ttnn/cpp/ttnn/operations/experimental/minimal_matmul/device/kernels/compute.cpp
Due: block-ttnn-pybind-changes

Add TT_FATAL when using fused_activations and fused addcmul at the same time
  ttnn/cpp/ttnn/operations/experimental/minimal_matmul/device/kernels/compute.cpp
  ttnn/cpp/ttnn/operations/experimental/minimal_matmul/device/minimal_matmul_device_operation.cpp
  ttnn/cpp/ttnn/operations/experimental/transformer/dit_minimal_matmul_addcmul_fused/dit_minimal_matmul_addcmul_fused.cpp
  ttnn/cpp/ttnn/operations/experimental/transformer/dit_minimal_matmul_addcmul_fused/dit_minimal_matmul_addcmul_fused.hpp
  ttnn/cpp/ttnn/operations/experimental/transformer/dit_minimal_matmul_addcmul_fused/dit_minimal_matmul_addcmul_fused_nanobind.cpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

Fix misleading pack_tile arguments, stricter PCC threshold and swap ternary writing order
  tests/ttnn/nightly/unit_tests/operations/experimental/test_dit_minimal_matmul_addcmul_fused.py
  ttnn/cpp/ttnn/operations/experimental/minimal_matmul/device/kernels/compute.cpp
  ttnn/cpp/ttnn/operations/experimental/minimal_matmul/device/kernels/matmul_dataflow_common.hpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

Optimization and row broadcast
  tests/ttnn/nightly/unit_tests/operations/experimental/test_dit_minimal_matmul_addcmul_fused.py
  ttnn/cpp/ttnn/operations/experimental/minimal_matmul/device/kernels/compute.cpp
  ttnn/cpp/ttnn/operations/experimental/minimal_matmul/device/kernels/matmul_dataflow_common.hpp
  ttnn/cpp/ttnn/operations/experimental/minimal_matmul/device/minimal_matmul_device_operation.cpp
  ttnn/cpp/ttnn/operations/experimental/minimal_matmul/device/minimal_matmul_program_factory.cpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

Remove redundant tests
  tests/ttnn/nightly/unit_tests/operations/experimental/test_dit_minimal_matmul_addcmul_fused.py
Due: none

unary_bcast bug workaround
  tests/ttnn/nightly/unit_tests/operations/experimental/test_dit_minimal_matmul_addcmul_fused.py
  ttnn/cpp/ttnn/operations/experimental/minimal_matmul/device/kernels/compute.cpp
  ttnn/cpp/ttnn/operations/experimental/minimal_matmul/device/kernels/dm_in0_sender.cpp
  ttnn/cpp/ttnn/operations/experimental/minimal_matmul/device/kernels/matmul_dataflow_common.hpp
  ttnn/cpp/ttnn/operations/experimental/minimal_matmul/device/minimal_matmul_program_factory.cpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

removed cache validation
  .github/workflows/galaxy-quick-impl.yaml
Due: none

[skip ci] Add AI tool restrictions for bug bounty program
  CONTRIBUTING.md
Due: none

Revert "Run just this test"
  tests/pipeline_reorg/galaxy_demo_tests.yaml
Due: none

Debugging HiFi4 error on conv3d for Wan2.2
  models/tt_dit/tests/models/wan2_2/test_wan_conv3d.py
Due: none

ro
  .github/workflows/galaxy-demo-tests-impl.yaml
  .github/workflows/t3000-demo-tests-impl.yaml
Due: none

Add plotting script for conv3d errors
  plot_conv3d_errors.py
Due: none

Fixes integration for loop and comments in hf rope models tests
  tests/scripts/t3000/run_t3000_integration_tests.sh
Due: none

feat: [Bounty $3000] Add FFT and inverse FFT
  tt-train/sources/ttml/metal/common/dataflow_utils.hpp
  tt_metal/fabric/impl/kernels/edm_fabric/fabric_erisc_router.cpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/kernels/compute/compute_common.hpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

Debug: hardcode grid size
  ttnn/cpp/ttnn/operations/experimental/conv3d/device/conv3d_program_factory.cpp
Due: block-ttnn-pybind-changes

passing 4k unit test
  models/demos/gpt_oss/tests/unit/test_modules.py
  models/demos/gpt_oss/tt/experts_throughput/__init__.py
  models/demos/gpt_oss/tt/experts_throughput/prefill.py
Due: none

Implement K tensor column-subblock push for SDPA
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/kernels/compute/compute_common.hpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/kernels/dataflow/dataflow_common.hpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/kernels/dataflow/reader_interleaved.cpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/kernels/dataflow/writer_interleaved.cpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/ring_distributed_sdpa_program_factory.cpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/sdpa_program_factory.cpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

fix load_throughput_expert_weights
  models/demos/gpt_oss/tt/experts_throughput/__init__.py
  models/demos/gpt_oss/tt/experts_throughput/weights.py
Due: none

update
  tests/tt_metal/tt_fabric/custom_mesh_descriptors/galaxy_1x32_mesh_graph_descriptor.textproto
  tt-train/sources/ttml/ttnn_fixed/distributed/tt_metal.cpp
Due: none

update
  tt-train/configs/training_configs/training_shakespeare_tinyllama_tp_galaxy.yaml
Due: none

update
  tests/tt_metal/tt_fabric/custom_mesh_descriptors/galaxy_1x32_mesh_graph_descriptor.textproto
Due: none

23004 - Fix compilation and nanobind-related errors
  ttnn/cpp/ttnn/operations/reduction/topk/topk.hpp
  ttnn/cpp/ttnn/operations/reduction/topk/topk_nanobind.cpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

fix galaxy quick
  .github/workflows/galaxy-quick-impl.yaml
Due: none

Fix UINT8 typecast kernels for Wormhole and Blackhole architectures. Resolve all-zeros result bug and compilation errors. Fix ttnn test layout naming.
  tests/ttnn/unit_tests/operations/eltwise/test_eltwise_typecast.py
  tt_metal/hw/ckernels/blackhole/metal/llk_api/llk_sfpu/ckernel_sfpu_typecast.h
  tt_metal/hw/ckernels/wormhole_b0/metal/llk_api/llk_sfpu/ckernel_sfpu_typecast.h
Due: none

updated t3k
  tests/tt_metal/tt_metal/perf_microbenchmark/routing/golden/golden_latency_summary_wormhole_b0_t3k.csv
Due: none

add latency summary to artifact upload
  tests/tt_metal/tt_metal/perf_microbenchmark/routing/tt_fabric_test_latency_results.cpp
Due: none

move receive ptr to back of packet instead of front
  tests/tt_metal/tt_metal/perf_microbenchmark/routing/kernels/tt_fabric_latency_responder.cpp
  tests/tt_metal/tt_metal/perf_microbenchmark/routing/kernels/tt_fabric_latency_sender.cpp
Due: none

p150x4 tests
  tests/tt_metal/tt_metal/perf_microbenchmark/routing/golden/golden_latency_summary_blackhole_p150_x4.csv
Due: none

Path conditions:
  block-ttnn-pybind-changes: any of: ^ttnn/
  detect-legacy-device-op: any of: ^ttnn/.*\.hpp$
  validate-golden-csv-columns: any of: ^tests/tt_metal/tt_metal/perf_microbenchmark/routing/golden/.*bandwidth.*\.csv$
