Repository tenstorrent/tt-metal: changes, and which pre-commit hooks are due for each by the changed paths.
All: block-ttnn-pybind-changes, detect-legacy-device-op, validate-golden-csv-columns

block-ttnn-pybind-changes:
  name: Prevent edits to frozen pybind11 sources under ttnn
  entry: python3 scripts/block_ttnn_pybind_changes.py
  language: system
  pass_filenames: true

detect-legacy-device-op:
  name: Detect legacy device operation classes in newly added files
  entry: python3 scripts/detect_legacy_device_op.py --check-new-only
  language: system
  pass_filenames: true
  require_serial: true

validate-golden-csv-columns:
  name: Validate golden bandwidth CSV column headers
  entry: bash .github/scripts/utils/validate_golden_csv_columns.sh
  language: system
  pass_filenames: false

Fix SDPA zero_fill_block page-size: if constexpr instead of runtime ternary
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/kernels/dataflow/dataflow_common.hpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

[gpt-oss] Disable racy fused MM+reduce_scatter on Blackhole QB2 (#46181) (#46580)
  models/demos/gpt_oss/tt/attention/operations.py
Due: none

ci-digest: TEMP on:pull_request to preview digest (do not merge)
  .github/workflows/ci-digest.yaml
Due: none

Refinement 5: SFPU normalize path — lever 1 (partial, 9->6 fails)
  ttnn/ttnn/operations/scaled_dot_product_attention/agent_logs/ttnn-implementer_breadcrumbs.jsonl
  ttnn/ttnn/operations/scaled_dot_product_attention/kernels/scaled_dot_product_attention_compute.cpp
Due: block-ttnn-pybind-changes

Tighten ND_SHARDED legacy constructor validation
  tests/tt_metal/tt_metal/api/tensor/test_tensor_sharding.cpp
  tt_metal/impl/tensor/spec/memory_config/memory_config.cpp
Due: none

bringup(rednote_hilab_dots.ocr): perf ocr ok
  models/demos/rednote_hilab_dots.ocr/.bringup_state.json
  models/demos/rednote_hilab_dots.ocr/BRINGUP_LOG.md
  models/demos/rednote_hilab_dots.ocr/PERF_NOTES.md
  models/demos/rednote_hilab_dots.ocr/perf/traced/cpp_device_perf_report_traced.csv
  models/demos/rednote_hilab_dots.ocr/tt/ocr_model.py
  models/demos/rednote_hilab_dots.ocr/tt/profile_ocr.py
Due: none

Refinement 5: full-tile SFPU stat path (max/alpha/P/l/O) — partial
  ttnn/ttnn/operations/scaled_dot_product_attention/agent_logs/ttnn-implementer_breadcrumbs.jsonl
  ttnn/ttnn/operations/scaled_dot_product_attention/kernels/scaled_dot_product_attention_compute.cpp
  ttnn/ttnn/operations/scaled_dot_product_attention/scaled_dot_product_attention_program_descriptor.py
Due: block-ttnn-pybind-changes

Add a nightly schedule to deepseek prefill galaxy tests (#45854)
  .github/workflows/galaxy-deepseek-prefill-tests.yaml
Due: none

Replace llama3_70b_galaxy trace 26 with trace 127 (batch-32, 647 configs)
  model_tracer/trace_selection_registry.yaml
Due: none

Add llama3_70b_galaxy trace 127 (batch-32, 647 configs)
  model_tracer/trace_selection_registry.yaml
Due: none

Add InterProcessCounterChannel + Python (ttnn) binding (#46430)
  tests/ttnn/unit_tests/base_functionality/test_counter_channel.py
  tt_metal/api/internal/service/inter_process_counter_channel.hpp
  tt_metal/distributed/inter_process_counter_channel.cpp
  tt_metal/distributed/inter_process_counter_layout.hpp
  tt_metal/distributed/sources.cmake
  tt_metal/sources.cmake
  ttnn/cpp/ttnn-nanobind/__init__.cpp
  ttnn/cpp/ttnn-nanobind/counter_channel.cpp
  ttnn/cpp/ttnn-nanobind/counter_channel.hpp
  ttnn/sources.cmake
  ttnn/ttnn/__init__.py
Due: block-ttnn-pybind-changes, detect-legacy-device-op

fix(dots.ocr): size-gate vision L1 pins for document-scale inputs
  models/demos/rednote_hilab_dots.ocr/tt/vision_attention.py
  models/demos/rednote_hilab_dots.ocr/tt/vision_block.py
Due: none

agrmax optimization
  models/experimental/voxtraltts/demo/demo.py
  models/experimental/voxtraltts/tt/acoustic_model.py
Due: none

prefill runner LayerAck signal to prefill scheduler (#46332)
  models/demos/deepseek_v3_d_p/tt/mla/mla.py
  models/demos/deepseek_v3_d_p/tt/runners/prefill_runner.py
  models/demos/deepseek_v3_d_p/tt/tt_deepseek_prefill_pipeline.py
Due: none

[Cleanup] Migrate reader_pool_2d.cpp to Device 2.0 CircularBuffer accessor
  ttnn/cpp/ttnn/operations/pool/generic/device/kernels/dataflow/reader_pool_2d.cpp
Due: block-ttnn-pybind-changes

Refinement 5: WIP — pack is round-half-up not trunc; bit-trick reverted; probes 014-020
  tests/ttnn/unit_tests/operations/scaled_dot_product_attention/probes/probe_014.py
  tests/ttnn/unit_tests/operations/scaled_dot_product_attention/probes/probe_015.py
  tests/ttnn/unit_tests/operations/scaled_dot_product_attention/probes/probe_016.py
  tests/ttnn/unit_tests/operations/scaled_dot_product_attention/probes/probe_017.py
  tests/ttnn/unit_tests/operations/scaled_dot_product_attention/probes/probe_018.py
  tests/ttnn/unit_tests/operations/scaled_dot_product_attention/probes/probe_019.py
  tests/ttnn/unit_tests/operations/scaled_dot_product_attention/probes/probe_020.py
  tests/ttnn/unit_tests/operations/scaled_dot_product_attention/probes/probe_021.py
  tests/ttnn/unit_tests/operations/scaled_dot_product_attention/probes/probe_022.py
  tests/ttnn/unit_tests/operations/scaled_dot_product_attention/probes/probe_023.py
  tests/ttnn/unit_tests/operations/scaled_dot_product_attention/probes/probe_024.py
  tests/ttnn/unit_tests/operations/scaled_dot_product_attention/probes/probe_025.py
  tests/ttnn/unit_tests/operations/scaled_dot_product_attention/probes/probe_026.py
  ttnn/ttnn/operations/scaled_dot_product_attention/agent_logs/ttnn-implementer_breadcrumbs.jsonl
  ttnn/ttnn/operations/scaled_dot_product_attention/kernels/scaled_dot_product_attention_compute.cpp
  ttnn/ttnn/operations/scaled_dot_product_attention/scaled_dot_product_attention_program_descriptor.py
Due: block-ttnn-pybind-changes

Refactor device print buffer implementation and update related structures for improved memory management
  tt_metal/hostdevcommon/api/hostdevcommon/dprint_common.h
  tt_metal/hw/inc/api/debug/device_print.h
  tt_metal/hw/inc/hostdev/dev_msgs.h
  tt_metal/hw/inc/hostdev/device_print_common.h
  tt_metal/hw/inc/internal/debug/dprint_buffer.h
  tt_metal/hw/inc/internal/tt-1xx/blackhole/device_print_mem.h
  tt_metal/hw/inc/internal/tt-1xx/wormhole/device_print_mem.h
  tt_metal/hw/inc/internal/tt-2xx/quasar/device_print_mem.h
  tt_metal/hw/sources.cmake
  tt_metal/impl/debug/dprint_server.cpp
  tt_metal/impl/debug/dprint_server.hpp
  tt_metal/impl/dispatch/kernel_config/dispatch_s.cpp
Due: none

#44463: universal_input_support_for_non_zero_indices
  ttnn/cpp/ttnn/operations/data_movement/non_zero_indices/device/kernels/dataflow/non_zero_indices_sc_reader.cpp
  ttnn/cpp/ttnn/operations/data_movement/non_zero_indices/device/non_zero_indices_device_operation.cpp
  ttnn/cpp/ttnn/operations/data_movement/non_zero_indices/device/non_zero_indices_program_factory.cpp
  ttnn/cpp/ttnn/operations/data_movement/non_zero_indices/non_zero_indices.cpp
Due: block-ttnn-pybind-changes

#44463: nonzero_mask for float dtypes
  ttnn/cpp/ttnn/operations/data_movement/non_zero_indices/device/kernels/dataflow/non_zero_indices_sc_reader.cpp
  ttnn/cpp/ttnn/operations/data_movement/non_zero_indices/device/non_zero_indices_program_factory.cpp
Due: block-ttnn-pybind-changes

#44463: update comments
  tests/sweep_framework/sweeps/data_movement/nonzero/nonzero.py
  tests/ttnn/unit_tests/operations/data_movement/test_non_zero_indices.py
  ttnn/cpp/ttnn/operations/data_movement/non_zero_indices/device/kernels/dataflow/non_zero_indices_sc_reader.cpp
  ttnn/cpp/ttnn/operations/data_movement/non_zero_indices/device/non_zero_indices_device_operation.cpp
  ttnn/cpp/ttnn/operations/data_movement/non_zero_indices/device/non_zero_indices_program_factory.cpp
  ttnn/cpp/ttnn/operations/data_movement/non_zero_indices/non_zero_indices.cpp
Due: block-ttnn-pybind-changes

#44463: remove dead logical_last_dim
  ttnn/cpp/ttnn/operations/data_movement/non_zero_indices/device/kernels/dataflow/non_zero_indices_sc_reader.cpp
  ttnn/cpp/ttnn/operations/data_movement/non_zero_indices/device/non_zero_indices_program_factory.cpp
Due: block-ttnn-pybind-changes

fix(deepseek tests): don't symlink-resolve the HF_MODEL env path
  models/demos/deepseek_v3_d_p/tests/conftest.py
Due: none

Preserve ND provenance in with_shard_spec
  tests/tt_metal/tt_metal/api/tensor/test_tensor_sharding.cpp
  tt_metal/api/tt-metalium/experimental/tensor/spec/memory_config/memory_config.hpp
Due: none

Add per-core regression for with_shard_spec
  tests/tt_metal/tt_metal/api/tensor/test_tensor_sharding.cpp
Due: none

deepseek_v3_d_p MLA: hoist chunked ring_mla gathered-KV buffer to one-per-model
  models/demos/deepseek_v3_d_p/tt/mla/mla.py
  models/demos/deepseek_v3_d_p/tt/tt_ccl.py
Due: none

deepseek_v3_d_p MLA: hoist ring-attention persistent buffers to one-per-model
  models/demos/deepseek_v3_d_p/tt/mla/mla.py
  models/demos/deepseek_v3_d_p/tt/tt_ccl.py
Due: none

[ttnn-expert-debugger] DEBUG: print recip(l) fp32 bits at Phase 11
  tests/ttnn/unit_tests/operations/scaled_dot_product_attention/probes/probe_027.py
  ttnn/ttnn/operations/scaled_dot_product_attention/agent_logs/ttnn-expert-debugger_breadcrumbs.jsonl
  ttnn/ttnn/operations/scaled_dot_product_attention/kernels/scaled_dot_product_attention_compute.cpp
Due: block-ttnn-pybind-changes

[LLK][WH] Math-side ALU data-format state tracker owns the Src zero flag (tt-llk #966) [WIP]
  tt_metal/hw/ckernels/wormhole_b0/metal/llk_api/llk_unpack_common_api.h
  tt_metal/hw/inc/api/compute/eltwise_unary/eltwise_unary.h
  tt_metal/hw/inc/api/compute/transpose_wh.h
  tt_metal/tt-llk/tt_llk_wormhole_b0/common/inc/ckernel_defs.h
  tt_metal/tt-llk/tt_llk_wormhole_b0/common/inc/cmath_common.h
  tt_metal/tt-llk/tt_llk_wormhole_b0/common/inc/cunpack_common.h
  tt_metal/tt-llk/tt_llk_wormhole_b0/llk_lib/llk_math_common.h
  tt_metal/tt-llk/tt_llk_wormhole_b0/llk_lib/llk_math_eltwise_unary_datacopy.h
  tt_metal/tt-llk/tt_llk_wormhole_b0/llk_lib/llk_math_reduce.h
  tt_metal/tt-llk/tt_llk_wormhole_b0/llk_lib/llk_math_transpose_dest.h
  tt_metal/tt-llk/tt_llk_wormhole_b0/llk_lib/llk_unpack_A.h
  tt_metal/tt-llk/tt_llk_wormhole_b0/llk_lib/llk_unpack_common.h
Due: none

Add dwadhwaniTT and arginugaTT as codeowners for gemma-4
  .github/CODEOWNERS
Due: none

ct/fabric cluster update (#43899)
  tests/tt_metal/distributed/hd_socket_test_utils.cpp
  tests/tt_metal/multihost/socket_pipeline/multiprocess/multi_host_pipeline.cpp
  tests/tt_metal/tt_fabric/fabric_router/test_physical_grouping_descriptor.cpp
  tests/tt_metal/tt_fabric/fabric_router/test_routing_tables.cpp
  tests/tt_metal/tt_fabric/fabric_router/test_topology_mapper.cpp
  tests/tt_metal/tt_fabric/fabric_router/test_topology_mapper_utils.cpp
  tests/tt_metal/tt_fabric/physical_discovery/test_physical_system_descriptor.cpp
  tests/tt_metal/tt_fabric/system_health/test_system_health.cpp
  tests/ttnn/unit_tests/gtests/multiprocess/test_send_recv_pipeline.cpp
  tools/scaleout/src/generate_rank_bindings.cpp
  tools/scaleout/validation/run_cluster_validation.cpp
  tools/scaleout/validation/utils/cluster_validation_utils.cpp
  tools/tests/scaleout/test_link_retraining.cpp
  tt_metal/api/tt-metalium/experimental/fabric/control_plane.hpp
  tt_metal/fabric/control_plane.cpp
  tt_metal/fabric/physical_system_discovery.cpp
  tt_metal/fabric/physical_system_discovery.hpp
  tt_metal/llrt/tt_cluster.cpp
  tt_metal/llrt/tunnels_from_mmio_device.cpp
  tt_metal/llrt/tunnels_from_mmio_device.hpp
Due: none

Generating MPI rank IDs to match Mesh IDs where possible (#44197)
  tests/tt_metal/tt_fabric/fabric_router/test_multi_host.cpp
  tools/scaleout/src/generate_rank_bindings.cpp
  tt_metal/api/tt-metalium/experimental/fabric/topology_mapper_utils.hpp
  tt_metal/fabric/topology_mapper.cpp
  tt_metal/fabric/topology_mapper_utils.cpp
Due: none

[fabric][jit] Demote verbose log_info to log_trace (#44438)
  tt_metal/api/tt-metalium/experimental/fabric/topology_solver.tpp
  tt_metal/fabric/topology_mapper.cpp
  tt_metal/fabric/topology_mapper_utils.cpp
  tt_metal/jit_build/build_cache_telemetry.cpp
Due: none

P150_LB Eth Channel + MB Slot Enumeration Fix (#44395)
  tt_metal/fabric/physical_system_discovery.cpp
Due: none

fabric: eliminate redundant TopologyDiscovery call in run_local_discovery_live (#46254)
  tt_metal/fabric/physical_system_discovery.cpp
Due: none

orchestrator: mandate KV-cached decode for AR use cases
  skills/orchestrator/workers/architecture-worker.md
  skills/orchestrator/workers/generation-worker.md
  skills/orchestrator/workers/perf-worker.md
Due: none

chore(rednote_hilab_dots.ocr): redo ocr:generation+perf with kv_cache decode strategy
  models/demos/rednote_hilab_dots.ocr/.bringup_state.json
  models/demos/rednote_hilab_dots.ocr/BRINGUP_LOG.md
Due: none

Path conditions:
  block-ttnn-pybind-changes: any of: ^ttnn/
  detect-legacy-device-op: any of: ^ttnn/.*\.hpp$
  validate-golden-csv-columns: any of: ^tests/tt_metal/tt_metal/perf_microbenchmark/routing/golden/.*bandwidth.*\.csv$
