Repository tenstorrent/tt-metal: changes, and which pre-commit hooks are due for each by the changed paths.
All: block-ttnn-pybind-changes, detect-legacy-device-op, validate-golden-csv-columns

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v3.2.0
  hooks:
    - id: trailing-whitespace
      exclude: \.patch$
    - id: end-of-file-fixer
      exclude: \.patch$
    - id: check-yaml
      args: ["--unsafe"]
    - id: check-added-large-files
# Using this mirror lets us use mypyc-compiled black, which is about 2x faster
- repo: https://github.com/psf/black-pre-commit-mirror
  rev: 23.10.1
  hooks:
    - id: black
      language_version: python3
- repo: https://github.com/PyCQA/autoflake
  rev: v2.3.1
  hooks:
    - id: autoflake
      args: [--remove-all-unused-imports, --in-place, --recursive, --exclude=__init__.py]
      files: ^models/  # Run only on files in the models directory
- repo: https://github.com/pycqa/isort
  rev: 5.13.2
  hooks:
    - id: isort
      files: ^models/
      exclude: ^models/(demos/llama3_70b_galaxy|experimental)/
- repo: https://github.com/BlankSpruce/gersemi
  rev: 0.16.2
  hooks:
    - id: gersemi
- repo: https://github.com/adrienverge/yamllint.git
  rev: v1.35.1
  hooks:
    - id: yamllint
- repo: https://github.com/pre-commit/mirrors-clang-format
  rev: v19.1.4
  hooks:
    - id: clang-format
      entry: git-clang-format
      require_serial: true
      types_or: [c++, c]
      args: ["--style=file"]
- repo: local
  hooks:
    - id: validate-metalium-includes
      name: validate-metalium-includes
      entry: python3 scripts/validate_api/validate_includes.py tt_metal/api --check-ttnn-forwards
      language: system
      pass_filenames: false
    - id: validate-metalium-deprecation
      name: validate-metalium-deprecation
      entry: python3 scripts/validate_api/validate_deprecation.py tt_metal/api origin/main
      language: system
      pass_filenames: false
- repo: local
  hooks:
    - id: check-torch-imports-in-ttnn
      name: Verify that there is no global torch import in ttnn
      entry: python3 scripts/validate_no_global_torch_imports.py
      language: system
      pass_filenames: false
- repo: local
  hooks:
    - id: block-ttnn-pybind-changes
      name: Prevent edits to frozen pybind11 sources under ttnn
      entry: python3 scripts/block_ttnn_pybind_changes.py
      language: system
      pass_filenames: true
      files: ^ttnn/
- repo: local
  hooks:
    - id: convert-notebooks-to-py
      name: Convert .ipynb to .py for ttnn basic examples
      entry: python3 scripts/convert_notebooks_to_python.py
      language: system
- repo: local
  hooks:
    - id: detect-legacy-device-op
      name: Detect legacy device operation classes in newly added files
      entry: python3 scripts/detect_legacy_device_op.py --check-new-only
      language: system
      types: [file]
      files: ^ttnn/.*\.hpp$
      pass_filenames: true
      require_serial: true
- repo: local
  hooks:
    - id: validate-golden-csv-columns
      name: Validate golden bandwidth CSV column headers
      entry: bash .github/scripts/utils/validate_golden_csv_columns.sh
      language: system
      pass_filenames: false
      files: ^tests/tt_metal/tt_metal/perf_microbenchmark/routing/golden/.*bandwidth.*\.csv$

Adding Distribution Spec for Legacy 2D Shard Specs (#39582)
  tests/ttnn/unit_tests/gtests/tensor/test_tensor_nd_sharding.cpp
  tests/ttnn/unit_tests/tensor/test_tensor_creation.py
  tests/ttnn/unit_tests/tensor/test_tensor_nd_sharding.py
  tt_metal/impl/tensor/spec/layout/tensor_layout.cpp
  ttnn/cpp/ttnn/operations/data_movement/untilize/device/factories/untilize_multi_core_input_and_output_nd_shard_type_and_shard_spec_identical_program_factory.cpp
  ttnn/cpp/ttnn/operations/data_movement/untilize/device/factories/untilize_multi_core_program_factory.cpp
  ttnn/cpp/ttnn/operations/full/device/full_program_factory_nd_sharded.cpp
  ttnn/cpp/ttnn/operations/full/device/full_program_factory_sharded.cpp
Due: block-ttnn-pybind-changes

fix build
  ttnn/cpp/ttnn/operations/experimental/conv3d/prepare_conv3d_weights.cpp
  ttnn/cpp/ttnn/operations/experimental/conv3d/prepare_conv3d_weights.hpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

#0: debug hang in fused ops
  models/demos/glm4_moe_lite/scripts/debug_run_full_tt_greedy.py
  models/demos/glm4_moe_lite/tt/layer_weights.py
Due: none

#33755: Lgamma float32 LLK
  tt_metal/hw/ckernels/blackhole/metal/llk_api/llk_sfpu/ckernel_sfpu_lgamma.h
  tt_metal/hw/ckernels/blackhole/metal/llk_api/llk_sfpu/llk_math_eltwise_sfpu_lgamma.h
  tt_metal/hw/ckernels/wormhole_b0/metal/llk_api/llk_sfpu/ckernel_sfpu_lgamma.h
  tt_metal/hw/ckernels/wormhole_b0/metal/llk_api/llk_sfpu/llk_math_eltwise_sfpu_lgamma.h
  tt_metal/hw/inc/api/compute/eltwise_unary/lgamma.h
  ttnn/cpp/ttnn/operations/eltwise/unary/common/unary_op_utils.cpp
  ttnn/cpp/ttnn/operations/eltwise/unary/device/kernels/compute/lgamma_fast_kernel.cpp
  ttnn/cpp/ttnn/operations/eltwise/unary/device/unary_composite_op.cpp
Due: block-ttnn-pybind-changes

Support loading weights from cache
  models/demos/gpt_oss/demo/text_demo.py
  models/demos/gpt_oss/tt/attention/weights.py
  models/demos/gpt_oss/tt/common.py
  models/demos/gpt_oss/tt/experts/weights.py
  models/demos/gpt_oss/tt/model.py
  models/demos/gpt_oss/tt/rms_norm.py
  models/demos/gpt_oss/tt/topk.py
Due: none

Bugfix
  models/demos/gpt_oss/demo/text_demo.py
Due: none

Removed logger
  models/demos/gpt_oss/tt/model.py
Due: none

Fix OOM
  models/demos/gpt_oss/demo/text_demo.py
  models/demos/gpt_oss/tt/attention/prefill.py
  models/demos/gpt_oss/tt/expert_configs.py
  models/demos/gpt_oss/tt/experts/prefill.py
Due: none

fix batch128
  models/demos/gpt_oss/demo/text_demo.py
Due: none

Enable seqlen 128k
  models/demos/gpt_oss/demo/text_demo.py
  models/demos/gpt_oss/tt/layer.py
Due: none

Address comments
  models/demos/gpt_oss/demo/text_demo.py
  models/demos/gpt_oss/tt/experts/config.py
  models/demos/gpt_oss/tt/experts/prefill.py
Due: none

Fixed swiglu bug
  models/demos/gpt_oss/tt/experts/prefill.py
Due: none

Working 128k seqlen
  models/demos/gpt_oss/conftest.py
  models/demos/gpt_oss/demo/text_demo.py
  models/demos/gpt_oss/tt/model.py
Due: none

fix lm head sampling RMS norm and bcast race
  models/demos/deepseek_v3_b1/fused_ops/lm_head_sampling/kernels/lm_head_sampling_kernel.cpp
  models/demos/deepseek_v3_b1/tests/unit_tests/test_lm_head_sampling.py
Due: none

updating llama model code to use to_layout rather than tilize
  models/tt_transformers/tt/multimodal/llama_class_embedding.py
Due: none

Refactor unary eltwise operations
  ttnn/cpp/ttnn/operations/eltwise/complex_unary/CMakeLists.txt
  ttnn/cpp/ttnn/operations/eltwise/complex_unary/complex_unary.cpp
  ttnn/cpp/ttnn/operations/eltwise/complex_unary/complex_unary.hpp
  ttnn/cpp/ttnn/operations/eltwise/complex_unary/complex_unary_nanobind.cpp
  ttnn/cpp/ttnn/operations/eltwise/complex_unary/device/complex_unary_op.hpp
  ttnn/cpp/ttnn/operations/eltwise/complex_unary_backward/CMakeLists.txt
  ttnn/cpp/ttnn/operations/eltwise/complex_unary_backward/complex_unary_backward.cpp
  ttnn/cpp/ttnn/operations/eltwise/complex_unary_backward/complex_unary_backward.hpp
  ttnn/cpp/ttnn/operations/eltwise/complex_unary_backward/complex_unary_backward_nanobind.cpp
  ttnn/cpp/ttnn/operations/eltwise/quantization/quantization.cpp
  ttnn/cpp/ttnn/operations/eltwise/quantization/quantization.hpp
  ttnn/cpp/ttnn/operations/eltwise/quantization/quantization_nanobind.cpp
  ttnn/cpp/ttnn/operations/eltwise/unary/device/unary_composite_op.cpp
  ttnn/cpp/ttnn/operations/eltwise/unary/unary.cpp
  ttnn/cpp/ttnn/operations/eltwise/unary/unary.hpp
  ttnn/cpp/ttnn/operations/eltwise/unary/unary_composite.hpp
  ttnn/cpp/ttnn/operations/eltwise/unary/unary_nanobind.cpp
  ttnn/cpp/ttnn/operations/eltwise/unary_backward/unary_backward.cpp
  ttnn/cpp/ttnn/operations/eltwise/unary_backward/unary_backward.hpp
  ttnn/cpp/ttnn/operations/eltwise/unary_backward/unary_backward_nanobind.cpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

Refactor binary and ternary eltwise operations
  tests/tt_eager/ops/test_eltwise_binary_op.cpp
  ttnn/cpp/ttnn/operations/eltwise/binary/binary.cpp
  ttnn/cpp/ttnn/operations/eltwise/binary/binary.hpp
  ttnn/cpp/ttnn/operations/eltwise/binary/binary_composite.hpp
  ttnn/cpp/ttnn/operations/eltwise/binary/binary_nanobind.cpp
  ttnn/cpp/ttnn/operations/eltwise/binary/device/binary_composite_op.cpp
  ttnn/cpp/ttnn/operations/eltwise/complex/complex.cpp
  ttnn/cpp/ttnn/operations/eltwise/complex/complex.hpp
  ttnn/cpp/ttnn/operations/eltwise/complex/complex_nanobind.cpp
  ttnn/cpp/ttnn/operations/eltwise/complex_binary/complex_binary.cpp
  ttnn/cpp/ttnn/operations/eltwise/complex_binary/device/complex_binary_op.hpp
  ttnn/cpp/ttnn/operations/eltwise/ternary/ternary.cpp
  ttnn/cpp/ttnn/operations/eltwise/ternary/ternary.hpp
  ttnn/cpp/ttnn/operations/eltwise/ternary/ternary_composite.hpp
  ttnn/cpp/ttnn/operations/eltwise/ternary/ternary_nanobind.cpp
  ttnn/cpp/ttnn/operations/eltwise/ternary_backward/ternary_backward.cpp
  ttnn/cpp/ttnn/operations/eltwise/ternary_backward/ternary_backward.hpp
  ttnn/cpp/ttnn/operations/eltwise/ternary_backward/ternary_backward_nanobind.cpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

Refactor binary backward eltwise operations
  ttnn/cpp/ttnn/operations/eltwise/binary_backward/binary_backward.cpp
  ttnn/cpp/ttnn/operations/eltwise/binary_backward/binary_backward.hpp
  ttnn/cpp/ttnn/operations/eltwise/binary_backward/binary_backward_nanobind.cpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

Filter memory_config from op_kwargs to fix incompatible function arguments
  tests/sweep_framework/sweep_utils/op_kwargs_utils.py
Due: none

fix build
  tests/ttnn/unit_tests/gtests/test_graph_query_op_constraints.cpp
  ttnn/cpp/ttnn/operations/matmul/matmul.cpp
Due: block-ttnn-pybind-changes

removed some comments
  models/experimental/gated_attention_gated_deltanet/tt/ttnn_delta_rule_ops.py
Due: none

Added Conv with Native Silu
  models/experimental/gated_attention_gated_deltanet/README.md
  models/experimental/gated_attention_gated_deltanet/tt/ttnn_gated_deltanet.py
Due: none

L1 implemented for all, device time reduced from 4200us to 3060us
  models/experimental/gated_attention_gated_deltanet/tests/test_ttnn_validation.py
  models/experimental/gated_attention_gated_deltanet/tt/ttnn_delta_rule_ops.py
  models/experimental/gated_attention_gated_deltanet/tt/ttnn_gated_deltanet.py
Due: none

updated to L1 memory config to reshape ops Pre-computed program_configs outside the loop Updated matmul program_config strategy now matmul time is 587.23 μs totl is stil 3078us
  models/experimental/gated_attention_gated_deltanet/tt/ttnn_delta_rule_ops.py
Due: none

fused test working T=16 cs=64 (Output PCC=0.996075, State PCC=0.999971)
  models/experimental/gated_attention_gated_deltanet/tests/test_ttnn_validation.py
  models/experimental/gated_attention_gated_deltanet/tt/fused_chunked_delta_rule_placeholder.py
Due: none

fused chunked delta rule to tt-symbiotte
  models/experimental/tt_symbiote/core/utils.py
  models/experimental/tt_symbiote/modules/delta_rule.py
  models/experimental/tt_symbiote/tests/test_delta_rule.py
Due: none

Adding CODEOWNERS for gated attention and gated deltanet
  .github/CODEOWNERS
Due: none

cleanup
  models/experimental/gated_attention_gated_deltanet/tests/test_ttnn_validation.py
  models/experimental/gated_attention_gated_deltanet/tt/fused_chunked_delta_rule_placeholder.py
Due: none

ttnn tril triu and eye
  models/experimental/gated_attention_gated_deltanet/tt/ttnn_delta_rule_ops.py
Due: none

changes in conv2d L1_small to DRAM and single multiply by premultiply
  models/experimental/gated_attention_gated_deltanet/tt/ttnn_delta_rule_ops.py
  models/experimental/gated_attention_gated_deltanet/tt/ttnn_gated_deltanet.py
Due: none

benchmark test added
  models/experimental/gated_attention_gated_deltanet/tests/test_ttnn_validation.py
Due: none

wip fused kernels
  models/experimental/gated_attention_gated_deltanet/tests/test_ttnn_validation.py
  models/experimental/gated_attention_gated_deltanet/tt/fused_chunked_delta_rule_placeholder.py
Due: none

wip- binary ops core program config
  models/experimental/gated_attention_gated_deltanet/tt/ttnn_delta_rule_ops.py
  ttnn/ttnn/operations/unary.py
Due: block-ttnn-pybind-changes

Updated gated_attention with SDPA for torch and ttnn
  models/experimental/gated_attention_gated_deltanet/README.md
  models/experimental/gated_attention_gated_deltanet/tests/sweep_seq_len.py
  models/experimental/gated_attention_gated_deltanet/tests/test_ttnn_validation.py
  models/experimental/gated_attention_gated_deltanet/torch_functional/gated_attention.py
  models/experimental/gated_attention_gated_deltanet/tt/ttnn_gated_attention.py
Due: none

Adding a first draft implementation of gated attention + gated deltanet
  models/experimental/gated_attention_gated_deltanet/README.md
  models/experimental/gated_attention_gated_deltanet/tests/__init__.py
  models/experimental/gated_attention_gated_deltanet/tests/sweep_seq_len.py
  models/experimental/gated_attention_gated_deltanet/tests/test_gated_attention.py
  models/experimental/gated_attention_gated_deltanet/tests/test_gated_deltanet.py
  models/experimental/gated_attention_gated_deltanet/tests/test_ttnn_validation.py
  models/experimental/gated_attention_gated_deltanet/torch_functional/__init__.py
  models/experimental/gated_attention_gated_deltanet/torch_functional/delta_rule_ops.py
  models/experimental/gated_attention_gated_deltanet/torch_functional/gated_attention.py
  models/experimental/gated_attention_gated_deltanet/torch_functional/gated_deltanet.py
  models/experimental/gated_attention_gated_deltanet/tt/__init__.py
  models/experimental/gated_attention_gated_deltanet/tt/ttnn_delta_rule_ops.py
  models/experimental/gated_attention_gated_deltanet/tt/ttnn_gated_attention.py
  models/experimental/gated_attention_gated_deltanet/tt/ttnn_gated_deltanet.py
Due: none

Adding SPDX license
  models/experimental/gated_attention_gated_deltanet/README.md
  models/experimental/gated_attention_gated_deltanet/tests/sweep_seq_len.py
  models/experimental/gated_attention_gated_deltanet/tests/test_gated_attention.py
  models/experimental/gated_attention_gated_deltanet/tests/test_gated_deltanet.py
  models/experimental/gated_attention_gated_deltanet/tests/test_ttnn_validation.py
  models/experimental/gated_attention_gated_deltanet/torch_functional/delta_rule_ops.py
  models/experimental/gated_attention_gated_deltanet/torch_functional/gated_attention.py
  models/experimental/gated_attention_gated_deltanet/torch_functional/gated_deltanet.py
  models/experimental/gated_attention_gated_deltanet/tt/ttnn_delta_rule_ops.py
  models/experimental/gated_attention_gated_deltanet/tt/ttnn_gated_attention.py
  models/experimental/gated_attention_gated_deltanet/tt/ttnn_gated_deltanet.py
Due: none

Rename APC to Sanity (#39574)
  .cursor/commands/git/run-workflows.md
  .cursor/commands/ttnn/find-operation-tests.md
  .cursor/commands/ttnn/find_operation_tests.py
  .github/actions/analyze-workflow-data/owners.json
  .github/pull_request_template.md
  .github/workflows/_auto-retry-post-commit.yaml
  .github/workflows/_produce-data.yaml
  .github/workflows/aggregate-workflow-data.yaml
  .github/workflows/llk-auto-uplift-trigger.yaml
  .github/workflows/sanity-tests-debug.yaml
  .github/workflows/sanity-tests-pr.yaml
  .github/workflows/sanity-tests.yaml
  .github/workflows/test-llk-metal-integration.yaml
  CONTRIBUTING.md
  README.md
  docs/source/tt-metalium/tools/llk_asserts.rst
  scripts/compare_workflow_runs.py
  tests/scripts/download_artifacts.sh
Due: none
