Repository tenstorrent/tt-metal: changes, and which pre-commit hooks are due for each by the changed paths.
All: block-ttnn-pybind-changes, detect-legacy-device-op, validate-golden-csv-columns

block-ttnn-pybind-changes:
  name: Prevent edits to frozen pybind11 sources under ttnn
  entry: python3 scripts/block_ttnn_pybind_changes.py
  language: system
  pass_filenames: true

detect-legacy-device-op:
  name: Detect legacy device operation classes in newly added files
  entry: python3 scripts/detect_legacy_device_op.py --check-new-only
  language: system
  pass_filenames: true
  require_serial: true

validate-golden-csv-columns:
  name: Validate golden bandwidth CSV column headers
  entry: bash .github/scripts/utils/validate_golden_csv_columns.sh
  language: system
  pass_filenames: false

Clean up extra files
  models/experimental/deepseek_v4_flash/VLLM_INTEGRATION_PLAN.md
  models/experimental/deepseek_v4_flash/WEIGHT_PLACEMENT.md
  models/experimental/deepseek_v4_flash/tests/test_attention_real_weights.py
  models/experimental/deepseek_v4_flash/tests/test_decoder_layer_pcc.py
  models/experimental/deepseek_v4_flash/tests/test_linear_decode_prefetcher.py
  models/experimental/deepseek_v4_flash/tests/test_model_by_layer_pcc.py
  models/experimental/deepseek_v4_flash/tests/test_server_scheduler.py
  models/experimental/deepseek_v4_flash/tools/ATTENTION_TP_OPTIMIZATION.md
  models/experimental/deepseek_v4_flash/tt/decode_prefetch.py
  models/experimental/deepseek_v4_flash/tt/embedding.py
  models/experimental/deepseek_v4_flash/tt/generator.py
  models/experimental/deepseek_v4_flash/tt/generator_vllm.py
  models/experimental/deepseek_v4_flash/tt/l1_placement.py
  models/experimental/deepseek_v4_flash/tt/model.py
  models/experimental/deepseek_v4_flash/tt/moe.py
  models/experimental/deepseek_v4_flash/tt/system_config.py
  models/experimental/deepseek_v4_flash/tt/weight_cache.py
Due: none

Make output of row major input also row major
  tests/ttnn/nightly/unit_tests/operations/matmul/test_matmul_decode.py
  ttnn/cpp/ttnn/operations/experimental/matmul_decode/device/full_width_sharded_program_factory.cpp
  ttnn/cpp/ttnn/operations/experimental/matmul_decode/device/kernels/compute/compute_full_width_sharded.cpp
  ttnn/cpp/ttnn/operations/experimental/matmul_decode/device/matmul_decode_descriptor.cpp
  ttnn/cpp/ttnn/operations/experimental/matmul_decode/device/matmul_decode_descriptor.hpp
  ttnn/cpp/ttnn/operations/experimental/matmul_decode/device/matmul_decode_device_operation.cpp
  ttnn/cpp/ttnn/operations/experimental/matmul_decode/device/matmul_decode_device_operation.hpp
  ttnn/cpp/ttnn/operations/experimental/matmul_decode/device/partial_width_sharded_program_factory.cpp
  ttnn/cpp/ttnn/operations/experimental/matmul_decode/matmul_decode.cpp
  ttnn/cpp/ttnn/operations/experimental/matmul_decode/matmul_decode.hpp
  ttnn/cpp/ttnn/operations/experimental/matmul_decode/matmul_decode_nanobind.cpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

#0: LTX host affinity: narrow only full-mask threads, re-apply after device open
  models/tt_dit/pipelines/ltx/pipeline_ltx.py
  models/tt_dit/tests/unit/test_host_affinity.py
  models/tt_dit/utils/host_affinity.py
Due: none

Address comments
  tests/ttnn/unit_tests/operations/eltwise/test_pow.py
  tt_metal/hw/ckernels/blackhole/metal/llk_api/llk_sfpu/ckernel_sfpu_binary_pow.h
  tt_metal/hw/ckernels/wormhole_b0/metal/llk_api/llk_sfpu/ckernel_sfpu_binary_pow.h
Due: none

Nits
  tests/ttnn/unit_tests/operations/eltwise/test_pow.py
  tt_metal/hw/ckernels/blackhole/metal/llk_api/llk_sfpu/ckernel_sfpu_binary_pow.h
  tt_metal/hw/ckernels/wormhole_b0/metal/llk_api/llk_sfpu/ckernel_sfpu_binary_pow.h
Due: none

Fix inf/nan cases for base -0
  tests/ttnn/unit_tests/operations/eltwise/test_pow.py
  tt_metal/hw/ckernels/blackhole/metal/llk_api/llk_sfpu/ckernel_sfpu_binary_pow.h
  tt_metal/hw/ckernels/wormhole_b0/metal/llk_api/llk_sfpu/ckernel_sfpu_binary_pow.h
Due: none

Fix binary pow fp32 inf/nan cases
  tests/ttnn/unit_tests/operations/eltwise/test_pow.py
  tt_metal/hw/ckernels/blackhole/metal/llk_api/llk_sfpu/ckernel_sfpu_binary_pow.h
  tt_metal/hw/ckernels/wormhole_b0/metal/llk_api/llk_sfpu/ckernel_sfpu_binary_pow.h
Due: none

Fix smoke tests failure
  tt_metal/hw/ckernels/blackhole/metal/llk_api/llk_sfpu/ckernel_sfpu_binary_pow.h
  tt_metal/hw/ckernels/wormhole_b0/metal/llk_api/llk_sfpu/ckernel_sfpu_binary_pow.h
Due: none

Add llk test
  tests/ttnn/unit_tests/operations/eltwise/test_pow.py
  tt_metal/tt-llk/tests/python_tests/test_sfpu_binary_pow_zero_base.py
  tt_metal/tt-llk/tests/sources/sfpu_binary_pow_zero_base_test.cpp
Due: none

Fix narrow-block cliff-row args
  ttnn/cpp/ttnn/operations/data_movement/tilize/device/tilize_multi_core_block_program_factory.cpp
Due: block-ttnn-pybind-changes

Apply the cliff-row fix to every block-factory copy
  ttnn/cpp/ttnn/operations/data_movement/tilize_with_val_padding/device/factories/tilize_with_val_padding_multi_core_block_interleaved_program_factory.cpp
  ttnn/cpp/ttnn/operations/data_movement/untilize/device/factories/untilize_multi_core_block_program_factory.cpp
  ttnn/cpp/ttnn/operations/data_movement/untilize_with_unpadding/device/factories/untilize_with_unpadding_multi_core_block_interleaved_program_factory.cpp
Due: block-ttnn-pybind-changes

Nits
  tests/ttnn/unit_tests/operations/data_movement/test_tilize.py
Due: none

Add grid-independent shape
  tests/ttnn/unit_tests/operations/data_movement/test_tilize.py
Due: none

Repoint Blaze pipeline DSv3 weights at the shared blaze checkpoint
  tests/pipeline_reorg/blaze_models_prefill_tests.yaml
Due: none

#0: LTX: lossless export knob + frame/audio parity tool (testing only)
  models/tt_dit/tests/models/ltx/tools/__init__.py
  models/tt_dit/tests/models/ltx/tools/ltx_parity.py
  models/tt_dit/utils/video.py
Due: none

#0: LTX: keep the video latent on device from stage 1 through the upsampler into stage 2
  models/tt_dit/models/upsampler/latent_upsampler_ltx.py
  models/tt_dit/pipelines/ltx/pipeline_ltx_distilled.py
Due: none

#0: LTX: convert to yuv420p on device by default when exporting
  models/tt_dit/pipelines/ltx/pipeline_ltx_distilled.py
Due: none

#0: LTX yuv fast path: clamp the RGB input to [-1, 1] before the conversion
  models/tt_dit/utils/yuv_d2h.py
Due: none

docs(gemma4): consolidate baseline+DFlash ISL sweep into one comparison table
  models/demos/gemma4/README.md
Due: none

Qwen3-TTS: tighten the README's prose
  models/demos/audio/qwen3_tts/README.md
Due: none

Clarify GroupNorm accuracy override and conservative L1 estimate
  ttnn/cpp/ttnn/operations/normalization/groupnorm/device/groupnorm_program_utils.cpp
  ttnn/cpp/ttnn/operations/normalization/groupnorm/device/groupnorm_program_utils.hpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

ci: run only the Kimi-K2.7 SC4 disaggregated KV PCC leg
  tests/pipeline_reorg/blaze_models_prefill_tests.yaml
Due: none

reshape: port to codegen, attempt 2 (recovered from a failed run)
  ttnn/cpp/ttnn/operations/data_movement/reshape_on_device/codegen/reshape_codegen_supported.cpp
  ttnn/cpp/ttnn/operations/data_movement/reshape_view/reshape.cpp
  ttnn/cpp/ttnn/operations/data_movement/reshape_view/reshape_force.hpp
  ttnn/cpp/ttnn/operations/data_movement/reshape_view/reshape_nanobind.cpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

[LLK] Restore --maxschedchunk=10 so perf measurements reproduce
  tt_metal/tt-llk/tests/python_tests/pytest.ini
Due: none

WIP Use Rm in Attention
  models/experimental/deepseek_v4_flash/tests/test_attention_real_weights.py
  models/experimental/deepseek_v4_flash/tests/test_full_model_decode_demo.py
  models/experimental/deepseek_v4_flash/tests/test_fused_partial_rope_op.py
  models/experimental/deepseek_v4_flash/tests/test_qkv_layouts.py
  models/experimental/deepseek_v4_flash/tt/attention.py
  models/experimental/deepseek_v4_flash/tt/decode_prefetch.py
  models/experimental/deepseek_v4_flash/tt/layers.py
  tests/ttnn/nightly/unit_tests/operations/matmul/test_matmul_decode.py
  tests/ttnn/unit_tests/operations/transformers/test_paged_update_cache_row_major.py
  ttnn/cpp/ttnn/operations/experimental/matmul_decode/device/full_width_sharded_program_factory.cpp
  ttnn/cpp/ttnn/operations/experimental/matmul_decode/device/kernels/dataflow/writer_full_width_output_mcast.cpp
  ttnn/cpp/ttnn/operations/experimental/paged_cache/device/kernels/compute/update_cache.cpp
  ttnn/cpp/ttnn/operations/experimental/paged_cache/device/kernels/dataflow/reader_update_cache_interleaved_start_id.cpp
  ttnn/cpp/ttnn/operations/experimental/paged_cache/device/kernels/dataflow/writer_update_cache_interleaved_start_id.cpp
  ttnn/cpp/ttnn/operations/experimental/paged_cache/device/update_cache/paged_update_cache_device_operation.cpp
  ttnn/cpp/ttnn/operations/experimental/paged_cache/device/update_cache/paged_update_cache_program_factory.cpp
  ttnn/cpp/ttnn/operations/experimental/paged_cache/paged_cache_nanobind.cpp
  ttnn/cpp/ttnn/operations/experimental/transformer/fused_partial_rope/device/fused_partial_rope_device_operation.cpp
  ttnn/cpp/ttnn/operations/experimental/transformer/fused_partial_rope/device/fused_partial_rope_device_operation.hpp
  ttnn/cpp/ttnn/operations/experimental/transformer/fused_partial_rope/device/kernels/compute/fused_partial_rope.cpp
  ttnn/cpp/ttnn/operations/experimental/transformer/fused_partial_rope/device/kernels/compute/fused_partial_rope_width_sharded.cpp
  ttnn/cpp/ttnn/operations/experimental/transformer/fused_partial_rope/fused_partial_rope.hpp
  ttnn/cpp/ttnn/operations/experimental/transformer/fused_partial_rope/fused_partial_rope_nanobind.cpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

WIP Working, but slow new LLKS
  models/experimental/deepseek_v4_flash/configs/system_configs.yaml
  models/experimental/deepseek_v4_flash/tests/test_attention_real_weights_tp.py
  models/experimental/deepseek_v4_flash/tests/test_full_model_decode_demo.py
  models/experimental/deepseek_v4_flash/tt/attention.py
  models/experimental/deepseek_v4_flash/tt/decode_prefetch.py
  models/experimental/deepseek_v4_flash/tt/layers.py
  models/experimental/deepseek_v4_flash/tt/model.py
  models/experimental/deepseek_v4_flash/tt/system_config.py
  tests/ttnn/nightly/unit_tests/operations/matmul/test_matmul_decode.py
  tests/ttnn/nightly/unit_tests/operations/sdpa/test_sdpa_decode.py
  tests/ttnn/unit_tests/operations/sdpa/sdpa_test_utils.py
  ttnn/cpp/ttnn/operations/experimental/matmul_decode/device/full_width_sharded_program_factory.cpp
  ttnn/cpp/ttnn/operations/experimental/matmul_decode/device/kernels/compute/compute_full_width_sharded.cpp
  ttnn/cpp/ttnn/operations/experimental/matmul_decode/device/kernels/dataflow/full_width_rms_norm_transport.hpp
  ttnn/cpp/ttnn/operations/experimental/matmul_decode/device/kernels/dataflow/writer_full_width_output_mcast.cpp
  ttnn/cpp/ttnn/operations/experimental/matmul_decode/device/kernels/dataflow/writer_full_width_rms_norm.cpp
  ttnn/cpp/ttnn/operations/experimental/matmul_decode/device/matmul_decode_device_operation.cpp
  ttnn/cpp/ttnn/operations/transformer/sdpa_decode/device/kernels/compute/sdpa_flash_decode.cpp
  ttnn/cpp/ttnn/operations/transformer/sdpa_decode/device/kernels/dataflow/dataflow_common.hpp
  ttnn/cpp/ttnn/operations/transformer/sdpa_decode/device/kernels/dataflow/reader_decode_all.cpp
  ttnn/cpp/ttnn/operations/transformer/sdpa_decode/device/kernels/dataflow/writer_decode_all.cpp
  ttnn/cpp/ttnn/operations/transformer/sdpa_decode/device/sdpa_decode_program_factory.cpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

Support row major in all matmul_decode types
  tests/ttnn/nightly/unit_tests/operations/matmul/test_matmul_decode.py
  ttnn/cpp/ttnn/operations/experimental/matmul_decode/device/batched_width_sharded_program_factory.cpp
  ttnn/cpp/ttnn/operations/experimental/matmul_decode/device/full_width_sharded_program_factory.cpp
  ttnn/cpp/ttnn/operations/experimental/matmul_decode/device/kernels/compute/compute_full_width_sharded.cpp
  ttnn/cpp/ttnn/operations/experimental/matmul_decode/device/matmul_decode_descriptor.cpp
  ttnn/cpp/ttnn/operations/experimental/matmul_decode/device/matmul_decode_descriptor.hpp
  ttnn/cpp/ttnn/operations/experimental/matmul_decode/device/matmul_decode_device_operation.cpp
  ttnn/cpp/ttnn/operations/experimental/matmul_decode/device/matmul_decode_device_operation.hpp
  ttnn/cpp/ttnn/operations/experimental/matmul_decode/device/partial_width_sharded_program_factory.cpp
  ttnn/cpp/ttnn/operations/experimental/matmul_decode/matmul_decode.cpp
  ttnn/cpp/ttnn/operations/experimental/matmul_decode/matmul_decode.hpp
  ttnn/cpp/ttnn/operations/experimental/matmul_decode/matmul_decode_nanobind.cpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

Fix output shard spec calculation.
  models/experimental/ops/descriptors/matmul_decode.py
Due: none

Cover grouped fused RMSNorm geometries
  tests/ttnn/nightly/unit_tests/operations/matmul/test_matmul_decode.py
  tests/ttnn/unit_tests/operations/fused/parallel_sequential/test_matmul_decode_fusion.py
Due: none

Fuse per-head q_b RMSNorm in matmul decode
  models/experimental/deepseek_v4_flash/tests/test_qkv_layouts.py
  models/experimental/deepseek_v4_flash/tt/attention.py
  models/experimental/deepseek_v4_flash/tt/layers.py
Due: none

Working. Optimized qkv. 24 tok/s/u on LB
  models/experimental/deepseek_v4_flash/tests/test_attention_real_weights_tp.py
  models/experimental/deepseek_v4_flash/tt/attention.py
  models/experimental/deepseek_v4_flash/tt/layers.py
Due: none

Add grouped RMSNorm API to matmul decode
  models/experimental/ops/descriptors/matmul_decode.py
  tests/ttnn/nightly/unit_tests/operations/matmul/test_matmul_decode.py
  ttnn/cpp/ttnn/operations/experimental/matmul_decode/device/matmul_decode_descriptor.cpp
  ttnn/cpp/ttnn/operations/experimental/matmul_decode/device/matmul_decode_descriptor.hpp
  ttnn/cpp/ttnn/operations/experimental/matmul_decode/device/matmul_decode_device_operation.cpp
  ttnn/cpp/ttnn/operations/experimental/matmul_decode/device/matmul_decode_device_operation.hpp
  ttnn/cpp/ttnn/operations/experimental/matmul_decode/matmul_decode.cpp
  ttnn/cpp/ttnn/operations/experimental/matmul_decode/matmul_decode.hpp
  ttnn/cpp/ttnn/operations/experimental/matmul_decode/matmul_decode_nanobind.cpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

Implement grouped fused RMSNorm compute
  tests/ttnn/nightly/unit_tests/operations/matmul/test_matmul_decode.py
  ttnn/cpp/ttnn/operations/experimental/matmul_decode/device/full_width_sharded_program_factory.cpp
  ttnn/cpp/ttnn/operations/experimental/matmul_decode/device/kernels/compute/compute_full_width_sharded.cpp
  ttnn/cpp/ttnn/operations/experimental/matmul_decode/device/kernels/dataflow/full_width_rms_norm_transport.hpp
  ttnn/cpp/ttnn/operations/experimental/matmul_decode/device/kernels/dataflow/writer_full_width_output_mcast.cpp
  ttnn/cpp/ttnn/operations/experimental/matmul_decode/device/kernels/dataflow/writer_full_width_rms_norm.cpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

Add grouped RMSNorm transport topology
  ttnn/cpp/ttnn/operations/experimental/matmul_decode/device/full_width_sharded_program_factory.cpp
  ttnn/cpp/ttnn/operations/experimental/matmul_decode/device/kernels/dataflow/full_width_rms_norm_transport.hpp
  ttnn/cpp/ttnn/operations/experimental/matmul_decode/device/kernels/dataflow/writer_full_width_output_mcast.cpp
  ttnn/cpp/ttnn/operations/experimental/matmul_decode/device/kernels/dataflow/writer_full_width_rms_norm.cpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

docs(llama): clarify migration coverage design
  models/demos/llama_3p1_8b_d_p/docs/migration-prefill-tests.md
Due: none

WIP Optimizing qkv
  docs/superpowers/specs/2026-09-08-matmul-decode-fused-rmsnorm-perf-regression.md
  models/experimental/deepseek_v4_flash/tests/test_attention_real_weights_tp.py
  models/experimental/deepseek_v4_flash/tests/test_full_model_decode_demo.py
  models/experimental/deepseek_v4_flash/tt/attention.py
  models/experimental/deepseek_v4_flash/tt/layers.py
  tests/ttnn/nightly/unit_tests/operations/experimental/test_width_to_height_shard.py
  ttnn/cpp/ttnn/operations/experimental/CMakeLists.txt
  ttnn/cpp/ttnn/operations/experimental/deepseek/width_to_height_shard/CMakeLists.txt
  ttnn/cpp/ttnn/operations/experimental/deepseek/width_to_height_shard/device/kernels/dataflow/reader_width_to_height_shard.cpp
  ttnn/cpp/ttnn/operations/experimental/deepseek/width_to_height_shard/device/kernels/dataflow/writer_width_to_height_shard.cpp
  ttnn/cpp/ttnn/operations/experimental/deepseek/width_to_height_shard/device/width_to_height_shard_device_operation.cpp
  ttnn/cpp/ttnn/operations/experimental/deepseek/width_to_height_shard/device/width_to_height_shard_device_operation.hpp
  ttnn/cpp/ttnn/operations/experimental/deepseek/width_to_height_shard/device/width_to_height_shard_device_operation_types.hpp
  ttnn/cpp/ttnn/operations/experimental/deepseek/width_to_height_shard/device/width_to_height_shard_program_factory.cpp
  ttnn/cpp/ttnn/operations/experimental/deepseek/width_to_height_shard/device/width_to_height_shard_program_factory.hpp
  ttnn/cpp/ttnn/operations/experimental/deepseek/width_to_height_shard/sources.cmake
  ttnn/cpp/ttnn/operations/experimental/deepseek/width_to_height_shard/width_to_height_shard.cpp
  ttnn/cpp/ttnn/operations/experimental/deepseek/width_to_height_shard/width_to_height_shard.hpp
  ttnn/cpp/ttnn/operations/experimental/deepseek/width_to_height_shard/width_to_height_shard_nanobind.cpp
  ttnn/cpp/ttnn/operations/experimental/deepseek/width_to_height_shard/width_to_height_shard_nanobind.hpp
  ttnn/cpp/ttnn/operations/experimental/experimental_nanobind.cpp
  ttnn/cpp/ttnn/operations/experimental/matmul_decode/device/full_width_sharded_program_factory.cpp
  ttnn/cpp/ttnn/operations/experimental/matmul_decode/device/matmul_decode_device_operation.cpp
  ttnn/cpp/ttnn/operations/experimental/matmul_decode/matmul_decode.hpp
  ttnn/cpp/ttnn/operations/experimental/matmul_decode/matmul_decode_nanobind.cpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

Working with RM Attn qkv & SDPA
  models/experimental/deepseek_v4_flash/tt/attention.py
  models/experimental/deepseek_v4_flash/tt/layers.py
  tests/ttnn/nightly/unit_tests/operations/sdpa/test_sdpa_decode.py
  ttnn/cpp/ttnn/operations/transformer/sdpa_decode/device/sdpa_decode_device_operation.cpp
  ttnn/cpp/ttnn/operations/transformer/sdpa_decode/device/sdpa_decode_program_factory.cpp
Due: block-ttnn-pybind-changes

Update all gather matmul
  models/experimental/deepseek_v4_flash/tests/test_attention_real_weights_tp.py
  models/experimental/deepseek_v4_flash/tests/test_full_model_decode_demo.py
  models/experimental/deepseek_v4_flash/tests/test_sdpa_decode_pcc.py
  models/experimental/deepseek_v4_flash/tt/attention.py
  tests/ttnn/nightly/unit_tests/operations/experimental/test_all_gather_for_matmul.py
  tests/ttnn/nightly/unit_tests/operations/experimental/test_width_to_height_shard.py
  ttnn/cpp/ttnn/operations/experimental/CMakeLists.txt
  ttnn/cpp/ttnn/operations/experimental/deepseek/all_gather_for_matmul/CMakeLists.txt
  ttnn/cpp/ttnn/operations/experimental/deepseek/all_gather_for_matmul/all_gather_for_matmul.cpp
  ttnn/cpp/ttnn/operations/experimental/deepseek/all_gather_for_matmul/all_gather_for_matmul.hpp
  ttnn/cpp/ttnn/operations/experimental/deepseek/all_gather_for_matmul/all_gather_for_matmul_nanobind.cpp
  ttnn/cpp/ttnn/operations/experimental/deepseek/all_gather_for_matmul/all_gather_for_matmul_nanobind.hpp
  ttnn/cpp/ttnn/operations/experimental/deepseek/all_gather_for_matmul/device/all_gather_for_matmul_device_operation.cpp
  ttnn/cpp/ttnn/operations/experimental/deepseek/all_gather_for_matmul/device/all_gather_for_matmul_device_operation.hpp
  ttnn/cpp/ttnn/operations/experimental/deepseek/all_gather_for_matmul/device/all_gather_for_matmul_device_operation_types.hpp
  ttnn/cpp/ttnn/operations/experimental/deepseek/all_gather_for_matmul/device/all_gather_for_matmul_program_factory.cpp
  ttnn/cpp/ttnn/operations/experimental/deepseek/all_gather_for_matmul/device/all_gather_for_matmul_program_factory.hpp
  ttnn/cpp/ttnn/operations/experimental/deepseek/all_gather_for_matmul/device/kernels/dataflow/reader_all_gather_for_matmul.cpp
  ttnn/cpp/ttnn/operations/experimental/deepseek/all_gather_for_matmul/device/kernels/dataflow/writer_all_gather_for_matmul.cpp
  ttnn/cpp/ttnn/operations/experimental/deepseek/all_gather_for_matmul/device/kernels/dataflow/writer_mcast_for_matmul.cpp
  ttnn/cpp/ttnn/operations/experimental/deepseek/all_gather_for_matmul/sources.cmake
  ttnn/cpp/ttnn/operations/experimental/deepseek/width_to_height_shard/device/width_to_height_shard_program_factory.cpp
  ttnn/cpp/ttnn/operations/experimental/deepseek/width_to_height_shard/sources.cmake
  ttnn/cpp/ttnn/operations/experimental/deepseek/width_to_height_shard/width_to_height_shard_nanobind.cpp
  ttnn/cpp/ttnn/operations/experimental/experimental_nanobind.cpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

Remove tilize before paged_cache_update
  models/experimental/deepseek_v4_flash/configs/system_configs.yaml
  models/experimental/deepseek_v4_flash/tests/test_full_model_decode_demo.py
  models/experimental/deepseek_v4_flash/tt/attention.py
  models/experimental/deepseek_v4_flash/tt/model.py
Due: none

Optimized rope
  models/experimental/deepseek_v4_flash/tests/test_apply_rope_fused_integration.py
  models/experimental/deepseek_v4_flash/tests/test_fused_partial_rope_op.py
  models/experimental/deepseek_v4_flash/tt/attention.py
  ttnn/cpp/ttnn/operations/experimental/transformer/fused_partial_rope/device/fused_partial_rope_device_operation.cpp
  ttnn/cpp/ttnn/operations/experimental/transformer/fused_partial_rope/device/fused_partial_rope_device_operation.hpp
  ttnn/cpp/ttnn/operations/experimental/transformer/fused_partial_rope/device/kernels/compute/fused_partial_rope.cpp
  ttnn/cpp/ttnn/operations/experimental/transformer/fused_partial_rope/device/kernels/compute/fused_partial_rope_width_sharded.cpp
  ttnn/cpp/ttnn/operations/experimental/transformer/fused_partial_rope/fused_partial_rope.cpp
  ttnn/cpp/ttnn/operations/experimental/transformer/fused_partial_rope/fused_partial_rope.hpp
  ttnn/cpp/ttnn/operations/experimental/transformer/fused_partial_rope/fused_partial_rope_nanobind.cpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

Path conditions:
  block-ttnn-pybind-changes: any of: ^ttnn/
  detect-legacy-device-op: any of: ^ttnn/.*\.hpp$
  validate-golden-csv-columns: any of: ^tests/tt_metal/tt_metal/perf_microbenchmark/routing/golden/.*bandwidth.*\.csv$
