Repository tenstorrent/tt-metal: changes, and which pre-commit hooks are due for each by the changed paths.
All: block-ttnn-pybind-changes, detect-legacy-device-op, validate-golden-csv-columns

block-ttnn-pybind-changes:
  name: Prevent edits to frozen pybind11 sources under ttnn
  entry: python3 scripts/block_ttnn_pybind_changes.py
  language: system
  pass_filenames: true

detect-legacy-device-op:
  name: Detect legacy device operation classes in newly added files
  entry: python3 scripts/detect_legacy_device_op.py --check-new-only
  language: system
  pass_filenames: true
  require_serial: true

validate-golden-csv-columns:
  name: Validate golden bandwidth CSV column headers
  entry: bash .github/scripts/utils/validate_golden_csv_columns.sh
  language: system
  pass_filenames: false

full N dimension generality and cleanup
  ttnn/cpp/ttnn/operations/experimental/ccl/strided_reduce_scatter_async/device/kernels/minimal_ring_strided_reduce_scatter_async_writer.cpp
Due: block-ttnn-pybind-changes

prepare for fusion
  tests/nightly/t3000/ccl/test_minimal_matmul_strided_reduce_scatter_async.py
Due: none

full N dimension generality
  tests/nightly/t3000/ccl/test_minimal_matmul_strided_reduce_scatter_async.py
Due: none

Integrated to dit lib
  models/tt_dit/layers/linear.py
  models/tt_dit/tests/models/wan2_2/test_transformer_wan.py
Due: none

revert add
  models/tt_dit/tests/models/wan2_2/test_transformer_wan.py
Due: none

checkpoint implement fusion
  ttnn/cpp/ttnn/operations/experimental/ccl/strided_reduce_scatter_async/device/strided_reduce_scatter_ring_program_factory.hpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

clean
  ttnn/cpp/ttnn/operations/experimental/ccl/strided_reduce_scatter_async/device/strided_reduce_scatter_ring_program_factory.hpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

fix semaphores
  ttnn/cpp/ttnn/operations/experimental/ccl/strided_reduce_scatter_async/device/kernels/minimal_ring_strided_reduce_scatter_async_reader.cpp
  ttnn/cpp/ttnn/operations/experimental/ccl/strided_reduce_scatter_async/device/kernels/minimal_ring_strided_reduce_scatter_async_writer.cpp
Due: block-ttnn-pybind-changes

claude attempt (improvement)
  ttnn/cpp/ttnn/operations/experimental/ccl/strided_reduce_scatter_async/device/kernels/minimal_ring_strided_reduce_scatter_async_writer.cpp
Due: block-ttnn-pybind-changes

add sweep test for reference
  tests/nightly/tg/ccl/test_minimal_matmul_strided_reduce_scatter_async_sweep.py
Due: none

failing test and attempt to fix it
  tests/nightly/tg/ccl/test_minimal_matmul_strided_reduce_scatter_async.py
  ttnn/cpp/ttnn/operations/experimental/ccl/strided_reduce_scatter_async/device/kernels/minimal_ring_strided_reduce_scatter_async_writer.cpp
Due: block-ttnn-pybind-changes

fix hang
  models/tt_dit/layers/linear.py
Due: none

fix graph processor
  ttnn/core/graph/graph_processor.cpp
Due: block-ttnn-pybind-changes

Add Synthetic weights
  models/demos/deepseek_v3/reference/model.safetensors.index.json
  models/demos/deepseek_v3/tests/test_mla.py
  setup.sh
Due: none

Update `rotary_embedding_llama` test to do pre-, post-transpose with ttnn instead of torch in decode mode as in Deepseek
  tests/tt_eager/python_api_testing/unit_testing/misc/test_rotary_embedding_llama.py
Due: none

Potential fix for pull request finding
  .github/workflows/ai-tools.yaml
Due: none

[Security] Fix CRITICAL: Pin ai-tools workflow to commit SHA
  .github/workflows/ai-tools.yaml
Due: none

Disable ai-tools workflow completely
  .github/workflows/ai-tools.yaml
Due: none

slight update
  ttnn/cpp/ttnn/operations/transformer/sdpa_decode/sdpa_decode_nanobind.cpp
Due: block-ttnn-pybind-changes

Replace reciprocal + Mills ratio with degree-4 correction polynomial in GELU exp region
  tt_metal/hw/ckernels/blackhole/metal/llk_api/llk_sfpu/ckernel_sfpu_gelu.h
  tt_metal/hw/ckernels/wormhole_b0/metal/llk_api/llk_sfpu/ckernel_sfpu_gelu.h
Due: none

Hanging - add MUX to ring attention CCL
  ttnn/cpp/ttnn/operations/experimental/ccl/ring_attention_all_gather_async/device/kernels/ring_attention_all_gather_writer.cpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/exp_ring_joint_sdpa_program_factory.cpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/exp_ring_joint_sdpa_program_factory.hpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

tt_symbiote: added initial version
  models/tt_symbiote/README.md
  models/tt_symbiote/core/dispatcher.py
  models/tt_symbiote/core/module.py
  models/tt_symbiote/core/tensor.py
  models/tt_symbiote/modules/activation.py
  models/tt_symbiote/modules/attention.py
  models/tt_symbiote/modules/linear.py
  models/tt_symbiote/modules/normalization.py
  models/tt_symbiote/tests/test_llama.py
  models/tt_symbiote/tests/test_vit.py
  models/tt_symbiote/utils/device_management.py
  models/tt_symbiote/utils/module_replacement.py
Due: none

owl vit: added test for #30878
  models/tt_symbiote/README.md
  models/tt_symbiote/tests/test_owl_vit.py
Due: none

tt_symbiote: added more ops
  models/tt_symbiote/core/dispatcher.py
  models/tt_symbiote/core/tensor.py
Due: none

tt_symbiote: added speech_t5 test for #32184
  models/tt_symbiote/README.md
  models/tt_symbiote/tests/test_speech_t5.py
Due: none

tt_symbiote: added custom dispatching
  models/tt_symbiote/core/dispatcher.py
  models/tt_symbiote/core/dispatchers/README.md
  models/tt_symbiote/core/dispatchers/__init__.py
  models/tt_symbiote/core/dispatchers/debug_dispatcher.py
  models/tt_symbiote/core/dispatchers/default_dispatcher.py
  models/tt_symbiote/core/dispatchers/dispatcher_config.py
Due: none

tt_symbiote: added cpu dispatcher for non-module operations
  models/tt_symbiote/core/dispatchers/cpu_dispatcher.py
  models/tt_symbiote/core/dispatchers/dispatcher_config.py
Due: none

tt_symbiote: added exclude replacement
  models/tt_symbiote/README.md
Due: none

tt_symbiote: added logging and fixed readme
  models/tt_symbiote/core/dispatchers/README.md
  models/tt_symbiote/core/dispatchers/debug_dispatcher.py
  models/tt_symbiote/core/dispatchers/dispatcher_config.py
  models/tt_symbiote/core/run_config.py
Due: none

tt_symbiote: added run configs
  models/tt_symbiote/core/dispatcher.py
  models/tt_symbiote/core/run_config.py
Due: none

tt_symbiote : add intial support for whisper-large-v3
  models/tt_symbiote/tests/test_whisper3.py
Due: none

tt_symbiote: return new modules after replacement
  models/tt_symbiote/utils/module_replacement.py
Due: none

tt_symbiote: recorded wall time for ops
  models/tt_symbiote/core/run_config.py
Due: none

tt_symbiote: updated readme
  models/tt_symbiote/README.md
Due: none

tt_symbiote: added open vla and conv tests
  models/tt_symbiote/core/run_config.py
  models/tt_symbiote/core/utils.py
  models/tt_symbiote/tests/test_conv.py
  models/tt_symbiote/tests/test_openvla.py
Due: none

tt_symbiote: updated CNN/Resnet Code
  models/tt_symbiote/core/module.py
  models/tt_symbiote/core/run_config.py
  models/tt_symbiote/modules/activation.py
  models/tt_symbiote/modules/conv.py
  models/tt_symbiote/modules/tensor.py
  models/tt_symbiote/tests/test_resnet50.py
Due: none

tt_symbiote: added mesh_device support. Currently replicates by default, but supports custom mapping
  models/tt_symbiote/core/run_config.py
  models/tt_symbiote/core/tensor.py
Due: none

tt_symbiote: added speech_t5 decoder updates
  models/tt_symbiote/core/dispatcher.py
  models/tt_symbiote/core/tensor.py
  models/tt_symbiote/tests/test_speech_t5.py
Due: none

tt_symbiote: added flow diagram to README
  models/tt_symbiote/ARCHITECTURE.svg
  models/tt_symbiote/README.md
Due: none

tt_symbiote: replaced LLama Linear with normal linear since weights fit in N150
  models/tt_symbiote/tests/test_speech_t5.py
Due: none

Path conditions:
  block-ttnn-pybind-changes: any of: ^ttnn/
  detect-legacy-device-op: any of: ^ttnn/.*\.hpp$
  validate-golden-csv-columns: any of: ^tests/tt_metal/tt_metal/perf_microbenchmark/routing/golden/.*bandwidth.*\.csv$
