Repository tenstorrent/tt-metal: changes, and which pre-commit hooks are due for each by the changed paths.
All: block-ttnn-pybind-changes, detect-legacy-device-op, validate-golden-csv-columns

block-ttnn-pybind-changes:
  name: Prevent edits to frozen pybind11 sources under ttnn
  entry: python3 scripts/block_ttnn_pybind_changes.py
  language: system
  pass_filenames: true

detect-legacy-device-op:
  name: Detect legacy device operation classes in newly added files
  entry: python3 scripts/detect_legacy_device_op.py --check-new-only
  language: system
  pass_filenames: true
  require_serial: true

validate-golden-csv-columns:
  name: Validate golden bandwidth CSV column headers
  entry: bash .github/scripts/utils/validate_golden_csv_columns.sh
  language: system
  pass_filenames: false

[Bug fix] Declare watcher ASSERT before including risc_common.h (#52349)
  tt_metal/hw/inc/api/debug/assert.h
Due: none

kv cache table
  models/demos/common/prefill/docs/PREFILL_MIGRATION_TESTING.md
  models/demos/common/prefill/runners/migration_driver.py
  models/demos/common/prefill/runners/prefill_producer.py
  models/demos/deepseek_v3_d_p/tests/test_kv_cache_table.py
  models/demos/deepseek_v3_d_p/utils/kv_cache_utils.py
Due: none

ci(blaze): skip sc1 caller for prefill_runner_kv_pcc-only dispatch
  .github/workflows/blaze-models-prefill-tests.yaml
Due: none

ci(blaze): reap prefill runner on exit, calibrate timeout to 15m
  .github/time_budget.yaml
  tests/pipeline_reorg/blaze_models_prefill_tests.yaml
Due: none

[regime_a_mm] AGMM wavefront phase 1: make the cb0 slot assignment schedule-driven (bit-identical)
  tools/mm_sweep/picker_gen/agmm_hash_worker.py
  ttnn/cpp/ttnn/operations/experimental/all_gather_regime_a_matmul_async/device/all_gather_regime_a_matmul_async_program_factory.cpp
  ttnn/cpp/ttnn/operations/experimental/all_gather_regime_a_matmul_async/device/kernels/in0_ring_reduce_writer.cpp
Due: block-ttnn-pybind-changes

[regime_a_mm] AGMM spec: correct appendix B -- a cb0 slot index IS the consumption-order index
  tools/mm_sweep/REGIME_A_AGMM_DESIGN_SPEC.md
Due: none

Fix sampler bottleneck
  models/experimental/deepseek_v4_flash/demo/server.py
  models/experimental/deepseek_v4_flash/tests/test_multi_user_paged_decode_demo.py
  models/experimental/deepseek_v4_flash/tests/test_server_scheduler.py
Due: none

findings: N+11's 2x2 is suspect -- scored before WEDGE/TEARDOWN were separable
  tools/drisc_drain/FINDINGS.md
Due: none

fix(issue-solver): preserve clean final packaging
  tt_metal/tt-llk/codegen/agents/issue-solver/issue-worker.md
  tt_metal/tt-llk/codegen/scripts/issue_solver/orchestrator_steps.sh
  tt_metal/tt-llk/codegen/scripts/setup_worktree.sh
Due: none

more comments
  tt_metal/hw/inc/api/compute/experimental/face_compressed_mm.h
  tt_metal/tt-llk/tt_llk_blackhole/common/inc/ckernel_code_sequence.h
  tt_metal/tt-llk/tt_llk_wormhole_b0/common/inc/ckernel_code_sequence.h
Due: none

Fix build-wrapper.yaml fetch-depth type error on workflow_dispatch (#52386)
  .github/workflows/build-wrapper.yaml
Due: none

skillexp: restructure READ-THIS -- name the three components, fix order in section 3, tier the remaining value
  skillexp/ADVCHAL-V2-ANALYST-PITFALLS.md
  skillexp/ADVCHAL-V2-FINDINGS.md
  skillexp/ADVCHAL-V2-READ-THIS.md
Due: none

[regime_a_mm] AGMM wavefront phase 2: one ring schedule feeds both the writer and the in1 reader
  ttnn/cpp/ttnn/operations/experimental/all_gather_regime_a_matmul_async/device/all_gather_regime_a_matmul_async_program_factory.cpp
  ttnn/cpp/ttnn/operations/experimental/all_gather_regime_a_matmul_async/device/kernels/in1_reader.cpp
Due: block-ttnn-pybind-changes

[regime_a_mm] AGMM spec: mark appendix B phase 2 done with its measured gates
  tools/mm_sweep/REGIME_A_AGMM_DESIGN_SPEC.md
Due: none

Bring up Gemma-2 text models (2B / 9B) on tt_transformers (#52471)
  .github/time_budget.yaml
  .github/workflows/models-t3-e2e-tests.yaml
  .github/workflows/models-t3-unit-tests.yaml
  models/model_ci_tiers.md
  models/model_targets.yaml
  models/tt_transformers/tests/reference_outputs/gemma-2-2b-it.refpt
  models/tt_transformers/tests/reference_outputs/gemma-2-9b-it.refpt
  models/tt_transformers/tests/test_decoder.py
  models/tt_transformers/tests/test_model.py
  models/tt_transformers/tt/attention.py
  models/tt_transformers/tt/model.py
  models/tt_transformers/tt/model_config.py
  tests/pipeline_reorg/models_e2e_tests.yaml
  tests/pipeline_reorg/models_unit_tests.yaml
Due: none

skillexp: READ-THIS -- report the result as a distribution, and stop narrating the document
  skillexp/ADVCHAL-V2-READ-THIS.md
Due: none

Treat unsupported legacy perf benchmarks as skips in slow dispatch
  tests/tt_metal/tt_metal/perf_microbenchmark/old/matmul/matmul_global_l1.cpp
  tests/tt_metal/tt_metal/perf_microbenchmark/old/matmul/matmul_local_l1.cpp
  tests/tt_metal/tt_metal/perf_microbenchmark/old/noc/test_noc_read_global_l1.cpp
  tests/tt_metal/tt_metal/perf_microbenchmark/old/noc/test_noc_read_local_l1.cpp
Due: none

Fix matmul integration tests for DRAM accessors and async completion
  tests/tt_metal/tt_metal/integration/matmul/test_matmul_multi_core_X_dram.cpp
  tests/tt_metal/tt_metal/integration/matmul/test_matmul_multi_core_multi_dram_in0_mcast_in1_mcast.cpp
  tests/tt_metal/tt_metal/integration/matmul/test_matmul_multi_core_multi_dram_inX_mcast.cpp
Due: none

Gate high_bw_all_gather tests to Blackhole
  tests/ttnn/unit_tests/operations/experimental/test_high_bw_all_gather.py
Due: none

Synchronize device tests before host readback
  tests/tt_metal/tt_metal/device/test_device.cpp
Due: none

skillexp: cut section 2 -- 725 words to 540, prose 467 to 283
  skillexp/ADVCHAL-V2-READ-THIS.md
Due: none

Replace repeat2 with ci-eval-1 in Llama 3.3-70B galaxy e2e tests
  models/demos/llama3_70b_galaxy/demo/sample_prompts/eval_repeat_prompts_batch1.json
  models/demos/llama3_70b_galaxy/demo/text_demo.py
  models/model_targets.yaml
  tests/pipeline_reorg/models_e2e_tests.yaml
Due: none

ltx/quant: post-review cleanup of the LtxQuantProfile abstraction
  models/tt_dit/layers/feedforward.py
  models/tt_dit/layers/linear.py
  models/tt_dit/models/transformers/ltx/attention_ltx.py
  models/tt_dit/models/transformers/ltx/quant_config.py
  models/tt_dit/models/transformers/ltx/transformer_ltx.py
  models/tt_dit/pipelines/ltx/pipeline_ltx.py
  models/tt_dit/tests/models/ltx/test_transformer_ltx.py
Due: none

enable tracy for runtime-unit-tests
  .github/workflows/runtime-unit-tests.yaml
Due: none

moreh: migrate sum_h and mean_h to ReducePartialScaler
  docs/reduce_partial_scaler_migration/README.md
  docs/reduce_partial_scaler_migration/step-1-moreh-sum-mean.md
  ttnn/cpp/ttnn/operations/moreh/moreh_mean/device/kernels/moreh_mean_h.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_mean/device/kernels/reader_moreh_mean_h.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_mean/device/moreh_mean_h_program_factory.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_sum/device/moreh_sum_h_impl_kernels/moreh_sum_h.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_sum/device/moreh_sum_h_impl_kernels/reader_moreh_sum_h.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_sum/device/moreh_sum_h_program_factory.cpp
Due: block-ttnn-pybind-changes

ci: route T3K sanity fast tests to CIv2 (wh_llmbox_civ2) (#52313)
  .github/time_budget.yaml
  .github/workflows/sanity-tests.yaml
  .github/workflows/t3000-fast-tests.yaml
  tests/pipeline_reorg/t3000_sanity_tests.yaml
Due: none

moe_fused_swiglu: migrate operation to C++
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/moe_fused_swiglu/device/kernels/moe_fused_swiglu_bank_runs.hpp
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/moe_fused_swiglu/device/kernels/moe_fused_swiglu_common.hpp
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/moe_fused_swiglu/device/kernels/moe_fused_swiglu_compute.cpp
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/moe_fused_swiglu/device/kernels/moe_fused_swiglu_ct_args.hpp
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/moe_fused_swiglu/device/kernels/moe_fused_swiglu_dataflow.hpp
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/moe_fused_swiglu/device/kernels/moe_fused_swiglu_reader.cpp
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/moe_fused_swiglu/device/kernels/moe_fused_swiglu_writer.cpp
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/moe_fused_swiglu/device/moe_fused_swiglu_device_operation.cpp
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/moe_fused_swiglu/device/moe_fused_swiglu_device_operation.hpp
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/moe_fused_swiglu/device/moe_fused_swiglu_geometry.cpp
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/moe_fused_swiglu/device/moe_fused_swiglu_geometry.hpp
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/moe_fused_swiglu/device/moe_fused_swiglu_program_factory.cpp
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/moe_fused_swiglu/device/moe_fused_swiglu_program_factory.hpp
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/moe_fused_swiglu/device/moe_fused_swiglu_types.hpp
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/moe_fused_swiglu/moe_fused_swiglu.cpp
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/moe_fused_swiglu/moe_fused_swiglu.hpp
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/moe_fused_swiglu/moe_fused_swiglu_nanobind.cpp
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/moe_fused_swiglu/moe_fused_swiglu_nanobind.hpp
  ttnn/cpp/ttnn/operations/experimental/experimental_nanobind.cpp
  ttnn/sources.cmake
  ttnn/ttnn/operations/moe_fused_swiglu/moe_fused_swiglu.py
  ttnn/ttnn/operations/moe_fused_swiglu/moe_fused_swiglu_geometry.py
  ttnn/ttnn/operations/moe_fused_swiglu/moe_fused_swiglu_helpers.py
  ttnn/ttnn/operations/moe_fused_swiglu/moe_fused_swiglu_program_descriptor.py
Due: block-ttnn-pybind-changes, detect-legacy-device-op

unified_routed_expert_ffn: update routed expert path
  models/demos/deepseek_v3_d_p/tt/moe/tt_routed_expert.py
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/unified_routed_expert_ffn/device/kernels/adaptive_chunk.hpp
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/unified_routed_expert_ffn/device/kernels/dataflow/unified_routed_expert_ffn_reader.cpp
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/unified_routed_expert_ffn/device/kernels/dataflow/unified_routed_expert_ffn_writer.cpp
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/unified_routed_expert_ffn/device/unified_routed_expert_ffn_device_operation.cpp
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/unified_routed_expert_ffn/device/unified_routed_expert_ffn_program_factory.cpp
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/unified_routed_expert_ffn/unified_routed_expert_ffn.cpp
  ttnn/ttnn/__init__.py
Due: block-ttnn-pybind-changes, detect-legacy-device-op

even more comments aaaaa
  tt_metal/hw/inc/api/compute/experimental/face_compressed_mm.h
  tt_metal/tt-llk/tests/sources/matmul_face_compressed_test.cpp
Due: none

moe_fused_swiglu: expand C++ operation coverage
  tests/ttnn/unit_tests/operations/moe_fused_swiglu/test_moe_fused_swiglu_cb_alias.py
  tests/ttnn/unit_tests/operations/moe_fused_swiglu/test_moe_fused_swiglu_cpp_op.py
  tests/ttnn/unit_tests/operations/moe_fused_swiglu/test_moe_fused_swiglu_ct_args.py
  tests/ttnn/unit_tests/operations/moe_fused_swiglu/test_moe_fused_swiglu_determinism.py
  tests/ttnn/unit_tests/operations/moe_fused_swiglu/test_moe_fused_swiglu_grid.py
  tests/ttnn/unit_tests/operations/moe_fused_swiglu/test_moe_fused_swiglu_m_real.py
  tests/ttnn/unit_tests/operations/moe_fused_swiglu/test_moe_fused_swiglu_perf.py
  tests/ttnn/unit_tests/operations/moe_fused_swiglu/test_moe_fused_swiglu_perf_matrix.py
  tests/ttnn/unit_tests/operations/moe_fused_swiglu/test_moe_fused_swiglu_placement.py
  tests/ttnn/unit_tests/operations/moe_fused_swiglu/test_moe_fused_swiglu_r2_perf.py
  tests/ttnn/unit_tests/operations/moe_fused_swiglu/test_moe_fused_swiglu_seqlen_sweep.py
  tests/ttnn/unit_tests/operations/moe_fused_swiglu/test_moe_fused_swiglu_weight_dtype.py
Due: none

deepseek_prefill: add routed expert comparison tests
  tests/ttnn/nightly/unit_tests/operations/experimental/deepseek_prefill/test_single_routed_expert.py
  tests/ttnn/nightly/unit_tests/operations/experimental/deepseek_prefill/test_single_routed_expert_perf.py
Due: none

moe_fused_swiglu: record 8x11 performance campaign
  perf_table_8x11.json
  perf_table_8x11.md
  perf_table_8x11.txt
  ttnn/ttnn/operations/moe_fused_swiglu/perf_experiments/ROUND18_OPTIMIZATION_LOG.md
  ttnn/ttnn/operations/moe_fused_swiglu/perf_experiments/make_expected_perf_table.py
  ttnn/ttnn/operations/moe_fused_swiglu/perf_experiments/measure.sh
  ttnn/ttnn/operations/moe_fused_swiglu/perf_experiments/parse_perf_matrix.py
  ttnn/ttnn/operations/moe_fused_swiglu/perf_experiments/parse_seqlen_sweep.py
  ttnn/ttnn/operations/moe_fused_swiglu/perf_experiments/parse_zones.py
Due: block-ttnn-pybind-changes

moe_fused_swiglu: add focused diagnostic probes
  tests/ttnn/unit_tests/operations/moe_fused_swiglu/probes/probe_001.py
  tests/ttnn/unit_tests/operations/moe_fused_swiglu/probes/probe_002.py
  tests/ttnn/unit_tests/operations/moe_fused_swiglu/probes/probe_003.py
  tests/ttnn/unit_tests/operations/moe_fused_swiglu/probes/probe_004.py
  tests/ttnn/unit_tests/operations/moe_fused_swiglu/probes/probe_005.py
  tests/ttnn/unit_tests/operations/moe_fused_swiglu/probes/probe_006.py
  tests/ttnn/unit_tests/operations/moe_fused_swiglu/probes/probe_009.py
  tests/ttnn/unit_tests/operations/moe_fused_swiglu/probes/probe_010.py
  tests/ttnn/unit_tests/operations/moe_fused_swiglu/probes/probe_011_n1024_tail_inf.py
  tests/ttnn/unit_tests/operations/moe_fused_swiglu/probes/probe_012_n1024_alias_lattice.py
  tests/ttnn/unit_tests/operations/moe_fused_swiglu/probes/probe_n3072_mblock8_multiblock.py
Due: none

Fix one-tile all-gather scatter header (#52431)
  ttnn/cpp/ttnn/operations/experimental/ccl/all_gather_async/device/kernels/minimal_default_writer.cpp
Due: block-ttnn-pybind-changes

Remove Wormhole cards from tt-train CI runs
  .github/time_budget.yaml
  .github/workflows/tt-train-tests.yaml
  tests/pipeline_reorg/train_merge_gate_tests.yaml
  tests/pipeline_reorg/train_perf_tests.yaml
  tests/pipeline_reorg/train_unit_tests.yaml
Due: none

Use the expect_error fixture in the negative validation test
  tests/ttnn/unit_tests/operations/experimental/test_multi_scale_deformable_attn.py
Due: none

Scope softcap/situ_glu to bf16 + bfp8_b activations
  tests/ttnn/unit_tests/operations/eltwise/test_binary_composite.py
  tests/ttnn/unit_tests/operations/eltwise/test_unary.py
  ttnn/cpp/ttnn/operations/eltwise/binary/binary_nanobind.cpp
  ttnn/cpp/ttnn/operations/eltwise/unary/unary_nanobind.cpp
Due: block-ttnn-pybind-changes

emule: harden the host-interleaved socket dispatch path
  tests/tt_metal/tt_metal/api/CMakeLists.txt
  tests/tt_metal/tt_metal/api/emule/sources.cmake
  tests/tt_metal/tt_metal/api/emule/test_emule_host_wait.cpp
  tt_metal/distributed/sd_mesh_command_queue.cpp
  tt_metal/impl/emulation/emulated_program_runner.cpp
  tt_metal/impl/emulation/emulated_program_runner.hpp
  tt_metal/impl/emulation/emule_fiber_scheduler.cpp
  tt_metal/impl/emulation/emule_fiber_scheduler.hpp
Due: none

Single-source the dispatch metadata routing-field count
  models/demos/deepseek_v3_d_p/reference/tt/moe/dispatch.py
  models/demos/deepseek_v3_d_p/tests/op_unit_tests/test_prefill_dispatch.py
  models/demos/deepseek_v3_d_p/tt/moe/init_helpers.py
  models/demos/deepseek_v3_d_p/tt/moe/validation_helpers.py
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/dispatch/device/dispatch_device_operation.cpp
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/dispatch/device/dispatch_program_factory.cpp
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/dispatch/device/kernels/dataflow/writer_worker_dispatch.cpp
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/dispatch/dispatch.hpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

Path conditions:
  block-ttnn-pybind-changes: any of: ^ttnn/
  detect-legacy-device-op: any of: ^ttnn/.*\.hpp$
  validate-golden-csv-columns: any of: ^tests/tt_metal/tt_metal/perf_microbenchmark/routing/golden/.*bandwidth.*\.csv$
