Repository tenstorrent/tt-metal: changes, and which pre-commit hooks are due for each by the changed paths.
All: block-ttnn-pybind-changes, detect-legacy-device-op, validate-golden-csv-columns

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v3.2.0
  hooks:
    - id: trailing-whitespace
      exclude: \.patch$
    - id: end-of-file-fixer
      exclude: \.patch$
    - id: check-yaml
      args: ["--unsafe"]
    - id: check-added-large-files
# Using this mirror lets us use mypyc-compiled black, which is about 2x faster
- repo: https://github.com/psf/black-pre-commit-mirror
  rev: 23.10.1
  hooks:
    - id: black
      language_version: python3
- repo: https://github.com/PyCQA/autoflake
  rev: v2.3.1
  hooks:
    - id: autoflake
      args: [--remove-all-unused-imports, --in-place, --recursive, --exclude=__init__.py]
      files: ^models/  # Run only on files in the models directory
- repo: https://github.com/pycqa/isort
  rev: 5.13.2
  hooks:
    - id: isort
      files: ^models/
      exclude: ^models/(demos/llama3_70b_galaxy|experimental)/
- repo: https://github.com/BlankSpruce/gersemi
  rev: 0.16.2
  hooks:
    - id: gersemi
- repo: https://github.com/adrienverge/yamllint.git
  rev: v1.35.1
  hooks:
    - id: yamllint
- repo: https://github.com/pre-commit/mirrors-clang-format
  rev: v19.1.4
  hooks:
    - id: clang-format
      entry: git-clang-format
      require_serial: true
      types_or: [c++, c]
      args: ["--style=file"]
- repo: local
  hooks:
    - id: validate-metalium-includes
      name: validate-metalium-includes
      entry: python3 scripts/validate_api/validate_includes.py tt_metal/api --check-ttnn-forwards
      language: system
      pass_filenames: false
    - id: validate-metalium-deprecation
      name: validate-metalium-deprecation
      entry: python3 scripts/validate_api/validate_deprecation.py tt_metal/api origin/main
      language: system
      pass_filenames: false
- repo: local
  hooks:
    - id: check-torch-imports-in-ttnn
      name: Verify that there is no global torch import in ttnn
      entry: python3 scripts/validate_no_global_torch_imports.py
      language: system
      pass_filenames: false
- repo: local
  hooks:
    - id: block-ttnn-pybind-changes
      name: Prevent edits to frozen pybind11 sources under ttnn
      entry: python3 scripts/block_ttnn_pybind_changes.py
      language: system
      pass_filenames: true
      files: ^ttnn/
- repo: local
  hooks:
    - id: convert-notebooks-to-py
      name: Convert .ipynb to .py for ttnn basic examples
      entry: python3 scripts/convert_notebooks_to_python.py
      language: system
- repo: local
  hooks:
    - id: detect-legacy-device-op
      name: Detect legacy device operation classes in newly added files
      entry: python3 scripts/detect_legacy_device_op.py --check-new-only
      language: system
      types: [file]
      files: ^ttnn/.*\.hpp$
      pass_filenames: true
      require_serial: true
- repo: local
  hooks:
    - id: validate-golden-csv-columns
      name: Validate golden bandwidth CSV column headers
      entry: bash .github/scripts/utils/validate_golden_csv_columns.sh
      language: system
      pass_filenames: false
      files: ^tests/tt_metal/tt_metal/perf_microbenchmark/routing/golden/.*bandwidth.*\.csv$

fix: use program_key.hash in up-front precompile collector after rebase
  ttnn/api/ttnn/device_operation.hpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

transform_in_place
  ttnn/cpp/ttnn/kernel_lib/eltwise_convenience.hpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

noc_estimator: add noc_estimate CLI + bump tt_ops_code_gen (perf skills)
  tests/tt_metal/tt_metal/data_movement/noc_estimator/CMakeLists.txt
  tests/tt_metal/tt_metal/data_movement/noc_estimator/tools/noc_estimate.cpp
Due: none

mcast: port host helper (Mcast1D/Mcast2D) + kernel_lib tests from mcast-helpers-july
  tests/ttnn/unit_tests/gtests/sources.cmake
  tests/ttnn/unit_tests/gtests/test_mcast_host.cpp
  tests/ttnn/unit_tests/kernel_lib/kernels/pipe_f3_sender.cpp
  tests/ttnn/unit_tests/kernel_lib/kernels/pipe_fixed_line.cpp
  tests/ttnn/unit_tests/kernel_lib/kernels/pipe_raw_receiver.cpp
  tests/ttnn/unit_tests/kernel_lib/kernels/pipe_raw_sender.cpp
  tests/ttnn/unit_tests/kernel_lib/kernels/pipe_receiver.cpp
  tests/ttnn/unit_tests/kernel_lib/kernels/pipe_rotating.cpp
  tests/ttnn/unit_tests/kernel_lib/kernels/pipe_rotating_line.cpp
  tests/ttnn/unit_tests/kernel_lib/kernels/pipe_sender.cpp
  tests/ttnn/unit_tests/kernel_lib/test_mcast_pipe.py
  ttnn/cpp/ttnn-nanobind/__init__.cpp
  ttnn/cpp/ttnn-nanobind/mcast_host.cpp
  ttnn/cpp/ttnn-nanobind/mcast_host.hpp
  ttnn/cpp/ttnn/kernel_lib/host/mcast_host.hpp
  ttnn/cpp/ttnn/kernel_lib/mcast_pipe.hpp
  ttnn/cpp/ttnn/kernel_lib/mcast_pipe.inl
  ttnn/sources.cmake
  ttnn/ttnn/__init__.py
  ttnn/ttnn/types.py
Due: block-ttnn-pybind-changes, detect-legacy-device-op

mcast_pipe helper: materialize Pipe helper + unit tests (no kernel migrations)
  tests/ttnn/unit_tests/kernel_lib/kernels/pipe_f3_sender.cpp
  tests/ttnn/unit_tests/kernel_lib/kernels/pipe_receiver.cpp
  tests/ttnn/unit_tests/kernel_lib/kernels/pipe_sender.cpp
  tests/ttnn/unit_tests/kernel_lib/test_mcast_pipe.py
  ttnn/cpp/ttnn/kernel_lib/mcast_pipe.hpp
  ttnn/cpp/ttnn/kernel_lib/mcast_pipe.inl
Due: block-ttnn-pybind-changes, detect-legacy-device-op

matmul_block: enforce caller_owns_pack_target contract + add unit test
  tests/ttnn/unit_tests/gtests/matmul/test_matmul_block_caller_owns_constraint.cpp
  tests/ttnn/unit_tests/gtests/sources.cmake
  ttnn/cpp/ttnn/kernel_lib/matmul_block_constraints.hpp
  ttnn/cpp/ttnn/kernel_lib/matmul_block_helpers.hpp
  ttnn/cpp/ttnn/kernel_lib/matmul_block_helpers.inl
Due: block-ttnn-pybind-changes, detect-legacy-device-op

mcast_pipe: update helper + unit tests to the june24 rollout version
  tests/ttnn/unit_tests/kernel_lib/kernels/pipe_f3_sender.cpp
  tests/ttnn/unit_tests/kernel_lib/kernels/pipe_receiver.cpp
  tests/ttnn/unit_tests/kernel_lib/kernels/pipe_rotating.cpp
  tests/ttnn/unit_tests/kernel_lib/kernels/pipe_sender.cpp
  tests/ttnn/unit_tests/kernel_lib/test_mcast_pipe.py
  ttnn/cpp/ttnn/kernel_lib/mcast_pipe.hpp
  ttnn/cpp/ttnn/kernel_lib/mcast_pipe.inl
Due: block-ttnn-pybind-changes, detect-legacy-device-op

examples: extend reduce_accumulate fidelity sweep (dispatch variant + perf tables)
  tests/ttnn/unit_tests/operations/examples/fidelity_sweep/reduce_accumulate_fidelity_report.md
  tests/ttnn/unit_tests/operations/examples/fidelity_sweep/test_reduce_accumulate_fidelity.py
Due: none

examples: add row_reduce_accumulate + reduce_accumulate perf-lab examples
  tests/ttnn/unit_tests/operations/examples/test_reduce_accumulate.py
  tests/ttnn/unit_tests/operations/examples/test_row_reduce_accumulate.py
  tests/ttnn/unit_tests/operations/reduce_accumulate/probes/probe_001.py
  tests/ttnn/unit_tests/operations/row_reduce_accumulate/probes/probe_001.py
  tests/ttnn/unit_tests/operations/row_reduce_accumulate/probes/probe_002.py
  tests/ttnn/unit_tests/operations/row_reduce_accumulate/probes/probe_003.py
  tests/ttnn/unit_tests/operations/row_reduce_accumulate/probes/probe_004.py
  tests/ttnn/unit_tests/operations/row_reduce_accumulate/probes/probe_005.py
  ttnn/ttnn/operations/examples/master.md
  ttnn/ttnn/operations/examples/reduce_accumulate/README.md
  ttnn/ttnn/operations/examples/reduce_accumulate/__init__.py
  ttnn/ttnn/operations/examples/reduce_accumulate/__main__.py
  ttnn/ttnn/operations/examples/reduce_accumulate/program_descriptor_with_inline_kernels.py
  ttnn/ttnn/operations/examples/reduce_accumulate/report.md
  ttnn/ttnn/operations/examples/row_reduce_accumulate/README.md
  ttnn/ttnn/operations/examples/row_reduce_accumulate/__init__.py
  ttnn/ttnn/operations/examples/row_reduce_accumulate/__main__.py
  ttnn/ttnn/operations/examples/row_reduce_accumulate/program_descriptor_with_inline_kernels.py
  ttnn/ttnn/operations/examples/row_reduce_accumulate/report.md
Due: block-ttnn-pybind-changes

eltwise_chain: skip-compute perf-debugging knob (build macro, no API change)
  ttnn/cpp/ttnn/kernel_lib/eltwise_chain.hpp
  ttnn/cpp/ttnn/kernel_lib/eltwise_chain.inl
  ttnn/cpp/ttnn/kernel_lib/tests/axes/skip_compute_exp.cpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

kernel_lib: add packer-ReLU knob to eltwise_chain PackTile
  tests/ttnn/unit_tests/kernel_lib/test_chain_pack_relu.py
  tests/ttnn/unit_tests/kernel_lib/test_chain_static_asserts.py
  ttnn/cpp/ttnn/kernel_lib/eltwise_chain.hpp
  ttnn/cpp/ttnn/kernel_lib/eltwise_chain.inl
  ttnn/cpp/ttnn/kernel_lib/tests/relu/pack_relu.cpp
  ttnn/cpp/ttnn/kernel_lib/tests/static_asserts/relu_dest_accumulation.cpp
  ttnn/cpp/ttnn/kernel_lib/tests/static_asserts/relu_l1_accumulation.cpp
  ttnn/cpp/ttnn/kernel_lib/tests/static_asserts/relu_setupowner_caller.cpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

reduce_helpers: order fp32_mode before algorithm in reduce<> signature
  ttnn/cpp/ttnn/kernel_lib/reduce_helpers_compute.hpp
  ttnn/cpp/ttnn/kernel_lib/reduce_helpers_compute.inl
  ttnn/ttnn/operations/examples/reduce_block/program_descriptor_with_inline_kernels.py
Due: block-ttnn-pybind-changes, detect-legacy-device-op

examples: add split_reader RISC-V issue scaling example
  tests/ttnn/unit_tests/operations/examples/test_split_reader.py
  ttnn/ttnn/operations/examples/master.md
  ttnn/ttnn/operations/examples/split_reader/README.md
  ttnn/ttnn/operations/examples/split_reader/__init__.py
  ttnn/ttnn/operations/examples/split_reader/__main__.py
  ttnn/ttnn/operations/examples/split_reader/kernels/gather_reader.cpp
  ttnn/ttnn/operations/examples/split_reader/kernels/gather_writer.cpp
  ttnn/ttnn/operations/examples/split_reader/report.md
  ttnn/ttnn/operations/examples/split_reader/split_reader.py
  ttnn/ttnn/operations/examples/split_reader/split_reader.svg
Due: block-ttnn-pybind-changes

returned skip compute knob
  tests/ttnn/unit_tests/kernel_lib/test_chain_skip_perf.py
  ttnn/cpp/ttnn/kernel_lib/eltwise_chain.hpp
  ttnn/cpp/ttnn/kernel_lib/eltwise_chain.inl
  ttnn/cpp/ttnn/kernel_lib/tests/axes/skip_compute_exp.cpp
  ttnn/cpp/ttnn/kernel_lib/tests/dest_accumulation/skip_compute_dest_accum.cpp
  ttnn/cpp/ttnn/kernel_lib/tests/l1_accumulation/skip_compute_l1_accum.cpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

examples: add compute_block_size perf-lab example
  tests/ttnn/unit_tests/operations/examples/test_compute_block_size.py
  ttnn/ttnn/operations/examples/compute_block_size/README.md
  ttnn/ttnn/operations/examples/compute_block_size/__init__.py
  ttnn/ttnn/operations/examples/compute_block_size/__main__.py
  ttnn/ttnn/operations/examples/compute_block_size/program_descriptor_with_inline_kernels.py
  ttnn/ttnn/operations/examples/compute_block_size/report.md
  ttnn/ttnn/operations/examples/compute_block_size/report_reconfig_ablation.md
  ttnn/ttnn/operations/examples/master.md
Due: block-ttnn-pybind-changes

examples: eltwise_l1_vs_dest_accumulate + matmul_output_subblock + shared_input_reuse
  tests/ttnn/unit_tests/operations/examples/test_eltwise_l1_vs_dest_accumulate.py
  tests/ttnn/unit_tests/operations/examples/test_matmul_output_subblock.py
  tests/ttnn/unit_tests/operations/examples/test_shared_input_reuse.py
  ttnn/ttnn/operations/examples/eltwise_l1_vs_dest_accumulate/README.md
  ttnn/ttnn/operations/examples/eltwise_l1_vs_dest_accumulate/__init__.py
  ttnn/ttnn/operations/examples/eltwise_l1_vs_dest_accumulate/__main__.py
  ttnn/ttnn/operations/examples/eltwise_l1_vs_dest_accumulate/eltwise_l1_vs_dest_accumulate.py
  ttnn/ttnn/operations/examples/eltwise_l1_vs_dest_accumulate/report.md
  ttnn/ttnn/operations/examples/master.md
  ttnn/ttnn/operations/examples/matmul_output_subblock/README.md
  ttnn/ttnn/operations/examples/matmul_output_subblock/__init__.py
  ttnn/ttnn/operations/examples/matmul_output_subblock/__main__.py
  ttnn/ttnn/operations/examples/matmul_output_subblock/matmul_output_subblock.py
  ttnn/ttnn/operations/examples/matmul_output_subblock/report.md
  ttnn/ttnn/operations/examples/shared_input_reuse/README.md
  ttnn/ttnn/operations/examples/shared_input_reuse/__init__.py
  ttnn/ttnn/operations/examples/shared_input_reuse/__main__.py
  ttnn/ttnn/operations/examples/shared_input_reuse/report.md
  ttnn/ttnn/operations/examples/shared_input_reuse/shared_input_reuse.py
Due: block-ttnn-pybind-changes

Add Tensix all-reduce performance lab
  tests/ttnn/unit_tests/operations/examples/test_tensix_all_reduce.py
  tests/ttnn/unit_tests/operations/examples/test_tensix_all_reduce_compute.py
  tests/ttnn/unit_tests/operations/examples/test_tensix_all_reduce_ring_transport.py
  ttnn/ttnn/operations/examples/master.md
  ttnn/ttnn/operations/examples/tensix_all_reduce/README.md
  ttnn/ttnn/operations/examples/tensix_all_reduce/__init__.py
  ttnn/ttnn/operations/examples/tensix_all_reduce/__main__.py
  ttnn/ttnn/operations/examples/tensix_all_reduce/program_descriptor_with_inline_kernels.py
  ttnn/ttnn/operations/examples/tensix_all_reduce/report.md
  ttnn/ttnn/operations/examples/tensix_all_reduce_compute/README.md
  ttnn/ttnn/operations/examples/tensix_all_reduce_compute/__init__.py
  ttnn/ttnn/operations/examples/tensix_all_reduce_compute/__main__.py
  ttnn/ttnn/operations/examples/tensix_all_reduce_compute/program_descriptor_with_inline_kernels.py
  ttnn/ttnn/operations/examples/tensix_all_reduce_compute/report.md
  ttnn/ttnn/operations/examples/tensix_all_reduce_ring_transport/README.md
  ttnn/ttnn/operations/examples/tensix_all_reduce_ring_transport/__init__.py
  ttnn/ttnn/operations/examples/tensix_all_reduce_ring_transport/__main__.py
  ttnn/ttnn/operations/examples/tensix_all_reduce_ring_transport/program_descriptor_with_inline_kernels.py
  ttnn/ttnn/operations/examples/tensix_all_reduce_ring_transport/report.md
  ttnn/ttnn/operations/examples/tensix_all_reduce_ring_transport/tt_npe_ring_model.py
Due: block-ttnn-pybind-changes

run_safe_pytest: add --profile (Tracy device profiler + per-op CSV)
  scripts/run_safe_pytest.sh
Due: none

examples: add double_buffer (NoC bytes-in-flight: block batching + double-buffered CBs + dtype)
  tests/ttnn/unit_tests/operations/examples/test_double_buffer.py
  ttnn/ttnn/operations/examples/double_buffer/README.md
  ttnn/ttnn/operations/examples/double_buffer/__init__.py
  ttnn/ttnn/operations/examples/double_buffer/__main__.py
  ttnn/ttnn/operations/examples/double_buffer/double_buffer.py
  ttnn/ttnn/operations/examples/double_buffer/kernels/db_compute.cpp
  ttnn/ttnn/operations/examples/double_buffer/kernels/db_reader.cpp
  ttnn/ttnn/operations/examples/double_buffer/kernels/db_writer.cpp
  ttnn/ttnn/operations/examples/double_buffer/report.md
  ttnn/ttnn/operations/examples/master.md
Due: block-ttnn-pybind-changes

examples: add reader_placement (DRAM-traffic NoC contention vs core placement)
  tests/ttnn/unit_tests/operations/examples/test_reader_placement.py
  ttnn/ttnn/operations/examples/master.md
  ttnn/ttnn/operations/examples/reader_placement/README.md
  ttnn/ttnn/operations/examples/reader_placement/__init__.py
  ttnn/ttnn/operations/examples/reader_placement/__main__.py
  ttnn/ttnn/operations/examples/reader_placement/kernels/copy_reader.cpp
  ttnn/ttnn/operations/examples/reader_placement/kernels/copy_writer.cpp
  ttnn/ttnn/operations/examples/reader_placement/reader_placement.py
  ttnn/ttnn/operations/examples/reader_placement/report.md
Due: block-ttnn-pybind-changes

examples: add compute_fusion (fusing through DEST vs L1 round-trips, single-core)
  tests/ttnn/unit_tests/operations/examples/test_compute_fusion.py
  ttnn/ttnn/operations/examples/compute_fusion/README.md
  ttnn/ttnn/operations/examples/compute_fusion/__init__.py
  ttnn/ttnn/operations/examples/compute_fusion/__main__.py
  ttnn/ttnn/operations/examples/compute_fusion/microbench_report.md
  ttnn/ttnn/operations/examples/compute_fusion/program_descriptor_with_inline_kernels.py
  ttnn/ttnn/operations/examples/compute_fusion/report.md
  ttnn/ttnn/operations/examples/master.md
Due: block-ttnn-pybind-changes

examples: sweep math_fidelity x fp32/bf16-DEST for the reduction examples
  tests/ttnn/unit_tests/operations/examples/fidelity_sweep/reduce_accumulate_fidelity_report.md
  tests/ttnn/unit_tests/operations/examples/fidelity_sweep/row_reduce_accumulate_fidelity_report.md
  tests/ttnn/unit_tests/operations/examples/fidelity_sweep/test_reduce_accumulate_fidelity.py
  tests/ttnn/unit_tests/operations/examples/fidelity_sweep/test_row_reduce_accumulate_fidelity.py
  ttnn/ttnn/operations/examples/reduce_accumulate/program_descriptor_with_inline_kernels.py
  ttnn/ttnn/operations/examples/row_reduce_accumulate/program_descriptor_with_inline_kernels.py
Due: block-ttnn-pybind-changes

examples: add tile_reorder data-movement perf example (relocate vs scatter)
  tests/ttnn/unit_tests/operations/examples/test_tile_reorder.py
  ttnn/ttnn/operations/examples/tile_reorder/README.md
  ttnn/ttnn/operations/examples/tile_reorder/__init__.py
  ttnn/ttnn/operations/examples/tile_reorder/kernels/tile_reorder_reader.cpp
  ttnn/ttnn/operations/examples/tile_reorder/kernels/tile_reorder_writer_relocate.cpp
  ttnn/ttnn/operations/examples/tile_reorder/kernels/tile_reorder_writer_scatter.cpp
  ttnn/ttnn/operations/examples/tile_reorder/tile_reorder.py
Due: block-ttnn-pybind-changes

Add L1 accumulation to eltwise helpers
  tests/ttnn/unit_tests/kernel_lib/test_chain_l1_accumulation.py
  tests/ttnn/unit_tests/kernel_lib/test_chain_static_asserts.py
  ttnn/cpp/ttnn/kernel_lib/eltwise_chain.hpp
  ttnn/cpp/ttnn/kernel_lib/eltwise_chain.inl
  ttnn/cpp/ttnn/kernel_lib/tests/l1_accumulation/l1_accumulation.cpp
  ttnn/cpp/ttnn/kernel_lib/tests/static_asserts/l1_accumulation_mixed_accumulation_modes.cpp
  ttnn/cpp/ttnn/kernel_lib/tests/static_asserts/l1_accumulation_mixed_pack_modes.cpp
  ttnn/cpp/ttnn/kernel_lib/tests/static_asserts/l1_accumulation_multiple_lifecycle_owners.cpp
  ttnn/cpp/ttnn/kernel_lib/tests/static_asserts/l1_accumulation_multiple_output_cbs.cpp
  ttnn/cpp/ttnn/kernel_lib/tests/static_asserts/l1_accumulation_wrong_lifecycle.cpp
  ttnn/cpp/ttnn/kernel_lib/tests/static_asserts/l1_lifecycle_without_accumulation.cpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

examples: reduce_block perf-lab + AccumulateViaAdd (partial, streaming, cross-call accumulate)
  tests/ttnn/unit_tests/operations/examples/test_reduce_block.py
  ttnn/cpp/ttnn/kernel_lib/reduce_helpers_compute.hpp
  ttnn/cpp/ttnn/kernel_lib/reduce_helpers_compute.inl
  ttnn/cpp/ttnn/kernel_lib/reduce_helpers_dataflow.hpp
  ttnn/cpp/ttnn/kernel_lib/reduce_helpers_dataflow.inl
  ttnn/ttnn/operations/examples/master.md
  ttnn/ttnn/operations/examples/reduce_block/README.md
  ttnn/ttnn/operations/examples/reduce_block/__init__.py
  ttnn/ttnn/operations/examples/reduce_block/__main__.py
  ttnn/ttnn/operations/examples/reduce_block/program_descriptor_with_inline_kernels.py
  ttnn/ttnn/operations/examples/reduce_block/report.md
  ttnn/ttnn/operations/examples/reduce_block/report_reduced_sweep.md
Due: block-ttnn-pybind-changes, detect-legacy-device-op
