Repository tenstorrent/tt-metal: changes, and which pre-commit hooks are due for each by the changed paths.
All: block-ttnn-pybind-changes, detect-legacy-device-op, validate-golden-csv-columns

block-ttnn-pybind-changes:
  name: Prevent edits to frozen pybind11 sources under ttnn
  entry: python3 scripts/block_ttnn_pybind_changes.py
  language: system
  pass_filenames: true

detect-legacy-device-op:
  name: Detect legacy device operation classes in newly added files
  entry: python3 scripts/detect_legacy_device_op.py --check-new-only
  language: system
  pass_filenames: true
  require_serial: true

validate-golden-csv-columns:
  name: Validate golden bandwidth CSV column headers
  entry: bash .github/scripts/utils/validate_golden_csv_columns.sh
  language: system
  pass_filenames: false

[Patch] Improve run-test tooling and sync Cursor to Claude (#43961)
  tt_metal/tt-llk/.claude/CLAUDE.md
  tt_metal/tt-llk/.claude/agents/llk-test-runner.md
  tt_metal/tt-llk/.claude/scripts/llk_triage.py
  tt_metal/tt-llk/.claude/scripts/run_test.sh
  tt_metal/tt-llk/.claude/skills/run-test/SKILL.md
  tt_metal/tt-llk/.cursor/Reports/tests.md
  tt_metal/tt-llk/.cursor/Reports/tt_llk_blackhole.md
  tt_metal/tt-llk/.cursor/Reports/tt_llk_quasar.md
  tt_metal/tt-llk/.cursor/Reports/tt_llk_wormhole_b0.md
  tt_metal/tt-llk/.cursor/agents/llk-debugger.md
  tt_metal/tt-llk/.cursor/agents/llk-test-runner.md
  tt_metal/tt-llk/.cursor/agents/sage-blackhole.md
  tt_metal/tt-llk/.cursor/agents/sage-quasar.md
  tt_metal/tt-llk/.cursor/agents/sage-wormhole.md
  tt_metal/tt-llk/.cursor/context/common-errors.md
  tt_metal/tt-llk/.cursor/context/metal-integration.md
  tt_metal/tt-llk/.cursor/context/porting-guide.md
  tt_metal/tt-llk/.cursor/context/running_tests.md
  tt_metal/tt-llk/.cursor/mcp.json
  tt_metal/tt-llk/.cursor/rules/arch-lookup.mdc
  tt_metal/tt-llk/.cursor/rules/debug-kernel.mdc
  tt_metal/tt-llk/.cursor/rules/port-kernel.mdc
  tt_metal/tt-llk/.cursor/rules/run-test.mdc
  tt_metal/tt-llk/.cursor/rules/sage-of-the-codex.mdc
  tt_metal/tt-llk/.cursor/rules/scripts/run_test.sh
  tt_metal/tt-llk/.cursor/scripts/run_test.sh
  tt_metal/tt-llk/.cursor/skills/llk-test-runner-skill/SKILL.md
  tt_metal/tt-llk/tests/python_tests/conftest.py
Due: none

[wormhole] increase MEM_BRISC_FIRMWARE_SIZE to fix firmware overflow from a5567565 (#44545)
  tt_metal/hw/inc/internal/tt-1xx/wormhole/dev_mem_map.h
Due: none

Improve performance of MeshDispatchFixture unit test times (#44319)
  tests/tt_metal/tt_metal/common/command_queue_fixture.hpp
  tests/tt_metal/tt_metal/common/device_fixture.hpp
  tests/tt_metal/tt_metal/common/mesh_dispatch_fixture.hpp
  tests/tt_metal/tt_metal/debug_tools/debug_tools_fixture.hpp
  tests/tt_metal/tt_metal/dispatch/dispatch_program/test_dispatch.cpp
  tests/tt_metal/tt_metal/dispatch/multi_command_queue_fixture.hpp
Due: none

[skip ci] Add sku for allocating one galaxy in CI (#44380)
  .github/sku_config.yaml
Due: none

Optimise int32/uint32/uint16 comparison ops (#44435)
  tt_metal/hw/ckernels/blackhole/metal/llk_api/llk_sfpu/ckernel_sfpu_binary_comp.h
  tt_metal/hw/ckernels/wormhole_b0/metal/llk_api/llk_sfpu/ckernel_sfpu_binary_comp.h
Due: none

[cleanup] separate out const vs mutable accessor for MeshTensor (#44344)
  tt_metal/api/tt-metalium/experimental/tensor/mesh_tensor.hpp
  tt_metal/impl/tensor/mesh_tensor.cpp
  tt_metal/impl/tensor/tensor_apis.cpp
  ttnn/core/tensor/storage.cpp
  ttnn/core/tensor/tensor_impl.cpp
Due: block-ttnn-pybind-changes

[skip ci] [ttnn] fix batch_norm test compatibility with PyTorch 2.11+ (#44541)
  tests/ttnn/unit_tests/operations/fused/test_batch_norm.py
Due: none

SFPI 7.50.0 614 (#44526)
  tt_metal/sfpi-version
Due: none

Bump ttsim version to v1.6.1 (#44536)
  .github/workflows/ttsim.yaml
Due: none

#44555: fix batch norm test (#44556)
  tests/ttnn/unit_tests/operations/fused/test_batch_norm.py
Due: none

Fixing DEVICE_PRINT on Quasar (#44381)
  tests/tt_metal/tt_metal/debug_tools/device_print/test_print_prepend_device_core_risc.cpp
  tests/tt_metal/tt_metal/debug_tools/dprint/test_print_prepend_device_core_risc.cpp
  tt_metal/hw/firmware/src/tt-2xx/dm.cc
  tt_metal/hw/inc/api/debug/device_print.h
  tt_metal/jit_build/build_env_manager.cpp
Due: none

[skip-ci] ci: disable galaxy-multiprocess tests (hanging ~1 month, tracked in #44339) (#44340)
  tests/pipeline_reorg/galaxy_unit_tests.yaml
Due: none

[Security] Bump torch module (#43782)
  .github/workflows/tt-train-run-models.yaml
  tt_metal/python_env/requirements-dev.txt
  ttnn/tutorials/basic_python/tutorials-dev.txt
Due: block-ttnn-pybind-changes

security: bump protobuf 3.20.2 to 4.25.8 (#43500)
  tt_metal/python_env/requirements-dev.txt
Due: none

Bug fix: Assert NoC write packet tags are cleared between kernels (#44425)
  tests/tt_metal/tt_metal/debug_tools/watcher/test_assert.cpp
  tt_metal/hw/firmware/src/tt-1xx/active_erisc.cc
  tt_metal/hw/firmware/src/tt-1xx/active_erisck.cc
  tt_metal/hw/firmware/src/tt-1xx/brisc.cc
  tt_metal/hw/firmware/src/tt-1xx/brisck.cc
  tt_metal/hw/firmware/src/tt-1xx/drisc.cc
  tt_metal/hw/firmware/src/tt-1xx/drisck.cc
  tt_metal/hw/firmware/src/tt-1xx/erisc.cc
  tt_metal/hw/firmware/src/tt-1xx/idle_erisck.cc
  tt_metal/hw/firmware/src/tt-1xx/ncrisck.cc
  tt_metal/hw/inc/hostdev/dev_msgs.h
  tt_metal/hw/inc/internal/tt-1xx/blackhole/noc_nonblocking_api.h
  tt_metal/hw/inc/internal/tt-1xx/wormhole/noc_nonblocking_api.h
  tt_metal/impl/debug/debug_helpers.hpp
  ttnn/cpp/ttnn/operations/experimental/deepseek/mla/matmul_wo/device/kernels/dm1.cpp
  ttnn/cpp/ttnn/operations/experimental/deepseek/moe/moe_gate_mm/device/kernels/dm1.cpp
Due: block-ttnn-pybind-changes

Fix bad optional access in CCL matmul paths (#44528)
  ttnn/cpp/ttnn/operations/matmul/device/factory/matmul_multicore_reuse_mcast_1d_program_factory.cpp
  ttnn/cpp/ttnn/operations/matmul/device/factory/matmul_multicore_reuse_mcast_2d_program_factory.cpp
Due: block-ttnn-pybind-changes

Gemma3-4B Issues Fix (#42534)
  models/demos/multimodal/gemma3/PERF.md
  models/demos/multimodal/gemma3/README.md
  models/demos/multimodal/gemma3/conftest.py
  models/demos/multimodal/gemma3/demo/conftest.py
  models/demos/multimodal/gemma3/demo/text_demo.py
  models/demos/multimodal/gemma3/demo/vision_demo.py
  models/demos/multimodal/gemma3/tests/perf_targets/targets_test_perf_vision_cross_attention_transformer.json
  models/demos/multimodal/gemma3/tests/test_attention.py
  models/demos/multimodal/gemma3/tests/test_attention_prefill.py
  models/demos/multimodal/gemma3/tests/test_decoder.py
  models/demos/multimodal/gemma3/tests/test_decoder_prefill.py
  models/demos/multimodal/gemma3/tests/test_embedding.py
  models/demos/multimodal/gemma3/tests/test_mlp.py
  models/demos/multimodal/gemma3/tests/test_mmp.py
  models/demos/multimodal/gemma3/tests/test_patch_embedding.py
  models/demos/multimodal/gemma3/tests/test_perf_vision_cross_attention_transformer.py
  models/demos/multimodal/gemma3/tests/test_rms_norm.py
  models/demos/multimodal/gemma3/tests/test_vision_attention.py
  models/demos/multimodal/gemma3/tests/test_vision_cross_attention_transformer.py
  models/demos/multimodal/gemma3/tests/test_vision_cross_attention_transformer_perf_ops.py
  models/demos/multimodal/gemma3/tests/test_vision_embedding.py
  models/demos/multimodal/gemma3/tests/test_vision_layernorm.py
  models/demos/multimodal/gemma3/tests/test_vision_mlp.py
  models/demos/multimodal/gemma3/tests/test_vision_pipeline.py
  models/demos/multimodal/gemma3/tests/test_vision_rmsnorm.py
  models/demos/multimodal/gemma3/tests/test_vision_transformer.py
  models/demos/multimodal/gemma3/tests/test_vision_transformer_block.py
  models/demos/multimodal/gemma3/tt/gemma_conv2d_patch.py
  models/demos/multimodal/gemma3/tt/gemma_e2e_model.py
  models/demos/multimodal/gemma3/tt/gemma_image_attention.py
  models/demos/multimodal/gemma3/tt/gemma_image_block.py
  models/demos/multimodal/gemma3/tt/gemma_image_mlp.py
  models/demos/multimodal/gemma3/tt/gemma_image_transformer.py
  models/demos/multimodal/gemma3/tt/gemma_multimodal_generator.py
  models/demos/multimodal/gemma3/tt/gemma_vision_block.py
  models/demos/multimodal/gemma3/tt/gemma_vision_model.py
  models/demos/multimodal/gemma3/tt/model_config.py
  models/tt_transformers/demo/trace_region_config.py
  models/tt_transformers/tt/model_config.py
Due: none

ttnn.isclose op for Integer support & LLK migration (#43515)
  tests/ttnn/unit_tests/operations/eltwise/test_relational.py
  tt_metal/hw/ckernels/blackhole/metal/llk_api/llk_sfpu/ckernel_sfpu_isclose.h
  tt_metal/hw/ckernels/blackhole/metal/llk_api/llk_sfpu/llk_math_eltwise_binary_sfpu_isclose.h
  tt_metal/hw/ckernels/blackhole/metal/llk_api/llk_sfpu_types.h
  tt_metal/hw/ckernels/wormhole_b0/metal/llk_api/llk_sfpu/ckernel_sfpu_isclose.h
  tt_metal/hw/ckernels/wormhole_b0/metal/llk_api/llk_sfpu/llk_math_eltwise_binary_sfpu_isclose.h
  tt_metal/hw/ckernels/wormhole_b0/metal/llk_api/llk_sfpu_types.h
  tt_metal/hw/inc/api/compute/isclose.h
  tt_metal/hw/sources.cmake
  ttnn/cpp/ttnn/operations/eltwise/binary/binary.cpp
  ttnn/cpp/ttnn/operations/eltwise/binary/binary.hpp
  ttnn/cpp/ttnn/operations/eltwise/binary/binary_composite.hpp
  ttnn/cpp/ttnn/operations/eltwise/binary/binary_nanobind.cpp
  ttnn/cpp/ttnn/operations/eltwise/binary/common/binary_op_types.hpp
  ttnn/cpp/ttnn/operations/eltwise/binary/device/binary_composite_op.cpp
  ttnn/cpp/ttnn/operations/eltwise/binary_ng/device/binary_ng_device_operation.cpp
  ttnn/cpp/ttnn/operations/eltwise/binary_ng/device/binary_ng_device_operation.hpp
  ttnn/cpp/ttnn/operations/eltwise/binary_ng/device/binary_ng_program_factory.cpp
  ttnn/cpp/ttnn/operations/eltwise/binary_ng/device/binary_ng_utils.cpp
  ttnn/cpp/ttnn/operations/eltwise/binary_ng/device/binary_ng_utils.hpp
  ttnn/cpp/ttnn/operations/eltwise/binary_ng/device/kernels/compute/eltwise_binary_sfpu.cpp
  ttnn/cpp/ttnn/operations/eltwise/binary_ng/device/kernels/compute/eltwise_binary_sfpu_no_bcast.cpp
  ttnn/cpp/ttnn/operations/eltwise/binary_ng/device/kernels/compute/eltwise_binary_sfpu_scalar.cpp
  ttnn/cpp/ttnn/operations/eltwise/binary_ng/device/kernels/compute/eltwise_utils_common.hpp
  ttnn/cpp/ttnn/operations/eltwise/binary_ng/device/kernels_ng/compute/eltwise_binary_sfpu_col_bcast.cpp
  ttnn/cpp/ttnn/operations/eltwise/binary_ng/device/kernels_ng/compute/eltwise_binary_sfpu_row_bcast.cpp
  ttnn/cpp/ttnn/operations/eltwise/binary_ng/device/kernels_ng/compute/eltwise_binary_sfpu_row_col_bcast.cpp
  ttnn/cpp/ttnn/operations/eltwise/binary_ng/device/kernels_ng/compute/eltwise_binary_sfpu_scalar_bcast.cpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

[Bug fix] filter out kubernetes network interfaces in run_quad_galaxy_tests.sh (#44487)
  tests/scripts/multihost/run_quad_galaxy_tests.sh
Due: none

[Test only] Fix nightly softmax_backward (#44523)
  tt-train/tests/ops/softmax_backward_op_test.cpp
Due: none

#42398 [Descriptor Migration] prefetcher (#43619)
  ttnn/cpp/ttnn/operations/prefetcher/prefetcher/device/dram_prefetcher_device_operation.hpp
  ttnn/cpp/ttnn/operations/prefetcher/prefetcher/device/dram_prefetcher_program_factory.cpp
  ttnn/cpp/ttnn/operations/prefetcher/prefetcher/device/dram_prefetcher_program_factory.hpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

ci: Galaxy profiler pipeline time budgets (#44324)
  .github/time_budget.yaml
  .github/workflows/galaxy-profiler-tests-impl.yaml
  .github/workflows/galaxy-profiler-tests.yaml
  .github/workflows/profiler-ci-selector.yaml
  tests/pipeline_reorg/galaxy_profiler_tests.yaml
Due: none

ci: Wire AI job/run summary into demo-sp-release (#43624)
  .github/workflows/demo-sp-release-impl.yaml
Due: none

Fix LoRA fusion in-place mutation corrupting base state dict (#44543)
  models/tt_dit/experimental/pipelines/pipeline_wan_lora.py
Due: none

[Test]: Enable SD Enable test_prefetcher.cpp (#43835)
  tests/pipeline_reorg/runtime_unit_tests.yaml
  tests/scripts/run_cpp_fd2_tests.sh
  tests/tt_metal/tt_metal/perf_microbenchmark/dispatch/common.h
  tests/tt_metal/tt_metal/perf_microbenchmark/dispatch/test_dispatcher.cpp
  tests/tt_metal/tt_metal/perf_microbenchmark/dispatch/test_prefetcher.cpp
Due: none

[skip ci] ci: use setup-job in aggregate-coverage (fixes missing /opt/venv wheel install) (#44597)
  .github/workflows/code-coverage.yaml
Due: none

[tt-train] Fix PolyNorm BW deadlock for non-4 block sizes (#44511)
  tt-train/sources/ttml/metal/ops/polynorm_bw/device/kernels/compute/polynorm_bw_kernel.cpp
  tt-train/sources/ttml/metal/ops/polynorm_bw/device/kernels/dataflow/writer_polynorm_bw_interleaved_start_id.cpp
  tt-train/sources/ttml/metal/ops/polynorm_bw/device/polynorm_bw_program_factory.cpp
Due: none

ci: standardise SKU list across all model test workflows (#44549)
  .github/workflows/all-model-tests.yaml
  .github/workflows/models-t1-device-perf-tests.yaml
  .github/workflows/models-t1-e2e-tests.yaml
  .github/workflows/models-t1-sweep-tests.yaml
  .github/workflows/models-t1-unit-tests.yaml
  .github/workflows/models-t2-e2e-tests.yaml
  .github/workflows/models-t2-sweep-tests.yaml
  .github/workflows/models-t2-unit-tests.yaml
  .github/workflows/models-t3-e2e-tests.yaml
  .github/workflows/models-t3-unit-tests.yaml
Due: none

[Bugfix] Small Metal 2.0 validation fixes / improvements (from 1st op port attempt) (#44586)
  tests/tt_metal/tt_metal/api/metal2_host_api/test_program_run_params.cpp
  tests/tt_metal/tt_metal/api/metal2_host_api/test_program_spec.cpp
  tests/tt_metal/tt_metal/api/metal2_host_api/test_program_spec_hw.cpp
  tt_metal/api/tt-metalium/experimental/metal2_host_api/kernel_spec.hpp
  tt_metal/impl/metal2_host_api/program_run_params.cpp
  tt_metal/impl/metal2_host_api/program_spec.cpp
Due: none

ci: forward build-type to wheels.yaml in build-artifact (#44578)
  .github/workflows/build-artifact.yaml
Due: none

[Quasar] Remove duplicate llk_pack_reduce_mask_config, match with WH/BH function signature (#44474)
  models/demos/deepseek_v3_b1/unified_kernels/sampling.hpp
  tt_metal/hw/ckernels/quasar/metal/llk_api/llk_pack_common_api.h
  tt_metal/hw/ckernels/quasar/metal/llk_api/llk_pack_reduce_api.h
  tt_metal/hw/ckernels/quasar/metal/llk_api/llk_pack_tile_api.h
  tt_metal/hw/ckernels/quasar/metal/llk_api/llk_pack_untilize_api.h
  tt_metal/hw/inc/api/compute/reduce.h
  tt_metal/tt-llk/tt_llk_quasar/llk_lib/llk_defs.h
Due: none

[tt-train] PolyNorm3 FW kernel compute optimizations (#42968)
  tt-train/sources/ttml/metal/ops/polynorm_fw/device/kernels/compute/polynorm_fw_kernel.cpp
  tt-train/sources/ttml/metal/ops/polynorm_fw/device/kernels/dataflow/reader_polynorm_fw_interleaved_start_id.cpp
  tt-train/sources/ttml/metal/ops/polynorm_fw/device/polynorm_fw_device_operation.cpp
  tt-train/sources/ttml/metal/ops/polynorm_fw/device/polynorm_fw_device_operation.hpp
  tt-train/sources/ttml/metal/ops/polynorm_fw/device/polynorm_fw_device_operation_types.hpp
  tt-train/sources/ttml/metal/ops/polynorm_fw/device/polynorm_fw_program_factory.cpp
  tt-train/sources/ttml/metal/ops/polynorm_fw/device/polynorm_fw_program_factory.hpp
  tt-train/tests/ops/polynorm_op_test.cpp
Due: none

tests: tt_metal: Fix fabric microbench in multi-host cases (#44266)
  tests/tt_metal/tt_metal/perf_microbenchmark/routing/tt_fabric_test_common.hpp
Due: none

Fix conv3d garbage output when batch size changes (#44565) (#44599)
  tests/ttnn/nightly/unit_tests/operations/conv/test_conv3d.py
  ttnn/cpp/ttnn/operations/experimental/conv3d/prepare_conv3d_weights.cpp
Due: block-ttnn-pybind-changes

[skip ci] ci: fix aggregate-coverage — remove docker-job hack, use setup-job (#44655)
  .github/workflows/code-coverage.yaml
Due: none

ci: embed build-type in build artifact name (#44585)
  .github/workflows/build-artifact.yaml
Due: none

ct/fabric cluster update (#43899)
  tests/tt_metal/distributed/hd_socket_test_utils.cpp
  tests/tt_metal/multihost/socket_pipeline/multiprocess/multi_host_pipeline.cpp
  tests/tt_metal/tt_fabric/fabric_router/test_physical_grouping_descriptor.cpp
  tests/tt_metal/tt_fabric/fabric_router/test_routing_tables.cpp
  tests/tt_metal/tt_fabric/fabric_router/test_topology_mapper.cpp
  tests/tt_metal/tt_fabric/fabric_router/test_topology_mapper_utils.cpp
  tests/tt_metal/tt_fabric/physical_discovery/test_physical_system_descriptor.cpp
  tests/tt_metal/tt_fabric/system_health/test_system_health.cpp
  tests/ttnn/unit_tests/gtests/multiprocess/test_send_recv_pipeline.cpp
  tools/scaleout/src/generate_rank_bindings.cpp
  tools/scaleout/validation/run_cluster_validation.cpp
  tools/scaleout/validation/utils/cluster_validation_utils.cpp
  tools/tests/scaleout/test_link_retraining.cpp
  tt_metal/api/tt-metalium/experimental/fabric/control_plane.hpp
  tt_metal/fabric/control_plane.cpp
  tt_metal/fabric/physical_system_discovery.cpp
  tt_metal/fabric/physical_system_discovery.hpp
  tt_metal/llrt/tt_cluster.cpp
  tt_metal/llrt/tunnels_from_mmio_device.cpp
  tt_metal/llrt/tunnels_from_mmio_device.hpp
Due: none

Feature: Persist H2D/D2H Socket Connector state in SHM across Processes (#43967)
  tests/tt_metal/distributed/test_multiproc_loopback.cpp
  tt_metal/api/tt-metalium/experimental/sockets/d2h_socket.hpp
  tt_metal/api/tt-metalium/experimental/sockets/h2d_socket.hpp
  tt_metal/distributed/d2h_socket.cpp
  tt_metal/distributed/flatbuffer/hd_socket_descriptor.fbs
  tt_metal/distributed/h2d_socket.cpp
  tt_metal/distributed/hd_socket_connector_state.hpp
  tt_metal/distributed/hd_socket_descriptor.cpp
  tt_metal/distributed/hd_socket_descriptor.hpp
Due: none

operation : deepseek_moe_fast_reduce_nc_fused (#42624)
  models/demos/deepseek_v3/tests/fused_op_unit_tests/moe/test_deepseek_moe_fast_reduce_nc_fused.py
  models/demos/deepseek_v3/tests/fused_op_unit_tests/moe/test_optimized_moe_decode_block.py
  ttnn/cpp/ttnn/operations/experimental/experimental_nanobind.cpp
  ttnn/cpp/ttnn/operations/experimental/reduction/CMakeLists.txt
  ttnn/cpp/ttnn/operations/experimental/reduction/deepseek_moe_fast_reduce_nc_fused/deepseek_moe_fast_reduce_nc_fused.cpp
  ttnn/cpp/ttnn/operations/experimental/reduction/deepseek_moe_fast_reduce_nc_fused/deepseek_moe_fast_reduce_nc_fused.hpp
  ttnn/cpp/ttnn/operations/experimental/reduction/deepseek_moe_fast_reduce_nc_fused/deepseek_moe_fast_reduce_nc_fused_nanobind.cpp
  ttnn/cpp/ttnn/operations/experimental/reduction/deepseek_moe_fast_reduce_nc_fused/deepseek_moe_fast_reduce_nc_fused_nanobind.hpp
  ttnn/cpp/ttnn/operations/experimental/reduction/deepseek_moe_fast_reduce_nc_fused/device/deepseek_moe_fast_reduce_nc_fused_device_operation.cpp
  ttnn/cpp/ttnn/operations/experimental/reduction/deepseek_moe_fast_reduce_nc_fused/device/deepseek_moe_fast_reduce_nc_fused_device_operation.hpp
  ttnn/cpp/ttnn/operations/experimental/reduction/deepseek_moe_fast_reduce_nc_fused/device/deepseek_moe_fast_reduce_nc_fused_device_operation_types.hpp
  ttnn/cpp/ttnn/operations/experimental/reduction/deepseek_moe_fast_reduce_nc_fused/device/deepseek_moe_fast_reduce_nc_fused_program_factory.cpp
  ttnn/cpp/ttnn/operations/experimental/reduction/deepseek_moe_fast_reduce_nc_fused/device/deepseek_moe_fast_reduce_nc_fused_program_factory.hpp
  ttnn/cpp/ttnn/operations/experimental/reduction/deepseek_moe_fast_reduce_nc_fused/device/kernels/deepseek_moe_fast_reduce_nc_fused_compute.cpp
  ttnn/cpp/ttnn/operations/experimental/reduction/deepseek_moe_fast_reduce_nc_fused/device/kernels/deepseek_moe_fast_reduce_nc_fused_reader.cpp
  ttnn/cpp/ttnn/operations/experimental/reduction/sources.cmake
  ttnn/sources.cmake
Due: block-ttnn-pybind-changes, detect-legacy-device-op

Path conditions:
  block-ttnn-pybind-changes: any of: ^ttnn/
  detect-legacy-device-op: any of: ^ttnn/.*\.hpp$
  validate-golden-csv-columns: any of: ^tests/tt_metal/tt_metal/perf_microbenchmark/routing/golden/.*bandwidth.*\.csv$
