Repository tenstorrent/tt-metal: changes, and which pre-commit hooks are due for each by the changed paths.
All: block-ttnn-pybind-changes, detect-legacy-device-op, validate-golden-csv-columns

block-ttnn-pybind-changes:
  name: Prevent edits to frozen pybind11 sources under ttnn
  entry: python3 scripts/block_ttnn_pybind_changes.py
  language: system
  pass_filenames: true

detect-legacy-device-op:
  name: Detect legacy device operation classes in newly added files
  entry: python3 scripts/detect_legacy_device_op.py --check-new-only
  language: system
  pass_filenames: true
  require_serial: true

validate-golden-csv-columns:
  name: Validate golden bandwidth CSV column headers
  entry: bash .github/scripts/utils/validate_golden_csv_columns.sh
  language: system
  pass_filenames: false

sweep(plus_one): honour skip_negative_entries in the golden
  tests/sweep_framework/sweeps/model_traced/plus_one_model_traced.py
Due: none

[Cleanup] docs(plus_one): correct dtype/rank and document skip_negative_entries semantics
  ttnn/cpp/ttnn/operations/experimental/plusone/plusone_nanobind.cpp
Due: block-ttnn-pybind-changes

cmbf2d: batched credits + per-slot headers are the producer loop (13.2 -> 21.2 GB/s)
  models/demos/deepseek_v3_d_p/tests/op_unit_tests/test_prefill_combine.py
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/combine_fabric2d/combine_fabric2d.hpp
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/combine_fabric2d/combine_fabric2d_nanobind.cpp
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/combine_fabric2d/device/combine_fabric2d_program_factory.cpp
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/combine_fabric2d/device/combine_fabric2d_types.hpp
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/combine_fabric2d/device/kernels/dataflow/producer_combine_fabric2d.cpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

perf(diffusion_gemma): commit and self-conditioning seams -- commit is 0.3 s, not 2.0 s, once the norm is unchunked
  models/experimental/diffusion_gemma/.DS_Store
  models/experimental/diffusion_gemma/demo/chat.html
  models/experimental/diffusion_gemma/doc/optimize_perf/artifacts/dormant_commit_ablation_20260728_base_rep1.json
  models/experimental/diffusion_gemma/doc/optimize_perf/artifacts/dormant_commit_ablation_20260728_base_rep2.json
  models/experimental/diffusion_gemma/doc/optimize_perf/artifacts/dormant_commit_ablation_20260728_no_cattn_rep1.json
  models/experimental/diffusion_gemma/doc/optimize_perf/artifacts/dormant_commit_ablation_20260728_no_cattn_rep2.json
  models/experimental/diffusion_gemma/doc/optimize_perf/artifacts/dormant_commit_ablation_20260728_no_cmoe_rep1.json
  models/experimental/diffusion_gemma/doc/optimize_perf/artifacts/dormant_commit_ablation_20260728_no_cmoe_rep2.json
  models/experimental/diffusion_gemma/doc/optimize_perf/artifacts/dormant_commit_ablation_20260728_no_cshared_rep1.json
  models/experimental/diffusion_gemma/doc/optimize_perf/artifacts/dormant_commit_ablation_20260728_no_cshared_rep2.json
  models/experimental/diffusion_gemma/doc/optimize_perf/artifacts/dormant_commit_ablation_20260728_no_sc_rep1.json
  models/experimental/diffusion_gemma/doc/optimize_perf/artifacts/dormant_commit_ablation_20260728_no_sc_rep2.json
  models/experimental/diffusion_gemma/doc/optimize_perf/artifacts/dormant_dormant2_20260728_base_rep1.json
  models/experimental/diffusion_gemma/doc/optimize_perf/artifacts/dormant_dormant2_20260728_base_rep2.json
  models/experimental/diffusion_gemma/doc/optimize_perf/artifacts/dormant_dormant2_20260728_canvastail_rep1.json
  models/experimental/diffusion_gemma/doc/optimize_perf/artifacts/dormant_dormant2_20260728_canvastail_rep2.json
  models/experimental/diffusion_gemma/doc/optimize_perf/artifacts/dormant_dormant2_20260728_dedup_rep1.json
  models/experimental/diffusion_gemma/doc/optimize_perf/artifacts/dormant_dormant2_20260728_dedup_rep2.json
  models/experimental/diffusion_gemma/doc/optimize_perf/artifacts/dormant_dormant2_20260728_expapx_rep1.json
  models/experimental/diffusion_gemma/doc/optimize_perf/artifacts/dormant_dormant2_20260728_expapx_rep2.json
  models/experimental/diffusion_gemma/doc/optimize_perf/artifacts/dormant_dormant2_20260728_fp32sync_rep1.json
  models/experimental/diffusion_gemma/doc/optimize_perf/artifacts/dormant_dormant2_20260728_fp32sync_rep2.json
  models/experimental/diffusion_gemma/doc/optimize_perf/artifacts/dormant_dormant2_20260728_termfp32_rep1.json
  models/experimental/diffusion_gemma/doc/optimize_perf/artifacts/dormant_dormant2_20260728_termfp32_rep2.json
  models/experimental/diffusion_gemma/doc/optimize_perf/artifacts/dormant_slope_12_20260728_best_rep1.json
  models/experimental/diffusion_gemma/doc/optimize_perf/artifacts/dormant_slope_12_20260728_best_rep2.json
  models/experimental/diffusion_gemma/doc/optimize_perf/artifacts/dormant_slope_24_20260728_best_rep1.json
  models/experimental/diffusion_gemma/doc/optimize_perf/artifacts/dormant_slope_24_20260728_best_rep2.json
  models/experimental/diffusion_gemma/doc/optimize_perf/artifacts/dormant_slope_48_20260728_best_rep1.json
  models/experimental/diffusion_gemma/doc/optimize_perf/artifacts/dormant_slope_48_20260728_best_rep2.json
  models/experimental/diffusion_gemma/tt/commit_batched.py
  models/experimental/diffusion_gemma/tt/denoise_forward.py
Due: none

refactor(diffusion_gemma): delete four env reads that cannot change anything
  models/experimental/diffusion_gemma/doc/vllm_integration/chunked_prefill/README.md
  models/experimental/diffusion_gemma/doc/vllm_integration/vllm_native_plan.md
  models/experimental/diffusion_gemma/tests/test_chunked_prefill_math.py
  models/experimental/diffusion_gemma/tests/test_commit_write_mode.py
  models/experimental/diffusion_gemma/tt/chunked_prefill.py
  models/experimental/diffusion_gemma/tt/commit_batched.py
  models/experimental/diffusion_gemma/tt/sparse_moe.py
Due: none

decoder progress
  models/demos/vision/detection/rtdetr/common/preprocessing.py
  models/demos/vision/detection/rtdetr/common/reference.py
  models/demos/vision/detection/rtdetr/tests/tests.py
  models/demos/vision/detection/rtdetr/tt/backbone.py
  models/demos/vision/detection/rtdetr/tt/decoder.py
  models/demos/vision/detection/rtdetr/tt/encoder.py
  models/demos/vision/detection/rtdetr/tt/model.py
Due: none

refactor(diffusion_gemma): delete the two refuted MoE knobs, DG_MOE_EXPERT_BFP8 and DG_MOE_L1
  models/experimental/diffusion_gemma/doc/optimize_perf/bench_moe_l1_residency.py
  models/experimental/diffusion_gemma/doc/optimize_perf/context_window_sweep.py
  models/experimental/diffusion_gemma/tt/denoise_forward.py
  models/experimental/diffusion_gemma/tt/sparse_moe.py
Due: none

docs(plus_one): drop the pytorch reference, document behaviour in TTNN terms
  ttnn/cpp/ttnn/operations/experimental/plusone/plusone_nanobind.cpp
Due: block-ttnn-pybind-changes

Refinement 3 (WIP): two-stage cross-core combine — decode 1.12-1.19x at the pinned perf config
  .device_timing.jsonl
  tests/ttnn/unit_tests/operations/rms_norm/probes/probe_026.py
  tests/ttnn/unit_tests/operations/rms_norm/probes/probe_027.py
  tests/ttnn/unit_tests/operations/rms_norm/test_rms_norm_perf.py
  ttnn/ttnn/operations/rms_norm/agent_logs/blocking-implementer_breadcrumbs.jsonl
  ttnn/ttnn/operations/rms_norm/kernels/rms_norm_compute.cpp
  ttnn/ttnn/operations/rms_norm/kernels/rms_norm_reader.cpp
  ttnn/ttnn/operations/rms_norm/kernels/rms_norm_writer.cpp
  ttnn/ttnn/operations/rms_norm/rms_norm_program_descriptor.py
Due: block-ttnn-pybind-changes

Attempt
  tt_metal/impl/dispatch/dispatch_core_manager.cpp
  tt_metal/impl/dispatch/dispatch_query_manager.cpp
Due: none

[#48552 DIAG] Strip MATH<->PACK/UNPACK sync primitives to bisect ERROR_TRISC1 0x19
  tt_metal/hw/inc/api/compute/tilize.h
  tt_metal/tt-llk/tt_llk_quasar/common/inc/ckernel_template.h
  tt_metal/tt-llk/tt_llk_quasar/common/inc/ckernel_trisc_common.h
  tt_metal/tt-llk/tt_llk_quasar/common/inc/cmath_common.h
  tt_metal/tt-llk/tt_llk_quasar/llk_lib/llk_math_common.h
  tt_metal/tt-llk/tt_llk_quasar/llk_lib/llk_math_eltwise_unary_datacopy.h
  tt_metal/tt-llk/tt_llk_quasar/llk_lib/llk_pack_common.h
  tt_metal/tt-llk/tt_llk_quasar/llk_lib/llk_sync.h
  tt_metal/tt-llk/tt_llk_quasar/llk_lib/llk_unpack_common.h
  tt_metal/tt-llk/tt_llk_quasar/llk_lib/llk_unpack_tilize.h
  tt_metal/tt-llk/tt_llk_quasar/llk_lib/llk_unpack_unary_operand.h
Due: none

fabric: allow overriding handshake NoC in open_connections/build_from_args
  tt_metal/fabric/hw/inc/api_common.h
  tt_metal/fabric/hw/inc/edm_fabric/routing_plane_connection_manager.hpp
Due: none

fabric: include edm_fabric_utils.hpp directly in api_common.h
  tt_metal/fabric/hw/inc/api_common.h
Due: none

fabric: drop verbose comments on handshake noc template params
  tt_metal/fabric/hw/inc/api_common.h
  tt_metal/fabric/hw/inc/edm_fabric/routing_plane_connection_manager.hpp
Due: none

fabric: thread handshake NoC through RoutingPlaneConnectionManager split-phase APIs
  tt_metal/fabric/hw/inc/edm_fabric/routing_plane_connection_manager.hpp
Due: none

fabric: make handshake NoC override a runtime per-connection field
  tt_metal/fabric/hw/inc/api_common.h
  tt_metal/fabric/hw/inc/edm_fabric/edm_fabric_worker_adapters.hpp
  tt_metal/fabric/hw/inc/edm_fabric/routing_plane_connection_manager.hpp
Due: none

fabric: drop default member initializer on send_noc to keep sender trivially constructible
  tt_metal/fabric/hw/inc/edm_fabric/edm_fabric_worker_adapters.hpp
Due: none

fabric: fix buffer-slot address/transfer NoC mismatch in send_payload_impl
  tt_metal/fabric/hw/inc/edm_fabric/edm_fabric_worker_adapters.hpp
Due: none

refactor(diffusion_gemma): delete the superseded dispatch variants, the canvas-tail workspace, and the duplicate RoPE/SDPA python paths
  models/experimental/diffusion_gemma/doc/optimize_perf/verify_canvas_tail.sh
  models/experimental/diffusion_gemma/doc/optimize_perf/verify_dispatch_fused.py
  models/experimental/diffusion_gemma/tests/test_denoise_sliding_window.py
  models/experimental/diffusion_gemma/tests/test_gemma4_prefill_guards.py
  models/experimental/diffusion_gemma/tt/degeneracy.py
  models/experimental/diffusion_gemma/tt/denoise_forward.py
  models/experimental/diffusion_gemma/tt/diffusion_attention.py
  models/experimental/diffusion_gemma/tt/sparse_moe.py
  models/experimental/diffusion_gemma/tt/traced_denoise.py
Due: none

fabric: make close_start/close_finish/close use send_noc too
  tt_metal/fabric/hw/inc/edm_fabric/edm_fabric_worker_adapters.hpp
Due: none

fix(gemma4): clear sliding persistent ring for sp0 prefill trace capture
  .github/workflows/vllm-nightly-tests-impl.yaml
  models/demos/gemma4/tests/unit/test_long_context_policy.py
  models/demos/gemma4/tt/attention/__init__.py
  models/demos/gemma4/tt/generator.py
  models/demos/gemma4/tt/generator_trace.py
Due: none

Refinement 3: Speed up the perf-flagged decode column — two-stage combine + copy elision, 1.17-1.23x
  .device_timing.jsonl
  tests/ttnn/unit_tests/operations/rms_norm/test_rms_norm_perf.py
  tests/ttnn/unit_tests/operations/rms_norm/test_rms_norm_wsplit.py
  ttnn/ttnn/operations/rms_norm/agent_logs/blocking-implementer_breadcrumbs.jsonl
  ttnn/ttnn/operations/rms_norm/changelog.md
  ttnn/ttnn/operations/rms_norm/kernels/rms_norm_compute.cpp
  ttnn/ttnn/operations/rms_norm/op_requirements.md
Due: block-ttnn-pybind-changes

refactor(diffusion_gemma): delete the sharded terminal, the argmax dedup and the device loop, and take the DG leak back out of shared gemma4
  models/demos/gemma4/tt/model.py
  models/experimental/diffusion_gemma/doc/optimize_perf/context_window_sweep.py
  models/experimental/diffusion_gemma/doc/optimize_perf/verify_terminal_dedup.py
  models/experimental/diffusion_gemma/tests/test_denoise_forward.py
  models/experimental/diffusion_gemma/tests/test_tt_denoise_loop.py
  models/experimental/diffusion_gemma/tt/denoise_forward.py
  models/experimental/diffusion_gemma/tt/denoise_loop.py
  models/experimental/diffusion_gemma/tt/generate.py
  models/experimental/diffusion_gemma/tt/sampling.py
  models/experimental/diffusion_gemma/tt/self_conditioning.py
  models/experimental/diffusion_gemma/tt/traced_denoise.py
Due: none

[Bug fix] dequantize: widen uint8 input before the tensor-zero-point subtract
  tests/ttnn/nightly/unit_tests/operations/eltwise/test_quantization.py
  ttnn/cpp/ttnn/operations/eltwise/quantization/quantization.cpp
Due: block-ttnn-pybind-changes

sweep: don't PCIe-reset Galaxy, and abort the run instead of reopening after a hang
  tests/sweep_framework/framework/tt_smi_util.py
  tests/sweep_framework/sweeps_runner.py
Due: none

sweep: default device-reset attempts to 1
  tests/sweep_framework/framework/tt_smi_util.py
Due: none

test: add perf and multi-zp tests
  tests/ttnn/test_per_channel_quant_fast_path.py
Due: none

i2v
  models/tt_dit/tests/models/wan2_2/test_pipeline_wan_i2v.py
Due: none

kv cache table test ci time rebalance
  tests/pipeline_reorg/blaze_models_prefill_tests.yaml
Due: none

Refinement 4: `HEIGHT_SHARDED` placement (local shard, zero-copy) — knob-turn, zero kernel changes
  tests/ttnn/unit_tests/operations/rms_norm/probes/probe_028.py
  tests/ttnn/unit_tests/operations/rms_norm/probes/probe_029.py
  tests/ttnn/unit_tests/operations/rms_norm/probes/probe_030.py
  tests/ttnn/unit_tests/operations/rms_norm/probes/probe_031.py
  tests/ttnn/unit_tests/operations/rms_norm/probes/probe_032.py
  tests/ttnn/unit_tests/operations/rms_norm/probes/probe_033.py
  tests/ttnn/unit_tests/operations/rms_norm/probes/probe_034.py
  tests/ttnn/unit_tests/operations/rms_norm/test_rms_norm_height_sharded.py
  tests/ttnn/unit_tests/operations/rms_norm/test_rms_norm_perf.py
  ttnn/ttnn/operations/rms_norm/agent_logs/blocking-implementer_breadcrumbs.jsonl
  ttnn/ttnn/operations/rms_norm/changelog.md
  ttnn/ttnn/operations/rms_norm/op_requirements.md
  ttnn/ttnn/operations/rms_norm/rms_norm.py
  ttnn/ttnn/operations/rms_norm/rms_norm_program_descriptor.py
Due: block-ttnn-pybind-changes

refactor(diffusion_gemma): delete the compact-ragged MoE branch, the prefix cache, DG_GELU_TANH and three wrong-number flags
  models/experimental/diffusion_gemma/.agent/skills/optimize/SKILL.md
  models/experimental/diffusion_gemma/.agent/skills/vllm-integration/SKILL.md
  models/experimental/diffusion_gemma/demo/prefix_cache_smoke.py
  models/experimental/diffusion_gemma/doc/context_contract.json
  models/experimental/diffusion_gemma/doc/optimize_perf/context_window_sweep.py
  models/experimental/diffusion_gemma/doc/optimize_perf/run_upfront_gpqa.sh
  models/experimental/diffusion_gemma/doc/vllm_integration/README.md
  models/experimental/diffusion_gemma/tests/test_denoise_forward.py
  models/experimental/diffusion_gemma/tests/test_expert_operations.py
  models/experimental/diffusion_gemma/tests/test_prefix_cache.py
  models/experimental/diffusion_gemma/tests/test_upfront_capture.py
  models/experimental/diffusion_gemma/tests/test_vllm_live_context_sweep.py
  models/experimental/diffusion_gemma/tt/commit_batched.py
  models/experimental/diffusion_gemma/tt/commit_decode.py
  models/experimental/diffusion_gemma/tt/denoise_forward.py
  models/experimental/diffusion_gemma/tt/expert_operations.py
  models/experimental/diffusion_gemma/tt/generate.py
  models/experimental/diffusion_gemma/tt/generator_vllm.py
  models/experimental/diffusion_gemma/tt/kernels/compact_dense_combine.cpp
  models/experimental/diffusion_gemma/tt/kernels/compact_down_to_dense.cpp
  models/experimental/diffusion_gemma/tt/kernels/compact_ragged_dispatch.cpp
  models/experimental/diffusion_gemma/tt/prefill_moe.py
  models/experimental/diffusion_gemma/tt/prefix_cache.py
  models/experimental/diffusion_gemma/tt/serving.py
  models/experimental/diffusion_gemma/tt/sparse_moe.py
Due: none

#50748: tilize: account for c_1 staging in L1 CB budget math to prevent static CB region overrunning the L1 heap
  ttnn/cpp/ttnn/operations/data_movement/common/common.cpp
  ttnn/cpp/ttnn/operations/data_movement/common/common.hpp
  ttnn/cpp/ttnn/operations/data_movement/tilize/device/tilize_multi_core_block_program_factory.cpp
  ttnn/cpp/ttnn/operations/data_movement/tilize/tilize.cpp
  ttnn/cpp/ttnn/operations/data_movement/tilize_with_val_padding/device/factories/tilize_with_val_padding_multi_core_block_interleaved_program_factory.cpp
  ttnn/cpp/ttnn/operations/data_movement/tilize_with_val_padding/tilize_with_val_padding.cpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

speaker encoder optimiation
  models/experimental/xtts/tt/xtts_conv.py
  models/experimental/xtts/tt/xtts_speaker_encoder.py
Due: none

docs(diffusion_gemma): record the flag triage -- 24 flags and ~4400 lines deleted, and what only a device run caught
  models/experimental/diffusion_gemma/doc/optimize_perf/flag_triage_20260728.md
Due: none

docs(diffusion_gemma): close the winter follow-ups the triage answered
  models/experimental/diffusion_gemma/doc/optimize_perf/winter_borrow_20260727.md
Due: none

fix(diffusion_gemma): validate DG_SKIP tokens instead of ignoring unknown ones
  models/experimental/diffusion_gemma/tests/test_denoise_forward.py
  models/experimental/diffusion_gemma/tt/denoise_forward.py
Due: none

fix(diffusion_gemma): repair the harnesses the flag deletions broke
  models/experimental/diffusion_gemma/doc/datatype_sweep/sweep_dtype.py
  models/experimental/diffusion_gemma/doc/optimize_perf/context_window_sweep.py
  models/experimental/diffusion_gemma/doc/optimize_perf/probe_halt_gap.py
  models/experimental/diffusion_gemma/doc/optimize_perf/probe_terminal_precision.py
  models/experimental/diffusion_gemma/doc/optimize_perf/prof_step_breakdown.py
  models/experimental/diffusion_gemma/doc/optimize_perf/verify_selfcond_prechunk_decisions.py
  models/experimental/diffusion_gemma/doc/optimize_perf/verify_sparse_moe.py
  models/experimental/diffusion_gemma/tt/generator_vllm.py
Due: none

Refinement 5 (WIP): retire the guessed L1 CB wall — prefill 8192x7168 810us -> 693us (1.17x)
  .device_timing.jsonl
  tests/ttnn/unit_tests/operations/rms_norm/probes/probe_035.py
  tests/ttnn/unit_tests/operations/rms_norm/probes/probe_036.py
  tests/ttnn/unit_tests/operations/rms_norm/test_rms_norm_height_sharded.py
  tests/ttnn/unit_tests/operations/rms_norm/test_rms_norm_perf.py
  ttnn/ttnn/operations/rms_norm/rms_norm_program_descriptor.py
Due: block-ttnn-pybind-changes

docs(diffusion_gemma): put the 07-28 triage and perf state at the top of plan.md Part 0
  models/experimental/diffusion_gemma/plan.md
Due: none

Path conditions:
  block-ttnn-pybind-changes: any of: ^ttnn/
  detect-legacy-device-op: any of: ^ttnn/.*\.hpp$
  validate-golden-csv-columns: any of: ^tests/tt_metal/tt_metal/perf_microbenchmark/routing/golden/.*bandwidth.*\.csv$
