Repository tenstorrent/tt-metal: changes, and which pre-commit hooks are due for each by the changed paths.
All: block-ttnn-pybind-changes, detect-legacy-device-op, validate-golden-csv-columns

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v3.2.0
  hooks:
    - id: trailing-whitespace
      exclude: \.patch$
    - id: end-of-file-fixer
      exclude: \.patch$
    - id: check-yaml
      args: ["--unsafe"]
    - id: check-added-large-files
# Using this mirror lets us use mypyc-compiled black, which is about 2x faster
- repo: https://github.com/psf/black-pre-commit-mirror
  rev: 23.10.1
  hooks:
    - id: black
      language_version: python3
- repo: https://github.com/PyCQA/autoflake
  rev: v2.3.1
  hooks:
    - id: autoflake
      args: [--remove-all-unused-imports, --in-place, --recursive, --exclude=__init__.py]
      files: ^models/  # Run only on files in the models directory
- repo: https://github.com/pycqa/isort
  rev: 5.13.2
  hooks:
    - id: isort
      files: ^models/
      exclude: ^models/(demos/llama3_70b_galaxy|experimental)/
- repo: https://github.com/BlankSpruce/gersemi
  rev: 0.16.2
  hooks:
    - id: gersemi
- repo: https://github.com/adrienverge/yamllint.git
  rev: v1.35.1
  hooks:
    - id: yamllint
- repo: https://github.com/pre-commit/mirrors-clang-format
  rev: v19.1.4
  hooks:
    - id: clang-format
      entry: git-clang-format
      require_serial: true
      types_or: [c++, c]
      args: ["--style=file"]
- repo: local
  hooks:
    - id: validate-metalium-includes
      name: validate-metalium-includes
      entry: python3 scripts/validate_api/validate_includes.py tt_metal/api --check-ttnn-forwards
      language: system
      pass_filenames: false
    - id: validate-metalium-deprecation
      name: validate-metalium-deprecation
      entry: python3 scripts/validate_api/validate_deprecation.py tt_metal/api origin/main
      language: system
      pass_filenames: false
- repo: local
  hooks:
    - id: check-torch-imports-in-ttnn
      name: Verify that there is no global torch import in ttnn
      entry: python3 scripts/validate_no_global_torch_imports.py
      language: system
      pass_filenames: false
- repo: local
  hooks:
    - id: block-ttnn-pybind-changes
      name: Prevent edits to frozen pybind11 sources under ttnn
      entry: python3 scripts/block_ttnn_pybind_changes.py
      language: system
      pass_filenames: true
      files: ^ttnn/
- repo: local
  hooks:
    - id: convert-notebooks-to-py
      name: Convert .ipynb to .py for ttnn basic examples
      entry: python3 scripts/convert_notebooks_to_python.py
      language: system
- repo: local
  hooks:
    - id: detect-legacy-device-op
      name: Detect legacy device operation classes in newly added files
      entry: python3 scripts/detect_legacy_device_op.py --check-new-only
      language: system
      types: [file]
      files: ^ttnn/.*\.hpp$
      pass_filenames: true
      require_serial: true
- repo: local
  hooks:
    - id: validate-golden-csv-columns
      name: Validate golden bandwidth CSV column headers
      entry: bash .github/scripts/utils/validate_golden_csv_columns.sh
      language: system
      pass_filenames: false
      files: ^tests/tt_metal/tt_metal/perf_microbenchmark/routing/golden/.*bandwidth.*\.csv$

sampling: gate on-device support on a tile-aligned padded-vocab cut, not vocab_size
  models/common/sampling/tt_sampling.py
  models/common/tests/test_sampling.py
  models/tt_transformers/tt/model.py
Due: none

ltx: tile-skip Phase 2b Stage 1 -- plumb neighborhood_block_tileskip flag (no-op)
  models/tt_dit/tests/unit/test_block_sdpa_op.py
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/kernels/compute/sdpa.cpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/kernels/dataflow/reader_interleaved.cpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/sdpa_device_operation.cpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/sdpa_device_operation.hpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/sdpa_device_operation_types.hpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/sdpa_program_factory.cpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/sdpa.cpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/sdpa.hpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/sdpa_nanobind.cpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

models CI: run the single-device sampling unit tests on N150 and P150
  .github/time_budget.yaml
  .github/workflows/models-t3-unit-tests.yaml
  tests/pipeline_reorg/models_e2e_tests.yaml
  tests/pipeline_reorg/models_unit_tests.yaml
Due: none

sampling: untilize the argmax fast path in vocab chunks past 128K
  models/common/sampling/tt_sampling.py
  models/common/tests/test_sampling.py
Due: none

[LLK][Feature] Implement cumsum for Quasar (#52935)
  tt_metal/hw/ckernels/quasar/metal/llk_api/llk_sfpu/ckernel_sfpu_cumsum.h
  tt_metal/tt-llk/tests/helpers/include/sfpu_operations_quasar.h
  tt_metal/tt-llk/tests/python_tests/helpers/golden_generators.py
  tt_metal/tt-llk/tests/python_tests/helpers/llk_params.py
  tt_metal/tt-llk/tests/python_tests/quasar/test_eltwise_unary_sfpu_quasar.py
  tt_metal/tt-llk/tt_llk_quasar/llk_lib/llk_defs.h
Due: none

BH LLK topk: replay-recorded step loads/stores for sort phases >= 4
  tt_metal/tt-llk/tt_llk_blackhole/common/inc/sfpu/ckernel_sfpu_topk.h
Due: none

Validate QKV Conv1D tap channel dimensions
  tests/ttnn/nightly/unit_tests/operations/experimental/kda/test_qkv_causal_conv1d_silu.py
  ttnn/cpp/ttnn/operations/experimental/kda/qkv_causal_conv1d_silu/device/qkv_causal_conv1d_silu_device_operation.cpp
Due: block-ttnn-pybind-changes

Add experimental KDA QKV causal Conv1D
  tests/ttnn/nightly/unit_tests/operations/experimental/kda/test_qkv_causal_conv1d_silu.py
  ttnn/cpp/ttnn/operations/experimental/CMakeLists.txt
  ttnn/cpp/ttnn/operations/experimental/kda/factory/kda_factory_utils.cpp
  ttnn/cpp/ttnn/operations/experimental/kda/factory/kda_factory_utils.hpp
  ttnn/cpp/ttnn/operations/experimental/kda/kda_nanobind.cpp
  ttnn/cpp/ttnn/operations/experimental/kda/qkv_causal_conv1d_silu/CMakeLists.txt
  ttnn/cpp/ttnn/operations/experimental/kda/qkv_causal_conv1d_silu/device/kernels/compute/qkv_causal_conv1d_silu.cpp
  ttnn/cpp/ttnn/operations/experimental/kda/qkv_causal_conv1d_silu/device/kernels/dataflow/reader_qkv_causal_conv1d_silu.cpp
  ttnn/cpp/ttnn/operations/experimental/kda/qkv_causal_conv1d_silu/device/kernels/dataflow/writer_qkv_causal_conv1d_silu.cpp
  ttnn/cpp/ttnn/operations/experimental/kda/qkv_causal_conv1d_silu/device/qkv_causal_conv1d_silu_device_operation.cpp
  ttnn/cpp/ttnn/operations/experimental/kda/qkv_causal_conv1d_silu/device/qkv_causal_conv1d_silu_device_operation.hpp
  ttnn/cpp/ttnn/operations/experimental/kda/qkv_causal_conv1d_silu/device/qkv_causal_conv1d_silu_device_operation_types.hpp
  ttnn/cpp/ttnn/operations/experimental/kda/qkv_causal_conv1d_silu/device/qkv_causal_conv1d_silu_program_factory.cpp
  ttnn/cpp/ttnn/operations/experimental/kda/qkv_causal_conv1d_silu/device/qkv_causal_conv1d_silu_program_factory.hpp
  ttnn/cpp/ttnn/operations/experimental/kda/qkv_causal_conv1d_silu/qkv_causal_conv1d_silu.cpp
  ttnn/cpp/ttnn/operations/experimental/kda/qkv_causal_conv1d_silu/qkv_causal_conv1d_silu.hpp
  ttnn/cpp/ttnn/operations/experimental/kda/qkv_causal_conv1d_silu/qkv_causal_conv1d_silu_nanobind.cpp
  ttnn/cpp/ttnn/operations/experimental/kda/qkv_causal_conv1d_silu/qkv_causal_conv1d_silu_nanobind.hpp
  ttnn/cpp/ttnn/operations/experimental/kda/qkv_causal_conv1d_silu/sources.cmake
Due: block-ttnn-pybind-changes, detect-legacy-device-op

Qualify QKV Conv1D device pointer
  ttnn/cpp/ttnn/operations/experimental/kda/qkv_causal_conv1d_silu/device/qkv_causal_conv1d_silu_device_operation.cpp
Due: block-ttnn-pybind-changes

Update KDA license attribution
  tests/ttnn/nightly/unit_tests/operations/experimental/kda/test_qkv_causal_conv1d_silu.py
Due: none

Exercise QKV Conv1D cache hits with new buffers
  tests/ttnn/nightly/unit_tests/operations/experimental/kda/test_qkv_causal_conv1d_silu.py
Due: none

Package QKV Conv1D kernels
  ttnn/cpp/ttnn/operations/experimental/kda/qkv_causal_conv1d_silu/CMakeLists.txt
Due: block-ttnn-pybind-changes

Derive QKV weight tile size from circular buffer
  ttnn/cpp/ttnn/operations/experimental/kda/qkv_causal_conv1d_silu/device/kernels/dataflow/reader_qkv_causal_conv1d_silu.cpp
Due: block-ttnn-pybind-changes

Use explicit compute startup in QKV Conv1D
  ttnn/cpp/ttnn/operations/experimental/kda/qkv_causal_conv1d_silu/device/kernels/compute/qkv_causal_conv1d_silu.cpp
Due: block-ttnn-pybind-changes

#52784: Document causal QKV Conv1D contract
  ttnn/cpp/ttnn/operations/experimental/kda/qkv_causal_conv1d_silu/qkv_causal_conv1d_silu_nanobind.cpp
Due: block-ttnn-pybind-changes

Support sharded KDA affine reduction inputs
  tests/ttnn/nightly/unit_tests/operations/experimental/kda/test_reduce_affine_transforms.py
  ttnn/cpp/ttnn/operations/experimental/kda/reduce_affine_transforms/device/reduce_affine_transforms_device_operation.cpp
Due: block-ttnn-pybind-changes

Add experimental KDA affine transform reduction
  tests/ttnn/nightly/unit_tests/operations/experimental/kda/test_reduce_affine_transforms.py
  ttnn/cpp/ttnn/operations/experimental/CMakeLists.txt
  ttnn/cpp/ttnn/operations/experimental/kda/factory/kda_factory_utils.cpp
  ttnn/cpp/ttnn/operations/experimental/kda/factory/kda_factory_utils.hpp
  ttnn/cpp/ttnn/operations/experimental/kda/kda_nanobind.cpp
  ttnn/cpp/ttnn/operations/experimental/kda/reduce_affine_transforms/CMakeLists.txt
  ttnn/cpp/ttnn/operations/experimental/kda/reduce_affine_transforms/device/kernels/compute/reduce_affine_transforms.cpp
  ttnn/cpp/ttnn/operations/experimental/kda/reduce_affine_transforms/device/kernels/dataflow/reader_writer_reduce_affine_transforms.cpp
  ttnn/cpp/ttnn/operations/experimental/kda/reduce_affine_transforms/device/reduce_affine_transforms_device_operation.cpp
  ttnn/cpp/ttnn/operations/experimental/kda/reduce_affine_transforms/device/reduce_affine_transforms_device_operation.hpp
  ttnn/cpp/ttnn/operations/experimental/kda/reduce_affine_transforms/device/reduce_affine_transforms_device_operation_types.hpp
  ttnn/cpp/ttnn/operations/experimental/kda/reduce_affine_transforms/device/reduce_affine_transforms_program_factory.cpp
  ttnn/cpp/ttnn/operations/experimental/kda/reduce_affine_transforms/device/reduce_affine_transforms_program_factory.hpp
  ttnn/cpp/ttnn/operations/experimental/kda/reduce_affine_transforms/reduce_affine_transforms.cpp
  ttnn/cpp/ttnn/operations/experimental/kda/reduce_affine_transforms/reduce_affine_transforms.hpp
  ttnn/cpp/ttnn/operations/experimental/kda/reduce_affine_transforms/reduce_affine_transforms_nanobind.cpp
  ttnn/cpp/ttnn/operations/experimental/kda/reduce_affine_transforms/reduce_affine_transforms_nanobind.hpp
  ttnn/cpp/ttnn/operations/experimental/kda/reduce_affine_transforms/sources.cmake
Due: block-ttnn-pybind-changes, detect-legacy-device-op

#52786: Document affine reduction contract
  ttnn/cpp/ttnn/operations/experimental/kda/reduce_affine_transforms/reduce_affine_transforms_nanobind.cpp
Due: block-ttnn-pybind-changes

Remove ineffective affine reduction move
  ttnn/cpp/ttnn/operations/experimental/kda/reduce_affine_transforms/device/reduce_affine_transforms_program_factory.cpp
Due: block-ttnn-pybind-changes

Package affine-reduction kernels
  ttnn/cpp/ttnn/operations/experimental/kda/reduce_affine_transforms/CMakeLists.txt
Due: block-ttnn-pybind-changes

Migrate affine reduction to typed NoC APIs
  ttnn/cpp/ttnn/operations/experimental/kda/reduce_affine_transforms/device/kernels/dataflow/reader_writer_reduce_affine_transforms.cpp
Due: block-ttnn-pybind-changes

Update KDA license attribution
  tests/ttnn/nightly/unit_tests/operations/experimental/kda/test_reduce_affine_transforms.py
Due: none

Cover affine reduction edge group counts
  tests/ttnn/nightly/unit_tests/operations/experimental/kda/test_reduce_affine_transforms.py
Due: none

Use typed circular buffers in affine reduction
  ttnn/cpp/ttnn/operations/experimental/kda/reduce_affine_transforms/device/kernels/compute/reduce_affine_transforms.cpp
Due: block-ttnn-pybind-changes

ttnn: add KDA affine exclusive scan
  tests/ttnn/nightly/unit_tests/operations/experimental/kda/test_affine_exclusive_scan.py
  ttnn/cpp/ttnn/operations/experimental/CMakeLists.txt
  ttnn/cpp/ttnn/operations/experimental/kda/affine_exclusive_scan/CMakeLists.txt
  ttnn/cpp/ttnn/operations/experimental/kda/affine_exclusive_scan/affine_exclusive_scan.cpp
  ttnn/cpp/ttnn/operations/experimental/kda/affine_exclusive_scan/affine_exclusive_scan.hpp
  ttnn/cpp/ttnn/operations/experimental/kda/affine_exclusive_scan/affine_exclusive_scan_nanobind.cpp
  ttnn/cpp/ttnn/operations/experimental/kda/affine_exclusive_scan/affine_exclusive_scan_nanobind.hpp
  ttnn/cpp/ttnn/operations/experimental/kda/affine_exclusive_scan/device/affine_exclusive_scan_device_operation.cpp
  ttnn/cpp/ttnn/operations/experimental/kda/affine_exclusive_scan/device/affine_exclusive_scan_device_operation.hpp
  ttnn/cpp/ttnn/operations/experimental/kda/affine_exclusive_scan/device/affine_exclusive_scan_device_operation_types.hpp
  ttnn/cpp/ttnn/operations/experimental/kda/affine_exclusive_scan/device/affine_exclusive_scan_program_factory.cpp
  ttnn/cpp/ttnn/operations/experimental/kda/affine_exclusive_scan/device/affine_exclusive_scan_program_factory.hpp
  ttnn/cpp/ttnn/operations/experimental/kda/affine_exclusive_scan/device/kernels/compute/affine_exclusive_scan.cpp
  ttnn/cpp/ttnn/operations/experimental/kda/affine_exclusive_scan/device/kernels/dataflow/reader_writer_affine_exclusive_scan.cpp
  ttnn/cpp/ttnn/operations/experimental/kda/affine_exclusive_scan/sources.cmake
  ttnn/cpp/ttnn/operations/experimental/kda/factory/kda_factory_utils.cpp
  ttnn/cpp/ttnn/operations/experimental/kda/factory/kda_factory_utils.hpp
  ttnn/cpp/ttnn/operations/experimental/kda/kda_nanobind.cpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

Use typed circular buffers in affine scan
  ttnn/cpp/ttnn/operations/experimental/kda/affine_exclusive_scan/device/kernels/compute/affine_exclusive_scan.cpp
Due: block-ttnn-pybind-changes

Support sharded KDA affine scan inputs
  tests/ttnn/nightly/unit_tests/operations/experimental/kda/test_affine_exclusive_scan.py
  ttnn/cpp/ttnn/operations/experimental/kda/affine_exclusive_scan/device/affine_exclusive_scan_device_operation.cpp
Due: block-ttnn-pybind-changes

Update KDA license attribution
  tests/ttnn/nightly/unit_tests/operations/experimental/kda/test_affine_exclusive_scan.py
Due: none

Remove ineffective affine scan move
  ttnn/cpp/ttnn/operations/experimental/kda/affine_exclusive_scan/device/affine_exclusive_scan_program_factory.cpp
Due: block-ttnn-pybind-changes

Migrate affine scan to typed NoC APIs
  ttnn/cpp/ttnn/operations/experimental/kda/affine_exclusive_scan/device/kernels/dataflow/reader_writer_affine_exclusive_scan.cpp
Due: block-ttnn-pybind-changes

#52788: Document affine exclusive scan contract
  ttnn/cpp/ttnn/operations/experimental/kda/affine_exclusive_scan/affine_exclusive_scan_nanobind.cpp
Due: block-ttnn-pybind-changes

Honor KDA destination full-sync config
  ttnn/cpp/ttnn/operations/experimental/kda/factory/kda_factory_utils.cpp
Due: block-ttnn-pybind-changes

Package affine-scan kernels
  ttnn/cpp/ttnn/operations/experimental/kda/affine_exclusive_scan/CMakeLists.txt
Due: block-ttnn-pybind-changes

Add KDA chunk recurrence preparation
  tests/ttnn/nightly/unit_tests/operations/experimental/kda/test_prepare_chunk_recurrence.py
  ttnn/cpp/ttnn/operations/experimental/CMakeLists.txt
  ttnn/cpp/ttnn/operations/experimental/kda/factory/kda_factory_utils.cpp
  ttnn/cpp/ttnn/operations/experimental/kda/factory/kda_factory_utils.hpp
  ttnn/cpp/ttnn/operations/experimental/kda/kda_nanobind.cpp
  ttnn/cpp/ttnn/operations/experimental/kda/prepare_chunk_recurrence/CMakeLists.txt
  ttnn/cpp/ttnn/operations/experimental/kda/prepare_chunk_recurrence/device/kernels/compute/prepare_chunk_recurrence.cpp
  ttnn/cpp/ttnn/operations/experimental/kda/prepare_chunk_recurrence/device/kernels/dataflow/reader_prepare_chunk_recurrence.cpp
  ttnn/cpp/ttnn/operations/experimental/kda/prepare_chunk_recurrence/device/kernels/dataflow/writer_prepare_chunk_recurrence.cpp
  ttnn/cpp/ttnn/operations/experimental/kda/prepare_chunk_recurrence/device/prepare_chunk_recurrence_device_operation.cpp
  ttnn/cpp/ttnn/operations/experimental/kda/prepare_chunk_recurrence/device/prepare_chunk_recurrence_device_operation.hpp
  ttnn/cpp/ttnn/operations/experimental/kda/prepare_chunk_recurrence/device/prepare_chunk_recurrence_device_operation_types.hpp
  ttnn/cpp/ttnn/operations/experimental/kda/prepare_chunk_recurrence/device/prepare_chunk_recurrence_program_factory.cpp
  ttnn/cpp/ttnn/operations/experimental/kda/prepare_chunk_recurrence/device/prepare_chunk_recurrence_program_factory.hpp
  ttnn/cpp/ttnn/operations/experimental/kda/prepare_chunk_recurrence/prepare_chunk_recurrence.cpp
  ttnn/cpp/ttnn/operations/experimental/kda/prepare_chunk_recurrence/prepare_chunk_recurrence.hpp
  ttnn/cpp/ttnn/operations/experimental/kda/prepare_chunk_recurrence/prepare_chunk_recurrence_nanobind.cpp
  ttnn/cpp/ttnn/operations/experimental/kda/prepare_chunk_recurrence/prepare_chunk_recurrence_nanobind.hpp
  ttnn/cpp/ttnn/operations/experimental/kda/prepare_chunk_recurrence/sources.cmake
Due: block-ttnn-pybind-changes, detect-legacy-device-op

#52797: Document chunk recurrence preparation
  ttnn/cpp/ttnn/operations/experimental/kda/prepare_chunk_recurrence/prepare_chunk_recurrence_nanobind.cpp
Due: block-ttnn-pybind-changes

Qualify chunk recurrence gate data type
  ttnn/cpp/ttnn/operations/experimental/kda/prepare_chunk_recurrence/device/prepare_chunk_recurrence_program_factory.hpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

Package recurrence-preparation kernels
  ttnn/cpp/ttnn/operations/experimental/kda/prepare_chunk_recurrence/CMakeLists.txt
Due: block-ttnn-pybind-changes

Update KDA license attribution
  tests/ttnn/nightly/unit_tests/operations/experimental/kda/test_prepare_chunk_recurrence.py
Due: none

Use typed circular buffers in recurrence preparation
  ttnn/cpp/ttnn/operations/experimental/kda/prepare_chunk_recurrence/device/kernels/compute/prepare_chunk_recurrence.cpp
Due: block-ttnn-pybind-changes

Remove ineffective kernel config move
  ttnn/cpp/ttnn/operations/experimental/kda/recurrent_chunk_scan/recurrent_chunk_scan.cpp
Due: block-ttnn-pybind-changes
