Repository tenstorrent/tt-metal: changes, and which pre-commit hooks are due for each by the changed paths.
All: block-ttnn-pybind-changes, detect-legacy-device-op, validate-golden-csv-columns

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v3.2.0
  hooks:
    - id: trailing-whitespace
      exclude: \.patch$
    - id: end-of-file-fixer
      exclude: \.patch$
    - id: check-yaml
      args: ["--unsafe"]
    - id: check-added-large-files
# Using this mirror lets us use mypyc-compiled black, which is about 2x faster
- repo: https://github.com/psf/black-pre-commit-mirror
  rev: 23.10.1
  hooks:
    - id: black
      language_version: python3
- repo: https://github.com/PyCQA/autoflake
  rev: v2.3.1
  hooks:
    - id: autoflake
      args: [--remove-all-unused-imports, --in-place, --recursive, --exclude=__init__.py]
      files: ^models/  # Run only on files in the models directory
- repo: https://github.com/pycqa/isort
  rev: 5.13.2
  hooks:
    - id: isort
      files: ^models/
      exclude: ^models/(demos/llama3_70b_galaxy|experimental)/
- repo: https://github.com/BlankSpruce/gersemi
  rev: 0.16.2
  hooks:
    - id: gersemi
- repo: https://github.com/adrienverge/yamllint.git
  rev: v1.35.1
  hooks:
    - id: yamllint
- repo: https://github.com/pre-commit/mirrors-clang-format
  rev: v19.1.4
  hooks:
    - id: clang-format
      entry: git-clang-format
      require_serial: true
      types_or: [c++, c]
      args: ["--style=file"]
- repo: local
  hooks:
    - id: validate-metalium-includes
      name: validate-metalium-includes
      entry: python3 scripts/validate_api/validate_includes.py tt_metal/api --check-ttnn-forwards
      language: system
      pass_filenames: false
    - id: validate-metalium-deprecation
      name: validate-metalium-deprecation
      entry: python3 scripts/validate_api/validate_deprecation.py tt_metal/api origin/main
      language: system
      pass_filenames: false
- repo: local
  hooks:
    - id: check-torch-imports-in-ttnn
      name: Verify that there is no global torch import in ttnn
      entry: python3 scripts/validate_no_global_torch_imports.py
      language: system
      pass_filenames: false
- repo: local
  hooks:
    - id: block-ttnn-pybind-changes
      name: Prevent edits to frozen pybind11 sources under ttnn
      entry: python3 scripts/block_ttnn_pybind_changes.py
      language: system
      pass_filenames: true
      files: ^ttnn/
- repo: local
  hooks:
    - id: convert-notebooks-to-py
      name: Convert .ipynb to .py for ttnn basic examples
      entry: python3 scripts/convert_notebooks_to_python.py
      language: system
- repo: local
  hooks:
    - id: detect-legacy-device-op
      name: Detect legacy device operation classes in newly added files
      entry: python3 scripts/detect_legacy_device_op.py --check-new-only
      language: system
      types: [file]
      files: ^ttnn/.*\.hpp$
      pass_filenames: true
      require_serial: true
- repo: local
  hooks:
    - id: validate-golden-csv-columns
      name: Validate golden bandwidth CSV column headers
      entry: bash .github/scripts/utils/validate_golden_csv_columns.sh
      language: system
      pass_filenames: false
      files: ^tests/tt_metal/tt_metal/perf_microbenchmark/routing/golden/.*bandwidth.*\.csv$

[Models CI] Move the YuNet reference checkout into its conftest
  models/experimental/yunet/tests/conftest.py
  tests/pipeline_reorg/models_e2e_tests.yaml
  tests/pipeline_reorg/models_unit_tests.yaml
Due: none

kernel_lib: replace partial scaler mode with bool
  ttnn/cpp/ttnn/kernel_lib/reduce_helpers_compute.hpp
  ttnn/cpp/ttnn/kernel_lib/reduce_helpers_compute.inl
  ttnn/cpp/ttnn/kernel_lib/reduce_helpers_dataflow.hpp
  ttnn/cpp/ttnn/operations/moreh/moreh_linear_backward/device/kernels/moreh_bias_backward_multi_core_h.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_mean/device/kernels/moreh_mean_h.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_softmax/device/kernels/moreh_softmax_h.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_softmax/device/kernels/moreh_softmax_h_large.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_softmax/device/kernels/moreh_softmax_w.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_softmax/device/kernels/moreh_softmax_w_large.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_softmax_backward/device/kernels/moreh_softmax_backward_h.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_softmax_backward/device/kernels/moreh_softmax_backward_w.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_sum/device/moreh_sum_h_impl_kernels/moreh_sum_h.cpp
  ttnn/cpp/ttnn/operations/normalization/kernel_util/compute/numeric.h
Due: block-ttnn-pybind-changes, detect-legacy-device-op

Update .github/CODEOWNERS
  .github/CODEOWNERS
Due: none

knobs: lut-select-leaf-ext leg carries the owner-signed finite-math license (books the licensed fire)
  tt_metal/tt-llk/tests/.venv
  tt_metal/tt-llk/tests/corpus/sweep_2x2.py
  tt_metal/tt-llk/tests/python_tests/.venv
  tt_metal/tt-llk/tests/sfpi
Due: none

Dispatch a MeshWorkload's program writes from the calling thread
  tt_metal/distributed/fd_mesh_command_queue.cpp
  tt_metal/distributed/fd_mesh_command_queue.hpp
Due: none

Raise the MiniMax-M3 prefill perf baseline to match the dispatch fix
  tests/pipeline_reorg/blaze_models_prefill_tests.yaml
Due: none

corpus: drop accidentally-committed machine-local tests/sfpi symlink (harness convention: untracked)
  tt_metal/tt-llk/tests/sfpi
Due: none

[skip-ci] Add inl files to the Silencer and changes finder script
  .github/scripts/utils/find-changed-files.sh
  .github/workflows/silencer.lock.yml
  .github/workflows/silencer.md
Due: none

Updated the comments.
  tt_metal/tt-llk/codegen/scripts/otel_cost_receiver.py
  tt_metal/tt-llk/codegen/scripts/session_cost.py
  tt_metal/tt-llk/codegen/scripts/with_telemetry.sh
Due: none

Update marker expression for architecture handling
  tt_metal/tt-llk/tests/run_ttsim_regression.sh
Due: none

Fix stale sweep test that still passes the removed kwarg
  tests/tt_eager/python_api_testing/sweep_tests/pytests/tt_dnn/test_eltwise_unary.py
  tests/tt_eager/python_api_testing/sweep_tests/tt_lib_ops.py
Due: none

ci: add helper library tests to sanity
  tests/pipeline_reorg/ttnn_sanity_tests.yaml
  tests/ttnn/unit_tests/kernel_lib/test_chain_perf.py
Due: none

CI: select the routing-mirror parity test in the sampling unit-test job
  tests/pipeline_reorg/models_unit_tests.yaml
Due: none

teardown script + oob buffer fix
  tt_metal/impl/buffers/buffer.cpp
  tt_metal/impl/emulation/SANITIZER_CHECKS.md
  tt_metal/impl/emulation/emule_asan_setup.sh
  tt_metal/impl/emulation/emule_asan_teardown.sh
Due: none

tools: scaleout: Add cabling matcher functionality and associated tests
  tools/scaleout/CMakeLists.txt
  tools/scaleout/cabling_generator/cabling_generator.cpp
  tools/scaleout/cabling_generator/cabling_generator.hpp
  tools/scaleout/cabling_matcher/cabling_matcher.cpp
  tools/scaleout/cabling_matcher/cabling_matcher.hpp
  tools/scaleout/sources.cmake
  tools/scaleout/src/run_cabling_matcher.cpp
  tools/tests/scaleout/CMakeLists.txt
  tools/tests/scaleout/sources.cmake
  tools/tests/scaleout/test_cabling_matcher.cpp
Due: none

Fix up columns
  tt_metal/tt-llk/tests/python_tests/helpers/perf/wide_schema_quasar.py
Due: none

Remove md files from porting
  ttnn/cpp/ttnn/operations/data_movement/untilize/METAL2_PORT_BRIEF.md
  ttnn/cpp/ttnn/operations/data_movement/untilize/METAL2_PORT_PLAN.md
  ttnn/cpp/ttnn/operations/data_movement/untilize/METAL2_PORT_REPORT.md
  ttnn/cpp/ttnn/operations/data_movement/untilize/METAL2_PREPORT_AUDIT.md
Due: block-ttnn-pybind-changes

Port untilize to Metal 2.0 (6 of 7 native factories)
  ttnn/cpp/ttnn/operations/data_movement/sharded/device/kernels/dataflow/reader_unary_nd_sharded_blocks_metal2.cpp
  ttnn/cpp/ttnn/operations/data_movement/sharded/device/kernels/dataflow/writer_unary_sharded.cpp
  ttnn/cpp/ttnn/operations/data_movement/sharded/device/kernels/dataflow/writer_unary_sharded_metal2.cpp
  ttnn/cpp/ttnn/operations/data_movement/untilize/METAL2_PORT_BRIEF.md
  ttnn/cpp/ttnn/operations/data_movement/untilize/METAL2_PORT_PLAN.md
  ttnn/cpp/ttnn/operations/data_movement/untilize/METAL2_PORT_REPORT.md
  ttnn/cpp/ttnn/operations/data_movement/untilize/METAL2_PREPORT_AUDIT.md
  ttnn/cpp/ttnn/operations/data_movement/untilize/device/factories/untilize_multi_core_input_and_output_shard_type_and_shard_spec_identical_program_factory.cpp
  ttnn/cpp/ttnn/operations/data_movement/untilize/device/factories/untilize_multi_core_input_and_output_shard_type_and_shard_spec_identical_program_factory.hpp
  ttnn/cpp/ttnn/operations/data_movement/untilize/device/factories/untilize_multi_core_nd_shard_input_program_factory.cpp
  ttnn/cpp/ttnn/operations/data_movement/untilize/device/factories/untilize_multi_core_nd_shard_input_program_factory.hpp
  ttnn/cpp/ttnn/operations/data_movement/untilize/device/factories/untilize_multi_core_parallelize_column_program_factory.cpp
  ttnn/cpp/ttnn/operations/data_movement/untilize/device/factories/untilize_multi_core_parallelize_column_program_factory.hpp
  ttnn/cpp/ttnn/operations/data_movement/untilize/device/factories/untilize_multi_core_program_factory.cpp
  ttnn/cpp/ttnn/operations/data_movement/untilize/device/factories/untilize_multi_core_program_factory.hpp
  ttnn/cpp/ttnn/operations/data_movement/untilize/device/factories/untilize_multi_core_sub_core_grids_program_factory.cpp
  ttnn/cpp/ttnn/operations/data_movement/untilize/device/factories/untilize_multi_core_sub_core_grids_program_factory.hpp
  ttnn/cpp/ttnn/operations/data_movement/untilize/device/factories/untilize_single_core_program_factory.cpp
  ttnn/cpp/ttnn/operations/data_movement/untilize/device/factories/untilize_single_core_program_factory.hpp
  ttnn/cpp/ttnn/operations/data_movement/untilize/device/kernels/compute/untilize_variable_num_blocks.cpp
  ttnn/cpp/ttnn/operations/data_movement/untilize/device/kernels/compute/untilize_variable_num_blocks_metal2.cpp
  ttnn/cpp/ttnn/operations/data_movement/untilize/device/kernels/dataflow/reader_unary_sharded_blocks.cpp
  ttnn/cpp/ttnn/operations/data_movement/untilize/device/kernels/dataflow/reader_unary_start_id.cpp
  ttnn/cpp/ttnn/operations/data_movement/untilize/device/kernels/dataflow/reader_unary_start_id_metal2.cpp
  ttnn/cpp/ttnn/operations/data_movement/untilize/device/kernels/dataflow/writer_unary_stick_layout_split_rows_interleaved_parallel_columns.cpp
  ttnn/cpp/ttnn/operations/data_movement/untilize/device/kernels/dataflow/writer_unary_stick_layout_split_rows_multi_core.cpp
  ttnn/cpp/ttnn/operations/data_movement/untilize/device/kernels/dataflow/writer_unary_stick_layout_split_rows_multi_core_nd_shard.cpp
  ttnn/cpp/ttnn/operations/data_movement/untilize/device/kernels/dataflow/writer_unary_stick_layout_split_rows_single_core.cpp
  ttnn/cpp/ttnn/operations/eltwise/unary/device/kernels/dataflow/reader_unary_sharded.cpp
  ttnn/cpp/ttnn/operations/eltwise/unary/device/kernels/dataflow/reader_unary_sharded_metal2.cpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

Address review: fix copyright years (new forks 2026, existing factories 2025)
  ttnn/cpp/ttnn/operations/data_movement/sharded/device/kernels/dataflow/writer_unary_sharded_metal2.cpp
  ttnn/cpp/ttnn/operations/data_movement/untilize/device/factories/untilize_multi_core_input_and_output_shard_type_and_shard_spec_identical_program_factory.cpp
  ttnn/cpp/ttnn/operations/data_movement/untilize/device/factories/untilize_multi_core_parallelize_column_program_factory.cpp
  ttnn/cpp/ttnn/operations/data_movement/untilize/device/factories/untilize_multi_core_sub_core_grids_program_factory.cpp
  ttnn/cpp/ttnn/operations/data_movement/untilize/device/kernels/compute/untilize_variable_num_blocks_metal2.cpp
  ttnn/cpp/ttnn/operations/data_movement/untilize/device/kernels/dataflow/reader_unary_start_id_metal2.cpp
  ttnn/cpp/ttnn/operations/eltwise/unary/device/kernels/dataflow/reader_unary_sharded_metal2.cpp
Due: block-ttnn-pybind-changes

[Models CI] Gate the four tier-3 e2e throughput measurements
  models/demos/utils/common_demo_utils.py
  models/experimental/SSD512/tests/perf/test_e2e_performant.py
  models/experimental/efficientdetd0/tests/perf/test_e2e_performant.py
  models/experimental/mobileNetV3/tests/perf/test_mobilenetv3_perf.py
  models/experimental/yunet/tests/perf/test_e2e_performant.py
  models/model_targets.yaml
Due: none

custom_mm + sdpa_custom_mm: fix DEST layout, fp32 pack stride, read_transposed buffer order
  tt_metal/tt-llk/tests/python_tests/test_custom_mm.py
  tt_metal/tt-llk/tests/python_tests/test_sdpa_custom_mm.py
  tt_metal/tt-llk/tests/sources/custom_mm_test.cpp
Due: none

perf_automation: finish the job -- the third loop, the dead probe, and the unbounded LLM verdict
  models/experimental/perf_automation/cc_optimize/perf_mcp.py
  models/experimental/perf_automation/cc_optimize/run.py
  models/experimental/perf_automation/tests/test_a_livelock_is_not_progress.py
Due: none

[Models CI] Remove the orphaned Tracy ops-recording actions
  .github/actions/aggregate-ops-report/action.yml
  .github/actions/aggregate-ops-report/aggregate_ops.py
  .github/actions/prepare-tracy-reports/action.yml
Due: none

ttml: drop rng-backend narration comment from softmax batch test
  tt-train/tests/ops/softmax_test.cpp
Due: none

ttml: address review nits in layernorm bw test and fw factory
  tt-train/sources/ttml/metal/ops/layernorm_fw/device/layernorm_fw_program_factory.cpp
  tt-train/tests/ops/layernorm_bw_fused_op_test.cpp
Due: none

ttml: convert sdpa scale to bf16 on host, reuse metal RNE helper
  tt-train/sources/ttml/metal/common/sdpa_compute_utils_common.hpp
  tt-train/sources/ttml/metal/ops/sdpa_fw/device/kernels/compute/sdpa_compute_utils.hpp
  tt-train/sources/ttml/metal/ops/sdpa_fw/device/kernels/compute/sdpa_fw_compute_kernel.cpp
  tt-train/sources/ttml/metal/ops/sdpa_fw/device/sdpa_fw_program_factory.cpp
  tt_metal/api/tt-metalium/bfloat16.hpp
  tt_metal/impl/data_format/bfloat16.cpp
Due: none

report clarity fix
  tt_metal/tt-llk/tests/python_tests/ttnop/FOCUS.md
  tt_metal/tt-llk/tests/python_tests/ttnop/report.py
Due: none

Use thread_local instead of mutex for call_stack
  ttnn/api/tools/profiler/op_profiler_serialize.hpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

corpus: on-plus knob-leg mode for default-off booking flags (laneDO extension)
  tt_metal/tt-llk/tests/corpus/selftest_knob_legs_semleg.py
  tt_metal/tt-llk/tests/corpus/sweep_2x2.py
Due: none

[Performance] Dispatch a MeshWorkload's program writes from the calling thread (#53562)
  tests/pipeline_reorg/blaze_models_prefill_tests.yaml
  tt_metal/distributed/fd_mesh_command_queue.cpp
  tt_metal/distributed/fd_mesh_command_queue.hpp
Due: none

corpus: untrack machine-local harness symlinks (tests/.venv, tests/sfpi) + gitignore them
  .gitignore
  tt_metal/tt-llk/tests/.venv
Due: none

ttml: re-enable many-short-rows softmax_backward bf16 case
  tt-train/tests/ops/softmax_backward_op_test.cpp
Due: none

[skip ci] Restore auto-approve.yaml codeowner review for bump PRs (#53814)
  .github/CODEOWNERS
Due: none

addressing Adrian's comments
  ttnn/cpp/ttnn/operations/data_movement/untilize/codegen/untilize_codegen_cb_plan.cpp
  ttnn/cpp/ttnn/operations/data_movement/untilize/codegen/untilize_codegen_program_factory.cpp
Due: block-ttnn-pybind-changes

Remove the Metal 2.0 port vetting artifacts
  ttnn/cpp/ttnn/operations/experimental/ssm/repeat_and_interleave_eltwise_mul/METAL2_PORT_BRIEF.md
  ttnn/cpp/ttnn/operations/experimental/ssm/repeat_and_interleave_eltwise_mul/METAL2_PORT_PLAN.md
  ttnn/cpp/ttnn/operations/experimental/ssm/repeat_and_interleave_eltwise_mul/METAL2_PORT_REPORT.md
  ttnn/cpp/ttnn/operations/experimental/ssm/repeat_and_interleave_eltwise_mul/METAL2_PREPORT_AUDIT.md
Due: block-ttnn-pybind-changes

[Bug fix] gelu_bw: validate grad_output dtype against input (#53006)
  tests/ttnn/nightly/unit_tests/operations/eltwise/backward/test_backward_gelu_fused.py
  ttnn/cpp/ttnn/operations/experimental/unary_backward/gelu_backward/device/gelu_backward_device_operation.cpp
  ttnn/cpp/ttnn/operations/experimental/unary_backward/gelu_backward/gelu_backward_nanobind.cpp
Due: block-ttnn-pybind-changes

Use bh_sc1 runner from exabox
  .github/time_budget.yaml
  .github/workflows/models-t3-e2e-tests.yaml
  tests/pipeline_reorg/models_e2e_tests.yaml
  tt-train/scripts/run_models_configs/galaxy.yaml
Due: none

Fix prefix for tt-train tests
  tests/pipeline_reorg/models_e2e_tests.yaml
Due: none

Disable tt-train metrics uploading for now
  .github/workflows/models-e2e-tests-impl.yaml
Due: none
