Repository tenstorrent/tt-metal: changes, and which pre-commit hooks are due for each by the changed paths.
All: block-ttnn-pybind-changes, detect-legacy-device-op, validate-golden-csv-columns

block-ttnn-pybind-changes:
  name: Prevent edits to frozen pybind11 sources under ttnn
  entry: python3 scripts/block_ttnn_pybind_changes.py
  language: system
  pass_filenames: true

detect-legacy-device-op:
  name: Detect legacy device operation classes in newly added files
  entry: python3 scripts/detect_legacy_device_op.py --check-new-only
  language: system
  pass_filenames: true
  require_serial: true

validate-golden-csv-columns:
  name: Validate golden bandwidth CSV column headers
  entry: bash .github/scripts/utils/validate_golden_csv_columns.sh
  language: system
  pass_filenames: false

[LLK][llk-audit] An opcode value gets its own fact family, so the hint can fire
  tt_metal/tt-llk/.claude/tools/llk-audit/KNOWN_GAPS.md
  tt_metal/tt-llk/.claude/tools/llk-audit/README.md
  tt_metal/tt-llk/.claude/tools/llk-audit/extractor/llk_extract.cpp
  tt_metal/tt-llk/.claude/tools/llk-audit/llkaudit/checks/mop_replay.py
  tt_metal/tt-llk/.claude/tools/llk-audit/llkaudit/registry.py
  tt_metal/tt-llk/.claude/tools/llk-audit/tests/test_checks.py
Due: none

[LLK][llk-audit] Close three skill/tool sync gaps
  tt_metal/tt-llk/.claude/skills/srcreg-bank-sync-audit/SKILL.md
  tt_metal/tt-llk/.claude/tools/llk-audit/llkaudit/checks/srcreg_bank.py
Due: none

[LLK][llk-audit] Recall MOP/replay-slotted words: a word's slot, not its line
  tt_metal/tt-llk/.claude/tools/llk-audit/KNOWN_GAPS.md
  tt_metal/tt-llk/.claude/tools/llk-audit/README.md
  tt_metal/tt-llk/.claude/tools/llk-audit/llkaudit/checks/__init__.py
  tt_metal/tt-llk/.claude/tools/llk-audit/llkaudit/checks/mop_replay.py
  tt_metal/tt-llk/.claude/tools/llk-audit/llkaudit/registry.py
  tt_metal/tt-llk/.claude/tools/llk-audit/tests/test_checks.py
Due: none

[LLK][skills] Teach 5(b) the real mechanism: pipelining, not a race
  tt_metal/tt-llk/.claude/skills/race-audit-all/SKILL.md
  tt_metal/tt-llk/.claude/skills/srcreg-bank-sync-audit/SKILL.md
  tt_metal/tt-llk/.claude/tools/llk-audit/README.md
  tt_metal/tt-llk/.claude/tools/llk-audit/llkaudit/checks/srcreg_bank.py
Due: none

docs(mistral4): record the measured query-scale cache residency
  models/demos/deepseek_v3_d_p/tt/mla/mla.py
Due: none

Refinement 6 (WIP): perf harness for the transposed and rough-C geometries
  tests/ttnn/unit_tests/operations/tilize/test_tilize_perf_transposed.py
Due: none

Explain W reduction padding materialisation by DST transpose
  ttnn/cpp/ttnn/operations/reduction/generic/device/kernels/compute/welford_reduce_w.cpp
Due: block-ttnn-pybind-changes

Remove unreachable RMSNorm statistics selector route
  tests/ttnn/unit_tests/gtests/test_layernorm_stats_selector.cpp
  ttnn/cpp/ttnn/operations/normalization/layernorm/device/layernorm_op_multi_core.cpp
  ttnn/cpp/ttnn/operations/normalization/layernorm/device/layernorm_stats_selector.hpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

Validate two-tile DST range when switching GroupNorm statistics
  tt_metal/hw/ckernels/blackhole/metal/llk_api/llk_sfpu/llk_math_welfords_sfpu_entry.h
  tt_metal/hw/ckernels/wormhole_b0/metal/llk_api/llk_sfpu/llk_math_welfords_sfpu_entry.h
Due: none

Refinement 6 (WIP): whole-op ablation harness + measured baseline for both targets
  tests/ttnn/unit_tests/operations/tilize/test_tilize_ablation_r6.py
Due: none

Clarify unconditional Blackhole shuffle scheduling requirement
  tt_metal/tt-llk/common/ckernel_sfpu_welfords_common.h
  tt_metal/tt-llk/tt_llk_blackhole/common/inc/sfpu/ckernel_sfpu_welfords.h
Due: none

profiler: streaming-profiler tests, workload and documentation
  .cycodeignore
  .github/CODEOWNERS
  tests/tt_metal/tools/profiler/CMakeLists.txt
  tests/tt_metal/tools/profiler/test_streaming_profiler_decode.cpp
  tests/tt_metal/tools/profiler/test_streaming_profiler_fetch.cpp
  tests/ttnn/tracy/test_streaming_profiler_ops_csv.py
  tools/tracy/__main__.py
  tt_metal/programming_examples/profiler/CMakeLists.txt
  tt_metal/programming_examples/profiler/test_streaming_profiler_zones/CMakeLists.txt
  tt_metal/programming_examples/profiler/test_streaming_profiler_zones/kernels/zones_compute.cpp
  tt_metal/programming_examples/profiler/test_streaming_profiler_zones/kernels/zones_dm.cpp
  tt_metal/programming_examples/profiler/test_streaming_profiler_zones/test_streaming_profiler_zones.cpp
  tt_metal/tools/profiler/STREAMING_PROFILER.md
  tt_metal/tools/profiler/STREAMING_PROFILER_DETAILED.md
  tt_metal/tools/profiler/STREAMING_PROFILER_FINDINGS.md
  tt_metal/tools/profiler/docs/zone_gifs/device_flag.gif
  tt_metal/tools/profiler/docs/zone_gifs/timestamped_data.gif
  tt_metal/tools/profiler/docs/zone_gifs/zone_scopes.gif
Due: none

profiler: streaming-profiler sanity checks in the Blackhole profiler CI
  .github/time_budget.yaml
  tests/pipeline_reorg/single_card_profiler_tests.yaml
  tests/scripts/single_card/run_single_card_profiler_tests.sh
  tests/ttnn/tracy/test_streaming_profiler.py
Due: none

fix(fabric): switch off full-packing tightening together with the soft host cap
  tt_metal/fabric/topology_solver_sat.cpp
Due: none

Remove unused GroupNorm replay batch-count assignments
  ttnn/cpp/ttnn/operations/normalization/groupnorm/device/groupnorm_device_operation.cpp
Due: block-ttnn-pybind-changes

Label compensated LayerNorm unpack dimensions
  tt_metal/hw/inc/api/compute/experimental/layernorm.h
Due: none

Name boolean arguments in LayerNorm selector policy tests
  tests/ttnn/unit_tests/gtests/test_layernorm_stats_selector.cpp
Due: none

MiniMax-Music3 pipeline: work log, qualitative evidence and stage-review fixes
  models/autoports/minimaxai_minimax_music3/doc/pipeline/README.md
  models/autoports/minimaxai_minimax_music3/doc/pipeline/pcc/results.json
  models/autoports/minimaxai_minimax_music3/doc/pipeline/qualitative/golden_seed7_60s.json
  models/autoports/minimaxai_minimax_music3/doc/pipeline/qualitative/techno_seed7_60s.json
  models/autoports/minimaxai_minimax_music3/scripts/vocoder_control_cpu.py
  models/autoports/minimaxai_minimax_music3/tests/test_pipeline.py
  models/autoports/minimaxai_minimax_music3/tt/pipeline.py
Due: none

Make the telemetry unit conflict fail soft, and test per_target_telemetry_token
  tests/tt_metal/tt_metal/jit_build/test_jit_build_telemetry.cpp
  tt_metal/jit_build/build_cache_telemetry.cpp
  tt_metal/jit_build/build_cache_telemetry.hpp
Due: none

Fix indentation of the threads.reserve() review suggestions
  tests/tt_metal/tt_metal/jit_build/test_jit_build_telemetry.cpp
Due: none

MiniMax-Music3 pipeline: final gate evidence, context-cap fix, timing corrections
  models/autoports/minimaxai_minimax_music3/doc/pipeline/README.md
  models/autoports/minimaxai_minimax_music3/doc/pipeline/pcc/results.json
  models/autoports/minimaxai_minimax_music3/tests/test_pipeline.py
  models/autoports/minimaxai_minimax_music3/tt/pipeline.py
Due: none

Refinement 6 (WIP): ragged column tail (two core ranges) + split reader; share swept to 38%
  .device_timing.jsonl
  tests/ttnn/unit_tests/operations/tilize/test_tilize_ablation_r6.py
  tests/ttnn/unit_tests/operations/tilize/test_tilize_lever_split_reader.py
  tests/ttnn/unit_tests/operations/tilize/test_tilize_perf_transposed.py
  ttnn/ttnn/operations/tilize/agent_logs/ttnn-implementer_breadcrumbs.jsonl
  ttnn/ttnn/operations/tilize/kernels/tilize_compute.cpp
  ttnn/ttnn/operations/tilize/kernels/tilize_reader.cpp
  ttnn/ttnn/operations/tilize/kernels/tilize_writer.cpp
  ttnn/ttnn/operations/tilize/tilize_program_descriptor.py
Due: block-ttnn-pybind-changes

MiniMax-Music3 pipeline: record clean-pass stage review
  models/autoports/minimaxai_minimax_music3/doc/pipeline/README.md
Due: none

[Bug fix]: Quasar: keep DM local region size a multiple of 2 KB (#56009)
  tt_metal/hw/inc/internal/tt-2xx/quasar/dev_mem_map.h
  tt_metal/llrt/hal/tt-2xx/quasar/qa_hal_dispatch_asserts.hpp
  tt_metal/llrt/hal/tt-2xx/quasar/qa_hal_tensix_asserts.hpp
Due: none

temp
  models/demos/gemma4/demo/benchmark_vision.py
  models/demos/gemma4/demo/sample_prompts/vision_demo.json
  models/demos/gemma4/demo/vision_demo.py
  models/demos/gemma4/tests/unit/test_ccl_topology.py
  models/demos/gemma4/tests/unit/test_vision_attention.py
  models/demos/gemma4/tests/unit/test_vision_block.py
  models/demos/gemma4/tests/unit/test_vision_encoder.py
  models/demos/gemma4/tests/unit/test_vision_fusion.py
  models/demos/gemma4/tests/unit/test_vision_mlp.py
  models/demos/gemma4/tests/unit/test_vision_patch_embedder.py
  models/demos/gemma4/tests/unit/test_vision_pooler.py
  models/demos/gemma4/tests/unit/test_vision_rotary_embedding.py
  models/demos/gemma4/tests/unit/test_vision_tower.py
  models/demos/gemma4/tt/attention/operations.py
  models/demos/gemma4/tt/common.py
  models/demos/gemma4/tt/generator.py
  models/demos/gemma4/tt/model.py
  models/demos/gemma4/tt/model_config.py
  models/demos/gemma4/tt/vision/vision_attention.py
  models/demos/gemma4/tt/vision/vision_block.py
  models/demos/gemma4/tt/vision/vision_encoder.py
  models/demos/gemma4/tt/vision/vision_mlp.py
  models/demos/gemma4/tt/vision/vision_model_config.py
  models/demos/gemma4/tt/vision/vision_patch_embedder.py
  models/demos/gemma4/tt/vision/vision_pooler.py
  models/demos/gemma4/tt/vision/vision_tower.py
  models/demos/gemma4/tt/vision/vision_weight_convert.py
  models/tt_transformers/tt/model_config.py
  ttnn/cpp/ttnn/operations/transformer/sdpa_decode/device/sdpa_decode_device_operation.cpp
Due: block-ttnn-pybind-changes

Refinement 6: power-of-two wave ladder, fp32 lossless split CB mode, correctness tests for both new paths
  .device_timing.jsonl
  tests/ttnn/unit_tests/operations/tilize/test_tilize_column_tail_and_split.py
  tests/ttnn/unit_tests/operations/tilize/test_tilize_lever_block_width.py
  tests/ttnn/unit_tests/operations/tilize/test_tilize_lever_ragged_tail.py
  ttnn/ttnn/operations/tilize/agent_logs/ttnn-implementer_breadcrumbs.jsonl
  ttnn/ttnn/operations/tilize/tilize_program_descriptor.py
Due: block-ttnn-pybind-changes

Cleanup test cases
  tests/tt_metal/tt_metal/llk/test_untilize_tilize.cpp
Due: none

Fix the narrowed prefill view too, and make borrowing reentrant
  models/autoports/qwen_qwen3_6_27b/tests/prefill_active_row_pcc.py
  models/autoports/qwen_qwen3_6_27b/tests/slot_lifecycle_b32.py
  models/autoports/qwen_qwen3_6_27b/tt/model.py
  models/autoports/qwen_qwen3_6_27b/tt/multichip_decoder.py
  models/autoports/qwen_qwen3_6_27b/tt/optimized_decoder.py
Due: none

Add one-line comment on usage of get_cluster_type instead of get_arch_name
  tt-train/tests/python/grpo_remote_rollout/test_attention_update_construction.py
Due: none

Update BH galaxy e2e CI coverage (#55843)
  .github/time_budget.yaml
  tests/pipeline_reorg/galaxy_e2e_tests.yaml
  tests/tt_metal/tt_fabric/custom_mesh_descriptors/bh_galaxy_split_2x8_2x4_3_mesh.textproto
  tests/tt_metal/tt_fabric/custom_mesh_descriptors/bh_galaxy_split_4x4_2x4_3_mesh.textproto
Due: none

Record the layout audit and three pre-existing failures
  models/autoports/qwen_qwen3_6_27b/doc/decode_perf/README.md
Due: none

Rename EXAMPLES_DIR variable for consistency
  tt-train/tests/python/test_grpo_trainer.py
Due: none

Small fixes to comments in test_grpo_trainer.py
  tt-train/tests/python/test_grpo_trainer.py
Due: none

Refinement 6: gate the split reader off on a native sharded output (no writer kernel = no producer for the split CB)
  .device_timing.jsonl
  tests/ttnn/unit_tests/operations/tilize/test_tilize_column_tail_and_split.py
  ttnn/ttnn/operations/tilize/agent_logs/ttnn-implementer_breadcrumbs.jsonl
  ttnn/ttnn/operations/tilize/kernels/tilize_compute.cpp
  ttnn/ttnn/operations/tilize/tilize_program_descriptor.py
Due: block-ttnn-pybind-changes

Revert "audio: pick the depthwise conv1d formulation by asking the slicer, not by failed attempts"
  models/tt_dit/layers/audio_ops.py
  models/tt_dit/tests/unit/test_audio_tap_path.py
Due: none

Revert "ttnn: non-throwing preview of conv2d's DRAM slice decision"
  ttnn/cpp/ttnn/operations/conv/conv2d/conv2d.cpp
  ttnn/cpp/ttnn/operations/conv/conv2d/conv2d.hpp
  ttnn/cpp/ttnn/operations/conv/conv2d/conv2d_nanobind.cpp
  ttnn/cpp/ttnn/operations/sliding_window/op_slicing/op_slicing.cpp
  ttnn/cpp/ttnn/operations/sliding_window/op_slicing/op_slicing.hpp
  ttnn/ttnn/__init__.py
  ttnn/ttnn/operations/conv2d.py
Due: block-ttnn-pybind-changes, detect-legacy-device-op

#51273: Address review — validator coverage, DRAM pins, watcher-gated ASSERT, slot test
  models/demos/deepseek_v3_d_p/tests/test_prefill_transformer_chunked.py
  tests/ttnn/nightly/unit_tests/operations/experimental/indexer_score/test_ring_indexer_score_dsa.py
  ttnn/cpp/ttnn/operations/experimental/high_bw_all_gather/device/high_bw_all_gather_device_operation.cpp
  ttnn/cpp/ttnn/operations/experimental/indexer_score/device/indexer_score_device_operation.cpp
  ttnn/cpp/ttnn/operations/experimental/topk_large_indices/device/kernels/reader.cpp
Due: block-ttnn-pybind-changes

[tt-train] Fix CMake target configuration order (#56007)
  tt-train/sources/CMakeLists.txt
Due: none

fixed comment
  tt_metal/fabric/hw/inc/edm_fabric/fabric_erisc_datamover_channels.hpp
Due: none

Refinement 6: Speed up the transposed / rough-`C` geometries — split reader (1.18x on [1,1,16384,32]) + ragged column tail (1.10x on [1,1,1,50304])
  .device_timing.jsonl
  ttnn/ttnn/operations/tilize/agent_logs/ttnn-implementer_breadcrumbs.jsonl
  ttnn/ttnn/operations/tilize/changelog.md
  ttnn/ttnn/operations/tilize/l1_ledger.md
  ttnn/ttnn/operations/tilize/op_requirements.md
Due: block-ttnn-pybind-changes

Path conditions:
  block-ttnn-pybind-changes: any of: ^ttnn/
  detect-legacy-device-op: any of: ^ttnn/.*\.hpp$
  validate-golden-csv-columns: any of: ^tests/tt_metal/tt_metal/perf_microbenchmark/routing/golden/.*bandwidth.*\.csv$
