Repository tenstorrent/tt-metal: changes, and which pre-commit hooks are due for each by the changed paths.
All: block-ttnn-pybind-changes, detect-legacy-device-op, validate-golden-csv-columns

block-ttnn-pybind-changes:
  name: Prevent edits to frozen pybind11 sources under ttnn
  entry: python3 scripts/block_ttnn_pybind_changes.py
  language: system
  pass_filenames: true

detect-legacy-device-op:
  name: Detect legacy device operation classes in newly added files
  entry: python3 scripts/detect_legacy_device_op.py --check-new-only
  language: system
  pass_filenames: true
  require_serial: true

validate-golden-csv-columns:
  name: Validate golden bandwidth CSV column headers
  entry: bash .github/scripts/utils/validate_golden_csv_columns.sh
  language: system
  pass_filenames: false

[tt-train] sdpa_bw: use 2-arg pack_reconfig_data_format to avoid SFPU drain (#44873)
  tt-train/sources/ttml/metal/ops/sdpa_bw/device/kernels/compute/sdpa_bw_compute_utils.hpp
  tt-train/sources/ttml/metal/ops/sdpa_bw/device/kernels/compute/sdpa_bw_kv_compute_kernel.cpp
  tt-train/sources/ttml/metal/ops/sdpa_bw/device/kernels/compute/sdpa_bw_q_compute_kernel.cpp
Due: none

Simplify MLA profiling benchmark output
  tt-train/tests/benchmark/mla_profile_benchmark.py
Due: none

batch_norm: fix cb_other AIndex and collapse 4-branch chain via OptionalChainElement
  ttnn/cpp/ttnn/operations/normalization/batch_norm/device/kernels/compute/batch_norm_kernel.cpp
Due: block-ttnn-pybind-changes

gpt_oss: drop duplicate chunk_start_idx kwarg after merge
  models/demos/gpt_oss/tt/model.py
Due: none

Add daily schedule to model trace sweep validation workflow
  .github/workflows/ttnn-model-trace-sweep-validation.yaml
Due: none

kernel_lib: add SrcA/SrcB single-side selectors to BinaryDataFormatReconfig and DestReuseReconfig
  ttnn/cpp/ttnn/kernel_lib/eltwise_chain.hpp
  ttnn/cpp/ttnn/kernel_lib/eltwise_chain.inl
Due: block-ttnn-pybind-changes, detect-legacy-device-op

Fix config hash instability for serialized Shape arguments
  model_tracer/generic_ops_tracer.py
Due: none

#0: Add UT for reshuffling the tensor
  models/demos/deepseek_v3_d_p/tests/test_input_reshuffling.py
Due: none

test_single_routed_expert: add 16k/25k alloc + 2k/4k active variants
  models/demos/deepseek_v3_d_p/tests/pcc/test_single_routed_expert.py
Due: none

Revert "Fix config hash instability for serialized Shape arguments"
  model_tracer/generic_ops_tracer.py
Due: none

Fix MoE kernel compile regressions (#45092)
  tt_metal/hw/inc/api/compute/pack_untilize.h
  tt_metal/hw/inc/api/compute/tilize.h
  ttnn/cpp/ttnn/operations/experimental/ccl/moe_compute/device/kernels/compute.cpp
Due: block-ttnn-pybind-changes

tt_fabric: fix Triple16x8QuadUnknown test expectations to match actual PGD
  tests/tt_metal/tt_fabric/fabric_router/test_physical_grouping_descriptor.cpp
Due: none

Add opt-in VAE bfloat8 activation compute and harden Tracy perf CSV merge.
  models/demos/ace_step_v1_5/perf/test_perf_vae_tracy.py
  models/demos/ace_step_v1_5/run_prompt_to_wav.py
  models/demos/ace_step_v1_5/tests/test_vae_decoder_pcc.py
  models/demos/ace_step_v1_5/ttnn_impl/math_perf_env.py
  models/demos/ace_step_v1_5/ttnn_impl/vae/conv1d.py
  models/demos/ace_step_v1_5/ttnn_impl/vae/decoder.py
  models/demos/ace_step_v1_5/ttnn_impl/vae/snake.py
  tests/ttnn/tracy/test_process_ops_logs.py
  tools/tracy/process_ops_logs.py
Due: none

skip test_model decode on TG
  models/demos/deepseek_v3/tests/test_model.py
Due: none

Disable newly confirmed deterministic t3k e2e failures
  docs/ci-disable-targeted-verification.md
  models/common/demos/llama31_8B_demo.py
  tests/nightly/t3000/ccl/test_minimal_all_gather_matmul_async.py
  tests/nightly/t3000/ccl/test_new_all_broadcast.py
Due: none

hoist fix
  ttnn/cpp/ttnn/kernel_lib/eltwise_chain.hpp
  ttnn/cpp/ttnn/kernel_lib/eltwise_chain.inl
Due: block-ttnn-pybind-changes, detect-legacy-device-op

Temporarily prune t3k e2e matrix for targeted verify
  tests/pipeline_reorg/t3k_e2e_tests.yaml
Due: none

cleanup
  models/experimental/glm4_moe_lite/tests/test_pre_sdpa_kernel.py
  models/experimental/glm4_moe_lite/tt/attention_decode.py
  models/experimental/glm4_moe_lite/tt/decoder_layer_tt.py
  models/experimental/glm4_moe_lite/tt/layer_weights.py
  models/experimental/glm4_moe_lite/tt/linear_helpers.py
  models/experimental/glm4_moe_lite/tt/mlp_decode.py
  models/experimental/glm4_moe_lite/tt/model_tt.py
Due: none

ring_joint_sdpa: allow oversize persistent K/V buffers (proposed fix + tests)
  models/demos/deepseek_v3_d_p/tests/test_ring_joint_sdpa_handoff.py
  ttnn/cpp/ttnn/operations/experimental/ccl/ring_attention_all_gather_async/device/ring_attention_all_gather_async_device_operation.cpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/ring_joint_sdpa_device_operation.cpp
Due: block-ttnn-pybind-changes

Fix for hang
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/combine/device/combine_program_factory.cpp
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/combine/device/kernels/dataflow/reader_combine.cpp
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/combine/device/kernels/dataflow/reader_untilize.cpp
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/combine/device/kernels/dataflow/writer_combine.cpp
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/combine/device/kernels/dataflow/writer_untilize.cpp
Due: block-ttnn-pybind-changes

kernel_lib: pull eltwise_chain SrcA/SrcB selectors + hoist-safe fix from astancov/eltwise_vx_migration
  ttnn/cpp/ttnn/kernel_lib/eltwise_chain.hpp
  ttnn/cpp/ttnn/kernel_lib/eltwise_chain.inl
Due: block-ttnn-pybind-changes, detect-legacy-device-op

Reapply "Fix config hash instability for serialized Shape arguments"
  model_tracer/generic_ops_tracer.py
Due: none

Add opt-in VAE bfloat8 activation compute with BF16 inter-op buffers.
  models/demos/ace_step_v1_5/perf/test_perf_vae_tracy.py
  models/demos/ace_step_v1_5/run_prompt_to_wav.py
  models/demos/ace_step_v1_5/tests/test_vae_decoder_pcc.py
  models/demos/ace_step_v1_5/ttnn_impl/math_perf_env.py
  models/demos/ace_step_v1_5/ttnn_impl/vae/conv1d.py
  models/demos/ace_step_v1_5/ttnn_impl/vae/decoder.py
  models/demos/ace_step_v1_5/ttnn_impl/vae/snake.py
Due: none

reduce custom code for hashing
  ttnn/cpp/ttnn/operations/data_movement/concat/device/concat_device_operation.cpp
Due: block-ttnn-pybind-changes

Fix Seamless M4T T2ST on 4×BH mesh: mesh readback, vocoder L1, longer audio
  models/experimental/seamless_m4t_v2_large/demo/demo.py
  models/experimental/seamless_m4t_v2_large/tt/common.py
  models/experimental/seamless_m4t_v2_large/tt/tt_code_hifigan.py
  models/experimental/seamless_m4t_v2_large/tt/tt_seamless_m4t_v2_model.py
  models/experimental/seamless_m4t_v2_large/tt/tt_text_to_unit.py
Due: none

refactor: update documentation for performance counters in LLK
  tt_metal/tt-llk/docs/performance_counters/performance_counters.md
Due: none

[ci] Disable deterministic T3000 e2e CCL failures (issue #45107)
  tests/nightly/t3000/ccl/test_minimal_all_gather_matmul_async.py
  tests/nightly/t3000/ccl/test_new_all_broadcast.py
  tests/nightly/t3000/ccl/test_ring_joint_attention.py
Due: none

Optimise exp2 fp32/bf16 (#44539)
  tests/ttnn/unit_tests/operations/eltwise/test_exp2.py
  tt_metal/tt-llk/tt_llk_blackhole/common/inc/sfpu/ckernel_sfpu_exp2.h
  tt_metal/tt-llk/tt_llk_wormhole_b0/common/inc/sfpu/ckernel_sfpu_exp2.h
Due: none

Tighten CI-disable policy and drop stale llama skip
  docs/ci-disable-targeted-verification.md
  models/common/demos/llama31_8B_demo.py
Due: none

Increase LLK WH group 3 timeout to 20min and add skips for flaky tests.
  tests/pipeline_reorg/llk_smoke_tests.yaml
  tt_metal/tt-llk/tests/python_tests/test_reduce.py
  tt_metal/tt-llk/tests/python_tests/test_topk.py
Due: none

Temp: targeted t3k verify with merge-gate artifact reuse
  .github/workflows/t3000-e2e-tests.yaml
  tests/pipeline_reorg/t3k_e2e_tests.yaml
Due: none

kernel_lib: support accumulate_reduce<MAX, REDUCE_ROW> via per-face reload transpose
  tests/ttnn/unit_tests/operations/toy_max_w/test_toy_max_w.py
  ttnn/cpp/ttnn/kernel_lib/reduce_helpers_compute.inl
  ttnn/ttnn/operations/toy_max_w/__init__.py
  ttnn/ttnn/operations/toy_max_w/kernels/compute.cpp
  ttnn/ttnn/operations/toy_max_w/kernels/reader.cpp
  ttnn/ttnn/operations/toy_max_w/kernels/writer.cpp
  ttnn/ttnn/operations/toy_max_w/toy_max_w.py
  ttnn/ttnn/operations/toy_max_w/toy_max_w_program_descriptor.py
Due: block-ttnn-pybind-changes

ci(perf): set safe.directory unconditionally in single-card-perf-test
  .github/actions/single-card-perf-test/action.yml
Due: none

Path conditions:
  block-ttnn-pybind-changes: any of: ^ttnn/
  detect-legacy-device-op: any of: ^ttnn/.*\.hpp$
  validate-golden-csv-columns: any of: ^tests/tt_metal/tt_metal/perf_microbenchmark/routing/golden/.*bandwidth.*\.csv$
