Repository tenstorrent/tt-metal: changes, and which pre-commit hooks are due for each by the changed paths.
All: block-ttnn-pybind-changes, detect-legacy-device-op, validate-golden-csv-columns

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v3.2.0
  hooks:
    - id: trailing-whitespace
      exclude: \.patch$
    - id: end-of-file-fixer
      exclude: \.patch$
    - id: check-yaml
      args: ["--unsafe"]
    - id: check-added-large-files
# Using this mirror lets us use mypyc-compiled black, which is about 2x faster
- repo: https://github.com/psf/black-pre-commit-mirror
  rev: 23.10.1
  hooks:
    - id: black
      language_version: python3
- repo: https://github.com/PyCQA/autoflake
  rev: v2.3.1
  hooks:
    - id: autoflake
      args: [--remove-all-unused-imports, --in-place, --recursive, --exclude=__init__.py]
      files: ^models/  # Run only on files in the models directory
- repo: https://github.com/pycqa/isort
  rev: 5.13.2
  hooks:
    - id: isort
      files: ^models/
      exclude: ^models/(demos/llama3_70b_galaxy|experimental)/
- repo: https://github.com/BlankSpruce/gersemi
  rev: 0.16.2
  hooks:
    - id: gersemi
- repo: https://github.com/adrienverge/yamllint.git
  rev: v1.35.1
  hooks:
    - id: yamllint
- repo: https://github.com/pre-commit/mirrors-clang-format
  rev: v19.1.4
  hooks:
    - id: clang-format
      entry: git-clang-format
      require_serial: true
      types_or: [c++, c]
      args: ["--style=file"]
- repo: local
  hooks:
    - id: validate-metalium-includes
      name: validate-metalium-includes
      entry: python3 scripts/validate_api/validate_includes.py tt_metal/api --check-ttnn-forwards
      language: system
      pass_filenames: false
    - id: validate-metalium-deprecation
      name: validate-metalium-deprecation
      entry: python3 scripts/validate_api/validate_deprecation.py tt_metal/api origin/main
      language: system
      pass_filenames: false
- repo: local
  hooks:
    - id: check-torch-imports-in-ttnn
      name: Verify that there is no global torch import in ttnn
      entry: python3 scripts/validate_no_global_torch_imports.py
      language: system
      pass_filenames: false
- repo: local
  hooks:
    - id: block-ttnn-pybind-changes
      name: Prevent edits to frozen pybind11 sources under ttnn
      entry: python3 scripts/block_ttnn_pybind_changes.py
      language: system
      pass_filenames: true
      files: ^ttnn/
- repo: local
  hooks:
    - id: convert-notebooks-to-py
      name: Convert .ipynb to .py for ttnn basic examples
      entry: python3 scripts/convert_notebooks_to_python.py
      language: system
- repo: local
  hooks:
    - id: detect-legacy-device-op
      name: Detect legacy device operation classes in newly added files
      entry: python3 scripts/detect_legacy_device_op.py --check-new-only
      language: system
      types: [file]
      files: ^ttnn/.*\.hpp$
      pass_filenames: true
      require_serial: true
- repo: local
  hooks:
    - id: validate-golden-csv-columns
      name: Validate golden bandwidth CSV column headers
      entry: bash .github/scripts/utils/validate_golden_csv_columns.sh
      language: system
      pass_filenames: false
      files: ^tests/tt_metal/tt_metal/perf_microbenchmark/routing/golden/.*bandwidth.*\.csv$

[Bug Fix] Re-enabling Fabric Mesh Context Coordinate Validation (#55559)
  .github/actions/run-multi-process-tests/action.yml
  tests/pipeline_reorg/fabric_tests.yaml
  tests/pipeline_reorg/galaxy_unit_tests.yaml
  tests/tt_metal/multihost/fabric_tests/socket_send_recv.cpp
  tt_metal/distributed/mesh_socket.cpp
Due: none

MTP spec decode engine and vllm plugin contract adapter
  models/demos/blackhole/qwen36/README.md
  models/demos/blackhole/qwen36/tests/spec_helpers.py
  models/demos/blackhole/qwen36/tests/test_spec_engine.py
  models/demos/blackhole/qwen36/tests/test_spec_engine_host.py
  models/demos/blackhole/qwen36/tests/test_spec_vllm_class.py
  models/demos/blackhole/qwen36/tt/gdn/tp.py
  models/demos/blackhole/qwen36/tt/layer.py
  models/demos/blackhole/qwen36/tt/model.py
  models/demos/blackhole/qwen36/tt/mtp.py
  models/demos/blackhole/qwen36/tt/qwen36_vllm.py
  models/demos/blackhole/qwen36/tt/spec_decode.py
  models/demos/blackhole/qwen36/tt/spec_engine.py
Due: none

Fix embedding full-row L1 budget
  tests/ttnn/unit_tests/operations/data_movement/test_embedding.py
  ttnn/cpp/ttnn/operations/embedding/device/embeddings_fused_program_factory.cpp
Due: block-ttnn-pybind-changes

tt-train: drop the N300 special case from the optimizer mesh-topology fixture
  tt-train/tests/optimizers/optimizer_topology_test_utils.hpp
Due: none

Try separating workaround to QB2 only
  tests/pipeline_reorg/train_unit_tests.yaml
Due: none

Bump ttsim version to v1.11.1 (#59034)
  tt_metal/ttsim-version
Due: none

experiment (bistability repro, batch7-in-loop): tiny matmul configs, PACK_ISOLATE, pad/delay knobs, counters
  tt_metal/tt-llk/tests/python_tests/helpers/perf/test_schemas.py
  tt_metal/tt-llk/tests/python_tests/helpers/perf/wide_schema.py
  tt_metal/tt-llk/tests/python_tests/perf_math_matmul.py
  tt_metal/tt-llk/tests/run_llk_perf_wormhole.sh
  tt_metal/tt-llk/tests/sources/math_matmul_test.cpp
Due: none

bisect: measure with speed of light off
  tt_metal/tt-llk/tests/run_llk_perf_blackhole.sh
  tt_metal/tt-llk/tests/run_llk_perf_wormhole.sh
Due: none

Harden Moreh NLL tensor contracts
  tests/ttnn/nightly/unit_tests/operations/moreh/test_moreh_nll_loss.py
  ttnn/cpp/ttnn/operations/moreh/moreh_nll_loss/moreh_nll_loss.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_nll_loss/moreh_nll_loss_validation.hpp
  ttnn/cpp/ttnn/operations/moreh/moreh_nll_loss_backward/moreh_nll_loss_backward.cpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

chronos: fall back to unfused RoPE when the cos/sin table exceeds the qkv_heads_rope L1 budget
  models/experimental/chronos_forecast/ops/qkv_heads_rope/op.py
  models/experimental/chronos_forecast/tt/mha_core.py
Due: none

chronos: assert host input shapes match the persistent device buffers before trace input copies
  models/experimental/chronos_forecast/tt/trace_runner.py
Due: none

[Quasar matmul] Re-init the pack on every C_partials / C_slice switch
  tests/ttnn/nightly/unit_tests/operations/experimental/quasar/test_matmul_unified.py
  ttnn/cpp/ttnn/operations/experimental/quasar/matmul/device/kernels/compute/unified_matmul_compute.cpp
Due: block-ttnn-pybind-changes

[Quasar matmul] Stage B: run the compute kernel on all four NEOs of a cluster (#41910)
  tests/ttnn/nightly/unit_tests/operations/experimental/quasar/test_matmul_unified.py
  ttnn/cpp/ttnn/operations/experimental/quasar/matmul/device/config/matmul_program_config_types.hpp
  ttnn/cpp/ttnn/operations/experimental/quasar/matmul/device/factory/matmul_unified_program_factory.cpp
  ttnn/cpp/ttnn/operations/experimental/quasar/matmul/device/factory/matmul_unified_program_factory.hpp
  ttnn/cpp/ttnn/operations/experimental/quasar/matmul/device/kernels/compute/unified_matmul_compute.cpp
  ttnn/cpp/ttnn/operations/experimental/quasar/matmul/device/kernels/dataflow/unified_matmul_writer.cpp
  ttnn/cpp/ttnn/operations/experimental/quasar/matmul/matmul_nanobind.cpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

[Quasar matmul] Compute kernel back to stage A's shape
  ttnn/cpp/ttnn/operations/experimental/quasar/matmul/device/kernels/compute/unified_matmul_compute.cpp
Due: block-ttnn-pybind-changes

[Quasar matmul] Writer walks the padded subblocks in one loop; DFB/entry wording
  tests/ttnn/nightly/unit_tests/operations/experimental/quasar/test_matmul_unified.py
  ttnn/cpp/ttnn/operations/experimental/quasar/matmul/device/factory/matmul_unified_program_factory.cpp
  ttnn/cpp/ttnn/operations/experimental/quasar/matmul/device/factory/matmul_unified_program_factory.hpp
  ttnn/cpp/ttnn/operations/experimental/quasar/matmul/device/kernels/compute/unified_matmul_compute.cpp
  ttnn/cpp/ttnn/operations/experimental/quasar/matmul/device/kernels/dataflow/unified_matmul_writer.cpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

[Quasar matmul] Drop the duplicate pack_init; main now re-inits the packer
  ttnn/cpp/ttnn/operations/experimental/quasar/matmul/device/kernels/compute/unified_matmul_compute.cpp
Due: block-ttnn-pybind-changes

[Quasar matmul] Address review: thread-count check, stage A subblock rule, tests
  tests/ttnn/nightly/unit_tests/operations/experimental/quasar/test_matmul_unified.py
  tests/ttnn/unit_tests/gtests/sources.cmake
  tests/ttnn/unit_tests/gtests/test_quasar_matmul_unified_subblock.cpp
  ttnn/cpp/ttnn/operations/experimental/quasar/matmul/device/config/matmul_program_config_types.hpp
  ttnn/cpp/ttnn/operations/experimental/quasar/matmul/device/factory/matmul_unified_program_factory.cpp
  ttnn/cpp/ttnn/operations/experimental/quasar/matmul/device/factory/matmul_unified_program_factory.hpp
  ttnn/cpp/ttnn/operations/experimental/quasar/matmul/device/kernels/compute/unified_matmul_compute.cpp
  ttnn/cpp/ttnn/operations/experimental/quasar/matmul/device/kernels/dataflow/unified_matmul_writer.cpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

[Quasar matmul] Keep main's subblock loop nests in the compute and writer kernels
  ttnn/cpp/ttnn/operations/experimental/quasar/matmul/device/kernels/compute/unified_matmul_compute.cpp
  ttnn/cpp/ttnn/operations/experimental/quasar/matmul/device/kernels/dataflow/unified_matmul_writer.cpp
Due: block-ttnn-pybind-changes

[Quasar matmul] Writer: name the loop index compute_thread
  ttnn/cpp/ttnn/operations/experimental/quasar/matmul/device/kernels/dataflow/unified_matmul_writer.cpp
Due: block-ttnn-pybind-changes

[Quasar matmul] Point the packer at the K chunk's target with a plain pack_init
  ttnn/cpp/ttnn/operations/experimental/quasar/matmul/device/kernels/compute/unified_matmul_compute.cpp
Due: block-ttnn-pybind-changes

[Quasar matmul] Release the partials credits after the K chunk, as before
  ttnn/cpp/ttnn/operations/experimental/quasar/matmul/device/kernels/compute/unified_matmul_compute.cpp
Due: block-ttnn-pybind-changes

[Quasar matmul] Drop the subblock count and rounds from the plan
  ttnn/cpp/ttnn/operations/experimental/quasar/matmul/device/factory/matmul_unified_program_factory.cpp
  ttnn/cpp/ttnn/operations/experimental/quasar/matmul/device/factory/matmul_unified_program_factory.hpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

[Quasar matmul] Re-init the pack only where the target flips
  ttnn/cpp/ttnn/operations/experimental/quasar/matmul/device/kernels/compute/unified_matmul_compute.cpp
Due: block-ttnn-pybind-changes

[Quasar matmul] Block packs and reloads: one C_slice / C_partials share per thread
  ttnn/cpp/ttnn/operations/experimental/quasar/matmul/device/factory/matmul_unified_program_factory.cpp
  ttnn/cpp/ttnn/operations/experimental/quasar/matmul/device/factory/matmul_unified_program_factory.hpp
  ttnn/cpp/ttnn/operations/experimental/quasar/matmul/device/kernels/compute/unified_matmul_compute.cpp
  ttnn/cpp/ttnn/operations/experimental/quasar/matmul/device/kernels/dataflow/unified_matmul_writer.cpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

add dprints
  ttnn/cpp/ttnn/operations/experimental/quasar/tilize/device/kernels/compute/tilize.cpp
  ttnn/cpp/ttnn/operations/experimental/quasar/tilize/device/kernels/dataflow/reader_unary_stick_layout_split_rows_multicore.cpp
Due: block-ttnn-pybind-changes

experiment (bistability repro, batch8-phase-map): tiny matmul configs, PACK_ISOLATE, pad/delay knobs
  tt_metal/tt-llk/tests/python_tests/helpers/perf/test_schemas.py
  tt_metal/tt-llk/tests/python_tests/helpers/perf/wide_schema.py
  tt_metal/tt-llk/tests/python_tests/perf_math_matmul.py
  tt_metal/tt-llk/tests/run_llk_perf_wormhole.sh
  tt_metal/tt-llk/tests/sources/math_matmul_test.cpp
Due: none

Validate SwiGLU dropout probability
  tt-train/sources/ttml/ops/swiglu_op.cpp
  tt-train/tests/ops/swiglu_op_test.cpp
Due: none

SDPA prepare_sdpa_input: common runtime args and a row-wise core grid (WIP, to fold into PR1)
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/kernels/compute/prepare_bfp4.cpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/kernels/compute/prepare_significand.cpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/kernels/dataflow/reader_prepare.cpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/kernels/dataflow/writer_prepare.cpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/kernels/prepare_split.hpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/sdpa_input_preparation.cpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

Include standard headers used by dispatch_core_common.hpp directly
  tt_metal/api/tt-metalium/dispatch_core_common.hpp
Due: none

#111: reject unsupported cross-entropy input tiles
  tt-train/sources/ttml/metal/ops/cross_entropy_bw/device/cross_entropy_bw_device_operation.cpp
  tt-train/sources/ttml/metal/ops/cross_entropy_fw/device/cross_entropy_fw_device_operation.cpp
  tt-train/tests/ops/cross_entropy_bw_op_test.cpp
  tt-train/tests/ops/cross_entropy_fw_op_test.cpp
Due: none

finishing up the refactor...
  tests/pipeline_reorg/llk_reconfig_escape_tests.yaml
  tt_metal/tt-llk/tests/python_tests/helpers/cfg_restore.py
  tt_metal/tt-llk/tests/python_tests/reconfig_escape/ci.sh
  tt_metal/tt-llk/tests/python_tests/reconfig_escape/discover_catalog.py
  tt_metal/tt-llk/tests/python_tests/reconfig_escape/pair_sweep.py
Due: none

profiler: streaming zone ids are handle addresses rebased at load, not tu/local ids
  tests/ttnn/tracy/test_streaming_profiler.py
  tt_metal/api/tt-metalium/experimental/streaming_profiler.hpp
  tt_metal/hw/inc/hostdev/profiler_zone_id.h
  tt_metal/hw/toolchain/main.ld
  tt_metal/impl/streaming_profiler/api.cpp
  tt_metal/impl/streaming_profiler/capture_context.hpp
  tt_metal/impl/streaming_profiler/receiver.cpp
  tt_metal/impl/streaming_profiler/spsc_packet.h
  tt_metal/jit_build/build.cpp
  tt_metal/llrt/llrt.cpp
  tt_metal/llrt/tt_elffile.cpp
  tt_metal/llrt/tt_elffile.hpp
  tt_metal/llrt/tt_memory.cpp
  tt_metal/llrt/zone_meta.cpp
  tt_metal/llrt/zone_meta.hpp
  tt_metal/tools/profiler/STREAMING_PROFILER_DETAILED.md
  tt_metal/tools/profiler/kernel_profiler_streaming.hpp
Due: none

Support nonaligned embedding backward
  tt-train/sources/ttml/modules/embedding_module.cpp
  tt-train/sources/ttml/ops/embedding_op.cpp
  tt-train/sources/ttml/ttml/modules/embedding.py
  tt-train/tests/ops/embedding_op_test.cpp
Due: none

perf: flat expert host cost on the mesh (test_flat_expert_host_mesh); noc_hang_probe multicaster barrier switch (NOC_PROBE_MC_BARRIER 1-4)
  models/demos/mimo_v2_d_p/tests/perf/test_flat_expert_host.py
  tests/ttnn/unit_tests/operations/noc_hang_probe/test_noc_hang_probe.py
Due: none

Removing "overpopping" that resulted from a bad merge
  ttnn/cpp/ttnn/operations/normalization/layernorm/device/kernels/compute/layernorm_sharded_welford.cpp
Due: block-ttnn-pybind-changes

gemma4 tests: skip the vllm-importing host tests where vllm is absent
  models/demos/gemma4/tests/unit/test_decode_page_table_rows.py
  models/demos/gemma4/tests/unit/test_native_context_guard.py
  models/demos/gemma4/tests/unit/test_shared_kv_canonical_shape.py
Due: none

experiment (bistability repro, final-repro): tiny matmul configs, PACK_ISOLATE, pad/delay knobs, counters
  tt_metal/tt-llk/tests/python_tests/helpers/perf/test_schemas.py
  tt_metal/tt-llk/tests/python_tests/helpers/perf/wide_schema.py
  tt_metal/tt-llk/tests/python_tests/perf_math_matmul.py
  tt_metal/tt-llk/tests/run_llk_perf_wormhole.sh
  tt_metal/tt-llk/tests/sources/math_matmul_test.cpp
Due: none
