Repository tenstorrent/tt-metal: changes, and which pre-commit hooks are due for each by the changed paths.
All: block-ttnn-pybind-changes, detect-legacy-device-op, validate-golden-csv-columns

block-ttnn-pybind-changes:
  name: Prevent edits to frozen pybind11 sources under ttnn
  entry: python3 scripts/block_ttnn_pybind_changes.py
  language: system
  pass_filenames: true

detect-legacy-device-op:
  name: Detect legacy device operation classes in newly added files
  entry: python3 scripts/detect_legacy_device_op.py --check-new-only
  language: system
  pass_filenames: true
  require_serial: true

validate-golden-csv-columns:
  name: Validate golden bandwidth CSV column headers
  entry: bash .github/scripts/utils/validate_golden_csv_columns.sh
  language: system
  pass_filenames: false

matmul_block: enforce caller_owns_pack_target contract + add unit test
  tests/ttnn/unit_tests/gtests/matmul/test_matmul_block_caller_owns_constraint.cpp
  tests/ttnn/unit_tests/gtests/sources.cmake
  ttnn/cpp/ttnn/kernel_lib/matmul_block_constraints.hpp
  ttnn/cpp/ttnn/kernel_lib/matmul_block_helpers.hpp
  ttnn/cpp/ttnn/kernel_lib/matmul_block_helpers.inl
Due: block-ttnn-pybind-changes, detect-legacy-device-op

matmul helpers: refresh bias_add + buffer_compat + sfpu_activation from mm_help3
  ttnn/cpp/ttnn/kernel_lib/bias_add_helpers.hpp
  ttnn/cpp/ttnn/kernel_lib/bias_add_helpers.inl
  ttnn/cpp/ttnn/kernel_lib/buffer_compat.hpp
  ttnn/cpp/ttnn/kernel_lib/sfpu_activation_helpers.hpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

matmul helpers: refresh matmul_block + reblock_untilize from mm_help3
  ttnn/cpp/ttnn/kernel_lib/matmul_block_helpers.hpp
  ttnn/cpp/ttnn/kernel_lib/matmul_block_helpers.inl
  ttnn/cpp/ttnn/kernel_lib/reblock_untilize_helpers.hpp
  ttnn/cpp/ttnn/kernel_lib/reblock_untilize_helpers.inl
Due: block-ttnn-pybind-changes, detect-legacy-device-op

test(diffusion_gemma): close reference parity review gaps
  models/experimental/diffusion_gemma/tests/test_device_backbone_pcc.py
  models/experimental/diffusion_gemma/tests/test_real_transformers_parity.py
  models/experimental/diffusion_gemma/tests/test_sampling.py
  models/experimental/diffusion_gemma/tests/test_self_conditioning.py
  models/experimental/diffusion_gemma/tests/trajectory_pcc.py
Due: none

X280 to D2H
  tools/x280_bm/FINDINGS.md
  tools/x280_bm/Makefile
  tools/x280_bm/src/d2hbw.c
  tt_metal/programming_examples/profiler/CMakeLists.txt
  tt_metal/programming_examples/profiler/test_x280_d2hbw/CMakeLists.txt
  tt_metal/programming_examples/profiler/test_x280_d2hbw/test_x280_d2hbw.cpp
Due: none

[DiffusionDrive] cache device-prepared conv weights in remaining convs
  models/demos/diffusion_drive/tt/ttnn_backbone.py
  models/demos/diffusion_drive/tt/ttnn_consolidated.py
  models/demos/diffusion_drive/tt/ttnn_fpn.py
  models/demos/diffusion_drive/tt/ttnn_grid_sample_attention.py
  models/demos/diffusion_drive/tt/ttnn_perception.py
Due: none

query tile shape correctly
  ttnn/cpp/ttnn/operations/ccl/all_gather/device/all_gather_factory.cpp
Due: block-ttnn-pybind-changes

modified test to match production
  tests/ttnn/unit_tests/operations/matmul/test_denoise_layer_matmul_decode.py
Due: none

[skip ci] Add nightly cron to fabric cpu unit tests and add test scaffolding for merge gate (#48001)
  .github/scripts/utils/find-changed-files.sh
  .github/sku_config.yaml
  .github/time_budget.yaml
  .github/workflows/fabric-cpu-only-tests-impl.yaml
  .github/workflows/merge-gate.yaml
  .github/workflows/tm-fabric-tests-impl.yaml
  .github/workflows/tm-fabric-tests.yaml
  tests/pipeline_reorg/fabric_cpu_only_smoke_merge_gate_tests.yaml
  tests/pipeline_reorg/fabric_cpu_only_unit_tests.yaml
  tests/scripts/multihost/run_fabric_cpu_only_unit_tests.sh
Due: none

[DiffusionDrive] Stage 7: trace the consolidated backbone loop (compile/execute_compiled)
  models/demos/diffusion_drive/tests/pcc/test_pcc_trace.py
  models/demos/diffusion_drive/tt/ttnn_backbone.py
  models/demos/diffusion_drive/tt/ttnn_diffusion_drive.py
Due: none

profiler: accumulate coexists with dispatch-core profiling
  tt_metal/hostdevcommon/api/hostdevcommon/profiler_common.h
  tt_metal/impl/profiler/tt_metal_profiler.cpp
  tt_metal/tools/profiler/kernel_profiler.hpp
Due: none

[experiment] spec-as-key: skip run-arg validation on cache hit
  ttnn/api/ttnn/mesh_device_operation_adapter.hpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

Added 1x1 support to all pcc tests
  models/experimental/seamless_m4t_v2_large/tests/pcc/test_code_hifigan.py
  models/experimental/seamless_m4t_v2_large/tests/pcc/test_greedy_argmax_parity.py
  models/experimental/seamless_m4t_v2_large/tests/pcc/test_seamless_m4t_v2_model.py
  models/experimental/seamless_m4t_v2_large/tests/pcc/test_speech_encoder.py
  models/experimental/seamless_m4t_v2_large/tests/pcc/test_text_decoder.py
  models/experimental/seamless_m4t_v2_large/tests/pcc/test_text_encoder.py
  models/experimental/seamless_m4t_v2_large/tests/pcc/test_text_to_unit.py
  models/experimental/seamless_m4t_v2_large/tt/mesh_helpers.py
  models/experimental/seamless_m4t_v2_large/tt/tt_seamless_m4t_v2_model.py
Due: none

Bug fix: Copying of mesh descriptor files to TTNN reports in multihost (#48006)
  ttnn/core/graph/graph_processor.cpp
Due: block-ttnn-pybind-changes

added 4B with optimizations
  models/demos/blackhole/pplx_embed_4b/README.md
  models/demos/blackhole/pplx_embed_4b/__init__.py
  models/demos/blackhole/pplx_embed_4b/demo/__init__.py
  models/demos/blackhole/pplx_embed_4b/demo/_common.py
  models/demos/blackhole/pplx_embed_4b/demo/demo_bs1_isl1024.py
  models/demos/blackhole/pplx_embed_4b/demo/demo_bs1_isl2048.py
  models/demos/blackhole/pplx_embed_4b/demo/demo_bs1_isl512.py
  models/demos/blackhole/pplx_embed_4b/demo/demo_bs32_isl1024.py
  models/demos/blackhole/pplx_embed_4b/demo/demo_bs32_isl2048.py
  models/demos/blackhole/pplx_embed_4b/demo/demo_bs32_isl512.py
  models/demos/blackhole/pplx_embed_4b/demo/demo_bs4_isl512.py
  models/demos/blackhole/pplx_embed_4b/demo/demo_bs8_isl1024.py
  models/demos/blackhole/pplx_embed_4b/demo/demo_bs8_isl2048.py
  models/demos/blackhole/pplx_embed_4b/demo/demo_bs8_isl512.py
  models/demos/blackhole/pplx_embed_4b/demo/dp32_multiprocess.py
  models/demos/blackhole/pplx_embed_4b/demo/eval_accuracy.py
  models/demos/blackhole/pplx_embed_4b/demo/eval_accuracy_tt.py
  models/demos/blackhole/pplx_embed_4b/demo/live_demo.py
  models/demos/blackhole/pplx_embed_4b/tests/__init__.py
  models/demos/blackhole/pplx_embed_4b/tests/perf/__init__.py
  models/demos/blackhole/pplx_embed_4b/tests/perf/gen_mem_report.py
  models/demos/blackhole/pplx_embed_4b/tests/perf/new_perf_bs16_isl512.py
  models/demos/blackhole/pplx_embed_4b/tests/perf/new_perf_bs1_isl512.py
  models/demos/blackhole/pplx_embed_4b/tests/perf/new_perf_bs32_isl512.py
  models/demos/blackhole/pplx_embed_4b/tests/perf/new_perf_bs8_isl512.py
  models/demos/blackhole/pplx_embed_4b/tt/__init__.py
  models/demos/blackhole/pplx_embed_4b/tt/attention.py
Due: none

[Metal 2.0] Spec-as-key: skip run-arg validation on the cache-hit apply
  ttnn/api/ttnn/mesh_device_operation_adapter.hpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

[Metal2 audit] Pre-port audits for 6 ops (rotary_llama GREEN; sdpa Joint/RingDistributed GREEN subset; embedding/sampling/create_qkv_decode/sdpa-ring RED; sdpa_decode YELLOW)
  ttnn/cpp/ttnn/operations/embedding/METAL2_PREPORT_AUDIT.md
  ttnn/cpp/ttnn/operations/experimental/transformer/nlp_create_qkv_heads_decode/METAL2_PREPORT_AUDIT.md
  ttnn/cpp/ttnn/operations/experimental/transformer/rotary_embedding_llama/METAL2_PORT_BRIEF.md
  ttnn/cpp/ttnn/operations/experimental/transformer/rotary_embedding_llama/METAL2_PREPORT_AUDIT.md
  ttnn/cpp/ttnn/operations/reduction/sampling/METAL2_PREPORT_AUDIT.md
  ttnn/cpp/ttnn/operations/transformer/sdpa/METAL2_PREPORT_AUDIT.md
  ttnn/cpp/ttnn/operations/transformer/sdpa_decode/METAL2_PREPORT_AUDIT.md
Due: block-ttnn-pybind-changes

ltx audio: wire stock ttnn.conv1d depthwise taps + enable tracing
  .gitignore
  models/tt_dit/layers/audio_ops.py
  models/tt_dit/tests/models/ltx/test_pipeline_ltx_distilled.py
  tests/ttnn/unit_tests/operations/conv/test_conv1d_depthwise.py
Due: none

tooling: cold-start load-time observability + warning cleanup
  models/tt_dit/layers/module.py
  models/tt_dit/pipelines/ltx/pipeline_ltx.py
  models/tt_dit/tests/models/ltx/audio_compile_bench.sh
  models/tt_dit/tests/models/ltx/audio_warm_harness.py
  models/tt_dit/utils/cache.py
  models/tt_dit/utils/matmul.py
  models/tt_dit/utils/progress.py
  tt_metal/jit_build/build.cpp
  ttnn/cpp/ttnn/operations/experimental/conv1d_depthwise/device/conv1d_depthwise_device_operation.cpp
  ttnn/cpp/ttnn/operations/experimental/conv1d_depthwise/device/conv1d_depthwise_device_operation.hpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

Tanh compute Api complete
  tests/tt_metal/tt_metal/llk/test_sfpu_compute.cpp
  tt_metal/hw/ckernels/quasar/metal/llk_api/llk_sfpu/ckernel_sfpu_tanh.h
  tt_metal/hw/inc/api/compute/compute_kernel_api.h
Due: none

taken out approximate and merged ckernel files
  tt_metal/hw/ckernels/quasar/metal/llk_api/llk_sfpu/ckernel_sfpu_tanh.h
  tt_metal/tt-llk/tests/helpers/include/sfpu_operations_quasar.h
  tt_metal/tt-llk/tt_llk_quasar/common/inc/ckernel_sfpu.h
  tt_metal/tt-llk/tt_llk_quasar/common/inc/sfpu/ckernel_sfpu_tanh.h
Due: none

changed #ifdef quasar to #ifndef
  tt_metal/hw/inc/api/compute/compute_kernel_api.h
Due: none

added issue link for tanh to be moved to trig.h
  tt_metal/hw/inc/api/compute/compute_kernel_api.h
Due: none

math fidelity update rmsnorm
  models/experimental/voxtraltts/tests/test_rmsnorm.py
  models/experimental/voxtraltts/tt/acoustic_model.py
  models/experimental/voxtraltts/tt/rmsnorm.py
Due: none

refernce updated with flow_matching_acoustic, test_text_model modified
  models/experimental/voxtraltts/reference/cpu_flow_matching_acoustic.py
  models/experimental/voxtraltts/reference/cpu_reference.py
  models/experimental/voxtraltts/reference/demo_reference.py
  models/experimental/voxtraltts/tests/test_text_model.py
Due: none

acoustic model tt implementation wip
  models/experimental/voxtraltts/reference/cpu_flow_matching_acoustic.py
  models/experimental/voxtraltts/tests/test_acoustic_model.py
  models/experimental/voxtraltts/tests/test_attention.py
  models/experimental/voxtraltts/tests/test_mlp.py
  models/experimental/voxtraltts/tt/acoustic_model.py
  models/experimental/voxtraltts/tt/attention.py
  models/experimental/voxtraltts/tt/mlp.py
Due: none

acoustic few torch ops ported to tt
  models/experimental/voxtraltts/tests/test_acoustic_model.py
  models/experimental/voxtraltts/tt/acoustic_model.py
  models/experimental/voxtraltts/utils/config_helpers.py
Due: none

pcc fix
  models/experimental/voxtraltts/tests/test_text_model_prefill_decode.py
Due: none

text_model test clean up
  models/experimental/voxtraltts/tests/common.py
  models/experimental/voxtraltts/tests/test_text_model.py
  models/experimental/voxtraltts/tests/test_text_model_prefill_decode.py
Due: none

Voxtral-TTS reference demo
  models/experimental/voxtraltts/README.md
  models/experimental/voxtraltts/__init__.py
  models/experimental/voxtraltts/reference/__init__.py
  models/experimental/voxtraltts/reference/cpu_reference.py
  models/experimental/voxtraltts/reference/demo_reference.py
  models/experimental/voxtraltts/reference/functional.py
  models/experimental/voxtraltts/reference/generate_golden.py
  models/experimental/voxtraltts/reference/voxtral_config.py
  models/experimental/voxtraltts/reference/voxtral_request.py
  output_audio/tts_output_0.wav
Due: none

transformer backbone:text_model
  models/experimental/voxtraltts/tests/common.py
  models/experimental/voxtraltts/tests/test_text_decoder_layer.py
  models/experimental/voxtraltts/tests/test_text_model.py
  models/experimental/voxtraltts/tests/test_text_model_prefill_decode.py
  models/experimental/voxtraltts/tt/text_decoder_layer.py
  models/experimental/voxtraltts/tt/text_model.py
  models/experimental/voxtraltts/tt/voxtral_tt_args.py
Due: none

device perf test added
  models/experimental/voxtraltts/tests/perf/test_voxtral_tts_device_perf.py
  models/experimental/voxtraltts/tests/perf/test_voxtral_tts_e2e_perf_2cq.py
  models/experimental/voxtraltts/tt/acoustic_model.py
  models/experimental/voxtraltts/tt/text_model.py
  models/experimental/voxtraltts/tt/voxtral_tts.py
Due: none

acoustic: sync FM noise to torch RNG + ODE acc-dtype knob
  models/experimental/voxtraltts/tt/acoustic_model.py
Due: none

comments on the tt and torch
  models/experimental/voxtraltts/tt/acoustic_model.py
  models/experimental/voxtraltts/tt/text_model.py
  models/experimental/voxtraltts/tt/voxtral_tts.py
Due: none

pcc with 0.9575 for vostral debug and pcc
  models/experimental/voxtraltts/tests/pcc/test_voxtral_e2e_debug.py
  models/experimental/voxtraltts/tt/voxtral_tt_args.py
  models/experimental/voxtraltts/tt/voxtral_tts.py
  models/experimental/voxtraltts/utils/debug_trace.py
  models/experimental/voxtraltts/utils/rng.py
Due: none

text, acoustic, and audio module combined and get teacher PCC 0.99 and free run PCC 0.79
  models/experimental/voxtraltts/demo/demo.py
  models/experimental/voxtraltts/tt/acoustic_model.py
  models/experimental/voxtraltts/tt/voxtral_tts.py
Due: none

voxtral e2e pcc test
  models/experimental/voxtraltts/tests/test_audio_tokenizer_decoder_stack.py
  models/experimental/voxtraltts/tests/test_audio_tokenizer_full_decode.py
  models/experimental/voxtraltts/tests/test_voxtral_tts_pipeline_e2e.py
  models/experimental/voxtraltts/tt/audio_tokenizer/model.py
  models/experimental/voxtraltts/tt/audio_tokenizer/transformer.py
Due: none

Path conditions:
  block-ttnn-pybind-changes: any of: ^ttnn/
  detect-legacy-device-op: any of: ^ttnn/.*\.hpp$
  validate-golden-csv-columns: any of: ^tests/tt_metal/tt_metal/perf_microbenchmark/routing/golden/.*bandwidth.*\.csv$
