Repository tenstorrent/tt-metal: changes, and which pre-commit hooks are due for each by the changed paths.
All: block-ttnn-pybind-changes, detect-legacy-device-op, validate-golden-csv-columns

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v3.2.0
  hooks:
    - id: trailing-whitespace
      exclude: \.patch$
    - id: end-of-file-fixer
      exclude: \.patch$
    - id: check-yaml
      args: ["--unsafe"]
    - id: check-added-large-files
# Using this mirror lets us use mypyc-compiled black, which is about 2x faster
- repo: https://github.com/psf/black-pre-commit-mirror
  rev: 23.10.1
  hooks:
    - id: black
      language_version: python3
- repo: https://github.com/PyCQA/autoflake
  rev: v2.3.1
  hooks:
    - id: autoflake
      args: [--remove-all-unused-imports, --in-place, --recursive, --exclude=__init__.py]
      files: ^models/  # Run only on files in the models directory
- repo: https://github.com/pycqa/isort
  rev: 5.13.2
  hooks:
    - id: isort
      files: ^models/
      exclude: ^models/(demos/llama3_70b_galaxy|experimental)/
- repo: https://github.com/BlankSpruce/gersemi
  rev: 0.16.2
  hooks:
    - id: gersemi
- repo: https://github.com/adrienverge/yamllint.git
  rev: v1.35.1
  hooks:
    - id: yamllint
- repo: https://github.com/pre-commit/mirrors-clang-format
  rev: v19.1.4
  hooks:
    - id: clang-format
      entry: git-clang-format
      require_serial: true
      types_or: [c++, c]
      args: ["--style=file"]
- repo: local
  hooks:
    - id: validate-metalium-includes
      name: validate-metalium-includes
      entry: python3 scripts/validate_api/validate_includes.py tt_metal/api --check-ttnn-forwards
      language: system
      pass_filenames: false
    - id: validate-metalium-deprecation
      name: validate-metalium-deprecation
      entry: python3 scripts/validate_api/validate_deprecation.py tt_metal/api origin/main
      language: system
      pass_filenames: false
- repo: local
  hooks:
    - id: check-torch-imports-in-ttnn
      name: Verify that there is no global torch import in ttnn
      entry: python3 scripts/validate_no_global_torch_imports.py
      language: system
      pass_filenames: false
- repo: local
  hooks:
    - id: block-ttnn-pybind-changes
      name: Prevent edits to frozen pybind11 sources under ttnn
      entry: python3 scripts/block_ttnn_pybind_changes.py
      language: system
      pass_filenames: true
      files: ^ttnn/
- repo: local
  hooks:
    - id: convert-notebooks-to-py
      name: Convert .ipynb to .py for ttnn basic examples
      entry: python3 scripts/convert_notebooks_to_python.py
      language: system
- repo: local
  hooks:
    - id: detect-legacy-device-op
      name: Detect legacy device operation classes in newly added files
      entry: python3 scripts/detect_legacy_device_op.py --check-new-only
      language: system
      types: [file]
      files: ^ttnn/.*\.hpp$
      pass_filenames: true
      require_serial: true
- repo: local
  hooks:
    - id: validate-golden-csv-columns
      name: Validate golden bandwidth CSV column headers
      entry: bash .github/scripts/utils/validate_golden_csv_columns.sh
      language: system
      pass_filenames: false
      files: ^tests/tt_metal/tt_metal/perf_microbenchmark/routing/golden/.*bandwidth.*\.csv$

Update models/demos/deepseek_v3/tests/test_moe.py
  models/demos/deepseek_v3/tests/test_moe.py
Due: none

Fix split_qkv_heads routing and head_size calculation for GQA (#38321)
  models/demos/ttnn_falcon7b/tt/falcon_attention.py
  ttnn/cpp/ttnn/operations/transformer/split_query_key_value_and_split_heads/split_query_key_value_and_split_heads.cpp
  ttnn/cpp/ttnn/operations/transformer/split_query_key_value_and_split_heads/split_query_key_value_and_split_heads.hpp
  ttnn/cpp/ttnn/operations/transformer/split_query_key_value_and_split_heads/split_query_key_value_and_split_heads_nanobind.cpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

fixes from autotest + returned requires_grad false
  tt-train/sources/examples/qwen3/gradients.py
  tt-train/sources/examples/qwen3/model_qwen3.py
  tt-train/sources/examples/qwen3/model_qwen3_distributed.py
  tt-train/sources/examples/qwen3/train.py
Due: none

#38226 untilize memory OOB error with tt-sim
  tests/ttnn/unit_tests/operations/data_movement/test_untilize.py
  ttnn/cpp/ttnn/operations/data_movement/untilize/device/factories/untilize_multi_core_input_and_output_nd_shard_type_and_shard_spec_identical_program_factory.cpp
  ttnn/cpp/ttnn/operations/data_movement/untilize/device/factories/untilize_multi_core_input_and_output_shard_type_and_shard_spec_identical_program_factory.cpp
Due: block-ttnn-pybind-changes

#38226 untilize memory OOB error with tt-sim
  ttnn/cpp/ttnn/operations/data_movement/clone/device/clone_program_factory.cpp
Due: block-ttnn-pybind-changes

#38226 untilize memory OOB error with tt-sim
  tests/ttnn/unit_tests/operations/data_movement/test_untilize.py
  ttnn/cpp/ttnn/operations/data_movement/untilize/device/factories/untilize_multi_core_input_and_output_nd_shard_type_and_shard_spec_identical_program_factory.cpp
  ttnn/cpp/ttnn/operations/data_movement/untilize/device/factories/untilize_multi_core_input_and_output_shard_type_and_shard_spec_identical_program_factory.cpp
  ttnn/cpp/ttnn/operations/data_movement/untilize/device/factories/untilize_multi_core_program_factory.cpp
  ttnn/cpp/ttnn/operations/data_movement/untilize/device/kernels/dataflow/reader_unary_sharded_blocks.cpp
  ttnn/cpp/ttnn/operations/data_movement/untilize/device/kernels/dataflow/reader_unary_sharded_rm.cpp
  ttnn/cpp/ttnn/operations/data_movement/untilize/device/untilize_device_operation_types.hpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

#38226 untilize memory OOB error with tt-sim
  tests/ttnn/unit_tests/operations/data_movement/test_untilize.py
  ttnn/cpp/ttnn/operations/data_movement/untilize/device/kernels/dataflow/reader_unary_sharded_rm.cpp
Due: block-ttnn-pybind-changes

[skip ci] [upstream tests] Update test path for WH galaxy matmul test (#39735)
  dockerfile/upstream_test_images/run_upstream_tests_vanilla.sh
Due: none

cleaning up code
  tech_reports/ttnn/graph-tracing.md
  tests/ttnn/unit_tests/gtests/test_graph_basic.cpp
  tests/ttnn/unit_tests/gtests/test_levelized_graph.cpp
  ttnn/ttnn/decorators.py
  ttnn/ttnn/graph.py
  ttnn/ttnn/graph_report.py
Due: block-ttnn-pybind-changes

fixed index to start with 1
  tests/ttnn/unit_tests/base_functionality/test_graph_report.py
  ttnn/core/graph/graph_processor.cpp
  ttnn/ttnn/graph_report.py
Due: block-ttnn-pybind-changes

adding more info in the arguments
  ttnn/ttnn/graph.py
Due: block-ttnn-pybind-changes

added more unit testing
  tests/ttnn/unit_tests/base_functionality/test_graph_report.py
Due: none

improved the graph building and the parity with the golden db
  tests/ttnn/unit_tests/base_functionality/fixtures/linear_reference.sqlite
  tests/ttnn/unit_tests/base_functionality/test_graph_capture.py
  tests/ttnn/unit_tests/base_functionality/test_graph_report.py
  tests/ttnn/unit_tests/gtests/test_graph_add.cpp
  tests/ttnn/unit_tests/gtests/test_graph_basic.cpp
  tests/ttnn/unit_tests/gtests/test_levelized_graph.cpp
  ttnn/api/ttnn/graph/graph_processor.hpp
  ttnn/core/graph/graph_processor.cpp
  ttnn/ttnn/decorators.py
  ttnn/ttnn/graph_report.py
Due: block-ttnn-pybind-changes, detect-legacy-device-op

Solved some additional differences with the report in main
  tests/ttnn/unit_tests/base_functionality/fixtures/linear_reference.sqlite
  tests/ttnn/unit_tests/base_functionality/test_graph_report.py
  ttnn/api/ttnn/graph/graph_consts.hpp
  ttnn/core/graph/graph_processor.cpp
  ttnn/ttnn/graph_report.py
Due: block-ttnn-pybind-changes, detect-legacy-device-op

Fixed the index ids and added the stack trace
  tech_reports/ttnn/graph-tracing.md
  tests/ttnn/unit_tests/base_functionality/test_graph_report.py
  ttnn/core/graph/graph_processor.cpp
  ttnn/ttnn/graph_report.py
Due: block-ttnn-pybind-changes

improved the unit testing
  tests/ttnn/unit_tests/base_functionality/test_graph_report.py
Due: none

Added way more testing to ensure data integrity, improved the importing process and added additional validations to avoid wrong id tensors
  tests/ttnn/unit_tests/base_functionality/test_graph_report.py
  ttnn/ttnn/graph_report.py
Due: block-ttnn-pybind-changes

Save config with ttnn report generated from pytest fixture
  conftest.py
Due: none

Fix graph DB generation to achieve exact parity with working reference DB
  tests/ttnn/unit_tests/base_functionality/test_graph_report.py
  ttnn/api/ttnn/graph/graph_processor.hpp
  ttnn/core/graph/graph_processor.cpp
  ttnn/ttnn/decorators.py
  ttnn/ttnn/graph.py
  ttnn/ttnn/graph_report.py
Due: block-ttnn-pybind-changes, detect-legacy-device-op

Address PR feedback: remove unused variables/imports and add documentation
  tests/ttnn/unit_tests/base_functionality/test_graph_capture.py
  tests/ttnn/unit_tests/base_functionality/test_graph_report.py
  ttnn/api/ttnn/graph/graph_consts.hpp
  ttnn/core/graph/graph_processor.cpp
  ttnn/ttnn/graph_report.py
Due: block-ttnn-pybind-changes, detect-legacy-device-op

added the option to include python stacktrace
  tech_reports/ttnn/graph-tracing.md
  tests/ttnn/unit_tests/base_functionality/test_graph_report.py
  ttnn/ttnn/graph.py
  ttnn/ttnn/graph_report.py
Due: block-ttnn-pybind-changes

Rename mesh coordinates file to maintain backwards compatibility
  ttnn/ttnn/graph_report.py
Due: block-ttnn-pybind-changes

added more info by default, renamed the report to match ttnn visualizer
  conftest.py
  tech_reports/ttnn/graph-tracing.md
  tests/ttnn/unit_tests/base_functionality/test_graph_report.py
Due: none

more code cleanup
  conftest.py
  tests/ttnn/unit_tests/gtests/test_levelized_graph.cpp
  ttnn/ttnn/graph.py
  ttnn/ttnn/graph_report.py
Due: block-ttnn-pybind-changes

Fix segfault in ttnn_graph_report fixture when device is closed before teardown
  conftest.py
Due: none

Add fixture to automatically generated ttnn report from graph report
  conftest.py
Due: none

Improved graph tracing, it provides better info for visualizer and allows c++ customers to get as much value as python customers. Also reorganized graph-tracing.md that was a complete mess
  tech_reports/ttnn/graph-tracing.md
  tests/ttnn/unit_tests/base_functionality/test_graph_capture.py
  tests/ttnn/unit_tests/base_functionality/test_graph_report.py
  tests/ttnn/unit_tests/gtests/test_graph_basic.cpp
  ttnn/api/ttnn/device_operation.hpp
  ttnn/api/ttnn/graph/graph_consts.hpp
  ttnn/api/ttnn/graph/graph_processor.hpp
  ttnn/core/graph/graph_nanobind.cpp
  ttnn/core/graph/graph_processor.cpp
  ttnn/ttnn/decorators.py
  ttnn/ttnn/graph.py
  ttnn/ttnn/graph_report.py
Due: block-ttnn-pybind-changes, detect-legacy-device-op

fixed the l1 small issue + parameters
  ttnn/ttnn/decorators.py
  ttnn/ttnn/graph.py
  ttnn/ttnn/graph_report.py
Due: block-ttnn-pybind-changes

fixing the graph and the buffer memory
  tech_reports/ttnn/graph-tracing.md
  tests/ttnn/unit_tests/base_functionality/fixtures/linear_reference.sqlite
  tests/ttnn/unit_tests/base_functionality/test_graph_report.py
  ttnn/api/ttnn/graph/graph_consts.hpp
  ttnn/api/ttnn/graph/graph_processor.hpp
  ttnn/core/graph/graph_nanobind.cpp
  ttnn/core/graph/graph_processor.cpp
  ttnn/core/tensor/tensor.cpp
  ttnn/ttnn/decorators.py
  ttnn/ttnn/graph.py
  ttnn/ttnn/graph_report.py
Due: block-ttnn-pybind-changes, detect-legacy-device-op

Emit Python-level op names during graph capture and smart from_torch filtering
  ttnn/ttnn/decorators.py
  ttnn/ttnn/graph_report.py
Due: block-ttnn-pybind-changes

Filter pytest files from ttnn report stack traces
  ttnn/ttnn/graph.py
Due: block-ttnn-pybind-changes

Fix CI failures: update tests for Python-level graph tracking
  tests/ttnn/unit_tests/base_functionality/test_graph_capture.py
  tests/ttnn/unit_tests/base_functionality/test_graph_report.py
  ttnn/ttnn/graph.py
Due: block-ttnn-pybind-changes

address an small issue with the buffer type
  tests/ttnn/unit_tests/base_functionality/test_graph_report.py
  ttnn/ttnn/graph_report.py
Due: block-ttnn-pybind-changes

Request test devices in ttnn graph report fixture
  conftest.py
Due: none

Fix stack trace filter for installed package paths
  ttnn/ttnn/graph.py
Due: block-ttnn-pybind-changes

addressed feedback
  ttnn/api/ttnn/device_operation.hpp
  ttnn/core/graph/graph_processor.cpp
  ttnn/core/graph/graph_trace_utils.cpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op
