Repository tenstorrent/tt-metal: changes, and which pre-commit hooks are due for each by the changed paths.
All: block-ttnn-pybind-changes, detect-legacy-device-op, validate-golden-csv-columns

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v3.2.0
  hooks:
    - id: trailing-whitespace
      exclude: \.patch$
    - id: end-of-file-fixer
      exclude: \.patch$
    - id: check-yaml
      args: ["--unsafe"]
    - id: check-added-large-files
# Using this mirror lets us use mypyc-compiled black, which is about 2x faster
- repo: https://github.com/psf/black-pre-commit-mirror
  rev: 23.10.1
  hooks:
    - id: black
      language_version: python3
- repo: https://github.com/PyCQA/autoflake
  rev: v2.3.1
  hooks:
    - id: autoflake
      args: [--remove-all-unused-imports, --in-place, --recursive, --exclude=__init__.py]
      files: ^models/  # Run only on files in the models directory
- repo: https://github.com/pycqa/isort
  rev: 5.13.2
  hooks:
    - id: isort
      files: ^models/
      exclude: ^models/(demos/llama3_70b_galaxy|experimental)/
- repo: https://github.com/BlankSpruce/gersemi
  rev: 0.16.2
  hooks:
    - id: gersemi
- repo: https://github.com/adrienverge/yamllint.git
  rev: v1.35.1
  hooks:
    - id: yamllint
- repo: https://github.com/pre-commit/mirrors-clang-format
  rev: v19.1.4
  hooks:
    - id: clang-format
      entry: git-clang-format
      require_serial: true
      types_or: [c++, c]
      args: ["--style=file"]
- repo: local
  hooks:
    - id: validate-metalium-includes
      name: validate-metalium-includes
      entry: python3 scripts/validate_api/validate_includes.py tt_metal/api --check-ttnn-forwards
      language: system
      pass_filenames: false
    - id: validate-metalium-deprecation
      name: validate-metalium-deprecation
      entry: python3 scripts/validate_api/validate_deprecation.py tt_metal/api origin/main
      language: system
      pass_filenames: false
- repo: local
  hooks:
    - id: check-torch-imports-in-ttnn
      name: Verify that there is no global torch import in ttnn
      entry: python3 scripts/validate_no_global_torch_imports.py
      language: system
      pass_filenames: false
- repo: local
  hooks:
    - id: block-ttnn-pybind-changes
      name: Prevent edits to frozen pybind11 sources under ttnn
      entry: python3 scripts/block_ttnn_pybind_changes.py
      language: system
      pass_filenames: true
      files: ^ttnn/
- repo: local
  hooks:
    - id: convert-notebooks-to-py
      name: Convert .ipynb to .py for ttnn basic examples
      entry: python3 scripts/convert_notebooks_to_python.py
      language: system
- repo: local
  hooks:
    - id: detect-legacy-device-op
      name: Detect legacy device operation classes in newly added files
      entry: python3 scripts/detect_legacy_device_op.py --check-new-only
      language: system
      types: [file]
      files: ^ttnn/.*\.hpp$
      pass_filenames: true
      require_serial: true
- repo: local
  hooks:
    - id: validate-golden-csv-columns
      name: Validate golden bandwidth CSV column headers
      entry: bash .github/scripts/utils/validate_golden_csv_columns.sh
      language: system
      pass_filenames: false
      files: ^tests/tt_metal/tt_metal/perf_microbenchmark/routing/golden/.*bandwidth.*\.csv$

[LLK] Cross-thread cfg tests: run the checker in-process as __main__
  tt_metal/tt-llk/infra/tests/test_check_cross_thread_cfg.py
Due: none

[LLK] Add a check for cross-thread config-register writes
  .pre-commit-config.yaml
  tt_metal/tt-llk/infra/cfg_consumers.yaml
  tt_metal/tt-llk/infra/check_cross_thread_cfg.py
  tt_metal/tt-llk/infra/gen_cfg_consumers.py
  tt_metal/tt-llk/infra/tests/test_check_cross_thread_cfg.py
  tt_metal/tt-llk/infra/xthread_cfg_baseline_blackhole.txt
  tt_metal/tt-llk/infra/xthread_cfg_baseline_wormhole_b0.txt
Due: none

[LLK] Widen the config-write grammar, the mask scope, and the hook triggers
  .pre-commit-config.yaml
  tt_metal/tt-llk/infra/check_cross_thread_cfg.py
  tt_metal/tt-llk/infra/tests/test_check_cross_thread_cfg.py
Due: none

[LLK] Cross-thread cfg check: an UNRESOLVED write never blocks a commit
  tt_metal/tt-llk/infra/check_cross_thread_cfg.py
  tt_metal/tt-llk/infra/tests/test_check_cross_thread_cfg.py
Due: none

[LLK] Cross-thread cfg check: read every config write, never block on false positives
  .pre-commit-config.yaml
  tt_metal/tt-llk/infra/cfg_consumers.yaml
  tt_metal/tt-llk/infra/check_cross_thread_cfg.py
  tt_metal/tt-llk/infra/tests/test_check_cross_thread_cfg.py
Due: none

[LLK] Apply black formatting to the new checker tests
  tt_metal/tt-llk/infra/tests/test_check_cross_thread_cfg.py
Due: none

[LLK] Cross-thread cfg check: report a guarded write by a non-consuming thread
  tt_metal/tt-llk/infra/check_cross_thread_cfg.py
  tt_metal/tt-llk/infra/tests/test_check_cross_thread_cfg.py
Due: none

[LLK] Report config writes whose thread cannot be determined
  tt_metal/tt-llk/infra/check_cross_thread_cfg.py
  tt_metal/tt-llk/infra/tests/test_check_cross_thread_cfg.py
Due: none

[LLK] Trim the vendored consumer table to what the checker uses
  tt_metal/tt-llk/infra/cfg_consumers.yaml
  tt_metal/tt-llk/infra/check_cross_thread_cfg.py
  tt_metal/tt-llk/infra/gen_cfg_consumers.py
  tt_metal/tt-llk/infra/xthread_cfg_baseline_blackhole.txt
  tt_metal/tt-llk/infra/xthread_cfg_baseline_wormhole_b0.txt
Due: none

[LLK] Cross-thread cfg hooks: run once, and print output only where it is owed
  .pre-commit-config.yaml
  tt_metal/tt-llk/infra/check_cross_thread_cfg.py
  tt_metal/tt-llk/infra/tests/test_check_cross_thread_cfg.py
Due: none

#53782: prelu kernel gives the composite's bits
  tests/ttnn/unit_tests/operations/eltwise/test_prelu_tensor_weight.py
  tt_metal/hw/ckernels/blackhole/metal/llk_api/llk_sfpu/ckernel_sfpu_prelu_binary.h
  tt_metal/hw/ckernels/wormhole_b0/metal/llk_api/llk_sfpu/ckernel_sfpu_prelu_binary.h
  tt_metal/tt-llk/tests/python_tests/helpers/sfpu_domains.py
Due: none

[glm53_flash_d_p][G.s16384] Golden s16384: 16384 tokens in 8192-token chunks
  models/demos/glm53_flash_d_p/bringup/results/G.s16384.json
  models/demos/glm53_flash_d_p/bringup/state.json
Due: none

Fix GroupNorm and RMSNorm unity build collision
  ttnn/cpp/ttnn/operations/experimental/ccl/dit_fused_distributed_groupnorm/device/dit_fused_distributed_groupnorm_program_factory.cpp
  ttnn/cpp/ttnn/operations/experimental/ccl/dit_fused_distributed_rmsnorm/device/dit_fused_distributed_rmsnorm_program_factory.cpp
Due: block-ttnn-pybind-changes

gemma4: lane-sharded MLP choreography (galaxy one-instance, slice 3a)
  models/demos/gemma4/config.py
  models/demos/gemma4/tests/unit/test_shared_mlp_lanes.py
  models/demos/gemma4/tt/ccl.py
  models/demos/gemma4/tt/shared_mlp.py
Due: none

#58133: quasar specific fixes for matmul (#58197)
  ttnn/cpp/ttnn/operations/matmul/device/factory/matmul_multicore_reuse_mcast_1d_program_factory.cpp
  ttnn/cpp/ttnn/operations/matmul/device/factory/matmul_multicore_reuse_mcast_2d_program_factory.cpp
  ttnn/cpp/ttnn/operations/matmul/device/kernels/compute/bmm_large_block_zm_fused_bias_activation_metal2.cpp
  ttnn/cpp/ttnn/operations/matmul/device/kernels/dataflow/reader_bmm_tile_layout_in0_receiver_metal2.cpp
  ttnn/cpp/ttnn/operations/matmul/device/kernels/dataflow/reader_bmm_tile_layout_in0_sender_padding_metal2.cpp
Due: block-ttnn-pybind-changes

[LLK] LLK tooling tests: install PyYAML for the consumer-table tests
  .github/workflows/llk-audit-tool-tests.yaml
Due: none

Add fabric_gather_pair perf example (staircase step 1: 2-chip DRAM all-gather)
  tests/ttnn/unit_tests/operations/examples/test_fabric_gather_pair.py
  ttnn/ttnn/operations/examples/fabric_gather_pair/README.md
  ttnn/ttnn/operations/examples/fabric_gather_pair/__init__.py
  ttnn/ttnn/operations/examples/fabric_gather_pair/__main__.py
  ttnn/ttnn/operations/examples/fabric_gather_pair/program_descriptor_with_inline_kernels.py
  ttnn/ttnn/operations/examples/fabric_gather_pair/report.md
  ttnn/ttnn/operations/examples/master.md
Due: block-ttnn-pybind-changes

Add another shard to tt-train merge gate tests
  .github/time_budget.yaml
  tests/pipeline_reorg/train_merge_gate_tests.yaml
Due: none

[tt-train] Add another shard to tt-train merge gate test (#58268)
  .github/time_budget.yaml
  tests/pipeline_reorg/train_merge_gate_tests.yaml
Due: none

fabric_gather_pair: copy cores (staircase step 2) — op reaches the bare link
  tests/ttnn/unit_tests/operations/examples/test_fabric_gather_pair.py
  ttnn/ttnn/operations/examples/fabric_gather_pair/README.md
  ttnn/ttnn/operations/examples/fabric_gather_pair/__main__.py
  ttnn/ttnn/operations/examples/fabric_gather_pair/program_descriptor_with_inline_kernels.py
  ttnn/ttnn/operations/examples/fabric_gather_pair/report.md
  ttnn/ttnn/operations/examples/master.md
Due: block-ttnn-pybind-changes

[DeepSeek-V4.1] CPU reference: one fp32 matmul per block-scaled GEMM
  models/demos/deepseek_v3_d_p/reference/deepseek_v41/kernel_cpu.py
Due: none

[Quasar] binary_ng: borrow only with one memory config; address the #58221 review
  tests/ttnn/nightly/unit_tests/operations/experimental/quasar/binary_ng_quasar_test_utils.py
  tests/ttnn/nightly/unit_tests/operations/experimental/quasar/test_binary_ng_no_bcast.py
  tests/ttnn/nightly/unit_tests/operations/experimental/quasar/test_binary_ng_quasar_native.py
  tests/ttnn/nightly/unit_tests/operations/experimental/quasar/test_binary_ng_resnet_add.py
  ttnn/cpp/ttnn/operations/experimental/quasar/binary_ng/device/binary_ng_device_operation.cpp
  ttnn/cpp/ttnn/operations/experimental/quasar/binary_ng/device/binary_ng_metal_v2_factory.cpp
  ttnn/cpp/ttnn/operations/experimental/quasar/binary_ng/device/binary_ng_quasar_native_factory.cpp
  ttnn/cpp/ttnn/operations/experimental/quasar/binary_ng/device/binary_ng_utils.cpp
  ttnn/cpp/ttnn/operations/experimental/quasar/binary_ng/docs/QUASAR_NATIVE_RESEARCH.md
  ttnn/cpp/ttnn/operations/experimental/quasar/binary_ng/docs/QUASAR_NATIVE_STATUS.md
Due: block-ttnn-pybind-changes

[LLK] Add a check for cross-thread config-register writes (#56366)
  .github/workflows/llk-audit-tool-tests.yaml
  .pre-commit-config.yaml
  tt_metal/tt-llk/infra/cfg_consumers.yaml
  tt_metal/tt-llk/infra/check_cross_thread_cfg.py
  tt_metal/tt-llk/infra/tests/test_check_cross_thread_cfg.py
  tt_metal/tt-llk/infra/xthread_cfg_baseline_blackhole.txt
  tt_metal/tt-llk/infra/xthread_cfg_baseline_wormhole_b0.txt
Due: none

[glm53_flash_d_p][G.s56320] Golden s56320: 56320 tokens in 5120-token chunks
  models/demos/glm53_flash_d_p/bringup/results/G.s56320.json
  models/demos/glm53_flash_d_p/bringup/state.json
Due: none

[glm53_flash_d_p][B.1] Box: mesh opens with the spec's device params, collectives are exact
  models/demos/glm53_flash_d_p/bringup/results/B.1.json
  models/demos/glm53_flash_d_p/bringup/state.json
Due: none

[glm53_flash_d_p][PL.0] Ledger: add the component, swap, ladder, contract and perf tasks from the block graphs
  models/demos/glm53_flash_d_p/bringup/results/PL.0.json
  models/demos/glm53_flash_d_p/bringup/state.json
  models/demos/glm53_flash_d_p/bringup/tasks.yaml
Due: none

[Quasar] Uplift dispatch unit tests to Metal 2.0, fix mislabeled data movement skips (#56830)
  tests/tt_metal/tt_metal/data_movement/all_from_all/test_all_from_all.cpp
  tests/tt_metal/tt_metal/data_movement/all_to_all/test_all_to_all.cpp
  tests/tt_metal/tt_metal/data_movement/direct_write/README.md
  tests/tt_metal/tt_metal/data_movement/direct_write/kernels/sender_mcast_non_stateful.cpp
  tests/tt_metal/tt_metal/data_movement/direct_write/kernels/sender_non_stateful.cpp
  tests/tt_metal/tt_metal/data_movement/direct_write/kernels/sender_stateful.cpp
  tests/tt_metal/tt_metal/data_movement/direct_write/test_direct_write.cpp
  tests/tt_metal/tt_metal/data_movement/one_to_all/test_one_to_all.cpp
  tests/tt_metal/tt_metal/data_movement/transaction_id/test_transaction_id.cpp
  tests/tt_metal/tt_metal/dispatch/dispatch_program/test_EnqueueProgram.cpp
  tests/tt_metal/tt_metal/dispatch/random_program_fixture.hpp
  tests/tt_metal/tt_metal/test_kernels/compute/increment_runtime_arg_2_0.cpp
  tests/tt_metal/tt_metal/test_kernels/dataflow/unit_tests/command_queue/dispatcher_kernel_size_and_runtime_2_0.cpp
  tests/tt_metal/tt_metal/test_kernels/dataflow/unit_tests/command_queue/random_program_2_0.cpp
  tests/tt_metal/tt_metal/test_kernels/misc/increment_runtime_arg_2_0.cpp
  tests/tt_metal/tt_metal/test_kernels/misc/read_my_coordinates_2_0.cpp
  tests/tt_metal/tt_metal/test_kernels/misc/runtime_args_kernel_2_0.cpp
Due: none

[DeepSeek-V4.1] ViT x32 + aligner on device (10.1)
  models/demos/deepseek_v3_d_p/tests/v41/test_vision.py
  models/demos/deepseek_v3_d_p/tt/v41/vision.py
Due: none

[DeepSeek-V4.1] Tuned gate matmul entry for the V4.1 shape (640, 1280, 384)
  models/demos/deepseek_v3_d_p/tests/pcc/test_moe_gate_prefill2d.py
  models/demos/deepseek_v3_d_p/tt/moe/tt_moe_gate_prefill.py
Due: none

Make Quasar compute sync_threads() barrier all TRISCs using HW semaphores and add sync_all_cores(). (#54628)
  tests/tt_metal/tt_metal/api/dataflow_buffer/dfb_init_timing_bench.cpp
  tests/tt_metal/tt_metal/api/test_kernel_thread_sync.cpp
  tests/tt_metal/tt_metal/test_kernels/compute/kernel_dm_compute_barrier.cpp
  tests/tt_metal/tt_metal/test_kernels/compute/kernel_thread_barrier.cpp
  tests/tt_metal/tt_metal/test_kernels/dataflow/dfb_bench_case6_debug_implicit_dm.cpp
  tests/tt_metal/tt_metal/test_kernels/dataflow/dfb_bench_finish_helper.h
  tests/tt_metal/tt_metal/test_kernels/dataflow/dm_amo32.cpp
  tests/tt_metal/tt_metal/test_kernels/dataflow/dm_cas32.cpp
  tests/tt_metal/tt_metal/test_kernels/dataflow/kernel_dm_compute_barrier.cpp
  tests/tt_metal/tt_metal/test_kernels/dataflow/kernel_thread_barrier.cpp
  tests/tt_metal/tt_metal/test_kernels/dataflow/sem_census_probe.cpp
  tests/tt_metal/tt_metal/test_sem_scope.cpp
  tt_metal/hw/firmware/src/tt-2xx/dmk.cc
  tt_metal/hw/inc/api/compute/common.h
  tt_metal/hw/inc/api/debug/ring_buffer.h
  tt_metal/hw/inc/api/kernel_thread_globals.h
  tt_metal/hw/inc/internal/tt-2xx/dataflow_buffer.inl
  tt_metal/impl/dataflow_buffer/DataflowBuffer.md
  tt_metal/llrt/hal/tt-2xx/quasar/qa_hal.cpp
Due: none

fabric_gather_pair test: realtime-profiler option; G=2 high_bw_all_gather comparison
  tests/ttnn/unit_tests/operations/examples/test_fabric_gather_pair.py
  tests/ttnn/unit_tests/operations/high_bw_all_reduce/test_fabric_config_compare.py
Due: none

Reject every reinterpretation as the base of a retained view
  tests/ttnn/unit_tests/gtests/tensor/test_device_storage_ownership.cpp
  ttnn/api/ttnn/tensor/storage.hpp
  ttnn/core/tensor/storage.cpp
  ttnn/core/tensor/tensor_ops.cpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

sdpa: count every CB of the fp32 streaming kernel before taking it
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/sdpa_program_factory.cpp
Due: block-ttnn-pybind-changes

#58119: Fix GateComputeMode.DEVICE typo that broke test_prefill_transformer collection
  models/demos/deepseek_v3_d_p/tests/test_prefill_transformer.py
Due: none

Check that generic-op preparation warms and reuses the program cache
  tests/ttnn/unit_tests/gtests/test_generic_op.cpp
Due: none

[Bug fix] KDA: bind actual_end only when it is provided (#58049)
  ttnn/cpp/ttnn/operations/experimental/kda/affine_exclusive_scan/device/affine_exclusive_scan_program_factory.cpp
  ttnn/cpp/ttnn/operations/experimental/kda/affine_exclusive_scan/device/kernels/dataflow/reader_writer_affine_exclusive_scan.cpp
  ttnn/cpp/ttnn/operations/experimental/kda/chronological_selections/device/chronological_selections_program_factory.cpp
  ttnn/cpp/ttnn/operations/experimental/kda/chronological_selections/device/kernels/derive.cpp
  ttnn/cpp/ttnn/operations/experimental/kda/factory/chronology_binding.hpp
  ttnn/cpp/ttnn/operations/experimental/kda/prepare_chunk_recurrence/device/kernels/dataflow/reader_prepare_chunk_recurrence.cpp
  ttnn/cpp/ttnn/operations/experimental/kda/prepare_chunk_recurrence/device/prepare_chunk_recurrence_program_factory.cpp
  ttnn/cpp/ttnn/operations/experimental/kda/recurrent_chunk_scan/device/kernels/dataflow/reader_recurrent_chunk_scan.cpp
  ttnn/cpp/ttnn/operations/experimental/kda/recurrent_chunk_scan/device/recurrent_chunk_scan_program_factory.cpp
  ttnn/cpp/ttnn/operations/experimental/kda/reduce_affine_transforms/device/kernels/dataflow/reader_writer_reduce_affine_transforms.cpp
  ttnn/cpp/ttnn/operations/experimental/kda/reduce_affine_transforms/device/reduce_affine_transforms_program_factory.cpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

div: answer a zero divisor from the reciprocal, patching only a subnormal dividend
  tests/ttnn/unit_tests/operations/eltwise/test_div_by_zero.py
  tt_metal/hw/ckernels/blackhole/metal/llk_api/llk_sfpu/ckernel_sfpu_binary.h
  tt_metal/hw/ckernels/wormhole_b0/metal/llk_api/llk_sfpu/ckernel_sfpu_binary.h
Due: none

Qwen3.6 slot-fast scratch test: plugin warmup order, gate on live rows
  models/demos/blackhole/qwen36/tests/test_gdn_slot_write_fast_tp2_scratch.py
Due: none
