Repository tenstorrent/tt-metal: changes, and which pre-commit hooks are due for each by the changed paths.
All: block-ttnn-pybind-changes, detect-legacy-device-op, validate-golden-csv-columns

block-ttnn-pybind-changes:
  name: Prevent edits to frozen pybind11 sources under ttnn
  entry: python3 scripts/block_ttnn_pybind_changes.py
  language: system
  pass_filenames: true

detect-legacy-device-op:
  name: Detect legacy device operation classes in newly added files
  entry: python3 scripts/detect_legacy_device_op.py --check-new-only
  language: system
  pass_filenames: true
  require_serial: true

validate-golden-csv-columns:
  name: Validate golden bandwidth CSV column headers
  entry: bash .github/scripts/utils/validate_golden_csv_columns.sh
  language: system
  pass_filenames: false

update
  tt-train/sources/examples/llama_tp/train_llama_distributed.py
  tt-train/sources/ttml/ttml/common/utils.py
Due: none

ttnn: use direct noc zero-tile reads
  ttnn/cpp/ttnn/kernel_lib/l1_helpers.hpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

fixes after merge
  models/demos/deepseek_v3/demo/demo.py
  models/demos/deepseek_v3/demo/test_demo.py
  models/demos/deepseek_v3/tt/mla/mla1d.py
Due: none

docs: add tt-llk -> tt-metal migration guide (#1611)
  docs/migration_guide.md
Due: none

Update Falcon T3000 decode PCC targets
  models/demos/falcon7b_common/tests/run_falcon_end_to_end.py
Due: none

FEATURE: Add multihost rank support for Inspector (#41445)
  tools/triage/inspector_data.py
  tools/triage/requirements.txt
  tools/triage/triage.py
  tt_metal/impl/context/metal_context.cpp
  tt_metal/impl/debug/inspector/data.cpp
  tt_metal/impl/debug/inspector/data.hpp
  tt_metal/impl/debug/inspector/inspector.cpp
  tt_metal/impl/debug/inspector/inspector.hpp
  tt_metal/impl/debug/inspector/logger.cpp
  tt_metal/impl/debug/inspector/logger.hpp
  tt_metal/llrt/rtoptions.hpp
Due: none

Fix row-major layernorm reader CTA offset
  ttnn/cpp/ttnn/operations/normalization/layernorm/device/kernels/dataflow/reader_unary_interleaved_ln.cpp
  ttnn/cpp/ttnn/operations/normalization/layernorm/device/kernels/dataflow/reader_unary_interleaved_ln_large_tensor.cpp
Due: block-ttnn-pybind-changes

Refactor L1 two-pass logic into dedicated methods in process_model_log.py
  tools/tracy/process_model_log.py
Due: none

Investigate tt-sim behavior
  custom_op/loopback/operation/kernels/compute/loopback_compute.cpp
  custom_op/loopback/operation/kernels/dataflow/loopback_reader.cpp
  custom_op/loopback/operation/kernels/dataflow/loopback_writer.cpp
  custom_op/loopback/operation/loopback_op.py
  custom_op/loopback/tests/conftest.py
  custom_op/loopback/tests/test_loopback_unpack_to_dest.py
Due: none

Optimise signbit (#41082)
  tt_metal/hw/ckernels/blackhole/metal/llk_api/llk_sfpu/ckernel_sfpu_signbit.h
  tt_metal/hw/ckernels/blackhole/metal/llk_api/llk_sfpu/llk_math_eltwise_unary_sfpu_signbit.h
  tt_metal/hw/ckernels/wormhole_b0/metal/llk_api/llk_sfpu/ckernel_sfpu_signbit.h
  tt_metal/hw/ckernels/wormhole_b0/metal/llk_api/llk_sfpu/llk_math_eltwise_unary_sfpu_signbit.h
  tt_metal/hw/inc/api/compute/compute_kernel_api.h
  ttnn/cpp/ttnn/operations/eltwise/unary/common/unary_op_utils.cpp
  ttnn/cpp/ttnn/operations/eltwise/unary_ng/common/unary_ng_op_utils.cpp
Due: block-ttnn-pybind-changes

Unify K and V chain logic in ring joint SDPA
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/ring_joint_sdpa_program_factory.cpp
Due: block-ttnn-pybind-changes

fixes after merge
  models/demos/deepseek_v3/tt/mla/mla1d.py
  models/demos/deepseek_v3/tt/mla/mla2d.py
Due: none

Move perf counter metric computation from process_ops_logs.py to perf_counter_analysis.py
  tools/tracy/perf_counter_analysis.py
  tools/tracy/process_ops_logs.py
Due: none

Update docs to use python -m tracy CLI instead of raw env vars
  docs/source/ttnn/ttnn/profiling_ttnn_operations.rst
Due: none

Add error handling for null ranksData in ttop-configure-tt-run
  .github/actions/ttop-configure-tt-run/action.yaml
Due: none

Update tech report to use python -m tracy CLI instead of env vars
  tech_reports/PerfCounters/perf-counters.md
Due: none

Get allocation data from status.allocatedNodes
  .github/actions/ttop-get-allocation-data/action.yaml
Due: none

Revert "Modifying tt-run file to be compatible with larger variety of tt-run multihost commands (#40661)"
  ttnn/ttnn/distributed/ttrun.py
Due: block-ttnn-pybind-changes

Add support for overlapped tensors in tensor cache
  models/demos/deepseek_v3_b1/blitz_decode_weights.py
  models/demos/deepseek_v3_b1/demo/README.md
  models/demos/deepseek_v3_b1/demo/cli.py
  models/demos/deepseek_v3_b1/demo/model_pipeline.py
  models/demos/deepseek_v3_b1/demo/weight_provider.py
  models/demos/deepseek_v3_b1/prepare_weights.py
  models/demos/deepseek_v3_b1/scripts/generate_cache.py
  models/demos/deepseek_v3_b1/tensor_cache/__init__.py
  models/demos/deepseek_v3_b1/tensor_cache/cache.py
  models/demos/deepseek_v3_b1/tensor_cache/fingerprint.py
  models/demos/deepseek_v3_b1/tensor_cache/fuse.py
  models/demos/deepseek_v3_b1/tensor_cache/overlapped_metadata.py
  models/demos/deepseek_v3_b1/tensor_cache/types.py
  models/demos/deepseek_v3_b1/tests/unit_tests/test_prepare_weights.py
  models/demos/deepseek_v3_b1/tests/unit_tests/test_tensor_cache.py
  models/demos/deepseek_v3_b1/unified_kernels/dram_streaming_matmul.hpp
Due: none

Refactor all weights processing into new structure (not validated yet
  models/demos/deepseek_v3_b1/demo/weight_provider.py
  models/demos/deepseek_v3_b1/model_dimensions.py
  models/demos/deepseek_v3_b1/prepare_weights.py
  models/demos/deepseek_v3_b1/scripts/generate_cache.py
  models/demos/deepseek_v3_b1/tensor_cache/__init__.py
  models/demos/deepseek_v3_b1/tensor_cache/cache.py
  models/demos/deepseek_v3_b1/tensor_cache/fuse.py
  models/demos/deepseek_v3_b1/tests/unit_tests/test_prepare_weights.py
  models/demos/deepseek_v3_b1/tests/unit_tests/test_weight_provider.py
  models/demos/deepseek_v3_b1/weights/__init__.py
  models/demos/deepseek_v3_b1/weights/adapter.py
  models/demos/deepseek_v3_b1/weights/catalog.py
  models/demos/deepseek_v3_b1/weights/fusion_runtime.py
  models/demos/deepseek_v3_b1/weights/preprocessing.py
  models/demos/deepseek_v3_b1/weights/types.py
Due: none

Added conditional statement for test_e2e_performant.py and test_perf_yolov_.py
  models/common/utility_functions.py
  models/demos/yolov8l/demo/runs/tt_model/bus_prediction_20260403_042701.jpg
  models/demos/yolov8l/demo/runs/tt_model/bus_prediction_20260403_042709.jpg
  models/demos/yolov8l/demo/runs/tt_model/bus_prediction_20260403_085930.jpg
  models/demos/yolov8l/demo/runs/tt_model/bus_prediction_20260403_085938.jpg
  models/demos/yolov8l/demo/runs/tt_model/image_prediction_20260403_042701.jpg
  models/demos/yolov8l/demo/runs/tt_model/image_prediction_20260403_042709.jpg
  models/demos/yolov8l/demo/runs/tt_model/image_prediction_20260403_085929.jpg
  models/demos/yolov8l/demo/runs/tt_model/image_prediction_20260403_085938.jpg
  models/demos/yolov8l/tests/perf/test_e2e_performant.py
  models/demos/yolov8l/tests/perf/test_perf_yolov8l.py
  models/demos/yolov8s/demo/runs/tt_model/bus_prediction_20260403_102653.jpg
  models/demos/yolov8s/demo/runs/tt_model/bus_prediction_20260403_102700.jpg
  models/demos/yolov8s/demo/runs/tt_model/image_prediction_20260403_102653.jpg
  models/demos/yolov8s/demo/runs/tt_model/image_prediction_20260403_102700.jpg
  models/demos/yolov8s/tests/perf/test_e2e_performant.py
  models/demos/yolov8s/tests/perf/test_perf_yolov8s.py
Due: none

Refactor Clang Static Analyzer workflow configuration
  .github/workflows/clang-static-analyzer.yaml
Due: none

Fix calculate_and_prepare_reduce_scaler to be pool-type-aware
  tests/ttnn/unit_tests/gtests/udm/reduction/interleaved/kernels/dataflow_reduce.cpp
  tests/ttnn/unit_tests/gtests/udm/reduction/sharded/kernels/reader_receiver_unary_sharded_reduce.cpp
  tests/ttnn/unit_tests/gtests/udm/reduction/sharded/kernels/reader_sender_unary_sharded_reduce.cpp
  ttnn/cpp/ttnn/kernel_lib/reduce_helpers_dataflow.hpp
  ttnn/cpp/ttnn/kernel_lib/reduce_helpers_dataflow.inl
  ttnn/cpp/ttnn/operations/experimental/ssm/hc_sum_reduce/device/kernels/reader_ssm_1d_sum_reduce.cpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/kernels/dataflow/joint_writer.cpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/kernels/dataflow/ring_joint_writer.cpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/kernels/dataflow/writer_interleaved.cpp
  ttnn/cpp/ttnn/operations/transformer/sdpa_decode/device/kernels/dataflow/writer_decode_all.cpp
  ttnn/cpp/ttnn/operations/transformer/sdpa_windowed/device/kernels/dataflow/writer_windowed.cpp
  ttnn/ttnn/operations/toy_reduce_partial/kernels/reader.cpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

Update Clang Static Analyzer workflow image reference
  .github/workflows/clang-static-analyzer.yaml
Due: none

Rename base_metrics/base_metrics_no_pct to pct_metrics/rate_metrics
  tools/tracy/perf_counter_analysis.py
Due: none

#0: Update assert for 32x4 test_dissagregation
  models/demos/deepseek_v3_d_p/tests/test_disaggregation.py
Due: none

Guard BH-only L1_2/L1_3/L1_4 counter arrays with ARCH_BLACKHOLE ifdef
  tt_metal/tools/profiler/perf_counters.hpp
Due: none

Update rtoptions.cpp with L1_2/L1_3/L1_4 counter group bits and validation
  tt_metal/llrt/rtoptions.cpp
Due: none

Rename Wormhole-Only Metrics to Additional Wormhole-Only Metrics
  docs/source/ttnn/ttnn/profiling_ttnn_operations.rst
Due: none

updated performance
  models/demos/molmo2/performance.md
Due: none

Fix ttnn.split crash with negative dim parameter (#41543)
  tests/ttnn/nightly/unit_tests/operations/data_movement/test_split.py
  ttnn/cpp/ttnn/operations/data_movement/split/split.cpp
Due: block-ttnn-pybind-changes

Remove redundant enforce_fp32_accumulation from reduce compute helper
  ttnn/cpp/ttnn/kernel_lib/reduce_helpers_compute.hpp
  ttnn/cpp/ttnn/kernel_lib/reduce_helpers_compute.inl
Due: block-ttnn-pybind-changes, detect-legacy-device-op

Move PERF_COUNTER_CSV_HEADERS from process_ops_logs.py to perf_counter_analysis.py
  tools/tracy/perf_counter_analysis.py
  tools/tracy/process_ops_logs.py
Due: none

Path conditions:
  block-ttnn-pybind-changes: any of: ^ttnn/
  detect-legacy-device-op: any of: ^ttnn/.*\.hpp$
  validate-golden-csv-columns: any of: ^tests/tt_metal/tt_metal/perf_microbenchmark/routing/golden/.*bandwidth.*\.csv$
