Repository tenstorrent/tt-metal: changes, and which pre-commit hooks are due for each by the changed paths.
All: block-ttnn-pybind-changes, detect-legacy-device-op, validate-golden-csv-columns

block-ttnn-pybind-changes:
  name: Prevent edits to frozen pybind11 sources under ttnn
  entry: python3 scripts/block_ttnn_pybind_changes.py
  language: system
  pass_filenames: true

detect-legacy-device-op:
  name: Detect legacy device operation classes in newly added files
  entry: python3 scripts/detect_legacy_device_op.py --check-new-only
  language: system
  pass_filenames: true
  require_serial: true

validate-golden-csv-columns:
  name: Validate golden bandwidth CSV column headers
  entry: bash .github/scripts/utils/validate_golden_csv_columns.sh
  language: system
  pass_filenames: false

[tt-triage] Name multihost triage artifacts (#56994)
  .github/workflows/blaze-models-prefill-tests-impl.yaml
  .github/workflows/models-e2e-tests-multihost-impl.yaml
  .github/workflows/models-unit-tests-multihost-impl.yaml
Due: none

[Feature] Accept a full-mesh open path in the ring-attention consumers (#55751)
  tests/nightly/blackhole/sdpa/test_ring_joint_sdpa.py
  tests/ttnn/nightly/unit_tests/operations/experimental/indexer_score/test_ring_indexer_score_dsa.py
  ttnn/cpp/ttnn/operations/experimental/ccl/ring_attention_all_gather_async/device/ring_attention_all_gather_async_multi_core_with_workers_program_factory.cpp
  ttnn/cpp/ttnn/operations/experimental/indexer_score/device/indexer_score_device_operation.cpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/ring_joint_sdpa_device_operation.cpp
Due: block-ttnn-pybind-changes

Fix ND-sharded tensors reading an absent 2D shard spec
  tests/ttnn/unit_tests/operations/eltwise/test_unary_sharding.py
  ttnn/cpp/ttnn/operations/eltwise/unary/common/unary_utils.cpp
  ttnn/cpp/ttnn/operations/eltwise/unary/device/unary_device_operation.cpp
Due: block-ttnn-pybind-changes

Hash preallocated output layout
  tests/ttnn/unit_tests/operations/eltwise/test_unary_program_cache.py
  ttnn/cpp/ttnn/operations/eltwise/unary/device/unary_device_operation.cpp
Due: block-ttnn-pybind-changes

Nits: Address comments
  tests/ttnn/unit_tests/operations/eltwise/test_unary_program_cache.py
  ttnn/cpp/ttnn/operations/eltwise/unary/device/unary_device_operation.cpp
Due: block-ttnn-pybind-changes

Hash unary's whole tensor_layout
  tests/ttnn/unit_tests/operations/eltwise/test_unary_program_cache.py
  ttnn/cpp/ttnn/operations/eltwise/unary/device/unary_device_operation.cpp
Due: block-ttnn-pybind-changes

Hash padded_shape for ND_SHARDED configurations
  tests/ttnn/unit_tests/operations/eltwise/test_unary_program_cache.py
  ttnn/cpp/ttnn/operations/eltwise/unary/device/unary_device_operation.cpp
Due: block-ttnn-pybind-changes

test(prefill-block): remove DS + Kimi tests only, keep rest byte-identical to main
  models/demos/deepseek_v3_d_p/tests/test_prefill_block.py
Due: none

revert sfpi::round change, not ready yet
  docs/source/tt-metalium/tt_metal/apis/kernel_apis/sfpu/llk.rst
Due: none

Fix Blackhole reciprocal register overlap during scalar stalls
  tt_metal/hw/ckernels/blackhole/metal/llk_api/llk_sfpu/ckernel_sfpu_recip.h
Due: none

Fix the XNOR-Net rule
  tests/ttnn/unit_tests/operations/matmul/test_bfp2_matmul_pcc.py
Due: none

bisect: measure with speed of light off
  tt_metal/tt-llk/tests/run_llk_perf_blackhole.sh
  tt_metal/tt-llk/tests/run_llk_perf_wormhole.sh
Due: none

Metal 2.0 Audit for MatmulMultiCoreReuseMcast1DProgramFactory
  ttnn/cpp/ttnn/operations/matmul/METAL2_PREPORT_AUDIT.md
Due: block-ttnn-pybind-changes

[Cleanup] Metal 2.0 port: matmul with MatmulMultiCoreReuseMcast1DProgramFactory
  ttnn/cpp/ttnn/operations/matmul/METAL2_PORT_PLAN.md
  ttnn/cpp/ttnn/operations/matmul/METAL2_PORT_REPORT.md
  ttnn/cpp/ttnn/operations/matmul/device/factory/matmul_multicore_reuse_mcast_1d_program_factory.cpp
  ttnn/cpp/ttnn/operations/matmul/device/factory/matmul_multicore_reuse_mcast_1d_program_factory.hpp
  ttnn/cpp/ttnn/operations/matmul/device/kernels/dataflow/reader_bmm_tile_layout_in0_receiver_metal2.cpp
  ttnn/cpp/ttnn/operations/matmul/device/kernels/dataflow/reader_bmm_tile_layout_in0_sender_padding_metal2.cpp
  ttnn/cpp/ttnn/operations/matmul/device/kernels/dataflow/reader_bmm_tile_layout_in0_sender_receiver_padding_block_sharded_metal2.cpp
  ttnn/cpp/ttnn/operations/matmul/device/kernels/dataflow/reader_bmm_tile_layout_in1_receiver_writer_padding_metal2.cpp
  ttnn/cpp/ttnn/operations/matmul/device/kernels/dataflow/reader_bmm_tile_layout_in1_sender_writer_padding.cpp
  ttnn/cpp/ttnn/operations/matmul/device/kernels/dataflow/reader_bmm_tile_layout_in1_sender_writer_padding_metal2.cpp
  ttnn/cpp/ttnn/operations/matmul/matmul_nanobind.cpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

Declare unpack_modes for every fp32 buffer the mcast-1d compute consumes
  ttnn/cpp/ttnn/operations/matmul/device/factory/matmul_multicore_reuse_mcast_1d_program_factory.cpp
Due: block-ttnn-pybind-changes

Split the in0 DFB in the mcast-1d port instead of relaxing the endpoint rules
  tests/tt_metal/tt_metal/api/metal2_host_api/test_program_spec.cpp
  ttnn/cpp/ttnn/operations/matmul/device/factory/matmul_multicore_reuse_mcast_1d_program_factory.cpp
Due: block-ttnn-pybind-changes

Take test_program_spec.cpp off this PR's review surface
  tests/tt_metal/tt_metal/api/metal2_host_api/test_program_spec.cpp
Due: none

Removing API port report files
  ttnn/cpp/ttnn/operations/matmul/METAL2_PORT_PLAN.md
  ttnn/cpp/ttnn/operations/matmul/METAL2_PORT_REPORT.md
  ttnn/cpp/ttnn/operations/matmul/METAL2_PREPORT_AUDIT.md
Due: block-ttnn-pybind-changes

Do not hand a non-member DFB the alias group's members
  ttnn/cpp/ttnn/operations/matmul/device/factory/matmul_multicore_reuse_mcast_1d_program_factory.cpp
Due: block-ttnn-pybind-changes

Drop the concept-choice comment above override_runtime_arguments
  ttnn/cpp/ttnn/operations/matmul/device/factory/matmul_multicore_reuse_mcast_1d_program_factory.cpp
Due: block-ttnn-pybind-changes

Align the override_runtime_arguments comment with the mcast-2d port
  ttnn/cpp/ttnn/operations/matmul/device/factory/matmul_multicore_reuse_mcast_1d_program_factory.hpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

wip commit.
  models/demos/audio/cosyvoice2/tests/pcc/test_qwen2lm_generate.py
  models/demos/audio/cosyvoice2/tt/llm/qwen2lm.py
Due: none

ci: drop revert-noise comment from GLM blaze entry
  tests/pipeline_reorg/blaze_models_prefill_tests.yaml
Due: none

Drop the MTP tt-run launch configs from the branch
  models/demos/common/prefill/runners/topology_configuration/pipeline_prefill_request_1rank_mtp4.yaml
  models/demos/common/prefill/runners/topology_configuration/pipeline_prefill_request_1rank_mtp7.yaml
  models/demos/common/prefill/runners/topology_configuration/pipeline_prefill_request_2rank_mtp4.yaml
  models/demos/common/prefill/runners/topology_configuration/pipeline_prefill_request_2rank_mtp7.yaml
Due: none

[Fix] #56456 - Split the expert token axis to avoid a ttnn matmul hang
  models/experimental/nomic_embed_text_v2_moe/tests/pcc/test_ttnn_experts.py
  models/experimental/nomic_embed_text_v2_moe/tests/pcc/test_ttnn_model.py
  models/experimental/nomic_embed_text_v2_moe/tt/experts.py
Due: none

Issue the SP collectives together with their matmuls as one autograd op
  tt-train/configs/README.md
  tt-train/configs/mgd/bh_galaxy_1_4_line_line.textproto
  tt-train/configs/mgd/bh_galaxy_1_4_ring_ring.textproto
  tt-train/docs/DISTRIBUTED_TRAINING.md
  tt-train/sources/examples/train/train.py
  tt-train/sources/ttml/CMakeLists.txt
  tt-train/sources/ttml/nanobind/nb_ops.cpp
  tt-train/sources/ttml/ops/distributed/sp_linear_ops.cpp
  tt-train/sources/ttml/ops/distributed/sp_linear_ops.hpp
  tt-train/sources/ttml/ttml/common/config.py
  tt-train/sources/ttml/ttml/modules/linear.py
  tt-train/sources/ttml/ttnn_fixed/distributed/ttnn_ops.cpp
  tt-train/sources/ttml/ttnn_fixed/distributed/ttnn_ops.hpp
  tt-train/tests/python/test_sequence_parallel.py
Due: none

gemma4: record the 26B-A4B decode-paged PCC threshold
  models/demos/gemma4/tests/pcc_thresholds.json
Due: none

gemma4 dFlash: disarm the tap hook when a spec session is dropped
  models/demos/gemma4/tt/generator_vllm.py
Due: none

gemma4 dFlash: a reused spec session must replay before reading its output
  models/demos/gemma4/tt/dflash_drafter.py
  models/demos/gemma4/tt/generator_vllm.py
Due: none

gemma4 dFlash: don't drop the per-layer page tables the new session just installed
  models/demos/gemma4/tt/generator_vllm.py
Due: none

gemma4: TT-native speculative decode serving (MTP + dFlash) on vLLM
  models/demos/gemma4/demo/text_demo_v2.py
  models/demos/gemma4/precision_overrides.json
  models/demos/gemma4/tt/assistant/model.py
  models/demos/gemma4/tt/attention/__init__.py
  models/demos/gemma4/tt/attention/decode.py
  models/demos/gemma4/tt/attention/kv_cache_hybrid.py
  models/demos/gemma4/tt/attention/prefill.py
  models/demos/gemma4/tt/common.py
  models/demos/gemma4/tt/dflash_batched.py
  models/demos/gemma4/tt/dflash_drafter.py
  models/demos/gemma4/tt/generator.py
  models/demos/gemma4/tt/generator_trace.py
  models/demos/gemma4/tt/generator_vllm.py
  models/demos/gemma4/tt/model.py
  models/demos/gemma4/tt/precision.py
  models/demos/gemma4/tt/spec_decode.py
Due: none

gemma4 dFlash: retract the reuse-OFF rationale -- it measured the page-table bug
  models/demos/gemma4/tt/generator_vllm.py
Due: none

gemma4: unbreak the hybrid page-table validation tests after the ring check
  models/demos/gemma4/tests/unit/test_bounded_sliding_kv_cache_model.py
Due: none

gemma4 dFlash: ingest only the mirror window from prefill taps
  models/demos/gemma4/tt/dflash_drafter.py
Due: none

gemma4 dFlash serving: sentinel-free exact-width step outputs
  models/demos/gemma4/tt/generator_vllm.py
Due: none

gemma4 dFlash: retract the "~135 ms/iter vLLM host overhead" figure
  models/demos/gemma4/tt/generator_vllm.py
Due: none

gemma4 dFlash: declare the spec-capture frontier as a model capability
  models/demos/gemma4/tt/generator_vllm.py
Due: none

[feat] gemma4 MTP: adaptive block-output fallback, EOS-filled short rows
  models/demos/gemma4/tt/generator_vllm.py
Due: none

Path conditions:
  block-ttnn-pybind-changes: any of: ^ttnn/
  detect-legacy-device-op: any of: ^ttnn/.*\.hpp$
  validate-golden-csv-columns: any of: ^tests/tt_metal/tt_metal/perf_microbenchmark/routing/golden/.*bandwidth.*\.csv$
