Repository tenstorrent/tt-metal: changes, and which pre-commit hooks are due for each by the changed paths.
All: block-ttnn-pybind-changes, detect-legacy-device-op, validate-golden-csv-columns

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v3.2.0
  hooks:
    - id: trailing-whitespace
      exclude: \.patch$
    - id: end-of-file-fixer
      exclude: \.patch$
    - id: check-yaml
      args: ["--unsafe"]
    - id: check-added-large-files
# Using this mirror lets us use mypyc-compiled black, which is about 2x faster
- repo: https://github.com/psf/black-pre-commit-mirror
  rev: 23.10.1
  hooks:
    - id: black
      language_version: python3
- repo: https://github.com/PyCQA/autoflake
  rev: v2.3.1
  hooks:
    - id: autoflake
      args: [--remove-all-unused-imports, --in-place, --recursive, --exclude=__init__.py]
      files: ^models/  # Run only on files in the models directory
- repo: https://github.com/pycqa/isort
  rev: 5.13.2
  hooks:
    - id: isort
      files: ^models/
      exclude: ^models/(demos/llama3_70b_galaxy|experimental)/
- repo: https://github.com/BlankSpruce/gersemi
  rev: 0.16.2
  hooks:
    - id: gersemi
- repo: https://github.com/adrienverge/yamllint.git
  rev: v1.35.1
  hooks:
    - id: yamllint
- repo: https://github.com/pre-commit/mirrors-clang-format
  rev: v19.1.4
  hooks:
    - id: clang-format
      entry: git-clang-format
      require_serial: true
      types_or: [c++, c]
      args: ["--style=file"]
- repo: local
  hooks:
    - id: validate-metalium-includes
      name: validate-metalium-includes
      entry: python3 scripts/validate_api/validate_includes.py tt_metal/api --check-ttnn-forwards
      language: system
      pass_filenames: false
    - id: validate-metalium-deprecation
      name: validate-metalium-deprecation
      entry: python3 scripts/validate_api/validate_deprecation.py tt_metal/api origin/main
      language: system
      pass_filenames: false
- repo: local
  hooks:
    - id: check-torch-imports-in-ttnn
      name: Verify that there is no global torch import in ttnn
      entry: python3 scripts/validate_no_global_torch_imports.py
      language: system
      pass_filenames: false
- repo: local
  hooks:
    - id: block-ttnn-pybind-changes
      name: Prevent edits to frozen pybind11 sources under ttnn
      entry: python3 scripts/block_ttnn_pybind_changes.py
      language: system
      pass_filenames: true
      files: ^ttnn/
- repo: local
  hooks:
    - id: convert-notebooks-to-py
      name: Convert .ipynb to .py for ttnn basic examples
      entry: python3 scripts/convert_notebooks_to_python.py
      language: system
- repo: local
  hooks:
    - id: detect-legacy-device-op
      name: Detect legacy device operation classes in newly added files
      entry: python3 scripts/detect_legacy_device_op.py --check-new-only
      language: system
      types: [file]
      files: ^ttnn/.*\.hpp$
      pass_filenames: true
      require_serial: true
- repo: local
  hooks:
    - id: validate-golden-csv-columns
      name: Validate golden bandwidth CSV column headers
      entry: bash .github/scripts/utils/validate_golden_csv_columns.sh
      language: system
      pass_filenames: false
      files: ^tests/tt_metal/tt_metal/perf_microbenchmark/routing/golden/.*bandwidth.*\.csv$

optimize: run the whole optimize process inside a memory-capped cgroup scope
  models/experimental/perf_automation/tests/test_optimize_memory_scope.py
  scripts/tt_hw_planner/commands/optimize.py
Due: none

test(eltwise): pin alignment cache misses for ternary and tanh_bw
  tests/ttnn/unit_tests/operations/eltwise/test_tanh_bw_ulp.py
  tests/ttnn/unit_tests/operations/eltwise/test_ternary.py
  ttnn/cpp/ttnn/operations/eltwise/ternary/device/ternary_device_operation.cpp
  ttnn/cpp/ttnn/operations/eltwise/unary_backward/tanh_bw/device/tanh_bw_device_operation.cpp
Due: block-ttnn-pybind-changes

[tt_dit] arange: apply a negative offset by subtraction so unsigned outputs still work (CLIP encoders broken by #55680) (#57209)
  models/tt_dit/tests/unit/test_tensor_utils.py
  models/tt_dit/utils/tensor.py
Due: none

optimize FiboDupUp2D
  models/tt_dit/models/vae/vae_fibo.py
Due: none

cyclic_sdpa_fw: hand the forwarded state to the reader one query tile at a time
  tt-train/sources/ttml/metal/ops/cyclic_sdpa_fw/device/kernels/compute/cyclic_sdpa_fw_compute.cpp
  tt-train/sources/ttml/metal/ops/cyclic_sdpa_fw/device/kernels/compute/cyclic_sdpa_fw_fast_compute.cpp
  tt-train/sources/ttml/metal/ops/cyclic_sdpa_fw/device/kernels/dataflow/cyclic_sdpa_fw_relay_reader.cpp
Due: none

dfb-init: DEV5 device optimizations + host signal fold
  tt_metal/hw/inc/internal/firmware_common.h
  tt_metal/hw/inc/internal/risc_attribs.h
  tt_metal/hw/inc/internal/tt-2xx/dataflow_buffer/dataflow_buffer_config.h
  tt_metal/hw/inc/internal/tt-2xx/dataflow_buffer/dataflow_buffer_init.h
  tt_metal/impl/dataflow_buffer/dataflow_buffer.cpp
  tt_metal/tt-llk/tt_llk_quasar/common/inc/ckernel.h
Due: none

Working Lightning Indexer, but slow
  models/experimental/deepseek_v4_flash/configs/system_configs.yaml
  models/experimental/deepseek_v4_flash/tests/test_csa_indexer.py
  models/experimental/deepseek_v4_flash/tests/test_csa_layer_indexer.py
  models/experimental/deepseek_v4_flash/tt/attention.py
  models/experimental/deepseek_v4_flash/tt/attention_csa.py
  models/experimental/deepseek_v4_flash/tt/attention_hca.py
  models/experimental/deepseek_v4_flash/tt/decode_prefetch.py
  models/experimental/deepseek_v4_flash/tt/decoder_layer.py
  models/experimental/deepseek_v4_flash/tt/model.py
  models/experimental/deepseek_v4_flash/tt/system_config.py
  ttnn/cpp/ttnn/operations/transformer/sdpa_decode/device/sdpa_decode_program_factory.cpp
Due: block-ttnn-pybind-changes

[baseline] publish a sol baseline run to the warehouse
  .github/workflows/llk-perf-impl.yaml
  tt_metal/tt-llk/tests/python_tests/helpers/perf/core.py
  tt_metal/tt-llk/tests/python_tests/helpers/perf/publish_run.py
Due: none

[baseline] publish a nonsol baseline run to the warehouse
  .github/workflows/llk-perf-impl.yaml
  tt_metal/tt-llk/tests/python_tests/helpers/perf/core.py
  tt_metal/tt-llk/tests/python_tests/helpers/perf/publish_run.py
Due: none

Cleanup to tests
  models/demos/blackhole/qwen36/tests/test_gdn_out_colpar.py
  models/demos/blackhole/qwen36/tests/test_gdn_tp.py
Due: none

qwen36 GDN prefill: column-parallel out-proj via all_gather_minimal_matmul_async (QWEN36_GDN_OUT_COLPAR=0 -> MMRS fallback)
  models/demos/blackhole/qwen36/tt/gdn/tp.py
Due: none

qwen36 GDN: unit test for the prefill out-proj col-parallel arm at T=512/2048 (vs MMRS)
  models/demos/blackhole/qwen36/tests/test_gdn_out_colpar.py
Due: none

Qwen3.8 p150x2 card: p1d1 numbers after the TTFT/TPOT optimization
  models/demos/blackhole/qwen36/tt-model.yaml
Due: none

[skip ci] sku cleanup: remove loudbox civ2 iommu sku, move workflows to regular loudbox (#57249)
  .github/sku_config.yaml
  .github/time_budget.yaml
  .github/workflows/sanity-tests.yaml
  .github/workflows/tm-fabric-tests.yaml
  models/MIGRATING_TO_TIERED_CI.md
  tests/pipeline_reorg/fabric_tests.yaml
Due: none

pr feedback
  tests/tt_metal/tt_metal/api/dataflow_buffer/test_dataflow_buffer_edge_cases.cpp
  tt_metal/hw/inc/internal/tt-2xx/dataflow_buffer.inl
Due: none

Fuse QB2 MLP and four-chip reduction with verified local receive scratch
  models/demos/llama31_8b_qb2/tests/benchmark_megakernel.py
  models/demos/llama31_8b_qb2/tests/test_megakernel.py
  models/demos/llama31_8b_qb2/tests/test_megakernel_reduce.py
  models/demos/llama31_8b_qb2/tt/megakernel/PROGRESS.md
  models/demos/llama31_8b_qb2/tt/megakernel/README.md
  models/demos/llama31_8b_qb2/tt/megakernel/decoder.py
  models/demos/llama31_8b_qb2/tt/megakernel/kernels/mlp.cpp
  models/demos/llama31_8b_qb2/tt/megakernel/kernels/reduce_reader.cpp
  models/demos/llama31_8b_qb2/tt/megakernel/mlp.py
  models/demos/llama31_8b_qb2/tt/megakernel/reduce_scatter.py
  ttnn/cpp/ttnn/operations/experimental/ccl/reduce_scatter_minimal_direct/device/kernels/reduce_scatter_minimal_direct_writer.cpp
Due: block-ttnn-pybind-changes

Remove redundant Moreh normalization backward staging
  ttnn/cpp/ttnn/operations/moreh/moreh_group_norm_backward/device/gamma_beta_grad/moreh_group_norm_backward_gamma_beta_grad_factory.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_layer_norm_backward/device/kernels/moreh_layer_norm_backward_gamma_beta_grad_kernel.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_layer_norm_backward/device/moreh_layer_norm_backward_gamma_beta_grad_program_factory.cpp
Due: block-ttnn-pybind-changes

Move the gpt_oss L1_SMALL request into the mesh/fabric parametrize
  models/demos/gpt_oss/tests/test_factory.py
  models/demos/gpt_oss/tests/unit/test_modules.py
  models/experimental/ops/quasar/gpt_oss/tests/test_factory.py
  models/experimental/ops/quasar/gpt_oss/tests/unit/test_modules.py
Due: none

[exabox] health check: drop a stale dump, keep the reply's bytes, attach it when the suite cannot start
  tools/scaleout/exabox/health_check_test_suite/test_infrastructure/run_health_check.py
  tools/scaleout/exabox/health_check_test_suite/test_infrastructure/utils/telemetry.py
Due: none

PaddleOCR-VL: match tower fixture scope to device fixture
  models/demos/blackhole/paddleocr_vl/tests/test_vision_tower_pcc.py
Due: none

Document Gemma4 environment variables and weight caches
  models/demos/gemma4_d_p/ENV_VARS.md
  models/demos/gemma4_d_p/WEIGHTS_CACHE_LAYOUT.md
Due: none

Add Gemma4 tensor cache alignment diagnostics and documentation
  models/demos/gemma4_d_p/TENSORBIN_ALIGNMENT.md
  models/demos/gemma4_d_p/demo/compare_cache_alignment.py
  models/demos/gemma4_d_p/demo/upload_cache_diagnostic.py
Due: none

add tensor repr fix so debug is not giga slow
  ttnn/ttnn/__init__.py
Due: block-ttnn-pybind-changes

gemma4: size bounded page tables for allocated rings
  models/demos/gemma4/tests/unit/test_bounded_ring_page_tables_host.py
  models/demos/gemma4/tt/generator_vllm.py
Due: none

gemma4: preserve prefilled row authority through remapping
  models/demos/gemma4/tests/unit/test_async_prefill_row_authority.py
  models/demos/gemma4/tests/unit/test_dflash_contract_adapter.py
  models/demos/gemma4/tt/dflash_contract.py
  models/demos/gemma4/tt/generator.py
Due: none

[Tests] SFPU accuracy: the registry declares, the sweep enforces
  tt_metal/tt-llk/tests/python_tests/helpers/sfpu_accuracy_budget.py
  tt_metal/tt-llk/tests/python_tests/test_eltwise_unary_sfpu.py
Due: none

[Tests] SFPU accuracy: correct the integer-source count
  tt_metal/tt-llk/tests/python_tests/test_sfpu_accuracy_budget.py
Due: none

[Tests] SFPU accuracy: derive budgets from the sweep, enrol the transcendentals
  tt_metal/tt-llk/tests/python_tests/helpers/sfpu_accuracy_budget.py
  tt_metal/tt-llk/tests/python_tests/helpers/sfpu_accuracy_budget.yaml
  tt_metal/tt-llk/tests/python_tests/test_eltwise_unary_sfpu.py
  tt_metal/tt-llk/tests/python_tests/test_sfpu_accuracy_budget.py
Due: none

cyclic_sdpa_fw: state hand-over per tile at d <= 64 only; the reader's order recorded
  tt-train/sources/ttml/metal/ops/cyclic_sdpa_fw/README.md
  tt-train/sources/ttml/metal/ops/cyclic_sdpa_fw/device/kernels/compute/cyclic_sdpa_fw_compute.cpp
  tt-train/sources/ttml/metal/ops/cyclic_sdpa_fw/device/kernels/compute/cyclic_sdpa_fw_fast_compute.cpp
  tt-train/sources/ttml/metal/ops/cyclic_sdpa_fw/device/kernels/dataflow/cyclic_sdpa_fw_relay_reader.cpp
Due: none

Remove unrelated core changes from Qwen release candidate
  models/common/readiness_check/run_autoregressive.py
  tests/ttnn/nightly/unit_tests/operations/matmul/test_matmul_dram_sharded.py
  tt_metal/fabric/impl/kernels/edm_fabric/fabric_erisc_router.cpp
  ttnn/cpp/ttnn/operations/matmul/device/factory/matmul_multicore_reuse_mcast_dram_sharded_program_factory.cpp
  ttnn/cpp/ttnn/operations/matmul/device/factory/matmul_multicore_reuse_mcast_dram_sharded_program_factory.hpp
  ttnn/cpp/ttnn/operations/matmul/device/kernels/dataflow/reader_bmm_tile_layout_in1_sender_dram_sharded.cpp
  ttnn/cpp/ttnn/operations/matmul/matmul_nanobind.cpp
  ttnn/cpp/ttnn/operations/transformer/chunk_gated_delta_rule/chunk_gated_delta_rule.cpp
  ttnn/cpp/ttnn/operations/transformer/chunk_gated_delta_rule/chunk_gated_delta_rule.hpp
  ttnn/cpp/ttnn/operations/transformer/chunk_gated_delta_rule/chunk_gated_delta_rule_nanobind.cpp
  ttnn/cpp/ttnn/operations/transformer/chunk_gated_delta_rule/device/chunk_gdn_phased.cpp
  ttnn/cpp/ttnn/operations/transformer/chunk_gated_delta_rule/device/chunk_gdn_phased.hpp
  ttnn/cpp/ttnn/operations/transformer/chunk_gated_delta_rule/device/chunk_gdn_phased_program_factory.cpp
  ttnn/cpp/ttnn/operations/transformer/chunk_gated_delta_rule/device/kernels/compute/chunk_gdn_prep.cpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

[Qwen3.8-27B] Record the measured T3K perf targets and document Wormhole
  models/demos/blackhole/qwen36/README.md
  models/model_targets.yaml
Due: none

dfb-init: host-built LocalDFBInterface image + fused TC loops
  tt_metal/hw/firmware/src/tt-2xx/dm.cc
  tt_metal/hw/inc/internal/tt-2xx/dataflow_buffer/dataflow_buffer_config.h
  tt_metal/hw/inc/internal/tt-2xx/dataflow_buffer/dataflow_buffer_init.h
  tt_metal/impl/dataflow_buffer/dataflow_buffer.cpp
Due: none

Fuse Gemma4 layer_scalar into the residual add
  models/demos/gemma4_d_p/tt/layer.py
Due: none

Prune unreachable SDPA recipe paths and share numerical primitives
  tests/ttnn/unit_tests/operations/sdpa/kernels/fp32_state.cpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/kernels/compute/streaming/balanced_exp.hpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/kernels/compute/streaming/compensated_group_replay.hpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/kernels/compute/streaming/compensated_group_sfpu.hpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/kernels/compute/streaming/compensated_identity.hpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/kernels/compute/streaming/compensated_macros.hpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/kernels/compute/streaming/compensated_reuse.hpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/kernels/compute/streaming/compensated_sfpu.hpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/kernels/compute/streaming/fp32_state.hpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/kernels/compute/streaming/recipe_sfpu.hpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/kernels/compute/streaming/recipe_streaming.hpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

Compact frozen evidence and enforce bitwise recipe regression checks
  docs/sdpa_precision.md
  docs/sdpa_streaming_precision_plan.md
  docs/sdpa_streaming_precision_validation.md
  tests/ttnn/unit_tests/operations/sdpa/recipe_accuracy_baseline.json
  tests/ttnn/unit_tests/operations/sdpa/sdpa_recipe_test_utils.py
  tests/ttnn/unit_tests/operations/sdpa/test_sdpa_recipe_accuracy.py
  tests/ttnn/unit_tests/operations/sdpa/test_sdpa_recipes.py
Due: none

dfb-init: add the post-LTO disassembly this branch was measured from
  dm0_dev5.dis
Due: none

Make shared pack context available to all compute threads
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/kernels/compute/streaming/recipe_streaming.hpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

dfb-init: add HPM counter helpers and the post-LTO disassembly
  dm0_imgf.dis
  tt_metal/hw/inc/internal/tt-2xx/risc_common.h
Due: none

[Cleanup] Removed stale/duplicate instruction macros from Quasar tensix.h (#55999)
  tt_metal/hw/firmware/src/tt-2xx/dmk.cc
  tt_metal/hw/inc/internal/tensix_functions.h
  tt_metal/hw/inc/internal/tt-2xx/quasar/c_tensix_core.h
  tt_metal/hw/inc/internal/tt-2xx/quasar/tensix.h
  tt_metal/hw/sources.cmake
Due: none

optimize: bound the eager profiling decode, and stop a worktree from disabling the profiler heal forever
  models/experimental/perf_automation/agent/perf_test_gen.py
  models/experimental/perf_automation/agent/profiler_heal.py
  models/experimental/perf_automation/tests/test_profiler_heal_ineffective_marker.py
Due: none
