Repository tenstorrent/tt-metal: changes, and which pre-commit hooks are due for each by the changed paths.
All: block-ttnn-pybind-changes, detect-legacy-device-op, validate-golden-csv-columns

block-ttnn-pybind-changes:
  name: Prevent edits to frozen pybind11 sources under ttnn
  entry: python3 scripts/block_ttnn_pybind_changes.py
  language: system
  pass_filenames: true

detect-legacy-device-op:
  name: Detect legacy device operation classes in newly added files
  entry: python3 scripts/detect_legacy_device_op.py --check-new-only
  language: system
  pass_filenames: true
  require_serial: true

validate-golden-csv-columns:
  name: Validate golden bandwidth CSV column headers
  entry: bash .github/scripts/utils/validate_golden_csv_columns.sh
  language: system
  pass_filenames: false

[codegen-port] scatter phase 4 (scatter-blackhole-20260930T150913Z)
  ttnn/cpp/ttnn/operations/data_movement/scatter/codegen/scatter_codegen_supported.cpp
Due: block-ttnn-pybind-changes

perf research: bench logit scale
  tests/ttnn/unit_tests/operations/sdpa/test_sdpa_recipe_compute_bench.py
Due: none

Feature: implement deterministic VoxCPM2 AudioVAE TTNN graphs
  models/experimental/voxcpm2/tests/test_audio_vae_config.py
  models/experimental/voxcpm2/tt/audio_vae.py
Due: none

Test: add native CUDA oracle capture and VoxCPM2 TT component PCC replay
  models/experimental/voxcpm2/README.md
  models/experimental/voxcpm2/pyproject.toml
  models/experimental/voxcpm2/tests/test_capture_manifest.py
  models/experimental/voxcpm2/tests/test_component_device.py
  models/experimental/voxcpm2/tests/test_metrics.py
  models/experimental/voxcpm2/validation/__init__.py
  models/experimental/voxcpm2/validation/capture_reference.py
  models/experimental/voxcpm2/validation/manifest.py
  models/experimental/voxcpm2/validation/metrics.py
  models/experimental/voxcpm2/validation/replay_component.py
  models/experimental/voxcpm2/validation/validate_capture.py
Due: none

fix FIBO transformer test link count on Blackhole
  models/tt_dit/tests/models/fibo/test_transformer_fibo.py
Due: none

perf(config): Matmul 32 x 3840 x 15360 -4030 us/token
  models/tt_transformers/tt/model_config.py
Due: none

[bringup] README: the how-to (setup, start, decision points and commands, switches, serving contract, perf, layout, rules); the what lives in the overview page
  models/demos/common/bringup/README.md
Due: none

[codegen-port] scatter routing test (scatter-blackhole-20260930T150913Z)
  tests/ttnn/nightly/unit_tests/operations/data_movement/test_scatter_codegen_routing.py
Due: none

[xing40_a4b_d_p][Z.1] Settings audit: every switch of the model and its forks in tt/settings.py, behaviour unchanged
  models/demos/xing40_a4b_d_p/bringup/BREADCRUMBS.md
  models/demos/xing40_a4b_d_p/bringup/results/Z.1.json
  models/demos/xing40_a4b_d_p/bringup/state.json
  ttnn/ttnn/bringup/mhc_pre_ttnn/device/mhc_pre_ttnn_device_operation.cpp
  ttnn/ttnn/bringup/mhc_pre_ttnn/device/mhc_pre_ttnn_program_factory.cpp
  ttnn/ttnn/bringup/mhc_pre_ttnn/mhc_pre_program_descriptor.py
  ttnn/ttnn/bringup/rms_norm_ttnn/device/rms_norm_ttnn_device_operation.cpp
  ttnn/ttnn/bringup/rms_norm_ttnn/device/rms_norm_ttnn_program_factory.cpp
  ttnn/ttnn/bringup/rms_norm_ttnn/rms_norm_ttnn_program_descriptor.py
  ttnn/ttnn/bringup/sdpa/device/exp_ring_joint_sdpa_program_factory.hpp
  ttnn/ttnn/bringup/unified_routed_expert_ffn/device/unified_routed_expert_ffn_program_factory.cpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

minimax-h3 transformer: drop the blank line left in the import block
  models/tt_dit/models/transformers/minimax_h3/transformer_minimax_h3.py
Due: none

[xing40_a4b_d_p][Z.1] settings audit: tt/settings.py and the model code reading it (files the gate tested; its commit missed them)
  models/demos/xing40_a4b_d_p/bringup/hooks.py
  models/demos/xing40_a4b_d_p/tt/attention.py
  models/demos/xing40_a4b_d_p/tt/experts.py
  models/demos/xing40_a4b_d_p/tt/mhc.py
  models/demos/xing40_a4b_d_p/tt/mlp.py
  models/demos/xing40_a4b_d_p/tt/norm.py
  models/demos/xing40_a4b_d_p/tt/q_a.py
  models/demos/xing40_a4b_d_p/tt/residual.py
  models/demos/xing40_a4b_d_p/tt/runners/adapter.py
  models/demos/xing40_a4b_d_p/tt/settings.py
Due: none

fabric_all_gather factory: placement comment no longer says one copy core per link
  ttnn/cpp/ttnn/operations/experimental/fabric_all_gather/device/fabric_all_gather_factory.cpp
Due: block-ttnn-pybind-changes

[bringup] Z.1's gate commit stages the model's tt/, hooks.py and the forks
  models/demos/common/bringup/core/gate.py
  models/demos/common/bringup/selftest/test_plan.py
Due: none

fix single transformer block
  models/tt_dit/models/transformers/transformer_flux1.py
Due: none

Add gate to non-kernel files
  tt-train/sources/ttml/metal/ops/sdpa_fw/device/sdpa_fw_device_operation.cpp
  tt-train/sources/ttml/metal/ops/sdpa_fw/device/sdpa_fw_device_operation.hpp
  tt-train/sources/ttml/metal/ops/sdpa_fw/device/sdpa_fw_device_operation_types.hpp
  tt-train/sources/ttml/metal/ops/sdpa_fw/device/sdpa_fw_program_factory.cpp
  tt-train/sources/ttml/metal/ops/sdpa_fw/sdpa_fw.cpp
  tt-train/sources/ttml/metal/ops/sdpa_fw/sdpa_fw.hpp
Due: none

test-dispatch: pin the build of f4f2e974 so dispatches skip the compile
  .github/workflows/test-dispatch.yaml
Due: none

test-dispatch: mount MLPerf read-write, pass HF_TOKEN, allow pinning a build
  .github/workflows/test-dispatch.yaml
Due: none

fix a kernel include collision in the ring joint reader and writer
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/kernels/dataflow/ring_joint_reader.cpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/kernels/dataflow/ring_joint_writer.cpp
Due: block-ttnn-pybind-changes

test-dispatch: one restartable job per command
  .github/workflows/test-dispatch.yaml
Due: none

perf(config): Matmul 32 x 3840 x 8192 -165 us/token
  models/tt_transformers/tt/model_config.py
Due: none

[LLK] tests: make profiler marker ids independent of the checkout path
  tt_metal/tt-llk/tests/python_tests/helpers/test_config.py
Due: none

Address sampling trace reuse review findings
  models/common/sampling/README.md
  models/common/sampling/generator.py
  models/common/tests/test_sampling.py
  models/common/tests/test_tt_sampling.py
  tests/pipeline_reorg/models_sweep_tests.yaml
Due: none

Pass --no-web-server to headless tracy launches in profiler tooling
  tests/scripts/single_card/run_single_card_profiler_tests.sh
  tests/scripts/t3000/run_t3000_profiler_tests.sh
  tools/tracy/process_model_log.py
  tools/tracy/profile_this.py
  tools/tracy/scripts/verify_process_ops_logs.sh
Due: none

Pass --no-web-server to tracy launches in model perf scripts and docstrings
  models/demos/deepseek_v3/tests/fused_op_unit_tests/run_ci_device_perf_tracy.sh
  models/demos/deepseek_v3/tests/fused_op_unit_tests/test_utils.py
  models/demos/deepseek_v3_b1/scripts/ccl_trace_perf_matrix.py
  models/demos/deepseek_v3_d_p/tests/op_unit_tests/test_sub_device_load_clear_timing.py
  models/demos/deepseek_v3_d_p/tests/perf/test_mhc_perf.py
  models/demos/gemma4/tests/unit/test_model.py
  models/demos/gemma4/tests/unit/test_prefill_trace_tracy_csv.py
  models/demos/minimax_m3/scripts/run_prefill_profile.sh
  models/demos/minimax_m3/tests/perf/profile_prefill.py
  models/demos/t3000/falcon40b/scripts/get_falcon40b_perf_numbers.sh
  models/demos/wormhole/bge_m3/tests/perf/tracy_perf.py
  models/experimental/hunyuan_image_3_0/tests/perf/test_denoise_perf_tracy.py
  models/experimental/hunyuan_image_3_0/tests/perf/test_encoder_perf_tracy.py
  models/experimental/hunyuan_image_3_0/tests/perf/test_recaption_prefill_perf.py
  models/experimental/vibevoice/tests/perf/test_profile_single_step_decode.py
  models/experimental/vibevoice/tests/perf/test_profile_single_step_prefill.py
  models/tt_dit/tests/encoders/gemma/test_gemma_full.py
  models/tt_dit/tests/models/ltx/test_audio_ltx.py
  models/tt_dit/tests/models/minimax_h3/tools/tracy_decode_harness.py
  models/tt_dit/tests/unit/run_ff2_block_sweep.py
  scripts/run_safe_pytest.sh
  tests/pipeline_reorg/models_device_perf_tests.yaml
  tests/tt_metal/tt_fabric/benchmark/collectives/unicast/run_unicast_sweep_with_tracy.py
  tests/ttnn/profiling/profile_host_overhead.py
  tests/ttnn/profiling/profile_host_overhead_with_tracy.py
  tests/ttnn/unit_tests/operations/reduce/_topk_route_cells_bench.py
  tt-train/tools/profiling/run_experiments.py
Due: none

Fix sampling test error assertion
  models/common/tests/test_sampling.py
Due: none

t78: blx03 job 043 A/B result, halo-only bit-identical, -62.5 ms/decode
  NOTES.md
Due: none

t78: halo unit tests pass on blx03 (job 049), cleanup done
  NOTES.md
  tmp/blx03/t78res/driver.log
  tmp/blx03/t78res/run78.log
  tmp/blx03/t78res/run78b.log
Due: none

[ring_joint_sdpa] Segmented accumulation: refuse a core holding several Q chunks
  tests/nightly/blackhole/sdpa/test_ring_joint_sdpa.py
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/ring_joint_sdpa_program_factory.cpp
  ttnn/cpp/ttnn/operations/transformer/sdpa_config.hpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

[ring_joint_sdpa] Configurable fidelity for the attention matmuls
  tests/nightly/blackhole/sdpa/test_ring_joint_sdpa.py
  tt_metal/hw/inc/api/compute/experimental/matmul_custom.h
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/kernels/compute/compute_streaming.hpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/ring_joint_sdpa_program_factory.cpp
  ttnn/cpp/ttnn/operations/transformer/sdpa_config.hpp
  ttnn/cpp/ttnn/operations/transformer/transformer_nanobind.cpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

[ring_joint_sdpa] Segmented accumulation: carry the #58032 review fixes
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/kernels/compute/ring_joint_sdpa.cpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/ring_joint_sdpa_program_factory.cpp
Due: block-ttnn-pybind-changes

Review feedback: performance model uses the matmul fidelity override; diagnostic for the segmented test's length check
  tests/nightly/blackhole/sdpa/test_ring_joint_sdpa.py
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/ring_joint_sdpa_device_operation.cpp
Due: block-ttnn-pybind-changes

[ring_joint_sdpa] Review feedback: P.V re-init under a LoFi compute config; tests prove each opt-in applied
  tests/nightly/blackhole/sdpa/test_ring_joint_sdpa.py
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/kernels/compute/compute_streaming.hpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/ring_joint_sdpa_program_factory.cpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

[ring_joint_sdpa] Tests: segmented accumulation
  tests/nightly/blackhole/sdpa/test_ring_joint_sdpa.py
Due: none

[ring_joint_sdpa] Segmented accumulation for unsplit chunked global attention
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/kernels/compute/compute_common.hpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/kernels/compute/compute_streaming.hpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/kernels/compute/ring_joint_sdpa.cpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/kernels/dataflow/ring_joint_writer.cpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/ring_joint_sdpa_program_factory.cpp
  ttnn/cpp/ttnn/operations/transformer/sdpa_config.hpp
  ttnn/cpp/ttnn/operations/transformer/transformer_nanobind.cpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

perf changes
  models/demos/deepseek_v3_d_p/tests/op_unit_tests/test_masked_bincount.py
  models/demos/deepseek_v3_d_p/tt/mla/mla.py
  models/demos/deepseek_v3_d_p/tt/mla/mla_config.py
  models/demos/deepseek_v3_d_p/tt/mla/rope.py
  models/demos/deepseek_v3_d_p/tt/tt_distributed_rms_norm.py
  models/demos/deepseek_v3_d_p/tt/tt_prefill_block.py
  models/demos/deepseek_v3_d_p/tt/tt_prefill_runtime.py
  tests/ttnn/nightly/unit_tests/operations/fused/test_distributed_rmsnorm_allgather.py
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/masked_bincount/device/masked_bincount_program_factory.cpp
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/post_combine_reduce/device/kernels/deepseek_moe_post_combine_reduce_reader.cpp
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/post_combine_reduce/device/kernels/deepseek_moe_post_combine_reduce_writer.cpp
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/post_combine_reduce/device/post_combine_reduce_program_factory.cpp
  ttnn/cpp/ttnn/operations/normalization/layernorm_distributed/device/layernorm_post_all_gather_program_factory.cpp
Due: block-ttnn-pybind-changes

Working server.py but slow
  models/experimental/deepseek_v4_flash/demo/chat_cli.py
  models/experimental/deepseek_v4_flash/demo/server.py
  models/experimental/deepseek_v4_flash/demo/tui.py
  models/experimental/deepseek_v4_flash/tt/model.py
  models/experimental/deepseek_v4_flash/tt/system_config.py
Due: none

GDN fused: stagger the producers' kickoff and hold the receivers' state read
  ttnn/cpp/ttnn/operations/transformer/chunk_gated_delta_rule/device/chunk_gdn_fused_program_factory.cpp
  ttnn/cpp/ttnn/operations/transformer/chunk_gated_delta_rule/device/chunk_gdn_phased_program_factory.cpp
  ttnn/cpp/ttnn/operations/transformer/chunk_gated_delta_rule/device/kernels/dataflow/reader_chunk_gdn_prep.cpp
  ttnn/cpp/ttnn/operations/transformer/chunk_gated_delta_rule/device/kernels/dataflow/reader_chunk_gdn_scan.cpp
Due: block-ttnn-pybind-changes

GDN prep reader: one read flight per item, constants included at kickoff
  ttnn/cpp/ttnn/operations/transformer/chunk_gated_delta_rule/device/kernels/dataflow/reader_chunk_gdn_prep.cpp
Due: block-ttnn-pybind-changes

Path conditions:
  block-ttnn-pybind-changes: any of: ^ttnn/
  detect-legacy-device-op: any of: ^ttnn/.*\.hpp$
  validate-golden-csv-columns: any of: ^tests/tt_metal/tt_metal/perf_microbenchmark/routing/golden/.*bandwidth.*\.csv$
