Repository tenstorrent/tt-metal: changes, and which pre-commit hooks are due for each by the changed paths.
All: block-ttnn-pybind-changes, detect-legacy-device-op, validate-golden-csv-columns

block-ttnn-pybind-changes:
  name: Prevent edits to frozen pybind11 sources under ttnn
  entry: python3 scripts/block_ttnn_pybind_changes.py
  language: system
  pass_filenames: true

detect-legacy-device-op:
  name: Detect legacy device operation classes in newly added files
  entry: python3 scripts/detect_legacy_device_op.py --check-new-only
  language: system
  pass_filenames: true
  require_serial: true

validate-golden-csv-columns:
  name: Validate golden bandwidth CSV column headers
  entry: bash .github/scripts/utils/validate_golden_csv_columns.sh
  language: system
  pass_filenames: false

Test real Tensix metadata and preserve builtin annotation counterexample
  tt_metal/tt-llk/tests/corpus/raw_lreg_annotation_gap.cpp
  tt_metal/tt-llk/tests/corpus/raw_lreg_macro_metadata_compile.cpp
  tt_metal/tt-llk/tests/corpus/selftest_raw_lreg_metadata.sh
Due: none

round 3 eltwise binary CI: LLK e2e of test_eltwise_binary.py on the merge with main (#55431)
  tests/pipeline_reorg/llk_e2e_tests.yaml
Due: none

sdpa-watch/fix: label PR links by owner, bold when one of us must act
  .sdpa-fix/README.md
  .sdpa-fix/fixer.sh
  .sdpa-fix/fixlib.py
  .sdpa-watch/watch.sh
Due: none

round 3 eltwise binary CI dumps on the ci5 head: exhaustive bit dumps (block unpack and pack, Python-scalar block, broadcast sections with activations, post activations, hand-off), CI fidelity toggle
  tests/eb_r3_ci/dump_kedit.sh
  tests/eb_r3_ci/dump_run.sh
  tests/eb_r3_ci/eb_dump_lib.py
  tests/eb_r3_ci/elf_ab.py
  tests/eb_r3_ci/kernels/eb_dump_reuse.cpp
  tests/eb_r3_ci/spec_e1.txt
  tests/eb_r3_ci/spec_e2.txt
  tests/eb_r3_ci/spec_e3.txt
  tests/eb_r3_ci/spec_e4.txt
  tests/eb_r3_ci/test_eb_dump_bng.py
  tests/eb_r3_ci/test_eb_dump_callers.py
  tests/eb_r3_ci/test_eb_dump_kedit.py
  tests/eb_r3_ci/test_eb_dump_reuse.py
  tests/eb_r3_ci/test_eb_dump_sec.py
  tests/eb_r3_ci/tog_bcast.txt
  tests/eb_r3_ci/tog_callers.txt
  tests/eb_r3_ci/tog_softmax_both.txt
  ttnn/cpp/ttnn/operations/eltwise/binary_ng/device/binary_ng_program_factory.cpp
Due: block-ttnn-pybind-changes

Make production mul-int metadata compilation reproducible
  tt_metal/tt-llk/tests/corpus/raw_lreg_mul_int_compile.cpp
  tt_metal/tt-llk/tests/corpus/selftest_raw_lreg_metadata.sh
Due: none

Document caller responsibility for CFG state tracking
  tt_metal/tt-llk/tt_llk_blackhole/llk_lib/hal/cfg/thread.h
Due: none

[P7] Settle Erfinv's approx=Yes Float32 cells; pin what each wildcard acknowledgement covers
  tt_metal/tt-llk/tests/SFPU_ULP.md
  tt_metal/tt-llk/tests/python_tests/helpers/sfpu_accuracy_budget.yaml
  tt_metal/tt-llk/tests/python_tests/test_sfpu_accuracy_budget.py
Due: none

[P7] Carry the P6 review pass onto P7's emitter and table
  tt_metal/tt-llk/tests/python_tests/helpers/sfpu_accuracy_budget.yaml
  tt_metal/tt-llk/tests/python_tests/helpers/ulp_sweep.py
  tt_metal/tt-llk/tests/python_tests/test_sfpu_accuracy_budget.py
  tt_metal/tt-llk/tests/python_tests/test_ulp_sweep.py
Due: none

[P7] Carry the P4 review pass onto P7's driver: Float32 unpacks to Dest again, the tile pin covers every input
  tt_metal/tt-llk/tests/python_tests/helpers/ulp_sweep.py
  tt_metal/tt-llk/tests/python_tests/test_ulp_sweep.py
  tt_metal/tt-llk/tests/python_tests/test_unary_sfpu_ulp.py
Due: none

[P7] Carry the P4 review pass: quantized flush inside _normal_input, Tan's claim, tracked lanes and acknowledged cells for the enrolled ops
  tt_metal/tt-llk/tests/SFPU_ULP.md
  tt_metal/tt-llk/tests/python_tests/helpers/sfpu_accuracy_budget.yaml
  tt_metal/tt-llk/tests/python_tests/helpers/ulp_sweep.py
  tt_metal/tt-llk/tests/python_tests/test_sfpu_accuracy_budget.py
  tt_metal/tt-llk/tests/python_tests/test_unary_sfpu_ulp.py
Due: none

[P7] Carry the P5 review pass onto P7's rewritten text
  tt_metal/tt-llk/tests/SFPU_ULP.md
  tt_metal/tt-llk/tests/python_tests/helpers/sfpu_accuracy_budget.py
  tt_metal/tt-llk/tests/python_tests/helpers/sfpu_accuracy_budget.yaml
  tt_metal/tt-llk/tests/python_tests/helpers/ulp_sweep.py
Due: none

[P7] The sweep_cells pin follows SWEEP_INPUT_FORMATS
  tt_metal/tt-llk/tests/python_tests/test_ulp_sweep.py
Due: none

[P7] Carry the P4 review pass: re-emit for the not-measurable maximum, port the hunks P7 rewrote
  tt_metal/tt-llk/tests/SFPU_ULP.md
  tt_metal/tt-llk/tests/python_tests/helpers/sfpu_accuracy_budget.yaml
  tt_metal/tt-llk/tests/python_tests/helpers/ulp_sweep.py
  tt_metal/tt-llk/tests/python_tests/test_sfpu_accuracy_budget.py
  tt_metal/tt-llk/tests/python_tests/test_ulp_sweep.py
Due: none

[P7] Enrol the remaining ops on the reviewed P6, with this round's review fixes
  tt_metal/tt-llk/tests/SFPU_ULP.md
  tt_metal/tt-llk/tests/python_tests/helpers/golden_generators.py
  tt_metal/tt-llk/tests/python_tests/helpers/sfpu_accuracy_budget.py
  tt_metal/tt-llk/tests/python_tests/helpers/sfpu_accuracy_budget.yaml
  tt_metal/tt-llk/tests/python_tests/helpers/stimuli_generator/spec.py
  tt_metal/tt-llk/tests/python_tests/helpers/stimuli_generator/strategies/structured.py
  tt_metal/tt-llk/tests/python_tests/helpers/ulp_sweep.py
  tt_metal/tt-llk/tests/python_tests/test_sfpu_accuracy_budget.py
  tt_metal/tt-llk/tests/python_tests/test_sfpu_binop_scalar.py
  tt_metal/tt-llk/tests/python_tests/test_ulp_sweep.py
  tt_metal/tt-llk/tests/python_tests/test_unary_sfpu_ulp.py
Due: none

[P7] The exact-budget audit asks the verdict with the input format, as the emitter does
  tt_metal/tt-llk/tests/python_tests/test_sfpu_accuracy_budget.py
Due: none

[P7] Carry the P5 review pass and main's Quasar golden through P7's rewrites
  tt_metal/tt-llk/tests/python_tests/helpers/golden_generators.py
  tt_metal/tt-llk/tests/python_tests/helpers/sfpu_accuracy_budget.yaml
  tt_metal/tt-llk/tests/python_tests/helpers/ulp_sweep.py
  tt_metal/tt-llk/tests/python_tests/test_sfpu_accuracy_budget.py
  tt_metal/tt-llk/tests/python_tests/test_ulp_sweep.py
Due: none

[P7] Carry the P5 review pass onto P7's table, doc and exact-op lists
  tt_metal/tt-llk/tests/SFPU_ULP.md
  tt_metal/tt-llk/tests/python_tests/helpers/sfpu_accuracy_budget.py
  tt_metal/tt-llk/tests/python_tests/helpers/sfpu_accuracy_budget.yaml
  tt_metal/tt-llk/tests/python_tests/test_sfpu_accuracy_budget.py
Due: none

[P7] Carry the P6 review pass through P7's rewrites
  tt_metal/tt-llk/tests/python_tests/helpers/sfpu_accuracy_budget.py
  tt_metal/tt-llk/tests/python_tests/helpers/sfpu_accuracy_budget.yaml
  tt_metal/tt-llk/tests/python_tests/helpers/ulp.py
  tt_metal/tt-llk/tests/python_tests/test_sfpu_accuracy_budget.py
Due: none

[P7] Carry the P5 review pass through P7's rewrites
  tt_metal/tt-llk/tests/python_tests/helpers/sfpu_accuracy_budget.py
  tt_metal/tt-llk/tests/python_tests/helpers/sfpu_accuracy_budget.yaml
  tt_metal/tt-llk/tests/python_tests/test_sfpu_accuracy_budget.py
  tt_metal/tt-llk/tests/python_tests/test_sfpu_binop_scalar.py
Due: none

[P7] Carry the P4 received-input fix through _normal_input
  tt_metal/tt-llk/tests/python_tests/helpers/ulp_sweep.py
  tt_metal/tt-llk/tests/python_tests/test_ulp_sweep.py
Due: none

measurement only: reduce_scatter_minimal_direct compute as on main
  ttnn/cpp/ttnn/operations/experimental/ccl/reduce_scatter_minimal_direct/device/kernels/reduce_scatter_minimal_direct_compute.cpp
Due: block-ttnn-pybind-changes

round 3 eltwise binary CI (ci4): does a block-pack program slow the next program (leak probe)
  tests/eb_r3_ci/leak.sh
  tests/eb_r3_ci/test_eb_leak.py
Due: none

tt-llk tests: the closed and per-tile tiny tile packs keep blocks within the dest half
  tt_metal/tt-llk/tests/python_tests/test_pack_tiny_tile_block.py
Due: none

experiment: LLK_SIM_TIMEOUT sets the simulator kernel and BRISC command timeouts
  tt_metal/tt-llk/tests/python_tests/helpers/target_config.py
Due: none

round 3 eltwise binary CI (ci5): HiFi3 for a block-float SrcB (toggle EB_R3_NO_HIFI3) and its A/B
  tests/eb_r3_ci/blkD.sh
  tests/eb_r3_ci/blkM.sh
  tests/eb_r3_ci/hifi3.sh
  tests/eb_r3_ci/test_eb_blk4.py
  ttnn/cpp/ttnn/operations/eltwise/binary_ng/device/binary_ng_program_factory.cpp
Due: block-ttnn-pybind-changes

WIP #58723: HiFi3 for a block-float SrcB
  ttnn/cpp/ttnn/operations/eltwise/binary_ng/device/binary_ng_program_factory.cpp
Due: block-ttnn-pybind-changes

[Cleanup] LLK: install the root pre-commit config, delete tt-llk's copy
  .pre-commit-config.yaml
  tt_metal/tt-llk/.github/workflows/on-pr.yml
  tt_metal/tt-llk/.github/workflows/pre-commit.yml
  tt_metal/tt-llk/.pre-commit-config.yaml
  tt_metal/tt-llk/CONTRIBUTING.md
  tt_metal/tt-llk/tests/setup_testing_env.sh
Due: none

blackhole llk topk: the first swaps of the phase 2, phase 3 and steps 4 to 1 groups run under their loads
  tt_metal/tt-llk/tt_llk_blackhole/common/inc/sfpu/ckernel_sfpu_topk.h
Due: none

blackhole llk topk_xl: at K' 2048 the step 5 swaps of the stride-16 sort_len_32 groups run under their loads
  tt_metal/tt-llk/tt_llk_blackhole/common/inc/sfpu/experimental/ckernel_sfpu_topk_xl.h
Due: none

topk_large_indices: chunks after a row's first set up only the copy
  ttnn/cpp/ttnn/operations/experimental/topk_large_indices/device/kernels/compute.cpp
Due: block-ttnn-pybind-changes

deepseek prefill gate: under stable_sort the per-group sort runs the plain network and the grouped final top-k the rank-tag engine
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/moe_grouped_topk/device/kernels/compute/moe_gate_common_compute.hpp
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/moe_grouped_topk/device/kernels/compute/moe_grouped_topk.cpp
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/moe_grouped_topk/device/kernels/dataflow/writer_moe_grouped_topk.cpp
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/moe_grouped_topk/device/moe_grouped_topk_program_factory.cpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

sampling: on Blackhole the stable top-k stage sorts fused keys in a 32-bit DEST section
  ttnn/cpp/ttnn/operations/reduction/sampling/device/kernels/compute/sampling.cpp
Due: block-ttnn-pybind-changes

topk: the single-core stable kernel takes the rank-stamped engine for a uint16 index output up to K 128
  ttnn/cpp/ttnn/operations/reduction/topk/device/topk_single_core_program_factory.cpp
Due: block-ttnn-pybind-changes

blackhole llk untilize: fast untilize chunks of up to eight tiles with a 16-bit DEST
  tt_metal/hw/ckernels/blackhole/metal/llk_api/experimental/llk_math_fast_untilize_api.h
  tt_metal/hw/inc/api/compute/experimental/fast_untilize.h
  tt_metal/tt-llk/tests/python_tests/test_fast_untilize.py
  tt_metal/tt-llk/tests/sources/fast_untilize_test.cpp
  tt_metal/tt-llk/tt_llk_blackhole/llk_lib/experimental/llk_fast_untilize_common.h
  tt_metal/tt-llk/tt_llk_blackhole/llk_lib/experimental/llk_math_fast_untilize.h
  tt_metal/tt-llk/tt_llk_blackhole/llk_lib/experimental/llk_pack_fast_untilize.h
  tt_metal/tt-llk/tt_llk_blackhole/llk_lib/experimental/llk_unpack_fast_untilize.h
Due: none

[Cleanup] Remove mid-kernel `compute_kernel_hw_startup` calls from matmul/fused/reduction kernels (#57495)
  ttnn/cpp/ttnn/operations/experimental/matmul_decode/device/kernels/compute/compute_partial_width_sharded.cpp
  ttnn/cpp/ttnn/operations/experimental/minimal_matmul/device/kernels/compute.cpp
  ttnn/cpp/ttnn/operations/experimental/minimal_matmul/device/kernels/compute_metal2.cpp
  ttnn/cpp/ttnn/operations/experimental/reduction/deepseek_grouped_gate/device/kernels/compute/deepseek_grouped_gate.cpp
  ttnn/cpp/ttnn/operations/experimental/reduction/integral_image/device/kernels/intimg_compute.cpp
  ttnn/cpp/ttnn/operations/normalization/layernorm/device/kernels/compute/layernorm.cpp
  ttnn/cpp/ttnn/operations/normalization/layernorm/device/kernels/compute/layernorm_compute_utils.h
  ttnn/cpp/ttnn/operations/normalization/layernorm/device/kernels/compute/layernorm_large_tensor.cpp
  ttnn/cpp/ttnn/operations/normalization/layernorm/device/kernels/compute/layernorm_sharded_pre_allgather.cpp
  ttnn/cpp/ttnn/operations/normalization/layernorm_distributed/device/kernels/compute/layernorm_pre_allgather_2d.cpp
  ttnn/cpp/ttnn/operations/normalization/rmsnorm_distributed/device/kernels/compute/rmsnorm_pre_allgather_2d.cpp
  ttnn/cpp/ttnn/operations/reduction/moe/device/kernels/compute/moe.cpp
  ttnn/cpp/ttnn/operations/reduction/sampling/device/kernels/compute/sampling.cpp
Due: block-ttnn-pybind-changes

Add perf validation to every model in Models Tiers e2e
  .github/scripts/utils/validate_perf_targets.py
  models/MIGRATING_TO_TIERED_CI.md
  models/demos/blackhole/qwen36/demo/vision_demo.py
  models/demos/gemma4/demo/text_demo.py
  models/demos/metal_BERT_large_11/demo/demo.py
  models/demos/squeezebert/demo/demo.py
  models/demos/stable_diffusion_xl_base/demo/demo.py
  models/demos/stable_diffusion_xl_base/demo/demo_base_and_refiner.py
  models/demos/stable_diffusion_xl_base/demo/demo_img2img.py
  models/demos/stable_diffusion_xl_base/demo/demo_inpainting.py
  models/demos/stable_diffusion_xl_base/demo/demo_lora.py
  models/demos/utils/PERF_TARGET_VALIDATION.md
  models/demos/utils/common_demo_utils.py
  models/demos/vision/classification/vit/wormhole/tests/test_demo_vit_ttnn_inference_perf_e2e_2cq_trace.py
  models/demos/wormhole/bge_m3/demo/demo.py
  models/demos/wormhole/distilbert/demo/demo.py
  models/experimental/efficientdetd0/tests/perf/test_e2e_performant.py
  models/experimental/functional_unet/tests/test_unet_perf.py
  models/experimental/panoptic_deeplab/demo/demo.py
  models/experimental/xtts/tests/perf/test_e2e_perf.py
  models/model_targets.yaml
  models/tt_dit/tests/models/flux1/test_performance_flux1.py
  models/tt_dit/tests/models/flux2/test_performance_flux2.py
  models/tt_dit/tests/models/ltx/test_pipeline_ltx_distilled.py
  models/tt_dit/tests/models/ltx/test_pipeline_ltx_one_stage.py
  models/tt_dit/tests/models/ltx/test_pipeline_ltx_two_stages.py
  models/tt_dit/tests/models/mochi/test_performance_mochi.py
  models/tt_dit/tests/models/motif/test_performance_motif.py
  models/tt_dit/tests/models/qwenimage/test_performance_qwenimage.py
  models/tt_dit/tests/models/sd35/test_performance_sd35.py
  models/tt_dit/tests/models/wan2_2/test_performance_wan.py
  models/tt_dit/utils/ltx.py
  tools/tests/github_scripts/test_validate_perf_targets.py
Due: none

round 3 eltwise binary CI dumps: HiFi3 rule against HiFi4 over every configuration it reaches (no broadcast, row, column, scalar, scalar-left, sharded sections; full cross products)
  tests/eb_r3_ci/dump_kedit.sh
  tests/eb_r3_ci/dump_run.sh
  tests/eb_r3_ci/eb_dump_lib.py
  tests/eb_r3_ci/elf_ab.py
  tests/eb_r3_ci/hifi3_dump.sh
  tests/eb_r3_ci/kernels/eb_dump_reuse.cpp
  tests/eb_r3_ci/spec_h1.txt
  tests/eb_r3_ci/spec_h2_bf16.txt
  tests/eb_r3_ci/spec_h2_bfp4.txt
  tests/eb_r3_ci/spec_h2_bfp8.txt
  tests/eb_r3_ci/test_eb_dump_bng.py
  tests/eb_r3_ci/test_eb_dump_callers.py
  tests/eb_r3_ci/test_eb_dump_kedit.py
  tests/eb_r3_ci/test_eb_dump_reuse.py
  tests/eb_r3_ci/test_eb_dump_sec.py
  tests/eb_r3_ci/tog_bcast.txt
  tests/eb_r3_ci/tog_callers.txt
  tests/eb_r3_ci/tog_softmax_both.txt
Due: none

round 3 eltwise binary CI dumps: HiFi3 full cross products split per SrcA format and order
  tests/eb_r3_ci/spec_h2_bf16.txt
  tests/eb_r3_ci/spec_h2_bf16_ab.txt
  tests/eb_r3_ci/spec_h2_bfp4.txt
  tests/eb_r3_ci/spec_h2_bfp4_ab.txt
  tests/eb_r3_ci/spec_h2_bfp4_ba.txt
  tests/eb_r3_ci/spec_h2_bfp8.txt
  tests/eb_r3_ci/spec_h2_bfp8_ab.txt
  tests/eb_r3_ci/spec_h2_bfp8_ba.txt
Due: none

Path conditions:
  block-ttnn-pybind-changes: any of: ^ttnn/
  detect-legacy-device-op: any of: ^ttnn/.*\.hpp$
  validate-golden-csv-columns: any of: ^tests/tt_metal/tt_metal/perf_microbenchmark/routing/golden/.*bandwidth.*\.csv$
