Repository tenstorrent/tt-metal: changes, and which pre-commit hooks are due for each by the changed paths.
All: block-ttnn-pybind-changes, detect-legacy-device-op, validate-golden-csv-columns

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v3.2.0
  hooks:
    - id: trailing-whitespace
      exclude: \.patch$
    - id: end-of-file-fixer
      exclude: \.patch$
    - id: check-yaml
      args: ["--unsafe"]
    - id: check-added-large-files
# Using this mirror lets us use mypyc-compiled black, which is about 2x faster
- repo: https://github.com/psf/black-pre-commit-mirror
  rev: 23.10.1
  hooks:
    - id: black
      language_version: python3
- repo: https://github.com/PyCQA/autoflake
  rev: v2.3.1
  hooks:
    - id: autoflake
      args: [--remove-all-unused-imports, --in-place, --recursive, --exclude=__init__.py]
      files: ^models/  # Run only on files in the models directory
- repo: https://github.com/pycqa/isort
  rev: 5.13.2
  hooks:
    - id: isort
      files: ^models/
      exclude: ^models/(demos/llama3_70b_galaxy|experimental)/
- repo: https://github.com/BlankSpruce/gersemi
  rev: 0.16.2
  hooks:
    - id: gersemi
- repo: https://github.com/adrienverge/yamllint.git
  rev: v1.35.1
  hooks:
    - id: yamllint
- repo: https://github.com/pre-commit/mirrors-clang-format
  rev: v19.1.4
  hooks:
    - id: clang-format
      entry: git-clang-format
      require_serial: true
      types_or: [c++, c]
      args: ["--style=file"]
- repo: local
  hooks:
    - id: validate-metalium-includes
      name: validate-metalium-includes
      entry: python3 scripts/validate_api/validate_includes.py tt_metal/api --check-ttnn-forwards
      language: system
      pass_filenames: false
    - id: validate-metalium-deprecation
      name: validate-metalium-deprecation
      entry: python3 scripts/validate_api/validate_deprecation.py tt_metal/api origin/main
      language: system
      pass_filenames: false
- repo: local
  hooks:
    - id: check-torch-imports-in-ttnn
      name: Verify that there is no global torch import in ttnn
      entry: python3 scripts/validate_no_global_torch_imports.py
      language: system
      pass_filenames: false
- repo: local
  hooks:
    - id: block-ttnn-pybind-changes
      name: Prevent edits to frozen pybind11 sources under ttnn
      entry: python3 scripts/block_ttnn_pybind_changes.py
      language: system
      pass_filenames: true
      files: ^ttnn/
- repo: local
  hooks:
    - id: convert-notebooks-to-py
      name: Convert .ipynb to .py for ttnn basic examples
      entry: python3 scripts/convert_notebooks_to_python.py
      language: system
- repo: local
  hooks:
    - id: detect-legacy-device-op
      name: Detect legacy device operation classes in newly added files
      entry: python3 scripts/detect_legacy_device_op.py --check-new-only
      language: system
      types: [file]
      files: ^ttnn/.*\.hpp$
      pass_filenames: true
      require_serial: true
- repo: local
  hooks:
    - id: validate-golden-csv-columns
      name: Validate golden bandwidth CSV column headers
      entry: bash .github/scripts/utils/validate_golden_csv_columns.sh
      language: system
      pass_filenames: false
      files: ^tests/tt_metal/tt_metal/perf_microbenchmark/routing/golden/.*bandwidth.*\.csv$

fix(dispatch): subtract infra cores from mcast worker count for WORKER dispatch
  tt_metal/distributed/fd_mesh_command_queue.cpp
Due: none

chore(llk): switch from submodule to in-tree subtree at tt_metal/tt-llk
  .github/scripts/llk-build-docker-images.sh
  .github/scripts/llk-get-docker-tag.sh
  .github/scripts/utils/find-changed-files.sh
  .github/workflows/build-all-docker-images.yaml
  .github/workflows/build-docker-artifact.yaml
  .github/workflows/llk-auto-uplift-trigger.yaml
  .github/workflows/llk-build-quasar.yaml
  .github/workflows/llk-collect-test-durations.yaml
  .github/workflows/llk-setup-and-test.yaml
  .gitmodules
  docs/L1_ACCUMULATION_FP32_ANALYSIS.md
  setup.py
  tt_metal/CMakeLists.txt
  tt_metal/hw/CMakeLists.txt
  tt_metal/jit_build/fake_kernels_target/CMakeLists.txt
Due: none

chore(llk): remove submodule entry from CODEOWNERS
  .github/CODEOWNERS
Due: none

fix(llk): update runtime JIT include paths to tt_metal/tt-llk
  tt_metal/jit_build/build.cpp
  tt_metal/llrt/hal/tt-1xx/blackhole/bh_hal.cpp
  tt_metal/llrt/hal/tt-1xx/wormhole/wh_hal.cpp
  tt_metal/llrt/hal/tt-2xx/quasar/qa_hal.cpp
Due: none

Revert "fix(dispatch): subtract infra cores from mcast worker count for WORKER dispatch"
  tt_metal/distributed/fd_mesh_command_queue.cpp
Due: none

fix(dispatch): issue DISPATCH_S wait before DISPATCH_D wait in event recording
  tt_metal/impl/dispatch/kernels/cq_dispatch_subordinate.cpp
  tt_metal/impl/event/dispatch.cpp
Due: none

restoring s2i->i2s reshard workaround for perf
  ttnn/cpp/ttnn/operations/core/to_memory_config/to_memory_config_op.cpp
Due: block-ttnn-pybind-changes

Apply suggestions from code review
  tests/nightly/t3000/ccl/conftest.py
Due: none

fix(dispatch): extend DISPATCH_S wait to all dispatch_s_enabled configs
  tt_metal/impl/dispatch/kernels/cq_dispatch_subordinate.cpp
  tt_metal/impl/event/dispatch.cpp
Due: none

decltype hack to fbinary_ng op RTA row major page calculation
  ttnn/cpp/ttnn/operations/eltwise/binary_ng/device/kernels_ng/dataflow/reader_interleaved_rm_col_bcast.cpp
  ttnn/cpp/ttnn/operations/eltwise/binary_ng/device/kernels_ng/dataflow/reader_interleaved_rm_no_bcast.cpp
  ttnn/cpp/ttnn/operations/eltwise/binary_ng/device/kernels_ng/dataflow/reader_interleaved_rm_row_bcast.cpp
  ttnn/cpp/ttnn/operations/eltwise/binary_ng/device/kernels_ng/dataflow/reader_interleaved_rm_row_col_mixed_bcast.cpp
  ttnn/cpp/ttnn/operations/eltwise/binary_ng/device/kernels_ng/dataflow/reader_interleaved_rm_scalar_bcast.cpp
  ttnn/cpp/ttnn/operations/eltwise/binary_ng/device/kernels_ng/dataflow/reader_interleaved_rm_scalar_op.cpp
  ttnn/cpp/ttnn/operations/eltwise/binary_ng/device/kernels_ng/dataflow/writer_interleaved_rm_no_bcast.cpp
Due: block-ttnn-pybind-changes

[verify] Prune galaxy e2e tests to single CCL test_all_broadcast
  tests/pipeline_reorg/galaxy_e2e_tests.yaml
Due: none

reintroducing decltype hack in point_to_point due to rta page_size
  ttnn/cpp/ttnn/operations/point_to_point/device/host/point_to_point_device_op.cpp
  ttnn/cpp/ttnn/operations/point_to_point/device/kernels/dataflow/reader_receive.cpp
  ttnn/cpp/ttnn/operations/point_to_point/device/kernels/dataflow/writer_send.cpp
Due: block-ttnn-pybind-changes

feat(upsample): Add bicubic interpolation mode for ttnn.upsample
  tests/ttnn/unit_tests/operations/pool/test_upsample_bicubic.py
  ttnn/cpp/ttnn/operations/pool/CMakeLists.txt
  ttnn/cpp/ttnn/operations/pool/upsample/device/kernels/compute/bicubic.cpp
  ttnn/cpp/ttnn/operations/pool/upsample/device/kernels/dataflow/reader_upsample_bicubic.cpp
  ttnn/cpp/ttnn/operations/pool/upsample/device/kernels/dataflow/writer_upsample_bicubic.cpp
  ttnn/cpp/ttnn/operations/pool/upsample/device/upsample_bicubic_program_factory.cpp
  ttnn/cpp/ttnn/operations/pool/upsample/device/upsample_bicubic_program_factory.hpp
  ttnn/cpp/ttnn/operations/pool/upsample/device/upsample_common.cpp
  ttnn/cpp/ttnn/operations/pool/upsample/device/upsample_device_operation.cpp
  ttnn/cpp/ttnn/operations/pool/upsample/device/upsample_device_operation.hpp
  ttnn/cpp/ttnn/operations/pool/upsample/upsample.cpp
  ttnn/cpp/ttnn/operations/pool/upsample/upsample_nanobind.cpp
  ttnn/ttnn/operations/pool.py
Due: block-ttnn-pybind-changes, detect-legacy-device-op

[Bug Fix]: Apply decltype hack to all kernels with runtime-arg TensorAccessor page sizes
  ttnn/cpp/ttnn/operations/data_movement/fill_rm/device/kernels/dataflow/fill_rm_interleaved.cpp
  ttnn/cpp/ttnn/operations/data_movement/indexed_fill/device/kernels/dataflow/indexed_fill_reader.cpp
  ttnn/cpp/ttnn/operations/data_movement/move/device/kernels/dataflow/move_stick_layout_interleaved_with_overlap.cpp
  ttnn/cpp/ttnn/operations/data_movement/non_zero_indices/device/kernels/dataflow/non_zero_indices_sc_reader.cpp
  ttnn/cpp/ttnn/operations/data_movement/slice/device/kernels/dataflow/slice_reader_unary_unpad_dims_rm_interleaved_start_id.cpp
  ttnn/cpp/ttnn/operations/data_movement/slice/device/kernels/dataflow/slice_writer_unary_stick_layout_interleaved_start_id.cpp
  ttnn/cpp/ttnn/operations/eltwise/binary_ng/device/kernels_ng/dataflow/reader_interleaved_rm_col_bcast.cpp
  ttnn/cpp/ttnn/operations/eltwise/binary_ng/device/kernels_ng/dataflow/reader_interleaved_rm_no_bcast.cpp
  ttnn/cpp/ttnn/operations/eltwise/binary_ng/device/kernels_ng/dataflow/reader_interleaved_rm_row_bcast.cpp
  ttnn/cpp/ttnn/operations/eltwise/binary_ng/device/kernels_ng/dataflow/reader_interleaved_rm_row_col_mixed_bcast.cpp
  ttnn/cpp/ttnn/operations/eltwise/binary_ng/device/kernels_ng/dataflow/reader_interleaved_rm_scalar_bcast.cpp
  ttnn/cpp/ttnn/operations/eltwise/binary_ng/device/kernels_ng/dataflow/reader_interleaved_rm_scalar_op.cpp
  ttnn/cpp/ttnn/operations/eltwise/binary_ng/device/kernels_ng/dataflow/writer_interleaved_rm_no_bcast.cpp
  ttnn/cpp/ttnn/operations/experimental/ccl/slice_reshard_async/device/kernels/minimal_default_writer.cpp
  ttnn/cpp/ttnn/operations/experimental/padded_slice/device/kernels/dataflow/padded_slice_reader_rm_interleaved_start_id.cpp
  ttnn/cpp/ttnn/operations/experimental/slice_write/device/kernels/dataflow/slice_write_reader_interleaved.cpp
  ttnn/cpp/ttnn/operations/experimental/slice_write/device/kernels/dataflow/slice_write_writer_interleaved.cpp
  ttnn/cpp/ttnn/operations/experimental/slice_write/device/kernels/dataflow/slice_write_writer_interleaved_strided.cpp
  ttnn/cpp/ttnn/operations/experimental/topk_router_gpt/device/kernels/dm1.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_fold/device/kernels/reader_fold_rm.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_fold/device/kernels/writer_fold_rm.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_getitem/device/moreh_getitem_kernels/reader_moreh_getitem.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_getitem/device/moreh_getitem_kernels/writer_moreh_getitem.cpp
  ttnn/cpp/ttnn/operations/point_to_point/device/kernels/dataflow/reader_receive.cpp
  ttnn/cpp/ttnn/operations/point_to_point/device/kernels/dataflow/reader_unary_interleaved_start_id_gen.cpp
  ttnn/cpp/ttnn/operations/point_to_point/device/kernels/dataflow/writer_send.cpp
  ttnn/cpp/ttnn/operations/point_to_point/device/kernels/dataflow/writer_unary_interleaved_start_id_gen.cpp
Due: block-ttnn-pybind-changes

fix: use bracket node ID instead of -k for parametrized test
  tests/pipeline_reorg/galaxy_e2e_tests.yaml
Due: none

feat(deepseek-ocr): Replace torch bicubic fallback with native ttnn.upsample
  models/experimental/tt_symbiote/tests/deepseek_ocr_vision_model/ttnn_symbiote_vit_model.py
  ttnn/cpp/ttnn/operations/pool/upsample/device/upsample_bicubic_program_factory.cpp
Due: block-ttnn-pybind-changes

docs(llk): update llk_asserts.rst path to tt_metal/tt-llk
  docs/source/tt-metalium/tools/llk_asserts.rst
Due: none

chore(llk): update stale third_party/tt_llk path comments to tt_metal/tt-llk
  tt_metal/hw/inc/internal/tt-1xx/risc_common.h
  tt_metal/hw/inc/internal/tt-2xx/risc_common.h
  ttnn/cpp/ttnn/operations/embedding_backward/device/kernels/compute/embedding_backward.cpp
Due: block-ttnn-pybind-changes

fixing deepseek h2d to use tensoraccessorargs to push the align_page_size as CTA as well
  models/demos/deepseek_v3_b1/micro_ops/host_io/op.py
Due: none

chore: remove unused LLK submodule workflows and clean up submodule checkout flags
  .github/workflows/llk-build-quasar.yaml
  .github/workflows/llk-collect-test-durations.yaml
  .github/workflows/llk-mirror-fork-branches.yaml
  .github/workflows/llk-setup-and-test.yaml
Due: none

chore: remove llk-in-tree migration breadcrumbs and stale comments
  .github/scripts/llk-build-docker-images.sh
  .github/scripts/llk-get-docker-tag.sh
  .github/scripts/utils/find-changed-files.sh
Due: none

add Yousef to deepseek codeowners [skip ci] (#41887)
  .github/CODEOWNERS
Due: none

Revert "fix(dispatch): extend DISPATCH_S wait to all dispatch_s_enabled configs"
  tt_metal/impl/dispatch/kernels/cq_dispatch_subordinate.cpp
  tt_metal/impl/event/dispatch.cpp
Due: none

fix: drop parametrization filter, only one variant exists
  tests/pipeline_reorg/galaxy_e2e_tests.yaml
Due: none

#0: Spoof weights for profiling
  models/demos/deepseek_v3_b1/fused_ops/moe/op.py
  models/demos/deepseek_v3_b1/tests/unit_tests/test_decoder_block.py
  models/demos/deepseek_v3_b1/weights/overlap/packing.py
  models/demos/deepseek_v3_b1/weights/prepare.py
Due: none

fix(dispatch): scope event K to workload sub-devices only
  tt_metal/api/tt-metalium/mesh_workload.hpp
  tt_metal/distributed/mesh_workload.cpp
  tt_metal/distributed/mesh_workload_impl.hpp
  ttnn/api/ttnn/device_operation.hpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

chore: fix stale submodule error messages in LLK docker workflows
  .github/workflows/build-all-docker-images.yaml
  .github/workflows/build-docker-artifact.yaml
Due: none

[test] TestGenericOpAllGather: enable wait_for_fabric_endpoint_ready on MUX
  tests/ttnn/unit_tests/gtests/test_generic_op.cpp
Due: none

Point UMD submodule to fork with ERISC mapping fix
  .gitmodules
Due: none

fix(fabric-mux): invalidate L1 cache before connection semaphore reads; add sub-device separation
  tests/ttnn/unit_tests/gtests/test_generic_op.cpp
  tt_metal/fabric/impl/kernels/tt_fabric_mux.cpp
Due: none

test: revert sub-device manager load in TestGenericOpAllGather
  tests/ttnn/unit_tests/gtests/test_generic_op.cpp
Due: none
