Repository tenstorrent/tt-metal: changes, and which pre-commit hooks are due for each by the changed paths.
All: block-ttnn-pybind-changes, detect-legacy-device-op, validate-golden-csv-columns

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v3.2.0
  hooks:
    - id: trailing-whitespace
      exclude: \.patch$
    - id: end-of-file-fixer
      exclude: \.patch$
    - id: check-yaml
      args: ["--unsafe"]
    - id: check-added-large-files
# Using this mirror lets us use mypyc-compiled black, which is about 2x faster
- repo: https://github.com/psf/black-pre-commit-mirror
  rev: 23.10.1
  hooks:
    - id: black
      language_version: python3
- repo: https://github.com/PyCQA/autoflake
  rev: v2.3.1
  hooks:
    - id: autoflake
      args: [--remove-all-unused-imports, --in-place, --recursive, --exclude=__init__.py]
      files: ^models/  # Run only on files in the models directory
- repo: https://github.com/pycqa/isort
  rev: 5.13.2
  hooks:
    - id: isort
      files: ^models/
      exclude: ^models/(demos/llama3_70b_galaxy|experimental)/
- repo: https://github.com/BlankSpruce/gersemi
  rev: 0.16.2
  hooks:
    - id: gersemi
- repo: https://github.com/adrienverge/yamllint.git
  rev: v1.35.1
  hooks:
    - id: yamllint
- repo: https://github.com/pre-commit/mirrors-clang-format
  rev: v19.1.4
  hooks:
    - id: clang-format
      entry: git-clang-format
      require_serial: true
      types_or: [c++, c]
      args: ["--style=file"]
- repo: local
  hooks:
    - id: validate-metalium-includes
      name: validate-metalium-includes
      entry: python3 scripts/validate_api/validate_includes.py tt_metal/api --check-ttnn-forwards
      language: system
      pass_filenames: false
    - id: validate-metalium-deprecation
      name: validate-metalium-deprecation
      entry: python3 scripts/validate_api/validate_deprecation.py tt_metal/api origin/main
      language: system
      pass_filenames: false
- repo: local
  hooks:
    - id: check-torch-imports-in-ttnn
      name: Verify that there is no global torch import in ttnn
      entry: python3 scripts/validate_no_global_torch_imports.py
      language: system
      pass_filenames: false
- repo: local
  hooks:
    - id: block-ttnn-pybind-changes
      name: Prevent edits to frozen pybind11 sources under ttnn
      entry: python3 scripts/block_ttnn_pybind_changes.py
      language: system
      pass_filenames: true
      files: ^ttnn/
- repo: local
  hooks:
    - id: convert-notebooks-to-py
      name: Convert .ipynb to .py for ttnn basic examples
      entry: python3 scripts/convert_notebooks_to_python.py
      language: system
- repo: local
  hooks:
    - id: detect-legacy-device-op
      name: Detect legacy device operation classes in newly added files
      entry: python3 scripts/detect_legacy_device_op.py --check-new-only
      language: system
      types: [file]
      files: ^ttnn/.*\.hpp$
      pass_filenames: true
      require_serial: true
- repo: local
  hooks:
    - id: validate-golden-csv-columns
      name: Validate golden bandwidth CSV column headers
      entry: bash .github/scripts/utils/validate_golden_csv_columns.sh
      language: system
      pass_filenames: false
      files: ^tests/tt_metal/tt_metal/perf_microbenchmark/routing/golden/.*bandwidth.*\.csv$

cleanup
  models/demos/deepseek_v3_b1/blitz_decode_weights.py
  models/demos/deepseek_v3_b1/blitz_overlap_tensors.py
Due: none

Modify get_tt_q_ab_proj_and_kv_a_proj_weights to use genereal 'overlap_tensors' function
  models/demos/deepseek_v3_b1/blitz_decode_weights.py
Due: none

Add overlapped tensor serialization
  tests/ttnn/unit_tests/tensor/test_overlapped_tensor_serialization.py
  ttnn/CMakeLists.txt
  ttnn/api/ttnn/tensor/overlapped_tensor.hpp
  ttnn/core/tensor/flatbuffer/overlapped_tensor.fbs
  ttnn/core/tensor/flatbuffer/overlapped_tensor_flatbuffer.cpp
  ttnn/core/tensor/flatbuffer/overlapped_tensor_flatbuffer.hpp
  ttnn/core/tensor/flatbuffer/tensor_spec_flatbuffer.cpp
  ttnn/core/tensor/flatbuffer/tensor_spec_flatbuffer.hpp
  ttnn/core/tensor/overlapped_serialization.cpp
  ttnn/cpp/ttnn-nanobind/tensor.cpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

Fixes after rebase
  models/demos/deepseek_v3_b1/blitz_decode_weights.py
Due: none

Add support of HEIGHT_SHARDED in overlap_tensors
  models/demos/deepseek_v3_b1/blitz_overlap_tensors.py
Due: none

Fix prepare_weights
  models/demos/deepseek_v3_b1/blitz_overlap_tensors.py
  models/demos/deepseek_v3_b1/tests/unit_tests/test_prepare_weights.py
Due: none

Add height and width TP support
  models/demos/deepseek_v3_b1/blitz_decode_weights.py
  models/demos/deepseek_v3_b1/blitz_overlap_tensors.py
  models/demos/deepseek_v3_b1/tests/blitz_weights_tests/test_blitz_decode_weights.py
Due: none

Port get_tt_kv_b12_proj_weights and get_tt_moe_shared_expert_weights to use overlap_tensors function
  models/demos/deepseek_v3_b1/blitz_decode_weights.py
Due: none

Minor test cleanup
  models/demos/deepseek_v3_b1/blitz_decode_weights.py
  models/demos/deepseek_v3_b1/tests/blitz_weights_tests/test_blitz_decode_weights.py
Due: none

add missing experimental
  ttnn/cpp/ttnn/operations/experimental/ccl/all_gather_async/all_gather_async_nanobind.cpp
Due: block-ttnn-pybind-changes

Change overlap_tensors to return a dict
  models/demos/deepseek_v3_b1/blitz_decode_weights.py
  models/demos/deepseek_v3_b1/blitz_overlap_tensors.py
  models/demos/deepseek_v3_b1/prepare_weights.py
  models/demos/deepseek_v3_b1/tests/blitz_weights_tests/test_blitz_decode_weights.py
  models/demos/deepseek_v3_b1/tests/unit_tests/test_moe_routed_expert.py
  models/demos/deepseek_v3_b1/tests/unit_tests/test_post_sdpa.py
  models/demos/deepseek_v3_b1/tests/unit_tests/test_pre_sdpa.py
  tests/ttnn/unit_tests/tensor/test_overlapped_tensor_serialization.py
Due: none

Change overlapped tensor serialization to operate on dicts
  tests/ttnn/unit_tests/tensor/test_overlapped_tensor_serialization.py
  ttnn/api/ttnn/tensor/overlapped_tensor.hpp
  ttnn/core/tensor/flatbuffer/overlapped_tensor.fbs
  ttnn/core/tensor/flatbuffer/overlapped_tensor_flatbuffer.cpp
  ttnn/cpp/ttnn-nanobind/tensor.cpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

reverted minus infinity check to original
  models/tt_transformers/tt/multimodal/llama_vision_model.py
Due: none

[Test infra]: Enabling multi-tile matmul with tiny tiles (#1265)
  tests/python_tests/helpers/matmul_sweep.py
  tests/python_tests/helpers/stimuli_generator.py
  tests/python_tests/test_math_matmul.py
  tests/python_tests/test_unpack_matmul.py
  tests/sources/math_matmul_test.cpp
  tests/sources/unpack_matmul_test.cpp
Due: none

Add cache tests for reduction/generic and softmax and improve softmax caching (#38983)
  tests/pipeline_reorg/ttsim-skip-list.yaml
  tests/ttnn/unit_tests/operations/fused/test_softmax_program_cache.py
  tests/ttnn/unit_tests/operations/reduce/test_reduction_program_cache.py
  ttnn/cpp/ttnn/operations/normalization/softmax/device/softmax_device_operation.cpp
Due: block-ttnn-pybind-changes

Remove spurious references to PhysicalSystemDescriptor
  tt_metal/api/tt-metalium/experimental/fabric/mesh_graph.hpp
  tt_metal/fabric/mesh_graph.cpp
Due: none

DO NOT MERGE: temporary changes needed to use PGD in FM
  tests/tt_metal/multihost/socket_pipeline/multiprocess/multi_host_pipeline.cpp
  tests/tt_metal/tt_fabric/fabric_router/test_multi_host.cpp
  tests/tt_metal/tt_fabric/fabric_router/test_physical_grouping_descriptor.cpp
  tests/tt_metal/tt_fabric/fabric_router/test_routing_tables.cpp
  tests/tt_metal/tt_fabric/fabric_router/test_topology_mapper.cpp
  tests/tt_metal/tt_fabric/fabric_router/test_topology_mapper_utils.cpp
  tests/tt_metal/tt_fabric/fabric_router/test_topology_solver.cpp
  tests/tt_metal/tt_fabric/physical_discovery/test_physical_system_descriptor.cpp
  tests/ttnn/unit_tests/gtests/multiprocess/test_send_recv_pipeline.cpp
  tools/scaleout/fabric_manager/run_fabric_manager.cpp
  tools/scaleout/fabric_manager/utils/fabric_manager_utils.hpp
  tools/scaleout/src/generate_rank_bindings.cpp
  tools/scaleout/validation/run_cluster_validation.cpp
  tools/scaleout/validation/utils/cluster_validation_utils.hpp
  tools/scaleout/validation/utils/ethernet_link_metrics.hpp
  tools/tests/scaleout/test_link_retraining.cpp
  tt_metal/CMakeLists.txt
  tt_metal/api/tt-metalium/experimental/fabric/physical_system_descriptor.hpp
  tt_metal/distributed/experimental/blitz_decode_pipeline.cpp
  tt_metal/fabric/control_plane.cpp
  tt_metal/fabric/fabric_host_utils.cpp
  tt_metal/fabric/mesh_graph.cpp
  tt_metal/fabric/physical_grouping_descriptor_core.cpp
  tt_metal/fabric/physical_grouping_descriptor_graph_building.cpp
  tt_metal/fabric/physical_grouping_descriptor_matching.cpp
  tt_metal/fabric/physical_system_descriptor.cpp
  tt_metal/fabric/serialization/physical_system_descriptor_serialization.cpp
  tt_metal/fabric/serialization/physical_system_descriptor_serialization.hpp
  tt_metal/fabric/topology_mapper.cpp
  tt_metal/fabric/topology_mapper_utils.cpp
  tt_metal/fabric/topology_solver.cpp
Due: none

different dtypes
  models/tt_dit/tests/unit/test_ring_joint_mla.py
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/kernels/compute/compute_common.hpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/kernels/compute/ring_joint_sdpa.cpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/ring_joint_sdpa_device_operation.cpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

rm log line
  tests/tt_metal/tt_metal/perf_microbenchmark/routing/tt_fabric_test_latency_results.cpp
Due: none

init POC
  tests/tt_metal/tt_metal/perf_microbenchmark/routing/tt_fabric_test_latency_results.cpp
Due: none

device/core columns added
  tests/tt_metal/tt_metal/perf_microbenchmark/routing/tt_fabric_test_config.cpp
  tests/tt_metal/tt_metal/perf_microbenchmark/routing/tt_fabric_test_config.hpp
  tests/tt_metal/tt_metal/perf_microbenchmark/routing/tt_fabric_test_latency_results.cpp
  tests/tt_metal/tt_metal/perf_microbenchmark/routing/tt_fabric_test_latency_results.hpp
Due: none

Resolved issue of inexistant runtime argument fetch in writer kernel
  tests/ttnn/unit_tests/operations/conv/test_conv3d.py
  ttnn/cpp/ttnn/operations/experimental/conv3d/device/conv3d_program_factory.cpp
  ttnn/cpp/ttnn/operations/experimental/conv3d/device/kernels/writer.cpp
Due: block-ttnn-pybind-changes

Skips for conv test failing with watcher
  tests/ttnn/nightly/unit_tests/operations/conv/test_conv2d_sweeps.py
Due: none

Skips for conv test failing with watcher
  tests/ttnn/nightly/unit_tests/operations/conv/test_conv2d.py
Due: none

Add watcher to nightly
  .github/workflows/tt-metal-l2-nightly-impl.yaml
  .github/workflows/tt-metal-l2-nightly.yaml
Due: none

Checking physical addressed as well
  tt_metal/hw/inc/internal/debug/sanitize.h
  tt_metal/impl/debug/watcher_device_reader.cpp
Due: none

Fix for invalid noc address
  tests/ttnn/nightly/unit_tests/operations/conv/test_conv2d.py
  tt_metal/hw/inc/internal/debug/sanitize.h
Due: none

Reverting the files that are not part of this change
  ttnn/cpp/ttnn/operations/data_movement/reshape_view/device/device/rm_reshape_interleaved.cpp
Due: block-ttnn-pybind-changes

Saving the noc state in sanitizer
  tt_metal/hw/inc/api/dataflow/dataflow_api.h
  tt_metal/hw/inc/internal/debug/sanitize.h
Due: none

Reshape kernel runtime arg fix
  ttnn/cpp/ttnn/operations/data_movement/reshape_view/device/device/rm_reshape_interleaved.cpp
Due: block-ttnn-pybind-changes

Reverting the files that are not part of this change
  .github/workflows/tt-metal-l2-nightly-impl.yaml
  .github/workflows/tt-metal-l2-nightly.yaml
  tests/ttnn/nightly/unit_tests/operations/conv/test_conv2d.py
  tests/ttnn/nightly/unit_tests/operations/conv/test_conv2d_sweeps.py
  tests/ttnn/nightly/unit_tests/operations/matmul/test_matmul_1d_gather_in0.py
  tt_metal/hw/inc/api/dataflow/dataflow_api.h
  tt_metal/hw/inc/internal/debug/sanitize.h
Due: none

Add debug logging and hw register fallback for NOC sanitizer
  tt_metal/hw/inc/internal/debug/sanitize.h
  tt_metal/impl/debug/watcher_device_reader.cpp
Due: none

Skips for matmul tests failing with watcher
  tests/ttnn/nightly/unit_tests/operations/matmul/test_matmul_1d_gather_in0.py
Due: none

removed hard boundaries on perf check
  models/tt_transformers/demo/simple_vision_demo.py
Due: none

[RESHAPE] Watcher detected invalid runtime arg index in reshape kernel (#39005)
  models/demos/deepseek_v3/tests/unit/test_reshape.py
  tests/ttnn/unit_tests/base_functionality/test_graph_capture.py
  tests/ttnn/unit_tests/base_functionality/test_reshape.py
  tests/ttnn/unit_tests/base_functionality/test_reshape_transpose.py
  tests/ttnn/unit_tests/base_functionality/test_roll.py
  tests/ttnn/unit_tests/base_functionality/test_unsqueeze.py
  tests/ttnn/unit_tests/operations/conv/data_movement/test_fold_op.py
  ttnn/cpp/ttnn/operations/data_movement/reshape_view/device/device/rm_reshape_interleaved.cpp
Due: block-ttnn-pybind-changes
