Repository tenstorrent/tt-metal: changes, and which pre-commit hooks are due for each by the changed paths.
All: block-ttnn-pybind-changes, detect-legacy-device-op, validate-golden-csv-columns

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v3.2.0
  hooks:
    - id: trailing-whitespace
      exclude: \.patch$
    - id: end-of-file-fixer
      exclude: \.patch$
    - id: check-yaml
      args: ["--unsafe"]
    - id: check-added-large-files
# Using this mirror lets us use mypyc-compiled black, which is about 2x faster
- repo: https://github.com/psf/black-pre-commit-mirror
  rev: 23.10.1
  hooks:
    - id: black
      language_version: python3
- repo: https://github.com/PyCQA/autoflake
  rev: v2.3.1
  hooks:
    - id: autoflake
      args: [--remove-all-unused-imports, --in-place, --recursive, --exclude=__init__.py]
      files: ^models/  # Run only on files in the models directory
- repo: https://github.com/pycqa/isort
  rev: 5.13.2
  hooks:
    - id: isort
      files: ^models/
      exclude: ^models/(demos/llama3_70b_galaxy|experimental)/
- repo: https://github.com/BlankSpruce/gersemi
  rev: 0.16.2
  hooks:
    - id: gersemi
- repo: https://github.com/adrienverge/yamllint.git
  rev: v1.35.1
  hooks:
    - id: yamllint
- repo: https://github.com/pre-commit/mirrors-clang-format
  rev: v19.1.4
  hooks:
    - id: clang-format
      entry: git-clang-format
      require_serial: true
      types_or: [c++, c]
      args: ["--style=file"]
- repo: local
  hooks:
    - id: validate-metalium-includes
      name: validate-metalium-includes
      entry: python3 scripts/validate_api/validate_includes.py tt_metal/api --check-ttnn-forwards
      language: system
      pass_filenames: false
    - id: validate-metalium-deprecation
      name: validate-metalium-deprecation
      entry: python3 scripts/validate_api/validate_deprecation.py tt_metal/api origin/main
      language: system
      pass_filenames: false
- repo: local
  hooks:
    - id: check-torch-imports-in-ttnn
      name: Verify that there is no global torch import in ttnn
      entry: python3 scripts/validate_no_global_torch_imports.py
      language: system
      pass_filenames: false
- repo: local
  hooks:
    - id: block-ttnn-pybind-changes
      name: Prevent edits to frozen pybind11 sources under ttnn
      entry: python3 scripts/block_ttnn_pybind_changes.py
      language: system
      pass_filenames: true
      files: ^ttnn/
- repo: local
  hooks:
    - id: convert-notebooks-to-py
      name: Convert .ipynb to .py for ttnn basic examples
      entry: python3 scripts/convert_notebooks_to_python.py
      language: system
- repo: local
  hooks:
    - id: detect-legacy-device-op
      name: Detect legacy device operation classes in newly added files
      entry: python3 scripts/detect_legacy_device_op.py --check-new-only
      language: system
      types: [file]
      files: ^ttnn/.*\.hpp$
      pass_filenames: true
      require_serial: true
- repo: local
  hooks:
    - id: validate-golden-csv-columns
      name: Validate golden bandwidth CSV column headers
      entry: bash .github/scripts/utils/validate_golden_csv_columns.sh
      language: system
      pass_filenames: false
      files: ^tests/tt_metal/tt_metal/perf_microbenchmark/routing/golden/.*bandwidth.*\.csv$

ltx distilled: draw video-init noise at bf16 (reference parity)
  models/tt_dit/pipelines/ltx/pipeline_ltx_distilled.py
Due: none

perf: automate TP-degree decision — no flag; floor -> measured sweep in the rung
  models/experimental/perf_automation/agent/tp.py
  models/experimental/perf_automation/cc_optimize/perf_mcp.py
  models/experimental/perf_automation/cc_optimize/run.py
  models/experimental/perf_automation/tests/test_tp_fracture.py
  models/experimental/perf_automation/tests/test_tp_route.py
  models/experimental/perf_automation/tests/test_tp_wiring.py
  scripts/tt_hw_planner/cli.py
  scripts/tt_hw_planner/commands/optimize.py
Due: none

perf: embed TP fracture into the tool — verify_tp_fracture MCP tool on the tp-fracture rung
  models/experimental/perf_automation/cc_optimize/perf_mcp.py
  models/experimental/perf_automation/cc_optimize/run.py
Due: none

perf: automatic tensor-parallel routing + gated TP-latency lever
  models/experimental/perf_automation/GUIDELINES/08_DECODE_PREFILL_AND_MULTIDEVICE.md
  models/experimental/perf_automation/agent/environment.py
  models/experimental/perf_automation/agent/handlers/remeasure.py
  models/experimental/perf_automation/agent/tp.py
  models/experimental/perf_automation/cc_optimize/perf_mcp.py
  models/experimental/perf_automation/cc_optimize/run.py
  models/experimental/perf_automation/tests/test_environment.py
  models/experimental/perf_automation/tests/test_tp.py
  models/experimental/perf_automation/tests/test_tp_ladder.py
  models/experimental/perf_automation/tests/test_tp_measure.py
  models/experimental/perf_automation/tests/test_tp_recipe.py
  models/experimental/perf_automation/tests/test_tp_route.py
  models/experimental/perf_automation/tests/test_tp_wiring.py
  scripts/tt_hw_planner/cli.py
  scripts/tt_hw_planner/commands/optimize.py
Due: none

perf: TP degree sweep — measure each degree, keep fastest (proven on mesh)
  models/experimental/perf_automation/cc_optimize/tp_fracture.py
  models/experimental/perf_automation/tests/test_tp_fracture.py
Due: none

perf: TP fracture primitive — column-shard matmul + all_gather (PCC-proven on mesh)
  models/experimental/perf_automation/cc_optimize/tp_fracture.py
  models/experimental/perf_automation/tests/test_tp_fracture.py
Due: none

[incremental-planner] point_to_point: op design + acceptance test
  tests/ttnn/unit_tests/operations/point_to_point/conftest.py
  tests/ttnn/unit_tests/operations/point_to_point/test_point_to_point.py
  ttnn/ttnn/operations/point_to_point/op_design.md
Due: block-ttnn-pybind-changes

revert layernorm change
  ttnn/cpp/ttnn/operations/experimental/transformer/dit_layernorm_pre_all_gather/device/dit_layernorm_pre_all_gather_welford_program_factory.cpp
  ttnn/cpp/ttnn/operations/experimental/transformer/dit_layernorm_pre_all_gather/device/kernels/compute/layernorm_pre_allgather_welford.cpp
Due: block-ttnn-pybind-changes

WIP Stage 3: un-fuse OutWithUntilize into a finalize untilize transform (BLOCKED)
  ttnn/cpp/ttnn/kernel_lib/matmul_block_helpers.inl
Due: block-ttnn-pybind-changes

[Cleanup] Auto-enable Blackhole DRAM programmable cores; drop env var (#48527)
  tests/pipeline_reorg/runtime_unit_tests.yaml
  tests/ttnn/unit_tests/base_functionality/test_dram_sender_global_cb_py.py
  tests/ttnn/unit_tests/operations/transformers/test_prefetcher_BH_bench.py
  tests/ttnn/unit_tests/operations/transformers/test_prefetcher_BH_bw_bench.py
  tests/ttnn/unit_tests/operations/transformers/test_prefetcher_BH_tensor_large.py
  tests/ttnn/unit_tests/operations/transformers/test_prefetcher_BH_validator.py
  tt_metal/api/tt-metalium/experimental/tensor_prefetcher.hpp
  tt_metal/distributed/mesh_device.cpp
  tt_metal/impl/buffers/drisc_l1_arena.cpp
  tt_metal/impl/buffers/global_circular_buffer.cpp
  tt_metal/impl/buffers/tensor_prefetcher_manager.cpp
  tt_metal/impl/context/metal_env.cpp
  tt_metal/impl/debug/inspector/data.cpp
  tt_metal/impl/host_api/tt_metal.cpp
  tt_metal/llrt/firmware_capability.cpp
  tt_metal/llrt/firmware_capability.hpp
  tt_metal/llrt/rtoptions.cpp
  tt_metal/llrt/rtoptions.hpp
  ttnn/cpp/ttnn/operations/experimental/tensor_prefetcher/tensor_prefetcher_nanobind.cpp
Due: block-ttnn-pybind-changes

mm_help5 Stage 4: refresh the matmul_block header contract banner
  ttnn/cpp/ttnn/kernel_lib/matmul_block_helpers.hpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

Make the RTA limit independent of whether watcher asserts are enabled
  tt_metal/impl/kernels/kernel.cpp
  tt_metal/impl/kernels/kernel.hpp
Due: none

use std::invoke instead of call op
  tests/tt_metal/tt_metal/api/dataflow_buffer/test_alias_dataflow_buffer.cpp
  tests/tt_metal/tt_metal/api/dataflow_buffer/test_dataflow_buffer.cpp
  tests/tt_metal/tt_metal/api/test_direct.cpp
  tests/tt_metal/tt_metal/data_movement/all_from_all/test_all_from_all.cpp
  tests/tt_metal/tt_metal/data_movement/all_to_all/test_all_to_all.cpp
  tests/tt_metal/tt_metal/data_movement/dram_sharded/test_dram_sharded.cpp
  tests/tt_metal/tt_metal/data_movement/dram_unary/test_unary_dram.cpp
  tests/tt_metal/tt_metal/data_movement/loopback/test_loopback.cpp
  tests/tt_metal/tt_metal/data_movement/multicast_atomics/test_multicast_atomic_semaphore.cpp
  tests/tt_metal/tt_metal/data_movement/noc_api_latency/test_noc_api_latency.cpp
  tests/tt_metal/tt_metal/data_movement/one_from_all/test_one_from_all.cpp
  tests/tt_metal/tt_metal/data_movement/one_from_one/test_one_from_one.cpp
  tests/tt_metal/tt_metal/data_movement/one_packet/test_one_packet.cpp
  tests/tt_metal/tt_metal/data_movement/one_to_all/test_one_to_all.cpp
  tests/tt_metal/tt_metal/data_movement/one_to_one/test_one_to_one.cpp
  tests/tt_metal/tt_metal/data_movement/transaction_id/test_transaction_id.cpp
  tests/tt_metal/tt_metal/debug_tools/watcher/test_assert.cpp
  tests/tt_metal/tt_metal/debug_tools/watcher/test_runtime_args_known_garbage.cpp
  tests/tt_metal/tt_metal/integration/matmul/test_matmul_X_tile.cpp
  tests/tt_metal/tt_metal/llk/test_broadcast.cpp
  tests/tt_metal/tt_metal/llk/test_copy_block_matmul_partials.cpp
  tests/tt_metal/tt_metal/llk/test_reconfig.cpp
  tests/tt_metal/tt_metal/llk/test_reduce.cpp
  tests/tt_metal/tt_metal/llk/test_sfpu_compute.cpp
  tests/tt_metal/tt_metal/llk/test_single_core_binary_compute.cpp
  tests/tt_metal/tt_metal/llk/test_transpose.cpp
  tests/tt_metal/tt_metal/llk/test_unary_broadcast.cpp
  tests/tt_metal/tt_metal/llk/test_untilize_tilize.cpp
Due: none

[Bug fix] Fix LLK assert startup hazards in TopK and sparse SDPA (#48604)
  ttnn/cpp/ttnn/operations/reduction/topk/device/kernels/compute/topk.cpp
  ttnn/cpp/ttnn/operations/reduction/topk/device/kernels/compute/topk_local.cpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/kernels/compute/sparse_sdpa_msa_compute.cpp
Due: block-ttnn-pybind-changes

use std::invoke try 2
  tests/tt_metal/tt_metal/api/dataflow_buffer/test_alias_dataflow_buffer.cpp
  tests/tt_metal/tt_metal/api/dataflow_buffer/test_dataflow_buffer.cpp
  tests/tt_metal/tt_metal/api/test_direct.cpp
  tests/tt_metal/tt_metal/api/test_runtime_args.cpp
  tests/tt_metal/tt_metal/debug_tools/watcher/test_pause.cpp
  tests/tt_metal/tt_metal/debug_tools/watcher/test_runtime_args_known_garbage.cpp
  tests/tt_metal/tt_metal/debug_tools/watcher/test_sanitize.cpp
  tests/tt_metal/tt_metal/debug_tools/watcher/test_waypoint.cpp
  tests/tt_metal/tt_metal/test_bmm.cpp
Due: none

increase precision of some steps
  models/tt_dit/encoders/t5/model_t5.py
  models/tt_dit/layers/normalization.py
Due: none

strided_all_gather: fix writer-signals-matmul hang with GlobalSemaphore agg sems
  tests/nightly/t3000/ccl/test_strided_all_gather_minimal_matmul_async.py
  ttnn/cpp/ttnn/operations/experimental/ccl/strided_all_gather_async/device/kernels/minimal_default_mm_signal_aggregator.cpp
  ttnn/cpp/ttnn/operations/experimental/ccl/strided_all_gather_async/device/kernels/minimal_default_writer.cpp
  ttnn/cpp/ttnn/operations/experimental/ccl/strided_all_gather_async/device/strided_all_gather_async_program.cpp
Due: block-ttnn-pybind-changes

fix previous sol
  tt_metal/api/tt-metalium/buffer.hpp
  tt_metal/impl/buffers/buffer.cpp
Due: none

CI: add Galaxy DeepSeek Prefill - Chunked Kimi (code_debug 25k) stage
  .github/time_budget.yaml
  .github/workflows/galaxy-deepseek-prefill-tests.yaml
  models/demos/deepseek_v3_d_p/tests/test_prefill_transformer_chunked.py
  tests/pipeline_reorg/galaxy_deepseek_prefill_tests.yaml
Due: none

fix: correct matmul instruction to TT vs TTI; adapt tests to reduce compile combinations (#48750)
  tt_metal/tt-llk/tests/python_tests/quasar/test_matmul_quasar.py
  tt_metal/tt-llk/tests/sources/quasar/matmul_quasar_test.cpp
  tt_metal/tt-llk/tt_llk_quasar/llk_lib/llk_math_matmul.h
Due: none

ltx: address code-review findings on the LTX refactor
  models/tt_dit/encoders/gemma/embeddings_connector.py
  models/tt_dit/pipelines/ltx/pipeline_ltx.py
  models/tt_dit/tests/models/ltx/test_pipeline_ltx_distilled.py
  models/tt_dit/utils/conv3d.py
  models/tt_dit/utils/vbench.py
Due: none

[ttnn-implementer] PASS: point_to_point acceptance suite 60/60 on bh_8xP150_p2p sim
  ttnn/ttnn/operations/point_to_point/agent_logs/ttnn-implementer_breadcrumbs.jsonl
  ttnn/ttnn/operations/point_to_point/changelog.md
  ttnn/ttnn/operations/point_to_point/op_requirements.md
  ttnn/ttnn/operations/point_to_point/verification_report.md
Due: block-ttnn-pybind-changes

Test: fix runtime_args_kernel over-reading unique/common RTAs (watcher OOB)
  tests/tt_metal/tt_metal/dispatch/dispatch_program/test_EnqueueProgram.cpp
  tests/tt_metal/tt_metal/test_kernels/misc/runtime_args_kernel.cpp
Due: none

tt-hw-planner: Claude-Code bring-up engine (auto-up/promote/emit-e2e --engine cc)
  scripts/tt_hw_planner/_cli_helpers/auto_iterate.py
  scripts/tt_hw_planner/_cli_helpers/bringup_cc.py
  scripts/tt_hw_planner/_cli_helpers/bringup_ladder.py
  scripts/tt_hw_planner/bringup_mcp.py
  scripts/tt_hw_planner/cc_harness.py
  scripts/tt_hw_planner/cli.py
  scripts/tt_hw_planner/commands/emit_e2e.py
  scripts/tt_hw_planner/commands/promote.py
  scripts/tt_hw_planner/e2e_mcp.py
Due: none

add tests
  models/tt_dit/encoders/gemma4/attention.py
  models/tt_dit/encoders/gemma4/vision_attention.py
  models/tt_dit/models/transformers/diffusion_gemma/encoder_model.py
  models/tt_dit/models/transformers/diffusion_gemma/text_decoder.py
  models/tt_dit/pipelines/diffusion_gemma/pipeline_diffusion_gemma.py
  models/tt_dit/tests/models/diffusion_gemma/test_layer.py
  models/tt_dit/tests/models/diffusion_gemma/test_layer_decoder.py
  models/tt_dit/tests/models/diffusion_gemma/test_text_decoder.py
  models/tt_dit/tests/models/diffusion_gemma/test_text_encoder.py
Due: none

Integrating tt-emule ASAN into metal (#44848)
  tests/tt_metal/tt_metal/api/sources.cmake
  tests/tt_metal/tt_metal/api/test_alignment_writes.cpp
  tests/tt_metal/tt_metal/api/test_cb_leak.cpp
  tests/tt_metal/tt_metal/api/test_cb_pages.cpp
  tests/tt_metal/tt_metal/api/test_host_alignment.cpp
  tests/tt_metal/tt_metal/api/test_metadata_size.cpp
  tests/tt_metal/tt_metal/api/test_noc_without_barrier.cpp
  tests/tt_metal/tt_metal/api/test_padded_write.cpp
  tests/tt_metal/tt_metal/api/test_pointer_size.cpp
  tests/tt_metal/tt_metal/api/test_semaphore_write.cpp
  tests/tt_metal/tt_metal/api/test_simple_l1_buffer.cpp
  tests/tt_metal/tt_metal/api/test_tensor_bad_access.cpp
  tests/tt_metal/tt_metal/api/test_valid_mem_wrong_alloc.cpp
  tests/tt_metal/tt_metal/api/test_write_beyond_res_pages.cpp
  tests/tt_metal/tt_metal/api/test_write_outside_tensor.cpp
  tests/tt_metal/tt_metal/data_movement/CMakeLists.txt
  tests/tt_metal/tt_metal/data_movement/dm_common.cpp
  tt_metal/impl/CMakeLists.txt
  tt_metal/impl/buffers/buffer.cpp
  tt_metal/impl/emulation/SANITIZER_CHECKS.md
  tt_metal/impl/emulation/emulated_program_runner.cpp
  tt_metal/impl/emulation/emule_asan_panic.cpp
  tt_metal/impl/emulation/emule_live_ranges.cpp
  tt_metal/impl/emulation/emule_live_ranges.hpp
  tt_metal/impl/emulation/emule_sanitizers.cpp
  tt_metal/impl/emulation/emule_sanitizers.hpp
  tt_metal/impl/emulation/emule_setup.sh
  tt_metal/impl/emulation/host_sanitizers.cpp
  tt_metal/impl/emulation/host_sanitizers.hpp
  tt_metal/impl/host_api/tt_metal.cpp
  tt_metal/impl/sources.cmake
Due: none

strided-ag: split-forward diametric slice under fusion, incl. aggregator path
  ttnn/cpp/ttnn/operations/experimental/ccl/strided_all_gather_async/device/kernels/fused_receiver_utils.hpp
  ttnn/cpp/ttnn/operations/experimental/ccl/strided_all_gather_async/device/kernels/minimal_default_mm_signal_aggregator.cpp
  ttnn/cpp/ttnn/operations/experimental/ccl/strided_all_gather_async/device/kernels/minimal_default_reader.cpp
  ttnn/cpp/ttnn/operations/experimental/ccl/strided_all_gather_async/device/kernels/minimal_default_writer.cpp
  ttnn/cpp/ttnn/operations/experimental/ccl/strided_all_gather_async/device/kernels/strided_all_gather_common.hpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

add tests
  models/tt_dit/tests/encoders/gemma4/test_rope.py
  models/tt_dit/tests/models/diffusion_gemma/test_model_diffusion_gemma.py
  models/tt_dit/tests/models/diffusion_gemma/test_multimodal_embedder_diffusion_gemma.py
Due: none

Deploying to gh-pages from @ tenstorrent/tt-metal@78f9b25a4c1ec7c6139e84abef98cb55c4c6da24 🚀
  latest/ttnn/searchindex.js
  latest/ttnn/ttnn/api/ttnn.transformer.sparse_sdpa.html
Due: none

[incremental-verifier] point_to_point: verifier pass 2 — mechanized golden + precision observed, clean
  tests/ttnn/unit_tests/operations/point_to_point/test_point_to_point_precision_baseline.py
  ttnn/ttnn/operations/point_to_point/changelog.md
  ttnn/ttnn/operations/point_to_point/op_requirements.md
  ttnn/ttnn/operations/point_to_point/point_to_point.py
  ttnn/ttnn/operations/point_to_point/verification_report.md
Due: block-ttnn-pybind-changes

ltx gemma: fold device-time profiler into test_gemma_full.py
  models/tt_dit/tests/encoders/gemma/prof_gemma_fwd.py
  models/tt_dit/tests/encoders/gemma/prof_gemma_ltx.py
  models/tt_dit/tests/encoders/gemma/test_gemma_full.py
  models/tt_dit/tests/encoders/gemma/time_gemma_ltx.py
Due: none

Opus created fix for sharded layernorm and test that demonstrates the issue (and demonstrates that default "legacy" flow also has the same issue)
  tests/ttnn/nightly/unit_tests/operations/fused/test_layer_norm_ulp.py
  ttnn/cpp/ttnn/operations/normalization/layernorm/device/layernorm_op_multi_core_sharded.cpp
  ttnn/cpp/ttnn/operations/normalization/layernorm/device/sharded_layernorm_factory_helpers.cpp
  ttnn/cpp/ttnn/operations/normalization/layernorm/device/sharded_layernorm_factory_helpers.hpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

Switched to creating mask on device using generate_mask_w from moreh_common.hpp
  ttnn/cpp/ttnn/operations/normalization/layernorm/device/kernels/compute/layernorm_sharded.cpp
  ttnn/cpp/ttnn/operations/normalization/layernorm/device/kernels/compute/layernorm_sharded_pre_allgather.cpp
  ttnn/cpp/ttnn/operations/normalization/layernorm/device/kernels/dataflow/writer_unary_sharded_ln.cpp
  ttnn/cpp/ttnn/operations/normalization/layernorm/device/kernels/dataflow/writer_unary_sharded_ln_pre_all_gather.cpp
  ttnn/cpp/ttnn/operations/normalization/layernorm/device/layernorm_device_operation.cpp
  ttnn/cpp/ttnn/operations/normalization/layernorm/device/layernorm_device_operation_types.hpp
  ttnn/cpp/ttnn/operations/normalization/layernorm/device/layernorm_op_multi_core_sharded.cpp
  ttnn/cpp/ttnn/operations/normalization/layernorm/device/sharded_layernorm_factory_helpers.cpp
  ttnn/cpp/ttnn/operations/normalization/layernorm/device/sharded_layernorm_factory_helpers.hpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op
