Repository tenstorrent/tt-metal: changes, and which pre-commit hooks are due for each by the changed paths.
All: block-ttnn-pybind-changes, detect-legacy-device-op, validate-golden-csv-columns

block-ttnn-pybind-changes:
  name: Prevent edits to frozen pybind11 sources under ttnn
  entry: python3 scripts/block_ttnn_pybind_changes.py
  language: system
  pass_filenames: true

detect-legacy-device-op:
  name: Detect legacy device operation classes in newly added files
  entry: python3 scripts/detect_legacy_device_op.py --check-new-only
  language: system
  pass_filenames: true
  require_serial: true

validate-golden-csv-columns:
  name: Validate golden bandwidth CSV column headers
  entry: bash .github/scripts/utils/validate_golden_csv_columns.sh
  language: system
  pass_filenames: false

[LLK] [Test Only] Quasar LLK tests multiply Float16_b and MxFp4_2x at LoFi
  tests/tt_metal/tt_metal/llk/test_reduce.cpp
  tests/tt_metal/tt_metal/llk/test_single_core_binary_compute.cpp
  tests/tt_metal/tt_metal/llk/test_single_core_matmul_compute.cpp
Due: none

Don't publish debian packages
  .github/workflows/package-and-release.yaml
Due: none

tt-project: t301 add main vs PR e2e driver and notes for blx01
  tt-project/t301/NOTES.md
  tt-project/t301/cmp301.py
  tt-project/t301/drv301.sh
  tt-project/t301/run301.sh
  tt-project/t301/setup301.sh
Due: none

Harden run_tt_transformers_tests.sh overrides and e2e skips
  tests/pipeline_reorg/models_e2e_tests.yaml
  tests/scripts/run_tt_transformers_tests.sh
Due: none

ttnn: conv3d, indexer score and the sharded pre all-gather norm keep main's per-tile packs, with main's hand-off they read equal or slower
  ttnn/cpp/ttnn/operations/experimental/conv3d/device/kernels/compute.cpp
  ttnn/cpp/ttnn/operations/experimental/indexer_score/device/kernels/compute_indexer_score.cpp
  ttnn/cpp/ttnn/operations/normalization/layernorm/device/kernels/compute/layernorm_sharded_pre_allgather.cpp
Due: block-ttnn-pybind-changes

t295 notes: job 116 failed on missing transformer cache; rerun uncached, one arm per job
  NOTES.md
Due: none

laguna: batch-32 accuracy test and a fixed-length reference prompt option
  models/demos/laguna/tests/gen_streamed_reference.py
  models/demos/laguna/tests/test_accuracy.py
Due: none

ttnn.sampling distribution tests: hardware-only (skip on the ttsim simulator)
  tests/ttnn/unit_tests/operations/reduce/test_sampling_distribution.py
Due: none

t295 notes: arm job wrapper kills its process group
  NOTES.md
Due: none

Add unpack-to-dest tests: DEST-index gtest, placer API under dvalid and under the semaphore protocol
  tests/tt_metal/tt_metal/llk/test_sfpu_compute.cpp
  tests/tt_metal/tt_metal/test_kernels/compute/eltwise_sfpu_2_0.cpp
  tt_metal/tt-llk/tests/python_tests/quasar/test_semaphore_sync_quasar.py
  tt_metal/tt-llk/tests/sources/quasar/semaphore_sync_quasar_test.cpp
  tt_metal/tt-llk/tests/sources/quasar/unpack_unary_operand_quasar_test.cpp
Due: none

fix pre commit error
  models/common/layernorm.py
  models/tt_transformers/tests/test_cohere2_decoder.py
  models/tt_transformers/tt/decoder.py
  models/tt_transformers/tt/distributed_norm.py
  models/tt_transformers/tt/model.py
  models/tt_transformers/tt/model_config.py
Due: none

command-r7b bringup in tt_transformers
  .github/workflows/models-t3-e2e-tests.yaml
  .github/workflows/models-t3-unit-tests.yaml
  models/common/layernorm.py
  models/model_ci_tiers.md
  models/model_targets.yaml
  models/tt_transformers/PERF.md
  models/tt_transformers/tests/reference_outputs/c4ai-command-r7b-12-2024.refpt
  models/tt_transformers/tests/test_attention.py
  models/tt_transformers/tests/test_attention_prefill.py
  models/tt_transformers/tests/test_cohere2_decoder.py
  models/tt_transformers/tests/test_layernorm.py
  models/tt_transformers/tests/test_model.py
  models/tt_transformers/tt/attention.py
  models/tt_transformers/tt/ccl.py
  models/tt_transformers/tt/decoder.py
  models/tt_transformers/tt/distributed_norm.py
  models/tt_transformers/tt/model.py
  models/tt_transformers/tt/model_config.py
  tests/pipeline_reorg/models_e2e_tests.yaml
  tests/pipeline_reorg/models_unit_tests.yaml
Due: none

fix ci failure
  models/model_targets.yaml
  models/tt_transformers/tt/model_config.py
Due: none

updated time budget for command-r7b ci
  .github/time_budget.yaml
Due: none

further fixes on copilot comments
  .github/workflows/package-and-release.yaml
Due: none

update bessel ops docstring
  tests/ttnn/unit_tests/operations/eltwise/test_unary_category1_float32.py
Due: none

blackhole eltwise binary: binary_ng's sharded broadcasts keep main's routing and tile per section; no Blackhole caller runs them
  ttnn/cpp/ttnn/operations/eltwise/binary_ng/device/binary_ng_device_operation.cpp
  ttnn/cpp/ttnn/operations/eltwise/binary_ng/device/binary_ng_device_operation.hpp
  ttnn/cpp/ttnn/operations/eltwise/binary_ng/device/binary_ng_program_factory.cpp
  ttnn/cpp/ttnn/operations/eltwise/binary_ng/device/binary_ng_utils.cpp
  ttnn/cpp/ttnn/operations/eltwise/binary_ng/device/binary_ng_utils.hpp
  ttnn/cpp/ttnn/operations/eltwise/binary_ng/device/kernels_ng/compute/eltwise_binary_col_bcast.cpp
  ttnn/cpp/ttnn/operations/eltwise/binary_ng/device/kernels_ng/compute/eltwise_binary_scalar_bcast.cpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

blackhole eltwise binary: binary_ng keeps HiFi4 for a block-float SrcB and the per-face program for a multiply with both activations
  ttnn/cpp/ttnn/operations/eltwise/binary_ng/device/binary_ng_program_factory.cpp
Due: block-ttnn-pybind-changes

SDPA routing: run a short key sequence as one K chunk
  ttnn/cpp/ttnn/operations/transformer/sdpa/sdpa_recipe_blocking.cpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/sdpa_recipe_blocking.hpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

SDPA recipes: run dense and joint recipe calls as a cached device operation
  ttnn/cpp/ttnn/operations/transformer/sdpa/sdpa_recipe.cpp
Due: block-ttnn-pybind-changes

SDPA recipe tests: program-cache hits rebind every buffer; short keys route to one K chunk
  tests/ttnn/nightly/unit_tests/operations/sdpa/test_sdpa_recipes.py
  tests/ttnn/unit_tests/operations/sdpa/sdpa_recipe_test_utils.py
  tests/ttnn/unit_tests/operations/sdpa/test_sdpa_recipes.py
Due: none

SDPA precision recipes doc: short keys run as one K chunk; small encoder op times
  tech_reports/FlashAttention/SDPAPrecisionRecipes.md
Due: none

[Test Only] Stop running unit_tests_llk in the runtime unit-test pipeline (#59907)
  tests/pipeline_reorg/llk_merge_gate_tests.yaml
  tests/pipeline_reorg/runtime_unit_tests.yaml
Due: none

laguna: perf demo --batch N measures N concurrent users
  models/demos/laguna/demo/perf_demo.py
Due: none

t295 notes: A/B md5 6/6 MATCH (blx01 jobs 119, 121)
  tmp/t295/res/drv295.done
  tmp/t295/res/drv295.done.log
  tmp/t295/res/drv295.out
  tmp/t295/res/job116.log
  tmp/t295/res/job119.log
  tmp/t295/res/job121.log
Due: none

[gemma4_d_p] Short-slab prefill: sharded activations, fewer small ops (#59221)
  models/demos/gemma4_d_p/demo/text_demo_prefill.py
  models/demos/gemma4_d_p/tests/unit/test_prefill_configs.py
  models/demos/gemma4_d_p/tests/unit/test_prefill_dispatch.py
  models/demos/gemma4_d_p/tests/unit/test_standalone.py
  models/demos/gemma4_d_p/tt/attention/__init__.py
  models/demos/gemma4_d_p/tt/attention/global_kv_cache.py
  models/demos/gemma4_d_p/tt/attention/operations.py
  models/demos/gemma4_d_p/tt/common.py
  models/demos/gemma4_d_p/tt/layer.py
  models/demos/gemma4_d_p/tt/matmul_config.py
  models/demos/gemma4_d_p/tt/mlp.py
  models/demos/gemma4_d_p/tt/model.py
  models/demos/gemma4_d_p/tt/rms_norm.py
Due: none

Cut down on comments
  .github/workflows/package-and-release.yaml
Due: none

tt-project: t301 fix broker env and test id, run pytest in own group
  tt-project/t301/NOTES.md
  tt-project/t301/drv301.sh
  tt-project/t301/env.yaml
  tt-project/t301/run301.sh
Due: none

SDPA recipes: faster causal, sliding-window and chunked attention
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/kernels/compute/streaming/recipe_streaming.hpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/kernels/dataflow/reader_recipe.cpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/kernels/dataflow/recipe_key_range.hpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/kernels/dataflow/writer_recipe.cpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/sdpa_recipe.cpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

SDPA recipe tests: key ranges on small grids, key-range blocking
  tests/ttnn/nightly/unit_tests/operations/sdpa/test_sdpa_recipes.py
  tests/ttnn/unit_tests/gtests/sdpa/test_recipe_blocking.cpp
  tests/ttnn/unit_tests/operations/sdpa/sdpa_recipe_test_utils.py
Due: none

SDPA recipe blocking: model causal, sliding-window and chunked work
  ttnn/cpp/ttnn/operations/transformer/sdpa/sdpa_recipe_blocking.cpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/sdpa_recipe_blocking.hpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

SDPA precision recipes doc: edge-first K order, snake deal, K/V sharing, key-range blocking
  tech_reports/FlashAttention/SDPAPrecisionRecipes.md
Due: none

[Bug fix] Slow dispatch: event waits wait for the recording queue's workloads
  tests/tt_metal/tt_metal/test_kernels/dataflow/l1_wait_for_value_2_0.cpp
  tests/tt_metal/tt_metal/test_quasar_events.cpp
  tt_metal/distributed/distributed.cpp
  tt_metal/distributed/sd_mesh_command_queue.cpp
  tt_metal/distributed/sd_mesh_command_queue.hpp
Due: none

Allow retained coefficients in Blackhole clamped exp21f (#59733)
  tests/tt_metal/tt_metal/llk/test_sfpu_compute.cpp
  tt_metal/hw/ckernels/blackhole/metal/llk_api/llk_sfpu/ckernel_sfpu_exp.h
Due: none

round 3 eltwise binary CI (ci16): r11 real-caller A/Bs (Llama 3.1-8B P150 layer, SDXL BH modules, op replicas)
  tests/eb_r3_ci/r11.sh
  tests/eb_r3_ci/r11/off_fd_h.txt
  tests/eb_r3_ci/r11/off_ln_b.txt
  tests/eb_r3_ci/r11/off_ln_h.txt
  tests/eb_r3_ci/r11/off_sa_b.txt
  tests/eb_r3_ci/r11/off_sdpa_b.txt
  tests/eb_r3_ci/r11/off_sm_b.txt
  tests/eb_r3_ci/test_eb_r11.py
Due: none

topk_large_indices: a K' 2048 row's last segment is split only from 18 chunks
  ttnn/cpp/ttnn/operations/experimental/topk_large_indices/device/kernels/compute.cpp
Due: block-ttnn-pybind-changes

Path conditions:
  block-ttnn-pybind-changes: any of: ^ttnn/
  detect-legacy-device-op: any of: ^ttnn/.*\.hpp$
  validate-golden-csv-columns: any of: ^tests/tt_metal/tt_metal/perf_microbenchmark/routing/golden/.*bandwidth.*\.csv$
