Repository tenstorrent/tt-metal: changes, and which pre-commit hooks are due for each by the changed paths.
All: block-ttnn-pybind-changes, detect-legacy-device-op, validate-golden-csv-columns

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v3.2.0
  hooks:
    - id: trailing-whitespace
      exclude: \.patch$
    - id: end-of-file-fixer
      exclude: \.patch$
    - id: check-yaml
      args: ["--unsafe"]
    - id: check-added-large-files
# Using this mirror lets us use mypyc-compiled black, which is about 2x faster
- repo: https://github.com/psf/black-pre-commit-mirror
  rev: 23.10.1
  hooks:
    - id: black
      language_version: python3
- repo: https://github.com/PyCQA/autoflake
  rev: v2.3.1
  hooks:
    - id: autoflake
      args: [--remove-all-unused-imports, --in-place, --recursive, --exclude=__init__.py]
      files: ^models/  # Run only on files in the models directory
- repo: https://github.com/pycqa/isort
  rev: 5.13.2
  hooks:
    - id: isort
      files: ^models/
      exclude: ^models/(demos/llama3_70b_galaxy|experimental)/
- repo: https://github.com/BlankSpruce/gersemi
  rev: 0.16.2
  hooks:
    - id: gersemi
- repo: https://github.com/adrienverge/yamllint.git
  rev: v1.35.1
  hooks:
    - id: yamllint
- repo: https://github.com/pre-commit/mirrors-clang-format
  rev: v19.1.4
  hooks:
    - id: clang-format
      entry: git-clang-format
      require_serial: true
      types_or: [c++, c]
      args: ["--style=file"]
- repo: local
  hooks:
    - id: validate-metalium-includes
      name: validate-metalium-includes
      entry: python3 scripts/validate_api/validate_includes.py tt_metal/api --check-ttnn-forwards
      language: system
      pass_filenames: false
    - id: validate-metalium-deprecation
      name: validate-metalium-deprecation
      entry: python3 scripts/validate_api/validate_deprecation.py tt_metal/api origin/main
      language: system
      pass_filenames: false
- repo: local
  hooks:
    - id: check-torch-imports-in-ttnn
      name: Verify that there is no global torch import in ttnn
      entry: python3 scripts/validate_no_global_torch_imports.py
      language: system
      pass_filenames: false
- repo: local
  hooks:
    - id: block-ttnn-pybind-changes
      name: Prevent edits to frozen pybind11 sources under ttnn
      entry: python3 scripts/block_ttnn_pybind_changes.py
      language: system
      pass_filenames: true
      files: ^ttnn/
- repo: local
  hooks:
    - id: convert-notebooks-to-py
      name: Convert .ipynb to .py for ttnn basic examples
      entry: python3 scripts/convert_notebooks_to_python.py
      language: system
- repo: local
  hooks:
    - id: detect-legacy-device-op
      name: Detect legacy device operation classes in newly added files
      entry: python3 scripts/detect_legacy_device_op.py --check-new-only
      language: system
      types: [file]
      files: ^ttnn/.*\.hpp$
      pass_filenames: true
      require_serial: true
- repo: local
  hooks:
    - id: validate-golden-csv-columns
      name: Validate golden bandwidth CSV column headers
      entry: bash .github/scripts/utils/validate_golden_csv_columns.sh
      language: system
      pass_filenames: false
      files: ^tests/tt_metal/tt_metal/perf_microbenchmark/routing/golden/.*bandwidth.*\.csv$

Set explicit `O3` opt on Metal 2.0 ported compute kernels (#54454)
  ttnn/cpp/ttnn/operations/copy/typecast/device/typecast_program_factory.cpp
  ttnn/cpp/ttnn/operations/copy/typecast/device/typecast_rm_chunked_program_factory.cpp
  ttnn/cpp/ttnn/operations/copy/typecast/device/typecast_sharded_program_factory.cpp
  ttnn/cpp/ttnn/operations/data_movement/clone/device/clone_program_factory.cpp
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/rotary_embedding_indexed/device/rotary_embedding_indexed_device_operation.cpp
  ttnn/cpp/ttnn/operations/experimental/reduction/integral_image/device/intimg_program_factory.cpp
  ttnn/cpp/ttnn/operations/experimental/transformer/rotary_embedding_llama/device/rotary_embedding_llama_multi_core_prefill_sharded_program_factory.cpp
  ttnn/cpp/ttnn/operations/experimental/transformer/rotary_embedding_llama/device/rotary_embedding_llama_multi_core_program_factory.cpp
  ttnn/cpp/ttnn/operations/experimental/transformer/rotary_embedding_llama/device/rotary_embedding_llama_sharded_program_factory.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_abs_pow/device/moreh_abs_pow_program_factory.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_dot/device/moreh_dot_program_factory.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_dot_backward/device/moreh_dot_backward_program_factory.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_matmul/device/moreh_matmul_program_factory.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_mean_backward/device/moreh_mean_backward_program_factory.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_norm_backward/device/moreh_norm_backward_program_factory.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_sum_backward/device/moreh_sum_backward_program_factory.cpp
Due: block-ttnn-pybind-changes

corpus: residency-merge-rename knob registration + addrsqrt R1(b) rename-successor discharge (lane KP)
  tt_metal/tt-llk/tests/corpus/sweep_2x2.py
  tt_metal/tt-llk/tests/corpus/sweep_2x2_ops.tsv
Due: none

corpus: reassoc-mad-restructure knob registration + trig WIN re-book adjudication (lane KO)
  tt_metal/tt-llk/tests/corpus/sweep_2x2.py
Due: none

#51273: GLM changes
  models/demos/deepseek_v3_d_p/tests/test_prefill_transformer_chunked.py
  models/demos/deepseek_v3_d_p/tt/mla/indexer.py
  models/demos/deepseek_v3_d_p/tt/mla/mla.py
  models/demos/deepseek_v3_d_p/tt/tt_prefill_block.py
  models/demos/deepseek_v3_d_p/tt/tt_prefill_runtime.py
  models/demos/deepseek_v3_d_p/tt/tt_prefill_transformer.py
  tests/pipeline_reorg/blaze_models_prefill_tests.yaml
  tests/ttnn/nightly/unit_tests/operations/experimental/indexer_score/ring_indexer_score_test_utils.py
  tests/ttnn/nightly/unit_tests/operations/experimental/test_ring_indexer_score_dsa_metadata.py
  tests/ttnn/nightly/unit_tests/operations/experimental/test_topk_large_indices_metadata.py
  ttnn/cpp/ttnn/operations/experimental/indexer_score/device/indexer_score_causal_geometry.hpp
  ttnn/cpp/ttnn/operations/experimental/indexer_score/device/indexer_score_device_operation.cpp
  ttnn/cpp/ttnn/operations/experimental/indexer_score/device/indexer_score_device_operation.hpp
  ttnn/cpp/ttnn/operations/experimental/indexer_score/device/indexer_score_device_operation_types.hpp
  ttnn/cpp/ttnn/operations/experimental/indexer_score/device/indexer_score_host_common.hpp
  ttnn/cpp/ttnn/operations/experimental/indexer_score/device/indexer_score_program_factory.cpp
  ttnn/cpp/ttnn/operations/experimental/indexer_score/device/kernels/compute_indexer_score.cpp
  ttnn/cpp/ttnn/operations/experimental/indexer_score/device/kernels/reader_indexer_score.cpp
  ttnn/cpp/ttnn/operations/experimental/indexer_score/device/kernels/writer_indexer_score.cpp
  ttnn/cpp/ttnn/operations/experimental/indexer_score/device/ring_indexer_score_dsa_program_factory.cpp
  ttnn/cpp/ttnn/operations/experimental/indexer_score/indexer_score_nanobind.cpp
  ttnn/cpp/ttnn/operations/experimental/topk_large_indices/device/kernels/compute.cpp
  ttnn/cpp/ttnn/operations/experimental/topk_large_indices/device/kernels/reader.cpp
  ttnn/cpp/ttnn/operations/experimental/topk_large_indices/device/topk_large_indices_device_operation.cpp
  ttnn/cpp/ttnn/operations/experimental/topk_large_indices/device/topk_large_indices_device_operation.hpp
  ttnn/cpp/ttnn/operations/experimental/topk_large_indices/device/topk_large_indices_device_operation_types.hpp
  ttnn/cpp/ttnn/operations/experimental/topk_large_indices/device/topk_large_indices_program_factory.cpp
  ttnn/cpp/ttnn/operations/experimental/topk_large_indices/topk_large_indices_nanobind.cpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

neighbor-pad: skip the fabric startup barrier on persistent output (#55008)
  ttnn/cpp/ttnn/operations/experimental/ccl/neighbor_pad_async/device/kernels/minimal_default_writer.cpp
  ttnn/cpp/ttnn/operations/experimental/ccl/neighbor_pad_async/device/neighbor_pad_async_device_operation_types.hpp
  ttnn/cpp/ttnn/operations/experimental/ccl/neighbor_pad_async/device/neighbor_pad_async_program_factory.cpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

[models] Tune Llama 3.1 8B P150 DRAM readers
  models/model_targets.yaml
  models/tt_transformers/tests/test_model_config_utils.py
  models/tt_transformers/tt/model_config.py
Due: none

Avoid Wormhole SrcB format override
  tt_metal/tt-llk/tt_llk_wormhole_b0/llk_lib/experimental/llk_math_eltwise_binary_custom.h
Due: none

Pass TensorShape by value across LLK assert paths
  tt_metal/hw/ckernels/blackhole/metal/llk_api/experimental/llk_math_reduce_custom_api.h
  tt_metal/hw/ckernels/blackhole/metal/llk_api/experimental/llk_math_reduce_custom_runtime_api.h
  tt_metal/hw/ckernels/blackhole/metal/llk_api/llk_math_reduce_api.h
  tt_metal/hw/ckernels/quasar/metal/llk_api/llk_math_reduce_api.h
  tt_metal/hw/ckernels/wormhole_b0/metal/llk_api/experimental/llk_math_reduce_custom_api.h
  tt_metal/hw/ckernels/wormhole_b0/metal/llk_api/experimental/llk_math_reduce_custom_runtime_api.h
  tt_metal/hw/ckernels/wormhole_b0/metal/llk_api/llk_math_reduce_api.h
  tt_metal/tt-llk/tt_llk_blackhole/llk_lib/experimental/llk_math_eltwise_binary_custom.h
  tt_metal/tt-llk/tt_llk_blackhole/llk_lib/experimental/llk_math_mul_reduce_scalar.h
  tt_metal/tt-llk/tt_llk_blackhole/llk_lib/experimental/llk_math_reduce_custom.h
  tt_metal/tt-llk/tt_llk_blackhole/llk_lib/experimental/llk_math_reduce_runtime_custom.h
  tt_metal/tt-llk/tt_llk_blackhole/llk_lib/experimental/llk_unpack_AB_reduce_custom.h
  tt_metal/tt-llk/tt_llk_blackhole/llk_lib/experimental/llk_unpack_AB_reduce_custom_runtime.h
  tt_metal/tt-llk/tt_llk_blackhole/llk_lib/experimental/llk_unpack_AB_sub_bcast_col_custom.h
  tt_metal/tt-llk/tt_llk_blackhole/llk_lib/llk_math_reduce.h
  tt_metal/tt-llk/tt_llk_blackhole/llk_lib/llk_unpack_AB_reduce.h
  tt_metal/tt-llk/tt_llk_quasar/llk_lib/experimental/llk_math_eltwise_binary_custom.h
  tt_metal/tt-llk/tt_llk_quasar/llk_lib/experimental/llk_unpack_AB_sub_bcast_col_custom.h
  tt_metal/tt-llk/tt_llk_quasar/llk_lib/llk_math_reduce.h
  tt_metal/tt-llk/tt_llk_quasar/llk_lib/llk_math_unary_broadcast.h
  tt_metal/tt-llk/tt_llk_quasar/llk_lib/llk_unpack_reduce.h
  tt_metal/tt-llk/tt_llk_quasar/llk_lib/llk_unpack_reduce_col_tilizeA_strided.h
  tt_metal/tt-llk/tt_llk_quasar/llk_lib/llk_unpack_unary_operand.h
  tt_metal/tt-llk/tt_llk_wormhole_b0/llk_lib/experimental/llk_math_eltwise_binary_custom.h
  tt_metal/tt-llk/tt_llk_wormhole_b0/llk_lib/experimental/llk_math_mul_reduce_scalar.h
  tt_metal/tt-llk/tt_llk_wormhole_b0/llk_lib/experimental/llk_math_reduce_custom.h
  tt_metal/tt-llk/tt_llk_wormhole_b0/llk_lib/experimental/llk_math_reduce_runtime_custom.h
  tt_metal/tt-llk/tt_llk_wormhole_b0/llk_lib/experimental/llk_unpack_AB_reduce_custom.h
  tt_metal/tt-llk/tt_llk_wormhole_b0/llk_lib/experimental/llk_unpack_AB_reduce_custom_runtime.h
  tt_metal/tt-llk/tt_llk_wormhole_b0/llk_lib/experimental/llk_unpack_AB_sub_bcast_col_custom.h
  tt_metal/tt-llk/tt_llk_wormhole_b0/llk_lib/llk_math_reduce.h
  tt_metal/tt-llk/tt_llk_wormhole_b0/llk_lib/llk_unpack_AB.h
  tt_metal/tt-llk/tt_llk_wormhole_b0/llk_lib/llk_unpack_AB_reduce.h
Due: none

vsa_sdpa v3: head-group leader fetch + NoC pull + fused ping-pong visit engine
  run_debug_watcher.sh
  run_vsa_suite_safe.sh
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/kernels/compute/vsa_sdpa_stream_compute.cpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/kernels/dataflow/vsa_sdpa_stream_reader.cpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/kernels/dataflow/vsa_sdpa_stream_writer.cpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/vsa_sdpa_stream_program_factory.cpp
  wait_build.sh
Due: block-ttnn-pybind-changes

[Bug Fix] Fix mul reduce scalar zero-flag initialization (#54970)
  tests/tt_metal/tt_metal/llk/test_sum_reduce_scalar.cpp
  tt_metal/tt-llk/tt_llk_blackhole/llk_lib/experimental/llk_math_mul_reduce_scalar.h
  tt_metal/tt-llk/tt_llk_wormhole_b0/llk_lib/experimental/llk_math_mul_reduce_scalar.h
Due: none

rebase and add flag to sim build
  tt_metal/hw/inc/api/core_local_mem.h
  tt_metal/hw/inc/api/dataflow/circular_buffer.h
  tt_metal/hw/inc/api/dataflow/dataflow_buffer.h
  tt_metal/hw/inc/api/dataflow/noc.h
  tt_metal/hw/inc/internal/tt-2xx/quasar/noc_nonblocking_api.h
  tt_metal/jit_build/build.cpp
Due: none

Document Blackhole MOVB2D FP32 behaviour
  tt_metal/tt-llk/tt_llk_blackhole/llk_lib/experimental/llk_math_eltwise_binary_custom.h
Due: none

[Cleanup] Quasar single-device tests modernization (#52770)
  tests/tt_metal/tt_metal/api/dataflow_buffer/test_dataflow_buffer_scoped_lock_cache.cpp
  tests/tt_metal/tt_metal/api/test_runtime_args.cpp
  tests/tt_metal/tt_metal/common/device_fixture.hpp
  tests/tt_metal/tt_metal/data_movement/device_pcie_loopback/test_device_pcie_loopback.cpp
  tests/tt_metal/tt_metal/data_movement/quasar_cache/test_quasar_cache.cpp
  tests/tt_metal/tt_metal/data_movement/quasar_cache_perf/test_quasar_cache_perf.cpp
  tests/tt_metal/tt_metal/data_movement/quasar_examples/quasar_idma/test_idma_example.cpp
  tests/tt_metal/tt_metal/dispatch/dispatch_program/test_dispatch.cpp
  tests/tt_metal/tt_metal/llk/test_broadcast.cpp
  tests/tt_metal/tt_metal/llk/test_mxfp4_typecast.cpp
  tests/tt_metal/tt_metal/llk/test_mxfp6_typecast.cpp
  tests/tt_metal/tt_metal/llk/test_mxfp8_typecast.cpp
  tests/tt_metal/tt_metal/llk/test_mxint_typecast.cpp
  tests/tt_metal/tt_metal/llk/test_sfpu_compute.cpp
  tests/tt_metal/tt_metal/llk/test_transpose.cpp
  tests/tt_metal/tt_metal/llk/test_unary_broadcast.cpp
  tests/tt_metal/tt_metal/llk/test_untilize_tilize.cpp
  tests/tt_metal/tt_metal/test_bmm.cpp
  tests/tt_metal/tt_metal/test_dm_loopback.cpp
  tests/tt_metal/tt_metal/test_globals_tls.cpp
  tests/tt_metal/tt_metal/test_multi_dm_add_two_ints.cpp
  tests/tt_metal/tt_metal/test_pack_relu.cpp
  tests/tt_metal/tt_metal/test_quasar_compute_kernels.cpp
  tests/tt_metal/tt_metal/test_quasar_events.cpp
  tests/tt_metal/tt_metal/test_quasar_mesh_workloads.cpp
  tests/tt_metal/tt_metal/test_quasar_semaphores.cpp
  tests/tt_metal/tt_metal/test_quasar_sub_devices.cpp
  tests/tt_metal/tt_metal/test_quasar_trace.cpp
  tests/tt_metal/tt_metal/test_single_dm_l1_write.cpp
Due: none

Allocator: collect before closing the mesh in the range lockstep fixture
  tests/ttnn/unit_tests/range_lockstep_allocation/conftest.py
Due: none

a refused round renews the credential and carries on, instead of ending the run
  models/experimental/perf_automation/cc_optimize/run.py
  models/experimental/perf_automation/tests/test_a_refused_round_is_not_a_round_that_found_nothing.py
Due: none

#0: CI updates
  .github/time_budget.yaml
  models/demos/deepseek_v3_d_p/tests/test_prefill_transformer_chunked.py
  tests/pipeline_reorg/blaze_models_prefill_tests.yaml
  tests/ttnn/nightly/unit_tests/operations/experimental/indexer_score/test_ring_indexer_score_dsa_metadata.py
Due: none

Require FP32 DEST for two-pass LayerNorm
  tests/ttnn/unit_tests/gtests/test_layernorm_stats_selector.cpp
  ttnn/cpp/ttnn/operations/normalization/layernorm/device/layernorm_op_multi_core.cpp
  ttnn/cpp/ttnn/operations/normalization/layernorm/device/layernorm_stats_selector.hpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

Narrowed test scope to be 9 min test
  .github/workflows/blaze-merge-gate.yaml
Due: none

Remove PAT checks no longer needed
  .github/workflows/blaze-merge-gate.yaml
Due: none

Improve comment
  .github/workflows/blaze-merge-gate.yaml
Due: none

[Prefill] One engine-owned persistent socket-input buffer, for every model
  models/demos/common/prefill/docs/ADDING_A_PREFILL_MODEL.md
  models/demos/common/prefill/runners/prefill_runner.py
  models/demos/deepseek_v3_d_p/tt/tt_prefill_runtime.py
  models/demos/gpt_oss_d_p/tt/tt_prefill_runtime.py
  models/demos/minimax_m3/tt/tt_prefill_runtime.py
Due: none

FINDINGS N+67: the profiler costs up to -15% on large-packet fabric; the "pre-existing" claim was wrong
  tools/drisc_drain/FINDINGS.md
Due: none

Update profiling
  models/experimental/deepseek_v4_flash/tests/test_full_model_decode_demo.py
Due: none

Keep LayerNorm reader and compute kernels paired
  tests/ttnn/unit_tests/operations/fused/test_layer_norm.py
  ttnn/cpp/ttnn/operations/normalization/layernorm/device/layernorm_op_multi_core.cpp
Due: block-ttnn-pybind-changes

Restrict LayerNorm affine multicast to dense grids
  ttnn/cpp/ttnn/operations/normalization/layernorm/device/layernorm_op_multi_core.cpp
Due: block-ttnn-pybind-changes

Preserve zero flag for compensated LayerNorm
  tt_metal/tt-llk/tt_llk_blackhole/llk_lib/experimental/llk_math_eltwise_binary_custom.h
Due: none

Document scalar broadcast register invalidation
  tt_metal/tt-llk/tt_llk_blackhole/common/inc/sfpu/ckernel_sfpu_binary_bcast.h
  tt_metal/tt-llk/tt_llk_wormhole_b0/common/inc/sfpu/ckernel_sfpu_binary_bcast.h
Due: none

Gate LayerNorm state mirrors on their aliases
  ttnn/cpp/ttnn/operations/normalization/layernorm/device/kernels/compute/layernorm_large_tensor_welford.cpp
Due: block-ttnn-pybind-changes

Disable unsupported distributed GroupNorm SFPU alias
  ttnn/cpp/ttnn/operations/experimental/ccl/dit_fused_distributed_groupnorm/device/dit_fused_distributed_groupnorm_program_factory.cpp
Due: block-ttnn-pybind-changes

out of budget is not out of credentials, and renewing cannot fix it
  models/experimental/perf_automation/agent/probes.py
  models/experimental/perf_automation/cc_optimize/run.py
  models/experimental/perf_automation/tests/test_a_refused_round_is_not_a_round_that_found_nothing.py
Due: none

Restore Blackhole SDXL VAE coverage
  models/demos/stable_diffusion_xl_base/vae/tests/pcc/test_module_tt_resnetblock2d.py
  models/demos/stable_diffusion_xl_base/vae/tests/pcc/test_module_tt_upblock2d.py
Due: none

Skip redundant single-group state switches
  tests/ttnn/unit_tests/operations/fused/test_group_norm_DRAM.py
  ttnn/cpp/ttnn/operations/normalization/groupnorm/device/kernels/compute/welford_groupnorm.cpp
  ttnn/cpp/ttnn/operations/normalization/groupnorm/device/kernels/compute/welford_groupnorm_sharded_v2.cpp
Due: block-ttnn-pybind-changes

Remove dead GroupNorm writer reciprocal args
  ttnn/cpp/ttnn/operations/normalization/groupnorm/device/groupnorm_mcast_program_factory.cpp
  ttnn/cpp/ttnn/operations/normalization/groupnorm/device/groupnorm_no_mcast_program_factory.cpp
Due: block-ttnn-pybind-changes

#51433: Consolidate specless sharded-output shard-spec synthesis into a shared populated-grid helper
  tests/ttnn/nightly/unit_tests/operations/data_movement/test_universal_input_tm_fold.py
  tests/ttnn/nightly/unit_tests/operations/data_movement/test_universal_input_tm_repeat.py
  tests/ttnn/unit_tests/operations/data_movement/test_indexed_fill.py
  tests/ttnn/unit_tests/operations/eltwise/test_unary_sharding.py
  ttnn/cpp/ttnn/operations/data_movement/CMakeLists.txt
  ttnn/cpp/ttnn/operations/data_movement/common/synthesize_output_shard_spec.cpp
  ttnn/cpp/ttnn/operations/data_movement/common/synthesize_output_shard_spec.hpp
  ttnn/cpp/ttnn/operations/data_movement/fold/device/fold_device_op.cpp
  ttnn/cpp/ttnn/operations/data_movement/indexed_fill/device/indexed_fill_utils.cpp
  ttnn/cpp/ttnn/operations/data_movement/indexed_fill/device/indexed_fill_utils.hpp
  ttnn/cpp/ttnn/operations/data_movement/repeat/device/repeat_utils.cpp
  ttnn/cpp/ttnn/operations/data_movement/sources.cmake
  ttnn/cpp/ttnn/operations/data_movement/transpose/device/transpose_utils.cpp
  ttnn/cpp/ttnn/operations/eltwise/unary/common/unary_utils.cpp
  ttnn/cpp/ttnn/operations/eltwise/unary/common/unary_utils.hpp
  ttnn/cpp/ttnn/operations/eltwise/unary/device/unary_device_operation.cpp
  ttnn/cpp/ttnn/operations/experimental/quasar/transpose/device/transpose_utils.cpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

feat(jit): build BRISC firmware from a source named by TT_METAL_FW_SRC_BRISC
  tt_metal/jit_build/build.cpp
  tt_metal/llrt/hal/tt-1xx/hal_1xx_common.cpp
Due: none

Drop redundant Blackhole Welford hazard NOPs
  tt_metal/tt-llk/common/ckernel_sfpu_welfords_common.h
Due: none

profiler: apply the published cross-device correction to the drawn FSYNC timestamps
  tt_metal/tools/profiler/perf_debug_profiler.cpp
Due: none

Document two-pass Compute APIs
  tt_metal/hw/inc/api/compute/welford.h
Due: none

Name LayerNorm statistics crossovers
  ttnn/cpp/ttnn/operations/normalization/layernorm/device/layernorm_stats_selector.hpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op
