Repository tenstorrent/tt-metal: changes, and which pre-commit hooks are due for each by the changed paths.
All: block-ttnn-pybind-changes, detect-legacy-device-op, validate-golden-csv-columns

block-ttnn-pybind-changes:
  name: Prevent edits to frozen pybind11 sources under ttnn
  entry: python3 scripts/block_ttnn_pybind_changes.py
  language: system
  pass_filenames: true

detect-legacy-device-op:
  name: Detect legacy device operation classes in newly added files
  entry: python3 scripts/detect_legacy_device_op.py --check-new-only
  language: system
  pass_filenames: true
  require_serial: true

validate-golden-csv-columns:
  name: Validate golden bandwidth CSV column headers
  entry: bash .github/scripts/utils/validate_golden_csv_columns.sh
  language: system
  pass_filenames: false

fix(tt_metal): add PCIe BDF alias for bh-qb-10 quietbox
  tt_metal/fabric/physical_system_discovery.cpp
Due: none

seamless_m4t_v2(phase9): tracy characterization + targeted optimization
  models/demos/facebook_seamless_m4t_v2_large/BRINGUP_LOG.md
  models/demos/facebook_seamless_m4t_v2_large/PERF_NOTES.md
  models/demos/facebook_seamless_m4t_v2_large/tt/profile_t2tt.py
  models/demos/facebook_seamless_m4t_v2_large/tt/text_decoder.py
  models/demos/facebook_seamless_m4t_v2_large/tt/text_generator.py
Due: none

Fix syntax error: remove leftover import from reverted filtering
  tests/sweep_framework/framework/compute_validation_sweep_matrix.py
Due: none

[incremental-planner] layer_norm_rm: Phase 0 op design + acceptance test
  tests/ttnn/unit_tests/operations/layer_norm_rm/__init__.py
  tests/ttnn/unit_tests/operations/layer_norm_rm/test_layer_norm_rm.py
  ttnn/ttnn/operations/layer_norm_rm/op_design.md
Due: block-ttnn-pybind-changes

[incremental-planner] layer_norm_rm: pipeline_logs artifacts
  ttnn/ttnn/operations/layer_norm_rm/pipeline_logs/current_phase.txt
  ttnn/ttnn/operations/layer_norm_rm/pipeline_logs/phases/planner_output.json
Due: block-ttnn-pybind-changes

ring_joint_sdpa handoff: tests for ND-sharded K input and index-based K access
  models/demos/deepseek_v3_d_p/tests/test_ring_joint_sdpa_handoff.py
Due: none

ring_joint_sdpa: allow oversize persistent K/V buffers (proposed fix + tests)
  models/demos/deepseek_v3_d_p/tests/test_ring_joint_sdpa_handoff.py
  ttnn/cpp/ttnn/operations/experimental/ccl/ring_attention_all_gather_async/device/ring_attention_all_gather_async_device_operation.cpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/ring_joint_sdpa_device_operation.cpp
Due: block-ttnn-pybind-changes

[Galaxy] tmp: pre-download Llama-3.1-8B-Instruct tokenizer for tttv2
  tests/pipeline_reorg/galaxy_unit_tests.yaml
Due: none

[ttnn-implementer] PASS: layer_norm_rm Phase 0 — RM fp32 LayerNorm with optional gamma/beta
  ttnn/ttnn/operations/layer_norm/__init__.py
  ttnn/ttnn/operations/layer_norm_rm/__init__.py
  ttnn/ttnn/operations/layer_norm_rm/agent_logs/ttnn-implementer_breadcrumbs.jsonl
  ttnn/ttnn/operations/layer_norm_rm/kernels/layer_norm_rm_compute.cpp
  ttnn/ttnn/operations/layer_norm_rm/kernels/layer_norm_rm_reader.cpp
  ttnn/ttnn/operations/layer_norm_rm/kernels/layer_norm_rm_writer.cpp
  ttnn/ttnn/operations/layer_norm_rm/layer_norm_rm.py
  ttnn/ttnn/operations/layer_norm_rm/layer_norm_rm_program_descriptor.py
Due: block-ttnn-pybind-changes

[ttnn-implementer] layer_norm_rm: pipeline_logs artifacts from Phase 0 implementation run
  ttnn/ttnn/operations/layer_norm_rm/pipeline_logs/current_phase.txt
  ttnn/ttnn/operations/layer_norm_rm/pipeline_logs/phases/implementer_output.json
  ttnn/ttnn/operations/layer_norm_rm/pipeline_logs/phases/planner_output.json
Due: block-ttnn-pybind-changes

Fix: restore matrix_runner_config import block broken by removal
  tests/sweep_framework/framework/compute_validation_sweep_matrix.py
Due: none

Disable failing conv1d replicate pad case (#45393)
  tests/ttnn/unit_tests/operations/conv/test_conv1d.py
Due: none

seamless_m4t_v2(phase9b): metal trace+replay infra -- partial
  models/demos/facebook_seamless_m4t_v2_large/PERF_NOTES.md
  models/demos/facebook_seamless_m4t_v2_large/tt/kv_cache.py
  models/demos/facebook_seamless_m4t_v2_large/tt/profile_t2tt.py
  models/demos/facebook_seamless_m4t_v2_large/tt/sinusoidal_positional_embedding.py
  models/demos/facebook_seamless_m4t_v2_large/tt/text_decoder.py
  models/demos/facebook_seamless_m4t_v2_large/tt/text_generator.py
Due: none

Reduce and binary helpers
  ttnn/cpp/ttnn/kernel_lib/binary_op_analysis.md
  ttnn/cpp/ttnn/kernel_lib/binary_op_helpers.hpp
  ttnn/cpp/ttnn/kernel_lib/binary_op_helpers.inl
  ttnn/cpp/ttnn/kernel_lib/common_types.hpp
  ttnn/cpp/ttnn/kernel_lib/copy_tile_helpers.hpp
  ttnn/cpp/ttnn/kernel_lib/copy_tile_helpers.inl
  ttnn/cpp/ttnn/kernel_lib/reduce_api_improvements.md
  ttnn/cpp/ttnn/kernel_lib/reduce_asserts_plan.md
  ttnn/cpp/ttnn/kernel_lib/reduce_helpers_plan.md
  ttnn/cpp/ttnn/kernel_lib/reduce_includes_analysis.md
  ttnn/cpp/ttnn/kernel_lib/reduce_scaler_helpers_plan.md
  ttnn/cpp/ttnn/kernel_lib/tile_shape_migration.md
  ttnn/cpp/ttnn/operations/normalization/layernorm/device/kernels/compute/layernorm_binary_helpers_feasibility.md
Due: block-ttnn-pybind-changes, detect-legacy-device-op

Update .gitignore and run_safe_pytest.sh
  .gitignore
Due: none

Add nanobind bindings for program descriptors and tensor utilities
  .gitmodules
  tests/ttnn/unit_tests/tensor/test_tensor_accessor_args.py
  ttnn/cpp/ttnn-nanobind/tensor.cpp
  ttnn/cpp/ttnn-nanobind/tensor_accessor_args.cpp
Due: block-ttnn-pybind-changes

Add agent tooling and simulator infrastructure
  .claude
  eval
  scripts/nuke_op.sh
  scripts/tt-probe.sh
  tt_metal/llrt/llrt.cpp
  tt_metal/llrt/rtoptions.cpp
  tt_metal/llrt/rtoptions.hpp
Due: none

Add tilize dataflow helpers and toy_tilize_untilize op
  tests/ttnn/unit_tests/operations/toy_tilize_untilize/__init__.py
  tests/ttnn/unit_tests/operations/toy_tilize_untilize/test_toy_tilize_untilize.py
  ttnn/cpp/ttnn/kernel_lib/tilize_helpers_dataflow.hpp
  ttnn/cpp/ttnn/kernel_lib/tilize_helpers_dataflow.inl
  ttnn/ttnn/operations/toy_tilize_untilize/__init__.py
  ttnn/ttnn/operations/toy_tilize_untilize/kernels/compute.cpp
  ttnn/ttnn/operations/toy_tilize_untilize/kernels/reader.cpp
  ttnn/ttnn/operations/toy_tilize_untilize/kernels/writer.cpp
  ttnn/ttnn/operations/toy_tilize_untilize/toy_tilize_untilize.py
  ttnn/ttnn/operations/toy_tilize_untilize/toy_tilize_untilize_program_descriptor.py
Due: block-ttnn-pybind-changes, detect-legacy-device-op

helper agents
  ttnn/cpp/ttnn/kernel_lib/agents/llk_catalog_agent.md
  ttnn/cpp/ttnn/kernel_lib/agents/llk_device_validation_agent.md
  ttnn/cpp/ttnn/kernel_lib/agents/llk_helper_proposal_agent.md
  ttnn/cpp/ttnn/kernel_lib/agents/llk_helpers_conventions.md
  ttnn/cpp/ttnn/kernel_lib/agents/llk_helpers_hq.md
  ttnn/cpp/ttnn/kernel_lib/agents/llk_helpers_pipeline.md
  ttnn/cpp/ttnn/kernel_lib/agents/llk_investigation_agent.md
  ttnn/cpp/ttnn/kernel_lib/agents/llk_review_fix_agent.md
  ttnn/cpp/ttnn/kernel_lib/agents/llk_validation_agent.md
  ttnn/cpp/ttnn/kernel_lib/agents/llk_verification_agent.md
Due: block-ttnn-pybind-changes

unary/binary sfpu helper
  ttnn/cpp/ttnn/kernel_lib/sfpu_helpers.hpp
  ttnn/cpp/ttnn/kernel_lib/sfpu_helpers.inl
  ttnn/cpp/ttnn/kernel_lib/sfpu_helpers_bitwise.hpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

[Galaxy] tmp: write HF prefetch via heredoc to avoid quote-stripping
  tests/pipeline_reorg/galaxy_unit_tests.yaml
Due: none

run_safe_pytest: surface JSON triage, defer ttexalens warning, skip version check
  scripts/run_safe_pytest.sh
Due: none

Fix rebase: reapply dropped CI infra changes to perf/fast-dispatch workflows
  .github/workflows/fast-dispatch-full-regressions-and-models-impl.yaml
  .github/workflows/perf-device-models-impl.yaml
  .github/workflows/perf-models-impl.yaml
Due: none

kernel_lib/binary_op_helpers: port in-place ops, broadcast guards, assertion suite
  ttnn/cpp/ttnn/kernel_lib/binary_op_helpers.hpp
  ttnn/cpp/ttnn/kernel_lib/binary_op_helpers.inl
Due: block-ttnn-pybind-changes, detect-legacy-device-op

ttnn: add toy_binary_in_place op + tests
  tests/ttnn/unit_tests/operations/toy_binary_in_place/test_toy_binary_in_place.py
  ttnn/ttnn/operations/toy_binary_in_place/__init__.py
  ttnn/ttnn/operations/toy_binary_in_place/kernels/compute.cpp
  ttnn/ttnn/operations/toy_binary_in_place/kernels/reader.cpp
  ttnn/ttnn/operations/toy_binary_in_place/kernels/writer.cpp
  ttnn/ttnn/operations/toy_binary_in_place/toy_binary_in_place.py
  ttnn/ttnn/operations/toy_binary_in_place/toy_binary_in_place_program_descriptor.py
Due: block-ttnn-pybind-changes

Fix sfpu_helpers.inl rebase: drop approx template arg from erfc
  ttnn/cpp/ttnn/kernel_lib/sfpu_helpers.inl
Due: block-ttnn-pybind-changes

added binary min max
  ttnn/cpp/ttnn/kernel_lib/sfpu_helpers.hpp
  ttnn/cpp/ttnn/kernel_lib/sfpu_helpers.inl
Due: block-ttnn-pybind-changes, detect-legacy-device-op

tt-probe: align with run_safe_pytest --dev / JSON triage / hang detection
  scripts/tt-probe.sh
Due: none

Fix Exp<> init: drop fast arg from exp_tile_init after fast_and_approx removal
  ttnn/cpp/ttnn/kernel_lib/sfpu_helpers.inl
Due: block-ttnn-pybind-changes

kernel_lib/reduce_helpers: add partial-tile two-scaler-tile API
  ttnn/cpp/ttnn/kernel_lib/reduce_helpers_compute.hpp
  ttnn/cpp/ttnn/kernel_lib/reduce_helpers_compute.inl
  ttnn/cpp/ttnn/kernel_lib/reduce_helpers_dataflow.hpp
  ttnn/cpp/ttnn/kernel_lib/reduce_helpers_dataflow.inl
Due: block-ttnn-pybind-changes, detect-legacy-device-op

ttnn: add toy_reduce_partial op + tests
  tests/ttnn/unit_tests/operations/toy_reduce_partial/test_toy_reduce_partial.py
  ttnn/ttnn/operations/toy_reduce_partial/__init__.py
  ttnn/ttnn/operations/toy_reduce_partial/kernels/compute.cpp
  ttnn/ttnn/operations/toy_reduce_partial/kernels/reader.cpp
  ttnn/ttnn/operations/toy_reduce_partial/kernels/writer.cpp
  ttnn/ttnn/operations/toy_reduce_partial/toy_reduce_partial.py
  ttnn/ttnn/operations/toy_reduce_partial/toy_reduce_partial_program_descriptor.py
Due: block-ttnn-pybind-changes

kernel_lib/docs: add tilize_untilize_reference.md
  ttnn/cpp/ttnn/kernel_lib/docs/tilize_untilize_reference.md
Due: block-ttnn-pybind-changes

kernel_lib: add streaming_reduce_helpers + toy_variance demo
  tests/ttnn/unit_tests/operations/toy_variance/test_toy_variance.py
  ttnn/cpp/ttnn/kernel_lib/reduce_helpers_compute.hpp
  ttnn/cpp/ttnn/kernel_lib/streaming_reduce_helpers.hpp
  ttnn/cpp/ttnn/kernel_lib/streaming_reduce_helpers.inl
  ttnn/ttnn/operations/toy_variance/__init__.py
  ttnn/ttnn/operations/toy_variance/kernels/compute.cpp
  ttnn/ttnn/operations/toy_variance/kernels/reader.cpp
  ttnn/ttnn/operations/toy_variance/kernels/writer.cpp
  ttnn/ttnn/operations/toy_variance/toy_variance.py
  ttnn/ttnn/operations/toy_variance/toy_variance_program_descriptor.py
Due: block-ttnn-pybind-changes, detect-legacy-device-op

tt_metal: add experimental NoC page-size assertions + alignment docs
  docs/NOC_ALIGNMENT_IN_TT_METAL.md
  docs/NOC_ALIGNMENT_THEORY.md
  tt_metal/hw/inc/api/dataflow/noc.h
  tt_metal/hw/inc/api/tensor/noc_traits.h
Due: none

Path conditions:
  block-ttnn-pybind-changes: any of: ^ttnn/
  detect-legacy-device-op: any of: ^ttnn/.*\.hpp$
  validate-golden-csv-columns: any of: ^tests/tt_metal/tt_metal/perf_microbenchmark/routing/golden/.*bandwidth.*\.csv$
