Repository tenstorrent/tt-metal: changes, and which pre-commit hooks are due for each by the changed paths.
All: block-ttnn-pybind-changes, detect-legacy-device-op, validate-golden-csv-columns

block-ttnn-pybind-changes:
  name: Prevent edits to frozen pybind11 sources under ttnn
  entry: python3 scripts/block_ttnn_pybind_changes.py
  language: system
  pass_filenames: true

detect-legacy-device-op:
  name: Detect legacy device operation classes in newly added files
  entry: python3 scripts/detect_legacy_device_op.py --check-new-only
  language: system
  pass_filenames: true
  require_serial: true

validate-golden-csv-columns:
  name: Validate golden bandwidth CSV column headers
  entry: bash .github/scripts/utils/validate_golden_csv_columns.sh
  language: system
  pass_filenames: false

remove debug assertions
  tt_metal/impl/tensor/tensor_apis.cpp
Due: none

rvc: address PR #45686 review (codex).
  models/demos/rvc/benchmark.py
  models/demos/rvc/demo.py
  models/demos/rvc/tests/test_production_shapes.py
  models/demos/rvc/tt/runtime.py
Due: none

Use dash
  .github/sku_config.yaml
  .github/time_budget.yaml
  .github/workflows/demo-sp-release.yaml
  tests/pipeline_reorg/demo_sp_multihost_tests.yaml
Due: none

comments fix
  ttnn/cpp/ttnn/operations/conv/conv2d/device/conv2d_op_width_sharded_program_factory.cpp
  ttnn/cpp/ttnn/operations/conv/conv2d/device/conv2d_op_width_sharded_program_factory.hpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

#[42369] [Descriptor Migration] conv/conv2d
  ttnn/cpp/ttnn/operations/conv/conv2d/conv2d_op_program_factory_common.cpp
  ttnn/cpp/ttnn/operations/conv/conv2d/conv2d_op_program_factory_common.hpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

#[42369] [Descriptor Migration] conv/conv2d
  ttnn/core/tensor/py_to_tt_tensor.cpp
  ttnn/cpp/ttnn/operations/conv/conv2d/conv2d_op_program_factory_common.cpp
  ttnn/cpp/ttnn/operations/conv/conv2d/conv2d_op_program_factory_common.hpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

some of review comments have been addressed
  ttnn/cpp/ttnn/operations/conv/conv2d/conv2d_op_program_factory_common.cpp
  ttnn/cpp/ttnn/operations/conv/conv2d/conv2d_op_program_factory_common.hpp
  ttnn/cpp/ttnn/operations/conv/conv2d/device/conv2d_op_sharded_program_factory.cpp
  ttnn/cpp/ttnn/operations/conv/conv2d/device/conv2d_op_sharded_program_factory.hpp
  ttnn/cpp/ttnn/operations/conv/conv2d/device/conv2d_op_width_sharded_program_factory.cpp
  ttnn/cpp/ttnn/operations/conv/conv2d/device/conv2d_op_width_sharded_program_factory.hpp
  ttnn/cpp/ttnn/operations/copy/typecast/device/typecast_sharded_program_factory.cpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

#[42369] [Descriptor Migration] conv/conv2d
  ttnn/cpp/ttnn/operations/conv/conv2d/device/conv2d_op_sharded_program_factory.cpp
  ttnn/cpp/ttnn/operations/conv/conv2d/device/conv2d_op_sharded_program_factory.hpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

#[42369] [Descriptor Migration] conv/conv2d
  ttnn/cpp/ttnn/operations/conv/conv2d/device/conv2d_op_width_sharded_program_factory.cpp
  ttnn/cpp/ttnn/operations/conv/conv2d/device/conv2d_op_width_sharded_program_factory.hpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

reworked according KernelDescriptor performance improvement strategy. Usage of cache implyed
  ttnn/cpp/ttnn/operations/conv/conv2d/device/conv2d_op_sharded_program_factory.cpp
Due: block-ttnn-pybind-changes

helper function for semaphore descriptor creation has been introduced
  ttnn/cpp/ttnn/operations/conv/conv2d/device/conv2d_op_sharded_program_factory.cpp
Due: block-ttnn-pybind-changes

restoring erroneously removed functionality
  ttnn/cpp/ttnn/operations/conv/conv2d/conv2d_op_program_factory_common.cpp
  ttnn/cpp/ttnn/operations/conv/conv2d/conv2d_op_program_factory_common.hpp
  ttnn/cpp/ttnn/operations/conv/conv2d/device/conv2d_op_sharded_program_factory.cpp
  ttnn/cpp/ttnn/operations/conv/conv2d/device/conv2d_op_width_sharded_program_factory.cpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

misstype fix
  ttnn/cpp/ttnn/operations/conv/conv2d/conv2d_op_program_factory_common.cpp
Due: block-ttnn-pybind-changes

addressing PR comments
  ttnn/core/tensor/py_to_tt_tensor.cpp
Due: block-ttnn-pybind-changes

addressing PR comnments. succinct comments. removing of using.
  ttnn/cpp/ttnn/operations/conv/conv2d/device/conv2d_op_sharded_program_factory.cpp
  ttnn/cpp/ttnn/operations/conv/conv2d/device/conv2d_op_sharded_program_factory.hpp
  ttnn/cpp/ttnn/operations/conv/conv2d/device/conv2d_op_width_sharded_program_factory.cpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

perf(seamless_m4t_v2): efficient relative attention in the conformer speech encoder
  models/experimental/seamless_m4t_v2_large/tt/tt_speech_encoder.py
Due: none

use with_memory_config for layout
  tests/ttnn/unit_tests/gtests/tensor/test_tensor_serialization.cpp
  ttnn/cpp/ttnn/operations/data_movement/moe_routing_remap/device/moe_routing_remap_device_operation.cpp
  ttnn/cpp/ttnn/operations/index_fill/device/index_fill_device_operation.cpp
Due: block-ttnn-pybind-changes

Set caps lock allocationType
  .github/sku_config.yaml
  .github/workflows/demo-sp-multihost-impl.yaml
Due: none

Revert "perf(seamless_m4t_v2): efficient relative attention in the conformer speech encoder"
  models/experimental/seamless_m4t_v2_large/tt/tt_speech_encoder.py
Due: none

remove reshape ops
  models/experimental/seamless_m4t_v2_large/tt/common.py
Due: none

perf(seamless_m4t_v2): bucket vocoder t_audio to cut shape-recompile variance
  models/experimental/seamless_m4t_v2_large/tt/tt_code_hifigan.py
Due: none

perf(seamless_m4t_v2): bucket the T2U duration-predictor char length (finish S2ST T2U)
  models/experimental/seamless_m4t_v2_large/tests/pcc/test_text_to_unit.py
  models/experimental/seamless_m4t_v2_large/tt/tt_text_to_unit.py
Due: none

perf(seamless_m4t_v2): chunk the in-trace decode argmax to cut 32x untilize waste
  models/experimental/seamless_m4t_v2_large/tt/tt_seamless_m4t_v2_model.py
Due: none

perf(seamless_m4t_v2): use ttnn.all_reduce for text encoder TP row-parallel sums
  models/experimental/seamless_m4t_v2_large/tt/common.py
  models/experimental/seamless_m4t_v2_large/tt/tt_text_encoder.py
Due: none

perf(seamless_m4t_v2): fuse on-device greedy argmax into the KV-decode trace
  models/experimental/seamless_m4t_v2_large/tt/tt_seamless_m4t_v2_model.py
Due: none

perf(seamless_m4t_v2): bucket T2U decoder unit length to cut shape-recompile variance
  models/experimental/seamless_m4t_v2_large/tt/tt_text_to_unit.py
Due: none

perf(seamless_m4t_v2): faster TP all-reduce sum for the decode step (reshape+sum)
  models/experimental/seamless_m4t_v2_large/tt/common.py
Due: none

perf(seamless_m4t_v2): width-shard the lm_head across the mesh for the decode step
  models/experimental/seamless_m4t_v2_large/tt/model_preprocessing.py
  models/experimental/seamless_m4t_v2_large/tt/tt_seamless_m4t_v2_model.py
Due: none

perf(seamless_m4t_v2): bucket speech-enc mel length + prewarm to kill S2TT JIT recompile
  models/experimental/seamless_m4t_v2_large/demo/demo.py
  models/experimental/seamless_m4t_v2_large/tt/tt_seamless_m4t_v2_model.py
Due: none

perf(seamless_m4t_v2): make speech-encoder prewarm per-task + idempotent (task independence)
  models/experimental/seamless_m4t_v2_large/demo/demo.py
  models/experimental/seamless_m4t_v2_large/tt/tt_seamless_m4t_v2_model.py
Due: none

perf(seamless_m4t_v2): trim per-step host work in the traced decode loop
  models/experimental/seamless_m4t_v2_large/tt/tt_seamless_m4t_v2_model.py
Due: none

perf(seamless_m4t_v2): bucket the T2U encoder seq length to stop S2ST recompiles
  models/experimental/seamless_m4t_v2_large/tt/tt_seamless_m4t_v2_model.py
Due: none

test(seamless_m4t_v2): cover S2TT max-enc decoder path and drop T2TT prof-capture test
  models/experimental/seamless_m4t_v2_large/tests/pcc/decoder_pcc_fixtures.py
  models/experimental/seamless_m4t_v2_large/tests/pcc/prof_capture_limits.py
  models/experimental/seamless_m4t_v2_large/tests/pcc/test_text_decoder.py
Due: none

layernorm: collapse (x-E[x])^2 squaring into a single hoisted eltwise_chain
  ttnn/cpp/ttnn/operations/normalization/layernorm/device/kernels/compute/layernorm.cpp
Due: block-ttnn-pybind-changes

[Test Only] Workaround for progam hash collision in a batch_norm test
  tests/ttnn/unit_tests/operations/fused/test_batch_norm.py
Due: none

Potential fix for pull request finding
  .github/workflows/llk-smoke-on-demand.yaml
Due: none

layernorm: collapse FUSE_PRE_ADD and x-E[x] stages into single hoisted chains
  ttnn/cpp/ttnn/operations/normalization/layernorm/device/kernels/compute/layernorm.cpp
Due: block-ttnn-pybind-changes

Fix permute program cache hash
  ttnn/cpp/ttnn/operations/data_movement/permute/device/permute_device_operation.cpp
  ttnn/cpp/ttnn/operations/data_movement/permute/device/permute_device_operation.hpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

mcast matmul QKV/FF2 from device sweep, block-sharded RMSNorm.
  models/demos/ace_step_v1_5/ttnn_impl/condition_encoder.py
  models/demos/ace_step_v1_5/ttnn_impl/math_perf_env.py
  models/demos/ace_step_v1_5/ttnn_impl/qwen3_embedding_encoder.py
  models/demos/ace_step_v1_5/ttnn_impl/qwen_lm_head_sharded_norm.py
  models/demos/ace_step_v1_5/ttnn_impl/qwen_prefill_l1.py
Due: none

scripts/tt_hw_planner: strict end-to-end PCC gate + HF weight failure short-circuit
  scripts/tt_hw_planner/_cli_helpers/error_patterns.py
  scripts/tt_hw_planner/cli.py
  scripts/tt_hw_planner/correctness/text.py
  scripts/tt_hw_planner/instrumentation.py
  scripts/tt_hw_planner/tests/test_correctness_text_strict_gate.py
  scripts/tt_hw_planner/tests/test_final_outcome_banner.py
  scripts/tt_hw_planner/tests/test_hf_weight_failure.py
  scripts/tt_hw_planner/tests/test_instrumentation_logit_dump.py
  scripts/tt_hw_planner/tests/test_local_weights_resolution.py
  scripts/tt_hw_planner/tests/test_run_strict_pcc_gate.py
Due: none

Path conditions:
  block-ttnn-pybind-changes: any of: ^ttnn/
  detect-legacy-device-op: any of: ^ttnn/.*\.hpp$
  validate-golden-csv-columns: any of: ^tests/tt_metal/tt_metal/perf_microbenchmark/routing/golden/.*bandwidth.*\.csv$
