Repository tenstorrent/tt-metal: changes, and which pre-commit hooks are due for each by the changed paths.
All: block-ttnn-pybind-changes, detect-legacy-device-op, validate-golden-csv-columns

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v3.2.0
  hooks:
    - id: trailing-whitespace
      exclude: \.patch$
    - id: end-of-file-fixer
      exclude: \.patch$
    - id: check-yaml
      args: ["--unsafe"]
    - id: check-added-large-files
# Using this mirror lets us use mypyc-compiled black, which is about 2x faster
- repo: https://github.com/psf/black-pre-commit-mirror
  rev: 23.10.1
  hooks:
    - id: black
      language_version: python3
- repo: https://github.com/PyCQA/autoflake
  rev: v2.3.1
  hooks:
    - id: autoflake
      args: [--remove-all-unused-imports, --in-place, --recursive, --exclude=__init__.py]
      files: ^models/  # Run only on files in the models directory
- repo: https://github.com/pycqa/isort
  rev: 5.13.2
  hooks:
    - id: isort
      files: ^models/
      exclude: ^models/(demos/llama3_70b_galaxy|experimental)/
- repo: https://github.com/BlankSpruce/gersemi
  rev: 0.16.2
  hooks:
    - id: gersemi
- repo: https://github.com/adrienverge/yamllint.git
  rev: v1.35.1
  hooks:
    - id: yamllint
- repo: https://github.com/pre-commit/mirrors-clang-format
  rev: v19.1.4
  hooks:
    - id: clang-format
      entry: git-clang-format
      require_serial: true
      types_or: [c++, c]
      args: ["--style=file"]
- repo: local
  hooks:
    - id: validate-metalium-includes
      name: validate-metalium-includes
      entry: python3 scripts/validate_api/validate_includes.py tt_metal/api --check-ttnn-forwards
      language: system
      pass_filenames: false
    - id: validate-metalium-deprecation
      name: validate-metalium-deprecation
      entry: python3 scripts/validate_api/validate_deprecation.py tt_metal/api origin/main
      language: system
      pass_filenames: false
- repo: local
  hooks:
    - id: check-torch-imports-in-ttnn
      name: Verify that there is no global torch import in ttnn
      entry: python3 scripts/validate_no_global_torch_imports.py
      language: system
      pass_filenames: false
- repo: local
  hooks:
    - id: block-ttnn-pybind-changes
      name: Prevent edits to frozen pybind11 sources under ttnn
      entry: python3 scripts/block_ttnn_pybind_changes.py
      language: system
      pass_filenames: true
      files: ^ttnn/
- repo: local
  hooks:
    - id: convert-notebooks-to-py
      name: Convert .ipynb to .py for ttnn basic examples
      entry: python3 scripts/convert_notebooks_to_python.py
      language: system
- repo: local
  hooks:
    - id: detect-legacy-device-op
      name: Detect legacy device operation classes in newly added files
      entry: python3 scripts/detect_legacy_device_op.py --check-new-only
      language: system
      types: [file]
      files: ^ttnn/.*\.hpp$
      pass_filenames: true
      require_serial: true
- repo: local
  hooks:
    - id: validate-golden-csv-columns
      name: Validate golden bandwidth CSV column headers
      entry: bash .github/scripts/utils/validate_golden_csv_columns.sh
      language: system
      pass_filenames: false
      files: ^tests/tt_metal/tt_metal/perf_microbenchmark/routing/golden/.*bandwidth.*\.csv$

Update comments
  tt_metal/api/tt-metalium/experimental/tensor/host_tensor.hpp
  tt_metal/impl/tensor/tensor_impl.hpp
Due: none

Remove logical_match_physical
  tt-train/sources/ttml/nanobind/nb_util.cpp
  tt_metal/api/tt-metalium/experimental/tensor/tensor_apis.hpp
  tt_metal/impl/tensor/host_tensor_factory.cpp
  tt_metal/impl/tensor/tensor_apis.cpp
  ttnn/core/distributed/distributed_tensor.cpp
  ttnn/core/tensor/py_to_tt_tensor.cpp
Due: block-ttnn-pybind-changes

Remove decode_tensor_data
  tests/tt_metal/tt_metal/api/tensor/test_host_tensor_to_dtype.cpp
  tt-train/sources/ttml/nanobind/nb_util.cpp
  tt_metal/api/tt-metalium/experimental/tensor/impl/tensor_impl.hpp
  tt_metal/impl/tensor/host_tensor_factory.cpp
  tt_metal/impl/tensor/host_to_tensor_spec_apis.cpp
  tt_metal/impl/tensor/tensor_apis.cpp
  tt_metal/impl/tensor/tensor_impl.cpp
  tt_metal/impl/tensor/tensor_impl.hpp
  tt_metal/sources.cmake
  ttnn/api/ttnn/tensor/tensor_impl.hpp
  ttnn/cpp/ttnn-nanobind/pytensor.cpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

Reduce diff area
  tt_metal/impl/tensor/distributed_tensor_apis.cpp
  tt_metal/impl/tensor/host_tensor.cpp
  tt_metal/impl/tensor/mesh_tensor.cpp
  tt_metal/impl/tensor/tensor_buffer_alloc.hpp
  tt_metal/impl/tensor/tensor_impl.cpp
  tt_metal/impl/tensor/tensor_impl.hpp
Due: none

Reduce diff
  tt_metal/impl/tensor/distributed_tensor_apis.cpp
  tt_metal/impl/tensor/tensor_apis.cpp
  ttnn/core/distributed/distributed_tensor.cpp
  ttnn/cpp/ttnn-nanobind/pytensor.cpp
Due: block-ttnn-pybind-changes

Fix readability-simplify-boolean-expr in can_construct_on_single_device
  ttnn/core/tensor/py_to_tt_tensor.cpp
Due: block-ttnn-pybind-changes

Log optimized decoder stage commits
  models/autoports/coherelabs_north_mini_code_1_0/doc/optimized_decoder/work_log.md
Due: none

Added preport audit - Green
  ttnn/cpp/ttnn/operations/reduction/manual_seed/METAL2_PORT_BRIEF.md
  ttnn/cpp/ttnn/operations/reduction/manual_seed/METAL2_PREPORT_AUDIT.md
Due: block-ttnn-pybind-changes

[Cleanup] `QueueId` moved from tt-metal to ttnn (#51427)
  tests/ttnn/unit_tests/gtests/test_multi_cq_multi_dev.cpp
  tt_metal/api/tt-metalium/queue_id.hpp
  ttnn/api/ttnn/common/queue_id.hpp
  ttnn/api/ttnn/tensor/tensor.hpp
  ttnn/api/ttnn/tensor/tensor_ops.hpp
  ttnn/core/events.cpp
  ttnn/core/tensor/tensor.cpp
  ttnn/core/tensor/tensor_ops.cpp
  ttnn/cpp/ttnn/operations/experimental/core_subset_write/copy_to_device_filtered.cpp
  ttnn/cpp/ttnn/operations/experimental/core_subset_write/copy_to_device_filtered.hpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

Added preport audit - Green
  ttnn/cpp/ttnn/operations/normalization/layernorm_distributed/METAL2_PORT_BRIEF.md
  ttnn/cpp/ttnn/operations/normalization/layernorm_distributed/METAL2_PREPORT_AUDIT.md
Due: block-ttnn-pybind-changes

Refresh Gemma 4 optimized decoder validation evidence
  models/autoports/google_gemma_4_26b_a4b_it/doc/optimized_decoder/current_branch_results.xml
  models/autoports/google_gemma_4_26b_a4b_it/doc/optimized_decoder/current_branch_watcher_device_log.txt
  models/autoports/google_gemma_4_26b_a4b_it/doc/optimized_decoder/current_branch_watcher_results.xml
  models/autoports/google_gemma_4_26b_a4b_it/doc/optimized_decoder/pcc_layer0_sliding_attention_shared1.json
  models/autoports/google_gemma_4_26b_a4b_it/doc/optimized_decoder/pcc_layer5_full_attention_shared0.json
  models/autoports/google_gemma_4_26b_a4b_it/doc/optimized_decoder/pcc_layer5_full_attention_shared1.json
  models/autoports/google_gemma_4_26b_a4b_it/doc/optimized_decoder/prefill_batch2_layer0_sliding_attention.json
  models/autoports/google_gemma_4_26b_a4b_it/doc/optimized_decoder/prefill_batch2_layer5_full_attention.json
  models/autoports/google_gemma_4_26b_a4b_it/doc/optimized_decoder/prefill_boundaries_full_attention.json
  models/autoports/google_gemma_4_26b_a4b_it/doc/optimized_decoder/prefill_boundaries_sliding_attention.json
  models/autoports/google_gemma_4_26b_a4b_it/doc/optimized_decoder/trace_full_attention_batch1.json
  models/autoports/google_gemma_4_26b_a4b_it/doc/optimized_decoder/trace_full_attention_batch32.json
  models/autoports/google_gemma_4_26b_a4b_it/doc/optimized_decoder/trace_mutable_buffers_full_attention_batch32.json
  models/autoports/google_gemma_4_26b_a4b_it/doc/optimized_decoder/trace_mutable_buffers_sliding_attention_batch32.json
  models/autoports/google_gemma_4_26b_a4b_it/doc/optimized_decoder/trace_sliding_attention_batch1.json
  models/autoports/google_gemma_4_26b_a4b_it/doc/optimized_decoder/trace_sliding_attention_batch32.json
Due: none

Record Gemma 4 optimized decoder checkpoints
  models/autoports/google_gemma_4_26b_a4b_it/doc/optimized_decoder/work_log.md
Due: none

Record clean Gemma 4 optimized decoder rereview
  models/autoports/google_gemma_4_26b_a4b_it/doc/optimized_decoder/work_log.md
Due: none

Use pytest-managed temp paths for multi-device as_tensor cache tests (#51595)
  tests/ttnn/unit_tests/base_functionality/test_multi_device.py
Due: none

obs(diffusion_gemma): document the cache-missing all_reduce deadlock that needs tt-smi -r
  models/experimental/diffusion_gemma/doc/optimize_perf/ccl_semaphore_deadlock.md
Due: none

obs(diffusion_gemma): add the per-call/per-session prefill discriminator and the instrumented bisect
  models/experimental/diffusion_gemma/doc/optimize_perf/repro_prefill_instrumented.py
  models/experimental/diffusion_gemma/doc/optimize_perf/repro_prefill_percall.py
Due: none

obs(diffusion_gemma): probe every all_reduce, not just the MoE readbacks
  models/experimental/diffusion_gemma/doc/optimize_perf/repro_prefill_instrumented.py
Due: none

more universal gather_dim handling
  ttnn/cpp/ttnn/operations/ccl/all_gather/all_gather.cpp
  ttnn/cpp/ttnn/operations/ccl/all_gather/device/all_gather_device_operation.cpp
  ttnn/cpp/ttnn/operations/ccl/all_gather/device/all_gather_device_operation.hpp
  ttnn/cpp/ttnn/operations/ccl/all_gather/device/all_gather_device_operation_types.hpp
  ttnn/cpp/ttnn/operations/ccl/all_gather/device/all_gather_multicast_factory.cpp
  ttnn/cpp/ttnn/operations/ccl/all_gather/device/all_gather_unicast_factory.cpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

emule: drop the D2H is_mock_or_emulated early-return (match tt-metal#51108)
  tt_metal/distributed/d2h_socket.cpp
Due: none

emule: give PinnedMemory a real sysmem mapping (Mock-only short-circuit)
  tt_metal/distributed/pinned_memory.cpp
Due: none

Clean up comments in test_fabric_2d_torus_stability.yaml
  tests/tt_metal/tt_fabric/test_infra/test_yamls/test_fabric_2d_torus_stability.yaml
Due: none

Fix CI failure #2: hardcode Ubuntu's CA bundle path in curl's build
  dockerfile/scripts/install-curl.sh
Due: none

gpt-oss: static nnz in decode sparse_matmul (58.9 -> 60.0 tok/s/user)
  models/demos/gpt_oss/tt/experts/decode.py
Due: none

attn_res: batch inter_block's dots across read sites, 1.26x on the split read
  models/experimental/kimi_k3_attn_res/DISTRIBUTION.md
  models/experimental/kimi_k3_attn_res/ROOFLINE.md
  models/experimental/kimi_k3_attn_res/bringup_log.md
  models/experimental/kimi_k3_attn_res/tests/perf/test_attn_res_perf.py
  models/experimental/kimi_k3_attn_res/tt/attn_res.py
Due: none

Port manual_seed to Metal 2.0
  ttnn/cpp/ttnn/operations/reduction/manual_seed/METAL2_PORT_PLAN.md
  ttnn/cpp/ttnn/operations/reduction/manual_seed/METAL2_PORT_REPORT.md
  ttnn/cpp/ttnn/operations/reduction/manual_seed/device/kernels/compute/manual_seed_receive_all_data.cpp
  ttnn/cpp/ttnn/operations/reduction/manual_seed/device/kernels/compute/manual_seed_set_seed.cpp
  ttnn/cpp/ttnn/operations/reduction/manual_seed/device/kernels/compute/manual_seed_single_seed_receive_user_id.cpp
  ttnn/cpp/ttnn/operations/reduction/manual_seed/device/kernels/dataflow/reader_manual_seed_read_all_data.cpp
  ttnn/cpp/ttnn/operations/reduction/manual_seed/device/kernels/dataflow/reader_manual_seed_read_user_id.cpp
  ttnn/cpp/ttnn/operations/reduction/manual_seed/device/manual_seed_program_factory.cpp
  ttnn/cpp/ttnn/operations/reduction/manual_seed/device/manual_seed_program_factory.hpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

optimize: derive MESH_DEVICE from --box/--mesh using bring-up's existing resolver
  scripts/tt_hw_planner/commands/optimize.py
  scripts/tt_hw_planner/tests/test_optimize_mesh_device_env.py
  scripts/tt_hw_planner/tests/test_optimize_mesh_device_env_stress.py
Due: none

attn_res: refute fast_reduce_nc, correct _mix's floor ratio to 3.01x
  models/experimental/kimi_k3_attn_res/ROOFLINE.md
  models/experimental/kimi_k3_attn_res/bringup_log.md
  models/experimental/kimi_k3_attn_res/tests/perf/test_attn_res_perf.py
Due: none

[silencer] Pin per_page on actions_list to avoid oversized-payload fallback
  .github/workflows/silencer.md
Due: none

docs(metal_2.0): groupnorm port plan and report (CAPITULATED)
  ttnn/cpp/ttnn/operations/normalization/groupnorm/METAL2_PORT_PLAN.md
  ttnn/cpp/ttnn/operations/normalization/groupnorm/METAL2_PORT_REPORT.md
Due: block-ttnn-pybind-changes

attn_res: fix two fidelity mislabels — every "default" row was already HiFi4
  models/experimental/kimi_k3_attn_res/ROOFLINE.md
  models/experimental/kimi_k3_attn_res/bringup_log.md
  models/experimental/kimi_k3_attn_res/tests/perf/test_attn_res_perf.py
Due: none

[silencer] Recompile lock file for per_page pinning change
  .github/workflows/silencer.lock.yml
Due: none

[Fabric] Drop SequentialNeighborExchangeLatency from the 2D-torus suite
  .github/workflows/fabric-multihost-exabox.yaml
  tests/tt_metal/tt_fabric/test_infra/test_yamls/test_fabric_2d_torus_stability.yaml
Due: none

more cleanup
  tests/tt_metal/tt_fabric/fabric_router/test_builder_connection_mapping.cpp
  tests/tt_metal/tt_fabric/fabric_router/test_router_archetypes.cpp
  tt_metal/fabric/fabric_builder_context.cpp
  tt_metal/fabric/fabric_builder_context.hpp
  tt_metal/fabric/fabric_router_channel_mapping.cpp
  tt_metal/fabric/fabric_router_channel_mapping.hpp
Due: none

Add pinned curl 8.x tool image to fix Garage SigV4 uploads (#51626)
  .github/scripts/compute-tool-tags.sh
  dockerfile/Dockerfile
  dockerfile/Dockerfile.tools
  dockerfile/docker-bake.hcl
  dockerfile/scripts/README.md
  dockerfile/scripts/compute-hashes.sh
  dockerfile/scripts/install-curl.sh
Due: none

copilot review comments
  models/demos/deepseek_v3_b1/weights/cache/cache.py
  models/demos/deepseek_v3_b1/weights/cache/fingerprint.py
  models/demos/deepseek_v3_b1/weights/cache/types.py
  ttnn/core/distributed/distributed_tensor.cpp
Due: block-ttnn-pybind-changes

#0: Add agentic CI failure triage shadow pilot (gh-aw)
  .github/workflows/ci-failure-triage.lock.yml
  .github/workflows/ci-failure-triage.md
Due: none

#0: Recompile with gh-aw v0.82.14 to match repo toolchain
  .github/workflows/ci-failure-triage.lock.yml
Due: none

#1358: Address Copilot review — concurrency dedup, code fence, run-token
  .github/workflows/ci-failure-triage.lock.yml
  .github/workflows/ci-failure-triage.md
Due: none

#1358: Address self-review — token auth, per-signature issues, dedup keying
  .github/workflows/ci-failure-triage.lock.yml
  .github/workflows/ci-failure-triage.md
Due: none
