Repository tenstorrent/tt-metal: changes, and which pre-commit hooks are due for each by the changed paths.
All: block-ttnn-pybind-changes, detect-legacy-device-op, validate-golden-csv-columns

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v3.2.0
  hooks:
    - id: trailing-whitespace
      exclude: \.patch$
    - id: end-of-file-fixer
      exclude: \.patch$
    - id: check-yaml
      args: ["--unsafe"]
    - id: check-added-large-files
# Using this mirror lets us use mypyc-compiled black, which is about 2x faster
- repo: https://github.com/psf/black-pre-commit-mirror
  rev: 23.10.1
  hooks:
    - id: black
      language_version: python3
- repo: https://github.com/PyCQA/autoflake
  rev: v2.3.1
  hooks:
    - id: autoflake
      args: [--remove-all-unused-imports, --in-place, --recursive, --exclude=__init__.py]
      files: ^models/  # Run only on files in the models directory
- repo: https://github.com/pycqa/isort
  rev: 5.13.2
  hooks:
    - id: isort
      files: ^models/
      exclude: ^models/(demos/llama3_70b_galaxy|experimental)/
- repo: https://github.com/BlankSpruce/gersemi
  rev: 0.16.2
  hooks:
    - id: gersemi
- repo: https://github.com/adrienverge/yamllint.git
  rev: v1.35.1
  hooks:
    - id: yamllint
- repo: https://github.com/pre-commit/mirrors-clang-format
  rev: v19.1.4
  hooks:
    - id: clang-format
      entry: git-clang-format
      require_serial: true
      types_or: [c++, c]
      args: ["--style=file"]
- repo: local
  hooks:
    - id: validate-metalium-includes
      name: validate-metalium-includes
      entry: python3 scripts/validate_api/validate_includes.py tt_metal/api --check-ttnn-forwards
      language: system
      pass_filenames: false
    - id: validate-metalium-deprecation
      name: validate-metalium-deprecation
      entry: python3 scripts/validate_api/validate_deprecation.py tt_metal/api origin/main
      language: system
      pass_filenames: false
- repo: local
  hooks:
    - id: check-torch-imports-in-ttnn
      name: Verify that there is no global torch import in ttnn
      entry: python3 scripts/validate_no_global_torch_imports.py
      language: system
      pass_filenames: false
- repo: local
  hooks:
    - id: block-ttnn-pybind-changes
      name: Prevent edits to frozen pybind11 sources under ttnn
      entry: python3 scripts/block_ttnn_pybind_changes.py
      language: system
      pass_filenames: true
      files: ^ttnn/
- repo: local
  hooks:
    - id: convert-notebooks-to-py
      name: Convert .ipynb to .py for ttnn basic examples
      entry: python3 scripts/convert_notebooks_to_python.py
      language: system
- repo: local
  hooks:
    - id: detect-legacy-device-op
      name: Detect legacy device operation classes in newly added files
      entry: python3 scripts/detect_legacy_device_op.py --check-new-only
      language: system
      types: [file]
      files: ^ttnn/.*\.hpp$
      pass_filenames: true
      require_serial: true
- repo: local
  hooks:
    - id: validate-golden-csv-columns
      name: Validate golden bandwidth CSV column headers
      entry: bash .github/scripts/utils/validate_golden_csv_columns.sh
      language: system
      pass_filenames: false
      files: ^tests/tt_metal/tt_metal/perf_microbenchmark/routing/golden/.*bandwidth.*\.csv$

Add deepseek_moe_reduce_scatter to T3K ccl test suite
  tests/scripts/t3000/run_t3000_unit_tests.sh
Due: none

[Cleanup] Migrate experimental/reduction/deepseek_moe_fast_reduce_nc(+_fused) to Device 2.0 API
  ttnn/cpp/ttnn/operations/experimental/reduction/deepseek_moe_fast_reduce_nc/device/kernels/deepseek_moe_fast_reduce_nc_writer.cpp
Due: block-ttnn-pybind-changes

Remove deepseek moe reduce scatter test
  tests/scripts/t3000/run_t3000_unit_tests.sh
Due: none

Seed optimize from forge sharding recommendations
  .agents/skills/forge-functional-decoder/SKILL.md
  .agents/skills/optimize/SKILL.md
Due: none

optimize skill: group sections under chapters
  .agents/skills/optimize/SKILL.md
Due: none

optimize skill: harden rejection bar for sharded norms/residual chains
  .agents/skills/optimize/SKILL.md
Due: none

optimize skill: relocate T3K Reset Recovery, rename levers section
  .agents/skills/optimize/SKILL.md
Due: none

optimize skill: reorder sections and rename to Optimization Recommendations
  .agents/skills/optimize/SKILL.md
Due: none

optimize skill: add Core levers section
  .agents/skills/optimize/SKILL.md
Due: none

forge-functional-decoder: preserve emitted workload batch size
  .agents/skills/forge-functional-decoder/SKILL.md
Due: none

Add graph-rewrite skill and wire it into optimize
  .agents/skills/graph-rewrite/SKILL.md
  .agents/skills/graph-rewrite/agents/openai.yaml
  .agents/skills/optimize/SKILL.md
Due: none

optimize skill: rename levers section to "Where to start"
  .agents/skills/optimize/SKILL.md
Due: none

VibeVoice: add e2e speaker-similarity (SIM) test
  models/experimental/vibevoice/tests/pcc/test_e2e_sim.py
Due: none

increase timeout
  .github/time_budget.yaml
  .github/workflows/galaxy-deepseek-prefill-tests-impl.yaml
  tests/pipeline_reorg/galaxy_deepseek_prefill_tests.yaml
Due: none

[temp] Vary 'max_concurrency' to compare DP modes.
  .github/workflows/vllm-nightly-tests-impl.yaml
Due: none

preserve ND permute fallback
  .github/time_budget.yaml
  tests/pipeline_reorg/ops_unit_tests.yaml
  tests/ttnn/unit_tests/gtests/test_graph_capture_arguments_transpose.cpp
  ttnn/cpp/ttnn/operations/data_movement/permute/permute.cpp
Due: block-ttnn-pybind-changes

[Plan B] Qwen3-32B Galaxy LLK-API capture for #45127 hunt
  .github/workflows/models-e2e-tests-impl.yaml
  tests/pipeline_reorg/models_e2e_tests.yaml
  tt_metal/tools/llk_api_analyzer/README.md
  tt_metal/tools/llk_api_analyzer/__init__.py
  tt_metal/tools/llk_api_analyzer/__main__.py
  tt_metal/tools/llk_api_analyzer/analyzer.py
  tt_metal/tools/llk_api_analyzer/arg_values.py
  tt_metal/tools/llk_api_analyzer/cli.py
  tt_metal/tools/llk_api_analyzer/descriptors.py
  tt_metal/tools/llk_api_analyzer/discovery.py
  tt_metal/tools/llk_api_analyzer/dwarf_helpers.py
  tt_metal/tools/llk_api_analyzer/extractor.py
  tt_metal/tools/llk_api_analyzer/model.py
  tt_metal/tools/llk_api_analyzer/report.py
  tt_metal/tools/llk_api_analyzer/runner.py
Due: none

examples: add double_buffer (NoC bytes-in-flight: block batching + double-buffered CBs + dtype)
  tests/ttnn/unit_tests/operations/examples/test_double_buffer.py
  ttnn/ttnn/operations/examples/double_buffer/README.md
  ttnn/ttnn/operations/examples/double_buffer/__init__.py
  ttnn/ttnn/operations/examples/double_buffer/__main__.py
  ttnn/ttnn/operations/examples/double_buffer/double_buffer.py
  ttnn/ttnn/operations/examples/double_buffer/kernels/db_compute.cpp
  ttnn/ttnn/operations/examples/double_buffer/kernels/db_reader.cpp
  ttnn/ttnn/operations/examples/double_buffer/kernels/db_writer.cpp
  ttnn/ttnn/operations/examples/double_buffer/report.md
  ttnn/ttnn/operations/examples/master.md
Due: block-ttnn-pybind-changes

glm: register glm_5_2 test variant in conftest, not common ADAPTER_PATHS
  models/demos/common/prefill/adapter.py
  models/demos/deepseek_v3_d_p/tests/conftest.py
Due: none

[Plan B] fix analyzer step: bootstrap pip via ensurepip; richer log dump; tolerant artifact path
  .github/workflows/models-e2e-tests-impl.yaml
Due: none

GLM-5.2 prefill: DSA cross-layer indexer reuse (#49315)
  models/demos/deepseek_v3_d_p/reference/glm_5_2_config.py
  models/demos/deepseek_v3_d_p/tests/conftest.py
  models/demos/deepseek_v3_d_p/tests/sparse_mla/test_sparse_mla.py
  models/demos/deepseek_v3_d_p/tests/sparse_mla/test_sparse_mla_cache.py
  models/demos/deepseek_v3_d_p/tests/test_mla.py
  models/demos/deepseek_v3_d_p/tests/test_prefill_block.py
  models/demos/deepseek_v3_d_p/tests/test_prefill_transformer.py
  models/demos/deepseek_v3_d_p/tests/test_prefill_transformer_chunked.py
  models/demos/deepseek_v3_d_p/tt/mla/indexer.py
  models/demos/deepseek_v3_d_p/tt/mla/mla.py
  models/demos/deepseek_v3_d_p/tt/runners/adapters/__init__.py
  models/demos/deepseek_v3_d_p/tt/runners/adapters/sparse_mla.py
  models/demos/deepseek_v3_d_p/tt/tt_prefill_block.py
  models/demos/deepseek_v3_d_p/tt/tt_prefill_transformer.py
  tests/pipeline_reorg/galaxy_deepseek_prefill_tests.yaml
Due: none

VibeVoice: add 4-speaker SIM confusion-matrix test
  models/experimental/vibevoice/tests/pcc/test_e2e_sim.py
Due: none

kernel_lib eltwise: fix MED comment drift (comment audit)
  ttnn/cpp/ttnn/kernel_lib/dfb_helpers_compute.hpp
  ttnn/cpp/ttnn/kernel_lib/eltwise_binary_sfpu.hpp
  ttnn/cpp/ttnn/kernel_lib/eltwise_chain.hpp
  ttnn/cpp/ttnn/kernel_lib/eltwise_chain.inl
  ttnn/cpp/ttnn/kernel_lib/eltwise_math.inl
  ttnn/cpp/ttnn/kernel_lib/eltwise_optional.hpp
  ttnn/cpp/ttnn/kernel_lib/eltwise_scalar.hpp
  ttnn/cpp/ttnn/kernel_lib/eltwise_special.hpp
  ttnn/cpp/ttnn/kernel_lib/eltwise_special.inl
  ttnn/cpp/ttnn/kernel_lib/l1_helpers.hpp
  ttnn/cpp/ttnn/kernel_lib/tests/static_asserts/packtile_collision.cpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

Record optimized decoder checkpoint
  models/autoports/meta_llama_llama_3_1_8b_instruct/doc/optimized_decoder/work_log.md
Due: none

Tile 32 all tests passing. WIP Tiny Tile in I2S
  tests/ttnn/unit_tests/operations/replay/__init__.py
  tests/ttnn/unit_tests/operations/replay/test_ops_from_profiler_json.py
  ttnn/cpp/ttnn/operations/data_movement/sharded/interleaved_to_sharded/device/interleaved_to_sharded_op.cpp
  ttnn/cpp/ttnn/operations/data_movement/sharded/interleaved_to_sharded/device/interleaved_to_sharded_program_factory.cpp
  ttnn/cpp/ttnn/operations/data_movement/sharded/sharded_common.cpp
Due: block-ttnn-pybind-changes

Interleaved to Sharded with Tiny Tile 16x32 working
  tests/ttnn/unit_tests/operations/replay/test_ops_from_profiler_json.py
  ttnn/cpp/ttnn/operations/data_movement/sharded/device/kernels/dataflow/reader_unary_sharded_blocks_interleaved_start_id.cpp
  ttnn/cpp/ttnn/operations/data_movement/sharded/interleaved_to_sharded/device/interleaved_to_sharded_op.cpp
  ttnn/cpp/ttnn/operations/data_movement/sharded/interleaved_to_sharded/device/interleaved_to_sharded_program_factory.cpp
Due: block-ttnn-pybind-changes

Implement tiny tile for sharding ops
  tests/ttnn/unit_tests/operations/replay/test_ops_from_profiler_json.py
  ttnn/cpp/ttnn/operations/data_movement/sharded/interleaved_to_sharded/device/interleaved_to_sharded_op.cpp
  ttnn/cpp/ttnn/operations/data_movement/sharded/interleaved_to_sharded/device/interleaved_to_sharded_program_factory.cpp
  ttnn/cpp/ttnn/operations/data_movement/sharded/reshard/device/reshard_device_operation.cpp
  ttnn/cpp/ttnn/operations/data_movement/sharded/reshard/device/reshard_program_factory_generic.cpp
  ttnn/cpp/ttnn/operations/data_movement/sharded/reshard/device/reshard_program_factory_same_width.cpp
  ttnn/cpp/ttnn/operations/data_movement/sharded/sharded_to_interleaved/device/sharded_to_interleaved_device_operation.cpp
  ttnn/cpp/ttnn/operations/data_movement/sharded/sharded_to_interleaved/device/sharded_to_interleaved_program_factory.cpp
Due: block-ttnn-pybind-changes

Updated error message in sharded
  tests/ttnn/unit_tests/operations/replay/test_ops_from_profiler_json.py
  ttnn/cpp/ttnn/operations/data_movement/sharded/interleaved_to_sharded/device/interleaved_to_sharded_op.cpp
Due: block-ttnn-pybind-changes

Implement tiny tile in reshape and copy
  tech_reports/op_kernel_dev/tiny_tile_support_for_ops.md
  ttnn/cpp/ttnn/operations/data_movement/copy/device/copy_default_tilized_program_factory.cpp
  ttnn/cpp/ttnn/operations/data_movement/copy/device/copy_device_operation.cpp
  ttnn/cpp/ttnn/operations/data_movement/copy/device/copy_device_operation.hpp
  ttnn/cpp/ttnn/operations/data_movement/copy/device/copy_same_memory_config_program_factory.cpp
  ttnn/cpp/ttnn/operations/data_movement/reshape_view/device/reshape_device_operation.cpp
  ttnn/cpp/ttnn/operations/data_movement/reshape_view/device/reshape_tiled_program_factory.cpp
  ttnn/cpp/ttnn/operations/data_movement/reshape_view/reshape.cpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

Implement tiny tile in binary/unary ops
  tests/ttnn/unit_tests/operations/replay/test_ops_from_profiler_json.py
  ttnn/cpp/ttnn/operations/eltwise/binary_ng/device/binary_ng_device_operation.cpp
  ttnn/cpp/ttnn/operations/eltwise/binary_ng/device/binary_ng_program_factory.cpp
  ttnn/cpp/ttnn/operations/eltwise/binary_ng/device/binary_ng_utils.cpp
  ttnn/cpp/ttnn/operations/eltwise/binary_ng/device/binary_ng_utils.hpp
  ttnn/cpp/ttnn/operations/eltwise/unary/common/unary_utils.cpp
  ttnn/cpp/ttnn/operations/eltwise/unary/device/unary_device_operation.cpp
  ttnn/cpp/ttnn/operations/eltwise/unary/device/unary_program_factory.cpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

adding cores placement and connectivity info
  tt_metal/api/tt-metalium/experimental/fabric/fabric.hpp
  tt_metal/fabric/fabric.cpp
  tt_metal/fabric/hw/inc/edm_fabric/fabric_router_adapter.hpp
  tt_metal/fabric/impl/kernels/edm_fabric/fabric_erisc_router.cpp
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/combine/device/combine_placement_map.hpp
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/combine/device/kernels/dataflow/writer_combine.cpp
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/combine/device/kernels/dataflow/writer_untilize.cpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

Implement tiny tile in concat, slice & typecast
  tech_reports/op_kernel_dev/tiny_tile_support_for_ops.md
  ttnn/cpp/ttnn/operations/copy/typecast/device/typecast_device_op.cpp
  ttnn/cpp/ttnn/operations/copy/typecast/device/typecast_program_factory.cpp
  ttnn/cpp/ttnn/operations/copy/typecast/device/typecast_sharded_program_factory.cpp
  ttnn/cpp/ttnn/operations/data_movement/concat/device/concat_block_sharded_program_factory.cpp
  ttnn/cpp/ttnn/operations/data_movement/concat/device/concat_device_operation.cpp
  ttnn/cpp/ttnn/operations/data_movement/concat/device/concat_program_factory.cpp
  ttnn/cpp/ttnn/operations/data_movement/concat/device/concat_s2s_multi_program_factory.cpp
  ttnn/cpp/ttnn/operations/data_movement/concat/device/concat_s2s_tiled_program_factory.cpp
  ttnn/cpp/ttnn/operations/data_movement/slice/device/slice_device_operation.cpp
  ttnn/cpp/ttnn/operations/data_movement/slice/device/slice_device_operation.hpp
  ttnn/cpp/ttnn/operations/data_movement/slice/device/slice_program_factory_tile.cpp
  ttnn/cpp/ttnn/operations/data_movement/slice/device/slice_program_factory_tile_tensor_args.cpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

Fix test_eltwise_logical_and_ comparing golden to host input instead of device output
  tests/ttnn/unit_tests/operations/eltwise/test_eltwise_logical_and_.py
Due: none

Reshape Heads in RM; fuse typecast to tilize
  models/demos/blackhole/qwen36/tt/gdn/tp.py
  models/experimental/gated_attention_gated_deltanet/tt/ttnn_delta_rule_seq.py
Due: none

fix broken training due to commit a38e756c9332527a77e2ef6581611ef7c9421fa8
  tt_metal/impl/program/program_descriptor_patching.cpp
Due: none

Add HY_TRACE 2CQ execute_trace for HunyuanImage 3.0 pipeline stages
  models/experimental/hunyuan_image_3_0/README.md
  models/experimental/hunyuan_image_3_0/demo/demo.py
  models/experimental/hunyuan_image_3_0/demo/demo_i2i.py
  models/experimental/hunyuan_image_3_0/demo/e2e.py
  models/experimental/hunyuan_image_3_0/demo/export_latent.py
  models/experimental/hunyuan_image_3_0/ref/recaption.py
  models/experimental/hunyuan_image_3_0/tests/pcc/test_recaption_2cq.py
  models/experimental/hunyuan_image_3_0/tests/pcc/test_recaption_trace.py
  models/experimental/hunyuan_image_3_0/tests/tokenizer/test_recaption_stage.py
  models/experimental/hunyuan_image_3_0/tt/ar_dual_cq.py
  models/experimental/hunyuan_image_3_0/tt/ar_prefill.py
  models/experimental/hunyuan_image_3_0/tt/ar_trace.py
  models/experimental/hunyuan_image_3_0/tt/attention/attention.py
  models/experimental/hunyuan_image_3_0/tt/cond_encode_trace.py
  models/experimental/hunyuan_image_3_0/tt/denoise_dual_cq.py
  models/experimental/hunyuan_image_3_0/tt/generate.py
  models/experimental/hunyuan_image_3_0/tt/image_gen/patch_embed.py
  models/experimental/hunyuan_image_3_0/tt/kv_cache.py
  models/experimental/hunyuan_image_3_0/tt/model.py
  models/experimental/hunyuan_image_3_0/tt/pipeline.py
  models/experimental/hunyuan_image_3_0/tt/recaption.py
  models/experimental/hunyuan_image_3_0/tt/stage_trace.py
  models/experimental/hunyuan_image_3_0/tt/trace_config.py
  models/experimental/hunyuan_image_3_0/tt/transformer_layer.py
  models/experimental/hunyuan_image_3_0/tt/vae/conv3d.py
  models/experimental/hunyuan_image_3_0/tt/vae/spatial.py
  models/experimental/hunyuan_image_3_0/tt/vae_dual_cq.py
  models/experimental/hunyuan_image_3_0/tt/vision/i2i_bundle.py
  models/experimental/hunyuan_image_3_0/tt/wte.py
Due: none

fmod and shift
  tt_metal/hw/ckernels/wormhole_b0/metal/llk_api/llk_sfpu/ckernel_sfpu_shift.h
Due: none

Fix ci failure
  tt_metal/hw/ckernels/wormhole_b0/metal/llk_api/llk_sfpu/ckernel_sfpu_signbit.h
  tt_metal/tt-llk/tests/helpers/include/sfpu_operations.h
  tt_metal/tt-llk/tests/python_tests/conftest.py
Due: none
