Repository tenstorrent/tt-metal: changes, and which pre-commit hooks are due for each by the changed paths.
All: block-ttnn-pybind-changes, detect-legacy-device-op, validate-golden-csv-columns

block-ttnn-pybind-changes:
  name: Prevent edits to frozen pybind11 sources under ttnn
  entry: python3 scripts/block_ttnn_pybind_changes.py
  language: system
  pass_filenames: true

detect-legacy-device-op:
  name: Detect legacy device operation classes in newly added files
  entry: python3 scripts/detect_legacy_device_op.py --check-new-only
  language: system
  pass_filenames: true
  require_serial: true

validate-golden-csv-columns:
  name: Validate golden bandwidth CSV column headers
  entry: bash .github/scripts/utils/validate_golden_csv_columns.sh
  language: system
  pass_filenames: false

Bump ttsim version to v1.10.6
  tt_metal/ttsim-version
Due: none

Share SFPU column normalisation tails without changing instructions
  tt_metal/tt-llk/tt_llk_blackhole/common/inc/sfpu/ckernel_sfpu_binary_bcast.h
  tt_metal/tt-llk/tt_llk_wormhole_b0/common/inc/sfpu/ckernel_sfpu_binary_bcast.h
Due: none

minimax-h3: warm the keyframe conditioner over the served envelope before capturing traces
  models/tt_dit/pipelines/minimax_h3/pipeline_minimax_h3.py
Due: none

prefill_runner: bring the layer-ack channel up before publishing the migration table
  models/demos/common/prefill/runners/prefill_runner.py
Due: none

Give the published report a title and a favicon
  .github/scripts/utils/brand_kernel_tidy_site.py
  .github/workflows/kernel-clang-tidy.yaml
  tech_reports/code-indexing/kernel-clang-tidy.md
Due: none

Adds async rollout communication layer Adds tests for async rollout communication
  tt-train/sources/examples/grpo_remote_rollout/utils/mpi_rollout.py
  tt-train/sources/examples/grpo_remote_rollout/utils/mpi_rollout_transport.py
  tt-train/sources/examples/grpo_remote_rollout/utils/rollout_engine.py
  tt-train/sources/examples/grpo_remote_rollout/utils/rollout_service.py
  tt-train/sources/examples/grpo_remote_rollout/utils/rollout_transport.py
  tt-train/sources/examples/grpo_remote_rollout/utils/ttt_rollout_engine.py
  tt-train/sources/examples/grpo_remote_rollout/utils/weight_bridge.py
  tt-train/tests/python/grpo_remote_rollout/test_mpi_rollout_transport.py
  tt-train/tests/python/grpo_remote_rollout/test_rollout_engine.py
  tt-train/tests/python/grpo_remote_rollout/test_rollout_transport.py
  tt-train/tests/python/grpo_remote_rollout/test_ttt_rollout_engine.py
  tt_metal/distributed/multihost/mpi_distributed_context.cpp
Due: none

Disable clang-diagnostic-documentation
  tech_reports/code-indexing/kernel-clang-tidy.md
  tt_metal/jit_build/kernel_clang_tidy/codechecker.json
Due: none

#51273: Support traced prefill on the TP-sharded (KV-dedup) path
  models/demos/deepseek_v3_d_p/tt/mla/mla.py
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/update_padded_kv_cache/device/kernels/dataflow/reader_update_padded_kv_cache.cpp
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/update_padded_kv_cache/device/update_padded_kv_cache_device_operation.cpp
  ttnn/cpp/ttnn/operations/experimental/indexer_score/device/indexer_score_program_factory.cpp
  ttnn/cpp/ttnn/operations/experimental/indexer_score/device/kernels/reader_indexer_score.cpp
  ttnn/cpp/ttnn/operations/experimental/indexer_score/device/ring_indexer_score_dsa_program_factory.cpp
Due: block-ttnn-pybind-changes

Bump ttsim version to v1.10.6 (#55656)
  tt_metal/ttsim-version
Due: none

Reduce Gemma4 prefill memory with KV-only weights and smaller traces
  models/demos/common/prefill/runners/prefill_runner.py
  models/demos/gemma4/demo/text_demo_prefill.py
  models/demos/gemma4/tt/common.py
  models/demos/gemma4/tt/model.py
  models/demos/gemma4/tt/tt_prefill_runtime.py
Due: none

#53533: test GLM 5.2 MTP prefill through the device window path, at MTP4 and MTP7
  models/demos/common/prefill/runners/topology_configuration/pipeline_prefill_request_1rank_mtp7.yaml
  models/demos/common/prefill/runners/topology_configuration/pipeline_prefill_request_2rank_mtp7.yaml
  models/demos/common/prefill/tests/test_producer_runner_e2e.py
  models/demos/deepseek_v3_d_p/tests/mtp_prefill/test_mtp.py
  models/demos/deepseek_v3_d_p/tests/mtp_prefill/test_mtp_transformer_chunks.py
  models/demos/deepseek_v3_d_p/tt/runners/manifests/glm52_mtp7.json
  models/demos/deepseek_v3_d_p/tt/tt_prefill_transformer.py
Due: none

[Performance] GLM-5.2 sparse MLA matmul tuning (#55455)
  models/demos/deepseek_v3_d_p/tt/mla/indexer.py
  models/demos/deepseek_v3_d_p/tt/mla/mla_config.py
  models/demos/deepseek_v3_d_p/tt/tt_distributed_rms_norm.py
  models/demos/deepseek_v3_d_p/tt/tt_prefill_block.py
Due: none

Fixup previous compilation errors
  tt-train/tests/python/grpo_remote_rollout/test_rollout_transport.py
  tt_metal/distributed/multihost/mpi_distributed_context.cpp
Due: none

Omit unused centred-value storage from compact FP32 LayerNorm
  tests/ttnn/unit_tests/operations/fused/test_layer_norm.py
  ttnn/cpp/ttnn/operations/normalization/layernorm/device/kernels/compute/layernorm_welford.cpp
  ttnn/cpp/ttnn/operations/normalization/layernorm/device/layernorm_op_multi_core.cpp
Due: block-ttnn-pybind-changes

Remove stray semicolons after control-flow blocks in device code
  tt_metal/hw/inc/internal/dataflow/dataflow_api_addrgen.h
  tt_metal/hw/inc/internal/tt-1xx/blackhole/stream_interface.h
  tt_metal/hw/inc/internal/tt-1xx/wormhole/stream_interface.h
  tt_metal/hw/inc/internal/tt-2xx/quasar/stream_interface.h
  tt_metal/tt-llk/tt_llk_blackhole/common/inc/ckernel_debug.h
  tt_metal/tt-llk/tt_llk_blackhole/common/inc/ckernel_defs.h
  tt_metal/tt-llk/tt_llk_blackhole/llk_lib/llk_math_common.h
  tt_metal/tt-llk/tt_llk_quasar/llk_lib/llk_math_common.h
  tt_metal/tt-llk/tt_llk_wormhole_b0/common/inc/ckernel_debug.h
  tt_metal/tt-llk/tt_llk_wormhole_b0/common/inc/ckernel_defs.h
  tt_metal/tt-llk/tt_llk_wormhole_b0/llk_lib/llk_math_common.h
Due: none

Remove unused two-pass interleaved GroupNorm buffers
  tests/ttnn/unit_tests/operations/fused/test_group_norm_DRAM.py
  ttnn/cpp/ttnn/operations/normalization/groupnorm/device/groupnorm_device_operation.cpp
  ttnn/cpp/ttnn/operations/normalization/groupnorm/device/groupnorm_mcast_program_factory.cpp
  ttnn/cpp/ttnn/operations/normalization/groupnorm/device/groupnorm_no_mcast_program_factory.cpp
  ttnn/cpp/ttnn/operations/normalization/groupnorm/device/groupnorm_program_utils.hpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

Hoist scalar normalisation mean negation out of row bands
  tt_metal/tt-llk/tt_llk_blackhole/common/inc/sfpu/ckernel_sfpu_binary_bcast.h
  tt_metal/tt-llk/tt_llk_wormhole_b0/common/inc/sfpu/ckernel_sfpu_binary_bcast.h
Due: none

Set the plan topology the indexer factory hands get_mesh_ring_position
  ttnn/cpp/ttnn/operations/experimental/indexer_score/device/ring_indexer_score_dsa_program_factory.cpp
Due: block-ttnn-pybind-changes

Mute clang-diagnostic-extra-semi-stmt; record two decisions
  tech_reports/code-indexing/kernel-clang-tidy.md
  tt_metal/jit_build/kernel_clang_tidy/codechecker.json
Due: none

Rename threaded_bridge_test/ to bridge_and_queue_test/
  tt-train/sources/examples/grpo_remote_rollout/bridge_and_queue_test/configurations/split_1_1/hosts.txt
  tt-train/sources/examples/grpo_remote_rollout/bridge_and_queue_test/configurations/split_1_1/mgd.textproto
  tt-train/sources/examples/grpo_remote_rollout/bridge_and_queue_test/configurations/split_1_1/rank_bindings.yaml
  tt-train/sources/examples/grpo_remote_rollout/bridge_and_queue_test/runner.sh
  tt-train/sources/examples/grpo_remote_rollout/bridge_and_queue_test/test_threaded_bridge.py
  tt-train/sources/examples/grpo_remote_rollout/bridge_and_queue_test/weight_bridge.py
Due: none

Add RolloutQueue SPSC cross-process queue + 2-rank test
  tt-train/sources/examples/grpo_remote_rollout/bridge_and_queue_test/rollout_queue.py
  tt-train/sources/examples/grpo_remote_rollout/bridge_and_queue_test/runner_rollout_queue.sh
  tt-train/sources/examples/grpo_remote_rollout/bridge_and_queue_test/test_rollout_queue.py
Due: none

Add combined bridge+queue 2-rank test and README
  tt-train/sources/examples/grpo_remote_rollout/bridge_and_queue_test/README.md
  tt-train/sources/examples/grpo_remote_rollout/bridge_and_queue_test/runner_bridge_and_queue.sh
  tt-train/sources/examples/grpo_remote_rollout/bridge_and_queue_test/test_bridge_and_queue.py
Due: none

Hoist redundant H and HW reduction packer reconfiguration
  tests/ttnn/unit_tests/operations/reduce/test_reduction.py
  ttnn/cpp/ttnn/operations/reduction/generic/device/kernels/compute/welford_reduce_h.cpp
  ttnn/cpp/ttnn/operations/reduction/generic/device/kernels/compute/welford_reduce_hw.cpp
Due: block-ttnn-pybind-changes

Enable experimental FFT Blackhole tests with run_for_blackhole.
  tests/ttnn/nightly/unit_tests/operations/experimental/fft/test_fft_blackhole_diagnose.py
  tests/ttnn/nightly/unit_tests/operations/experimental/fft/test_fft_public_api.py
Due: none

Allow Blackhole in experimental FFT preflight.
  ttnn/cpp/ttnn/operations/experimental/fft/fft.cpp
Due: block-ttnn-pybind-changes

bevformer: update github ticket
  models/experimental/bevformer/docs/github/01.01-sca-rebatch-scatter-on-device.md
Due: none

Implement rollout coordinator and updated rollout wokrer service to forward appropriate events Add tests for the above
  tt-train/sources/examples/grpo_remote_rollout/utils/mpi_rollout_transport.py
  tt-train/sources/examples/grpo_remote_rollout/utils/rollout_coordinator.py
  tt-train/sources/examples/grpo_remote_rollout/utils/rollout_service.py
  tt-train/sources/examples/grpo_remote_rollout/utils/rollout_transport.py
  tt-train/tests/python/grpo_remote_rollout/test_mpi_rollout_transport.py
  tt-train/tests/python/grpo_remote_rollout/test_rollout_coordinator.py
  tt-train/tests/python/grpo_remote_rollout/test_rollout_transport.py
Due: none

[Test Only] permute: sweep block-float dtypes and expose the bfloat4_b gap (#48813)
  tests/ttnn/nightly/unit_tests/operations/data_movement/test_permute.py
  tests/ttnn/unit_tests/operations/data_movement/test_permute.py
Due: none

Optimise sharded GroupNorm affine output packing
  tests/ttnn/unit_tests/operations/fused/test_group_norm.py
  ttnn/cpp/ttnn/operations/normalization/groupnorm/device/kernels/compute/welford_groupnorm_sharded_v2.cpp
Due: block-ttnn-pybind-changes

Finalise W and H reductions without unused mean stores
  tests/ttnn/unit_tests/operations/reduce/test_reduction.py
  tt_metal/hw/ckernels/blackhole/metal/llk_api/llk_sfpu/llk_math_welfords_sfpu_entry.h
  tt_metal/hw/ckernels/wormhole_b0/metal/llk_api/llk_sfpu/llk_math_welfords_sfpu_entry.h
  tt_metal/hw/inc/api/compute/welford.h
  tt_metal/tt-llk/common/ckernel_sfpu_welfords_common.h
  ttnn/cpp/ttnn/operations/reduction/generic/device/kernels/compute/welford_reduce_h.cpp
  ttnn/cpp/ttnn/operations/reduction/generic/device/kernels/compute/welford_reduce_w.cpp
  ttnn/cpp/ttnn/operations/reduction/generic/device/welford_reduce_device_operation.hpp
  ttnn/cpp/ttnn/operations/reduction/generic/device/welford_reduce_program_factory.cpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

[Tests] Consolidate QB2 indexer and SDPA coverage (#55637)
  tests/pipeline_reorg/blackhole_multi_card_sanity_tests.yaml
  tests/ttnn/nightly/unit_tests/operations/experimental/indexer_score/ring_indexer_score_test_utils.py
  tests/ttnn/nightly/unit_tests/operations/experimental/indexer_score/test_indexer_score.py
  tests/ttnn/nightly/unit_tests/operations/experimental/indexer_score/test_ring_indexer_score_dsa.py
  tests/ttnn/nightly/unit_tests/operations/experimental/indexer_score/test_ring_indexer_score_dsa_4d.py
Due: none

[LLK] Reject MOP loop counts that cannot balance SrcA publications
  tt_metal/hw/inc/api/compute/reduce_custom.h
  tt_metal/tt-llk/tt_llk_blackhole/llk_lib/experimental/llk_unpack_AB_reduce_custom.h
  tt_metal/tt-llk/tt_llk_wormhole_b0/llk_lib/experimental/llk_unpack_AB_reduce_custom.h
  tt_metal/tt-llk/tt_llk_wormhole_b0/llk_lib/llk_unpack_A.h
Due: none

build each marker once, and read the device log in batches
  tests/ttnn/tracy/test_process_device_log.py
  tools/tracy/process_device_log.py
Due: none

ThreadedWeightBridge: dict API with lazy on-device pads
  tt-train/sources/examples/grpo_remote_rollout/bridge_and_queue_test/README.md
  tt-train/sources/examples/grpo_remote_rollout/bridge_and_queue_test/test_bridge_and_queue.py
  tt-train/sources/examples/grpo_remote_rollout/bridge_and_queue_test/test_threaded_bridge.py
  tt-train/sources/examples/grpo_remote_rollout/bridge_and_queue_test/weight_bridge.py
Due: none

Adds coordinator rollout client and tests for it
  tt-train/sources/examples/grpo_remote_rollout/utils/coordinator_rollout_client.py
  tt-train/tests/python/grpo_remote_rollout/test_coordinator_rollout_client.py
Due: none

ThreadedWeightBridge: split sender/receiver loops into helpers
  tt-train/sources/examples/grpo_remote_rollout/bridge_and_queue_test/weight_bridge.py
Due: none

Return rollout-side logprobs from async generation
  models/common/modules/sampling/sampling_1d.py
  models/common/sampling/tt_log_probs.py
  models/common/sampling/tt_sampling.py
  models/common/tests/test_sampling.py
  tt-train/sources/examples/grpo_remote_rollout/gsm8k_onestep/gsm8k_onestep_training_example.py
  tt-train/sources/examples/grpo_remote_rollout/utils/qwen3_grpo_completer.py
  tt-train/sources/examples/grpo_remote_rollout/utils/rollout_engine.py
  tt-train/sources/examples/grpo_remote_rollout/utils/rollout_output_collector.py
  tt-train/sources/examples/grpo_remote_rollout/utils/ttt_generation_worker.py
  tt-train/tests/python/grpo_remote_rollout/test_rollout_output_collector.py
Due: none

#53787: fix ttnn.log_sigmoid accuracy
  tests/sweep_framework/sweeps/eltwise/unary/log_sigmoid/log_sigmoid.py
  tests/tt_eager/python_api_testing/sweep_tests/test_configs/ci_sweep_tests_working/wormhole/pytorch_eltwise_log_sigmoid_test.yaml
  tests/ttnn/python_api_testing/sweep_tests/test_configs/ci_sweep_tests_working/wormhole/ttnn_eltwise_log_sigmoid_test.yaml
  tests/ttnn/unit_tests/operations/eltwise/test_activation.py
  tests/ttnn/unit_tests/operations/eltwise/test_unary_fp32.py
  tt_metal/hw/ckernels/blackhole/metal/llk_api/llk_sfpu/ckernel_sfpu_logsigmoid.h
  tt_metal/hw/ckernels/wormhole_b0/metal/llk_api/llk_sfpu/ckernel_sfpu_logsigmoid.h
  tt_metal/hw/inc/api/compute/logsigmoid.h
  tt_metal/tt-llk/tests/helpers/include/sfpu_operations.h
  tt_metal/tt-llk/tests/python_tests/helpers/golden_generators.py
  tt_metal/tt-llk/tests/python_tests/test_eltwise_binary_sfpu.py
  ttnn/cpp/ttnn/kernel_lib/eltwise/unary/activations.hpp
  ttnn/cpp/ttnn/kernel_lib/eltwise/unary/activations.inl
  ttnn/cpp/ttnn/operations/eltwise/unary/device/kernels/compute/logsigmoid_kernel.cpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

Move threaded weight bridge and rollout queue to utils; tests to tests/python
  tt-train/sources/examples/grpo_remote_rollout/bridge_and_queue_test/runner.sh
  tt-train/sources/examples/grpo_remote_rollout/bridge_and_queue_test/runner_rollout_queue.sh
  tt-train/sources/examples/grpo_remote_rollout/utils/rollout_queue.py
  tt-train/sources/examples/grpo_remote_rollout/utils/threaded_weight_bridge.py
  tt-train/tests/python/grpo_remote_rollout/fully_async/README.md
  tt-train/tests/python/grpo_remote_rollout/fully_async/configurations/split_1_1/hosts.txt
  tt-train/tests/python/grpo_remote_rollout/fully_async/configurations/split_1_1/mgd.textproto
  tt-train/tests/python/grpo_remote_rollout/fully_async/configurations/split_1_1/rank_bindings.yaml
  tt-train/tests/python/grpo_remote_rollout/fully_async/conftest.py
  tt-train/tests/python/grpo_remote_rollout/fully_async/runner_bridge_and_queue.sh
  tt-train/tests/python/grpo_remote_rollout/fully_async/runner_rollout_queue.sh
  tt-train/tests/python/grpo_remote_rollout/fully_async/runner_threaded_weight_bridge.sh
  tt-train/tests/python/grpo_remote_rollout/fully_async/test_bridge_and_queue.py
  tt-train/tests/python/grpo_remote_rollout/fully_async/test_rollout_queue.py
  tt-train/tests/python/grpo_remote_rollout/fully_async/test_threaded_weight_bridge.py
Due: none

Path conditions:
  block-ttnn-pybind-changes: any of: ^ttnn/
  detect-legacy-device-op: any of: ^ttnn/.*\.hpp$
  validate-golden-csv-columns: any of: ^tests/tt_metal/tt_metal/perf_microbenchmark/routing/golden/.*bandwidth.*\.csv$
