Repository tenstorrent/tt-metal: changes, and which pre-commit hooks are due for each by the changed paths.
All: block-ttnn-pybind-changes, detect-legacy-device-op, validate-golden-csv-columns

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v3.2.0
  hooks:
    - id: trailing-whitespace
      exclude: \.patch$
    - id: end-of-file-fixer
      exclude: \.patch$
    - id: check-yaml
      args: ["--unsafe"]
    - id: check-added-large-files
# Using this mirror lets us use mypyc-compiled black, which is about 2x faster
- repo: https://github.com/psf/black-pre-commit-mirror
  rev: 23.10.1
  hooks:
    - id: black
      language_version: python3
- repo: https://github.com/PyCQA/autoflake
  rev: v2.3.1
  hooks:
    - id: autoflake
      args: [--remove-all-unused-imports, --in-place, --recursive, --exclude=__init__.py]
      files: ^models/  # Run only on files in the models directory
- repo: https://github.com/pycqa/isort
  rev: 5.13.2
  hooks:
    - id: isort
      files: ^models/
      exclude: ^models/(demos/llama3_70b_galaxy|experimental)/
- repo: https://github.com/BlankSpruce/gersemi
  rev: 0.16.2
  hooks:
    - id: gersemi
- repo: https://github.com/adrienverge/yamllint.git
  rev: v1.35.1
  hooks:
    - id: yamllint
- repo: https://github.com/pre-commit/mirrors-clang-format
  rev: v19.1.4
  hooks:
    - id: clang-format
      entry: git-clang-format
      require_serial: true
      types_or: [c++, c]
      args: ["--style=file"]
- repo: local
  hooks:
    - id: validate-metalium-includes
      name: validate-metalium-includes
      entry: python3 scripts/validate_api/validate_includes.py tt_metal/api --check-ttnn-forwards
      language: system
      pass_filenames: false
    - id: validate-metalium-deprecation
      name: validate-metalium-deprecation
      entry: python3 scripts/validate_api/validate_deprecation.py tt_metal/api origin/main
      language: system
      pass_filenames: false
- repo: local
  hooks:
    - id: check-torch-imports-in-ttnn
      name: Verify that there is no global torch import in ttnn
      entry: python3 scripts/validate_no_global_torch_imports.py
      language: system
      pass_filenames: false
- repo: local
  hooks:
    - id: block-ttnn-pybind-changes
      name: Prevent edits to frozen pybind11 sources under ttnn
      entry: python3 scripts/block_ttnn_pybind_changes.py
      language: system
      pass_filenames: true
      files: ^ttnn/
- repo: local
  hooks:
    - id: convert-notebooks-to-py
      name: Convert .ipynb to .py for ttnn basic examples
      entry: python3 scripts/convert_notebooks_to_python.py
      language: system
- repo: local
  hooks:
    - id: detect-legacy-device-op
      name: Detect legacy device operation classes in newly added files
      entry: python3 scripts/detect_legacy_device_op.py --check-new-only
      language: system
      types: [file]
      files: ^ttnn/.*\.hpp$
      pass_filenames: true
      require_serial: true
- repo: local
  hooks:
    - id: validate-golden-csv-columns
      name: Validate golden bandwidth CSV column headers
      entry: bash .github/scripts/utils/validate_golden_csv_columns.sh
      language: system
      pass_filenames: false
      files: ^tests/tt_metal/tt_metal/perf_microbenchmark/routing/golden/.*bandwidth.*\.csv$

Delegate external paged KV cache sizing
  models/common/modules/attention/attention_1d.py
  models/common/tests/modules/attention/test_attention_1d.py
Due: none

more conv debug changes
  models/demos/vision/classification/resnet50/quasar/tests/ops/test_conv2d_split_program.py
  ttnn/cpp/ttnn/operations/experimental/quasar/conv2d/device/conv2d_op_sharded_program_factory.cpp
  ttnn/cpp/ttnn/operations/experimental/quasar/conv2d/device/kernels/conv_tilize_only_metal2.cpp
Due: block-ttnn-pybind-changes

cc_optimize: stream discover() output live again (fix hang-fix regression)
  models/experimental/perf_automation/cc_optimize/run.py
Due: none

remote JIT compile: write .elf.dephash after the ELF, not at submit
  tt_metal/impl/jit_server/remote_compile_coordinator.cpp
  tt_metal/impl/jit_server/remote_compile_coordinator.hpp
  tt_metal/impl/program/program.cpp
Due: none

Fix undeclared to_string in resolve_hop_sentinels
  tests/tt_metal/tt_fabric/test_infra/tt_fabric_test_config.cpp
Due: none

[tt-triage] Update tt-exalens version to 0.3.27 (#49801)
  tools/tests/triage/test_triage.py
  tools/triage/callstack_provider.py
  tools/triage/check_cb_inactive.py
  tools/triage/check_eth_status.py
  tools/triage/check_l1_status.py
  tools/triage/check_noc_locations.py
  tools/triage/check_noc_status.py
  tools/triage/dispatcher_data.py
  tools/triage/dump_aggregated_callstacks.py
  tools/triage/dump_fast_dispatch.py
  tools/triage/dump_lightweight_asserts.py
  tools/triage/dump_risc_debug_signals.py
  tools/triage/requirements.txt
  tools/triage/run_checks.py
  tools/triage/triage.py
Due: none

docs(normalization): CB->DFB kernel audit (RED — groupnorm zero_fill GATE + fifo_size no-getter; softmax/batch_norm GREEN)
  plan-quasar-dfb-audit/NORMALIZATION_GROUP_AUDIT.md
Due: none

skip a newly found hang test
  tests/ttnn/nightly/unit_tests/operations/experimental/quasar/test_binary_ng_no_bcast.py
  ttnn/cpp/ttnn/operations/experimental/quasar/binary_ng/QUASAR_PARITY_GAPS.md
  ttnn/cpp/ttnn/operations/experimental/quasar/binary_ng/qualification/QUASAR_LLK_GAPS.md
Due: block-ttnn-pybind-changes

docs(misc-small): CB->DFB audit (RED — example donor GATE, halo Class-3 scatter, prefetcher remote-CB structural; full/p2p GREEN)
  plan-quasar-dfb-audit/MISC_SMALL_GROUP_AUDIT.md
Due: none

docs(reduction): CB->DFB audit (RED — 3 mechanical get_local_cb_interface.fifo_page_size GATEs, 2 from eltwise donors; else GREEN/1 YELLOW LTA)
  plan-quasar-dfb-audit/REDUCTION_GROUP_AUDIT.md
Due: none

docs(data_movement): CB->DFB audit (RED — 2 eltwise/unary donor GATEs hit bcast/copy/pad; all 17 in-scope own-kernels GREEN)
  plan-quasar-dfb-audit/DATA_MOVEMENT_GROUP_AUDIT.md
Due: none

temporary timeout increase
  .github/time_budget.yaml
  pytest.ini
  tests/pipeline_reorg/t3k_unit_tests.yaml
Due: none

[docs] Use mesh_device fixture for CCL examples and fix combine shapes
  tests/ttnn/docs_examples/test_ccl_examples.py
Due: none

[regime_a_mm] Mt=8 characterization + baselines + factorization (Parts 2-4)
  tools/mm_sweep/.gitignore
  tools/mm_sweep/FACTORIZATION_ANALYSIS.md
  tools/mm_sweep/FLUXLTX_COMPARE.md
  tools/mm_sweep/MT8_CHARACTERIZATION.md
  tools/mm_sweep/batch_sweep.py
  tools/mm_sweep/characterize_mt8.py
  tools/mm_sweep/factorization_analysis.py
  tools/mm_sweep/fluxltx_compare.py
  tools/mm_sweep/mt8_characterize.json
  tools/mm_sweep/regime_a_bench.py
  tools/mm_sweep/regime_a_sweep_256x2048x1024.json.gz
  tools/mm_sweep/regime_a_sweep_256x6144x2304.json.gz
  tools/mm_sweep/regime_a_sweep_256x6144x4608.json.gz
  tools/mm_sweep/regime_a_sweep_256x6144x768.json.gz
Due: none

docs(experimental): CB->DFB audit (YELLOW — 2 LTA-prereq CBs: dit_pre_allgather reciprocals + group_attn_matmul cb_in2; no GATE in scope; deepseek_prefill OUT-OF-SCOPE)
  plan-quasar-dfb-audit/EXPERIMENTAL_GROUP_AUDIT.md
Due: none

ltx opt: hold #11 — re-verify frontier from W2/L609 source receipt; zero fire-and-exit no-edit harness exists
  opt/PROGRESS.md
Due: none

implement locking/unlocking support for dfb
  tt_metal/hw/inc/api/dataflow/dataflow_buffer.h
  tt_metal/hw/inc/internal/tt-1xx/dataflow_buffer.inl
  tt_metal/hw/inc/internal/tt-2xx/dataflow_buffer.inl
  tt_metal/hw/inc/internal/tt-2xx/dataflow_buffer/dataflow_buffer_init.h
  tt_metal/hw/inc/internal/tt-2xx/dataflow_buffer/dataflow_buffer_interface.h
  tt_metal/impl/debug/noc_debugging.cpp
  tt_metal/impl/debug/noc_debugging.hpp
  tt_metal/tools/profiler/noc_debugging_metadata.hpp
Due: none

add wh/bh noc event logging tests
  tests/tt_metal/tt_metal/noc_debugging/noc_debugging_fixture.hpp
  tests/tt_metal/tt_metal/noc_debugging/test_scoped_lock.cpp
  tests/tt_metal/tt_metal/test_kernels/dataflow/scoped_lock_dfb_consumer.cpp
  tests/tt_metal/tt_metal/test_kernels/dataflow/scoped_lock_dfb_producer.cpp
  tests/tt_metal/tt_metal/test_kernels/dataflow/scoped_lock_dfb_xcore_locker.cpp
  tests/tt_metal/tt_metal/test_kernels/dataflow/scoped_lock_dfb_xcore_writer.cpp
Due: none

[Fabric] Unify big-mesh / multi-mesh fabric YAML suites on high-level patterns
  .github/actions/run-multi-process-tests/action.yml
  tests/pipeline_reorg/galaxy_unit_tests.yaml
  tests/scripts/multihost/run_dual_bh_lb_tests.sh
  tests/scripts/multihost/run_dual_galaxy_tests.sh
  tests/scripts/multihost/run_dual_t3k_tests.sh
  tests/tt_metal/tt_fabric/test_infra/test_yamls/test_5_galaxy_multi_mesh.yaml
  tests/tt_metal/tt_fabric/test_infra/test_yamls/test_api.yaml
  tests/tt_metal/tt_fabric/test_infra/test_yamls/test_dual_big_mesh_fabric_2d_sanity.yaml
  tests/tt_metal/tt_fabric/test_infra/test_yamls/test_dual_galaxy_fabric_1d_sanity.yaml
  tests/tt_metal/tt_fabric/test_infra/test_yamls/test_dual_galaxy_fabric_2d_sanity.yaml
  tests/tt_metal/tt_fabric/test_infra/test_yamls/test_dual_t3k.yaml
  tests/tt_metal/tt_fabric/test_infra/test_yamls/test_fabric_big_mesh_sanity_common.yaml
Due: none

reorg WH perf tests
  .github/time_budget.yaml
  tests/pipeline_reorg/models_e2e_tests.yaml
Due: none

[Cleanup] Migrate local free-function semaphores to Device 2.0 Semaphore<> (Phase A)
  ttnn/cpp/ttnn/operations/ccl/reduce_to_root/device/kernels/root2_receive_reader_kernel.cpp
  ttnn/cpp/ttnn/operations/ccl/reduce_to_root/device/kernels/root2_writer_kernel.cpp
  ttnn/cpp/ttnn/operations/ccl/reduce_to_root/device/kernels/root_receive_reader_kernel.cpp
  ttnn/cpp/ttnn/operations/ccl/reduce_to_root/device/kernels/sender_writer_kernel.cpp
  ttnn/cpp/ttnn/operations/experimental/ccl/all_gather_async/device/kernels/minimal_default_writer.cpp
  ttnn/cpp/ttnn/operations/experimental/ccl/llama_all_gather_matmul_async/device/kernels/reader_bmm_tile_layout_in0_ring_all_gather.cpp
  ttnn/cpp/ttnn/operations/experimental/ccl/llama_all_gather_matmul_async/device/kernels/worker_receiver.cpp
  ttnn/cpp/ttnn/operations/experimental/ccl/reduce_scatter_minimal_async/device/kernels/dim_zero_line_reduce_scatter_minimal_async_writer.cpp
  ttnn/cpp/ttnn/operations/experimental/ccl/reduce_scatter_minimal_async/device/kernels/dim_zero_ring_reduce_scatter_minimal_async_writer.cpp
  ttnn/cpp/ttnn/operations/experimental/ccl/reduce_scatter_minimal_async/device/kernels/line_reduce_scatter_minimal_async_writer.cpp
  ttnn/cpp/ttnn/operations/experimental/ccl/reduce_scatter_minimal_async/device/kernels/ring_reduce_scatter_minimal_async_writer.cpp
  ttnn/cpp/ttnn/operations/experimental/ccl/strided_all_gather_async/device/kernels/minimal_default_writer.cpp
  ttnn/cpp/ttnn/operations/experimental/ccl/strided_reduce_scatter_async/device/kernels/minimal_ring_strided_reduce_scatter_async_reader.cpp
  ttnn/cpp/ttnn/operations/experimental/ccl/strided_reduce_scatter_async/device/kernels/minimal_ring_strided_reduce_scatter_async_writer.cpp
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/combine/device/kernels/dataflow/reader_combine.cpp
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/combine/device/kernels/dataflow/writer_combine.cpp
  ttnn/cpp/ttnn/operations/experimental/minimal_matmul/device/kernels/dm_in0_sender.cpp
  ttnn/cpp/ttnn/operations/experimental/minimal_matmul/device/kernels/dm_in1_sender_out.cpp
  ttnn/cpp/ttnn/operations/experimental/topk_router_gpt/device/kernels/dm1.cpp
  ttnn/cpp/ttnn/operations/experimental/transformer/all_reduce_create_qkv_heads/device/kernels/dataflow/reduction_receiver.cpp
  ttnn/cpp/ttnn/operations/experimental/transformer/all_reduce_create_qkv_heads/device/kernels/dataflow/worker_writer.cpp
Due: block-ttnn-pybind-changes

main loop zone
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/combine/device/kernels/dataflow/writer_relay.cpp
Due: block-ttnn-pybind-changes

conv probe
  models/demos/vision/classification/resnet50/quasar/tests/ops/test_conv2d_unpack_tilize_probe.py
  ttnn/cpp/ttnn/operations/experimental/quasar/conv2d/device/conv2d_device_operation.cpp
  ttnn/cpp/ttnn/operations/experimental/quasar/conv2d/device/conv2d_op_sharded_program_factory.cpp
  ttnn/cpp/ttnn/operations/experimental/quasar/conv2d/device/kernels/conv_unpack_tilize_probe_metal2.cpp
Due: block-ttnn-pybind-changes

[Bug fix] Route LLK smoke tests to event-appropriate runners (#49935)
  .github/time_budget.yaml
  .github/workflows/pr-gate.yaml
  tests/pipeline_reorg/llk_pr_gate_tests.yaml
Due: none

experimental-quasar binary_ng: no-broadcast DFB factory + qualification harness (#48676)
  .github/CODEOWNERS
  tests/ttnn/nightly/unit_tests/operations/experimental/quasar/test_binary_ng_descriptor_cache_hit.py
  tests/ttnn/nightly/unit_tests/operations/experimental/quasar/test_binary_ng_no_bcast.py
  tests/ttnn/nightly/unit_tests/operations/experimental/quasar/test_binary_ng_resnet_add.py
  ttnn/cpp/ttnn/operations/experimental/quasar/binary_ng/QUASAR_PARITY_GAPS.md
  ttnn/cpp/ttnn/operations/experimental/quasar/binary_ng/device/binary_ng_device_operation.cpp
  ttnn/cpp/ttnn/operations/experimental/quasar/binary_ng/device/binary_ng_metal_v2_factory.cpp
  ttnn/cpp/ttnn/operations/experimental/quasar/binary_ng/device/kernels_dfb/compute/eltwise_binary_no_bcast_dfb.cpp
  ttnn/cpp/ttnn/operations/experimental/quasar/binary_ng/device/kernels_dfb/compute/eltwise_binary_sfpu_no_bcast_dfb.cpp
  ttnn/cpp/ttnn/operations/experimental/quasar/binary_ng/device/kernels_dfb/compute/eltwise_utils_dfb.hpp
  ttnn/cpp/ttnn/operations/experimental/quasar/binary_ng/device/kernels_dfb/compute/eltwise_utils_sfpu_dfb.hpp
  ttnn/cpp/ttnn/operations/experimental/quasar/binary_ng/device/kernels_dfb/dataflow/reader_no_bcast_dfb.cpp
  ttnn/cpp/ttnn/operations/experimental/quasar/binary_ng/device/kernels_dfb/dataflow/reader_sharded_no_bcast_dfb.cpp
  ttnn/cpp/ttnn/operations/experimental/quasar/binary_ng/device/kernels_dfb/dataflow/writer_no_bcast_dfb.cpp
  ttnn/cpp/ttnn/operations/experimental/quasar/binary_ng/device/kernels_dfb/dataflow/writer_sharded_no_bcast_dfb.cpp
  ttnn/cpp/ttnn/operations/experimental/quasar/binary_ng/qualification/QUASAR_BINARY_QUALIFICATION.md
  ttnn/cpp/ttnn/operations/experimental/quasar/binary_ng/qualification/QUASAR_LLK_GAPS.md
  ttnn/cpp/ttnn/operations/experimental/quasar/binary_ng/qualification/qualify_quasar_binary.py
  ttnn/cpp/ttnn/operations/experimental/quasar/binary_ng/qualification/test_binary_bcast_compatibility.py
Due: block-ttnn-pybind-changes, detect-legacy-device-op

[Cleanup] Migrate Conv/Pool Kernels from CircularBuffer to DataflowBuffer (#49439)
  models/demos/stable_diffusion_xl_base/tests/test_sdxl_op_unit_test_perf.py
  ttnn/cpp/ttnn/operations/conv/conv2d/device/kernels/activation_reader_width_sharded.cpp
  ttnn/cpp/ttnn/operations/conv/conv2d/device/kernels/compute_depthwise_conv1d.cpp
  ttnn/cpp/ttnn/operations/conv/conv2d/device/kernels/conv_bmm_tilize.cpp
  ttnn/cpp/ttnn/operations/conv/conv2d/device/kernels/conv_reader_common.hpp
  ttnn/cpp/ttnn/operations/conv/conv2d/device/kernels/reader_conv_activations_2d_mcast_padded_with_halo_3x3_weights_v2.cpp
  ttnn/cpp/ttnn/operations/conv/conv2d/device/kernels/reader_conv_activations_padded_with_halo_3x3_weights_v2.cpp
  ttnn/cpp/ttnn/operations/conv/conv2d/device/kernels/reader_depthwise_conv1d.cpp
  ttnn/cpp/ttnn/operations/conv/conv2d/device/kernels/reader_writer_tiled_out_1d_mcast_receiver_conv_weights_tiled_col_to_rm_blocks.cpp
  ttnn/cpp/ttnn/operations/conv/conv2d/device/kernels/reader_writer_tiled_out_1d_mcast_sender_conv_weights_tiled_col_to_rm_blocks.cpp
  ttnn/cpp/ttnn/operations/conv/conv2d/device/kernels/weights_reader_width_sharded.cpp
  ttnn/cpp/ttnn/operations/conv/conv2d/device/kernels/writer_tiled_out_2d_mcast_receiver_conv_weights_tiled_col_to_rm_blocks.cpp
  ttnn/cpp/ttnn/operations/conv/conv2d/device/kernels/writer_tiled_out_2d_mcast_sender_conv_weights_tiled_col_to_rm_blocks.cpp
  ttnn/cpp/ttnn/operations/pool/device/kernels/pool_kernels_common.hpp
  ttnn/cpp/ttnn/operations/pool/generic/device/kernels/compute/compute_mpwi.cpp
  ttnn/cpp/ttnn/operations/pool/generic/device/kernels/compute/compute_pool_2d.cpp
  ttnn/cpp/ttnn/operations/pool/generic/device/kernels/dataflow/reader_mpwi.cpp
  ttnn/cpp/ttnn/operations/pool/generic/device/kernels/dataflow/reader_pool_2d.cpp
  ttnn/cpp/ttnn/operations/pool/grid_sample/device/kernels/dataflow/reader_grid_sample_interleaved_start_id.cpp
  ttnn/cpp/ttnn/operations/pool/grid_sample/device/kernels/dataflow/reader_grid_sample_sharded.cpp
  ttnn/cpp/ttnn/operations/pool/grid_sample/device/kernels/dataflow/writer_grid_sample_interleaved.cpp
  ttnn/cpp/ttnn/operations/pool/grid_sample/device/kernels/dataflow/writer_grid_sample_nearest_sharded.cpp
  ttnn/cpp/ttnn/operations/pool/grid_sample/device/kernels/grid_sample_reader_common.hpp
  ttnn/cpp/ttnn/operations/pool/rotate/device/kernels/dataflow/reader_rotate_bilinear_interleaved.cpp
  ttnn/cpp/ttnn/operations/pool/rotate/device/kernels/dataflow/reader_rotate_nearest_interleaved.cpp
  ttnn/cpp/ttnn/operations/pool/rotate/device/kernels/dataflow/writer_rotate_nearest_interleaved.cpp
  ttnn/cpp/ttnn/operations/pool/upsample/device/kernels/compute/bilinear.cpp
  ttnn/cpp/ttnn/operations/pool/upsample/device/kernels/dataflow/reader_bilinear_multi_core_sharded.cpp
  ttnn/cpp/ttnn/operations/pool/upsample/device/kernels/dataflow/reader_upsample_nearest_float.cpp
  ttnn/cpp/ttnn/operations/pool/upsample/device/kernels/dataflow/reader_upsample_unary_stick_layout_interleaved_start_id.cpp
  ttnn/cpp/ttnn/operations/pool/upsample/device/kernels/dataflow/writer_upsample_interleaved.cpp
  ttnn/cpp/ttnn/operations/pool/upsample/device/kernels/dataflow/writer_upsample_multi_core_sharded.cpp
  ttnn/cpp/ttnn/operations/pool/upsample/device/kernels/dataflow/writer_upsample_nearest_float.cpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

Add tanh approx kernel without bf16 rounding
  tests/ttnn/unit_tests/operations/eltwise/test_gelu_bw_main_ulp.py
  ttnn/cpp/ttnn/operations/eltwise/unary_backward/gelu_bw/device/gelu_bw_program_factory.cpp
Due: block-ttnn-pybind-changes

emule: guard the fabric-route entry points with emule_require_self (#49821 review)
  tt_metal/impl/emulation/emulated_program_runner.cpp
Due: none

Program BH FP8 E4M3 packer input format as Float16 (#49909)
  tt_metal/tt-llk/tt_llk_blackhole/common/inc/cpack_common.h
Due: none

Add bh-ring-stress long-running fabric CPU-only test group
  .github/time_budget.yaml
  models/demos/deepseek_v3_b1/scaleout_configs/blitz_decode_ring_20stage_mesh_graph_descriptor.textproto
  models/demos/deepseek_v3_b1/scaleout_configs/blitz_decode_ring_24stage_mesh_graph_descriptor.textproto
  models/demos/deepseek_v3_b1/scaleout_configs/blitz_decode_ring_28stage_mesh_graph_descriptor.textproto
  models/demos/deepseek_v3_b1/scaleout_configs/blitz_decode_ring_36stage_mesh_graph_descriptor.textproto
  tests/pipeline_reorg/fabric_cpu_only_unit_tests.yaml
  tests/scripts/multihost/run_fabric_cpu_only_unit_tests.sh
Due: none

Review feedback: move Semaphore definition closer to ctime args
  ttnn/cpp/ttnn/operations/experimental/minimal_matmul/device/kernels/dm_in0_sender.cpp
  ttnn/cpp/ttnn/operations/experimental/minimal_matmul/device/kernels/dm_in1_sender_out.cpp
Due: block-ttnn-pybind-changes

[Cleanup] Phase A follow-up: sweep remaining id-derived local semaphores to Semaphore<>
  ttnn/cpp/ttnn/operations/experimental/ccl/reduce_scatter_minimal_async/device/kernels/dim_zero_line_reduce_scatter_minimal_async_reader.cpp
  ttnn/cpp/ttnn/operations/experimental/ccl/reduce_scatter_minimal_async/device/kernels/line_reduce_scatter_minimal_async_reader.cpp
  ttnn/cpp/ttnn/operations/experimental/deepseek/mla/matmul_wo/device/kernels/dm1_collector.cpp
Due: block-ttnn-pybind-changes

emule-blaze: guard the fabric-route entry points with emule_require_self
  tt_metal/impl/emulation/emulated_program_runner.cpp
Due: none

doc tweaks
  tt_metal/api/tt-metalium/experimental/realtime_profiler.hpp
  ttnn/cpp/ttnn-nanobind/device.cpp
Due: block-ttnn-pybind-changes

docs(fibo-pipeline): CFG=2 x SP=4 x TP=4 encoder design
  docs/superpowers/specs/2026-07-15-fibo-encoder-cfg-sp-tp-design.md
Due: none

Missed arg renames
  ttnn/cpp/ttnn/operations/data_movement/scatter/device/kernels/common.hpp
  ttnn/cpp/ttnn/operations/data_movement/scatter/device/kernels/dataflow/reader_bf16_reduction_scatter.cpp
  ttnn/cpp/ttnn/operations/data_movement/scatter/device/kernels/dataflow/reader_scatter.cpp
  ttnn/cpp/ttnn/operations/data_movement/scatter/device/kernels/dataflow/writer_bf16_reduction_scatter.cpp
  ttnn/cpp/ttnn/operations/data_movement/scatter/device/kernels/dataflow/writer_scatter.cpp
  ttnn/cpp/ttnn/operations/data_movement/scatter/device/kernels/scatter_bf16_reduction_common.hpp
  ttnn/cpp/ttnn/operations/data_movement/scatter/device/kernels/scatter_common.hpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op
