Repository tenstorrent/tt-metal: changes, and which pre-commit hooks are due for each by the changed paths.
All: block-ttnn-pybind-changes, detect-legacy-device-op, validate-golden-csv-columns

block-ttnn-pybind-changes:
  name: Prevent edits to frozen pybind11 sources under ttnn
  entry: python3 scripts/block_ttnn_pybind_changes.py
  language: system
  pass_filenames: true

detect-legacy-device-op:
  name: Detect legacy device operation classes in newly added files
  entry: python3 scripts/detect_legacy_device_op.py --check-new-only
  language: system
  pass_filenames: true
  require_serial: true

validate-golden-csv-columns:
  name: Validate golden bandwidth CSV column headers
  entry: bash .github/scripts/utils/validate_golden_csv_columns.sh
  language: system
  pass_filenames: false

Fix hang for straddle + padded iterations
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/kernels/dataflow/ring_joint_reader.cpp
Due: block-ttnn-pybind-changes

Add missing flush
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/kernels/dataflow/chain_link.hpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

Add K-chain 2D multicast for MLA in Ring Joint SDPA
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/kernels/dataflow/chain_link.hpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/kernels/dataflow/ring_joint_reader.cpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/ring_joint_sdpa_program_factory.cpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

Fix sem initialization
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/kernels/dataflow/chain_link.hpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

Address PR comment
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/kernels/dataflow/ring_joint_reader.cpp
Due: block-ttnn-pybind-changes

Gate batch chain resources behind NHK == 1 and add ChainConfig struct
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/kernels/dataflow/chain_link.hpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/kernels/dataflow/ring_joint_reader.cpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/ring_joint_sdpa_program_factory.cpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

Update DeepSeekV3 B1 embedding loopback tests to use new metadata format (#43265)
  models/demos/deepseek_v3_b1/tests/unit_tests/test_host_io.py
  models/demos/deepseek_v3_b1/tests/unit_tests/test_lm_head_sampling.py
Due: none

LSE-aware combine step 2: writer + device op + Python wrapper
  ttnn/cpp/ttnn/operations/experimental/turbo_quant/sdpa/device/sdpa_tq_device_operation.cpp
  ttnn/cpp/ttnn/operations/experimental/turbo_quant/sdpa/device/sdpa_tq_device_operation.hpp
  ttnn/cpp/ttnn/operations/experimental/turbo_quant/sdpa/device/sdpa_tq_program_factory.cpp
  ttnn/cpp/ttnn/operations/experimental/turbo_quant/sdpa/kernels/compute/sdpa_tq_decode.cpp
  ttnn/cpp/ttnn/operations/experimental/turbo_quant/sdpa/kernels/dataflow/writer_tq_decode.cpp
  ttnn/cpp/ttnn/operations/experimental/turbo_quant/turbo_quant.cpp
  ttnn/cpp/ttnn/operations/experimental/turbo_quant/turbo_quant.hpp
  ttnn/cpp/ttnn/operations/experimental/turbo_quant/turbo_quant_nanobind.cpp
  turbo_quant/test_lse_export.py
  turbo_quant/ttnn_integration.py
Due: block-ttnn-pybind-changes, detect-legacy-device-op

Fix
  models/demos/deepseek_v3_d_p/tests/test_mla.py
Due: none

modded benchmark test params to analyze issue
  tests/tt_metal/tt_metal/perf_microbenchmark/dispatch/benchmark_rw_buffer.cpp
Due: none

Change packet size and add try except
  models/demos/deepseek_v3_d_p/tests/pcc/test_ttnn_moe.py
  models/demos/deepseek_v3_d_p/utils/perf_utils.py
Due: none

PR cleanup
  tt_metal/hw/inc/api/compute/welford.h
  tt_metal/tt-llk/tt_llk_blackhole/llk_lib/llk_math_welfords_sfpu.h
  tt_metal/tt-llk/tt_llk_wormhole_b0/llk_lib/llk_math_welfords_sfpu.h
  ttnn/cpp/ttnn/operations/reduction/generic/device/kernels/compute/welford_reduce_h.cpp
  ttnn/cpp/ttnn/operations/reduction/generic/device/kernels/compute/welford_reduce_hw.cpp
Due: block-ttnn-pybind-changes

Create welford_reinit for use in reductions
  tt_metal/hw/ckernels/blackhole/metal/llk_api/llk_sfpu/llk_math_welfords_sfpu_entry.h
  tt_metal/hw/ckernels/wormhole_b0/metal/llk_api/llk_sfpu/llk_math_welfords_sfpu_entry.h
  tt_metal/hw/inc/api/compute/welford.h
  tt_metal/tt-llk/tt_llk_blackhole/llk_lib/llk_math_welfords_sfpu.h
  tt_metal/tt-llk/tt_llk_wormhole_b0/llk_lib/llk_math_welfords_sfpu.h
  ttnn/cpp/ttnn/operations/reduction/generic/device/kernels/compute/welford_reduce_h.cpp
  ttnn/cpp/ttnn/operations/reduction/generic/device/kernels/compute/welford_reduce_hw.cpp
  ttnn/cpp/ttnn/operations/reduction/generic/device/kernels/compute/welford_reduce_w.cpp
Due: block-ttnn-pybind-changes

prefill pipeline: number_of_non_padded_tokens cleanup, drop actual_isl from forward()
  models/demos/deepseek_v3_d_p/tt/tt_deepseek_prefill_pipeline.py
Due: none

fix: match distributed variant in artifact reuse lookup
  .github/actions/find-build-for-sha/action.yaml
  .github/workflows/build-artifact.yaml
Due: none

removed incorrect skips
  tests/ttnn/unit_tests/operations/ccl/blackhole_CI/box/all_post_commit/test_all_broadcast_2d_fabric.py
  tests/ttnn/unit_tests/operations/ccl/blackhole_CI/box/all_post_commit/test_all_gather_2d_fabric.py
  tests/ttnn/unit_tests/operations/ccl/blackhole_CI/box/all_post_commit/test_all_reduce_2d_fabric.py
  tests/ttnn/unit_tests/operations/ccl/blackhole_CI/box/nightly/test_all_broadcast_2d_fabric.py
  tests/ttnn/unit_tests/operations/ccl/blackhole_CI/box/nightly/test_all_gather_2d_fabric.py
  tests/ttnn/unit_tests/operations/ccl/blackhole_CI/box/nightly/test_all_reduce_2d_fabric.py
  tests/ttnn/unit_tests/operations/ccl/blackhole_CI/box/nightly/test_reduce_scatter_2d_fabric.py
Due: none

LSE-aware combine step 3+4: hybrid SDPA via pre_rescaled TQ kernel
  models/tt_transformers/tt/attention.py
  turbo_quant/eval_token_accuracy.py
  turbo_quant/ttnn_integration.py
Due: none

PLAN: LSE-aware hybrid combine plumbed end-to-end, validation blocked on host syncs
  turbo_quant/PLAN.md
Due: none

strip fabric/ccl
  models/demos/deepseek_v3_b1/fused_ops/lm_head_sampling/kernels/lm_head_sampling_kernel.cpp
  models/demos/deepseek_v3_b1/tests/unit_tests/test_lm_head_sampling.py
Due: none

Rename llama90b-vl model label to llama3.2-90b-vision
  .github/workflows/models-t2-e2e-tests.yaml
  .github/workflows/models-t2-unit-tests.yaml
  tests/pipeline_reorg/models_e2e_tests.yaml
  tests/pipeline_reorg/models_unit_tests.yaml
Due: none

[Gemma3] Fix offline model loading when HF hub cache lacks refs/main
  models/demos/multimodal/gemma3/tt/model_config.py
Due: none

Hybrid: cache cur_pos at layer_idx=0 to cut host syncs 32x
  turbo_quant/PLAN.md
  turbo_quant/ttnn_integration.py
Due: none

Make 5 token test default for CI; cleanup run_inference code
  models/demos/deepseek_v3_b1/demo/model_pipeline.py
  models/demos/deepseek_v3_b1/tests/unit_tests/test_run_inference.py
Due: none

Add ring/torus tests to neighbor exchange sanity suite (#43291)
  tests/tt_metal/tt_metal/perf_microbenchmark/routing/test_fabric_sanity_neighbor_exchange.yaml
Due: none

Mixed up arch and ci_runner label. Use ci_runner label to record card type
  tt-train/scripts/run_models.py
Due: none

Fix pool CB/L1 clash in MPWI by sizing reader indices CB to actual page
  ttnn/cpp/ttnn/operations/pool/generic/device/pool_multi_core_program_factory.cpp
  ttnn/cpp/ttnn/operations/pool/pool_utils.cpp
  ttnn/cpp/ttnn/operations/pool/pool_utils.hpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

Conv change
  ttnn/cpp/ttnn/operations/conv/conv2d/conv2d_op_program_factory_common.cpp
  ttnn/cpp/ttnn/operations/conv/conv2d/conv2d_op_program_factory_common.hpp
  ttnn/cpp/ttnn/operations/conv/conv2d/conv2d_utils.cpp
  ttnn/cpp/ttnn/operations/conv/conv2d/device/conv2d_device_operation.hpp
  ttnn/cpp/ttnn/operations/conv/conv2d/device/conv2d_op_sharded_program_factory.cpp
  ttnn/cpp/ttnn/operations/conv/conv2d/device/conv2d_op_width_sharded_program_factory.cpp
  ttnn/cpp/ttnn/operations/pool/pool_utils.cpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

renaming project to 6B token version
  tt-train/configs/training_configs/training_slimpajama_tinyllama_glx.yaml
Due: none

#0: Add mla stability
  models/demos/deepseek_v3_d_p/tests/run_mla_stability.sh
Due: none

ci: extract find-build-for-sha into reusable composite action
  .github/actions/find-build-for-sha/action.yaml
  .github/workflows/build-artifact.yaml
Due: none

chore: remove AI-JOURNAL.md (should not be committed)
  AI-JOURNAL.md
Due: none

ci: reuse build artifacts for same commit SHA across workflows
  .github/workflows/build-artifact.yaml
  AI-JOURNAL.md
Due: none

fix: check wheel artifact separately in find-build-for-sha
  .github/actions/find-build-for-sha/action.yaml
  .github/workflows/build-artifact.yaml
Due: none

fix: search artifacts by SHA across all workflow types for cross-workflow reuse
  .github/actions/find-build-for-sha/action.yaml
Due: none

fix: add actions:read to top-level permissions in 16 caller workflows
  .github/workflows/all-model-tests.yaml
  .github/workflows/docs-latest-public-wrapper.yaml
  .github/workflows/merge-gate.yaml
  .github/workflows/models-t1-device-perf-tests.yaml
  .github/workflows/models-t1-e2e-tests.yaml
  .github/workflows/models-t1-sweep-tests.yaml
  .github/workflows/models-t1-unit-tests.yaml
  .github/workflows/models-t2-e2e-tests.yaml
  .github/workflows/models-t2-sweep-tests.yaml
  .github/workflows/models-t2-unit-tests.yaml
  .github/workflows/models-t3-e2e-tests.yaml
  .github/workflows/models-t3-unit-tests.yaml
  .github/workflows/pr-gate.yaml
  .github/workflows/release-build-test-publish.yaml
  .github/workflows/ttnn-model-trace-sweep-validation-impl.yaml
  .github/workflows/ttnn-run-model-trace.yaml
Due: none

[fuser] fuser reconfig data formats codegen (#43325)
  tt_metal/tt-llk/tests/python_tests/fuser/blackhole/fpu/datacopy.py
  tt_metal/tt-llk/tests/python_tests/fuser/blackhole/fpu/eltwise.py
  tt_metal/tt-llk/tests/python_tests/fuser/blackhole/fpu/matmul.py
  tt_metal/tt-llk/tests/python_tests/fuser/blackhole/fpu/reduce.py
  tt_metal/tt-llk/tests/python_tests/fuser/blackhole/packer/packer.py
  tt_metal/tt-llk/tests/python_tests/fuser/blackhole/parser.py
  tt_metal/tt-llk/tests/python_tests/fuser/blackhole/sfpu/binary.py
  tt_metal/tt-llk/tests/python_tests/fuser/blackhole/sfpu/unary.py
  tt_metal/tt-llk/tests/python_tests/fuser/blackhole/unpacker/matmul.py
  tt_metal/tt-llk/tests/python_tests/fuser/blackhole/unpacker/reduce.py
  tt_metal/tt-llk/tests/python_tests/fuser/blackhole/unpacker/tilize_a.py
  tt_metal/tt-llk/tests/python_tests/fuser/blackhole/unpacker/unpack_a.py
  tt_metal/tt-llk/tests/python_tests/fuser/blackhole/unpacker/unpack_ab.py
  tt_metal/tt-llk/tests/python_tests/fuser/compute_node.py
  tt_metal/tt-llk/tests/python_tests/fuser/fused_math.py
  tt_metal/tt-llk/tests/python_tests/fuser/fused_operand.py
  tt_metal/tt-llk/tests/python_tests/fuser/fused_operation.py
  tt_metal/tt-llk/tests/python_tests/fuser/fuser_config.py
  tt_metal/tt-llk/tests/python_tests/fuser/fuser_sentinel.py
  tt_metal/tt-llk/tests/python_tests/fuser/wormhole/fpu/datacopy.py
  tt_metal/tt-llk/tests/python_tests/fuser/wormhole/fpu/eltwise.py
  tt_metal/tt-llk/tests/python_tests/fuser/wormhole/fpu/matmul.py
  tt_metal/tt-llk/tests/python_tests/fuser/wormhole/fpu/reduce.py
  tt_metal/tt-llk/tests/python_tests/fuser/wormhole/packer/packer.py
  tt_metal/tt-llk/tests/python_tests/fuser/wormhole/parser.py
  tt_metal/tt-llk/tests/python_tests/fuser/wormhole/sfpu/binary.py
  tt_metal/tt-llk/tests/python_tests/fuser/wormhole/sfpu/unary.py
  tt_metal/tt-llk/tests/python_tests/fuser/wormhole/unpacker/matmul.py
  tt_metal/tt-llk/tests/python_tests/fuser/wormhole/unpacker/tilize_a.py
  tt_metal/tt-llk/tests/python_tests/fuser/wormhole/unpacker/unpack_a.py
  tt_metal/tt-llk/tests/python_tests/fuser_config/fpu_datacopy_unpacker_a.yaml
  tt_metal/tt-llk/tests/python_tests/fuser_config/mish.yaml
  tt_metal/tt-llk/tests/python_tests/fuser_config/reconfigure.yaml
Due: none

support 2 stream down-proj in tp8 moe
  models/demos/deepseek_v3_b1/fused_ops/moe/moe_kernel.cpp
  models/demos/deepseek_v3_b1/fused_ops/moe/op.py
  models/demos/deepseek_v3_b1/micro_ops/matmul_expert/kernels/matmul_expert_kernel.cpp
  models/demos/deepseek_v3_b1/micro_ops/matmul_expert/op.py
  models/demos/deepseek_v3_b1/tests/unit_tests/per_core_allocation/test_matmul_expert.py
  models/demos/deepseek_v3_b1/unified_kernels/kernel_utils.hpp
  models/demos/deepseek_v3_b1/unified_kernels/matmul_expert_compressed_dram.hpp
Due: none

Port SFPU CB hash (FNV23) to Wormhole B0
  tt_metal/hw/inc/api/compute/debug/cb_hash_sfpu.h
  tt_metal/tt-llk/tests/python_tests/test_hash_cb.py
  tt_metal/tt-llk/tests/sources/hash_cb_test.cpp
  tt_metal/tt-llk/tt_llk_wormhole_b0/llk_lib/experimental/llk_math_hash_cb.h
Due: none

Path conditions:
  block-ttnn-pybind-changes: any of: ^ttnn/
  detect-legacy-device-op: any of: ^ttnn/.*\.hpp$
  validate-golden-csv-columns: any of: ^tests/tt_metal/tt_metal/perf_microbenchmark/routing/golden/.*bandwidth.*\.csv$
