Repository tenstorrent/tt-metal: changes, and which pre-commit hooks are due for each by the changed paths.
All: block-ttnn-pybind-changes, detect-legacy-device-op, validate-golden-csv-columns

block-ttnn-pybind-changes:
  name: Prevent edits to frozen pybind11 sources under ttnn
  entry: python3 scripts/block_ttnn_pybind_changes.py
  language: system
  pass_filenames: true

detect-legacy-device-op:
  name: Detect legacy device operation classes in newly added files
  entry: python3 scripts/detect_legacy_device_op.py --check-new-only
  language: system
  pass_filenames: true
  require_serial: true

validate-golden-csv-columns:
  name: Validate golden bandwidth CSV column headers
  entry: bash .github/scripts/utils/validate_golden_csv_columns.sh
  language: system
  pass_filenames: false

guard Fabric assert
  tt_metal/fabric/hw/inc/api_common.h
Due: none

perf-lab: add sfpu_tile_scope example (SFPU work-scoping to a single axis)
  tests/ttnn/unit_tests/operations/examples/test_sfpu_tile_scope.py
  ttnn/ttnn/operations/examples/master.md
  ttnn/ttnn/operations/examples/sfpu_tile_scope/README.md
  ttnn/ttnn/operations/examples/sfpu_tile_scope/__init__.py
  ttnn/ttnn/operations/examples/sfpu_tile_scope/__main__.py
  ttnn/ttnn/operations/examples/sfpu_tile_scope/program_descriptor_with_inline_kernels.py
  ttnn/ttnn/operations/examples/sfpu_tile_scope/report.md
Due: block-ttnn-pybind-changes

matmul adjustments
  ttnn/cpp/ttnn/operations/experimental/quasar/matmul/device/factory/matmul_multicore_reuse_mcast_1d_program_factory.cpp
  ttnn/cpp/ttnn/operations/experimental/quasar/matmul/device/kernels/dataflow/reader_bmm_tile_layout_in0_sender_padding_metal2.cpp
Due: block-ttnn-pybind-changes

[Bug Fix] Fix Host tensor operations dropping attribtues (#50285)
  tests/tt_metal/tt_metal/api/sources.cmake
  tests/tt_metal/tt_metal/api/tensor/test_host_tensor_spec_preservation.cpp
  tests/tt_metal/tt_metal/api/tensor/test_host_tensor_to_dtype.cpp
  tests/tt_metal/tt_metal/api/tensor/test_vector_conversion.cpp
  tt_metal/impl/tensor/host_tensor_factory.cpp
  tt_metal/impl/tensor/tensor_apis.cpp
Due: none

run_safe_pytest: handle strict xpass prewarm results
  scripts/run_safe_pytest.sh
  tests/plugins/up_front_collect.py
Due: none

bge_m3: add QKV scatter block sweep
  models/demos/wormhole/bge_m3/tests/perf/qkv_scatter_config_sweep.py
  models/demos/wormhole/bge_m3/tt/custom_ops/qkv_scatter_matmul.py
Due: none

fix(scaleout): don't budget-give-up in multi-solution enumeration (silent truncation)
  tt_metal/fabric/topology_solver_sat.cpp
Due: none

cast fix in matmul
  ttnn/cpp/ttnn/operations/experimental/quasar/matmul/device/kernels/dataflow/reader_bmm_tile_layout_in0_sender_padding_metal2.cpp
Due: block-ttnn-pybind-changes

fix composite routing for RM
  tests/nightly/t3000/ccl/test_all_gather.py
  ttnn/cpp/ttnn/operations/ccl/all_gather/all_gather.cpp
Due: block-ttnn-pybind-changes

[ci] deepseek d2d socket sync: add 4-chip QuietBox program-cache test
  .github/workflows/blackhole-e2e-tests.yaml
  models/demos/deepseek_v3_d_p/tests/test_d2d_socket_sync.py
  tests/pipeline_reorg/blackhole_e2e_tests.yaml
Due: none

[ttnn] outbound_socket_service_sync: drop redundant custom compute_program_hash
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/outbound_socket_service_sync/device/outbound_socket_service_sync_device_operation.cpp
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/outbound_socket_service_sync/device/outbound_socket_service_sync_device_operation.hpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

move: use TT_THROW for the unreachable default case (reviewer nit)
  ttnn/cpp/ttnn/operations/data_movement/move/device/move_sharded_program_factory.cpp
Due: block-ttnn-pybind-changes

Migrate move op from get_dynamic_runtime_args to override_runtime_arguments
  tests/tt_eager/python_api_testing/unit_testing/misc/test_move_sharded.py
  ttnn/cpp/ttnn/operations/data_movement/move/device/move_device_operation.hpp
  ttnn/cpp/ttnn/operations/data_movement/move/device/move_sharded_program_factory.cpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

Migrate tilize off get_dynamic_runtime_args to override_runtime_arguments
  tests/ttnn/unit_tests/operations/data_movement/test_tilize.py
  ttnn/cpp/ttnn/operations/data_movement/tilize/device/tilize_device_operation.cpp
  ttnn/cpp/ttnn/operations/data_movement/tilize/device/tilize_device_operation.hpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

fix Fabric2D physical dirs
  tests/ttnn/unit_tests/operations/ccl/blackhole_CI/box/nightly/test_all_gather_2d_fabric.py
  ttnn/cpp/ttnn/operations/ccl/all_gather/device/all_gather_multicast_factory.cpp
  ttnn/cpp/ttnn/operations/ccl/all_gather/device/kernels/multicast_common.hpp
  ttnn/cpp/ttnn/operations/ccl/all_gather/device/kernels/multicast_reader.cpp
  ttnn/cpp/ttnn/operations/ccl/all_gather/device/kernels/multicast_writer.cpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

configurable timeout and move mask token inside mint_token
  .github/actions/ttop-delete-allocation/action.yaml
Due: none

glm4_moe decode opt: asymmetric fidelity, ring-reduce path, geometry knobs, e2e PCC+perf tests
  models/experimental/glm4_moe/experiments/decode_matmul_sweep/TRACK4_GEOMETRY_NOTES.md
  models/experimental/glm4_moe/experiments/decode_matmul_sweep/probe_sparse_width_shard.py
  models/experimental/glm4_moe/experiments/decode_matmul_sweep/probe_swiglu_fuse.py
  models/experimental/glm4_moe/experiments/decode_ring_reduce/RESULTS.md
  models/experimental/glm4_moe/experiments/decode_ring_reduce/test_ring_reduce_glm4.py
  models/experimental/glm4_moe/tests/conftest.py
  models/experimental/glm4_moe/tests/golden/glm4_pcc_golden.json
  models/experimental/glm4_moe/tests/test_glm4_moe_pcc_e2e.py
  models/experimental/glm4_moe/tests/test_glm4_moe_perf.py
  models/experimental/glm4_moe/tt/decoder_layer_tt.py
  models/experimental/glm4_moe/tt/layer_weights.py
  models/experimental/glm4_moe/tt/moe_tt.py
Due: none

update transformers to address CVEs
  .github/workflows/conda-post-commit.yaml
  .github/workflows/vllm-nightly-tests-impl.yaml
  models/demos/informer/requirements.txt
  models/demos/minimax_m3/README.md
  models/demos/minimax_m3/tests/golden_hf_first_token.py
  models/demos/minimax_m3/tests/oracle_minimax_m3_vl_pcc.py
  models/demos/qwen25_vl/requirements.txt
  models/demos/qwen3_vl/requirements.txt
  models/demos/wormhole/owl_vit/README.md
  models/experimental/depth_anything_v2/README.md
  models/experimental/depth_anything_v2/scripts/run_n300_validation.sh
  models/experimental/diffusion_gemma/reference/hf_reference.py
  models/experimental/diffusion_gemma/requirements.txt
  models/experimental/nanogpt/reference/README.md
  models/experimental/openvla/references/run_pytorch_openvla.py
  models/experimental/openvla/tt/open_vla.py
  models/experimental/patchtsmixer/README.md
  models/tt_dit/tests/dataset_eval/reference/requirements.txt
  scripts/basic_dev_image/minimum-testing-kit.txt
  tt-train/sources/examples/python/multihost/hierarchical_parallel/requirements.txt
  tt-train/sources/examples/python/multihost/pipeline_parallel_training/requirements.txt
  tt-train/tools/weight-utils/requirements.txt
  tt_metal/python_env/requirements-dev.txt
Due: none

removed layer by layer not working properly
  models/demos/common/prefill/runners/prefill_producer.py
Due: none

bge_m3: add encoder SDPA subblock sweep
  models/demos/wormhole/bge_m3/tests/perf/encoder_sdpa_subblock_sweep.py
  models/demos/wormhole/bge_m3/tt/custom_ops/encoder_sdpa/config.py
Due: none

Refine BENCHMARK.md to clarify accuracy benchmarking and evaluation protocols
  models/experimental/janus_pro/docs/BENCHMARK.md
  models/experimental/janus_pro/docs/GLOSSARY.md
Due: none

Bump setuptools to 83.0.0 to clear Dependabot medium alerts
  docs/requirements-docs.txt
  pyproject.toml
Due: none

manifest
  models/demos/common/prefill/runners/prefill_producer.py
Due: none

Modular Docker build with LLM: deepseek-pd-worker image (#49709)
  dockerfile/Dockerfile.disaggregated-prefill-worker
  dockerfile/Dockerfile.disaggregated-prefill-worker.dockerignore
Due: none

Refactor Llama3 executor runtime ownership
  consolidated_git_status_markdown.md
  models/common/llm_runtime/__init__.py
  models/common/llm_runtime/config.py
  models/common/llm_runtime/decode.py
  models/common/llm_runtime/execution.py
  models/common/llm_runtime/executor.py
  models/common/llm_runtime/graph_compiler.py
  models/common/llm_runtime/lane_group.py
  models/common/llm_runtime/output_reader.py
  models/common/llm_runtime/prefill.py
  models/common/llm_runtime/program_compiler.py
  models/common/llm_runtime/tensor_resources.py
  models/common/llm_runtime/trace_compiler.py
  models/common/llm_runtime/warmup.py
  models/common/models/__init__.py
  models/common/models/llama3_8b/executor.py
  models/common/models/llama3_8b/generator.py
  models/common/models/llama3_8b/model.py
  models/common/tests/demos/llama3_8b/demo.py
  models/common/tests/llm_runtime/test_config.py
  models/common/tests/llm_runtime/test_decode_runtime.py
  models/common/tests/llm_runtime/test_execution.py
  models/common/tests/llm_runtime/test_executor.py
  models/common/tests/llm_runtime/test_graph_compiler.py
  models/common/tests/llm_runtime/test_lane_group.py
  models/common/tests/llm_runtime/test_llama3_8b_integration.py
  models/common/tests/llm_runtime/test_output_reader.py
  models/common/tests/llm_runtime/test_prefill_runtime.py
  models/common/tests/llm_runtime/test_program_compiler.py
  models/common/tests/llm_runtime/test_tensor_resources.py
  models/common/tests/llm_runtime/test_trace_compiler.py
  models/common/tests/llm_runtime/test_vllm_runtime_policy.py
  models/common/tests/llm_runtime/test_warmup.py
Due: none

test changes
  models/tt_dit/tests/unit/test_ring_joint_sparse_frames.py
Due: none

Warm prefill shapes before upfront capture
  models/experimental/diffusion_gemma/doc/optimize_perf/README.md
  models/experimental/diffusion_gemma/doc/optimize_perf/triage/upfront_earlyhalt_gpqa_hang_summary.txt
  models/experimental/diffusion_gemma/doc/optimize_perf/triage/upfront_earlyhalt_gpqa_hang_tt-triage.txt
  models/experimental/diffusion_gemma/doc/optimize_perf/upfront_earlyhalt_gpqa_20260722.json
  models/experimental/diffusion_gemma/doc/optimize_perf/upfront_earlyhalt_gpqa_20260722.md
  models/experimental/diffusion_gemma/doc/optimize_perf/work_log.md
  models/experimental/diffusion_gemma/tests/test_upfront_capture.py
  models/experimental/diffusion_gemma/tt/generator_vllm.py
  models/experimental/diffusion_gemma/tt/serving.py
Due: none

[blocking-planner] rms_norm: op_design.md + acceptance test
  tests/ttnn/unit_tests/operations/rms_norm/conftest.py
  tests/ttnn/unit_tests/operations/rms_norm/test_rms_norm.py
  ttnn/ttnn/operations/rms_norm/op_design.md
Due: block-ttnn-pybind-changes

sparse uint32 fix
  models/demos/vision/generative/hunyuanimage_3_0/_stubs/mo_e.py
Due: none

add dprints to matmul
  ttnn/cpp/ttnn/operations/experimental/quasar/matmul/device/kernels/dataflow/reader_bmm_tile_layout_in0_sender_padding_metal2.cpp
Due: block-ttnn-pybind-changes

clean up
  models/demos/common/prefill/runners/prefill_producer.py
Due: none

sam2 image mode, single object video on n300
  models/demos/vision/segmentation/sam2/README.md
  models/demos/vision/segmentation/sam2/common.py
  models/demos/vision/segmentation/sam2/demo.py
  models/demos/vision/segmentation/sam2/tests/pcc/test_sam2_model.py
  models/demos/vision/segmentation/sam2/tests/pcc/test_sam2_modules.py
  models/demos/vision/segmentation/sam2/tests/perf/test_sam2_perf.py
  models/demos/vision/segmentation/sam2/tt/model_preprocessing.py
  models/demos/vision/segmentation/sam2/tt/tt_hiera.py
  models/demos/vision/segmentation/sam2/tt/tt_mask_decoder.py
  models/demos/vision/segmentation/sam2/tt/tt_memory_attention.py
  models/demos/vision/segmentation/sam2/tt/tt_memory_encoder.py
  models/demos/vision/segmentation/sam2/tt/tt_prompt_encoder.py
  models/demos/vision/segmentation/sam2/tt/tt_sam2_image.py
  models/demos/vision/segmentation/sam2/tt/tt_sam2_tracker.py
  models/demos/vision/segmentation/sam2/tt/tt_sam2_video.py
Due: none

Add llk-api-analysis project skill
  .cursor/skills/llk-api-analysis/SKILL.md
  .cursor/skills/llk-api-analysis/reference.md
  .cursor/skills/llk-api-analysis/scripts/aggregate_llk.py
  .cursor/skills/llk-api-analysis/scripts/aggregate_llk_base.py
  .cursor/skills/llk-api-analysis/scripts/quasar_gap.py
  .cursor/skills/llk-api-analysis/scripts/summarize_llk.py
Due: none

Add DiffusionGemma context and GPQA benchmarks
  models/experimental/diffusion_gemma/doc/optimize_perf/context_speed_sweep_20260722.md
  models/experimental/diffusion_gemma/doc/optimize_perf/context_speed_sweep_20260722_msl65536.json
  models/experimental/diffusion_gemma/doc/optimize_perf/gpqa_halt_bench_20260722.json
  models/experimental/diffusion_gemma/doc/optimize_perf/gpqa_halt_bench_20260722.md
Due: none

On-device fast argmax path for Qwen3.6-27B (#50783)
  models/demos/blackhole/qwen36/tt/model_config.py
Due: none

perf_automation: win-gate compares device_ms against trace per-token (device-bound), falls back to eager forward-wall
  models/experimental/perf_automation/agent/handlers/remeasure.py
  models/experimental/perf_automation/tests/test_comparable_roofline.py
Due: none

refactor test
  models/tt_dit/tests/unit/test_ring_joint_sparse_frames.py
Due: none

Path conditions:
  block-ttnn-pybind-changes: any of: ^ttnn/
  detect-legacy-device-op: any of: ^ttnn/.*\.hpp$
  validate-golden-csv-columns: any of: ^tests/tt_metal/tt_metal/perf_microbenchmark/routing/golden/.*bandwidth.*\.csv$
