Repository tenstorrent/tt-metal: changes, and which pre-commit hooks are due for each by the changed paths.
All: block-ttnn-pybind-changes, detect-legacy-device-op, validate-golden-csv-columns

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v3.2.0
  hooks:
    - id: trailing-whitespace
      exclude: \.patch$
    - id: end-of-file-fixer
      exclude: \.patch$
    - id: check-yaml
      args: ["--unsafe"]
    - id: check-added-large-files
# Using this mirror lets us use mypyc-compiled black, which is about 2x faster
- repo: https://github.com/psf/black-pre-commit-mirror
  rev: 23.10.1
  hooks:
    - id: black
      language_version: python3
- repo: https://github.com/PyCQA/autoflake
  rev: v2.3.1
  hooks:
    - id: autoflake
      args: [--remove-all-unused-imports, --in-place, --recursive, --exclude=__init__.py]
      files: ^models/  # Run only on files in the models directory
- repo: https://github.com/pycqa/isort
  rev: 5.13.2
  hooks:
    - id: isort
      files: ^models/
      exclude: ^models/(demos/llama3_70b_galaxy|experimental)/
- repo: https://github.com/BlankSpruce/gersemi
  rev: 0.16.2
  hooks:
    - id: gersemi
- repo: https://github.com/adrienverge/yamllint.git
  rev: v1.35.1
  hooks:
    - id: yamllint
- repo: https://github.com/pre-commit/mirrors-clang-format
  rev: v19.1.4
  hooks:
    - id: clang-format
      entry: git-clang-format
      require_serial: true
      types_or: [c++, c]
      args: ["--style=file"]
- repo: local
  hooks:
    - id: validate-metalium-includes
      name: validate-metalium-includes
      entry: python3 scripts/validate_api/validate_includes.py tt_metal/api --check-ttnn-forwards
      language: system
      pass_filenames: false
    - id: validate-metalium-deprecation
      name: validate-metalium-deprecation
      entry: python3 scripts/validate_api/validate_deprecation.py tt_metal/api origin/main
      language: system
      pass_filenames: false
- repo: local
  hooks:
    - id: check-torch-imports-in-ttnn
      name: Verify that there is no global torch import in ttnn
      entry: python3 scripts/validate_no_global_torch_imports.py
      language: system
      pass_filenames: false
- repo: local
  hooks:
    - id: block-ttnn-pybind-changes
      name: Prevent edits to frozen pybind11 sources under ttnn
      entry: python3 scripts/block_ttnn_pybind_changes.py
      language: system
      pass_filenames: true
      files: ^ttnn/
- repo: local
  hooks:
    - id: convert-notebooks-to-py
      name: Convert .ipynb to .py for ttnn basic examples
      entry: python3 scripts/convert_notebooks_to_python.py
      language: system
- repo: local
  hooks:
    - id: detect-legacy-device-op
      name: Detect legacy device operation classes in newly added files
      entry: python3 scripts/detect_legacy_device_op.py --check-new-only
      language: system
      types: [file]
      files: ^ttnn/.*\.hpp$
      pass_filenames: true
      require_serial: true
- repo: local
  hooks:
    - id: validate-golden-csv-columns
      name: Validate golden bandwidth CSV column headers
      entry: bash .github/scripts/utils/validate_golden_csv_columns.sh
      language: system
      pass_filenames: false
      files: ^tests/tt_metal/tt_metal/perf_microbenchmark/routing/golden/.*bandwidth.*\.csv$

Latest D2H efforts
  tools/tracy/x280/x280_d2h_bw2.c
  tools/tracy/x280/x280_d2h_send.c
  tt_metal/fabric/mesh_graph_descriptors/p300_chip0_x280_mesh_graph_descriptor.textproto
Due: none

Host network poll
  tools/tracy/x280/PERF_REPORT.md
  tools/tracy/x280/netsink.c
  tools/tracy/x280/netsrc.c
  tools/tracy/x280/pollexport.c
Due: none

Poll all cores
  tools/tracy/x280/x280_pollall.c
  tt_metal/programming_examples/loopback/kernels/counter.cpp
  tt_metal/programming_examples/loopback/loopback.cpp
Due: none

Noc DMA tests
  tools/tracy/x280/x280_niu_probe.c
Due: none

3 Hart, all 110 cores
  tools/tracy/x280/x280_niu_read.c
  tools/tracy/x280/x280_pollmt.c
Due: none

x280 D2H socket example
  tools/tracy/x280/x280_d2h_write.c
  tools/tracy/x280/x280_nocwrite.c
  tt_metal/programming_examples/CMakeLists.txt
  tt_metal/programming_examples/x280_d2h/CMakeLists.txt
  tt_metal/programming_examples/x280_d2h/x280_d2h.cpp
Due: none

Further x280->host tests
  tools/tracy/x280/pollexport_d2h.c
  tools/tracy/x280/x280_d2h_bw.c
  tools/tracy/x280/x280_pcie_scan.c
  tt_metal/programming_examples/x280_d2h/x280_d2h.cpp
Due: none

Last round of host BW measurements
  tools/tracy/x280/pollexport_d2h.c
  tools/tracy/x280/x280_d2h_bw.c
  tools/tracy/x280/x280_d2h_write.c
  tools/tracy/x280/x280_pcie_scan.c
  tt_metal/programming_examples/x280_d2h/x280_d2h.cpp
Due: none

D2H socket reading it back
  tools/tracy/x280/x280_pipe.c
  tt_metal/programming_examples/x280_spsc/kernels/zone_demo.cpp
  tt_metal/programming_examples/x280_spsc/x280_spsc.cpp
Due: none

More fine grained test on noc flit size delay
  tools/tracy/x280/x280_header.c
Due: none

Switch to except_error
  tt-train/tests/python/test_checkpointing.py
Due: none

chunking at180words
  models/experimental/voxtraltts/demo/demo.py
  models/experimental/voxtraltts/tt/voxtral_tts.py
Due: none

DEBUG: instrument gpt-oss decode_low_latency router-weights (do not merge)
  models/demos/gpt_oss/tests/unit/test_modules.py
  tests/pipeline_reorg/models_unit_tests.yaml
Due: none

Apply suggestions from code review
  ttnn/cpp/ttnn/operations/experimental/deepseek/moe/moe_gate_mm/device/kernels/dm0.cpp
Due: block-ttnn-pybind-changes

Fixing the tokenizer not found issue with transofrmers 5.10.2
  models/demos/deepseek_v3_d_p/tests/conftest.py
  models/demos/deepseek_v3_d_p/tests/test_prefill_block.py
Due: none

Clean up comments in dm0.cpp
  ttnn/cpp/ttnn/operations/experimental/deepseek/mla/matmul_wo/device/kernels/dm0.cpp
Due: block-ttnn-pybind-changes

conv1d: enable DRAM slicing by default, fix 4D weights, fix depthwise CB deadlock
  ttnn/cpp/ttnn/operations/conv/conv1d/conv1d.cpp
  ttnn/cpp/ttnn/operations/conv/conv1d/conv1d_nanobind.cpp
  ttnn/cpp/ttnn/operations/conv/conv2d/device/kernels/compute_depthwise_conv1d.cpp
Due: block-ttnn-pybind-changes

Added support for cos and sin sfpu ops.
  tt_metal/tt-llk/tests/helpers/include/sfpu_operations.h
Due: none

Bug fix: Fix issues with capturing perf counters (#46669)
  tt_metal/hw/inc/internal/tt-1xx/wormhole/dev_mem_map.h
  tt_metal/impl/profiler/profiler.cpp
  tt_metal/tools/profiler/kernel_profiler.hpp
  tt_metal/tools/profiler/perf_counters.hpp
Due: none

Update dm1.cpp
  ttnn/cpp/ttnn/operations/experimental/deepseek/mla/matmul_wo/device/kernels/dm1.cpp
Due: block-ttnn-pybind-changes

Clean up legacy comments in dm1.cpp
  ttnn/cpp/ttnn/operations/experimental/topk_router_gpt/device/kernels/dm1.cpp
Due: block-ttnn-pybind-changes

[tt-train] Fix plot_training_comparison.py log parsing (#47661)
  tt-train/docs/TRAINING_LOG_COMPARISON.md
  tt-train/scripts/plot_training_comparison.py
Due: none

docs: add BGE-M3 multi-chip DP benchmark instructions after single-chip demo
  models/demos/wormhole/bge_m3/README.md
Due: none

Reverting issue with aisle C
  tests/scripts/multihost/run_fabric_cpu_only_unit_tests.sh
Due: none

Refactor CircularBuffer initialization and usage
  ttnn/cpp/ttnn/operations/experimental/deepseek/mla/matmul_wo/device/kernels/compute.cpp
Due: block-ttnn-pybind-changes

Refactor CircularBuffer variable names for clarity
  ttnn/cpp/ttnn/operations/experimental/deepseek/mla/matmul_wo/device/kernels/compute_collector.cpp
Due: block-ttnn-pybind-changes

Add tests for Tail Call unwinding (#47672)
  tests/tt_metal/tt_metal/debug_tools/device_print/test_print_output.cpp
  tests/tt_metal/tt_metal/test_kernels/device_print/print_callstack_tailcall_resolvable.cpp
  tests/tt_metal/tt_metal/test_kernels/device_print/print_callstack_tailcall_unambiguous.cpp
  tests/tt_metal/tt_metal/test_kernels/device_print/print_callstack_tailcall_unresolvable.cpp
Due: none

Refactor CircularBuffer variable names for clarity
  ttnn/cpp/ttnn/operations/experimental/deepseek/moe/moe_gate_mm/device/kernels/compute.cpp
Due: block-ttnn-pybind-changes

Alphabetically sorted new cases.
  tt_metal/tt-llk/tests/helpers/include/sfpu_operations.h
Due: none

Change src_tile_id type from int to uint32_t
  ttnn/cpp/ttnn/operations/reduction/argmax/device/kernels/reader_argmax_tile_layout_h.cpp
Due: block-ttnn-pybind-changes

Revert "#40406: Concat - native block sharded support for H / W dim concat (…"
  tests/ttnn/nightly/unit_tests/operations/data_movement/test_concat_block_sharded.py
  tests/ttnn/nightly/unit_tests/operations/data_movement/test_concat_memory_configs_and_layouts.py
  ttnn/cpp/ttnn/operations/data_movement/CMakeLists.txt
  ttnn/cpp/ttnn/operations/data_movement/concat/device/concat_block_sharded_program_factory.cpp
  ttnn/cpp/ttnn/operations/data_movement/concat/device/concat_block_sharded_program_factory.hpp
  ttnn/cpp/ttnn/operations/data_movement/concat/device/concat_device_operation.cpp
  ttnn/cpp/ttnn/operations/data_movement/concat/device/concat_device_operation.hpp
  ttnn/cpp/ttnn/operations/data_movement/concat/device/kernels/dataflow/reader_writer_block_sharded_concat.cpp
  ttnn/cpp/ttnn/operations/data_movement/sources.cmake
Due: block-ttnn-pybind-changes, detect-legacy-device-op

Migrate to Device 2.0 remaining legacy calls in transformer ops
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/kernels/dataflow/dataflow_common.hpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/kernels/dataflow/exp_ring_joint_writer.cpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/kernels/dataflow/reader_interleaved.cpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/kernels/dataflow/ring_joint_writer.cpp
  ttnn/cpp/ttnn/operations/transformer/sdpa_decode/device/kernels/dataflow/reader_decode_all.cpp
  ttnn/cpp/ttnn/operations/transformer/sdpa_decode/device/sdpa_decode_program_factory.cpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

Migrate termination_sync_sem inc to Device 2.0 Semaphore::up
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/kernels/dataflow/exp_ring_joint_writer.cpp
Due: block-ttnn-pybind-changes

Disable ci-eval-32 via models_e2e yaml instead of pytest skip
  models/tt_transformers/demo/simple_text_demo.py
  tests/pipeline_reorg/models_e2e_tests.yaml
Due: none
