Repository tenstorrent/tt-metal: changes, and which pre-commit hooks are due for each by the changed paths.
All: block-ttnn-pybind-changes, detect-legacy-device-op, validate-golden-csv-columns

block-ttnn-pybind-changes:
  name: Prevent edits to frozen pybind11 sources under ttnn
  entry: python3 scripts/block_ttnn_pybind_changes.py
  language: system
  pass_filenames: true

detect-legacy-device-op:
  name: Detect legacy device operation classes in newly added files
  entry: python3 scripts/detect_legacy_device_op.py --check-new-only
  language: system
  pass_filenames: true
  require_serial: true

validate-golden-csv-columns:
  name: Validate golden bandwidth CSV column headers
  entry: bash .github/scripts/utils/validate_golden_csv_columns.sh
  language: system
  pass_filenames: false

Initial AI fix?
  ttnn/cpp/ttnn/operations/reduction/generic/device/common.cpp
  ttnn/cpp/ttnn/operations/reduction/generic/device/common.hpp
  ttnn/cpp/ttnn/operations/reduction/generic/device/kernels/compute/reduce_rm_w.cpp
  ttnn/cpp/ttnn/operations/reduction/generic/device/kernels/dataflow/reader_unary_reduce_rm_w.cpp
  ttnn/cpp/ttnn/operations/reduction/generic/device/kernels/dataflow/writer_reduce_w_rm_scalar.cpp
  ttnn/cpp/ttnn/operations/reduction/generic/device/reduce_op.cpp
  ttnn/cpp/ttnn/operations/reduction/generic/device/reduce_op_device_operation.cpp
  ttnn/cpp/ttnn/operations/reduction/generic/device/reduce_op_device_operation.hpp
  ttnn/cpp/ttnn/operations/reduction/generic/device/reduce_op_device_operation_types.hpp
  ttnn/cpp/ttnn/operations/reduction/generic/device/reduce_op_multi_core_w_rm_program_factory.cpp
  ttnn/cpp/ttnn/operations/reduction/generic/device/reduce_op_multi_core_w_rm_program_factory.hpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

Fixing PCC for <1 tile data
  ttnn/cpp/ttnn/operations/reduction/generic/device/kernels/compute/reduce_rm_w.cpp
  ttnn/cpp/ttnn/operations/reduction/generic/device/kernels/dataflow/reader_unary_reduce_rm_w.cpp
  ttnn/cpp/ttnn/operations/reduction/generic/device/reduce_op.cpp
  ttnn/cpp/ttnn/operations/reduction/generic/device/reduce_op_multi_core_w_rm_program_factory.cpp
  ttnn/cpp/ttnn/operations/reduction/generic/device/reduce_op_multi_core_w_rm_program_factory.hpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

Some cleanup
  ttnn/cpp/ttnn/operations/reduction/generic/device/reduce_op.cpp
  ttnn/cpp/ttnn/operations/reduction/generic/device/reduce_op_device_operation.cpp
  ttnn/cpp/ttnn/operations/reduction/generic/device/reduce_op_device_operation_types.hpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

WIP Adds support for ht,wt chunked processing
  ttnn/cpp/ttnn/operations/reduction/generic/device/kernels/compute/reduce_rm_w.cpp
  ttnn/cpp/ttnn/operations/reduction/generic/device/kernels/dataflow/reader_unary_reduce_rm_w.cpp
  ttnn/cpp/ttnn/operations/reduction/generic/device/kernels/dataflow/writer_reduce_w_rm_scalar.cpp
  ttnn/cpp/ttnn/operations/reduction/generic/device/reduce_op_multi_core_w_rm_program_factory.cpp
Due: block-ttnn-pybind-changes

Merges the writer kernels
  ttnn/cpp/ttnn/operations/reduction/generic/device/kernels/dataflow/writer_reduce_h_rm_scalar.cpp
  ttnn/cpp/ttnn/operations/reduction/generic/device/kernels/dataflow/writer_reduce_rm_scalar.cpp
  ttnn/cpp/ttnn/operations/reduction/generic/device/kernels/dataflow/writer_reduce_w_rm_scalar.cpp
  ttnn/cpp/ttnn/operations/reduction/generic/device/reduce_op_multi_core_h_program_factory.cpp
  ttnn/cpp/ttnn/operations/reduction/generic/device/reduce_op_multi_core_w_program_factory.cpp
Due: block-ttnn-pybind-changes

Adds comments
  ttnn/cpp/ttnn/operations/reduction/generic/device/common.cpp
Due: block-ttnn-pybind-changes

Using math helpers
  ttnn/cpp/ttnn/operations/reduction/generic/device/common.cpp
  ttnn/cpp/ttnn/operations/reduction/generic/device/reduce_op_multi_core_h_program_factory.cpp
  ttnn/cpp/ttnn/operations/reduction/generic/device/reduce_op_multi_core_w_program_factory.cpp
Due: block-ttnn-pybind-changes

Fixes rebasing issues
  ttnn/cpp/ttnn/operations/reduction/generic/device/common.cpp
  ttnn/cpp/ttnn/operations/reduction/generic/device/common.hpp
  ttnn/cpp/ttnn/operations/reduction/generic/device/reduce_op_multi_core_h_program_factory.cpp
  ttnn/cpp/ttnn/operations/reduction/generic/device/reduce_op_multi_core_w_program_factory.cpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

Update layout exception in nanobind and associated test
  tests/ttnn/nightly/unit_tests/operations/reduction/test_reduction_ops.py
  ttnn/cpp/ttnn/operations/reduction/generic/generic_reductions_nanobind.hpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

Cleanup for writer kernel
  ttnn/cpp/ttnn/operations/reduction/generic/device/kernels/dataflow/writer_reduce_h_rm_scalar.cpp
Due: block-ttnn-pybind-changes

Update to use kernel_lib tilize
  ttnn/cpp/ttnn/operations/reduction/generic/device/common.cpp
  ttnn/cpp/ttnn/operations/reduction/generic/device/common.hpp
  ttnn/cpp/ttnn/operations/reduction/generic/device/kernels/compute/reduce_rm.cpp
  ttnn/cpp/ttnn/operations/reduction/generic/device/kernels/dataflow/reader_unary_reduce_rm.cpp
  ttnn/cpp/ttnn/operations/reduction/generic/device/kernels/dataflow/reduce_rm_dataflow_common.hpp
  ttnn/cpp/ttnn/operations/reduction/generic/device/reduce_op_multi_core_h_program_factory.cpp
  ttnn/cpp/ttnn/operations/reduction/generic/device/reduce_op_multi_core_w_program_factory.cpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

Adressing some PR comments
  ttnn/cpp/ttnn/operations/reduction/generic/device/kernels/compute/reduce_rm.cpp
  ttnn/cpp/ttnn/operations/reduction/generic/device/reduce_op_multi_core_h_program_factory.cpp
Due: block-ttnn-pybind-changes

Templated reader and writer
  ttnn/cpp/ttnn/operations/reduction/generic/device/common.cpp
  ttnn/cpp/ttnn/operations/reduction/generic/device/kernels/dataflow/reader_unary_reduce_rm.cpp
  ttnn/cpp/ttnn/operations/reduction/generic/device/kernels/dataflow/writer_reduce_rm_scalar.cpp
Due: block-ttnn-pybind-changes

Cleans up the factories to follow common rm_plan struct
  ttnn/cpp/ttnn/operations/reduction/generic/device/common.cpp
  ttnn/cpp/ttnn/operations/reduction/generic/device/common.hpp
  ttnn/cpp/ttnn/operations/reduction/generic/device/reduce_op_multi_core_h_program_factory.cpp
  ttnn/cpp/ttnn/operations/reduction/generic/device/reduce_op_multi_core_w_program_factory.cpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

Updates tests and resolves dataum_size issue for block floats in CI
  tests/ttnn/unit_tests/operations/reduce/test_row_major_reduce.py
  ttnn/cpp/ttnn/operations/reduction/generic/device/reduce_op_device_operation.cpp
  ttnn/cpp/ttnn/operations/reduction/generic/device/reduce_op_multi_core_h_program_factory.cpp
  ttnn/cpp/ttnn/operations/reduction/generic/device/reduce_op_multi_core_w_program_factory.cpp
Due: block-ttnn-pybind-changes

Add naming for EnCC instruction
  tt_metal/hw/firmware/src/tt-2xx/trisc.cc
Due: none

ci: bump Gemma4-26B-A4B vLLM nightly server-timeout to 30m
  .github/workflows/vllm-nightly-tests-impl.yaml
Due: none

fix: don't use hardcoded Tensix location in fast untilize test (#45946)
  tt_metal/tt-llk/tests/python_tests/test_fast_untilize.py
Due: none

sharding of matmul outputs
  models/experimental/seamless_m4t_v2_large/tt/common.py
  models/experimental/seamless_m4t_v2_large/tt/tt_text_decoder.py
Due: none

up_front_compile: UP_FRONT_WORKERS env knob for remote-farm scaling
  models/demos/stable_diffusion_xl_base/tests/pcc/test_up_front_compile_transformerblock.py
Due: none

perf(seamless_m4t_v2): fused cross-attn head-split + 2-link AllGather
  models/experimental/seamless_m4t_v2_large/tt/common.py
  models/experimental/seamless_m4t_v2_large/tt/tt_text_decoder.py
Due: none

add 1 decode forward pass to text_decoder test
  models/experimental/seamless_m4t_v2_large/tests/pcc/test_text_decoder.py
Due: none

fix(sim/v3.5-#16): enable fast-dispatch CCL on TTSim
  tt_metal/impl/device/device.cpp
  tt_metal/impl/dispatch/command_queue_common.cpp
  tt_metal/impl/dispatch/kernels/cq_dispatch.cpp
  tt_metal/impl/dispatch/system_memory_manager.cpp
  tt_metal/llrt/tlb_config.cpp
  tt_metal/llrt/tlb_config.hpp
  tt_metal/llrt/tt_cluster.cpp
Due: none

perf(sim/v3.5): dirty-flush DRAM-backed CQ pushes (vestigial)
  tt_metal/impl/dispatch/system_memory_manager.cpp
Due: none

fix(sim): register fabric endpoint directions (cluster + builder)
  tt_metal/fabric/fabric_builder.cpp
  tt_metal/llrt/tt_cluster.cpp
  tt_metal/llrt/tt_cluster.hpp
Due: none

fix(sim): pass fabric node ids to simulator
  tt_metal/impl/device/firmware/fabric_firmware_initializer.cpp
Due: none

fix(sim): reset global semaphores without fast dispatch
  tt_metal/impl/buffers/global_semaphore.cpp
Due: none

fix(sim): register fabric endpoint directions (fw initializer)
  tt_metal/impl/device/firmware/fabric_firmware_initializer.cpp
Due: none

fix(sim): unblock multichip dispatch teardown and DRAM-backed CQ on ttsim
  tt_metal/impl/dispatch/system_memory_manager.cpp
  tt_metal/llrt/llrt.cpp
  tt_metal/llrt/tt_cluster.cpp
Due: none

fix(sim): remove unused issue_q_write_ptr_before_push
  tt_metal/impl/dispatch/system_memory_manager.cpp
Due: none

fix(clang-tidy): guard sim-only UMD calls with TT_UMD_BUILD_SIMULATION
  tt_metal/impl/device/firmware/fabric_firmware_initializer.cpp
  tt_metal/llrt/tt_cluster.cpp
Due: none

fix(sim): honor fabric sync timeout override
  tt_metal/impl/device/firmware/fabric_firmware_initializer.cpp
Due: none

fix(sim): init DRAM-backed CQ pointers in each device's own DRAM
  tt_metal/impl/device/device.cpp
Due: none

sim: add opt-in direct H2D writes for FD mesh uploads
  tt_metal/distributed/fd_mesh_command_queue.cpp
  tt_metal/impl/host_api/tt_metal.cpp
Due: none

fix(dispatch): remove unnecessary noc_async_writes_flushed in DRAM-backed CQ path
  tt_metal/impl/dispatch/kernels/cq_dispatch.cpp
Due: none

fix(sim): disable real-time profiler on ttsim Simulator targets
  tt_metal/distributed/realtime_profiler_manager.cpp
Due: none

fix(sim): skip NUMA lookup for non-silicon target devices
  tt_metal/llrt/tt_cluster.hpp
Due: none

refactor(sim): extract tt-sim direct write helper behind TT_UMD_BUILD_SIMULATION
  tt_metal/distributed/CMakeLists.txt
  tt_metal/distributed/fd_mesh_command_queue.cpp
  tt_metal/impl/CMakeLists.txt
  tt_metal/impl/buffers/simulator_direct_write.cpp
  tt_metal/impl/buffers/simulator_direct_write.hpp
Due: none

fix(sim): guard get_device_aiclk for non-silicon target devices
  tt_metal/llrt/tt_cluster.cpp
Due: none

Path conditions:
  block-ttnn-pybind-changes: any of: ^ttnn/
  detect-legacy-device-op: any of: ^ttnn/.*\.hpp$
  validate-golden-csv-columns: any of: ^tests/tt_metal/tt_metal/perf_microbenchmark/routing/golden/.*bandwidth.*\.csv$
