Repository tenstorrent/tt-metal: changes, and which pre-commit hooks are due for each by the changed paths.
All: block-ttnn-pybind-changes, detect-legacy-device-op, validate-golden-csv-columns

block-ttnn-pybind-changes:
  name: Prevent edits to frozen pybind11 sources under ttnn
  entry: python3 scripts/block_ttnn_pybind_changes.py
  language: system
  pass_filenames: true

detect-legacy-device-op:
  name: Detect legacy device operation classes in newly added files
  entry: python3 scripts/detect_legacy_device_op.py --check-new-only
  language: system
  pass_filenames: true
  require_serial: true

validate-golden-csv-columns:
  name: Validate golden bandwidth CSV column headers
  entry: bash .github/scripts/utils/validate_golden_csv_columns.sh
  language: system
  pass_filenames: false

Optimized MoE Module Unit Test (#39503)
  models/demos/deepseek_v3/tests/fused_op_unit_tests/moe/test_optimized_moe_decode_block.py
Due: none

[TT-Train] Re-enable tt-train build and test workflow (#40163)
  .github/workflows/tt-train-build-and-test.yaml
Due: none

Fix bspm_loader import path in test_bspm_demo.py
  models/demos/deepseek_v3/tests/test_bspm_demo.py
Due: none

Add ingress modes to decoder/attention
  embedding_decoder_fusion.md
  models/demos/deepseek_v3_b1/fused_ops/attention_block/op.py
  models/demos/deepseek_v3_b1/fused_ops/decoder_block/op.py
Due: none

x
  tests/tt_metal/tt_metal/test_bmm.cpp
  tests/tt_metal/tt_metal/test_kernels/compute/bmm.cpp
Due: none

Fix load_bspm_for_layer usage: extract codes from returned dict
  models/demos/deepseek_v3/tests/test_bspm_demo.py
Due: none

output memory config forced to be correct and equal to first input tensor
  ttnn/cpp/ttnn/operations/data_movement/concat/device/concat_device_operation.cpp
Due: block-ttnn-pybind-changes

Support aarch64
  cmake/aarch64-linux-clang-20-libstdcpp-toolchain.cmake
Due: none

Add Gentoo support
  create_venv.sh
  install_dependencies.sh
Due: none

fix: update digamma drop-in with boundary clamping (data-driven)
  tt_metal/hw/ckernels/blackhole/metal/llk_api/llk_sfpu/ckernel_sfpu_digamma.h
  tt_metal/hw/ckernels/blackhole/metal/llk_api/llk_sfpu/ckernel_sfpu_piecewise_polynomial.h
  tt_metal/hw/ckernels/blackhole/metal/llk_api/llk_sfpu/ckernel_sfpu_piecewise_rational.h
  tt_metal/hw/ckernels/wormhole_b0/metal/llk_api/llk_sfpu/ckernel_sfpu_digamma.h
  tt_metal/hw/ckernels/wormhole_b0/metal/llk_api/llk_sfpu/ckernel_sfpu_piecewise_polynomial.h
  tt_metal/hw/ckernels/wormhole_b0/metal/llk_api/llk_sfpu/ckernel_sfpu_piecewise_rational.h
Due: none

Remove unnecessary code in decoder_block
  models/demos/deepseek_v3/tt/decoder_block/moe_decoder_block_2d.py
Due: none

better
  tt_metal/impl/debug/watcher_device_reader.cpp
  tt_metal/impl/device/device.cpp
Due: none

Fix ttnn.pad crash when padding small width to large width (#40316)
  tests/ttnn/unit_tests/operations/data_movement/test_pad.py
  ttnn/cpp/ttnn/operations/data_movement/pad/device/pad_rm_reader_writer_multi_core_default_program_factory.cpp
Due: block-ttnn-pybind-changes

Do not include sfpi_fp16.h header (#1509)
  tt_llk_blackhole/common/inc/sfpu/ckernel_sfpu_activations.h
  tt_llk_blackhole/common/inc/sfpu/ckernel_sfpu_clamp.h
  tt_llk_blackhole/common/inc/sfpu/ckernel_sfpu_dropout.h
  tt_llk_blackhole/common/inc/sfpu/ckernel_sfpu_elu.h
  tt_llk_blackhole/common/inc/sfpu/ckernel_sfpu_exp.h
  tt_llk_blackhole/common/inc/sfpu/ckernel_sfpu_exp2.h
  tt_llk_blackhole/common/inc/sfpu/ckernel_sfpu_gelu.h
  tt_llk_blackhole/common/inc/sfpu/ckernel_sfpu_hardtanh.h
  tt_llk_blackhole/common/inc/sfpu/ckernel_sfpu_log.h
  tt_llk_blackhole/common/inc/sfpu/ckernel_sfpu_relu.h
  tt_llk_blackhole/common/inc/sfpu/ckernel_sfpu_rsqrt.h
  tt_llk_blackhole/common/inc/sfpu/ckernel_sfpu_rsqrt_compat.h
  tt_llk_blackhole/common/inc/sfpu/ckernel_sfpu_sqrt.h
  tt_llk_blackhole/common/inc/sfpu/ckernel_sfpu_threshold.h
  tt_llk_wormhole_b0/common/inc/sfpu/ckernel_sfpu_activations.h
  tt_llk_wormhole_b0/common/inc/sfpu/ckernel_sfpu_clamp.h
  tt_llk_wormhole_b0/common/inc/sfpu/ckernel_sfpu_elu.h
  tt_llk_wormhole_b0/common/inc/sfpu/ckernel_sfpu_exp.h
  tt_llk_wormhole_b0/common/inc/sfpu/ckernel_sfpu_exp2.h
  tt_llk_wormhole_b0/common/inc/sfpu/ckernel_sfpu_gelu.h
  tt_llk_wormhole_b0/common/inc/sfpu/ckernel_sfpu_hardtanh.h
  tt_llk_wormhole_b0/common/inc/sfpu/ckernel_sfpu_log.h
  tt_llk_wormhole_b0/common/inc/sfpu/ckernel_sfpu_relu.h
  tt_llk_wormhole_b0/common/inc/sfpu/ckernel_sfpu_rsqrt.h
  tt_llk_wormhole_b0/common/inc/sfpu/ckernel_sfpu_rsqrt_compat.h
  tt_llk_wormhole_b0/common/inc/sfpu/ckernel_sfpu_sqrt.h
  tt_llk_wormhole_b0/common/inc/sfpu/ckernel_sfpu_threshold.h
Due: none

Iniital support for bfp4_b as format in reduce tests (#1503)
  tests/python_tests/helpers/bfp_format_utils.py
  tests/python_tests/helpers/golden_generators.py
  tests/python_tests/helpers/stimuli_generator.py
  tests/python_tests/test_eltwise_unary_datacopy.py
  tests/python_tests/test_reduce.py
  tests/python_tests/test_zzz_eltwise_binary.py
  tests/python_tests/test_zzz_eltwise_unary_sfpu.py
Due: none

[Cleanup] Remove internal init methods from the API (#40146)
  tt_metal/api/tt-metalium/device.hpp
  tt_metal/api/tt-metalium/mesh_device.hpp
  tt_metal/distributed/dispatch_context.cpp
  tt_metal/distributed/mesh_device.cpp
  tt_metal/distributed/mesh_device_impl.hpp
  tt_metal/impl/device/device_impl.hpp
Due: none

Adding UMD unique ids to PSD Info (#40235)
  .github/CODEOWNERS
  tests/tt_metal/tt_fabric/physical_discovery/test_physical_system_descriptor.cpp
  tt_metal/api/tt-metalium/experimental/fabric/physical_system_descriptor.hpp
  tt_metal/fabric/physical_system_descriptor.cpp
  tt_metal/fabric/physical_system_discovery.cpp
  tt_metal/fabric/protobuf/physical_system_descriptor.proto
  tt_metal/fabric/serialization/physical_system_descriptor_serialization.cpp
Due: none

feat(ttnn): Replace lgamma SFPU with LUT-based approximation
  tt_metal/hw/ckernels/blackhole/metal/llk_api/llk_sfpu/ckernel_sfpu_lgamma.h
  tt_metal/hw/ckernels/blackhole/metal/llk_api/llk_sfpu/ckernel_sfpu_piecewise_polynomial.h
  tt_metal/hw/ckernels/blackhole/metal/llk_api/llk_sfpu/ckernel_sfpu_piecewise_rational.h
  tt_metal/hw/ckernels/wormhole_b0/metal/llk_api/llk_sfpu/ckernel_sfpu_lgamma.h
  tt_metal/hw/ckernels/wormhole_b0/metal/llk_api/llk_sfpu/ckernel_sfpu_piecewise_polynomial.h
  tt_metal/hw/ckernels/wormhole_b0/metal/llk_api/llk_sfpu/ckernel_sfpu_piecewise_rational.h
Due: none

Add the required header files.
  ttnn/cpp/ttnn/operations/core/to_layout/to_layout_op.cpp
Due: block-ttnn-pybind-changes

Add tqdm progress bar to BSPM expert preprocessing loop
  models/demos/deepseek_v3/tests/test_bspm_demo.py
Due: none

always push writer CBs from reader; gate fabric writes on !is_last_ring_iter
  models/tt_dit/tests/unit/test_ring_joint_attention.py
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/kernels/dataflow/exp_ring_joint_reader.cpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/kernels/dataflow/exp_ring_joint_writer.cpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/kernels/dataflow/fused_op_receiver.hpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

revert 100 prompts metric calc
  models/demos/stable_diffusion_xl_base/tests/test_sdxl_accuracy.py
  models/demos/stable_diffusion_xl_base/tests/test_sdxl_img2img_accuracy.py
  models/demos/stable_diffusion_xl_base/tests/test_sdxl_inpaint_accuracy.py
  models/demos/stable_diffusion_xl_base/tests/test_sdxl_lora_accuracy.py
Due: none

fix: pyskip condition
  models/demos/stable_diffusion_xl_base/demo/demo.py
  models/demos/stable_diffusion_xl_base/demo/demo_base_and_refiner.py
  models/demos/stable_diffusion_xl_base/demo/demo_img2img.py
  models/demos/stable_diffusion_xl_base/demo/demo_inpainting.py
  models/demos/stable_diffusion_xl_base/demo/demo_lora.py
  models/demos/stable_diffusion_xl_base/tests/test_sdxl_accuracy.py
  models/demos/stable_diffusion_xl_base/tests/test_sdxl_img2img_accuracy.py
  models/demos/stable_diffusion_xl_base/tests/test_sdxl_inpaint_accuracy.py
  models/demos/stable_diffusion_xl_base/tests/test_sdxl_lora_accuracy.py
Due: none

512: accuracy setup, no real targets yet
  models/demos/stable_diffusion_xl_base/demo/demo_lora.py
  models/demos/stable_diffusion_xl_base/targets/targets.json
  models/demos/stable_diffusion_xl_base/tests/test_sdxl_accuracy.py
  models/demos/stable_diffusion_xl_base/tests/test_sdxl_img2img_accuracy.py
  models/demos/stable_diffusion_xl_base/tests/test_sdxl_inpaint_accuracy.py
  models/demos/stable_diffusion_xl_base/tests/test_sdxl_lora_accuracy.py
  models/demos/stable_diffusion_xl_base/utils/clip_fid_ranges.py
Due: none

new 512 targets
  models/demos/stable_diffusion_xl_base/targets/targets.json
Due: none

CI testing, revert later
  models/demos/stable_diffusion_xl_base/tests/test_sdxl_accuracy.py
  models/demos/stable_diffusion_xl_base/tests/test_sdxl_img2img_accuracy.py
  models/demos/stable_diffusion_xl_base/tests/test_sdxl_inpaint_accuracy.py
  models/demos/stable_diffusion_xl_base/tests/test_sdxl_lora_accuracy.py
Due: none

Use append common runtime args to
  models/experimental/ops/descriptors/fusion/fusion.py
  ttnn/cpp/ttnn-nanobind/program_descriptors.cpp
Due: block-ttnn-pybind-changes

Prevent self-insertion
  ttnn/cpp/ttnn-nanobind/program_descriptors.cpp
Due: block-ttnn-pybind-changes

Path conditions:
  block-ttnn-pybind-changes: any of: ^ttnn/
  detect-legacy-device-op: any of: ^ttnn/.*\.hpp$
  validate-golden-csv-columns: any of: ^tests/tt_metal/tt_metal/perf_microbenchmark/routing/golden/.*bandwidth.*\.csv$
