Repository tenstorrent/tt-metal: changes, and which pre-commit hooks are due for each by the changed paths.
All: block-ttnn-pybind-changes, detect-legacy-device-op, validate-golden-csv-columns

block-ttnn-pybind-changes:
  name: Prevent edits to frozen pybind11 sources under ttnn
  entry: python3 scripts/block_ttnn_pybind_changes.py
  language: system
  pass_filenames: true

detect-legacy-device-op:
  name: Detect legacy device operation classes in newly added files
  entry: python3 scripts/detect_legacy_device_op.py --check-new-only
  language: system
  pass_filenames: true
  require_serial: true

validate-golden-csv-columns:
  name: Validate golden bandwidth CSV column headers
  entry: bash .github/scripts/utils/validate_golden_csv_columns.sh
  language: system
  pass_filenames: false

Narrow Hunyuan unit CI to lean denoise smoke tests.
  .github/time_budget.yaml
  tests/pipeline_reorg/models_unit_tests.yaml
Due: none

Add HunyuanImage 3.0 CI support and update model test configuration
  .github/time_budget.yaml
  .github/workflows/models-t3-e2e-tests.yaml
  .github/workflows/models-t3-unit-tests.yaml
  models/experimental/hunyuan_image_3_0/demo/test_demo.py
  models/model_ci_tiers.md
  tests/pipeline_reorg/models_e2e_tests.yaml
  tests/pipeline_reorg/models_unit_tests.yaml
Due: none

Raise HunyuanImage-3.0 T2I e2e timeout to 90 min for cold-cache weight download
  .github/time_budget.yaml
  models/experimental/hunyuan_image_3_0/ref/weights.py
  tests/pipeline_reorg/models_e2e_tests.yaml
Due: none

Switch Hunyuan weight cache from TT_DIT_CACHE_DIR to TT_CACHE_PATH
  models/experimental/hunyuan_image_3_0/README.md
  models/experimental/hunyuan_image_3_0/demo/demo.py
  models/experimental/hunyuan_image_3_0/demo/demo_i2i.py
  models/experimental/hunyuan_image_3_0/tests/pcc/test_recaption.py
  models/experimental/hunyuan_image_3_0/tests/pcc/test_transformer.py
  models/experimental/hunyuan_image_3_0/ttnn/cache.py
  models/experimental/hunyuan_image_3_0/ttnn/model.py
  models/experimental/hunyuan_image_3_0/ttnn/moe/moe_parallel.py
  tests/pipeline_reorg/models_e2e_tests.yaml
  tests/pipeline_reorg/models_unit_tests.yaml
Due: none

Allow Hunyuan CI to snapshot_download weights into HUNYUAN_MODEL_DIR on first run.
  models/experimental/hunyuan_image_3_0/ref/weights.py
  tests/pipeline_reorg/models_e2e_tests.yaml
Due: none

update readme
  models/experimental/hunyuan_image_3_0/README.md
  models/experimental/hunyuan_image_3_0/tests/pcc/pcc_common.py
  models/experimental/hunyuan_image_3_0/tests/pcc/test_attention_modules.py
  models/experimental/hunyuan_image_3_0/tests/pcc/test_pipeline.py
Due: none

Remove machine-local tokenizer.json symlink that broke CI broken-link check
  models/experimental/hunyuan_image_3_0/ref/tokenizer/assets/tokenizer.json
Due: none

Allow Hunyuan denoise -m not slow CI without Instruct weights.
  models/experimental/hunyuan_image_3_0/ref/weights.py
  models/experimental/hunyuan_image_3_0/tests/pcc/i2i_helpers.py
  models/experimental/hunyuan_image_3_0/tests/pcc/test_denoise.py
Due: none

added HF_HUB_OFFLINE=0 to enable download from hugging face
  tests/pipeline_reorg/models_e2e_tests.yaml
Due: none

update readme
  models/experimental/hunyuan_image_3_0/README.md
Due: none

Remove unused Hunyuan VAE sweep scripts and empty package init.
  models/experimental/hunyuan_image_3_0/__init__.py
  models/experimental/hunyuan_image_3_0/demo/vae_decode_random.py
  models/experimental/hunyuan_image_3_0/scripts/apply_decoder_sweep_blockings.py
  models/experimental/hunyuan_image_3_0/scripts/apply_encoder_sweep_blockings.py
  models/experimental/hunyuan_image_3_0/scripts/run_encoder_preset_sweeps.sh
Due: none

Fix Hunyuan model path resolution for e2e
  models/experimental/hunyuan_image_3_0/demo/e2e.py
Due: none

Silence spurious conv-config warnings
  models/experimental/hunyuan_image_3_0/ttnn/image_gen/patch_embed_conv_configs.py
  models/experimental/hunyuan_image_3_0/ttnn/vae/conv3d.py
Due: none

port(metal_2.0): normalization/batch_norm to the Metal 2.0 host API
  ttnn/cpp/ttnn/operations/normalization/batch_norm/METAL2_PORT_BRIEF.md
  ttnn/cpp/ttnn/operations/normalization/batch_norm/METAL2_PORT_PLAN.md
  ttnn/cpp/ttnn/operations/normalization/batch_norm/METAL2_PORT_REPORT.md
  ttnn/cpp/ttnn/operations/normalization/batch_norm/METAL2_PREPORT_AUDIT.md
  ttnn/cpp/ttnn/operations/normalization/batch_norm/device/batch_norm_device_operation.hpp
  ttnn/cpp/ttnn/operations/normalization/batch_norm/device/batch_norm_program_factory.cpp
  ttnn/cpp/ttnn/operations/normalization/batch_norm/device/kernels/compute/batch_norm_kernel.cpp
  ttnn/cpp/ttnn/operations/normalization/batch_norm/device/kernels/compute/batch_norm_sfpu_kernel.cpp
  ttnn/cpp/ttnn/operations/normalization/batch_norm/device/kernels/compute/running_statistics_kernel.cpp
  ttnn/cpp/ttnn/operations/normalization/batch_norm/device/kernels/compute/running_statistics_sfpu_kernel.cpp
  ttnn/cpp/ttnn/operations/normalization/batch_norm/device/kernels/dataflow/reader_batch_norm.cpp
  ttnn/cpp/ttnn/operations/normalization/batch_norm/device/kernels/dataflow/reader_running_statistics.cpp
  ttnn/cpp/ttnn/operations/normalization/batch_norm/device/kernels/dataflow/writer_batch_norm.cpp
  ttnn/cpp/ttnn/operations/normalization/batch_norm/device/kernels/dataflow/writer_running_statistics.cpp
  ttnn/cpp/ttnn/operations/normalization/batch_norm/device/running_statistics_device_operation.hpp
  ttnn/cpp/ttnn/operations/normalization/batch_norm/device/running_statistics_program_factory.cpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

repeat_interleave/codegen: bound the row-major CB to per-core L1
  tests/ttnn/unit_tests/operations/data_movement/test_repeat_interleave_codegen_routing.py
  ttnn/cpp/ttnn/operations/data_movement/CMakeLists.txt
  ttnn/cpp/ttnn/operations/data_movement/repeat_interleave/codegen/repeat_interleave_codegen_program_factory.cpp
  ttnn/cpp/ttnn/operations/data_movement/repeat_interleave/codegen/repeat_interleave_codegen_supported.cpp
  ttnn/cpp/ttnn/operations/data_movement/repeat_interleave/codegen/repeat_interleave_codegen_supported.hpp
  ttnn/cpp/ttnn/operations/data_movement/repeat_interleave/repeat_interleave.cpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

[fuser] add pack_matmul kernel to fuser (#51731)
  tt_metal/tt-llk/tests/python_tests/fuser/fused_loop.py
  tt_metal/tt-llk/tests/python_tests/fuser/fused_math.py
  tt_metal/tt-llk/tests/python_tests/fuser/fused_packer.py
  tt_metal/tt-llk/tests/python_tests/fuser/quasar/packer/matmul.py
  tt_metal/tt-llk/tests/python_tests/fuser/quasar/parser.py
  tt_metal/tt-llk/tests/python_tests/fuser/tests/quasar/matmul_pack.yaml
Due: none

Voxtral-TTS Block 1: decode-native head layout -- 84.1 -> 77.6 ms/frame, steady-state RTF 0.970
  models/experimental/voxtral_tts/tt/ttnn_voxtral_gpt.py
Due: none

perf report: keep the header and value lists in step
  tt_metal/tt-llk/tests/python_tests/helpers/perf.py
  tt_metal/tt-llk/tests/python_tests/perf_reduce.py
  tt_metal/tt-llk/tests/python_tests/perf_unpack_transpose.py
  tt_metal/tt-llk/tests/sources/eltwise_binary_fpu_perf.cpp
  tt_metal/tt-llk/tests/sources/reduce_perf.cpp
  tt_metal/tt-llk/tests/sources/unpack_transpose_perf.cpp
Due: none

Reservation of memory for vector beforehand
  ttnn/cpp/ttnn/operations/experimental/ccl/all_gather_async/device/all_gather_async_default_program_factory.cpp
  ttnn/cpp/ttnn/operations/experimental/ccl/all_gather_concat_heads_fused/device/all_gather_concat_device_operation_types.hpp
  ttnn/cpp/ttnn/operations/experimental/ccl/all_gather_concat_heads_fused/device/all_gather_concat_program_factory.cpp
  ttnn/cpp/ttnn/operations/experimental/ccl/all_gather_minimal_matmul_async/device/all_gather_minimal_matmul_async_program_factory.cpp
  ttnn/cpp/ttnn/operations/experimental/ccl/all_reduce_async/device/all_reduce_async_device_operation_types.hpp
  ttnn/cpp/ttnn/operations/experimental/ccl/all_reduce_async/device/all_reduce_async_program_factory.cpp
  ttnn/cpp/ttnn/operations/experimental/ccl/all_to_all_async/device/all_to_all_async_device_operation_types.hpp
  ttnn/cpp/ttnn/operations/experimental/ccl/all_to_all_dispatch_metadata/device/all_to_all_dispatch_metadata_program_factory.cpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

fix dest addressing in test
  tt_metal/tt-llk/tt_llk_blackhole/llk_lib/experimental/llk_math_generalized_moe_gate_transpose_dest_single_face.h
  tt_metal/tt-llk/tt_llk_wormhole_b0/llk_lib/experimental/llk_math_generalized_moe_gate_transpose_dest_single_face.h
Due: none

Reservation of memory for vector beforehand
  ttnn/cpp/ttnn/operations/experimental/ccl/deepseek_moe_reduce_scatter/device/deepseek_moe_reduce_scatter_device_operation_types.hpp
  ttnn/cpp/ttnn/operations/experimental/ccl/dit_fused_distributed_rmsnorm/device/dit_fused_distributed_rmsnorm_device_operation_types.hpp
  ttnn/cpp/ttnn/operations/experimental/ccl/llama_all_gather_matmul_async/device/llama_1d_mm_fusion.cpp
  ttnn/cpp/ttnn/operations/experimental/ccl/llama_all_gather_matmul_async/device/llama_all_gather_matmul_async_device_operation_types.hpp
  ttnn/cpp/ttnn/operations/experimental/ccl/llama_reduce_scatter/device/llama_reduce_scatter_program_factory.cpp
  ttnn/cpp/ttnn/operations/experimental/ccl/llama_reduce_scatter_create_heads/device/llama_reduce_scatter_create_heads_device_op.cpp
  ttnn/cpp/ttnn/operations/experimental/ccl/llama_reduce_scatter_create_heads/device/llama_reduce_scatter_create_heads_program_factory.cpp
  ttnn/cpp/ttnn/operations/experimental/ccl/moe/selective_reduce_combine/device/selective_reduce_combine_device_operation_types.hpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

Reservation of memory for vector beforehand
  ttnn/cpp/ttnn/operations/experimental/ccl/moe_compute/device/moe_compute_device_operation_types.hpp
  ttnn/cpp/ttnn/operations/experimental/ccl/moe_compute/device/moe_compute_program_factory.cpp
  ttnn/cpp/ttnn/operations/experimental/ccl/moe_compute/moe_compute_utils.cpp
  ttnn/cpp/ttnn/operations/experimental/ccl/moe_compute/moe_core_placement.cpp
  ttnn/cpp/ttnn/operations/experimental/ccl/moe_gpt/device/moe_gpt_program_factory.cpp
  ttnn/cpp/ttnn/operations/experimental/ccl/neighbor_pad_async/device/neighbor_pad_async_program_factory.cpp
  ttnn/cpp/ttnn/operations/experimental/ccl/reduce_scatter_minimal_async/device/reduce_scatter_minimal_async_program.cpp
  ttnn/cpp/ttnn/operations/experimental/ccl/rms_allgather/device/rms_allgather_device_operation_types.hpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

Voxtral-TTS: make the TTNN blocks readable for the next optimization pass
  models/experimental/voxtral_tts/tests/test_tt_defaults.py
  models/experimental/voxtral_tts/tt/ttnn_voxtral_flow.py
  models/experimental/voxtral_tts/tt/ttnn_voxtral_gpt.py
Due: none

Reservation of memory for vector beforehand
  ttnn/cpp/ttnn/operations/experimental/ccl/rms_allgather/device/rms_allgather_program_factory.cpp
  ttnn/cpp/ttnn/operations/experimental/ccl/send_recv_async/recv_async/device/recv_async_op_program_factory.cpp
  ttnn/cpp/ttnn/operations/experimental/ccl/send_recv_async/send_async/device/send_async_op_program_factory.cpp
  ttnn/cpp/ttnn/operations/experimental/ccl/slice_reshard_async/device/slice_reshard_async_program_factory.cpp
  ttnn/cpp/ttnn/operations/experimental/ccl/strided_all_gather_async/device/strided_all_gather_async_program.cpp
  ttnn/cpp/ttnn/operations/experimental/ccl/strided_reduce_scatter_async/device/strided_reduce_scatter_async_op_device_operation_types.hpp
  ttnn/cpp/ttnn/operations/experimental/ccl/strided_reduce_scatter_async/device/strided_reduce_scatter_async_program.cpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

advisor-challenger: record North Mini stage checkpoint
  models/autoports/coherelabs_north_mini_code_1_0/doc/advisor_challenger/profiles/full_moe_norm_32/perf_report.csv
  models/autoports/coherelabs_north_mini_code_1_0/doc/advisor_challenger/profiles/sliding_moe_norm_32/perf_report.csv
  models/autoports/coherelabs_north_mini_code_1_0/doc/advisor_challenger/work_log.md
Due: none

Reservation of memory for vector beforehand
  ttnn/cpp/ttnn/operations/experimental/quasar/binary_ng/device/binary_ng_metal_v2_factory.cpp
  ttnn/cpp/ttnn/operations/experimental/quasar/conv2d/device/conv2d_op_sharded_program_factory.cpp
  ttnn/cpp/ttnn/operations/experimental/quasar/matmul/device/factory/matmul_multicore_reuse_batched_hs_dram_sharded_program_factory.cpp
  ttnn/cpp/ttnn/operations/experimental/quasar/matmul/device/factory/matmul_multicore_reuse_mcast_1d_program_factory.cpp
  ttnn/cpp/ttnn/operations/experimental/quasar/matmul/device/factory/matmul_multicore_reuse_mcast_dram_sharded_program_factory.cpp
  ttnn/cpp/ttnn/operations/experimental/quasar/move/device/move_overlap_program_factory.cpp
  ttnn/cpp/ttnn/operations/experimental/quasar/pad/device/pad_rm_sharded_height_only_program_factory.cpp
  ttnn/cpp/ttnn/operations/experimental/quasar/pool_generic/device/pool_multi_core_program_factory.cpp
Due: block-ttnn-pybind-changes

Reservation of memory for vector beforehand
  ttnn/cpp/ttnn/operations/experimental/quasar/slice/device/slice_program_factory_rm_sharded.cpp
  ttnn/cpp/ttnn/operations/experimental/quasar/tilize_with_val_padding/device/factories/tilize_with_val_padding_multi_core_block_interleaved_program_factory.cpp
  ttnn/cpp/ttnn/operations/experimental/quasar/transpose/device/transpose_hc_sharded_program_factory.cpp
  ttnn/cpp/ttnn/operations/experimental/quasar/transpose/device/transpose_wh_program_factory.cpp
  ttnn/cpp/ttnn/operations/experimental/quasar/transpose/device/transpose_wh_sharded_rm_program_factory.cpp
  ttnn/cpp/ttnn/operations/experimental/quasar/untilize/device/factories/untilize_multi_core_program_factory.cpp
  ttnn/cpp/ttnn/operations/experimental/quasar/untilize_with_unpadding/device/factories/untilize_with_unpadding_multi_core_nd_sharded_program_factory.cpp
  ttnn/cpp/ttnn/operations/experimental/reduction/fast_reduce_nc/device/fast_reduce_nc_program_factory.cpp
Due: block-ttnn-pybind-changes

Reservation of memory for vector beforehand
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/combine/device/combine_program_factory.cpp
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/dispatch/device/dispatch_program_factory.cpp
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/inbound_socket_service_sync/device/inbound_socket_service_sync_program_factory.cpp
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/outbound_socket_service_sync/device/outbound_socket_service_sync_program_factory.cpp
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/post_combine_reduce/device/post_combine_reduce_device_operation.cpp
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/unified_routed_expert_ffn/device/unified_routed_expert_ffn_program_factory.cpp
Due: block-ttnn-pybind-changes

Reservation of memory for vector beforehand
  ttnn/cpp/ttnn/operations/experimental/deepseek/mla/matmul_wo/device/matmul_wo_program_factory.cpp
  ttnn/cpp/ttnn/operations/experimental/deepseek/moe/moe_gate_mm/device/moe_gate_mm_program_factory.cpp
  ttnn/cpp/ttnn/operations/experimental/fusion/device/fusion_dispatch_op_helpers.hpp
  ttnn/cpp/ttnn/operations/experimental/topk_router_gpt/device/topk_router_gpt_program_factory.cpp
  ttnn/cpp/ttnn/operations/experimental/transformer/all_reduce_create_qkv_heads/device/all_reduce_create_qkv_heads_program_factory.cpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

Reservation of memory for vector beforehand
  ttnn/cpp/ttnn/operations/experimental/adaptive_pool/adaptive_pool_utils.cpp
  ttnn/cpp/ttnn/operations/experimental/cnn/convert_to_hwc/device/gather.cpp
Due: block-ttnn-pybind-changes

more tests
  tt_metal/tt-llk/tests/python_tests/test_generalized_moe_gate.py
  tt_metal/tt-llk/tests/sources/generalized_moe_gate_test.cpp
Due: none

Reservation of memory for vector beforehand
  tt_metal/impl/allocator/algorithms/free_list_opt.cpp
  tt_metal/impl/allocator/l1_banking_allocator.cpp
  tt_metal/impl/buffers/dispatch.cpp
  tt_metal/impl/buffers/tensor_prefetcher_manager.cpp
  tt_metal/impl/dataflow_buffer/dataflow_buffer.cpp
  tt_metal/impl/host_api/temp_quasar_api.cpp
  tt_metal/impl/kernels/kernel.cpp
Due: none

Reservation of memory for vector beforehand
  tt_metal/impl/data_format/bfloat16.cpp
  tt_metal/impl/data_format/blockfloat_common.cpp
Due: none

Add the changes to support 150 and end noice
  models/experimental/xtts/demo/xtts_demo.py
  models/experimental/xtts/tt/xtts_conditioning.py
  models/experimental/xtts/tt/xtts_conv.py
  models/experimental/xtts/tt/xtts_device.py
  models/experimental/xtts/tt/xtts_gpt_block.py
  models/experimental/xtts/tt/xtts_gpt_model.py
  models/experimental/xtts/tt/xtts_gpt_stack.py
  models/experimental/xtts/tt/xtts_hifi_decoder.py
  models/experimental/xtts/tt/xtts_hifigan.py
Due: none

Voxtral-TTS: turn decode-native OFF -- the 15-case gate caught a case 4 repetition loop
  models/experimental/voxtral_tts/tests/test_tt_defaults.py
  models/experimental/voxtral_tts/tt/ttnn_voxtral_gpt.py
Due: none

Reservation of memory for vector beforehand
  tt_metal/impl/debug/dprint_parser.cpp
  tt_metal/impl/debug/dprint_server.cpp
  tt_metal/impl/debug/inspector/data.cpp
  tt_metal/impl/debug/noc_debugging.hpp
  tt_metal/impl/debug/watcher_device_reader.cpp
Due: none

Reservation of memory for vector beforehand
  tt_metal/impl/device/device.cpp
  tt_metal/impl/device/device_manager.cpp
  tt_metal/impl/device/firmware/dispatch_kernel_initializer.cpp
  tt_metal/impl/device/firmware/risc_firmware_initializer.cpp
Due: none

Reservation of memory for vector beforehand
  tt_metal/impl/dispatch/dispatch_telemetry.cpp
  tt_metal/impl/dispatch/topology.cpp
  tt_metal/impl/dispatch/util/dispatch_settings.cpp
  tt_metal/impl/dispatch/worker_config_buffer.cpp
  tt_metal/impl/program/dispatch.cpp
  tt_metal/impl/program/program.cpp
  tt_metal/impl/program/program_descriptors.cpp
Due: none

Path conditions:
  block-ttnn-pybind-changes: any of: ^ttnn/
  detect-legacy-device-op: any of: ^ttnn/.*\.hpp$
  validate-golden-csv-columns: any of: ^tests/tt_metal/tt_metal/perf_microbenchmark/routing/golden/.*bandwidth.*\.csv$
