Repository tenstorrent/tt-metal: changes, and which pre-commit hooks are due for each by the changed paths.
All: block-ttnn-pybind-changes, detect-legacy-device-op, validate-golden-csv-columns

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v3.2.0
  hooks:
    - id: trailing-whitespace
      exclude: \.patch$
    - id: end-of-file-fixer
      exclude: \.patch$
    - id: check-yaml
      args: ["--unsafe"]
    - id: check-added-large-files
# Using this mirror lets us use mypyc-compiled black, which is about 2x faster
- repo: https://github.com/psf/black-pre-commit-mirror
  rev: 23.10.1
  hooks:
    - id: black
      language_version: python3
- repo: https://github.com/PyCQA/autoflake
  rev: v2.3.1
  hooks:
    - id: autoflake
      args: [--remove-all-unused-imports, --in-place, --recursive, --exclude=__init__.py]
      files: ^models/  # Run only on files in the models directory
- repo: https://github.com/pycqa/isort
  rev: 5.13.2
  hooks:
    - id: isort
      files: ^models/
      exclude: ^models/(demos/llama3_70b_galaxy|experimental)/
- repo: https://github.com/BlankSpruce/gersemi
  rev: 0.16.2
  hooks:
    - id: gersemi
- repo: https://github.com/adrienverge/yamllint.git
  rev: v1.35.1
  hooks:
    - id: yamllint
- repo: https://github.com/pre-commit/mirrors-clang-format
  rev: v19.1.4
  hooks:
    - id: clang-format
      entry: git-clang-format
      require_serial: true
      types_or: [c++, c]
      args: ["--style=file"]
- repo: local
  hooks:
    - id: validate-metalium-includes
      name: validate-metalium-includes
      entry: python3 scripts/validate_api/validate_includes.py tt_metal/api --check-ttnn-forwards
      language: system
      pass_filenames: false
    - id: validate-metalium-deprecation
      name: validate-metalium-deprecation
      entry: python3 scripts/validate_api/validate_deprecation.py tt_metal/api origin/main
      language: system
      pass_filenames: false
- repo: local
  hooks:
    - id: check-torch-imports-in-ttnn
      name: Verify that there is no global torch import in ttnn
      entry: python3 scripts/validate_no_global_torch_imports.py
      language: system
      pass_filenames: false
- repo: local
  hooks:
    - id: block-ttnn-pybind-changes
      name: Prevent edits to frozen pybind11 sources under ttnn
      entry: python3 scripts/block_ttnn_pybind_changes.py
      language: system
      pass_filenames: true
      files: ^ttnn/
- repo: local
  hooks:
    - id: convert-notebooks-to-py
      name: Convert .ipynb to .py for ttnn basic examples
      entry: python3 scripts/convert_notebooks_to_python.py
      language: system
- repo: local
  hooks:
    - id: detect-legacy-device-op
      name: Detect legacy device operation classes in newly added files
      entry: python3 scripts/detect_legacy_device_op.py --check-new-only
      language: system
      types: [file]
      files: ^ttnn/.*\.hpp$
      pass_filenames: true
      require_serial: true
- repo: local
  hooks:
    - id: validate-golden-csv-columns
      name: Validate golden bandwidth CSV column headers
      entry: bash .github/scripts/utils/validate_golden_csv_columns.sh
      language: system
      pass_filenames: false
      files: ^tests/tt_metal/tt_metal/perf_microbenchmark/routing/golden/.*bandwidth.*\.csv$

script to automatically run all dual and quad tests on B89 quad
  models/demos/deepseek_v3/demo/b89-all-tests.sh
Due: none

Connect deferred edges correctly so intermediate nodes can be updated
  models/experimental/ops/descriptors/fusion/fusion.py
  models/experimental/ops/descriptors/op_descriptor.py
  tests/ttnn/unit_tests/operations/fused/parallel_sequential/test_parallel_sequential.py
Due: none

Patch CB addresses before Program is created from ProgramDescriptor on cache miss
  models/experimental/ops/descriptors/fusion/fusion.py
  tests/ttnn/unit_tests/operations/fused/parallel_sequential/test_parallel_sequential.py
  ttnn/cpp/ttnn/operations/experimental/generic/device/patchable_generic_op_helpers.hpp
  ttnn/cpp/ttnn/operations/experimental/generic/device/patchable_generic_op_program_factory.cpp
  ttnn/cpp/ttnn/operations/experimental/generic/patchable_generic_op_nanobind.cpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

Clear dirty input slots after dispatch to prevent L1 pinning
  ttnn/cpp/ttnn/operations/experimental/generic/patchable_generic_op_nanobind.cpp
Due: block-ttnn-pybind-changes

More docs updates
  models/experimental/ops/descriptors/fusion/docs/op_fusion.md
Due: none

Code cleanup
  models/experimental/ops/descriptors/fusion/fusion.py
  models/experimental/ops/descriptors/op_descriptor.py
Due: none

Harden fusion caches: LRU eviction, generation counter, three-tier keying
  models/experimental/ops/descriptors/fusion/docs/op_fusion.md
  models/experimental/ops/descriptors/fusion/fusion.py
  models/experimental/ops/descriptors/op_descriptor.py
  tests/ttnn/unit_tests/operations/fused/parallel_sequential/test_fusion_cache.py
Due: none

Code simplification
  models/experimental/ops/descriptors/fusion/fusion.py
  models/experimental/ops/descriptors/op_descriptor.py
  tests/ttnn/unit_tests/operations/fused/parallel_sequential/test_fusion_cache.py
Due: none

Only clear outputs if they exist
  models/experimental/ops/descriptors/fusion/fusion.py
Due: none

Get rid of dual-list approach
  models/experimental/ops/descriptors/fusion/fusion.py
  models/experimental/ops/descriptors/op_descriptor.py
  ttnn/cpp/ttnn/operations/experimental/generic/patchable_generic_op_nanobind.cpp
Due: block-ttnn-pybind-changes

Optimize inline and warm-hit fusion dispatch paths
  models/experimental/ops/descriptors/fusion/fusion.py
  models/experimental/ops/descriptors/op_descriptor.py
Due: none

Updated docs
  models/experimental/ops/descriptors/fusion/docs/op_fusion.md
  models/experimental/ops/descriptors/fusion/fusion.py
Due: none

Change patchable generic op to fusion dispatch op (started as generic, got more specialized)
  models/experimental/ops/descriptors/fusion/docs/op_fusion.md
  models/experimental/ops/descriptors/fusion/fusion.py
  tests/ttnn/unit_tests/operations/fused/parallel_sequential/demo/fused_demo.md
  ttnn/CMakeLists.txt
  ttnn/cpp/ttnn/operations/experimental/experimental_nanobind.cpp
  ttnn/cpp/ttnn/operations/experimental/fusion/device/fusion_dispatch_op_device_operation.cpp
  ttnn/cpp/ttnn/operations/experimental/fusion/device/fusion_dispatch_op_device_operation.hpp
  ttnn/cpp/ttnn/operations/experimental/fusion/device/fusion_dispatch_op_helpers.hpp
  ttnn/cpp/ttnn/operations/experimental/fusion/device/fusion_dispatch_op_program_factory.cpp
  ttnn/cpp/ttnn/operations/experimental/fusion/device/fusion_dispatch_op_program_factory.hpp
  ttnn/cpp/ttnn/operations/experimental/fusion/device/fusion_dispatch_op_types.hpp
  ttnn/cpp/ttnn/operations/experimental/fusion/fusion_dispatch_op_nanobind.cpp
  ttnn/cpp/ttnn/operations/experimental/fusion/fusion_dispatch_op_nanobind.hpp
  ttnn/cpp/ttnn/operations/experimental/generic/device/patchable_generic_op_device_operation.hpp
  ttnn/cpp/ttnn/operations/experimental/generic/device/patchable_generic_op_types.hpp
  ttnn/cpp/ttnn/operations/experimental/generic/patchable_generic_op_nanobind.hpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

Validate inputs before dispatch and enforce update() after persistent run
  models/experimental/ops/descriptors/fusion/fusion.py
  tests/ttnn/unit_tests/operations/fused/parallel_sequential/test_parallel_sequential.py
Due: none

Use hash(tensor.spec) instead of id() for program-key cache safety
  models/experimental/ops/descriptors/op_descriptor.py
Due: none

Ephemeral barrier semaphores: eliminate persistent L1 pinning from fused programs
  models/experimental/ops/descriptors/fusion/common.py
  models/experimental/ops/descriptors/fusion/fusion.py
  models/experimental/ops/descriptors/fusion/graph.py
  tests/ttnn/unit_tests/operations/fused/parallel_sequential/test_fusion_cache.py
  tests/ttnn/unit_tests/operations/fused/parallel_sequential/test_parallel_sequential_infra.py
  ttnn/cpp/ttnn/operations/experimental/fusion/device/fusion_dispatch_op_helpers.hpp
  ttnn/cpp/ttnn/operations/experimental/fusion/fusion_dispatch_op_nanobind.cpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

Optimize hot path
  models/experimental/ops/descriptors/fusion/fusion.py
Due: none

More inline optimizations
  models/experimental/ops/descriptors/fusion/fusion.py
  models/experimental/ops/descriptors/op_descriptor.py
Due: none

Fix stale output tensor accumulation in warm dispatch path
  models/experimental/ops/descriptors/fusion/fusion.py
Due: none

Remove redundant name passing in constructor (decorator sets name)
  models/experimental/ops/descriptors/data_movement/slice.py
  models/experimental/ops/descriptors/matmul.py
  models/experimental/ops/descriptors/normalization/_utils.py
  models/experimental/ops/descriptors/op_descriptor.py
Due: none

fix bugs
  models/demos/deepseek_v3/tests/test_decoder_block.py
  models/demos/deepseek_v3/tests/test_model.py
  models/demos/deepseek_v3/tests/test_moe.py
  models/demos/deepseek_v3/tests/test_moe_experts.py
  models/demos/deepseek_v3/tests/test_mtp.py
  models/demos/deepseek_v3/tt/decoder_block/decoder_block_2d.py
  models/demos/deepseek_v3/tt/decoder_block/decoder_block_base.py
  models/demos/deepseek_v3/tt/decoder_block/moe_decoder_block_2d.py
  models/demos/deepseek_v3/tt/experts.py
  models/demos/deepseek_v3/tt/generator.py
  models/demos/deepseek_v3/tt/model/row_batched_model.py
  models/demos/deepseek_v3/tt/moe_quad.py
  models/demos/deepseek_v3/tt/mtp.py
  models/demos/deepseek_v3/utils/config_helpers.py
Due: none

Clean up teacher-forcing demo style for PR readiness.
  models/demos/deepseek_v3/demo/convert_api_json_to_refpt.py
  models/demos/deepseek_v3/demo/test_demo_teacher_forced.py
  models/demos/deepseek_v3/demo/token_accuracy.py
  models/demos/deepseek_v3/tt/generator.py
Due: none

Optimizations to push main process run at 50fps, gated only by BG post process to 30fps
  models/demos/yolo_eval/yolov8l_sahi_640_pipelined.py
  models/demos/yolov8l/runner/performant_runner.py
  models/demos/yolov8l/runner/performant_runner_infra.py
  ttnn/cpp/ttnn-nanobind/operations/core.cpp
  ttnn/cpp/ttnn-nanobind/pytensor.cpp
Due: block-ttnn-pybind-changes

Remove unrelated test_demo.py changes from ds-rc1 merge/revert
  models/demos/deepseek_v3/demo/test_demo.py
Due: none

modified progress interval to half test run timing
  tools/scaleout/exabox/run_fabric_tests.sh
Due: none

The BG and main thread now runs at 50fps
  models/demos/yolo_eval/yolov8l_sahi_640_pipelined.py
Due: none

Document accepted tradeoff in program key cache
  models/experimental/ops/descriptors/op_descriptor.py
Due: none

Update teacher-forcing test to use 256-token reference file
  models/demos/deepseek_v3/README.md
  models/demos/deepseek_v3/demo/convert_api_json_to_refpt.py
  models/demos/deepseek_v3/demo/deepseek_r1_teacher_forcing_256.refpt
  models/demos/deepseek_v3/demo/test_demo_teacher_forced.py
Due: none

fabric: escape hatches for ERISC/MUX hangs (#42429)
  tt_metal/fabric/fabric_init.cpp
  tt_metal/fabric/hw/inc/tt_fabric_mux_interface.hpp
  tt_metal/fabric/impl/kernels/edm_fabric/fabric_router_mux_extension.cpp
  tt_metal/fabric/impl/kernels/edm_fabric/fabric_router_relay_extension.cpp
  tt_metal/fabric/impl/kernels/edm_fabric/fabric_router_udm_mux_extension.cpp
  tt_metal/fabric/impl/kernels/tt_fabric_mux.cpp
  tt_metal/impl/device/device.cpp
Due: none

first pass
  tests/tt_metal/tt_metal/test_kernels/dataflow/unit_tests/command_queue/test_rta_crta_asserts.cpp
Due: none

Remove unused orig_max variable in test_fusion_cache
  tests/ttnn/unit_tests/operations/fused/parallel_sequential/test_fusion_cache.py
Due: none

Address PR review comments
  models/experimental/ops/descriptors/op_descriptor.py
  tests/ttnn/unit_tests/operations/fused/parallel_sequential/test_parallel_sequential.py
  ttnn/cpp/ttnn/operations/experimental/fusion/fusion_dispatch_op_nanobind.cpp
Due: block-ttnn-pybind-changes

fix(fabric): unconditional ERISC BRISC soft reset in configure_fabric_cores
  tt_metal/fabric/fabric_init.cpp
Due: none

Fix 24 non-exercised configs and 1 diff in llama-3.2-1b validation
  tests/sweep_framework/sweeps/model_traced/all_gather_async_model_traced.py
  tests/sweep_framework/sweeps/model_traced/pad_model_traced.py
  tests/sweep_framework/sweeps/model_traced/paged_fused_update_cache_model_traced.py
  tests/sweep_framework/sweeps/model_traced/paged_scaled_dot_product_attention_decode_model_traced.py
  tests/sweep_framework/sweeps/model_traced/scaled_dot_product_attention_model_traced.py
  tests/sweep_framework/sweeps/model_traced/slice_model_traced.py
Due: none

Reduce Exabox fabric tests script polling interval (#42661)
  tools/scaleout/exabox/run_fabric_tests.sh
Due: none

Harden padded_slice against non-tile-aligned 4D TILE views + add regression
  tests/ttnn/unit_tests/operations/conv/test_conv2d.py
  ttnn/cpp/ttnn/operations/experimental/padded_slice/device/padded_slice_device_operation.cpp
Due: block-ttnn-pybind-changes

Fix teacher-forcing first-token prediction by applying chat template
  models/demos/deepseek_v3/demo/demo.py
  models/demos/deepseek_v3/demo/test_demo_teacher_forced.py
Due: none

Fix paged_fused_update_cache and scaled_dot_product_attention tracing
  tests/sweep_framework/sweeps/model_traced/paged_fused_update_cache_model_traced.py
  tests/sweep_framework/sweeps/model_traced/scaled_dot_product_attention_model_traced.py
Due: none
