Repository tenstorrent/tt-metal: changes, and which pre-commit hooks are due for each by the changed paths.
All: block-ttnn-pybind-changes, detect-legacy-device-op, validate-golden-csv-columns

block-ttnn-pybind-changes:
  name: Prevent edits to frozen pybind11 sources under ttnn
  entry: python3 scripts/block_ttnn_pybind_changes.py
  language: system
  pass_filenames: true

detect-legacy-device-op:
  name: Detect legacy device operation classes in newly added files
  entry: python3 scripts/detect_legacy_device_op.py --check-new-only
  language: system
  pass_filenames: true
  require_serial: true

validate-golden-csv-columns:
  name: Validate golden bandwidth CSV column headers
  entry: bash .github/scripts/utils/validate_golden_csv_columns.sh
  language: system
  pass_filenames: false

qwen3_vl quasar e2e: layer_norm build gap fixed upstream (#59459); wrong output remains (NaN at HiFi)
  models/experimental/ops/quasar/qwen3_vl/tests/e2e/QUASAR_GAPS.md
Due: none

coverage
  tt_metal/tt-llk/.github/workflows/setup-and-test.yml
  tt_metal/tt-llk/docs/tests/infra_architecture.md
  tt_metal/tt-llk/tests/generate_coverage_report.sh
  tt_metal/tt-llk/tests/helpers/coverage/test_coverage.py
  tt_metal/tt-llk/tests/helpers/ld/memory.blackhole.debug.ld
  tt_metal/tt-llk/tests/helpers/ld/memory.quasar.debug.ld
  tt_metal/tt-llk/tests/helpers/ld/memory.wormhole.debug.ld
  tt_metal/tt-llk/tests/helpers/src/brisc.cpp
  tt_metal/tt-llk/tests/helpers/src/coverage.cpp
  tt_metal/tt-llk/tests/helpers/src/trisc.cpp
  tt_metal/tt-llk/tests/python_tests/helpers/coverage/__init__.py
  tt_metal/tt-llk/tests/python_tests/helpers/coverage/__main__.py
  tt_metal/tt-llk/tests/python_tests/helpers/coverage/ast_scan.py
  tt_metal/tt-llk/tests/python_tests/helpers/coverage/baseline.py
  tt_metal/tt-llk/tests/python_tests/helpers/coverage/capture.py
  tt_metal/tt-llk/tests/python_tests/helpers/coverage/dashboard.html
  tt_metal/tt-llk/tests/python_tests/helpers/coverage/enumerate.py
  tt_metal/tt-llk/tests/python_tests/helpers/coverage/gcov_json.py
  tt_metal/tt-llk/tests/python_tests/helpers/coverage/html_report.py
  tt_metal/tt-llk/tests/python_tests/helpers/coverage/report.py
  tt_metal/tt-llk/tests/python_tests/helpers/coverage/run_table.py
  tt_metal/tt-llk/tests/python_tests/helpers/coverage/store.py
  tt_metal/tt-llk/tests/python_tests/helpers/coverage/sweep.py
  tt_metal/tt-llk/tests/python_tests/helpers/coverage/sweep_html.py
  tt_metal/tt-llk/tests/python_tests/helpers/device.py
  tt_metal/tt-llk/tests/python_tests/helpers/llk_params.py
  tt_metal/tt-llk/tests/python_tests/helpers/stimuli_config.py
  tt_metal/tt-llk/tests/python_tests/helpers/test_config.py
Due: none

Data-movement in-place ops: caller-owned labels follow the data; copy/typecast compare coordinate sets
  tests/ttnn/unit_tests/operations/data_movement/test_inplace_write_topology.py
  ttnn/cpp/ttnn/operations/copy/typecast/device/typecast_device_op.cpp
  ttnn/cpp/ttnn/operations/core/caller_owned_topology.hpp
  ttnn/cpp/ttnn/operations/data_movement/copy/device/copy_device_operation.cpp
  ttnn/cpp/ttnn/operations/data_movement/sharded_partial/sharded_to_interleaved_partial/device/sharded_to_interleaved_partial_device_operation.cpp
  ttnn/cpp/ttnn/operations/experimental/slice_write/device/slice_write_device_operation.cpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

qwen3_vl quasar e2e: root cause for the layer_norm wrong-output gap (missing Quasar pack_init)
  models/experimental/ops/quasar/qwen3_vl/tests/e2e/QUASAR_GAPS.md
Due: none

round 3 eltwise binary CI: llama rotary decode with cos/sin and trans_mat sharding, two passes
  tests/eb_r3_ci/nodes_rll_cs.txt
  tests/eb_r3_ci/rll_cs.sh
Due: none

blackhole llk sfpu reduce: share the last two butterfly stages of the row max, min and integer sum between the two 4-row accumulators
  tt_metal/hw/ckernels/blackhole/metal/llk_api/llk_sfpu/ckernel_sfpu_reduce.h
Due: none

blackhole llk untilize: refuse an Fp8_e4m3 pack untilize in one-tile blocks of a wider row, at kernel build time and in the DeepSeek prefill dispatch and combine
  tests/ttnn/unit_tests/operations/data_movement/test_untilize_fp8_one_tile_block.py
  tt_metal/hw/ckernels/blackhole/metal/llk_api/llk_pack_untilize_api.h
  tt_metal/tt-llk/tests/python_tests/test_pack_untilize.py
  tt_metal/tt-llk/tt_llk_blackhole/llk_lib/llk_pack_untilize.h
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/combine/device/combine_program_factory.cpp
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/dispatch/device/dispatch_program_factory.cpp
Due: block-ttnn-pybind-changes

moe_compute: address review comments
  tests/ttnn/unit_tests/operations/experimental/test_moe_core_placement.py
  ttnn/cpp/ttnn/operations/experimental/ccl/moe/selective_reduce_combine/device/kernels/dataflow/writer.cpp
  ttnn/cpp/ttnn/operations/experimental/ccl/moe/selective_reduce_combine/device/selective_reduce_combine_program_factory.cpp
  ttnn/cpp/ttnn/operations/experimental/ccl/moe_compute/device/kernels/dm1.cpp
  ttnn/cpp/ttnn/operations/experimental/ccl/moe_compute/device/moe_compute_device_operation.cpp
  ttnn/cpp/ttnn/operations/experimental/ccl/moe_compute/device/moe_compute_device_operation_types.hpp
  ttnn/cpp/ttnn/operations/experimental/ccl/moe_compute/device/moe_compute_program_factory.cpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

Fix FP32 div_no_nan refinement and special values
  tests/ttnn/unit_tests/operations/eltwise/test_div_ops.py
  tt_metal/hw/ckernels/blackhole/metal/llk_api/llk_sfpu/ckernel_sfpu_binary.h
  tt_metal/hw/ckernels/wormhole_b0/metal/llk_api/llk_sfpu/ckernel_sfpu_binary.h
  tt_metal/hw/inc/api/compute/eltwise_binary_sfpu.h
  ttnn/cpp/ttnn/operations/eltwise/binary/common/binary_op_dtype_policy.cpp
  ttnn/cpp/ttnn/operations/eltwise/binary/common/binary_op_dtype_policy.hpp
  ttnn/cpp/ttnn/operations/eltwise/binary/common/binary_op_types.hpp
  ttnn/cpp/ttnn/operations/eltwise/binary/device/binary_composite_op.cpp
  ttnn/cpp/ttnn/operations/eltwise/binary_ng/device/binary_ng_device_operation.cpp
  ttnn/cpp/ttnn/operations/eltwise/binary_ng/device/binary_ng_utils.cpp
  ttnn/cpp/ttnn/operations/eltwise/binary_ng/device/binary_ng_utils.hpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

Improve FP32 div_no_nan accuracy with quotient refinement
  tests/ttnn/unit_tests/operations/eltwise/test_div_ops.py
  ttnn/cpp/ttnn/operations/eltwise/binary/device/binary_composite_op.cpp
Due: block-ttnn-pybind-changes

Route FP32 div_no_nan through divide on all architectures
  ttnn/cpp/ttnn/operations/eltwise/binary/device/binary_composite_op.cpp
Due: block-ttnn-pybind-changes

Share and optimize normalized FP32 division refinement
  tests/ttnn/unit_tests/operations/eltwise/test_div_ops.py
  tt_metal/hw/ckernels/blackhole/metal/llk_api/llk_sfpu/ckernel_sfpu_binary.h
  tt_metal/hw/ckernels/blackhole/metal/llk_api/llk_sfpu/ckernel_sfpu_recip.h
  tt_metal/hw/ckernels/wormhole_b0/metal/llk_api/llk_sfpu/ckernel_sfpu_binary.h
  tt_metal/hw/ckernels/wormhole_b0/metal/llk_api/llk_sfpu/ckernel_sfpu_recip.h
  tt_metal/hw/inc/api/compute/eltwise_binary_sfpu.h
  ttnn/cpp/ttnn/operations/eltwise/binary/common/binary_op_dtype_policy.cpp
  ttnn/cpp/ttnn/operations/eltwise/binary/common/binary_op_dtype_policy.hpp
  ttnn/cpp/ttnn/operations/eltwise/binary/common/binary_op_types.hpp
  ttnn/cpp/ttnn/operations/eltwise/binary/device/binary_composite_op.cpp
  ttnn/cpp/ttnn/operations/eltwise/binary_ng/device/binary_ng_device_operation.cpp
  ttnn/cpp/ttnn/operations/eltwise/binary_ng/device/binary_ng_utils.cpp
  ttnn/cpp/ttnn/operations/eltwise/binary_ng/device/binary_ng_utils.hpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

Propagate FP32 division NaN divisors and cheapen special-value checks
  tests/ttnn/unit_tests/operations/eltwise/test_div_ops.py
  tt_metal/hw/ckernels/blackhole/metal/llk_api/llk_sfpu/ckernel_sfpu_binary.h
  tt_metal/hw/ckernels/wormhole_b0/metal/llk_api/llk_sfpu/ckernel_sfpu_binary.h
Due: none

Remove redundant Wormhole division bit operations
  tt_metal/hw/ckernels/wormhole_b0/metal/llk_api/llk_sfpu/ckernel_sfpu_binary.h
  tt_metal/hw/ckernels/wormhole_b0/metal/llk_api/llk_sfpu/ckernel_sfpu_recip.h
Due: none

Trim FP32 division tests to kernel-relevant coverage
  tests/ttnn/unit_tests/operations/eltwise/test_div_ops.py
Due: none

[droppable] layernorm (Quasar): retarget the packer before x - E[x] and (x - E[x])^2
  ttnn/cpp/ttnn/operations/normalization/layernorm/device/kernels/compute/layernorm.cpp
Due: block-ttnn-pybind-changes

layernorm (Quasar): retarget the packer before x - E[x] and (x - E[x])^2
  ttnn/cpp/ttnn/operations/normalization/layernorm/device/kernels/compute/layernorm.cpp
Due: block-ttnn-pybind-changes

ttnn.as_tensor: TTNN_CACHE_DUMP_LOCAL for per-rank cache dumps
  ttnn/ttnn/operations/core.py
Due: block-ttnn-pybind-changes

:x
  tt_metal/impl/dispatch/kernels/cq_prefetch.cpp
Due: none

tt-project: t170 notes for the job 669 tray-3 drop and driver relaunch
  NOTES.md
Due: none

fixes
  tt_metal/impl/dispatch/kernels/cq_prefetch.cpp
Due: none

benchmarking
  tests/tt_metal/tt_metal/data_movement/quasar_examples/quasar_idma/test_idma_example.cpp
  tests/tt_metal/tt_metal/perf_microbenchmark/dispatch/test_prefetcher.cpp
  tt_metal/impl/dispatch/kernels/cq_dispatch.cpp
  tt_metal/impl/dispatch/kernels/cq_prefetch.cpp
Due: none

noc wip
  tests/tt_metal/tt_metal/data_movement/quasar_examples/quasar_idma/kernels/noc_vs_idma_copy_bench.cpp
  tests/tt_metal/tt_metal/data_movement/quasar_examples/quasar_idma/test_idma_example.cpp
  tests/tt_metal/tt_metal/perf_microbenchmark/dispatch/test_prefetcher.cpp
  tt_metal/hw/inc/internal/tt-1xx/blackhole/noc_nonblocking_api.h
  tt_metal/hw/inc/internal/tt-1xx/wormhole/noc_nonblocking_api.h
  tt_metal/impl/dispatch/kernels/cq_common.hpp
  tt_metal/impl/dispatch/kernels/cq_dispatch.cpp
  tt_metal/impl/dispatch/kernels/cq_prefetch.cpp
Due: none

fd bench: replace slot/ring layout with flat per-iteration timestamp log
  tt_metal/impl/dispatch/kernels/fd_copy_bench.hpp
Due: none

noc fix, idma cmd fix
  tt_metal/impl/dispatch/kernels/cq_common.hpp
  tt_metal/impl/dispatch/kernels/cq_prefetch.cpp
Due: none

qwen3_vl quasar e2e: log mainline ttnn.add gap on Quasar (experimental.quasar.add works) with repro
  models/experimental/ops/quasar/qwen3_vl/tests/e2e/QUASAR_GAPS.md
  models/experimental/ops/quasar/qwen3_vl/tests/e2e/repros/add_broadcast.py
Due: none

Qualify MathFidelity in kda chain_affine_transforms
  ttnn/cpp/ttnn/operations/experimental/kda/chain_affine_transforms/chain_affine_transforms.cpp
Due: block-ttnn-pybind-changes

fd bench: prefetcher flat-log waypoints, remove cmd-gap state machine
  tt_metal/impl/dispatch/kernels/cq_prefetch.cpp
Due: none

fd bench: dispatcher flat-log waypoints, remove accumulators
  tt_metal/impl/dispatch/kernels/cq_common.hpp
  tt_metal/impl/dispatch/kernels/cq_dispatch.cpp
Due: none

fd bench: host decode for flat timeline log
  tests/tt_metal/tt_metal/perf_microbenchmark/dispatch/test_prefetcher.cpp
Due: none

more benchmarks
  tests/tt_metal/tt_metal/perf_microbenchmark/dispatch/test_prefetcher.cpp
  tt_metal/impl/dispatch/kernels/cq_dispatch.cpp
  tt_metal/impl/dispatch/kernels/cq_prefetch.cpp
  tt_metal/impl/dispatch/kernels/fd_copy_bench.hpp
  tt_metal/impl/dispatch/system_memory_manager.cpp
Due: none

access opt
  tests/tt_metal/tt_metal/data_movement/compute_ipc/kernels/alu_loop_ipc.cpp
  tests/tt_metal/tt_metal/data_movement/compute_ipc/test_compute_ipc.cpp
  tt_metal/impl/dispatch/kernels/cq_commands.hpp
  tt_metal/impl/dispatch/kernels/cq_prefetch.cpp
  tt_metal/impl/dispatch/kernels/fd_copy_bench.hpp
Due: none

add IPC tests
  tests/tt_metal/tt_metal/data_movement/compute_ipc/kernels/alu_loop_ipc.cpp
  tests/tt_metal/tt_metal/data_movement/compute_ipc/test_compute_ipc.cpp
  tests/tt_metal/tt_metal/data_movement/sources.cmake
  tests/tt_metal/tt_metal/perf_microbenchmark/dispatch/test_prefetcher.cpp
Due: none

more changes
  tt_metal/hw/inc/internal/tt-1xx/blackhole/noc_nonblocking_api.h
  tt_metal/hw/inc/internal/tt-1xx/wormhole/noc_nonblocking_api.h
  tt_metal/impl/dispatch/kernels/cq_common.hpp
  tt_metal/impl/dispatch/kernels/cq_dispatch.cpp
  tt_metal/impl/dispatch/kernels/cq_prefetch.cpp
  tt_metal/impl/dispatch/kernels/fd_copy_bench.hpp
Due: none

aligned accesses
  tt_metal/impl/dispatch/kernels/cq_commands.hpp
Due: none

optimizations
  tests/tt_metal/tt_metal/data_movement/compute_ipc/kernels/alu_loop_ipc.cpp
  tests/tt_metal/tt_metal/data_movement/compute_ipc/test_compute_ipc.cpp
  tests/tt_metal/tt_metal/data_movement/quasar_examples/quasar_idma/test_idma_example.cpp
  tests/tt_metal/tt_metal/perf_microbenchmark/dispatch/test_prefetcher.cpp
  tt_metal/hw/firmware/src/tt-2xx/dmk.cc
  tt_metal/hw/firmware/src/tt-2xx/trisck.cc
  tt_metal/hw/inc/internal/tt-2xx/quasar/noc_nonblocking_api_v2.h
  tt_metal/hw/toolchain/crt0.S
  tt_metal/hw/toolchain/script_tng.ld
  tt_metal/impl/dispatch/kernels/cq_common.hpp
  tt_metal/impl/dispatch/kernels/cq_dispatch.cpp
  tt_metal/impl/dispatch/kernels/cq_prefetch.cpp
  tt_metal/impl/dispatch/kernels/fd_copy_bench.hpp
  tt_metal/llrt/hal/tt-2xx/quasar/qa_hal.cpp
Due: none

add more iDMA benchmarks
  tests/tt_metal/tt_metal/data_movement/quasar_examples/quasar_idma/kernels/noc_vs_idma_copy_bench.cpp
  tests/tt_metal/tt_metal/data_movement/quasar_examples/quasar_idma/test_idma_example.cpp
  tt_metal/impl/dispatch/kernels/cq_common.hpp
Due: none

more benchmarks
  tests/tt_metal/tt_metal/perf_microbenchmark/dispatch/test_prefetcher.cpp
Due: none

invalidation mode 2
  tt_metal/impl/dispatch/kernels/cq_dispatch.cpp
  tt_metal/impl/dispatch/kernels/cq_prefetch.cpp
Due: none

semaphore cache opt
  tt_metal/impl/dispatch/kernels/cq_common.hpp
  tt_metal/impl/dispatch/kernels/cq_dispatch.cpp
  tt_metal/impl/dispatch/kernels/cq_dispatch_subordinate.cpp
  tt_metal/impl/dispatch/kernels/cq_prefetch.cpp
Due: none

Path conditions:
  block-ttnn-pybind-changes: any of: ^ttnn/
  detect-legacy-device-op: any of: ^ttnn/.*\.hpp$
  validate-golden-csv-columns: any of: ^tests/tt_metal/tt_metal/perf_microbenchmark/routing/golden/.*bandwidth.*\.csv$
