Repository tenstorrent/tt-metal: changes, and which pre-commit hooks are due for each by the changed paths.
All: block-ttnn-pybind-changes, detect-legacy-device-op, validate-golden-csv-columns

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v3.2.0
  hooks:
    - id: trailing-whitespace
      exclude: \.patch$
    - id: end-of-file-fixer
      exclude: \.patch$
    - id: check-yaml
      args: ["--unsafe"]
    - id: check-added-large-files
# Using this mirror lets us use mypyc-compiled black, which is about 2x faster
- repo: https://github.com/psf/black-pre-commit-mirror
  rev: 23.10.1
  hooks:
    - id: black
      language_version: python3
- repo: https://github.com/PyCQA/autoflake
  rev: v2.3.1
  hooks:
    - id: autoflake
      args: [--remove-all-unused-imports, --in-place, --recursive, --exclude=__init__.py]
      files: ^models/  # Run only on files in the models directory
- repo: https://github.com/pycqa/isort
  rev: 5.13.2
  hooks:
    - id: isort
      files: ^models/
      exclude: ^models/(demos/llama3_70b_galaxy|experimental)/
- repo: https://github.com/BlankSpruce/gersemi
  rev: 0.16.2
  hooks:
    - id: gersemi
- repo: https://github.com/adrienverge/yamllint.git
  rev: v1.35.1
  hooks:
    - id: yamllint
- repo: https://github.com/pre-commit/mirrors-clang-format
  rev: v19.1.4
  hooks:
    - id: clang-format
      entry: git-clang-format
      require_serial: true
      types_or: [c++, c]
      args: ["--style=file"]
- repo: local
  hooks:
    - id: validate-metalium-includes
      name: validate-metalium-includes
      entry: python3 scripts/validate_api/validate_includes.py tt_metal/api --check-ttnn-forwards
      language: system
      pass_filenames: false
    - id: validate-metalium-deprecation
      name: validate-metalium-deprecation
      entry: python3 scripts/validate_api/validate_deprecation.py tt_metal/api origin/main
      language: system
      pass_filenames: false
- repo: local
  hooks:
    - id: check-torch-imports-in-ttnn
      name: Verify that there is no global torch import in ttnn
      entry: python3 scripts/validate_no_global_torch_imports.py
      language: system
      pass_filenames: false
- repo: local
  hooks:
    - id: block-ttnn-pybind-changes
      name: Prevent edits to frozen pybind11 sources under ttnn
      entry: python3 scripts/block_ttnn_pybind_changes.py
      language: system
      pass_filenames: true
      files: ^ttnn/
- repo: local
  hooks:
    - id: convert-notebooks-to-py
      name: Convert .ipynb to .py for ttnn basic examples
      entry: python3 scripts/convert_notebooks_to_python.py
      language: system
- repo: local
  hooks:
    - id: detect-legacy-device-op
      name: Detect legacy device operation classes in newly added files
      entry: python3 scripts/detect_legacy_device_op.py --check-new-only
      language: system
      types: [file]
      files: ^ttnn/.*\.hpp$
      pass_filenames: true
      require_serial: true
- repo: local
  hooks:
    - id: validate-golden-csv-columns
      name: Validate golden bandwidth CSV column headers
      entry: bash .github/scripts/utils/validate_golden_csv_columns.sh
      language: system
      pass_filenames: false
      files: ^tests/tt_metal/tt_metal/perf_microbenchmark/routing/golden/.*bandwidth.*\.csv$

Update 4x8 blockings v3: per-layer sweep for T_latent=16 (32-frame model)
  models/tt_dit/utils/conv3d.py
  sweep_t32_tblocks.py
Due: none

Implement in-kernel T-slice semaphore signaling for NP+conv3d overlap
  ttnn/cpp/ttnn/operations/experimental/ccl/neighbor_pad_async/device/kernels/minimal_default_writer.cpp
  ttnn/cpp/ttnn/operations/experimental/ccl/neighbor_pad_async/device/neighbor_pad_async_device_operation_types.hpp
  ttnn/cpp/ttnn/operations/experimental/ccl/neighbor_pad_async/device/neighbor_pad_async_program_factory.cpp
  ttnn/cpp/ttnn/operations/experimental/conv3d/device/kernels/reader_vol2col.cpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

Fix sliding window W overlap for stride > 1 and extract reader helpers
  ttnn/cpp/ttnn/operations/experimental/conv3d/device/kernels/reader_vol2col.cpp
Due: block-ttnn-pybind-changes

HALO_BUFFER_DESIGN: document T-slice pipelining design and all_gather_matmul insight
  HALO_BUFFER_DESIGN.md
Due: none

bruteforce_conv3d_sweep: predict Cin/Cout from K_t*N_t heuristic
  models/tt_dit/tests/models/wan2_2/bruteforce_conv3d_sweep.py
Due: none

bruteforce_conv3d_sweep: fast mode uses known-good spatial + max cin*cout
  models/tt_dit/tests/models/wan2_2/bruteforce_conv3d_sweep.py
Due: none

bruteforce_conv3d_sweep: fix DRAM BW to 50 GB/s (effective scatter-gather)
  models/tt_dit/tests/models/wan2_2/bruteforce_conv3d_sweep.py
Due: none

Clean up spatial-aware conv3d blocking in VAE model
  models/tt_dit/models/vae/vae_wan2_1.py
Due: none

Revert noc_async_read_one_packet_set_state hoist — clobbers state
  ttnn/cpp/ttnn/operations/experimental/conv3d/device/kernels/reader_vol2col.cpp
Due: block-ttnn-pybind-changes

Update conv_out blocking: (96,32,1,32,2) = 15% faster
  models/tt_dit/utils/conv3d.py
Due: none

bruteforce_conv3d_sweep: heuristic spatial prediction from blocking table
  models/tt_dit/tests/models/wan2_2/bruteforce_conv3d_sweep.py
Due: none

Fix _DEFAULT_BLOCKINGS to match main branch
  models/tt_dit/utils/conv3d.py
Due: none

bruteforce_conv3d_sweep: move probe into timeout thread, fix slow-JIT hang
  models/tt_dit/tests/models/wan2_2/bruteforce_conv3d_sweep.py
Due: none

Update BH Galaxy 6U blockings with T_out_block > 1 sweep results
  models/tt_dit/tests/models/wan2_2/bruteforce_conv3d_sweep.py
  models/tt_dit/utils/conv3d.py
Due: none

Fix profiling: batched dispatch + device profiler for accurate device timing
  models/tt_dit/parallel/manager.py
  models/tt_dit/tests/models/wan2_2/profile_conv3d.py
  models/tt_dit/utils/test.py
  run_vae_all_ops.py
  run_vae_decoder_ablation.py
Due: none

Add spatial overrides for up0_tconv and up0_spatial
  models/tt_dit/utils/conv3d.py
Due: none

Add conv3d T_out_block unit test with WAN 2.2 VAE production shapes
  tests/ttnn/unit_tests/operations/conv/test_conv3d_t_block.py
Due: none

HALO_BUFFER_DESIGN: document atomic kernel change requirement
  HALO_BUFFER_DESIGN.md
Due: none

Fix Galaxy hang: restore H-writer per-T-batch progress_sem signaling
  ttnn/cpp/ttnn/operations/experimental/ccl/neighbor_pad_async/device/neighbor_pad_async_program_factory.cpp
  ttnn/cpp/ttnn/operations/experimental/ccl/neighbor_pad_async/device/neighbor_pad_async_program_factory.hpp
  ttnn/cpp/ttnn/operations/experimental/conv3d/device/conv3d_program_factory.cpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

Fix halo buffer addressing: page shape, link offset, all-L1 H-halo routing
  models/tt_dit/models/vae/vae_wan2_1.py
  models/tt_dit/parallel/manager.py
  ttnn/cpp/ttnn/operations/experimental/ccl/neighbor_pad_async/device/kernels/minimal_default_reader.cpp
  ttnn/cpp/ttnn/operations/experimental/ccl/neighbor_pad_async/device/kernels/minimal_default_writer.cpp
  ttnn/cpp/ttnn/operations/experimental/ccl/neighbor_pad_async/device/neighbor_pad_async_program_factory.cpp
  ttnn/cpp/ttnn/operations/experimental/ccl/neighbor_pad_async/device/neighbor_pad_async_program_factory.hpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

CONV3D_PROFILING_GUIDE: add Tracy per-op breakdown workflow + 2x4 480p numbers
  CONV3D_PROFILING_GUIDE.md
Due: none

Add T-slice semaphore foundation: NP signals conv3d reader cores atomically
  models/tt_dit/models/vae/vae_wan2_1.py
Due: none

Add NP_PROGRESS_SEM signaling to W-reader, NP_NUM_W_WRITERS to conv3d
  ttnn/cpp/ttnn/operations/experimental/ccl/neighbor_pad_async/device/kernels/phase2_w_reader.cpp
  ttnn/cpp/ttnn/operations/experimental/conv3d/conv3d_nanobind.cpp
  ttnn/cpp/ttnn/operations/experimental/conv3d/device/conv3d_device_operation_types.hpp
  ttnn/cpp/ttnn/operations/experimental/conv3d/device/conv3d_program_factory.cpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

VAE: fix fabric sub-device over-allocation and remove dead CQ event code
  models/tt_dit/models/vae/vae_wan2_1.py
  models/tt_dit/parallel/manager.py
  models/tt_dit/pipelines/wan/pipeline_wan.py
  models/tt_dit/tests/models/wan2_2/test_neighbor_pad_conv3d_fused.py
  models/tt_dit/tests/models/wan2_2/test_performance_wan.py
  models/tt_dit/utils/conv3d.py
  ttnn/cpp/ttnn/operations/experimental/conv3d/device/kernels/compute.cpp
  ttnn/cpp/ttnn/operations/experimental/conv3d/device/kernels/reader_vol2col.cpp
Due: block-ttnn-pybind-changes

run_vae_decoder_ablation: remove extra synchronize_device to match test_perf_wan
  run_vae_decoder_ablation.py
Due: none

Fix run_vae_e2e_perf.py: use correct BH 2x4 axis config
  run_vae_decoder_ablation.py
  run_vae_e2e_perf.py
Due: none

T-slice pipelining: single-CQ NP+conv3d concurrent dispatch (1.00s 480p 2x4)
  HALO_BUFFER_DESIGN.md
  models/tt_dit/models/vae/vae_wan2_1.py
  models/tt_dit/parallel/manager.py
  ttnn/cpp/ttnn/operations/experimental/ccl/neighbor_pad_async/device/kernels/minimal_default_writer.cpp
Due: block-ttnn-pybind-changes

Fix W-halo corner approximation: extend W section to include H-padded rows
  models/tt_dit/models/vae/vae_wan2_1.py
  models/tt_dit/parallel/manager.py
  ttnn/cpp/ttnn/operations/experimental/ccl/neighbor_pad_async/device/kernels/phase2_w_reader.cpp
  ttnn/cpp/ttnn/operations/experimental/ccl/neighbor_pad_async/device/neighbor_pad_async_program_factory.cpp
  ttnn/cpp/ttnn/operations/experimental/conv3d/device/kernels/reader_vol2col.cpp
Due: block-ttnn-pybind-changes

Add halo+fused op test and update fusion plan with bug history
  NP_CONV3D_FUSION_PLAN.md
  models/tt_dit/tests/models/wan2_2/test_neighbor_pad_conv3d_fused.py
Due: none

Add NP+Conv3d fusion plan: single-dispatch neighbor_pad_conv3d op
  NP_CONV3D_FUSION_PLAN.md
Due: none

Add neighbor_pad_conv3d fused op: single-dispatch NP + conv3d (WIP)
  models/tt_dit/parallel/manager.py
  tt_metal/impl/program/dispatch.cpp
  ttnn/CMakeLists.txt
  ttnn/cpp/ttnn/operations/experimental/ccl/ccl_experimental_nanobind.cpp
  ttnn/cpp/ttnn/operations/experimental/ccl/neighbor_pad_conv3d/CMakeLists.txt
  ttnn/cpp/ttnn/operations/experimental/ccl/neighbor_pad_conv3d/device/neighbor_pad_conv3d_device_operation.cpp
  ttnn/cpp/ttnn/operations/experimental/ccl/neighbor_pad_conv3d/device/neighbor_pad_conv3d_device_operation.hpp
  ttnn/cpp/ttnn/operations/experimental/ccl/neighbor_pad_conv3d/device/neighbor_pad_conv3d_device_operation_types.hpp
  ttnn/cpp/ttnn/operations/experimental/ccl/neighbor_pad_conv3d/device/neighbor_pad_conv3d_program_factory.cpp
  ttnn/cpp/ttnn/operations/experimental/ccl/neighbor_pad_conv3d/device/neighbor_pad_conv3d_program_factory.hpp
  ttnn/cpp/ttnn/operations/experimental/ccl/neighbor_pad_conv3d/neighbor_pad_conv3d.cpp
  ttnn/cpp/ttnn/operations/experimental/ccl/neighbor_pad_conv3d/neighbor_pad_conv3d.hpp
  ttnn/cpp/ttnn/operations/experimental/ccl/neighbor_pad_conv3d/neighbor_pad_conv3d_nanobind.cpp
  ttnn/cpp/ttnn/operations/experimental/ccl/neighbor_pad_conv3d/neighbor_pad_conv3d_nanobind.hpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

run_vae_decoder_ablation: include upload+readback to match E2E VAE timer
  run_vae_decoder_ablation.py
Due: none

enable mega-fused QKV+ab+g projection for DeltaNet prefill
  models/demos/blackhole/qwen3_5_9b/tt/qwen35_model.py
  models/experimental/gated_attention_gated_deltanet/tt/ttnn_gated_deltanet.py
Due: none

Add experimental add op
  ttnn/CMakeLists.txt
  ttnn/cpp/ttnn/kernel/kernel_common_utils.hpp
  ttnn/cpp/ttnn/operations/eltwise/binary_ng/device/kernels/compute/eltwise_binary_scalar.cpp
  ttnn/cpp/ttnn/operations/experimental/add/CMakeLists.txt
  ttnn/cpp/ttnn/operations/experimental/add/add.hpp
  ttnn/cpp/ttnn/operations/experimental/add/add_nanobind.cpp
  ttnn/cpp/ttnn/operations/experimental/add/add_nanobind.hpp
  ttnn/cpp/ttnn/operations/experimental/add/device/add_device_operation.cpp
  ttnn/cpp/ttnn/operations/experimental/add/device/add_device_operation.hpp
  ttnn/cpp/ttnn/operations/experimental/add/device/add_device_operation_types.hpp
  ttnn/cpp/ttnn/operations/experimental/add/device/kernels/compute/elemwise_add_kernel.cpp
  ttnn/cpp/ttnn/operations/experimental/add/device/kernels/compute/elemwise_add_kernel_args.hpp
  ttnn/cpp/ttnn/operations/experimental/add/device/kernels/dataflow/elemwise_reader_kernel.cpp
  ttnn/cpp/ttnn/operations/experimental/add/device/kernels/dataflow/elemwise_reader_kernel_args.hpp
  ttnn/cpp/ttnn/operations/experimental/add/device/kernels/dataflow/elemwise_writer_kernel.cpp
  ttnn/cpp/ttnn/operations/experimental/add/device/kernels/dataflow/elemwise_writer_kernel_args.hpp
  ttnn/cpp/ttnn/operations/experimental/add/device/kernels/dataflow/elt_nd_sharded_add_reader.cpp
  ttnn/cpp/ttnn/operations/experimental/add/device/kernels/dataflow/elt_nd_sharded_add_reader_args.hpp
  ttnn/cpp/ttnn/operations/experimental/add/device/kernels/tiles_config.hpp
  ttnn/cpp/ttnn/operations/experimental/add/device/program_factory/element_wise_multi_core_add_program.cpp
  ttnn/cpp/ttnn/operations/experimental/add/device/program_factory/element_wise_multi_core_add_program.hpp
  ttnn/cpp/ttnn/operations/experimental/add/device/program_factory/elemwise_factory_common.hpp
  ttnn/cpp/ttnn/operations/experimental/add/device/program_factory/elt_nd_sharded_add_program.cpp
  ttnn/cpp/ttnn/operations/experimental/add/device/program_factory/elt_nd_sharded_add_program.hpp
  ttnn/cpp/ttnn/operations/experimental/experimental_nanobind.cpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

Don't harcode num_of_dram_banks
  ttnn/cpp/ttnn/operations/experimental/add/device/dram_optimized/elemwise_factory_common.hpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

refactor
  ttnn/cpp/ttnn/operations/experimental/add/device/dram_optimized/kernels/elemwise_compute_kernel.cpp
  ttnn/cpp/ttnn/operations/experimental/add/device/dram_optimized/kernels/elemwise_reader_kernel.cpp
  ttnn/cpp/ttnn/operations/experimental/add/device/dram_optimized/kernels/elemwise_writer_kernel.cpp
Due: block-ttnn-pybind-changes

Fix new version of kernels(works)
  ttnn/cpp/ttnn/operations/experimental/add/device/dram_optimized/dram_optimized_program.cpp
  ttnn/cpp/ttnn/operations/experimental/add/device/dram_optimized/kernels/elemwise_compute_kernel.cpp
  ttnn/cpp/ttnn/operations/experimental/add/device/dram_optimized/kernels/elemwise_reader_kernel.cpp
  ttnn/cpp/ttnn/operations/experimental/add/device/dram_optimized/kernels/elemwise_writer_kernel.cpp
Due: block-ttnn-pybind-changes

Fuse loops in reader kernel
  ttnn/cpp/ttnn/operations/experimental/add/device/dram_optimized/kernels/elemwise_reader_kernel.cpp
Due: block-ttnn-pybind-changes

Add benchmarks and test
  bm-add-experimental.py
  test-add-experimental.py
Due: none
