Repository tenstorrent/tt-metal: changes, and which pre-commit hooks are due for each by the changed paths.
All: block-ttnn-pybind-changes, detect-legacy-device-op, validate-golden-csv-columns

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v3.2.0
  hooks:
    - id: trailing-whitespace
      exclude: \.patch$
    - id: end-of-file-fixer
      exclude: \.patch$
    - id: check-yaml
      args: ["--unsafe"]
    - id: check-added-large-files
# Using this mirror lets us use mypyc-compiled black, which is about 2x faster
- repo: https://github.com/psf/black-pre-commit-mirror
  rev: 23.10.1
  hooks:
    - id: black
      language_version: python3
- repo: https://github.com/PyCQA/autoflake
  rev: v2.3.1
  hooks:
    - id: autoflake
      args: [--remove-all-unused-imports, --in-place, --recursive, --exclude=__init__.py]
      files: ^models/  # Run only on files in the models directory
- repo: https://github.com/pycqa/isort
  rev: 5.13.2
  hooks:
    - id: isort
      files: ^models/
      exclude: ^models/(demos/llama3_70b_galaxy|experimental)/
- repo: https://github.com/BlankSpruce/gersemi
  rev: 0.16.2
  hooks:
    - id: gersemi
- repo: https://github.com/adrienverge/yamllint.git
  rev: v1.35.1
  hooks:
    - id: yamllint
- repo: https://github.com/pre-commit/mirrors-clang-format
  rev: v19.1.4
  hooks:
    - id: clang-format
      entry: git-clang-format
      require_serial: true
      types_or: [c++, c]
      args: ["--style=file"]
- repo: local
  hooks:
    - id: validate-metalium-includes
      name: validate-metalium-includes
      entry: python3 scripts/validate_api/validate_includes.py tt_metal/api --check-ttnn-forwards
      language: system
      pass_filenames: false
    - id: validate-metalium-deprecation
      name: validate-metalium-deprecation
      entry: python3 scripts/validate_api/validate_deprecation.py tt_metal/api origin/main
      language: system
      pass_filenames: false
- repo: local
  hooks:
    - id: check-torch-imports-in-ttnn
      name: Verify that there is no global torch import in ttnn
      entry: python3 scripts/validate_no_global_torch_imports.py
      language: system
      pass_filenames: false
- repo: local
  hooks:
    - id: block-ttnn-pybind-changes
      name: Prevent edits to frozen pybind11 sources under ttnn
      entry: python3 scripts/block_ttnn_pybind_changes.py
      language: system
      pass_filenames: true
      files: ^ttnn/
- repo: local
  hooks:
    - id: convert-notebooks-to-py
      name: Convert .ipynb to .py for ttnn basic examples
      entry: python3 scripts/convert_notebooks_to_python.py
      language: system
- repo: local
  hooks:
    - id: detect-legacy-device-op
      name: Detect legacy device operation classes in newly added files
      entry: python3 scripts/detect_legacy_device_op.py --check-new-only
      language: system
      types: [file]
      files: ^ttnn/.*\.hpp$
      pass_filenames: true
      require_serial: true
- repo: local
  hooks:
    - id: validate-golden-csv-columns
      name: Validate golden bandwidth CSV column headers
      entry: bash .github/scripts/utils/validate_golden_csv_columns.sh
      language: system
      pass_filenames: false
      files: ^tests/tt_metal/tt_metal/perf_microbenchmark/routing/golden/.*bandwidth.*\.csv$

Replace ReduceInputChunk with an output group count
  tests/ttnn/unit_tests/kernel_lib/reduce/kernels/reduce_explicit.cpp
  tests/ttnn/unit_tests/kernel_lib/reduce/test_reduce_explicit_modes.py
  ttnn/cpp/ttnn/kernel_lib/reduce_helpers_compute.hpp
  ttnn/cpp/ttnn/kernel_lib/reduce_helpers_compute.inl
Due: block-ttnn-pybind-changes, detect-legacy-device-op

Remove unnecessary comments
  tt_metal/hw/ckernels/wormhole_b0/metal/llk_api/llk_sfpu/ckernel_sfpu_square.h
Due: none

qwen38: measure the e2e perf targets from the demo that produces them
  models/model_targets.yaml
Due: none

fix: cap MX and Float16b math fidelity at LoFi (#57880)
  tt_metal/tt-llk/tests/python_tests/helpers/constraints.py
  tt_metal/tt-llk/tests/python_tests/quasar/perf_eltwise_binary_broadcast_quasar.py
  tt_metal/tt-llk/tests/python_tests/quasar/perf_eltwise_binary_quasar.py
  tt_metal/tt-llk/tests/python_tests/quasar/perf_eltwise_binary_reuse_dest_quasar.py
  tt_metal/tt-llk/tests/python_tests/quasar/perf_matmul_quasar.py
  tt_metal/tt-llk/tests/python_tests/quasar/perf_reduce_quasar.py
  tt_metal/tt-llk/tests/python_tests/quasar/test_eltwise_binary_broadcast_quasar.py
  tt_metal/tt-llk/tests/python_tests/quasar/test_eltwise_binary_quasar.py
  tt_metal/tt-llk/tests/python_tests/quasar/test_eltwise_binary_reuse_dest_quasar.py
  tt_metal/tt-llk/tests/python_tests/quasar/test_matmul_custom_no_mop_quasar.py
  tt_metal/tt-llk/tests/python_tests/quasar/test_matmul_quasar.py
  tt_metal/tt-llk/tests/python_tests/quasar/test_reduce_quasar.py
Due: none

publish-hf --container: generic vLLM-adapter scaffolding for ANY model
  scripts/tt_hw_planner/cli.py
  scripts/tt_hw_planner/commands/publish_hf.py
Due: none

V4 block tests: V4_TEST_EXPERTS env
  models/demos/deepseek_v3_d_p/tests/pcc/test_v4_block.py
Due: none

addressing PR review comments
  tests/ttnn/unit_tests/operations/experimental/deepseek/test_generalized_moe_gate_program_cache.py
Due: none

PR feedback - upgrade assert to fatal
  ttnn/cpp/ttnn/operations/randn/device/randn_program_factory.cpp
Due: block-ttnn-pybind-changes

[Tests] SFPU accuracy: a bare tolerance row opts out of ULP without retracting a declared atol
  tt_metal/tt-llk/tests/python_tests/helpers/sfpu_accuracy_budget.py
  tt_metal/tt-llk/tests/python_tests/test_sfpu_accuracy_budget.py
Due: none

Address Gemma QB2 benchmark and cache review feedback
  models/demos/gemma4_31b_qb2/README.md
  models/demos/gemma4_31b_qb2/tests/report.py
  models/demos/gemma4_31b_qb2/tests/test_benchmark.py
  models/demos/gemma4_31b_qb2/tests/test_serving_inputs.py
  models/demos/gemma4_31b_qb2/tt/decoder.py
  models/demos/gemma4_31b_qb2/tt/generator.py
  models/demos/gemma4_31b_qb2/tt/generator_vllm.py
  models/model_trace_region_sizes.yaml
Due: none

fix indexed_fill: write output pages with the output's own aligned page size
  tests/ttnn/unit_tests/operations/data_movement/test_indexed_fill.py
  ttnn/cpp/ttnn/operations/data_movement/indexed_fill/device/indexed_fill_program_factory.cpp
Due: block-ttnn-pybind-changes

Avoid pickle deserialization in Gemma report regression test
  models/demos/gemma4_31b_qb2/tests/test_benchmark.py
Due: none

try LLK special handling
  tt_metal/tt-llk/tests/python_tests/helpers/test_config.py
  tt_metal/tt-llk/tt_llk_blackhole/common/inc/ckernel_ops.h
  tt_metal/tt-llk/tt_llk_quasar/common/inc/ckernel_ops.h
  tt_metal/tt-llk/tt_llk_wormhole_b0/common/inc/ckernel_ops.h
Due: none

[Bug fix] matmul: reject block-sharded 2D output when batch > 1 (#57191)
  ttnn/cpp/ttnn/operations/matmul/device/factory/matmul_multicore_reuse_mcast_2d_program_factory.cpp
  ttnn/cpp/ttnn/operations/matmul/device/matmul_device_operation.cpp
  ttnn/cpp/ttnn/operations/matmul/device/utilities/matmul_utilities.hpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

ci: pin the dflash producer to one slot, like the sibling kv leg
  models/demos/common/prefill/runners/ci/run_multirank_dflash_pcc.sh
Due: none

publish-hf --container: build from a buildable checkout (demo+submodules), arch fallback to run model_root, optional runtime.lock, --hf-arch/--lock overrides
  scripts/tt_hw_planner/cli.py
  scripts/tt_hw_planner/commands/publish_hf.py
Due: none

publish-hf --container: runtime.lock optional + overrides
  scripts/tt_hw_planner/cli.py
  scripts/tt_hw_planner/commands/publish_hf.py
Due: none

#57563: Remove sfpiadd_i builtin use
  tt_metal/hw/ckernels/blackhole/metal/llk_api/llk_sfpu/ckernel_sfpu_exp.h
  tt_metal/hw/ckernels/blackhole/metal/llk_api/llk_sfpu/ckernel_sfpu_exp2.h
  tt_metal/hw/ckernels/wormhole_b0/metal/llk_api/llk_sfpu/ckernel_sfpu_exp2.h
Due: none

formatting
  tests/tt_metal/tt_metal/test_kernels/sfpi/post.inc
Due: none

[CI] MiniMax-H3: tier 1 unit and T2VA e2e legs on bh_sc1, plus fixes for the tests they exposed
  .github/time_budget.yaml
  .github/workflows/models-t1-e2e-tests.yaml
  .github/workflows/models-t1-unit-tests.yaml
  models/tt_dit/layers/audio_ops.py
  models/tt_dit/models/audio_vae/minimax_h3/encoder_minimax_h3_audio.py
  models/tt_dit/models/vae/minimax_h3/conv_minimax_h3.py
  models/tt_dit/pipelines/minimax_h3/pipeline_minimax_h3.py
  models/tt_dit/pipelines/minimax_h3/references.py
  models/tt_dit/tests/models/minimax_h3/test_audio_minimax_h3.py
  models/tt_dit/tests/models/minimax_h3/test_performance_vae_minimax_h3.py
  models/tt_dit/tests/models/minimax_h3/test_pipeline_encode_vision_smoke.py
  models/tt_dit/tests/models/minimax_h3/test_ref2va_reference_oom_minimax_h3.py
  models/tt_dit/tests/models/minimax_h3/test_references_minimax_h3.py
  models/tt_dit/tests/models/minimax_h3/test_transformer_minimax_h3.py
  tests/pipeline_reorg/models_e2e_tests.yaml
  tests/pipeline_reorg/models_unit_tests.yaml
  tt_metal/python_env/requirements-dev.txt
Due: none

tt_dit: DiT denoiser attention defaults to FAST (user decision)
  models/tt_dit/blocks/attention.py
  models/tt_dit/blocks/attention_opt.py
  models/tt_dit/models/transformers/attention_mochi.py
  models/tt_dit/models/transformers/attention_sd35.py
  models/tt_dit/models/transformers/ltx/attention_ltx.py
  models/tt_dit/models/transformers/minimax_h3/attention_minimax_h3.py
  models/tt_dit/models/transformers/transformer_ideogram4.py
  models/tt_dit/models/transformers/wan2_2/attention_wan.py
  models/tt_dit/tests/unit/test_sdpa_dit_recipe_defaults.py
Due: none

refactor(fabric): uniform per-solve SAT conflict cap + diagnostics
  tt_metal/api/tt-metalium/experimental/fabric/topology_solver.hpp
  tt_metal/api/tt-metalium/experimental/fabric/topology_solver.tpp
  tt_metal/fabric/topology_solver_sat.cpp
  tt_metal/fabric/topology_solver_sat_solver.cpp
  tt_metal/fabric/topology_solver_sat_solver.hpp
Due: none

Re-enable watcher for DeepSeek V3 unit and module tests
  models/demos/deepseek_v3/conftest.py
  tests/pipeline_reorg/models_unit_tests.yaml
Due: none

TTI too
  tt_metal/tt-llk/tt_llk_blackhole/common/inc/ckernel_ops.h
  tt_metal/tt-llk/tt_llk_quasar/common/inc/ckernel_ops.h
  tt_metal/tt-llk/tt_llk_wormhole_b0/common/inc/ckernel_ops.h
Due: none

fixing clang gate
  ttnn/cpp/ttnn/operations/experimental/cnn/convert_to_chw/device/convert_to_chw_device_operation.hpp
  ttnn/cpp/ttnn/operations/experimental/cnn/convert_to_hwc/device/convert_to_hwc_device_operation.hpp
  ttnn/cpp/ttnn/operations/experimental/cnn/convert_to_hwc/device/convert_to_hwc_program_factory.cpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

Share heartbeat reads and signature validation in EthCore
  tools/triage/check_eth_status.py
Due: none

Add reset pass if/when port down fails.
  tools/scaleout/exabox/recover.sh
  tools/scaleout/exabox/run_validation.sh
Due: none

[Bug fix] Quasar matmul: read the in0 receiver semaphore through value()
  ttnn/cpp/ttnn/operations/experimental/quasar/matmul/device/kernels/dataflow/reader_bmm_tile_layout_in0_receiver_metal2.cpp
Due: block-ttnn-pybind-changes

[Tests] SFPU accuracy: compute the sinh/cosh goldens through torch, so the sweep can measure them
  tt_metal/tt-llk/tests/python_tests/helpers/golden_generators.py
Due: none

SFPI build 986
  tt_metal/sfpi-version
Due: none

don't chance Torch thread count in test
  models/tt_dit/encoders/transformer.py
  models/tt_dit/pipelines/fibo/vlm.py
  models/tt_dit/tests/encoders/mistral3/test_mistral3.py
  models/tt_dit/tests/encoders/qwen3vl/test_perf_fibo_vlm.py
  models/tt_dit/tests/encoders/qwen3vl/test_qwen3vl_v2_vision_injection.py
  models/tt_dit/tests/encoders/test_transformer.py
Due: none

to pass clangd gate
  ttnn/cpp/ttnn/operations/experimental/padded_slice/device/padded_slice_device_operation.hpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

#53613: update comments
  tests/ttnn/unit_tests/operations/eltwise/test_binary_category5_bfloat16.py
  tests/ttnn/unit_tests/operations/eltwise/test_binary_composite.py
Due: none

matmul: add newly banked registry entries
  ttnn/cpp/ttnn/operations/matmul/device/config/registry/checked_in/matmul_registry_data.cpp
Due: block-ttnn-pybind-changes

square: advance dest from the paired SFPSTORE
  tt_metal/hw/ckernels/blackhole/metal/llk_api/llk_sfpu/ckernel_sfpu_square.h
  tt_metal/hw/ckernels/wormhole_b0/metal/llk_api/llk_sfpu/ckernel_sfpu_square.h
Due: none

tests: H3 exp ring chooser check accepts generic exp ring chunks
  models/tt_dit/tests/unit/test_minimax_h3_sdpa_recipe.py
Due: none

device recovery: recognise a wedge by WHERE it happened, not by its wording
  models/experimental/perf_automation/agent/device_recovery.py
  models/experimental/perf_automation/tests/test_a_wedge_is_recognised_by_where_not_by_wording.py
Due: none

Enable ND-sharded memory_config when porting weights from host to device
  models/demos/deepseek_v3_d_p/tt/moe/tt_moe.py
  models/demos/deepseek_v3_d_p/tt/moe/tt_routed_expert.py
  tests/ttnn/nightly/unit_tests/operations/experimental/deepseek_prefill/test_routed_expert_crossover_perf.py
  tests/ttnn/nightly/unit_tests/operations/experimental/deepseek_prefill/test_routed_expert_hybrid.py
  tests/ttnn/nightly/unit_tests/operations/experimental/deepseek_prefill/test_single_routed_expert.py
Due: none

[ring_joint_sdpa] Multi-hop sliding-window halo for chunked prefill (to support smaller chunk sizes) (#57453)
  models/demos/gemma4_d_p/demo/text_demo_prefill.py
  models/demos/gemma4_d_p/tests/unit/test_standalone.py
  models/demos/gemma4_d_p/tt/attention/ring_prefill.py
  models/demos/gemma4_d_p/tt/common.py
  models/demos/gemma4_d_p/tt/model.py
  tests/nightly/blackhole/sdpa/test_ring_joint_sdpa.py
  tests/ttnn/unit_tests/gtests/sdpa/test_sliding_window_work_plan.cpp
  ttnn/cpp/ttnn/operations/experimental/ccl/ring_attention_all_gather_async/device/kernels/ring_attention_all_gather_metadata.hpp
  ttnn/cpp/ttnn/operations/experimental/ccl/ring_attention_all_gather_async/device/kernels/ring_attention_neighbor_halo_reader.cpp
  ttnn/cpp/ttnn/operations/experimental/ccl/ring_attention_all_gather_async/device/kernels/ring_attention_neighbor_halo_writer.cpp
  ttnn/cpp/ttnn/operations/experimental/ccl/ring_attention_all_gather_async/device/ring_attention_all_gather_async_multi_core_with_workers_program_factory.cpp
  ttnn/cpp/ttnn/operations/experimental/ccl/ring_attention_all_gather_async/device/ring_attention_all_gather_async_multi_core_with_workers_program_factory.hpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/kernels/dataflow/ring_joint_reader.cpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/kernels/sliding_window_work_plan.hpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/ring_joint_sdpa_device_operation.cpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/ring_joint_sdpa_program_factory.cpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/sliding_halo_layout.cpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/sliding_halo_layout.hpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op
