Repository tenstorrent/tt-metal: changes, and which pre-commit hooks are due for each by the changed paths.
All: block-ttnn-pybind-changes, detect-legacy-device-op, validate-golden-csv-columns

block-ttnn-pybind-changes:
  name: Prevent edits to frozen pybind11 sources under ttnn
  entry: python3 scripts/block_ttnn_pybind_changes.py
  language: system
  pass_filenames: true

detect-legacy-device-op:
  name: Detect legacy device operation classes in newly added files
  entry: python3 scripts/detect_legacy_device_op.py --check-new-only
  language: system
  pass_filenames: true
  require_serial: true

validate-golden-csv-columns:
  name: Validate golden bandwidth CSV column headers
  entry: bash .github/scripts/utils/validate_golden_csv_columns.sh
  language: system
  pass_filenames: false

pi0.5: LIBERO sweep — wire WINNER perf flags into orchestrator
  _bench_runs/libero_400ep_sweep.sh
Due: none

Update README: reflect fixed regressions and remaining work.
  models/experimental/seamless_m4t_v2_large/README.md
Due: none

Fix Sentinel.
  tests/tt_metal/tt_metal/test_kernels/compute/compute_kernel_sentinel.cpp
Due: none

Self review.
  models/demos/deepseek_v3_b1/unified_kernels/sampling.hpp
  ttnn/cpp/ttnn/kernel/compute/moreh_common.hpp
  ttnn/cpp/ttnn/operations/data_movement/bcast/device/kernels/compute/bcast_h_sharded_optimised.cpp
  ttnn/cpp/ttnn/operations/experimental/ccl/deepseek_moe_reduce_scatter/device/kernels/deepseek_moe_reduce_scatter_reduction.cpp
  ttnn/cpp/ttnn/operations/experimental/ccl/reduce_scatter_minimal_async/device/kernels/dim_zero_line_reduction.cpp
  ttnn/cpp/ttnn/operations/experimental/ccl/reduce_scatter_minimal_async/device/kernels/dim_zero_ring_reduction.cpp
  ttnn/cpp/ttnn/operations/experimental/ccl/reduce_scatter_minimal_async/device/kernels/line_reduction.cpp
  ttnn/cpp/ttnn/operations/experimental/ccl/strided_reduce_scatter_async/device/kernels/minimal_ring_reduction.cpp
  ttnn/cpp/ttnn/operations/experimental/transformer/rotary_embedding/device/kernels/compute/rotary_embedding.cpp
  ttnn/cpp/ttnn/operations/experimental/transformer/rotary_embedding/device/kernels/compute/rotary_embedding_single_tile.cpp
  ttnn/cpp/ttnn/operations/experimental/transformer/rotary_embedding_llama/device/kernels/compute/rotary_embedding_llama.cpp
  ttnn/cpp/ttnn/operations/experimental/transformer/rotary_embedding_llama/device/kernels/compute/rotary_embedding_llama_sharded.cpp
  ttnn/cpp/ttnn/operations/experimental/transformer/rotary_embedding_llama_fused_qk/device/kernels/compute/rotary_embedding_llama_sharded.cpp
  ttnn/cpp/ttnn/operations/experimental/transformer/rotary_embedding_llama_fused_qk/device/kernels/compute/rotary_embedding_llama_sharded_row_major.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_dot/device/kernels/moreh_dot.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_dot_backward/device/kernels/moreh_dot_backward.cpp
  ttnn/cpp/ttnn/operations/normalization/layernorm/device/kernels/compute/layernorm.cpp
  ttnn/cpp/ttnn/operations/normalization/layernorm_distributed/device/kernels/compute/layernorm_post_allgather.cpp
  ttnn/cpp/ttnn/operations/normalization/layernorm_distributed/device/kernels/compute/layernorm_pre_allgather.cpp
  ttnn/cpp/ttnn/operations/normalization/layernorm_distributed/device/kernels/compute/layernorm_pre_allgather_2d.cpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

pytest.ini: register timeout marker to suppress unknown-mark warnings in ttsim
  pytest.ini
Due: none

Revert changes for some files.
  models/demos/deepseek_v3_b1/unified_kernels/sampling.hpp
  tests/tt_metal/tt_metal/perf_microbenchmark/1_compute_mm/kernels/bmm_large_block_zm_fused_bias_activation.cpp
  tests/tt_metal/tt_metal/perf_microbenchmark/old/matmul/kernels/bmm_large_block_zm_fused_bias_activation.cpp
  tests/tt_metal/tt_metal/perf_microbenchmark/old/matmul/kernels/compute_local_l1.cpp
  tests/tt_metal/tt_metal/test_kernels/compute/unary_bcast.cpp
  tests/tt_metal/tt_metal/test_kernels/misc/sdpa/reduce_block_max_row/compute.cpp
  ttnn/cpp/ttnn/kernel/compute/eltwise_copy.cpp
  ttnn/cpp/ttnn/kernel/compute/moreh_common.hpp
  ttnn/cpp/ttnn/kernel/compute/transpose_wh.cpp
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/moe_grouped_topk/device/kernels/compute/moe_grouped_topk.cpp
  ttnn/cpp/ttnn/operations/experimental/minimal_matmul/device/kernels/compute.cpp
  ttnn/cpp/ttnn/operations/experimental/transformer/rotary_embedding_llama/device/kernels/compute/rotary_embedding_llama.cpp
  ttnn/cpp/ttnn/operations/experimental/transformer/rotary_embedding_llama/device/kernels/compute/rotary_embedding_llama_sharded.cpp
  ttnn/cpp/ttnn/operations/experimental/transformer/rotary_embedding_llama_fused_qk/device/kernels/compute/rotary_embedding_llama_sharded.cpp
  ttnn/cpp/ttnn/operations/experimental/transformer/rotary_embedding_llama_fused_qk/device/kernels/compute/rotary_embedding_llama_sharded_row_major.cpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

emule: drop tilize-kernel TRISC-skip; let the compute path run
  tt_metal/impl/emulation/emulated_program_runner.cpp
Due: none

Cleanup: Replace deprecated destination register helpers (#46112)
  ttnn/cpp/ttnn/operations/data_movement/bcast/device/kernels/compute/bcast_h.cpp
  ttnn/cpp/ttnn/operations/data_movement/bcast/device/kernels/compute/bcast_h_sharded_optimised.cpp
  ttnn/cpp/ttnn/operations/data_movement/bcast/device/kernels/compute/bcast_hw.cpp
  ttnn/cpp/ttnn/operations/data_movement/bcast/device/kernels/compute/bcast_w.cpp
  ttnn/cpp/ttnn/operations/data_movement/sharded/device/kernels/compute/eltwise_copy.cpp
  ttnn/cpp/ttnn/operations/data_movement/sort/device/kernels/compute/sort_single_row_multi_core.cpp
  ttnn/cpp/ttnn/operations/experimental/ccl/all_gather_minimal_matmul_async/device/kernels/compute.cpp
  ttnn/cpp/ttnn/operations/experimental/ccl/deepseek_moe_reduce_scatter/device/kernels/deepseek_moe_reduce_scatter_reduction.cpp
  ttnn/cpp/ttnn/operations/experimental/ccl/reduce_scatter_minimal_async/device/kernels/dim_zero_line_reduction.cpp
  ttnn/cpp/ttnn/operations/experimental/ccl/reduce_scatter_minimal_async/device/kernels/dim_zero_ring_reduction.cpp
  ttnn/cpp/ttnn/operations/experimental/ccl/reduce_scatter_minimal_async/device/kernels/line_reduction.cpp
  ttnn/cpp/ttnn/operations/experimental/ccl/strided_reduce_scatter_async/device/kernels/minimal_ring_reduction.cpp
  ttnn/cpp/ttnn/operations/experimental/reduction/deepseek_grouped_gate/device/kernels/compute/deepseek_grouped_gate.cpp
  ttnn/cpp/ttnn/operations/experimental/transformer/rotary_embedding/device/kernels/compute/rotary_embedding.cpp
  ttnn/cpp/ttnn/operations/experimental/transformer/rotary_embedding/device/kernels/compute/rotary_embedding_single_tile.cpp
  ttnn/cpp/ttnn/operations/experimental/transformer/split_query_key_value_and_split_heads/device/kernels/compute/transpose_wh_sharded.cpp
  ttnn/cpp/ttnn/operations/matmul/device/kernels/compute/bmm.cpp
  ttnn/cpp/ttnn/operations/matmul/device/kernels/compute/bmm_large_block_zm.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_dot/device/kernels/moreh_dot.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_dot_backward/device/kernels/moreh_dot_backward.cpp
  ttnn/cpp/ttnn/operations/normalization/layernorm/device/kernels/compute/layernorm.cpp
  ttnn/cpp/ttnn/operations/normalization/layernorm_distributed/device/kernels/compute/layernorm_post_allgather.cpp
  ttnn/cpp/ttnn/operations/normalization/layernorm_distributed/device/kernels/compute/layernorm_pre_allgather.cpp
  ttnn/cpp/ttnn/operations/normalization/layernorm_distributed/device/kernels/compute/layernorm_pre_allgather_2d.cpp
  ttnn/cpp/ttnn/operations/reduction/generic/device/kernels/compute/reduce_hw_neg.cpp
  ttnn/cpp/ttnn/operations/reduction/moe/device/kernels/compute/moe.cpp
  ttnn/cpp/ttnn/operations/reduction/sampling/device/kernels/compute/sampling.cpp
  ttnn/cpp/ttnn/operations/reduction/topk/device/kernels/compute/topk.cpp
  ttnn/cpp/ttnn/operations/reduction/topk/device/kernels/compute/topk_common_funcs.hpp
  ttnn/cpp/ttnn/operations/reduction/topk/device/kernels/compute/topk_final.cpp
  ttnn/cpp/ttnn/operations/reduction/topk/device/kernels/compute/topk_local.cpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

fabric: eliminate redundant TopologyDiscovery call in run_local_discovery_live
  tt_metal/fabric/physical_system_discovery.cpp
Due: none

fix(llk): fix pack_reads_per_xy_plane default and reduce ownership (#43096)
  models/demos/deepseek_v3_b1/unified_kernels/rmsnorm.hpp
  models/demos/deepseek_v3_b1/unified_kernels/sampling.hpp
  tests/tt_metal/tt_metal/test_kernels/compute/compute_kernel_sentinel.cpp
  tests/tt_metal/tt_metal/test_kernels/compute/mul_reduce_scalar.cpp
  tests/tt_metal/tt_metal/test_kernels/misc/sdpa/reduce_block_max_row/compute.cpp
  tt_metal/hw/ckernels/blackhole/metal/llk_api/llk_pack_common_api.h
  tt_metal/hw/ckernels/blackhole/metal/llk_api/llk_pack_reduce_api.h
  tt_metal/hw/ckernels/blackhole/metal/llk_api/llk_pack_rows_api.h
  tt_metal/hw/ckernels/blackhole/metal/llk_api/llk_pack_tile_api.h
  tt_metal/hw/ckernels/blackhole/metal/llk_api/llk_pack_untilize_api.h
  tt_metal/hw/ckernels/quasar/metal/llk_api/llk_pack_reduce_api.h
  tt_metal/hw/ckernels/wormhole_b0/metal/llk_api/llk_pack_fast_tilize_api.h
  tt_metal/hw/ckernels/wormhole_b0/metal/llk_api/llk_pack_reduce_api.h
  tt_metal/hw/ckernels/wormhole_b0/metal/llk_api/llk_pack_rows_api.h
  tt_metal/hw/ckernels/wormhole_b0/metal/llk_api/llk_pack_tile_api.h
  tt_metal/hw/ckernels/wormhole_b0/metal/llk_api/llk_pack_untilize_api.h
  tt_metal/hw/inc/api/compute/experimental/mul_reduce_scalar.h
  tt_metal/hw/inc/api/compute/reduce.h
  tt_metal/hw/inc/api/compute/reduce_custom.h
  tt_metal/tt-llk/tests/helpers/include/llk_lib_pack_wrappers.h
  tt_metal/tt-llk/tests/sources/reduce_test.cpp
  tt_metal/tt-llk/tt_llk_blackhole/common/inc/cpack_common.h
  tt_metal/tt-llk/tt_llk_blackhole/llk_lib/experimental/llk_pack_fast_tilize.h
  tt_metal/tt-llk/tt_llk_blackhole/llk_lib/llk_pack.h
  tt_metal/tt-llk/tt_llk_blackhole/llk_lib/llk_pack_common.h
  tt_metal/tt-llk/tt_llk_wormhole_b0/common/inc/cpack_common.h
  tt_metal/tt-llk/tt_llk_wormhole_b0/llk_lib/llk_pack_common.h
  ttnn/cpp/ttnn/operations/normalization/layernorm/device/kernels/compute/layernorm_sharded_pre_allgather.cpp
  ttnn/cpp/ttnn/operations/reduction/generic/device/kernels/compute/reduce_h_neg.cpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/kernels/compute/compute_common.hpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/kernels/compute/compute_streaming.hpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

tests: size bh 2d mesh from distributed system mesh
  conftest.py
Due: none

Fix: hash_kernel_descriptor missing named_compile_time_args, opt_level, compiler_include_paths
  tt_metal/impl/program/program_descriptors.cpp
Due: none

Bump ttsim version to v1.7.3 (#46251)
  .github/workflows/ttsim.yaml
Due: none

matmul: remove dead TileRowMajor + interleaved-output writer path
  ttnn/cpp/ttnn/operations/matmul/device/kernels/dataflow/reader_bmm_tile_layout_in1_receiver_writer_padding.cpp
  ttnn/cpp/ttnn/operations/matmul/device/kernels/dataflow/reader_bmm_tile_layout_in1_sender_writer_padding.cpp
Due: block-ttnn-pybind-changes

matmul helpers: tests addition
  tests/ttnn/nightly/unit_tests/operations/matmul/test_matmul_tile_pack_row_major.py
  tests/ttnn/unit_tests/gtests/CMakeLists.txt
  tests/ttnn/unit_tests/operations/matmul/test_matmul_auto_tune.py
Due: none

matmul helpers: helper implementation
  ttnn/cpp/ttnn/kernel_lib/bias_add_helpers.hpp
  ttnn/cpp/ttnn/kernel_lib/bias_add_helpers.inl
  ttnn/cpp/ttnn/kernel_lib/buffer_compat.hpp
  ttnn/cpp/ttnn/kernel_lib/matmul_block_helpers.hpp
  ttnn/cpp/ttnn/kernel_lib/matmul_block_helpers.inl
  ttnn/cpp/ttnn/kernel_lib/reblock_untilize_helpers.hpp
  ttnn/cpp/ttnn/kernel_lib/reblock_untilize_helpers.inl
  ttnn/cpp/ttnn/kernel_lib/sfpu_activation_helpers.hpp
  ttnn/cpp/ttnn/operations/matmul/device/config/matmul_auto_tuner.cpp
  ttnn/cpp/ttnn/operations/matmul/device/config/matmul_auto_tuner.hpp
  ttnn/cpp/ttnn/operations/matmul/device/config/matmul_program_config.cpp
  ttnn/cpp/ttnn/operations/matmul/device/config/matmul_program_config_types.hpp
  ttnn/cpp/ttnn/operations/matmul/matmul_nanobind.cpp
  ttnn/cpp/ttnn/operations/matmul/sources.cmake
  ttnn/ttnn/__init__.py
  ttnn/ttnn/operations/matmul_auto_tune.py
Due: block-ttnn-pybind-changes, detect-legacy-device-op

matmul helpers: internalize reblock_and_untilize in0_subblock loop; drop init/uninit wrappers
  ttnn/cpp/ttnn/kernel_lib/reblock_untilize_helpers.hpp
  ttnn/cpp/ttnn/kernel_lib/reblock_untilize_helpers.inl
  ttnn/cpp/ttnn/operations/conv/conv2d/device/kernels/conv_bmm_tilize.cpp
  ttnn/cpp/ttnn/operations/matmul/device/kernels/compute/bmm_large_block_zm_fused_bias_activation.cpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

matmul helper: scrub stale CB-internal name references from comments
  ttnn/cpp/ttnn/kernel_lib/bias_add_helpers.hpp
  ttnn/cpp/ttnn/kernel_lib/matmul_block_helpers.hpp
  ttnn/cpp/ttnn/kernel_lib/matmul_block_helpers.inl
  ttnn/cpp/ttnn/operations/conv/conv2d/device/kernels/conv_bmm_tilize.cpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

matmul helpers: name disambiguation — rename in0_block_w to in0_block_k
  ttnn/cpp/ttnn/kernel_lib/matmul_block_helpers.hpp
  ttnn/cpp/ttnn/kernel_lib/matmul_block_helpers.inl
  ttnn/cpp/ttnn/operations/matmul/device/kernels/compute/bmm_large_block_zm_fused_bias_activation_gathered.cpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

matmul helpers: align reblock/matmul init paradigm; document binary_op + untilize relationships
  ttnn/cpp/ttnn/kernel_lib/bias_add_helpers.hpp
  ttnn/cpp/ttnn/kernel_lib/matmul_block_helpers.hpp
  ttnn/cpp/ttnn/kernel_lib/matmul_block_helpers.inl
  ttnn/cpp/ttnn/kernel_lib/reblock_untilize_helpers.hpp
  ttnn/cpp/ttnn/kernel_lib/reblock_untilize_helpers.inl
  ttnn/cpp/ttnn/operations/conv/conv2d/device/kernels/conv_bmm_tilize.cpp
  ttnn/cpp/ttnn/operations/matmul/device/kernels/compute/bmm_large_block_zm_fused_bias_activation.cpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

matmul helpers: address PR review feedback
  ttnn/cpp/ttnn/kernel_lib/matmul_block_helpers.hpp
  ttnn/cpp/ttnn/kernel_lib/reblock_untilize_helpers.hpp
  ttnn/cpp/ttnn/kernel_lib/reblock_untilize_helpers.inl
  ttnn/cpp/ttnn/operations/experimental/conv3d/device/kernels/compute.cpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

matmul helpers: migration / kernel implementation
  ttnn/cpp/ttnn/operations/conv/conv2d/conv2d_utils.cpp
  ttnn/cpp/ttnn/operations/conv/conv2d/device/kernels/conv_bmm_tilize.cpp
  ttnn/cpp/ttnn/operations/experimental/ccl/all_gather_minimal_matmul_async/device/kernels/compute.cpp
  ttnn/cpp/ttnn/operations/experimental/ccl/llama_all_gather_matmul_async/device/kernels/compute/bmm_large_block_zm_fused_bias_activation_gathered.cpp
  ttnn/cpp/ttnn/operations/experimental/conv3d/device/kernels/compute.cpp
  ttnn/cpp/ttnn/operations/matmul/device/factory/matmul_multicore_reuse_mcast_1d_program_factory.cpp
  ttnn/cpp/ttnn/operations/matmul/device/factory/matmul_multicore_reuse_mcast_2d_program_factory.cpp
  ttnn/cpp/ttnn/operations/matmul/device/kernels/compute/bmm_large_block_zm.cpp
  ttnn/cpp/ttnn/operations/matmul/device/kernels/compute/bmm_large_block_zm_fused_bias_activation.cpp
  ttnn/cpp/ttnn/operations/matmul/device/kernels/compute/bmm_large_block_zm_fused_bias_activation_gathered.cpp
  ttnn/cpp/ttnn/operations/matmul/device/kernels/dataflow/reader_bmm_tile_layout_in1_receiver_writer_padding.cpp
  ttnn/cpp/ttnn/operations/matmul/device/kernels/dataflow/reader_bmm_tile_layout_in1_sender_writer_padding.cpp
  ttnn/cpp/ttnn/operations/matmul/device/kernels/dataflow/reader_writer_bmm_tile_layout_in1.cpp
  ttnn/cpp/ttnn/operations/matmul/device/kernels/dataflow/writer_bmm_tile_layout.cpp
  ttnn/cpp/ttnn/operations/matmul/device/matmul_device_operation.cpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/kernels/compute/compute_common.hpp
  ttnn/cpp/ttnn/operations/transformer/sdpa_decode/device/kernels/compute/sdpa_flash_decode.cpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

ttnn: expose fp8_e4m3 alias through the package __init__
  ttnn/ttnn/__init__.py
Due: block-ttnn-pybind-changes

matmul_block helper: drop direct CB pointer access in pin_interm_to_captured_base path
  tt_metal/hw/inc/api/compute/tile_move_copy.h
  ttnn/cpp/ttnn/kernel_lib/matmul_block_helpers.hpp
  ttnn/cpp/ttnn/kernel_lib/matmul_block_helpers.inl
Due: block-ttnn-pybind-changes, detect-legacy-device-op

matmul helpers: flag binary_op SubblockMajor delegation as a follow-up (bias_add comment)
  ttnn/cpp/ttnn/kernel_lib/bias_add_helpers.hpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

Allow remote-only mesh metadata queries
  tt_metal/distributed/mesh_device.cpp
Due: none

Fix opt_level hash collision with std::nullopt
  tt_metal/impl/program/program_descriptors.cpp
Due: none

Use local mesh handle for remote-only metadata
  tt_metal/distributed/mesh_device.cpp
Due: none

Improve code quality: auto-pr/docstrings-1780771833
  ttnn/cpp/ttnn/operations/examples/example/device/kernels/dataflow/blank.cpp
Due: block-ttnn-pybind-changes

Path conditions:
  block-ttnn-pybind-changes: any of: ^ttnn/
  detect-legacy-device-op: any of: ^ttnn/.*\.hpp$
  validate-golden-csv-columns: any of: ^tests/tt_metal/tt_metal/perf_microbenchmark/routing/golden/.*bandwidth.*\.csv$
