Repository tenstorrent/tt-metal: changes, and which pre-commit hooks are due for each by the changed paths.
All: block-ttnn-pybind-changes, detect-legacy-device-op, validate-golden-csv-columns

block-ttnn-pybind-changes:
  name: Prevent edits to frozen pybind11 sources under ttnn
  entry: python3 scripts/block_ttnn_pybind_changes.py
  language: system
  pass_filenames: true

detect-legacy-device-op:
  name: Detect legacy device operation classes in newly added files
  entry: python3 scripts/detect_legacy_device_op.py --check-new-only
  language: system
  pass_filenames: true
  require_serial: true

validate-golden-csv-columns:
  name: Validate golden bandwidth CSV column headers
  entry: bash .github/scripts/utils/validate_golden_csv_columns.sh
  language: system
  pass_filenames: false

#52838: Migrate Z-Image-Turbo to the tiered Models CI pipelines
  .github/time_budget.yaml
  .github/workflows/blackhole-demo-tests.yaml
  .github/workflows/models-t1-e2e-tests.yaml
  .github/workflows/models-t1-unit-tests.yaml
  models/model_ci_tiers.md
  tests/pipeline_reorg/blackhole_demo_tests.yaml
  tests/pipeline_reorg/models_e2e_tests.yaml
  tests/pipeline_reorg/models_unit_tests.yaml
Due: none

Feature: Adding CrossNodeDFB support for WH/BH (#52776)
  tests/tt_metal/tt_metal/api/cross_node_dfb_test_utils.hpp
  tests/tt_metal/tt_metal/api/sources.cmake
  tests/tt_metal/tt_metal/api/test_cross_node_dfb.cpp
  tests/tt_metal/tt_metal/test_kernels/dataflow/cross_node_dfb_receiver.cpp
  tests/tt_metal/tt_metal/test_kernels/dataflow/cross_node_dfb_relay_receiver.cpp
  tests/tt_metal/tt_metal/test_kernels/dataflow/cross_node_dfb_relay_sender.cpp
  tests/tt_metal/tt_metal/test_kernels/dataflow/cross_node_dfb_relay_trisc.cpp
  tests/tt_metal/tt_metal/test_kernels/dataflow/cross_node_dfb_sender.cpp
  tt_metal/distributed/fd_mesh_command_queue.cpp
  tt_metal/distributed/fd_mesh_command_queue.hpp
  tt_metal/hw/inc/api/dataflow/cross_node_dfb.h
  tt_metal/hw/inc/hostdev/cross_node_dfb_constants.h
  tt_metal/hw/inc/hostdev/dev_msgs.h
  tt_metal/hw/inc/internal/cross_node_dfb_init.h
  tt_metal/hw/inc/internal/cross_node_dfb_interface.h
  tt_metal/hw/sources.cmake
  tt_metal/impl/buffers/cross_node_dfb.cpp
  tt_metal/impl/dataflow_buffer/cross_node_dfb.hpp
  tt_metal/impl/dispatch/simple_trace_allocator.cpp
  tt_metal/impl/host_api/tt_metal.cpp
  tt_metal/impl/program/dispatch.cpp
  tt_metal/impl/program/dispatch.hpp
  tt_metal/impl/program/program.cpp
  tt_metal/impl/program/program_command_sequence.hpp
  tt_metal/impl/program/program_impl.hpp
  tt_metal/impl/sources.cmake
  tt_metal/impl/trace/trace_node.hpp
Due: none

perf_automation: one depth vocabulary, derived from the stages the model declares
  models/experimental/perf_automation/agent/before_loop.py
  models/experimental/perf_automation/agent/perf_test_gen.py
  models/experimental/perf_automation/cc_optimize/run.py
  models/experimental/perf_automation/tests/test_one_depth_vocabulary.py
Due: none

Fix Qwen3-32B Wormhole DRAM shard width
  models/common/models/qwen3_32b/model.py
  models/common/tests/models/qwen3_32b/test_module_profiles.py
Due: none

[Performance] Compile mux-v2 kernels at O3 and refresh WH/BH goldens (#53023)
  tests/tt_metal/microbenchmarks/ethernet/fabric_mux_v2_throughput_golden_blackhole.csv
  tests/tt_metal/microbenchmarks/ethernet/fabric_mux_v2_throughput_golden_wormhole_b0.csv
  tt_metal/fabric/fabric_mux_v2_config.cpp
Due: none

perf(attention): apply RoPE with one fused op instead of a seven-op chain
  models/demos/voxtral_tts_backbone/_captured/e2e_pipeline/call_causal_lm_logits.native_probe.json
  models/demos/voxtral_tts_backbone/_captured/e2e_pipeline/call_text_generation.native_probe.json
  models/demos/voxtral_tts_backbone/_stubs/attention.py
Due: none

Findings: O4d -- the tool goes 4.4% AHEAD, and the delta decomposes
  TOOL_FINDINGS.md
Due: none

docs: add QB2 debug handoff for ring-joint SDPA split forwarding
  tech_reports/Debugging/RingJointSDPA_SplitForwarding_QB2.md
Due: none

[Cleanup] Leave mesh_buffer.hpp public
  tests/tt_metal/distributed/test_mesh_buffer.cpp
  tests/tt_metal/tt_metal/api/tensor/test_mesh_tensor.cpp
  tests/tt_metal/tt_metal/context/test_integration.cpp
  tests/tt_metal/tt_metal/device/test_mock_allocator.cpp
  tests/tt_metal/tt_metal/dispatch/dispatch_buffer/test_large_mesh_buffer.cpp
  tests/tt_metal/tt_metal/dispatch/dispatch_buffer/test_sub_device.cpp
  tests/tt_metal/tt_metal/integration/matmul/test_matmul_X_tile.cpp
  tests/ttnn/unit_tests/gtests/tensor/test_unit_mesh_utils.cpp
  tt_metal/api/tt-metalium/mesh_buffer.hpp
  tt_metal/distributed/mesh_buffer.cpp
  tt_metal/distributed/mesh_buffer_impl.hpp
  tt_metal/distributed/mesh_command_queue_base.cpp
  tt_metal/distributed/mesh_trace.cpp
  tt_metal/impl/per_core_allocation/mesh_buffer.cpp
  tt_metal/impl/tensor/mesh_tensor_impl.hpp
Due: none

[ttnn-verifier] rms_norm Phase 0 verification: fixes, precision baseline, refinement queue
  tests/ttnn/unit_tests/operations/rms_norm/test_rms_norm_precision_baseline.py
  ttnn/ttnn/operations/rms_norm/changelog.md
  ttnn/ttnn/operations/rms_norm/kernels/rms_norm_reader.cpp
  ttnn/ttnn/operations/rms_norm/kernels/rms_norm_writer.cpp
  ttnn/ttnn/operations/rms_norm/l1_ledger.md
  ttnn/ttnn/operations/rms_norm/op_requirements.md
  ttnn/ttnn/operations/rms_norm/rms_norm_program_descriptor.py
  ttnn/ttnn/operations/rms_norm/verification_report.md
Due: block-ttnn-pybind-changes

[ttnn-verifier] friction breadcrumbs
  ttnn/ttnn/operations/rms_norm/agent_logs/incremental-verifier_breadcrumbs.jsonl
Due: block-ttnn-pybind-changes

Findings: F11 -- run 1 ended on a round cap the docs get wrong, and O4e
  TOOL_FINDINGS.md
Due: none

[Cleanup] Keep Buffer::size and Buffer::is_allocated public
  tests/tt_metal/distributed/test_mesh_allocator.cpp
  tests/tt_metal/tt_metal/api/allocator/test_per_core_allocation.cpp
  tests/ttnn/unit_tests/gtests/tensor/test_mesh_tensor.cpp
  tt_metal/api/tt-metalium/buffer.hpp
  tt_metal/impl/buffers/buffer.cpp
  tt_metal/impl/emulation/host_sanitizers.cpp
Due: none

ttnn: SDPA concat-heads output fusion (fuse_concat_heads)
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/kernels/dataflow/dataflow_common.hpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/kernels/dataflow/writer_interleaved.cpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/sdpa_device_operation.cpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/sdpa_device_operation.hpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/sdpa_device_operation_types.hpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/sdpa_program_factory.cpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/sdpa.cpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/sdpa.hpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/sdpa_nanobind.cpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

ttnn: size SDPA reader read-ahead by active cores, not the whole grid
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/kernels/dataflow/reader_interleaved.cpp
Due: block-ttnn-pybind-changes

models/qwen36: wire the SDPA fusion and tune gated attention by dtype
  models/demos/blackhole/qwen36/tt/attention/rope_tp.py
  models/demos/blackhole/qwen36/tt/attention/tp.py
Due: none

models/qwen36: close GDN decode L1 holes; collapse a duplicated scalar multiply
  models/demos/blackhole/qwen36/tt/gdn/tp.py
  models/experimental/gated_attention_gated_deltanet/tt/ttnn_delta_rule_ops.py
Due: none

tests: op-level harness for the Qwen3.6 gated-attention path
  tests/ttnn/unit_tests/operations/sdpa/gated_attention_precision_model.py
  tests/ttnn/unit_tests/operations/sdpa/test_gated_attention_perf.py
  tests/ttnn/unit_tests/operations/sdpa/test_gated_attention_prefill.py
Due: none

[ttnn-implementer] WIP Refinement 1: fp32_dest_acc_en=False + bfloat8_b in SUPPORTED
  .device_timing.jsonl
  tests/ttnn/unit_tests/operations/rms_norm/probes/probe_020.py
  tests/ttnn/unit_tests/operations/rms_norm/probes/probe_021.py
  ttnn/ttnn/operations/rms_norm/agent_logs/ttnn-implementer_breadcrumbs.jsonl
  ttnn/ttnn/operations/rms_norm/rms_norm.py
  ttnn/ttnn/operations/rms_norm/rms_norm_program_descriptor.py
Due: block-ttnn-pybind-changes

Record optimized Mistral vLLM serving evidence
  AUTODEBUG.md
  models/autoports/mistralai_mistral_small_24b_instruct_2501/doc/optimized_vllm/README.md
  models/autoports/mistralai_mistral_small_24b_instruct_2501/doc/optimized_vllm/candidates/shard0_read/non_aligned_prompt_check.json
  models/autoports/mistralai_mistral_small_24b_instruct_2501/doc/optimized_vllm/candidates/shard0_read/vllm_benchmark.json
  models/autoports/mistralai_mistral_small_24b_instruct_2501/doc/optimized_vllm/candidates/shard0_read/vllm_ci_serving_benchmark.json
  models/autoports/mistralai_mistral_small_24b_instruct_2501/doc/optimized_vllm/candidates/shard0_read/vllm_ci_serving_result.json
  models/autoports/mistralai_mistral_small_24b_instruct_2501/doc/optimized_vllm/candidates/shard0_read/vllm_qualitative_outputs.json
  models/autoports/mistralai_mistral_small_24b_instruct_2501/doc/optimized_vllm/candidates/shard0_read/vllm_qualitative_prompt_format.json
  models/autoports/mistralai_mistral_small_24b_instruct_2501/doc/optimized_vllm/candidates/shard0_read/vllm_result.json
  models/autoports/mistralai_mistral_small_24b_instruct_2501/doc/optimized_vllm/final/adapter_unit_tests.log
  models/autoports/mistralai_mistral_small_24b_instruct_2501/doc/optimized_vllm/final/cleanup.log
  models/autoports/mistralai_mistral_small_24b_instruct_2501/doc/optimized_vllm/final/degenerate_output_report.json
  models/autoports/mistralai_mistral_small_24b_instruct_2501/doc/optimized_vllm/final/non_aligned_prompt_check.json
  models/autoports/mistralai_mistral_small_24b_instruct_2501/doc/optimized_vllm/final/production_device_sampling_evidence.json
  models/autoports/mistralai_mistral_small_24b_instruct_2501/doc/optimized_vllm/final/sampling_tests.log
  models/autoports/mistralai_mistral_small_24b_instruct_2501/doc/optimized_vllm/final/server_production_device_sampling.log
  models/autoports/mistralai_mistral_small_24b_instruct_2501/doc/optimized_vllm/final/server_production_sampling_startup_failure.log
  models/autoports/mistralai_mistral_small_24b_instruct_2501/doc/optimized_vllm/final/vllm_benchmark.json
  models/autoports/mistralai_mistral_small_24b_instruct_2501/doc/optimized_vllm/final/vllm_ci_serving_benchmark.json
  models/autoports/mistralai_mistral_small_24b_instruct_2501/doc/optimized_vllm/final/vllm_ci_serving_result.json
  models/autoports/mistralai_mistral_small_24b_instruct_2501/doc/optimized_vllm/final/vllm_qualitative_outputs.json
  models/autoports/mistralai_mistral_small_24b_instruct_2501/doc/optimized_vllm/final/vllm_qualitative_prompt_format.json
  models/autoports/mistralai_mistral_small_24b_instruct_2501/doc/optimized_vllm/final/vllm_result.json
  models/autoports/mistralai_mistral_small_24b_instruct_2501/doc/optimized_vllm/perf_summary.json
  models/autoports/mistralai_mistral_small_24b_instruct_2501/doc/optimized_vllm/qualitative_verdict.md
  models/autoports/mistralai_mistral_small_24b_instruct_2501/doc/optimized_vllm/stage_review.md
  models/autoports/mistralai_mistral_small_24b_instruct_2501/doc/optimized_vllm/work_log.md
  models/autoports/mistralai_mistral_small_24b_instruct_2501/readiness_vllm/vllm_benchmark.log
  models/autoports/mistralai_mistral_small_24b_instruct_2501/readiness_vllm/vllm_ci_serving_benchmark.log
Due: none

Log optimized vLLM checkpoint SHAs
  models/autoports/mistralai_mistral_small_24b_instruct_2501/doc/optimized_vllm/work_log.md
Due: none

[Cleanup] Pimpl BufferShardingArgs and hide translate_page_address
  tt_metal/api/tt-metalium/buffer.hpp
  tt_metal/impl/buffers/buffer.cpp
  tt_metal/impl/buffers/buffer_impl.hpp
  tt_metal/impl/buffers/buffer_sharding_args_impl.hpp
  tt_metal/impl/per_core_allocation/buffer.cpp
  ttnn/cpp/ttnn-nanobind/pytensor.cpp
Due: block-ttnn-pybind-changes

Complete optimized vLLM commit record
  models/autoports/mistralai_mistral_small_24b_instruct_2501/doc/optimized_vllm/work_log.md
Due: none

Record optimized vLLM repository branches
  models/autoports/mistralai_mistral_small_24b_instruct_2501/doc/optimized_vllm/work_log.md
Due: none

[Cleanup] Align BufferShardingArgs pimpl with the required shape
  tt_metal/api/tt-metalium/buffer.hpp
  tt_metal/impl/buffers/buffer.cpp
Due: none

Refresh optimized vLLM artifact provenance
  AUTODEBUG.md
  models/autoports/mistralai_mistral_small_24b_instruct_2501/doc/optimized_vllm/stage_review.md
  models/autoports/mistralai_mistral_small_24b_instruct_2501/doc/optimized_vllm/work_log.md
Due: none

tests: card-free regression guards for the gated-attention optimizations
  tests/ttnn/unit_tests/operations/sdpa/test_gated_attention_regression.py
Due: none

Refinement 1: Numerical configurability expansion (unlocks the perf target's config) — fp32_dest_acc_en=False + bfloat8_b, zero kernel changes
  .device_timing.jsonl
  tests/ttnn/unit_tests/operations/rms_norm/test_rms_norm_precision_matrix.py
  ttnn/ttnn/operations/rms_norm/agent_logs/ttnn-implementer_breadcrumbs.jsonl
  ttnn/ttnn/operations/rms_norm/changelog.md
  ttnn/ttnn/operations/rms_norm/l1_ledger.md
  ttnn/ttnn/operations/rms_norm/op_requirements.md
Due: block-ttnn-pybind-changes

Warm Qwen traces before performance replay
  models/common/tests/demos/qwen3_32b/demo.py
  models/common/tests/models/qwen3_32b/test_demo_contract.py
Due: none

[ttnn-implementer] PASS: TILE + HEIGHT/WIDTH/BLOCK sharded consumed natively (zero-copy CBs)
  .device_timing.jsonl
  tests/ttnn/unit_tests/operations/rms_norm/probes/probe_022.py
  ttnn/ttnn/operations/rms_norm/agent_logs/ttnn-implementer_breadcrumbs.jsonl
  ttnn/ttnn/operations/rms_norm/kernels/rms_norm_compute.cpp
  ttnn/ttnn/operations/rms_norm/kernels/rms_norm_reader.cpp
  ttnn/ttnn/operations/rms_norm/kernels/rms_norm_writer.cpp
  ttnn/ttnn/operations/rms_norm/rms_norm.py
  ttnn/ttnn/operations/rms_norm/rms_norm_program_descriptor.py
Due: block-ttnn-pybind-changes

[ttnn-implementer] PASS: ROW_MAJOR + all three sharded placements
  .device_timing.jsonl
  tests/ttnn/unit_tests/operations/rms_norm/probes/probe_023.py
  tests/ttnn/unit_tests/operations/rms_norm/probes/probe_024.py
  tests/ttnn/unit_tests/operations/rms_norm/probes/probe_025.py
  tests/ttnn/unit_tests/operations/rms_norm/probes/probe_026.py
  ttnn/ttnn/operations/rms_norm/agent_logs/ttnn-implementer_breadcrumbs.jsonl
  ttnn/ttnn/operations/rms_norm/kernels/rms_norm_reader.cpp
  ttnn/ttnn/operations/rms_norm/rms_norm_program_descriptor.py
Due: block-ttnn-pybind-changes

[ttnn-implementer] Sharded L1 solve falls through to the smallest config
  .device_timing.jsonl
  tests/ttnn/unit_tests/operations/rms_norm/probes/probe_027.py
  tests/ttnn/unit_tests/operations/rms_norm/probes/probe_028.py
  ttnn/ttnn/operations/rms_norm/agent_logs/ttnn-implementer_breadcrumbs.jsonl
  ttnn/ttnn/operations/rms_norm/rms_norm_program_descriptor.py
Due: block-ttnn-pybind-changes

perf(attention): rotate Q and K in one RoPE call instead of two
  models/demos/voxtral_tts_backbone/_captured/e2e_pipeline/call_causal_lm_logits.native_probe.json
  models/demos/voxtral_tts_backbone/_captured/e2e_pipeline/call_text_generation.native_probe.json
  models/demos/voxtral_tts_backbone/_stubs/attention.py
  models/demos/voxtral_tts_backbone/tt/pipeline.py
Due: none

Findings: O4f -- the S6.23 win, by a route that avoids what S6.23 rejected
  TOOL_FINDINGS.md
Due: none

[ttnn-implementer] FIX: in-place pack must index from the CB base on a resident shard
  .device_timing.jsonl
  tests/ttnn/unit_tests/operations/rms_norm/probes/probe_029.py
  tests/ttnn/unit_tests/operations/rms_norm/probes/probe_030.py
  tests/ttnn/unit_tests/operations/rms_norm/probes/probe_031.py
  tests/ttnn/unit_tests/operations/rms_norm/probes/probe_032.py
  tests/ttnn/unit_tests/operations/rms_norm/test_rms_norm_sharded.py
  ttnn/ttnn/operations/rms_norm/agent_logs/ttnn-implementer_breadcrumbs.jsonl
  ttnn/ttnn/operations/rms_norm/kernels/rms_norm_compute.cpp
Due: block-ttnn-pybind-changes

update
  ttnn/cpp/ttnn/operations/data_movement/concat/device/concat_program_factory.cpp
  ttnn/cpp/ttnn/operations/data_movement/concat/device/concat_s2i_program_factory.cpp
  ttnn/cpp/ttnn/operations/data_movement/concat/device/concat_s2s_multi_program_factory.cpp
  ttnn/cpp/ttnn/operations/data_movement/concat/device/kernels/dataflow/reader_concat_interleaved_start_id.cpp
  ttnn/cpp/ttnn/operations/data_movement/concat/device/kernels/dataflow/reader_concat_stick_layout_interleaved_start_id.cpp
  ttnn/cpp/ttnn/operations/data_movement/concat/device/kernels/dataflow/reader_s2s_tensor_concat.cpp
  ttnn/cpp/ttnn/operations/data_movement/concat/device/kernels/dataflow/writer_s2i_width.cpp
  ttnn/cpp/ttnn/operations/data_movement/pad/device/kernels/dataflow/reader_pad_dims_rm_interleaved_v2.cpp
  ttnn/cpp/ttnn/operations/data_movement/pad/device/kernels/dataflow/writer_pad_dims_rm_interleaved_v2.cpp
  ttnn/cpp/ttnn/operations/data_movement/pad/device/pad_rm_reader_writer_multi_core_default_program_factory.cpp
  ttnn/cpp/ttnn/operations/experimental/ccl/all_gather_async/device/all_gather_async_default_program_factory.cpp
  ttnn/cpp/ttnn/operations/experimental/ccl/all_gather_async/device/kernels/minimal_default_reader.cpp
  ttnn/cpp/ttnn/operations/experimental/ccl/all_gather_async/device/kernels/minimal_default_writer.cpp
  ttnn/cpp/ttnn/operations/experimental/ccl/all_gather_minimal_matmul_async/device/all_gather_minimal_matmul_async_program_factory.cpp
  ttnn/cpp/ttnn/operations/experimental/ccl/all_gather_minimal_matmul_async/device/kernels/compute.cpp
  ttnn/cpp/ttnn/operations/experimental/ccl/all_gather_minimal_matmul_async/device/kernels/dm_in0_sender.cpp
  ttnn/cpp/ttnn/operations/experimental/ccl/all_gather_minimal_matmul_async/device/kernels/dm_in1_sender_out.cpp
  ttnn/cpp/ttnn/operations/experimental/minimal_matmul/device/kernels/compute.cpp
  ttnn/cpp/ttnn/operations/experimental/minimal_matmul/device/kernels/dm_in0_sender.cpp
  ttnn/cpp/ttnn/operations/experimental/minimal_matmul/device/kernels/dm_in1_sender_out.cpp
  ttnn/cpp/ttnn/operations/experimental/minimal_matmul/device/minimal_matmul_program_factory.cpp
  ttnn/cpp/ttnn/operations/pool/upsample/device/kernels/dataflow/reader_upsample_unary_stick_layout_interleaved_start_id.cpp
  ttnn/cpp/ttnn/operations/pool/upsample/device/kernels/dataflow/writer_upsample_interleaved.cpp
  ttnn/cpp/ttnn/operations/pool/upsample/device/upsample_program_factory_multicore_interleaved.cpp
Due: block-ttnn-pybind-changes

Path conditions:
  block-ttnn-pybind-changes: any of: ^ttnn/
  detect-legacy-device-op: any of: ^ttnn/.*\.hpp$
  validate-golden-csv-columns: any of: ^tests/tt_metal/tt_metal/perf_microbenchmark/routing/golden/.*bandwidth.*\.csv$
