Repository tenstorrent/tt-metal: changes, and which pre-commit hooks are due for each by the changed paths.
All: block-ttnn-pybind-changes, detect-legacy-device-op, validate-golden-csv-columns

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v3.2.0
  hooks:
    - id: trailing-whitespace
      exclude: \.patch$
    - id: end-of-file-fixer
      exclude: \.patch$
    - id: check-yaml
      args: ["--unsafe"]
    - id: check-added-large-files
# Using this mirror lets us use mypyc-compiled black, which is about 2x faster
- repo: https://github.com/psf/black-pre-commit-mirror
  rev: 23.10.1
  hooks:
    - id: black
      language_version: python3
- repo: https://github.com/PyCQA/autoflake
  rev: v2.3.1
  hooks:
    - id: autoflake
      args: [--remove-all-unused-imports, --in-place, --recursive, --exclude=__init__.py]
      files: ^models/  # Run only on files in the models directory
- repo: https://github.com/pycqa/isort
  rev: 5.13.2
  hooks:
    - id: isort
      files: ^models/
      exclude: ^models/(demos/llama3_70b_galaxy|experimental)/
- repo: https://github.com/BlankSpruce/gersemi
  rev: 0.16.2
  hooks:
    - id: gersemi
- repo: https://github.com/adrienverge/yamllint.git
  rev: v1.35.1
  hooks:
    - id: yamllint
- repo: https://github.com/pre-commit/mirrors-clang-format
  rev: v19.1.4
  hooks:
    - id: clang-format
      entry: git-clang-format
      require_serial: true
      types_or: [c++, c]
      args: ["--style=file"]
- repo: local
  hooks:
    - id: validate-metalium-includes
      name: validate-metalium-includes
      entry: python3 scripts/validate_api/validate_includes.py tt_metal/api --check-ttnn-forwards
      language: system
      pass_filenames: false
    - id: validate-metalium-deprecation
      name: validate-metalium-deprecation
      entry: python3 scripts/validate_api/validate_deprecation.py tt_metal/api origin/main
      language: system
      pass_filenames: false
- repo: local
  hooks:
    - id: check-torch-imports-in-ttnn
      name: Verify that there is no global torch import in ttnn
      entry: python3 scripts/validate_no_global_torch_imports.py
      language: system
      pass_filenames: false
- repo: local
  hooks:
    - id: block-ttnn-pybind-changes
      name: Prevent edits to frozen pybind11 sources under ttnn
      entry: python3 scripts/block_ttnn_pybind_changes.py
      language: system
      pass_filenames: true
      files: ^ttnn/
- repo: local
  hooks:
    - id: convert-notebooks-to-py
      name: Convert .ipynb to .py for ttnn basic examples
      entry: python3 scripts/convert_notebooks_to_python.py
      language: system
- repo: local
  hooks:
    - id: detect-legacy-device-op
      name: Detect legacy device operation classes in newly added files
      entry: python3 scripts/detect_legacy_device_op.py --check-new-only
      language: system
      types: [file]
      files: ^ttnn/.*\.hpp$
      pass_filenames: true
      require_serial: true
- repo: local
  hooks:
    - id: validate-golden-csv-columns
      name: Validate golden bandwidth CSV column headers
      entry: bash .github/scripts/utils/validate_golden_csv_columns.sh
      language: system
      pass_filenames: false
      files: ^tests/tt_metal/tt_metal/perf_microbenchmark/routing/golden/.*bandwidth.*\.csv$

#0: docs(tt-llk): SFPU input-value coverage gaps and how to close them
  tt_metal/tt-llk/docs/tests/sfpu_edge_coverage_plan.md
Due: none

msda: gather value sticks straight into their tile face halves
  ttnn/cpp/ttnn/operations/experimental/multi_scale_deformable_attn/device/kernels/dataflow/reader_msda.cpp
Due: block-ttnn-pybind-changes

[tt-train] Fix utils package shadowing that aborts the whole python test session
  tt-train/tests/python/test_grpo_trainer.py
Due: none

Remove SFPU_ACTIVATION on live bmm path
  ttnn/cpp/ttnn/operations/experimental/quasar/matmul/device/factory/matmul_multicore_reuse_mcast_1d_program_factory.cpp
  ttnn/cpp/ttnn/operations/experimental/quasar/matmul/device/factory/matmul_multicore_reuse_mcast_2d_program_factory.cpp
  ttnn/cpp/ttnn/operations/experimental/quasar/matmul/device/kernels/compute/bmm_large_block_zm_fused_bias_activation_metal2.cpp
Due: block-ttnn-pybind-changes

Qualify chunk recurrence gate data type
  ttnn/cpp/ttnn/operations/experimental/kda/prepare_chunk_recurrence/device/prepare_chunk_recurrence_program_factory.hpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

Add KDA chunk recurrence preparation
  tests/ttnn/nightly/unit_tests/operations/experimental/kda/test_prepare_chunk_recurrence.py
  ttnn/cpp/ttnn/operations/experimental/kda/factory/kda_factory_utils.cpp
  ttnn/cpp/ttnn/operations/experimental/kda/factory/kda_factory_utils.hpp
  ttnn/cpp/ttnn/operations/experimental/kda/kda_nanobind.cpp
  ttnn/cpp/ttnn/operations/experimental/kda/prepare_chunk_recurrence/CMakeLists.txt
  ttnn/cpp/ttnn/operations/experimental/kda/prepare_chunk_recurrence/device/kernels/compute/prepare_chunk_recurrence.cpp
  ttnn/cpp/ttnn/operations/experimental/kda/prepare_chunk_recurrence/device/kernels/dataflow/reader_prepare_chunk_recurrence.cpp
  ttnn/cpp/ttnn/operations/experimental/kda/prepare_chunk_recurrence/device/kernels/dataflow/writer_prepare_chunk_recurrence.cpp
  ttnn/cpp/ttnn/operations/experimental/kda/prepare_chunk_recurrence/device/prepare_chunk_recurrence_device_operation.cpp
  ttnn/cpp/ttnn/operations/experimental/kda/prepare_chunk_recurrence/device/prepare_chunk_recurrence_device_operation.hpp
  ttnn/cpp/ttnn/operations/experimental/kda/prepare_chunk_recurrence/device/prepare_chunk_recurrence_device_operation_types.hpp
  ttnn/cpp/ttnn/operations/experimental/kda/prepare_chunk_recurrence/device/prepare_chunk_recurrence_program_factory.cpp
  ttnn/cpp/ttnn/operations/experimental/kda/prepare_chunk_recurrence/device/prepare_chunk_recurrence_program_factory.hpp
  ttnn/cpp/ttnn/operations/experimental/kda/prepare_chunk_recurrence/prepare_chunk_recurrence.cpp
  ttnn/cpp/ttnn/operations/experimental/kda/prepare_chunk_recurrence/prepare_chunk_recurrence.hpp
  ttnn/cpp/ttnn/operations/experimental/kda/prepare_chunk_recurrence/prepare_chunk_recurrence_nanobind.cpp
  ttnn/cpp/ttnn/operations/experimental/kda/prepare_chunk_recurrence/prepare_chunk_recurrence_nanobind.hpp
  ttnn/cpp/ttnn/operations/experimental/kda/prepare_chunk_recurrence/sources.cmake
Due: block-ttnn-pybind-changes, detect-legacy-device-op

Package recurrence-preparation kernels
  ttnn/cpp/ttnn/operations/experimental/kda/prepare_chunk_recurrence/CMakeLists.txt
Due: block-ttnn-pybind-changes

Update KDA license attribution
  tests/ttnn/nightly/unit_tests/operations/experimental/kda/test_prepare_chunk_recurrence.py
Due: none

Use typed circular buffers in recurrence preparation
  ttnn/cpp/ttnn/operations/experimental/kda/prepare_chunk_recurrence/device/kernels/compute/prepare_chunk_recurrence.cpp
Due: block-ttnn-pybind-changes

#52797: Document chunk recurrence preparation
  ttnn/cpp/ttnn/operations/experimental/kda/prepare_chunk_recurrence/prepare_chunk_recurrence_nanobind.cpp
Due: block-ttnn-pybind-changes

Test chunk preparation observable contracts
  tests/ttnn/nightly/unit_tests/operations/experimental/kda/test_prepare_chunk_recurrence.py
Due: none

Drop the unused recurrence preparation output buffer
  ttnn/cpp/ttnn/operations/experimental/kda/prepare_chunk_recurrence/device/kernels/compute/prepare_chunk_recurrence.cpp
  ttnn/cpp/ttnn/operations/experimental/kda/prepare_chunk_recurrence/device/prepare_chunk_recurrence_program_factory.cpp
Due: block-ttnn-pybind-changes

Use reduce helper synchronization in recurrence preparation
  ttnn/cpp/ttnn/operations/experimental/kda/prepare_chunk_recurrence/device/kernels/compute/prepare_chunk_recurrence.cpp
Due: block-ttnn-pybind-changes

Honor chunk preparation compute contracts
  ttnn/cpp/ttnn/operations/experimental/kda/factory/kda_factory_utils.cpp
  ttnn/cpp/ttnn/operations/experimental/kda/prepare_chunk_recurrence/device/prepare_chunk_recurrence_device_operation.cpp
Due: block-ttnn-pybind-changes

Remove the unused masks input from chunk recurrence preparation
  tests/ttnn/nightly/unit_tests/operations/experimental/kda/test_prepare_chunk_recurrence.py
  ttnn/cpp/ttnn/operations/experimental/kda/prepare_chunk_recurrence/device/kernels/compute/prepare_chunk_recurrence.cpp
  ttnn/cpp/ttnn/operations/experimental/kda/prepare_chunk_recurrence/device/kernels/dataflow/reader_prepare_chunk_recurrence.cpp
  ttnn/cpp/ttnn/operations/experimental/kda/prepare_chunk_recurrence/device/prepare_chunk_recurrence_device_operation.cpp
  ttnn/cpp/ttnn/operations/experimental/kda/prepare_chunk_recurrence/device/prepare_chunk_recurrence_device_operation.hpp
  ttnn/cpp/ttnn/operations/experimental/kda/prepare_chunk_recurrence/device/prepare_chunk_recurrence_device_operation_types.hpp
  ttnn/cpp/ttnn/operations/experimental/kda/prepare_chunk_recurrence/device/prepare_chunk_recurrence_program_factory.cpp
  ttnn/cpp/ttnn/operations/experimental/kda/prepare_chunk_recurrence/prepare_chunk_recurrence.cpp
  ttnn/cpp/ttnn/operations/experimental/kda/prepare_chunk_recurrence/prepare_chunk_recurrence.hpp
  ttnn/cpp/ttnn/operations/experimental/kda/prepare_chunk_recurrence/prepare_chunk_recurrence_nanobind.cpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

Migrate recurrence preparation to Metalium 2.0
  ttnn/cpp/ttnn/operations/experimental/kda/prepare_chunk_recurrence/device/kernels/compute/prepare_chunk_recurrence.cpp
  ttnn/cpp/ttnn/operations/experimental/kda/prepare_chunk_recurrence/device/kernels/dataflow/reader_prepare_chunk_recurrence.cpp
  ttnn/cpp/ttnn/operations/experimental/kda/prepare_chunk_recurrence/device/kernels/dataflow/writer_prepare_chunk_recurrence.cpp
  ttnn/cpp/ttnn/operations/experimental/kda/prepare_chunk_recurrence/device/prepare_chunk_recurrence_program_factory.cpp
  ttnn/cpp/ttnn/operations/experimental/kda/prepare_chunk_recurrence/device/prepare_chunk_recurrence_program_factory.hpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

Compile shared KDA factory utilities once
  ttnn/cpp/ttnn/operations/experimental/kda/CMakeLists.txt
  ttnn/cpp/ttnn/operations/experimental/kda/prepare_chunk_recurrence/CMakeLists.txt
  ttnn/cpp/ttnn/operations/experimental/kda/prepare_chunk_recurrence/sources.cmake
Due: block-ttnn-pybind-changes

Default chunk recurrence preparation to approximate math
  tests/ttnn/nightly/unit_tests/operations/experimental/kda/test_prepare_chunk_recurrence.py
  ttnn/cpp/ttnn/operations/experimental/kda/prepare_chunk_recurrence/prepare_chunk_recurrence.cpp
  ttnn/cpp/ttnn/operations/experimental/kda/prepare_chunk_recurrence/prepare_chunk_recurrence_nanobind.cpp
Due: block-ttnn-pybind-changes

Share KDA validation checks
  tests/ttnn/nightly/unit_tests/operations/experimental/kda/test_prepare_chunk_recurrence.py
  ttnn/cpp/ttnn/operations/experimental/kda/prepare_chunk_recurrence/device/prepare_chunk_recurrence_device_operation.cpp
  ttnn/cpp/ttnn/operations/experimental/kda/prepare_chunk_recurrence/prepare_chunk_recurrence.cpp
Due: block-ttnn-pybind-changes

Prune KDA preparation kernel helpers
  ttnn/cpp/ttnn/operations/experimental/kda/prepare_chunk_recurrence/device/kernels/compute/prepare_chunk_recurrence.cpp
Due: block-ttnn-pybind-changes

Ignore unsupported KDA compute throttling
  ttnn/cpp/ttnn/operations/experimental/kda/prepare_chunk_recurrence/device/prepare_chunk_recurrence_device_operation.cpp
Due: block-ttnn-pybind-changes

Remove dead KDA normalization branch
  ttnn/cpp/ttnn/operations/experimental/kda/prepare_chunk_recurrence/device/kernels/compute/prepare_chunk_recurrence.cpp
Due: block-ttnn-pybind-changes

Share KDA device determinism checks
  tests/ttnn/nightly/unit_tests/operations/experimental/kda/test_prepare_chunk_recurrence.py
Due: none

Require calibrated KDA preparation performance
  tests/ttnn/nightly/unit_tests/operations/experimental/kda/test_prepare_chunk_recurrence.py
Due: none

Double-buffer prep cross-kernel queues
  ttnn/cpp/ttnn/operations/experimental/kda/prepare_chunk_recurrence/device/prepare_chunk_recurrence_program_factory.cpp
Due: block-ttnn-pybind-changes

Remove the unused KDA compute config adapter
  ttnn/cpp/ttnn/operations/experimental/kda/factory/kda_factory_utils.cpp
  ttnn/cpp/ttnn/operations/experimental/kda/factory/kda_factory_utils.hpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

Fix PR5 KDA object propagation after rebase
  ttnn/cpp/ttnn/operations/experimental/kda/CMakeLists.txt
Due: block-ttnn-pybind-changes

Validate PR5 Blackhole architecture
  ttnn/cpp/ttnn/operations/experimental/kda/prepare_chunk_recurrence/device/prepare_chunk_recurrence_device_operation.cpp
Due: block-ttnn-pybind-changes

Refactor prepare chunk recurrence compute stages
  ttnn/cpp/ttnn/operations/experimental/kda/prepare_chunk_recurrence/device/kernels/compute/prepare_chunk_recurrence.cpp
Due: block-ttnn-pybind-changes

Generate PR5 constant tiles on device
  tests/ttnn/nightly/unit_tests/operations/experimental/kda/test_prepare_chunk_recurrence.py
  ttnn/cpp/ttnn/operations/experimental/kda/prepare_chunk_recurrence/device/kernels/dataflow/reader_prepare_chunk_recurrence.cpp
  ttnn/cpp/ttnn/operations/experimental/kda/prepare_chunk_recurrence/device/prepare_chunk_recurrence_device_operation.cpp
  ttnn/cpp/ttnn/operations/experimental/kda/prepare_chunk_recurrence/device/prepare_chunk_recurrence_device_operation.hpp
  ttnn/cpp/ttnn/operations/experimental/kda/prepare_chunk_recurrence/device/prepare_chunk_recurrence_device_operation_types.hpp
  ttnn/cpp/ttnn/operations/experimental/kda/prepare_chunk_recurrence/device/prepare_chunk_recurrence_program_factory.cpp
  ttnn/cpp/ttnn/operations/experimental/kda/prepare_chunk_recurrence/prepare_chunk_recurrence.cpp
  ttnn/cpp/ttnn/operations/experimental/kda/prepare_chunk_recurrence/prepare_chunk_recurrence.hpp
  ttnn/cpp/ttnn/operations/experimental/kda/prepare_chunk_recurrence/prepare_chunk_recurrence_nanobind.cpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

Reduce PR5 experimental CI cold-start cost
  tests/ttnn/nightly/unit_tests/operations/experimental/kda/test_prepare_chunk_recurrence.py
Due: none

Clarify chunk recurrence buffer lifetimes
  tests/ttnn/nightly/unit_tests/operations/experimental/kda/test_prepare_chunk_recurrence.py
  ttnn/cpp/ttnn/operations/experimental/kda/prepare_chunk_recurrence/device/kernels/compute/prepare_chunk_recurrence.cpp
  ttnn/cpp/ttnn/operations/experimental/kda/prepare_chunk_recurrence/device/kernels/dataflow/writer_prepare_chunk_recurrence.cpp
  ttnn/cpp/ttnn/operations/experimental/kda/prepare_chunk_recurrence/device/prepare_chunk_recurrence_program_factory.cpp
Due: block-ttnn-pybind-changes

Cover PR5 production geometry
  tests/ttnn/nightly/unit_tests/operations/experimental/kda/test_prepare_chunk_recurrence.py
Due: none

Use lowercase PR5 DFB names
  ttnn/cpp/ttnn/operations/experimental/kda/prepare_chunk_recurrence/device/prepare_chunk_recurrence_program_factory.cpp
Due: block-ttnn-pybind-changes

Address PR5 kernel review feedback
  ttnn/cpp/ttnn/operations/experimental/kda/prepare_chunk_recurrence/device/kernels/compute/prepare_chunk_recurrence.cpp
  ttnn/cpp/ttnn/operations/experimental/kda/prepare_chunk_recurrence/device/kernels/dataflow/reader_prepare_chunk_recurrence.cpp
  ttnn/cpp/ttnn/operations/experimental/kda/prepare_chunk_recurrence/device/kernels/dataflow/writer_prepare_chunk_recurrence.cpp
  ttnn/cpp/ttnn/operations/experimental/kda/prepare_chunk_recurrence/device/prepare_chunk_recurrence_program_factory.cpp
Due: block-ttnn-pybind-changes

Use bit cast for PR5 FP32 one
  ttnn/cpp/ttnn/operations/experimental/kda/prepare_chunk_recurrence/device/kernels/dataflow/reader_prepare_chunk_recurrence.cpp
Due: block-ttnn-pybind-changes

Use block matmul for all PR5 shapes
  ttnn/cpp/ttnn/operations/experimental/kda/prepare_chunk_recurrence/device/kernels/compute/prepare_chunk_recurrence.cpp
Due: block-ttnn-pybind-changes

Reuse scratch DFB for k_beta
  ttnn/cpp/ttnn/operations/experimental/kda/prepare_chunk_recurrence/device/kernels/compute/prepare_chunk_recurrence.cpp
  ttnn/cpp/ttnn/operations/experimental/kda/prepare_chunk_recurrence/device/prepare_chunk_recurrence_program_factory.cpp
Due: block-ttnn-pybind-changes

tt_hw_planner: a registry entry naming a folder that is not there stops being a route
  scripts/tt_hw_planner/cli.py
  scripts/tt_hw_planner/family_backends.py
  scripts/tt_hw_planner/registry_sync.py
  scripts/tt_hw_planner/tests/test_registry_paths.py
Due: none

[CI] Drop the retired Galaxy demo and perf pipelines from /test-command
  .github/workflows/test-command.lock.yml
  .github/workflows/test-command.md
Due: none
