Repository tenstorrent/tt-metal: changes, and which pre-commit hooks are due for each by the changed paths.
All: block-ttnn-pybind-changes, detect-legacy-device-op, validate-golden-csv-columns

block-ttnn-pybind-changes:
  name: Prevent edits to frozen pybind11 sources under ttnn
  entry: python3 scripts/block_ttnn_pybind_changes.py
  language: system
  pass_filenames: true

detect-legacy-device-op:
  name: Detect legacy device operation classes in newly added files
  entry: python3 scripts/detect_legacy_device_op.py --check-new-only
  language: system
  pass_filenames: true
  require_serial: true

validate-golden-csv-columns:
  name: Validate golden bandwidth CSV column headers
  entry: bash .github/scripts/utils/validate_golden_csv_columns.sh
  language: system
  pass_filenames: false

addressing comments
  tests/ttnn/unit_tests/base_functionality/test_copy_point_to_point.py
  ttnn/cpp/ttnn/operations/data_movement/copy/device/copy_device_operation.cpp
Due: block-ttnn-pybind-changes

#41176: Lookup table definition for 100k single/multi host prefills
  models/demos/deepseek_v3_d_p/tests/test_disaggregation.py
Due: none

Address PR comments
  tests/tt_metal/tt_metal/llk/test_untilize_tilize.cpp
  tests/tt_metal/tt_metal/test_kernels/compute/dst_untilize.cpp
  tests/tt_metal/tt_metal/test_kernels/compute/pack_untilize.cpp
  tt_metal/hw/ckernels/quasar/metal/llk_api/llk_pack_api.h
  tt_metal/hw/ckernels/quasar/metal/llk_api/llk_pack_untilize_api.h
  tt_metal/hw/inc/api/compute/pack_untilize.h
  tt_metal/hw/inc/api/compute/tile_move_copy.h
Due: none

addressing Pavlo's comments
  tt-train/sources/examples/llama_tp/train_llama_distributed.py
  tt-train/sources/ttml/ttml/distributed/__init__.py
  tt-train/sources/ttml/ttml/distributed/dispatch.py
  tt-train/sources/ttml/ttml/distributed/layout.py
  tt-train/sources/ttml/ttml/distributed/style.py
  tt-train/sources/ttml/ttml/distributed/training.py
  tt-train/sources/ttml/ttml/init.py
Due: none

tt-agent: integrate tt:learn into tt:run for parameter resolution
  tt-agent/knowledge/recipes/vllm/env.md
  tt-agent/knowledge/recipes/vllm/server.md
  tt-agent/skills/run/SKILL.md
  tt-agent/skills/run/execution.md
Due: none

Migrate checkpoint/dump tests from DPRINT to DEVICE_PRINT
  tests/tt_metal/tt_metal/debug_tools/device_print/test_checkpoint.cpp
  tests/tt_metal/tt_metal/debug_tools/dprint/test_checkpoint.cpp
  tests/tt_metal/tt_metal/debug_tools/dprint/test_checkpoint_global.cpp
  tests/tt_metal/tt_metal/debug_tools/dprint/test_dump.cpp
  tests/tt_metal/tt_metal/debug_tools/sources.cmake
Due: none

Apply new API to wh/bh legacy compute kernel calls
  tests/tt_metal/tt_metal/test_kernels/compute/dst_untilize.cpp
  tests/tt_metal/tt_metal/test_kernels/compute/pack_untilize.cpp
Due: none

tt-agent: add commit message conventions to CONTRIBUTING
  tt-agent/CONTRIBUTING.md
Due: none

Rename UMD CMake target to umd::tt-umd (#41354)
  tools/scaleout/CMakeLists.txt
  tt_metal/CMakeLists.txt
  tt_metal/common/CMakeLists.txt
  tt_metal/fabric/CMakeLists.txt
  tt_metal/hostdevcommon/CMakeLists.txt
  tt_metal/llrt/CMakeLists.txt
  tt_metal/llrt/hal/tt-1xx/CMakeLists.txt
  tt_metal/llrt/hal/tt-2xx/CMakeLists.txt
Due: none

pyskip fixed for BH
  models/demos/stable_diffusion_xl_base/demo/demo_lora.py
  models/demos/stable_diffusion_xl_base/tests/test_sdxl_accuracy.py
  models/demos/stable_diffusion_xl_base/tests/test_sdxl_img2img_accuracy.py
  models/demos/stable_diffusion_xl_base/tests/test_sdxl_inpaint_accuracy.py
  models/demos/stable_diffusion_xl_base/tests/test_sdxl_lora_accuracy.py
Due: none

Squash.
  docs/source/tt-metalium/tt_metal/apis/kernel_apis/compute/tilize.rst
  tests/tt_metal/tt_metal/test_kernels/compute/unpack_tilizeA_B.cpp
  tt_metal/api/tt-metalium/circular_buffer_config.hpp
  tt_metal/hw/ckernels/blackhole/metal/llk_api/llk_pack_api.h
  tt_metal/hw/ckernels/blackhole/metal/llk_api/llk_unpack_common_api.h
  tt_metal/hw/ckernels/blackhole/metal/llk_api/llk_unpack_tilize_api.h
  tt_metal/hw/ckernels/wormhole_b0/metal/llk_api/llk_pack_api.h
  tt_metal/hw/ckernels/wormhole_b0/metal/llk_api/llk_unpack_common_api.h
  tt_metal/hw/ckernels/wormhole_b0/metal/llk_api/llk_unpack_tilize_api.h
  tt_metal/hw/inc/api/compute/pack.h
  tt_metal/hw/inc/api/compute/tilize.h
  tt_metal/impl/buffers/circular_buffer.cpp
  tt_metal/impl/buffers/circular_buffer.hpp
  tt_metal/impl/buffers/circular_buffer_config.cpp
  tt_metal/impl/flatbuffer/buffer_types_from_flatbuffer.cpp
  tt_metal/impl/program/program.cpp
  ttnn/cpp/ttnn/operations/pool/generic/device/kernels/compute/compute_pool_2d.cpp
  ttnn/cpp/ttnn/operations/pool/generic/device/kernels/dataflow/reader_pool_2d.cpp
  ttnn/cpp/ttnn/operations/pool/generic/device/pool_multi_core_program_factory.cpp
  ttnn/cpp/ttnn/operations/pool/pool_utils.cpp
  ttnn/cpp/ttnn/operations/pool/pool_utils.hpp
  ttnn/cpp/ttnn/operations/pool/upsample/device/kernels/compute/bilinear.cpp
  ttnn/cpp/ttnn/operations/pool/upsample/device/upsample_bilinear_program_factory_multicore.cpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

unused import
  tests/ttnn/unit_tests/base_functionality/test_copy_point_to_point.py
Due: none

claing tidy 2
  ttnn/cpp/ttnn/operations/data_movement/copy/device/copy_device_operation.cpp
Due: block-ttnn-pybind-changes

Fix CircularBuffer namespace ambiguity in kernel helpers
  ttnn/cpp/ttnn/kernel_lib/reduce_helpers_compute.inl
  ttnn/cpp/ttnn/kernel_lib/reduce_helpers_dataflow.inl
Due: block-ttnn-pybind-changes

new is galaxy function used
  models/demos/stable_diffusion_xl_base/demo/demo.py
  models/demos/stable_diffusion_xl_base/demo/demo_base_and_refiner.py
  models/demos/stable_diffusion_xl_base/demo/demo_img2img.py
  models/demos/stable_diffusion_xl_base/demo/demo_inpainting.py
  models/demos/stable_diffusion_xl_base/demo/demo_lora.py
  models/demos/stable_diffusion_xl_base/lora/tests/test_lora_fusion.py
  models/demos/stable_diffusion_xl_base/lora/tests/test_lora_rollback.py
Due: none

addressing Pavlo's comments
  tt-train/sources/examples/llama_tp/train_llama_distributed.py
  tt-train/sources/ttml/ttml/distributed/__init__.py
  tt-train/sources/ttml/ttml/distributed/module_rules.py
  tt-train/sources/ttml/ttml/distributed/style.py
  tt-train/sources/ttml/ttml/distributed/training.py
  tt-train/sources/ttml/ttml/models/llama/gqattn.py
  tt-train/sources/ttml/ttml/modules/module_base.py
Due: none

Integrate DeepSeek prefill MoE ops into GPT-OSS model
  NOTES_PREFILL.md
  models/demos/gpt_oss/demo/text_demo.py
  models/demos/gpt_oss/tt/common.py
  models/demos/gpt_oss/tt/experts_throughput/__init__.py
  models/demos/gpt_oss/tt/experts_throughput/prefill_deepseek.py
  models/demos/gpt_oss/tt/layer.py
  models/demos/gpt_oss/tt/mlp.py
  models/demos/gpt_oss/tt/model.py
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/combine/device/combine_program_factory.cpp
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/combine/device/kernels/dataflow/reader_combine.cpp
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/combine/device/kernels/dataflow/writer_combine.cpp
Due: block-ttnn-pybind-changes

Conv3d working
  models/experimental/tt_symbiote/modules/activation.py
  models/experimental/tt_symbiote/modules/attention.py
  models/experimental/tt_symbiote/modules/conv.py
  models/experimental/tt_symbiote/modules/qwen_omni_rotary.py
  models/experimental/tt_symbiote/modules/qwen_omni_vision_patch.py
  models/experimental/tt_symbiote/tests/test_qwen_omni.py
Due: none

TT_METAL_CORE_GRID_OVERRIDE_TODEPRECATE assert for BH
  models/demos/stable_diffusion_xl_base/tt/tt_sdxl_pipeline.py
Due: none

tank
  models/demos/deepseek_v3_b1/ARCHITECTURE.md
  models/demos/deepseek_v3_b1/blitz_decode_weights.py
  models/demos/deepseek_v3_b1/tensor_cache/fuse.py
Due: none

agents: tighten pipeline-only op creation guardrails
  AGENTS.md
Due: none

Fix golden overflow and address PR review comments
  tests/ttnn/unit_tests/operations/eltwise/test_unary.py
  tt_metal/hw/ckernels/blackhole/metal/llk_api/llk_sfpu/ckernel_sfpu_hardmish.h
  tt_metal/hw/ckernels/wormhole_b0/metal/llk_api/llk_sfpu/ckernel_sfpu_hardmish.h
  ttnn/cpp/ttnn/operations/eltwise/unary/unary_nanobind.cpp
  ttnn/ttnn/operations/unary.py
Due: block-ttnn-pybind-changes

update galaxy tests to run on pipeline-perf (aus colo) instead of UF
  .github/workflows/vllm-nightly-tests-impl.yaml
Due: none

Add K chain 2D multicast for MLA mode
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/kernels/dataflow/ring_joint_reader.cpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/ring_joint_sdpa_program_factory.cpp
Due: block-ttnn-pybind-changes

Add avgpool DRAM slicing test coverage for count_include_pad and auto slicing
  tests/ttnn/unit_tests/operations/pool/test_avgpool2d.py
Due: none

Fix MPWI debug print and latent zero_out_page bug
  ttnn/cpp/ttnn/operations/pool/generic/device/kernels/dataflow/reader_mpwi.cpp
Due: block-ttnn-pybind-changes

Fix block float padding bug and perf model in pool ops
  ttnn/cpp/ttnn/operations/pool/generic/device/pool_op.cpp
  ttnn/cpp/ttnn/operations/pool/generic/generic_pools.cpp
Due: block-ttnn-pybind-changes

Fix pool2d Python docstrings copied from conv2d
  ttnn/cpp/ttnn/operations/pool/generic/generic_pools_nanobind.cpp
Due: block-ttnn-pybind-changes

Fix program cache hash and add output dim assert
  ttnn/cpp/ttnn/operations/pool/generic/device/pool_op.cpp
  ttnn/cpp/ttnn/operations/pool/generic/generic_pools.cpp
  ttnn/cpp/ttnn/operations/pool/pool_utils.cpp
Due: block-ttnn-pybind-changes

Fix DRAM slice L1 estimation passing partial padding to calculate_L1_usage
  ttnn/cpp/ttnn/operations/pool/pool_utils.cpp
Due: block-ttnn-pybind-changes

Use TT_THROW instead of TT_ASSERT for core range check in tanh_bw
  ttnn/cpp/ttnn/operations/eltwise/unary_backward/tanh_bw/device/tanh_bw_program_factory.cpp
Due: block-ttnn-pybind-changes

#35885: Fix tanh_bw ULP precision — fused sech²(x) kernel (Max ULP 15,140 → 1)
  tests/ttnn/unit_tests/gtests/TANH_BW_BASELINE_ULP_REPORT.md
  tt_metal/hw/ckernels/blackhole/metal/llk_api/llk_sfpu/ckernel_sfpu_tanh_derivative.h
  tt_metal/hw/ckernels/wormhole_b0/metal/llk_api/llk_sfpu/ckernel_sfpu_tanh_derivative.h
  tt_metal/hw/inc/api/compute/eltwise_unary/tanh_derivative.h
  ttnn/cpp/ttnn/operations/eltwise/unary_backward/CMakeLists.txt
  ttnn/cpp/ttnn/operations/eltwise/unary_backward/tanh_bw/device/kernels/compute/eltwise_bw_tanh_deriv.cpp
  ttnn/cpp/ttnn/operations/eltwise/unary_backward/tanh_bw/device/tanh_bw_device_operation.cpp
  ttnn/cpp/ttnn/operations/eltwise/unary_backward/tanh_bw/device/tanh_bw_device_operation.hpp
  ttnn/cpp/ttnn/operations/eltwise/unary_backward/tanh_bw/device/tanh_bw_device_operation_types.hpp
  ttnn/cpp/ttnn/operations/eltwise/unary_backward/tanh_bw/device/tanh_bw_program_factory.cpp
  ttnn/cpp/ttnn/operations/eltwise/unary_backward/tanh_bw/device/tanh_bw_program_factory.hpp
  ttnn/cpp/ttnn/operations/eltwise/unary_backward/unary_backward.cpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

#35885: Use sfpi::vConst1 instead of 1.0f in Taylor exp polynomial
  tt_metal/hw/ckernels/blackhole/metal/llk_api/llk_sfpu/ckernel_sfpu_tanh_derivative.h
  tt_metal/hw/ckernels/wormhole_b0/metal/llk_api/llk_sfpu/ckernel_sfpu_tanh_derivative.h
Due: none

#35885: Add MPFR-256 platinum reference verification tests
  tests/ttnn/unit_tests/gtests/CMakeLists.txt
  tests/ttnn/unit_tests/gtests/test_tanh_bw_ulp.cpp
  tests/ttnn/unit_tests/gtests/test_tanh_fw_ulp.cpp
Due: none

Path conditions:
  block-ttnn-pybind-changes: any of: ^ttnn/
  detect-legacy-device-op: any of: ^ttnn/.*\.hpp$
  validate-golden-csv-columns: any of: ^tests/tt_metal/tt_metal/perf_microbenchmark/routing/golden/.*bandwidth.*\.csv$
