Repository tenstorrent/tt-metal: changes, and which pre-commit hooks are due for each by the changed paths.
All: block-ttnn-pybind-changes, detect-legacy-device-op, validate-golden-csv-columns

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v3.2.0
  hooks:
    - id: trailing-whitespace
      exclude: \.patch$
    - id: end-of-file-fixer
      exclude: \.patch$
    - id: check-yaml
      args: ["--unsafe"]
    - id: check-added-large-files
# Using this mirror lets us use mypyc-compiled black, which is about 2x faster
- repo: https://github.com/psf/black-pre-commit-mirror
  rev: 23.10.1
  hooks:
    - id: black
      language_version: python3
- repo: https://github.com/PyCQA/autoflake
  rev: v2.3.1
  hooks:
    - id: autoflake
      args: [--remove-all-unused-imports, --in-place, --recursive, --exclude=__init__.py]
      files: ^models/  # Run only on files in the models directory
- repo: https://github.com/pycqa/isort
  rev: 5.13.2
  hooks:
    - id: isort
      files: ^models/
      exclude: ^models/(demos/llama3_70b_galaxy|experimental)/
- repo: https://github.com/BlankSpruce/gersemi
  rev: 0.16.2
  hooks:
    - id: gersemi
- repo: https://github.com/adrienverge/yamllint.git
  rev: v1.35.1
  hooks:
    - id: yamllint
- repo: https://github.com/pre-commit/mirrors-clang-format
  rev: v19.1.4
  hooks:
    - id: clang-format
      entry: git-clang-format
      require_serial: true
      types_or: [c++, c]
      args: ["--style=file"]
- repo: local
  hooks:
    - id: validate-metalium-includes
      name: validate-metalium-includes
      entry: python3 scripts/validate_api/validate_includes.py tt_metal/api --check-ttnn-forwards
      language: system
      pass_filenames: false
    - id: validate-metalium-deprecation
      name: validate-metalium-deprecation
      entry: python3 scripts/validate_api/validate_deprecation.py tt_metal/api origin/main
      language: system
      pass_filenames: false
- repo: local
  hooks:
    - id: check-torch-imports-in-ttnn
      name: Verify that there is no global torch import in ttnn
      entry: python3 scripts/validate_no_global_torch_imports.py
      language: system
      pass_filenames: false
- repo: local
  hooks:
    - id: block-ttnn-pybind-changes
      name: Prevent edits to frozen pybind11 sources under ttnn
      entry: python3 scripts/block_ttnn_pybind_changes.py
      language: system
      pass_filenames: true
      files: ^ttnn/
- repo: local
  hooks:
    - id: convert-notebooks-to-py
      name: Convert .ipynb to .py for ttnn basic examples
      entry: python3 scripts/convert_notebooks_to_python.py
      language: system
- repo: local
  hooks:
    - id: detect-legacy-device-op
      name: Detect legacy device operation classes in newly added files
      entry: python3 scripts/detect_legacy_device_op.py --check-new-only
      language: system
      types: [file]
      files: ^ttnn/.*\.hpp$
      pass_filenames: true
      require_serial: true
- repo: local
  hooks:
    - id: validate-golden-csv-columns
      name: Validate golden bandwidth CSV column headers
      entry: bash .github/scripts/utils/validate_golden_csv_columns.sh
      language: system
      pass_filenames: false
      files: ^tests/tt_metal/tt_metal/perf_microbenchmark/routing/golden/.*bandwidth.*\.csv$

Refinement 4: Non-tile-aligned shapes — complete, golden 744/744
  .device_timing.jsonl
  ttnn/ttnn/operations/scaled_dot_product_attention/agent_logs/ttnn-implementer_breadcrumbs.jsonl
  ttnn/ttnn/operations/scaled_dot_product_attention/changelog.md
  ttnn/ttnn/operations/scaled_dot_product_attention/op_requirements.md
Due: block-ttnn-pybind-changes

MiniMax-M2 Step 5: wire full decoder layer + end-to-end PCC test vs HF
  models/demos/minimax_m2/tests/unit/test_decoder_vs_hf.py
  models/demos/minimax_m2/tests/unit/test_experts_vs_hf.py
  models/demos/minimax_m2/tt/experts/config.py
  models/demos/minimax_m2/tt/layer.py
  models/demos/minimax_m2/tt/mlp.py
Due: none

bringup(rednote_hilab_dots.ocr): optimization vision_transformer ok
  models/demos/rednote_hilab_dots.ocr/.bringup_state.json
  models/demos/rednote_hilab_dots.ocr/BRINGUP_LOG.md
  models/demos/rednote_hilab_dots.ocr/PERF_NOTES.md
  models/demos/rednote_hilab_dots.ocr/perf/traced/vision_tower_bf16_11k_traced.csv
  models/demos/rednote_hilab_dots.ocr/perf/traced/vision_tower_bf16_tp4_11k_traced.csv
  models/demos/rednote_hilab_dots.ocr/tt/ocr_model.py
  models/demos/rednote_hilab_dots.ocr/tt/profile_vision_transformer.py
  models/demos/rednote_hilab_dots.ocr/tt/vision_attention.py
  models/demos/rednote_hilab_dots.ocr/tt/vision_block.py
  models/demos/rednote_hilab_dots.ocr/tt/vision_mlp.py
  models/demos/rednote_hilab_dots.ocr/tt/vision_transformer.py
Due: none

Download demo assets from GitHub and add HF length parity for TT generate.
  models/experimental/vibevoice/README.md
  models/experimental/vibevoice/common/config.py
  models/experimental/vibevoice/common/resource_utils.py
  models/experimental/vibevoice/conftest.py
  models/experimental/vibevoice/demo_hf.py
  models/experimental/vibevoice/demo_ttnn.py
  models/experimental/vibevoice/dump_audio.py
  models/experimental/vibevoice/resources/text/1p_short.txt
  models/experimental/vibevoice/resources/voices/en-Alice_woman.wav
  models/experimental/vibevoice/tests/pcc/test_e2e_generate_pcc.py
  models/experimental/vibevoice/tests/pcc/test_inference_short.py
  models/experimental/vibevoice/tt/ttnn_vibevoice_generator.py
  models/experimental/vibevoice/tt/ttnn_vibevoice_model.py
Due: none

[Quasar] Misc SFPU fixes: rsqrt compute API, runtime relu immediates, vector-mode forwarding (#46576)
  tests/tt_metal/tt_metal/llk/test_sfpu_compute.cpp
  tt_metal/hw/ckernels/quasar/metal/llk_api/llk_sfpu/llk_math_eltwise_unary_sfpu_macros.h
  tt_metal/hw/inc/api/compute/add_int_sfpu.h
  tt_metal/hw/inc/api/compute/eltwise_unary/rsqrt.h
  tt_metal/hw/inc/api/compute/mul_int_sfpu.h
  tt_metal/tt-llk/tt_llk_quasar/common/inc/sfpu/ckernel_sfpu_relu.h
Due: none

Move transformer operations to device 2.0 API (#45015)
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/kernels/dataflow/chain_link.hpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/kernels/dataflow/dataflow_common.hpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/kernels/dataflow/exp_ring_joint_reader.cpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/kernels/dataflow/exp_ring_joint_writer.cpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/kernels/dataflow/fused_op_receiver.hpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/kernels/dataflow/joint_reader.cpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/kernels/dataflow/joint_writer.cpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/kernels/dataflow/reader_interleaved.cpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/kernels/dataflow/ring_joint_reader.cpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/kernels/dataflow/ring_joint_writer.cpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/kernels/dataflow/writer_interleaved.cpp
  ttnn/cpp/ttnn/operations/transformer/sdpa_decode/device/kernels/dataflow/dataflow_common.hpp
  ttnn/cpp/ttnn/operations/transformer/sdpa_decode/device/kernels/dataflow/reader_decode_all.cpp
  ttnn/cpp/ttnn/operations/transformer/sdpa_decode/device/kernels/dataflow/writer_decode_all.cpp
  ttnn/cpp/ttnn/operations/transformer/sdpa_windowed/device/kernels/array_view.hpp
  ttnn/cpp/ttnn/operations/transformer/sdpa_windowed/device/kernels/dataflow/reader_windowed.cpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

Fix Quasar SFPU compile errors: use SFPU_CALL with template ITERATIONS.
  tt_metal/hw/ckernels/quasar/metal/llk_api/llk_sfpu/llk_math_eltwise_ternary_sfpu_macros.h
  tt_metal/hw/ckernels/quasar/metal/llk_api/llk_sfpu/llk_math_eltwise_unary_sfpu_rsqrt.h
  tt_metal/hw/inc/api/compute/compute_kernel_api.h
  tt_metal/tt-llk/tests/sources/quasar/sfpu_abs_quasar_test.cpp
  tt_metal/tt-llk/tests/sources/quasar/sfpu_nonlinear_quasar_test.cpp
  tt_metal/tt-llk/tests/sources/quasar/sfpu_rsqrt_quasar_test.cpp
  tt_metal/tt-llk/tests/sources/quasar/sfpu_square_quasar_test.cpp
  tt_metal/tt-llk/tests/sources/quasar/sfpu_square_trisc3_quasar_test.cpp
Due: none

Implementation of KV cache table for Kimi + test
  models/demos/deepseek_v3_d_p/tests/test_kv_cache_table.py
  models/demos/deepseek_v3_d_p/utils/kv_cache_utils.py
Due: none

Fix dispatch packet tag cleanup on idle ERISC
  tt_metal/impl/dispatch/kernels/cq_dispatch.cpp
  tt_metal/impl/dispatch/kernels/cq_prefetch.cpp
Due: none

Add check for Kimi config in test
  models/demos/deepseek_v3_d_p/tests/test_kv_cache_table.py
Due: none

5k chunking
  models/demos/deepseek_v3_d_p/utils/kv_cache_utils.py
Due: none

Support multi-user
  models/demos/deepseek_v3_d_p/tests/test_kv_cache_table.py
  models/demos/deepseek_v3_d_p/utils/kv_cache_utils.py
Due: none

Add Kimi and mock test to CI
  models/demos/deepseek_v3_d_p/tests/test_kv_cache_table.py
  tests/pipeline_reorg/galaxy_deepseek_prefill_tests.yaml
Due: none

CR fixes
  models/demos/deepseek_v3_d_p/tests/test_disaggregation.py
  models/demos/deepseek_v3_d_p/tests/test_kv_cache_table.py
  models/demos/deepseek_v3_d_p/tests/test_prefill_transformer.py
  models/demos/deepseek_v3_d_p/utils/kv_cache_utils.py
  tests/pipeline_reorg/galaxy_deepseek_prefill_tests.yaml
Due: none

[sweep-validation] N300: i2s grid-form, max_pool2d ceil/dtype, reshard cross-arch
  tests/sweep_framework/sweeps/model_traced/interleaved_to_sharded_model_traced.py
  tests/sweep_framework/sweeps/model_traced/max_pool2d_model_traced.py
  tests/sweep_framework/sweeps/model_traced/reshard_model_traced.py
Due: none

conv1d: enable DRAM width slicing via slice_config
  tests/ttnn/unit_tests/operations/conv/test_conv1d.py
  ttnn/cpp/ttnn/operations/conv/conv1d/conv1d.cpp
  ttnn/cpp/ttnn/operations/conv/conv1d/conv1d.hpp
  ttnn/cpp/ttnn/operations/conv/conv1d/conv1d_nanobind.cpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

Add Quasar SFPU TopK kernel (local-sort / merge / rebuild)
  tt_metal/tt-llk/tests/python_tests/quasar/test_topk_quasar.py
  tt_metal/tt-llk/tests/sources/quasar/sfpu_topk_quasar_test.cpp
  tt_metal/tt-llk/tt_llk_quasar/common/inc/experimental/ckernel_sfpu_topk.h
  tt_metal/tt-llk/tt_llk_quasar/llk_lib/llk_defs.h
  tt_metal/tt-llk/tt_llk_quasar/llk_lib/llk_math_eltwise_unary_sfpu_topk.h
  tt_metal/tt-llk/tt_llk_quasar/llk_lib/llk_pack_common.h
Due: none

Revert back to blackhole like stimuli
  tt_metal/tt-llk/tests/python_tests/quasar/test_topk_quasar.py
  tt_metal/tt-llk/tt_llk_quasar/common/inc/ckernel_instr_params.h
Due: none

Address comments
  tt_metal/tt-llk/tests/sources/quasar/sfpu_topk_quasar_test.cpp
  tt_metal/tt-llk/tt_llk_quasar/common/inc/experimental/ckernel_sfpu_topk.h
Due: none

Working topk with int16 indices, huge change to python host code
  tt_metal/tt-llk/.pre-commit-config.yaml
  tt_metal/tt-llk/tests/python_tests/quasar/test_topk_quasar.py
  tt_metal/tt-llk/tests/sources/quasar/sfpu_topk_quasar_test.cpp
  tt_metal/tt-llk/tt_llk_quasar/common/inc/ckernel_instr_params.h
  tt_metal/tt-llk/tt_llk_quasar/common/inc/experimental/ckernel_sfpu_topk.h
  tt_metal/tt-llk/tt_llk_quasar/llk_lib/llk_math_eltwise_unary_sfpu_topk.h
Due: none

[Bug fix] Fix WH pack_config writer kernel and test golden after word-2 rename
  tests/tt_metal/tt_metal/debug_tools/device_print/test_print_config_register.cpp
  tests/tt_metal/tt_metal/test_kernels/dataflow/writer_config_reg.cpp
  tt_metal/tt-llk/tt_llk_wormhole_b0/common/inc/cpack_common.h
Due: none

[incremental-planner] groupnorm_sc_N_1_HW_C: op design + acceptance test
  tests/ttnn/unit_tests/operations/groupnorm_sc_N_1_HW_C/test_groupnorm_sc_N_1_HW_C.py
  ttnn/ttnn/operations/groupnorm_sc_N_1_HW_C/op_design.md
Due: block-ttnn-pybind-changes

fix
  tt_metal/impl/context/metal_context.cpp
Due: none

jit_build: build fingerprint — capture resolved build values, replay on non-silicon
  tt_metal/jit_build/build_env_manager.cpp
  tt_metal/jit_build/build_env_manager.hpp
  tt_metal/jit_build/jit_build_fingerprint.hpp
  tt_metal/jit_build/jit_device_config.cpp
Due: none

precompile: replay captured device topology on non-silicon (compute grid + erisc)
  tt_metal/api/tt-metalium/cluster.hpp
  tt_metal/impl/device/device.cpp
  tt_metal/impl/host_api/tt_metal.cpp
  tt_metal/llrt/rtoptions.cpp
  ttnn/api/ttnn/cluster.hpp
  ttnn/core/cluster.cpp
  ttnn/cpp/ttnn-nanobind/cluster.cpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

Address pr comments; code more readable
  tt_metal/tt-llk/tt_llk_blackhole/common/inc/sfpu/ckernel_sfpu_reduce.h
  tt_metal/tt-llk/tt_llk_wormhole_b0/common/inc/sfpu/ckernel_sfpu_reduce.h
Due: none

[ttnn-implementer] PASS: groupnorm_sc_N_1_HW_C smoke test (no_affine single_tile_g1)
  ttnn/ttnn/operations/groupnorm_sc_N_1_HW_C/__init__.py
  ttnn/ttnn/operations/groupnorm_sc_N_1_HW_C/agent_logs/ttnn-implementer_breadcrumbs.jsonl
  ttnn/ttnn/operations/groupnorm_sc_N_1_HW_C/groupnorm_sc_N_1_HW_C.py
  ttnn/ttnn/operations/groupnorm_sc_N_1_HW_C/groupnorm_sc_N_1_HW_C_program_descriptor.py
  ttnn/ttnn/operations/groupnorm_sc_N_1_HW_C/kernels/groupnorm_sc_N_1_HW_C_compute.cpp
  ttnn/ttnn/operations/groupnorm_sc_N_1_HW_C/kernels/groupnorm_sc_N_1_HW_C_reader.cpp
  ttnn/ttnn/operations/groupnorm_sc_N_1_HW_C/kernels/groupnorm_sc_N_1_HW_C_writer.cpp
Due: block-ttnn-pybind-changes

Quasar TopK: multi-iteration support
  tt_metal/tt-llk/tests/python_tests/quasar/test_topk_quasar.py
  tt_metal/tt-llk/tests/sources/quasar/sfpu_topk_quasar_test.cpp
  tt_metal/tt-llk/tt_llk_quasar/llk_lib/llk_math_eltwise_unary_sfpu_topk.h
Due: none

fix(llk fuser): avoid mutable default for tile_shape field
  tt_metal/tt-llk/tests/python_tests/fuser/fused_operand.py
Due: none

[ttnn-implementer] PASS: groupnorm_sc_N_1_HW_C full acceptance suite 32/32 (dev + production)
  ttnn/ttnn/operations/groupnorm_sc_N_1_HW_C/agent_logs/ttnn-implementer_breadcrumbs.jsonl
Due: block-ttnn-pybind-changes

[Quasar] Compute API and vector-mode support for binary max/min SFPU kernel
  tests/tt_metal/tt_metal/llk/test_sfpu_compute.cpp
  tt_metal/hw/ckernels/quasar/metal/llk_api/llk_sfpu/ckernel_sfpu_binary_max_min.h
  tt_metal/hw/ckernels/quasar/metal/llk_api/llk_sfpu/llk_math_eltwise_binary_sfpu_max_min.h
  tt_metal/hw/inc/api/compute/binary_max_min.h
  tt_metal/hw/inc/api/compute/eltwise_unary/sfpu_split_includes.h
  tt_metal/tt-llk/tests/sources/quasar/sfpu_binary_max_min_quasar_test.cpp
Due: none

Switch beteen Kimi and DS KV cache table creation in runner
  models/demos/deepseek_v3_d_p/tt/runners/integration_setup.py
  models/demos/deepseek_v3_d_p/tt/runners/prefill_runner.py
  models/demos/deepseek_v3_d_p/tt/runners/runner_utils.py
Due: none

[skip ci] Add dwadhwaniTT and arginugaTT as codeowners for gemma-4 (#46591)
  .github/CODEOWNERS
Due: none
