Repository tenstorrent/tt-metal: changes, and which pre-commit hooks are due for each by the changed paths.
All: block-ttnn-pybind-changes, detect-legacy-device-op, validate-golden-csv-columns

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v3.2.0
  hooks:
    - id: trailing-whitespace
      exclude: \.patch$
    - id: end-of-file-fixer
      exclude: \.patch$
    - id: check-yaml
      args: ["--unsafe"]
    - id: check-added-large-files
# Using this mirror lets us use mypyc-compiled black, which is about 2x faster
- repo: https://github.com/psf/black-pre-commit-mirror
  rev: 23.10.1
  hooks:
    - id: black
      language_version: python3
- repo: https://github.com/PyCQA/autoflake
  rev: v2.3.1
  hooks:
    - id: autoflake
      args: [--remove-all-unused-imports, --in-place, --recursive, --exclude=__init__.py]
      files: ^models/  # Run only on files in the models directory
- repo: https://github.com/pycqa/isort
  rev: 5.13.2
  hooks:
    - id: isort
      files: ^models/
      exclude: ^models/(demos/llama3_70b_galaxy|experimental)/
- repo: https://github.com/BlankSpruce/gersemi
  rev: 0.16.2
  hooks:
    - id: gersemi
- repo: https://github.com/adrienverge/yamllint.git
  rev: v1.35.1
  hooks:
    - id: yamllint
- repo: https://github.com/pre-commit/mirrors-clang-format
  rev: v19.1.4
  hooks:
    - id: clang-format
      entry: git-clang-format
      require_serial: true
      types_or: [c++, c]
      args: ["--style=file"]
- repo: local
  hooks:
    - id: validate-metalium-includes
      name: validate-metalium-includes
      entry: python3 scripts/validate_api/validate_includes.py tt_metal/api --check-ttnn-forwards
      language: system
      pass_filenames: false
    - id: validate-metalium-deprecation
      name: validate-metalium-deprecation
      entry: python3 scripts/validate_api/validate_deprecation.py tt_metal/api origin/main
      language: system
      pass_filenames: false
- repo: local
  hooks:
    - id: check-torch-imports-in-ttnn
      name: Verify that there is no global torch import in ttnn
      entry: python3 scripts/validate_no_global_torch_imports.py
      language: system
      pass_filenames: false
- repo: local
  hooks:
    - id: block-ttnn-pybind-changes
      name: Prevent edits to frozen pybind11 sources under ttnn
      entry: python3 scripts/block_ttnn_pybind_changes.py
      language: system
      pass_filenames: true
      files: ^ttnn/
- repo: local
  hooks:
    - id: convert-notebooks-to-py
      name: Convert .ipynb to .py for ttnn basic examples
      entry: python3 scripts/convert_notebooks_to_python.py
      language: system
- repo: local
  hooks:
    - id: detect-legacy-device-op
      name: Detect legacy device operation classes in newly added files
      entry: python3 scripts/detect_legacy_device_op.py --check-new-only
      language: system
      types: [file]
      files: ^ttnn/.*\.hpp$
      pass_filenames: true
      require_serial: true
- repo: local
  hooks:
    - id: validate-golden-csv-columns
      name: Validate golden bandwidth CSV column headers
      entry: bash .github/scripts/utils/validate_golden_csv_columns.sh
      language: system
      pass_filenames: false
      files: ^tests/tt_metal/tt_metal/perf_microbenchmark/routing/golden/.*bandwidth.*\.csv$

ds_prefill(handle_buffer_overflow): bounds check in dispatch and combine kernels
  models/demos/deepseek_v3_d_p/tests/pcc/test_ttnn_dispatch_combine.py
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/combine/device/kernels/dataflow/reader_combine.cpp
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/dispatch/device/kernels/dataflow/reader_dispatch.cpp
Due: block-ttnn-pybind-changes

build: update sfpi version to 7.36.0 (#1598)
  setup_clangd.sh
  tests/sfpi-version
  tests/sources/ai_gen/eltwise_binary_sfpu_pack_untilize.cpp
  tests/sources/ai_gen/eltwise_binary_sfpu_unary.cpp
  tests/sources/ai_gen/reduce_sfpu_unary.cpp
  tests/sources/ai_gen/unpack_tilize_sfpu_pack.cpp
  tests/sources/eltwise_binary_fpu_perf.cpp
  tests/sources/eltwise_unary_datacopy_test.cpp
  tests/sources/fast_tilize_test.cpp
  tests/sources/math_matmul_perf.cpp
  tests/sources/matmul_perf.cpp
  tests/sources/pack_dest_bank_test.cpp
  tests/sources/profiler_primitives_test.cpp
  tests/sources/quasar/sfpu_nonlinear_quasar_test.cpp
  tests/sources/reduce_perf.cpp
  tests/sources/reduce_test.cpp
  tests/sources/sdpa_reinits_test.cpp
  tests/sources/sfpu_reduce_sdpa_perf.cpp
  tests/sources/unpack_a_bcast_eltwise_perf.cpp
  tests/sources/unpack_tilize_perf.cpp
  tests/sources/unpack_transpose_perf.cpp
  tt_llk_blackhole/common/inc/ckernel.h
  tt_llk_wormhole_b0/common/inc/ckernel.h
Due: none

Fix reduce scaler CB format for layernorm post all-gather
  ttnn/cpp/ttnn/operations/normalization/layernorm_distributed/device/layernorm_post_all_gather_program_factory.cpp
Due: block-ttnn-pybind-changes

Add missing kernel_lib headers to jit_api install FILE_SET
  ttnn/CMakeLists.txt
Due: block-ttnn-pybind-changes

rebase fixup - cbs
  ttnn/cpp/ttnn/operations/normalization/groupnorm/device/kernels/compute/groupnorm.cpp
  ttnn/cpp/ttnn/operations/normalization/groupnorm/device/kernels/compute/groupnorm_sharded_v2.cpp
Due: block-ttnn-pybind-changes

Implement KV sharing, BF16 precision, and prefill validation for Gemma 4 E4B
  models/demos/gemma4/tests/generate_reference_no_gating.py
  models/demos/gemma4/tests/reference_outputs_no_gating/metadata.json
  models/demos/gemma4/tests/test_gemma4_prefill.py
  models/demos/gemma4/tests/test_perlayer_compare.py
  models/demos/gemma4/tt/gemma4_attention.py
  models/demos/gemma4/tt/gemma4_model.py
  models/demos/gemma4/tt/model_config.py
Due: none

Remove copy_tile_helpers, common_types, and stale plan docs; cleanup
  ttnn/CMakeLists.txt
  ttnn/cpp/ttnn/kernel_lib/common_types.hpp
  ttnn/cpp/ttnn/kernel_lib/copy_tile_helpers.hpp
  ttnn/cpp/ttnn/kernel_lib/copy_tile_helpers.inl
  ttnn/cpp/ttnn/kernel_lib/reduce_api_improvements.md
  ttnn/cpp/ttnn/kernel_lib/reduce_asserts_plan.md
  ttnn/cpp/ttnn/kernel_lib/reduce_helpers_compute.hpp
  ttnn/cpp/ttnn/kernel_lib/reduce_helpers_plan.md
  ttnn/cpp/ttnn/kernel_lib/reduce_includes_analysis.md
  ttnn/cpp/ttnn/kernel_lib/reduce_scaler_helpers_plan.md
  ttnn/cpp/ttnn/kernel_lib/tile_shape_migration.md
Due: block-ttnn-pybind-changes, detect-legacy-device-op

Update copyright year to 2026 for new files
  ttnn/cpp/ttnn/kernel_lib/cb_helpers_compute.hpp
  ttnn/cpp/ttnn/kernel_lib/cb_helpers_compute.inl
  ttnn/cpp/ttnn/kernel_lib/cb_helpers_dataflow.hpp
  ttnn/cpp/ttnn/kernel_lib/cb_helpers_dataflow.inl
  ttnn/cpp/ttnn/kernel_lib/l1_helpers.hpp
  ttnn/cpp/ttnn/kernel_lib/reduce_common.hpp
  ttnn/cpp/ttnn/kernel_lib/reduce_helpers_compute.hpp
  ttnn/cpp/ttnn/kernel_lib/reduce_helpers_compute.inl
  ttnn/cpp/ttnn/kernel_lib/reduce_helpers_dataflow.hpp
  ttnn/cpp/ttnn/kernel_lib/reduce_helpers_dataflow.inl
  ttnn/cpp/ttnn/operations/reduction/generic/device/kernels/compute/reduce.cpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

pi0: remove unnecessary ReadDeviceProfiler calls
  models/experimental/pi0/tt/ttnn_gemma.py
  models/experimental/pi0/tt/ttnn_paligemma.py
  models/experimental/pi0/tt/ttnn_prefix.py
  models/experimental/pi0/tt/ttnn_siglip.py
  models/experimental/pi0/tt/ttnn_suffix.py
Due: none

pi0: Blackhole port fixes
  models/experimental/pi0/common/weight_loader.py
  models/experimental/pi0/tt/ttnn_siglip.py
Due: none

Claude code review fixes
  docs/reduce_helpers_migration_plan.md
  softmax_preexisting_failures.md
  ttnn/cpp/ttnn/kernel_lib/docs/tilize_untilize_reference.md
  ttnn/cpp/ttnn/operations/normalization/groupnorm/device/kernels/compute/groupnorm.cpp
  ttnn/cpp/ttnn/operations/normalization/layernorm/device/layernorm_analysis.md
  ttnn/cpp/ttnn/operations/normalization/softmax/device/softmax_program_factory_attention_optimized.cpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/sdpa_analysis.md
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/sdpa_pipeline_analysis.md
  ttnn/ttnn/__init__.py
Due: block-ttnn-pybind-changes

Improve Gemma 4 E4B accuracy and add decode-mode KV sharing
  models/demos/gemma4/tests/test_gemma4_config.py
  models/demos/gemma4/tests/test_gemma4_prefill.py
  models/demos/gemma4/tt/gemma4_attention.py
  models/demos/gemma4/tt/gemma4_decoder.py
  models/demos/gemma4/tt/gemma4_model.py
  models/demos/gemma4/tt/model_config.py
Due: none

Add optimizer compute kernel configs to Gemma4Attention (use HiFi2 for matmuls)
  models/demos/gemma4/tt/gemma4_attention.py
Due: none

pi0: pre-compute and cache embeddings across denoising steps
  models/experimental/pi0/tt/ttnn_pi0_model.py
  models/experimental/pi0/tt/ttnn_suffix.py
Due: none

pi0: bfloat8_b weight optimizations
  models/experimental/pi0/tt/ttnn_paligemma.py
  models/experimental/pi0/tt/ttnn_siglip.py
Due: none

pi0: Gemma attention + MLP optimizations (189ms -> 142ms)
  models/experimental/pi0/tt/ttnn_gemma.py
Due: none

Update Gemma 4 op fidelity comments: MLP uses HIFI4, attention uses HiFi2
  models/demos/gemma4/tt/model_config.py
Due: none

Use optimizer KV cache dtype in Gemma4Attention instead of hardcoded BFP8
  models/demos/gemma4/tt/gemma4_attention.py
Due: none

Fix ProportionalRopeSetup.get_rot_mats for decode mode
  models/demos/gemma4/tt/gemma4_model.py
Due: none

build(ttnn): split kernel_lib packaging into its own cmake block
  ttnn/CMakeLists.txt
  ttnn/cpp/ttnn/kernel_lib/CMakeLists.txt
Due: block-ttnn-pybind-changes

fix(layernorm): keep large tensor reduce path on sum
  ttnn/cpp/ttnn/operations/normalization/layernorm/device/kernels/compute/layernorm_large_tensor.cpp
Due: block-ttnn-pybind-changes

Fix merge artifacts: add hardsigmoid to sfpu_split_includes.h and unary_op_utils.cpp dispatch
  tt_metal/hw/inc/api/compute/eltwise_unary/sfpu_split_includes.h
  ttnn/cpp/ttnn/operations/eltwise/unary/common/unary_op_utils.cpp
Due: block-ttnn-pybind-changes

Currently works
  models/demos/deepseek_v3_d_p/tests/pcc/test_ttnn_moe.py
  triage.txt
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/combine/device/combine_program_factory.cpp
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/combine/device/kernels/compute/untilize_combine.cpp
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/combine/device/kernels/dataflow/reader_combine.cpp
Due: block-ttnn-pybind-changes

Fix all_gather_matmul_async num_transfers for non-8-device rings
  ttnn/cpp/ttnn/operations/experimental/ccl/all_gather_matmul_async/device/all_gather_matmul_async_program_factory.cpp
Due: block-ttnn-pybind-changes

Add max_performance and ultra_performance optimization presets for Qwen3-32B P300x2
  models/tt_transformers/tt/model_config.py
Due: none

Scope P300x2 optimizations to not affect other device configurations
  models/tt_transformers/tt/model_config.py
  ttnn/cpp/ttnn/operations/experimental/ccl/all_gather_matmul_async/device/all_gather_matmul_async_program_factory.cpp
Due: block-ttnn-pybind-changes

[brain] Align tt-train clang-tidy config with parent project [skip ci] (#39907)
  .github/workflows/code-analysis.yaml
  CMakePresets.json
  third_party/CMakeLists.txt
  tt-train/.clang-tidy
  tt-train/cmake/dependencies.cmake
Due: none

fix(ci): point model trace validation to correct impl workflow
  .github/workflows/ttnn-model-trace-sweep-validation.yaml
Due: none

docs(sweep): update sweep framework docs to reflect current architecture
  tests/README.md
  tests/sweep_framework/README.md
  tests/sweep_framework/framework/compute_sweep_matrix_README.md
Due: none

docs(sweep): align routing docs with CI hw grouping
  tests/sweep_framework/README.md
  tests/sweep_framework/framework/compute_sweep_matrix_README.md
Due: none

make group-by a selectable option
  .github/workflows/ttnn-run-sweeps.yaml
Due: none

refactor(ci): route validation sweep matrix via shared policy
  .github/workflows/ttnn-model-trace-sweep-validation-impl.yaml
  tests/sweep_framework/framework/compute_validation_sweep_matrix.py
Due: none

Fix Gemma 4 E4B decode mode: KV sharing, SDPA sharding, and program config
  models/demos/gemma4/tests/test_gemma4_decode.py
  models/demos/gemma4/tt/gemma4_attention.py
  models/demos/gemma4/tt/gemma4_model.py
  models/demos/gemma4/tt/model_config.py
Due: none

fix(ci): pass TEST_GROUP_NAME in model trace validation runs
  .github/workflows/ttnn-model-trace-sweep-validation-impl.yaml
Due: none
