Repository tenstorrent/tt-metal: changes, and which pre-commit hooks are due for each by the changed paths.
All: block-ttnn-pybind-changes, detect-legacy-device-op, validate-golden-csv-columns

block-ttnn-pybind-changes:
  name: Prevent edits to frozen pybind11 sources under ttnn
  entry: python3 scripts/block_ttnn_pybind_changes.py
  language: system
  pass_filenames: true

detect-legacy-device-op:
  name: Detect legacy device operation classes in newly added files
  entry: python3 scripts/detect_legacy_device_op.py --check-new-only
  language: system
  pass_filenames: true
  require_serial: true

validate-golden-csv-columns:
  name: Validate golden bandwidth CSV column headers
  entry: bash .github/scripts/utils/validate_golden_csv_columns.sh
  language: system
  pass_filenames: false

Validate CFG GPR indices and WRCFG source alignment
  tt_metal/tt-llk/tt_llk_blackhole/llk_lib/hal/cfg/access.h
  tt_metal/tt-llk/tt_llk_blackhole/llk_lib/hal/cfg/detail/write_backend.h
Due: none

[Bug fix] concat: keep FLOAT32 exact in height-sharded width concat
  tests/ttnn/unit_tests/operations/data_movement/test_concat.py
  ttnn/cpp/ttnn/operations/data_movement/concat/device/concat_s2s_tiled_program_factory.cpp
Due: block-ttnn-pybind-changes

tt-project: t127 notes, u1 result, u2/u3 queued on blx01
  NOTES.md
Due: none

tt-project: t127 blx01 driver for the 4x8 ups_initial blocking A/Bs
  tmp/blx01/t127/driver.sh
  tmp/blx01/t127/run127.sh
  tmp/blx01/t127/setup.sh
  tmp/blx01/t127/test_t119_4x8.py
Due: none

tt-project: t155 move the vol2col CB-fix check to blx01, driver started
  tt-project/t155/NOTES.md
  tt-project/t155/blx01/driver.sh
  tt-project/t155/blx01/fix.diff
  tt-project/t155/blx01/run155.sh
  tt-project/t155/blx01/setup155.sh
Due: none

blackhole llk reduce: moreh softmax over H reduces each column, and SDPA decode each row sum, with one block call: both faster in device time, outputs bit identical
  ttnn/cpp/ttnn/kernel_lib/reduce_helpers_compute.inl
  ttnn/cpp/ttnn/operations/moreh/moreh_softmax/device/kernels/moreh_softmax_h.cpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/kernels/compute/compute_common.hpp
  ttnn/cpp/ttnn/operations/transformer/sdpa_decode/device/kernels/compute/sdpa_flash_decode.cpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

Address review: let an empty input through the sub_core_grids height check
  tests/ttnn/unit_tests/operations/data_movement/test_untilize_with_unpadding.py
  ttnn/cpp/ttnn/operations/data_movement/untilize/device/untilize_device_operation.cpp
Due: block-ttnn-pybind-changes

Call the device operation's validation and output spec from untilize's empty path too
  ttnn/cpp/ttnn/operations/data_movement/untilize/device/untilize_device_operation.cpp
  ttnn/cpp/ttnn/operations/data_movement/untilize/untilize.cpp
Due: block-ttnn-pybind-changes

Add the coverage raised in review: trace capture, sharded, mesh topology, rank 0
  tests/ttnn/unit_tests/operations/data_movement/test_untilize_with_unpadding.py
Due: none

Address review: make the WIDTH_SHARDED batch-dimension loop rank-safe
  tests/ttnn/unit_tests/operations/data_movement/test_untilize_with_unpadding.py
  ttnn/cpp/ttnn/operations/data_movement/untilize_with_unpadding/device/untilize_with_unpadding_device_operation.cpp
Due: block-ttnn-pybind-changes

Address review: extract per_core_extent, drop the historical comments
  ttnn/cpp/ttnn/operations/data_movement/untilize_with_unpadding/device/untilize_with_unpadding_device_operation.cpp
Due: block-ttnn-pybind-changes

[Bug fix] untilize: return the empty output instead of a program with no work
  tests/ttnn/unit_tests/operations/data_movement/test_untilize_with_unpadding.py
  ttnn/cpp/ttnn/operations/data_movement/untilize/untilize.cpp
  ttnn/cpp/ttnn/operations/data_movement/untilize_with_unpadding/untilize_with_unpadding.cpp
Due: block-ttnn-pybind-changes

Address review: keep the zero-extent fallback off the non-empty path
  tests/ttnn/unit_tests/operations/data_movement/test_untilize_with_unpadding.py
  ttnn/cpp/ttnn/operations/data_movement/untilize_with_unpadding/device/untilize_with_unpadding_device_operation.cpp
Due: block-ttnn-pybind-changes

Address review: match the device operation's validation and output spec on the empty path
  tests/ttnn/unit_tests/operations/data_movement/test_untilize_with_unpadding.py
  ttnn/cpp/ttnn/operations/data_movement/untilize/untilize.cpp
  ttnn/cpp/ttnn/operations/data_movement/untilize_with_unpadding/untilize_with_unpadding.cpp
Due: block-ttnn-pybind-changes

Address review: rename the _one_core test helper to _two_cores
  tests/ttnn/unit_tests/operations/data_movement/test_untilize_with_unpadding.py
Due: none

Call the device operation's validation and output spec from the empty path
  ttnn/cpp/ttnn/operations/data_movement/untilize_with_unpadding/device/untilize_with_unpadding_device_operation.cpp
  ttnn/cpp/ttnn/operations/data_movement/untilize_with_unpadding/untilize_with_unpadding.cpp
Due: block-ttnn-pybind-changes

blackhole llk topk: the first swaps of the phase 2, phase 3 and steps 4 to 1 groups run under their loads
  tt_metal/tt-llk/tt_llk_blackhole/common/inc/sfpu/ckernel_sfpu_topk.h
Due: none

ttnn sdpa streaming compute: keep the per-tile packs, the block packs measured slower on causal prefill
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/kernels/compute/compute_streaming.hpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

deepseek prefill gate: under stable_sort the per-group sort runs the plain network and the grouped final top-k the rank-tag engine
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/moe_grouped_topk/device/kernels/compute/moe_gate_common_compute.hpp
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/moe_grouped_topk/device/kernels/compute/moe_grouped_topk.cpp
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/moe_grouped_topk/device/kernels/dataflow/writer_moe_grouped_topk.cpp
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/moe_grouped_topk/device/moe_grouped_topk_program_factory.cpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

blackhole llk topk_xl: the step 5 swaps of the stride-16 sort_len_32 groups run under their loads
  tt_metal/tt-llk/tt_llk_blackhole/common/inc/sfpu/experimental/ckernel_sfpu_topk_xl.h
Due: none

topk_large_indices: chunks after a row's first set up only the copy
  ttnn/cpp/ttnn/operations/experimental/topk_large_indices/device/kernels/compute.cpp
Due: block-ttnn-pybind-changes

sampling: on Blackhole the stable top-k stage sorts fused keys in a 32-bit DEST section
  ttnn/cpp/ttnn/operations/reduction/sampling/device/kernels/compute/sampling.cpp
Due: block-ttnn-pybind-changes

tt-project: t155 j1 passed on blx01 without hang, j2 and PCC pending
  tt-project/t155/NOTES.md
Due: none

[LLK] [Test Only] SFPU ULP P6 — re-measure the enrolled ops over the whole format (#57235)
  tt_metal/tt-llk/tests/SFPU_ULP.md
  tt_metal/tt-llk/tests/python_tests/helpers/llk_pytest_plugin.py
  tt_metal/tt-llk/tests/python_tests/helpers/sfpu_accuracy_budget.py
  tt_metal/tt-llk/tests/python_tests/helpers/sfpu_accuracy_budget.yaml
  tt_metal/tt-llk/tests/python_tests/helpers/ulp.py
  tt_metal/tt-llk/tests/python_tests/helpers/ulp_sweep.py
  tt_metal/tt-llk/tests/python_tests/helpers/utils.py
  tt_metal/tt-llk/tests/python_tests/test_sfpu_accuracy_budget.py
  tt_metal/tt-llk/tests/python_tests/test_sfpu_binop_scalar.py
  tt_metal/tt-llk/tests/python_tests/test_ulp_sweep.py
Due: none

tt-project: t127 conv3d blocking re-time on blx01, no winner
  NOTES.md
Due: none

Revert the DeepSeek b1 matmul's per-shape split_acc choice: the plain body sums K in a different order, so it changes results
  models/demos/deepseek_v3_b1/unified_kernels/matmul.hpp
Due: none

tt-project: t155 rerun j1/j2 on blx01 with the SWEEP_CHECK_ALL test source
  tt-project/t155/NOTES.md
  tt-project/t155/blx01/driver.sh
  tt-project/t155/blx01/run155.sh
  tt-project/t155/blx01/setup155.sh
Due: none

tt-project: t155 note transient lld abort and driver restart
  tt-project/t155/NOTES.md
Due: none

[Bug fix] untilize: return the empty output for a zero-volume input (#58900)
  tests/ttnn/unit_tests/operations/data_movement/test_untilize_with_unpadding.py
  ttnn/cpp/ttnn/operations/data_movement/untilize/device/untilize_device_operation.cpp
  ttnn/cpp/ttnn/operations/data_movement/untilize/untilize.cpp
  ttnn/cpp/ttnn/operations/data_movement/untilize_with_unpadding/device/untilize_with_unpadding_device_operation.cpp
  ttnn/cpp/ttnn/operations/data_movement/untilize_with_unpadding/untilize_with_unpadding.cpp
Due: block-ttnn-pybind-changes

Implement matmul_decode for large K, small N
  models/experimental/deepseek_v4_flash/tests/decode/test_full_model_decode_demo.py
  models/experimental/deepseek_v4_flash/tt/decode/decode_prefetch.py
  models/experimental/deepseek_v4_flash/tt/decode/decoder_layer.py
  models/experimental/deepseek_v4_flash/tt/decode/hyperconnection.py
  models/experimental/deepseek_v4_flash/tt/layers.py
  tests/ttnn/nightly/unit_tests/operations/matmul/test_matmul_decode_large_k.py
  tt_metal/hw/ckernels/blackhole/metal/llk_api/experimental/llk_sfpu/llk_math_sinkhorn.h
  ttnn/cpp/ttnn/operations/experimental/deepseek/hyperconnection/device/fused_pre_post_device_operation.cpp
  ttnn/cpp/ttnn/operations/experimental/deepseek/hyperconnection/device/fused_pre_post_program_factory.cpp
  ttnn/cpp/ttnn/operations/experimental/deepseek/hyperconnection/device/fused_single_user_device_operation.cpp
  ttnn/cpp/ttnn/operations/experimental/deepseek/hyperconnection/device/fused_single_user_program_factory.cpp
  ttnn/cpp/ttnn/operations/experimental/deepseek/hyperconnection/device/kernels/dataflow/reader_fused_pre_post.cpp
  ttnn/cpp/ttnn/operations/experimental/deepseek/hyperconnection/device/kernels/dataflow/reader_fused_single_user.cpp
  ttnn/cpp/ttnn/operations/experimental/matmul_decode/device/kernels/compute/compute_large_k_tree_reduce.cpp
  ttnn/cpp/ttnn/operations/experimental/matmul_decode/device/kernels/dataflow/reader_large_k_tree_reduce.cpp
  ttnn/cpp/ttnn/operations/experimental/matmul_decode/device/kernels/dataflow/writer_large_k_tree_reduce.cpp
  ttnn/cpp/ttnn/operations/experimental/matmul_decode/device/large_k_tree_reduce_program_factory.cpp
  ttnn/cpp/ttnn/operations/experimental/matmul_decode/device/matmul_decode_large_k_device_operation.cpp
  ttnn/cpp/ttnn/operations/experimental/matmul_decode/device/matmul_decode_large_k_device_operation.hpp
  ttnn/cpp/ttnn/operations/experimental/matmul_decode/matmul_decode.cpp
  ttnn/cpp/ttnn/operations/experimental/matmul_decode/matmul_decode.hpp
  ttnn/cpp/ttnn/operations/experimental/matmul_decode/matmul_decode_nanobind.cpp
  ttnn/cpp/ttnn/operations/experimental/matmul_decode/sources.cmake
Due: block-ttnn-pybind-changes, detect-legacy-device-op

experiment: Versim BRISC polls every 1 us, waits on overlay completion during a kernel
  tt_metal/tt-llk/tests/helpers/src/brisc.cpp
  tt_metal/tt-llk/tests/python_tests/helpers/test_config.py
Due: none

experiment: Versim harness (lpremovic/versim-harness) on #58068
  tt_metal/tt-llk/tests/VERSIM.md
  tt_metal/tt-llk/tests/python_tests/helpers/device.py
  tt_metal/tt-llk/tests/python_tests/helpers/hardware_controller.py
  tt_metal/tt-llk/tests/python_tests/helpers/llk_pytest_plugin.py
  tt_metal/tt-llk/tests/python_tests/helpers/target_config.py
  tt_metal/tt-llk/tests/python_tests/helpers/test_config.py
Due: none

experiment: 2 h simulator timeouts
  tt_metal/tt-llk/tests/python_tests/helpers/target_config.py
Due: none

K2-Horizon-7B: decoder test against the checkpoint's HF layer
  models/demos/k2_horizon_7b_qb2/tests/conftest.py
  models/demos/k2_horizon_7b_qb2/tests/reference.py
  models/demos/k2_horizon_7b_qb2/tests/test_decoder.py
Due: none

K2-Horizon-7B: ship only the serving implementation
  models/demos/k2_horizon_7b_qb2/README.md
  models/demos/k2_horizon_7b_qb2/doc/full_model/hf_qualitative.json
  models/demos/k2_horizon_7b_qb2/doc/full_model/stress_hf_topk.json
  models/demos/k2_horizon_7b_qb2/doc/functional_decoder/reference_control.json
  models/demos/k2_horizon_7b_qb2/doc/functional_decoder/weight_stats.json
  models/demos/k2_horizon_7b_qb2/readiness_aime24_chat.refpt
  models/demos/k2_horizon_7b_qb2/tests/benchmark_order_hook/sitecustomize.py
  models/demos/k2_horizon_7b_qb2/tests/benchmark_reasoning_parser.py
  models/demos/k2_horizon_7b_qb2/tests/multichip_candidates.py
  models/demos/k2_horizon_7b_qb2/tests/optimized_candidates.py
  models/demos/k2_horizon_7b_qb2/tests/optimized_multichip_candidates.py
  models/demos/k2_horizon_7b_qb2/tests/run_functional.py
  models/demos/k2_horizon_7b_qb2/tests/run_fused.py
  models/demos/k2_horizon_7b_qb2/tests/run_multichip.py
  models/demos/k2_horizon_7b_qb2/tests/run_multichip_long_context.py
  models/demos/k2_horizon_7b_qb2/tests/run_optimized.py
  models/demos/k2_horizon_7b_qb2/tests/runtime_audit.py
  models/demos/k2_horizon_7b_qb2/tests/sweep_optimized.py
  models/demos/k2_horizon_7b_qb2/tests/test_functional_decoder.py
  models/demos/k2_horizon_7b_qb2/tests/test_fused_decoder.py
  models/demos/k2_horizon_7b_qb2/tests/test_optimized_decoder.py
  models/demos/k2_horizon_7b_qb2/tests/verify_benchmark_chat_tokens.py
  models/demos/k2_horizon_7b_qb2/tests/verify_long_reference.py
  models/demos/k2_horizon_7b_qb2/tt/functional_decoder.py
  models/demos/k2_horizon_7b_qb2/tt/fused_decoder.py
Due: none

K2-Horizon-7B: serve host-sampled requests without an opt-in
  models/demos/k2_horizon_7b_qb2/README.md
  models/demos/k2_horizon_7b_qb2/tt/benchmark_timing.py
  models/demos/k2_horizon_7b_qb2/tt/generator_vllm.py
Due: none

#59596: L1 budget fix
  tests/ttnn/nightly/unit_tests/operations/experimental/quasar/test_tm_ops.py
  ttnn/cpp/ttnn/operations/experimental/quasar/untilize_with_unpadding/untilize_with_unpadding.cpp
Due: block-ttnn-pybind-changes

all_gather_async: readers drain their ready credits instead of resetting
  ttnn/cpp/ttnn/operations/experimental/ccl/all_gather_async/device/kernels/minimal_default_reader.cpp
Due: block-ttnn-pybind-changes

all_gather_minimal_matmul_async: exchange Ring entry arrivals before the activation gather
  ttnn/cpp/ttnn/operations/experimental/ccl/all_gather_minimal_matmul_async/device/all_gather_minimal_matmul_async_program_factory.cpp
  ttnn/cpp/ttnn/operations/experimental/ccl/all_gather_minimal_matmul_async/device/kernels/dm_in0_sender.cpp
Due: block-ttnn-pybind-changes

K2-Horizon-7B: follow #59348's credit-consumption approach for the all-gather fixes
  ttnn/cpp/ttnn/operations/experimental/ccl/all_gather_async/device/all_gather_async_default_program_factory.cpp
  ttnn/cpp/ttnn/operations/experimental/ccl/all_gather_async/device/kernels/minimal_default_reader.cpp
  ttnn/cpp/ttnn/operations/experimental/ccl/all_gather_minimal_matmul_async/device/kernels/dm_in0_sender.cpp
Due: block-ttnn-pybind-changes

Path conditions:
  block-ttnn-pybind-changes: any of: ^ttnn/
  detect-legacy-device-op: any of: ^ttnn/.*\.hpp$
  validate-golden-csv-columns: any of: ^tests/tt_metal/tt_metal/perf_microbenchmark/routing/golden/.*bandwidth.*\.csv$
