Repository tenstorrent/tt-metal: changes, and which pre-commit hooks are due for each by the changed paths.
All: block-ttnn-pybind-changes, detect-legacy-device-op, validate-golden-csv-columns

block-ttnn-pybind-changes:
  name: Prevent edits to frozen pybind11 sources under ttnn
  entry: python3 scripts/block_ttnn_pybind_changes.py
  language: system
  pass_filenames: true

detect-legacy-device-op:
  name: Detect legacy device operation classes in newly added files
  entry: python3 scripts/detect_legacy_device_op.py --check-new-only
  language: system
  pass_filenames: true
  require_serial: true

validate-golden-csv-columns:
  name: Validate golden bandwidth CSV column headers
  entry: bash .github/scripts/utils/validate_golden_csv_columns.sh
  language: system
  pass_filenames: false

Suppress noisy bug-check comments on automatic (non-actionable) runs
  .github/bug_checker/__main__.py
  .github/bug_checker/orchestrator.py
  .github/bug_checker/tests/test_orchestrator.py
  .github/workflows/bug-check.yaml
Due: none

perf_debug: record why the 5 us idle probe cap is load-bearing
  tt_metal/tools/profiler/perf_debug_receiver.cpp
Due: none

[skip ci] Suppress noisy bug-check comments on automatic (non-actionable) runs (#54099)
  .github/bug_checker/__main__.py
  .github/bug_checker/orchestrator.py
  .github/bug_checker/tests/test_orchestrator.py
  .github/workflows/bug-check.yaml
Due: none

[ttnn][math] Improve erfinv precision using Newton-Raphson
  tests/sweep_framework/sweeps/eltwise/unary/erfinv/erfinv.py
  tests/ttnn/unit_tests/operations/eltwise/test_erfinv_accurate.py
  tt_metal/hw/ckernels/blackhole/metal/llk_api/llk_sfpu/ckernel_sfpu_erf.h
  tt_metal/hw/ckernels/blackhole/metal/llk_api/llk_sfpu/ckernel_sfpu_erfinv.h
  tt_metal/hw/ckernels/wormhole_b0/metal/llk_api/llk_sfpu/ckernel_sfpu_erf.h
  tt_metal/hw/ckernels/wormhole_b0/metal/llk_api/llk_sfpu/ckernel_sfpu_erfinv.h
  tt_metal/hw/inc/api/compute/eltwise_unary/erfinv.h
  tt_metal/tt-llk/tests/helpers/include/sfpu_operations.h
Due: none

[CosyVoice] drop docs/logs/README.md -- it described files git never carried
  models/demos/cosyvoice/docs/logs/README.md
Due: none

[ttnn] logaddexp2: overflow-safe fused SFPU implementation
  tests/ttnn/unit_tests/operations/eltwise/test_binary_fp32.py
  tt_metal/hw/ckernels/blackhole/metal/llk_api/llk_sfpu/ckernel_sfpu_logaddexp2.h
  tt_metal/hw/ckernels/wormhole_b0/metal/llk_api/llk_sfpu/ckernel_sfpu_logaddexp2.h
  tt_metal/hw/inc/api/compute/logaddexp2.h
  tt_metal/tt-llk/tests/helpers/include/sfpu_operations.h
  tt_metal/tt-llk/tests/python_tests/helpers/golden_generators.py
  tt_metal/tt-llk/tests/python_tests/helpers/llk_params.py
  tt_metal/tt-llk/tests/python_tests/helpers/sfpu_domains.py
  tt_metal/tt-llk/tests/python_tests/test_sfpu_binary.py
  tt_metal/tt-llk/tt_llk_blackhole/common/inc/ckernel_defs.h
  tt_metal/tt-llk/tt_llk_wormhole_b0/common/inc/ckernel_defs.h
  ttnn/cpp/ttnn/operations/eltwise/binary_ng/device/binary_ng_utils.cpp
  ttnn/cpp/ttnn/operations/eltwise/binary_ng/device/binary_ng_utils.hpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

fix(sfpu): xielu neg-exp underflow returns 0 instead of garbage reconstruction
  tests/ttnn/unit_tests/operations/eltwise/test_activation.py
  tt_metal/hw/ckernels/blackhole/metal/llk_api/llk_sfpu/ckernel_sfpu_xielu.h
  tt_metal/hw/ckernels/wormhole_b0/metal/llk_api/llk_sfpu/ckernel_sfpu_xielu.h
Due: none

fix(sfpu): softplus must take the non-linear branch at input*beta == threshold
  tests/ttnn/unit_tests/operations/eltwise/test_activation.py
  tt_metal/hw/ckernels/blackhole/metal/llk_api/llk_sfpu/ckernel_sfpu_softplus.h
  tt_metal/hw/ckernels/quasar/metal/llk_api/llk_sfpu/ckernel_sfpu_softplus.h
  tt_metal/hw/ckernels/wormhole_b0/metal/llk_api/llk_sfpu/ckernel_sfpu_softplus.h
Due: none

ttnn: make mcast runtime bases template-owned
  helper_design/mcast_pipe/README.md
  helper_design/mcast_pipe/changelog.md
  helper_design/mcast_pipe/migration/ledger.json
  helper_design/mcast_pipe/migration/ledger.md
  helper_design/mcast_pipe/migration/test_map.json
  helper_design/mcast_pipe/migration_feedback.md
  helper_design/mcast_pipe/migration_feedback_tracker.md
  helper_design/mcast_pipe/migration_guardrails.md
  tests/ttnn/unit_tests/kernel_lib/test_mcast_pipe_source_audit.py
  ttnn/cpp/ttnn/kernel_lib/mcast_pipe.hpp
  ttnn/cpp/ttnn/operations/experimental/conv3d/device/conv3d_program_factory.cpp
  ttnn/cpp/ttnn/operations/experimental/conv3d/device/kernels/writer.cpp
  ttnn/cpp/ttnn/operations/matmul/device/factory/matmul_multicore_reuse_mcast_1d_program_factory.cpp
  ttnn/cpp/ttnn/operations/matmul/device/factory/matmul_multicore_reuse_mcast_2d_program_factory.cpp
  ttnn/cpp/ttnn/operations/matmul/device/kernels/dataflow/reader_bmm_tile_layout_in0_sender_padding.cpp
  ttnn/cpp/ttnn/operations/matmul/device/kernels/dataflow/reader_bmm_tile_layout_in0_sender_receiver_padding_block_sharded.cpp
  ttnn/cpp/ttnn/operations/matmul/device/kernels/dataflow/reader_bmm_tile_layout_in1_receiver_writer_padding.cpp
  ttnn/cpp/ttnn/operations/matmul/device/kernels/dataflow/reader_bmm_tile_layout_in1_sender_writer_padding.cpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

ttnn: resolve remaining mcast migration feedback
  helper_design/mcast_pipe/README.md
  helper_design/mcast_pipe/changelog.md
  helper_design/mcast_pipe/migration/ledger.json
  helper_design/mcast_pipe/migration/ledger.md
  helper_design/mcast_pipe/migration_feedback.md
  helper_design/mcast_pipe/migration_feedback_tracker.md
  helper_design/mcast_pipe/migration_guardrails.md
  tests/ttnn/unit_tests/kernel_lib/test_mcast_pipe_source_audit.py
  ttnn/cpp/ttnn/operations/conv/conv2d/device/conv2d_op_sharded_program_factory.cpp
  ttnn/cpp/ttnn/operations/conv/conv2d/device/conv2d_op_width_sharded_program_factory.cpp
  ttnn/cpp/ttnn/operations/conv/conv2d/device/kernels/activation_reader_width_sharded.cpp
  ttnn/cpp/ttnn/operations/conv/conv2d/device/kernels/reader_writer_tiled_out_1d_mcast_receiver_conv_weights_tiled_col_to_rm_blocks.cpp
  ttnn/cpp/ttnn/operations/conv/conv2d/device/kernels/reader_writer_tiled_out_1d_mcast_sender_conv_weights_tiled_col_to_rm_blocks.cpp
  ttnn/cpp/ttnn/operations/conv/conv2d/device/kernels/writer_tiled_out_2d_mcast_receiver_conv_weights_tiled_col_to_rm_blocks.cpp
  ttnn/cpp/ttnn/operations/conv/conv2d/device/kernels/writer_tiled_out_2d_mcast_sender_conv_weights_tiled_col_to_rm_blocks.cpp
Due: block-ttnn-pybind-changes

sfpi: accurate erfinv path via Giles piecewise rational fit
  tt_metal/hw/ckernels/blackhole/metal/llk_api/llk_sfpu/ckernel_sfpu_erfinv.h
  tt_metal/hw/ckernels/wormhole_b0/metal/llk_api/llk_sfpu/ckernel_sfpu_erfinv.h
Due: none

Revert "[Bug fix] Fix active-ERISC kernel link: define __global_pointer$ unconditionally (#53968)"
  tt_metal/hw/toolchain/main.ld
Due: none

perf_automation: one row, one byte count -- and register the fact so the next one fails a test
  models/experimental/perf_automation/cc_optimize/summary.py
  models/experimental/perf_automation/tests/test_one_row_one_byte_count.py
  models/experimental/perf_automation/tests/test_single_source_of_truth.py
Due: none

corpus: record-hoist knob prose — lane FW runtime-trip tile-loop generalization + measured sdpa_reduce recovery
  tt_metal/tt-llk/tests/corpus/sweep_2x2.py
Due: none

sfpi: two-branch erfc with dedicated positive-side accurate path
  tt_metal/hw/ckernels/blackhole/metal/llk_api/llk_sfpu/ckernel_sfpu_erfc.h
  tt_metal/hw/ckernels/wormhole_b0/metal/llk_api/llk_sfpu/ckernel_sfpu_erfc.h
Due: none

perf_automation: one place to ask what a stage reads
  models/experimental/perf_automation/cc_optimize/summary.py
  models/experimental/perf_automation/tests/test_a_stage_read_set_is_measured_not_inferred.py
  models/experimental/perf_automation/tests/test_one_row_one_byte_count.py
Due: none

test(ttnn): cover remainder large-ratio residual correction
  tests/ttnn/unit_tests/operations/eltwise/test_remainder_large_ratio.py
Due: none

fix(sfpi): normalize negative remainder residuals
  tt_metal/hw/ckernels/wormhole_b0/metal/llk_api/llk_sfpu/ckernel_sfpu_remainder.h
Due: none

fix(sfpi): normalize negative remainder residuals on blackhole
  tt_metal/hw/ckernels/blackhole/metal/llk_api/llk_sfpu/ckernel_sfpu_remainder.h
Due: none

Add two new bug_checker rules: program-cache hash collisions and smuggled buffer runtime args
  .github/bug_checker/README.md
  .github/bug_checker/manifest.yaml
  .github/bug_checker/rules/program-cache-hash-collision.md
  .github/bug_checker/rules/smuggled-buffer-runtime-arg.md
Due: none

fix(sfpi): keep remainder correction minimal on Wormhole
  tt_metal/hw/ckernels/wormhole_b0/metal/llk_api/llk_sfpu/ckernel_sfpu_remainder.h
Due: none

fix(sfpi): keep remainder correction minimal on Blackhole
  tt_metal/hw/ckernels/blackhole/metal/llk_api/llk_sfpu/ckernel_sfpu_remainder.h
Due: none

test(ttnn): use representable large-ratio boundary values
  tests/ttnn/unit_tests/operations/eltwise/test_remainder_large_ratio.py
Due: none

Add LLK stale-config, shard/layout, and override-rebuild bug_checker rules
  .github/bug_checker/README.md
  .github/bug_checker/manifest.yaml
  .github/bug_checker/rules/llk-stale-hw-config-state.md
  .github/bug_checker/rules/op-shard-layout-validation.md
  .github/bug_checker/rules/override-rebuild-in-cache-hit.md
  .github/bug_checker/rules/program-cache-hash-collision.md
  .github/bug_checker/rules/smuggled-buffer-runtime-arg.md
Due: none

sfpi: normalize negative residuals in remainder reduction
  tt_metal/hw/ckernels/blackhole/metal/llk_api/llk_sfpu/ckernel_sfpu_remainder.h
  tt_metal/hw/ckernels/wormhole_b0/metal/llk_api/llk_sfpu/ckernel_sfpu_remainder.h
Due: none

test: large-ratio remainder regression across sign matrix and boundary sweep
  tests/ttnn/unit_tests/operations/eltwise/test_remainder_large_ratio.py
Due: none

perf_automation: the stage axis reaches the target (the second of two missing links)
  models/experimental/perf_automation/cc_optimize/perf_mcp.py
  models/experimental/perf_automation/tests/test_the_stage_axis_reaches_the_target.py
Due: none

perf_automation: run the byte measurement where every stage passes; delete the marks that could not
  models/experimental/perf_automation/agent/trace_replay.py
  models/experimental/perf_automation/agent/tracy_tool.py
  models/experimental/perf_automation/cc_optimize/perf_mcp.py
  models/experimental/perf_automation/cc_optimize/summary.py
  models/experimental/perf_automation/tests/test_a_stage_read_set_is_measured_not_inferred.py
  models/experimental/perf_automation/tests/test_each_stack_gets_its_own_peak.py
Due: none

perf_automation: prove the read-set measurement fires, by driving it
  models/experimental/perf_automation/tests/test_a_stage_read_set_is_measured_not_inferred.py
Due: none

Replace Conv3D feature macros with constexpr args
  metalium-2.0-convolution-ops-migration-learnings.md
  ttnn/cpp/ttnn/operations/experimental/conv3d/device/conv3d_program_factory.cpp
  ttnn/cpp/ttnn/operations/experimental/conv3d/device/kernels/compute.cpp
  ttnn/cpp/ttnn/operations/experimental/conv3d/device/kernels/reader_vol2col.cpp
  ttnn/cpp/ttnn/operations/experimental/conv3d/device/kernels/writer.cpp
Due: block-ttnn-pybind-changes

exp ring joint SDPA: enable for MiniMax-H3, 21% faster than normal ring joint
  models/tt_dit/models/transformers/minimax_h3/attention_minimax_h3.py
  models/tt_dit/tests/models/minimax_h3/common.py
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/exp_ring_joint_sdpa_device_operation.cpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/exp_ring_joint_sdpa_program_factory.cpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/exp_ring_joint_sdpa_program_factory.hpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/kernels/compute/exp_ring_joint_sdpa.cpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/kernels/dataflow/exp_ring_joint_reader.cpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/kernels/dataflow/exp_ring_joint_writer.cpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

exp ring joint SDPA: disconnect dedup follower rows from the fabric MUX
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/exp_ring_joint_sdpa_program_factory.cpp
Due: block-ttnn-pybind-changes

Harden Conv3D resource bindings
  ttnn/cpp/ttnn/operations/experimental/conv3d/device/conv3d_program_factory.cpp
Due: block-ttnn-pybind-changes

perf_automation: the harness owns the profiled run, so a stage mark can reach the capture
  models/experimental/perf_automation/agent/perf_test_gen.py
  models/experimental/perf_automation/agent/trace_replay.py
  models/experimental/perf_automation/agent/tracy_tool.py
  models/experimental/perf_automation/cc_optimize/perf_mcp.py
  models/experimental/perf_automation/cc_optimize/summary.py
  models/experimental/perf_automation/tests/test_a_stage_read_set_is_measured_not_inferred.py
Due: none

Harden Metal2 DFB compatibility diagnostics
  tests/tt_metal/tt_metal/api/metal2_host_api/test_program_spec.cpp
  tt_metal/impl/metal2_host_api/program_spec.cpp
  ttnn/api/ttnn/mesh_device_operation_adapter.hpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

qwen36 spec: trace the fused decode-width verify
  models/demos/blackhole/qwen36/tests/test_spec_decode_host.py
  models/demos/blackhole/qwen36/tt/spec_decode_fused.py
Due: none

changes
  tools/tracy/per_iteration_analysis.py
  tools/tracy/profile_iterations.py
  tt_metal/tools/profiler/perf_counters.hpp
Due: none

Replace Pool2D feature macros with resource aliases
  ttnn/cpp/ttnn/operations/pool/generic/device/kernels/compute/compute_pool_2d.cpp
  ttnn/cpp/ttnn/operations/pool/generic/device/pool_multi_core_program_factory.cpp
  ttnn/cpp/ttnn/operations/pool/pool_utils.cpp
Due: block-ttnn-pybind-changes

tests: catalog entry for perf_facetranspose_x6 (lane FV vehicle landed without one; FO-1 header gate was RED at canon tip) — columns = deriver output, version 1 (lane FY)
  tt_metal/tt-llk/tests/python_tests/helpers/perf/test_schemas.py
Due: none

Clean up migrated mcast offset chaining
  helper_design/mcast_pipe/README.md
  helper_design/mcast_pipe/changelog.md
  helper_design/mcast_pipe/migration/ledger.json
  helper_design/mcast_pipe/migration/ledger.md
  helper_design/mcast_pipe/migration/log/writer_conv3d.md
  helper_design/mcast_pipe/migration_feedback.md
  helper_design/mcast_pipe/migration_feedback_tracker.md
  helper_design/mcast_pipe/migration_guardrails.md
  ttnn/cpp/ttnn/operations/conv/conv2d/device/kernels/activation_reader_width_sharded.cpp
  ttnn/cpp/ttnn/operations/data_movement/move/device/kernels/dataflow/move_interleaved_with_overlap.cpp
  ttnn/cpp/ttnn/operations/data_movement/move/device/kernels/dataflow/move_stick_layout_interleaved_with_overlap.cpp
  ttnn/cpp/ttnn/operations/experimental/conv3d/device/kernels/writer.cpp
  ttnn/cpp/ttnn/operations/matmul/device/kernels/dataflow/reader_bmm_tile_layout_in0_sender_padding.cpp
  ttnn/cpp/ttnn/operations/matmul/device/kernels/dataflow/reader_bmm_tile_layout_in0_sender_receiver_padding_block_sharded.cpp
  ttnn/cpp/ttnn/operations/matmul/device/kernels/dataflow/reader_bmm_tile_layout_in1_receiver_writer_padding.cpp
  ttnn/cpp/ttnn/operations/matmul/device/kernels/dataflow/reader_bmm_tile_layout_in1_sender_writer_padding.cpp
  ttnn/cpp/ttnn/operations/normalization/groupnorm/device/kernels/dataflow/reader_mcast_receiver_unary_gn.cpp
  ttnn/cpp/ttnn/operations/normalization/groupnorm/device/kernels/dataflow/reader_mcast_receiver_unary_sharded_gn_v2.cpp
  ttnn/cpp/ttnn/operations/normalization/groupnorm/device/kernels/dataflow/reader_mcast_sender_unary_gn.cpp
  ttnn/cpp/ttnn/operations/normalization/groupnorm/device/kernels/dataflow/reader_mcast_sender_unary_sharded_gn_v2.cpp
  ttnn/cpp/ttnn/operations/normalization/groupnorm/device/kernels/dataflow/welford_reader_mcast_receiver_unary_gn.cpp
  ttnn/cpp/ttnn/operations/normalization/groupnorm/device/kernels/dataflow/welford_reader_mcast_receiver_unary_sharded_gn_v2.cpp
  ttnn/cpp/ttnn/operations/normalization/groupnorm/device/kernels/dataflow/welford_reader_mcast_sender_unary_gn.cpp
  ttnn/cpp/ttnn/operations/normalization/groupnorm/device/kernels/dataflow/welford_reader_mcast_sender_unary_sharded_gn_v2.cpp
  ttnn/cpp/ttnn/operations/normalization/layernorm/device/kernels/dataflow/reader_mcast_receiver_unary_sharded_ln_post_allgather.cpp
  ttnn/cpp/ttnn/operations/normalization/layernorm/device/kernels/dataflow/reader_mcast_receiver_unary_sharded_ln_pre_allgather.cpp
  ttnn/cpp/ttnn/operations/normalization/layernorm/device/kernels/dataflow/reader_mcast_sender_unary_sharded_ln_post_allgather.cpp
  ttnn/cpp/ttnn/operations/normalization/layernorm/device/kernels/dataflow/reader_mcast_sender_unary_sharded_ln_pre_allgather.cpp
Due: block-ttnn-pybind-changes

Path conditions:
  block-ttnn-pybind-changes: any of: ^ttnn/
  detect-legacy-device-op: any of: ^ttnn/.*\.hpp$
  validate-golden-csv-columns: any of: ^tests/tt_metal/tt_metal/perf_microbenchmark/routing/golden/.*bandwidth.*\.csv$
