Repository tenstorrent/tt-metal: changes, and which pre-commit hooks are due for each by the changed paths.
All: block-ttnn-pybind-changes, detect-legacy-device-op, validate-golden-csv-columns

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v3.2.0
  hooks:
    - id: trailing-whitespace
      exclude: \.patch$
    - id: end-of-file-fixer
      exclude: \.patch$
    - id: check-yaml
      args: ["--unsafe"]
    - id: check-added-large-files
# Using this mirror lets us use mypyc-compiled black, which is about 2x faster
- repo: https://github.com/psf/black-pre-commit-mirror
  rev: 23.10.1
  hooks:
    - id: black
      language_version: python3
- repo: https://github.com/PyCQA/autoflake
  rev: v2.3.1
  hooks:
    - id: autoflake
      args: [--remove-all-unused-imports, --in-place, --recursive, --exclude=__init__.py]
      files: ^models/  # Run only on files in the models directory
- repo: https://github.com/pycqa/isort
  rev: 5.13.2
  hooks:
    - id: isort
      files: ^models/
      exclude: ^models/(demos/llama3_70b_galaxy|experimental)/
- repo: https://github.com/BlankSpruce/gersemi
  rev: 0.16.2
  hooks:
    - id: gersemi
- repo: https://github.com/adrienverge/yamllint.git
  rev: v1.35.1
  hooks:
    - id: yamllint
- repo: https://github.com/pre-commit/mirrors-clang-format
  rev: v19.1.4
  hooks:
    - id: clang-format
      entry: git-clang-format
      require_serial: true
      types_or: [c++, c]
      args: ["--style=file"]
- repo: local
  hooks:
    - id: validate-metalium-includes
      name: validate-metalium-includes
      entry: python3 scripts/validate_api/validate_includes.py tt_metal/api --check-ttnn-forwards
      language: system
      pass_filenames: false
    - id: validate-metalium-deprecation
      name: validate-metalium-deprecation
      entry: python3 scripts/validate_api/validate_deprecation.py tt_metal/api origin/main
      language: system
      pass_filenames: false
- repo: local
  hooks:
    - id: check-torch-imports-in-ttnn
      name: Verify that there is no global torch import in ttnn
      entry: python3 scripts/validate_no_global_torch_imports.py
      language: system
      pass_filenames: false
- repo: local
  hooks:
    - id: block-ttnn-pybind-changes
      name: Prevent edits to frozen pybind11 sources under ttnn
      entry: python3 scripts/block_ttnn_pybind_changes.py
      language: system
      pass_filenames: true
      files: ^ttnn/
- repo: local
  hooks:
    - id: convert-notebooks-to-py
      name: Convert .ipynb to .py for ttnn basic examples
      entry: python3 scripts/convert_notebooks_to_python.py
      language: system
- repo: local
  hooks:
    - id: detect-legacy-device-op
      name: Detect legacy device operation classes in newly added files
      entry: python3 scripts/detect_legacy_device_op.py --check-new-only
      language: system
      types: [file]
      files: ^ttnn/.*\.hpp$
      pass_filenames: true
      require_serial: true
- repo: local
  hooks:
    - id: validate-golden-csv-columns
      name: Validate golden bandwidth CSV column headers
      entry: bash .github/scripts/utils/validate_golden_csv_columns.sh
      language: system
      pass_filenames: false
      files: ^tests/tt_metal/tt_metal/perf_microbenchmark/routing/golden/.*bandwidth.*\.csv$

Remove 'none' update from tt_ops_code_gen branch
  .gitmodules
Due: none

ci(ops-post-commit): add safe.directory /work to fix gitpython dubious-ownership
  .github/workflows/ops-post-commit.yaml
Due: none

scripts: route run_safe_pytest / tt-probe markers to stdout
  scripts/run_safe_pytest.sh
  scripts/tt-probe.sh
Due: none

scripts: heartbeat every 20s while waiting on device lock
  scripts/run_safe_pytest.sh
Due: none

scripts: forward fatal signals to test child to prevent orphan device locks
  scripts/run_safe_pytest.sh
  scripts/tt-probe.sh
Due: none

Profile device-lock contention in test runners + bump tt_ops_code_gen
  scripts/run_safe_pytest.sh
  scripts/tt-probe.sh
Due: none

eltwise convenience
  ttnn/cpp/ttnn/kernel_lib/eltwise_convenience.hpp
  ttnn/examples/lab_eltwise_binary/kernels/compute/tiles_add.cpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

eltwise_chain: reconfig on by default; drop CbOut + Output from BinaryFpu
  ttnn/cpp/ttnn/kernel_lib/eltwise_chain.hpp
  ttnn/cpp/ttnn/kernel_lib/eltwise_chain.inl
  ttnn/cpp/ttnn/kernel_lib/eltwise_convenience.hpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

docs(llk_helpers/agents): pull pipeline updates from eltwise_run7_refined_rebase_v2
  ttnn/cpp/ttnn/kernel_lib/agents/llk_catalog_agent.md
  ttnn/cpp/ttnn/kernel_lib/agents/llk_helpers_hq.md
  ttnn/cpp/ttnn/kernel_lib/agents/llk_helpers_pipeline.md
  ttnn/cpp/ttnn/kernel_lib/agents/llk_investigation_agent.md
Due: block-ttnn-pybind-changes

hooks/wrappers: normalize exit codes and clear stale triage state
  scripts/run_safe_pytest.sh
  scripts/tt-probe.sh
Due: none

refactor(eltwise-chain): route CB sync through CircularBuffer under the hood
  ttnn/cpp/ttnn/kernel_lib/eltwise_chain.hpp
  ttnn/cpp/ttnn/kernel_lib/eltwise_chain.inl
Due: block-ttnn-pybind-changes, detect-legacy-device-op

ci(perf): set safe.directory unconditionally in single-card-perf-test
  .github/actions/single-card-perf-test/action.yml
Due: none

eltwise-helper: apply changes from astancov/eltwise_vx_migration
  ttnn/cpp/ttnn/kernel_lib/eltwise_activations.hpp
  ttnn/cpp/ttnn/kernel_lib/eltwise_binary_sfpu.hpp
  ttnn/cpp/ttnn/kernel_lib/eltwise_chain.hpp
  ttnn/cpp/ttnn/kernel_lib/eltwise_chain.inl
  ttnn/cpp/ttnn/kernel_lib/eltwise_convenience.hpp
  ttnn/cpp/ttnn/kernel_lib/eltwise_math.hpp
  ttnn/cpp/ttnn/kernel_lib/eltwise_optional.hpp
  ttnn/cpp/ttnn/kernel_lib/eltwise_scalar.hpp
  ttnn/cpp/ttnn/kernel_lib/eltwise_special.hpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

Vgg unet perf threshold adjust
  models/demos/vision/segmentation/vgg_unet/blackhole/tests/perf/test_perf_vgg_unet.py
Due: none

Single card device perf thresholds adjust
  .github/workflows/perf-device-models-impl.yaml
Due: none

tilize_helpers: warn against Fp32Mode::Lossless in the public docs
  ttnn/cpp/ttnn/kernel_lib/tilize_helpers.hpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

kernel_lib: add byte_offset_within_page to tilize/untilize dataflow helpers
  ttnn/cpp/ttnn/kernel_lib/tilize_helpers_dataflow.hpp
  ttnn/cpp/ttnn/kernel_lib/tilize_helpers_dataflow.inl
Due: block-ttnn-pybind-changes, detect-legacy-device-op

precompile: generic meta-tensor collect (UP_FRONT_META_COLLECT, opt-in)
  up_front_collect_plugin.py
Due: none

ct/fabric cluster update (#43899)
  tests/tt_metal/distributed/hd_socket_test_utils.cpp
  tests/tt_metal/multihost/socket_pipeline/multiprocess/multi_host_pipeline.cpp
  tests/tt_metal/tt_fabric/fabric_router/test_physical_grouping_descriptor.cpp
  tests/tt_metal/tt_fabric/fabric_router/test_routing_tables.cpp
  tests/tt_metal/tt_fabric/fabric_router/test_topology_mapper.cpp
  tests/tt_metal/tt_fabric/fabric_router/test_topology_mapper_utils.cpp
  tests/tt_metal/tt_fabric/physical_discovery/test_physical_system_descriptor.cpp
  tests/tt_metal/tt_fabric/system_health/test_system_health.cpp
  tests/ttnn/unit_tests/gtests/multiprocess/test_send_recv_pipeline.cpp
  tools/scaleout/src/generate_rank_bindings.cpp
  tools/scaleout/validation/run_cluster_validation.cpp
  tools/scaleout/validation/utils/cluster_validation_utils.cpp
  tools/tests/scaleout/test_link_retraining.cpp
  tt_metal/api/tt-metalium/experimental/fabric/control_plane.hpp
  tt_metal/fabric/control_plane.cpp
  tt_metal/fabric/physical_system_discovery.cpp
  tt_metal/fabric/physical_system_discovery.hpp
  tt_metal/llrt/tt_cluster.cpp
  tt_metal/llrt/tunnels_from_mmio_device.cpp
  tt_metal/llrt/tunnels_from_mmio_device.hpp
Due: none

kernel_lib/binary_op_helpers: complete rebase fix for scoped EltwiseBinaryType + init rename
  ttnn/cpp/ttnn/kernel_lib/binary_op_helpers.inl
Due: block-ttnn-pybind-changes

tests: add intentional_hang generic_op for hang_plugin device validation
  tests/ttnn/unit_tests/operations/intentional_hang/__init__.py
  tests/ttnn/unit_tests/operations/intentional_hang/intentional_hang_op.py
  tests/ttnn/unit_tests/operations/intentional_hang/kernels/compute_noop.cpp
  tests/ttnn/unit_tests/operations/intentional_hang/kernels/reader_noop.cpp
  tests/ttnn/unit_tests/operations/intentional_hang/kernels/writer_hang.cpp
  tests/ttnn/unit_tests/operations/intentional_hang/program_descriptor.py
  tests/ttnn/unit_tests/operations/intentional_hang/test_intentional_hang.py
Due: none

scripts: bring sim tooling from sim_agents branch
  scripts/run_safe_pytest.sh
  scripts/tt-probe.sh
Due: none

scripts: fix hang triage — use tt-triage --llm-output instead of --json-path
  scripts/run_safe_pytest.sh
  scripts/tt-probe.sh
Due: none

kernel_lib/binary_op_helpers: use get_dfb_num_pages after DFB port
  ttnn/cpp/ttnn/kernel_lib/binary_op_helpers.inl
Due: block-ttnn-pybind-changes

scripts: preserve device timing in EXIT trap chain
  scripts/run_safe_pytest.sh
  scripts/tt-probe.sh
Due: none

Generating MPI rank IDs to match Mesh IDs where possible (#44197)
  tests/tt_metal/tt_fabric/fabric_router/test_multi_host.cpp
  tools/scaleout/src/generate_rank_bindings.cpp
  tt_metal/api/tt-metalium/experimental/fabric/topology_mapper_utils.hpp
  tt_metal/fabric/topology_mapper.cpp
  tt_metal/fabric/topology_mapper_utils.cpp
Due: none

precompile: UP_FRONT_COLLECT_NO_COMPILE knob to isolate body-run from compile
  up_front_collect_plugin.py
Due: none

Address Copilot comments.
  tt_metal/tt-llk/tests/helpers/include/counters.h
  tt_metal/tt-llk/tests/helpers/ld/sections.ld
  tt_metal/tt-llk/tests/python_tests/helpers/counters.py
  tt_metal/tt-llk/tests/python_tests/helpers/test_config.py
Due: none

eltwise: complete missed CB-op migrations across 13 kernels (revisit audit)
  ttnn/cpp/ttnn/kernel_lib/agents/revisit_audit/DECISION_LOG.md
  ttnn/cpp/ttnn/kernel_lib/agents/revisit_audit/groupnorm.md
  ttnn/cpp/ttnn/kernel_lib/agents/revisit_audit/layernorm_core.md
  ttnn/cpp/ttnn/kernel_lib/agents/revisit_audit/moreh_optim.md
  ttnn/cpp/ttnn/kernel_lib/agents/revisit_audit/moreh_reductions.md
  ttnn/cpp/ttnn/kernel_lib/agents/revisit_audit/rotary_fused.md
  ttnn/cpp/ttnn/kernel_lib/agents/revisit_audit/small_batchnorm.md
  ttnn/cpp/ttnn/kernel_lib/agents/revisit_audit/softmax_dist.md
  ttnn/cpp/ttnn/kernel_lib/migration_status.md
  ttnn/cpp/ttnn/operations/experimental/ccl/rms_allgather/device/kernels/compute/rms_compute.cpp
  ttnn/cpp/ttnn/operations/experimental/transformer/fused_distributed_rmsnorm/device/kernels/compute/rmsnorm_post_allgather.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_adam/device/kernels/moreh_adam.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_adamw/device/kernels/moreh_adamw.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_softmax/device/kernels/moreh_softmax_w.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_softmax/device/kernels/moreh_softmax_w_large.cpp
  ttnn/cpp/ttnn/operations/normalization/groupnorm/device/kernels/compute/groupnorm.cpp
  ttnn/cpp/ttnn/operations/normalization/groupnorm/device/kernels/compute/welford_groupnorm.cpp
  ttnn/cpp/ttnn/operations/normalization/groupnorm/device/kernels/compute/welford_groupnorm_sharded_v2.cpp
  ttnn/cpp/ttnn/operations/normalization/layernorm/device/kernels/compute/layernorm_large_tensor.cpp
  ttnn/cpp/ttnn/operations/normalization/layernorm/device/kernels/compute/layernorm_large_tensor_welford.cpp
  ttnn/cpp/ttnn/operations/normalization/softmax/device/kernels/attention/compute/softmax.cpp
  ttnn/cpp/ttnn/operations/normalization/softmax/device/kernels/attention/compute/softmax_sharded.cpp
Due: block-ttnn-pybind-changes
