Repository tenstorrent/tt-metal: changes, and which pre-commit hooks are due for each by the changed paths.
All: block-ttnn-pybind-changes, detect-legacy-device-op, validate-golden-csv-columns

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v3.2.0
  hooks:
    - id: trailing-whitespace
      exclude: \.patch$
    - id: end-of-file-fixer
      exclude: \.patch$
    - id: check-yaml
      args: ["--unsafe"]
    - id: check-added-large-files
# Using this mirror lets us use mypyc-compiled black, which is about 2x faster
- repo: https://github.com/psf/black-pre-commit-mirror
  rev: 23.10.1
  hooks:
    - id: black
      language_version: python3
- repo: https://github.com/PyCQA/autoflake
  rev: v2.3.1
  hooks:
    - id: autoflake
      args: [--remove-all-unused-imports, --in-place, --recursive, --exclude=__init__.py]
      files: ^models/  # Run only on files in the models directory
- repo: https://github.com/pycqa/isort
  rev: 5.13.2
  hooks:
    - id: isort
      files: ^models/
      exclude: ^models/(demos/llama3_70b_galaxy|experimental)/
- repo: https://github.com/BlankSpruce/gersemi
  rev: 0.16.2
  hooks:
    - id: gersemi
- repo: https://github.com/adrienverge/yamllint.git
  rev: v1.35.1
  hooks:
    - id: yamllint
- repo: https://github.com/pre-commit/mirrors-clang-format
  rev: v19.1.4
  hooks:
    - id: clang-format
      entry: git-clang-format
      require_serial: true
      types_or: [c++, c]
      args: ["--style=file"]
- repo: local
  hooks:
    - id: validate-metalium-includes
      name: validate-metalium-includes
      entry: python3 scripts/validate_api/validate_includes.py tt_metal/api --check-ttnn-forwards
      language: system
      pass_filenames: false
    - id: validate-metalium-deprecation
      name: validate-metalium-deprecation
      entry: python3 scripts/validate_api/validate_deprecation.py tt_metal/api origin/main
      language: system
      pass_filenames: false
- repo: local
  hooks:
    - id: check-torch-imports-in-ttnn
      name: Verify that there is no global torch import in ttnn
      entry: python3 scripts/validate_no_global_torch_imports.py
      language: system
      pass_filenames: false
- repo: local
  hooks:
    - id: block-ttnn-pybind-changes
      name: Prevent edits to frozen pybind11 sources under ttnn
      entry: python3 scripts/block_ttnn_pybind_changes.py
      language: system
      pass_filenames: true
      files: ^ttnn/
- repo: local
  hooks:
    - id: convert-notebooks-to-py
      name: Convert .ipynb to .py for ttnn basic examples
      entry: python3 scripts/convert_notebooks_to_python.py
      language: system
- repo: local
  hooks:
    - id: detect-legacy-device-op
      name: Detect legacy device operation classes in newly added files
      entry: python3 scripts/detect_legacy_device_op.py --check-new-only
      language: system
      types: [file]
      files: ^ttnn/.*\.hpp$
      pass_filenames: true
      require_serial: true
- repo: local
  hooks:
    - id: validate-golden-csv-columns
      name: Validate golden bandwidth CSV column headers
      entry: bash .github/scripts/utils/validate_golden_csv_columns.sh
      language: system
      pass_filenames: false
      files: ^tests/tt_metal/tt_metal/perf_microbenchmark/routing/golden/.*bandwidth.*\.csv$

updated perf test targets and set tile layout tests only
  models/demos/deepseek_v3_d_p/tests/perf/test_dispatch_combine_perf.py
Due: none

fixed emb_dim in order for test to work
  models/demos/deepseek_v3_d_p/tests/op_unit_tests/test_dispatch_combine_l1_small_semaphores.py
  models/demos/deepseek_v3_d_p/tests/pcc/test_ttnn_dispatch_combine.py
Due: none

#0: test_binary_uint16_fix_for_ttsim
  tests/ttnn/unit_tests/operations/eltwise/test_binary_uint16.py
Due: none

fix ai tu usa
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/dispatch/device/kernels/compute/untilize_dispatch.cpp
Due: block-ttnn-pybind-changes

Overlap untilization and dispatching of the input tensor for the dispatch module (#42650)
  models/demos/deepseek_v3_d_p/tests/op_unit_tests/test_dispatch_combine_l1_small_semaphores.py
  models/demos/deepseek_v3_d_p/tests/pcc/test_prefill_dispatch.py
  models/demos/deepseek_v3_d_p/tests/pcc/test_ttnn_dispatch_combine.py
  models/demos/deepseek_v3_d_p/tests/perf/test_dispatch_combine_perf.py
  models/demos/deepseek_v3_d_p/tt/moe/tt_moe.py
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/dispatch/device/dispatch_device_operation.cpp
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/dispatch/device/dispatch_program_factory.cpp
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/dispatch/device/dispatch_program_factory.hpp
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/dispatch/device/kernels/compute/untilize_dispatch.cpp
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/dispatch/device/kernels/dataflow/reader_dispatch.cpp
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/dispatch/device/kernels/dataflow/reader_untilize_dispatch.cpp
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/dispatch/device/kernels/dataflow/writer_untilize_dispatch.cpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

fix reverse_reorder_tensor_chunks
  models/demos/deepseek_v3_d_p/tt/moe/tt_prefill_transformer.py
Due: none

fix lm_head dtype
  models/demos/deepseek_v3_d_p/utils/transformer_helpers.py
Due: none

Address Copilot PR review comments on lm_head + sampling
  models/demos/deepseek_v3_d_p/tests/cache/test_lm_head_cache.py
  models/demos/deepseek_v3_d_p/tt/moe/tt_prefill_transformer.py
  models/demos/deepseek_v3_d_p/tt/tt_lm_head.py
Due: none

Cleanups
  models/demos/yolov8l/tests/perf/test_e2e_performant.py
  models/demos/yolov8l/tests/perf/test_perf_yolov8l.py
  models/demos/yolov8l/tt/ttnn_yolov8l.py
Due: none

Enabling BFLOAT8_B for combine
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/combine/device/combine_device_operation.cpp
Due: block-ttnn-pybind-changes

Change combine_output logger info
  models/demos/deepseek_v3_d_p/tt/moe/tt_moe.py
Due: none

Fix for test_moe_cache
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/combine/device/combine_program_factory.cpp
Due: block-ttnn-pybind-changes

Reducing expert_token_counts CB size for 1 less page when ROW_MAJOR input
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/combine/device/combine_program_factory.cpp
Due: block-ttnn-pybind-changes

Removing UNTILIZE from tt_moe
  models/demos/deepseek_v3_d_p/tt/moe/tt_moe.py
Due: none

flip: added seperate tiled support instead of conversion.
  ttnn/cpp/ttnn/operations/data_movement/CMakeLists.txt
  ttnn/cpp/ttnn/operations/data_movement/flip/device/flip_device_operation.hpp
  ttnn/cpp/ttnn/operations/data_movement/flip/device/flip_tiled_program_factory.cpp
  ttnn/cpp/ttnn/operations/data_movement/flip/device/kernels/dataflow/reader_interleaved_tiled.cpp
  ttnn/cpp/ttnn/operations/data_movement/flip/device/kernels/dataflow/writer_interleaved_tiled.cpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

Terminate stages
  models/demos/deepseek_v3_b1/demo/decoder_stage.py
  models/demos/deepseek_v3_b1/demo/pipeline.py
  models/demos/deepseek_v3_b1/demo/stage.py
  models/demos/deepseek_v3_b1/fused_ops/decoder_block/kernels/decoder_block_kernel.cpp
  models/demos/deepseek_v3_b1/fused_ops/decoder_block/op.py
  models/demos/deepseek_v3_b1/fused_ops/lm_head_sampling/kernels/lm_head_sampling_kernel.cpp
  models/demos/deepseek_v3_b1/fused_ops/lm_head_sampling/op.py
  models/demos/deepseek_v3_b1/fused_ops/moe/op.py
  models/demos/deepseek_v3_b1/micro_ops/d2d_exchange/kernels/d2d_exchange.cpp
  models/demos/deepseek_v3_b1/micro_ops/d2d_exchange/kernels/d2d_exchange_multiple_upstreams.cpp
  models/demos/deepseek_v3_b1/micro_ops/host_io/kernels/d2h_multicore_receiver.cpp
  models/demos/deepseek_v3_b1/micro_ops/host_io/kernels/d2h_sender.cpp
  models/demos/deepseek_v3_b1/micro_ops/host_io/kernels/fused_h2d_receiver_embedding.cpp
  models/demos/deepseek_v3_b1/micro_ops/host_io/kernels/h2d_receiver.cpp
  models/demos/deepseek_v3_b1/micro_ops/persistent_loop/kernels/persistent_loop_kernel.cpp
  models/demos/deepseek_v3_b1/micro_ops/persistent_loop/op.py
  models/demos/deepseek_v3_b1/micro_ops/pipeline_block/op.py
  models/demos/deepseek_v3_b1/tests/unit_tests/test_lm_head_sampling.py
  models/demos/deepseek_v3_b1/tests/unit_tests/test_persistent_loop.py
  models/demos/deepseek_v3_b1/unified_kernels/persistent_loop.hpp
  models/demos/deepseek_v3_b1/unified_kernels/termination.hpp
Due: none

General cleanup
  models/demos/deepseek_v3_b1/demo/decoder_stage.py
  models/demos/deepseek_v3_b1/demo/pipeline.py
  models/demos/deepseek_v3_b1/demo/stage.py
Due: none

Terminate CLI
  models/demos/deepseek_v3_b1/demo/cli.py
Due: none

Add representative PolyNorm nightly shape tests
  tt-train/tests/ops/polynorm_op_test.cpp
Due: none

conv3d: trid-ring autotune for gather DRAM reads
  tests/ttnn/unit_tests/operations/conv/test_conv3d.py
  ttnn/cpp/ttnn/operations/experimental/conv3d/device/conv3d_program_factory.cpp
  ttnn/cpp/ttnn/operations/experimental/conv3d/device/kernels/reader_vol2col.cpp
  ttnn/cpp/ttnn/operations/pool/device/kernels/experimental_device_api.hpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

Use shared random-data utility in PolyNorm benchmark
  tt-train/tests/benchmark/polynorm_fusion_benchmark.cpp
Due: none

conv3d: add inner-gather burst-size gate to trid-ring classifier
  ttnn/cpp/ttnn/operations/experimental/conv3d/device/conv3d_program_factory.cpp
Due: block-ttnn-pybind-changes

conv3d: add trid-ring autotune performance report
  conv3d_trid_pipeline_findings.md
Due: none

vision demo fix after rebase
  models/demos/multimodal/gemma3/demo/text_demo.py
  models/demos/multimodal/gemma3/tt/model_config.py
  models/tt_transformers/tt/model_config.py
Due: none

dummy weights on main
  conftest.py
  models/demos/multimodal/gemma3/demo/text_demo.py
  models/demos/multimodal/gemma3/demo/vision_demo.py
  models/demos/multimodal/gemma3/tt/model_config.py
Due: none

gema3 textdemo with better token generation
  models/common/warmup/warmup_utils.py
  models/demos/multimodal/gemma3/demo/conftest.py
  models/demos/multimodal/gemma3/demo/text_demo.py
  models/demos/multimodal/gemma3/tt/model_config.py
  models/tt_transformers/tt/model_config.py
Due: none

removed existing behaviour of vision from text_prefill
  models/demos/multimodal/gemma3/tt/gemma_e2e_model.py
  models/demos/multimodal/gemma3/tt/gemma_multimodal_generator.py
Due: none

separated vision encoder from text prefill
  models/demos/multimodal/gemma3/demo/vision_demo.py
  models/demos/multimodal/gemma3/tt/gemma_e2e_model.py
  models/demos/multimodal/gemma3/tt/gemma_multimodal_generator.py
  models/tt_transformers/tt/generator.py
  models/tt_transformers/tt/generator_vllm.py
Due: none

Readme updated
  models/demos/multimodal/gemma3/README.md
Due: none

bug fix after cleanup
  models/demos/multimodal/gemma3/demo/text_demo.py
Due: none

cleanup
  models/demos/multimodal/gemma3/demo/text_demo.py
  models/demos/multimodal/gemma3/demo/vision_demo.py
  models/demos/multimodal/gemma3/tt/gemma_conv2d_patch.py
  models/demos/multimodal/gemma3/tt/gemma_image_attention.py
  models/demos/multimodal/gemma3/tt/gemma_image_mlp.py
  models/demos/multimodal/gemma3/tt/model_config.py
Due: none

support gemma3-4b vision on blackhole P150x4
  models/demos/multimodal/gemma3/tt/gemma_e2e_model.py
Due: none

bug fix
  models/demos/multimodal/gemma3/demo/vision_demo.py
Due: none
