Repository tenstorrent/tt-metal: changes, and which pre-commit hooks are due for each by the changed paths.
All: block-ttnn-pybind-changes, detect-legacy-device-op, validate-golden-csv-columns

block-ttnn-pybind-changes:
  name: Prevent edits to frozen pybind11 sources under ttnn
  entry: python3 scripts/block_ttnn_pybind_changes.py
  language: system
  pass_filenames: true

detect-legacy-device-op:
  name: Detect legacy device operation classes in newly added files
  entry: python3 scripts/detect_legacy_device_op.py --check-new-only
  language: system
  pass_filenames: true
  require_serial: true

validate-golden-csv-columns:
  name: Validate golden bandwidth CSV column headers
  entry: bash .github/scripts/utils/validate_golden_csv_columns.sh
  language: system
  pass_filenames: false

Fix test_fast_tilize_full.py.
  tt_metal/tt-llk/tests/python_tests/test_fast_tilize_full.py
Due: none

Revert accidental change in untilA_elwbin_3m.cpp.
  tests/tt_metal/tt_metal/test_kernels/compute/untilA_elwbin_3m.cpp
Due: none

Resolve sort_test.cpp.
  tt_metal/tt-llk/tests/sources/sort_test.cpp
Due: none

LLK: convert EltwiseBinaryType to enum class.
  models/demos/deepseek_v3_b1/kernel_includes/tt_llk/tt_llk_blackhole/llk_lib/llk_math_deepseek_moe_gate_eltwise_binary.h
  models/demos/deepseek_v3_b1/kernel_includes/tt_llk/tt_llk_blackhole/llk_lib/llk_math_rmsnorm_bcast_scalar_dest_reuse.h
  models/demos/deepseek_v3_b1/kernel_includes/tt_llk/tt_llk_blackhole/llk_lib/llk_math_sdpa_bcast_col_srca_srcb_reuse.h
  models/demos/deepseek_v3_b1/kernel_includes/tt_llk/tt_llk_blackhole/llk_lib/llk_math_sdpa_bcast_col_srcb_reuse.h
  models/demos/deepseek_v3_b1/kernel_includes/tt_llk/tt_llk_wormhole_b0/llk_lib/llk_math_deepseek_moe_gate_eltwise_binary.h
  models/demos/deepseek_v3_b1/kernel_includes/tt_metal/include/compute_kernel_api/deepseek_moe_gate.h
  models/demos/deepseek_v3_b1/kernel_includes/tt_metal/include/compute_kernel_api/eltwise_mul_scalar.h
  models/demos/deepseek_v3_b1/kernel_includes/tt_metal/include/compute_kernel_api/rmsnorm.h
  models/demos/deepseek_v3_b1/kernel_includes/tt_metal/include/compute_kernel_api/sdpa.h
  models/demos/deepseek_v3_b1/unified_kernels/reduce_to_one_b1.hpp
  models/demos/deepseek_v3_b1/unified_kernels/rmsnorm.hpp
  models/demos/deepseek_v3_b1/unified_kernels/sampling.hpp
  tests/tt_metal/tt_metal/test_kernels/compute/3T/untilize_A_and_eltwise_binary/chlkc_math.cpp
  tests/tt_metal/tt_metal/test_kernels/compute/compute_kernel_sentinel.cpp
  tests/tt_metal/tt_metal/test_kernels/compute/matmul_with_bias.cpp
  tests/tt_metal/tt_metal/test_kernels/compute/reconfig.cpp
  tests/tt_metal/tt_metal/test_kernels/compute/unpack_tilizeA_B.cpp
  tests/tt_metal/tt_metal/test_kernels/compute/untilA_elwbin_3m.cpp
  tt-train/sources/ttml/metal/ops/sdpa_bw/device/kernels/compute/sdpa_bw_compute_utils.hpp
  tt-train/sources/ttml/metal/ops/softmax_backward/device/kernels/compute/softmax_backward_kernel.cpp
  tt_metal/tt-llk/tests/python_tests/fuser/blackhole/fpu/eltwise.py
  tt_metal/tt-llk/tests/python_tests/fuser/wormhole/fpu/eltwise.py
  tt_metal/tt-llk/tests/sources/sdpa_reinits_test.cpp
  tt_metal/tt-llk/tt_llk_blackhole/llk_lib/experimental/llk_math_eltwise_binary_custom.h
  tt_metal/tt-llk/tt_llk_blackhole/llk_lib/llk_defs.h
  tt_metal/tt-llk/tt_llk_blackhole/llk_lib/llk_math_eltwise_binary.h
  tt_metal/tt-llk/tt_llk_wormhole_b0/llk_lib/experimental/llk_math_eltwise_binary_custom.h
  tt_metal/tt-llk/tt_llk_wormhole_b0/llk_lib/llk_defs.h
  tt_metal/tt-llk/tt_llk_wormhole_b0/llk_lib/llk_math_eltwise_binary.h
  ttnn/cpp/ttnn/kernel/compute/moreh_common.hpp
  ttnn/cpp/ttnn/operations/data_movement/bcast/bcast_types.cpp
  ttnn/cpp/ttnn/operations/experimental/deepseek/mla/matmul_wo/device/kernels/compute_collector.cpp
  ttnn/cpp/ttnn/operations/experimental/deepseek/moe/moe_gate_mm/device/kernels/compute.cpp
  ttnn/cpp/ttnn/operations/experimental/transformer/rotate_half/device/rotate_half_program_factory.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_dot_backward/device/kernels/moreh_dot_backward.cpp
  ttnn/cpp/ttnn/operations/normalization/layernorm/device/kernels/compute/layernorm_large_tensor.cpp
  ttnn/cpp/ttnn/operations/normalization/layernorm/device/kernels/compute/layernorm_large_tensor_welford.cpp
  ttnn/cpp/ttnn/operations/normalization/softmax/device/kernels/attention/compute/softmax_large_tensor.cpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

Address comment for hard-coded param name.
  models/demos/deepseek_v3_b1/kernel_includes/tt_metal/include/compute_kernel_api/deepseek_moe_gate.h
  models/demos/deepseek_v3_b1/kernel_includes/tt_metal/include/compute_kernel_api/eltwise_mul_scalar.h
  tests/tt_metal/tt_metal/test_kernels/compute/3T/untilize_A_and_eltwise_binary/chlkc_math.cpp
  tt_metal/tt-llk/tests/sources/sdpa_reinits_test.cpp
  tt_metal/tt-llk/tt_llk_blackhole/llk_lib/llk_math_eltwise_binary.h
  tt_metal/tt-llk/tt_llk_wormhole_b0/llk_lib/llk_math_eltwise_binary.h
  ttnn/cpp/ttnn/operations/experimental/deepseek/mla/matmul_wo/device/kernels/compute_collector.cpp
  ttnn/cpp/ttnn/operations/experimental/deepseek/moe/moe_gate_mm/device/kernels/compute.cpp
  ttnn/cpp/ttnn/operations/normalization/layernorm/device/kernels/compute/layernorm_large_tensor_welford.cpp
  ttnn/cpp/ttnn/operations/normalization/softmax/device/kernels/attention/compute/softmax_large_tensor.cpp
Due: block-ttnn-pybind-changes

Fix fuser test.
  tt_metal/tt-llk/tests/python_tests/fuser/wormhole/fpu/sub_bcast_col_custom.py
Due: none

Fix bad rebasing.
  tests/tt_metal/tt_metal/test_kernels/compute/3T/untilize_A_and_eltwise_binary/chlkc_math.cpp
Due: none

fix(wextra): fix asan-build sign-compare in matmul_multicore_reuse_program_factory
  ttnn/cpp/ttnn/operations/matmul/device/factory/matmul_multicore_reuse_program_factory.cpp
Due: block-ttnn-pybind-changes

unified routed expert: move per-expert loop into C++ composite op
  models/demos/deepseek_v3_d_p/tt/moe/tt_routed_expert.py
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/unified_routed_expert_ffn/unified_routed_expert_ffn.cpp
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/unified_routed_expert_ffn/unified_routed_expert_ffn.hpp
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/unified_routed_expert_ffn/unified_routed_expert_ffn_nanobind.cpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

Cleanup: LLK enum class for EltwiseBinaryType (#44619)
  models/demos/deepseek_v3_b1/kernel_includes/tt_llk/tt_llk_blackhole/llk_lib/llk_math_deepseek_moe_gate_eltwise_binary.h
  models/demos/deepseek_v3_b1/kernel_includes/tt_llk/tt_llk_blackhole/llk_lib/llk_math_rmsnorm_bcast_scalar_dest_reuse.h
  models/demos/deepseek_v3_b1/kernel_includes/tt_llk/tt_llk_blackhole/llk_lib/llk_math_sdpa_bcast_col_srca_srcb_reuse.h
  models/demos/deepseek_v3_b1/kernel_includes/tt_llk/tt_llk_blackhole/llk_lib/llk_math_sdpa_bcast_col_srcb_reuse.h
  models/demos/deepseek_v3_b1/kernel_includes/tt_llk/tt_llk_wormhole_b0/llk_lib/llk_math_deepseek_moe_gate_eltwise_binary.h
  models/demos/deepseek_v3_b1/kernel_includes/tt_metal/include/compute_kernel_api/deepseek_moe_gate.h
  models/demos/deepseek_v3_b1/kernel_includes/tt_metal/include/compute_kernel_api/eltwise_mul_scalar.h
  models/demos/deepseek_v3_b1/kernel_includes/tt_metal/include/compute_kernel_api/rmsnorm.h
  models/demos/deepseek_v3_b1/kernel_includes/tt_metal/include/compute_kernel_api/sdpa.h
  models/demos/deepseek_v3_b1/unified_kernels/reduce_to_one_b1.hpp
  models/demos/deepseek_v3_b1/unified_kernels/rmsnorm.hpp
  models/demos/deepseek_v3_b1/unified_kernels/sampling.hpp
  tests/tt_metal/tt_metal/test_kernels/compute/compute_kernel_sentinel.cpp
  tests/tt_metal/tt_metal/test_kernels/compute/matmul_with_bias.cpp
  tests/tt_metal/tt_metal/test_kernels/compute/reconfig.cpp
  tests/tt_metal/tt_metal/test_kernels/compute/unpack_tilizeA_B.cpp
  tests/tt_metal/tt_metal/test_kernels/compute/untilA_elwbin_3m.cpp
  tt-train/sources/ttml/metal/ops/sdpa_bw/device/kernels/compute/sdpa_bw_compute_utils.hpp
  tt-train/sources/ttml/metal/ops/softmax_backward/device/kernels/compute/softmax_backward_kernel.cpp
  tt_metal/tt-llk/tests/python_tests/fuser/blackhole/fpu/eltwise.py
  tt_metal/tt-llk/tests/python_tests/fuser/wormhole/fpu/eltwise.py
  tt_metal/tt-llk/tests/python_tests/fuser/wormhole/fpu/sub_bcast_col_custom.py
  tt_metal/tt-llk/tests/sources/sdpa_reinits_test.cpp
  tt_metal/tt-llk/tt_llk_blackhole/llk_lib/experimental/llk_math_eltwise_binary_custom.h
  tt_metal/tt-llk/tt_llk_blackhole/llk_lib/llk_defs.h
  tt_metal/tt-llk/tt_llk_blackhole/llk_lib/llk_math_eltwise_binary.h
  tt_metal/tt-llk/tt_llk_wormhole_b0/llk_lib/experimental/llk_math_eltwise_binary_custom.h
  tt_metal/tt-llk/tt_llk_wormhole_b0/llk_lib/llk_defs.h
  tt_metal/tt-llk/tt_llk_wormhole_b0/llk_lib/llk_math_eltwise_binary.h
  ttnn/cpp/ttnn/kernel/compute/moreh_common.hpp
  ttnn/cpp/ttnn/operations/data_movement/bcast/bcast_types.cpp
  ttnn/cpp/ttnn/operations/experimental/deepseek/mla/matmul_wo/device/kernels/compute_collector.cpp
  ttnn/cpp/ttnn/operations/experimental/deepseek/moe/moe_gate_mm/device/kernels/compute.cpp
  ttnn/cpp/ttnn/operations/experimental/transformer/rotate_half/device/rotate_half_program_factory.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_dot_backward/device/kernels/moreh_dot_backward.cpp
  ttnn/cpp/ttnn/operations/normalization/layernorm/device/kernels/compute/layernorm_large_tensor.cpp
  ttnn/cpp/ttnn/operations/normalization/layernorm/device/kernels/compute/layernorm_large_tensor_welford.cpp
  ttnn/cpp/ttnn/operations/normalization/softmax/device/kernels/attention/compute/softmax_large_tensor.cpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

unified routed expert: eliminate per-K-block partials pop+push
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/unified_routed_expert_ffn/device/kernels/compute/fused_swiglu_v3.cpp
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/unified_routed_expert_ffn/device/kernels/dataflow/reader_unified_re.cpp
Due: block-ttnn-pybind-changes

fix(wextra): fix asan-build -Wsign-compare failures in perf_microbenchmark and noc tests
  tests/tt_metal/tt_metal/noc/test_dynamic_noc.cpp
  tests/tt_metal/tt_metal/perf_microbenchmark/dispatch/test_bw_and_latency.cpp
  tests/tt_metal/tt_metal/perf_microbenchmark/dispatch/test_dispatcher.cpp
  tests/tt_metal/tt_metal/perf_microbenchmark/dispatch/test_prefetcher.cpp
Due: none

fix(wextra): fix asan-build -Wsign-compare in multihost fabric tests
  tests/tt_metal/multihost/fabric_tests/intermesh_routing.cpp
  tests/tt_metal/multihost/fabric_tests/intermesh_routing_test_utils.cpp
  tests/tt_metal/multihost/fabric_tests/mesh_socket_test_context.cpp
  tests/tt_metal/multihost/fabric_tests/multihost_fabric_fixtures.hpp
  tests/tt_metal/multihost/fabric_tests/socket_send_recv.cpp
  tests/tt_metal/multihost/fabric_tests/socket_send_recv_utils.cpp
  tests/tt_metal/multihost/ttswitch_tests/test_mesh_device_ttswitch.cpp
Due: none

FIX VV: deferred Tensix worker reset after relay confirmed alive
  tt_metal/impl/device/firmware/risc_firmware_initializer.cpp
  tt_metal/impl/device/firmware/risc_firmware_initializer.hpp
Due: none

fix(wextra): fix asan-build sign-compare warnings
  tests/tt_eager/ops/test_eltwise_binary_op.cpp
  tests/tt_eager/ops/test_eltwise_unary_op.cpp
  tests/tt_metal/multihost/socket_pipeline/multiprocess/multi_host_pipeline.cpp
  tests/tt_metal/tools/profiler/test_full_buffer.cpp
  ttnn/cpp/ttnn/operations/functions.hpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

FIX VV: fix compile error — Cluster has no mark_relay_broken()
  tt_metal/impl/device/firmware/risc_firmware_initializer.cpp
Due: none

fix(wextra): fix asan-build sign-compare failures in test files
  tests/tt_eager/ops/test_sfpu.cpp
  tests/tt_eager/tensors/test_raw_host_memory_pointer.cpp
  tests/ttnn/unit_tests/gtests/test_async_runtime.cpp
Due: none

unified routed expert: delegate FFN to block-sharded production path
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/unified_routed_expert_ffn/unified_routed_expert_ffn.cpp
Due: block-ttnn-pybind-changes

fix(wextra): fix asan-build failure - missing field initializers
  ttnn/api/ttnn/graph/graph_query_op_constraints.hpp
  ttnn/cpp/ttnn/operations/conv/conv2d/device/conv2d_device_operation_types.hpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

models/demos/multimodal/gemma3: enable fixed SDPA k_chunk for medgemma paged decode
  models/demos/multimodal/gemma3/demo/text_demo.py
Due: none

fix(wextra): fix asan-build failures - missing field initializers, sign-compare, unused params
  tests/ttnn/unit_tests/gtests/ccl/test_sharded_address_generators_new.cpp
  tests/ttnn/unit_tests/gtests/test_generic_op.cpp
  tests/ttnn/unit_tests/gtests/test_launch_operation.cpp
  ttnn/api/ttnn/graph/graph_query_op_runtime.hpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

FIX WW: Tensix NOC data-VC recovery via deassert+re-assert cycle before Pass 2a
  tt_metal/impl/device/firmware/risc_firmware_initializer.cpp
Due: none

Deploying to gh-pages from @ tenstorrent/tt-metal@b3faacb91fcb93ff2680d5ac4da6f609f5d2ef78 🚀
  latest/tt-metalium/searchindex.js
  latest/tt-metalium/tt_metal/apis/kernel_apis/pack_unpack/pack_untilize.html
  latest/ttnn/searchindex.js
  latest/ttnn/ttnn/api/ttnn.transformer.ring_joint_scaled_dot_product_attention.html
Due: none

GAP-R20 + FIX UU/VV/WW: run_launch_phase elapsed timer and analyze script coverage
  scripts/analyze_fabric_hang_log.sh
  tt_metal/impl/device/firmware/risc_firmware_initializer.cpp
Due: none

fix(wextra): fix asan-build -Wextra failures in ttnn gtests
  tests/ttnn/unit_tests/gtests/tensor/common_tensor_test_utils.cpp
  tests/ttnn/unit_tests/gtests/tensor/test_create_tensor.cpp
  tests/ttnn/unit_tests/gtests/test_generic_op.cpp
Due: none

fix(wextra): fix asan-build failure - add buffer_bindings/common_buffer_bindings to KernelDescriptor initializers
  tests/ttnn/unit_tests/gtests/test_generic_op.cpp
Due: none

FIX WW v2+IK: batched deassert/100ms/assert for NIU-SLV drain; DRAM assert write-only
  AI-JOURNAL.md
  tt_metal/impl/device/firmware/risc_firmware_initializer.cpp
Due: none

fix(wextra): fix asan-build -Wextra failures in accessor and ccl tests
  tests/ttnn/unit_tests/gtests/accessor/test_tensor_accessor_on_device.cpp
  tests/ttnn/unit_tests/gtests/ccl/test_multi_tensor_ccl.cpp
  tt_metal/hw/inc/api/tensor/tensor_accessor.h
Due: none

Add TensorAccessor base ptr retrieval API
  tests/ttnn/unit_tests/gtests/accessor/kernels/copy_local_via_bank_base.cpp
  tests/ttnn/unit_tests/gtests/accessor/test_tensor_accessor_on_device.cpp
  tt_metal/hw/inc/api/tensor/tensor_accessor.h
Due: none

#0: move BF8→BF16 typecast past sharded→interleaved conversion
  ttnn/cpp/ttnn/operations/experimental/ccl/composite_common.cpp
Due: block-ttnn-pybind-changes

#0: Fix
  ttnn/cpp/ttnn/operations/experimental/ccl/composite_common.cpp
Due: block-ttnn-pybind-changes

#0: Update
  tests/ttnn/unit_tests/operations/ccl/blackhole_CI/box/nightly/test_minimal_reduce_scatter_async_bh.py
  ttnn/cpp/ttnn/operations/experimental/ccl/composite_common.cpp
Due: block-ttnn-pybind-changes

fix(wextra): fix asan-build failure - add missing input_shard_spec initializers
  tests/ttnn/unit_tests/gtests/accessor/test_tensor_accessor_on_device.cpp
Due: none

[Bug fix]composite_reduce_scatter: typecast BFLOAT8_B → BFLOAT16 around split/pad/concat (#44920)
  tests/ttnn/unit_tests/operations/ccl/blackhole_CI/box/nightly/test_minimal_reduce_scatter_async_bh.py
  ttnn/cpp/ttnn/operations/experimental/ccl/composite_common.cpp
Due: block-ttnn-pybind-changes

fix(wextra): fix asan-build failures - sign-compare and missing designated initializers in tensor tests
  tests/ttnn/unit_tests/gtests/tensor/test_distributed_tensor.cpp
  tests/ttnn/unit_tests/gtests/tensor/test_mesh_tensor.cpp
  tests/ttnn/unit_tests/gtests/tensor/test_tensor_layout.cpp
  tests/ttnn/unit_tests/gtests/tensor/test_tensor_nd_sharding.cpp
Due: none

GAP-L1/L2/L3/L4 + GAP-S1/S2/S3/S4: per-device Pass 2a/2b timers and analyze script counters
  scripts/analyze_fabric_hang_log.sh
  tt_metal/impl/device/firmware/risc_firmware_initializer.cpp
Due: none

Path conditions:
  block-ttnn-pybind-changes: any of: ^ttnn/
  detect-legacy-device-op: any of: ^ttnn/.*\.hpp$
  validate-golden-csv-columns: any of: ^tests/tt_metal/tt_metal/perf_microbenchmark/routing/golden/.*bandwidth.*\.csv$
