Repository tenstorrent/tt-metal: changes, and which pre-commit hooks are due for each by the changed paths.
All: block-ttnn-pybind-changes, detect-legacy-device-op, validate-golden-csv-columns

block-ttnn-pybind-changes:
  name: Prevent edits to frozen pybind11 sources under ttnn
  entry: python3 scripts/block_ttnn_pybind_changes.py
  language: system
  pass_filenames: true

detect-legacy-device-op:
  name: Detect legacy device operation classes in newly added files
  entry: python3 scripts/detect_legacy_device_op.py --check-new-only
  language: system
  pass_filenames: true
  require_serial: true

validate-golden-csv-columns:
  name: Validate golden bandwidth CSV column headers
  entry: bash .github/scripts/utils/validate_golden_csv_columns.sh
  language: system
  pass_filenames: false

add dev noc addr
  tt_metal/llrt/hal.hpp
  tt_metal/llrt/llrt.cpp
Due: none

improve watcher
  tt_metal/impl/device/firmware/risc_firmware_initializer.cpp
  tt_metal/llrt/sanitize_noc_host.hpp
  tt_metal/llrt/tt_cluster.cpp
Due: none

improve
  tt_metal/impl/debug/watcher_device_reader.cpp
  tt_metal/impl/debug/watcher_server.cpp
  tt_metal/impl/device/firmware/risc_firmware_initializer.cpp
  tt_metal/llrt/hal/tt-1xx/blackhole/bh_hal_dram.cpp
  tt_metal/llrt/llrt.cpp
Due: none

fix test
  tt_metal/impl/program/program.cpp
Due: none

Move DRAM firmware bug fixes from dramkernel branch
  tt_metal/hw/firmware/src/tt-1xx/drisc.cc
  tt_metal/hw/inc/hostdev/dev_msgs.h
  tt_metal/hw/inc/internal/tt-1xx/blackhole/core_config.h
  tt_metal/hw/inc/internal/tt-1xx/wormhole/core_config.h
  tt_metal/hw/inc/internal/tt-2xx/quasar/core_config.h
  tt_metal/impl/debug/watcher_device_reader.cpp
  tt_metal/impl/debug/watcher_server.cpp
  tt_metal/impl/device/firmware/risc_firmware_initializer.cpp
  tt_metal/llrt/hal.hpp
  tt_metal/llrt/llrt.cpp
  tt_metal/llrt/sanitize_noc_host.hpp
  tt_metal/llrt/tt_cluster.cpp
Due: none

format
  tt_metal/impl/debug/watcher_device_reader.cpp
  tt_metal/llrt/llrt.cpp
Due: none

better
  tt_metal/impl/debug/watcher_device_reader.cpp
  tt_metal/impl/device/firmware/risc_firmware_initializer.cpp
  tt_metal/llrt/llrt.cpp
  tt_metal/llrt/sanitize_noc_host.hpp
Due: none

improve watcher
  tt_metal/impl/device/firmware/risc_firmware_initializer.cpp
  tt_metal/llrt/sanitize_noc_host.hpp
Due: none

improve
  tt_metal/llrt/hal/tt-1xx/blackhole/bh_hal_dram.cpp
Due: none

better
  tt_metal/impl/device/firmware/risc_firmware_initializer.cpp
  tt_metal/impl/device/firmware/risc_firmware_initializer.hpp
Due: none

improve format
  tt_metal/hw/CMakeLists.txt
Due: none

mollify clang-tidy
  tt_metal/hw/firmware/src/tt-1xx/drisc.cc
  tt_metal/llrt/hal/tt-1xx/blackhole/bh_hal.cpp
  tt_metal/llrt/hal/tt-1xx/blackhole/bh_hal_dram.cpp
Due: none

Fix somme program issues
  tt_metal/impl/debug/watcher_server.cpp
  tt_metal/impl/program/dispatch.cpp
Due: none

cleanup index
  tt_metal/impl/device/firmware/risc_firmware_initializer.cpp
Due: none

Fix slicing error
  tt_metal/impl/debug/watcher_device_reader.cpp
Due: none

improve
  tt_metal/impl/debug/watcher_device_reader.cpp
  tt_metal/impl/debug/watcher_server.cpp
  tt_metal/impl/device/firmware/risc_firmware_initializer.cpp
  tt_metal/llrt/hal.hpp
  tt_metal/llrt/sanitize_noc_host.hpp
Due: none

Include drisc.cc in jit files
  tt_metal/hw/firmware/src/tt-1xx/sources.cmake
Due: none

On-device sampling for batched prefill with row-sharded decode fixes
  models/demos/gpt_oss/tt/model.py
  models/tt_transformers/tt/generator.py
Due: none

[tt-train] fix: add missing <cstring> include in system_utils.hpp
  tt-train/sources/ttml/core/system_utils.hpp
Due: none

more debug around setting fabric config
  tt_metal/fabric/control_plane.cpp
  tt_metal/fabric/fabric_context.cpp
  tt_metal/impl/context/metal_context.cpp
  tt_metal/impl/device/device_manager.cpp
Due: none

Fix addr_mod for signbit (BH). (#39606)
  tt_metal/hw/ckernels/blackhole/metal/llk_api/llk_sfpu/ckernel_sfpu_signbit.h
Due: none

Trying 2-brisc paralelization with noc atomic update
  models/demos/deepseek_v3_d_p/tt/moe_gate_prefill2d.py
  ttnn/CMakeLists.txt
  ttnn/cpp/ttnn/operations/experimental/experimental_nanobind.cpp
  ttnn/cpp/ttnn/operations/experimental/masked_bincount/CMakeLists.txt
  ttnn/cpp/ttnn/operations/experimental/masked_bincount/device/kernels/reader_masked_bincount.cpp
  ttnn/cpp/ttnn/operations/experimental/masked_bincount/device/masked_bincount_device_operation.cpp
  ttnn/cpp/ttnn/operations/experimental/masked_bincount/device/masked_bincount_device_operation.hpp
  ttnn/cpp/ttnn/operations/experimental/masked_bincount/device/masked_bincount_device_operation_types.hpp
  ttnn/cpp/ttnn/operations/experimental/masked_bincount/device/masked_bincount_program_factory.cpp
  ttnn/cpp/ttnn/operations/experimental/masked_bincount/device/masked_bincount_program_factory.hpp
  ttnn/cpp/ttnn/operations/experimental/masked_bincount/masked_bincount.cpp
  ttnn/cpp/ttnn/operations/experimental/masked_bincount/masked_bincount.hpp
  ttnn/cpp/ttnn/operations/experimental/masked_bincount/masked_bincount_nanobind.cpp
  ttnn/cpp/ttnn/operations/experimental/masked_bincount/masked_bincount_nanobind.hpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

Update test_moe_gate
  models/demos/deepseek_v3/tests/test_moe.py
  models/demos/deepseek_v3/tests/test_moe_gate.py
  models/demos/deepseek_v3/tt/blaze_moe_gate.py
  models/demos/deepseek_v3/tt/moe.py
  models/demos/deepseek_v3_b1/tests/unit_tests/test_deepseek_moe_gate.py
Due: none

another round of opus remediation
  .github/scripts/security/input-validation.sh
  .github/workflows/aggregate-workflow-data.yaml
  .github/workflows/ai-tools.yaml
  .github/workflows/all-static-checks.yaml
  .github/workflows/auto-triage.yml
  .github/workflows/basic.yaml
  .github/workflows/blackhole-demo-tests-impl.yaml
  .github/workflows/build-artifact.yaml
  .github/workflows/codeowners-group-analysis.yaml
  .github/workflows/galaxy-deepseek-tests-impl.yaml
  .github/workflows/galaxy-unit-tests-impl.yaml
  .github/workflows/grouping-ci-failures.yaml
  .github/workflows/models-e2e-tests-impl.yaml
  .github/workflows/models-post-commit.yaml
  .github/workflows/sdk-examples.yaml
  .github/workflows/t3000-integration-tests-impl.yaml
  .github/workflows/t3000-unit-tests-impl.yaml
Due: none

[ttnn-operation-analyzer] analysis: tilize (input_stage reference for rms_norm)
  ttnn/ttnn/operations/rms_norm/agent_logs/tilize_analysis.md
  ttnn/ttnn/operations/rms_norm/agent_logs/ttnn-operation-analyzer_breadcrumbs.jsonl
Due: block-ttnn-pybind-changes

[ttnn-operation-analyzer] analysis: untilize (output_stage focus)
  ttnn/ttnn/operations/layer_norm_rm/agent_logs/tilize_analysis.md
  ttnn/ttnn/operations/layer_norm_rm/agent_logs/ttnn-operation-analyzer_breadcrumbs.jsonl
  ttnn/ttnn/operations/layer_norm_rm/agent_logs/untilize_analysis.md
Due: block-ttnn-pybind-changes

[ttnn-operation-analyzer] analysis: batch_norm
  scripts/tt-test.sh
  ttnn/ttnn/operations/layer_norm_rm/agent_logs/batch_norm_analysis.md
  ttnn/ttnn/operations/layer_norm_rm/agent_logs/ttnn-operation-analyzer_breadcrumbs.jsonl
  ttnn/ttnn/operations/layer_norm_rm/agent_logs/untilize_analysis.md
Due: block-ttnn-pybind-changes

[ttnn-operation-analyzer] analysis: reduce_w (compute_core focus)
  ttnn/ttnn/operations/rms_norm/agent_logs/reduce_w_analysis.md
  ttnn/ttnn/operations/rms_norm/agent_logs/ttnn-operation-analyzer_breadcrumbs.jsonl
  ttnn/ttnn/operations/rms_norm/agent_logs/untilize_analysis.md
Due: block-ttnn-pybind-changes

[ttnn-operation-analyzer] analysis: batch_norm
  ttnn/ttnn/operations/layer_norm_rm/agent_logs/tilize_analysis.md
  ttnn/ttnn/operations/layer_norm_rm/agent_logs/ttnn-operation-analyzer_breadcrumbs.jsonl
Due: block-ttnn-pybind-changes

[ttnn-operation-analyzer] analysis: reduce_h
  ttnn/ttnn/operations/softmax/agent_logs/reduce_h_analysis.md
  ttnn/ttnn/operations/softmax/agent_logs/reduce_w_analysis.md
  ttnn/ttnn/operations/softmax/agent_logs/ttnn-operation-analyzer_breadcrumbs.jsonl
Due: block-ttnn-pybind-changes

[ttnn-operation-analyzer] update breadcrumbs after untilize analysis completion
  ttnn/ttnn/operations/layer_norm_rm/agent_logs/tilize_analysis.md
Due: block-ttnn-pybind-changes

[ttnn-operation-analyzer] analysis: untilize (output_stage reference)
  ttnn/ttnn/operations/layer_norm_rm/agent_logs/tilize_analysis.md
  ttnn/ttnn/operations/layer_norm_rm/agent_logs/ttnn-operation-analyzer_breadcrumbs.jsonl
  ttnn/ttnn/operations/layer_norm_rm/agent_logs/untilize_analysis.md
Due: block-ttnn-pybind-changes

[ttnn-operation-analyzer] breadcrumbs: finalize untilize analysis logging
  ttnn/ttnn/operations/layer_norm_rm/agent_logs/batch_norm_analysis.md
  ttnn/ttnn/operations/layer_norm_rm/agent_logs/ttnn-operation-analyzer_breadcrumbs.jsonl
Due: block-ttnn-pybind-changes

[ttnn-operation-analyzer] analysis: reduce_w
  ttnn/ttnn/operations/softmax/agent_logs/reduce_h_analysis.md
  ttnn/ttnn/operations/softmax/agent_logs/reduce_w_analysis.md
  ttnn/ttnn/operations/softmax/agent_logs/ttnn-operation-analyzer_breadcrumbs.jsonl
Due: block-ttnn-pybind-changes

[ttnn-operation-analyzer] analysis: moreh_norm_w
  ttnn/ttnn/operations/rms_norm/agent_logs/tilize_analysis.md
  ttnn/ttnn/operations/rms_norm/agent_logs/ttnn-operation-analyzer_breadcrumbs.jsonl
Due: block-ttnn-pybind-changes

shellcheck precommit
  .github/scripts/security/check-actions-security.sh
  .pre-commit-config.yaml
Due: none

[ttnn-operation-analyzer] analysis: untilize (output_stage reference for rms_norm)
  ttnn/ttnn/operations/rms_norm/agent_logs/ttnn-operation-analyzer_breadcrumbs.jsonl
Due: block-ttnn-pybind-changes

Path conditions:
  block-ttnn-pybind-changes: any of: ^ttnn/
  detect-legacy-device-op: any of: ^ttnn/.*\.hpp$
  validate-golden-csv-columns: any of: ^tests/tt_metal/tt_metal/perf_microbenchmark/routing/golden/.*bandwidth.*\.csv$
