Repository tenstorrent/tt-metal: changes, and which pre-commit hooks are due for each by the changed paths.
All: block-ttnn-pybind-changes, detect-legacy-device-op, validate-golden-csv-columns

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v3.2.0
  hooks:
    - id: trailing-whitespace
      exclude: \.patch$
    - id: end-of-file-fixer
      exclude: \.patch$
    - id: check-yaml
      args: ["--unsafe"]
    - id: check-added-large-files
# Using this mirror lets us use mypyc-compiled black, which is about 2x faster
- repo: https://github.com/psf/black-pre-commit-mirror
  rev: 23.10.1
  hooks:
    - id: black
      language_version: python3
- repo: https://github.com/PyCQA/autoflake
  rev: v2.3.1
  hooks:
    - id: autoflake
      args: [--remove-all-unused-imports, --in-place, --recursive, --exclude=__init__.py]
      files: ^models/  # Run only on files in the models directory
- repo: https://github.com/pycqa/isort
  rev: 5.13.2
  hooks:
    - id: isort
      files: ^models/
      exclude: ^models/(demos/llama3_70b_galaxy|experimental)/
- repo: https://github.com/BlankSpruce/gersemi
  rev: 0.16.2
  hooks:
    - id: gersemi
- repo: https://github.com/adrienverge/yamllint.git
  rev: v1.35.1
  hooks:
    - id: yamllint
- repo: https://github.com/pre-commit/mirrors-clang-format
  rev: v19.1.4
  hooks:
    - id: clang-format
      entry: git-clang-format
      require_serial: true
      types_or: [c++, c]
      args: ["--style=file"]
- repo: local
  hooks:
    - id: validate-metalium-includes
      name: validate-metalium-includes
      entry: python3 scripts/validate_api/validate_includes.py tt_metal/api --check-ttnn-forwards
      language: system
      pass_filenames: false
    - id: validate-metalium-deprecation
      name: validate-metalium-deprecation
      entry: python3 scripts/validate_api/validate_deprecation.py tt_metal/api origin/main
      language: system
      pass_filenames: false
- repo: local
  hooks:
    - id: check-torch-imports-in-ttnn
      name: Verify that there is no global torch import in ttnn
      entry: python3 scripts/validate_no_global_torch_imports.py
      language: system
      pass_filenames: false
- repo: local
  hooks:
    - id: block-ttnn-pybind-changes
      name: Prevent edits to frozen pybind11 sources under ttnn
      entry: python3 scripts/block_ttnn_pybind_changes.py
      language: system
      pass_filenames: true
      files: ^ttnn/
- repo: local
  hooks:
    - id: convert-notebooks-to-py
      name: Convert .ipynb to .py for ttnn basic examples
      entry: python3 scripts/convert_notebooks_to_python.py
      language: system
- repo: local
  hooks:
    - id: detect-legacy-device-op
      name: Detect legacy device operation classes in newly added files
      entry: python3 scripts/detect_legacy_device_op.py --check-new-only
      language: system
      types: [file]
      files: ^ttnn/.*\.hpp$
      pass_filenames: true
      require_serial: true
- repo: local
  hooks:
    - id: validate-golden-csv-columns
      name: Validate golden bandwidth CSV column headers
      entry: bash .github/scripts/utils/validate_golden_csv_columns.sh
      language: system
      pass_filenames: false
      files: ^tests/tt_metal/tt_metal/perf_microbenchmark/routing/golden/.*bandwidth.*\.csv$

Replace Buffer* in resolved bindings with tensor_buffer_idx for safe cache hits
  tt_metal/api/tt-metalium/program_descriptors.hpp
  tt_metal/impl/program/program_descriptors.cpp
  ttnn/api/ttnn/mesh_device_operation_adapter.hpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

Add emplace_runtime_args fast cache-hit patching for descriptor factories
  tt_metal/api/tt-metalium/program_descriptors.hpp
  tt_metal/impl/program/program_descriptors.cpp
  ttnn/api/ttnn/mesh_device_operation_adapter.hpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

Remove unused factory Python bindings added speculatively
  ttnn/cpp/ttnn/operations/matmul/matmul_nanobind.cpp
  ttnn/ttnn/__init__.py
  ttnn/ttnn/operations/matmul.py
Due: block-ttnn-pybind-changes

Harden resolve_bindings against misuse of the RTArgList / buffer_bindings API
  tt_metal/impl/program/program_descriptors.cpp
Due: none

Revert "Adopt emplace_runtime_args fast path in matmul descriptor factories"
  ttnn/cpp/ttnn/operations/matmul/device/factory/matmul_multicore_program_factory.cpp
  ttnn/cpp/ttnn/operations/matmul/device/factory/matmul_multicore_reuse_mcast_2d_program_factory.cpp
Due: block-ttnn-pybind-changes

Adopt emplace_runtime_args fast path in all matmul descriptor factories
  ttnn/cpp/ttnn/operations/matmul/device/factory/matmul_multicore_reuse_batched_hs_dram_sharded_program_factory.cpp
  ttnn/cpp/ttnn/operations/matmul/device/factory/matmul_multicore_reuse_mcast_1d_program_factory.cpp
  ttnn/cpp/ttnn/operations/matmul/device/factory/matmul_multicore_reuse_mcast_dram_sharded_program_factory.cpp
  ttnn/cpp/ttnn/operations/matmul/device/factory/matmul_multicore_reuse_optimized_program_factory.cpp
Due: block-ttnn-pybind-changes

Fix ResolvedCbBinding to use uintptr_t (CBHandle) for CB id
  tests/ttnn/unit_tests/operations/fused/profile_matmul_dispatch.py
  tt_metal/api/tt-metalium/program_descriptors.hpp
  tt_metal/impl/program/program_descriptors.cpp
Due: none

Adopt emplace_runtime_args fast path in matmul descriptor factories
  ttnn/cpp/ttnn/operations/matmul/device/factory/matmul_multicore_program_factory.cpp
  ttnn/cpp/ttnn/operations/matmul/device/factory/matmul_multicore_reuse_mcast_2d_program_factory.cpp
Due: block-ttnn-pybind-changes

Add emplace_common_runtime_args and CommonBufferBinding for fast cache-hit patching
  tt_metal/api/tt-metalium/program_descriptors.hpp
  tt_metal/impl/program/program_descriptors.cpp
Due: none

Thread CBDescriptor::address_offset through apply/resolve CB bindings
  tt_metal/api/tt-metalium/program_descriptors.hpp
  tt_metal/impl/program/program_descriptors.cpp
Due: none

Add vector overload of KernelDescriptor::emplace_runtime_args
  tt_metal/api/tt-metalium/program_descriptors.hpp
  tt_metal/impl/program/program_descriptors.cpp
Due: none

gemma4_31b: add README
  models/forge/gemma4/README.md
Due: none

Update hang test: production config (q_chunk_size=0, bfloat8_b K/V, L1-sharded Q)
  tests/ttnn/nightly/unit_tests/operations/sdpa/test_sdpa_paged_decode_hang.py
Due: none

Address PR review: move resolved bindings to experimental, fix pointer stability
  tt_metal/api/tt-metalium/experimental/descriptor_patching.hpp
  tt_metal/api/tt-metalium/program_descriptors.hpp
  tt_metal/impl/program/program_descriptors.cpp
  ttnn/api/ttnn/mesh_device_operation_adapter.hpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

gc fix
  models/demos/gemma4/demo/text_demo.py
  models/demos/gemma4/tt/attention/decode.py
  models/demos/gemma4/tt/attention/operations.py
Due: none

reconfigure int
  tt_metal/tt-llk/tests/python_tests/fuser/blackhole/fpu/datacopy.py
  tt_metal/tt-llk/tests/python_tests/fuser/blackhole/unpacker/unpack_a.py
  tt_metal/tt-llk/tests/python_tests/fuser/fused_operation.py
  tt_metal/tt-llk/tests/python_tests/fuser/wormhole/fpu/datacopy.py
  tt_metal/tt-llk/tests/python_tests/fuser/wormhole/fpu/eltwise.py
  tt_metal/tt-llk/tests/python_tests/fuser/wormhole/fpu/matmul.py
  tt_metal/tt-llk/tests/python_tests/fuser/wormhole/parser.py
  tt_metal/tt-llk/tests/python_tests/fuser/wormhole/unpacker/matmul.py
  tt_metal/tt-llk/tests/python_tests/fuser/wormhole/unpacker/unpack_a.py
  tt_metal/tt-llk/tests/python_tests/fuser_config/fpu_datacopy_unpacker_a.yaml
  tt_metal/tt-llk/tests/python_tests/fuser_config/reconfigure_int.yaml
Due: none

test: add relay timeout tolerance, teardown/reopen ETH ordering tests; register gap1-4 in build
  tests/tt_metal/distributed/CMakeLists.txt
  tests/tt_metal/distributed/test_gap11_relay_timeout_tolerance.cpp
  tests/tt_metal/distributed/test_gap14_teardown_reopen_eth_ordering.cpp
Due: none

TQ SDPA: thread cur_pos into kernel; bound k_chunk loop by valid_seq_len
  ttnn/cpp/ttnn/operations/experimental/turbo_quant/sdpa/device/sdpa_tq_program_factory.cpp
  ttnn/cpp/ttnn/operations/experimental/turbo_quant/sdpa/kernels/compute/sdpa_tq_decode.cpp
  ttnn/cpp/ttnn/operations/experimental/turbo_quant/sdpa/kernels/dataflow/reader_tq_decode.cpp
  turbo_quant/eval_e2e.py
Due: block-ttnn-pybind-changes

addressing Nathan's comments
  tt-train/sources/ttml/CMakeLists.txt
  tt-train/sources/ttml/metal/ops/moe_group/device/kernels/compute/moe_group_tilize_kernel.cpp
  tt-train/sources/ttml/metal/ops/moe_group/device/kernels/dataflow/moe_group_combined_kernel.cpp
  tt-train/sources/ttml/metal/ops/moe_group/device/moe_group_program_factory.cpp
  tt-train/sources/ttml/nanobind/nb_ops.cpp
Due: none

Migrate randn op to ProgramDescriptor framework (#42193)
  ttnn/cpp/ttnn/operations/randn/device/randn_device_operation.hpp
  ttnn/cpp/ttnn/operations/randn/device/randn_program_factory.cpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

[tt-train] Precompute u_scaler in SDPA backward Q kernel and share with KV (#39812)
  tt-train/sources/ttml/metal/ops/ring_sdpa_bw/device/ring_sdpa_bw_kv_device_operation.cpp
  tt-train/sources/ttml/metal/ops/ring_sdpa_bw/device/ring_sdpa_bw_kv_device_operation.hpp
  tt-train/sources/ttml/metal/ops/ring_sdpa_bw/device/ring_sdpa_bw_kv_device_operation_types.hpp
  tt-train/sources/ttml/metal/ops/ring_sdpa_bw/device/ring_sdpa_bw_kv_program_factory.cpp
  tt-train/sources/ttml/metal/ops/ring_sdpa_bw/device/ring_sdpa_bw_q_device_operation.cpp
  tt-train/sources/ttml/metal/ops/ring_sdpa_bw/device/ring_sdpa_bw_q_device_operation_types.hpp
  tt-train/sources/ttml/metal/ops/ring_sdpa_bw/device/ring_sdpa_bw_q_program_factory.cpp
  tt-train/sources/ttml/metal/ops/ring_sdpa_bw/device/ring_sdpa_bw_q_program_factory.hpp
  tt-train/sources/ttml/metal/ops/ring_sdpa_bw/ring_sdpa_bw.cpp
  tt-train/sources/ttml/metal/ops/sdpa_bw/device/kernels/compute/sdpa_bw_compute_utils.hpp
  tt-train/sources/ttml/metal/ops/sdpa_bw/device/kernels/compute/sdpa_bw_kv_compute_kernel.cpp
  tt-train/sources/ttml/metal/ops/sdpa_bw/device/kernels/compute/sdpa_bw_q_compute_kernel.cpp
  tt-train/sources/ttml/metal/ops/sdpa_bw/device/kernels/dataflow/sdpa_bw_kv_reader_kernel.cpp
  tt-train/sources/ttml/metal/ops/sdpa_bw/device/kernels/dataflow/sdpa_bw_q_writer_kernel.cpp
  tt-train/sources/ttml/metal/ops/sdpa_bw/device/sdpa_bw_kv_device_operation.cpp
  tt-train/sources/ttml/metal/ops/sdpa_bw/device/sdpa_bw_kv_device_operation.hpp
  tt-train/sources/ttml/metal/ops/sdpa_bw/device/sdpa_bw_kv_device_operation_types.hpp
  tt-train/sources/ttml/metal/ops/sdpa_bw/device/sdpa_bw_kv_program_factory.cpp
  tt-train/sources/ttml/metal/ops/sdpa_bw/device/sdpa_bw_q_device_operation.cpp
  tt-train/sources/ttml/metal/ops/sdpa_bw/device/sdpa_bw_q_device_operation.hpp
  tt-train/sources/ttml/metal/ops/sdpa_bw/device/sdpa_bw_q_device_operation_types.hpp
  tt-train/sources/ttml/metal/ops/sdpa_bw/device/sdpa_bw_q_program_factory.cpp
  tt-train/sources/ttml/metal/ops/sdpa_bw/sdpa_bw.cpp
Due: none

addressing Nathan's comments
  tt-train/tests/python/test_moe_group.py
Due: none

red2one integration changes done
  models/demos/deepseek_v3_b1/fused_ops/decoder_block/kernels/decoder_block_kernel.cpp
  models/demos/deepseek_v3_b1/fused_ops/decoder_block/op.py
  models/demos/deepseek_v3_b1/fused_ops/moe/moe_kernel.cpp
  models/demos/deepseek_v3_b1/fused_ops/moe/op.py
  models/demos/deepseek_v3_b1/micro_ops/reduce_to_one_b1/kernels/reduce_to_one_kernel.cpp
  models/demos/deepseek_v3_b1/micro_ops/reduce_to_one_b1/op.py
  models/demos/deepseek_v3_b1/unified_kernels/reduce_to_one_b1.hpp
Due: none

fix: address reviewer requested changes
  models/demos/vision/generative/stable_diffusion/wormhole/tt/ttnn_functional_resnetblock2d_new_conv.py
Due: none

minor
  models/demos/deepseek_v3_b1/tests/unit_tests/per_core_allocation/test_compressed_tensor_multi_device.py
Due: none

Potential fix for pull request finding
  ttnn/cpp/ttnn/operations/normalization/layernorm/device/kernels/compute/layernorm_sharded_post_allgather.cpp
Due: block-ttnn-pybind-changes

#41020: fix up layernorm cb usage
  tests/ttnn/unit_tests/operations/fused/test_distributed_layernorm_sharded.py
  ttnn/cpp/ttnn/operations/normalization/layernorm/device/kernels/compute/layernorm_sharded_post_allgather.cpp
  ttnn/cpp/ttnn/operations/normalization/layernorm/device/layernorm_op_multi_core_sharded.cpp
  ttnn/cpp/ttnn/operations/normalization/layernorm/device/sharded_layernorm_factory_helpers.cpp
  ttnn/cpp/ttnn/operations/normalization/layernorm/device/sharded_layernorm_factory_helpers.hpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

Add 'Install ttml module' that populates .pth files
  .github/workflows/tt-metal-l2-nightly-impl.yaml
Due: none

update persistent semaphore creation
  models/demos/deepseek_v3_b1/demo/decoder_stage.py
  models/demos/deepseek_v3_b1/fused_ops/moe/op.py
  models/demos/deepseek_v3_b1/tests/unit_tests/test_bcast_moe_reduce_pipeline.py
  models/demos/deepseek_v3_b1/tests/unit_tests/test_decoder_block.py
  models/demos/deepseek_v3_b1/tests/unit_tests/test_moe_15_stages.py
Due: none

#41455: Add uint support for relational ops. (#41846)
  tests/ttnn/unit_tests/operations/eltwise/test_binary_uint16.py
  tests/ttnn/unit_tests/operations/eltwise/test_binary_uint32.py
  tt_metal/hw/ckernels/blackhole/metal/llk_api/llk_sfpu/ckernel_sfpu_binary_comp.h
  tt_metal/hw/ckernels/blackhole/metal/llk_api/llk_sfpu/llk_math_eltwise_binary_sfpu_binary_comp.h
  tt_metal/hw/ckernels/blackhole/metal/llk_api/llk_sfpu_types.h
  tt_metal/hw/ckernels/wormhole_b0/metal/llk_api/llk_sfpu/ckernel_sfpu_binary_comp.h
  tt_metal/hw/ckernels/wormhole_b0/metal/llk_api/llk_sfpu/llk_math_eltwise_binary_sfpu_binary_comp.h
  tt_metal/hw/ckernels/wormhole_b0/metal/llk_api/llk_sfpu_types.h
  tt_metal/hw/inc/api/compute/binary_comp.h
  tt_metal/tt-llk/tt_llk_blackhole/llk_lib/llk_math_eltwise_binary_sfpu.h
  tt_metal/tt-llk/tt_llk_wormhole_b0/llk_lib/llk_math_eltwise_binary_sfpu.h
  ttnn/cpp/ttnn/operations/eltwise/binary/common/binary_op_utils.cpp
  ttnn/cpp/ttnn/operations/eltwise/binary/device/kernels/compute/eltwise_binary_sfpu_kernel.cpp
  ttnn/cpp/ttnn/operations/eltwise/binary_ng/device/binary_ng_device_operation.cpp
  ttnn/cpp/ttnn/operations/eltwise/binary_ng/device/binary_ng_utils.cpp
Due: block-ttnn-pybind-changes

PLAN: cur_pos cap fix gives 64x speedup; e2e quality bug remains open
  turbo_quant/PLAN.md
Due: none

The post-process is now the same as torch version
  models/demos/deepseek_v3/tt/moe_gate.py
Due: none

Remove deepseek test altogether
  .github/workflows/tt-metal-l2-nightly-impl.yaml
Due: none

restore moe and update test imports
  models/demos/deepseek_v3/tests/tg_moe_tests/test_optimized_moe_decode_block_tg.py
  models/demos/deepseek_v3/tt/moe.py
Due: none

Add RMS norm distributed repro script
  rms_repro.py
Due: none

Chunk SDPA reference to avoid CPU OOM in ring-joint accuracy tests
  tests/nightly/blackhole/sdpa/test_ring_joint_sdpa.py
Due: none

moe decode path trace enabled
  models/experimental/tt_symbiote/modules/moe.py
Due: none

RVC Demo: add support for feature index and v2 synthesizer models
  models/demos/rvc/requirements.txt
  models/demos/rvc/scripts/infer_torch.py
  models/demos/rvc/scripts/infer_ttnn.py
  models/demos/rvc/torch_impl/vc/pipeline.py
  models/demos/rvc/tt_impl/vc/pipeline.py
  models/demos/rvc/utils/config.py
Due: none

compute api: fix init/configure order for matmul
  tt_metal/hw/inc/api/compute/matmul.h
Due: none
