Repository tenstorrent/tt-metal: changes, and which pre-commit hooks are due for each by the changed paths.
All: block-ttnn-pybind-changes, detect-legacy-device-op, validate-golden-csv-columns

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v3.2.0
  hooks:
    - id: trailing-whitespace
      exclude: \.patch$
    - id: end-of-file-fixer
      exclude: \.patch$
    - id: check-yaml
      args: ["--unsafe"]
    - id: check-added-large-files
# Using this mirror lets us use mypyc-compiled black, which is about 2x faster
- repo: https://github.com/psf/black-pre-commit-mirror
  rev: 23.10.1
  hooks:
    - id: black
      language_version: python3
- repo: https://github.com/PyCQA/autoflake
  rev: v2.3.1
  hooks:
    - id: autoflake
      args: [--remove-all-unused-imports, --in-place, --recursive, --exclude=__init__.py]
      files: ^models/  # Run only on files in the models directory
- repo: https://github.com/pycqa/isort
  rev: 5.13.2
  hooks:
    - id: isort
      files: ^models/
      exclude: ^models/(demos/llama3_70b_galaxy|experimental)/
- repo: https://github.com/BlankSpruce/gersemi
  rev: 0.16.2
  hooks:
    - id: gersemi
- repo: https://github.com/adrienverge/yamllint.git
  rev: v1.35.1
  hooks:
    - id: yamllint
- repo: https://github.com/pre-commit/mirrors-clang-format
  rev: v19.1.4
  hooks:
    - id: clang-format
      entry: git-clang-format
      require_serial: true
      types_or: [c++, c]
      args: ["--style=file"]
- repo: local
  hooks:
    - id: validate-metalium-includes
      name: validate-metalium-includes
      entry: python3 scripts/validate_api/validate_includes.py tt_metal/api --check-ttnn-forwards
      language: system
      pass_filenames: false
    - id: validate-metalium-deprecation
      name: validate-metalium-deprecation
      entry: python3 scripts/validate_api/validate_deprecation.py tt_metal/api origin/main
      language: system
      pass_filenames: false
- repo: local
  hooks:
    - id: check-torch-imports-in-ttnn
      name: Verify that there is no global torch import in ttnn
      entry: python3 scripts/validate_no_global_torch_imports.py
      language: system
      pass_filenames: false
- repo: local
  hooks:
    - id: block-ttnn-pybind-changes
      name: Prevent edits to frozen pybind11 sources under ttnn
      entry: python3 scripts/block_ttnn_pybind_changes.py
      language: system
      pass_filenames: true
      files: ^ttnn/
- repo: local
  hooks:
    - id: convert-notebooks-to-py
      name: Convert .ipynb to .py for ttnn basic examples
      entry: python3 scripts/convert_notebooks_to_python.py
      language: system
- repo: local
  hooks:
    - id: detect-legacy-device-op
      name: Detect legacy device operation classes in newly added files
      entry: python3 scripts/detect_legacy_device_op.py --check-new-only
      language: system
      types: [file]
      files: ^ttnn/.*\.hpp$
      pass_filenames: true
      require_serial: true
- repo: local
  hooks:
    - id: validate-golden-csv-columns
      name: Validate golden bandwidth CSV column headers
      entry: bash .github/scripts/utils/validate_golden_csv_columns.sh
      language: system
      pass_filenames: false
      files: ^tests/tt_metal/tt_metal/perf_microbenchmark/routing/golden/.*bandwidth.*\.csv$

fix(ttnn): eliminate 16 dead dispatches and discarded where guards in div_bw (#55392)
  ttnn/cpp/ttnn/operations/eltwise/binary_backward/binary_backward.cpp
Due: block-ttnn-pybind-changes

Refresh only MeshPartition dynamic addresses (tt-metal-23s.29.2)
  tests/nightly/tg/ccl/test_mesh_partition_6U.py
  ttnn/cpp/ttnn/operations/ccl/mesh_partition/device/mesh_partition_device_operation.hpp
  ttnn/cpp/ttnn/operations/ccl/mesh_partition/device/mesh_partition_program_factory.cpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

gitblobstore: checkandput manifest
  idm6jd2r47ou79uer2ispf8nnh7hngv9.darc
  manifest
Due: none

gitblobstore: checkandput manifest
  manifest
  r7lndgalh7uvdt99o0omgddro192m5ka
Due: none

Use common arguments for fused IndexerScore consumers (tt-metal-23s.29.1)
  ttnn/cpp/ttnn/operations/experimental/indexer_score/device/kernels/compute_indexer_score.cpp
  ttnn/cpp/ttnn/operations/experimental/indexer_score/device/kernels/indexer_score_fused_common_args.hpp
  ttnn/cpp/ttnn/operations/experimental/indexer_score/device/kernels/reader_indexer_score.cpp
  ttnn/cpp/ttnn/operations/experimental/indexer_score/device/kernels/writer_indexer_score.cpp
  ttnn/cpp/ttnn/operations/experimental/indexer_score/device/ring_indexer_score_dsa_program_factory.cpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

Refinement 2: Spread the finalize (Lamp L-FIN) — built, measured a loss, parked; the round's transport is the 1.035x
  .device_timing.jsonl
  ttnn/ttnn/operations/rms_norm_ttnn/agent_logs/ttnn-implementer_breadcrumbs.jsonl
  ttnn/ttnn/operations/rms_norm_ttnn/changelog.md
  ttnn/ttnn/operations/rms_norm_ttnn/kernels/rms_norm_ttnn_writer.cpp
  ttnn/ttnn/operations/rms_norm_ttnn/l1_ledger.md
  ttnn/ttnn/operations/rms_norm_ttnn/op_design.md
  ttnn/ttnn/operations/rms_norm_ttnn/op_requirements.md
Due: block-ttnn-pybind-changes

Reuse typed tensor tables and kernel handles in Metal2 updates (tt-metal-23s.29.5)
  tests/tt_metal/tt_metal/api/metal2_host_api/test_program_run_args.cpp
  tt_metal/impl/metal2_host_api/program_run_args.cpp
  tt_metal/impl/program/program.cpp
  tt_metal/impl/program/program_impl.hpp
Due: none

#54235: Widen ternary program-cache reuse; key sharded on TensorAccessor radix
  tests/ttnn/nightly/unit_tests/operations/eltwise/test_ternary_bcast.py
  ttnn/cpp/ttnn/operations/eltwise/ternary/device/ternary_device_operation.cpp
Due: block-ttnn-pybind-changes

gitblobstore: checkandput manifest
  6pvg9ub499savilh0h31k8l6eenvufsr.darc
  manifest
Due: none

gitblobstore: checkandput manifest
  manifest
  t2856ufj5auk9q44okk3f7jhi885g3jp
Due: none

bringup: re-hang a model's overlays onto the demo the run actually scaffolded
  scripts/tt_hw_planner/cli.py
  scripts/tt_hw_planner/overlay_manager.py
  scripts/tt_hw_planner/tests/test_overlay_rehang_on_moved_demo.py
Due: none

Fuse promoted remainder BF16 conversion and clarify SFPU immediates
  tests/ttnn/unit_tests/operations/eltwise/test_binary_int32.py
  tt_metal/hw/ckernels/blackhole/metal/llk_api/llk_sfpu/ckernel_sfpu_div_int32_floor.h
  tt_metal/hw/ckernels/wormhole_b0/metal/llk_api/llk_sfpu/ckernel_sfpu_binary_remainder.h
  tt_metal/hw/ckernels/wormhole_b0/metal/llk_api/llk_sfpu/ckernel_sfpu_div_int32_floor.h
  ttnn/cpp/ttnn/operations/eltwise/binary/device/binary_composite_op.cpp
Due: block-ttnn-pybind-changes

Add an owning accessor for resolved legacy kernel runtime arguments (tt-metal-23s.30)
  tests/tt_metal/tt_metal/api/metal2_host_api/test_program_run_args.cpp
  tt_metal/api/tt-metalium/host_api.hpp
  tt_metal/impl/host_api/tt_metal.cpp
Due: none

Use resolved runtime accessor and reuse slice geometry in AllGather (tt-metal-23s.29.3)
  tests/ttnn/unit_tests/operations/experimental/test_high_bw_all_gather.py
  ttnn/cpp/ttnn/operations/experimental/high_bw_all_gather/device/high_bw_all_gather_unicast_factory.cpp
  ttnn/cpp/ttnn/operations/experimental/high_bw_all_gather/device/high_bw_all_gather_unicast_factory.hpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

gitblobstore: checkandput manifest
  f6226b1u1u82vdp73blh5nme9hfu04i4.darc
  manifest
Due: none

gitblobstore: checkandput manifest
  k499jn7ls2dpogcnsqa1hng3h15pqn5g
  manifest
Due: none

Share remainder reciprocal arithmetic while preserving SFPU scheduling
  tt_metal/hw/ckernels/blackhole/metal/llk_api/llk_sfpu/ckernel_sfpu_binary_fmod.h
  tt_metal/hw/ckernels/blackhole/metal/llk_api/llk_sfpu/ckernel_sfpu_binary_remainder.h
  tt_metal/hw/ckernels/wormhole_b0/metal/llk_api/llk_sfpu/ckernel_sfpu_binary_fmod.h
  tt_metal/hw/ckernels/wormhole_b0/metal/llk_api/llk_sfpu/ckernel_sfpu_binary_remainder.h
Due: none

gitblobstore: checkandput manifest
  k42ikj5uf88qmke7nov7iij0vr72o1v8.darc
  manifest
Due: none

gitblobstore: checkandput manifest
  entlvof51afjbvftggoh53pbr7qatgmh
  manifest
Due: none

moe_fused_swiglu: intermediate_dtype op argument (bfp8 | bf16 partials), down multi-row knob, log
  routed_expert_work/WORKLOG.md
  routed_expert_work/results/e12_down1_bfp8.jsonl
  routed_expert_work/results/e12_down2_bf16.jsonl
  routed_expert_work/results/e12_down2_bfp8.jsonl
  routed_expert_work/results/e12b_down2_bf16.jsonl
  routed_expert_work/results/e12b_down2_bfp8.jsonl
  routed_expert_work/results/final_bf16.jsonl
  routed_expert_work/results/final_bfp8.jsonl
  routed_expert_work/results/spiky_bf16.jsonl
  routed_expert_work/results/spiky_bfp8.jsonl
  routed_expert_work/test_bench.py
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/moe_fused_swiglu/device/kernels/moe_fused_swiglu_compute.cpp
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/moe_fused_swiglu/device/moe_fused_swiglu_device_operation.cpp
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/moe_fused_swiglu/device/moe_fused_swiglu_device_operation.hpp
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/moe_fused_swiglu/device/moe_fused_swiglu_program_factory.cpp
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/moe_fused_swiglu/device/moe_fused_swiglu_types.hpp
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/moe_fused_swiglu/moe_fused_swiglu.cpp
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/moe_fused_swiglu/moe_fused_swiglu.hpp
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/moe_fused_swiglu/moe_fused_swiglu_nanobind.cpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

gitblobstore: checkandput manifest
  manifest
  pr28b1kdoau25qncfupu8lj389ejce2m.darc
Due: none

gitblobstore: checkandput manifest
  2dho263cgttcthnt4rh1mf7nnjgfi9ub
  manifest
Due: none

add persistent output buffer
  ttnn/cpp/ttnn/operations/experimental/ccl/broadcast_ring/broadcast_ring.cpp
  ttnn/cpp/ttnn/operations/experimental/ccl/broadcast_ring/broadcast_ring.hpp
  ttnn/cpp/ttnn/operations/experimental/ccl/broadcast_ring/broadcast_ring_nanobind.cpp
  ttnn/cpp/ttnn/operations/experimental/ccl/broadcast_ring/device/broadcast_ring_device_operation.cpp
  ttnn/cpp/ttnn/operations/experimental/ccl/broadcast_ring/device/broadcast_ring_device_operation.hpp
  ttnn/cpp/ttnn/operations/experimental/ccl/broadcast_ring/device/broadcast_ring_device_operation_types.hpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

gemma4: pin linear CCL on the 12B tp=8 LoudBox leg
  .github/workflows/vllm-model-tests-impl.yaml
Due: none

gemma4: 12B tp=8 vLLM CI coverage on BH LoudBox (P150x8)
  .github/time_budget.yaml
  .github/workflows/vllm-model-tests-impl.yaml
  tests/pipeline_reorg/vllm_model_tests.yaml
Due: none

Remove the four fidelity counters that are tied off in hardware
  docs/source/ttnn/ttnn/profiling_ttnn_operations.rst
  tech_reports/PerfCounters/perf-counters.md
  tools/tracy/perf_counter_analysis.py
  tools/tracy/process_ops_logs.py
  tt_metal/hw/inc/internal/tt-1xx/blackhole/hw_counters.h
  tt_metal/hw/inc/internal/tt-1xx/wormhole/hw_counters.h
  tt_metal/tools/profiler/perf_counters.hpp
Due: none

Fix the unpack counter count and two review findings
  tt_metal/hw/inc/internal/tt-1xx/blackhole/hw_counters.h
  tt_metal/hw/inc/internal/tt-1xx/wormhole/hw_counters.h
  tt_metal/tools/profiler/perf_counters.hpp
Due: none

tracy: capture perf counter groups over multiple passes
  tests/ttnn/tracy/test_perf_counter_multipass.py
  tools/tracy/__main__.py
Due: none

Name the Blackhole L1 counters after the clients they actually count
  tools/tracy/perf_counter_analysis.py
  tt_metal/hw/inc/internal/tt-1xx/blackhole/hw_counters.h
  tt_metal/tools/profiler/perf_counters.hpp
Due: none

perf counters: drop the headings the fidelity removal left empty, name the instrn array size
  docs/source/ttnn/ttnn/profiling_ttnn_operations.rst
  tools/tracy/perf_counter_analysis.py
  tools/tracy/process_ops_logs.py
  tt_metal/hw/inc/internal/tt-1xx/blackhole/hw_counters.h
  tt_metal/hw/inc/internal/tt-1xx/wormhole/hw_counters.h
Due: none

Prepare compact MeshPartition address updates on cache miss (tt-metal-23s.31.1)
  tests/nightly/tg/ccl/test_mesh_partition_6U.py
  ttnn/cpp/ttnn/operations/ccl/mesh_partition/device/mesh_partition_device_operation.hpp
  ttnn/cpp/ttnn/operations/ccl/mesh_partition/device/mesh_partition_program_factory.cpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

Collect fused IndexerScore operands and gather controls once per dispatch (tt-metal-23s.31.6)
  ttnn/cpp/ttnn/operations/experimental/indexer_score/device/ring_indexer_score_dsa_program_factory.cpp
Due: block-ttnn-pybind-changes

Prepare fixed Metal2 common-scalar update selections (tt-metal-23s.31.2)
  tests/tt_metal/tt_metal/api/metal2_host_api/test_program_run_args.cpp
  tt_metal/api/tt-metalium/experimental/metal2_host_api/program.hpp
  tt_metal/impl/metal2_host_api/program_run_args.cpp
Due: none

Apply prepared common-scalar updates in indexed Rotary (tt-metal-23s.31.4)
  models/demos/deepseek_v3_d_p/tests/op_unit_tests/test_deepseek_prefill_rotary_embedding_indexed.py
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/rotary_embedding_indexed/device/rotary_embedding_indexed_device_operation.cpp
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/rotary_embedding_indexed/device/rotary_embedding_indexed_device_operation.hpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

Prepare AllGather control slices once per schedule group (tt-metal-23s.31.5)
  tests/ttnn/unit_tests/operations/experimental/test_high_bw_all_gather.py
  ttnn/cpp/ttnn/operations/experimental/high_bw_all_gather/device/high_bw_all_gather_unicast_factory.cpp
  ttnn/cpp/ttnn/operations/experimental/high_bw_all_gather/device/high_bw_all_gather_unicast_factory.hpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

gitblobstore: checkandput manifest
  isfb44n2nooplhkb6bc9coqhg1uuhbqj.darc
  manifest
Due: none

gitblobstore: checkandput manifest
  manifest
  tk3koolkc4nftllu2kaocgkv9qpnu98s
Due: none
