Repository tenstorrent/tt-metal: changes, and which pre-commit hooks are due for each by the changed paths.
All: block-ttnn-pybind-changes, detect-legacy-device-op, validate-golden-csv-columns

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v3.2.0
  hooks:
    - id: trailing-whitespace
      exclude: \.patch$
    - id: end-of-file-fixer
      exclude: \.patch$
    - id: check-yaml
      args: ["--unsafe"]
    - id: check-added-large-files
# Using this mirror lets us use mypyc-compiled black, which is about 2x faster
- repo: https://github.com/psf/black-pre-commit-mirror
  rev: 23.10.1
  hooks:
    - id: black
      language_version: python3
- repo: https://github.com/PyCQA/autoflake
  rev: v2.3.1
  hooks:
    - id: autoflake
      args: [--remove-all-unused-imports, --in-place, --recursive, --exclude=__init__.py]
      files: ^models/  # Run only on files in the models directory
- repo: https://github.com/pycqa/isort
  rev: 5.13.2
  hooks:
    - id: isort
      files: ^models/
      exclude: ^models/(demos/llama3_70b_galaxy|experimental)/
- repo: https://github.com/BlankSpruce/gersemi
  rev: 0.16.2
  hooks:
    - id: gersemi
- repo: https://github.com/adrienverge/yamllint.git
  rev: v1.35.1
  hooks:
    - id: yamllint
- repo: https://github.com/pre-commit/mirrors-clang-format
  rev: v19.1.4
  hooks:
    - id: clang-format
      entry: git-clang-format
      require_serial: true
      types_or: [c++, c]
      args: ["--style=file"]
- repo: local
  hooks:
    - id: validate-metalium-includes
      name: validate-metalium-includes
      entry: python3 scripts/validate_api/validate_includes.py tt_metal/api --check-ttnn-forwards
      language: system
      pass_filenames: false
    - id: validate-metalium-deprecation
      name: validate-metalium-deprecation
      entry: python3 scripts/validate_api/validate_deprecation.py tt_metal/api origin/main
      language: system
      pass_filenames: false
- repo: local
  hooks:
    - id: check-torch-imports-in-ttnn
      name: Verify that there is no global torch import in ttnn
      entry: python3 scripts/validate_no_global_torch_imports.py
      language: system
      pass_filenames: false
- repo: local
  hooks:
    - id: block-ttnn-pybind-changes
      name: Prevent edits to frozen pybind11 sources under ttnn
      entry: python3 scripts/block_ttnn_pybind_changes.py
      language: system
      pass_filenames: true
      files: ^ttnn/
- repo: local
  hooks:
    - id: convert-notebooks-to-py
      name: Convert .ipynb to .py for ttnn basic examples
      entry: python3 scripts/convert_notebooks_to_python.py
      language: system
- repo: local
  hooks:
    - id: detect-legacy-device-op
      name: Detect legacy device operation classes in newly added files
      entry: python3 scripts/detect_legacy_device_op.py --check-new-only
      language: system
      types: [file]
      files: ^ttnn/.*\.hpp$
      pass_filenames: true
      require_serial: true
- repo: local
  hooks:
    - id: validate-golden-csv-columns
      name: Validate golden bandwidth CSV column headers
      entry: bash .github/scripts/utils/validate_golden_csv_columns.sh
      language: system
      pass_filenames: false
      files: ^tests/tt_metal/tt_metal/perf_microbenchmark/routing/golden/.*bandwidth.*\.csv$

fix
  .github/workflows/ttnn-run-sweeps.yaml
  tests/sweep_framework/load_ttnn_ops_data_v2.py
Due: none

Add missing total_size field to OverlappedTensor serialization/deserialization
  models/demos/deepseek_v3_b1/demo/pipeline.py
  models/demos/deepseek_v3_b1/prepare_weights.py
  models/demos/deepseek_v3_b1/scripts/generate_cache.py
  models/demos/deepseek_v3_b1/tests/unit_tests/test_prepare_weights.py
Due: none

adding scalar input support to tilize_with_val_padding
  tests/ttnn/unit_tests/operations/data_movement/test_tilize_with_val_padding.py
  ttnn/cpp/ttnn/operations/data_movement/tilize_with_val_padding/device/factories/tilize_with_val_padding_factory_helper.cpp
  ttnn/cpp/ttnn/operations/data_movement/tilize_with_val_padding/device/tilize_with_val_padding_device_operation.cpp
Due: block-ttnn-pybind-changes

Col_tilize fix
  ttnn/core/tensor/py_to_tt_tensor.cpp
Due: block-ttnn-pybind-changes

more golden changes for testing
  models/demos/deepseek_v3_b1/fused_ops/decoder_block/op.py
  models/demos/deepseek_v3_b1/tests/unit_tests/test_decoder_block.py
Due: none

Fix unit test
  ttnn/core/tensor/py_to_tt_tensor.cpp
Due: block-ttnn-pybind-changes

adding unit tests
  tests/ttnn/unit_tests/operations/data_movement/test_tilize_with_val_padding.py
  ttnn/cpp/ttnn/operations/data_movement/tilize_with_val_padding/device/tilize_with_val_padding_device_operation.cpp
Due: block-ttnn-pybind-changes

Multi-device fabric dispatch (E=4, 1x4) with multi-dest routing
  tests/ttnn/unit_tests/operations/experimental/prefill_moe/kernels/fabric_dispatch.cpp
  tests/ttnn/unit_tests/operations/experimental/prefill_moe/test_fabric_E4_1x4.py
  tests/ttnn/unit_tests/operations/experimental/prefill_moe/test_fabric_E4_1x4_debug.py
  ttnn/cpp/ttnn/operations/experimental/prefill_moe_compute/device/prefill_moe_compute_device_operation.cpp
  ttnn/cpp/ttnn/operations/experimental/prefill_moe_compute/device/prefill_moe_compute_device_operation.hpp
  ttnn/cpp/ttnn/operations/experimental/prefill_moe_compute/device/prefill_moe_compute_device_operation_types.hpp
  ttnn/cpp/ttnn/operations/experimental/prefill_moe_compute/device/prefill_moe_compute_program_factory.cpp
  ttnn/cpp/ttnn/operations/experimental/prefill_moe_compute/prefill_moe_compute_nanobind.cpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

Reduce level of nesting
  ttnn/core/distributed/distributed_tensor.cpp
Due: block-ttnn-pybind-changes

pre merge
  tt-train/sources/examples/qwen3/generate.py
  tt-train/sources/examples/qwen3/train.py
  tt-train/sources/examples/qwen3/utils/device_setup.py
  tt-train/sources/examples/qwen3/utils/kv_cache.py
Due: none

added meta-llama3-8B in dict lookup
  models/tt_transformers/tests/test_model.py
  models/tt_transformers/tt/model_config.py
Due: none

add kv cache deinterleave logic
  models/demos/deepseek_v3_b1/tests/unit_tests/test_decoder_block.py
  tt_metal/impl/debug/watcher_device_reader.cpp
  tt_metal/llrt/llrt.cpp
  tt_metal/tt_metal.cpp
Due: none

cleanup
  models/tt_transformers/tests/test_model.py
Due: none

Drop unrelated isin test change
  tests/ttnn/nightly/unit_tests/operations/experimental/test_isin.py
Due: none

llama-galaxy side changes
  models/demos/llama3_70b_galaxy/tt/generator.py
  models/demos/llama3_70b_galaxy/tt/llama_model.py
Due: none

scale down synthetic weights
  models/demos/deepseek_v3_b1/tests/unit_tests/conftest.py
Due: none

Fix PR review feedback: align topk_router_gpt with DeepSeek moe_gate_mm patterns
  models/demos/gpt_oss/tt/topk.py
  tests/ttnn/nightly/unit_tests/operations/experimental/test_topk_router_gpt.py
  ttnn/cpp/ttnn/operations/experimental/topk_router_gpt/CMakeLists.txt
  ttnn/cpp/ttnn/operations/experimental/topk_router_gpt/device/kernels/compute.cpp
  ttnn/cpp/ttnn/operations/experimental/topk_router_gpt/device/kernels/dm0.cpp
  ttnn/cpp/ttnn/operations/experimental/topk_router_gpt/device/kernels/dm1.cpp
  ttnn/cpp/ttnn/operations/experimental/topk_router_gpt/device/topk_router_gpt_device_operation.cpp
  ttnn/cpp/ttnn/operations/experimental/topk_router_gpt/device/topk_router_gpt_device_operation.hpp
  ttnn/cpp/ttnn/operations/experimental/topk_router_gpt/device/topk_router_gpt_device_operation_types.hpp
  ttnn/cpp/ttnn/operations/experimental/topk_router_gpt/device/topk_router_gpt_program_factory.cpp
  ttnn/cpp/ttnn/operations/experimental/topk_router_gpt/device/topk_router_gpt_program_factory.hpp
  ttnn/cpp/ttnn/operations/experimental/topk_router_gpt/topk_router_gpt.hpp
  ttnn/cpp/ttnn/operations/experimental/topk_router_gpt/topk_router_gpt_nanobind.cpp
  ttnn/cpp/ttnn/operations/experimental/topk_router_gpt/topk_router_gpt_nanobind.hpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

REAP-218B: per-projection dtype support for expert weights (BF4 tested, rejected)
  models/demos/glm4_moe/tt/layer_weights.py
Due: none

use common runtime args
  ttnn/cpp/ttnn/operations/experimental/ccl/neighbor_pad_async/device/kernels/local_copy_reader.cpp
  ttnn/cpp/ttnn/operations/experimental/ccl/neighbor_pad_async/device/kernels/local_copy_writer.cpp
  ttnn/cpp/ttnn/operations/experimental/ccl/neighbor_pad_async/device/kernels/minimal_default_reader.cpp
  ttnn/cpp/ttnn/operations/experimental/ccl/neighbor_pad_async/device/kernels/minimal_default_writer.cpp
  ttnn/cpp/ttnn/operations/experimental/ccl/neighbor_pad_async/device/kernels/phase2_w_reader.cpp
  ttnn/cpp/ttnn/operations/experimental/ccl/neighbor_pad_async/device/neighbor_pad_async_program_factory.cpp
  ttnn/cpp/ttnn/operations/experimental/ccl/neighbor_pad_async/device/neighbor_pad_async_program_factory.hpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

fix
  models/tt_transformers/tt/model_config.py
Due: none

Add missing total_size field to OverlappedTensor serialization/deserialization
  models/demos/deepseek_v3_b1/prepare_weights.py
  models/demos/deepseek_v3_b1/scripts/generate_cache.py
  models/demos/deepseek_v3_b1/tests/unit_tests/test_prepare_weights.py
Due: none

Fix wrongly introduced changes to llk_math_commit (#1437)
  tt_llk_blackhole/llk_lib/llk_math_common.h
  tt_llk_wormhole_b0/llk_lib/llk_math_common.h
Due: none

remove attempted fix for non-traced decode
  models/demos/llama3_70b_galaxy/tt/generator.py
Due: none

Address review feedback: fix DST sync, OOB, dead code, test coverage
  models/demos/gpt_oss/tt/topk.py
  tests/ttnn/nightly/unit_tests/operations/experimental/test_topk_router_gpt.py
  ttnn/cpp/ttnn/operations/experimental/topk_router_gpt/device/kernels/compute.cpp
  ttnn/cpp/ttnn/operations/experimental/topk_router_gpt/device/kernels/dm0.cpp
  ttnn/cpp/ttnn/operations/experimental/topk_router_gpt/device/kernels/dm1.cpp
  ttnn/cpp/ttnn/operations/experimental/topk_router_gpt/device/topk_router_gpt_program_factory.cpp
Due: block-ttnn-pybind-changes

subdevice workaround
  models/demos/llama3_70b_galaxy/tt/generator.py
Due: none

text hang fix
  ttnn/cpp/ttnn/operations/experimental/ccl/neighbor_pad_async/device/neighbor_pad_async_program_factory.cpp
Due: block-ttnn-pybind-changes

more workaround
  models/demos/llama3_70b_galaxy/tt/llama_model.py
Due: none

more missed subcoregrid
  models/demos/llama3_70b_galaxy/tt/llama_model.py
Due: none

add moe validation
  models/demos/deepseek_v3_b1/fused_ops/decoder_block/op.py
  models/demos/deepseek_v3_b1/tests/unit_tests/test_decoder_block.py
  tt_metal/impl/kernels/kernel.cpp
  tt_metal/impl/program/program.cpp
Due: none

fix
  tests/sweep_framework/sweeps/model_traced/attention_softmax__model_traced.py
  tests/sweep_framework/sweeps/model_traced/fold_model_traced.py
  tests/sweep_framework/sweeps/model_traced/group_norm_model_traced.py
  tests/sweep_framework/sweeps/model_traced/matmul_model_traced.py
  tests/sweep_framework/sweeps/model_traced/max_pool2d_model_traced.py
  tests/sweep_framework/sweeps/model_traced/rotary_embedding_llama_fused_qk_model_traced.py
  tests/sweep_framework/sweeps/model_traced/softmax_in_place_model_traced.py
  tests/sweep_framework/sweeps/model_traced/softmax_model_traced.py
  tests/sweep_framework/sweeps/model_traced/std_model_traced.py
  tests/sweep_framework/sweeps/model_traced/tilize_model_traced.py
Due: none

loading in dequantized weights as opposed to dequantizing
  models/demos/deepseek_v3/tests/test_decoder_block.py
  models/demos/deepseek_v3/tests/test_dequantize.py
  models/demos/deepseek_v3/tests/test_embedding.py
  models/demos/deepseek_v3/tests/test_mla.py
  models/demos/deepseek_v3/tests/test_mlp.py
  models/demos/deepseek_v3/tests/test_model.py
  models/demos/deepseek_v3/tests/test_moe.py
  models/demos/deepseek_v3/tests/test_moe_experts.py
  models/demos/deepseek_v3/tt/experts.py
  models/demos/deepseek_v3/tt/mla/mla1d.py
  models/demos/deepseek_v3/tt/mlp/mlp_dequant.py
  models/demos/deepseek_v3/tt/moe.py
  models/demos/deepseek_v3/tt/moe_gate.py
  models/demos/deepseek_v3/utils/config_helpers.py
  models/demos/deepseek_v3/utils/dequantize.py
  models/demos/deepseek_v3/utils/hf_model_utils.py
  models/demos/deepseek_v3/utils/test_utils.py
Due: none

fully functional with all module tests loading dequantized weights
  models/demos/deepseek_v3/demo/generate_teacher_forced_file.py
  models/demos/deepseek_v3/tests/test_dequantize.py
  models/demos/deepseek_v3/tests/test_embedding.py
  models/demos/deepseek_v3/tests/test_get_weight_config.py
  models/demos/deepseek_v3/tests/test_mlp.py
  models/demos/deepseek_v3/tests/test_moe.py
  models/demos/deepseek_v3/tt/embedding/embedding1d.py
  models/demos/deepseek_v3/tt/experts.py
  models/demos/deepseek_v3/tt/lm_head.py
  models/demos/deepseek_v3/tt/lm_head1d.py
  models/demos/deepseek_v3/tt/moe.py
  models/demos/deepseek_v3/tt/moe_gate.py
  models/demos/deepseek_v3/utils/test_utils.py
  models/demos/deepseek_v3/utils/weight_config.py
Due: none

avoid padding after unpack
  models/demos/llama3_70b_galaxy/tt/llama_model.py
Due: none

add moe validation
  models/demos/deepseek_v3_b1/fused_ops/decoder_block/op.py
  models/demos/deepseek_v3_b1/tests/unit_tests/test_decoder_block.py
Due: none

#0: comment out ccls in ring joint sdpa
  ttnn/cpp/ttnn/operations/experimental/ccl/ring_attention_all_gather_async/device/kernels/ring_attention_all_gather_reader.cpp
  ttnn/cpp/ttnn/operations/experimental/ccl/ring_attention_all_gather_async/device/kernels/ring_attention_all_gather_writer.cpp
Due: block-ttnn-pybind-changes

Add SDPA WAN sprint tests and ring joint determinism test
  tests/tt_eager/python_api_testing/unit_testing/test_ring_joint_attention_scaled_dot_product_attention_sprint.py
  tests/tt_eager/python_api_testing/unit_testing/test_scaled_dot_product_attention_sprint.py
Due: none

add scores and indices to the return for verification
  models/demos/deepseek_v3_b1/fused_ops/decoder_block/op.py
Due: none

refactor TorchDispatchModule / TorchCombineModule
  models/demos/deepseek_v3_d_p/tests/pcc/test_playground.py
Due: none
