Repository tenstorrent/tt-metal: changes, and which pre-commit hooks are due for each by the changed paths.
All: block-ttnn-pybind-changes, detect-legacy-device-op, validate-golden-csv-columns

block-ttnn-pybind-changes:
  name: Prevent edits to frozen pybind11 sources under ttnn
  entry: python3 scripts/block_ttnn_pybind_changes.py
  language: system
  pass_filenames: true

detect-legacy-device-op:
  name: Detect legacy device operation classes in newly added files
  entry: python3 scripts/detect_legacy_device_op.py --check-new-only
  language: system
  pass_filenames: true
  require_serial: true

validate-golden-csv-columns:
  name: Validate golden bandwidth CSV column headers
  entry: bash .github/scripts/utils/validate_golden_csv_columns.sh
  language: system
  pass_filenames: false

toy_variance: move to Metal 2.0 ProgramSpec + add a width-sharded cross-core variant
  tests/ttnn/unit_tests/operations/toy_variance/test_toy_variance.py
  ttnn/ttnn/operations/toy_variance/kernels/compute.cpp
  ttnn/ttnn/operations/toy_variance/kernels/reader.cpp
  ttnn/ttnn/operations/toy_variance/kernels/sharded_compute.cpp
  ttnn/ttnn/operations/toy_variance/kernels/sharded_reader.cpp
  ttnn/ttnn/operations/toy_variance/kernels/sharded_writer.cpp
  ttnn/ttnn/operations/toy_variance/kernels/writer.cpp
  ttnn/ttnn/operations/toy_variance/toy_variance.py
  ttnn/ttnn/operations/toy_variance/toy_variance_program_descriptor.py
  ttnn/ttnn/operations/toy_variance/toy_variance_program_spec.py
  ttnn/ttnn/operations/toy_variance/toy_variance_sharded_program_spec.py
Due: block-ttnn-pybind-changes

toy_variance: drop the cb_ aliases, use the generated dfb:: names directly
  ttnn/ttnn/operations/toy_variance/kernels/compute.cpp
  ttnn/ttnn/operations/toy_variance/kernels/reader.cpp
  ttnn/ttnn/operations/toy_variance/kernels/sharded_compute.cpp
  ttnn/ttnn/operations/toy_variance/kernels/sharded_reader.cpp
Due: block-ttnn-pybind-changes

fix(mistral4): set the manifest gate mode to GPT_DEVICE
  models/demos/deepseek_v3_d_p/tt/runners/manifests/mistral4.json
Due: none

Update m3 pipeline docs
  models/demos/minimax_m3/docs/PIPELINE_PREFILL_TESTING.md
Due: none

[Bug fix] Return 1 for SFPU pow(x, 0) (#53759)
  tt_metal/hw/ckernels/blackhole/metal/llk_api/llk_sfpu/ckernel_sfpu_binary.h
  tt_metal/hw/ckernels/wormhole_b0/metal/llk_api/llk_sfpu/ckernel_sfpu_binary.h
  tt_metal/tt-llk/tests/python_tests/helpers/sfpu_domains.py
  tt_metal/tt-llk/tests/python_tests/test_sfpu_binary.py
  tt_metal/tt-llk/tests/python_tests/test_sfpu_domains.py
Due: none

perf_automation: the input preparer must be reachable from where the marks run
  models/experimental/perf_automation/agent/stage_marks.py
  models/experimental/perf_automation/tests/test_the_marks_copy_the_adapter_the_test_already_built.py
Due: none

Add opt-in FF2-BFP4 decoder config for EXAONE-4.5-33B
  models/tt_transformers/model_params/EXAONE-4.5-33B/ff2_bfp4_decoder_config.json
Due: none

Test Only: cut nightly moreh test runtime via module-scoped device (#53991)
  tests/ttnn/nightly/unit_tests/operations/moreh/test_moreh_adam.py
  tests/ttnn/nightly/unit_tests/operations/moreh/test_moreh_adamw.py
  tests/ttnn/nightly/unit_tests/operations/moreh/test_moreh_arange.py
  tests/ttnn/nightly/unit_tests/operations/moreh/test_moreh_bmm.py
  tests/ttnn/nightly/unit_tests/operations/moreh/test_moreh_clip_grad_norm.py
  tests/ttnn/nightly/unit_tests/operations/moreh/test_moreh_cumsum.py
  tests/ttnn/nightly/unit_tests/operations/moreh/test_moreh_dot.py
  tests/ttnn/nightly/unit_tests/operations/moreh/test_moreh_dot_backward.py
  tests/ttnn/nightly/unit_tests/operations/moreh/test_moreh_fold.py
  tests/ttnn/nightly/unit_tests/operations/moreh/test_moreh_full.py
  tests/ttnn/nightly/unit_tests/operations/moreh/test_moreh_getitem.py
  tests/ttnn/nightly/unit_tests/operations/moreh/test_moreh_group_norm.py
  tests/ttnn/nightly/unit_tests/operations/moreh/test_moreh_layer_norm.py
  tests/ttnn/nightly/unit_tests/operations/moreh/test_moreh_linear.py
  tests/ttnn/nightly/unit_tests/operations/moreh/test_moreh_logsoftmax.py
  tests/ttnn/nightly/unit_tests/operations/moreh/test_moreh_matmul.py
  tests/ttnn/nightly/unit_tests/operations/moreh/test_moreh_mean.py
  tests/ttnn/nightly/unit_tests/operations/moreh/test_moreh_nll_loss.py
  tests/ttnn/nightly/unit_tests/operations/moreh/test_moreh_nll_loss_unreduced.py
  tests/ttnn/nightly/unit_tests/operations/moreh/test_moreh_norm.py
  tests/ttnn/nightly/unit_tests/operations/moreh/test_moreh_sgd.py
  tests/ttnn/nightly/unit_tests/operations/moreh/test_moreh_softmax.py
  tests/ttnn/nightly/unit_tests/operations/moreh/test_moreh_softmin.py
  tests/ttnn/nightly/unit_tests/operations/moreh/test_moreh_sum.py
Due: none

Explicit enforcing update in test_name_aliases when test is renamed.
  tt_metal/tt-llk/tests/python_tests/helpers/perf/test_schemas.py
  tt_metal/tt-llk/tests/python_tests/test_perf_header_gate.py
Due: none

udpate codeowner
  .github/CODEOWNERS
Due: none

Address comments.
  tt_metal/tt-llk/tests/python_tests/perf_eltwise_unary_sfpu.py
Due: none

Restore the all-workflow watcher, gated to stable
  .github/workflows/package-release-jira-on-failure.yaml
Due: none

Take grid geometry from the IDevice, not the concrete Device
  tt_metal/impl/device/experimental/device.cpp
Due: none

Expose the ethernet core a forwarding link resolves to
  tt_metal/api/tt-metalium/experimental/fabric/fabric.hpp
  tt_metal/fabric/fabric.cpp
Due: none

Place each sender on the worker closest to its own eth core
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/combine_fabric2d/device/combine_fabric2d_placement.cpp
Due: block-ttnn-pybind-changes

P13.1: name the chunks in a stream's forwarding region
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/combine_fabric2d/device/combine_fabric2d_assignments.cpp
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/combine_fabric2d/device/combine_fabric2d_assignments.hpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

P13.2: pack the forwarding buffer densely
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/combine_fabric2d/device/combine_fabric2d_assignments.hpp
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/combine_fabric2d/device/combine_fabric2d_program_factory.cpp
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/combine_fabric2d/device/kernels/dataflow/combine_fabric2d_kernel_interface.hpp
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/combine_fabric2d/device/kernels/dataflow/combine_fabric2d_reader_ct_args.hpp
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/combine_fabric2d/device/kernels/dataflow/reader_combine_fabric2d.cpp
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/combine_fabric2d/device/kernels/dataflow/sender_combine_fabric2d.cpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

Bound the forwarding region per destination, not per chunk
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/combine_fabric2d/device/combine_fabric2d_program_factory.cpp
Due: block-ttnn-pybind-changes

Fix warnings
  ttnn/cpp/ttnn/operations/experimental/transformer/fused_partial_rope/device/kernels/compute/fused_partial_rope_width_sharded.cpp
Due: block-ttnn-pybind-changes

some small changes
  models/tt_dit/layers/na3d.py
  models/tt_dit/models/vae/diffvae_ltx_stage5.py
  models/tt_dit/utils/decode_tree.py
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/kernels/dataflow/reader_interleaved.cpp
Due: block-ttnn-pybind-changes

[ttnn] Address multi-reader review comments
  ttnn/cpp/ttnn/operations/matmul/device/factory/matmul_multicore_reuse_mcast_dram_sharded_program_factory.cpp
  ttnn/cpp/ttnn/operations/matmul/device/matmul_device_operation.cpp
  ttnn/cpp/ttnn/operations/matmul/device/utilities/matmul_utilities.cpp
  ttnn/cpp/ttnn/operations/matmul/device/utilities/matmul_utilities.hpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

more rename
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/kernels/dataflow/windowed_mask_gen.hpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

[fabric][test] Move Y-wrap-only galaxy descriptor to tt-cluster-descriptors
  tests/scripts/multihost/run_fabric_cpu_only_unit_tests.sh
  tests/tt_metal/tt_fabric/cluster_descriptors/wh_galaxy_y_wrap_only_cluster_desc.yaml
Due: none

Fix the count guard, which the field rename had silently killed
  .github/actions/scripts/test_release_test_report.py
Due: none

Removed dst counter and made a hybrid model.
  tt_metal/tt-llk/tests/python_tests/helpers/test_variant_parameters.py
  tt_metal/tt-llk/tests/python_tests/quasar/perf_matmul_dest_di_quasar.py
  tt_metal/tt-llk/tests/python_tests/quasar/perf_matmul_quasar.py
  tt_metal/tt-llk/tests/python_tests/quasar/test_matmul_quasar.py
  tt_metal/tt-llk/tests/sources/quasar/matmul_quasar_test.cpp
  tt_metal/tt-llk/tt_llk_quasar/llk_lib/llk_math_matmul.h
Due: none

neighborhood attention: log the sharded plan like the replicated one does
  models/tt_dit/layers/neighborhood_attention.py
Due: none

3D neighborhood attention: self-contained op, multi-brick query chunks, sharding-ready
  models/tt_dit/layers/na3d.py
  models/tt_dit/layers/neighborhood_attention.py
  models/tt_dit/layers/neighborhood_permute.py
  models/tt_dit/layers/neighborhood_reference.py
  models/tt_dit/tests/models/vae/test_decode_timing.py
  models/tt_dit/tests/unit/test_neighborhood_permute.py
  models/tt_dit/tests/unit/test_neighborhood_reference.py
  models/tt_dit/tests/unit/test_neighborhood_sdpa.py
  models/tt_dit/tests/unit/test_neighborhood_sdpa_perf.py
  run_na.sh
  tests/ttnn/unit_tests/gtests/sources.cmake
  tests/ttnn/unit_tests/gtests/test_neighborhood_plan.cpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/kernels/compute/neighborhood_sdpa.cpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/kernels/dataflow/neighborhood_mask_gen.hpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/kernels/dataflow/neighborhood_reader.cpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/kernels/dataflow/neighborhood_writer.cpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/kernels/neighborhood_chunk_layout.hpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/kernels/neighborhood_kernel_contract.hpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/kernels/neighborhood_window_rule.hpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/neighborhood_plan.cpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/neighborhood_plan.hpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/neighborhood_sdpa_device_operation.cpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/neighborhood_sdpa_device_operation.hpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/neighborhood_sdpa_device_operation_types.hpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/neighborhood_sdpa_program_factory.cpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/neighborhood_sdpa_nanobind.cpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/neighborhood_sdpa_nanobind.hpp
  ttnn/cpp/ttnn/operations/transformer/sources.cmake
  ttnn/cpp/ttnn/operations/transformer/transformer_nanobind.cpp
  ttnn/ttnn/__init__.py
Due: block-ttnn-pybind-changes, detect-legacy-device-op

neighborhood attention: W-sharded stage 5 -- 12627 -> 4483 ms at 145 frames
  models/tt_dit/layers/neighborhood_attention.py
  models/tt_dit/models/vae/diffvae_ltx_stage5.py
  models/tt_dit/tests/models/vae/test_decode_timing.py
Due: none

CCL examples: add the generated reduce_scatter_average (single-dispatch reduction)
  ttnn/ttnn/operations/reduce_scatter_average/__init__.py
  ttnn/ttnn/operations/reduce_scatter_average/changelog.md
  ttnn/ttnn/operations/reduce_scatter_average/kernels/reduce_scatter_average_reduce_compute.cpp
  ttnn/ttnn/operations/reduce_scatter_average/kernels/reduce_scatter_average_reduce_reader.cpp
  ttnn/ttnn/operations/reduce_scatter_average/kernels/reduce_scatter_average_reduce_writer.cpp
  ttnn/ttnn/operations/reduce_scatter_average/kernels/reduce_scatter_average_relay_reader.cpp
  ttnn/ttnn/operations/reduce_scatter_average/kernels/reduce_scatter_average_relay_writer.cpp
  ttnn/ttnn/operations/reduce_scatter_average/op_design.md
  ttnn/ttnn/operations/reduce_scatter_average/op_requirements.md
  ttnn/ttnn/operations/reduce_scatter_average/reduce_scatter_average.py
  ttnn/ttnn/operations/reduce_scatter_average/reduce_scatter_average_program_descriptor.py
  ttnn/ttnn/operations/reduce_scatter_average/verification_report.md
Due: block-ttnn-pybind-changes

[fuser] add support for perf testing on Quasar (#53910)
  tt_metal/tt-llk/tests/python_tests/fuser/compute_pipeline.py
  tt_metal/tt-llk/tests/python_tests/fuser/fuser_config.py
  tt_metal/tt-llk/tests/python_tests/fuser/kernel_generator.py
  tt_metal/tt-llk/tests/python_tests/fuser/quasar/fpu/common.py
  tt_metal/tt-llk/tests/python_tests/fuser/quasar/fpu/datacopy.py
  tt_metal/tt-llk/tests/python_tests/fuser/quasar/packer/common.py
  tt_metal/tt-llk/tests/python_tests/fuser/quasar/unpacker/common.py
  tt_metal/tt-llk/tests/python_tests/fuser/quasar/unpacker/matmul.py
  tt_metal/tt-llk/tests/python_tests/fuser/quasar/unpacker/reduce.py
  tt_metal/tt-llk/tests/python_tests/fuser/quasar/unpacker/reduce_tilize_a.py
  tt_metal/tt-llk/tests/python_tests/fuser/quasar/unpacker/tilize_a.py
  tt_metal/tt-llk/tests/python_tests/fuser/quasar/unpacker/transpose_dest.py
  tt_metal/tt-llk/tests/python_tests/fuser/quasar/unpacker/unary_broadcast.py
  tt_metal/tt-llk/tests/python_tests/fuser/quasar/unpacker/unpack_a.py
  tt_metal/tt-llk/tests/python_tests/fuser/quasar/unpacker/unpack_ab.py
  tt_metal/tt-llk/tests/python_tests/fuser/tests/fpu_matmul.yaml
  tt_metal/tt-llk/tests/python_tests/helpers/perf/test_schemas.py
  tt_metal/tt-llk/tests/python_tests/perf_schema_derive.py
  tt_metal/tt-llk/tests/python_tests/quasar/perf_fused_quasar.py
Due: none

Fixes 5.
  tt_metal/tt-llk/tests/python_tests/helpers/perf/test_schemas.py
  tt_metal/tt-llk/tests/python_tests/helpers/perf/wide_schema.py
  tt_metal/tt-llk/tests/sources/eltwise_binary_fpu_perf.cpp
Due: none

fix shard core grid
  tests/ttnn/unit_tests/operations/ccl/test_ccl_async_TG_llama.py
Due: none

[Bug fix][fabric] Fall back to achievable torus in auto-discovery topology mapper (#48169)
  tests/scripts/multihost/run_fabric_cpu_only_unit_tests.sh
  tests/tt_metal/tt_fabric/fabric_router/test_routing_tables.cpp
  tt_metal/fabric/topology_mapper.cpp
Due: none

Add missing SPDX copyright headers to the label migrator and its tests.
  tools/scaleout/exabox/migrate_cluster_health_labels.py
  tools/scaleout/exabox/tests/test_migrate_cluster_health_labels.py
Due: none

[incremental-planner] reduce_scatter: regenerated op design + acceptance test
  tests/ttnn/unit_tests/operations/reduce_scatter/conftest.py
  tests/ttnn/unit_tests/operations/reduce_scatter/test_reduce_scatter.py
  ttnn/ttnn/operations/reduce_scatter/__init__.py
  ttnn/ttnn/operations/reduce_scatter/changelog.md
  ttnn/ttnn/operations/reduce_scatter/kernels/reduce_scatter_compute.cpp
  ttnn/ttnn/operations/reduce_scatter/kernels/reduce_scatter_reader.cpp
  ttnn/ttnn/operations/reduce_scatter/kernels/reduce_scatter_writer.cpp
  ttnn/ttnn/operations/reduce_scatter/op_design.md
  ttnn/ttnn/operations/reduce_scatter/op_requirements.md
  ttnn/ttnn/operations/reduce_scatter/reduce_scatter.py
  ttnn/ttnn/operations/reduce_scatter/reduce_scatter_program_descriptor.py
  ttnn/ttnn/operations/reduce_scatter/verification_report.md
Due: block-ttnn-pybind-changes

sweep_rank_binding_solutions: fix producer tcp-interface plumbing + NFS index race
  tools/scaleout/sweep_rank_binding_solutions.py
Due: none

Updated README. DeepSeek V4 Flash demo on BH LB. 15.9 tok/s/u
  models/experimental/deepseek_v4_flash/README.md
  ttnn/cpp/ttnn/operations/experimental/transformer/fused_partial_rope/device/kernels/compute/fused_partial_rope_width_sharded.cpp
Due: block-ttnn-pybind-changes

[ttnn-implementer] reduce_scatter: initial implementation (pre-test)
  ttnn/ttnn/operations/reduce_scatter/__init__.py
  ttnn/ttnn/operations/reduce_scatter/agent_logs/ttnn-implementer_breadcrumbs.jsonl
  ttnn/ttnn/operations/reduce_scatter/kernels/reduce_scatter_reduce_compute.cpp
  ttnn/ttnn/operations/reduce_scatter/kernels/reduce_scatter_reduce_reader.cpp
  ttnn/ttnn/operations/reduce_scatter/kernels/reduce_scatter_reduce_writer.cpp
  ttnn/ttnn/operations/reduce_scatter/kernels/reduce_scatter_relay_reader.cpp
  ttnn/ttnn/operations/reduce_scatter/kernels/reduce_scatter_relay_writer.cpp
  ttnn/ttnn/operations/reduce_scatter/reduce_scatter.py
  ttnn/ttnn/operations/reduce_scatter/reduce_scatter_program_descriptor.py
Due: block-ttnn-pybind-changes

Path conditions:
  block-ttnn-pybind-changes: any of: ^ttnn/
  detect-legacy-device-op: any of: ^ttnn/.*\.hpp$
  validate-golden-csv-columns: any of: ^tests/tt_metal/tt_metal/perf_microbenchmark/routing/golden/.*bandwidth.*\.csv$
