Repository tenstorrent/tt-metal: changes, and which pre-commit hooks are due for each by the changed paths.
All: block-ttnn-pybind-changes, detect-legacy-device-op, validate-golden-csv-columns

block-ttnn-pybind-changes:
  name: Prevent edits to frozen pybind11 sources under ttnn
  entry: python3 scripts/block_ttnn_pybind_changes.py
  language: system
  pass_filenames: true

detect-legacy-device-op:
  name: Detect legacy device operation classes in newly added files
  entry: python3 scripts/detect_legacy_device_op.py --check-new-only
  language: system
  pass_filenames: true
  require_serial: true

validate-golden-csv-columns:
  name: Validate golden bandwidth CSV column headers
  entry: bash .github/scripts/utils/validate_golden_csv_columns.sh
  language: system
  pass_filenames: false

Demo refactoring and docs
  tests/ttnn/unit_tests/operations/fused/fusion_demo/fused_demo.md
  tests/ttnn/unit_tests/operations/fused/fusion_demo/test_fused_demo.py
Due: none

Missed one
  models/experimental/ops/descriptors/fusion/docs/op_fusion.md
Due: none

Doc corrections
  models/experimental/ops/descriptors/fusion/docs/op_fusion.md
Due: none

Get rid of composite.py (composite.launch()). It's all in Parallel/Sequential now
  models/demos/deepseek_v3/tt/mla/mla1d.py
  models/experimental/ops/descriptors/composite.py
  models/experimental/ops/descriptors/fusion/__init__.py
  models/experimental/ops/descriptors/fusion/docs/op_fusion.md
  models/experimental/ops/descriptors/fusion/fusion.py
  models/experimental/ops/descriptors/fusion/graph.py
  models/experimental/ops/descriptors/normalization/layer_norm.py
  models/experimental/ops/descriptors/normalization/rms_norm.py
  tests/ttnn/unit_tests/operations/fused/fusion_demo/test_build_timing.py
  tests/ttnn/unit_tests/operations/fused/test_composite.py
  tests/ttnn/unit_tests/operations/fused/test_fused_global_cb.py
  tests/ttnn/unit_tests/operations/fused/test_sequential.py
Due: none

Rename slice_op to slice
  models/experimental/ops/descriptors/__init__.py
  models/experimental/ops/descriptors/data_movement/slice.py
  tests/ttnn/unit_tests/operations/fused/fusion_demo/test_fused_demo.py
  tests/ttnn/unit_tests/operations/fused/test_sequential.py
Due: none

Demo test and doc refactoring
  tests/ttnn/unit_tests/operations/fused/fusion_demo/fused_demo.md
  tests/ttnn/unit_tests/operations/fused/fusion_demo/test_fused_demo.py
Due: none

[WIP] apprach with ttnn RoPE
  models/experimental/lingbot_va/reference/model.py
  models/experimental/lingbot_va/tests/pcc/test_rope.py
  models/experimental/lingbot_va/tests/pcc/test_transformer_wan.py
  models/experimental/lingbot_va/tt/transformer_wan.py
  models/experimental/lingbot_va/tt/wan_RoPE.py
Due: none

Add regression test that sweeps over block sizes
  tests/ttnn/unit_tests/operations/fused/test_softmax.py
Due: none

Round the large-tensor CB size down to nearest multiple of block size that is less than or equal to the empirical CB size (80)
  ttnn/cpp/ttnn/operations/normalization/softmax/device/softmax_program_factory_attention_optimized.cpp
Due: block-ttnn-pybind-changes

Adding paralelism to the builder and tdd kernel writer
  .claude/agents/ttnn-generic-op-builder.md
  .claude/skills/create-op/SKILL.md
  ttnn/ttnn/operations/layer_norm/ARCHITECTURE_REVIEW.md
Due: block-ttnn-pybind-changes

Adjust time budget to get past occasional timeouts (indicating time budget too tight).
  .github/time_budget.yaml
  tests/pipeline_reorg/t3k_e2e_tests.yaml
Due: none

Implement LoRA in Python
  tt-train/sources/examples/lora_llama/train_lora_llama.py
  tt-train/sources/ttml/ttml/modules/__init__.py
  tt-train/sources/ttml/ttml/modules/adapter.py
  tt-train/sources/ttml/ttml/modules/lora.py
  tt-train/sources/ttml/ttml/modules/module_base.py
Due: none

Add inputs to run wh or bh tests
  .github/workflows/apc-nightly-debug.yaml
Due: none

fix experimental usage
  ttnn/cpp/ttnn-nanobind/bind_function.hpp
  ttnn/cpp/ttnn/operations/experimental/cnn/convert_to_chw/convert_to_chw_nanobind.cpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

Fix build errors
  ttnn/cpp/ttnn/operations/data_movement/flip/device/flip_device_operation.cpp
  ttnn/cpp/ttnn/operations/data_movement/flip/device/flip_rm_program_factory.cpp
  ttnn/cpp/ttnn/operations/data_movement/flip/device/flip_tiled_program_factory.cpp
  ttnn/cpp/ttnn/operations/data_movement/flip/flip.cpp
  ttnn/cpp/ttnn/operations/data_movement/flip/flip_nanobind.cpp
  ttnn/cpp/ttnn/operations/data_movement/flip/flip_nanobind.hpp
  ttnn/cpp/ttnn/operations/data_movement/flip/flip_pybind.cpp
  ttnn/cpp/ttnn/operations/data_movement/flip/flip_pybind.hpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

Comment tests
  .github/workflows/t3000-fast-tests-impl.yaml
Due: none

Potential fix for pull request finding 'Explicit returns mixed with implicit (fall through) returns'
  tools/triage/dump_fast_dispatch.py
Due: none

a little more debug instrumentation in router
  tt_metal/fabric/impl/kernels/edm_fabric/fabric_erisc_router.cpp
Due: none

fix build
  ttnn/cpp/ttnn/operations/loss/loss.cpp
Due: block-ttnn-pybind-changes

Add comment
  .github/workflows/t3000-fast-tests-impl.yaml
Due: none

Sort parameters by name before printing
  tt-train/sources/examples/lora_llama/train_lora_llama.py
Due: none

fix build
  ttnn/cpp/ttnn/operations/creation/creation_nanobind.cpp
Due: block-ttnn-pybind-changes

Overlap reduce-max with Q@KT matmul via HW semaphore trigger
  tests/tt_eager/python_api_testing/unit_testing/misc/test_scaled_dot_product_attention_sprint.py
  tt_metal/hw/ckernels/blackhole/metal/llk_api/llk_unpack_AB_reduce_custom_api.h
  tt_metal/hw/inc/api/compute/reduce_custom.h
  tt_metal/programming_examples/sdpa_single_core/kernels/compute/sdpa.cpp
Due: none

fix build
  ttnn/cpp/ttnn/operations/data_movement/permute/permute.cpp
Due: block-ttnn-pybind-changes

[ttnn-operation-analyzer] analysis: tilize (multi-core interleaved)
  ttnn/ttnn/operations/layernorm/references/tilize_analysis.md
Due: block-ttnn-pybind-changes

[ttnn-operation-analyzer] analysis: untilize (multi-core)
  ttnn/ttnn/operations/layernorm/references/untilize_analysis.md
Due: block-ttnn-pybind-changes

[ttnn-operation-analyzer] analysis: softmax (compute-core focus)
  ttnn/ttnn/operations/layernorm/references/softmax_analysis.md
Due: block-ttnn-pybind-changes

Expose core allocation and grid offset in ring_attention_all_gather op
  ttnn/cpp/ttnn/operations/experimental/ccl/ring_attention_all_gather_async/device/ring_attention_all_gather_async_device_operation.cpp
  ttnn/cpp/ttnn/operations/experimental/ccl/ring_attention_all_gather_async/device/ring_attention_all_gather_async_device_operation.hpp
  ttnn/cpp/ttnn/operations/experimental/ccl/ring_attention_all_gather_async/device/ring_attention_all_gather_async_device_operation_types.hpp
  ttnn/cpp/ttnn/operations/experimental/ccl/ring_attention_all_gather_async/device/ring_attention_all_gather_async_multi_core_with_workers_program_factory.cpp
  ttnn/cpp/ttnn/operations/experimental/ccl/ring_attention_all_gather_async/ring_attention_all_gather_async.cpp
  ttnn/cpp/ttnn/operations/experimental/ccl/ring_attention_all_gather_async/ring_attention_all_gather_async.hpp
  ttnn/cpp/ttnn/operations/experimental/ccl/ring_attention_all_gather_async/ring_attention_all_gather_async_nanobind.cpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/ring_joint_sdpa_device_operation.cpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

Fix ring topo RJA hang
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/ring_joint_sdpa_program_factory.cpp
Due: block-ttnn-pybind-changes

initial implementation
  ttnn/cpp/ttnn-nanobind/bind_function.hpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

Hack up RJA test and add ring attention CCL test
  models/tt_dit/tests/unit/test_ring_attention_all_gather.py
  models/tt_dit/tests/unit/test_ring_joint_attention.py
Due: none

Distributed Layernorm: Allow fp32_dst_acc_en to be set in pre and post
  models/demos/deepseek_v3/tests/unit/test_rmsnorm.py
  models/demos/deepseek_v3/tt/rms_norm/distributed_rms_norm.py
  models/demos/deepseek_v3/tt/rms_norm/rms_norm.py
Due: none

Allow fp32 accumulation in distributed pre/post layernorm
  models/demos/deepseek_v3/tests/unit/test_rmsnorm.py
  models/demos/deepseek_v3/tt/rms_norm/distributed_rms_norm.py
  models/demos/deepseek_v3/tt/rms_norm/rms_norm.py
  tests/ttnn/nightly/unit_tests/operations/fused/test_distributed_layernorm_post_allgather.py
  ttnn/cpp/ttnn/operations/normalization/layernorm/device/kernels/compute/layernorm_sharded_pre_allgather.cpp
  ttnn/cpp/ttnn/operations/normalization/layernorm/device/layernorm_op_multi_core_sharded.cpp
  ttnn/cpp/ttnn/operations/normalization/layernorm/device/sharded_layernorm_factory_helpers.cpp
  ttnn/cpp/ttnn/operations/normalization/layernorm/device/sharded_layernorm_factory_helpers.hpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

[ttnn-operation-architect] design: layernorm
  tests/ttnn/unit_tests/operations/layernorm/test_stage_affine.py
  tests/ttnn/unit_tests/operations/layernorm/test_stage_data_pipeline.py
  tests/ttnn/unit_tests/operations/layernorm/test_stage_normalize.py
  tests/ttnn/unit_tests/operations/layernorm/test_stage_subtract_mean.py
  ttnn/ttnn/operations/layernorm/.tdd_state.json
  ttnn/ttnn/operations/layernorm/op_design.md
Due: block-ttnn-pybind-changes

Kernel helper library improvements
  ttnn/cpp/ttnn/kernel_lib/binary_op_helpers.hpp
  ttnn/cpp/ttnn/kernel_lib/docs/tilize_untilize_reference.md
  ttnn/cpp/ttnn/kernel_lib/reduce_helpers_compute.hpp
  ttnn/cpp/ttnn/kernel_lib/tilize_helpers.hpp
  ttnn/cpp/ttnn/kernel_lib/untilize_helpers.hpp
  ttnn/cpp/ttnn/operations/sliding_window/halo/device/kernels/compute/pack_untilize.cpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/SDPA_KERNEL_ANALYSIS.md
Due: block-ttnn-pybind-changes, detect-legacy-device-op

Weights fusion
  models/experimental/stable_diffusion_xl_base/demo/demo_lora.py
  models/experimental/stable_diffusion_xl_base/lora/lora_weights_manager.py
  models/experimental/stable_diffusion_xl_base/tests/pcc/lora/test_lora_fusion_attention.py
  models/experimental/stable_diffusion_xl_base/tests/pcc/lora/test_lora_fusion_crossattndownblock2d.py
  models/experimental/stable_diffusion_xl_base/tests/pcc/lora/test_lora_fusion_crossattnmidblock2d.py
  models/experimental/stable_diffusion_xl_base/tests/pcc/lora/test_lora_fusion_crossattnupblock2d.py
  models/experimental/stable_diffusion_xl_base/tests/pcc/lora/test_lora_fusion_feedforward.py
  models/experimental/stable_diffusion_xl_base/tests/pcc/lora/test_lora_fusion_geglu.py
  models/experimental/stable_diffusion_xl_base/tests/pcc/lora/test_lora_fusion_transformerblock.py
  models/experimental/stable_diffusion_xl_base/tests/pcc/lora/test_lora_fusion_transformermodel.py
  models/experimental/stable_diffusion_xl_base/tests/test_lora_fusion.py
  models/experimental/stable_diffusion_xl_base/tt/tt_attention.py
  models/experimental/stable_diffusion_xl_base/tt/tt_crossattndownblock2d.py
  models/experimental/stable_diffusion_xl_base/tt/tt_crossattnmidblock2d.py
  models/experimental/stable_diffusion_xl_base/tt/tt_crossattnupblock2d.py
  models/experimental/stable_diffusion_xl_base/tt/tt_feedforward.py
  models/experimental/stable_diffusion_xl_base/tt/tt_geglu.py
  models/experimental/stable_diffusion_xl_base/tt/tt_sdxl_pipeline.py
  models/experimental/stable_diffusion_xl_base/tt/tt_transformerblock.py
  models/experimental/stable_diffusion_xl_base/tt/tt_transformermodel.py
  models/experimental/stable_diffusion_xl_base/tt/tt_unet.py
Due: none

Test refactoring
  models/experimental/stable_diffusion_xl_base/demo/lora_fusion_cycle_demo.py
  models/experimental/stable_diffusion_xl_base/lora/tests/pcc/test_lora_tt_attention.py
  models/experimental/stable_diffusion_xl_base/lora/tests/pcc/test_lora_tt_crossattndownblock2d.py
  models/experimental/stable_diffusion_xl_base/lora/tests/pcc/test_lora_tt_crossattnmidblock2d.py
  models/experimental/stable_diffusion_xl_base/lora/tests/pcc/test_lora_tt_crossattnupblock2d.py
  models/experimental/stable_diffusion_xl_base/lora/tests/pcc/test_lora_tt_feedforward.py
  models/experimental/stable_diffusion_xl_base/lora/tests/pcc/test_lora_tt_geglu.py
  models/experimental/stable_diffusion_xl_base/lora/tests/pcc/test_lora_tt_transformerblock.py
  models/experimental/stable_diffusion_xl_base/lora/tests/pcc/test_lora_tt_transformermodel.py
  models/experimental/stable_diffusion_xl_base/lora/tests/pcc/test_lora_tt_unet.py
  models/experimental/stable_diffusion_xl_base/lora/tests/test_lora_comparison.py
  models/experimental/stable_diffusion_xl_base/lora/tests/test_lora_rollback.py
  models/experimental/stable_diffusion_xl_base/lora/tt_lora_weights_manager.py
  models/experimental/stable_diffusion_xl_base/tt/tt_sdxl_pipeline.py
Due: none

Add weights tensor comparison
  models/experimental/stable_diffusion_xl_base/lora/lora_weights_manager.py
  models/experimental/stable_diffusion_xl_base/tests/pcc/lora/test_lora_fusion_unet.py
  models/experimental/stable_diffusion_xl_base/tests/test_lora_fusion.py
  models/experimental/stable_diffusion_xl_base/tt/tt_sdxl_pipeline.py
Due: none

CI testing
  .github/workflows/fast-dispatch-full-regressions-and-models-impl.yaml
  .github/workflows/tt-metal-l2-nightly-impl.yaml
  models/experimental/stable_diffusion_xl_base/conftest.py
  models/experimental/stable_diffusion_xl_base/demo/demo_lora.py
  models/experimental/stable_diffusion_xl_base/lora/config.py
  models/experimental/stable_diffusion_xl_base/lora/tests/pcc/test_lora_tt_attention.py
  models/experimental/stable_diffusion_xl_base/lora/tests/pcc/test_lora_tt_crossattndownblock2d.py
  models/experimental/stable_diffusion_xl_base/lora/tests/pcc/test_lora_tt_crossattnmidblock2d.py
  models/experimental/stable_diffusion_xl_base/lora/tests/pcc/test_lora_tt_crossattnupblock2d.py
  models/experimental/stable_diffusion_xl_base/lora/tests/pcc/test_lora_tt_feedforward.py
  models/experimental/stable_diffusion_xl_base/lora/tests/pcc/test_lora_tt_geglu.py
  models/experimental/stable_diffusion_xl_base/lora/tests/pcc/test_lora_tt_transformerblock.py
  models/experimental/stable_diffusion_xl_base/lora/tests/pcc/test_lora_tt_transformermodel.py
  models/experimental/stable_diffusion_xl_base/lora/tests/pcc/test_lora_tt_unet.py
  models/experimental/stable_diffusion_xl_base/lora/tests/test_lora_comparison.py
  models/experimental/stable_diffusion_xl_base/lora/tests/test_lora_rollback.py
  models/experimental/stable_diffusion_xl_base/tt/tt_sdxl_pipeline.py
  tests/scripts/single_card/run_single_card_demo_tests.sh
Due: none

Path conditions:
  block-ttnn-pybind-changes: any of: ^ttnn/
  detect-legacy-device-op: any of: ^ttnn/.*\.hpp$
  validate-golden-csv-columns: any of: ^tests/tt_metal/tt_metal/perf_microbenchmark/routing/golden/.*bandwidth.*\.csv$
