Repository tenstorrent/tt-metal: changes, and which pre-commit hooks are due for each by the changed paths.
All: block-ttnn-pybind-changes, detect-legacy-device-op, validate-golden-csv-columns

block-ttnn-pybind-changes:
  name: Prevent edits to frozen pybind11 sources under ttnn
  entry: python3 scripts/block_ttnn_pybind_changes.py
  language: system
  pass_filenames: true

detect-legacy-device-op:
  name: Detect legacy device operation classes in newly added files
  entry: python3 scripts/detect_legacy_device_op.py --check-new-only
  language: system
  pass_filenames: true
  require_serial: true

validate-golden-csv-columns:
  name: Validate golden bandwidth CSV column headers
  entry: bash .github/scripts/utils/validate_golden_csv_columns.sh
  language: system
  pass_filenames: false

Argmax multicore correctness gaps (#56482)
  tests/ttnn/unit_tests/operations/reduce/test_argmax.py
  tt_metal/hw/inc/api/numeric/bfloat16.h
  ttnn/cpp/ttnn/operations/reduction/argmax/device/argmax_device_operation.cpp
  ttnn/cpp/ttnn/operations/reduction/argmax/device/kernels/argmax_common.hpp
  ttnn/cpp/ttnn/operations/reduction/argmax/device/kernels/argmax_nc_compute.cpp
  ttnn/cpp/ttnn/operations/reduction/argmax/device/kernels/argmax_tile_h_col.hpp
  ttnn/cpp/ttnn/operations/reduction/argmax/device/kernels/argmax_tile_layout.hpp
  ttnn/cpp/ttnn/operations/reduction/argmax/device/kernels/reader_argmax_interleaved_multicore.cpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

[Fix] moreh_adam step exponent and DST handshake, moreh_sgd tile count, softmin last-tile max subtraction (#57309)
  tests/ttnn/nightly/unit_tests/operations/moreh/test_moreh_adam.py
  tests/ttnn/nightly/unit_tests/operations/moreh/test_moreh_sgd.py
  tests/ttnn/nightly/unit_tests/operations/moreh/test_moreh_softmin.py
  ttnn/cpp/ttnn/operations/moreh/moreh_adam/device/kernels/moreh_adam.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_sgd/device/moreh_sgd_program_factory.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_softmax/device/kernels/moreh_softmax_h_large.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_softmax/device/kernels/moreh_softmax_w_large.cpp
Due: block-ttnn-pybind-changes

qwen38_t3k: split the collective dtype by phase
  models/demos/qwen38_27b_t3k/README.md
  models/demos/qwen38_27b_t3k/doc/multichip_evidence.md
  models/demos/qwen38_27b_t3k/tt/decoder_tp.py
Due: none

[hy4_preview_d_p][C.moe_full.experts][freeze] moe_full experts (moe) on device, layer 1
  models/demos/hy4_preview_d_p/bringup/tasks.yaml
  models/demos/hy4_preview_d_p/tests/bringup/test_c_moe_full_experts.py
Due: none

[LLK tests] sfpu_reduce_multidim: run the row->col orders on Blackhole only
  tt_metal/tt-llk/tests/python_tests/test_sfpu_reduce_multidim.py
Due: none

voxtral_tts: address PR review
  models/experimental/voxtral_tts/README.md
  models/experimental/voxtral_tts/demo/demo_server.py
  models/experimental/voxtral_tts/tests/mos_setup.sh
  models/experimental/voxtral_tts/tests/pcc/test_backbone_decode_pcc.py
  models/experimental/voxtral_tts/tests/pcc/test_backbone_prefill_pcc.py
  models/experimental/voxtral_tts/tests/pcc/test_codec_pcc.py
  models/experimental/voxtral_tts/tests/pcc/test_flow_pcc.py
  models/experimental/voxtral_tts/tests/pcc/test_model_teacher_forced_pcc.py
  models/experimental/voxtral_tts/tests/pcc/test_prefill_shapes.py
  models/experimental/voxtral_tts/tests/perf/test_perf.py
  models/experimental/voxtral_tts/tests/perf/test_warmup.py
  models/experimental/voxtral_tts/tests/reference_helpers.py
  models/experimental/voxtral_tts/tests/test_backbone_request_path.py
  models/experimental/voxtral_tts/tests/test_codec_request_path.py
  models/experimental/voxtral_tts/tests/test_request_path_repeatability.py
  models/experimental/voxtral_tts/tests/test_sampling.py
  models/experimental/voxtral_tts/tests/test_serving_contract.py
  models/experimental/voxtral_tts/tests/test_traced_frame_loop.py
  models/experimental/voxtral_tts/tests/test_tt_defaults.py
  models/experimental/voxtral_tts/tests/test_wer_languages.py
  models/experimental/voxtral_tts/tt/ttnn_voxtral_flow.py
  models/experimental/voxtral_tts/tt/ttnn_voxtral_gpt.py
  models/experimental/voxtral_tts/tt/ttnn_voxtral_pipeline.py
Due: none

[glm53_flash_d_p][S.kda_moe.03][freeze] kda_moe block with steps 1-3 on device (last: attn_norm)
  models/demos/glm53_flash_d_p/bringup/tasks.yaml
  models/demos/glm53_flash_d_p/tests/bringup/test_swap_kda_moe_03_attn_norm.py
Due: none

[glm53_flash_d_p][S.kda_moe.03] kda_moe block with steps 1-3 on device (last: attn_norm)
  models/demos/common/bringup/knowledge/known_issues.md
  models/demos/glm53_flash_d_p/bringup/BREADCRUMBS.md
  models/demos/glm53_flash_d_p/bringup/results/S.kda_moe.03.json
  models/demos/glm53_flash_d_p/bringup/state.json
Due: none

[Feature][Profiler] Bring up NoC event tracing on Quasar
  tests/tt_metal/tools/profiler/test_device_profiler.py
  tt_metal/impl/profiler/profiler.cpp
  tt_metal/programming_examples/profiler/test_noc_event_profiler/test_noc_event_profiler.cpp
  tt_metal/tools/profiler/noc_event_profiler.hpp
Due: none

Profiler noc tracing: Widen payload_chunks for recording large packets and fix additional slots passed to flush
  tt_metal/tools/profiler/event_metadata.hpp
  tt_metal/tools/profiler/noc_event_profiler.hpp
Due: none

Drop explanatory comment in _write_kvpe
  models/demos/deepseek_v3_d_p/tt/mla/mla.py
Due: none

[CI] Retry clang-tidy once automatically after hitting its time budget
  .github/scripts/clang_tidy_build.sh
  .github/workflows/clang-tidy-reusable.yaml
Due: none

[hy4_preview_d_p][C.moe_full.experts] moe_full experts (moe) on device, layer 1
  models/demos/common/bringup/knowledge/known_issues.md
  models/demos/common/bringup/knowledge/repo_map.md
  models/demos/hy4_preview_d_p/bringup/BREADCRUMBS.md
  models/demos/hy4_preview_d_p/bringup/hooks.py
  models/demos/hy4_preview_d_p/bringup/results/C.moe_full.experts.json
  models/demos/hy4_preview_d_p/bringup/state.json
  models/demos/hy4_preview_d_p/tt/experts.py
  ttnn/ttnn/bringup/INDEX.md
Due: block-ttnn-pybind-changes

#53984: the scalar-first multiply honours an explicit fast_and_approximate_mode too
  tests/ttnn/unit_tests/operations/eltwise/test_multiply_block_float_fast_approx.py
  ttnn/cpp/ttnn/operations/eltwise/binary/binary.cpp
Due: block-ttnn-pybind-changes

Revert "[CI] Retry clang-tidy once automatically after hitting its time budget"
  .github/scripts/clang_tidy_build.sh
  .github/workflows/clang-tidy-reusable.yaml
Due: none

#51137: Cover erfc's decaying tail in the LLK unary sweep
  tt_metal/tt-llk/tests/python_tests/helpers/sfpu_accuracy_budget.yaml
  tt_metal/tt-llk/tests/python_tests/helpers/sfpu_domains.py
Due: none

Expose kernel build optimization levels to Python
  tests/ttnn/unit_tests/base_functionality/test_program_descriptors.py
  ttnn/cpp/ttnn-nanobind/program_descriptors.cpp
Due: block-ttnn-pybind-changes

[codegen-port] repeat phase 4 (20260929T091900Z)
  ttnn/cpp/ttnn/operations/data_movement/repeat/codegen/repeat_codegen_supported.cpp
Due: block-ttnn-pybind-changes

Metal 2.0 port: adapt sparse matmul factory to the #55007 hardware-config API
  ttnn/cpp/ttnn/operations/matmul/device/sparse/factory/sparse_matmul_multicore_reuse_mcast_1d_optimized.cpp
Due: block-ttnn-pybind-changes

Metal 2.0 port: sparse matmul SparseMatmulMultiCoreReuseMcast1DProgramFactory
  ttnn/cpp/ttnn/operations/matmul/METAL2_PORT_BRIEF.md
  ttnn/cpp/ttnn/operations/matmul/METAL2_PORT_PLAN.md
  ttnn/cpp/ttnn/operations/matmul/METAL2_PORT_REPORT.md
  ttnn/cpp/ttnn/operations/matmul/device/sparse/factory/sparse_matmul_multicore_reuse_mcast_1d_optimized.cpp
  ttnn/cpp/ttnn/operations/matmul/device/sparse/factory/sparse_matmul_multicore_reuse_mcast_1d_optimized.hpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

Sparse matmul: read compute config fields directly; drop undefined helper
  ttnn/cpp/ttnn/operations/matmul/device/sparse/factory/sparse_matmul_multicore_reuse_mcast_1d_optimized.cpp
Due: block-ttnn-pybind-changes

Refactor compute kernel config argument retrieval
  ttnn/cpp/ttnn/operations/matmul/device/sparse/factory/sparse_matmul_multicore_reuse_mcast_1d_optimized.cpp
Due: block-ttnn-pybind-changes

Removing port report files
  ttnn/cpp/ttnn/operations/matmul/METAL2_PORT_BRIEF.md
  ttnn/cpp/ttnn/operations/matmul/METAL2_PORT_PLAN.md
  ttnn/cpp/ttnn/operations/matmul/METAL2_PORT_REPORT.md
Due: block-ttnn-pybind-changes

[DeepSeek-V4.1] Stack gate: per-layer free-running drift vs the reference's noisy drift (F9)
  models/demos/deepseek_v3_d_p/reference/deepseek_v41/oracle.py
  models/demos/deepseek_v3_d_p/tests/v41/test_transformer_v41.py
  models/demos/deepseek_v3_d_p/tests/v41/torch/test_v41_oracle.py
  models/demos/deepseek_v3_d_p/tt/v41/transformer.py
Due: none

gelu: build against sfpi 7.83 (sfpi::as, sfpi::lut, vLut16 coefficients)
  tt_metal/hw/ckernels/blackhole/metal/llk_api/llk_sfpu/ckernel_sfpu_gelu.h
  tt_metal/hw/ckernels/wormhole_b0/metal/llk_api/llk_sfpu/ckernel_sfpu_gelu.h
Due: none

[Bug fix] untilize_with_unpadding: skip blocks past the unpadded width
  tests/ttnn/unit_tests/operations/data_movement/test_untilize_with_unpadding.py
  ttnn/cpp/ttnn/operations/data_movement/untilize_with_unpadding/device/kernels/dataflow/writer_unary_stick_layout_wh_multicore_metal2.cpp
  ttnn/cpp/ttnn/operations/experimental/quasar/untilize_with_unpadding/device/kernels/dataflow/writer_unary_stick_layout_wh_multicore.cpp
Due: block-ttnn-pybind-changes

Update test_untilize_with_unpadding.py
  tests/ttnn/unit_tests/operations/data_movement/test_untilize_with_unpadding.py
Due: none

Update writer_unary_stick_layout_wh_multicore.cpp
  ttnn/cpp/ttnn/operations/experimental/quasar/untilize_with_unpadding/device/kernels/dataflow/writer_unary_stick_layout_wh_multicore.cpp
Due: block-ttnn-pybind-changes

Update writer_unary_stick_layout_wh_multicore.cpp
  ttnn/cpp/ttnn/operations/data_movement/untilize_with_unpadding/device/kernels/dataflow/writer_unary_stick_layout_wh_multicore_metal2.cpp
Due: block-ttnn-pybind-changes

[glm53_flash_d_p][C.kda_moe.attention][freeze] kda_moe attention (attention) on device, layer 4
  models/demos/glm53_flash_d_p/bringup/tasks.yaml
  models/demos/glm53_flash_d_p/tests/bringup/test_c_kda_moe_attention.py
Due: none

[glm53_flash_d_p][C.kda_moe.attention] kda_moe attention (attention) on device, layer 4
  models/demos/common/bringup/knowledge/known_issues.md
  models/demos/glm53_flash_d_p/bringup/BREADCRUMBS.md
  models/demos/glm53_flash_d_p/bringup/results/C.kda_moe.attention.json
  models/demos/glm53_flash_d_p/bringup/state.json
Due: none

[Quasar] Bind the QSR1 map's DRAM selectors to the boot-programmed channels
  tt_metal/hw/inc/internal/tt-2xx/quasar/noc/att/configs/grendel_qsr1_att_config.h
Due: none

[Quasar] Grow the DM globals region to 4 KiB so the ATT map tables fit
  tt_metal/hw/inc/internal/tt-2xx/quasar/dev_mem_map.h
Due: none

[Quasar] CQ kernels: compose bank operands through the typed ATT backend
  tt_metal/impl/dispatch/kernels/cq_common.hpp
  tt_metal/impl/dispatch/kernels/cq_dispatch.cpp
  tt_metal/impl/dispatch/kernels/cq_prefetch.cpp
Due: none

[Quasar] ATT: resolve host-frame coordinates through the map's node-id offset
  tests/tt_metal/tt_metal/noc/test_quasar_att_address.cpp
  tests/ttnn/unit_tests/gtests/accessor/test_tensor_accessor.cpp
  tt_metal/hw/inc/api/dataflow/noc.h
  tt_metal/hw/inc/api/tensor/tensor_accessor.h
  tt_metal/hw/inc/internal/dataflow/dataflow_api_addrgen.h
  tt_metal/hw/inc/internal/dataflow/noc_address_backend_xy.h
  tt_metal/hw/inc/internal/tt-2xx/quasar/noc/att/att_address.h
  tt_metal/hw/inc/internal/tt-2xx/quasar/noc/att/configs/grendel_qsr1_att_config.h
  tt_metal/hw/inc/internal/tt-2xx/quasar/noc/att/configs/quasar_aether_2x3_att_config.h
  tt_metal/hw/inc/internal/tt-2xx/quasar/noc/att/noc_address_backend_att.h
  tt_metal/hw/inc/internal/tt-2xx/quasar/noc_nonblocking_api_v3.h
Due: none

[Bug fix] Mistral-Small-4 prefill block test: fix KV-PE size mismatch (#58417)
  models/demos/deepseek_v3_d_p/tt/mla/mla.py
Due: none

[Quasar] Select the NoC ATT map through RunTimeOptions
  tt_metal/impl/allocator/l1_banking_allocator.cpp
  tt_metal/impl/context/metal_env.cpp
  tt_metal/llrt/hal/tt-2xx/quasar/qa_att_windows.hpp
  tt_metal/llrt/hal/tt-2xx/quasar/qa_hal.cpp
  tt_metal/llrt/rtoptions.cpp
  tt_metal/llrt/rtoptions.hpp
Due: none

[Quasar] Fast dispatch on the qsr.s1 simulator: one live corner tile per command queue
  tt_metal/core_descriptors/quasar_simulation_8x4_arch_tensix_dispatch.yaml
  tt_metal/hw/inc/internal/tt-2xx/quasar/noc/att/configs/grendel_qsr1_att_config.h
  tt_metal/impl/debug/dprint_server.cpp
  tt_metal/impl/dispatch/kernel_config/dispatch_s.cpp
  tt_metal/llrt/tt_cluster.cpp
Due: none

Path conditions:
  block-ttnn-pybind-changes: any of: ^ttnn/
  detect-legacy-device-op: any of: ^ttnn/.*\.hpp$
  validate-golden-csv-columns: any of: ^tests/tt_metal/tt_metal/perf_microbenchmark/routing/golden/.*bandwidth.*\.csv$
