Repository tenstorrent/tt-metal: changes, and which pre-commit hooks are due for each by the changed paths.
All: block-ttnn-pybind-changes, detect-legacy-device-op, validate-golden-csv-columns

block-ttnn-pybind-changes:
  name: Prevent edits to frozen pybind11 sources under ttnn
  entry: python3 scripts/block_ttnn_pybind_changes.py
  language: system
  pass_filenames: true

detect-legacy-device-op:
  name: Detect legacy device operation classes in newly added files
  entry: python3 scripts/detect_legacy_device_op.py --check-new-only
  language: system
  pass_filenames: true
  require_serial: true

validate-golden-csv-columns:
  name: Validate golden bandwidth CSV column headers
  entry: bash .github/scripts/utils/validate_golden_csv_columns.sh
  language: system
  pass_filenames: false

[codegen-port] port-agent + port-device workflows
  .github/workflows/port-agent.lock.yml
  .github/workflows/port-agent.md
  .github/workflows/port-device.yaml
Due: none

Voxtral-TTS p150: sdpa for Block 2's interior -- 45.4 ms/frame, the fork now beats the N150
  models/experimental/voxtral_tts/ONBOARDING.md
  models/experimental/voxtral_tts/STATUS.md
  models/experimental/voxtral_tts/tt/NOTES.md
  models/experimental/voxtral_tts/tt/ttnn_voxtral_flow.py
Due: none

Voxtral-TTS p150: refresh ONBOARDING's hardware note and constant list for the fork
  models/experimental/voxtral_tts/ONBOARDING.md
Due: none

audio decode: move the perf harnesses and docs out of the repo root
  models/tt_dit/tests/models/minimax_h3/audio_perf/AUDIO_FUSION_PLAN.md
  models/tt_dit/tests/models/minimax_h3/audio_perf/AUDIO_KERNELS_BENCH.md
  models/tt_dit/tests/models/minimax_h3/audio_perf/AUDIO_RESULTS.md
  models/tt_dit/tests/models/minimax_h3/audio_perf/PROFILE_2026_08_06.txt
  models/tt_dit/tests/models/minimax_h3/audio_perf/analyze_csv.py
  models/tt_dit/tests/models/minimax_h3/audio_perf/band_bench.py
  models/tt_dit/tests/models/minimax_h3/audio_perf/band_ops.py
  models/tt_dit/tests/models/minimax_h3/audio_perf/bitexact.py
  models/tt_dit/tests/models/minimax_h3/audio_perf/decode_accuracy.py
  models/tt_dit/tests/models/minimax_h3/audio_perf/dtype_bench.py
  models/tt_dit/tests/models/minimax_h3/audio_perf/fir_bench.py
  models/tt_dit/tests/models/minimax_h3/audio_perf/l1_actblock.py
  models/tt_dit/tests/models/minimax_h3/audio_perf/l1_probe.py
  models/tt_dit/tests/models/minimax_h3/audio_perf/op_census.py
  models/tt_dit/tests/models/minimax_h3/audio_perf/op_floor.py
  models/tt_dit/tests/models/minimax_h3/audio_perf/op_pipeline.py
  models/tt_dit/tests/models/minimax_h3/audio_perf/pad_bench.py
  models/tt_dit/tests/models/minimax_h3/audio_perf/row_cost.py
  models/tt_dit/tests/models/minimax_h3/audio_perf/snake_bench.py
  models/tt_dit/tests/models/minimax_h3/audio_perf/verify_fusion.py
Due: none

docs(drisc_drain): CORRECTION -- the box froze, a run was not killed; and warm reboot is unreliable
  tools/drisc_drain/FINDINGS.md
Due: none

Generalize multi_scale_deformable_attn to D values that are multiples of 16
  tests/ttnn/unit_tests/operations/experimental/test_multi_scale_deformable_attn.py
  ttnn/cpp/ttnn/operations/experimental/multi_scale_deformable_attn/device/kernels/compute/msda_compute.cpp
  ttnn/cpp/ttnn/operations/experimental/multi_scale_deformable_attn/device/kernels/dataflow/reader_msda.cpp
  ttnn/cpp/ttnn/operations/experimental/multi_scale_deformable_attn/device/kernels/dataflow/writer_msda.cpp
  ttnn/cpp/ttnn/operations/experimental/multi_scale_deformable_attn/device/multi_scale_deformable_attn_device_operation.cpp
  ttnn/cpp/ttnn/operations/experimental/multi_scale_deformable_attn/device/multi_scale_deformable_attn_program_factory.cpp
Due: block-ttnn-pybind-changes

CI repro: trivial change to trigger runtime-examples (tt-metal#52290)
  tt_metal/common/env_lib.hpp
Due: none

compute: allow SrcB broadcast on binary_dest_reuse_tiles
  docs/source/tt-metalium/tt_metal/apis/kernel_apis/compute/binary_dest_reuse_tiles.rst
  docs/source/tt-metalium/tt_metal/apis/kernel_apis/compute/compute.rst
  tests/tt_metal/tt_metal/llk/test_single_core_binary_compute.cpp
  tests/tt_metal/tt_metal/test_kernels/compute/eltwise_binary_2_0.cpp
  tt_metal/hw/inc/api/compute/eltwise_binary.h
Due: none

add layer 4 test
  models/demos/vision/classification/resnet50/quasar/tests/ops/test_conv2d_layer4_l1_fit.py
Due: none

glm4_moe_lite(blaze): q_kv_a now BEATS ttnn -- 1.29x at W=4, gated (117.3 -> 36.8 us)
  models/experimental/glm4_moe_lite/blaze_eval/RESUME_HERE.md
  models/experimental/glm4_moe_lite/blaze_eval/upstream/09-gather-row-to-dram-chunked-writes.patch
Due: none

glm4_moe_lite(blaze): correct the record -- the integration seam would raise if enabled
  models/experimental/glm4_moe_lite/blaze_eval/RESUME_HERE.md
Due: none

glm4_moe_lite(blaze): the weight layouts do not match, and the simpler op is probably the right one
  models/experimental/glm4_moe_lite/blaze_eval/RESUME_HERE.md
Due: none

perf_automation: a healthy device clears the reset count -- 585d4ef4ce made the limit a one-way door
  models/experimental/perf_automation/agent/device_recovery.py
  models/experimental/perf_automation/tests/test_a_limit_counted_in_one_place_is_enforced_there.py
Due: none

[Tools] ditcheck: conform the replicated_stage encoder finding on 2x4 (11/10c)
  models/tt_dit/tools/dit_analyzer/conform_encoder.py
Due: none

Route T3000 sanity to CIv2, reflect dispatched suites in run-name
  .github/workflows/sanity-tests.yaml
Due: none

[Tools] ditcheck: document the conformed encoder finding (11d)
  models/tt_dit/tools/dit_analyzer/DitStaticAnalyzerRoadmap.md
  models/tt_dit/tools/dit_analyzer/README.md
Due: none

audio decode: widen the timestep fold to 21-28x -- 5x on the snake, ~1 % end to end
  models/tt_dit/layers/audio_ops.py
  models/tt_dit/tests/models/minimax_h3/audio_perf/snake_bench.py
Due: none

audio decode: fold the Step 1 result back into the plan, including where the plan was wrong
  models/tt_dit/tests/models/minimax_h3/audio_perf/AUDIO_FUSION_PLAN.md
  models/tt_dit/tests/models/minimax_h3/audio_perf/AUDIO_RESULTS.md
Due: none

fold Metal 2.0: relocate untilize compute fork beside the original
  ttnn/cpp/ttnn/operations/data_movement/fold/METAL2_PORT_PLAN.md
  ttnn/cpp/ttnn/operations/data_movement/fold/METAL2_PORT_REPORT.md
  ttnn/cpp/ttnn/operations/data_movement/fold/device/fold_multi_core_dram_program_factory.cpp
  ttnn/cpp/ttnn/operations/data_movement/untilize/device/kernels/compute/untilize.cpp
  ttnn/cpp/ttnn/operations/data_movement/untilize/device/kernels/compute/untilize_metal2.cpp
Due: block-ttnn-pybind-changes

fold Metal 2.0: address review — factory-local spec names, inline single-use compute-config lambda
  ttnn/cpp/ttnn/operations/data_movement/fold/device/fold_multi_core_dram_program_factory.cpp
  ttnn/cpp/ttnn/operations/data_movement/fold/device/fold_multi_core_program_factory.cpp
Due: block-ttnn-pybind-changes

fold Metal 2.0: add nightly test to verification baseline (146 passed)
  ttnn/cpp/ttnn/operations/data_movement/fold/METAL2_PORT_REPORT.md
Due: block-ttnn-pybind-changes

fold: apply review suggestions for Metal 2.0 factory
  ttnn/cpp/ttnn/operations/data_movement/fold/device/fold_multi_core_dram_program_factory.cpp
  ttnn/cpp/ttnn/operations/data_movement/fold/device/kernels/dataflow/writer_cb2dram_for_rm_input.cpp
Due: block-ttnn-pybind-changes

Port data_movement/fold to Metal 2.0
  ttnn/cpp/ttnn/operations/data_movement/fold/METAL2_PORT_BRIEF.md
  ttnn/cpp/ttnn/operations/data_movement/fold/METAL2_PORT_PLAN.md
  ttnn/cpp/ttnn/operations/data_movement/fold/METAL2_PORT_REPORT.md
  ttnn/cpp/ttnn/operations/data_movement/fold/METAL2_PREPORT_AUDIT.md
  ttnn/cpp/ttnn/operations/data_movement/fold/device/fold_device_op.hpp
  ttnn/cpp/ttnn/operations/data_movement/fold/device/fold_multi_core_dram_program_factory.cpp
  ttnn/cpp/ttnn/operations/data_movement/fold/device/fold_multi_core_program_factory.cpp
  ttnn/cpp/ttnn/operations/data_movement/fold/device/kernels/compute/untilize.cpp
  ttnn/cpp/ttnn/operations/data_movement/fold/device/kernels/dataflow/reader_dram2cb_for_rm_input.cpp
  ttnn/cpp/ttnn/operations/data_movement/fold/device/kernels/dataflow/reader_dram2cb_tiled.cpp
  ttnn/cpp/ttnn/operations/data_movement/fold/device/kernels/dataflow/writer_cb2dram_for_rm_input.cpp
  ttnn/cpp/ttnn/operations/data_movement/fold/device/kernels/dataflow/writer_cb2dram_for_tiled_input.cpp
  ttnn/cpp/ttnn/operations/data_movement/fold/device/kernels/dataflow/writer_cb2s_row_major.cpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

Remove md files from branch
  ttnn/cpp/ttnn/operations/data_movement/fold/METAL2_PORT_BRIEF.md
  ttnn/cpp/ttnn/operations/data_movement/fold/METAL2_PORT_PLAN.md
  ttnn/cpp/ttnn/operations/data_movement/fold/METAL2_PORT_REPORT.md
  ttnn/cpp/ttnn/operations/data_movement/fold/METAL2_PREPORT_AUDIT.md
Due: block-ttnn-pybind-changes

fold: restore conditional src1 DFB for L1-aligned row-major sticks
  ttnn/cpp/ttnn/operations/data_movement/fold/device/fold_multi_core_dram_program_factory.cpp
  ttnn/cpp/ttnn/operations/data_movement/fold/device/kernels/dataflow/writer_cb2dram_for_rm_input.cpp
Due: block-ttnn-pybind-changes

Use -O3 for compute kernel as was default before
  ttnn/cpp/ttnn/operations/data_movement/fold/device/fold_multi_core_dram_program_factory.cpp
Due: block-ttnn-pybind-changes

cb_ -> dfb_
  ttnn/cpp/ttnn/operations/data_movement/fold/device/fold_multi_core_dram_program_factory.cpp
  ttnn/cpp/ttnn/operations/data_movement/fold/device/fold_multi_core_program_factory.cpp
  ttnn/cpp/ttnn/operations/data_movement/fold/device/kernels/dataflow/reader_dram2dfb_for_rm_input.cpp
  ttnn/cpp/ttnn/operations/data_movement/fold/device/kernels/dataflow/reader_dram2dfb_tiled.cpp
  ttnn/cpp/ttnn/operations/data_movement/fold/device/kernels/dataflow/writer_dfb2dram_for_rm_input.cpp
  ttnn/cpp/ttnn/operations/data_movement/fold/device/kernels/dataflow/writer_dfb2dram_for_tiled_input.cpp
  ttnn/cpp/ttnn/operations/data_movement/fold/device/kernels/dataflow/writer_dfb2s_row_major.cpp
Due: block-ttnn-pybind-changes

cleanu up lora pipeline
  models/tt_dit/experimental/pipelines/pipeline_wan_lora.py
  models/tt_dit/pipelines/wan/pipeline_wan.py
  models/tt_dit/pipelines/wan/pipeline_wan_i2v.py
Due: none

Cleanup: review rule — comments should explain why, not what changed
  .github/copilot-instructions.md
Due: none

cleanup and readme
  models/experimental/xtts/README.md
  models/experimental/xtts/tests/pcc/__init__.py
  models/experimental/xtts/tests/pcc/test_conditioning.py
  models/experimental/xtts/tests/pcc/test_conv_primitives.py
  models/experimental/xtts/tests/pcc/test_full_decoder.py
  models/experimental/xtts/tests/pcc/test_gpt_block.py
  models/experimental/xtts/tests/pcc/test_gpt_generate.py
  models/experimental/xtts/tests/pcc/test_gpt_model.py
  models/experimental/xtts/tests/pcc/test_gpt_stack.py
  models/experimental/xtts/tests/pcc/test_gpt_with_conditioning.py
  models/experimental/xtts/tests/pcc/test_hifi_decoder.py
  models/experimental/xtts/tests/pcc/test_mel_frontend.py
  models/experimental/xtts/tests/pcc/test_prefill_profile.py
  models/experimental/xtts/tests/pcc/test_sampler.py
  models/experimental/xtts/tests/pcc/test_speaker_encoder.py
  models/experimental/xtts/tests/pcc/test_speaker_encoder_profile.py
  models/experimental/xtts/tests/pcc/test_text_embedding.py
  models/experimental/xtts/tests/pcc/test_tt_gpt_generate.py
  models/experimental/xtts/tests/pcc/test_tt_gpt_prefill.py
  models/experimental/xtts/tests/pcc/test_tt_inference.py
  models/experimental/xtts/tests/pcc/test_tt_trace.py
  models/experimental/xtts/tests/pcc/test_waveform_decoder.py
  models/experimental/xtts/tests/test_speaker_encoder.py
  models/experimental/xtts/tt/xtts_conv.py
  models/experimental/xtts/tt/xtts_gpt_block.py
  models/experimental/xtts/tt/xtts_gpt_model.py
  models/experimental/xtts/tt/xtts_hifigan.py
  models/experimental/xtts/tt/xtts_mel.py
  models/experimental/xtts/tt/xtts_speaker_encoder.py
Due: none

docs(drisc_drain): matched test -- the Tensix drainer CANNOT reach the egress that hangs the card
  tools/drisc_drain/FINDINGS.md
Due: none

Fix 4x32 multi-host D2H gather corruption: restore H (shape[-2]) tile-align check
  models/tt_dit/utils/tensor.py
Due: none

noc wip
  tests/tt_metal/tt_metal/data_movement/quasar_examples/quasar_idma/kernels/noc_vs_idma_copy_bench.cpp
  tests/tt_metal/tt_metal/data_movement/quasar_examples/quasar_idma/test_idma_example.cpp
  tests/tt_metal/tt_metal/perf_microbenchmark/dispatch/test_prefetcher.cpp
  tt_metal/hw/inc/internal/tt-1xx/blackhole/noc_nonblocking_api.h
  tt_metal/hw/inc/internal/tt-1xx/wormhole/noc_nonblocking_api.h
  tt_metal/hw/inc/internal/tt-2xx/quasar/noc_nonblocking_api_v2.h
  tt_metal/impl/dispatch/kernels/cq_common.hpp
  tt_metal/impl/dispatch/kernels/cq_dispatch.cpp
  tt_metal/impl/dispatch/kernels/cq_prefetch.cpp
Due: none

perf_automation: the reset count belongs to ONE run; the kernel's verdict is the real stop
  models/experimental/perf_automation/agent/device_recovery.py
  models/experimental/perf_automation/cc_optimize/run.py
  models/experimental/perf_automation/tests/test_a_limit_counted_in_one_place_is_enforced_there.py
Due: none

temporary debug code
  models/tt_dit/tests/unit/test_ring_joint_sparse_frames.py
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/kernels/compute/compute_streaming.hpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/kernels/dataflow/ring_joint_reader.cpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

[Tools] ditcheck: host-fake coverage for H3 DiT construction (arange kwargs, elementwise)
  models/tt_dit/tools/dit_analyzer/dryrun/hostfakes.py
Due: none

audio decode: de-risk the fused band -- arithmetic is free, and ROW_MAJOR is 4-7x worse at narrow C
  models/tt_dit/tests/models/minimax_h3/audio_perf/compute_intensity.py
  models/tt_dit/tests/models/minimax_h3/audio_perf/layout_ab.py
Due: none

ring_joint_sdpa: hoist core-invariant work out of the cache-hit arg patch
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/ring_joint_sdpa_program_factory.cpp
Due: block-ttnn-pybind-changes

metal: make ProgramImpl::get_kernel a single lookup returning a reference
  tt_metal/impl/program/program.cpp
  tt_metal/impl/program/program_impl.hpp
Due: none

Path conditions:
  block-ttnn-pybind-changes: any of: ^ttnn/
  detect-legacy-device-op: any of: ^ttnn/.*\.hpp$
  validate-golden-csv-columns: any of: ^tests/tt_metal/tt_metal/perf_microbenchmark/routing/golden/.*bandwidth.*\.csv$
