Repository tenstorrent/tt-metal: changes, and which pre-commit hooks are due for each by the changed paths.
All: block-ttnn-pybind-changes, detect-legacy-device-op, validate-golden-csv-columns

block-ttnn-pybind-changes:
  name: Prevent edits to frozen pybind11 sources under ttnn
  entry: python3 scripts/block_ttnn_pybind_changes.py
  language: system
  pass_filenames: true

detect-legacy-device-op:
  name: Detect legacy device operation classes in newly added files
  entry: python3 scripts/detect_legacy_device_op.py --check-new-only
  language: system
  pass_filenames: true
  require_serial: true

validate-golden-csv-columns:
  name: Validate golden bandwidth CSV column headers
  entry: bash .github/scripts/utils/validate_golden_csv_columns.sh
  language: system
  pass_filenames: false

prefill: decoder layer and distributed RMSNorm (tenstorrent/tt-blaze#4146)
  models/demos/llama_3p1_8b_d_p/tests/unit/test_decoder_vs_ref.py
  models/demos/llama_3p1_8b_d_p/tt/decoder.py
  models/demos/llama_3p1_8b_d_p/tt/rms_norm.py
Due: none

[CI] Give the seven Qwen3.5/3.6 test entries their mandatory budget_type
  tests/pipeline_reorg/models_e2e_tests.yaml
  tests/pipeline_reorg/models_unit_tests.yaml
Due: none

[Bug fix] Quasar sdpa: use 2-deep front-rebase merged-sum fma on Quasar (multi-chunk)
  ttnn/cpp/ttnn/operations/experimental/quasar/transformer/sdpa/device/kernels/compute/compute_common.hpp
  ttnn/cpp/ttnn/operations/experimental/quasar/transformer/sdpa/device/sdpa_program_factory.cpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

Qwen3.x tt-model manifest (DFlash2 package): card benchmarks from the tt-inference-server workflow grids (1/2/4/8 users to 131k ISL)
  models/demos/blackhole/qwen36/tt-model.yaml
Due: none

[CI] Verify survivors spanned the reset, and size REPEAT_COUNT from measurements
  .github/scripts/utils/run-reset-isolation-test.sh
  .github/workflows/galaxy-multi-user-isolation-tests.yaml
Due: none

[Bug fix] Quasar sdpa: two-op MM2 rescale, not fused L1-accum (multi-chunk)
  ttnn/cpp/ttnn/operations/experimental/quasar/transformer/sdpa/device/kernels/compute/compute_common.hpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

Revert "[Bug fix] Quasar sdpa: use 2-deep front-rebase merged-sum fma on Quasar (multi-chunk)"
  ttnn/cpp/ttnn/operations/experimental/quasar/transformer/sdpa/device/kernels/compute/compute_common.hpp
  ttnn/cpp/ttnn/operations/experimental/quasar/transformer/sdpa/device/sdpa_program_factory.cpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

#55673: Fix shard_in Interleaved out
  tests/ttnn/unit_tests/operations/data_movement/test_indexed_fill.py
  ttnn/cpp/ttnn/operations/data_movement/indexed_fill/device/indexed_fill_device_operation.cpp
  ttnn/cpp/ttnn/operations/data_movement/indexed_fill/device/indexed_fill_program_factory.cpp
  ttnn/cpp/ttnn/operations/data_movement/indexed_fill/device/indexed_fill_utils.cpp
  ttnn/cpp/ttnn/operations/data_movement/indexed_fill/device/indexed_fill_utils.hpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

#55673: update comments
  tests/ttnn/unit_tests/operations/data_movement/test_indexed_fill.py
  ttnn/cpp/ttnn/operations/data_movement/indexed_fill/device/indexed_fill_device_operation.cpp
  ttnn/cpp/ttnn/operations/data_movement/indexed_fill/device/indexed_fill_program_factory.cpp
  ttnn/cpp/ttnn/operations/data_movement/indexed_fill/device/indexed_fill_utils.cpp
  ttnn/cpp/ttnn/operations/data_movement/indexed_fill/device/indexed_fill_utils.hpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

#55896: Dram fix
  tests/ttnn/unit_tests/operations/data_movement/test_concat.py
  ttnn/cpp/ttnn/operations/data_movement/concat/device/concat_device_operation.cpp
Due: block-ttnn-pybind-changes

pow (fp32): keep the log2 argument reduction's subtract separate
  tests/ttnn/unit_tests/operations/eltwise/test_pow.py
  tt_metal/hw/ckernels/blackhole/metal/llk_api/llk_sfpu/ckernel_sfpu_binary_pow.h
  tt_metal/hw/ckernels/blackhole/metal/llk_api/llk_sfpu/ckernel_sfpu_unary_power.h
  tt_metal/hw/ckernels/wormhole_b0/metal/llk_api/llk_sfpu/ckernel_sfpu_binary_pow.h
  tt_metal/hw/ckernels/wormhole_b0/metal/llk_api/llk_sfpu/ckernel_sfpu_unary_power.h
Due: none

[Bug fix] Quasar sdpa: pack_reconfig_out(exp_max_diff) before correction sub_exp_block
  ttnn/cpp/ttnn/operations/experimental/quasar/transformer/sdpa/device/kernels/compute/compute_common.hpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

DFlash: block_size 16 is a genuine optimum -- smaller loses too, and not by truncation
  models/demos/blackhole/qwen36/tests/reference/test_dflash_block_size_sweep.py
Due: none

[LLK] Write LOADMACRO CONTROL from SFPCONFIG's own immediate (#56546)
  tt_metal/tt-llk/tt_llk_quasar/common/inc/sfpu/ckernel_sfpu_exp.h
Due: none

Track the PCH umbrella in JIT object dependencies
  tests/tt_metal/tt_metal/jit_build/test_depend.cpp
  tt_metal/jit_build/build.cpp
  tt_metal/jit_build/depend.cpp
  tt_metal/jit_build/depend.hpp
  tt_metal/tools/jit_compile_server/jit_compile_server.cpp
Due: none

Allow JIT cache reuse without a recorded PCH umbrella
  tests/tt_metal/tt_metal/jit_build/test_depend.cpp
  tt_metal/jit_build/build.cpp
  tt_metal/jit_build/depend.cpp
  tt_metal/jit_build/depend.hpp
  tt_metal/tools/jit_compile_server/jit_compile_server.cpp
Due: none

Pass the PCH umbrella path in JIT compile recipes
  tt_metal/impl/jit_server/jit_compile_rpc_client.cpp
  tt_metal/impl/jit_server/jit_compile_service.cpp
  tt_metal/impl/jit_server/rpc.capnp
  tt_metal/jit_build/build.cpp
  tt_metal/jit_build/pch.cpp
  tt_metal/jit_build/pch.hpp
  tt_metal/jit_build/types.hpp
  tt_metal/tools/jit_compile_server/jit_compile_server.cpp
Due: none

Revert "Fix context test isolation and dataflow test kernel entry point"
  tests/tt_metal/tt_metal/context/test_metal_context_api.cpp
  tests/tt_metal/tt_metal/test_kernels/misc/increment_runtime_arg.cpp
Due: none

Fix device PCH compatibility with kernel ccache
  tt_metal/jit_build/build.cpp
Due: none

Fix context test isolation and dataflow test kernel entry point
  tests/tt_metal/tt_metal/context/test_metal_context_api.cpp
  tests/tt_metal/tt_metal/test_kernels/misc/increment_runtime_arg.cpp
Due: none

Use the shared standard-library PCH on the JIT compile server
  tt_metal/jit_build/pch.cpp
  tt_metal/jit_build/pch.hpp
  tt_metal/tools/jit_compile_server/jit_compile_server.cpp
Due: none

Use the existing JIT header install set and shorten PCH comments
  tt_metal/hw/firmware/CMakeLists.txt
  tt_metal/hw/firmware/src/pch.h
  tt_metal/hw/sources.cmake
  tt_metal/jit_build/build.cpp
  tt_metal/jit_build/pch.hpp
Due: none

Precompile the headers shared by every JIT kernel compile
  tt_metal/hw/firmware/CMakeLists.txt
  tt_metal/hw/firmware/src/pch.h
  tt_metal/jit_build/build.cpp
  tt_metal/jit_build/pch.cpp
  tt_metal/jit_build/pch.hpp
  tt_metal/jit_build/sources.cmake
Due: none

[CI] Stop using signals to release container-0's devices before the reset
  .github/scripts/utils/run-reset-isolation-test.sh
Due: none

prefill: make golden-KV generation fit in host memory (tenstorrent/tt-blaze#4147)
  models/demos/llama_3p1_8b_d_p/reference/model.py
  models/demos/llama_3p1_8b_d_p/scripts/README.md
Due: none

[LLK] Add DISABLE_SFPLOADMACRO Quasar exp kernel (#56589)
  tt_metal/tt-llk/tt_llk_quasar/common/inc/sfpu/ckernel_sfpu_exp.h
Due: none

[LLK] Import TestConfig in the Quasar parallel-matmul exp test (#56591)
  tt_metal/tt-llk/tests/python_tests/quasar/test_sfpu_exp_parallel_matmul_quasar.py
Due: none

#55896: update comments
  tests/ttnn/unit_tests/operations/data_movement/test_concat.py
  ttnn/cpp/ttnn/operations/data_movement/concat/device/concat_device_operation.cpp
Due: block-ttnn-pybind-changes

DFlash: ANCHOR=64 emits identical tokens but costs 10% acceptance -- a wash
  models/demos/blackhole/qwen36/tests/reference/test_anchor64_tokens.py
  models/demos/blackhole/qwen36/tests/unit/test_bucket64_carry_bisect.py
Due: none

Preserve tensor factory value semantics in clang-tidy fix
  tt_metal/api/tt-metalium/experimental/tensor_apis_with_pad_values.hpp
  tt_metal/impl/tensor/host_tensor_factory.cpp
Due: none

Break device assertion header include cycle
  tt_metal/hw/inc/api/debug/assert.h
  tt_metal/hw/inc/internal/debug/assert_common.h
  tt_metal/hw/inc/internal/tt-2xx/quasar/cache.h
  tt_metal/hw/inc/internal/tt-2xx/risc_common.h
  tt_metal/hw/sources.cmake
Due: none

Adopt rearm_dest_sync in the remaining ttnn mid-kernel re-init sites
  tests/tt_metal/tt_metal/test_kernels/compute/matmul_with_bias.cpp
  tests/tt_metal/tt_metal/test_kernels/compute/unary_bcast.cpp
  ttnn/cpp/ttnn/operations/data_movement/sort/device/kernels/compute/sort_cross_core_data_exchange.cpp
  ttnn/cpp/ttnn/operations/data_movement/sort/device/kernels/compute/sort_single_row_multi_core.cpp
  ttnn/cpp/ttnn/operations/data_movement/sort/device/kernels/compute/sort_single_row_single_core.cpp
  ttnn/cpp/ttnn/operations/experimental/ccl/all_gather_minimal_matmul_async/device/kernels/compute.cpp
  ttnn/cpp/ttnn/operations/experimental/matmul_decode/device/kernels/compute/compute_partial_width_sharded.cpp
  ttnn/cpp/ttnn/operations/experimental/minimal_matmul/device/kernels/compute.cpp
  ttnn/cpp/ttnn/operations/experimental/reduction/integral_image/device/kernels/intimg_compute.cpp
Due: block-ttnn-pybind-changes

Adopt rearm_dest_sync in the tt-train compute kernels
  tt-train/sources/ttml/metal/ops/cross_entropy_bw/device/kernels/compute/cross_entropy_bw_kernel.cpp
  tt-train/sources/ttml/metal/ops/cross_entropy_fw/device/kernels/compute/cross_entropy_fw_kernel.cpp
  tt-train/sources/ttml/metal/ops/layernorm_bw/device/kernels/compute/layernorm_bw_kernel.cpp
  tt-train/sources/ttml/metal/ops/polynorm_fw/device/kernels/compute/polynorm_fw_kernel.cpp
  tt-train/sources/ttml/metal/ops/rmsnorm_bw/device/kernels/compute/rmsnorm_bw_kernel.cpp
  tt-train/sources/ttml/metal/ops/softmax/device/kernels/compute/softmax_kernel.cpp
Due: none

Include allocator.hpp for the L1 budget's get_base_allocator_addr call
  ttnn/cpp/ttnn/operations/normalization/layernorm_distributed/device/layernorm_pre_all_gather_program_factory.cpp
Due: block-ttnn-pybind-changes

Enable traced prefill by default for DFlash (single-chunk), add prefill/verify Tracy profiles
  models/demos/gemma4/README.md
  models/demos/gemma4/demo/dflash_fused_decoder_demo.py
  models/demos/gemma4/scripts/run_dflash_prefill_profile.sh
  models/demos/gemma4/scripts/run_dflash_verify_profile.sh
  models/demos/gemma4/tests/dflash/test_dflash_prefill_tracy.py
  models/demos/gemma4/tests/dflash/test_dflash_verify_tracy.py
Due: none

Size the pre-all-gather x^2 buffer at Wt, not Wt*2 (#54698)
  tests/ttnn/unit_tests/operations/fused/test_distributed_layernorm.py
  ttnn/cpp/ttnn/operations/normalization/layernorm_distributed/device/layernorm_pre_all_gather_program_factory.cpp
Due: block-ttnn-pybind-changes

WIP : DSpark Demo
  models/experimental/deepseek_v4_flash/tests/test_dspark_ttnn.py
  models/experimental/deepseek_v4_flash/tt/dspark.py
Due: none

ci(models): bake prebuilt test env images for model test suites
  .github/workflows/all-model-tests.yaml
  .github/workflows/cleanup-prebuilt-tests-images.yaml
  .github/workflows/models-e2e-tests-impl.yaml
  .github/workflows/models-t1-e2e-tests.yaml
  .github/workflows/models-t1-unit-tests.yaml
  .github/workflows/models-t2-e2e-tests.yaml
  .github/workflows/models-t2-unit-tests.yaml
  .github/workflows/models-t3-e2e-tests.yaml
  .github/workflows/models-t3-unit-tests.yaml
  .github/workflows/models-unit-tests-impl.yaml
Due: none

ci(models): skip the bake when no consumer will run
  .github/workflows/all-model-tests.yaml
Due: none

ci(models): apply the in-place PYTHONPATH only on the image path
  .github/workflows/models-e2e-tests-impl.yaml
  .github/workflows/models-unit-tests-impl.yaml
Due: none

Path conditions:
  block-ttnn-pybind-changes: any of: ^ttnn/
  detect-legacy-device-op: any of: ^ttnn/.*\.hpp$
  validate-golden-csv-columns: any of: ^tests/tt_metal/tt_metal/perf_microbenchmark/routing/golden/.*bandwidth.*\.csv$
