Repository tenstorrent/tt-metal: changes, and which pre-commit hooks are due for each by the changed paths.
All: block-ttnn-pybind-changes, detect-legacy-device-op, validate-golden-csv-columns

block-ttnn-pybind-changes:
  name: Prevent edits to frozen pybind11 sources under ttnn
  entry: python3 scripts/block_ttnn_pybind_changes.py
  language: system
  pass_filenames: true

detect-legacy-device-op:
  name: Detect legacy device operation classes in newly added files
  entry: python3 scripts/detect_legacy_device_op.py --check-new-only
  language: system
  pass_filenames: true
  require_serial: true

validate-golden-csv-columns:
  name: Validate golden bandwidth CSV column headers
  entry: bash .github/scripts/utils/validate_golden_csv_columns.sh
  language: system
  pass_filenames: false

[ttnn-implementer] WIP R3: COEF_EXPANDER knob (writer/reader), per-stream coef pushes, raw read folded into block barrier
  ttnn/ttnn/operations/mhc_post/kernels/mhc_post_coef_expand.hpp
  ttnn/ttnn/operations/mhc_post/kernels/mhc_post_compute.cpp
  ttnn/ttnn/operations/mhc_post/kernels/mhc_post_reader.cpp
  ttnn/ttnn/operations/mhc_post/kernels/mhc_post_writer.cpp
  ttnn/ttnn/operations/mhc_post/mhc_post_program_descriptor.py
Due: block-ttnn-pybind-changes, detect-legacy-device-op

[sfpu/matmul] Fast tanh GELU for BF16 outputs: GELU_TANH param 1
  tests/ttnn/nightly/unit_tests/operations/matmul/test_matmul_activations.py
  tt_metal/hw/ckernels/blackhole/metal/llk_api/llk_sfpu/ckernel_sfpu_gelu.h
  tt_metal/hw/ckernels/wormhole_b0/metal/llk_api/llk_sfpu/ckernel_sfpu_gelu.h
  tt_metal/hw/inc/api/compute/eltwise_unary/gelu.h
  ttnn/cpp/ttnn/operations/matmul/device/kernels/compute/bmm_fused_activation.hpp
  ttnn/cpp/ttnn/operations/matmul/device/utilities/matmul_utilities.hpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

[gemma4_d_p] GEMMA4_GELU flag for the gate GELU (default tanh)
  models/demos/gemma4_d_p/tt/mlp.py
Due: none

[gemma4_d_p] Look up packed RoPE lanes from pre-permuted tables
  models/demos/gemma4_d_p/tt/model.py
Due: none

[gemma4_d_p] Embed prefill tokens straight into tile layout
  models/demos/gemma4_d_p/tt/model.py
Due: none

[gemma4_d_p] Reject chunk sizes the SP residual and sliding layers cannot split
  models/demos/gemma4_d_p/demo/text_demo_prefill.py
  models/demos/gemma4_d_p/tt/common.py
  models/demos/gemma4_d_p/tt/model.py
Due: none

[Bug fix] Preserve packed verification IDs across trace replay
  models/demos/gemma4/tests/unit/test_spec_decode_lifetime.py
  models/demos/gemma4/tt/spec_decode.py
Due: none

[Feature] Add the Gemma4 centroid masked embedding head
  models/demos/gemma4/README.md
  models/demos/gemma4/tests/unit/test_masked_embedding.py
  models/demos/gemma4/tt/assistant/masked_embedding.py
  models/demos/gemma4/tt/assistant/model.py
  models/demos/gemma4/tt/spec_decode.py
Due: none

[Bug fix] Honor the complete checkpoint EOS collection
  models/demos/gemma4/tests/unit/test_generation_stop_tokens.py
  models/demos/gemma4/tt/generator.py
Due: none

[Performance] Add explicit decode matmul configurations for Gemma4
  models/demos/gemma4/README.md
  models/demos/gemma4/tests/unit/test_matmul_tuning.py
  models/demos/gemma4/tt/assistant/model.py
  models/demos/gemma4/tt/attention/__init__.py
  models/demos/gemma4/tt/attention/decode.py
  models/demos/gemma4/tt/attention/operations.py
  models/demos/gemma4/tt/common.py
  models/demos/gemma4/tt/layer.py
  models/demos/gemma4/tt/matmul_tuning.py
  models/demos/gemma4/tt/model.py
  models/demos/gemma4/tt/shared_mlp.py
Due: none

[Feature] Add deterministic batched host PLI for verification
  models/demos/gemma4/README.md
  models/demos/gemma4/tests/unit/test_host_pli.py
  models/demos/gemma4/tests/unit/test_packed_verify.py
  models/demos/gemma4/tt/model.py
  models/demos/gemma4/tt/spec_decode.py
Due: none

[Feature] Compute Gemma4 per-layer inputs on device
  models/demos/gemma4/README.md
  models/demos/gemma4/tests/unit/test_packed_verify.py
  models/demos/gemma4/tt/model.py
  models/demos/gemma4/tt/spec_decode.py
Due: none

[Feature] Route Gemma4 device PLI into the existing fused speculative body
  models/demos/gemma4/README.md
  models/demos/gemma4/demo/text_demo_v2.py
  models/demos/gemma4/tests/unit/test_pli_env.py
  models/demos/gemma4/tests/unit/test_spec_decode.py
  models/demos/gemma4/tests/unit/test_spec_decode_metrics.py
  models/demos/gemma4/tests/unit/test_spec_decode_routing.py
  models/demos/gemma4/tests/unit/test_spec_decode_safety.py
  models/demos/gemma4/tt/model.py
  models/demos/gemma4/tt/pli_env.py
  models/demos/gemma4/tt/spec_decode.py
Due: none

[Bug fix] Disable fabric on a 1x1 Gemma4 demo mesh
  models/demos/gemma4/demo/text_demo_v2.py
Due: none

llk_sfpu: five confirmed SFPU boundary defects, and one audit verdict corrected
  tt_metal/hw/ckernels/blackhole/metal/llk_api/llk_sfpu/ckernel_sfpu_exp.h
  tt_metal/hw/ckernels/blackhole/metal/llk_api/llk_sfpu/ckernel_sfpu_softplus.h
  tt_metal/hw/ckernels/quasar/metal/llk_api/llk_sfpu/ckernel_sfpu_exp.h
  tt_metal/hw/ckernels/quasar/metal/llk_api/llk_sfpu/ckernel_sfpu_softplus.h
  tt_metal/hw/ckernels/wormhole_b0/metal/llk_api/llk_sfpu/ckernel_sfpu_exp.h
  tt_metal/hw/ckernels/wormhole_b0/metal/llk_api/llk_sfpu/ckernel_sfpu_softplus.h
  tt_metal/tt-llk/tests/helpers/include/fresh_cpp/gelu_fitted.h
  tt_metal/tt-llk/tests/helpers/include/fresh_cpp/tanhlut_licensed.h
Due: none

corpus/tools: input-FTZ attribution, and the dest_acc=Yes rows (which settle the subnormal question by arithmetic)
  tt_metal/tt-llk/tests/corpus/tools/fp32_stream_sweep.py
  tt_metal/tt-llk/tests/corpus/tools/selftest_threeway_golden.py
  tt_metal/tt-llk/tests/corpus/tools/threeway_golden.py
Due: none

llk_sfpu: repair eight boundary defects the stratified ULP leg found on silicon
  tt_metal/hw/ckernels/blackhole/metal/llk_api/llk_sfpu/ckernel_sfpu_i0.h
  tt_metal/hw/ckernels/blackhole/metal/llk_api/llk_sfpu/ckernel_sfpu_i1.h
  tt_metal/hw/ckernels/blackhole/metal/llk_api/llk_sfpu/ckernel_sfpu_softsign.h
  tt_metal/hw/ckernels/blackhole/metal/llk_api/llk_sfpu/ckernel_sfpu_sqrt_custom.h
  tt_metal/hw/ckernels/blackhole/metal/llk_api/llk_sfpu/ckernel_sfpu_xielu.h
  tt_metal/hw/ckernels/quasar/metal/llk_api/llk_sfpu/ckernel_sfpu_sqrt_custom.h
  tt_metal/hw/ckernels/wormhole_b0/metal/llk_api/llk_sfpu/ckernel_sfpu_i0.h
  tt_metal/hw/ckernels/wormhole_b0/metal/llk_api/llk_sfpu/ckernel_sfpu_i1.h
  tt_metal/hw/ckernels/wormhole_b0/metal/llk_api/llk_sfpu/ckernel_sfpu_softsign.h
  tt_metal/hw/ckernels/wormhole_b0/metal/llk_api/llk_sfpu/ckernel_sfpu_sqrt_custom.h
  tt_metal/hw/ckernels/wormhole_b0/metal/llk_api/llk_sfpu/ckernel_sfpu_xielu.h
  tt_metal/tt-llk/tests/helpers/include/fresh_cpp/digamma.h
  tt_metal/tt-llk/tests/helpers/include/fresh_cpp_operations.h
  tt_metal/tt-llk/tt_llk_blackhole/common/inc/sfpu/ckernel_sfpu_expm1_cw.h
  tt_metal/tt-llk/tt_llk_wormhole_b0/common/inc/sfpu/ckernel_sfpu_expm1_cw.h
Due: none

Refinement 2: fp32-stream projection precision (large Sinkhorn logits) — exact-grid (Ozaki-style) fp32-X split + exact SFPU sum x^2; T64_nC4096 worst row 0.0672204 (limit 0.0672702)
  tests/ttnn/unit_tests/operations/mhc_pre/probes/probe_018.py
  tests/ttnn/unit_tests/operations/mhc_pre/probes/probe_019.py
  tests/ttnn/unit_tests/operations/mhc_pre/probes/probe_020.py
  tests/ttnn/unit_tests/operations/mhc_pre/probes/probe_021.py
  tests/ttnn/unit_tests/operations/mhc_pre/probes/probe_022.py
  tests/ttnn/unit_tests/operations/mhc_pre/probes/probe_023.py
  tests/ttnn/unit_tests/operations/mhc_pre/probes/probe_024.py
  tests/ttnn/unit_tests/operations/mhc_pre/test_mhc_pre_precision_baseline.py
  ttnn/ttnn/operations/mhc_pre/agent_logs/ttnn-implementer_breadcrumbs.jsonl
  ttnn/ttnn/operations/mhc_pre/changelog.md
  ttnn/ttnn/operations/mhc_pre/kernels/mhc_pre_compute.cpp
  ttnn/ttnn/operations/mhc_pre/l1_ledger.md
  ttnn/ttnn/operations/mhc_pre/mhc_pre_program_descriptor.py
  ttnn/ttnn/operations/mhc_pre/op_requirements.md
Due: block-ttnn-pybind-changes

extra wait condition
  tt_metal/tt-llk/tt_llk_blackhole/llk_lib/llk_fp32_dest_acc.h
  tt_metal/tt-llk/tt_llk_wormhole_b0/llk_lib/llk_fp32_dest_acc.h
Due: none

#56601: Distinguish mul_bw program-cache entries by preallocated grad slot
  tests/ttnn/unit_tests/operations/eltwise/test_binary_backward_device_op.py
  ttnn/cpp/ttnn/operations/eltwise/binary_backward/device/binary_backward_device_operation.cpp
Due: block-ttnn-pybind-changes

#56601: Add shared BINARY_BACKWARD_BROADCAST_MATRIX and mul_bw device-op focused test
  tests/ttnn/backward_shape_matrix.py
  tests/ttnn/unit_tests/operations/eltwise/test_binary_backward_device_op.py
Due: none

#56601: Add shared BinaryBackwardDeviceOperation with mul_bw ported
  ttnn/cpp/ttnn/operations/eltwise/binary_backward/CMakeLists.txt
  ttnn/cpp/ttnn/operations/eltwise/binary_backward/binary_backward.cpp
  ttnn/cpp/ttnn/operations/eltwise/binary_backward/device/binary_backward_device_operation.cpp
  ttnn/cpp/ttnn/operations/eltwise/binary_backward/device/binary_backward_device_operation.hpp
  ttnn/cpp/ttnn/operations/eltwise/binary_backward/device/binary_backward_device_operation_types.hpp
  ttnn/cpp/ttnn/operations/eltwise/binary_backward/device/binary_backward_op_types.hpp
  ttnn/cpp/ttnn/operations/eltwise/binary_backward/device/binary_backward_op_utils.cpp
  ttnn/cpp/ttnn/operations/eltwise/binary_backward/device/binary_backward_op_utils.hpp
  ttnn/cpp/ttnn/operations/eltwise/binary_backward/device/binary_backward_program_factory.cpp
  ttnn/cpp/ttnn/operations/eltwise/binary_backward/device/binary_backward_program_factory.hpp
  ttnn/cpp/ttnn/operations/eltwise/binary_backward/device/kernels/compute/eltwise_bw_mul.cpp
  ttnn/cpp/ttnn/operations/eltwise/binary_backward/device/kernels/dataflow/writer_binary_backward_dual_nobcast.cpp
  ttnn/cpp/ttnn/operations/eltwise/binary_backward/sources.cmake
Due: block-ttnn-pybind-changes, detect-legacy-device-op

#56601: Expand binary_backward hard-invariant errors with migration hints
  ttnn/cpp/ttnn/operations/eltwise/binary_backward/binary_backward.cpp
  ttnn/cpp/ttnn/operations/eltwise/binary_backward/device/binary_backward_device_operation.cpp
  ttnn/cpp/ttnn/operations/eltwise/binary_backward/device/binary_backward_device_operation.hpp
  ttnn/cpp/ttnn/operations/eltwise/binary_backward/device/binary_backward_op_utils.hpp
  ttnn/cpp/ttnn/operations/eltwise/binary_backward/device/binary_backward_program_factory.cpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

#56601: Extend nightly test_backward_mul with broadcast triples via shared shape matrix
  tests/ttnn/nightly/unit_tests/operations/eltwise/backward/test_backward_mul.py
Due: none

#56601: Fix binary_backward glob dependency, invalid-broadcast fatal, and parity oracle
  tests/ttnn/backward_shape_matrix.py
  tests/ttnn/nightly/unit_tests/operations/eltwise/backward/test_backward_mul.py
  tests/ttnn/unit_tests/operations/eltwise/test_binary_backward_device_op.py
  ttnn/cpp/ttnn/operations/eltwise/binary_backward/CMakeLists.txt
  ttnn/cpp/ttnn/operations/eltwise/binary_backward/device/binary_backward_op_utils.cpp
Due: block-ttnn-pybind-changes

#56601: Drop redundant default-init on broadcast_reduce_kernel_path
  ttnn/cpp/ttnn/operations/eltwise/binary_backward/device/binary_backward_op_utils.hpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

#56601: Pin mul_bw composite grad dtype/memory_config to operand and skip auto empty_like
  tests/ttnn/unit_tests/operations/eltwise/test_binary_backward_device_op.py
  ttnn/cpp/ttnn/operations/eltwise/binary_backward/binary_backward.cpp
  ttnn/cpp/ttnn/operations/eltwise/binary_backward/binary_backward_nanobind.cpp
Due: block-ttnn-pybind-changes

#56601: Align mul_bw device-op tests with golden function and trim cases
  tests/ttnn/unit_tests/operations/eltwise/test_binary_backward_device_op.py
  ttnn/cpp/ttnn/operations/eltwise/binary_backward/binary_backward.cpp
Due: block-ttnn-pybind-changes

#56601: Skip wasted empty_like+copy on broadcast, gate scalar overload, fix ROW_MAJOR test
  tests/ttnn/unit_tests/operations/eltwise/test_binary_backward_device_op.py
  ttnn/cpp/ttnn/operations/eltwise/binary_backward/binary_backward.cpp
Due: block-ttnn-pybind-changes

#56601: Trim mul_bw comments to ≤2 lines
  ttnn/cpp/ttnn/operations/eltwise/binary_backward/binary_backward.cpp
Due: block-ttnn-pybind-changes

Refinement 3: record C1792 run-to-run range (66-71us)
  ttnn/ttnn/operations/mhc_post/changelog.md
  ttnn/ttnn/operations/mhc_post/op_requirements.md
Due: block-ttnn-pybind-changes

Update tests/scripts/check_metalium_interface_includes/CMakeLists.txt
  tests/scripts/check_metalium_interface_includes/CMakeLists.txt
Due: none

[ttnn-implementer] R3 WIP: W column broadcast (Mcast1D PerColumn, Counter, no handshake) — 640x7168 bf16 272->193.5us, unit 27/27
  ttnn/ttnn/operations/mhc_pre/kernels/mhc_pre_reader.cpp
  ttnn/ttnn/operations/mhc_pre/mhc_pre_program_descriptor.py
Due: block-ttnn-pybind-changes

Refinement 3: Speed up the perf-focus profile T=640, C=7168, bf16 streams (W column broadcast) — R2 Mcast1D(PerColumn) W fill + X0-before-W overlap; 640x7168 bf16 272.0->191.6us, fp32 567->504us
  ttnn/ttnn/operations/mhc_pre/agent_logs/ttnn-implementer_breadcrumbs.jsonl
  ttnn/ttnn/operations/mhc_pre/changelog.md
  ttnn/ttnn/operations/mhc_pre/kernels/mhc_pre_reader.cpp
  ttnn/ttnn/operations/mhc_pre/l1_ledger.md
  ttnn/ttnn/operations/mhc_pre/op_design.md
  ttnn/ttnn/operations/mhc_pre/op_requirements.md
Due: block-ttnn-pybind-changes

qwen36: DFlash speculative decoding for Qwen3.6-27B on T3K
  models/demos/blackhole/qwen36/DFLASH_DRAFTER_OP_MAPPING.md
  models/demos/blackhole/qwen36/README-DFLASH.md
  models/demos/blackhole/qwen36/README.md
  models/demos/blackhole/qwen36/demo/dflash_demo.py
  models/demos/blackhole/qwen36/reference/__init__.py
  models/demos/blackhole/qwen36/reference/dflash/__init__.py
  models/demos/blackhole/qwen36/reference/dflash/dflash.py
  models/demos/blackhole/qwen36/reference/dflash/drafters.py
  models/demos/blackhole/qwen36/reference/dflash/generate.py
  models/demos/blackhole/qwen36/reference/dflash/loader.py
  models/demos/blackhole/qwen36/reference/dflash/targets.py
  models/demos/blackhole/qwen36/tests/pcc_thresholds.json
  models/demos/blackhole/qwen36/tests/perf/test_dflash_traced_throughput.py
  models/demos/blackhole/qwen36/tests/perf/test_profile_dflash_drafter.py
  models/demos/blackhole/qwen36/tests/reference/__init__.py
  models/demos/blackhole/qwen36/tests/reference/conftest.py
  models/demos/blackhole/qwen36/tests/reference/test_dflash_device.py
  models/demos/blackhole/qwen36/tests/reference/test_dflash_host.py
  models/demos/blackhole/qwen36/tests/test_dflash_drafter_tp.py
  models/demos/blackhole/qwen36/tests/test_dflash_verify_pcc.py
  models/demos/blackhole/qwen36/tests/unit/full_depth_pcc_common.py
  models/demos/blackhole/qwen36/tt/attention/rope_tp.py
  models/demos/blackhole/qwen36/tt/dflash/__init__.py
  models/demos/blackhole/qwen36/tt/dflash/config.py
  models/demos/blackhole/qwen36/tt/dflash/drafter.py
  models/demos/blackhole/qwen36/tt/dflash/speculative_drafter.py
  models/demos/blackhole/qwen36/tt/dflash/target.py
  models/demos/blackhole/qwen36/tt/dflash/weights.py
  models/demos/blackhole/qwen36/tt/gdn/fused_chunk.py
  models/demos/blackhole/qwen36/tt/gdn/tp.py
  models/demos/blackhole/qwen36/tt/layer.py
  models/demos/blackhole/qwen36/tt/model.py
  models/experimental/gated_attention_gated_deltanet/tt/ttnn_gated_deltanet.py
Due: none

qwen36 DFlash: post-rebase numbers on ign/qwen359b 9072f487814
  models/demos/blackhole/qwen36/README-DFLASH.md
  models/demos/blackhole/qwen36/tt/dflash/config.py
Due: none

corpus/tools: attribute the NaN misses, both halves, per input
  tt_metal/tt-llk/tests/corpus/tools/fp32_stream_sweep.py
  tt_metal/tt-llk/tests/corpus/tools/threeway_golden.py
Due: none

Refactor manifest generation main path and tests
  tests/tt_metal/tt_fabric/fabric_data_movement/test_fabric_manifest.cpp
  tests/tt_metal/tt_fabric/fabric_manifest/test_fabric_manifest.cpp
  tests/tt_metal/tt_fabric/sources.cmake
  tt_metal/fabric/builder/connection_writer_adapter.hpp
  tt_metal/fabric/builder/fabric_manifest_collector.cpp
  tt_metal/fabric/builder/fabric_manifest_collector.hpp
  tt_metal/fabric/builder/fabric_manifest_model.hpp
  tt_metal/fabric/builder/fabric_manifest_router_instance.cpp
  tt_metal/fabric/builder/fabric_manifest_router_instance.hpp
  tt_metal/fabric/builder/static_sized_channel_connection_writer_adapter.cpp
  tt_metal/fabric/compute_mesh_router_builder.cpp
  tt_metal/fabric/compute_mesh_router_builder.hpp
  tt_metal/fabric/debug/visualizer/MANIFEST.md
  tt_metal/fabric/debug/visualizer/README.md
  tt_metal/fabric/debug/visualizer/schema/fabric_manifest_schema.json
  tt_metal/fabric/erisc_datamover_builder.cpp
  tt_metal/fabric/erisc_datamover_builder.hpp
  tt_metal/fabric/fabric_builder.cpp
  tt_metal/fabric/fabric_builder.hpp
  tt_metal/fabric/fabric_builder_context.cpp
  tt_metal/fabric/fabric_builder_context.hpp
  tt_metal/fabric/fabric_init.cpp
  tt_metal/fabric/fabric_manifest.cpp
  tt_metal/fabric/fabric_manifest_names.hpp
  tt_metal/fabric/fabric_router_builder.hpp
  tt_metal/fabric/sources.cmake
  tt_metal/impl/device/firmware/fabric_firmware_initializer.cpp
  tt_metal/impl/device/firmware/fabric_firmware_initializer.hpp
  tt_metal/llrt/rtoptions.cpp
  tt_metal/llrt/rtoptions.hpp
Due: none

Refinement 3: Speed up the perf-focus profile T=640, C=7168, bf16 streams (W column broadcast) — fix W-sender source race (push after mcast send); golden 206/206
  tests/ttnn/unit_tests/operations/mhc_pre/probes/probe_025.py
  tests/ttnn/unit_tests/operations/mhc_pre/probes/probe_026.py
  ttnn/ttnn/operations/mhc_pre/agent_logs/ttnn-implementer_breadcrumbs.jsonl
  ttnn/ttnn/operations/mhc_pre/changelog.md
  ttnn/ttnn/operations/mhc_pre/kernels/mhc_pre_reader.cpp
  ttnn/ttnn/operations/mhc_pre/op_requirements.md
Due: block-ttnn-pybind-changes

[bringup][F56] Component tests check themselves by output kind; freeze sweep; optional review skip (default: review on)
  models/demos/common/bringup/README.md
  models/demos/common/bringup/core/metrics.py
  models/demos/common/bringup/core/runs.py
  models/demos/common/bringup/dev/f56_device_check.py
  models/demos/common/bringup/dev/f56_mutation_proof.py
  models/demos/common/bringup/orchestrator.py
  models/demos/common/bringup/selftest/test_component_checks.py
  models/demos/common/bringup/testing/component.py
  models/demos/common/bringup/testing/component_checks.py
  models/demos/common/bringup/testing/harness.py
  models/demos/common/bringup/testing/templates.py
Due: none

Path conditions:
  block-ttnn-pybind-changes: any of: ^ttnn/
  detect-legacy-device-op: any of: ^ttnn/.*\.hpp$
  validate-golden-csv-columns: any of: ^tests/tt_metal/tt_metal/perf_microbenchmark/routing/golden/.*bandwidth.*\.csv$
