Repository tenstorrent/tt-metal: changes, and which pre-commit hooks are due for each by the changed paths.
All: block-ttnn-pybind-changes, detect-legacy-device-op, validate-golden-csv-columns

block-ttnn-pybind-changes:
  name: Prevent edits to frozen pybind11 sources under ttnn
  entry: python3 scripts/block_ttnn_pybind_changes.py
  language: system
  pass_filenames: true

detect-legacy-device-op:
  name: Detect legacy device operation classes in newly added files
  entry: python3 scripts/detect_legacy_device_op.py --check-new-only
  language: system
  pass_filenames: true
  require_serial: true

validate-golden-csv-columns:
  name: Validate golden bandwidth CSV column headers
  entry: bash .github/scripts/utils/validate_golden_csv_columns.sh
  language: system
  pass_filenames: false

try to implement read tile value for quasar
  tests/tt_metal/tt_metal/api/dataflow_buffer/test_dataflow_buffer_apis.cpp
  tests/tt_metal/tt_metal/test_kernels/compute/dfb_read_tile_value_compute.cpp
  tests/tt_metal/tt_metal/test_kernels/dataflow/dfb_producer.cpp
  tt_metal/hw/inc/api/dataflow/dataflow_buffer.h
  tt_metal/hw/inc/internal/tt-2xx/dataflow_buffer.inl
Due: none

Fix wait_front(): block riscv core to prevent premature peeks into L1 before data has arrived
  tt_metal/hw/inc/api/dataflow/dataflow_buffer.h
  tt_metal/hw/inc/internal/tt-2xx/dataflow_buffer.inl
Due: none

[Bug fix] Quasar sdpa_decode: restrict dtype validation to bf16/Int32
  ttnn/cpp/ttnn/operations/experimental/quasar/transformer/sdpa_decode/device/sdpa_decode_device_operation.cpp
Due: block-ttnn-pybind-changes

[Feature] Quasar sdpa_decode: apply exp scale via separate multiply, not exp_tile_init<scale>
  ttnn/cpp/ttnn/operations/experimental/quasar/transformer/sdpa_decode/device/kernels/compute/compute_common.hpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

[Feature] Quasar sdpa_decode: semaphore-API migration + Gen2 DFB structure
  models/experimental/llama32_1b_quasar/tests/ops/op_utils.py
  ttnn/cpp/ttnn/operations/experimental/quasar/transformer/sdpa_decode/device/kernels/compute/compute_common.hpp
  ttnn/cpp/ttnn/operations/experimental/quasar/transformer/sdpa_decode/device/kernels/compute/sdpa_flash_decode.cpp
  ttnn/cpp/ttnn/operations/experimental/quasar/transformer/sdpa_decode/device/kernels/dataflow/dataflow_common.hpp
  ttnn/cpp/ttnn/operations/experimental/quasar/transformer/sdpa_decode/device/kernels/dataflow/reader_decode_all.cpp
  ttnn/cpp/ttnn/operations/experimental/quasar/transformer/sdpa_decode/device/kernels/dataflow/writer_decode_all.cpp
  ttnn/cpp/ttnn/operations/experimental/quasar/transformer/sdpa_decode/device/sdpa_decode_program_factory.cpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

[Bug fix] Quasar sdpa_decode: drop stale cherry-picked DFB test files
  tests/tt_metal/tt_metal/api/dataflow_buffer/test_dataflow_buffer_apis.cpp
  tests/tt_metal/tt_metal/test_kernels/compute/dfb_read_tile_value_compute.cpp
  tests/tt_metal/tt_metal/test_kernels/dataflow/dfb_producer.cpp
Due: none

[Bug fix] Quasar sdpa (prefill): transpose-free QK^T via dedicated kt DFB (9 DFBs)
  ttnn/cpp/ttnn/operations/experimental/quasar/transformer/sdpa/device/kernels/compute/compute_common.hpp
  ttnn/cpp/ttnn/operations/experimental/quasar/transformer/sdpa/device/sdpa_program_factory.cpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

[Cleanup] docs: condense Quasar sdpa (prefill) plan to final findings
  docs/superpowers/plans/2026-09-11-quasar-sdpa-prefill-bringup.md
Due: none

[Bug fix] Quasar sdpa_decode: merge sum_1/sum_2 ping-pong into one DFB (8->7)
  ttnn/cpp/ttnn/operations/experimental/quasar/transformer/sdpa_decode/device/kernels/compute/compute_common.hpp
  ttnn/cpp/ttnn/operations/experimental/quasar/transformer/sdpa_decode/device/kernels/compute/sdpa_flash_decode.cpp
  ttnn/cpp/ttnn/operations/experimental/quasar/transformer/sdpa_decode/device/sdpa_decode_program_factory.cpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

[Bug fix] Quasar sdpa_decode: merge max_1/max_2 ping-pong into one DFB (9->8)
  ttnn/cpp/ttnn/operations/experimental/quasar/transformer/sdpa_decode/device/kernels/compute/compute_common.hpp
  ttnn/cpp/ttnn/operations/experimental/quasar/transformer/sdpa_decode/device/kernels/compute/sdpa_flash_decode.cpp
  ttnn/cpp/ttnn/operations/experimental/quasar/transformer/sdpa_decode/device/sdpa_decode_program_factory.cpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

[Cleanup] docs: append max_1/max_2 DFB-merge recipe + pitfalls to Quasar sdpa_decode plan
  docs/superpowers/plans/2026-09-09-quasar-sdpa-decode-craqsim-bringup.md
Due: none

[Cleanup] docs: correct max-merge reason + note JOINT kt compile fix
  docs/superpowers/plans/2026-09-11-quasar-sdpa-prefill-bringup.md
Due: none

[Cleanup] Quasar sdpa (prefill): document the shared merged-sum fma decision rule
  ttnn/cpp/ttnn/operations/experimental/quasar/transformer/sdpa/device/kernels/compute/compute_common.hpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

[Bug fix] Quasar sdpa_decode: template read_k semaphore type + Os compute opt
  ttnn/cpp/ttnn/operations/experimental/quasar/transformer/sdpa_decode/device/kernels/dataflow/dataflow_common.hpp
  ttnn/cpp/ttnn/operations/experimental/quasar/transformer/sdpa_decode/device/sdpa_decode_program_factory.cpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

[Bug fix] Quasar sdpa (prefill): merge max_A/max_B into one 2-deep DFB to fit 8-DFB cap
  docs/superpowers/plans/2026-09-11-quasar-sdpa-prefill-bringup.md
  ttnn/cpp/ttnn/operations/experimental/quasar/transformer/sdpa/device/kernels/compute/compute_common.hpp
  ttnn/cpp/ttnn/operations/experimental/quasar/transformer/sdpa/device/kernels/compute/sdpa.cpp
  ttnn/cpp/ttnn/operations/experimental/quasar/transformer/sdpa/device/sdpa_program_factory.cpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

[Cleanup] docs: Quasar sdpa (prefill) plan — WH all-green + craq-sim runs status
  docs/superpowers/plans/2026-09-11-quasar-sdpa-prefill-bringup.md
Due: none

[Bug fix] Quasar sdpa (prefill): declare the kt DFB in the joint factory
  docs/superpowers/plans/2026-09-11-quasar-sdpa-prefill-bringup.md
  ttnn/cpp/ttnn/operations/experimental/quasar/transformer/sdpa/device/joint_sdpa_program_factory.cpp
Due: block-ttnn-pybind-changes

[Bug fix] Quasar sdpa_decode: transpose-free QK^T via dedicated K^T DFB
  ttnn/cpp/ttnn/operations/experimental/quasar/transformer/sdpa_decode/device/kernels/compute/compute_common.hpp
  ttnn/cpp/ttnn/operations/experimental/quasar/transformer/sdpa_decode/device/kernels/compute/sdpa_flash_decode.cpp
  ttnn/cpp/ttnn/operations/experimental/quasar/transformer/sdpa_decode/device/sdpa_decode_program_factory.cpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

[Cleanup] docs: update Quasar sdpa_decode plan with execution progress
  docs/superpowers/plans/2026-09-09-quasar-sdpa-decode-craqsim-bringup.md
Due: none

[Bug fix] Quasar sdpa_decode: LLK-compat fixes for JIT compile
  ttnn/cpp/ttnn/operations/experimental/quasar/transformer/sdpa_decode/device/kernels/compute/compute_common.hpp
  ttnn/cpp/ttnn/operations/experimental/quasar/transformer/sdpa_decode/device/sdpa_decode_program_factory.cpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

[Bug fix] Quasar sdpa (prefill): merge sum (not max) into one DFB to fit 8-DFB cap
  docs/superpowers/plans/2026-09-11-quasar-sdpa-prefill-bringup.md
  ttnn/cpp/ttnn/operations/experimental/quasar/transformer/sdpa/device/kernels/compute/compute_common.hpp
  ttnn/cpp/ttnn/operations/experimental/quasar/transformer/sdpa/device/kernels/compute/sdpa.cpp
  ttnn/cpp/ttnn/operations/experimental/quasar/transformer/sdpa/device/sdpa_program_factory.cpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

[Cleanup] docs: update Quasar sdpa_decode plan with full test status
  docs/superpowers/plans/2026-09-09-quasar-sdpa-decode-craqsim-bringup.md
Due: none

[Bug fix] Quasar sdpa_decode: reuse out_im/qk_im for 2 tree-reduction temps (11->9 DFBs)
  ttnn/cpp/ttnn/operations/experimental/quasar/transformer/sdpa_decode/device/kernels/compute/sdpa_flash_decode.cpp
  ttnn/cpp/ttnn/operations/experimental/quasar/transformer/sdpa_decode/device/sdpa_decode_program_factory.cpp
Due: block-ttnn-pybind-changes

[Bug fix] Quasar sdpa: pack_init after each output-DFB switch (all-zeros fix)
  ttnn/cpp/ttnn/operations/experimental/quasar/transformer/sdpa/device/kernels/compute/compute_common.hpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

[Bug fix] Quasar sdpa_decode: fit tree-reduction temps into 8 DFBs via out_m reuse
  ttnn/cpp/ttnn/operations/experimental/quasar/transformer/sdpa_decode/device/kernels/compute/sdpa_flash_decode.cpp
  ttnn/cpp/ttnn/operations/experimental/quasar/transformer/sdpa_decode/device/sdpa_decode_program_factory.cpp
Due: block-ttnn-pybind-changes

[Cleanup] docs: record Quasar sdpa (prefill) craq-sim frontier post QK^T+merge
  docs/superpowers/plans/2026-09-11-quasar-sdpa-prefill-bringup.md
Due: none

[Cleanup] docs: sum DFB-merge done + correct ring-rotation & coverage findings
  docs/superpowers/plans/2026-09-09-quasar-sdpa-decode-craqsim-bringup.md
Due: none

[Bug fix] Quasar sdpa (prefill): compile + run on craq-sim (SFPU swap, streaming guard, fp32 gate)
  docs/superpowers/plans/2026-09-11-quasar-sdpa-prefill-bringup.md
  ttnn/cpp/ttnn/operations/experimental/quasar/transformer/sdpa/device/kernels/compute/compute_common.hpp
  ttnn/cpp/ttnn/operations/experimental/quasar/transformer/sdpa/device/kernels/compute/sdpa.cpp
  ttnn/cpp/ttnn/operations/experimental/quasar/transformer/sdpa/device/sdpa_program_factory.cpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

[Bug fix] Quasar sdpa_decode: fix multi-chunk online-softmax (max split, sum-merge tree-safe)
  models/experimental/llama32_1b_quasar/tests/ops/test_scaled_dot_product_attention_decode.py
  ttnn/cpp/ttnn/operations/experimental/quasar/transformer/sdpa_decode/device/kernels/compute/sdpa_flash_decode.cpp
  ttnn/cpp/ttnn/operations/experimental/quasar/transformer/sdpa_decode/device/sdpa_decode_program_factory.cpp
Due: block-ttnn-pybind-changes

[Bug fix] Quasar sdpa: two-op MM2 rescale, not fused L1-accum (multi-chunk)
  ttnn/cpp/ttnn/operations/experimental/quasar/transformer/sdpa/device/kernels/compute/compute_common.hpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

Fix Quasar SDPA decode buffer routing in tree reduction
  ttnn/cpp/ttnn/operations/experimental/quasar/transformer/sdpa_decode/device/kernels/compute/compute_common.hpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

[Bug fix] Quasar sdpa_decode: point QK@V pack at dfb_out_mm, not hardcoded dfb_out_im
  ttnn/cpp/ttnn/operations/experimental/quasar/transformer/sdpa_decode/device/kernels/compute/sdpa_flash_decode.cpp
Due: block-ttnn-pybind-changes

[Bug fix] Quasar sdpa_decode: re-point packer to QK output AFTER transpose_block
  ttnn/cpp/ttnn/operations/experimental/quasar/transformer/sdpa_decode/device/kernels/compute/sdpa_flash_decode.cpp
Due: block-ttnn-pybind-changes

Quasar sdpa (prefill): update bring-up plan doc — green on WH + emulator + craq-sim
  docs/superpowers/plans/2026-09-11-quasar-sdpa-prefill-bringup.md
Due: none

Keep Quasar SDPA tree correction scratch on compute-local buffers
  models/experimental/llama32_1b_quasar/tests/ops/test_scaled_dot_product_attention_decode.py
  ttnn/cpp/ttnn/operations/experimental/quasar/transformer/sdpa_decode/device/kernels/compute/sdpa_flash_decode.cpp
  ttnn/cpp/ttnn/operations/experimental/quasar/transformer/sdpa_decode/device/sdpa_decode_program_factory.cpp
Due: block-ttnn-pybind-changes

[Bug fix] Quasar sdpa: pack_init only on real pack-operand CHANGE (multi-chunk)
  ttnn/cpp/ttnn/operations/experimental/quasar/transformer/sdpa/device/kernels/compute/compute_common.hpp
  ttnn/cpp/ttnn/operations/experimental/quasar/transformer/sdpa/device/kernels/compute/joint_sdpa.cpp
  ttnn/cpp/ttnn/operations/experimental/quasar/transformer/sdpa/device/kernels/compute/sdpa.cpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

[Bug fix] Quasar sdpa: pack_reconfig_out(exp_max_diff) before correction sub_exp_block
  ttnn/cpp/ttnn/operations/experimental/quasar/transformer/sdpa/device/kernels/compute/compute_common.hpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

[Cleanup] docs: Quasar sdpa PASSES on emulator (pack_init fix confirmed)
  docs/superpowers/plans/2026-09-11-quasar-sdpa-prefill-bringup.md
Due: none

[Bug fix] Quasar sdpa_decode: gate pack_init on actual output-operand change
  ttnn/cpp/ttnn/operations/experimental/quasar/transformer/sdpa_decode/device/kernels/compute/compute_common.hpp
  ttnn/cpp/ttnn/operations/experimental/quasar/transformer/sdpa_decode/device/kernels/compute/sdpa_flash_decode.cpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

[bug] gemma4 MTP: re-stage the verify page tables, and migrate instead of capping
  models/demos/gemma4/tests/unit/test_mtp_block_loop.py
  models/demos/gemma4/tests/unit/test_mtp_width_ladder.py
  models/demos/gemma4/tt/generator_vllm.py
  models/demos/gemma4/tt/spec_decode.py
Due: none

Path conditions:
  block-ttnn-pybind-changes: any of: ^ttnn/
  detect-legacy-device-op: any of: ^ttnn/.*\.hpp$
  validate-golden-csv-columns: any of: ^tests/tt_metal/tt_metal/perf_microbenchmark/routing/golden/.*bandwidth.*\.csv$
