Repository tenstorrent/tt-metal: changes, and which pre-commit hooks are due for each by the changed paths.
All: block-ttnn-pybind-changes, detect-legacy-device-op, validate-golden-csv-columns

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v3.2.0
  hooks:
    - id: trailing-whitespace
      exclude: \.patch$
    - id: end-of-file-fixer
      exclude: \.patch$
    - id: check-yaml
      args: ["--unsafe"]
    - id: check-added-large-files
# Using this mirror lets us use mypyc-compiled black, which is about 2x faster
- repo: https://github.com/psf/black-pre-commit-mirror
  rev: 23.10.1
  hooks:
    - id: black
      language_version: python3
- repo: https://github.com/PyCQA/autoflake
  rev: v2.3.1
  hooks:
    - id: autoflake
      args: [--remove-all-unused-imports, --in-place, --recursive, --exclude=__init__.py]
      files: ^models/  # Run only on files in the models directory
- repo: https://github.com/pycqa/isort
  rev: 5.13.2
  hooks:
    - id: isort
      files: ^models/
      exclude: ^models/(demos/llama3_70b_galaxy|experimental)/
- repo: https://github.com/BlankSpruce/gersemi
  rev: 0.16.2
  hooks:
    - id: gersemi
- repo: https://github.com/adrienverge/yamllint.git
  rev: v1.35.1
  hooks:
    - id: yamllint
- repo: https://github.com/pre-commit/mirrors-clang-format
  rev: v19.1.4
  hooks:
    - id: clang-format
      entry: git-clang-format
      require_serial: true
      types_or: [c++, c]
      args: ["--style=file"]
- repo: local
  hooks:
    - id: validate-metalium-includes
      name: validate-metalium-includes
      entry: python3 scripts/validate_api/validate_includes.py tt_metal/api --check-ttnn-forwards
      language: system
      pass_filenames: false
    - id: validate-metalium-deprecation
      name: validate-metalium-deprecation
      entry: python3 scripts/validate_api/validate_deprecation.py tt_metal/api origin/main
      language: system
      pass_filenames: false
- repo: local
  hooks:
    - id: check-torch-imports-in-ttnn
      name: Verify that there is no global torch import in ttnn
      entry: python3 scripts/validate_no_global_torch_imports.py
      language: system
      pass_filenames: false
- repo: local
  hooks:
    - id: block-ttnn-pybind-changes
      name: Prevent edits to frozen pybind11 sources under ttnn
      entry: python3 scripts/block_ttnn_pybind_changes.py
      language: system
      pass_filenames: true
      files: ^ttnn/
- repo: local
  hooks:
    - id: convert-notebooks-to-py
      name: Convert .ipynb to .py for ttnn basic examples
      entry: python3 scripts/convert_notebooks_to_python.py
      language: system
- repo: local
  hooks:
    - id: detect-legacy-device-op
      name: Detect legacy device operation classes in newly added files
      entry: python3 scripts/detect_legacy_device_op.py --check-new-only
      language: system
      types: [file]
      files: ^ttnn/.*\.hpp$
      pass_filenames: true
      require_serial: true
- repo: local
  hooks:
    - id: validate-golden-csv-columns
      name: Validate golden bandwidth CSV column headers
      entry: bash .github/scripts/utils/validate_golden_csv_columns.sh
      language: system
      pass_filenames: false
      files: ^tests/tt_metal/tt_metal/perf_microbenchmark/routing/golden/.*bandwidth.*\.csv$

Add tests for matmul with activation
  tests/ttnn/nightly/unit_tests/operations/matmul/test_matmul_activations.py
  tests/ttnn/nightly/unit_tests/operations/matmul/test_matmul_dram_sharded.py
  ttnn/cpp/ttnn/operations/matmul/device/kernels/compute/bmm_fused_activation.hpp
  ttnn/cpp/ttnn/operations/matmul/device/kernels/compute/bmm_large_block_zm_fused_bias_activation.cpp
  ttnn/cpp/ttnn/operations/matmul/device/kernels/compute/bmm_large_block_zm_fused_bias_activation_gathered.cpp
  ttnn/cpp/ttnn/operations/matmul/shared_with_host/activation_type.hpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

LLK tests: support ttsim functional simulator (#43032)
  tools/triage/requirements.txt
  tt_metal/tt-llk/tests/README.md
  tt_metal/tt-llk/tests/TTSIM.md
  tt_metal/tt-llk/tests/python_tests/conftest.py
  tt_metal/tt-llk/tests/requirements.txt
Due: none

bugfix
  models/demos/deepseek_v3/tt/mla/mla1d.py
Due: none

Move to boundary address based SRAM hot experts budgeting
  models/demos/deepseek_v3_b1/demo/weight_provider.py
  models/demos/deepseek_v3_b1/tests/unit_tests/per_core_allocation/test_compressed_sram_slots.py
  models/demos/deepseek_v3_b1/tests/unit_tests/test_decoder_block.py
  models/demos/deepseek_v3_b1/weights/prepare.py
  ttnn/cpp/ttnn-nanobind/device.cpp
  ttnn/ttnn/__init__.py
  ttnn/ttnn/device.py
Due: block-ttnn-pybind-changes

Implemented routed unary op.
  ttnn/CMakeLists.txt
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/routed_expert_ffn/device/kernels/routed_unary/compute/eltwise_sfpu_routed.cpp
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/routed_expert_ffn/device/kernels/routed_unary/dataflow/reader_routed_unary.cpp
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/routed_expert_ffn/device/kernels/routed_unary/dataflow/writer_routed_unary.cpp
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/routed_expert_ffn/device/routed_unary_device_operation.cpp
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/routed_expert_ffn/device/routed_unary_device_operation.hpp
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/routed_expert_ffn/device/routed_unary_program_factory.cpp
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/routed_expert_ffn/device/routed_unary_program_factory.hpp
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/routed_expert_ffn/device/routed_unary_types.hpp
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/routed_expert_ffn/routed_matmul.cpp
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/routed_expert_ffn/routed_unary.cpp
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/routed_expert_ffn/routed_unary.hpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

replcaing semaphore unicasts by multicast reducing the number of runtime args from 165 to 25 + farther reduction to 13
  tt-train/sources/ttml/metal/ops/moe_group/device/kernels/dataflow/moe_group_combined_kernel.cpp
  tt-train/sources/ttml/metal/ops/moe_group/device/kernels/dataflow/moe_group_worker_writer.cpp
  tt-train/sources/ttml/metal/ops/moe_group/device/moe_group_device_operation.cpp
  tt-train/sources/ttml/metal/ops/moe_group/device/moe_group_program_factory.cpp
Due: none

refactor(tt:optimizer): SKILL.md as engineer-at-a-glance overview
  tt-agent/skills/optimizer/SKILL.md
  tt-agent/skills/optimizer/iterate.md
  tt-agent/skills/skill-creator/tt-guidelines.md
Due: none

rename(tt:optimizer): trend → overview for first-time discovery
  tt-agent/skills/optimizer/SKILL.md
  tt-agent/skills/optimizer/convergence.md
  tt-agent/skills/optimizer/iterate.md
  tt-agent/skills/optimizer/playbook.md
  tt-agent/skills/optimizer/prepare.md
  tt-agent/skills/optimizer/workspaces.md
Due: none

tt-train -> fix: qualify DataCopyType::B2D after enum class migration
  tt-train/sources/ttml/metal/ops/sdpa_bw/device/kernels/compute/sdpa_bw_compute_utils.hpp
  tt-train/sources/ttml/metal/ops/sdpa_fw/device/kernels/compute/sdpa_compute_utils.hpp
Due: none

feat(tt:optimizer): per-iteration chronology in overview file
  tt-agent/skills/optimizer/convergence.md
  tt-agent/skills/optimizer/prepare.md
Due: none

Revert "tt-train -> fix: qualify DataCopyType::B2D after enum class migration"
  tt-train/sources/ttml/metal/ops/sdpa_bw/device/kernels/compute/sdpa_bw_compute_utils.hpp
  tt-train/sources/ttml/metal/ops/sdpa_fw/device/kernels/compute/sdpa_compute_utils.hpp
Due: none

remove user input paths from validate_perf_targets.py
  .github/scripts/utils/validate_perf_targets.py
  .github/workflows/models-e2e-tests-impl.yaml
  tools/tests/github_scripts/test_validate_perf_targets.py
Due: none

Fix parametric test: add SDPAProgramConfig to cap cores on Galaxy
  tests/ttnn/nightly/unit_tests/operations/sdpa/test_sdpa_decode_paged_partial_mask_regression.py
Due: none

[LLK] Optimize SFPU column reductions with Reduce→Add→Transpose→HalfReduce (#42954)
  tt_metal/tt-llk/tt_llk_blackhole/common/inc/sfpu/ckernel_sfpu_reduce.h
  tt_metal/tt-llk/tt_llk_wormhole_b0/common/inc/sfpu/ckernel_sfpu_reduce.h
Due: none

fix linter notes
  models/demos/utils/model_targets.py
  tools/tests/github_scripts/test_validate_perf_targets.py
Due: none

Fix SDPA mask scaling to match PyTorch semantics
  tests/ttnn/unit_tests/operations/sdpa/test_sdpa_prefill.py
  ttnn/cpp/ttnn/operations/transformer/sdpa/sdpa.cpp
Due: block-ttnn-pybind-changes

Clean up SDPA KV chain forwarding: CT arg + ChainState struct
  tech_reports/FlashAttention/KV_Chain_Forwarding.md
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/kernels/compute/sdpa.cpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/kernels/dataflow/reader_interleaved.cpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/sdpa_program_factory.cpp
Due: block-ttnn-pybind-changes

Move lowercase conversion of model names to save_partial_run_json
  models/demos/gpt_oss/demo/text_demo.py
  models/demos/multimodal/gemma3/demo/text_demo.py
  models/demos/multimodal/gemma3/demo/vision_demo.py
  models/demos/qwen25_vl/demo/demo.py
  models/demos/qwen3_vl/demo/demo.py
  models/perf/benchmarking_utils.py
  models/tt_transformers/demo/simple_text_demo.py
Due: none

test summary logged
  tests/scripts/multihost/run_quad_galaxy_tests.sh
Due: none

good PCC with expert 0 yay!
  tests/nightly/tg/ccl/moe/test_moe_compute_6U.py
  ttnn/cpp/ttnn/operations/experimental/ccl/moe_compute/device/kernels/compute.cpp
  ttnn/cpp/ttnn/operations/experimental/ccl/moe_compute/device/kernels/dm0.cpp
  ttnn/cpp/ttnn/operations/experimental/ccl/moe_compute/device/kernels/dm1.cpp
  ttnn/cpp/ttnn/operations/experimental/ccl/moe_compute/device/kernels/moe_ring_common.h
  ttnn/ttnn/_experimental/moe_compute_utils.py
Due: block-ttnn-pybind-changes

undo all local needed tests changes
  tests/scripts/multihost/run_quad_galaxy_tests.sh
Due: none

Add DeepSeek V4 Flash T3K mesh validation
  models/demos/deepseek_v4_flash/mesh_config.py
  models/demos/deepseek_v4_flash/tests/test_stage2_t3k_mesh.py
Due: none

knowledge: organize by topic, drop references/ category
  tt-agent/CONTRIBUTING.md
  tt-agent/DESIGN.md
  tt-agent/adapters/claude-code/CLAUDE.md
  tt-agent/knowledge/ccl.md
  tt-agent/knowledge/kernels.md
  tt-agent/knowledge/matmul.md
  tt-agent/knowledge/models.md
  tt-agent/knowledge/operators.md
  tt-agent/knowledge/references/ccl.md
  tt-agent/knowledge/references/matmul.md
  tt-agent/knowledge/sharding.md
  tt-agent/skills/code-review/SKILL.md
  tt-agent/skills/learn/SKILL.md
  tt-agent/skills/learn/research-prompt.md
  tt-agent/skills/optimizer/SKILL.md
  tt-agent/skills/optimizer/iterate.md
  tt-agent/skills/optimizer/playbook.md
  tt-agent/skills/optimizer/prepare.md
  tt-agent/skills/orchestrator/decomposer.md
  tt-agent/skills/skill-creator/tt-guidelines.md
  tt-agent/tests/test_skill_frontmatter.py
Due: none

Check for arch and memory
  tt-train/scripts/run_models.py
Due: none

Use uv pip instead of just pip
  .github/workflows/tt-train-run-models.yaml
Due: none

Add MFU parsing and support pretokenizer Test changes on top of tps/mfu
  tt-train/scripts/analyze_memory.py
  tt-train/scripts/analyze_steps.py
  tt-train/scripts/run_models.py
  tt-train/scripts/tt_train_metrics.py
Due: none

Fix multi-chunk online softmax via UNPACK-thread L1 sync
  ttnn/cpp/ttnn/operations/experimental/turbo_quant/sdpa/kernels/compute/sdpa_tq_decode.cpp
Due: block-ttnn-pybind-changes

PLAN: mark Step 1 (chunked online softmax) as DONE
  turbo_quant/PLAN.md
Due: none

knowledge: prefix source-code paths with repo name (tt-metal/...)
  tt-agent/knowledge/ccl.md
  tt-agent/knowledge/hardware/circular-buffer-model.md
  tt-agent/knowledge/kernels.md
  tt-agent/knowledge/matmul.md
  tt-agent/knowledge/models.md
  tt-agent/knowledge/operators.md
  tt-agent/knowledge/sharding.md
  tt-agent/skills/skill-creator/tt-guidelines.md
Due: none

Fix mish_kernel rebase: switch from compile-time to runtime args
  ttnn/cpp/ttnn/operations/eltwise/unary/device/kernels/compute/mish_kernel.cpp
Due: block-ttnn-pybind-changes

Update perf
  models/demos/deepseek_v3_d_p/tests/perf/test_prefill_block_perf.py
Due: none

math_approx=True and more accurate exponential, causes 2 us regression
  models/demos/deepseek_v3_b1/micro_ops/sampling/op.py
  models/demos/deepseek_v3_b1/tests/unit_tests/test_sampling.py
  models/demos/deepseek_v3_b1/unified_kernels/sampling.hpp
Due: none
