Repository tenstorrent/tt-metal: changes, and which pre-commit hooks are due for each by the changed paths.
All: block-ttnn-pybind-changes, detect-legacy-device-op, validate-golden-csv-columns

block-ttnn-pybind-changes:
  name: Prevent edits to frozen pybind11 sources under ttnn
  entry: python3 scripts/block_ttnn_pybind_changes.py
  language: system
  pass_filenames: true

detect-legacy-device-op:
  name: Detect legacy device operation classes in newly added files
  entry: python3 scripts/detect_legacy_device_op.py --check-new-only
  language: system
  pass_filenames: true
  require_serial: true

validate-golden-csv-columns:
  name: Validate golden bandwidth CSV column headers
  entry: bash .github/scripts/utils/validate_golden_csv_columns.sh
  language: system
  pass_filenames: false

Fix embedding sharding flag when sub core grids on Llama galaxy (#39410)
  ttnn/cpp/ttnn/operations/embedding/device/embeddings_rm_program_factory.cpp
  ttnn/cpp/ttnn/operations/experimental/ccl/rms_allgather/device/kernels/compute/rms_compute.cpp
Due: block-ttnn-pybind-changes

Fix addr_mod for signbit (BH). (#39606)
  tt_metal/hw/ckernels/blackhole/metal/llk_api/llk_sfpu/ckernel_sfpu_signbit.h
Due: none

Rename APC to Sanity (#39574)
  .cursor/commands/git/run-workflows.md
  .cursor/commands/ttnn/find-operation-tests.md
  .cursor/commands/ttnn/find_operation_tests.py
  .github/actions/analyze-workflow-data/owners.json
  .github/pull_request_template.md
  .github/workflows/_auto-retry-post-commit.yaml
  .github/workflows/_produce-data.yaml
  .github/workflows/aggregate-workflow-data.yaml
  .github/workflows/llk-auto-uplift-trigger.yaml
  .github/workflows/sanity-tests-debug.yaml
  .github/workflows/sanity-tests-pr.yaml
  .github/workflows/sanity-tests.yaml
  .github/workflows/test-llk-metal-integration.yaml
  CONTRIBUTING.md
  README.md
  docs/source/tt-metalium/tools/llk_asserts.rst
  scripts/compare_workflow_runs.py
  tests/scripts/download_artifacts.sh
Due: none

[CB DISPATCH] Fix CB config dispatch corruption when the same CB index has different configs on different core groups (#39524)
  tests/tt_metal/tt_metal/api/circular_buffer/test_CircularBuffer_allocation.cpp
  tt_metal/impl/program/program.cpp
Due: none

Groupnorm - Improve Validation, Make Gamma/Beta Optional, Add Interleaved Grid Helper (#39330)
  tests/ttnn/docs_examples/test_normalization_examples.py
  tests/ttnn/unit_tests/operations/fused/test_group_norm.py
  ttnn/cpp/ttnn/operations/normalization/CMakeLists.txt
  ttnn/cpp/ttnn/operations/normalization/groupnorm/device/groupnorm_mcast_program_factory.cpp
  ttnn/cpp/ttnn/operations/normalization/groupnorm/device/groupnorm_no_mcast_program_factory.cpp
  ttnn/cpp/ttnn/operations/normalization/groupnorm/device/kernels/compute/groupnorm.cpp
  ttnn/cpp/ttnn/operations/normalization/groupnorm/device/kernels/compute/welford_groupnorm.cpp
  ttnn/cpp/ttnn/operations/normalization/groupnorm/device/kernels/dataflow/welford_writer_unary_gn_rm_gb.cpp
  ttnn/cpp/ttnn/operations/normalization/groupnorm/device/kernels/dataflow/writer_unary_gn_rm_gb.cpp
  ttnn/cpp/ttnn/operations/normalization/groupnorm/groupnorm.cpp
  ttnn/cpp/ttnn/operations/normalization/groupnorm/groupnorm_grid_utils.cpp
  ttnn/cpp/ttnn/operations/normalization/groupnorm/groupnorm_grid_utils.hpp
  ttnn/cpp/ttnn/operations/normalization/groupnorm/groupnorm_input_mask.cpp
  ttnn/cpp/ttnn/operations/normalization/groupnorm/groupnorm_nanobind.cpp
  ttnn/ttnn/__init__.py
  ttnn/ttnn/operations/normalization.py
Due: block-ttnn-pybind-changes, detect-legacy-device-op

Add WAN 2.2 SDPA accuracy and determinism tests for BH T3K nightly CI (#39609)
  .github/workflows/blackhole-multi-card-unit-tests-impl.yaml
  tests/nightly/blackhole/ccl/test_ring_joint_sdpa.py
  tests/nightly/blackhole/sdpa/test_scaled_dot_product_attention_sprint.py
Due: none

Fix non-paged attn unit tests in TT-Transformers (#39561)
  models/tt_transformers/tt/generator.py
Due: none

Initial implementation of fw offline build (#39344)
  .github/CODEOWNERS
  tt_metal/jit_build/build.cpp
  tt_metal/jit_build/build_env_manager.cpp
  tt_metal/jit_build/build_env_manager.hpp
  tt_metal/jit_build/jit_build_utils.cpp
  tt_metal/jit_build/precompiled.cpp
  tt_metal/llrt/rtoptions.hpp
  tt_metal/tools/CMakeLists.txt
  tt_metal/tools/precompile_fw/CMakeLists.txt
  tt_metal/tools/precompile_fw/precompile_fw.cpp
  tt_metal/tools/precompile_fw/sources.cmake
Due: none

UNet optimizations for 512x512 image resolution (#39176)
  models/demos/stable_diffusion_xl_base/tests/test_sdxl_perf.py
  models/demos/stable_diffusion_xl_base/tt/model_configs/__init__.py
  models/demos/stable_diffusion_xl_base/tt/model_configs/model_configs_512x512.py
  models/demos/stable_diffusion_xl_base/tt/tt_feedforward.py
Due: none

[skip ci] Fix CODEOWNERS for tt_metal/sources.cmake (#39587)
  .github/CODEOWNERS
Due: none

MOE Fix combine semaphore signaling (#39543)
  tests/nightly/tg/ccl/moe/test_selective_combine_6U.py
  ttnn/cpp/ttnn/operations/ccl/common/kernels/moe_utils.hpp
  ttnn/cpp/ttnn/operations/experimental/ccl/moe/selective_reduce_combine/device/kernels/dataflow/writer.cpp
  ttnn/cpp/ttnn/operations/experimental/ccl/moe/selective_reduce_combine/device/selective_reduce_combine_program_factory.cpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

Qsr noc V1 and V2 apis fix (#39259)
  tt_metal/hw/firmware/src/tt-2xx/dm.cc
  tt_metal/hw/firmware/src/tt-2xx/dmk.cc
  tt_metal/hw/inc/internal/dataflow/dataflow_api_common.h
  tt_metal/hw/inc/internal/dataflow/dataflow_cmd_bufs.h
  tt_metal/hw/inc/internal/tt-2xx/quasar/noc_nonblocking_api.h
  tt_metal/hw/inc/internal/tt-2xx/quasar/noc_nonblocking_api_v1.h
  tt_metal/hw/inc/internal/tt-2xx/quasar/noc_nonblocking_api_v2.h
Due: none

Fix galaxy unit tests multiprocess pipeline (#39654)
  .github/workflows/galaxy-unit-tests-impl.yaml
Due: none

Conv3d group support (#36302)
  tests/ttnn/nightly/unit_tests/operations/conv/test_conv3d.py
  tests/ttnn/unit_tests/operations/conv/test_conv3d.py
  ttnn/cpp/ttnn/operations/experimental/conv3d/CMakeLists.txt
  ttnn/cpp/ttnn/operations/experimental/conv3d/conv3d.cpp
  ttnn/cpp/ttnn/operations/experimental/conv3d/conv3d.hpp
  ttnn/cpp/ttnn/operations/experimental/conv3d/conv3d_nanobind.cpp
  ttnn/cpp/ttnn/operations/experimental/conv3d/device/conv3d_device_operation.cpp
  ttnn/cpp/ttnn/operations/experimental/conv3d/device/conv3d_device_operation_types.hpp
  ttnn/cpp/ttnn/operations/experimental/conv3d/prepare_conv3d_weights.cpp
  ttnn/cpp/ttnn/operations/experimental/conv3d/prepare_conv3d_weights.hpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

[tt-train] SDPA Backward balanced parallelism (#39163)
  tt-train/sources/ttml/metal/ops/sdpa_bw/device/kernels/compute/sdpa_bw_kv_compute_kernel.cpp
  tt-train/sources/ttml/metal/ops/sdpa_bw/device/kernels/compute/sdpa_bw_q_compute_kernel.cpp
  tt-train/sources/ttml/metal/ops/sdpa_bw/device/kernels/dataflow/sdpa_bw_kv_reader_kernel.cpp
  tt-train/sources/ttml/metal/ops/sdpa_bw/device/kernels/dataflow/sdpa_bw_kv_writer_kernel.cpp
  tt-train/sources/ttml/metal/ops/sdpa_bw/device/kernels/dataflow/sdpa_bw_q_reader_kernel.cpp
  tt-train/sources/ttml/metal/ops/sdpa_bw/device/kernels/dataflow/sdpa_bw_q_writer_kernel.cpp
  tt-train/sources/ttml/metal/ops/sdpa_bw/device/sdpa_bw_kv_program_factory.cpp
  tt-train/sources/ttml/metal/ops/sdpa_bw/device/sdpa_bw_q_program_factory.cpp
  tt-train/tests/ops/sdpa_bw_op_test.cpp
Due: none

Fix ring topology RJA hang due to incorrect write expectations (#39493)
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/ring_joint_sdpa_program_factory.cpp
Due: block-ttnn-pybind-changes

Revert "Deduplicate replicated tensor shards during flatbuffer serialization" (#39751)
  models/tt_dit/layers/module.py
  models/tt_dit/tests/models/mochi/test_transformer_mochi.py
  models/tt_dit/tests/models/sd35/test_transformer_sd35.py
  models/tt_dit/tests/models/wan2_2/test_transformer_wan.py
  models/tt_dit/utils/cache.py
  ttnn/core/tensor/flatbuffer/tensor_flatbuffer.cpp
Due: block-ttnn-pybind-changes

add readme (#39661)
  models/tt_dit/models/QwenImage.md
Due: none

SDXL relax lora unet pcc (#39704)
  models/demos/stable_diffusion_xl_base/lora/tests/pcc/test_lora_tt_unet.py
Due: none

Fix split_qkv_heads routing and head_size calculation for GQA (#38321)
  models/demos/ttnn_falcon7b/tt/falcon_attention.py
  ttnn/cpp/ttnn/operations/transformer/split_query_key_value_and_split_heads/split_query_key_value_and_split_heads.cpp
  ttnn/cpp/ttnn/operations/transformer/split_query_key_value_and_split_heads/split_query_key_value_and_split_heads.hpp
  ttnn/cpp/ttnn/operations/transformer/split_query_key_value_and_split_heads/split_query_key_value_and_split_heads_nanobind.cpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

[skip ci] [upstream tests] Update test path for WH galaxy matmul test (#39735)
  dockerfile/upstream_test_images/run_upstream_tests_vanilla.sh
Due: none

Bump ttsim version to v1.4.2 (#39728)
  .github/workflows/ttsim.yaml
Due: none

#39589: Remove broken fold SingleCore factory, unify interleaved paths (#39611)
  ttnn/cpp/ttnn/operations/data_movement/CMakeLists.txt
  ttnn/cpp/ttnn/operations/data_movement/fold/device/fold_device_op.cpp
  ttnn/cpp/ttnn/operations/data_movement/fold/device/fold_device_op.hpp
  ttnn/cpp/ttnn/operations/data_movement/fold/device/fold_single_core_program_factory.cpp
  ttnn/cpp/ttnn/operations/data_movement/fold/device/kernels/dataflow/writer_unary_stick_layout_concatenate_rows_interleaved.cpp
  ttnn/cpp/ttnn/operations/data_movement/fold/fold.cpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

#23644: TopK not correct when part of the input contains inf values (#39702)
  tests/ttnn/unit_tests/operations/reduce/test_topk.py
  ttnn/cpp/ttnn/operations/reduction/topk/device/kernels/compute/topk.cpp
  ttnn/cpp/ttnn/operations/reduction/topk/device/kernels/compute/topk_common_funcs.hpp
  ttnn/cpp/ttnn/operations/reduction/topk/device/kernels/compute/topk_local.cpp
  ttnn/cpp/ttnn/operations/reduction/topk/device/topk_device_operation.cpp
  ttnn/cpp/ttnn/operations/reduction/topk/device/topk_multi_core_program_factory.cpp
  ttnn/cpp/ttnn/operations/reduction/topk/device/topk_single_core_program_factory.cpp
  ttnn/cpp/ttnn/operations/reduction/topk/device/topk_utils.cpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

Bundle precompiled firmware binaries with tt_metal / ttnn installation, and load on CI tasks (#39667)
  .github/CODEOWNERS
  .github/workflows/build-artifact.yaml
  setup.py
  tt_metal/jit_build/build_env_manager.cpp
  tt_metal/tools/precompile_fw/CMakeLists.txt
Due: none

Overlap matmul-reduce in SDPA for 1.5% FPU utilisation gain on WAN 2.2 (#39608)
  tt_metal/hw/inc/api/compute/reduce_custom.h
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/kernels/compute/compute_streaming.hpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/kernels/compute/ring_joint_sdpa.cpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/kernels/compute/sdpa.cpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

[skip ci] [tt-train] fix: add missing <cstring> include in system_utils.hpp (#39643)
  tt-train/sources/ttml/core/system_utils.hpp
Due: none

Unet3d model bring up start: working ttnn/reference impl and passing … (#34920)
  models/demos/unet_3d/README.md
  models/demos/unet_3d/configs/test_confocal_boundary.json
  models/demos/unet_3d/demo/config.py
  models/demos/unet_3d/demo/dataset.py
  models/demos/unet_3d/demo/demo.py
  models/demos/unet_3d/demo/download_datasets.py
  models/demos/unet_3d/demo/download_models.py
  models/demos/unet_3d/demo/predictor.py
  models/demos/unet_3d/demo/transforms.py
  models/demos/unet_3d/demo/utils.py
  models/demos/unet_3d/demo/validate.py
  models/demos/unet_3d/runner/performant_runner.py
  models/demos/unet_3d/runner/performant_runner_infra.py
  models/demos/unet_3d/tests/pcc/test_conv3d.py
  models/demos/unet_3d/tests/pcc/test_conv_block.py
  models/demos/unet_3d/tests/pcc/test_decoder.py
  models/demos/unet_3d/tests/pcc/test_encoder.py
  models/demos/unet_3d/tests/pcc/test_group_norm3d.py
  models/demos/unet_3d/tests/pcc/test_max_pool3d.py
  models/demos/unet_3d/tests/pcc/test_model.py
  models/demos/unet_3d/tests/pcc/test_upsample3d.py
  models/demos/unet_3d/tests/perf/test_e2e_performant.py
  models/demos/unet_3d/torch_impl/conv_block.py
  models/demos/unet_3d/torch_impl/decoder.py
  models/demos/unet_3d/torch_impl/encoder.py
  models/demos/unet_3d/torch_impl/model.py
  models/demos/unet_3d/ttnn_impl/conv3d.py
  models/demos/unet_3d/ttnn_impl/conv_block.py
  models/demos/unet_3d/ttnn_impl/decoder.py
  models/demos/unet_3d/ttnn_impl/encoder.py
  models/demos/unet_3d/ttnn_impl/group_norm3d.py
  models/demos/unet_3d/ttnn_impl/linear.py
  models/demos/unet_3d/ttnn_impl/max_pool3d.py
  models/demos/unet_3d/ttnn_impl/model.py
  models/demos/unet_3d/ttnn_impl/upsample3d.py
Due: none

Fix missing npe metrics in performance report for trace ops (#39348)
  tools/tracy/process_ops_logs.py
Due: none

[#39411] Support Bools in DPRINT (#39525)
  docs/source/tt-metalium/tools/kernel_print.rst
  tests/tt_metal/tt_metal/debug_tools/dprint/test_eth_cores.cpp
  tests/tt_metal/tt_metal/debug_tools/dprint/test_print_all_harts.cpp
  tt_metal/hw/inc/api/debug/dprint.h
  tt_metal/hw/inc/internal/debug/dprint_test_common.h
  tt_metal/impl/debug/dprint_parser.cpp
Due: none

Fix the falling feedforward tests in unet (#39639)
  models/demos/stable_diffusion_xl_base/tt/model_configs/__init__.py
Due: none

[QSR] Enable proper threading support for DM cores in Quasar (#39139)
  tests/tt_metal/tt_metal/sources.cmake
  tests/tt_metal/tt_metal/test_globals_tls.cpp
  tests/tt_metal/tt_metal/test_kernels/dataflow/simple_tls_check.cpp
  tests/tt_metal/tt_metal/test_kernels/dataflow/simple_tls_check_defines.h
  tt_metal/api/tt-metalium/experimental/host_api.hpp
  tt_metal/hw/firmware/src/tt-2xx/dm.cc
  tt_metal/hw/firmware/src/tt-2xx/dmk.cc
  tt_metal/hw/inc/api/dataflow/dataflow_api.h
  tt_metal/hw/inc/hostdev/dev_msgs.h
  tt_metal/hw/inc/internal/tt-1xx/blackhole/core_config.h
  tt_metal/hw/inc/internal/tt-1xx/wormhole/core_config.h
  tt_metal/hw/inc/internal/tt-2xx/quasar/core_config.h
  tt_metal/hw/inc/internal/tt-2xx/quasar/dev_mem_map.h
  tt_metal/hw/inc/internal/tt-2xx/quasar/kernel_thread_globals.h
  tt_metal/impl/kernels/kernel.cpp
  tt_metal/impl/kernels/kernel.hpp
  tt_metal/impl/program/dispatch.cpp
  tt_metal/impl/program/program.cpp
  tt_metal/llrt/hal/tt-2xx/quasar/qa_hal.cpp
Due: none

Fixing auto-rank bindings issue (#39663)
  tests/tt_metal/tt_fabric/fabric_router/test_topology_mapper_utils.cpp
  tests/tt_metal/tt_fabric/fabric_router/test_topology_solver.cpp
  tests/tt_metal/tt_fabric/golden_mapping_files/T3K2x2AssignZDirectionControlPlaneInit.yaml
  tests/tt_metal/tt_fabric/golden_mapping_files/Test32x4QuadGalaxyControlPlaneInit.yaml
  tests/tt_metal/tt_fabric/golden_mapping_files/Test6uSplit4x4ControlPlaneInit.yaml
  tests/tt_metal/tt_fabric/golden_mapping_files/Test6uSplit8x2ControlPlaneInit.yaml
  tests/tt_metal/tt_fabric/golden_mapping_files/TestBHBlitzPipelineControlPlaneInit.yaml
  tests/tt_metal/tt_fabric/golden_mapping_files/TestBHQB4x4ControlPlaneInit.yaml
  tests/tt_metal/tt_fabric/golden_mapping_files/TestBHQB4x4RelaxedControlPlaneInit.yaml
  tests/tt_metal/tt_fabric/golden_mapping_files/TestDualGalaxyControlPlaneInit.yaml
  tests/tt_metal/tt_fabric/golden_mapping_files/TestDualGalaxyControlPlaneInitFlipped.yaml
  tests/tt_metal/tt_fabric/golden_mapping_files/TestQuadGalaxyControlPlaneInit.yaml
  tests/tt_metal/tt_fabric/golden_mapping_files/TestSplit2x2ControlPlaneInit.yaml
  tests/tt_metal/tt_fabric/golden_mapping_files/TestTriplePod16x8QuadBHGalaxyControlPlaneInit.yaml
  tt_metal/api/tt-metalium/experimental/fabric/topology_solver.hpp
  tt_metal/api/tt-metalium/experimental/fabric/topology_solver.tpp
  tt_metal/fabric/topology_mapper_utils.cpp
Due: none

Remove deprecated namespaces (#39703)
  ttnn/cpp/ttnn/operations/eltwise/binary/binary_composite.hpp
  ttnn/cpp/ttnn/operations/eltwise/binary/device/binary_device_operation.hpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

Improve accuracy of unary pow FP32 (#39169)
  tt_metal/hw/ckernels/blackhole/metal/llk_api/llk_sfpu/ckernel_sfpu_unary_power.h
  tt_metal/hw/ckernels/wormhole_b0/metal/llk_api/llk_sfpu/ckernel_sfpu_unary_power.h
Due: none

[Feature] Allow Configuring MetalContext instances with a given MetalEnv (#39049)
  tests/tt_metal/tt_metal/context/sources.cmake
  tests/tt_metal/tt_metal/context/test_metal_context_api.cpp
  tests/tt_metal/tt_metal/context/test_metal_env_api.cpp
  tt_metal/impl/context/context_types.hpp
  tt_metal/impl/context/metal_context.cpp
  tt_metal/impl/context/metal_context.hpp
  tt_metal/impl/context/metal_env.cpp
Due: none

Add comment for a dangerous tensix_sync() (#39720)
  ttnn/cpp/ttnn/operations/experimental/ccl/rms_allgather/device/kernels/compute/rms_compute.cpp
Due: block-ttnn-pybind-changes

Loading in dequantized weights as opposed to dequantizing for Deepseek 671B (#38950)
  .github/workflows/galaxy-deepseek-tests-impl.yaml
  .github/workflows/galaxy-quick-impl.yaml
  models/demos/deepseek_v3/demo/README.md
  models/demos/deepseek_v3/demo/generate_teacher_forced_file.py
  models/demos/deepseek_v3/demo/inspect_reference_file.py
  models/demos/deepseek_v3/demo/test_demo.py
  models/demos/deepseek_v3/demo/test_demo_teacher_forced.py
  models/demos/deepseek_v3/scripts/dequantize_hf_checkpoint.py
  models/demos/deepseek_v3/scripts/launch_multihost_galaxy.py
  models/demos/deepseek_v3/tests/fused_op_unit_tests/AGENTS_GUIDE_ADD_TEST.md
  models/demos/deepseek_v3/tests/test_decoder_block.py
  models/demos/deepseek_v3/tests/test_dequantize.py
  models/demos/deepseek_v3/tests/test_get_weight_config.py
  models/demos/deepseek_v3/tests/test_hf_model_utils.py
  models/demos/deepseek_v3/tests/test_mla.py
  models/demos/deepseek_v3/tests/test_mlp.py
  models/demos/deepseek_v3/tests/test_model.py
  models/demos/deepseek_v3/tests/test_moe.py
  models/demos/deepseek_v3/tests/test_moe_experts.py
  models/demos/deepseek_v3/tt/embedding/embedding1d.py
  models/demos/deepseek_v3/tt/experts.py
  models/demos/deepseek_v3/tt/lm_head.py
  models/demos/deepseek_v3/tt/lm_head1d.py
  models/demos/deepseek_v3/tt/mla/mla1d.py
  models/demos/deepseek_v3/tt/mlp/mlp_dequant.py
  models/demos/deepseek_v3/tt/moe_gate.py
  models/demos/deepseek_v3/utils/config_helpers.py
  models/demos/deepseek_v3/utils/dequantize.py
  models/demos/deepseek_v3/utils/hf_model_utils.py
  models/demos/deepseek_v3/utils/test_utils.py
  models/demos/deepseek_v3/utils/weight_config.py
  tests/pipeline_reorg/galaxy_demo_tests.yaml
  tests/scripts/multihost/run_quad_galaxy_tests.sh
  tests/scripts/t3000/run_t3000_unit_tests.sh
Due: none

Add TT_METAL_DISABLE_PRECOMPILED_FW (#39664)
  tt_metal/jit_build/build_env_manager.cpp
  tt_metal/llrt/rtoptions.cpp
  tt_metal/llrt/rtoptions.hpp
Due: none

[tt-triage] Bump running ops to execute as soon as possible (#39658)
  tools/triage/dump_running_operations.py
Due: none

Path conditions:
  block-ttnn-pybind-changes: any of: ^ttnn/
  detect-legacy-device-op: any of: ^ttnn/.*\.hpp$
  validate-golden-csv-columns: any of: ^tests/tt_metal/tt_metal/perf_microbenchmark/routing/golden/.*bandwidth.*\.csv$
