Repository tenstorrent/tt-metal: changes, and which pre-commit hooks are due for each by the changed paths.
All: block-ttnn-pybind-changes, detect-legacy-device-op, validate-golden-csv-columns

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v3.2.0
  hooks:
    - id: trailing-whitespace
      exclude: \.patch$
    - id: end-of-file-fixer
      exclude: \.patch$
    - id: check-yaml
      args: ["--unsafe"]
    - id: check-added-large-files
# Using this mirror lets us use mypyc-compiled black, which is about 2x faster
- repo: https://github.com/psf/black-pre-commit-mirror
  rev: 23.10.1
  hooks:
    - id: black
      language_version: python3
- repo: https://github.com/PyCQA/autoflake
  rev: v2.3.1
  hooks:
    - id: autoflake
      args: [--remove-all-unused-imports, --in-place, --recursive, --exclude=__init__.py]
      files: ^models/  # Run only on files in the models directory
- repo: https://github.com/pycqa/isort
  rev: 5.13.2
  hooks:
    - id: isort
      files: ^models/
      exclude: ^models/(demos/llama3_70b_galaxy|experimental)/
- repo: https://github.com/BlankSpruce/gersemi
  rev: 0.16.2
  hooks:
    - id: gersemi
- repo: https://github.com/adrienverge/yamllint.git
  rev: v1.35.1
  hooks:
    - id: yamllint
- repo: https://github.com/pre-commit/mirrors-clang-format
  rev: v19.1.4
  hooks:
    - id: clang-format
      entry: git-clang-format
      require_serial: true
      types_or: [c++, c]
      args: ["--style=file"]
- repo: local
  hooks:
    - id: validate-metalium-includes
      name: validate-metalium-includes
      entry: python3 scripts/validate_api/validate_includes.py tt_metal/api --check-ttnn-forwards
      language: system
      pass_filenames: false
    - id: validate-metalium-deprecation
      name: validate-metalium-deprecation
      entry: python3 scripts/validate_api/validate_deprecation.py tt_metal/api origin/main
      language: system
      pass_filenames: false
- repo: local
  hooks:
    - id: check-torch-imports-in-ttnn
      name: Verify that there is no global torch import in ttnn
      entry: python3 scripts/validate_no_global_torch_imports.py
      language: system
      pass_filenames: false
- repo: local
  hooks:
    - id: block-ttnn-pybind-changes
      name: Prevent edits to frozen pybind11 sources under ttnn
      entry: python3 scripts/block_ttnn_pybind_changes.py
      language: system
      pass_filenames: true
      files: ^ttnn/
- repo: local
  hooks:
    - id: convert-notebooks-to-py
      name: Convert .ipynb to .py for ttnn basic examples
      entry: python3 scripts/convert_notebooks_to_python.py
      language: system
- repo: local
  hooks:
    - id: detect-legacy-device-op
      name: Detect legacy device operation classes in newly added files
      entry: python3 scripts/detect_legacy_device_op.py --check-new-only
      language: system
      types: [file]
      files: ^ttnn/.*\.hpp$
      pass_filenames: true
      require_serial: true
- repo: local
  hooks:
    - id: validate-golden-csv-columns
      name: Validate golden bandwidth CSV column headers
      entry: bash .github/scripts/utils/validate_golden_csv_columns.sh
      language: system
      pass_filenames: false
      files: ^tests/tt_metal/tt_metal/perf_microbenchmark/routing/golden/.*bandwidth.*\.csv$

Implement streaming SDPA compute for standard and ring joint SDPA (#38838)
  tt_metal/hw/inc/api/compute/eltwise_unary/exp.h
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/kernels/compute/compute_common.hpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/kernels/compute/compute_streaming.hpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/kernels/compute/ring_joint_sdpa.cpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/kernels/compute/sdpa.cpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/kernels/dataflow/dataflow_common.hpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/kernels/dataflow/ring_joint_writer.cpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/kernels/dataflow/writer_interleaved.cpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/ring_distributed_sdpa_program_factory.cpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/ring_joint_sdpa_program_factory.cpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/sdpa_program_factory.cpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

Update Conv3D block sizes (#39043)
  models/tt_dit/utils/conv3d.py
Due: none

bug fix
  models/demos/deepseek_v3_b1/unified_kernels/reduce_to_one_b1.hpp
Due: none

add persistent mode support
  models/demos/deepseek_v3_b1/fused_ops/moe/moe_kernel.cpp
  models/demos/deepseek_v3_b1/tests/unit_tests/test_moe_15_stages.py
  models/demos/deepseek_v3_b1/unified_kernels/broadcast.hpp
  models/demos/deepseek_v3_b1/unified_kernels/reduce_to_one_b1.hpp
Due: none

more debug
  models/demos/deepseek_v3_b1/fused_ops/moe/moe_kernel.cpp
  models/demos/deepseek_v3_b1/fused_ops/moe/op.py
  models/demos/deepseek_v3_b1/micro_ops/reduce_to_one_b1/kernels/reduce_to_one_kernel.cpp
  models/demos/deepseek_v3_b1/tests/unit_tests/test_bcast_moe_reduce_pipeline.py
  models/demos/deepseek_v3_b1/unified_kernels/broadcast.hpp
  models/demos/deepseek_v3_b1/unified_kernels/reduce_to_one_b1.hpp
Due: none

Overlap the mcast core CBs with KV cache buffer (#39118)
  models/demos/deepseek_v3_b1/fused_ops/pre_sdpa/op.py
  models/demos/deepseek_v3_b1/tests/unit_tests/test_pre_sdpa.py
Due: none

more debug
  models/demos/deepseek_v3_b1/fused_ops/moe/moe_kernel.cpp
  models/demos/deepseek_v3_b1/unified_kernels/broadcast.hpp
  models/demos/deepseek_v3_b1/unified_kernels/reduce_to_one_b1.hpp
Due: none

adding more info in the arguments
  ttnn/ttnn/graph.py
Due: block-ttnn-pybind-changes

add persistent mode support
  models/demos/deepseek_v3_b1/fused_ops/moe/moe_kernel.cpp
  models/demos/deepseek_v3_b1/unified_kernels/broadcast.hpp
  models/demos/deepseek_v3_b1/unified_kernels/reduce_to_one_b1.hpp
Due: none

Add use_paged_kv_cache
  models/demos/multimodal/gemma3/demo/text_demo.py
  models/tt_transformers/tt/generator_vllm.py
Due: none

PR cleanup: fix UMD ref, move custom APIs to experimental, dedup reduce
  tt_metal/hw/ckernels/blackhole/metal/llk_api/experimental/llk_math_unary_datacopy_custom_api.h
  tt_metal/hw/ckernels/blackhole/metal/llk_api/experimental/llk_unpack_AB_matmul_custom_api.h
  tt_metal/hw/ckernels/blackhole/metal/llk_api/experimental/llk_unpack_A_custom_api.h
  tt_metal/hw/ckernels/blackhole/metal/llk_api/llk_math_reduce_custom_api.h
  tt_metal/hw/ckernels/blackhole/metal/llk_api/llk_unpack_A_api.h
  tt_metal/hw/inc/api/compute/experimental/matmul_custom.h
  tt_metal/hw/inc/api/compute/experimental/tile_move_copy_custom.h
  tt_metal/hw/inc/api/compute/reduce_custom.h
Due: none

Undo t3k test changes
  tests/nightly/t3000/ccl/test_minimal_all_gather_async.py
Due: none

Validate program with MeshDevice when required
  tests/tt_metal/tt_metal/api/circular_buffer/test_CircularBuffer_allocation.cpp
  tt_metal/tt_metal.cpp
Due: none

Clean up formatting in broadcast_rm_writer.cpp
  ttnn/cpp/ttnn/operations/experimental/ccl/all_gather_async/device/kernels/broadcast_rm_writer.cpp
Due: block-ttnn-pybind-changes

Clean up whitespace in all_gather_via_broadcast_factory.cpp
  ttnn/cpp/ttnn/operations/experimental/ccl/all_gather_async/device/all_gather_via_broadcast_factory.cpp
Due: block-ttnn-pybind-changes

Remove unnecessary blank line in header file
  ttnn/cpp/ttnn/operations/experimental/ccl/all_gather_async/device/all_gather_via_broadcast_factory.hpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

Remove AG changes that shouldn't be there
  ttnn/cpp/ttnn/operations/experimental/ccl/all_gather_async/all_gather_async.cpp
  ttnn/cpp/ttnn/operations/experimental/ccl/all_gather_async/all_gather_async.hpp
  ttnn/cpp/ttnn/operations/experimental/ccl/all_gather_async/all_gather_async_nanobind.cpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

updated pf and test to be fully functional with 1x8
  tests/nightly/tg/ccl/moe/test_moe_compute_6U.py
  ttnn/cpp/ttnn/operations/experimental/ccl/moe_compute/device/kernels/dm1.cpp
  ttnn/cpp/ttnn/operations/experimental/ccl/moe_compute/device/moe_compute_program_factory.cpp
Due: block-ttnn-pybind-changes

Class for pipeline
  models/demos/deepseek_v3_b1/demo/model_pipeline.py
Due: none

Changed unintentional/incorrect uses of padded_shape() where logical_shape() should have been used
  ttnn/cpp/ttnn/operations/data_movement/concat/device/concat_device_operation.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_norm/device/moreh_norm_device_operation.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_norm_backward/device/moreh_norm_backward_device_operation.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_sum/device/moreh_sum_device_operation.cpp
  ttnn/cpp/ttnn/operations/reduction/argmax/argmax_nanobind.cpp
  ttnn/cpp/ttnn/operations/reduction/argmax/device/argmax_device_operation.cpp
Due: block-ttnn-pybind-changes

[tt-train] SDPA Forward balanced parallelism (#37457)
  tt-train/sources/ttml/metal/ops/sdpa_fw/device/kernels/compute/sdpa_fw_compute_kernel.cpp
  tt-train/sources/ttml/metal/ops/sdpa_fw/device/kernels/dataflow/sdpa_fw_reader_kernel.cpp
  tt-train/sources/ttml/metal/ops/sdpa_fw/device/kernels/dataflow/sdpa_fw_writer_kernel.cpp
  tt-train/sources/ttml/metal/ops/sdpa_fw/device/sdpa_fw_program_factory.cpp
Due: none

persistent_no_loopback test
  models/demos/deepseek_v3_b1/tests/unit_tests/test_moe_15_stages.py
Due: none

cleanup
  CMakeLists.txt
  ttnn/cpp/ttnn/operations/experimental/ccl/moe_compute/device/moe_compute_device_operation.cpp
  ttnn/cpp/ttnn/operations/experimental/ccl/moe_compute/device/moe_compute_program_factory.cpp
Due: block-ttnn-pybind-changes

#0: reduce pcc in softmax program cache tests (#39121)
  tests/ttnn/unit_tests/operations/fused/test_softmax_program_cache.py
Due: none

Add distributed barriers and warmup for e2e measurement RJA
  models/tt_dit/tests/unit/test_ring_joint_attention.py
Due: none

adding message
  tt_metal/hw/ckernels/wormhole_b0/metal/llk_api/llk_pack_api.h
  tt_metal/hw/inc/api/debug/assert.h
  tt_metal/impl/debug/debug_helpers.hpp
Due: none

Fix ring topo RJA hang
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/ring_joint_sdpa_program_factory.cpp
Due: block-ttnn-pybind-changes

reorder bookeeping
  tt_metal/fabric/hw/inc/edm_fabric/edm_fabric_worker_adapters.hpp
Due: none

rm whitespace/submodule
  tests/tt_metal/tt_metal/perf_microbenchmark/routing/golden/golden_latency_summary_wormhole_b0_t3k.csv
Due: none

Implement separate arrive/release groups per barrier. Also, create unique hashes for tracy zones
  models/experimental/ops/descriptors/fusion/codegen/barrier.py
  models/experimental/ops/descriptors/fusion/codegen/builder.py
  models/experimental/ops/descriptors/fusion/codegen/source_gen.py
  models/experimental/ops/descriptors/fusion/common.py
  models/experimental/ops/descriptors/fusion/docs/op_fusion.md
  models/experimental/ops/descriptors/fusion/graph.py
  tests/ttnn/unit_tests/operations/fused/parallel_sequential/test_parallel_sequential.py
  tests/ttnn/unit_tests/operations/fused/parallel_sequential/test_parallel_sequential_infra.py
Due: none
