Repository tenstorrent/tt-metal: changes, and which pre-commit hooks are due for each by the changed paths.
All: block-ttnn-pybind-changes, detect-legacy-device-op, validate-golden-csv-columns

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v3.2.0
  hooks:
    - id: trailing-whitespace
      exclude: \.patch$
    - id: end-of-file-fixer
      exclude: \.patch$
    - id: check-yaml
      args: ["--unsafe"]
    - id: check-added-large-files
# Using this mirror lets us use mypyc-compiled black, which is about 2x faster
- repo: https://github.com/psf/black-pre-commit-mirror
  rev: 23.10.1
  hooks:
    - id: black
      language_version: python3
- repo: https://github.com/PyCQA/autoflake
  rev: v2.3.1
  hooks:
    - id: autoflake
      args: [--remove-all-unused-imports, --in-place, --recursive, --exclude=__init__.py]
      files: ^models/  # Run only on files in the models directory
- repo: https://github.com/pycqa/isort
  rev: 5.13.2
  hooks:
    - id: isort
      files: ^models/
      exclude: ^models/(demos/llama3_70b_galaxy|experimental)/
- repo: https://github.com/BlankSpruce/gersemi
  rev: 0.16.2
  hooks:
    - id: gersemi
- repo: https://github.com/adrienverge/yamllint.git
  rev: v1.35.1
  hooks:
    - id: yamllint
- repo: https://github.com/pre-commit/mirrors-clang-format
  rev: v19.1.4
  hooks:
    - id: clang-format
      entry: git-clang-format
      require_serial: true
      types_or: [c++, c]
      args: ["--style=file"]
- repo: local
  hooks:
    - id: validate-metalium-includes
      name: validate-metalium-includes
      entry: python3 scripts/validate_api/validate_includes.py tt_metal/api --check-ttnn-forwards
      language: system
      pass_filenames: false
    - id: validate-metalium-deprecation
      name: validate-metalium-deprecation
      entry: python3 scripts/validate_api/validate_deprecation.py tt_metal/api origin/main
      language: system
      pass_filenames: false
- repo: local
  hooks:
    - id: check-torch-imports-in-ttnn
      name: Verify that there is no global torch import in ttnn
      entry: python3 scripts/validate_no_global_torch_imports.py
      language: system
      pass_filenames: false
- repo: local
  hooks:
    - id: block-ttnn-pybind-changes
      name: Prevent edits to frozen pybind11 sources under ttnn
      entry: python3 scripts/block_ttnn_pybind_changes.py
      language: system
      pass_filenames: true
      files: ^ttnn/
- repo: local
  hooks:
    - id: convert-notebooks-to-py
      name: Convert .ipynb to .py for ttnn basic examples
      entry: python3 scripts/convert_notebooks_to_python.py
      language: system
- repo: local
  hooks:
    - id: detect-legacy-device-op
      name: Detect legacy device operation classes in newly added files
      entry: python3 scripts/detect_legacy_device_op.py --check-new-only
      language: system
      types: [file]
      files: ^ttnn/.*\.hpp$
      pass_filenames: true
      require_serial: true
- repo: local
  hooks:
    - id: validate-golden-csv-columns
      name: Validate golden bandwidth CSV column headers
      entry: bash .github/scripts/utils/validate_golden_csv_columns.sh
      language: system
      pass_filenames: false
      files: ^tests/tt_metal/tt_metal/perf_microbenchmark/routing/golden/.*bandwidth.*\.csv$

[experiment] phase locked: one module at a time (run 1)
  tt_metal/tt-llk/tests/python_tests/helpers/llk_pytest_plugin.py
  tt_metal/tt-llk/tests/run_llk_perf_blackhole.sh
  tt_metal/tt-llk/tests/run_llk_perf_wormhole.sh
Due: none

[Refactor] Shared device operation for unary backward ops, with sigmoid_bw ported (#56061)
  tests/ttnn/unit_tests/operations/eltwise/test_unary_backward_device_op.py
  ttnn/cpp/ttnn/operations/eltwise/unary_backward/CMakeLists.txt
  ttnn/cpp/ttnn/operations/eltwise/unary_backward/device/kernels/compute/eltwise_bw_sigmoid.cpp
  ttnn/cpp/ttnn/operations/eltwise/unary_backward/device/unary_backward_device_operation.cpp
  ttnn/cpp/ttnn/operations/eltwise/unary_backward/device/unary_backward_device_operation.hpp
  ttnn/cpp/ttnn/operations/eltwise/unary_backward/device/unary_backward_device_operation_types.hpp
  ttnn/cpp/ttnn/operations/eltwise/unary_backward/device/unary_backward_op_types.hpp
  ttnn/cpp/ttnn/operations/eltwise/unary_backward/device/unary_backward_op_utils.cpp
  ttnn/cpp/ttnn/operations/eltwise/unary_backward/device/unary_backward_op_utils.hpp
  ttnn/cpp/ttnn/operations/eltwise/unary_backward/device/unary_backward_program_factory.cpp
  ttnn/cpp/ttnn/operations/eltwise/unary_backward/device/unary_backward_program_factory.hpp
  ttnn/cpp/ttnn/operations/eltwise/unary_backward/sources.cmake
  ttnn/cpp/ttnn/operations/eltwise/unary_backward/unary_backward.cpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

[Test Only] Import the L1_SMALL test through one module identity
  models/demos/gemma4/tests/unit/test_l1_small_device_params.py
Due: none

Use __builtin_bit_cast for the Adam step passed to power_tile instead of union
  ttnn/cpp/ttnn/operations/moreh/moreh_adam/device/kernels/moreh_adam.cpp
Due: block-ttnn-pybind-changes

Qwen3.8 p150x2 manifest: pin the plugin to 98f1a35 (p1d1 TTFT/TPOT optimizations)
  models/demos/blackhole/qwen36/tt-model.yaml
Due: none

Allow GPT-OSS throughput structured benchmark to finish
  tests/pipeline_reorg/vllm_model_tests.yaml
Due: none

perf(gemma4): default fused packed verify on
  models/demos/gemma4/tt/attention/decode.py
  models/demos/gemma4/tt/spec_decode.py
Due: none

Skip BH-unsupported polygamma cases, bound the order, keep the inf rule
  tt_metal/hw/ckernels/blackhole/metal/llk_api/llk_sfpu/ckernel_sfpu_polygamma.h
  tt_metal/hw/ckernels/wormhole_b0/metal/llk_api/llk_sfpu/ckernel_sfpu_polygamma.h
  tt_metal/tt-llk/tests/python_tests/helpers/golden_generators.py
  tt_metal/tt-llk/tests/python_tests/helpers/test_variant_parameters.py
  tt_metal/tt-llk/tests/python_tests/test_eltwise_unary_sfpu.py
Due: none

Take int8-pack replay lengths from the helpers and match requant_init's order
  tt_metal/hw/ckernels/blackhole/metal/llk_api/llk_sfpu/ckernel_sfpu_quant.h
  tt_metal/hw/ckernels/wormhole_b0/metal/llk_api/llk_sfpu/ckernel_sfpu_quant.h
  tt_metal/hw/inc/api/compute/quantization.h
Due: none

tests: cover EXP and RECIP in all three activation slots
  tests/ttnn/unit_tests/operations/eltwise/test_binary_fp32.py
Due: none

[Bug fix] Avoid Llama QB2 RMSNorm L1 clash on prefill tails
  models/demos/llama31_8b_qb2/tests/test_decoder.py
  models/demos/llama31_8b_qb2/tt/decoder.py
Due: none

Centralize prefill layout and validate cache continuations
  models/demos/llama_3p1_8b_d_p/tests/host/test_prefill.py
  models/demos/llama_3p1_8b_d_p/tests/model/test_prefill_book_top5.py
  models/demos/llama_3p1_8b_d_p/tests/unit/test_kv_cache.py
  models/demos/llama_3p1_8b_d_p/tests/unit/test_mlp_vs_ref.py
  models/demos/llama_3p1_8b_d_p/tests/unit/test_rms_norm_vs_ref.py
  models/demos/llama_3p1_8b_d_p/tt/attention.py
  models/demos/llama_3p1_8b_d_p/tt/config.py
  models/demos/llama_3p1_8b_d_p/tt/decoder.py
  models/demos/llama_3p1_8b_d_p/tt/input.py
  models/demos/llama_3p1_8b_d_p/tt/kv_cache.py
  models/demos/llama_3p1_8b_d_p/tt/mlp.py
  models/demos/llama_3p1_8b_d_p/tt/model.py
  models/demos/llama_3p1_8b_d_p/tt/prefill_geometry.py
  models/demos/llama_3p1_8b_d_p/tt/qkv.py
  models/demos/llama_3p1_8b_d_p/tt/rms_norm.py
Due: none

Metal 2.0 Audit for MatmulMultiCoreReuseMcast2DProgramFactory
  ttnn/cpp/ttnn/operations/matmul/METAL2_PORT_BRIEF.md
  ttnn/cpp/ttnn/operations/matmul/METAL2_PREPORT_AUDIT.md
Due: block-ttnn-pybind-changes

ci(gemma4): allow Hub download for 31B MTP smoke
  models/demos/gemma4/tests/test_factory.py
  tests/pipeline_reorg/models_unit_tests.yaml
Due: none

Fuse exact packed prefill SwiGLU consumer
  models/autoports/qwen_qwen3_8_27b/tests/probe_prefill_matmul_sweep.py
  models/autoports/qwen_qwen3_8_27b/tests/profile_concurrency.py
  models/autoports/qwen_qwen3_8_27b/tests/profile_device_prefill.py
  models/autoports/qwen_qwen3_8_27b/tt/kernels/packed_swiglu.cpp
  models/autoports/qwen_qwen3_8_27b/tt/model.py
  models/autoports/qwen_qwen3_8_27b/tt/optimized_decoder.py
  models/autoports/qwen_qwen3_8_27b/tt/packed_swiglu.py
Due: none

ttnn.as_tensor: place a freshly dumped cache tensor through the warm load path
  ttnn/ttnn/operations/core.py
Due: block-ttnn-pybind-changes

Qwen3.8 p150x2 manifest: pin the plugin to 4f0ee7c (fabric rendezvous wait)
  models/demos/blackhole/qwen36/tt-model.yaml
Due: none

Fix sharded height concat appending whole shards instead of interleaving
  tests/ttnn/unit_tests/operations/data_movement/test_concat.py
  ttnn/cpp/ttnn/operations/data_movement/concat/device/concat_block_sharded_program_factory.cpp
  ttnn/cpp/ttnn/operations/data_movement/concat/device/concat_device_operation_types.hpp
  ttnn/cpp/ttnn/operations/data_movement/concat/device/concat_s2s_multi_program_factory.cpp
  ttnn/cpp/ttnn/operations/data_movement/concat/device/kernels/dataflow/reader_s2s_tensor_concat.cpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

Address review: std::accumulate for the leading-dim product, math.ceil in tests
  tests/ttnn/unit_tests/operations/data_movement/test_concat.py
  ttnn/cpp/ttnn/operations/data_movement/concat/device/concat_device_operation_types.hpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

Address review feedback on the sharded height-concat fix
  tests/ttnn/unit_tests/operations/data_movement/test_concat.py
  ttnn/cpp/ttnn/operations/data_movement/concat/device/concat_block_sharded_program_factory.cpp
  ttnn/cpp/ttnn/operations/data_movement/concat/device/concat_device_operation.cpp
  ttnn/cpp/ttnn/operations/data_movement/concat/device/concat_device_operation_types.hpp
  ttnn/cpp/ttnn/operations/data_movement/concat/device/concat_s2s_multi_program_factory.cpp
  ttnn/cpp/ttnn/operations/data_movement/concat/device/kernels/dataflow/reader_s2s_tensor_concat.cpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

[Tests] SFPU accuracy: refuse a non-boolean lane mask
  tt_metal/tt-llk/tests/python_tests/helpers/ulp.py
  tt_metal/tt-llk/tests/python_tests/test_ulp.py
Due: none

[Tests] SFPU accuracy: bound the floor, and scope the band to what is judged
  tt_metal/tt-llk/tests/python_tests/helpers/accuracy_metrics.py
  tt_metal/tt-llk/tests/python_tests/helpers/ulp.py
  tt_metal/tt-llk/tests/python_tests/helpers/utils.py
  tt_metal/tt-llk/tests/python_tests/test_passed_test_ulp.py
  tt_metal/tt-llk/tests/python_tests/test_ulp.py
Due: none

[Tests] SFPU accuracy: guard the floor in the shared verdict, fix the proxy units
  tt_metal/tt-llk/tests/python_tests/helpers/accuracy_metrics.py
  tt_metal/tt-llk/tests/python_tests/helpers/ulp.py
Due: none

[Tests] SFPU accuracy: close the gate's remaining inert arguments
  tt_metal/tt-llk/tests/python_tests/helpers/ulp.py
  tt_metal/tt-llk/tests/python_tests/helpers/utils.py
  tt_metal/tt-llk/tests/python_tests/test_passed_test_ulp.py
  tt_metal/tt-llk/tests/python_tests/test_ulp.py
Due: none

[Tests] SFPU accuracy: a ULP gate in passed_test
  tt_metal/tt-llk/tests/python_tests/helpers/ulp.py
  tt_metal/tt-llk/tests/python_tests/helpers/utils.py
  tt_metal/tt-llk/tests/python_tests/test_passed_test_ulp.py
  tt_metal/tt-llk/tests/python_tests/test_ulp.py
Due: none

[Tests] SFPU accuracy: cut the gate's prose and its duplicated assertions
  tt_metal/tt-llk/tests/python_tests/helpers/accuracy_metrics.py
  tt_metal/tt-llk/tests/python_tests/helpers/ulp.py
  tt_metal/tt-llk/tests/python_tests/helpers/utils.py
  tt_metal/tt-llk/tests/python_tests/test_passed_test_ulp.py
  tt_metal/tt-llk/tests/python_tests/test_ulp.py
Due: none

[Tests] SFPU accuracy: carry the P0 keyword-only arguments into the gate's tests
  tt_metal/tt-llk/tests/python_tests/test_ulp.py
Due: none

[Tests] SFPU accuracy: name the gate's tests after the gate
  tt_metal/tt-llk/tests/python_tests/test_ulp.py
  tt_metal/tt-llk/tests/python_tests/test_ulp_gate.py
Due: none

[Tests] SFPU accuracy: address review on the ULP gate
  tt_metal/tt-llk/tests/python_tests/helpers/accuracy_metrics.py
  tt_metal/tt-llk/tests/python_tests/helpers/ulp.py
  tt_metal/tt-llk/tests/python_tests/helpers/utils.py
  tt_metal/tt-llk/tests/python_tests/test_passed_test_ulp.py
  tt_metal/tt-llk/tests/python_tests/test_ulp.py
Due: none

[Tests] SFPU accuracy: make max_ulp the enforced maximum
  tt_metal/tt-llk/tests/python_tests/helpers/accuracy_metrics.py
  tt_metal/tt-llk/tests/python_tests/helpers/ulp.py
  tt_metal/tt-llk/tests/python_tests/helpers/utils.py
  tt_metal/tt-llk/tests/python_tests/test_passed_test_ulp.py
  tt_metal/tt-llk/tests/python_tests/test_ulp.py
Due: none

Qwen3.8 p150x2 manifest: pin the plugin to 69506a4 (pid identity for lock and rendezvous)
  models/demos/blackhole/qwen36/tt-model.yaml
Due: none

Fix sharded height concat appending whole shards instead of interleaving (#56603)
  tests/ttnn/unit_tests/operations/data_movement/test_concat.py
  ttnn/cpp/ttnn/operations/data_movement/concat/device/concat_block_sharded_program_factory.cpp
  ttnn/cpp/ttnn/operations/data_movement/concat/device/concat_device_operation.cpp
  ttnn/cpp/ttnn/operations/data_movement/concat/device/concat_device_operation_types.hpp
  ttnn/cpp/ttnn/operations/data_movement/concat/device/concat_s2s_multi_program_factory.cpp
  ttnn/cpp/ttnn/operations/data_movement/concat/device/kernels/dataflow/reader_s2s_tensor_concat.cpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

indexer_score: check full-mesh extents, not the sharding scheme
  ttnn/cpp/ttnn/operations/experimental/indexer_score/device/indexer_score_device_operation.cpp
Due: block-ttnn-pybind-changes

[GLM-5.2] Fuse the indexer KV gather over the complete mesh
  models/demos/deepseek_v3_d_p/tt/mla/indexer.py
  models/demos/deepseek_v3_d_p/tt/tt_ccl.py
Due: none

indexer_score: cover the relaxed full-mesh contract and traced slot replay
  tests/ttnn/nightly/unit_tests/operations/experimental/indexer_score/test_ring_indexer_score_dsa.py
  ttnn/cpp/ttnn/operations/experimental/indexer_score/device/indexer_score_device_operation.cpp
Due: block-ttnn-pybind-changes

indexer_score: run the eight-device indexer suite on QB2
  tests/pipeline_reorg/blackhole_multi_card_sanity_tests.yaml
  tests/ttnn/nightly/unit_tests/operations/experimental/indexer_score/test_ring_indexer_score_dsa.py
Due: none

[Bug fix] Avoid Llama QB2 RMSNorm L1 clash on prefill tails (#57336)
  models/demos/llama31_8b_qb2/tests/test_decoder.py
  models/demos/llama31_8b_qb2/tt/decoder.py
Due: none

ttnn.as_tensor: TTNN_TENSOR_CACHE_DUMP_MODE=local dumps the cache file per rank
  ttnn/ttnn/operations/core.py
Due: block-ttnn-pybind-changes

Qwen3.8 p150x2 manifest: pin the plugin to ab5f7f3 (local tensor-cache dump per rank)
  models/demos/blackhole/qwen36/tt-model.yaml
Due: none
