Repository tenstorrent/tt-metal: changes, and which pre-commit hooks are due for each by the changed paths.
All: block-ttnn-pybind-changes, detect-legacy-device-op, validate-golden-csv-columns

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v3.2.0
  hooks:
    - id: trailing-whitespace
      exclude: \.patch$
    - id: end-of-file-fixer
      exclude: \.patch$
    - id: check-yaml
      args: ["--unsafe"]
    - id: check-added-large-files
# Using this mirror lets us use mypyc-compiled black, which is about 2x faster
- repo: https://github.com/psf/black-pre-commit-mirror
  rev: 23.10.1
  hooks:
    - id: black
      language_version: python3
- repo: https://github.com/PyCQA/autoflake
  rev: v2.3.1
  hooks:
    - id: autoflake
      args: [--remove-all-unused-imports, --in-place, --recursive, --exclude=__init__.py]
      files: ^models/  # Run only on files in the models directory
- repo: https://github.com/pycqa/isort
  rev: 5.13.2
  hooks:
    - id: isort
      files: ^models/
      exclude: ^models/(demos/llama3_70b_galaxy|experimental)/
- repo: https://github.com/BlankSpruce/gersemi
  rev: 0.16.2
  hooks:
    - id: gersemi
- repo: https://github.com/adrienverge/yamllint.git
  rev: v1.35.1
  hooks:
    - id: yamllint
- repo: https://github.com/pre-commit/mirrors-clang-format
  rev: v19.1.4
  hooks:
    - id: clang-format
      entry: git-clang-format
      require_serial: true
      types_or: [c++, c]
      args: ["--style=file"]
- repo: local
  hooks:
    - id: validate-metalium-includes
      name: validate-metalium-includes
      entry: python3 scripts/validate_api/validate_includes.py tt_metal/api --check-ttnn-forwards
      language: system
      pass_filenames: false
    - id: validate-metalium-deprecation
      name: validate-metalium-deprecation
      entry: python3 scripts/validate_api/validate_deprecation.py tt_metal/api origin/main
      language: system
      pass_filenames: false
- repo: local
  hooks:
    - id: check-torch-imports-in-ttnn
      name: Verify that there is no global torch import in ttnn
      entry: python3 scripts/validate_no_global_torch_imports.py
      language: system
      pass_filenames: false
- repo: local
  hooks:
    - id: block-ttnn-pybind-changes
      name: Prevent edits to frozen pybind11 sources under ttnn
      entry: python3 scripts/block_ttnn_pybind_changes.py
      language: system
      pass_filenames: true
      files: ^ttnn/
- repo: local
  hooks:
    - id: convert-notebooks-to-py
      name: Convert .ipynb to .py for ttnn basic examples
      entry: python3 scripts/convert_notebooks_to_python.py
      language: system
- repo: local
  hooks:
    - id: detect-legacy-device-op
      name: Detect legacy device operation classes in newly added files
      entry: python3 scripts/detect_legacy_device_op.py --check-new-only
      language: system
      types: [file]
      files: ^ttnn/.*\.hpp$
      pass_filenames: true
      require_serial: true
- repo: local
  hooks:
    - id: validate-golden-csv-columns
      name: Validate golden bandwidth CSV column headers
      entry: bash .github/scripts/utils/validate_golden_csv_columns.sh
      language: system
      pass_filenames: false
      files: ^tests/tt_metal/tt_metal/perf_microbenchmark/routing/golden/.*bandwidth.*\.csv$

perf improvement
  tt-train/sources/ttml/metal/ops/moe_group/device/kernels/compute/moe_group_tilize_kernel.cpp
  tt-train/sources/ttml/metal/ops/moe_group/device/kernels/dataflow/moe_group_combined_kernel.cpp
  tt-train/sources/ttml/metal/ops/moe_group/device/kernels/dataflow/moe_group_worker_writer.cpp
  tt-train/sources/ttml/metal/ops/moe_group/device/moe_group_program_factory.cpp
Due: none

Refactoring
  .github/workflows/blackhole-multi-card-unit-tests-impl.yaml
  models/demos/deepseek_v3_d_p/tests/perf/test_mla_perf.py
  models/demos/deepseek_v3_d_p/tests/perf/test_moe_perf.py
  models/demos/deepseek_v3_d_p/tests/perf/test_prefill_block_perf.py
  models/demos/deepseek_v3_d_p/utils/perf_utils.py
Due: none

gemma4_31b: tighten _sliding_decode SDPA precision
  models/forge_generated/gemma4/attention.py
Due: none

Fix Exp<> init: drop fast arg from exp_tile_init after fast_and_approx removal
  ttnn/cpp/ttnn/kernel_lib/sfpu_helpers.inl
Due: block-ttnn-pybind-changes

gemma4: wire per-layer inputs (PLI) through decode forward
  models/demos/gemma4/demo/text_demo.py
  models/demos/gemma4/tt/model.py
Due: none

gemma4_31b: bump default seq_len from 19 to 128
  models/forge_generated/gemma4/attention.py
  models/forge_generated/gemma4/decoder_layer.py
  models/forge_generated/gemma4/demo.py
  models/forge_generated/gemma4/model.py
  models/forge_generated/gemma4/prelude.py
  models/forge_generated/gemma4/runtime_inputs.py
  models/forge_generated/gemma4/test_prefill.py
  models/forge_generated/gemma4/weights.py
Due: none

refactor: migrate ELU/SELU/CELU Cody-Waite impl to tt-llk, thin wrappers in hw/ckernels
  tt_metal/hw/ckernels/blackhole/metal/llk_api/llk_sfpu/ckernel_sfpu_celu.h
  tt_metal/hw/ckernels/blackhole/metal/llk_api/llk_sfpu/ckernel_sfpu_elu.h
  tt_metal/hw/ckernels/blackhole/metal/llk_api/llk_sfpu/ckernel_sfpu_selu.h
  tt_metal/hw/ckernels/wormhole_b0/metal/llk_api/llk_sfpu/ckernel_sfpu_celu.h
  tt_metal/hw/ckernels/wormhole_b0/metal/llk_api/llk_sfpu/ckernel_sfpu_elu.h
  tt_metal/hw/ckernels/wormhole_b0/metal/llk_api/llk_sfpu/ckernel_sfpu_selu.h
  tt_metal/tt-llk/tt_llk_blackhole/common/inc/sfpu/ckernel_sfpu_celu.h
  tt_metal/tt-llk/tt_llk_blackhole/common/inc/sfpu/ckernel_sfpu_expm1_cw.h
  tt_metal/tt-llk/tt_llk_blackhole/common/inc/sfpu/ckernel_sfpu_selu.h
  tt_metal/tt-llk/tt_llk_wormhole_b0/common/inc/sfpu/ckernel_sfpu_celu.h
  tt_metal/tt-llk/tt_llk_wormhole_b0/common/inc/sfpu/ckernel_sfpu_elu.h
  tt_metal/tt-llk/tt_llk_wormhole_b0/common/inc/sfpu/ckernel_sfpu_expm1_cw.h
  tt_metal/tt-llk/tt_llk_wormhole_b0/common/inc/sfpu/ckernel_sfpu_selu.h
Due: none

initiali commit for moe ungroup
  tt-train/sources/ttml/CMakeLists.txt
  tt-train/sources/ttml/metal/ops/moe_ungroup/device/kernels/compute/moe_ungroup_untilize_kernel.cpp
  tt-train/sources/ttml/metal/ops/moe_ungroup/device/kernels/dataflow/moe_ungroup_reader.cpp
  tt-train/sources/ttml/metal/ops/moe_ungroup/device/kernels/dataflow/moe_ungroup_writer.cpp
  tt-train/sources/ttml/metal/ops/moe_ungroup/device/moe_ungroup_device_operation.cpp
  tt-train/sources/ttml/metal/ops/moe_ungroup/device/moe_ungroup_device_operation.hpp
  tt-train/sources/ttml/metal/ops/moe_ungroup/device/moe_ungroup_device_operation_types.hpp
  tt-train/sources/ttml/metal/ops/moe_ungroup/device/moe_ungroup_program_factory.cpp
  tt-train/sources/ttml/metal/ops/moe_ungroup/device/moe_ungroup_program_factory.hpp
  tt-train/sources/ttml/metal/ops/moe_ungroup/moe_ungroup.cpp
  tt-train/sources/ttml/metal/ops/moe_ungroup/moe_ungroup.hpp
  tt-train/sources/ttml/nanobind/nb_ops.cpp
  tt-train/tests/python/test_moe_ungroup.py
Due: none

update
  tt-train/sources/ttml/metal/ops/moe_ungroup/device/kernels/compute/moe_ungroup_untilize_kernel.cpp
  tt-train/sources/ttml/metal/ops/moe_ungroup/device/kernels/dataflow/moe_ungroup_reader.cpp
  tt-train/sources/ttml/metal/ops/moe_ungroup/device/kernels/dataflow/moe_ungroup_writer.cpp
  tt-train/sources/ttml/metal/ops/moe_ungroup/device/moe_ungroup_program_factory.cpp
Due: none

LLK helper HQ: drop DEST×CB deadlock section and control-flow anti-pattern
  ttnn/cpp/ttnn/kernel_lib/agents/llk_helpers_hq.md
Due: block-ttnn-pybind-changes

Add tests
  tests/tt_metal/distributed/test_mesh_buffer.cpp
  tests/tt_metal/tt_metal/api/test_sharded_l1_buffer.cpp
  tests/ttnn/unit_tests/gtests/tensor/test_mesh_tensor.cpp
  tests/ttnn/unit_tests/tensor/test_copy_host_to_device_tensor_partial.py
  tt_metal/impl/buffers/dispatch.cpp
Due: none

Add CoreRangeSet filter to host->device write APIs
  tt_metal/api/tt-metalium/experimental/tensor/tensor_apis.hpp
  tt_metal/api/tt-metalium/mesh_command_queue.hpp
  tt_metal/api/tt-metalium/tt_metal.hpp
  tt_metal/distributed/dummy_mesh_command_queue.cpp
  tt_metal/distributed/dummy_mesh_command_queue.hpp
  tt_metal/distributed/fd_mesh_command_queue.cpp
  tt_metal/distributed/fd_mesh_command_queue.hpp
  tt_metal/distributed/mesh_command_queue_base.cpp
  tt_metal/distributed/mesh_command_queue_base.hpp
  tt_metal/distributed/sd_mesh_command_queue.cpp
  tt_metal/distributed/sd_mesh_command_queue.hpp
  tt_metal/impl/buffers/dispatch.cpp
  tt_metal/impl/buffers/dispatch.hpp
  tt_metal/impl/tensor/tensor_apis.cpp
  tt_metal/tt_metal.cpp
  ttnn/api/ttnn/tensor/tensor_ops.hpp
  ttnn/core/tensor/tensor_ops.cpp
  ttnn/cpp/ttnn-nanobind/operations/core.cpp
  ttnn/ttnn/operations/core.py
Due: block-ttnn-pybind-changes, detect-legacy-device-op

Use FD to write q_ab_kv_a to device
  models/demos/deepseek_v3_b1/demo/cli.py
  models/demos/deepseek_v3_b1/demo/model_pipeline.py
  models/demos/deepseek_v3_b1/demo/weight_provider.py
  models/demos/deepseek_v3_b1/weights/cache/__init__.py
  models/demos/deepseek_v3_b1/weights/cache/cache.py
  models/demos/deepseek_v3_b1/weights/prepare.py
Due: none

Preload weights using cache provider (dont merge this)
  models/demos/deepseek_v3_b1/tests/unit_tests/conftest.py
  models/demos/deepseek_v3_b1/tests/unit_tests/test_decoder_block.py
Due: none

Add GetCurrentMeshTraceId function and update trace ID retrieval in device_operation
  tt_metal/api/tt-metalium/experimental/inspector.hpp
  tt_metal/impl/debug/inspector/inspector.cpp
  ttnn/api/ttnn/device_operation.hpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

Update perf
  models/demos/deepseek_v3_d_p/tests/perf/test_moe_perf.py
Due: none

#41455: Add uint16 support for relational ops.
  tests/ttnn/unit_tests/operations/eltwise/test_binary_uint16.py
  tt_metal/hw/ckernels/blackhole/metal/llk_api/llk_sfpu/ckernel_sfpu_binary_comp.h
  tt_metal/hw/ckernels/wormhole_b0/metal/llk_api/llk_sfpu/ckernel_sfpu_binary_comp.h
  tt_metal/hw/inc/api/compute/binary_comp.h
  ttnn/cpp/ttnn/operations/eltwise/binary_ng/device/binary_ng_device_operation.cpp
  ttnn/cpp/ttnn/operations/eltwise/binary_ng/device/binary_ng_utils.cpp
Due: block-ttnn-pybind-changes

#41455: rebase
  tt_metal/hw/ckernels/blackhole/metal/llk_api/llk_sfpu/llk_math_eltwise_binary_sfpu_binary_comp.h
  tt_metal/hw/ckernels/wormhole_b0/metal/llk_api/llk_sfpu/llk_math_eltwise_binary_sfpu_binary_comp.h
Due: none

#41455: generalize tile call
  tt_metal/hw/ckernels/blackhole/metal/llk_api/llk_sfpu/llk_math_eltwise_binary_sfpu_binary_comp.h
  tt_metal/hw/ckernels/wormhole_b0/metal/llk_api/llk_sfpu/llk_math_eltwise_binary_sfpu_binary_comp.h
  tt_metal/hw/inc/api/compute/binary_comp.h
  ttnn/cpp/ttnn/operations/eltwise/binary/common/binary_op_utils.cpp
  ttnn/cpp/ttnn/operations/eltwise/binary/device/kernels/compute/eltwise_binary_sfpu_kernel.cpp
  ttnn/cpp/ttnn/operations/eltwise/binary_ng/device/binary_ng_utils.cpp
Due: block-ttnn-pybind-changes

#41455: Add uint32 support for relational ops.
  tests/ttnn/unit_tests/operations/eltwise/test_binary_uint32.py
  tt_metal/hw/ckernels/blackhole/metal/llk_api/llk_sfpu/ckernel_sfpu_binary_comp.h
  tt_metal/hw/ckernels/blackhole/metal/llk_api/llk_sfpu/llk_math_eltwise_binary_sfpu_binary_comp.h
  tt_metal/hw/ckernels/wormhole_b0/metal/llk_api/llk_sfpu/ckernel_sfpu_binary_comp.h
  tt_metal/hw/ckernels/wormhole_b0/metal/llk_api/llk_sfpu/llk_math_eltwise_binary_sfpu_binary_comp.h
  tt_metal/hw/inc/api/compute/binary_comp.h
  ttnn/cpp/ttnn/operations/eltwise/binary_ng/device/binary_ng_device_operation.cpp
  ttnn/cpp/ttnn/operations/eltwise/binary_ng/device/binary_ng_utils.cpp
Due: block-ttnn-pybind-changes

#41455: remove sfpi::dst_reg inc.
  tt_metal/hw/ckernels/blackhole/metal/llk_api/llk_sfpu/ckernel_sfpu_binary_comp.h
  tt_metal/hw/ckernels/blackhole/metal/llk_api/llk_sfpu/llk_math_eltwise_binary_sfpu_binary_comp.h
  tt_metal/hw/ckernels/blackhole/metal/llk_api/llk_sfpu_types.h
  tt_metal/hw/ckernels/wormhole_b0/metal/llk_api/llk_sfpu/ckernel_sfpu_binary_comp.h
  tt_metal/hw/ckernels/wormhole_b0/metal/llk_api/llk_sfpu/llk_math_eltwise_binary_sfpu_binary_comp.h
  tt_metal/hw/ckernels/wormhole_b0/metal/llk_api/llk_sfpu_types.h
  tt_metal/tt-llk/tt_llk_blackhole/llk_lib/llk_math_eltwise_binary_sfpu.h
  tt_metal/tt-llk/tt_llk_wormhole_b0/llk_lib/llk_math_eltwise_binary_sfpu.h
Due: none

#41455: update comments
  tests/ttnn/unit_tests/operations/eltwise/test_binary_uint32.py
  tt_metal/hw/ckernels/blackhole/metal/llk_api/llk_sfpu/ckernel_sfpu_binary_comp.h
  tt_metal/hw/ckernels/blackhole/metal/llk_api/llk_sfpu/llk_math_eltwise_binary_sfpu_binary_comp.h
  tt_metal/hw/ckernels/blackhole/metal/llk_api/llk_sfpu_types.h
  tt_metal/hw/ckernels/wormhole_b0/metal/llk_api/llk_sfpu/ckernel_sfpu_binary_comp.h
  tt_metal/hw/ckernels/wormhole_b0/metal/llk_api/llk_sfpu/llk_math_eltwise_binary_sfpu_binary_comp.h
  tt_metal/hw/ckernels/wormhole_b0/metal/llk_api/llk_sfpu_types.h
  tt_metal/hw/inc/api/compute/binary_comp.h
  tt_metal/tt-llk/tt_llk_blackhole/llk_lib/llk_math_eltwise_binary_sfpu.h
  tt_metal/tt-llk/tt_llk_wormhole_b0/llk_lib/llk_math_eltwise_binary_sfpu.h
  ttnn/cpp/ttnn/operations/eltwise/binary_ng/device/binary_ng_device_operation.cpp
Due: block-ttnn-pybind-changes

LLK catalog agent: discover kernel files by content, not path globs
  ttnn/cpp/ttnn/kernel_lib/agents/llk_catalog_agent.md
  ttnn/cpp/ttnn/kernel_lib/agents/llk_investigation_agent.md
Due: block-ttnn-pybind-changes

#41455: need to add (tensor,scalar) support, test case being added
  tests/ttnn/unit_tests/operations/eltwise/test_binary_uint16.py
Due: none

Fix missing bias in PyTorch reference for test_resharded_binary_to_matmul
  tests/ttnn/nightly/unit_tests/operations/matmul/test_matmul2.py
Due: none

sentinel
  tt_metal/tt-llk/tests/python_tests/fuser/blackhole/fpu/datacopy.py
  tt_metal/tt-llk/tests/python_tests/fuser/blackhole/fpu/reduce.py
  tt_metal/tt-llk/tests/python_tests/fuser/blackhole/packer/packer.py
  tt_metal/tt-llk/tests/python_tests/fuser/blackhole/parser.py
  tt_metal/tt-llk/tests/python_tests/fuser/blackhole/sfpu/binary.py
  tt_metal/tt-llk/tests/python_tests/fuser/blackhole/sfpu/unary.py
  tt_metal/tt-llk/tests/python_tests/fuser/blackhole/unpacker/tilize_a.py
  tt_metal/tt-llk/tests/python_tests/fuser/blackhole/unpacker/unpack_a.py
  tt_metal/tt-llk/tests/python_tests/fuser/compute_node.py
  tt_metal/tt-llk/tests/python_tests/fuser/fused_math.py
  tt_metal/tt-llk/tests/python_tests/fuser/fused_operand.py
  tt_metal/tt-llk/tests/python_tests/fuser/fuser_config.py
  tt_metal/tt-llk/tests/python_tests/fuser/fuser_sentinel.py
  tt_metal/tt-llk/tests/python_tests/fuser/wormhole/fpu/datacopy.py
  tt_metal/tt-llk/tests/python_tests/fuser/wormhole/fpu/eltwise.py
  tt_metal/tt-llk/tests/python_tests/fuser/wormhole/fpu/reduce.py
  tt_metal/tt-llk/tests/python_tests/fuser/wormhole/packer/packer.py
  tt_metal/tt-llk/tests/python_tests/fuser/wormhole/parser.py
  tt_metal/tt-llk/tests/python_tests/fuser/wormhole/sfpu/binary.py
  tt_metal/tt-llk/tests/python_tests/fuser/wormhole/sfpu/unary.py
  tt_metal/tt-llk/tests/python_tests/fuser/wormhole/unpacker/tilize_a.py
  tt_metal/tt-llk/tests/python_tests/fuser/wormhole/unpacker/unpack_a.py
  tt_metal/tt-llk/tests/python_tests/fuser_config/mish.yaml
  tt_metal/tt-llk/tests/python_tests/fuser_config/reconfigure.yaml
Due: none

updated prefill tracing for warmup and batched prefill
  models/demos/multimodal/gemma3/demo/vision_demo.py
  models/demos/multimodal/gemma3/tt/model_config.py
  models/tt_transformers/tt/generator.py
Due: none

debug statemnts
  models/demos/multimodal/gemma3/tests/test_prefill_trace.py
Due: none

cleanup
  models/tt_transformers/tt/generator.py
Due: none

prefill for vision demo working with trace enabled for warmup trace is not enabled
  models/demos/multimodal/gemma3/demo/vision_demo.py
  models/demos/multimodal/gemma3/tt/gemma_e2e_model.py
  models/tt_transformers/tt/generator.py
  models/tt_transformers/tt/generator_vllm.py
  models/tt_transformers/tt/model.py
Due: none

multimodal demo incorrect output using vllmv1 fix
  models/tt_transformers/tt/generator_vllm.py
Due: none

prefil issue sol
  models/demos/multimodal/gemma3/tests/test_prefill_trace.py
  models/demos/multimodal/gemma3/tt/gemma_e2e_model.py
  models/demos/multimodal/gemma3/tt/model_config.py
Due: none

fix
  models/demos/multimodal/gemma3/demo/vision_demo.py
Due: none

some changes to fix the hanging
  models/demos/multimodal/gemma3/tt/model_config.py
  models/tt_transformers/tt/generator.py
Due: none

changes from old branch- ign/gemma3_vision_demo_fix
  models/demos/multimodal/gemma3/tests/perf_targets/targets_test_perf_vision_cross_attention_transformer.json
Due: none

warm legth reduced to 1024
  models/demos/multimodal/gemma3/tt/model_config.py
  models/tt_transformers/tt/generator.py
Due: none

gemma4: don't enable fabric for 1x1 mesh in unit tests
  models/demos/gemma4/tests/test_factory.py
Due: none

Remove the to torch implementation from common.py
  models/demos/dots_ocr/ARCHITECTURE.md
  models/demos/dots_ocr/FULL_TTNN_VISION_PLAN.md
  models/demos/dots_ocr/IMPLEMENTATION_STEPS.md
  models/demos/dots_ocr/demo/demo.py
  models/demos/dots_ocr/tt/common.py
Due: none

Used to remove some common code changes
  models/demos/dots_ocr/tt/rope_freqs.py
Due: none

test: GAP_11 Phase 2.5 force-reset Pass-0 canary chain validation
  tests/nightly/t3000/ccl/test_phase25_force_reset_pass0_chain.py
Due: none
