Repository tenstorrent/tt-metal: changes, and which pre-commit hooks are due for each by the changed paths.
All: block-ttnn-pybind-changes, detect-legacy-device-op, validate-golden-csv-columns

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v3.2.0
  hooks:
    - id: trailing-whitespace
      exclude: \.patch$
    - id: end-of-file-fixer
      exclude: \.patch$
    - id: check-yaml
      args: ["--unsafe"]
    - id: check-added-large-files
# Using this mirror lets us use mypyc-compiled black, which is about 2x faster
- repo: https://github.com/psf/black-pre-commit-mirror
  rev: 23.10.1
  hooks:
    - id: black
      language_version: python3
- repo: https://github.com/PyCQA/autoflake
  rev: v2.3.1
  hooks:
    - id: autoflake
      args: [--remove-all-unused-imports, --in-place, --recursive, --exclude=__init__.py]
      files: ^models/  # Run only on files in the models directory
- repo: https://github.com/pycqa/isort
  rev: 5.13.2
  hooks:
    - id: isort
      files: ^models/
      exclude: ^models/(demos/llama3_70b_galaxy|experimental)/
- repo: https://github.com/BlankSpruce/gersemi
  rev: 0.16.2
  hooks:
    - id: gersemi
- repo: https://github.com/adrienverge/yamllint.git
  rev: v1.35.1
  hooks:
    - id: yamllint
- repo: https://github.com/pre-commit/mirrors-clang-format
  rev: v19.1.4
  hooks:
    - id: clang-format
      entry: git-clang-format
      require_serial: true
      types_or: [c++, c]
      args: ["--style=file"]
- repo: local
  hooks:
    - id: validate-metalium-includes
      name: validate-metalium-includes
      entry: python3 scripts/validate_api/validate_includes.py tt_metal/api --check-ttnn-forwards
      language: system
      pass_filenames: false
    - id: validate-metalium-deprecation
      name: validate-metalium-deprecation
      entry: python3 scripts/validate_api/validate_deprecation.py tt_metal/api origin/main
      language: system
      pass_filenames: false
- repo: local
  hooks:
    - id: check-torch-imports-in-ttnn
      name: Verify that there is no global torch import in ttnn
      entry: python3 scripts/validate_no_global_torch_imports.py
      language: system
      pass_filenames: false
- repo: local
  hooks:
    - id: block-ttnn-pybind-changes
      name: Prevent edits to frozen pybind11 sources under ttnn
      entry: python3 scripts/block_ttnn_pybind_changes.py
      language: system
      pass_filenames: true
      files: ^ttnn/
- repo: local
  hooks:
    - id: convert-notebooks-to-py
      name: Convert .ipynb to .py for ttnn basic examples
      entry: python3 scripts/convert_notebooks_to_python.py
      language: system
- repo: local
  hooks:
    - id: detect-legacy-device-op
      name: Detect legacy device operation classes in newly added files
      entry: python3 scripts/detect_legacy_device_op.py --check-new-only
      language: system
      types: [file]
      files: ^ttnn/.*\.hpp$
      pass_filenames: true
      require_serial: true
- repo: local
  hooks:
    - id: validate-golden-csv-columns
      name: Validate golden bandwidth CSV column headers
      entry: bash .github/scripts/utils/validate_golden_csv_columns.sh
      language: system
      pass_filenames: false
      files: ^tests/tt_metal/tt_metal/perf_microbenchmark/routing/golden/.*bandwidth.*\.csv$

[MNIST, SWIN] Perf target bump (#39020)
  models/demos/vision/classification/mnist/tests/test_perf_mnist.py
  models/experimental/swin_s/tests/perf/test_perf.py
Due: none

first portion of verifications
  ttnn/cpp/ttnn/operations/data_movement/concat/device/concat_device_operation.cpp
Due: block-ttnn-pybind-changes

Reduce SDPA reinit overhead: minimal ADDR_MOD reprogramming
  tt_metal/hw/ckernels/blackhole/metal/llk_api/experimental/llk_math_matmul_custom_api.h
  tt_metal/hw/ckernels/blackhole/metal/llk_api/llk_math_reduce_custom_api.h
  tt_metal/hw/ckernels/blackhole/metal/llk_api/llk_math_unary_datacopy_custom_api.h
  tt_metal/hw/ckernels/blackhole/metal/llk_api/llk_unpack_AB_matmul_custom_api.h
  tt_metal/hw/ckernels/blackhole/metal/llk_api/llk_unpack_A_api.h
  tt_metal/hw/inc/api/compute/experimental/matmul_custom.h
  tt_metal/hw/inc/api/compute/reduce_custom.h
  tt_metal/hw/inc/api/compute/tile_move_copy_custom.h
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/kernels/compute/compute_common.hpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

Add gelu_bw ULP precision tests and document bug (#35971)
  GELU_BW_FIX_IMPLEMENTATION_LOG.md
  GELU_BW_FIX_STRATEGY.md
  tests/ttnn/unit_tests/gtests/test_gelu_bw_ulp_bug.cpp
  tests/ttnn/unit_tests/operations/eltwise/test_gelu_bw_ulp_bug.py
  ttnn/cpp/ttnn/operations/eltwise/unary_backward/unary_backward.cpp
Due: block-ttnn-pybind-changes

Document SFPU research findings for GELU backward deep negative region (#35971)
  GELU_BW_FIX_IMPLEMENTATION_LOG.md
  tests/ttnn/unit_tests/gtests/test_gelu_bw_ulp_bug.cpp
  tt_metal/hw/ckernels/blackhole/metal/llk_api/llk_sfpu/ckernel_sfpu_gelu.h
  tt_metal/hw/ckernels/wormhole_b0/metal/llk_api/llk_sfpu/ckernel_sfpu_gelu.h
Due: none

Fix GELU backward precision: Max ULP = 1 for [-5, 5] using shifted polynomials (#35971)
  GELU_BW_FIX_IMPLEMENTATION_LOG.md
  tests/ttnn/unit_tests/gtests/test_gelu_bw_ulp_bug.cpp
  tt_metal/hw/ckernels/blackhole/metal/llk_api/llk_sfpu/ckernel_sfpu_gelu.h
  tt_metal/hw/ckernels/wormhole_b0/metal/llk_api/llk_sfpu/ckernel_sfpu_gelu.h
  tt_metal/hw/inc/api/compute/eltwise_unary/gelu.h
  ttnn/cpp/ttnn/operations/experimental/unary_backward/gelu_backward/device/gelu_backward_program_factory.cpp
  ttnn/cpp/ttnn/operations/experimental/unary_backward/gelu_backward/device/kernels/compute/eltwise_bw_gelu_poly.cpp
Due: block-ttnn-pybind-changes

Add GELU backward (gelu_bw) ULP precision tests and bug report
  tests/ttnn/unit_tests/gtests/sources.cmake
  tests/ttnn/unit_tests/gtests/test_gelu_bw_ulp_bug.cpp
  tests/ttnn/unit_tests/operations/eltwise/GELU_BW_ULP_BUG_REPORT.md
  tests/ttnn/unit_tests/operations/eltwise/test_gelu_bw_ulp_bug.py
Due: none

Extend GELU backward polynomial coverage to [-9, 5]: Max ULP 8898 (#35971)
  GELU_BW_FIX_IMPLEMENTATION_LOG.md
  tests/ttnn/unit_tests/gtests/test_gelu_bw_ulp_bug.cpp
  tt_metal/hw/ckernels/blackhole/metal/llk_api/llk_sfpu/ckernel_sfpu_gelu.h
  tt_metal/hw/ckernels/wormhole_b0/metal/llk_api/llk_sfpu/ckernel_sfpu_gelu.h
Due: none

Add GELU backward fix strategy and coefficient generator
  GELU_BW_FIX_STRATEGY.md
  generate_gelu_derivative_coefficients.py
Due: none

Implement exp()-based solution for GELU backward deep negative region (#35971)
  tests/ttnn/unit_tests/gtests/test_gelu_bw_ulp_bug.cpp
  tt_metal/hw/ckernels/blackhole/metal/llk_api/llk_sfpu/ckernel_sfpu_gelu.h
  tt_metal/hw/ckernels/wormhole_b0/metal/llk_api/llk_sfpu/ckernel_sfpu_gelu.h
Due: none

Add gelu_bw performance results: polynomial is 2.5x faster than original (#35971)
  tests/ttnn/unit_tests/operations/eltwise/GELU_BW_PERF_RESULTS.md
Due: none

Correct perf results with apples-to-apples comparison (#35971)
  tests/ttnn/unit_tests/operations/eltwise/GELU_BW_PERF_RESULTS.md
Due: none

Remove GELU_BW_ULP_BUG_REPORT.md (duplicates GitHub issue #35971)
  tests/ttnn/unit_tests/operations/eltwise/GELU_BW_ULP_BUG_REPORT.md
Due: none

Fix per_core_block_size > 1 bug in poly compute kernel (#35971)
  ttnn/cpp/ttnn/operations/experimental/unary_backward/gelu_backward/device/kernels/compute/eltwise_bw_gelu_poly.cpp
Due: block-ttnn-pybind-changes

Address review feedback: use PolynomialEvaluator, add recip_init and BF16 rounding (#35971)
  tt_metal/hw/ckernels/blackhole/metal/llk_api/llk_sfpu/ckernel_sfpu_gelu.h
  tt_metal/hw/ckernels/wormhole_b0/metal/llk_api/llk_sfpu/ckernel_sfpu_gelu.h
  tt_metal/hw/inc/api/compute/eltwise_unary/gelu.h
Due: none

Update license headers to 2026, remove stale comment (#35971)
  tests/ttnn/unit_tests/gtests/test_gelu_bw_ulp.cpp
  tests/ttnn/unit_tests/operations/eltwise/test_gelu_bw_ulp.py
  ttnn/cpp/ttnn/operations/experimental/unary_backward/gelu_backward/device/gelu_backward_program_factory.cpp
  ttnn/cpp/ttnn/operations/experimental/unary_backward/gelu_backward/device/kernels/compute/eltwise_bw_gelu_poly.cpp
Due: block-ttnn-pybind-changes

Wire fused polynomial kernel into ttnn.gelu_bw() main API (#35971)
  ttnn/cpp/ttnn/operations/eltwise/unary_backward/unary_backward.cpp
  ttnn/cpp/ttnn/operations/experimental/unary_backward/gelu_backward/device/gelu_backward_program_factory.cpp
  ttnn/cpp/ttnn/operations/experimental/unary_backward/gelu_backward/device/kernels/compute/eltwise_bw_gelu_approx_none.cpp
Due: block-ttnn-pybind-changes

Address code review: clean up tests, move perf results to gist (#35971)
  tests/ttnn/unit_tests/gtests/test_gelu_bw_ulp_bug.cpp
  tests/ttnn/unit_tests/operations/eltwise/GELU_BW_PERF_RESULTS.md
  tests/ttnn/unit_tests/operations/eltwise/test_gelu_bw_ulp_bug.py
Due: none

Tighten ULP thresholds: all tests now enforce ULP <= 2 (#35971)
  tests/ttnn/unit_tests/gtests/test_gelu_bw_ulp.cpp
  tests/ttnn/unit_tests/operations/eltwise/test_gelu_bw_ulp.py
Due: none

Rename test files, add purpose comments and regression guards (#35971)
  tests/ttnn/unit_tests/gtests/sources.cmake
  tests/ttnn/unit_tests/gtests/test_gelu_bw_ulp.cpp
  tests/ttnn/unit_tests/operations/eltwise/test_gelu_bw_ulp.py
Due: none

Fused x*exp(t) for GELU backward: eliminates intermediate underflow (#35971)
  tests/ttnn/unit_tests/gtests/test_gelu_bw_ulp_bug.cpp
  tt_metal/hw/ckernels/blackhole/metal/llk_api/llk_sfpu/ckernel_sfpu_gelu.h
  tt_metal/hw/ckernels/wormhole_b0/metal/llk_api/llk_sfpu/ckernel_sfpu_gelu.h
Due: none

Add consolidated research on GELU deep negative tail implementations (#35971)
  negative_tail_final_consolicated_opinions.md
Due: none

Address clang-tidy warnings in test file (#35971)
  tests/ttnn/unit_tests/gtests/test_gelu_bw_ulp_bug.cpp
Due: none

Extend fused x*exp(t) to replace FL1/FL2 polynomials: Max ULP 42 → 1 (#35971)
  GELU_BW_FIX_IMPLEMENTATION_LOG.md
  tt_metal/hw/ckernels/blackhole/metal/llk_api/llk_sfpu/ckernel_sfpu_gelu.h
  tt_metal/hw/ckernels/wormhole_b0/metal/llk_api/llk_sfpu/ckernel_sfpu_gelu.h
Due: none

Add SpecialValues test and clean up historical comments (#35971)
  tests/ttnn/unit_tests/gtests/test_gelu_bw_ulp_bug.cpp
Due: none

Clean up branch: remove scratch files, fix stale comments (#35971)
  GELU_BW_FIX_IMPLEMENTATION_LOG.md
  GELU_BW_FIX_STRATEGY.md
  generate_gelu_derivative_coefficients.py
  negative_tail_final_consolicated_opinions.md
  tests/ttnn/unit_tests/gtests/test_gelu_bw_ulp_bug.cpp
  tests/ttnn/unit_tests/operations/eltwise/GELU_BW_ULP_BUG_REPORT.md
  ttnn/cpp/ttnn/operations/experimental/unary_backward/gelu_backward/device/kernels/compute/eltwise_bw_gelu_poly.cpp
Due: block-ttnn-pybind-changes

Fix API compatibility after rebase onto main b1668cd560 (#35971)
  tt_metal/hw/inc/api/compute/eltwise_unary/gelu.h
  ttnn/cpp/ttnn/operations/experimental/unary_backward/gelu_backward/device/kernels/compute/eltwise_bw_gelu_poly.cpp
Due: block-ttnn-pybind-changes

Remove dead code and stale comments in tests (#35971)
  tests/ttnn/unit_tests/gtests/test_gelu_bw_ulp_bug.cpp
  tests/ttnn/unit_tests/operations/eltwise/test_gelu_bw_ulp_bug.py
Due: none

Fix tile_regs ordering to canonical pattern in poly compute kernel (#35971)
  ttnn/cpp/ttnn/operations/experimental/unary_backward/gelu_backward/device/kernels/compute/eltwise_bw_gelu_poly.cpp
Due: block-ttnn-pybind-changes

docs: Update GELU_BW_FIX_IMPLEMENTATION_LOG.md with Session 30/31 results
  GELU_BW_FIX_IMPLEMENTATION_LOG.md
Due: none

Use accurate exp with Mills ratio for GELU backward deep negative tail (#35971)
  tests/ttnn/unit_tests/gtests/test_gelu_bw_ulp_bug.cpp
  tt_metal/hw/ckernels/blackhole/metal/llk_api/llk_sfpu/ckernel_sfpu_gelu.h
  tt_metal/hw/ckernels/wormhole_b0/metal/llk_api/llk_sfpu/ckernel_sfpu_gelu.h
Due: none

Update documentation: rename function and fix range comments (#35971)
  tests/ttnn/unit_tests/gtests/test_gelu_bw_ulp_bug.cpp
  tt_metal/hw/ckernels/blackhole/metal/llk_api/llk_sfpu/ckernel_sfpu_gelu.h
  tt_metal/hw/ckernels/wormhole_b0/metal/llk_api/llk_sfpu/ckernel_sfpu_gelu.h
Due: none

Remove duplicate run_gelu_bw_poly_single helper (#35971)
  tests/ttnn/unit_tests/gtests/test_gelu_bw_ulp_bug.cpp
Due: none

Correct perf results: polynomial is 33% faster in kernel cycles (#35971)
  tests/ttnn/unit_tests/operations/eltwise/GELU_BW_PERF_RESULTS.md
Due: none

Scope PR to ttnn.experimental.gelu_bw() only
  tests/ttnn/unit_tests/gtests/test_gelu_bw_ulp_bug.cpp
  tests/ttnn/unit_tests/operations/eltwise/GELU_BW_ULP_BUG_REPORT.md
  tests/ttnn/unit_tests/operations/eltwise/test_gelu_bw_ulp_bug.py
  ttnn/cpp/ttnn/operations/eltwise/unary_backward/unary_backward.cpp
Due: block-ttnn-pybind-changes

Ensuring TimeoutDeviceRegisterError is not swallowed
  tools/triage/device_info.py
  tools/triage/dispatcher_data.py
  tools/triage/triage_hw_utils.py
Due: none

More build error fixes
  ttnn/cpp/ttnn/operations/data_movement/CMakeLists.txt
  ttnn/cpp/ttnn/operations/data_movement/data_movement_nanobind.cpp
  ttnn/cpp/ttnn/operations/data_movement/flip/device/kernels/dataflow/reader_interleaved_rm.cpp
  ttnn/cpp/ttnn/operations/data_movement/flip/device/kernels/dataflow/reader_interleaved_tiled.cpp
  ttnn/cpp/ttnn/operations/data_movement/flip/device/kernels/dataflow/writer_interleaved_rm.cpp
  ttnn/cpp/ttnn/operations/data_movement/flip/device/kernels/dataflow/writer_interleaved_tiled.cpp
  ttnn/cpp/ttnn/operations/data_movement/flip/flip_nanobind.cpp
  ttnn/cpp/ttnn/operations/data_movement/flip/flip_nanobind.hpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

[ttnn-generic-op-builder] tests: layernorm
  tests/ttnn/unit_tests/operations/layernorm/__init__.py
  tests/ttnn/unit_tests/operations/layernorm/test_layernorm.py
  tests/ttnn/unit_tests/operations/layernorm/test_stage_affine.py
  tests/ttnn/unit_tests/operations/layernorm/test_stage_data_pipeline.py
  tests/ttnn/unit_tests/operations/layernorm/test_stage_normalize.py
  tests/ttnn/unit_tests/operations/layernorm/test_stage_subtract_mean.py
  ttnn/ttnn/operations/layernorm/kernels/layernorm_reader.cpp
  ttnn/ttnn/operations/layernorm/kernels/layernorm_writer.cpp
  ttnn/ttnn/operations/layernorm/layernorm_program_descriptor.py
Due: block-ttnn-pybind-changes
