Repository tenstorrent/tt-metal: changes, and which pre-commit hooks are due for each by the changed paths.
All: block-ttnn-pybind-changes, detect-legacy-device-op, validate-golden-csv-columns

block-ttnn-pybind-changes:
  name: Prevent edits to frozen pybind11 sources under ttnn
  entry: python3 scripts/block_ttnn_pybind_changes.py
  language: system
  pass_filenames: true

detect-legacy-device-op:
  name: Detect legacy device operation classes in newly added files
  entry: python3 scripts/detect_legacy_device_op.py --check-new-only
  language: system
  pass_filenames: true
  require_serial: true

validate-golden-csv-columns:
  name: Validate golden bandwidth CSV column headers
  entry: bash .github/scripts/utils/validate_golden_csv_columns.sh
  language: system
  pass_filenames: false

tt_dit SDPA recipes: model recipe and smoke tests
  models/tt_dit/tests/unit/sdpa_legacy.py
  models/tt_dit/tests/unit/test_blocks_attention_sdpa_recipe.py
  models/tt_dit/tests/unit/test_flux2_attention_sdpa_recipe.py
  models/tt_dit/tests/unit/test_ideogram4_sdpa_recipe.py
  models/tt_dit/tests/unit/test_ltx_sdpa_recipe.py
  models/tt_dit/tests/unit/test_minimax_h3_sdpa_recipe.py
  models/tt_dit/tests/unit/test_mochi_attention_sdpa_recipe.py
  models/tt_dit/tests/unit/test_sd35_sdpa_recipe.py
  models/tt_dit/tests/unit/test_sdpa_dit_recipe_defaults.py
  models/tt_dit/tests/unit/test_sdpa_recipe_helpers.py
  models/tt_dit/tests/unit/test_sdpa_recipe_model_smoke_d64.py
  models/tt_dit/tests/unit/test_sdpa_recipe_model_smoke_flux.py
  models/tt_dit/tests/unit/test_sdpa_recipe_model_smoke_ideogram4.py
  models/tt_dit/tests/unit/test_sdpa_recipe_model_smoke_ltx_audio.py
  models/tt_dit/tests/unit/test_sdpa_recipe_model_smoke_minimax.py
  models/tt_dit/tests/unit/test_sdpa_recipe_model_smoke_video.py
  models/tt_dit/tests/unit/test_wan_attention_sdpa_kwargs.py
Due: none

SDPA: legacy validation rejects zero chunk sizes
  tests/ttnn/unit_tests/operations/sdpa/test_sdpa_prefill.py
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/exp_ring_joint_sdpa_device_operation.cpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/joint_sdpa_device_operation.cpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/ring_distributed_sdpa_device_operation.cpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/ring_joint_sdpa_device_operation.cpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/sdpa_device_operation.cpp
Due: block-ttnn-pybind-changes

Ring/exp ring SDPA recipes: nightly tests, CI job and tech report section
  tech_reports/FlashAttention/SDPAPrecisionRecipes.md
  tests/nightly/blackhole/sdpa/test_exp_ring_joint_sdpa_recipes.py
  tests/nightly/blackhole/sdpa/test_ring_joint_sdpa_recipes.py
  tests/pipeline_reorg/blackhole_e2e_tests.yaml
  tests/pipeline_reorg/blackhole_multi_card_sanity_tests.yaml
Due: none

Validate RMSNorm tensor contracts
  tt-train/sources/ttml/metal/ops/rmsnorm_bw/device/rmsnorm_bw_device_operation.cpp
  tt-train/sources/ttml/metal/ops/rmsnorm_fw/device/rmsnorm_fw_device_operation.cpp
  tt-train/tests/ops/rmsnorm_op_test.cpp
Due: none

[LLK] Skip TensixComputePackUntilizeDstTinyTile on Quasar
  tests/tt_metal/tt_metal/llk/test_untilize_tilize.cpp
Due: none

minimal_matmul: Quasar uplift of the Metal 2.0 port
  ttnn/cpp/ttnn/operations/experimental/minimal_matmul/device/kernels/compute_metal2.cpp
  ttnn/cpp/ttnn/operations/experimental/minimal_matmul/device/minimal_matmul_device_operation.cpp
  ttnn/cpp/ttnn/operations/experimental/minimal_matmul/device/minimal_matmul_program_descriptor.cpp
Due: block-ttnn-pybind-changes

[Feature] [Quasar] binary_ng: borrow L1-sharded operands on the native factory (#58221)
  tests/ttnn/nightly/unit_tests/operations/experimental/quasar/binary_ng_quasar_test_utils.py
  tests/ttnn/nightly/unit_tests/operations/experimental/quasar/test_binary_ng_no_bcast.py
  tests/ttnn/nightly/unit_tests/operations/experimental/quasar/test_binary_ng_quasar_native.py
  tests/ttnn/nightly/unit_tests/operations/experimental/quasar/test_binary_ng_resnet_add.py
  ttnn/cpp/ttnn/operations/experimental/quasar/binary_ng/device/binary_ng_device_operation.cpp
  ttnn/cpp/ttnn/operations/experimental/quasar/binary_ng/device/binary_ng_metal_v2_factory.cpp
  ttnn/cpp/ttnn/operations/experimental/quasar/binary_ng/device/binary_ng_quasar_native_factory.cpp
  ttnn/cpp/ttnn/operations/experimental/quasar/binary_ng/device/binary_ng_utils.cpp
  ttnn/cpp/ttnn/operations/experimental/quasar/binary_ng/device/binary_ng_utils.hpp
  ttnn/cpp/ttnn/operations/experimental/quasar/binary_ng/device/kernels_qsr/compute/eltwise_binary_no_bcast_dfb.cpp
  ttnn/cpp/ttnn/operations/experimental/quasar/binary_ng/device/kernels_qsr/dataflow/reader_no_bcast_dfb.cpp
  ttnn/cpp/ttnn/operations/experimental/quasar/binary_ng/device/kernels_qsr/dataflow/writer_no_bcast_dfb.cpp
  ttnn/cpp/ttnn/operations/experimental/quasar/binary_ng/docs/QUASAR_NATIVE_DESIGN.md
  ttnn/cpp/ttnn/operations/experimental/quasar/binary_ng/docs/QUASAR_NATIVE_RESEARCH.md
  ttnn/cpp/ttnn/operations/experimental/quasar/binary_ng/docs/QUASAR_NATIVE_STATUS.md
Due: block-ttnn-pybind-changes, detect-legacy-device-op

jit_build: per-kernel opt-out of the SFPI replay optimization (#58433)
  tests/tt_metal/tt_metal/jit_build/sources.cmake
  tests/tt_metal/tt_metal/jit_build/test_sfpu_replay_opt_out.cpp
  tt_metal/api/tt-metalium/kernel_types.hpp
  tt_metal/api/tt-metalium/program_descriptors.hpp
  tt_metal/impl/kernels/kernel.cpp
  tt_metal/impl/kernels/kernel.hpp
  tt_metal/impl/program/program.cpp
  tt_metal/jit_build/build.cpp
  tt_metal/jit_build/build.hpp
  tt_metal/jit_build/jit_build_settings.hpp
  ttnn/cpp/ttnn-nanobind/program_descriptors.cpp
Due: block-ttnn-pybind-changes

SDPA recipes: dense and joint recipe kernels (FAST, STANDARD, BALANCED, ACCURATE, LOW_PRECISION)
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/kernels/compute/compute_streaming.hpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/kernels/compute/prepare_bfp4.cpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/kernels/compute/prepare_significand.cpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/kernels/compute/sdpa_recipe.cpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/kernels/compute/streaming/compensated_group.hpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/kernels/compute/streaming/compensated_sfpu.hpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/kernels/compute/streaming/fp32_state.hpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/kernels/compute/streaming/fp32_state_sfpu.hpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/kernels/compute/streaming/lofi_scaling.hpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/kernels/compute/streaming/recipe_sfpu.hpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/kernels/compute/streaming/recipe_streaming.hpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/kernels/compute/streaming/recipe_tail.hpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/kernels/compute/streaming/sdpa_cb_protocol.hpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/kernels/dataflow/reader_prepare.cpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/kernels/dataflow/reader_recipe.cpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/kernels/dataflow/sequence_accessor.hpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/kernels/dataflow/tile_padding.hpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/kernels/dataflow/writer_prepare.cpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/kernels/dataflow/writer_recipe.cpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

SDPA recipes: host dispatch, program construction and Python API
  ttnn/cpp/ttnn/operations/transformer/sdpa/sdpa.cpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/sdpa.hpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/sdpa_input_preparation.cpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/sdpa_nanobind.cpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/sdpa_precision_policy.hpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/sdpa_recipe.cpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/sdpa_recipe.hpp
  ttnn/cpp/ttnn/operations/transformer/sources.cmake
  ttnn/ttnn/__init__.py
  ttnn/ttnn/operations/transformer.py
Due: block-ttnn-pybind-changes, detect-legacy-device-op

SDPA recipes: tests
  tests/ttnn/unit_tests/gtests/sdpa/test_precision_policy.cpp
  tests/ttnn/unit_tests/gtests/sdpa/test_sequence_accessor.cpp
  tests/ttnn/unit_tests/gtests/sources.cmake
  tests/ttnn/unit_tests/operations/sdpa/test_sdpa_recipes.py
Due: none

SDPA recipes: op-selected blocking tests and tech report section
  tech_reports/FlashAttention/SDPAPrecisionRecipes.md
  tests/nightly/blackhole/sdpa/test_exp_ring_joint_sdpa_recipes.py
  tests/nightly/blackhole/sdpa/test_ring_joint_sdpa_recipes.py
  tests/ttnn/unit_tests/gtests/sdpa/test_recipe_blocking.cpp
  tests/ttnn/unit_tests/gtests/sources.cmake
  tests/ttnn/unit_tests/operations/sdpa/test_sdpa_recipes.py
Due: none

SDPA recipes: op-selected blocking
  ttnn/cpp/ttnn/operations/transformer/sdpa/sdpa.cpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/sdpa_recipe_blocking.cpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/sdpa_recipe_blocking.hpp
  ttnn/cpp/ttnn/operations/transformer/transformer_nanobind.cpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

SDPA recipes: compile STANDARD-LOW_PRECISION without the SFPI replay optimization (#58433)
  ttnn/cpp/ttnn/operations/transformer/sdpa/sdpa_recipe.cpp
Due: block-ttnn-pybind-changes

Ring/exp ring SDPA: recipe kernels on shared transport bodies
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/kernels/compute/exp_ring_joint_sdpa_recipe.cpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/kernels/compute/ring_joint_sdpa.cpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/kernels/compute/ring_joint_sdpa_recipe.cpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/kernels/compute/streaming/recipe_checkpoint.hpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/kernels/compute/streaming/recipe_ring.hpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/kernels/compute/streaming/recipe_streaming.hpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/kernels/compute/streaming/recipe_tail.hpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/kernels/dataflow/exp_ring_joint_reader.cpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/kernels/dataflow/exp_ring_joint_reader_impl.hpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/kernels/dataflow/exp_ring_joint_reader_recipe.cpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/kernels/dataflow/exp_ring_joint_writer.cpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/kernels/dataflow/exp_ring_joint_writer_impl.hpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/kernels/dataflow/exp_ring_joint_writer_recipe.cpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/kernels/dataflow/recipe_state_transfer.hpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/kernels/dataflow/ring_joint_reader.cpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/kernels/dataflow/ring_joint_reader_impl.hpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/kernels/dataflow/ring_joint_reader_recipe.cpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/kernels/dataflow/ring_joint_writer.cpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/kernels/dataflow/ring_joint_writer_impl.hpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/kernels/dataflow/ring_joint_writer_recipe.cpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/kernels/exp_ring_recipe_cbs.hpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/kernels/recipe_state_layout.hpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

tech_reports: SDPA precision recipes
  tech_reports/FlashAttention/SDPAPrecisionRecipes.md
Due: none

tt_dit: select an SDPA recipe for every DiT attention on Blackhole
  models/tt_dit/blocks/attention.py
  models/tt_dit/blocks/attention_opt.py
  models/tt_dit/blocks/transformer_block.py
  models/tt_dit/blocks/transformer_block_opt.py
  models/tt_dit/models/transformers/attention_mochi.py
  models/tt_dit/models/transformers/attention_sd35.py
  models/tt_dit/models/transformers/ltx/attention_ltx.py
  models/tt_dit/models/transformers/ltx/quant_config.py
  models/tt_dit/models/transformers/ltx/transformer_ltx.py
  models/tt_dit/models/transformers/minimax_h3/attention_minimax_h3.py
  models/tt_dit/models/transformers/minimax_h3/token_refiner_minimax_h3.py
  models/tt_dit/models/transformers/minimax_h3/transformer_block_minimax_h3.py
  models/tt_dit/models/transformers/minimax_h3/transformer_minimax_h3.py
  models/tt_dit/models/transformers/transformer_flux1.py
  models/tt_dit/models/transformers/transformer_flux2.py
  models/tt_dit/models/transformers/transformer_ideogram4.py
  models/tt_dit/models/transformers/transformer_mochi.py
  models/tt_dit/models/transformers/transformer_motif.py
  models/tt_dit/models/transformers/transformer_qwenimage.py
  models/tt_dit/models/transformers/transformer_sd35.py
  models/tt_dit/models/transformers/wan2_2/attention_wan.py
  models/tt_dit/models/transformers/wan2_2/transformer_wan.py
  models/tt_dit/models/vae/minimax_h3/decoder_minimax_h3.py
  models/tt_dit/models/vae/vae.py
  models/tt_dit/models/vae/vae_sd35.py
  models/tt_dit/models/vae/vae_wan2_1.py
  models/tt_dit/pipelines/flux1/pipeline_flux1.py
  models/tt_dit/pipelines/flux2/pipeline_flux2.py
  models/tt_dit/pipelines/ideogram4/pipeline_ideogram4.py
  models/tt_dit/pipelines/ltx/pipeline_ltx.py
  models/tt_dit/pipelines/ltx/pipeline_ltx_distilled.py
  models/tt_dit/pipelines/minimax_h3/pipeline_minimax_h3.py
  models/tt_dit/pipelines/mochi/pipeline_mochi.py
  models/tt_dit/pipelines/motif/pipeline_motif.py
  models/tt_dit/pipelines/qwenimage/pipeline_qwenimage.py
  models/tt_dit/pipelines/stable_diffusion_35_large/pipeline_stable_diffusion_35_large.py
  models/tt_dit/pipelines/wan/pipeline_wan.py
  models/tt_dit/pipelines/wan/quant_config.py
  models/tt_dit/utils/sdpa_recipe.py
Due: none

Ring/exp ring SDPA: recipe-owned program factories and API
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/exp_ring_joint_sdpa_device_operation.cpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/exp_ring_joint_sdpa_device_operation.hpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/exp_ring_joint_sdpa_device_operation_types.hpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/exp_ring_joint_sdpa_program_builder.hpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/exp_ring_joint_sdpa_program_factory.cpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/exp_ring_joint_sdpa_program_factory.hpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/exp_ring_joint_sdpa_recipe_program_factory.cpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/ring_joint_sdpa_device_operation.cpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/ring_joint_sdpa_device_operation.hpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/ring_joint_sdpa_device_operation_types.hpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/ring_joint_sdpa_program_builder.hpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/ring_joint_sdpa_program_factory.cpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/ring_joint_sdpa_program_factory.hpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/ring_joint_sdpa_recipe_program_factory.cpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/sdpa.cpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/sdpa.hpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/sdpa_nanobind.cpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/sdpa_recipe.cpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/sdpa_recipe.hpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/sdpa_recipe_blocking.cpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/sdpa_recipe_blocking.hpp
  ttnn/cpp/ttnn/operations/transformer/sources.cmake
Due: block-ttnn-pybind-changes, detect-legacy-device-op

SDPA recipes: reference-max FP32 state for STANDARD and LOW_PRECISION
  tech_reports/FlashAttention/SDPAPrecisionRecipes.md
  tests/ttnn/unit_tests/gtests/sdpa/test_precision_policy.cpp
  tests/ttnn/unit_tests/operations/sdpa/test_sdpa_recipes.py
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/kernels/compute/streaming/compensated_group.hpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/kernels/compute/streaming/compensated_sfpu.hpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/kernels/compute/streaming/recipe_sfpu.hpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/kernels/compute/streaming/recipe_streaming.hpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/sdpa_precision_policy.hpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/sdpa_recipe.cpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

SDPA recipes: remove unreachable odd-K fold variants
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/kernels/compute/streaming/compensated_group.hpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/kernels/compute/streaming/compensated_sfpu.hpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/kernels/compute/streaming/recipe_streaming.hpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

SDPA recipes: pad odd Q chunks of paired recipes; compile B-E at -O3
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/kernels/compute/sdpa_recipe.cpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/kernels/dataflow/reader_recipe.cpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/kernels/dataflow/writer_recipe.cpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/sdpa_recipe.cpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/sdpa_recipe.hpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

MiMo-V2 d_p perf: test_expert_counts (per-layer per-chip per-expert routing counts of a real prefill, read from the route plan)
  models/demos/mimo_v2_d_p/tests/perf/test_expert_counts.py
Due: none

[perf] Checkpoint selective GPT-OSS readback and FP32 assembly
  models/demos/gpt_oss/tt/model.py
  models/tt_transformers/tt/generator.py
  models/tt_transformers/tt/generator_vllm.py
Due: none

Support block-cyclic sliding Q that wraps a slab with a multi-hop halo
  tests/nightly/blackhole/sdpa/test_ring_joint_sdpa.py
  tests/ttnn/unit_tests/gtests/sdpa/test_sliding_window_work_plan.cpp
  ttnn/cpp/ttnn/operations/experimental/ccl/ring_attention_all_gather_async/device/kernels/ring_attention_all_gather_metadata.hpp
  ttnn/cpp/ttnn/operations/experimental/ccl/ring_attention_all_gather_async/device/kernels/ring_attention_neighbor_halo_writer.cpp
  ttnn/cpp/ttnn/operations/experimental/ccl/ring_attention_all_gather_async/device/ring_attention_all_gather_async_multi_core_with_workers_program_factory.cpp
  ttnn/cpp/ttnn/operations/experimental/ccl/ring_attention_all_gather_async/device/ring_attention_all_gather_async_multi_core_with_workers_program_factory.hpp
  ttnn/cpp/ttnn/operations/experimental/quasar/transformer/sdpa/device/kernels/compute/compute_streaming.hpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/kernels/compute/compute_streaming.hpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/kernels/dataflow/ring_joint_reader.cpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/kernels/sliding_window_work_plan.hpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/ring_joint_sdpa_device_operation.cpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/ring_joint_sdpa_program_factory.cpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/sliding_halo_layout.cpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/sliding_halo_layout.hpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

[Test Only]: Fix GDN misc tests timeout in Sanity -- define a simulator subset that fits the budget (#58679)
  tests/ttnn/unit_tests/operations/transformers/test_chunk_gated_delta_rule.py
  tests/ttnn/unit_tests/operations/transformers/test_chunk_gdn_fused.py
Due: none

Fix AdamW writable storage alias validation
  tt-train/sources/ttml/metal/optimizers/adamw/device/adamw_device_operation.cpp
  tt-train/tests/optimizers/adamw_test.cpp
Due: none

pi0_5 single-chip: openpi pi05_base download/convert script + p150a perf
  models/experimental/pi0_5/README.md
  models/experimental/pi0_5/weights/README.md
  models/experimental/pi0_5/weights/download_pi05_base.sh
Due: none

Fix moe ungroup status write alignment
  tt-train/sources/ttml/metal/ops/moe_ungroup/device/kernels/dataflow/moe_ungroup_reader.cpp
Due: none

emule: emulated devices skip the fast-dispatch workload preparation
  tt_metal/distributed/distributed.cpp
  tt_metal/distributed/mesh_workload.cpp
Due: none

emule: dispatch firmware setup skips emulated devices, as it does mock ones
  tt_metal/impl/device/firmware/dispatch_kernel_initializer.cpp
Due: none

emule: under fast dispatch, emulated devices get tt-emule's mesh command queue
  tt_metal/distributed/mesh_device.cpp
Due: none

emule: the descriptor builder classifies EthernetKernel as data movement with HAL's eth build defines
  tt_metal/impl/emulation/emule_descriptor_builder.cpp
Due: none

emule: host NOC multicast writes unicast each worker core on emulated devices
  tt_metal/llrt/tt_cluster.cpp
Due: none

emule: TT_METAL_EMULE_MODE no longer forces slow dispatch
  tt_metal/llrt/rtoptions.cpp
Due: none

emule: EventSynchronize / EventQuery on emulated devices ask tt-emule's queue
  tt_metal/distributed/distributed.cpp
Due: none

emule: the descriptor builder marshals each kernel group's remote CB config
  tt_metal/impl/emulation/emule_descriptor_builder.cpp
Due: none

emule: the descriptor builder passes PrefetcherPipe binding handles
  tt_metal/impl/emulation/emule_descriptor_builder.cpp
Due: none

Path conditions:
  block-ttnn-pybind-changes: any of: ^ttnn/
  detect-legacy-device-op: any of: ^ttnn/.*\.hpp$
  validate-golden-csv-columns: any of: ^tests/tt_metal/tt_metal/perf_microbenchmark/routing/golden/.*bandwidth.*\.csv$
