Repository tenstorrent/tt-metal: changes, and which pre-commit hooks are due for each by the changed paths.
All: block-ttnn-pybind-changes, detect-legacy-device-op, validate-golden-csv-columns

block-ttnn-pybind-changes:
  name: Prevent edits to frozen pybind11 sources under ttnn
  entry: python3 scripts/block_ttnn_pybind_changes.py
  language: system
  pass_filenames: true

detect-legacy-device-op:
  name: Detect legacy device operation classes in newly added files
  entry: python3 scripts/detect_legacy_device_op.py --check-new-only
  language: system
  pass_filenames: true
  require_serial: true

validate-golden-csv-columns:
  name: Validate golden bandwidth CSV column headers
  entry: bash .github/scripts/utils/validate_golden_csv_columns.sh
  language: system
  pass_filenames: false

test file added
  tests/ttnn/nightly/unit_tests/operations/fused/test_layernorm_welford_fp32.py
  tests/ttnn/unit_tests/operations/fused/test_group_norm_welford_fp32.py
  tests/ttnn/unit_tests/operations/fused/test_layernorm_welford_fp32.py
Due: none

Amplify recall directive in LLK review system prompt
  .github/workflows/llk-perf.yaml
Due: none

Revert "revertme: only test workflow trigger"
  .github/workflows/package-and-release.yaml
  .github/workflows/release-verify-or-create-tag.yaml
Due: none

Apply copilot suggestion
  models/demos/deepseek_v3_d_p/tt/runners/prefill_runner.py
Due: none

Phase 4a implementation
  tests/tt_metal/tt_metal/perf_microbenchmark/dispatch/common.h
  tests/tt_metal/tt_metal/perf_microbenchmark/dispatch/test_dispatcher.cpp
  tests/tt_metal/tt_metal/perf_microbenchmark/dispatch/test_prefetcher.cpp
  tt_metal/api/internal/dispatch/dispatch_engine_cores.hpp
  tt_metal/llrt/dispatch_engine_cores.cpp
Due: none

minimax_m3 prefill: route MSA branch to the deployed sharded SP path
  models/demos/minimax_m3/tt/attention/prefill.py
Due: none

Bug Fix: Correct reduce scatter M non-determinism (#47831)
  tests/ttnn/unit_tests/operations/ccl/blackhole_CI/box/nightly/test_reduce_scatter_batch_invariance_bh.py
  ttnn/cpp/ttnn/operations/experimental/ccl/reduce_scatter_common/kernels/common.hpp
  ttnn/cpp/ttnn/operations/experimental/ccl/reduce_scatter_minimal_async/device/kernels/ring_reduce_scatter_minimal_async_reader.cpp
  ttnn/cpp/ttnn/operations/experimental/ccl/reduce_scatter_minimal_async/device/kernels/ring_reduce_scatter_minimal_async_writer.cpp
  ttnn/cpp/ttnn/operations/experimental/ccl/reduce_scatter_minimal_async/device/kernels/ring_reduction.cpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

naming consis
  tt_metal/tt-llk/tests/python_tests/quasar/test_sfpu_exp_parallel_matmul_quasar.py
Due: none

additional formats
  tt_metal/tt-llk/tests/python_tests/quasar/test_sfpu_exp_parallel_matmul_quasar.py
Due: none

adding perf
  tt_metal/tt-llk/tests/helpers/include/perf.h
  tt_metal/tt-llk/tests/python_tests/conftest.py
  tt_metal/tt-llk/tests/python_tests/helpers/perf.py
  tt_metal/tt-llk/tests/python_tests/helpers/test_config.py
  tt_metal/tt-llk/tests/python_tests/quasar/test_sfpu_add_parallel_matmul_quasar.py
  tt_metal/tt-llk/tests/python_tests/quasar/test_sfpu_exp_parallel_matmul_quasar.py
  tt_metal/tt-llk/tests/sources/quasar/sfpu_add_parallel_matmul_quasar_test.cpp
  tt_metal/tt-llk/tests/sources/quasar/sfpu_exp_parallel_matmul_quasar_test.cpp
Due: none

Remove skip_for_BH and add op tests to L2 tests pipeline
  models/common/tests/modules/moe/test_tt_moe_gate.py
  tests/pipeline_reorg/models_unit_tests.yaml
Due: none

SFPU in parallel with FPU (#47284)
  tt_metal/tt-llk/tests/python_tests/helpers/stimuli_config.py
  tt_metal/tt-llk/tests/python_tests/quasar/test_sfpu_exp_parallel_matmul_quasar.py
  tt_metal/tt-llk/tests/sources/quasar/sfpu_exp_parallel_matmul_quasar_test.cpp
Due: none

Update test pipeline
  tests/pipeline_reorg/models_unit_tests.yaml
Due: none

Remove unnecessary reading of weights tensor in dispatch and writing unnecessary values to metadata
  models/demos/deepseek_v3_d_p/reference/tt/moe/dispatch.py
  models/demos/deepseek_v3_d_p/tests/op_unit_tests/test_dispatch_combine_l1_small_semaphores.py
  models/demos/deepseek_v3_d_p/tt/moe/init_helpers.py
  models/demos/deepseek_v3_d_p/tt/moe/tt_combine.py
  models/demos/deepseek_v3_d_p/tt/moe/tt_dispatch.py
  models/demos/deepseek_v3_d_p/tt/moe/validation_helpers.py
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/combine/combine_nanobind.cpp
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/dispatch/device/dispatch_device_operation.cpp
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/dispatch/device/dispatch_device_operation.hpp
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/dispatch/device/dispatch_program_factory.cpp
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/dispatch/device/dispatch_types.hpp
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/dispatch/device/kernels/dataflow/reader_dispatch.cpp
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/dispatch/device/kernels/dataflow/reader_untilize_dispatch.cpp
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/dispatch/device/kernels/dataflow/writer_dispatch.cpp
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/dispatch/device/kernels/dataflow/writer_untilize_dispatch.cpp
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/dispatch/dispatch.cpp
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/dispatch/dispatch.hpp
  ttnn/cpp/ttnn/operations/experimental/deepseek_prefill/dispatch/dispatch_nanobind.cpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

Fork LLK review into a custom recall-oriented procedure
  .github/llk-review/review-procedure.md
  .github/workflows/llk-perf.yaml
Due: none

[Feature] Add git repo url and commit hash to database (#43830)
  tests/ttnn/unit_tests/base_functionality/test_graph_report.py
  ttnn/ttnn/graph_report.py
Due: block-ttnn-pybind-changes

Falcon-40B tests: fix transformers 5.x silent weight-load failure (#47924) via upstream state_dict copy
  models/demos/t3000/falcon40b/tests/test_falcon_attention.py
  models/demos/t3000/falcon40b/tests/test_falcon_causallm.py
  models/demos/t3000/falcon40b/tests/test_falcon_decoder.py
  models/demos/t3000/falcon40b/tests/test_falcon_end_to_end.py
  models/demos/t3000/falcon40b/tests/test_falcon_mlp.py
  models/demos/t3000/falcon40b/tests/test_falcon_model.py
  models/demos/t3000/falcon40b/tests/test_falcon_prefill_determinism.py
  models/demos/t3000/falcon40b/tests/test_perf_falcon.py
  models/demos/t3000/falcon40b/tests/test_utils.py
  models/demos/t3000/falcon40b/tests/unit_tests/layernorm/test_falcon_layernorm.py
  models/demos/t3000/falcon40b/tests/unit_tests/layernorm/test_fused_falcon_layernorm.py
Due: none

[Metal 2.0] Back run-arg Tables with a small-vector (#48060)
  tt_metal/api/tt-metalium/experimental/metal2_host_api/utility/table.hpp
Due: none

test: wire code_debug InfiniteBench subset into kimi prefill e2e
  models/demos/deepseek_v3_d_p/tests/test_prefill_transformer.py
  models/demos/deepseek_v3_d_p/utils/transformer_helpers.py
Due: none

Remove skip_for_BH
  models/common/modules/moe/tt_moe_gate.py
Due: none

ring_mla reduce_trigger: factor mask/overlap predicates into named helpers
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/kernels/compute/compute_streaming.hpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

fix: softmax attention scale+mask — cb_scale_mask must be read per-block (Chunked), not Bulk
  ttnn/cpp/ttnn/operations/normalization/softmax/device/kernels/attention/compute/softmax.cpp
Due: block-ttnn-pybind-changes

Add issue number.
  tests/ttnn/unit_tests/operations/fused/test_layer_norm.py
Due: none

Feature: Quasar SFPU Compute API for Gelu (#47860)
  tests/tt_metal/tt_metal/llk/test_sfpu_compute.cpp
  tt_metal/hw/ckernels/quasar/metal/llk_api/llk_sfpu/ckernel_sfpu_gelu.h
  tt_metal/hw/inc/api/compute/eltwise_unary/gelu.h
  tt_metal/tt-llk/tests/helpers/include/sfpu_operations_quasar.h
  tt_metal/tt-llk/tt_llk_quasar/common/inc/experimental/ckernel_sfpu_swiglu.h
  tt_metal/tt-llk/tt_llk_quasar/common/inc/sfpu/ckernel_sfpu_gelu.h
Due: none

tilize/to_layout: support FP8_E4M3 input (-> any float TILE format)
  tests/ttnn/unit_tests/base_functionality/test_to_layout.py
  tests/ttnn/unit_tests/operations/data_movement/test_tilize.py
  ttnn/cpp/ttnn/operations/core/to_layout/to_layout_op.cpp
  ttnn/cpp/ttnn/operations/data_movement/tilize/device/tilize_device_operation.cpp
  ttnn/cpp/ttnn/operations/data_movement/tilize_with_val_padding/device/factories/tilize_with_val_padding_factory_helper.cpp
  ttnn/cpp/ttnn/operations/data_movement/tilize_with_val_padding/device/kernels/dataflow/reader_unary_pad_dims_split_rows_multicore.cpp
  ttnn/cpp/ttnn/operations/data_movement/tilize_with_val_padding/device/tilize_with_val_padding_device_operation.cpp
Due: block-ttnn-pybind-changes

[experiment] Migrate quasar transpose to ProgramSpecFactoryConcept
  ttnn/cpp/ttnn/operations/experimental/quasar/transpose/device/transpose_cn_program_factory.cpp
  ttnn/cpp/ttnn/operations/experimental/quasar/transpose/device/transpose_cn_program_factory.hpp
  ttnn/cpp/ttnn/operations/experimental/quasar/transpose/device/transpose_device_operation.hpp
  ttnn/cpp/ttnn/operations/experimental/quasar/transpose/device/transpose_hc_rm_program_factory.cpp
  ttnn/cpp/ttnn/operations/experimental/quasar/transpose/device/transpose_hc_rm_program_factory.hpp
  ttnn/cpp/ttnn/operations/experimental/quasar/transpose/device/transpose_hc_sharded_program_factory.cpp
  ttnn/cpp/ttnn/operations/experimental/quasar/transpose/device/transpose_hc_sharded_program_factory.hpp
  ttnn/cpp/ttnn/operations/experimental/quasar/transpose/device/transpose_hc_tiled_interleaved_program_factory.cpp
  ttnn/cpp/ttnn/operations/experimental/quasar/transpose/device/transpose_hc_tiled_interleaved_program_factory.hpp
  ttnn/cpp/ttnn/operations/experimental/quasar/transpose/device/transpose_wh_program_factory.cpp
  ttnn/cpp/ttnn/operations/experimental/quasar/transpose/device/transpose_wh_program_factory.hpp
  ttnn/cpp/ttnn/operations/experimental/quasar/transpose/device/transpose_wh_sharded_program_factory.cpp
  ttnn/cpp/ttnn/operations/experimental/quasar/transpose/device/transpose_wh_sharded_program_factory.hpp
  ttnn/cpp/ttnn/operations/experimental/quasar/transpose/device/transpose_wh_sharded_rm_program_factory.cpp
  ttnn/cpp/ttnn/operations/experimental/quasar/transpose/device/transpose_wh_sharded_rm_program_factory.hpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

chore(diffusion_gemma): exclude internal bringup notes from PR
  models/experimental/diffusion_gemma/AGENTS.md
  models/experimental/diffusion_gemma/STATUS.md
  models/experimental/diffusion_gemma/plan.md
Due: none

[minimal_matmul] block sweep + 32-submesh parallel sweep (galaxy)
  tools/mm_sweep/block_sweep.py
  tools/mm_sweep/block_sweep_mesh.py
Due: none

ci: move blackhole sdxl test from bh-demos to shield-sdxl in L2 nightly
  .github/time_budget.yaml
  .github/workflows/blackhole-demo-tests.yaml
  tests/pipeline_reorg/blackhole_demo_tests.yaml
  tests/pipeline_reorg/shield_sdxl_tests.yaml
Due: none

test(diffusion_gemma): keep QB2 baseline out of gemma4 thresholds
  models/demos/gemma4/tests/pcc_thresholds.json
Due: none

[tt-emule] Fix sharded layernorm JIT compile under x86 clang (#47828)
  tt_metal/impl/emulation/emulated_program_runner.cpp
Due: none

[experiment] launcher: guard generic mesh path with else for spec ops
  ttnn/api/ttnn/device_operation.hpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

test(diffusion_gemma): xfail known QB2 backbone PCC gap
  models/experimental/diffusion_gemma/tests/test_device_backbone_pcc.py
Due: none

Add 16bit transpose dest test
  tests/tt_metal/tt_metal/llk/test_transpose.cpp
Due: none

[Metal 2.0] Back run-arg Tables with a small-vector
  tt_metal/api/tt-metalium/experimental/metal2_host_api/utility/table.hpp
Due: none

[Metal 2.0] Inline RtaName key for runtime-arg names
  tests/tt_metal/tt_metal/data_movement/dram_sharded/test_dram_sharded.cpp
  tests/tt_metal/tt_metal/llk/test_reduce.cpp
  tt_metal/api/tt-metalium/experimental/metal2_host_api/advanced_options.hpp
  tt_metal/api/tt-metalium/experimental/metal2_host_api/kernel_spec.hpp
  tt_metal/api/tt-metalium/experimental/metal2_host_api/program_run_args.hpp
  tt_metal/api/tt-metalium/experimental/metal2_host_api/runtime_arg_name.hpp
  tt_metal/impl/metal2_host_api/program_run_args.cpp
  tt_metal/impl/metal2_host_api/program_spec.cpp
  tt_metal/impl/program/program_impl.hpp
  ttnn/cpp/ttnn/operations/experimental/quasar/move/device/move_overlap_program_factory.cpp
Due: block-ttnn-pybind-changes

docs(metal2): DM self-loop DFBs don't lower -- fork the sync-free/single-ended workaround by kernel type
  docs/source/tt-metalium/tt_metal/apis/host_apis/metal_2.0/metal2_port_patterns.md
  docs/source/tt-metalium/tt_metal/apis/host_apis/metal_2.0/port_op_to_metal2_audit.md
  docs/source/tt-metalium/tt_metal/apis/host_apis/metal_2.0/port_op_to_metal2_recipe.md
Due: none

test(diffusion_gemma): use expect_error fixture in tests
  models/experimental/diffusion_gemma/tests/conftest.py
  models/experimental/diffusion_gemma/tests/test_attention_mask.py
  models/experimental/diffusion_gemma/tests/test_device_entropy_harness.py
  models/experimental/diffusion_gemma/tests/test_hf_reference.py
  models/experimental/diffusion_gemma/tests/test_self_conditioning.py
  models/experimental/diffusion_gemma/tests/test_trajectory_pcc.py
Due: none

[Bug fix] Batched prefill disabled for Llama 3.1 8B on P150 (#47945)
  models/tt_transformers/tt/model_config.py
Due: none

Path conditions:
  block-ttnn-pybind-changes: any of: ^ttnn/
  detect-legacy-device-op: any of: ^ttnn/.*\.hpp$
  validate-golden-csv-columns: any of: ^tests/tt_metal/tt_metal/perf_microbenchmark/routing/golden/.*bandwidth.*\.csv$
