Repository tenstorrent/tt-metal: changes, and which pre-commit hooks are due for each by the changed paths.
All: block-ttnn-pybind-changes, detect-legacy-device-op, validate-golden-csv-columns

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v3.2.0
  hooks:
    - id: trailing-whitespace
      exclude: \.patch$
    - id: end-of-file-fixer
      exclude: \.patch$
    - id: check-yaml
      args: ["--unsafe"]
    - id: check-added-large-files
# Using this mirror lets us use mypyc-compiled black, which is about 2x faster
- repo: https://github.com/psf/black-pre-commit-mirror
  rev: 23.10.1
  hooks:
    - id: black
      language_version: python3
- repo: https://github.com/PyCQA/autoflake
  rev: v2.3.1
  hooks:
    - id: autoflake
      args: [--remove-all-unused-imports, --in-place, --recursive, --exclude=__init__.py]
      files: ^models/  # Run only on files in the models directory
- repo: https://github.com/pycqa/isort
  rev: 5.13.2
  hooks:
    - id: isort
      files: ^models/
      exclude: ^models/(demos/llama3_70b_galaxy|experimental)/
- repo: https://github.com/BlankSpruce/gersemi
  rev: 0.16.2
  hooks:
    - id: gersemi
- repo: https://github.com/adrienverge/yamllint.git
  rev: v1.35.1
  hooks:
    - id: yamllint
- repo: https://github.com/pre-commit/mirrors-clang-format
  rev: v19.1.4
  hooks:
    - id: clang-format
      entry: git-clang-format
      require_serial: true
      types_or: [c++, c]
      args: ["--style=file"]
- repo: local
  hooks:
    - id: validate-metalium-includes
      name: validate-metalium-includes
      entry: python3 scripts/validate_api/validate_includes.py tt_metal/api --check-ttnn-forwards
      language: system
      pass_filenames: false
    - id: validate-metalium-deprecation
      name: validate-metalium-deprecation
      entry: python3 scripts/validate_api/validate_deprecation.py tt_metal/api origin/main
      language: system
      pass_filenames: false
- repo: local
  hooks:
    - id: check-torch-imports-in-ttnn
      name: Verify that there is no global torch import in ttnn
      entry: python3 scripts/validate_no_global_torch_imports.py
      language: system
      pass_filenames: false
- repo: local
  hooks:
    - id: block-ttnn-pybind-changes
      name: Prevent edits to frozen pybind11 sources under ttnn
      entry: python3 scripts/block_ttnn_pybind_changes.py
      language: system
      pass_filenames: true
      files: ^ttnn/
- repo: local
  hooks:
    - id: convert-notebooks-to-py
      name: Convert .ipynb to .py for ttnn basic examples
      entry: python3 scripts/convert_notebooks_to_python.py
      language: system
- repo: local
  hooks:
    - id: detect-legacy-device-op
      name: Detect legacy device operation classes in newly added files
      entry: python3 scripts/detect_legacy_device_op.py --check-new-only
      language: system
      types: [file]
      files: ^ttnn/.*\.hpp$
      pass_filenames: true
      require_serial: true
- repo: local
  hooks:
    - id: validate-golden-csv-columns
      name: Validate golden bandwidth CSV column headers
      entry: bash .github/scripts/utils/validate_golden_csv_columns.sh
      language: system
      pass_filenames: false
      files: ^tests/tt_metal/tt_metal/perf_microbenchmark/routing/golden/.*bandwidth.*\.csv$

Simplify rotated-Q schedule construction and update Galaxy MLA baseline
  tests/nightly/blackhole/sdpa/test_ring_joint_sdpa.py
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/ring_joint_sdpa_program_factory.cpp
Due: block-ttnn-pybind-changes

Extract ring SDPA rotated Q scheduling into a host helper
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/ring_joint_sdpa_program_factory.cpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/ring_joint_sdpa_schedule.hpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

Remove separate-V rotated-Q opt-in and unused chain rebuild
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/ring_joint_sdpa_program_factory.cpp
Due: block-ttnn-pybind-changes

Add GQA rotated-Q accuracy and performance coverage
  tests/nightly/blackhole/sdpa/test_ring_joint_sdpa.py
Due: none

Support balanced Q-pair rotation in ring SDPA
  tests/nightly/blackhole/sdpa/test_ring_joint_sdpa.py
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/kernels/dataflow/ring_joint_reader.cpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/kernels/dataflow/ring_joint_writer.cpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/ring_joint_sdpa_program_factory.cpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/ring_joint_sdpa_schedule.hpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

Key the lockstep-group check on a field only the mcast pass writes
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/ring_joint_sdpa_program_factory.cpp
Due: block-ttnn-pybind-changes

Preserve out-of-order ring SDPA handoff signals
  tests/nightly/blackhole/sdpa/test_ring_joint_sdpa.py
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/kernels/dataflow/chunked_prefill_utils.hpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/kernels/dataflow/ring_joint_writer.cpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/ring_joint_sdpa_program_factory.cpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

Bind the rotated Q split to the live mcast family instead of to grid rows
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/kernels/dataflow/chunked_prefill_utils.hpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/kernels/dataflow/ring_joint_reader.cpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/ring_joint_sdpa_program_factory.cpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

Simplify rotated-Q eligibility checks and comments
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/ring_joint_sdpa_program_factory.cpp
Due: block-ttnn-pybind-changes

Address rotated-Q review: preserve static splits and add MLA regressions
  tests/nightly/blackhole/sdpa/test_ring_joint_sdpa.py
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/ring_joint_sdpa_program_factory.cpp
Due: block-ttnn-pybind-changes

Compact ring SDPA schedules within the runtime-argument budget
  tests/nightly/blackhole/sdpa/test_ring_joint_sdpa.py
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/kernels/compute/compute_streaming.hpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/kernels/compute/ring_joint_sdpa.cpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/kernels/dataflow/chunked_prefill_utils.hpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/kernels/dataflow/ring_joint_reader.cpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/kernels/dataflow/ring_joint_writer.cpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/ring_joint_sdpa_program_factory.cpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/ring_joint_sdpa_schedule.hpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

fixup! fixup! fixup! fixup! fixup! fixup! [LLK][Quasar] 4-row arch support via a single parameterised LLK source
  tt_metal/tt-llk/tests/python_tests/helpers/chip_architecture.py
  tt_metal/tt-llk/tests/python_tests/helpers/data_format_inference.py
  tt_metal/tt-llk/tests/python_tests/quasar/perf_reduce_quasar.py
  tt_metal/tt-llk/tests/python_tests/quasar/test_eltwise_binary_broadcast_quasar.py
  tt_metal/tt-llk/tests/python_tests/quasar/test_eltwise_binary_quasar.py
  tt_metal/tt-llk/tests/python_tests/quasar/test_eltwise_binary_reuse_dest_quasar.py
  tt_metal/tt-llk/tests/python_tests/quasar/test_eltwise_unary_datacopy_quasar.py
  tt_metal/tt-llk/tests/python_tests/quasar/test_isolate_sfpu_add_quasar.py
  tt_metal/tt-llk/tests/python_tests/quasar/test_isolate_sfpu_square_quasar.py
  tt_metal/tt-llk/tests/python_tests/quasar/test_matmul_custom_no_mop_quasar.py
  tt_metal/tt-llk/tests/python_tests/quasar/test_matmul_quasar.py
  tt_metal/tt-llk/tests/python_tests/quasar/test_pack_l1_acc_quasar.py
  tt_metal/tt-llk/tests/python_tests/quasar/test_pack_quasar.py
  tt_metal/tt-llk/tests/python_tests/quasar/test_pack_untilize_quasar.py
  tt_metal/tt-llk/tests/python_tests/quasar/test_reduce_quasar.py
  tt_metal/tt-llk/tests/python_tests/quasar/test_semaphore_sync_quasar.py
  tt_metal/tt-llk/tests/python_tests/quasar/test_sfpu_add_parallel_matmul_quasar.py
  tt_metal/tt-llk/tests/python_tests/quasar/test_transpose_dest_quasar.py
  tt_metal/tt-llk/tests/python_tests/quasar/test_unary_broadcast_quasar.py
  tt_metal/tt-llk/tests/python_tests/quasar/test_unpack_tilize_quasar.py
  tt_metal/tt-llk/tests/python_tests/quasar/test_unpack_unary_operand_quasar.py
  tt_metal/tt-llk/tt_llk_quasar/common/inc/ckernel_arch_config.h
  tt_metal/tt-llk/tt_llk_quasar/llk_lib/experimental/llk_math_matmul_custom_no_mop.h
  tt_metal/tt-llk/tt_llk_quasar/llk_lib/llk_math_matmul.h
Due: none

[ernie45_d_p][P2.3] RMSNorm on device
  models/demos/ernie45_d_p/bringup/results/P2.3.json
  models/demos/ernie45_d_p/bringup/state.json
  models/demos/ernie45_d_p/tests/conftest.py
  models/demos/ernie45_d_p/tests/pcc/__init__.py
  models/demos/ernie45_d_p/tests/pcc/test_embedding.py
  models/demos/ernie45_d_p/tests/pcc/test_rms_norm.py
  models/demos/ernie45_d_p/tt/attention.py
  models/demos/ernie45_d_p/tt/common.py
  models/demos/ernie45_d_p/tt/embedding.py
  models/demos/ernie45_d_p/tt/moe.py
  models/demos/ernie45_d_p/tt/ops.py
Due: none

[ernie45_d_p][P2.4] Embedding on device (vocab-sharded or replicated)
  models/demos/ernie45_d_p/bringup/results/P2.4.json
  models/demos/ernie45_d_p/bringup/state.json
Due: none

[ernie45_d_p][P2.5] Interleaved RoPE with chunk position offset
  models/demos/ernie45_d_p/bringup/results/P2.5.json
  models/demos/ernie45_d_p/bringup/state.json
  models/demos/ernie45_d_p/tests/pcc/test_attention.py
  models/demos/ernie45_d_p/tests/pcc/test_rope.py
Due: none

[ernie45_d_p][P2.6] Attention (QKV, RoPE, chunked causal SDPA, KV write, O proj) 2k->2k
  models/demos/ernie45_d_p/bringup/results/P2.6.json
  models/demos/ernie45_d_p/bringup/state.json
  models/demos/ernie45_d_p/tt/attention.py
Due: none

[ernie45_d_p][P1.5] Golden dump 8k->8k (16384 tokens), full per-layer intermediates
  models/demos/ernie45_d_p/bringup/results/P1.5.json
  models/demos/ernie45_d_p/bringup/state.json
Due: none

[ernie45_d_p][P2.7] Dense SwiGLU MLP (layer 0) and shared experts
  models/demos/ernie45_d_p/bringup/results/P2.7.json
  models/demos/ernie45_d_p/bringup/state.json
  models/demos/ernie45_d_p/tests/pcc/test_mlp.py
  models/demos/ernie45_d_p/tests/pcc/test_moe.py
  models/demos/ernie45_d_p/tests/pcc/test_router.py
Due: none

MiniMax-H3: spread the adaLN table gathers over every DRAM bank (-7.7 ms per block on Wormhole)
  models/tt_dit/models/transformers/minimax_h3/transformer_block_minimax_h3.py
  models/tt_dit/models/transformers/minimax_h3/transformer_minimax_h3.py
Due: none

[ernie45_d_p][P2.8] MoE router (softmax, bias-corrected top-6, renorm)
  models/demos/ernie45_d_p/bringup/results/P2.8.json
  models/demos/ernie45_d_p/bringup/state.json
  models/demos/ernie45_d_p/tt/moe.py
Due: none

MiniMax-H3 Wormhole: record the adaLN gather DRAM-bank hotspot and its fix in the README
  models/tt_dit/models/minimax_h3_wormhole/README.md
Due: none

[Test Only] Keep compute semaphore negative controls under the hardware Max
  tests/tt_metal/tt_metal/api/metal2_host_api/test_program_spec_hw.cpp
  tests/tt_metal/tt_metal/test_kernels/compute/test_compute_semaphore.cpp
Due: none

[trial] gate the SoL nightly run 35950198207
  .github/workflows/llk-perf.yaml
Due: none

[THROWAWAY] Synthetic +10% on TILE_LOOP L1_TO_L1
  tt_metal/tt-llk/tests/python_tests/helpers/perf/core.py
Due: none

[trial] non-SoL nightly: measure, then gate
  .github/workflows/llk-perf-nightly-gate.yaml
Due: none

[THROWAWAY] 32 real idle cycles per tile in the Wormhole datacopy
  tt_metal/tt-llk/tt_llk_wormhole_b0/llk_lib/llk_math_eltwise_unary_datacopy.h
Due: none

Fix dropout probability and RNG stream contracts
  tt-train/sources/ttml/ops/dropout_op.cpp
  tt-train/tests/ttnn_fixed/dropout_op_test.cpp
  tt_metal/hw/ckernels/blackhole/metal/llk_api/llk_sfpu/ckernel_sfpu_dropout.h
  tt_metal/hw/ckernels/wormhole_b0/metal/llk_api/llk_sfpu/ckernel_sfpu_dropout.h
  ttnn/cpp/ttnn/operations/experimental/dropout/device/dropout_device_operation_types.hpp
  ttnn/cpp/ttnn/operations/experimental/dropout/device/dropout_program_factory.cpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

device resident + trace
  models/experimental/chronos_forecast/README.md
  models/experimental/chronos_forecast/tests/pcc/test_modules.py
  models/experimental/chronos_forecast/tests/pcc/test_trace.py
  models/experimental/chronos_forecast/tests/perf/test_paper_forward_trace.py
  models/experimental/chronos_forecast/tt/trace_runner.py
Due: none

[ernie45_d_p][P2.9] MoE block (router + EP4 routed experts + shared experts)
  models/demos/ernie45_d_p/bringup/results/P2.9.json
  models/demos/ernie45_d_p/bringup/state.json
  models/demos/ernie45_d_p/tt/moe.py
Due: none

deepseek_v4_flash prefill M2a: mHC hyper-connections in ttnn (TtHyperConnection, TtHyperHead), fp32, PCC >= 0.99999
  models/demos/deepseek_v3_d_p/tests/pcc/test_ttnn_mhc.py
  models/demos/deepseek_v3_d_p/tests/v4/test_mhc_host.py
  models/demos/deepseek_v3_d_p/tt/v4/hyper_connection.py
  models/demos/deepseek_v3_d_p/tt/v4/mhc_math.py
Due: none

[ernie45_d_p][P2.10] Decoder blocks (layer 0 dense + a MoE layer), 2k->2k chunked
  models/demos/ernie45_d_p/bringup/results/P2.10.json
  models/demos/ernie45_d_p/bringup/state.json
  models/demos/ernie45_d_p/tests/pcc/test_decoder.py
  models/demos/ernie45_d_p/tt/attention.py
  models/demos/ernie45_d_p/tt/model.py
Due: none

[ttnn] Fix fp32 accumulation downgrades, OOB flag read, mixed-memory accessor and dropped dtype (moreh + reduction)
  ttnn/cpp/ttnn/operations/moreh/moreh_clip_grad_norm/moreh_clip_grad_norm_step3/device/moreh_clip_grad_norm_step3_device_operation.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_group_norm_backward/moreh_group_norm_backward.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_mean/device/moreh_mean_nc_program_factory.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_mean/device/moreh_mean_w_program_factory.cpp
  ttnn/cpp/ttnn/operations/reduction/accumulation/accumulation_common.cpp
Due: block-ttnn-pybind-changes

[ttnn/matmul] Fix loop-carried CB indices, per-core stride enumeration, and dead validation
  ttnn/cpp/ttnn/operations/experimental/ccl/llama_all_gather_matmul_async/device/llama_1d_mm_fusion.cpp
  ttnn/cpp/ttnn/operations/experimental/minimal_matmul/device/kernels/dm_in0_sender.cpp
  ttnn/cpp/ttnn/operations/experimental/minimal_matmul/device/kernels/dm_in1_sender_out.cpp
  ttnn/cpp/ttnn/operations/experimental/minimal_matmul/device/kernels/dm_in1_sender_out_metal2.cpp
  ttnn/cpp/ttnn/operations/experimental/quasar/matmul/device/factory/matmul_multicore_reuse_mcast_1d_program_factory.cpp
  ttnn/cpp/ttnn/operations/matmul/device/factory/matmul_multicore_reuse_mcast_1d_program_factory.cpp
  ttnn/cpp/ttnn/operations/matmul/device/factory/matmul_multicore_reuse_mcast_2d_program_factory.cpp
  ttnn/cpp/ttnn/operations/matmul/device/factory/matmul_multicore_reuse_mcast_2d_program_factory.hpp
  ttnn/cpp/ttnn/operations/matmul/device/factory/matmul_multicore_reuse_optimized_program_factory.cpp
  ttnn/cpp/ttnn/operations/matmul/device/matmul_device_operation.cpp
  ttnn/cpp/ttnn/operations/matmul/device/sparse/factory/sparse_matmul_multicore_reuse_mcast_1d_optimized.cpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

[ttnn] Fix 8 correctness/validation defects in SDPA, kv_cache, paged_cache and indexer_score
  ttnn/cpp/ttnn/operations/experimental/indexer_score/device/indexer_score_device_operation.cpp
  ttnn/cpp/ttnn/operations/experimental/paged_cache/device/kernels/dataflow/reader_update_cache_interleaved_start_id.cpp
  ttnn/cpp/ttnn/operations/experimental/paged_cache/device/kernels/dataflow/writer_update_cache_interleaved_start_id.cpp
  ttnn/cpp/ttnn/operations/experimental/paged_cache/device/update_cache/paged_update_cache_device_operation.cpp
  ttnn/cpp/ttnn/operations/experimental/paged_cache/device/update_cache/paged_update_cache_program_factory.cpp
  ttnn/cpp/ttnn/operations/kv_cache/device/update_cache_device_operation.cpp
  ttnn/cpp/ttnn/operations/transformer/attention_softmax/attention_softmax.cpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/kernels/dataflow/windowed_mask_gen.hpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/sdpa_device_operation.cpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/sdpa.cpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op

[tt_metal/hw] Fix LLK/SFPU/compute-API defects: dropped dst_index, unsigned AVG reduce, sentinel operand, waypoint length, pack_untilize row walk, transpose acc_to_dest
  tt_metal/hw/ckernels/blackhole/metal/llk_api/experimental/llk_math_eltwise_binary_custom_api.h
  tt_metal/hw/ckernels/blackhole/metal/llk_api/llk_sfpu/ckernel_sfpu_reduce.h
  tt_metal/hw/ckernels/wormhole_b0/metal/llk_api/llk_sfpu/ckernel_sfpu_reduce.h
  tt_metal/hw/inc/api/compute/eltwise_binary.h
  tt_metal/hw/inc/api/compute/experimental/semaphore.h
  tt_metal/hw/inc/api/compute/pack_untilize.h
  tt_metal/hw/inc/api/compute/transpose.h
  tt_metal/hw/inc/api/compute/transpose_wh.h
Due: none

CCL bandwidth report: show the size term in the bus bandwidth definition
  tech_reports/CCLs/CCL_bandwidth.md
Due: none

Round norm scalers to nearest BF16
  tt-train/sources/ttml/metal/common/program_utils.hpp
  tt-train/tests/CMakeLists.txt
  tt-train/tests/metal/program_utils_test.cpp
  tt-train/tests/ops/layernorm_fw_fused_op_test.cpp
Due: none

Fix UDM reserved Tensix core classification
  tt_metal/fabric/control_plane.cpp
  tt_metal/fabric/fabric_tensix_builder.cpp
Due: none

[Feature] Support native block-cyclic sliding ring SDPA (#57190)
  tests/nightly/blackhole/sdpa/test_ring_joint_sdpa.py
  tests/ttnn/unit_tests/gtests/sdpa/test_sliding_window_work_plan.cpp
  ttnn/cpp/ttnn/operations/experimental/ccl/ring_attention_all_gather_async/device/kernels/ring_attention_all_gather_metadata.hpp
  ttnn/cpp/ttnn/operations/experimental/ccl/ring_attention_all_gather_async/device/kernels/ring_attention_neighbor_halo_reader.cpp
  ttnn/cpp/ttnn/operations/experimental/ccl/ring_attention_all_gather_async/device/kernels/ring_attention_neighbor_halo_writer.cpp
  ttnn/cpp/ttnn/operations/experimental/ccl/ring_attention_all_gather_async/device/ring_attention_all_gather_async_multi_core_with_workers_program_factory.cpp
  ttnn/cpp/ttnn/operations/experimental/ccl/ring_attention_all_gather_async/device/ring_attention_all_gather_async_multi_core_with_workers_program_factory.hpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/kernels/chunked_q_mapping.hpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/kernels/compute/compute_streaming.hpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/kernels/dataflow/metadata_scalar_read.hpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/kernels/dataflow/ring_joint_kv_pad_derivation.hpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/kernels/dataflow/ring_joint_reader.cpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/kernels/dataflow/ring_joint_writer.cpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/kernels/sliding_window_work_plan.hpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/ring_joint_sdpa_device_operation.cpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/ring_joint_sdpa_program_factory.cpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/sliding_halo_layout.cpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/device/sliding_halo_layout.hpp
  ttnn/cpp/ttnn/operations/transformer/sdpa/sdpa_nanobind.cpp
Due: block-ttnn-pybind-changes, detect-legacy-device-op
